Repository ansible/ansible, pull requests merged in 2018-06, with the labels that each got.

#40981 enforce config required
  lib/ansible/config/manager.py
  lib/ansible/plugins/lookup/vars.py
Labels: affects_2.6, backport, bug, support:core

#40964 Add docs detailing how to convert many with_X style loops to use loop and filters
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  docs/docsite/rst/user_guide/shared_snippets/with2loop.txt
Labels: affects_2.7, docs, support:core

#40863 homebrew_tap: fixes #40853
  lib/ansible/modules/packaging/os/homebrew_tap.py
Labels: affects_2.7, automerge, bug, module, owner_pr, shipit, support:community

#40978 Re-allow SSH due to broken delegation
  lib/ansible/plugins/action/bigip.py
  lib/ansible/plugins/action/bigiq.py
Labels: affects_2.7, bug, python3, support:core

#40974 correctly error out when configuration setting type is incorrect
  lib/ansible/cli/__init__.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
  lib/ansible/constants.py
  lib/ansible/utils/display.py
Labels: affects_2.7, bug, support:core

#37622 Add requests.Session like class
  lib/ansible/module_utils/urls.py
  test/sanity/code-smell/replace-urlopen.py
  test/units/module_utils/urls/test_Request.py
Labels: affects_2.6, feature, support:core, test

#41007 Backport #40964 for 2.6 - with_X to loop docs
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  docs/docsite/rst/user_guide/shared_snippets/with2loop.txt
Labels: affects_2.6, backport, docs, support:core

#41014 Re-allow SSH due to broken delegation (#40978)
  lib/ansible/plugins/action/bigip.py
  lib/ansible/plugins/action/bigiq.py
Labels: affects_2.6, backport, bug, python3, support:core

#41006 Use colspan on td instead of divs for hierarchical tables (#39948)
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
  docs/docsite/_themes/srtd/static/css/theme.css
  docs/templates/plugin.rst.j2
Labels: affects_2.6, backport, docs, support:core

#41016 Fix error reporting on bad type for config setting
  lib/ansible/cli/__init__.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
  lib/ansible/constants.py
  lib/ansible/utils/display.py
Labels: affects_2.6, backport, bug, support:core

#40753 Fix flag in debug message about vault password client script
  lib/ansible/parsing/vault/__init__.py
Labels: affects_2.6, bug, new_contributor, support:core

#41021 changes infoblox maintainer
  .github/BOTMETA.yml
Labels: affects_2.7, support:core

#41022 Don't try to reuse ansible_port for httpapi, it doesn't work that way (yet?)
  lib/ansible/plugins/connection/httpapi.py
Labels: affects_2.7, bug, needs_triage, support:core

#41004 Fix test-module failing to validate args
  hacking/test-module
  test/integration/targets/test_infra/runme.sh
Labels: affects_2.7, bug, new_contributor, support:community, support:core, test

#41027 [2.6 backport] Do not try to import simplejson in jsonfile.py (#40983)
  lib/ansible/plugins/cache/jsonfile.py
Labels: affects_2.6, backport, bug, needs_revision, needs_triage, support:core

#41017 2.6 backport #40720 - fix cache timeout behavior
  lib/ansible/plugins/cache/__init__.py
Labels: affects_2.6, backport, bug, support:core

#41024 Don't try to reuse ansible_port, it doesn't work that way (yet?)
  lib/ansible/plugins/connection/httpapi.py
Labels: affects_2.6, backport, bug, support:core

#41035 Correct states in bigip_pool_member
  lib/ansible/modules/network/f5/bigip_pool_member.py
Labels: affects_2.7, bug, community_review, f5, module, networking, owner_pr, python3, support:community

#41005 Add minimum botocore and boto3 checking to AnsibleAWSModule
  lib/ansible/module_utils/aws/core.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_subnet.py
Labels: affects_2.7, aws, cloud, core_review, feature, module, support:core

#40855 BSD UTC timezone is not always idempotent
  lib/ansible/modules/system/timezone.py
Labels: affects_2.7, bug, community_review, module, support:community

#41045 More correct fix for status problem
  lib/ansible/modules/network/f5/bigip_pool_member.py
Labels: affects_2.7, bug, community_review, f5, module, networking, owner_pr, python3, support:community

#41071 add adfs_authority_url arg in azure_rm.py
  contrib/inventory/azure_rm.py
Labels: affects_2.7, azure, bug, c:inventory/contrib_script, cloud, inventory, shipit, support:community

#40802 Fixes #34992 - azure_rm_networkinterface and azure_rm_virtualmachine inconsistent "location" param
  lib/ansible/modules/cloud/azure/azure_rm_networkinterface.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
Labels: affects_2.7, azure, bug, cloud, committer_review, module, owner_pr, support:certified

#41074 fix nxos_udld failing with httpapi
  lib/ansible/modules/network/nxos/nxos_udld.py
Labels: affects_2.7, bug, core_review, module, networking, nxos, owner_pr, support:network

#40810 Use msg instead of var
  test/integration/targets/vmware_vm_facts/tasks/main.yml
Labels: affects_2.7, bug, cloud, support:community, test, vmware

#41064 openstack: Correct fail_json call in module_utils
  lib/ansible/module_utils/openstack.py
Labels: affects_2.7, bug, cloud, openstack, support:core

#41029 Fixes to ios_logging
  lib/ansible/modules/network/ios/ios_logging.py
  test/integration/targets/ios_logging/tests/cli/basic.yaml
Labels: affects_2.7, bug, core_review, module, networking, support:network, test

#40938 Fix ec2_ami block_device_mapping volume_size to be int in 2.5
  lib/ansible/modules/cloud/amazon/ec2_ami.py
Labels: affects_2.7, aws, bug, cloud, committer_review, module, new_contributor, python3, support:certified, traceback

#41057 More correct fix for status problem (#41045)
  lib/ansible/modules/network/f5/bigip_pool_member.py
Labels: affects_2.6, backport, bug, community_review, f5, module, networking, owner_pr, python3, support:community

#41102 Fixes not using the parent parameter
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
  lib/ansible/modules/network/f5/bigip_profile_dns.py
Labels: affects_2.7, bug, community_review, f5, module, networking, owner_pr, python3, support:community

#41103 Fixes not using the parent parameter (#41102)
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
  lib/ansible/modules/network/f5/bigip_profile_dns.py
Labels: affects_2.6, backport, bug, community_review, f5, module, networking, owner_pr, python3, support:community

#41093 Fix test-module failing to validate args (#41004)
  hacking/test-module
  test/integration/targets/test_infra/runme.sh
Labels: affects_2.6, backport, feature, support:community, support:core, test

#41092 ovirt: Backport of bug fixes for 2.6
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
  lib/ansible/modules/cloud/ovirt/ovirt_templates.py
  lib/ansible/modules/cloud/ovirt/ovirt_vms.py
Labels: affects_2.6, backport, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#41087 Fixes to ios_logging (#41029)
  lib/ansible/modules/network/ios/ios_logging.py
  test/integration/targets/ios_logging/tests/cli/basic.yaml
Labels: affects_2.6, backport, bug, core_review, module, networking, support:network, test

#41084 Zabbix facts
  lib/ansible/modules/monitoring/zabbix/zabbix_group_facts.py
  lib/ansible/modules/monitoring/zabbix/zabbix_host_facts.py
Labels: affects_2.7, automerge, feature, module, shipit, support:community

#41109 Changelog fragment cleanup.
  changelogs/fragments/command-support-argv.yaml
  changelogs/fragments/gem-custom-home.yaml
  changelogs/fragments/new-gcp-modules.yml
  changelogs/fragments/onepassword-lookup.yaml
Labels: affects_2.6, backport, bug, support:core

#40992 adds ansible-doc JSON plugin data dump
  lib/ansible/cli/doc.py
  lib/ansible/constants.py
Labels: affects_2.7, feature, support:core

#41110 adds ansible-doc JSON plugin data dump
  lib/ansible/cli/doc.py
  lib/ansible/constants.py
Labels: affects_2.6, backport, feature, support:core

#41091 iosxr_config crash if config has route-policy with multiple levels of 'ifelseif' and other caveats
  lib/ansible/modules/network/iosxr/iosxr_config.py
  test/integration/targets/iosxr_config/templates/basic/route_policy.j2
  test/integration/targets/iosxr_config/templates/basic/route_policy_change.j2
  test/integration/targets/iosxr_config/templates/basic/route_policy_clean.j2
  test/integration/targets/iosxr_config/tests/cli/route_policy.yaml
Labels: affects_2.7, core_review, module, networking, support:network, test

#41034 fix nxos_snapshot issues
  lib/ansible/modules/network/nxos/nxos_snapshot.py
  test/integration/targets/nxos_snapshot/tests/common/sanity.yaml
Labels: affects_2.7, bug, core_review, module, networking, nxos, support:network, test

#37110 Module: Tower inventory source module
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_inventory_source.py
  test/integration/targets/tower_inventory_source/aliases
  test/integration/targets/tower_inventory_source/tasks/main.yml
Labels: affects_2.6, module, needs_revision, new_contributor, new_module, new_plugin, support:community, test

#38821 Updating tower_job_template.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_template.py
  test/integration/targets/tower_job_template/tasks/main.yml
Labels: affects_2.6, community_review, feature, module, new_contributor, support:community, test

#40131 reverting changes from #39726 a0b4462a to avoid casting strings to ints
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.6, bug, cloud, community_review, module, stale_ci, support:community, vmware

#41121 Fixing copy paste issue
  lib/ansible/modules/network/cnos/cnos_facts.py
Labels: affects_2.7, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#40242 Add support for loadbalance_loadbased to DVS portgroup teaming policy
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
Labels: affects_2.6, cloud, community_review, feature, module, new_contributor, support:community, vmware

#41076 Fixes ios_logging idempotency issues in 2.4
  CHANGELOG.md
  lib/ansible/modules/network/ios/ios_logging.py
  test/integration/targets/ios_logging/tests/cli/basic.yaml
Labels: affects_2.4, backport, bug, module, needs_revision, networking, support:core, support:network, test

#40349 Add SVI Example for Arista EOS platform
  lib/ansible/modules/network/eos/eos_l3_interface.py
Labels: affects_2.6, core_review, docs, module, networking, new_contributor, python3, stale_ci, support:network

#40369 Update nclu.py
  lib/ansible/modules/network/cumulus/nclu.py
Labels: affects_2.6, community_review, docs, module, networking, new_contributor, support:community

#41118 fix nxos_snapshot issues (#41034)
  lib/ansible/modules/network/nxos/nxos_snapshot.py
  test/integration/targets/nxos_snapshot/tests/common/sanity.yaml
Labels: affects_2.6, backport, core_review, module, networking, nxos, support:network, test

#41142 Fix typo in the ansible-inventory --host error
  lib/ansible/cli/inventory.py
Labels: affects_2.7, bug, support:core

#41149 Fix typo in decrypt doc.
  lib/ansible/utils/module_docs_fragments/decrypt.py
Labels: affects_2.7, bug, support:core

#41123 fix issue #41081 in azure_rm_securitygroup
  lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py
Labels: affects_2.7, azure, bug, cloud, committer_review, module, support:certified

#41164 Make admin_users only contain root for backwards compatibility.
  changelogs/fragments/admin-users-default-change.yaml
  lib/ansible/utils/module_docs_fragments/shell_common.py
Labels: affects_2.7, bug, support:core

#41166 Docs fix: ansible_group_priority defaults to 1
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.7, docs, support:core

#41156 pin azure deps to exact versions
  lib/ansible/module_utils/azure_rm_common.py
  packaging/requirements/requirements-azure.txt
  test/runner/requirements/integration.cloud.azure.txt
Labels: affects_2.6, azure, backport, bug, cloud, support:core, test

#41154 pin azure deps to exact versions
  lib/ansible/module_utils/azure_rm_common.py
  packaging/requirements/requirements-azure.txt
  test/runner/requirements/integration.cloud.azure.txt
Labels: affects_2.7, azure, bug, cloud, needs_revision, support:core, test

#41030 Better error message if the template is not utf-8 encoded
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  lib/ansible/plugins/action/template.py
Labels: affects_2.7, bug, docs, support:core

#41169 Implement new changelog generator.
  .gitignore
  Makefile
  changelogs/config.yaml
  docs/docsite/rst/dev_guide/testing/sanity/changelog.rst
  packaging/release/changelogs/changelog.py
  test/sanity/code-smell/changelog.json
  test/sanity/code-smell/changelog.py
Labels: affects_2.7, docs, feature, support:core, test

#41170 Implement new changelog generator.
  .gitignore
  Makefile
  changelogs/config.yaml
  docs/docsite/rst/dev_guide/testing/sanity/changelog.rst
  packaging/release/changelogs/changelog.py
  test/sanity/code-smell/changelog.json
  test/sanity/code-smell/changelog.py
Labels: affects_2.6, backport, docs, feature, support:core, test

#41124 Add note about updating pip
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.7, docs, support:core

#41171 Introduce inventory.any_unparsed_is_failed configuration setting
  changelogs/fragments/any_unparsed_is_failed.yaml
  lib/ansible/config/base.yml
  lib/ansible/inventory/manager.py
Labels: affects_2.7, feature, inventory, needs_triage, support:core

#40849 nxos_rpm module
  lib/ansible/modules/network/nxos/nxos_rpm.py
  test/integration/targets/nxos_rpm/defaults/main.yaml
  test/integration/targets/nxos_rpm/meta/main.yml
  test/integration/targets/nxos_rpm/tasks/cli.yaml
  test/integration/targets/nxos_rpm/tasks/main.yaml
  test/integration/targets/nxos_rpm/tasks/nxapi.yaml
  test/integration/targets/nxos_rpm/tests/common/sanity.yaml
Labels: affects_2.7, community_review, feature, module, networking, new_module, new_plugin, nxos, support:community, test

#39695 Refactor ios cliconf plugin and ios_config module
  lib/ansible/module_utils/network/common/config.py
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/modules/network/ios/ios_config.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/connection/network_cli.py
  test/units/modules/network/ios/test_ios_config.py
  test/units/plugins/cliconf/test_slxos.py
Labels: affects_2.6, feature, module, needs_revision, networking, support:core, support:network, test

#40439 Add 2 new autoloader options for Composer module
  lib/ansible/modules/packaging/language/composer.py
Labels: affects_2.6, community_review, feature, module, new_contributor, python3, support:community

#41083 Minor typos in galaxy cli
  lib/ansible/cli/galaxy.py
Labels: affects_2.7, docs, needs_revision, support:core

#41044 Do not consider an empty version string as a version
  lib/ansible/modules/packaging/language/pip.py
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.7, bug, module, shipit, support:core, test

#41126 Warn when cond is used on meta tasks that don't support them
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.7, feature, support:core

#40693 Adding a switch to output docker logs
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, cloud, community_review, docker, module, new_contributor, support:community

#38944 Enable check mode for docker_image_facts
  lib/ansible/modules/cloud/docker/docker_image_facts.py
Labels: affects_2.6, cloud, docker, feature, module, new_contributor, shipit, support:community

#41177 Add Fedora as possible ansible_distribution value
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.7, docs, support:core

#40928 fix stack_model and stack_serialnum case matching
  lib/ansible/modules/network/ios/ios_facts.py
Labels: affects_2.7, bug, core_review, module, networking, new_contributor, support:network

#41181 updated maintainer list for modules/monitoring/zabbix folder
  .github/BOTMETA.yml
Labels: affects_2.7, docs, needs_triage, support:core

#41138 cloudwatchevent_rule: doc: fix schedule_expression in example
  lib/ansible/modules/cloud/amazon/cloudwatchevent_rule.py
Labels: affects_2.7, aws, bug, cloud, community_review, module, support:community

#35761 Aws s3 kms
  lib/ansible/modules/cloud/amazon/aws_s3.py
  test/integration/targets/aws_s3/tasks/main.yml
Labels: affects_2.6, aws, cloud, core_review, feature, module, support:core, test

#41167 fix ansible-doc regression from missing plugins
  lib/ansible/cli/doc.py
Labels: affects_2.7, bug, needs_revision, needs_triage, support:core

#41137 ensure all config sources for ssh options
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.7, feature, support:core

#41194 Update aws_ses_identity.py
  lib/ansible/modules/cloud/amazon/aws_ses_identity.py
Labels: affects_2.7, aws, cloud, community_review, docs, module, needs_triage, new_contributor, support:community

#39634 aws_s3: don't decrypt file before uploading - fixes #39287
  changelogs/fragments/aws_s3_decryption_fix.yaml
  lib/ansible/plugins/action/aws_s3.py
Labels: affects_2.6, bug, support:core

#41094 Backport/2.5/39948
  docs/bin/plugin_formatter.py
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
  docs/docsite/_themes/srtd/static/css/theme.css
  docs/templates/plugin.rst.j2
Labels: affects_2.5, backport, docs, shipit, support:core

#40094 Improve error message if policy_document does not exist
  lib/ansible/modules/cloud/amazon/iam_policy.py
Labels: affects_2.6, aws, bug, cloud, community_review, module, new_contributor, python3, stale_ci, support:community

#41112 winrm: fix up unit tests
  test/runner/requirements/units.txt
  test/units/plugins/connection/test_winrm.py
Labels: affects_2.7, bug, support:core, test

#41211 winrm: fix up unit tests (#41112)
  test/runner/requirements/units.txt
  test/units/plugins/connection/test_winrm.py
Labels: affects_2.5, backport, bug, needs_triage, support:core, test

#41196 only add group if properly defined
  lib/ansible/plugins/inventory/yaml.py
Labels: affects_2.7, bug, shipit, support:core

#41189 Update vmware_host_lockdown.py
  lib/ansible/modules/cloud/vmware/vmware_host_lockdown.py
Labels: affects_2.7, bug, cloud, community_review, module, new_contributor, support:community, vmware

#41223 using lighter resource
  test/integration/targets/azure_rm_resource/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, needs_revision, needs_triage, support:community, test

#41176 Add some dots at the end of sentences
  lib/ansible/config/base.yml
Labels: affects_2.7, docs, needs_revision, needs_triage, new_contributor, support:core

#40225 fixed passing non-default base_url from explicitly set cloud_environment
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.6, azure, bug, cloud, new_contributor, support:core

#41224 increase timeout for connection reset by peer issue with httpapi
  test/integration/network-integration.cfg
Labels: affects_2.7, bug, support:core, test

#41244 Metadata change to 'core' for 2.5 supported NIOS modules
  lib/ansible/modules/net_tools/nios/nios_dns_view.py
  lib/ansible/modules/net_tools/nios/nios_host_record.py
  lib/ansible/modules/net_tools/nios/nios_network.py
  lib/ansible/modules/net_tools/nios/nios_network_view.py
  lib/ansible/modules/net_tools/nios/nios_zone.py
Labels: affects_2.6, community_review, feature, infoblox, module, net_tools, networking, support:community

#41183 aws_eks: New module for managing AWS EKS
  hacking/aws_config/testing_policies/compute-policy.json
  hacking/aws_config/testing_policies/container-policy.json
  lib/ansible/modules/cloud/amazon/aws_eks_cluster.py
  test/integration/targets/aws_eks/aliases
  test/integration/targets/aws_eks/playbooks/full_test.yml
  test/integration/targets/aws_eks/playbooks/old_version.yml
  test/integration/targets/aws_eks/playbooks/roles/aws_eks/defaults/main.yml
  test/integration/targets/aws_eks/playbooks/roles/aws_eks/files/eks-trust-policy.json
  test/integration/targets/aws_eks/playbooks/roles/aws_eks/meta/main.yml
  test/integration/targets/aws_eks/playbooks/roles/aws_eks/tasks/main.yml
  test/integration/targets/aws_eks/runme.sh
Labels: affects_2.7, aws, cloud, core_review, module, new_module, new_plugin, support:community, support:core, test

#41252 Fix ios_user integration test failure
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.7, bug, networking, support:core

#41067 Fix wrong python keyword (followup to #36357)
  lib/ansible/parsing/dataloader.py
  test/units/playbook/role/test_role.py
Labels: affects_2.7, bug, support:core, test

#40962 fix nxos output truncated issue and nxos_banner issue
  changelogs/fragments/nxos_banner_2.5.5.yaml
  changelogs/fragments/nxos_bugfix_terminal_plugin_2.5.5.yaml
  lib/ansible/modules/network/nxos/nxos_banner.py
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.5, backport, bug, core_review, module, networking, nxos, support:core, support:network

#38574 Improve aws_s3 permission handling for non S3
  lib/ansible/module_utils/aws/core.py
  lib/ansible/modules/cloud/amazon/aws_s3.py
  test/integration/targets/aws_s3/tasks/main.yml
Labels: affects_2.6, aws, bug, cloud, core_review, module, support:core, test

#41267 Ensure the 2.7 porting guide is in the toc
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.7, docs, support:core

#41246 VMware: update vmware_guest_tools_wait examples
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
Labels: affects_2.7, automerge, cloud, docs, module, owner_pr, shipit, support:community, vmware

#36832 fix aws_s3 module to use custum s3_url.
  changelogs/fragments/aws_s3_fix_custom_endpoints.yaml
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: affects_2.6, aws, bug, cloud, core_review, module, new_contributor, support:core, traceback

#40826 Fix async for aws_s3 - fixes #40281
  changelogs/fragments/aws_s3_async_fix.yaml
  lib/ansible/plugins/action/aws_s3.py
  test/integration/targets/aws_s3/tasks/main.yml
Labels: affects_2.7, aws, bug, c:plugins/action, cloud, needs_revision, support:core, test

#41078 Add syslog_facility parameter handling with systemd.journal
  changelogs/fragments/syslog_facility-for-journald.yml
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  lib/ansible/module_utils/basic.py
Labels: affects_2.7, bug, docs, needs_revision, support:core

#40835 Fix docs typo modules_intro.rst
  docs/docsite/rst/user_guide/modules_intro.rst
Labels: affects_2.7, docs, docsite_pr, feature, new_contributor, stale_ci, support:core

#40365 Docs: improving example syntax highlighting a little
  docs/templates/plugin.rst.j2
Labels: affects_2.6, docs, stale_ci, support:core

#41281 fix truncated list functions in ansible-doc
  lib/ansible/cli/doc.py
Labels: affects_2.7, bug, needs_triage, support:core

#41273 minimal callback doesn't properly respect changed
  lib/ansible/plugins/callback/minimal.py
Labels: affects_2.7, bug, needs_revision, needs_triage, support:core

#41284 Change falied_conditions to proper spelling
  lib/ansible/modules/network/vyos/vyos_command.py
Labels: affects_2.7, bug, core_review, module, networking, new_contributor, support:network

#41216 Fix ec2_ami block_device_mapping volume_size to be int in 2.6 (#40938)
  changelogs/fragments/ec2_ami_fix_block_device_mapping_volume_size_type.yaml
  lib/ansible/modules/cloud/amazon/ec2_ami.py
Labels: affects_2.6, aws, backport, bug, cloud, core_review, module, support:certified, support:core

#41213 winrm: fix up unit tests (#41112)
  test/runner/requirements/units.txt
  test/units/plugins/connection/test_winrm.py
Labels: affects_2.6, backport, bug, support:core, test

#41201 fix ansible-doc regression from missing plugins (#41167)
  changelogs/fragments/41167_ansible_doc_regression.yaml
  lib/ansible/cli/doc.py
Labels: affects_2.6, backport, bug, support:core

#41203 Docs fix: ansible_group_priority defaults to 1
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.6, backport, docs, support:core

#41225 Add some dots at the end of sentences (#41176)
  lib/ansible/config/base.yml
Labels: affects_2.6, backport, docs, support:core

#41275 2.6 backport #40826 to fix async for aws_s3
  changelogs/fragments/aws_s3_async_fix.yaml
  lib/ansible/plugins/action/aws_s3.py
  test/integration/targets/aws_s3/tasks/main.yml
Labels: affects_2.6, backport, bug, cloud, support:core, test

#41277 2.6 backport #36832 to fix custom s3_url
  changelogs/fragments/aws_s3_fix_custom_endpoints.yaml
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: affects_2.6, aws, backport, bug, cloud, core_review, module, support:core

#41219 only add group if properly defined
  lib/ansible/plugins/inventory/yaml.py
Labels: affects_2.6, backport, bug, support:core

#41286 fix truncated list functions in ansible-doc (#41281)
  lib/ansible/cli/doc.py
Labels: affects_2.6, backport, bug, support:core

#41278 Backport/2.6/40856
  lib/ansible/module_utils/network/meraki/meraki.py
  lib/ansible/modules/network/meraki/meraki_admin.py
  lib/ansible/modules/network/meraki/meraki_network.py
  lib/ansible/modules/network/meraki/meraki_organization.py
  lib/ansible/modules/network/meraki/meraki_snmp.py
  test/integration/targets/meraki_admin/tasks/main.yml
  test/integration/targets/meraki_network/tasks/main.yml
  test/integration/targets/meraki_organization/tasks/main.yml
Labels: affects_2.6, backport, bug, community_review, meraki, module, networking, support:community, test

#41206 backport: aws_s3 - don't decrypt file before uploading, fixes #39287 (#39634)
  changelogs/fragments/aws_s3_decryption_fix.yaml
  lib/ansible/plugins/action/aws_s3.py
Labels: affects_2.6, backport, bug, support:core

#41264 Better error message if the template is not utf-8 encoded (#41030)
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  lib/ansible/plugins/action/template.py
Labels: affects_2.6, backport, bug, docs, shipit, support:core

#41247 Metadata change to 'core' for 2.5 supported NIOS modules (#41244)
  lib/ansible/modules/net_tools/nios/nios_dns_view.py
  lib/ansible/modules/net_tools/nios/nios_host_record.py
  lib/ansible/modules/net_tools/nios/nios_network.py
  lib/ansible/modules/net_tools/nios/nios_network_view.py
  lib/ansible/modules/net_tools/nios/nios_zone.py
Labels: affects_2.6, backport, core_review, feature, infoblox, module, net_tools, networking, support:core

#41229 increase timeout for connection reset by peer issue with httpapi (#41224)
  test/integration/network-integration.cfg
Labels: affects_2.6, backport, needs_info, needs_template, networking, support:core, test

#41287 Fix typeo in output parameter name in vyos_command
  lib/ansible/modules/network/edgeos/edgeos_command.py
Labels: affects_2.7, automerge, bug, module, networking, owner_pr, shipit, support:community

#40765 os_server: Remove nova_client usage
  lib/ansible/modules/cloud/openstack/os_server.py
Labels: affects_2.5, backport, bug, cloud, module, openstack, shipit, support:community

#40763 os_project_access: clean up some things
  lib/ansible/modules/cloud/openstack/os_project_access.py
Labels: affects_2.5, backport, cloud, community_review, docs, module, openstack, stale_ci, support:community

#40766 Correct the OpenStack plugin example config
  lib/ansible/plugins/inventory/openstack.py
Labels: affects_2.5, backport, cloud, docs, inventory, openstack, stale_ci, support:core

#40841 os_server_action: Document the python-novaclient requirement
  lib/ansible/modules/cloud/openstack/os_server_action.py
Labels: affects_2.5, backport, cloud, community_review, docs, module, openstack, support:community

#41000 dictionary changed size during iteration error (#37454)
  lib/ansible/modules/cloud/cloudscale/cloudscale_server.py
Labels: affects_2.5, backport, bug, cloud, community_review, module, owner_pr, python3, support:community

#41018 2.5 backport #40720 - fix cache timeout behavior
  changelogs/fragments/fix_cache_timeout_0.yaml
  lib/ansible/plugins/cache/__init__.py
Labels: affects_2.5, backport, bug, support:core

#41120 Fix ios_logging idempotence CP into 2.5
  changelogs/fragments/ios_logging_fix.yaml
  lib/ansible/modules/network/ios/ios_logging.py
  test/integration/targets/ios_logging/tests/cli/basic.yaml
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network, test

#41141 Do not gather mem facts if command invalid (#40820)
  lib/ansible/modules/network/ios/ios_facts.py
  lib/ansible/plugins/terminal/ios.py
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network

#41204 Docs fix: ansible_group_priority defaults to 1
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.5, backport, docs, support:core

#41205 aws_s3: don't decrypt file before uploading - fixes #39287 (#39634)
  changelogs/fragments/aws_s3_decryption_fix.yaml
  lib/ansible/plugins/action/aws_s3.py
Labels: affects_2.5, backport, bug, support:core

#41217 Fix ec2_ami block_device_mapping volume_size to be int in 2.5 (#40938)
  changelogs/fragments/ec2_ami_fix_block_device_mapping_volume_size_type.yaml
  lib/ansible/modules/cloud/amazon/ec2_ami.py
Labels: affects_2.5, aws, backport, bug, cloud, core_review, module, support:certified, support:core

#41226 Add some dots at the end of sentences (#41176)
  lib/ansible/config/base.yml
Labels: affects_2.5, backport, docs, support:core

#41276 2.5 backport #40826 to fix async for aws_s3
  changelogs/fragments/aws_s3_async_fix.yaml
  lib/ansible/plugins/action/aws_s3.py
  test/integration/targets/aws_s3/tasks/main.yml
Labels: affects_2.5, backport, bug, cloud, support:core, test

#40931 Fixes eos_logging idempotence CP into 2.5
  changelogs/fragments/eos_logging_fix.yaml
  lib/ansible/modules/network/eos/eos_logging.py
  test/integration/targets/eos_logging/tests/cli/basic.yaml
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network, test

#41248 ldap_attr: Use byte values instead of str
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
Labels: affects_2.7, bug, community_review, module, net_tools, support:community

#41242 eos handles error gracefully when maximum sessions is reached
  lib/ansible/module_utils/network/eos/eos.py
  lib/ansible/plugins/terminal/eos.py
Labels: affects_2.7, bug, networking, support:core

#41303 Fix typo in https port in winrm.py
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.7, docs, support:core, windows

#41304 Fix junos_config integration test
  test/integration/targets/junos_config/templates/basic/config.j2
  test/integration/targets/junos_config/templates/basic/config.set
  test/integration/targets/junos_config/templates/basic/config.xml
Labels: affects_2.7, bug, needs_triage, support:network, test

#41054 Changes to Yum Documentation
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.7, core_review, docs, module, python3, support:core

#41293 GCP: Instance Metadata fix
  lib/ansible/modules/cloud/google/gcp_compute_instance.py
Labels: affects_2.7, bug, cloud, community_review, gce, module, owner_pr, support:community

#39676 Add backup option to passwordstore lookup (and improve doc)
  changelogs/fragments/passwordstore-lookup-backup.yaml
  lib/ansible/plugins/lookup/passwordstore.py
Labels: affects_2.6, feature, needs_revision, new_contributor, support:core

#38280 Add new module to create/update a docker swarm.
  lib/ansible/modules/cloud/docker/docker_swarm.py
  test/integration/targets/docker_swarm/aliases
  test/integration/targets/docker_swarm/tasks/Fedora.yml
  test/integration/targets/docker_swarm/tasks/OpenSuse.yml
  test/integration/targets/docker_swarm/tasks/Ubuntu.yml
  test/integration/targets/docker_swarm/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/test_swarm.yml
  test/integration/targets/docker_swarm/templates/virt.repo.j2
Labels: affects_2.6, cloud, community_review, docker, module, new_module, new_plugin, support:community, test

#41111 add example using peer keepalive vrf and delay restore
  lib/ansible/modules/network/nxos/nxos_vpc.py
Labels: affects_2.7, core_review, docs, module, networking, nxos, support:network

#40732 Added show interface example in JSON format
  lib/ansible/modules/network/cumulus/nclu.py
Labels: affects_2.6, community_review, docs, docsite_pr, module, networking, stale_ci, support:community

#41272 Format fix on VMware Guide
  docs/docsite/rst/scenario_guides/guide_vmware.rst
Labels: affects_2.7, docs, new_contributor, support:core

#41329 Backport: first_found: fix examples to match the code (#40821)
  lib/ansible/plugins/lookup/first_found.py
Labels: affects_2.6, backport, docs, support:core

#41324 Backport #41287 - Fix typeo in param name in edgeos_command
  lib/ansible/modules/network/edgeos/edgeos_command.py
Labels: affects_2.6, backport, bug, community_review, module, networking, owner_pr, support:community

#41306 Update winrm.py (#41303)
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.6, backport, docs, support:core, windows

#41271 GCP: Instance Metadata fix
  lib/ansible/modules/cloud/google/gcp_compute_instance.py
Labels: affects_2.6, backport, bug, cloud, community_review, gce, module, owner_pr, support:community

#41292 GCP Compute Inventory fix
  lib/ansible/module_utils/gcp_utils.py
  lib/ansible/plugins/inventory/gcp_compute.py
Labels: affects_2.7, bug, needs_revision, support:core

#41280 GCP Compute Inventory fix
  lib/ansible/module_utils/gcp_utils.py
  lib/ansible/plugins/inventory/gcp_compute.py
Labels: affects_2.6, backport, bug, cloud, inventory, support:core
