Repository ansible/ansible, pull requests merged in 2018-11, with the labels that each got.

#47701 Make service_facts return value documentation visible
  lib/ansible/modules/system/service_facts.py
Labels: affects_2.8, community_review, docs, module, needs_maintainer, support:community

#47847 VMware: Fix documentation for cloning template
  docs/docsite/rst/vmware/scenario_clone_template.rst
Labels: affects_2.8, core_review, docs, small_patch, support:core

#47708 module grafana_dashboard fix for work python3
  lib/ansible/modules/monitoring/grafana_dashboard.py
Labels: affects_2.8, bug, community_review, module, needs_maintainer, new_contributor, python3, small_patch, support:community

#47900 docker_container: fix paused and add some tests
  changelogs/fragments/47900-docker_container-paused.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, bug, cloud, docker, module, shipit, support:community, test

#47608 Fix advertise addr
  lib/ansible/modules/cloud/docker/docker_swarm.py
  test/integration/targets/docker_swarm/tasks/test_swarm.yml
Labels: affects_2.8, bug, cloud, docker, module, shipit, small_patch, support:community, test

#47533 New voss_config module
  lib/ansible/module_utils/network/voss/voss.py
  lib/ansible/modules/network/voss/voss_command.py
  lib/ansible/modules/network/voss/voss_config.py
  lib/ansible/modules/network/voss/voss_facts.py
  lib/ansible/plugins/action/voss_config.py
  lib/ansible/plugins/cliconf/voss.py
  test/units/modules/network/voss/fixtures/voss_config_config.cfg
  test/units/modules/network/voss/fixtures/voss_config_ipv6.cfg
  test/units/modules/network/voss/fixtures/voss_config_src.cfg
  test/units/modules/network/voss/test_voss_config.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#47501 Adding new module for supporting PTP Global Protocol
  lib/ansible/modules/network/onyx/onyx_ptp_global.py
  test/units/modules/network/onyx/fixtures/onyx_show_ntp_configured.cfg
  test/units/modules/network/onyx/fixtures/onyx_show_ptp_clock.cfg
  test/units/modules/network/onyx/test_onyx_ptp.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#47489 Adinng new module for supporting PTP interface in Onyx switches
  lib/ansible/modules/network/onyx/onyx_ptp_interface.py
  test/units/modules/network/onyx/fixtures/onyx_show_ptp_interface.cfg
  test/units/modules/network/onyx/test_onyx_ptp_interface.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#47811 Adding IGMP vlan module for onyx switches
  lib/ansible/modules/network/onyx/onyx_igmp_vlan.py
  test/units/modules/network/onyx/fixtures/onyx_show_ip_igmp_snooping.cfg
  test/units/modules/network/onyx/fixtures/onyx_show_ip_igmp_snooping_groups.cfg
  test/units/modules/network/onyx/fixtures/onyx_show_ip_igmp_snooping_querier.cfg
  test/units/modules/network/onyx/test_onyx_igmp_vlan.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#47922 BOTMETA: Define tzurE as a maintainer for ibm storage modules
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, docs, small_patch, support:core

#47519 Implement connection plugin for podman
  lib/ansible/plugins/connection/podman.py
  test/integration/targets/connection_podman/aliases
  test/integration/targets/connection_podman/posix.sh
  test/integration/targets/connection_podman/runme.sh
  test/integration/targets/connection_podman/test_connection.inventory
Labels: affects_2.8, feature, needs_revision, new_plugin, support:community, support:core

#47912 Document lineinfile regexp gotcha
  lib/ansible/modules/files/lineinfile.py
Labels: affects_2.8, core_review, docs, module, small_patch, support:core

#46746 s3_bucket: don't always call policy/requestPayment/versioning API
  changelogs/fragments/s3_bucket_requester_pays_default_value.yaml
  lib/ansible/modules/cloud/amazon/s3_bucket.py
Labels: affects_2.8, aws, bug, cloud, core_review, module, python3, support:community, support:core, traceback

#46745 s3_bucket: don't assume anything other than '*.amazonaws.com' is Walrus
  changelogs/fragments/s3_bucket_walrus_endpoint.yaml
  lib/ansible/modules/cloud/amazon/s3_bucket.py
Labels: affects_2.8, aws, bug, cloud, core_review, module, support:community, support:core

#47910 dnf yum: fix tests running on Fedora 29
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/dnfreleasever.yml
  test/integration/targets/yum/files/yum.conf
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.8, bug, core_review, support:core

#47908 Fix ansible-test invocation of pytest.
  test/runner/injector/injector.py
Labels: affects_2.8, bug, shipit, support:core, test

#47802 [backport 2.7] Fix idempotency issues in set_bios_attributes
  changelogs/fragments/47462-fix-redfish_config-idempotency.yaml
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_command.py
  lib/ansible/modules/remote_management/redfish/redfish_config.py
Labels: affects_2.7, backport, bug, community_review, module, support:community

#47807 [backport 2.7] Check if `enabled_snat` is set in modules arguments (#46754)
  changelogs/fragments/os_router_enable_snat_fix.yaml
  lib/ansible/modules/cloud/openstack/os_router.py
Labels: affects_2.7, backport, bug, cloud, community_review, module, openstack, support:community

#47822 [backport 2.7] Fixes HTTP redirect issue (#45513)
  changelogs/fragments/45704-fix-redfish_facts-http-redirect.yaml
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.7, backport, bug, community_review, support:community

#47913 [Backport 2.7] VMware: Fix documentation for cloning template
  changelogs/fragments/46700-vmware_doc-standalone_esxi.yaml
  docs/docsite/rst/vmware/scenario_clone_template.rst
Labels: affects_2.7, backport, core_review, docs, support:community, support:core

#47897 remove redundant md5 hashing
  changelogs/fragments/remove_redundant_md5.yml
  lib/ansible/plugins/inventory/__init__.py
Labels: affects_2.7, backport, bug, inventory, needs_revision, support:community

#47940 os_server_facts: remove duplicate statement
  lib/ansible/modules/cloud/openstack/os_server_facts.py
Labels: affects_2.8, automerge, bug, cloud, module, openstack, shipit, small_patch, support:community

#47887 Add unit tests for unsafe_proxy
  test/units/utils/test_unsafe_proxy.py
Labels: affects_2.8, core_review, feature, support:core

#47814 Support for device read write limit parameters
  changelogs/fragments/47814-docker_container-device-io-limit-parameters.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, test

#47492 [docker_network] add ipv6 support
  changelogs/fragments/35370-add_support_for_docker_network_internal_flag.yaml
  changelogs/fragments/47492-docker_network-add-ipv6-support.yaml
  changelogs/fragments/docker_network-requirements.yaml
  lib/ansible/modules/cloud/docker/docker_network.py
  test/integration/targets/docker_network/tasks/tests/ipam.yml
  test/units/modules/cloud/docker/test_docker_network.py
Labels: affects_2.8, cloud, docker, feature, module, new_contributor, python3, shipit, support:community, support:core, test

#47835 cs_network_acl_rule: fix doc and sanity
  lib/ansible/modules/cloud/cloudstack/cs_network_acl_rule.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, bug, cloud, cloudstack, core_review, module, support:community, support:core, test

#47882 Add new configuration for nxos_vxlan_vtep_vni
  lib/ansible/modules/network/nxos/nxos_vxlan_vtep_vni.py
Labels: affects_2.8, feature, module, needs_revision, networking, nxos, support:network

#47834 Add new configurations for nxos_vxlan_vtep
  lib/ansible/modules/network/nxos/nxos_vxlan_vtep.py
  test/integration/targets/nxos_vxlan_vtep/tests/common/sanity.yaml
  test/units/modules/network/nxos/test_nxos_vxlan_vtep.py
Labels: affects_2.8, core_review, feature, module, networking, nxos, support:core, support:network, test

#47889 VMware: improve readability and fix privileges names on vmware scenario_clone…
  docs/docsite/rst/vmware/scenario_clone_template.rst
Labels: affects_2.8, docs, shipit, support:core, vmware

#47924 VMware: Handle exception for no snapshot while cloning
  changelogs/fragments/47920-vmware_guest-handle_no_root_snapshot.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.8, bug, cloud, community_review, module, support:community, vmware

#47551 cloud/ovirt: Add retry mechanism support for deactivating storage domain (#47550)
  lib/ansible/module_utils/ovirt.py
  lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py
Labels: affects_2.8, bot_broken, bug, cloud, module, ovirt, shipit, support:community

#47871 VMware: Improve output of vmware_local_role_facts
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/modules/cloud/vmware/vmware_local_role_facts.py
  test/integration/targets/vmware_local_role_facts/tasks/main.yml
Labels: affects_2.8, cloud, docs, feature, module, needs_revision, support:community, support:core, vmware

#47448 Added maintaner to the ignore list
  .github/BOTMETA.yml
Labels: affects_2.8, bug, core_review, small_patch, support:core

#46494 Issue 46477 Fix Module onyx interface for supporting new json changes
  lib/ansible/modules/network/onyx/onyx_interface.py
Labels: affects_2.8, bug, merge_commit, module, needs_rebase, networking, stale_ci, support:community

#47618 new network module: edgeswitch_facts
  lib/ansible/module_utils/network/edgeswitch/__init__.py
  lib/ansible/module_utils/network/edgeswitch/edgeswitch.py
  lib/ansible/modules/network/edgeswitch/__init__.py
  lib/ansible/modules/network/edgeswitch/edgeswitch_facts.py
  lib/ansible/plugins/cliconf/edgeswitch.py
  lib/ansible/plugins/terminal/edgeswitch.py
  test/units/modules/network/edgeswitch/__init__.py
  test/units/modules/network/edgeswitch/edgeswitch_module.py
  test/units/modules/network/edgeswitch/fixtures/edgeswitch_facts_show_interfaces_description
  test/units/modules/network/edgeswitch/fixtures/edgeswitch_facts_show_interfaces_status_all
  test/units/modules/network/edgeswitch/fixtures/edgeswitch_facts_show_sysinfo
  test/units/modules/network/edgeswitch/fixtures/edgeswitch_facts_show_version
  test/units/modules/network/edgeswitch/test_edgeswitch_facts.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#47885 issue-47881 making udp calls an option
  lib/ansible/modules/net_tools/nsupdate.py
Labels: affects_2.8, automerge, feature, module, needs_maintainer, net_tools, new_contributor, shipit, support:community

#47943 Misc fixes for several errors
  lib/ansible/module_utils/compat/ipaddress.py
  lib/ansible/module_utils/network/aci/msc.py
  lib/ansible/modules/cloud/amazon/lambda_event.py
  lib/ansible/modules/net_tools/basics/get_url.py
  lib/ansible/modules/network/f5/bigip_pool_member.py
  lib/ansible/modules/network/onyx/onyx_igmp_interface.py
  lib/ansible/modules/storage/netapp/netapp_e_iscsi_interface.py
Labels: aci, affects_2.8, aws, bug, cloud, core_review, docs, f5, module, needs_maintainer, net_tools, netapp, networking, storage, support:certified, support:community, support:core, test

#47987 Correcting syntax of PyYAML package
  docs/docsite/rst/community/documentation_contributions.rst
Labels: affects_2.8, core_review, docs, small_patch, support:core

#47379 [2.6] docker_container: fix memory_swappiness documentation
  changelogs/fragments/47296-docker_container-memory_swappiness.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, cloud, docker, docs, module, shipit, support:community

#47960 [Backport 2.7]VMware: improve readability and fix privileges names on scenario_clone_template
  changelogs/fragments/47889-vmware_doc-fix_privilege_names.yaml
  docs/docsite/rst/vmware/scenario_clone_template.rst
Labels: affects_2.7, backport, core_review, docs, support:community, support:core

#47961 [Backport 2.6]VMware: improve readability and fix privileges names on scenario_clone_template
  changelogs/fragments/47889-vmware_doc-fix_privilege_names.yaml
  docs/docsite/rst/vmware/scenario_clone_template.rst
Labels: affects_2.6, backport, core_review, docs, support:community, support:core

#47952 [backport-2.6] Fix meraki_network documentation
  lib/ansible/modules/network/meraki/meraki_network.py
Labels: affects_2.6, backport, community_review, docs, meraki, module, networking, owner_pr, small_patch, support:community

#47953 [backport-2.7] Fix meraki_network documentation
  lib/ansible/modules/network/meraki/meraki_network.py
Labels: affects_2.7, backport, community_review, docs, meraki, module, networking, owner_pr, small_patch, support:community

#47988 Add examples to the helm module for a git source
  lib/ansible/modules/cloud/misc/helm.py
Labels: affects_2.8, cloud, community_review, docs, module, needs_maintainer, new_contributor, support:community

#47993 added missing vars
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: affects_2.8, core_review, docs, needs_triage, support:core

#47967 exprpessions into expressions
  lib/ansible/plugins/inventory/constructed.py
Labels: affects_2.8, bug, community_review, docs, new_contributor, small_patch, support:community

#47700 Add yaml version of using host variables example
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.8, core_review, docs, support:core

#48002 Removes f5-sdk from bigip_ucs_fetch module
  lib/ansible/modules/network/f5/bigip_ucs_fetch.py
  test/units/modules/network/f5/test_bigip_ucs_fetch.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#47688 Fix vars_prompt "private" description and improve example
  docs/docsite/rst/user_guide/playbooks_prompts.rst
Labels: affects_2.8, core_review, docs, support:core

#47754 msc_user: Manage users on ACI MultiSite
  lib/ansible/modules/network/aci/msc_user.py
  test/integration/targets/msc_user/aliases
  test/integration/targets/msc_user/tasks/main.yml
Labels: aci, affects_2.8, community_review, module, networking, new_module, new_plugin, support:community

#47666 protocol
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.8, bug, core_review, docs, support:core

#47755 msc_tenant: Manage tenants on ACI MultiSite
  lib/ansible/modules/network/aci/msc_tenant.py
  test/integration/targets/msc_tenant/aliases
  test/integration/targets/msc_tenant/tasks/main.yml
Labels: aci, affects_2.8, community_review, module, networking, new_module, new_plugin, support:community

#47756 msc_site: Manage sites on ACI MultiSite
  lib/ansible/modules/network/aci/msc_site.py
  test/integration/targets/msc_site/aliases
  test/integration/targets/msc_site/tasks/main.yml
Labels: aci, affects_2.8, community_review, module, networking, new_module, new_plugin, support:community

#47757 msc_role: Manage roles on ACI MultiSite
  lib/ansible/modules/network/aci/msc_role.py
  test/integration/targets/msc_role/aliases
  test/integration/targets/msc_role/tasks/main.yml
Labels: aci, affects_2.8, community_review, module, networking, new_module, new_plugin, support:community

#47389 Update elb_target_group.py
  lib/ansible/modules/cloud/amazon/elb_target_group.py
Labels: affects_2.8, aws, bug, cloud, community_review, docs, docsite_pr, module, needs_maintainer, new_contributor, small_patch, support:community

#48003 Removes f5-sdk from bigip_ucs module
  lib/ansible/modules/network/f5/bigip_ucs.py
  test/units/modules/network/f5/test_bigip_ucs.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48005 Fixes unit tests and token cleanup
  lib/ansible/modules/network/f5/bigip_tunnel.py
  test/units/modules/network/f5/test_bigip_tunnel.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, small_patch, support:certified, support:core, test

#48006 Remove f5-sdk and add qinq ethertype
  lib/ansible/modules/network/f5/bigip_trunk.py
  test/units/modules/network/f5/test_bigip_trunk.py
Labels: affects_2.8, core_review, f5, feature, module, networking, python3, support:certified, support:core, test

#48007 Adds description field to bigip_traffic_selector module
  lib/ansible/modules/network/f5/bigip_traffic_selector.py
Labels: affects_2.8, committer_review, f5, feature, module, networking, owner_pr, python3, support:certified

#48008 Removes the f5-sdk from the traffic group module
  lib/ansible/modules/network/f5/bigip_traffic_group.py
  test/units/modules/network/f5/test_bigip_traffic_group.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#47956 Document template plugin's convert_data option
  lib/ansible/plugins/lookup/template.py
Labels: affects_2.8, docs, needs_revision, small_patch, support:community

#47893 updated user_guide for regex test, #24155
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: affects_2.8, core_review, docs, new_contributor, small_patch, support:core

#46329 Docs: Clean up of 'acl' module docs
  lib/ansible/modules/files/acl.py
Labels: affects_2.8, core_review, docs, module, support:core

#45986 gcp additional info & edit
  docs/docsite/rst/scenario_guides/guide_gce.rst
Labels: affects_2.8, core_review, docs, support:core

#48014 Removes the f5-sdk from timer policy module
  lib/ansible/modules/network/f5/bigip_timer_policy.py
  test/units/modules/network/f5/test_bigip_timer_policy.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48015 Removes the f5-sdk from bigip_sys_db
  lib/ansible/modules/network/f5/bigip_sys_db.py
  test/units/modules/network/f5/test_bigip_sys_db.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48016 Remove sdk and deprecated features
  lib/ansible/modules/network/f5/bigip_sys_global.py
  test/units/modules/network/f5/test_bigip_sys_global.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#47995 Add myself as a NetApp reviewer
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, new_contributor, support:core

#48020 Removes f5-sdk from bigip_ssl_certificate
  lib/ansible/modules/network/f5/bigip_ssl_certificate.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, owner_pr, python3, support:certified

#48019 Removes f5-sdk from bigip_ssl_key module
  lib/ansible/modules/network/f5/bigip_ssl_key.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, owner_pr, python3, support:certified

#48017 Fixes to bigip_static_route
  lib/ansible/modules/network/f5/bigip_static_route.py
  test/units/modules/network/f5/test_bigip_static_route.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48018 Adds the bigip_ssl_ocsp module
  lib/ansible/modules/network/f5/bigip_ssl_ocsp.py
  test/units/modules/network/f5/fixtures/load_sys_crypto_cert_validator_1.json
  test/units/modules/network/f5/test_bigip_ssl_ocsp.py
Labels: affects_2.8, bug, core_review, f5, module, networking, new_module, new_plugin, python3, support:community, support:core, test

#48024 Removes f5-sdk from bigip_software_update
  lib/ansible/modules/network/f5/bigip_software_update.py
  test/units/modules/network/f5/test_bigip_software_update.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48028 Remove the f5-sdk from snmp community module
  lib/ansible/modules/network/f5/bigip_snmp_community.py
  test/units/modules/network/f5/test_bigip_snmp_community.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48029 Remove f5-sdk from bigip_snmp
  lib/ansible/modules/network/f5/bigip_snmp.py
  test/units/modules/network/f5/test_bigip_snmp.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48032 Remove the f5-sdk from bigip_smtp
  lib/ansible/modules/network/f5/bigip_smtp.py
  test/units/modules/network/f5/test_bigip_smtp.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48030 Remove f5-sdk from bigip_snat_pool
  lib/ansible/modules/network/f5/bigip_snat_pool.py
  test/units/modules/network/f5/test_bigip_snat_pool.py
Labels: affects_2.8, bug, f5, module, needs_revision, networking, python3, support:certified, support:core, test

#48033 Removes f5-sdk from bigip_service_policy
  lib/ansible/modules/network/f5/bigip_service_policy.py
  test/units/modules/network/f5/test_bigip_service_policy.py
Labels: affects_2.8, bug, core_review, f5, module, networking, python3, support:certified, support:core, test

#48013 swap out RM for 2.8, it me now
  docs/docsite/rst/roadmap/ROADMAP_2_8.rst
Labels: affects_2.8, core_review, docs, small_patch, support:core

#48037 Remove me as pip module maintainer
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, docs, needs_triage, small_patch, support:core

#48035 net_put: Fix trivial documentation typo
  lib/ansible/modules/network/files/net_put.py
Labels: affects_2.8, core_review, docs, module, needs_triage, networking, small_patch, support:network

#47873 IBM_Storage: Added a module to define domains on Spectrum Accelerate …
  lib/ansible/modules/storage/ibm/ibm_sa_domain.py
Labels: affects_2.8, community_review, module, new_module, new_plugin, storage, support:community

#47614 IBM_Storage: Added a module to support adding and removing host ports.
  lib/ansible/modules/storage/ibm/ibm_sa_host_ports.py
Labels: affects_2.8, community_review, module, new_module, new_plugin, stale_ci, storage, support:community

#48059 docker_container: improve tests to avoid spurious test fails
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, bug, cloud, docker, shipit, support:community, test

#48061 docker_container: fix container removal when auto_remove is used
  changelogs/fragments/48061-docker_container-auto_removal.yml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, bug, cloud, docker, module, shipit, support:community

#48067 fixed parentheses
  lib/ansible/plugins/lookup/redis.py
Labels: affects_2.8, bug, community_review, new_contributor, small_patch, support:community

#47620 Fix lvg module idempotency
  lib/ansible/modules/system/lvg.py
  test/integration/targets/lvg/aliases
  test/integration/targets/lvg/tasks/main.yml
Labels: affects_2.8, bug, community_review, module, needs_maintainer, small_patch, support:community

#48038 docker_network: fix idempotency test
  test/integration/targets/docker_network/tasks/tests/basic.yml
Labels: affects_2.8, bug, cloud, docker, shipit, support:community, test

#47972 OpenStack: add an alias for name
  lib/ansible/modules/cloud/openstack/os_subnets_facts.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, bug, cloud, module, openstack, shipit, support:community, support:core, test

#47916 fix boolean logic for overwrite parameter
  changelogs/fragments/47916-grafana_dashboard-fix-logic-behind-overwrite-param.yaml
  lib/ansible/modules/monitoring/grafana_dashboard.py
Labels: affects_2.8, bug, module, needs_maintainer, shipit, support:community, traceback

#46408 Initial commit for fortios_firewall_addrgrp
  lib/ansible/modules/network/fortios/fortios_firewall_addrgrp.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#46406 Initial commit for fortios_firewall_address
  lib/ansible/modules/network/fortios/fortios_firewall_address.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#46394 Initial commit for fortios_webfilter_fortiguard
  lib/ansible/modules/network/fortios/fortios_webfilter_fortiguard.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#46404 Initial commit for fortios_webfilter_seach_engine
  lib/ansible/modules/network/fortios/fortios_webfilter_search_engine.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#46393 Initial commit for fortios_webfilter_content_header
  lib/ansible/modules/network/fortios/fortios_webfilter_content_header.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#46198 Initial commit for fortios_application_list
  lib/ansible/modules/network/fortios/fortios_application_list.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#46067 Initial commit for fortios_system_central_management
  lib/ansible/modules/network/fortios/fortios_system_central_management.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#48049 Make the flatpak module work with Python 3.
  lib/ansible/modules/packaging/os/flatpak.py
  lib/ansible/modules/packaging/os/flatpak_remote.py
Labels: affects_2.8, bug, community_review, module, needs_maintainer, python3, support:community

#47621 NetApp bugfix for na_ontap_snapmirror
  lib/ansible/modules/storage/netapp/na_ontap_snapmirror.py
Labels: affects_2.8, bug, module, netapp, owner_pr, shipit, storage, support:certified

#47865 tower tests: tower_{job,workflow}_template jobs: use same retries value
  test/integration/targets/tower_job_template/tasks/main.yml
Labels: affects_2.8, bug, shipit, support:community

#47693 Fix argument_spec for modules that are using the old version
  lib/ansible/modules/storage/netapp/na_ontap_cluster_peer.py
  lib/ansible/modules/storage/netapp/na_ontap_net_vlan.py
  lib/ansible/modules/storage/netapp/na_ontap_snapmirror.py
  lib/ansible/modules/storage/netapp/na_ontap_software_update.py
  lib/ansible/modules/storage/netapp/na_ontap_vserver_peer.py
Labels: affects_2.8, bug, module, netapp, owner_pr, shipit, storage, support:certified, support:community

#47592 New Pure Storage FlashArray module to enable/disable Remote Assist
  lib/ansible/modules/storage/purestorage/purefa_ra.py
Labels: affects_2.8, module, new_module, new_plugin, pure_storage, shipit, storage, support:community

#46081 Initial commit for fortios_ips_sensor
  lib/ansible/modules/network/fortios/fortios_ips_sensor.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community

#48063 Add docker_prune module
  lib/ansible/modules/cloud/docker/docker_prune.py
  test/integration/targets/docker_prune/aliases
  test/integration/targets/docker_prune/meta/main.yml
  test/integration/targets/docker_prune/tasks/main.yml
Labels: affects_2.8, cloud, docker, module, new_module, new_plugin, shipit, support:community, test

#46825 Remove Deprecated configs 2.8
  docs/docsite/man/ansible-playbook.1.html
  docs/docsite/man/ansible.1.html
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  lib/ansible/config/base.yml
Labels: affects_2.8, bug, docs, shipit, support:core

#46947 Doc: k8s_raw_module fixing typo K8S_AUTH_HOST -> K8S_AUTH_KEY_FILE
  lib/ansible/plugins/inventory/k8s.py
  lib/ansible/plugins/inventory/openshift.py
  lib/ansible/plugins/lookup/k8s.py
  lib/ansible/utils/module_docs_fragments/k8s_auth_options.py
Labels: affects_2.8, core_review, docs, inventory, k8s, support:community, support:core

#48009 ldap_attr bugfix
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
Labels: affects_2.8, bug, community_review, module, net_tools, new_contributor, small_patch, support:community

#47964 [Backport 2.7] VMware: Handle exception for no snapshot while cloning
  changelogs/fragments/47920-vmware_guest-handle_no_root_snapshot.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.7, backport, bug, cloud, community_review, module, support:community, vmware

#48072 [2.7] docker_container: fix ipc_mode and pid_mode idempotency
  changelogs/fragments/47997-docker_container-ipc-pid-mode.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.7, backport, bug, cloud, community_review, docker, module, support:community, test

#48074 docker_container: simplify minimal required version per option handling
  changelogs/fragments/47711-docker_container-minimal-version-checks.yml
  lib/ansible/module_utils/docker_common.py
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/main.yml
  test/integration/targets/docker_container/tasks/tests/options.yml
  test/integration/targets/setup_docker/tasks/main.yml
Labels: affects_2.7, backport, bug, cloud, community_review, docker, module, support:community, test

#48088 fix missing exceptions openstack modules
  changelogs/fragments/45151-fix-os-exception.yaml
  lib/ansible/modules/cloud/openstack/os_quota.py
  lib/ansible/modules/cloud/openstack/os_server_volume.py
  lib/ansible/modules/cloud/openstack/os_volume.py
  lib/ansible/modules/cloud/openstack/os_volume_snapshot.py
Labels: affects_2.7, backport, bug, cloud, community_review, module, openstack, python3, support:community

#47949 dnf yum: fix tests running on Fedora 29 - 2.6 (#47910)
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/dnfreleasever.yml
Labels: affects_2.6, backport, bug, core_review, support:core

#47399 psexec: better error on import failure 2.6 (#47327)
  changelogs/fragments/psexec-imp-error.yaml
  lib/ansible/modules/commands/psexec.py
Labels: affects_2.6, backport, bug, community_review, module, needs_maintainer, stale_ci, support:community

#47236 openss: fix various test and Python 3 issues (#47188)
  changelogs/fragments/openssl-python3.yaml
  lib/ansible/modules/crypto/openssl_csr.py
  test/integration/targets/openssl_privatekey/tests/validate.yml
Labels: affects_2.6, backport, bug, community_review, module, python3, stale_ci, support:community

#47233 filesystem: fix test to work on newer Fedora 2.6 (#47176)
  test/integration/targets/filesystem/defaults/main.yml
Labels: affects_2.6, backport, bug, community_review, stale_ci, support:community

#47173 postgresql_user: fix test errors on newer Fedora versions (#47166)
  changelogs/fragments/postgresql_user-not-sup-error.yaml
  lib/ansible/modules/database/postgresql/postgresql_user.py
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/test_password.yml
Labels: affects_2.6, backport, bug, community_review, module, stale_ci, support:community

#47168 gem: fix tests to work on newer Fedora hosts 2.6 (#47158)
  test/integration/targets/gem/tasks/main.yml
Labels: affects_2.6, backport, bug, shipit, support:community

#47480 [2.6] docker_volume: fix recreation test logic
  changelogs/fragments/docker_volume-force-change-detection.yaml
  lib/ansible/modules/cloud/docker/docker_volume.py
Labels: affects_2.6, backport, bug, cloud, docker, module, shipit, support:community

#47992 aci_switch_leaf_selector: Support missing policy_group
  changelogs/fragments/47668-aci_switch_leaf_selector-support_empty_policy_group.yaml
  lib/ansible/modules/network/aci/aci_switch_leaf_selector.py
  test/integration/targets/aci_switch_leaf_selector/tasks/main.yml
Labels: aci, affects_2.8, bug, docs, module, networking, shipit, support:certified, support:community, test

#48106 ldap_attr bugfix (#48009)
  changelogs/fragments/48009-ldap_attr-list.yml
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
Labels: affects_2.7, backport, bug, community_review, module, net_tools, support:community

#48094 [2.7] docker_container: fix container removal when auto_remove is used
  changelogs/fragments/48061-docker_container-auto_removal.yml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.7, backport, bug, cloud, community_review, docker, module, support:community

#48001 aci_iplpg: Support missing aep
  changelogs/fragments/aci_interface_policy_leaf_policy_group-missing_aep.yaml
  lib/ansible/modules/network/aci/aci_interface_policy_leaf_policy_group.py
  test/integration/targets/aci_interface_policy_leaf_policy_group/tasks/main.yml
Labels: aci, affects_2.8, bug, committer_review, docs, module, networking, support:certified, support:community, test

#48000 aci_aptiplp: Support missing policy_group
  changelogs/fragments/aci_access_port_to_interface_policy_leaf_profile-missing_policy_group.yaml
  lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py
  test/integration/targets/aci_access_port_to_interface_policy_leaf_profile/tasks/main.yml
Labels: aci, affects_2.8, bug, committer_review, docs, module, networking, support:certified, support:community, test

#48102 Fix return statement where we short circuit _get_delegated_vars
  changelogs/fragments/loop-cache-include-apply.yml
  lib/ansible/vars/manager.py
Labels: affects_2.8, bug, needs_revision, support:community, support:core

#47999 aci_epg: parameter bd is not required
  lib/ansible/modules/network/aci/aci_epg.py
Labels: aci, affects_2.8, committer_review, docs, module, networking, owner_pr, support:certified

#48115 [2.7] aci_iplpg: Support missing aep
  changelogs/fragments/aci_interface_policy_leaf_policy_group-missing_aep.yaml
  lib/ansible/modules/network/aci/aci_interface_policy_leaf_policy_group.py
  test/integration/targets/aci_interface_policy_leaf_policy_group/tasks/main.yml
Labels: aci, affects_2.7, backport, bug, committer_review, docs, docsite, module, networking, support:certified, support:community, test

#48114 Fix return statement where we short circuit _get_delegated_vars
  changelogs/fragments/loop-cache-include-apply.yml
  lib/ansible/vars/manager.py
Labels: affects_2.7, backport, core_review, support:community, support:core

#47471 [2.6] Fixes #33045: get existing containers in a network via inspect_network (Rebased #33048)
  changelogs/fragments/43997-docker_network-inspect.yaml
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: affects_2.6, backport, bug, cloud, docker, module, shipit, support:community

#48119 bump version of 'vcenter-test-container' to '1.4.0' (govmomi v0.19.0)
  test/runner/lib/cloud/vcenter.py
Labels: affects_2.8, core_review, feature, needs_triage, performance, support:core, test

#30743 fix(tasks: synchronize): wrap in sshpass if ssh password was provided
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/files/synchronize.py
  lib/ansible/plugins/action/synchronize.py
Labels: affects_2.5, bug, core_review, module, new_contributor, plugins/action, support:community, support:core

#47902 Correct yum and dnf autoremove behavior
  changelogs/fragments/yumdnf-autoremove.yaml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/packaging/os/dnf.py
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.7, bug, core_review, module, support:community, support:core

#46498 User module - allow bang and exclamation in password field without warning
  changelogs/fragments/user-restore-disabled-account.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.8, bug, core_review, module, support:community, support:core

#48125 Adjust pause integration test for interactive and echo sceanrio
  test/integration/targets/pause/test-pause.py
Labels: affects_2.8, bug, core_review, support:core

#47482 [2.6] docker_container: warn if ipvX_address is used for networks but not supported by docker-py
  changelogs/fragments/47395-docker_container-ipvX_address.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, bug, cloud, docker, module, shipit, support:community

#48128 Fix regression in synchronize when using ssh passwords
  lib/ansible/modules/files/synchronize.py
Labels: affects_2.8, bug, core_review, module, needs_triage, small_patch, support:core

#48121 Backports fix build errors due to missing certified_supported label (#46835)
  docs/bin/plugin_formatter.py
  docs/docsite/rst/user_guide/modules_support.rst
Labels: affects_2.7, backport, core_review, docs, networking, support:core

#48127 Fix argument_spec for modules that are using the old version (#47693)
  changelogs/fragments/47693-fix-argument-spec-for-netapp-modules.yaml
  lib/ansible/modules/storage/netapp/na_ontap_cluster_peer.py
  lib/ansible/modules/storage/netapp/na_ontap_net_vlan.py
  lib/ansible/modules/storage/netapp/na_ontap_snapmirror.py
  lib/ansible/modules/storage/netapp/na_ontap_software_update.py
  lib/ansible/modules/storage/netapp/na_ontap_vserver_peer.py
Labels: affects_2.7, backport, bug, committer_review, module, needs_triage, netapp, storage, support:certified, support:community

#48129 Backport/2.7/47621
  changelogs/fragments/47621-bugfix-for-na-ontap-snapmirror.yaml
  lib/ansible/modules/storage/netapp/na_ontap_snapmirror.py
Labels: affects_2.7, backport, bug, committer_review, module, needs_triage, netapp, storage, support:certified, support:community

#48130 [stable-2.7] User module - allow bang and exclamation in password field without warning
  changelogs/fragments/user-restore-disabled-account.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.7, backport, core_review, module, needs_triage, support:community, support:core

#48133 Correct yum and dnf autoremove behavior
  changelogs/fragments/yumdnf-autoremove.yaml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/packaging/os/dnf.py
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.7, backport, bug, core_review, module, needs_triage, support:community, support:core

#47907 Add Makefile to simplify upstream releases.
  packaging/release/Makefile
Labels: affects_2.8, feature, shipit, support:core

#48135 Pin openshift version for k8s test.
  test/integration/targets/k8s/runme.sh
Labels: affects_2.8, bug, k8s, needs_revision, support:community

#47643 powershell: add ability to ignore specific warnings in C# Add-Type
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.AddType.psm1
  test/integration/targets/win_module_utils/library/add_type_test.ps1
Labels: affects_2.8, community_review, feature, support:community, windows

#48139 [stable-2.6] Add Makefile to simplify upstream releases.
  packaging/release/Makefile
Labels: affects_2.6, backport, core_review, feature, support:core

#48138 [stable-2.7] Add Makefile to simplify upstream releases.
  packaging/release/Makefile
Labels: affects_2.7, backport, core_review, feature, support:core

#48140 win_uri: stop output from mixing with module result
  changelogs/fragments/win_uri-junk-data.yaml
  lib/ansible/modules/windows/win_uri.ps1
Labels: affects_2.8, bug, community_review, module, needs_triage, support:community, windows

#48143 win_uri: stop output from mixing with module result - 2.7 (#48140)
  changelogs/fragments/win_uri-junk-data.yaml
  lib/ansible/modules/windows/win_uri.ps1
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, support:community, windows

#48142 win_uri: stop output from mixing with module result - 2.6 (#48140)
  changelogs/fragments/win_uri-junk-data.yaml
  lib/ansible/modules/windows/win_uri.ps1
Labels: affects_2.6, backport, bug, community_review, module, needs_triage, support:community, windows

#47406 psexec: Handle socket errors (Connection timeout) (Backport)
  changelogs/fragments/psexec-handle-socket-errors.yaml
  lib/ansible/modules/commands/psexec.py
Labels: affects_2.6, backport, bug, community_review, module, needs_maintainer, support:community, windows

#47735 [Backport 2.6] VMware: restore timeout in set_vm_power_state operation
  changelogs/fragments/47722-vmware_guest_powerstate-restore_timeout.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py
Labels: affects_2.6, backport, bug, cloud, community_review, module, support:community, vmware
