Repository ansible/ansible, pull requests merged in 2018-04, with the labels that each got.

#37127 add instanceUuid (also called PersistentId) in vmware utils
  lib/ansible/module_utils/vmware.py
Labels: feature, support:community, vmware

#37979 Add NSX-T Logical Switch support in vmware_guest
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: bug, cloud, community_review, module, new_contributor, support:community, vmware

#38117 fix nxos_aaa_server issues
  lib/ansible/modules/network/nxos/nxos_aaa_server.py
  test/integration/targets/nxos_aaa_server/tests/common/radius.yaml
  test/integration/targets/nxos_aaa_server/tests/common/tacacs.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#37831 Add OpenNebula one_image module
  lib/ansible/modules/cloud/opennebula/one_image.py
  test/legacy/opennebula.yml
  test/legacy/roles/one_image/defaults/main.yml
  test/legacy/roles/one_image/tasks/main.yml
Labels: cloud, core_review, module, new_module, new_plugin, support:community, support:core, test

#31364 changes description of autostart option in virt_net to match module
  lib/ansible/modules/cloud/misc/virt_net.py
Labels: affects_2.5, cloud, community_review, docs, module, new_contributor, support:community

#37983 Improve details and events results for ecs_service_facts
  lib/ansible/modules/cloud/amazon/ecs_service_facts.py
  test/integration/targets/ecs_cluster/tasks/main.yml
Labels: aws, cloud, community_review, feature, module, support:community, test

#38151 yaml callback fails on python3
  lib/ansible/plugins/callback/yaml.py
Labels: bug, needs_revision, python3, support:core

#38138 fix set options in callbacks for foreman
  lib/ansible/plugins/callback/foreman.py
Labels: bug, new_contributor, support:core

#37976 Ansible.ModuleUtils.FileUtil - backport catch DirectoryNotFoundException
  changelogs/fragments/win_file_util-test-exception-handler.yaml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.FileUtil.psm1
  test/integration/targets/win_module_utils/library/file_util_test.ps1
  test/integration/targets/win_shell/tasks/main.yml
Labels: affects_2.5, backport, bug, support:community, support:core, test, windows

#37971 win_reboot: backport warning message arguments
  changelogs/fragments/win_reboot-warning-message-fix.yaml
  lib/ansible/plugins/action/win_reboot.py
Labels: affects_2.5, backport, bug, support:core

#37762 azure_rm_networkinterface: backport no public IP fix
  changelogs/fragments/azure_rm_networkinterface-specify-no-public-ip.yaml
  lib/ansible/modules/cloud/azure/azure_rm_networkinterface.py
  test/integration/targets/azure_rm_networkinterface/tasks/main.yml
Labels: affects_2.5, azure, backport, bug, cloud, core_review, module, stale_ci, support:certified, support:core, test

#36325 GCP: Creating external IP Addresses
  lib/ansible/modules/cloud/google/gcp_compute_address.py
  test/integration/targets/gcp_compute_address/aliases
  test/integration/targets/gcp_compute_address/defaults/main.yml
  test/integration/targets/gcp_compute_address/meta/main.yml
  test/integration/targets/gcp_compute_address/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, stale_ci, support:community, test

#37740 Allow subnets with names formatted like `subnet-1234`
  lib/ansible/modules/cloud/amazon/ec2_vpc_nacl.py
Labels: aws, bug, cloud, committer_review, module, support:certified

#37889 win_uri: backport fix custom header override
  changelogs/fragments/win_uri-fix-header-override.yaml
  lib/ansible/modules/windows/win_uri.ps1
  test/integration/targets/win_uri/tasks/test.yml
Labels: affects_2.5, backport, bug, core_review, module, support:community, support:core, test, windows

#37977 win_copy: backport 2.5 preserve local tmp path when sending multiple files
  changelogs/fragments/win_copy-preserve-tmp-folder.yaml
  lib/ansible/plugins/action/win_copy.py
  test/integration/targets/win_copy/tasks/main.yml
Labels: affects_2.5, backport, bug, support:core, test, windows

#37764 azure_rm_virtualmachine - backport of docs change around images supported
  changelogs/fragments/azure_rm_virtualmachine-docs-images.yaml
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
Labels: affects_2.5, azure, backport, cloud, docs, module, needs_revision, support:certified, support:core

#38184 Correct syntax highlighting in plugin dev docs
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: docs, support:core

#38168 git_config: add quotes in complex value
  lib/ansible/modules/source_control/git_config.py
Labels: automerge, bug, module, shipit, support:community

#38086 Fixes #38085 - cloudfront_invalidation doesn't work for the first invalidation ever
  lib/ansible/modules/cloud/amazon/cloudfront_invalidation.py
Labels: aws, bug, cloud, community_review, module, new_contributor, support:community

#38188 fix nxos_aaa_server_host issues
  lib/ansible/modules/network/nxos/nxos_aaa_server_host.py
  test/integration/targets/nxos_aaa_server_host/tests/common/radius.yaml
  test/integration/targets/nxos_aaa_server_host/tests/common/tacacs.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#38202 nxos_vlan purge
  lib/ansible/modules/network/nxos/nxos_vlan.py
  test/integration/targets/nxos_vlan/tests/common/agg.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#38197 typo: valdiate -> validate
  lib/ansible/modules/files/copy.py
Labels: core_review, docs, module, needs_triage, support:core

#31873 unarchive: Add example to clear the usage of `extra_opts`
  lib/ansible/modules/files/unarchive.py
Labels: affects_2.5, core_review, docs, module, support:core, unarchive

#37454 dictionary changed size during iteration error
  lib/ansible/modules/cloud/cloudscale/cloudscale_server.py
Labels: bug, cloud, community_review, module, new_contributor, support:community

#36657 Add no_log to activationkey
  lib/ansible/modules/packaging/os/redhat_subscription.py
Labels: bug, community_review, module, new_contributor, support:community

#38090 Add integration test for #35900
  test/integration/targets/apt/tasks/repo.yml
  test/integration/targets/setup_deb_repo/files/package_specs/foobar-1.0.0
  test/integration/targets/setup_deb_repo/files/package_specs/foobar-1.0.1
Labels: bug, support:community, support:core, test

#38194 Don't pass keyword args as positional, include file_name
  lib/ansible/plugins/action/include_vars.py
Labels: bug, support:core

#37465 ec2_instance: fix instance_role argument
  lib/ansible/modules/cloud/amazon/ec2_instance.py
  test/integration/targets/ec2_instance/files/assume-role-policy.json
  test/integration/targets/ec2_instance/tasks/iam_instance_role.yml
  test/integration/targets/ec2_instance/tasks/main.yml
Labels: aws, bug, cloud, community_review, module, support:community, test

#37992 Ensure that arguments for sub commands are properly indented in man pages
  docs/templates/man.j2
Labels: bug, docs, support:core

#37638 Initial support for SSH key management on a Scaleway account
  lib/ansible/modules/cloud/scaleway/__init__.py
  lib/ansible/modules/cloud/scaleway/scaleway_sshkey.py
  test/legacy/scaleway_ssh_playbook.yml
Labels: cloud, core_review, docs, module, new_contributor, new_module, new_plugin, support:community, support:core, test

#37534 stabilize ec2_vpc_subnet module - Fixes #36083
  lib/ansible/module_utils/aws/waiters.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_subnet.py
  test/integration/targets/ec2_vpc_subnet/aliases
  test/integration/targets/ec2_vpc_subnet/tasks/main.yml
Labels: aws, bug, cloud, core_review, module, support:core, test

#38238 Adds VMWare to TOC; sort scenario guides alphabetically
  docs/docsite/rst/index.rst
Labels: affects_2.5, backport, docs, feature, needs_triage, support:core

#38155 fixes issue when netconf would report ios is not supported
  lib/ansible/plugins/connection/netconf.py
Labels: networking, support:core

#34246 Introduce grafana callback plugin.
  .github/BOTMETA.yml
  lib/ansible/plugins/callback/grafana_annotations.py
Labels: affects_2.5, feature, needs_revision, support:core

#38246 Reinstated element to fix doc display on mobile devices.
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: docs, feature, needs_triage, support:core

#37476 cloudfront_distribution: fix restrictions
  lib/ansible/modules/cloud/amazon/cloudfront_distribution.py
  test/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: aws, bug, cloud, community_review, module, stale_ci, support:community, test

#38245 Fix incorrect RN used in module
  lib/ansible/modules/network/aci/aci_domain_to_vlan_pool.py
Labels: aci, bug, community_review, module, networking, owner_pr, support:community

#37897 win_service: fix when dealing with paths with special chars and change WMI to CIM cmdlets
  lib/ansible/modules/windows/win_service.ps1
  lib/ansible/modules/windows/win_service.py
  test/integration/targets/win_service/defaults/main.yml
  test/integration/targets/win_service/tasks/tests.yml
  test/sanity/pslint/ignore.txt
Labels: bug, core_review, module, support:core, test, windows

#38247 Multiple ansible-test fixes.
  test/runner/lib/config.py
  test/runner/lib/executor.py
  test/runner/lib/sanity/__init__.py
  test/runner/lib/sanity/ansible_doc.py
  test/runner/lib/sanity/compile.py
  test/runner/lib/sanity/import.py
  test/runner/lib/sanity/pep8.py
  test/runner/lib/sanity/pslint.py
  test/runner/lib/sanity/pylint.py
  test/runner/lib/sanity/rstcheck.py
  test/runner/lib/sanity/sanity_docs.py
  test/runner/lib/sanity/shellcheck.py
  test/runner/lib/sanity/validate_modules.py
  test/runner/lib/sanity/yamllint.py
  test/runner/test.py
Labels: bug, needs_revision, python3, support:core, test

#38251 Mark unsupported integration tests.
  test/integration/targets/azure_rm_acs/aliases
  test/integration/targets/cloudfront_distribution/aliases
  test/integration/targets/connection_buildah/aliases
  test/integration/targets/connection_docker/aliases
  test/integration/targets/connection_jail/aliases
  test/integration/targets/connection_libvirt_lxc/aliases
  test/integration/targets/connection_lxc/aliases
  test/integration/targets/connection_lxd/aliases
  test/integration/targets/ec2_asg/aliases
  test/integration/targets/ec2_instance/aliases
  test/integration/targets/ecs_cluster/aliases
  test/integration/targets/elb_target/aliases
  test/integration/targets/gcp_compute_address/aliases
  test/integration/targets/gcp_dns_managed_zone/aliases
  test/integration/targets/java_cert/aliases
  test/integration/targets/synchronize-buildah/aliases
  test/integration/targets/ucs_ip_pool/aliases
  test/integration/targets/ucs_lan_connectivity/aliases
  test/integration/targets/ucs_mac_pool/aliases
  test/integration/targets/ucs_san_connectivity/aliases
  test/integration/targets/ucs_vhba_template/aliases
  test/integration/targets/ucs_vlans/aliases
  test/integration/targets/ucs_vnic_template/aliases
  test/integration/targets/ucs_vsans/aliases
  test/integration/targets/ucs_wwn_pool/aliases
  test/integration/targets/win_domain_group/aliases
Labels: azure, cloud, feature, support:certified, support:community, test, ucs, windows

#38250 win_service: backport of special char in name handler
  changelogs/fragments/win_service-name-special-chars.yaml
  lib/ansible/modules/windows/win_service.ps1
  lib/ansible/modules/windows/win_service.py
  test/integration/targets/win_service/defaults/main.yml
  test/integration/targets/win_service/tasks/tests.yml
  test/sanity/pslint/ignore.txt
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:core, test, windows

#38023 Add error handling for junos in case wrong connection type
  lib/ansible/plugins/action/junos.py
Labels: bug, networking, support:core

#38230 Integration Tests only: nxos_acl_interface
  test/integration/targets/nxos_acl_interface/tests/common/sanity.yaml
Labels: bug, networking, nxos, support:network, test

#38258 Update aliases on integration tests.
  test/integration/targets/aws_waf_web_acl/aliases
  test/integration/targets/azure_rm_deployment/aliases
  test/integration/targets/dpkg_selections/aliases
  test/integration/targets/vmware_maintenancemode/aliases
Labels: azure, bug, cloud, support:certified, support:community, test, vmware

#38259 Encode xml data to utf8 standard (#34079)
  lib/ansible/modules/network/dellos10/dellos10_facts.py
Labels: backport, bug, community_review, module, needs_triage, networking, support:community

#38076 nmcli: check NMClient, NetworkManager availability
  lib/ansible/modules/net_tools/nmcli.py
Labels: automerge, bug, module, net_tools, shipit, support:community

#38256 Add error handling for junos in case wrong connection type (#38023)
  lib/ansible/plugins/action/junos.py
Labels: affects_2.5, backport, bug, needs_triage, networking, support:core

#38268 Fix typo in Slack Callback plugin
  lib/ansible/plugins/callback/slack.py
Labels: bug, python3, support:core

#38191 issue:38167 add support for onyx version 3.6.6000 for onyx_linkagg
  lib/ansible/modules/network/onyx/onyx_linkagg.py
  test/units/modules/network/onyx/test_onyx_linkagg.py
Labels: bug, core_review, module, needs_triage, networking, support:community, support:core, test

#38035 ansible_ssh_pass is the ENV variable
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/connection/network_cli.py
Labels: bug, networking, support:core

#37461 vdirect_file: Fixing lack of failure when uploaded source is invalid
  lib/ansible/modules/network/radware/vdirect_file.py
  test/units/modules/network/radware/test_vdirect_file.py
Labels: bug, core_review, module, networking, stale_ci, support:community, support:core, test

#33335 openvswitch_db: Split key-value pairs correctly
  lib/ansible/modules/network/ovs/openvswitch_db.py
Labels: affects_2.5, bug, core_review, module, networking, new_contributor, stale_ci, support:network

#38273 Fix spelling of lookup
  lib/ansible/modules/cloud/smartos/vmadm.py
  lib/ansible/plugins/lookup/_redis_kv.py
  lib/ansible/plugins/lookup/items.py
  lib/ansible/plugins/lookup/redis.py
Labels: cloud, core_review, docs, module, new_contributor, support:community, support:core

#37828 added iosxr_smoke
  test/integration/targets/iosxr_smoke/defaults/main.yaml
  test/integration/targets/iosxr_smoke/meta/main.yaml
  test/integration/targets/iosxr_smoke/tasks/cli.yaml
  test/integration/targets/iosxr_smoke/tasks/main.yaml
  test/integration/targets/iosxr_smoke/tasks/netconf.yaml
  test/integration/targets/iosxr_smoke/tests/cli/common_config.yaml
  test/integration/targets/iosxr_smoke/tests/cli/common_utils.yaml
  test/integration/targets/iosxr_smoke/tests/netconf/common_netconf.yaml
  test/integration/targets/iosxr_smoke/tests/netconf/misc_tests.yaml
Labels: bug, support:community, test

#37216 added junos_smoke tests
  test/integration/targets/junos_smoke/defaults/main.yaml
  test/integration/targets/junos_smoke/meta/main.yml
  test/integration/targets/junos_smoke/tasks/main.yaml
  test/integration/targets/junos_smoke/tasks/netconf.yaml
  test/integration/targets/junos_smoke/tests/netconf/common_utils.yaml
  test/integration/targets/junos_smoke/tests/netconf/module_utils_junos.yaml
Labels: bug, support:community, test

#38266 Fix grafana CALLBACK_VERSION
  lib/ansible/plugins/callback/grafana_annotations.py
Labels: bug, support:community

#38125 Update EdgeOS modules to be community supported (#38112)
  lib/ansible/modules/network/edgeos/edgeos_config.py
  lib/ansible/modules/network/edgeos/edgeos_facts.py
Labels: affects_2.5, backport, community_review, docs, module, networking, support:community

#37930 demonstrates best practices for group vars
  docs/docsite/rst/network/getting_started/first_inventory.rst
  docs/docsite/rst/network/user_guide/network_best_practices_2.5.rst
Labels: affects_2.5, docs, networking, support:core

#37926 2.6 roadmap doc
  docs/docsite/rst/roadmap/ROADMAP_2_6.rst
Labels: docs, support:core

#38169 Add OpenNebula one_image_facts module
  lib/ansible/modules/cloud/opennebula/one_image_facts.py
  test/legacy/opennebula.yml
  test/legacy/roles/one_image_facts/defaults/main.yml
  test/legacy/roles/one_image_facts/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, support:core, test

#37484 Fix docs build
  docs/templates/plugin.rst.j2
Labels: aci, cloud, docker, docs, f5, feature, gce, needs_maintainer, networking, nxos, support:core

#38305 Fix openssl_certificate test for newer openssl.
  test/integration/targets/openssl_certificate/tests/validate.yml
Labels: bug, support:community, test

#37422 Document that this module was renamed recently (#37420)
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: affects_2.5, aws, backport, cloud, core_review, docs, module, stale_ci, support:core

#37026 AWS WAF module custom waiter
  lib/ansible/module_utils/aws/waf.py
  lib/ansible/module_utils/aws/waiters.py
  lib/ansible/modules/cloud/amazon/aws_waf_condition.py
  lib/ansible/modules/cloud/amazon/aws_waf_rule.py
  lib/ansible/modules/cloud/amazon/aws_waf_web_acl.py
Labels: aws, cloud, core_review, feature, module, support:community, support:core, test

#38311 Removes modules from TOC, speeding up build time and reducing doc dis…
  docs/docsite/rst/index.rst
  docs/docsite/rst/user_guide/modules_support.rst
  docs/templates/list_of_CATEGORY_modules.rst.j2
  docs/templates/modules_by_support.rst.j2
Labels: docs, feature, needs_triage, support:core

#37952 ISSUE-37945 output not populated on failure
  lib/ansible/modules/web_infrastructure/jenkins_script.py
Labels: bug, community_review, module, owner_pr, support:community

#38324 BACKPORT: ansible_password & ansible_ssh_pass are the ENV variable (#38035)
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.5, backport, docs, networking, support:core

#38046 Have the ios_interface module include CDP when checking neighbors
  changelogs/fragments/ios_interface_cdp_support.yaml
  lib/ansible/modules/network/ios/ios_interface.py
Labels: affects_2.5, backport, core_review, feature, module, networking, support:core, support:network

#38328 fixes example address parameters (#37765)
  lib/ansible/modules/net_tools/nios/nios_host_record.py
Labels: affects_2.5, backport, community_review, feature, module, needs_triage, net_tools, networking, owner_pr, support:community

#37634 nso_verify handle leaf-list in 4.5 and identityref (#37393)
  lib/ansible/module_utils/network/nso/nso.py
  lib/ansible/modules/network/nso/nso_verify.py
  test/units/modules/network/nso/nso_module.py
  test/units/modules/network/nso/test_nso_verify.py
Labels: affects_2.5, backport, module, needs_revision, networking, support:community, support:core, test

#37635 issue:37306 Fix issue with vlan support for onyx version 3.6.6000 (#37310)
  lib/ansible/module_utils/network/onyx/onyx.py
  lib/ansible/modules/network/onyx/onyx_vlan.py
  test/units/modules/network/onyx/test_onyx_vlan.py
Labels: affects_2.5, backport, core_review, module, networking, support:community, support:core, test

#38330 issue:37307 Add support for changes in pfc output in onyx 3.6.6000 (#…
  changelogs/fragments/37651-onxy_pfc_interface-onyx-version-3.6.0.yaml
  lib/ansible/modules/network/onyx/onyx_pfc_interface.py
  test/units/modules/network/onyx/test_onyx_pfc_interface.py
Labels: affects_2.5, backport, core_review, feature, module, needs_ci, needs_triage, networking, support:community, support:core, test

#38327 Backport/2.5/38191
  changelogs/fragments/38167-onxy_linkagg-add-support-for-onyx-version-3.6.0.yaml
  lib/ansible/modules/network/onyx/onyx_linkagg.py
  test/units/modules/network/onyx/test_onyx_linkagg.py
Labels: affects_2.5, backport, core_review, feature, module, networking, support:community, support:core, test

#38030 Add system/interfaces_file module maintainers information
  .github/BOTMETA.yml
Labels: needs_ci, support:core

#38332 Fix typo in apt.py
  lib/ansible/modules/packaging/os/apt.py
Labels: core_review, feature, module, new_contributor, support:core

#36972 Validate SSL in panos_import
  lib/ansible/modules/network/panos/panos_import.py
Labels: affects_1.3, community_review, docs, module, networking, support:community

#38322 ISSUE-37945 output not populated on failure (#37952)
  lib/ansible/modules/web_infrastructure/jenkins_script.py
Labels: affects_2.5, backport, bug, community_review, module, needs_triage, owner_pr, support:community

#35582 Set `raw=True` when reading passwords from ConfigParser files.
  contrib/inventory/cloudforms.py
  contrib/inventory/foreman.py
  contrib/inventory/ovirt4.py
  contrib/inventory/vmware_inventory.py
Labels: bug, c:inventory/contrib_script, cloud, inventory, stale_ci, support:community, vmware

#38286 Slack Callback fix integration with stable-2.5
  lib/ansible/plugins/callback/slack.py
Labels: affects_2.5, backport, bug, support:core

#37529 Network connection backports
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/network_cli.py
  lib/ansible/plugins/connection/persistent.py
  test/units/plugins/connection/test_network_cli.py
Labels: affects_2.5, backport, bug, networking, support:core, test

#38240 fixes issue when netconf would report ios is not supported (#38155)
  lib/ansible/plugins/connection/netconf.py
Labels: affects_2.5, backport, bug, networking, support:core

#37345 Added module for Autoscale Launch Config
  lib/ansible/modules/network/avi/avi_autoscalelaunchconfig.py
Labels: avi, module, needs_revision, networking, new_module, new_plugin, stale_ci, stale_review, support:community

#22648 Support for module param defaults
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/base.py
  test/integration/targets/module_defaults/aliases
  test/integration/targets/module_defaults/tasks/main.yml
Labels: affects_2.3, affects_2.4, c:executor/task_executor, c:playbook/base, c:playbook/play_context, c:plugins/action, executor/task_executor, feature, playbook/base, playbook/play_context, support:community, support:core, test

#37445 Making sure that the key value is converted to a string to avoid concatenation errors
  contrib/inventory/vmware_inventory.py
Labels: bug, c:inventory/contrib_script, cloud, inventory, new_contributor, support:community, vmware

#38346 Fix rpm_key test on Fedora 27.
  test/integration/targets/rpm_key/tasks/rpm_key.yaml
Labels: bug, support:core, test

#38225 Backport #38194 for 2.5 - include_vars error fix
  changelogs/fragments/include_vars_error_hang_fix.yaml
  lib/ansible/plugins/action/include_vars.py
Labels: affects_2.5, backport, bug, support:core

#37252 added nxos_smoke tests (#36647)
  test/integration/targets/nxos_smoke/defaults/main.yaml
  test/integration/targets/nxos_smoke/meta/main.yml
  test/integration/targets/nxos_smoke/tasks/cli.yaml
  test/integration/targets/nxos_smoke/tasks/main.yaml
  test/integration/targets/nxos_smoke/tasks/nxapi.yaml
  test/integration/targets/nxos_smoke/tests/common/common_config.yaml
  test/integration/targets/nxos_smoke/tests/common/common_utils.yaml
  test/integration/targets/nxos_smoke/tests/common/misc_tests.yaml
Labels: affects_2.5, backport, bug, networking, nxos, stale_ci, support:community, test

#38293 DOCS: Network Best Practices fixes
  docs/docsite/rst/network/user_guide/network_best_practices_2.5.rst
Labels: docs, networking, support:core

#38113 Update spelling_word_choice.rst
  docs/docsite/rst/dev_guide/style_guide/spelling_word_choice.rst
Labels: docs, docsite_pr, new_contributor, support:core

#38056 Update installation docs for RHEL based distributions.
  docs/docsite/Makefile
  docs/docsite/rst/conf.py
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: docs, support:core

#38055 Update installation docs for RHEL based distributions.
  docs/docsite/rst/intro_installation.rst
Labels: affects_2.4, backport, docs, support:core

#37999 Fix the automatic docsite_pr label
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/templates/plugin.rst.j2
Labels: bug, docs, support:core

#37575 Clarify the "refresh_inventory" meta task when using a dynamic invent…
  lib/ansible/modules/utilities/helper/meta.py
Labels: core_review, docs, module, new_contributor, stale_ci, support:core

#37927 include_* details in porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: docs, docsite_pr, feature, new_contributor, stale_ci, support:core

#38248 Add missing IAM policy for cloudfront
  hacking/aws_config/setup-iam.yml
  hacking/aws_config/testing_policies/cloudfront-policy.json
Labels: bug, support:core

#37982 doc: index_var: fix version added
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: docs, stale_ci, support:core

#37998 docs: Document disabling diff on task level
  docs/docsite/rst/user_guide/playbooks_checkmode.rst
Labels: docs, new_contributor, stale_ci, support:core

#38009 documented actual precedence
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: docs, support:core

#38344 clarify os x password with user module
  lib/ansible/modules/system/user.py
Labels: core_review, docs, module, support:core

#38051 Update docs to reflect support for CDP neighbors
  lib/ansible/modules/network/ios/ios_interface.py
Labels: core_review, docs, module, networking, support:network

#33207 Update fish setup to use `source` instead of `.`
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.5, docs, stale_ci, support:core

#36623 Add aws_ses_identity_policy module for managing SES sending policies
  CHANGELOG.md
  hacking/aws_config/testing_policies/compute-policy.json
  lib/ansible/module_utils/aws/core.py
  lib/ansible/modules/cloud/amazon/aws_ses_identity_policy.py
  test/integration/targets/aws_ses_identity_policy/aliases
  test/integration/targets/aws_ses_identity_policy/defaults/main.yaml
  test/integration/targets/aws_ses_identity_policy/tasks/main.yaml
  test/integration/targets/aws_ses_identity_policy/templates/policy.json.j2
Labels: aws, cloud, core_review, module, new_module, new_plugin, support:community, support:core, test

#38231 Expose verbosity as a var, dedupe attr list
  lib/ansible/utils/vars.py
Labels: feature, support:core

#38349 Replace the hard-coded temp path in gunicorn module
  lib/ansible/modules/web_infrastructure/gunicorn.py
Labels: bug, community_review, module, needs_triage, support:community

#37291 Tolerate win line endings on windows module_util load
  lib/ansible/executor/module_common.py
  test/integration/targets/win_module_utils/library/legacy_only_new_way_win_line_ending.ps1
  test/integration/targets/win_module_utils/library/legacy_only_old_way_win_line_ending.ps1
  test/integration/targets/win_module_utils/tasks/main.yml
  test/sanity/code-smell/line-endings.py
  test/sanity/code-smell/shebang.py
Labels: bug, needs_revision, support:community, support:core, test

#37327 win_setup: Added connection name to interfaces
  lib/ansible/modules/windows/setup.ps1
  test/integration/targets/win_setup/tasks/main.yml
Labels: community_review, feature, module, stale_ci, support:community, test, windows

#37229 powershell: display non-ascii characters in command outputs
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.CommandUtil.psm1
  lib/ansible/plugins/shell/powershell.py
  test/integration/targets/win_async_wrapper/tasks/main.yml
  test/integration/targets/win_become/tasks/main.yml
  test/integration/targets/win_command/tasks/main.yml
  test/integration/targets/win_shell/tasks/main.yml
Labels: bug, stale_ci, support:community, support:core, test, windows

#38362 win_setup: backport Added connection name to interfaces
  changelogs/fragments/win_setup-connection-name.yaml
  lib/ansible/modules/windows/setup.ps1
  test/integration/targets/win_setup/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:community, support:core, test, windows

#37141 Reduce recursion within group methods
  lib/ansible/inventory/group.py
  lib/ansible/inventory/host.py
  test/units/plugins/inventory/test_group.py
Labels: bug, inventory, stale_ci, support:core, test

#37951 remove unused optoins from inventory cli
  lib/ansible/cli/inventory.py
Labels: bug, stale_ci, support:core

#38302 allow incremental update for vars in loop for set_fact/include_vars
  lib/ansible/executor/task_executor.py
  test/integration/targets/set_fact/incremental.yml
  test/integration/targets/set_fact/nowarn_clean_facts.yml
  test/integration/targets/set_fact/runme.sh
Labels: bug, support:core, test

#38243 ec2_snapshot_copy: Add wait_timeout module parameter (#38072)
  lib/ansible/modules/cloud/amazon/ec2_snapshot_copy.py
Labels: aws, cloud, community_review, feature, module, support:community

#38283 fix nxos_acl issues
  lib/ansible/modules/network/nxos/nxos_acl.py
  test/integration/targets/nxos_acl/tests/common/sanity.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#38376 Additional docs CSS fix for mobile
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: docs, feature, needs_triage, support:core

#38385 Corrected a parameter name
  lib/ansible/modules/net_tools/nmcli.py
Labels: bug, community_review, module, net_tools, support:community

#38333 doc: apt, yum: add example with package lists
  lib/ansible/modules/packaging/os/apt.py
  lib/ansible/modules/packaging/os/yum.py
Labels: core_review, docs, module, support:core

#38382 Backport/2.5/37287 Eos :do not push config to device if check_mode is enabled
  changelogs/fragments/36980-eos_check_mode_without_config_session.yaml
  lib/ansible/module_utils/network/eos/eos.py
  test/integration/targets/eos_config/tests/cli/check_mode.yaml
Labels: affects_2.5, backport, networking, support:core, support:network, test

#38211 ovirt_templates: Add operating system attribute
  lib/ansible/modules/cloud/ovirt/ovirt_templates.py
Labels: automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#37343 Added module win_pester and relatives integration tests
  lib/ansible/modules/windows/win_pester.ps1
  lib/ansible/modules/windows/win_pester.py
  test/integration/targets/win_pester/aliases
  test/integration/targets/win_pester/defaults/main.yml
  test/integration/targets/win_pester/files/test01.test.ps1
  test/integration/targets/win_pester/files/test02.test.ps1
  test/integration/targets/win_pester/tasks/main.yml
Labels: community_review, module, new_module, new_plugin, support:community, test, windows

#36957 Add eos_smoke integration tests
  test/integration/targets/eos_smoke/defaults/main.yaml
  test/integration/targets/eos_smoke/meta/main.yml
  test/integration/targets/eos_smoke/tasks/cli.yaml
  test/integration/targets/eos_smoke/tasks/eapi.yaml
  test/integration/targets/eos_smoke/tasks/main.yaml
  test/integration/targets/eos_smoke/tests/cli/common_config.yaml
  test/integration/targets/eos_smoke/tests/cli/common_utils.yaml
  test/integration/targets/eos_smoke/tests/cli/misc_tests.yaml
  test/integration/targets/eos_smoke/tests/eapi/common_config.yaml
  test/integration/targets/eos_smoke/tests/eapi/common_utils.yaml
  test/integration/targets/eos_smoke/tests/eapi/misc_tests.yaml
Labels: bug, support:community, test

#38395 cherry pick- added iosxr_smoke (#37828)
  test/integration/targets/iosxr_smoke/defaults/main.yaml
  test/integration/targets/iosxr_smoke/meta/main.yaml
  test/integration/targets/iosxr_smoke/tasks/cli.yaml
  test/integration/targets/iosxr_smoke/tasks/main.yaml
  test/integration/targets/iosxr_smoke/tasks/netconf.yaml
  test/integration/targets/iosxr_smoke/tests/cli/common_config.yaml
  test/integration/targets/iosxr_smoke/tests/cli/common_utils.yaml
  test/integration/targets/iosxr_smoke/tests/netconf/common_netconf.yaml
  test/integration/targets/iosxr_smoke/tests/netconf/misc_tests.yaml
Labels: affects_2.5, backport, needs_triage, support:community, test

#38396 cherry pick- added junos_smoke tests (#37216)
  test/integration/targets/junos_smoke/defaults/main.yaml
  test/integration/targets/junos_smoke/meta/main.yml
  test/integration/targets/junos_smoke/tasks/main.yaml
  test/integration/targets/junos_smoke/tasks/netconf.yaml
  test/integration/targets/junos_smoke/tests/netconf/common_utils.yaml
  test/integration/targets/junos_smoke/tests/netconf/module_utils_junos.yaml
Labels: affects_2.5, backport, needs_triage, support:community, test

#38397 cherry pick- Add eos_smoke integration tests (#36957)
  test/integration/targets/eos_smoke/defaults/main.yaml
  test/integration/targets/eos_smoke/meta/main.yml
  test/integration/targets/eos_smoke/tasks/cli.yaml
  test/integration/targets/eos_smoke/tasks/eapi.yaml
  test/integration/targets/eos_smoke/tasks/main.yaml
  test/integration/targets/eos_smoke/tests/cli/common_config.yaml
  test/integration/targets/eos_smoke/tests/cli/common_utils.yaml
  test/integration/targets/eos_smoke/tests/cli/misc_tests.yaml
  test/integration/targets/eos_smoke/tests/eapi/common_config.yaml
  test/integration/targets/eos_smoke/tests/eapi/common_utils.yaml
  test/integration/targets/eos_smoke/tests/eapi/misc_tests.yaml
Labels: affects_2.5, backport, needs_triage, support:community, test

#38360 DOCS: Network Best Practices fixes (#38293)
  docs/docsite/rst/network/user_guide/network_best_practices_2.5.rst
Labels: affects_2.5, backport, docs, networking, support:core

#38408 make aef test more predictable
  test/integration/targets/any_errors_fatal/aliases
  test/integration/targets/any_errors_fatal/on_includes.yml
  test/integration/targets/any_errors_fatal/test_fatal.yml
Labels: bug, support:community, test

#36809 Required changes to support redirects on HTTP 307/308
  lib/ansible/module_utils/urls.py
  test/integration/targets/uri/tasks/redirect-all.yml
  test/integration/targets/uri/tasks/redirect-none.yml
  test/integration/targets/uri/tasks/redirect-safe.yml
  test/integration/targets/uri/tasks/redirect-urllib2.yml
Labels: bug, c:module_utils/urls, meraki, needs_revision, support:core, test

#37189 s3_bucket: migrate to boto3
  lib/ansible/modules/cloud/amazon/s3_bucket.py
  test/integration/targets/s3_bucket/aliases
  test/integration/targets/s3_bucket/tasks/main.yml
Labels: aws, cloud, core_review, feature, module, support:core, test

#38416 The ssh change note has been removed
  docs/docsite/rst/scenario_guides/guide_rax.rst
Labels: bug, docs, needs_triage, support:core

#22330 Convert README from Markdown to ReStructured Text and use as longdesc
  MANIFEST.in
  README.md
  README.rst
  packaging/arch/PKGBUILD
  packaging/macports/sysutils/ansible/Portfile
  packaging/rpm/ansible.spec
  setup.py
Labels: affects_2.3, affects_2.4, docs, needs_revision, new_contributor, support:core

#38418 Bkprt docs mobile fix
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: affects_2.5, backport, docs, support:core

#38276 Fall back to ValueError if JSONDecodeError is not available
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/persistent.py
Labels: bug, networking, support:core

#38428 Removes modules from TOC, speeding up build time and reducing doc dis…
  docs/docsite/rst/index.rst
  docs/docsite/rst/user_guide/modules_support.rst
  docs/templates/list_of_CATEGORY_modules.rst.j2
  docs/templates/modules_by_support.rst.j2
Labels: affects_2.5, backport, bug, docs, needs_triage, support:core

#38432 Tweaks docs CSS to fix minor issue with main content page display cut…
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: docs, feature, needs_triage, support:core

#38434 Tweaks docs CSS to fix minor issue with main content page display cut…
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: affects_2.5, backport, docs, feature, needs_triage, support:core

#38375 Add documentation on dict2items
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: docs, support:core

#38443 Mobile CSS update - adds scrolling inertia
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: docs, feature, needs_triage, support:core

#38445 Mobile CSS update - adds scrolling inertia (#38443)
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: affects_2.5, backport, docs, feature, needs_triage, support:core

#38446 lvg: don't fail if an unknown physical device is encountered
  lib/ansible/modules/system/lvg.py
Labels: automerge, bug, module, shipit, support:community

#38448 manageiq_provider: don't send top-level null fields on creation
  lib/ansible/modules/remote_management/manageiq/manageiq_provider.py
Labels: automerge, bug, module, owner_pr, shipit, support:community

#38449 remove duplicate declaration
  lib/ansible/modules/system/user.py
Labels: module, needs_info, needs_template, new_contributor, support:core

#38452 Minor typo in installation guide
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: docs, support:core

#36731 New module: digital_ocean_certificate_facts
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_certificate_facts.py
Labels: cloud, digital_ocean, module, new_module, new_plugin, shipit, support:community

#38386 openssl_certificate: Handle dump() in check_mode
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/main.yml
Labels: bug, module, shipit, support:community, test

#38462 Backport/2.5/38386
  changelogs/fragments/openssl_certificate-dump-checkmode.yaml
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:community, support:core, test

#38406 Give hint when lookup fails on one element list
  lib/ansible/executor/task_executor.py
Labels: feature, support:core

#38329 apt: properly set changed for autoremove/autoclean
  lib/ansible/modules/packaging/os/apt.py
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/apt/tasks/main.yml
  test/integration/targets/apt/tasks/repo.yml
Labels: bug, module, shipit, support:core, test

#38371 Small typos in docs
  docs/docsite/rst/dev_guide/testing/sanity/no-tests-as-filters.rst
Labels: docs, support:core

#38440 Update playbooks_loops.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: docs, new_contributor, support:core

#38460 Fix junos transport check
  lib/ansible/plugins/action/junos.py
Labels: bug, networking, support:core

#38479 Add examples to ec2_instance docs
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: aws, cloud, community_review, docs, module, owner_pr, support:community
