Repository ansible/ansible, pull requests merged in 2018-05, with the labels that each got.

#39537 mail callback: Exception info less important
  lib/ansible/plugins/callback/mail.py
Labels: bug, support:core

#39532 BOTMETA: Adding John 'Warthog9' Hawley from VMware to team_vmware
  .github/BOTMETA.yml
Labels: new_contributor, support:core

#39018 Backport/2.5/36739
  changelogs/fragments/openssl_certificate-generate-acme-missing-space.yaml
  lib/ansible/modules/crypto/openssl_certificate.py
Labels: affects_2.5, backport, core_review, module, support:community, support:core

#38968 remove properties from vars in include_role
  lib/ansible/playbook/included_file.py
Labels: bug, support:core

#38885 Only change expiration date if it is different
  changelogs/fragments/user-expires.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/aliases
  test/integration/targets/user/tasks/main.yml
Labels: bug, core_review, module, support:core, test

#39564 Move requirements into tests. (#35885)
  test/integration/targets/ansible-galaxy/aliases
  test/integration/targets/ansible-galaxy/runme.sh
  test/integration/targets/ansible-galaxy/setup.yml
  test/integration/targets/command_shell/tasks/main.yml
  test/integration/targets/copy/tasks/tests.yml
  test/integration/targets/gem/tasks/main.yml
  test/integration/targets/gem/vars/FreeBSD.yml
  test/integration/targets/gem/vars/RedHat.yml
  test/integration/targets/gem/vars/default.yml
  test/integration/targets/git/tasks/setup.yml
  test/integration/targets/pull/runme.sh
  test/integration/targets/pull/setup.yml
  test/integration/targets/subversion/tasks/main.yml
  test/integration/targets/synchronize/tasks/main.yml
  test/runner/setup/remote.sh
Labels: affects_2.5, backport, feature, support:community, support:core, test

#39563 Ensure we don't overwrite handlers from include_role when loading a play
  lib/ansible/playbook/play.py
Labels: bug, support:core

#39566 Update docs to set default=no in import_role and include_role for private
  lib/ansible/modules/utilities/logic/import_role.py
  lib/ansible/modules/utilities/logic/include_role.py
Labels: core_review, docs, include_role, module, needs_triage, support:core

#39512 Fix redhat_subscription.py documentation typographical error
  lib/ansible/modules/packaging/os/redhat_subscription.py
Labels: bug, community_review, module, new_contributor, support:community

#39507 keycloak_client: add aliases for module options (matching API)
  lib/ansible/modules/identity/keycloak/keycloak_client.py
Labels: community_review, feature, module, owner_pr, support:community

#39501 ovirt: Clarify secrets configuration
  contrib/inventory/ovirt.ini
Labels: c:inventory/contrib_script, docs, inventory, needs_triage, support:community

#39568 ovirt: fix quota_id check
  lib/ansible/modules/cloud/ovirt/ovirt_vms.py
Labels: bug, cloud, community_review, module, needs_triage, ovirt, owner_pr, support:community

#39571 Add Andrew Gaffney to list of people in Committers Guidelines doc
  docs/docsite/rst/community/committer_guidelines.rst
Labels: docs, needs_triage, support:core

#37464 Add AWS Inspector Target Module
  lib/ansible/modules/cloud/amazon/aws_inspector_target.py
  test/integration/targets/aws_inspector/aliases
  test/integration/targets/aws_inspector/defaults/main.yml
  test/integration/targets/aws_inspector/tasks/main.yml
Labels: aws, cloud, community_review, module, new_contributor, new_module, new_plugin, support:community, test

#39572 winrm: removed old exec_command that is no longer used
  lib/ansible/plugins/connection/winrm.py
Labels: feature, support:core, windows

#39534 Add firewalld Rich Rule port forwarding example
  lib/ansible/modules/system/firewalld.py
Labels: community_review, docs, module, needs_triage, owner_pr, support:community

#39573 Update 2.6 roadmap dates.
  docs/docsite/rst/roadmap/ROADMAP_2_6.rst
Labels: docs, support:core

#39457 Use HTTPS instead of HTTP for httpbin tests.
  test/integration/targets/get_url/aliases
  test/integration/targets/get_url/tasks/main.yml
  test/integration/targets/uri/aliases
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/uri/tasks/redirect-all.yml
  test/integration/targets/uri/tasks/redirect-none.yml
  test/integration/targets/uri/tasks/redirect-safe.yml
  test/integration/targets/uri/tasks/redirect-urllib2.yml
  test/integration/targets/win_uri/aliases
  test/integration/targets/win_uri/tasks/test.yml
Labels: bug, net_tools, support:community, support:core, test, windows

#39580 Use HTTPS instead of HTTP for httpbin tests. (#39457)
  test/integration/targets/get_url/aliases
  test/integration/targets/get_url/tasks/main.yml
  test/integration/targets/uri/aliases
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/win_uri/aliases
Labels: affects_2.4, backport, bug, net_tools, support:community, support:core, test, windows

#39579 Use HTTPS instead of HTTP for httpbin tests. (#39457)
  test/integration/targets/get_url/aliases
  test/integration/targets/get_url/tasks/main.yml
  test/integration/targets/uri/aliases
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/win_uri/aliases
  test/integration/targets/win_uri/tasks/test.yml
Labels: affects_2.5, backport, bug, needs_revision, net_tools, support:community, support:core, test, windows

#39582 Fix typo in porting guides index page
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: docs, support:core

#39570 Update playbooks_variables.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: docs, feature, new_contributor, support:core

#38519 Allow non-inclusion of setup task in junit report
  lib/ansible/plugins/callback/junit.py
Labels: feature, needs_revision, support:core

#35838 Add Numa support.
  lib/ansible/modules/cloud/ovirt/ovirt_vms.py
Labels: automerge, cloud, feature, module, new_contributor, ovirt, performance, shipit, support:community

#39599 fix nxos_vrf_af teardown for nxapi
  test/integration/targets/nxos_vrf_af/tests/common/sanity.yaml
Labels: needs_triage, networking, nxos, support:network, test

#37916 ovirt_vms: Fix the module to work with check mode
  lib/ansible/module_utils/ovirt.py
  lib/ansible/modules/cloud/ovirt/ovirt_vms.py
Labels: bug, cloud, module, ovirt, owner_pr, shipit, support:community, support:core

#39502 [cloud] route53_zone: create public zones associated to a reusable delegation set
  lib/ansible/modules/cloud/amazon/route53_zone.py
Labels: aws, cloud, community_review, feature, module, support:community

#39604 Corrected typo under git practices
  CODING_GUIDELINES.md
Labels: docs, needs_triage, new_contributor, support:core

#39603 Connect via ssh using ansible_port
  test/integration/targets/vyos_user/tests/cli/auth.yaml
Labels: bug, support:network, test

#39608 Fix fetching ios default running config (#39475)
  changelogs/fragments/ios_get_config_fix.yaml
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.5, backport, bug, networking, support:core

#39609 Update set_stats.py
  lib/ansible/modules/utilities/logic/set_stats.py
Labels: community_review, feature, module, new_contributor, support:community

#39567 ensure 'home' translations (#36755)
  changelogs/fragments/home_translation.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/connection/__init__.py
  lib/ansible/plugins/connection/chroot.py
  lib/ansible/plugins/connection/libvirt_lxc.py
  lib/ansible/plugins/connection/lxc.py
  lib/ansible/plugins/connection/lxd.py
Labels: affects_2.5, backport, bug, support:core

#39245 use actual ssh executable as it might not be ssh
  lib/ansible/plugins/connection/ssh.py
Labels: bug, support:core

#39618 Remove unstable marker from rabbitmq_user test.
  test/integration/targets/rabbitmq_user/aliases
Labels: bug, support:community, test

#39619 Remove unstable marker from rabbitmq_user test.
  test/integration/targets/rabbitmq_user/aliases
Labels: affects_2.5, backport, bug, support:community, test

#39620 Remove unstable from azure_rm_storageblob test.
  test/integration/targets/azure_rm_storageblob/aliases
Labels: affects_2.5, azure, backport, bug, cloud, support:certified, test

#39629 Enable xml integration test.
  test/integration/targets/xml/aliases
Labels: bug, needs_triage, support:community, test, xml

#38610 Adding support for GCP Compute Backend Buckets
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket.py
  test/integration/targets/gcp_compute_backend_bucket/aliases
  test/integration/targets/gcp_compute_backend_bucket/defaults/main.yml
  test/integration/targets/gcp_compute_backend_bucket/meta/main.yml
  test/integration/targets/gcp_compute_backend_bucket/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#39539 Fix when template paths contain non-ascii chars and using the path in…
  changelogs/fragments/ansible-managed-encoding.yaml
  lib/ansible/template/__init__.py
  test/integration/targets/template/ansible_managed.cfg
  test/integration/targets/template/ansible_managed.yml
  test/integration/targets/template/runme.sh
  test/integration/targets/template/tasks/main.yml
  test/integration/targets/template/templates/café.j2
Labels: affects_2.5, backport, bug, needs_revision, support:core, test

#38611 Adding support for GCP Compute Backend Services
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  test/integration/targets/gcp_compute_backend_service/aliases
  test/integration/targets/gcp_compute_backend_service/defaults/main.yml
  test/integration/targets/gcp_compute_backend_service/meta/main.yml
  test/integration/targets/gcp_compute_backend_service/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#36322 Backport part of #33221 to fix azure functionapp ansible modules
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.4, azure, backport, bug, cloud, new_contributor, stale_ci, support:core

#36109 [contrib] azure_rm.py add mechanism to force use of private ip
  contrib/inventory/azure_rm.py
Labels: azure, c:inventory/contrib_script, cloud, feature, inventory, stale_ci, support:community

#38499 Use 'network_interface_id' rather than 'interface_id'
  lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py
Labels: aws, cloud, committer_review, docsite_pr, feature, module, new_contributor, stale_ci, support:certified

#39034 Add ability to filter EC2 instances via shell environment
  contrib/inventory/ec2.py
Labels: aws, c:inventory/contrib_script, cloud, feature, inventory, new_contributor, support:community

#39631 update win_psmodule.py
  lib/ansible/modules/windows/win_psmodule.py
Labels: community_review, feature, module, needs_triage, new_contributor, support:community, windows

#39643 Remove skipping of never tag in include_import tests since it is done automatically
  test/integration/targets/include_import/runme.sh
Labels: bug, needs_revision, needs_triage, support:community, test

#39491 Add a module to get AWS storage gateway facts
  lib/ansible/modules/cloud/amazon/aws_sgw_facts.py
Labels: aws, cloud, community_review, module, new_module, new_plugin, support:community

#39662 Fix eos_config integration test failure
  test/integration/targets/eos_config/tests/cli/check_mode.yaml
Labels: bug, support:network, test

#39661 Fix eos_vlan associated interface check
  lib/ansible/modules/network/eos/eos_vlan.py
  test/integration/targets/eos_vlan/tests/cli/basic.yaml
Labels: bug, core_review, module, networking, support:network, test

#39606 ec2_ami: fix deleting snapshots - fixes #39541
  lib/ansible/modules/cloud/amazon/ec2_ami.py
  test/integration/targets/ec2_ami/tasks/main.yml
Labels: aws, bug, cloud, committer_review, module, support:certified, test

#39002 Enable check mode for aws_iam_role
  lib/ansible/modules/cloud/amazon/iam_role.py
Labels: aws, cloud, community_review, feature, module, new_contributor, stale_ci, support:community

#38585 Added empty default for name parameter
  lib/ansible/modules/cloud/amazon/ec2_ami.py
  test/integration/targets/ec2_ami/tasks/main.yml
Labels: affects_2.5, aws, backport, bug, cloud, committer_review, module, support:certified, test

#37813 Improve test suite for cloudfront
  test/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: bug, cloud, stale_ci, support:community, test

#37273 Route53 check mode
  lib/ansible/modules/cloud/amazon/route53.py
Labels: aws, cloud, community_review, feature, module, stale_ci, support:community

#36986 Change aws_acm_facts name parameter to be domain_name
  lib/ansible/modules/cloud/amazon/aws_acm_facts.py
Labels: aws, cloud, community_review, feature, module, owner_pr, stale_ci, support:community

#36571 fix a typo in doc of ec2_eni
  lib/ansible/modules/cloud/amazon/ec2_eni.py
Labels: aws, cloud, community_review, docs, module, new_contributor, stale_ci, support:community

#38313 Fail with nice error message if elb target_type=ip not supported
  hacking/aws_config/testing_policies/compute-policy.json
  lib/ansible/modules/cloud/amazon/elb_target_group.py
  test/integration/targets/elb_target/aliases
  test/integration/targets/elb_target/defaults/main.yml
  test/integration/targets/elb_target/playbooks/full_test.yml
  test/integration/targets/elb_target/playbooks/roles/elb_target/defaults/main.yml
  test/integration/targets/elb_target/playbooks/roles/elb_target/tasks/main.yml
  test/integration/targets/elb_target/playbooks/version_fail.yml
  test/integration/targets/elb_target/runme.sh
Labels: aws, cloud, core_review, feature, module, support:community, support:core, test

#37677 [cloud] aws_direct_connect_connection: improve return docs - fixes #29381
  lib/ansible/modules/cloud/amazon/aws_direct_connect_connection.py
Labels: aws, bug, cloud, community_review, module, owner_pr, support:community

#39584 Document follow changes
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: P2, bug, docs, support:core

#39678 Default ssh port
  test/integration/targets/vyos_user/tests/cli/auth.yaml
Labels: bug, support:network, test

#19122 Add new OpenStack module for managing cinder volume snapshots
  lib/ansible/modules/cloud/openstack/os_volume_snapshot.py
Labels: affects_2.3, cloud, module, needs_revision, new_module, new_plugin, openstack, stale_ci, support:community

#39246 Adds documentation structure and stubs for new VMWare guide
  docs/docsite/rst/index.rst
  docs/docsite/rst/vmware/faq.rst
  docs/docsite/rst/vmware/index.rst
  docs/docsite/rst/vmware/vmware_concepts.rst
  docs/docsite/rst/vmware/vmware_external_doc_links.rst
  docs/docsite/rst/vmware/vmware_getting_started.rst
  docs/docsite/rst/vmware/vmware_intro.rst
  docs/docsite/rst/vmware/vmware_module_reference.rst
  docs/docsite/rst/vmware/vmware_requirements.rst
  docs/docsite/rst/vmware/vmware_scenario_1.rst
  docs/docsite/rst/vmware/vmware_scenarios.rst
  docs/docsite/rst/vmware/vmware_troubleshooting.rst
Labels: docs, feature, support:core

#37907 Don't split line when no version available for plugin
  lib/ansible/modules/monitoring/grafana_plugin.py
Labels: bug, community_review, module, support:community

#39642 Fix for nxos_snmp_host issues
  lib/ansible/modules/network/nxos/nxos_snmp_host.py
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v1_trap.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v2_inform.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v2_trap.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v3_inform.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#39670 vyos_interface require multiple network nodes to run
  test/integration/targets/vyos_interface/tests/cli/intent.yaml
Labels: bug, support:network, test

#39688 Restore previous test play, break new tests into a new play
  test/integration/targets/include_import/role/test_include_role.yml
Labels: bug, support:community, test

#39675 Document follow changes
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: affects_2.5, backport, docs, needs_triage, support:core

#38707 ec2_vpc_route_table: Update matching_count parsing on find_subnets fu…
  lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py
  test/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: aws, bug, cloud, module, needs_revision, stale_ci, stale_review, support:certified, test

#39702 Enable nuage_vspk tests for Python 2.7.
  test/integration/targets/nuage_vspk/aliases
  test/integration/targets/nuage_vspk/tasks/main.yml
Labels: bug, support:community, test

#38773 Meraki organization module
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  lib/ansible/module_utils/network/meraki/__init__.py
  lib/ansible/module_utils/network/meraki/meraki.py
  lib/ansible/modules/network/meraki/__init__.py
  lib/ansible/modules/network/meraki/meraki_organization.py
  lib/ansible/utils/module_docs_fragments/meraki.py
  test/integration/target-prefixes.network
  test/integration/targets/meraki_organization/aliases
  test/integration/targets/meraki_organization/tasks/main.yml
Labels: docs, meraki, module, needs_revision, networking, new_module, new_plugin, support:community, support:core, test

#39533 rebase base playbook base
  lib/ansible/playbook/base.py
  lib/ansible/playbook/loop_control.py
Labels: bug, support:core, test

#39703 Enable nuage_vspk tests for Python 2.7.
  test/integration/targets/nuage_vspk/aliases
  test/integration/targets/nuage_vspk/tasks/main.yml
Labels: affects_2.5, backport, bug, support:community, test

#39646 win_get_url: Fixed a few issues with using FTP and added tests
  changelogs/fragments/win_get_url-ftp-support.yaml
  lib/ansible/modules/windows/win_get_url.ps1
  lib/ansible/modules/windows/win_get_url.py
  test/integration/targets/win_get_url/defaults/main.yml
  test/integration/targets/win_get_url/files/ftp/anon/file.txt
  test/integration/targets/win_get_url/files/ftp/anon/file2.txt
  test/integration/targets/win_get_url/files/ftp/user-pass/file.txt
  test/integration/targets/win_get_url/files/ftp/user/file.txt
  test/integration/targets/win_get_url/tasks/main.yml
  test/integration/targets/win_get_url/tasks/tests_ftp.yml
  test/integration/targets/win_get_url/tasks/tests_url.yml
  test/integration/targets/win_get_url/templates/slimftpd.conf.tmpl
Labels: bug, module, shipit, support:core, test, windows

#39635 Fix for file module with symlinks to nonexistent target
  changelogs/fragments/file-nonexistent-link.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: bug, module, needs_revision, support:core, test

#39640 Fix for file module with recursive permission setting and broken symlinks
  changelogs/fragments/file-nonexitent-link-recurse.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: bug, core_review, module, support:core, test

#39708 Fix for file module with symlinks to nonexistent target (#39635)
  changelogs/fragments/file-nonexistent-link.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:core, test

#39706 vdirect modules: fix 'import' sanity test
  lib/ansible/modules/network/radware/vdirect_commit.py
  lib/ansible/modules/network/radware/vdirect_file.py
  lib/ansible/modules/network/radware/vdirect_runnable.py
  test/sanity/import/skip.txt
  test/sanity/validate-modules/ignore.txt
Labels: bug, core_review, module, networking, python3, support:community, support:core, test

#39710 Fix for file module with recursive permission setting and broken syml…
  changelogs/fragments/file-nonexitent-link-recurse.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:core, test

#38077 Fixes #37731 Create Internal Loadbalancers with azure_rm_loadbalancer, support SKU
  changelogs/fragments/azure-lb-sku.yaml
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/modules/cloud/azure/azure_rm_loadbalancer.py
  lib/ansible/modules/cloud/azure/azure_rm_publicipaddress.py
  test/integration/targets/azure_rm_loadbalancer/tasks/main.yml
Labels: azure, cloud, core_review, feature, module, support:certified, support:community, support:core, test

#39150 Handle nxos_feature issue where json isn't supported
  lib/ansible/modules/network/nxos/nxos_feature.py
Labels: bug, core_review, module, networking, nxos, owner_pr, support:network

#39721 ovirt: Return ID for permissions facts
  lib/ansible/modules/cloud/ovirt/ovirt_permissions_facts.py
Labels: automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#39723 FIX: Removing superfluous bloc wrongly introduced in 2b7799f817e8.
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: docs, support:core

#39719 nxos bugfixes stable-2.5
  changelogs/fragments/eos_module_utils_bugfix.yaml
  changelogs/fragments/nxos_bugfixes.yaml
  lib/ansible/module_utils/network/eos/eos.py
  lib/ansible/modules/network/nxos/nxos_feature.py
  lib/ansible/modules/network/nxos/nxos_interface.py
  lib/ansible/modules/network/nxos/nxos_l2_interface.py
  lib/ansible/modules/network/nxos/nxos_ntp.py
  lib/ansible/modules/network/nxos/nxos_snmp_community.py
  lib/ansible/modules/network/nxos/nxos_snmp_host.py
  lib/ansible/modules/network/nxos/nxos_snmp_traps.py
  test/integration/targets/nxos_ntp/tests/common/sanity.yaml
  test/integration/targets/nxos_snmp_community/tests/common/sanity.yaml
  test/integration/targets/nxos_snmp_contact/defaults/main.yaml
  test/integration/targets/nxos_snmp_contact/meta/main.yml
  test/integration/targets/nxos_snmp_contact/tasks/cli.yaml
  test/integration/targets/nxos_snmp_contact/tasks/main.yaml
  test/integration/targets/nxos_snmp_contact/tasks/nxapi.yaml
  test/integration/targets/nxos_snmp_contact/tests/common/sanity.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v1_trap.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v2_inform.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v2_trap.yaml
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v3_inform.yaml
  test/integration/targets/nxos_snmp_traps/defaults/main.yaml
  test/integration/targets/nxos_snmp_traps/meta/main.yml
  test/integration/targets/nxos_snmp_traps/tasks/cli.yaml
  test/integration/targets/nxos_snmp_traps/tasks/main.yaml
  test/integration/targets/nxos_snmp_traps/tasks/nxapi.yaml
  test/integration/targets/nxos_snmp_traps/tests/common/sanity.yaml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.5, backport, bug, core_review, module, networking, nxos, support:core, support:network, test

#39729 Fix ios integration test failures in CI
  test/integration/targets/ios_interface/tests/cli/intent.yaml
  test/integration/targets/ios_smoke/tests/cli/common_utils.yaml
Labels: bug, support:community, support:network, test

#39731 Fix ios integration test failures in CI (#39729)
  test/integration/targets/ios_interface/tests/cli/intent.yaml
  test/integration/targets/ios_smoke/tests/cli/common_utils.yaml
Labels: affects_2.5, backport, bug, support:community, support:network, test

#39740 Fix pep8 and pylint errors in ovirt_permissions_facts.py
  lib/ansible/modules/cloud/ovirt/ovirt_permissions_facts.py
Labels: bug, cloud, community_review, module, needs_triage, ovirt, support:community

#39738 Fix eos_vlan associated interface check
  changelogs/fragments/eos_vlan_interface_name_fix.yaml
  lib/ansible/modules/network/eos/eos_vlan.py
  test/integration/targets/eos_vlan/tests/cli/basic.yaml
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network, test

#39658 use show run instead of section pipeline ios_l2_interface
  lib/ansible/modules/network/ios/ios_l2_interface.py
Labels: bug, core_review, module, networking, support:network

#37260 Allow using action/local_action on includes and imports
  lib/ansible/playbook/helpers.py
  test/integration/targets/include_import/tasks/test_include_tasks.yml
Labels: bug, needs_revision, support:community, support:core, test

#39660 Backport/2.5/39371 Issue 30786
  changelogs/fragments/30786-verbose_info_on_os_stack_error.yaml
  lib/ansible/modules/cloud/openstack/os_stack.py
Labels: affects_2.5, backport, bug, cloud, core_review, module, openstack, support:community, support:core

#39750 Add changelog entries for 2.6 include fixes
  changelogs/fragments/includes.yaml
Labels: docs, needs_triage, support:core

#39725 import_role docs: loop is not supported
  lib/ansible/modules/utilities/logic/import_role.py
Labels: core_review, docs, module, support:core

#38619 Adding support for GCP Compute Routes
  lib/ansible/modules/cloud/google/gcp_compute_route.py
  test/integration/targets/gcp_compute_route/aliases
  test/integration/targets/gcp_compute_route/defaults/main.yml
  test/integration/targets/gcp_compute_route/meta/main.yml
  test/integration/targets/gcp_compute_route/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#38618 Adding support for GCP Compute Networks
  lib/ansible/modules/cloud/google/gcp_compute_network.py
  test/integration/targets/gcp_compute_network/aliases
  test/integration/targets/gcp_compute_network/defaults/main.yml
  test/integration/targets/gcp_compute_network/meta/main.yml
  test/integration/targets/gcp_compute_network/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#38621 Adding support for GCP Compute Subnetworks
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork.py
  test/integration/targets/gcp_compute_subnetwork/aliases
  test/integration/targets/gcp_compute_subnetwork/defaults/main.yml
  test/integration/targets/gcp_compute_subnetwork/meta/main.yml
  test/integration/targets/gcp_compute_subnetwork/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#38626 Adding support for GCP Pubsub Subscriptions
  lib/ansible/modules/cloud/google/gcp_pubsub_subscription.py
  test/integration/targets/gcp_pubsub_subscription/aliases
  test/integration/targets/gcp_pubsub_subscription/defaults/main.yml
  test/integration/targets/gcp_pubsub_subscription/meta/main.yml
  test/integration/targets/gcp_pubsub_subscription/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#38627 Adding support for GCP Pubsub Topics
  lib/ansible/modules/cloud/google/gcp_pubsub_topic.py
  test/integration/targets/gcp_pubsub_topic/aliases
  test/integration/targets/gcp_pubsub_topic/defaults/main.yml
  test/integration/targets/gcp_pubsub_topic/meta/main.yml
  test/integration/targets/gcp_pubsub_topic/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#38630 Bug fixes for GCP Compute Addresss
  lib/ansible/modules/cloud/google/gcp_compute_address.py
  test/integration/targets/gcp_compute_address/tasks/main.yml
Labels: bug, cloud, community_review, gce, module, stale_ci, support:community, test

#39453 Fix gathering facts in run_once play
  lib/ansible/executor/play_iterator.py
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/test_run_once.yml
  test/integration/targets/gathering_facts/uuid.fact
Labels: bug, new_contributor, support:community, support:core, test

#39763 doc for _config backup argument (#38650)
  lib/ansible/modules/network/eos/eos_config.py
  lib/ansible/modules/network/ios/ios_config.py
  lib/ansible/modules/network/iosxr/iosxr_config.py
  lib/ansible/modules/network/junos/junos_config.py
  lib/ansible/modules/network/nxos/nxos_config.py
  lib/ansible/modules/network/vyos/vyos_config.py
Labels: affects_2.5, backport, core_review, docs, module, networking, nxos, support:network

#39714 base64 filter: Added ability to specify encoding
  changelogs/fragments/base64_filter_encoding.yaml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/core.py
  test/integration/targets/filters/tasks/main.yml
Labels: docs, feature, needs_revision, support:community, support:core, test

#39764 Make sure that the implicit async_status gets the env from a task with async
  lib/ansible/executor/task_executor.py
Labels: bug, needs_revision, support:core

#39626 influxdb_query: fix use of common return results
  lib/ansible/modules/database/influxdb/influxdb_query.py
Labels: bug, community_review, module, owner_pr, support:community

#36715 timezone module: fixed timezone identification logic in *BSD
  lib/ansible/modules/system/timezone.py
Labels: automerge, bug, module, owner_pr, shipit, support:community

#35651 rabbitmq_bindings rewrite
  lib/ansible/modules/messaging/rabbitmq_binding.py
Labels: automerge, bug, module, owner_pr, shipit, support:community

#33360 Homebrew: Update _uninstall_current_package to use the --force option
  lib/ansible/modules/packaging/os/homebrew.py
Labels: affects_2.5, automerge, bug, module, owner_pr, shipit, support:community

#36948 Grafana datasource module : Added zabbix datasource type
  lib/ansible/modules/monitoring/grafana_datasource.py
Labels: automerge, feature, module, owner_pr, shipit, support:community

#38369 VMware: check SwitchUUID value before assigning
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: automerge, bug, cloud, module, owner_pr, shipit, support:community, vmware

#38530 VMware: Allow user to set customization specification
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: automerge, cloud, feature, module, owner_pr, shipit, support:community, vmware

#39784 Fix eos_config integration test failure (#39662)
  test/integration/targets/eos_config/tests/cli/check_mode.yaml
Labels: affects_2.5, backport, bug, support:network, test

#39659 Fix nxos terminal plugin regex
  lib/ansible/plugins/terminal/nxos.py
Labels: bug, networking, nxos, support:core

#39666 lvg: Allow unit to be specified for pesize (Fixes #38103)
  lib/ansible/modules/system/lvg.py
Labels: community_review, feature, module, new_contributor, support:community

#37176 VMware: new module: vmware_vswitch_facts
  lib/ansible/modules/cloud/vmware/vmware_vswitch_facts.py
  test/integration/targets/vmware_vswitch_facts/aliases
  test/integration/targets/vmware_vswitch_facts/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, test, vmware

#37167 VMware: new module : vmware_local_user_facts
  lib/ansible/modules/cloud/vmware/vmware_local_user_facts.py
  test/integration/targets/vmware_local_user_facts/aliases
  test/integration/targets/vmware_local_user_facts/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, test, vmware

#39273 VMware: Refactor vmware_host_facts
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
Labels: bug, cloud, module, shipit, support:community, vmware

#38674 VMware: new module : vmware_resource_pool_facts
  lib/ansible/modules/cloud/vmware/vmware_resource_pool_facts.py
  test/integration/targets/vmware_resource_pool_facts/aliases
  test/integration/targets/vmware_resource_pool_facts/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, test, vmware

#38651 VMware: report failure if no snapshot exists on VM
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py
Labels: automerge, bug, cloud, module, shipit, support:community, vmware

#36740 VMware: New module: vmware_portgroup_facts
  lib/ansible/modules/cloud/vmware/vmware_portgroup_facts.py
  test/integration/targets/vmware_portgroup_facts/aliases
  test/integration/targets/vmware_portgroup_facts/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, test, vmware

#37261 VMware: New module: vmware_tag
  lib/ansible/module_utils/vmware.py
  lib/ansible/module_utils/vmware_rest_client.py
  lib/ansible/modules/cloud/vmware/vmware_tag.py
  lib/ansible/utils/module_docs_fragments/vmware_rest_client.py
Labels: cloud, module, new_module, new_plugin, shipit, support:community, support:core, vmware

#39793 vmware_guest: cast vlan to int or str when relevant
  changelogs/fragments/38398-vmware_guest_typecast_vlan.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.5, backport, bug, cloud, core_review, module, support:community, support:core, vmware

#37438 GCP: Compute Health Checks
  lib/ansible/modules/cloud/google/gcp_compute_health_check.py
  test/integration/targets/gcp_compute_health_check/aliases
  test/integration/targets/gcp_compute_health_check/defaults/main.yml
  test/integration/targets/gcp_compute_health_check/meta/main.yml
  test/integration/targets/gcp_compute_health_check/tasks/main.yml
Labels: cloud, community_review, gce, module, new_module, new_plugin, support:community, test

#38437 Update call method for parse_cli_textfsm
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: docs, docsite_pr, networking, new_contributor, support:core

#39762 Use updated task, instead of original, non-merged included_file._task
  changelogs/fragments/includes.yaml
  lib/ansible/plugins/strategy/linear.py
Labels: bug, needs_revision, support:core

#39766 Backport #39764 for 2.5 - async_status environment
  changelogs/fragments/async_status_env.yaml
  lib/ansible/executor/task_executor.py
Labels: affects_2.5, backport, bug, support:core

#39730 facts: Detecting NVME partitions under Linux
  lib/ansible/module_utils/facts/hardware/linux.py
Labels: bug, needs_revision, support:core

#39805 Pass obj=data to AnsibleParserError for context in IncludeRole
  lib/ansible/playbook/role_include.py
Labels: bug, support:core

#39811 Use a more exact regex
  lib/ansible/module_utils/facts/hardware/linux.py
Labels: bug, needs_revision, needs_triage, support:core

#39815 Restore nuage_vspk integration tests.
  test/integration/targets/nuage_vspk/aliases
  test/integration/targets/nuage_vspk/tasks/main.yml
  test/integration/targets/prepare_nuage_tests/tasks/main.yml
Labels: affects_2.5, backport, bug, support:community, test

#39814 Broken link to MSDN
  lib/ansible/modules/windows/win_acl.py
Labels: core_review, feature, module, needs_triage, new_contributor, support:core, windows

#39807 Add IncludeRole.get_name to provide better name for include_role
  lib/ansible/playbook/role_include.py
Labels: bug, needs_triage, support:core

#39818 Update vars for loop_control on each loop iteration (fixes #38899)
  lib/ansible/executor/task_executor.py
Labels: bug, support:core

#39824 Backport #39818 to stable-2.5
  changelogs/fragments/39818-loop_control_task_vars.yaml
  lib/ansible/executor/task_executor.py
Labels: affects_2.5, backport, bug, support:core

#31746 allow become methods for Jail connection plugin
  lib/ansible/plugins/connection/jail.py
Labels: affects_2.5, feature, plugins/connection, stale_ci, support:core

#37511 fix 'doas' become_method support, previously committed patch not submitted to devel branch
  lib/ansible/playbook/play_context.py
  test/units/playbook/test_play_context.py
Labels: bug, new_contributor, stale_ci, support:core, test

#39836 Add ARA Records Ansible to community tools
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: docs, support:core

#38368 azure: fix creation of TXT dns record sets
  lib/ansible/modules/cloud/azure/azure_rm_dnsrecordset.py
  test/integration/targets/azure_rm_dnsrecordset/tasks/main.yml
Labels: azure, bug, cloud, module, new_contributor, shipit, support:community, test

#39755 Backport release_and_maintenance.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  packaging/release/vars/versions.yml
Labels: affects_2.5, backport, docs, support:core

#39827 Update call method for parse_cli_textfsm (#38437)
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.5, backport, docs, networking, support:core

#39741 Fetch ios default config is defaults is enabled
  lib/ansible/modules/network/ios/ios_config.py
Labels: bug, core_review, module, networking, support:network

#39673 Handling of configurations blocks with end-* at the end of the block
  lib/ansible/modules/network/iosxr/iosxr_config.py
  test/integration/targets/iosxr_config/templates/basic/change_prefix_set.j2
  test/integration/targets/iosxr_config/templates/basic/init_prefix_set.j2
  test/integration/targets/iosxr_config/tests/cli/misplaced_sublevel.yaml
Labels: bug, core_review, module, networking, support:network, test

#39841 Fetch ios default config is defaults is enabled (#39741)
  changelogs/fragments/ios_defaults_fetch.yaml
  lib/ansible/modules/network/ios/ios_config.py
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network

#39591 nxos_linkagg normalize interface
  lib/ansible/modules/network/nxos/nxos_linkagg.py
Labels: bug, core_review, module, networking, nxos, owner_pr, support:network

#39820 hashicorp vault lookup make it work with : in secret name
  lib/ansible/plugins/lookup/hashi_vault.py
Labels: bug, feature, needs_triage, new_contributor, support:core

#39843 Handling of configurations blocks with end-* at the end of the block
  changelogs/fragments/iosxr_config_crash.yaml
  lib/ansible/modules/network/iosxr/iosxr_config.py
  test/integration/targets/iosxr_config/templates/basic/change_prefix_set.j2
  test/integration/targets/iosxr_config/templates/basic/init_prefix_set.j2
  test/integration/targets/iosxr_config/tests/cli/misplaced_sublevel.yaml
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, networking, support:core, support:network, test

#39760 fix nxos_snmp_user issues
  lib/ansible/modules/network/nxos/nxos_snmp_user.py
  test/integration/targets/nxos_snmp_user/tests/common/sanity.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#39845 nxos and ios bugfix stable-2.5
  changelogs/fragments/ios_l2_interface_fix.yaml
  changelogs/fragments/nxos_bugfixes.yaml
  lib/ansible/modules/network/ios/ios_l2_interface.py
  lib/ansible/modules/network/nxos/nxos_linkagg.py
  lib/ansible/modules/network/nxos/nxos_snmp_user.py
  test/integration/targets/nxos_snmp_user/tests/common/sanity.yaml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.5, backport, bug, module, needs_revision, networking, nxos, support:core, support:network, test

#39823 fix 'ipmi' typo
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: docs, new_contributor, support:core

#39816 Renaming letsencrypt -> acme_certificate.
  .github/BOTMETA.yml
  lib/ansible/modules/web_infrastructure/_letsencrypt.py
  lib/ansible/modules/web_infrastructure/acme_certificate.py
Labels: bug, module, needs_triage, new_module, shipit, support:community, support:core

#39847 show version brief does not work on iosxr virtual
  changelogs/fragments/iosxr_show_version_brief.yaml
  lib/ansible/modules/network/iosxr/iosxr_facts.py
  lib/ansible/plugins/cliconf/iosxr.py
  test/units/modules/network/iosxr/fixtures/show_version___utility_head_-n_20
  test/units/modules/network/iosxr/test_iosxr_facts.py
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, networking, support:core, support:network, test

#39355 nxos enable mode
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/plugins/action/nxos.py
  lib/ansible/plugins/terminal/nxos.py
  test/integration/targets/nxos_become/defaults/main.yaml
  test/integration/targets/nxos_become/meta/main.yml
  test/integration/targets/nxos_become/tasks/cli.yaml
  test/integration/targets/nxos_become/tasks/main.yaml
  test/integration/targets/nxos_become/tasks/nxapi.yaml
  test/integration/targets/nxos_become/tests/cli/sanity.yaml
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
Labels: bug, networking, nxos, support:community, support:core, test
