Repository ansible/ansible, pull requests merged in 2018-03, with the labels that each got.

#36604 Adds the ability to override the doc build output directory from the command line.
  docs/docsite/Makefile
  docs/docsite/Makefile.sphinx
Labels: docs_pull_request, feature_pull_request, support:core

#36887 Convert key to snake. Fixes #36845.
  lib/ansible/module_utils/k8s/common.py
Labels: affects_2.5, backport, bugfix_pull_request, needs_triage, support:core

#36810 Include Digital Ocean Token Alias
  lib/ansible/module_utils/digital_ocean.py
  lib/ansible/utils/module_docs_fragments/digital_ocean.py
Labels: bugfix_pull_request, support:core

#36827 Fix nxos_interface multiple issues
  lib/ansible/modules/network/nxos/nxos_interface.py
  test/units/modules/network/nxos/fixtures/nxos_interface/show_interface
  test/units/modules/network/nxos/fixtures/nxos_interface/show_interface_Ethernet2_1
  test/units/modules/network/nxos/fixtures/nxos_interface/show_run_interface_Ethernet2_1
  test/units/modules/network/nxos/test_nxos_interface.py
Labels: affects_2.5, bugfix_pull_request, core_review, module, networking, nxos, support:core, support:network, test

#36891 Fix nxos_interface multiple issues (#36827)
  lib/ansible/modules/network/nxos/nxos_interface.py
  test/units/modules/network/nxos/fixtures/nxos_interface/show_interface
  test/units/modules/network/nxos/fixtures/nxos_interface/show_interface_Ethernet2_1
  test/units/modules/network/nxos/fixtures/nxos_interface/show_run_interface_Ethernet2_1
  test/units/modules/network/nxos/test_nxos_interface.py
Labels: affects_2.5, backport, core_review, module, needs_triage, networking, nxos, support:core, support:network, test

#36782 Fix junos_command py3 related issues
  lib/ansible/module_utils/network/common/netconf.py
  lib/ansible/modules/network/junos/junos_command.py
  lib/ansible/plugins/netconf/__init__.py
  lib/ansible/plugins/netconf/junos.py
Labels: bugfix_pull_request, core_review, module, networking, python3, support:core, support:network

#36894 corrected typo in documentation examples
  lib/ansible/modules/windows/win_find.py
Labels: community_review, feature_pull_request, module, needs_triage, new_contributor, support:community, windows

#36895 Fix junos_command py3 related issues (#36782)
  lib/ansible/module_utils/network/common/netconf.py
  lib/ansible/modules/network/junos/junos_command.py
  lib/ansible/plugins/netconf/__init__.py
  lib/ansible/plugins/netconf/junos.py
Labels: affects_2.5, backport, bugfix_pull_request, core_review, module, networking, python3, support:core, support:network

#36896 Fix eos_vrf integration test failures (#36893)
  test/integration/targets/eos_vrf/tests/cli/basic.yaml
Labels: affects_2.5, backport, bug_report, support:network, test

#36899 Network Platform docs (#36814)
  docs/docsite/rst/network/index.rst
  docs/docsite/rst/network/user_guide/platform_eos.rst
  docs/docsite/rst/network/user_guide/platform_index.rst
  docs/docsite/rst/network/user_guide/platform_ios.rst
  docs/docsite/rst/network/user_guide/platform_junos.rst
  docs/docsite/rst/network/user_guide/platform_nxos.rst
  docs/docsite/rst/network/user_guide/shared_snippets/SSH_warning.rst
Labels: affects_2.5, backport, docs, feature_pull_request, needs_triage, networking, support:core

#36073 Allow inversion of uid_owner match in iptables module
  lib/ansible/modules/system/iptables.py
Labels: core_review, module, new_contributor, support:core

#35504 vsphere_guest: Allow configuration of manual mac address
  lib/ansible/modules/cloud/vmware/_vsphere_guest.py
Labels: cloud, community_review, deprecated, feature_pull_request, module, new_contributor, support:community, vmware

#36904 Convert key to snake. Fixes #36845. (#36887)
  lib/ansible/module_utils/k8s/common.py
Labels: bug, needs_revision, needs_triage, support:core

#36908 properly detect the absence of credential_type in older tower-cli
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py
Labels: automerge, bug, module, shipit, support:community

#36911 Skip top level args that are the same as args in provider in doc<->arg_spec comparisons
  test/sanity/validate-modules/ignore.txt
  test/sanity/validate-modules/main.py
Labels: bug, support:core, test

#36819 map network_os to ncclient device_params
  lib/ansible/plugins/connection/netconf.py
Labels: bug, bugfix_pull_request, networking, support:core

#36913 map network_os to ncclient device_params (#36819)
  lib/ansible/plugins/connection/netconf.py
Labels: affects_2.5, backport, bug, networking, support:core

#36879 Add variables and variable_file in terraform module
  lib/ansible/modules/cloud/misc/terraform.py
Labels: bug, bugfix_pull_request, cloud, community_review, module, new_contributor, support:community

#36912 Add more maintainers to team_tower
  .github/BOTMETA.yml
Labels: needs_triage, support:core

#36917 properly pass /api/v1/ credential fields for older Towers
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py
Labels: bug, community_review, module, support:community

#36921 [ec2_vpc_peer] only create tags if tags are provided - fixes #36108
  lib/ansible/modules/cloud/amazon/ec2_vpc_peer.py
Labels: aws, bug, cloud, committer_review, module, support:certified

#36807 Cherry pick Tower credential fixes to stable-2.4
  CHANGELOG.md
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py
Labels: affects_2.4, backport, bug, bugfix_pull_request, module, support:community, support:core

#36873 Clean up VMware BOTMETA and author/license info
  .github/BOTMETA.yml
  lib/ansible/modules/cloud/vmware/_vsphere_guest.py
  lib/ansible/modules/cloud/vmware/vca_fw.py
  lib/ansible/modules/cloud/vmware/vca_nat.py
  lib/ansible/modules/cloud/vmware/vca_vapp.py
  lib/ansible/modules/cloud/vmware/vcenter_folder.py
  lib/ansible/modules/cloud/vmware/vcenter_license.py
  lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py
  lib/ansible/modules/cloud/vmware/vmware_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_datacenter.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_facts.py
  lib/ansible/modules/cloud/vmware/vmware_dns_config.py
  lib/ansible/modules/cloud/vmware/vmware_drs_rule_facts.py
  lib/ansible/modules/cloud/vmware/vmware_dvs_host.py
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
  lib/ansible/modules/cloud/vmware/vmware_dvswitch.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  lib/ansible/modules/cloud/vmware/vmware_guest_disk_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_file_operation.py
  lib/ansible/modules/cloud/vmware/vmware_guest_find.py
  lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
  lib/ansible/modules/cloud/vmware/vmware_host.py
  lib/ansible/modules/cloud/vmware/vmware_host_acceptance.py
  lib/ansible/modules/cloud/vmware/vmware_host_capability_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_config_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_datastore.py
  lib/ansible/modules/cloud/vmware/vmware_host_dns_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_lockdown.py
  lib/ansible/modules/cloud/vmware/vmware_host_ntp.py
  lib/ansible/modules/cloud/vmware/vmware_host_package_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_service_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_service_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_vmnic_facts.py
  lib/ansible/modules/cloud/vmware/vmware_local_role_manager.py
  lib/ansible/modules/cloud/vmware/vmware_local_user_manager.py
  lib/ansible/modules/cloud/vmware/vmware_maintenancemode.py
  lib/ansible/modules/cloud/vmware/vmware_migrate_vmk.py
  lib/ansible/modules/cloud/vmware/vmware_portgroup.py
  lib/ansible/modules/cloud/vmware/vmware_resource_pool.py
  lib/ansible/modules/cloud/vmware/vmware_target_canonical_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vm_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vm_shell.py
  lib/ansible/modules/cloud/vmware/vmware_vm_vm_drs_rule.py
  lib/ansible/modules/cloud/vmware/vmware_vm_vss_dvs_migrate.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel_ip_config.py
  lib/ansible/modules/cloud/vmware/vmware_vmotion.py
  lib/ansible/modules/cloud/vmware/vmware_vsan_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_vswitch.py
  lib/ansible/modules/cloud/vmware/vsphere_copy.py
Labels: feature, feature_pull_request, needs_rebase, needs_revision, vmware

#36834 Additions to AWS Module Guidlines from Pull Request Feedback
  lib/ansible/module_utils/aws/core.py
  lib/ansible/modules/cloud/amazon/GUIDELINES.md
Labels: aws, cloud, core_review, docs, module, needs_maintainer, support:community, support:core

#36903 eos_static_route fix
  lib/ansible/modules/network/eos/eos_static_route.py
Labels: bug, core_review, module, networking, owner_pr, support:network

#36934 Enable eapi integration test for eos modules
  test/integration/targets/eos_interface/tasks/main.yaml
  test/integration/targets/eos_l2_interface/tasks/main.yaml
  test/integration/targets/eos_l3_interface/tasks/main.yaml
  test/integration/targets/eos_lldp/tasks/main.yaml
  test/integration/targets/eos_logging/tasks/main.yaml
  test/integration/targets/eos_user/tasks/main.yaml
Labels: bug, support:network, test

#36935 Enable eapi integration test for eos modules (#36934)
  test/integration/targets/eos_interface/tasks/main.yaml
  test/integration/targets/eos_l2_interface/tasks/main.yaml
  test/integration/targets/eos_l3_interface/tasks/main.yaml
  test/integration/targets/eos_lldp/tasks/main.yaml
  test/integration/targets/eos_logging/tasks/main.yaml
  test/integration/targets/eos_user/tasks/main.yaml
Labels: affects_2.5, backport, bug, support:network, test

#36380 Reversed orser of icmp_type and icmp_code per bug 36378
  lib/ansible/modules/cloud/amazon/ec2_vpc_nacl.py
Labels: aws, cloud, committer_review, docs, module, stale_ci, support:certified

#36663 Use Tower v2 API when available, falling back to v1 where necessary
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: aws, cloud, community_review, feature, module, owner_pr, support:community

#36436 VMware: new module : vmware_datastore_maintenancemode
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_maintenancemode.py
  test/integration/targets/vmware_datastore_maintenancemode/aliases
  test/integration/targets/vmware_datastore_maintenancemode/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, test, vmware

#36763 Remove old boto documentation and promote AnsibleAWSModule
  lib/ansible/modules/cloud/amazon/GUIDELINES.md
Labels: automerge, aws, cloud, docs, module, needs_maintainer, shipit, support:community

#36767 Enforce required parameters for the various aws_s3 modes
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: aws, bug, cloud, core_review, module, support:core

#36949 updated api example
  docs/docsite/rst/dev_guide/developing_api.rst
Labels: docs, support:core

#36965 New module: digital_ocean_tag_facts
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_tag_facts.py
Labels: cloud, digital_ocean, module, new_module, new_plugin, shipit, support:community

#36966 New module: digital_ocean_load_balancer_facts
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_load_balancer_facts.py
Labels: cloud, digital_ocean, module, new_module, new_plugin, shipit, support:community

#36968 Digital Ocean SSH keys error while decoding Base64.
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_sshkey.py
Labels: automerge, bug, cloud, digital_ocean, module, owner_pr, python3, shipit, support:community

#36486 Fixes #36483 Assume firewall is offline on DBUS_ERROR during init
  lib/ansible/modules/system/firewalld.py
Labels: bug, community_review, module, new_contributor, stale_ci, support:community

#35897 New module: digital_ocean_snapshot_facts
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_snapshot_facts.py
Labels: cloud, digital_ocean, module, new_module, new_plugin, shipit, support:community

#36964 VMware: Refactor vmware_target_canonical_facts
  CHANGELOG.md
  lib/ansible/modules/cloud/vmware/vmware_target_canonical_facts.py
  test/integration/targets/vmware_target_canonical_facts/aliases
  test/integration/targets/vmware_target_canonical_facts/tasks/main.yml
Labels: bug, cloud, module, shipit, support:community, support:core, test, vmware

#36993 cs_zone_facts: implement return facts as ansible returns
  lib/ansible/module_utils/cloudstack.py
  lib/ansible/modules/cloud/cloudstack/cs_zone_facts.py
  test/integration/targets/cs_zone_facts/tasks/main.yml
Labels: cloud, cloudstack, core_review, feature, module, needs_triage, support:community, support:core, test

#36569 Fixes #36568 - Fixes issue in handling error codes thrown on dellos6 devices.
  lib/ansible/plugins/terminal/dellos6.py
Labels: bug, support:core

#36971 fixes cliconf and netconf plugin loaders
  lib/ansible/config/base.yml
  lib/ansible/plugins/loader.py
Labels: needs_triage, support:core

#36249 Move _start_connection() to module_utils/connection and fix Popen() call
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/persistent.py
Labels: bug, networking, support:core

#35912 ios_static_route idempotence fix
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/modules/network/ios/ios_static_route.py
  lib/ansible/plugins/cliconf/ios.py
  test/integration/targets/ios_static_route/tests/cli/basic.yaml
  test/integration/targets/ios_static_route/tests/cli/net_static_route.yaml
Labels: bug, core_review, module, networking, stale_ci, support:core, support:network, test

#36907 Backport/2.5/multiple docs
  docs/bin/plugin_formatter.py
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/_themes/sphinx_rtd_theme/footer.html
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
  docs/docsite/_themes/srtd/breadcrumbs.html
  docs/docsite/_themes/srtd/footer.html
  docs/docsite/_themes/srtd/static/css/theme.css
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/index.rst
  docs/docsite/rst/network/index.rst
  docs/docsite/rst/network/user_guide/network_best_practices_2.5.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
  docs/docsite/rst/user_guide/playbooks_environment.rst
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
  docs/docsite/rst/user_guide/playbooks_vault.rst
  docs/docsite/rst/user_guide/vault.rst
  docs/templates/list_of_CATEGORY_modules.rst.j2
  docs/templates/list_of_CATEGORY_plugins.rst.j2
  docs/templates/plugin.rst.j2
Labels: aci, affects_2.5, backport, docs, networking, support:core

#37005 Move _start_connection() to module_utils/connection and fix Popen() c…
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/persistent.py
Labels: affects_2.5, backport, bug, networking, support:core

#37009 Ability to link to other pages from plugin docs
  docs/bin/plugin_formatter.py
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: docs, support:core

#37012 ios_static_route idempotence fix (#35912)
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/modules/network/ios/ios_static_route.py
  lib/ansible/plugins/cliconf/ios.py
  test/integration/targets/ios_static_route/tests/cli/basic.yaml
  test/integration/targets/ios_static_route/tests/cli/net_static_route.yaml
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network, test

#36996 Add function for initializing modules and providers
  lib/ansible/modules/cloud/misc/terraform.py
  test/sanity/validate-modules/ignore.txt
Labels: bug, cloud, module, needs_revision, support:community, support:core, test

#24442 ini_file: add allow_no_value param
  lib/ansible/modules/files/ini_file.py
  test/integration/targets/ini_file/tasks/main.yml
Labels: affects_2.4, community_review, feature, module, support:community, test, test_pull_requests

#34887 Fixes commit a28eb94, which broke validate_certs = False for python <…
  lib/ansible/modules/cloud/vmware/_vsphere_guest.py
Labels: affects_2.5, bug, cloud, community_review, deprecated, module, support:community, vmware

#36679 ec2_asg: fix #28087 and #35993
  lib/ansible/modules/cloud/amazon/ec2_asg.py
  test/integration/targets/ec2_asg/tasks/main.yml
Labels: aws, bug, cloud, committer_review, module, new_contributor, support:certified, test

#36952 fix ansible 2.4 python 3 dictionary issue
  CHANGELOG.md
  lib/ansible/plugins/action/eos_config.py
  lib/ansible/plugins/action/ios_config.py
Labels: affects_2.4, backport, bug, networking, python3, support:core

#36737 fix NIOS DNS lookup example
  lib/ansible/plugins/lookup/nios.py
Labels: docs, networking, support:core

#36999 Fix issue-32019: [Python 3] znode fails to create node (It uses string value instead of bytes value)
  lib/ansible/modules/clustering/znode.py
Labels: bug, community_review, module, new_contributor, python3, support:community

#37035 Python3 issues in maven_artifact
  lib/ansible/modules/packaging/language/maven_artifact.py
Labels: bug, community_review, module, needs_triage, python3, support:community

#37038 Bkprt py3 znode
  changelogs/fragments/py3-znode.yaml
  lib/ansible/modules/clustering/znode.py
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, python3, support:community, support:core

#37028 Added variables to terraform destroy command
  lib/ansible/modules/cloud/misc/terraform.py
Labels: bug, cloud, community_review, module, support:community

#36922 Route custom waiter
  lib/ansible/module_utils/aws/waiters.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py
Labels: aws, cloud, core_review, feature, module, support:certified, support:core

#37027 Make use of named links in documentation notes
  docs/docsite/rst/scenario_guides/guide_aci.rst
  lib/ansible/modules/network/aci/aci_aaa_user.py
  lib/ansible/modules/network/aci/aci_aaa_user_certificate.py
  lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_aep.py
  lib/ansible/modules/network/aci/aci_aep_to_domain.py
  lib/ansible/modules/network/aci/aci_ap.py
  lib/ansible/modules/network/aci/aci_bd.py
  lib/ansible/modules/network/aci/aci_bd_subnet.py
  lib/ansible/modules/network/aci/aci_bd_to_l3out.py
  lib/ansible/modules/network/aci/aci_config_rollback.py
  lib/ansible/modules/network/aci/aci_config_snapshot.py
  lib/ansible/modules/network/aci/aci_contract.py
  lib/ansible/modules/network/aci/aci_contract_subject.py
  lib/ansible/modules/network/aci/aci_contract_subject_to_filter.py
  lib/ansible/modules/network/aci/aci_domain.py
  lib/ansible/modules/network/aci/aci_domain_to_encap_pool.py
  lib/ansible/modules/network/aci/aci_domain_to_vlan_pool.py
  lib/ansible/modules/network/aci/aci_encap_pool.py
  lib/ansible/modules/network/aci/aci_encap_pool_range.py
  lib/ansible/modules/network/aci/aci_epg.py
  lib/ansible/modules/network/aci/aci_epg_monitoring_policy.py
  lib/ansible/modules/network/aci/aci_epg_to_contract.py
  lib/ansible/modules/network/aci/aci_epg_to_domain.py
  lib/ansible/modules/network/aci/aci_fabric_node.py
  lib/ansible/modules/network/aci/aci_filter.py
  lib/ansible/modules/network/aci/aci_filter_entry.py
  lib/ansible/modules/network/aci/aci_firmware_source.py
  lib/ansible/modules/network/aci/aci_interface_policy_fc.py
  lib/ansible/modules/network/aci/aci_interface_policy_l2.py
  lib/ansible/modules/network/aci/aci_interface_policy_leaf_policy_group.py
  lib/ansible/modules/network/aci/aci_interface_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_interface_policy_lldp.py
  lib/ansible/modules/network/aci/aci_interface_policy_mcp.py
  lib/ansible/modules/network/aci/aci_interface_policy_port_channel.py
  lib/ansible/modules/network/aci/aci_interface_policy_port_security.py
  lib/ansible/modules/network/aci/aci_interface_selector_to_switch_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_l3out_route_tag_policy.py
  lib/ansible/modules/network/aci/aci_rest.py
  lib/ansible/modules/network/aci/aci_static_binding_to_epg.py
  lib/ansible/modules/network/aci/aci_switch_leaf_selector.py
  lib/ansible/modules/network/aci/aci_switch_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_switch_policy_vpc_protection_group.py
  lib/ansible/modules/network/aci/aci_taboo_contract.py
  lib/ansible/modules/network/aci/aci_tenant.py
  lib/ansible/modules/network/aci/aci_tenant_action_rule_profile.py
  lib/ansible/modules/network/aci/aci_tenant_ep_retention_policy.py
  lib/ansible/modules/network/aci/aci_tenant_span_dst_group.py
  lib/ansible/modules/network/aci/aci_tenant_span_src_group.py
  lib/ansible/modules/network/aci/aci_tenant_span_src_group_to_dst_group.py
  lib/ansible/modules/network/aci/aci_vlan_pool.py
  lib/ansible/modules/network/aci/aci_vlan_pool_encap_block.py
  lib/ansible/modules/network/aci/aci_vrf.py
  lib/ansible/utils/module_docs_fragments/aci.py
Labels: aci, docs, needs_rebase, needs_revision

#37023 Remove Sphinx/Read-the-Docs plug on every doc page
  docs/docsite/_themes/sphinx_rtd_theme/footer.html
Labels: docs, docs_pull_request, support:core

#37041 Bkprt py3 maven artifact
  changelogs/fragments/py3-maven_artifact.yaml
  lib/ansible/modules/packaging/language/maven_artifact.py
Labels: affects_2.5, backport, bug, core_review, module, python3, support:community, support:core

#37020 Fix eos integration test failures
  lib/ansible/modules/network/eos/eos_interface.py
  lib/ansible/modules/network/eos/eos_lldp.py
  test/integration/targets/eos_facts/tests/eapi/all_facts.yaml
  test/integration/targets/eos_interface/tests/eapi/intent.yaml
  test/integration/targets/eos_l3_interface/tests/cli/basic.yaml
  test/integration/targets/eos_l3_interface/tests/eapi/basic.yaml
Labels: bug, core_review, module, networking, support:network, test

#37017 Fix n3k separate to combined image upgrade
  lib/ansible/modules/network/nxos/nxos_install_os.py
Labels: bug, core_review, module, networking, nxos, owner_pr, support:network

#37054 Fix eos integration test failures (#37020)
  lib/ansible/modules/network/eos/eos_interface.py
  lib/ansible/modules/network/eos/eos_lldp.py
  test/integration/targets/eos_facts/tests/eapi/all_facts.yaml
  test/integration/targets/eos_interface/tests/eapi/intent.yaml
  test/integration/targets/eos_l3_interface/tests/cli/basic.yaml
  test/integration/targets/eos_l3_interface/tests/eapi/basic.yaml
Labels: affects_2.5, backport, bug, core_review, module, networking, support:network, test

#37055 Fix n3k separate to combined image upgrade (#37017)
  lib/ansible/modules/network/nxos/nxos_install_os.py
Labels: affects_2.5, backport, core_review, module, needs_triage, networking, nxos, owner_pr, support:network

#36930 fix nxos_vrrp issues
  lib/ansible/modules/network/nxos/nxos_vrrp.py
  test/integration/targets/nxos_vrrp/tests/common/sanity.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#36633 filesystem: fix documentation (#36556)
  lib/ansible/modules/system/filesystem.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.5, backport, core_review, feature, module, support:community, support:core, test

#37057 Link to new network platform pages
  docs/docsite/rst/network/getting_started/network_differences.rst
  docs/docsite/rst/network/user_guide/network_best_practices_2.5.rst
Labels: docs, networking

#36943 Improve module docs return values
  docs/docsite/_themes/sphinx_rtd_theme/footer.html
  docs/templates/plugin.rst.j2
Labels: docs, feature, support:core

#37064 remove unused tx_rate and rx_rate from vyos_interface (#37062)
  lib/ansible/modules/network/vyos/vyos_interface.py
Labels: affects_2.5, backport, module, needs_info, needs_template, networking, support:network

#37033 Network modules to link to network guide
  lib/ansible/modules/network/eos/eos_interface.py
  lib/ansible/modules/network/interface/net_interface.py
  lib/ansible/modules/network/ios/ios_interface.py
  lib/ansible/modules/network/iosxr/iosxr_interface.py
  lib/ansible/modules/network/junos/junos_interface.py
  lib/ansible/modules/network/nxos/nxos_interface.py
  lib/ansible/modules/network/onyx/onyx_interface.py
  lib/ansible/utils/module_docs_fragments/asa.py
  lib/ansible/utils/module_docs_fragments/eos.py
  lib/ansible/utils/module_docs_fragments/ios.py
  lib/ansible/utils/module_docs_fragments/iosxr.py
  lib/ansible/utils/module_docs_fragments/junos.py
  lib/ansible/utils/module_docs_fragments/nxos.py
  lib/ansible/utils/module_docs_fragments/vyos.py
Labels: bug, docs, module, needs_revision, networking, nxos, support:community, support:core, support:network

#36973 Add compatibility for docker-py version 3
  lib/ansible/module_utils/docker_common.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: bug, cloud, core_review, docker, module, new_contributor, python3, support:community, support:core

#37071 Add compatibility for docker-py version 3 (#36973)
  lib/ansible/module_utils/docker_common.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: affects_2.5, backport, cloud, core_review, docker, module, needs_triage, support:community, support:core

#37069 Network modules to link to network guide (#37033)
  lib/ansible/modules/network/eos/eos_interface.py
  lib/ansible/modules/network/interface/net_interface.py
  lib/ansible/modules/network/ios/ios_interface.py
  lib/ansible/modules/network/iosxr/iosxr_interface.py
  lib/ansible/modules/network/junos/junos_interface.py
  lib/ansible/modules/network/nxos/nxos_interface.py
  lib/ansible/modules/network/onyx/onyx_interface.py
  lib/ansible/utils/module_docs_fragments/asa.py
  lib/ansible/utils/module_docs_fragments/eos.py
  lib/ansible/utils/module_docs_fragments/ios.py
  lib/ansible/utils/module_docs_fragments/iosxr.py
  lib/ansible/utils/module_docs_fragments/junos.py
  lib/ansible/utils/module_docs_fragments/nxos.py
  lib/ansible/utils/module_docs_fragments/vyos.py
Labels: affects_2.5, backport, core_review, docs, module, networking, nxos, support:community, support:core, support:network

#34847 Fix consul module service deregistration
  lib/ansible/modules/clustering/consul.py
Labels: affects_2.5, bug, community_review, module, support:community

#37081 botmeta: new cloudstack maintainer
  .github/BOTMETA.yml
Labels: docs, needs_triage, support:core

#36840 Lenovo license update
  lib/ansible/modules/network/enos/enos_command.py
  lib/ansible/modules/network/enos/enos_config.py
  lib/ansible/modules/network/enos/enos_facts.py
  lib/ansible/plugins/action/enos.py
  lib/ansible/plugins/action/enos_config.py
  lib/ansible/plugins/cliconf/enos.py
  lib/ansible/plugins/terminal/enos.py
  lib/ansible/utils/module_docs_fragments/enos.py
Labels: module, networking, shipit, support:community, support:core

#37084 Fix side-effect of flags being passed to ios get_config again
  lib/ansible/plugins/cliconf/ios.py
Labels: bug, networking, support:core

#37077 letsencrypt: add new param force
  lib/ansible/modules/web_infrastructure/letsencrypt.py
  test/sanity/validate-modules/ignore.txt
Labels: feature, module, shipit, support:community, support:core, test

#36888 Win lineinfix fix
  changelogs/fragments/win_lineinfile_newlines.yaml
  lib/ansible/modules/windows/win_lineinfile.ps1
  lib/ansible/modules/windows/win_lineinfile.py
  test/integration/targets/win_lineinfile/files/test_linebreak.txt
  test/integration/targets/win_lineinfile/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, module, support:community, support:core, test, windows

#36762 win_wait_for: use loopback IP instead of hostname if 127.0.0.1 is used
  lib/ansible/modules/windows/win_wait_for.ps1
Labels: bug, community_review, module, owner_pr, support:community, windows

#37093 win_wait_for: fix local port check on port not accessible externally
  changelogs/fragments/win_wait_for-local-port-fix.yaml
  lib/ansible/modules/windows/win_wait_for.ps1
Labels: affects_2.5, backport, bug, core_review, module, support:community, support:core, windows

#37085 Fix side-effect of flags being passed to ios get_config again
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.5, backport, bug, networking, support:core

#37011 Don't fail on configure in command
  lib/ansible/modules/network/ios/ios_command.py
  test/units/modules/network/ios/test_ios_command.py
Labels: bug, core_review, module, networking, support:core, support:network, test

#37094 Don't fail on configure in command (#37011)
  lib/ansible/modules/network/ios/ios_command.py
  test/units/modules/network/ios/test_ios_command.py
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network, test

#37044 correctly support no_device on ec2_lc
  lib/ansible/modules/cloud/amazon/ec2_lc.py
Labels: affects_2.5, aws, backport, bug, cloud, committer_review, module, new_contributor, support:certified

#33357 allow ANSIBLE_KEEP_REMOTE_FILES for local test runner
  docs/docsite/rst/dev_guide/testing_running_locally.rst
  test/runner/lib/util.py
  test/runner/tox.ini
Labels: affects_2.5, docs, feature, needs_revision, stale_ci, stale_review, support:core, test

#37086 fix nxos_l2_interface tests for fretta
  test/integration/targets/nxos_l2_interface/tests/common/agg.yaml
  test/integration/targets/nxos_l2_interface/tests/common/sanity.yaml
Labels: bug, networking, nxos, support:network, test

#37101 fix nxos_l2_interface tests for fretta (#37086)
  test/integration/targets/nxos_l2_interface/tests/common/agg.yaml
  test/integration/targets/nxos_l2_interface/tests/common/sanity.yaml
Labels: affects_2.5, backport, networking, nxos, support:network, test

#34576 azure_rm_virtualmachine_scaleset: Add reference to VNET resource group
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_scaleset.py
Labels: affects_2.5, automerge, azure, cloud, feature, module, shipit, support:community

#37082 cloudstack: doc: fix common E324
  lib/ansible/utils/module_docs_fragments/cloudstack.py
  test/sanity/validate-modules/ignore.txt
Labels: bug, cloud, cloudstack, support:core, test

#37107 cs_router: fix missing doc
  lib/ansible/modules/cloud/cloudstack/cs_router.py
  test/sanity/validate-modules/ignore.txt
Labels: bug, ci_verified, cloud, cloudstack, module, needs_revision, support:community, support:core, test

#37119 [2.5] cloudstack: fix common E324 in docs (#37082)
  lib/ansible/utils/module_docs_fragments/cloudstack.py
Labels: affects_2.5, backport, docs, needs_triage, support:core

#37095 Having uppercase in the resource_prefix can cause unexpected issues
  test/runner/lib/cloud/__init__.py
Labels: bug, support:core, test

#37118 2.5lenovo license update
  lib/ansible/modules/network/enos/enos_command.py
  lib/ansible/modules/network/enos/enos_config.py
  lib/ansible/modules/network/enos/enos_facts.py
  lib/ansible/plugins/action/enos.py
  lib/ansible/plugins/action/enos_config.py
  lib/ansible/plugins/cliconf/enos.py
  lib/ansible/plugins/terminal/enos.py
  lib/ansible/utils/module_docs_fragments/enos.py
Labels: affects_2.5, backport, core_review, module, networking, support:community, support:core

#35024 webfaction modules: fix broken import
  lib/ansible/modules/cloud/webfaction/webfaction_app.py
  lib/ansible/modules/cloud/webfaction/webfaction_db.py
  lib/ansible/modules/cloud/webfaction/webfaction_domain.py
  lib/ansible/modules/cloud/webfaction/webfaction_mailbox.py
  lib/ansible/modules/cloud/webfaction/webfaction_site.py
  test/sanity/import/skip.txt
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.5, bug, cloud, core_review, module, stale_ci, support:community, support:core, test

#35820 Added missing store regex pattern for prompt found after error
  lib/ansible/plugins/connection/network_cli.py
Labels: bug, networking, stale_ci, support:core

#37075 ovirt_host_networks: Fix idempotency
  lib/ansible/modules/cloud/ovirt/ovirt_host_networks.py
Labels: automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#37099 correctly support no_device on ec2_lc
  lib/ansible/modules/cloud/amazon/ec2_lc.py
Labels: aws, bug, cloud, committer_review, module, new_contributor, support:certified

#36641 route53_zone: move to boto3, and enable comment update
  hacking/aws_config/testing_policies/network-policy.json
  lib/ansible/modules/cloud/amazon/route53_zone.py
  test/integration/targets/route53_zone/aliases
  test/integration/targets/route53_zone/tasks/main.yml
Labels: aws, bug, cloud, feature, module, needs_revision, support:community, support:core, test

#36941 s3_bucket: add integration tests
  hacking/aws_config/testing_policies/storage-policy.json
  test/integration/targets/s3_bucket/aliases
  test/integration/targets/s3_bucket/tasks/main.yml
  test/integration/targets/s3_bucket/templates/policy-updated.json
  test/integration/targets/s3_bucket/templates/policy.json
Labels: cloud, feature, support:core, test

#37126 DigitalOcean: typecast map function for Python3
  lib/ansible/modules/cloud/digital_ocean/digital_ocean.py
Labels: automerge, bug, cloud, digital_ocean, module, python3, shipit, support:community

#37130 Add me as VyOS and EdgeOS maintainer
  .github/BOTMETA.yml
Labels: docs, needs_triage, support:core

#37142 Cleanup and enhancements for ansible-test.
  test/runner/lib/cloud/__init__.py
  test/runner/lib/cloud/azure.py
  test/runner/lib/core_ci.py
  test/runner/lib/executor.py
  test/runner/lib/http.py
  test/runner/lib/manage_ci.py
  test/runner/lib/sanity/pylint.py
  test/runner/lib/util.py
Labels: feature, support:core, test

#37149 Initial Tower module integration test support.
  test/integration/cloud-config-tower.cfg.template
  test/integration/targets/tower_organization/aliases
  test/integration/targets/tower_organization/tasks/main.yml
  test/integration/targets/tower_team/aliases
  test/integration/targets/tower_team/tasks/main.yml
  test/runner/lib/cloud/tower.py
Labels: feature, support:community, support:core, test

#37151 Add ansible-config and ansible-inventory to setup.py scripts
  setup.py
Labels: bug, needs_triage, support:core

#37156 win_uri: backport return value fix for non 200 responses
  changelogs/fragments/win_uri-return-values.yaml
  lib/ansible/modules/windows/win_uri.ps1
  test/integration/targets/win_uri/tasks/test.yml
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:community, support:core, test, windows

#37159 Bkprt unarchive fix
  changelogs/fragments/unarchive-absolute-path.yaml
  lib/ansible/modules/files/unarchive.py
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, support:core, unarchive

#37128 examples fix: mode selection
  lib/ansible/modules/cloud/atomic/atomic_container.py
Labels: automerge, cloud, docs, module, shipit, support:community

#37140 yum is Python 2 only. If Python 3 use dnf
  lib/ansible/modules/packaging/os/yum.py
Labels: bug, core_review, module, python3, support:core

#37172 yum is Python 2 only. If Python 3 use dnf (#37140)
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.5, backport, module, needs_info, needs_template, needs_triage, python3, support:core

#37173 yum is Python 2 only. If Python 3 use dnf (#37140)
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.4, backport, module, needs_info, needs_template, needs_triage, python3, support:core

#37143 cs_instance: fix error when state destroyed but querying user_data
  lib/ansible/modules/cloud/cloudstack/cs_instance.py
Labels: bug, cloud, cloudstack, community_review, module, needs_triage, owner_pr, support:community

#37175 [2.5] cs_instance: fix error when state destroyed but querying user_data
  lib/ansible/modules/cloud/cloudstack/cs_instance.py
Labels: affects_2.5, backport, bug, cloud, cloudstack, community_review, module, needs_triage, owner_pr, support:community

#37108 Update developing_api.rst
  docs/docsite/rst/dev_guide/developing_api.rst
Labels: docs, needs_triage, support:core

#35956 ovirt_hosts: Add option to choose to reboot the host
  lib/ansible/modules/cloud/ovirt/ovirt_hosts.py
Labels: automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#37179 2.5network changelog
  changelogs/fragments/network_changes.yaml
Labels: affects_2.5, backport, bug, needs_triage, support:core

#37180 fix nxos_switchport/l2_interface trunk_vlans state absent
  lib/ansible/modules/network/nxos/_nxos_switchport.py
  lib/ansible/modules/network/nxos/nxos_l2_interface.py
  test/integration/targets/nxos_l2_interface/tests/common/sanity.yaml
  test/integration/targets/nxos_switchport/tests/common/sanity.yaml
Labels: bug, core_review, deprecated, module, networking, nxos, support:community, support:network, test

#37181 fix nxos_switchport/l2_interface trunk_vlans state absent (#37180)
  lib/ansible/modules/network/nxos/_nxos_switchport.py
  lib/ansible/modules/network/nxos/nxos_l2_interface.py
  test/integration/targets/nxos_l2_interface/tests/common/sanity.yaml
  test/integration/targets/nxos_switchport/tests/common/sanity.yaml
Labels: affects_2.5, backport, core_review, deprecated, module, networking, nxos, support:community, support:network, test

#37165 Using correct content type (as per version 10 of ACME draft).
  lib/ansible/modules/web_infrastructure/letsencrypt.py
Labels: automerge, bug, module, owner_pr, shipit, support:community

#37171 vr_server: fix base64 encoding with py3
  lib/ansible/module_utils/vultr.py
  lib/ansible/modules/cloud/vultr/vr_server.py
Labels: bug, cloud, core_review, module, needs_triage, python3, support:community, support:core

#37139 fix NIOS DNS lookup example (#36737)
  lib/ansible/plugins/lookup/nios.py
Labels: affects_2.5, backport, docs, needs_triage, networking, support:core

#37190 Using correct content type (as per version 10 of ACME draft). (#37165)
  lib/ansible/modules/web_infrastructure/letsencrypt.py
Labels: affects_2.5, backport, bug, community_review, module, needs_triage, owner_pr, support:community

#37135 cs_instance: fix py3 user_data base64
  lib/ansible/modules/cloud/cloudstack/cs_instance.py
  test/integration/targets/cs_instance/tasks/present.yml
Labels: bug, cloud, cloudstack, community_review, module, needs_triage, python3, support:community, test

#36487 VMware: Add missing state param in argument spec
  lib/ansible/modules/cloud/vmware/vmware_host_lockdown.py
Labels: affects_2.5, backport, bug, cloud, community_review, module, stale_ci, support:community, vmware

#36686 Backport #36685 for stable-2.5
  lib/ansible/modules/storage/zfs/zfs.py
Labels: affects_2.5, backport, bug, community_review, module, support:community

#36765 VMware: Re-enable VM poweroff testcases
  test/integration/targets/vmware_guest/tasks/main.yml
  test/integration/targets/vmware_guest/tasks/poweroff_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/poweroff_d1_c1_f1.yml
Labels: affects_2.5, backport, bug, cloud, support:community, test, vmware

#37195 [2.5] vultr: fix py3 compat (#37171)
  lib/ansible/module_utils/vultr.py
  lib/ansible/modules/cloud/vultr/vr_server.py
Labels: affects_2.5, backport, bug, cloud, core_review, module, needs_triage, python3, support:community, support:core

#36901 Improve default values and choices in module docs
  docs/templates/plugin.rst.j2
Labels: docs, feature, needs_revision, support:core

#37129 Ensure the table spans the complete page width
  docs/templates/plugin.rst.j2
Labels: bug, docs, support:core

#37152 In edgeos_config, do not try to add an entry if none exist
  lib/ansible/modules/network/edgeos/edgeos_config.py
  lib/ansible/modules/network/edgeos/edgeos_facts.py
Labels: bug, core_review, module, networking, owner_pr, support:network

#37203 Fixing module docs so they dont show up as a list on ansible docs.
  lib/ansible/modules/network/panos/panos_nat_rule.py
  lib/ansible/modules/network/panos/panos_object.py
Labels: affects_2.4, backport, bug, community_review, module, networking, support:community

#37121 Auto install of python-apt without recommends.
  lib/ansible/modules/packaging/os/apt.py
Labels: bug, core_review, module, new_contributor, python3, support:core

#37218 Fixing module docs so they dont show up as a list on ansible docs.
  lib/ansible/modules/network/panos/panos_nat_rule.py
Labels: affects_2.5, backport, bug, community_review, module, needs_triage, networking, support:community

#37215 win: handle non string as an environment value
  lib/ansible/plugins/shell/powershell.py
  test/integration/targets/win_exec_wrapper/tasks/main.yml
Labels: bug, support:community, support:core, windows

#37223 powershell: backport environment string handler fixes 2.5
  changelogs/fragments/win_environment-stringify-2.5
  lib/ansible/plugins/shell/powershell.py
  test/integration/targets/win_exec_wrapper/tasks/main.yml
Labels: affects_2.5, backport, bug, needs_triage, support:community, support:core, test, windows

#37213 Backport #37152 for 2.5
  changelogs/fragments/edgeos_facts_empty_commit_history.yaml
  lib/ansible/modules/network/edgeos/edgeos_config.py
  lib/ansible/modules/network/edgeos/edgeos_facts.py
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, networking, support:core, support:network

#37225 powershell: backport of environment key and value fix 2.4
  CHANGELOG.md
  lib/ansible/plugins/shell/powershell.py
  test/integration/targets/win_exec_wrapper/aliases
  test/integration/targets/win_exec_wrapper/tasks/main.yml
Labels: affects_2.4, backport, bug, needs_triage, support:community, support:core, test, windows

#37168 DigitalOcean: typecast map function for Python3
  lib/ansible/modules/cloud/digital_ocean/digital_ocean.py
Labels: affects_2.5, backport, bug, cloud, community_review, digital_ocean, module, python3, support:community

#37018 Fixes validate_certs=False for vsphere_guest
  lib/ansible/modules/cloud/vmware/_vsphere_guest.py
Labels: affects_2.5, backport, bug, cloud, community_review, deprecated, module, support:community, vmware

#37226 Porting guide
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: docs, needs_triage, networking, support:core

#33788 Fix the docs link to Ohai in the Ohai module
  lib/ansible/modules/system/ohai.py
Labels: affects_2.5, bug, community_review, module, new_contributor, stale_ci, support:community

#36214 VMware: refactor vmware_datacenter
  lib/ansible/modules/cloud/vmware/vmware_datacenter.py
Labels: bug, cloud, community_review, module, support:community, vmware

#36365 VMware: new module: vmware_datastore_cluster
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_cluster.py
  test/integration/targets/vmware_datastore_cluster/aliases
  test/integration/targets/vmware_datastore_cluster/tasks/main.yml
Labels: cloud, community_review, module, new_module, new_plugin, support:community, test, vmware

#37211 fix nxos_vrf_af issues
  lib/ansible/modules/network/nxos/nxos_vrf_af.py
  test/integration/targets/nxos_vrf_af/tests/common/sanity.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test

#37191 modules: zypper: Optimize the 'search' subcommand
  lib/ansible/modules/packaging/os/zypper.py
Labels: automerge, feature, module, new_contributor, performance, shipit, support:community

#37232 fix required args for nxos_snapshot and docs improvement
  lib/ansible/modules/network/nxos/nxos_snapshot.py
Labels: bug, core_review, module, networking, nxos, owner_pr, support:network

#36789 Add APB role_type to ansible-galaxy init
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/__init__.py
  lib/ansible/galaxy/data/apb/.travis.yml
  lib/ansible/galaxy/data/apb/Dockerfile.j2
  lib/ansible/galaxy/data/apb/Makefile.j2
  lib/ansible/galaxy/data/apb/README.md
  lib/ansible/galaxy/data/apb/apb.yml.j2
  lib/ansible/galaxy/data/apb/defaults/main.yml.j2
  lib/ansible/galaxy/data/apb/files/.git_keep
  lib/ansible/galaxy/data/apb/handlers/main.yml.j2
  lib/ansible/galaxy/data/apb/meta/main.yml.j2
  lib/ansible/galaxy/data/apb/playbooks/deprovision.yml.j2
  lib/ansible/galaxy/data/apb/playbooks/provision.yml.j2
  lib/ansible/galaxy/data/apb/tasks/main.yml.j2
  lib/ansible/galaxy/data/apb/templates/.git_keep
  lib/ansible/galaxy/data/apb/tests/ansible.cfg
  lib/ansible/galaxy/data/apb/tests/inventory
  lib/ansible/galaxy/data/apb/tests/test.yml.j2
  lib/ansible/galaxy/data/apb/vars/main.yml.j2
  lib/ansible/galaxy/data/container/.travis.yml
  lib/ansible/galaxy/data/container/README.md
  lib/ansible/galaxy/data/container/defaults/main.yml.j2
  lib/ansible/galaxy/data/container/files/.git_keep
  lib/ansible/galaxy/data/container/handlers/main.yml.j2
  lib/ansible/galaxy/data/container/meta/container.yml.j2
  lib/ansible/galaxy/data/container/meta/main.yml.j2
  lib/ansible/galaxy/data/container/tasks/main.yml.j2
  lib/ansible/galaxy/data/container/templates/.git_keep
  lib/ansible/galaxy/data/container/tests/ansible.cfg
  lib/ansible/galaxy/data/container/tests/inventory
  lib/ansible/galaxy/data/container/tests/test.yml.j2
  lib/ansible/galaxy/data/container/vars/main.yml.j2
  test/units/cli/test_galaxy.py
Labels: feature, galaxy/, new_contributor, support:core, test

#37248 add nxos_snapshot test for missing required param
  lib/ansible/modules/network/nxos/nxos_snapshot.py
  test/integration/targets/nxos_snapshot/tests/common/sanity.yaml
Labels: bug, core_review, module, networking, nxos, support:network, test
