Repository ansible/ansible, pull requests merged in 2018-07, with the labels that each got.

#42155 Provide a fallback value for all options in 'default' callback plugin
  lib/ansible/plugins/callback/default.py
Labels: affects_2.7, bug, needs_triage, support:core

#42167 acme_certificate: minimize needed information for stage 2
  lib/ansible/modules/web_infrastructure/acme_certificate.py
Labels: affects_2.7, automerge, feature, module, owner_pr, shipit, support:community

#42072 Catch the raised exception so we can report failure
  lib/ansible/module_utils/network/iosxr/iosxr.py
Labels: affects_2.7, feature, networking, small_patch, support:core

#39838 Meraki module utility request() has improved error reporting
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.6, feature, meraki, networking, shipit, support:community

#42088 meraki_vlan - Fix integration tests
  test/integration/targets/meraki_vlan/tasks/main.yml
Labels: affects_2.7, bug, meraki, networking, support:community, test

#41839 Base connection class for network-style connections
  lib/ansible/plugins/connection/__init__.py
  lib/ansible/plugins/connection/httpapi.py
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/connection/network_cli.py
  test/units/plugins/connection/test_netconf.py
  test/units/plugins/connection/test_network_cli.py
Labels: affects_2.7, feature, networking, new_plugin, support:core, test

#42177 Catch the raised exception so we can report failure
  lib/ansible/modules/cloud/amazon/iam_policy.py
Labels: affects_2.7, aws, cloud, community_review, feature, module, small_patch, support:community

#42188 Fix eos integration test failure
  test/integration/targets/eos_config/tests/cli/check_mode.yaml
Labels: affects_2.7, bug, support:network, test

#42183 fix nxos_vxlan_vtep_vni issue
  lib/ansible/modules/network/nxos/nxos_vxlan_vtep_vni.py
Labels: affects_2.7, bug, core_review, module, networking, nxos, owner_pr, support:network

#42187 added description to simple line in file example
  lib/ansible/modules/files/lineinfile.py
Labels: affects_2.7, core_review, docs, module, new_contributor, small_patch, support:core

#41872 clarify module functionality in docstrings
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_domain.py
Labels: affects_2.7, cloud, community_review, digital_ocean, docs, module, new_contributor, support:community

#41841 several FAQ updates and clarifications
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.7, docs, support:core

#42201 Fix galaxy client executing queries with invalid http method
  lib/ansible/galaxy/api.py
Labels: affects_2.7, bug, needs_triage, small_patch, support:core

#42140 [stable-2.4] avoid loading vars on unspecified basedir (cwd) (#42067)
  CHANGELOG.md
  lib/ansible/cli/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.4, backport, bug, needs_triage, support:core

#40372 add support for http2 to AWS ALB
  lib/ansible/module_utils/aws/elbv2.py
  lib/ansible/modules/cloud/amazon/elb_application_lb.py
Labels: affects_2.6, aws, cloud, core_review, feature, module, stale_ci, support:community, support:core

#41817 Enforcing NXAPI default HTTP behavior
  lib/ansible/modules/network/nxos/nxos_nxapi.py
  test/integration/targets/nxos_nxapi/tasks/platform/default/assert_changes.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/default/assert_changes_http.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/default/assert_changes_https.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/default/assert_changes_https_http.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/default/assert_changes_https_http_ports.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n5k/assert_changes_http.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n5k/assert_changes_https.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n5k/assert_changes_https_http.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n5k/assert_changes_https_http_ports.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n7k/assert_changes_http.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n7k/assert_changes_https.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n7k/assert_changes_https_http.yaml
  test/integration/targets/nxos_nxapi/tasks/platform/n7k/assert_changes_https_http_ports.yaml
  test/integration/targets/nxos_nxapi/tests/cli/configure.yaml
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.7, bug, module, needs_revision, networking, new_contributor, nxos, support:community, support:core, support:network, test

#42209 nsupdate.py: Fix typo
  lib/ansible/modules/net_tools/nsupdate.py
Labels: affects_2.7, bug, community_review, module, net_tools, new_contributor, small_patch, support:community

#42156 [2.6] Add CoC and mailing lists links to PYPI
  setup.py
Labels: affects_2.6, backport, feature, small_patch, support:core

#42222 Fix ACI validate-modules issues
  lib/ansible/modules/network/aci/aci_bd_subnet.py
  lib/ansible/modules/network/aci/aci_config_snapshot.py
  lib/ansible/modules/network/aci/aci_epg_to_domain.py
  lib/ansible/modules/network/aci/aci_filter_entry.py
  lib/ansible/modules/network/aci/aci_interface_policy_port_channel.py
  lib/ansible/modules/network/aci/aci_static_binding_to_epg.py
  test/sanity/validate-modules/ignore.txt
Labels: aci, affects_2.7, bug, core_review, module, networking, support:community, support:core, test

#42184 aci_interface_policy_ospf: Create OSPF interface policies
  lib/ansible/modules/network/aci/aci_interface_policy_ospf.py
  test/integration/targets/aci_interface_policy_ospf/aliases
  test/integration/targets/aci_interface_policy_ospf/tasks/main.yml
Labels: aci, affects_2.7, community_review, module, networking, new_module, new_plugin, support:community, test

#42087 Meraki - Change idempotency check to be single pass
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.7, bug, meraki, networking, shipit, support:community

#42085 Meraki utility - Add properties for orgs and nets
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.7, feature, meraki, networking, support:community

#42227 Meraki - Integration tests now clean up on failure
  test/integration/targets/meraki_admin/tasks/main.yml
  test/integration/targets/meraki_network/tasks/main.yml
  test/integration/targets/meraki_vlan/tasks/main.yml
Labels: affects_2.7, bug, meraki, needs_triage, networking, support:community, test

#42232 Udate ini.py with corrected intended use
  lib/ansible/plugins/lookup/ini.py
Labels: affects_2.7, docs, needs_revision, new_contributor, small_patch, support:core

#41790 ovirt_affinity_lables_facts: Raise error when host/vm not found
  lib/ansible/modules/cloud/ovirt/ovirt_affinity_label_facts.py
Labels: affects_2.6, affects_2.7, automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#42089 Refactor nxos cliconf get_device_info and add requirements for JSON structured output support in nxos_facts module
  lib/ansible/modules/network/nxos/nxos_facts.py
  lib/ansible/plugins/cliconf/nxos.py
Labels: affects_2.7, bug, core_review, module, networking, nxos, support:core, support:network

#42240 nxos CI failures bugfix
  lib/ansible/modules/network/nxos/_nxos_portchannel.py
  lib/ansible/modules/network/nxos/_nxos_switchport.py
  lib/ansible/modules/network/nxos/nxos_vxlan_vtep_vni.py
  test/integration/targets/nxos_command/tests/cli/contains.yaml
  test/integration/targets/nxos_command/tests/nxapi/contains.yaml
  test/integration/targets/nxos_portchannel/tests/common/sanity.yaml
  test/integration/targets/nxos_smoke/tests/common/common_config.yaml
Labels: affects_2.7, bug, core_review, deprecated, module, networking, nxos, support:community, support:network, test

#42248 test file required for ios_files net_put tests
  test/integration/targets/ios_file/nonascii.bin
Labels: affects_2.7, bug, needs_triage, support:community, test

#42251 Fix set the correct key option in the docs
  lib/ansible/modules/cloud/vmware/vmware_vmkernel.py
Labels: affects_2.7, cloud, community_review, docs, module, new_contributor, python3, small_patch, support:community, vmware

#42021 [stable-2.5] Make the copy module pass correct parameters to file module
  lib/ansible/plugins/action/copy.py
Labels: affects_2.5, backport, bug, support:core

#42143 [stable-2.4] ignore ansible.cfg in world writable cwd (#42070)
  CHANGELOG.md
  docs/templates/man.j2
  lib/ansible/config/manager.py
  lib/ansible/constants.py
Labels: affects_2.4, backport, bug, docs, needs_revision, support:core

#40268 Bkprt recursive copy fix
  changelogs/fragments/copy-recursive-copy.yml
  lib/ansible/modules/files/copy.py
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/tests.yml
  test/units/modules/files/test_copy.py
Labels: affects_2.5, backport, bug, core_review, module, stale_ci, support:core, test

#41602 [2.5] Update user module docs (#41572)
  lib/ansible/modules/system/user.py
Labels: affects_2.5, backport, bug, core_review, module, stale_ci, support:core

#41603 [stable-2.5] sort the port list properly (.sort() returns None)
  lib/ansible/modules/cloud/google/gce_net.py
Labels: affects_2.5, backport, bug, cloud, community_review, gce, module, small_patch, stale_ci, support:community

#41620 fix nxos_linkagg issue (#41550)
  changelogs/fragments/nxos_linkagg_bugfix_2.5.6.yaml
  lib/ansible/modules/network/nxos/nxos_linkagg.py
Labels: affects_2.5, backport, core_review, module, networking, nxos, stale_ci, support:core, support:network

#38272 Fix changelog order in the rpm spec file
  packaging/rpm/ansible.spec
Labels: affects_2.5, backport, bug, new_contributor, stale_ci, support:core

#41650 facts: suse: Fix major version detection for SUSE (#41416)
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.5, backport, small_patch, stale_ci, support:core, test

#41655 update play_context for reset_connection (#40866)
  changelogs/fragments/reset_con_fix.yml
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.5, backport, bug, stale_ci, support:core

#41724 Backport 2.5: apt: fix apt-mark on debian6
  changelogs/fragments/41530-apt-mark-deb6.yaml
  lib/ansible/modules/packaging/os/apt.py
Labels: affects_2.5, backport, bug, core_review, module, stale_ci, support:core

#41775 Fix vyos_vlan aggregate issue & added tests CP into 2.5 (#41638)
  changelogs/fragments/vyos_vlan_fix.yaml
  lib/ansible/modules/network/vyos/vyos_vlan.py
  test/integration/targets/vyos_vlan/tests/cli/basic.yaml
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network, test

#41777 Fixes eos_logging DCI issue in 2.5
  test/integration/targets/eos_logging/tests/cli/basic.yaml
Labels: affects_2.5, backport, bug, stale_ci, support:network, test

#41815 fix minor issues with debug and item labels (#41331)
  changelogs/fragments/debug_fixes.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/default.py
  test/units/plugins/callback/test_callback.py
Labels: affects_2.5, backport, bug, stale_ci, support:core, test

#41858 fix vars hostname fallback
  changelogs/fragments/vars_lk.yml
  lib/ansible/plugins/lookup/vars.py
Labels: affects_2.5, backport, bug, support:core

#41864 playbooks_intro.rst: remove duplicite playbook (#38521)
  docs/docsite/rst/user_guide/playbooks_intro.rst
Labels: affects_2.5, backport, docs, support:core

#41892 windows dsc docs: fix missing colon in example (#41886)
  docs/docsite/rst/user_guide/windows_dsc.rst
Labels: affects_2.5, backport, docs, small_patch, stale_ci, support:core

#41922 Backport 2.5: Fix rabbitmq_* integration tests (#41836)
  test/integration/targets/rabbitmq_user/aliases
  test/integration/targets/setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.5, backport, bug, support:community, test

#41923 Stop displaying kinit pass input on a failure (#41882)
  changelogs/fragments/winrm_kinit-remove-pass-log.yml
  lib/ansible/plugins/connection/winrm.py
  test/units/plugins/connection/test_winrm.py
Labels: affects_2.5, backport, bug, support:core, test, windows

#41926 Backport #41860 for 2.5 - support group_by with implicit localhost
  changelogs/fragments/group_by_localhost.yaml
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.5, backport, bug, support:core

#41930 Backport #41767 for 2.5 -Skip if insertbefore is using BOF until later in the module
  changelogs/fragments/lineinfile-insertbefore-bof-bugfix.yaml
  lib/ansible/modules/files/lineinfile.py
  test/integration/targets/lineinfile/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, module, support:core, test

#41938 [stable-2.5] Changes to support building docs with old jinja2
  docs/bin/plugin_formatter.py
  docs/templates/plugin.rst.j2
Labels: affects_2.5, backport, bug, docs, support:core

#41942 win_iis_webapppool: do not output some cmdlet outputs (#41884)
  changelogs/fragments/win_iis_webapppool-output-fix.yml
  lib/ansible/modules/windows/win_iis_webapppool.ps1
Labels: affects_2.5, backport, bug, core_review, module, support:community, support:core, windows

#41980 Backport #41956 for 2.5 - Fix docs for "all" test
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: affects_2.5, backport, docs, small_patch, support:core

#41994 win_domain: fix typo in cmdlet call (#41993)
  changelogs/fragments/win_domain-dns-typo-fix.yml
  lib/ansible/modules/windows/win_domain.ps1
Labels: affects_2.5, backport, bug, core_review, module, support:core, windows

#42068 service_facts correct meaning of state for systemd service units
  changelogs/fragments/service_facts_fix.yml
  lib/ansible/modules/system/service_facts.py
Labels: affects_2.5, backport, bug, core_review, module, support:community, support:core

#42099 Fix junos_config confirm commit issue (#41527)
  changelogs/fragments/junos_config_confirm_commit.yaml
  lib/ansible/modules/network/junos/junos_config.py
  lib/ansible/plugins/netconf/junos.py
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network

#42139 [stable-2.5] avoid loading vars on unspecified basedir (cwd) (#42067)
  changelogs/fragments/avoid_cwd_vars.yml
  lib/ansible/cli/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.5, backport, bug, support:core

#42213 Backport/2.5/42209
  changelogs/fragments/nsupdate_fix_hmac-sha384.yaml
  lib/ansible/modules/net_tools/nsupdate.py
Labels: affects_2.5, backport, bug, core_review, module, net_tools, support:community, support:core

#42231 [2.5] influxdb_query: fix use of common return
  changelogs/fragments/influxdb_query_common_return.yml
  lib/ansible/modules/database/influxdb/influxdb_query.py
Labels: affects_2.5, backport, bug, core_review, module, support:community, support:core

#42235 Restore BOOLEANS import in basic.py
  changelogs/fragments/basic_booleans_backward_compat.yaml
  lib/ansible/module_utils/basic.py
Labels: affects_2.5, backport, bug, support:core

#42245 ACI tests: Fix integration tests aliases
  test/integration/targets/aci_aaa_user/aliases
  test/integration/targets/aci_aaa_user_certificate/aliases
  test/integration/targets/aci_access_port_to_interface_policy_leaf_profile/aliases
  test/integration/targets/aci_aep_to_domain/aliases
  test/integration/targets/aci_ap/aliases
  test/integration/targets/aci_bd/aliases
  test/integration/targets/aci_bd_subnet/aliases
  test/integration/targets/aci_config_rollback/aliases
  test/integration/targets/aci_config_snapshot/aliases
  test/integration/targets/aci_contract/aliases
  test/integration/targets/aci_contract_subject/aliases
  test/integration/targets/aci_contract_subject_to_filter/aliases
  test/integration/targets/aci_domain/aliases
  test/integration/targets/aci_domain_to_vlan_pool/aliases
  test/integration/targets/aci_encap_pool/aliases
  test/integration/targets/aci_encap_pool_range/aliases
  test/integration/targets/aci_epg/aliases
  test/integration/targets/aci_epg_to_contract/aliases
  test/integration/targets/aci_epg_to_domain/aliases
  test/integration/targets/aci_fabric_node/aliases
  test/integration/targets/aci_filter/aliases
  test/integration/targets/aci_filter_entry/aliases
  test/integration/targets/aci_firmware_source/aliases
  test/integration/targets/aci_interface_policy_leaf_policy_group/aliases
  test/integration/targets/aci_interface_policy_leaf_profile/aliases
  test/integration/targets/aci_interface_policy_ospf/aliases
  test/integration/targets/aci_interface_selector_to_switch_policy_leaf_profile/aliases
  test/integration/targets/aci_rest/aliases
  test/integration/targets/aci_static_binding_to_epg/aliases
  test/integration/targets/aci_switch_leaf_policy_profile/aliases
  test/integration/targets/aci_switch_leaf_selector/aliases
  test/integration/targets/aci_switch_policy_vpc_protection_group/aliases
  test/integration/targets/aci_taboo_contract/aliases
  test/integration/targets/aci_tenant/aliases
  test/integration/targets/aci_vlan_pool/aliases
  test/integration/targets/aci_vlan_pool_encap_block/aliases
  test/integration/targets/aci_vrf/aliases
Labels: aci, affects_2.7, bug, networking, support:community, test

#42253 [backport-2.6] Fixes idempotency check for partial configurations (#41941)
  lib/ansible/modules/network/meraki/meraki_network.py
  test/integration/targets/meraki_network/tasks/main.yml
Labels: affects_2.6, backport, bug, community_review, meraki, module, networking, support:community, test

#42250 [backport-2.6] Change idempotency check to be single pass (#42087)
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.6, backport, bug, meraki, networking, support:community

#42234 Restore BOOLEANS import in basic.py
  changelogs/fragments/basic_booleans_backward_compat.yaml
  lib/ansible/module_utils/basic.py
Labels: affects_2.6, backport, bug, support:core

#39773 Add check Iam Role description update
  lib/ansible/modules/cloud/amazon/iam_role.py
Labels: affects_2.6, aws, bug, cloud, community_review, module, python3, support:community

#42138 [stable-2.6] avoid loading vars on unspecified basedir (cwd) (#42067)
  changelogs/fragments/avoid_cwd_vars.yml
  lib/ansible/cli/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.6, backport, bug, support:core

#42082 Update supervisorctl.py (#42031)
  lib/ansible/modules/web_infrastructure/supervisorctl.py
Labels: affects_2.6, backport, community_review, docs, docsite_pr, module, small_patch, support:community

#42120 Fix setting required options for inventory plugins - backport/2.6/42049
  changelogs/fragments/inventory_manager_fix_required_options_override.yaml
  lib/ansible/inventory/manager.py
  lib/ansible/plugins/inventory/script.py
  lib/ansible/plugins/inventory/yaml.py
Labels: affects_2.6, backport, bug, inventory, support:core

#42015 Corrects typos in net_get/put module docs
  lib/ansible/modules/network/files/net_get.py
  lib/ansible/modules/network/files/net_put.py
Labels: affects_2.6, backport, core_review, docs, module, networking, owner_pr, support:network

#42135 Backport of https://github.com/ansible/ansible/pull/42025 to stable-2.6 for pamd
  lib/ansible/modules/system/pamd.py
Labels: affects_2.6, backport, bug, community_review, module, support:community

#42129 [stable-2.6] Fix file module with check_mode - Fixes #42111 (#42115)
  changelogs/fragments/file_touch_check_mode.yaml
  lib/ansible/modules/files/file.py
Labels: affects_2.6, backport, bug, core_review, module, support:core

#42141 [stable-2.6] ignore ansible.cfg in world writable cwd (#42070)
  changelogs/fragments/wrcwd_ansible.cfg.yml
  docs/docsite/rst/installation_guide/intro_configuration.rst
  docs/templates/man.j2
  lib/ansible/config/manager.py
  lib/ansible/constants.py
Labels: affects_2.6, backport, bug, docs, support:core

#41990 Win group membership sid refactor 2.6
  changelogs/fragments/win_group_membership-sid-bugfix.yml
  lib/ansible/modules/windows/win_group_membership.ps1
  lib/ansible/modules/windows/win_group_membership.py
  test/integration/targets/win_group_membership/tasks/main.yml
  test/integration/targets/win_group_membership/tasks/tests.yml
Labels: affects_2.6, backport, bug, core_review, module, support:community, support:core, test, windows

#41995 win_domain: fix typo in cmdlet call (#41993)
  changelogs/fragments/win_domain-dns-typo-fix.yml
  lib/ansible/modules/windows/win_domain.ps1
Labels: affects_2.6, backport, bug, core_review, module, support:core, windows

#42282 FreeIPA: Remove Sanity Ignores / Fix Documentation
  lib/ansible/modules/identity/ipa/ipa_group.py
  lib/ansible/modules/identity/ipa/ipa_host.py
  lib/ansible/modules/identity/ipa/ipa_hostgroup.py
  lib/ansible/modules/identity/ipa/ipa_service.py
  lib/ansible/modules/identity/ipa/ipa_subca.py
  lib/ansible/modules/identity/ipa/ipa_sudocmd.py
  lib/ansible/modules/identity/ipa/ipa_sudocmdgroup.py
  lib/ansible/modules/identity/ipa/ipa_sudorule.py
  lib/ansible/utils/module_docs_fragments/ipa.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.7, ci_verified, docs, module, needs_revision, needs_triage, support:community, support:core, test

#41849 Add execution_role_arn parameter
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
  test/integration/targets/ecs_cluster/playbooks/network_fail.yml
  test/integration/targets/ecs_cluster/playbooks/roles/ecs_cluster/tasks/main.yml
Labels: affects_2.7, aws, cloud, community_review, feature, module, support:community, test

#42270 Update eos_l2_interface.py
  lib/ansible/modules/network/eos/eos_l2_interface.py
Labels: affects_2.7, bug, core_review, module, networking, small_patch, support:network

#42288 fix regex cliconf nxos
  lib/ansible/plugins/cliconf/nxos.py
Labels: affects_2.7, bug, networking, nxos, small_patch, support:core

#42297 Update pause.py
  lib/ansible/modules/utilities/logic/pause.py
Labels: affects_2.7, core_review, feature, module, needs_triage, new_contributor, small_patch, support:core

#42259 aws_eks_cluster: Add wait functionality
  lib/ansible/module_utils/aws/waiters.py
  lib/ansible/modules/cloud/amazon/aws_eks_cluster.py
  test/integration/targets/aws_eks/playbooks/roles/aws_eks/defaults/main.yml
  test/integration/targets/aws_eks/playbooks/roles/aws_eks/tasks/main.yml
Labels: affects_2.7, aws, cloud, core_review, feature, module, support:community, support:core, test

#42165 ACME modules: documentation improvements
  lib/ansible/module_utils/acme.py
  lib/ansible/modules/web_infrastructure/acme_account.py
  lib/ansible/modules/web_infrastructure/acme_certificate.py
  lib/ansible/modules/web_infrastructure/acme_certificate_revoke.py
  lib/ansible/utils/module_docs_fragments/acme.py
Labels: affects_2.7, docs, module, shipit, support:community, support:core

#42268 add tests for exos_command module
  test/units/modules/network/exos/__init__.py
  test/units/modules/network/exos/exos_module.py
  test/units/modules/network/exos/fixtures/show_version
  test/units/modules/network/exos/test_exos_command.py
Labels: affects_2.7, feature, networking, new_contributor, support:core, test

#42300 Update eos, ios, vyos cliconf plugin
  lib/ansible/constants.py
  lib/ansible/module_utils/network/eos/eos.py
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/module_utils/network/vyos/vyos.py
  lib/ansible/modules/network/eos/eos_config.py
  lib/ansible/modules/network/ios/ios_config.py
  lib/ansible/modules/network/vyos/vyos_config.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/vyos.py
  lib/ansible/plugins/connection/network_cli.py
  test/integration/targets/eos_config/tests/cli/check_mode.yaml
  test/units/modules/network/eos/test_eos_config.py
Labels: affects_2.7, feature, module, needs_revision, networking, support:core, support:network, test

#42283 Add fxfitz to FreeIPA maintainers
  .github/BOTMETA.yml
Labels: affects_2.7, docs, small_patch, support:core

#42305 Fix error message when using the params option
  lib/ansible/modules/packaging/os/yum_repository.py
  lib/ansible/modules/web_infrastructure/jenkins_plugin.py
Labels: affects_2.7, bug, core_review, module, new_contributor, small_patch, support:community, support:core

#42316 Fix Ansible Galaxy documentation link.
  docs/docsite/rst/reference_appendices/galaxy.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.7, docs, needs_triage, new_contributor, small_patch, support:core

#42323 Fix broken links.
  docs/docsite/rst/community/maintainers.rst
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  lib/ansible/modules/cloud/ovirt/README.rst
Labels: affects_2.7, cloud, core_review, docs, module, ovirt, support:community, support:core

#41902 FreeIPA: new module ipa_vault module
  lib/ansible/modules/identity/ipa/ipa_vault.py
Labels: affects_2.7, community_review, module, new_module, new_plugin, support:community

#42312 To fix the NoneType error raised in ios_l2_interface when Access Mode VLAN is unassigned
  lib/ansible/modules/network/ios/ios_l2_interface.py
Labels: core_review, networking, support:network

#42318 callback/grafana_annotations: define validate_grafana_certs type as bool
  lib/ansible/plugins/callback/grafana_annotations.py
Labels: affects_2.7, bug, needs_revision, needs_triage, small_patch, support:community

#41237 nxos_logging new feature - remote logging
  lib/ansible/modules/network/nxos/nxos_logging.py
  test/integration/targets/nxos_logging/tests/common/basic.yaml
Labels: affects_2.7, core_review, feature, module, networking, nxos, stale_ci, support:network, test

#41786 Name of global custom attributes are not managed by the inventory
  contrib/inventory/vmware_inventory.py
Labels: affects_2.7, bug, c:inventory/contrib_script, cloud, inventory, new_contributor, small_patch, stale_ci, support:community, vmware

#42121 Fix examples in azure_rm_securitygroup
  lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py
Labels: affects_2.7, azure, cloud, committer_review, docs, module, support:certified

#42335 k8s_facts trivially supports check_mode
  lib/ansible/modules/clustering/k8s/k8s_facts.py
Labels: affects_2.7, automerge, bug, module, owner_pr, shipit, small_patch, support:community

#42336 Fix fetching old style facts in junos_facts module
  lib/ansible/modules/network/junos/junos_facts.py
  lib/ansible/plugins/action/junos.py
Labels: affects_2.7, bug, core_review, module, networking, support:core, support:network

#42285 Allow documentation of module options type
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  test/sanity/validate-modules/schema.py
Labels: affects_2.7, docs, feature, small_patch, support:core, test

#42319 backport/2.6/42316 Fix Ansible Galaxy documentation link. (#42316)
  docs/docsite/rst/reference_appendices/galaxy.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.6, backport, docs, small_patch, support:core

#42307 Idempotency for net_get and net_put modules
  lib/ansible/modules/network/files/net_put.py
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
  test/integration/targets/ios_file/tests/cli/net_get.yaml
  test/integration/targets/ios_file/tests/cli/net_put.yaml
Labels: affects_2.7, bug, core_review, module, networking, support:community, support:core, support:network, test

#42325 backport/2.6/42323: Fix broken links. (#42323)
  docs/docsite/rst/community/maintainers.rst
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  lib/ansible/modules/cloud/ovirt/README.rst
Labels: affects_2.6, backport, cloud, core_review, docs, feature, module, ovirt, support:community, support:core

#42359 Backport/2.6/42285 Allow documentation of module options type (#42285)
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  test/sanity/validate-modules/schema.py
Labels: affects_2.6, backport, docs, needs_ci, small_patch, stale_ci, support:core, test

#42337 backport/2.6/42318
  lib/ansible/plugins/callback/grafana_annotations.py
Labels: affects_2.6, backport, bug, small_patch, support:community

#42244 aci_static_binding_to_epg: Add description parameter
  lib/ansible/modules/network/aci/aci_static_binding_to_epg.py
  test/integration/targets/aci_static_binding_to_epg/tasks/main.yml
Labels: aci, affects_2.7, community_review, feature, module, networking, support:community, test

#42207 Backport #42013 for 2.5 - linenfile empty regexp warning
  changelogs/fragments/lineinfile-empty-regexp.yml
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  lib/ansible/modules/files/lineinfile.py
  test/integration/targets/lineinfile/tasks/main.yml
Labels: affects_2.5, backport, bug, core_review, docs, module, support:core, test

#42289 nxos and eos bugfix pick-2.5
  changelogs/fragments/eos_l2_interface_fix_2.5.6.yaml
  changelogs/fragments/nxos_vxlan_vtep_vni_fix_2.5.6.yaml
  lib/ansible/modules/network/eos/eos_l2_interface.py
  lib/ansible/modules/network/nxos/nxos_vxlan_vtep_vni.py
Labels: affects_2.5, backport, bug, core_review, module, networking, nxos, support:core, support:network

#42320 Backport/2.5/42316 Galaxy doc link
  docs/docsite/rst/reference_appendices/galaxy.rst
Labels: affects_2.5, backport, docs, small_patch, support:core

#42367 Changed 'all' group to 'scaleway' group to avoid conflict with real '…
  contrib/inventory/scaleway.py
Labels: affects_2.7, bug, c:inventory/contrib_script, inventory, new_contributor, small_patch, support:community

#42370 Update docker-container docs to current docker python package name
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.7, cloud, community_review, docker, docs, module, new_contributor, support:community

#42308 Document module links
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.7, docs, shipit, support:core

#42364 Update link to GitHub admin process
  docs/docsite/rst/community/github_admins.rst
Labels: affects_2.7, docs, shipit, small_patch, support:core

#42033 Added missing type for both template and parameters variables.
  lib/ansible/modules/cloud/azure/azure_rm_deployment.py
Labels: affects_2.7, azure, cloud, committer_review, docs, module, new_contributor, support:certified

#42022 inventory plugin docs
  docs/docsite/README.md
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/plugins/inventory.rst
  lib/ansible/plugins/inventory/__init__.py
Labels: affects_2.7, docs, support:core

#42381 Fix for starttls connections for notification mail module
  lib/ansible/modules/notification/mail.py
Labels: affects_2.7, bug, community_review, module, new_contributor, support:community

#42399 Fix typo in cliconf plugin
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/vyos.py
Labels: affects_2.7, bug, networking, support:core

#42366 aci_static_binding_to_epg: Add querying all bindings
  lib/ansible/modules/network/aci/aci_static_binding_to_epg.py
  test/integration/targets/aci_static_binding_to_epg/tasks/main.yml
Labels: aci, affects_2.7, bug, community_review, module, networking, small_patch, support:community, test

#42406 Fix typos in documentation
  docs/docsite/rst/dev_guide/testing_units.rst
Labels: affects_2.7, docs, small_patch, support:core

#42419 Update cs_host.py
  lib/ansible/modules/cloud/cloudstack/cs_host.py
Labels: affects_2.7, cloud, cloudstack, community_review, feature, module, new_contributor, small_patch, support:community

#41753 New doc guide for GCP
  docs/docsite/rst/scenario_guides/guide_gce.rst
Labels: affects_2.7, docs, support:core

#42394 Update docker pipy version to 2.3
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.7, cloud, community_review, docker, docs, module, small_patch, support:community

#42100 VMware: Remove VM using vmware_guest
  docs/docsite/rst/vmware/scenario_remove_vm.rst
  docs/docsite/rst/vmware/vmware_scenarios.rst
Labels: affects_2.7, docs, needs_revision, support:core, vmware

#42396 Fix remote_tmp when become with non admin user
  changelogs/fragments/remote_tmp_de-escalated_user.yaml
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/files/assemble.py
  lib/ansible/modules/files/blockinfile.py
  lib/ansible/modules/files/replace.py
  lib/ansible/modules/net_tools/basics/get_url.py
  lib/ansible/modules/net_tools/basics/uri.py
  lib/ansible/modules/packaging/os/yum.py
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/remote_tmp/aliases
  test/integration/targets/remote_tmp/playbook.yml
  test/integration/targets/remote_tmp/runme.sh
  test/units/module_utils/basic/test_tmpdir.py
  test/units/plugins/action/test_action.py
  test/units/plugins/action/test_raw.py
  test/units/plugins/action/test_synchronize.py
Labels: affects_2.7, bug, module, needs_revision, net_tools, support:community, support:core, test

#42218 Add additional puppet options
  changelogs/fragments/puppet_debugging_options.yaml
  lib/ansible/modules/system/puppet.py
Labels: affects_2.7, feature, module, needs_revision, new_contributor, support:community, support:core

#41972 Add VLAN Trunking Example for Juniper Junos Platform
  lib/ansible/modules/network/junos/junos_config.py
Labels: affects_2.7, core_review, docs, module, networking, python3, support:network

#41867 Add RVI Example for Juniper Junos platform
  lib/ansible/modules/network/junos/junos_config.py
Labels: affects_2.7, core_review, docs, module, networking, python3, stale_ci, support:network

#42217 Fix pause module so it does not stack trace when redirecting stdout.
  changelogs/fragments/pause-stdout-redirection.yaml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/runme.sh
Labels: affects_2.7, bug, support:core, test

#42433 Fix typo
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: affects_2.7, docs, new_contributor, small_patch, support:core

#42458 cs_firewall: fix idempotence and tests for cloudstack v4.11
  lib/ansible/modules/cloud/cloudstack/cs_firewall.py
  test/integration/targets/cs_firewall/tasks/main.yml
Labels: affects_2.7, bug, cloud, cloudstack, community_review, module, needs_triage, support:community, test

#36520 efs_facts: improve performance by reducing the number of api calls
  hacking/aws_config/testing_policies/efs-policy.json
  lib/ansible/modules/cloud/amazon/efs_facts.py
  test/integration/targets/efs_facts/aliases
  test/integration/targets/efs_facts/tasks/main.yml
Labels: affects_2.6, aws, bug, cloud, core_review, module, performance, support:certified, support:core, test

#42444 add .post support to rpm/deb version munger
  packaging/release/tests/version_helper_test.py
  packaging/release/versionhelper/version_helper.py
Labels: affects_2.7, feature, needs_revision, support:core

#40839 Docker container init check requirements
  lib/ansible/module_utils/docker_common.py
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.7, bug, cloud, docker, module, python3, shipit, support:community, support:core, traceback

#42465 cs_vpc: fix ignore disabled default vpc offerings
  lib/ansible/modules/cloud/cloudstack/cs_vpc.py
  test/integration/targets/cs_vpc/tasks/main.yml
Labels: affects_2.7, bug, cloud, cloudstack, community_review, module, needs_triage, support:community, test

#42488 meraki_snmp - Added full response documentation for normal responses
  lib/ansible/modules/network/meraki/meraki_snmp.py
Labels: affects_2.7, community_review, docs, meraki, module, needs_triage, networking, owner_pr, support:community

#42487 meraki_admin - Added full return documentation for normal responses
  lib/ansible/modules/network/meraki/meraki_admin.py
Labels: affects_2.7, community_review, docs, meraki, module, needs_triage, networking, owner_pr, support:community

#42448 meraki_device - Allow module to claim devices into an organization
  lib/ansible/modules/network/meraki/meraki_device.py
  test/integration/targets/meraki_device/tasks/main.yml
Labels: affects_2.7, community_review, feature, meraki, module, needs_triage, networking, support:community, test

#42392 meraki - Enabled support for configuration template configuration
  lib/ansible/module_utils/network/meraki/meraki.py
  lib/ansible/modules/network/meraki/meraki_vlan.py
  test/integration/targets/meraki_network/tasks/main.yml
  test/integration/targets/meraki_vlan/tasks/main.yml
Labels: affects_2.7, community_review, feature, meraki, module, networking, support:community, test

#42446 meraki_config_template - Add net_id support
  lib/ansible/modules/network/meraki/meraki_config_template.py
  test/integration/targets/meraki_config_template/tasks/main.yml
Labels: affects_2.7, community_review, feature, meraki, module, needs_triage, networking, support:community, test

#41423 Meraki module utility - get_net() downloads networks if data isn't provided
  lib/ansible/module_utils/network/meraki/meraki.py
  lib/ansible/modules/network/meraki/meraki_network.py
Labels: affects_2.7, bug, community_review, meraki, module, networking, support:community

#42326 New module - meraki_mx_l3_firewall
  lib/ansible/modules/network/meraki/meraki_mx_l3_firewall.py
  test/integration/targets/meraki_mx_l3_firewall/aliases
  test/integration/targets/meraki_mx_l3_firewall/tasks/main.yml
Labels: affects_2.7, community_review, meraki, module, networking, new_module, new_plugin, support:community, test

#42328 New module - meraki_mr_l3_firewall
  lib/ansible/modules/network/meraki/meraki_mr_l3_firewall.py
  test/integration/targets/meraki_mr_l3_firewall/aliases
  test/integration/targets/meraki_mr_l3_firewall/tasks/main.yml
Labels: affects_2.7, community_review, meraki, module, networking, new_module, new_plugin, support:community, test

#42329 New module - meraki_ssid
  lib/ansible/modules/network/meraki/meraki_ssid.py
  test/integration/targets/meraki_ssid/aliases
  test/integration/targets/meraki_ssid/tasks/main.yml
Labels: affects_2.7, community_review, meraki, module, networking, new_module, new_plugin, support:community, test

#42332 meraki_config_template - Improve documentation of module
  lib/ansible/modules/network/meraki/meraki_config_template.py
Labels: affects_2.7, community_review, docs, meraki, module, networking, owner_pr, support:community

#42393 meraki_network - Added proper response documentation
  lib/ansible/modules/network/meraki/meraki_network.py
Labels: affects_2.7, community_review, docs, meraki, module, networking, owner_pr, support:community

#42418 meraki_network - Add support for disableMyMerakiCom
  lib/ansible/modules/network/meraki/meraki_network.py
  test/integration/targets/meraki_network/tasks/main.yml
Labels: affects_2.7, feature, meraki, module, networking, shipit, support:community, test

#42416 sefcontext: Improve documentation
  lib/ansible/modules/system/sefcontext.py
Labels: affects_2.7, community_review, docs, module, needs_triage, owner_pr, support:community

#42496 acme_certificate/letsencrypt: fixing deprecation message
  lib/ansible/modules/web_infrastructure/acme_certificate.py
Labels: affects_2.7, automerge, bug, module, owner_pr, shipit, small_patch, support:community

#41850 ios_facts: Report space of file systems
  lib/ansible/modules/network/ios/ios_facts.py
  test/integration/targets/ios_facts/tests/cli/all_facts.yaml
  test/integration/targets/ios_facts/tests/cli/default_facts.yaml
  test/integration/targets/ios_facts/tests/cli/not_hardware.yaml
  test/units/modules/network/ios/fixtures/ios_facts_dir
  test/units/modules/network/ios/fixtures/ios_facts_show_memory_statistics
  test/units/modules/network/ios/test_ios_facts.py
Labels: affects_2.7, core_review, feature, module, networking, support:core, support:network, test

#42377 [k8s] allow user to pass list of resources in to definition parameter
  lib/ansible/module_utils/k8s/common.py
  lib/ansible/module_utils/k8s/raw.py
  lib/ansible/utils/module_docs_fragments/k8s_resource_options.py
  test/integration/targets/k8s/tasks/main.yml
Labels: affects_2.7, feature, needs_revision, support:community, support:core, test

#42110 openvswitch_db: Make 'key' parameter optional
  lib/ansible/modules/network/ovs/openvswitch_db.py
  test/integration/targets/openvswitch_db/tests/basic.yaml
  test/units/modules/network/ovs/test_openvswitch_db.py
Labels: affects_2.7, bug, core_review, module, networking, new_contributor, support:core, support:network, test

#42247 Make ios_vlan identify vlans starting with 9
  lib/ansible/modules/network/ios/ios_vlan.py
  test/units/modules/network/ios/fixtures/ios_vlan_config.cfg
  test/units/modules/network/ios/test_ios_vlan.py
Labels: affects_2.7, bug, core_review, module, networking, support:core, support:network, test

#42509 Update ios tests
  test/integration/targets/ios_config/tests/cli/diff.yaml
  test/integration/targets/ios_smoke/tests/cli/common_utils.yaml
Labels: affects_2.7, bug, needs_triage, support:community, support:network, test

#42514 Update terraform.py documentation. plan_file is required is state is 'planned'
  lib/ansible/modules/cloud/misc/terraform.py
Labels: affects_2.7, cloud, community_review, docs, module, new_contributor, small_patch, support:community

#42368 added required missing field for common yaml fmt
  lib/ansible/plugins/inventory/aws_ec2.py
  lib/ansible/plugins/inventory/constructed.py
  lib/ansible/plugins/inventory/gcp_compute.py
  lib/ansible/plugins/inventory/generator.py
  lib/ansible/plugins/inventory/k8s.py
  lib/ansible/plugins/inventory/nmap.py
  lib/ansible/plugins/inventory/openshift.py
  lib/ansible/plugins/inventory/openstack.py
  lib/ansible/plugins/inventory/scaleway.py
  lib/ansible/plugins/inventory/virtualbox.py
Labels: affects_2.7, bug, cloud, inventory, openstack, support:core
