Repository ansible/ansible, pull requests merged in 2018-10, with the labels that each got.

#45694 feat: add scaleway security_group_rule management
  lib/ansible/module_utils/scaleway.py
  lib/ansible/modules/cloud/scaleway/scaleway_security_group_rule.py
  test/legacy/roles/scaleway_security_group_rule/defaults/main.yml
  test/legacy/roles/scaleway_security_group_rule/tasks/main.yml
  test/legacy/scaleway.yml
Labels: affects_2.8, cloud, inventory, module, new_module, new_plugin, scaleway, shipit, support:community, support:core, test

#46312 homebrew_cask: Fixes #38772
  lib/ansible/modules/packaging/os/homebrew_cask.py
Labels: affects_2.8, bug, core_review, module, small_patch, support:core

#46304 [docs] Fix typo in ec2_vpnc_nat_gateway module
  lib/ansible/modules/cloud/amazon/ec2_vpc_nat_gateway.py
Labels: affects_2.8, aws, cloud, core_review, docs, module, new_contributor, small_patch, support:core

#46335 Add new member to botmeta
  .github/BOTMETA.yml
Labels: affects_2.8, small_patch, support:core

#46262 BOTMETA : Add label pure_storage for all related files. Add team_purestorage macro
  .github/BOTMETA.yml
Labels: affects_2.8, bug, support:core

#46279 Add logstash_plugin example for lower heap size
  lib/ansible/modules/monitoring/logstash_plugin.py
Labels: affects_2.8, core_review, docs, module, new_contributor, support:core

#43123 Fix callout json plugin show global stats
  changelogs/fragments/43123-add_support_for_per_host_no_stats.yaml
  lib/ansible/plugins/callback/json.py
Labels: affects_2.7, feature, needs_revision, support:community, support:core

#46286 avoid tests when ncclient is not installed
  test/units/plugins/connection/test_connection.py
  test/units/plugins/connection/test_netconf.py
Labels: affects_2.8, bug, networking, shipit, support:core

#46128 Add configuration to override location of ansible-connection
  lib/ansible/config/base.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/persistent.py
Labels: affects_2.8, feature, networking, support:core

#46361 Add the k8s label to the k8s files
  .github/BOTMETA.yml
Labels: affects_2.8, feature, support:core

#46298 WIP: Check that union Jinja filter can be chained
  lib/ansible/plugins/filter/mathstuff.py
  test/integration/targets/filters/tasks/main.yml
Labels: WIP, affects_2.8, bug, support:community

#46370 Use specified loopvar in include_role example loop
  lib/ansible/modules/utilities/logic/include_role.py
Labels: affects_2.8, core_review, docs, include_role, module, new_contributor, small_patch, support:core

#46357 clean up doc - removed required: false
  lib/ansible/modules/cloud/azure/azure_rm_acs.py
  lib/ansible/modules/cloud/azure/azure_rm_appgateway.py
  lib/ansible/modules/cloud/azure/azure_rm_availabilityset.py
  lib/ansible/modules/cloud/azure/azure_rm_functionapp.py
  lib/ansible/modules/cloud/azure/azure_rm_keyvaultkey.py
  lib/ansible/modules/cloud/azure/azure_rm_keyvaultsecret.py
  lib/ansible/modules/cloud/azure/azure_rm_loadbalancer.py
Labels: affects_2.8, azure, cloud, core_review, docs, module, owner_pr, support:core

#46378 update win_psmodule to pass tests
  test/integration/targets/win_psmodule/tasks/test.yml
Labels: affects_2.8, bug, support:core, windows

#46114 New module: routeros_facts – collect facts from RouterOS devices
  lib/ansible/modules/network/routeros/routeros_facts.py
  test/units/modules/network/routeros/fixtures/routeros_facts/export
  test/units/modules/network/routeros/fixtures/routeros_facts/interface_print_detail_without-paging
  test/units/modules/network/routeros/fixtures/routeros_facts/ip_address_print_detail_without-paging
  test/units/modules/network/routeros/fixtures/routeros_facts/ip_neighbor_print_detail_without-paging
  test/units/modules/network/routeros/fixtures/routeros_facts/ipv6_address_print_detail_without-paging
  test/units/modules/network/routeros/fixtures/routeros_facts/system_identity_print_without-paging
  test/units/modules/network/routeros/fixtures/routeros_facts/system_resource_print_without-paging
  test/units/modules/network/routeros/fixtures/routeros_facts/system_routerboard_print_without-paging
  test/units/modules/network/routeros/test_routeros_facts.py
Labels: affects_2.8, module, networking, new_module, new_plugin, shipit, support:community, support:core, test

#45951 vcenter_folder - fix error events being generated, incorrect parent folders
  lib/ansible/modules/cloud/vmware/vcenter_folder.py
Labels: affects_2.8, automerge, bug, cloud, module, shipit, vmware

#35598 Fix #34863 rabbitmq_user throws "ValueError: need more than 1 value to unpack"
  lib/ansible/modules/messaging/rabbitmq_user.py
Labels: affects_2.6, bug, community_review, module, new_contributor, small_patch, support:community

#46392 Win_pester - Fix typo in the author's github username.
  lib/ansible/modules/windows/win_pester.py
Labels: affects_2.8, community_review, docs, module, needs_triage, small_patch, support:community, windows

#46193 Correct invalid example in jenkins_script docs
  lib/ansible/modules/web_infrastructure/jenkins_script.py
Labels: affects_2.8, community_review, docs, module, needs_maintainer, new_contributor, small_patch, support:community

#42456 Add ssl support to consul_kv lookup
  lib/ansible/plugins/lookup/consul_kv.py
Labels: affects_2.7, feature, support:community

#46375 Adding example for bind and unmount
  lib/ansible/modules/system/mount.py
Labels: affects_2.8, core_review, docs, module, new_contributor, support:core

#46399 Updates release & maintenance version docs for 2.7
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.8, docs, needs_triage, support:core

#46411 Rebalance shippable/posix/ CI groups.
  test/integration/targets/apache2_module/aliases
  test/integration/targets/git/aliases
  test/integration/targets/pause/aliases
  test/integration/targets/xml/aliases
Labels: affects_2.8, feature, m:xml, support:community, support:core

#46409 disable gather facts and update playbook output
  docs/docsite/rst/network/getting_started/first_playbook.rst
  docs/docsite/rst/network/getting_started/sample_files/first_playbook.yml
  docs/docsite/rst/network/getting_started/sample_files/first_playbook_ext.yml
Labels: affects_2.8, docs, networking, support:core

#45579 Move network utils that are used by AWS modules
  lib/ansible/module_utils/common/network.py
  lib/ansible/module_utils/network/common/utils.py
  test/units/module_utils/common/test_network.py
Labels: affects_2.8, bug, networking, support:community, support:core, test

#46416 Fix ansible-test encoding issues for exceptions.
  test/runner/lib/cli.py
  test/runner/lib/cover.py
  test/runner/lib/target.py
Labels: affects_2.8, bug, support:core, test

#46414 Updates release & maintenance version docs for 2.7
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.7, backport, docs, support:core

#46415 Updates release & maintenance version docs for 2.7
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.6, backport, docs, support:core

#45334 win_exec: refactor PS exec runner
  MANIFEST.in
  changelogs/fragments/windows-exec-changes.yaml
  lib/ansible/executor/module_common.py
  lib/ansible/executor/powershell/__init__.py
  lib/ansible/executor/powershell/async_watchdog.ps1
  lib/ansible/executor/powershell/async_wrapper.ps1
  lib/ansible/executor/powershell/become_wrapper.ps1
  lib/ansible/executor/powershell/exec_wrapper.ps1
  lib/ansible/executor/powershell/module_manifest.py
  lib/ansible/executor/powershell/module_powershell_wrapper.ps1
  lib/ansible/executor/powershell/module_script_wrapper.ps1
  lib/ansible/executor/powershell/module_wrapper.ps1
  lib/ansible/module_utils/csharp/Ansible.Become.cs
  lib/ansible/module_utils/csharp/__init__.py
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.AddType.psm1
  lib/ansible/modules/windows/win_dsc.ps1
  lib/ansible/modules/windows/win_scheduled_task.ps1
  lib/ansible/modules/windows/win_wait_for_process.ps1
  lib/ansible/plugins/action/script.py
  lib/ansible/plugins/shell/powershell.py
  setup.py
  test/integration/targets/win_async_wrapper/tasks/main.yml
  test/integration/targets/win_become/tasks/main.yml
  test/integration/targets/win_exec_wrapper/library/test_common_functions.ps1
  test/integration/targets/win_exec_wrapper/library/test_fail.ps1
  test/integration/targets/win_exec_wrapper/tasks/main.yml
  test/integration/targets/win_module_utils/library/add_type_test.ps1
  test/integration/targets/win_module_utils/library/csharp_util.ps1
  test/integration/targets/win_module_utils/module_utils/Ansible.Test.cs
  test/integration/targets/win_module_utils/tasks/main.yml
  test/integration/targets/win_ping/tasks/main.yml
  test/runner/lib/classification.py
  test/runner/lib/csharp_import_analysis.py
  test/runner/lib/util.py
Labels: affects_2.8, core_review, feature, module, python3, support:community, support:core, test, traceback, windows

#46373 acme_*: docs improvements (loops)
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/modules/crypto/acme/acme_challenge_cert_helper.py
Labels: affects_2.8, automerge, bug, module, owner_pr, shipit, support:community

#46272 VMware: Add check mode support to module vmware_host_config_facts
  lib/ansible/modules/cloud/vmware/vmware_host_config_facts.py
  test/integration/targets/vmware_host_config_facts/tasks/main.yml
Labels: affects_2.8, cloud, community_review, feature, module, small_patch, support:community, vmware

#35126 Only delete key from redis in-memory cache if present
  lib/ansible/plugins/cache/redis.py
Labels: affects_2.5, bug, new_contributor, small_patch, stale_ci, support:community

#46435 Docsite: Add a new tool: Ansible Playbook Grapher
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: affects_2.8, docs, small_patch, support:core

#46430 fixed tests after EAP set to Stop globally
  lib/ansible/modules/windows/win_regmerge.ps1
  lib/ansible/modules/windows/win_share.ps1
Labels: affects_2.8, bug, core_review, module, owner_pr, support:community, support:core, windows

#46351 Docs: Cleanup selinux_permissive module docs
  lib/ansible/modules/system/selinux_permissive.py
Labels: affects_2.8, community_review, docs, module, needs_maintainer, support:community

#45049 Macports: Add upgrade parameter and replace update_ports with selfupdate
  changelogs/fragments/macports-upgrade-selfupdate.yml
  lib/ansible/modules/packaging/os/macports.py
Labels: affects_2.7, core_review, feature, module, needs_maintainer, support:community, support:core

#46448 Update asa_config.py
  lib/ansible/modules/network/asa/asa_config.py
Labels: affects_2.8, community_review, docs, docsite_pr, module, networking, small_patch, support:community

#46368 Docs: iptables module cleanup
  lib/ansible/modules/system/iptables.py
Labels: affects_2.8, core_review, docs, module, support:core

#46372 ansibot notifications subscription
  .github/BOTMETA.yml
Labels: affects_2.8, docs, support:core

#46431 win_chocolatey: remove test packages after tests are run
  test/integration/targets/win_chocolatey/tasks/main.yml
Labels: affects_2.8, bug, needs_triage, support:community, windows

#46376 ps-lint: ignore rules that are not relevant to Ansible
  lib/ansible/modules/windows/win_chocolatey.ps1
  lib/ansible/modules/windows/win_chocolatey_source.ps1
  lib/ansible/modules/windows/win_user.ps1
  test/sanity/pslint/ignore.txt
  test/sanity/pslint/settings.psd1
Labels: affects_2.8, bug, core_review, module, support:community, support:core, test, windows

#46328 Docs: Clean up of 'assemble' module docs
  lib/ansible/modules/files/assemble.py
Labels: affects_2.8, core_review, docs, module, support:core

#46422 Docs: Cleanup make module docs
  lib/ansible/modules/system/make.py
Labels: affects_2.8, community_review, docs, module, needs_maintainer, needs_triage, support:community

#46071 Use proper index value with insertbefore on a one line file
  changelogs/fragments/lineinfile-insertbefore-index-out-of-range.yaml
  lib/ansible/modules/files/lineinfile.py
  test/integration/targets/lineinfile/tasks/main.yml
Labels: affects_2.8, bug, core_review, module, support:core

#46456 Add file exists check in integration-aliases test.
  test/runner/lib/sanity/integration_aliases.py
Labels: affects_2.8, bug, support:core, test

#46462 remove unnecessary space
  docs/templates/plugin.rst.j2
Labels: affects_2.8, docs, small_patch, support:core

#46446 Fix spelling error in subelements Filter example
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.8, bug, docs, docsite_pr, new_contributor, small_patch, support:core

#46400 updates latest in docs conf.py
  docs/docsite/rst/conf.py
Labels: affects_2.8, docs, shipit, small_patch, support:core

#46297 Docs: Clean up of 'template' module docs
  lib/ansible/modules/files/template.py
  lib/ansible/utils/module_docs_fragments/files.py
Labels: affects_2.8, docs, module, needs_revision, support:core

#46442 add simple j2 example to vyos_config
  lib/ansible/modules/network/vyos/vyos_config.py
Labels: affects_2.8, core_review, docs, module, networking, small_patch, support:network

#46463 updates latest in docs conf.py (#46400)
  docs/docsite/rst/conf.py
Labels: affects_2.7, backport, docs, needs_triage, small_patch, support:core

#46377 Docs: Clean up 'win_reboot' module docs
  lib/ansible/modules/windows/win_reboot.py
Labels: affects_2.8, core_review, docs, module, owner_pr, support:core, windows

#46330 Docs: Clean up of 'fetch' module docs
  lib/ansible/modules/files/fetch.py
Labels: affects_2.8, docs, module, needs_revision, support:core

#46333 Make default_operation optional in netconf_config module
  lib/ansible/modules/network/netconf/netconf_config.py
Labels: affects_2.8, bug, module, networking, owner_pr, shipit, small_patch, support:network

#46459 Improve ansible-test environment checking between tests.
  test/runner/lib/executor.py
  test/runner/versions.py
Labels: affects_2.8, feature, support:core, test

#46260 VMware: Add check mode support to module vmware_host_acceptance
  lib/ansible/modules/cloud/vmware/vmware_host_acceptance.py
  test/integration/targets/vmware_host_acceptance/tasks/main.yml
Labels: affects_2.8, cloud, feature, module, needs_revision, support:community, vmware

#46467 Add symlinks sanity test.
  docs/docsite/rst/dev_guide/testing/sanity/symlinks.rst
  test/integration/targets/copy/files/subdir/subdir1/ansible-test-abs-link
  test/integration/targets/copy/files/subdir/subdir1/ansible-test-abs-link-dir
  test/integration/targets/copy/files/subdir/subdir1/invalid
  test/integration/targets/copy/files/subdir/subdir1/invalid2
  test/integration/targets/copy/files/subdir/subdir1/out_of_tree_circle
  test/integration/targets/copy/files/subdir/subdir1/subdir3
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/template_jinja2_latest/roles/template
  test/integration/targets/template_jinja2_latest/runme.sh
  test/legacy/roles/setup_ec2
  test/legacy/roles/setup_ec2/defaults/main.yml
  test/legacy/roles/setup_ec2/tasks/common.yml
  test/legacy/roles/setup_ec2/vars/main.yml
  test/legacy/roles/setup_sshkey
  test/legacy/roles/setup_sshkey/tasks/main.yml
  test/runner/lib/sanity/import.py
  test/sanity/code-smell/symlinks.json
  test/sanity/code-smell/symlinks.py
  test/sanity/import/lib/ansible/__init__.py
  test/sanity/import/lib/ansible/module_utils
Labels: affects_2.8, bug, docs, support:community, support:core, test

#46302 Purging logging configuration before running playbook
  test/integration/targets/nxos_logging/tests/common/basic.yaml
  test/integration/targets/nxos_logging/tests/common/purge.yaml
Labels: affects_2.8, bug, networking, nxos, support:core, test

#46470 backport #46462: remove unnecessary space
  docs/templates/plugin.rst.j2
Labels: affects_2.7, backport, docs, needs_triage, small_patch, support:core

#46482 Docs: Fix subelements example correctly
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.8, bug, docs, support:core

#46455 Add documentation on underlying tools in user module
  changelogs/fragments/user-docs-underlying-tools.yaml
  lib/ansible/modules/system/user.py
Labels: affects_2.8, docs, module, shipit, support:core

#46451 added porting guide for PowerShell EAP changes
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
Labels: affects_2.8, docs, small_patch, support:core

#46360 win_reboot: Fix for ignore post_reboot_delay
  lib/ansible/plugins/action/reboot.py
  lib/ansible/plugins/action/win_reboot.py
Labels: affects_2.8, bug, needs_revision, regression, support:community, windows

#42979 Fix support for SubnetMappings and EIPs in NLB
  lib/ansible/module_utils/aws/elbv2.py
Labels: affects_2.7, bug, new_contributor, support:community

#42060 Support SubnetMappings in actual AWS create LB call
  lib/ansible/module_utils/aws/elbv2.py
Labels: affects_2.7, bug, small_patch, support:community, traceback

#45903 Add test suite for ec2_vpc_igw before boto3 upgrade
  test/integration/targets/ec2_vpc_igw/aliases
  test/integration/targets/ec2_vpc_igw/tasks/main.yml
Labels: affects_2.8, cloud, feature, support:certified

#43636 add external provider to ovirt network
  lib/ansible/modules/cloud/ovirt/ovirt_network.py
Labels: affects_2.7, automerge, cloud, feature, module, ovirt, shipit, support:community

#45555 Ovirt add kernel persist
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.8, automerge, bug, cloud, module, ovirt, shipit, support:community

#46478 fix drain mode 'bool' (#30833)
  lib/ansible/modules/net_tools/haproxy.py
Labels: affects_2.8, automerge, bug, module, needs_maintainer, net_tools, new_contributor, shipit, support:community

#45551 Ovirt delete snapshots after x days
  lib/ansible/modules/cloud/ovirt/ovirt_snapshot.py
Labels: affects_2.8, automerge, bug, cloud, module, ovirt, shipit, support:community

#46184 azure_rm_common: use __version__ from module_util
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.8, azure, bug, cloud, small_patch, support:community

#46386 Ovirt_disk - Add ability to refresh passthrough disks
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.8, automerge, cloud, feature, module, new_contributor, ovirt, shipit, support:community

#46403 mail: Fix regression when sending mail without SSL
  lib/ansible/modules/notification/mail.py
Labels: affects_2.8, bug, community_review, module, needs_maintainer, support:community

#46521 zabbix_host: fix link template error
  lib/ansible/modules/monitoring/zabbix/zabbix_host.py
Labels: affects_2.8, automerge, bug, module, new_contributor, shipit, small_patch, support:community

#46518 Move docsite requirements to the docs/docsite dir.
  docs/docsite/requirements.txt
Labels: affects_2.8, docs, feature, needs_triage, support:core

#46253 AWS: check dbname attribute before accessing
  lib/ansible/modules/cloud/amazon/rds.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, needs_maintainer, small_patch, support:community

#46560 Fix parametrize warning in unit tests.
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.8, bug, support:core

#46564 Add missing bracket in documentation
  lib/ansible/plugins/lookup/chef_databag.py
Labels: affects_2.8, docs, small_patch, support:community

#46322 docker_container: fix behavior when image is not specified
  changelogs/fragments/46322-docker_container-image-not-given.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, bug, cloud, docker, module, shipit, support:community, support:core

#46324 docker_container, docker_image_facts: allow to use image IDs
  changelogs/fragments/docker-image-ids.yaml
  lib/ansible/module_utils/docker_common.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_image_facts.py
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
  test/sanity/code-smell/no-underscore-variable.py
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, support:core, test

#46214 Add region to the volume facts
  lib/ansible/modules/cloud/scaleway/scaleway_volume_facts.py
  test/legacy/roles/scaleway_volume_facts/tasks/main.yml
Labels: affects_2.8, bug, cloud, module, needs_maintainer, scaleway, shipit, support:community, support:core, test

#45741 Add tags grouping in NetBox dynamic inventory plugin
  lib/ansible/plugins/inventory/netbox.py
Labels: affects_2.8, feature, inventory, support:community

#46530 VMware: Add check mode support to module vmware_host_dns_facts
  lib/ansible/modules/cloud/vmware/vmware_host_dns_facts.py
  test/integration/targets/vmware_host_dns_facts/tasks/main.yml
Labels: affects_2.8, cloud, community_review, feature, module, small_patch, support:community, vmware

#46568 Misc typo in logentries plugin module
  lib/ansible/plugins/callback/logentries.py
Labels: affects_2.8, docs, shipit, support:community

#46213 Add region to snapshots facts
  lib/ansible/modules/cloud/scaleway/scaleway_snapshot_facts.py
  test/legacy/roles/scaleway_snapshot_facts/tasks/main.yml
Labels: affects_2.8, bug, cloud, module, needs_maintainer, scaleway, shipit, support:community, support:core, test

#46212 Add region to server facts
  lib/ansible/modules/cloud/scaleway/scaleway_server_facts.py
  test/legacy/roles/scaleway_server_facts/tasks/main.yml
Labels: affects_2.8, bug, cloud, module, needs_maintainer, scaleway, shipit, support:community, support:core, test

#46211 Add region parameters to security groups facts
  lib/ansible/modules/cloud/scaleway/scaleway_security_group_facts.py
  test/legacy/roles/scaleway_security_group_facts/tasks/main.yml
Labels: affects_2.8, bug, cloud, module, needs_maintainer, scaleway, shipit, support:community, support:core, test

#46210 Specify region in IP facts
  lib/ansible/modules/cloud/scaleway/scaleway_ip_facts.py
  test/legacy/roles/scaleway_ip_facts/tasks/main.yml
Labels: affects_2.8, bug, cloud, module, needs_maintainer, scaleway, shipit, support:community, support:core, test

#46582 Digital Ocean firewall facts
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_firewall_facts.py
Labels: affects_2.8, cloud, digital_ocean, module, new_module, new_plugin, shipit, support:community

#43988 Added module to manage manageiq tenants
  lib/ansible/modules/remote_management/manageiq/manageiq_tenant.py
Labels: affects_2.7, module, new_contributor, new_module, new_plugin, shipit, support:community

#45634 Port the sns module to boto3
  changelogs/fragments/sns-boto3.yaml
  lib/ansible/modules/cloud/amazon/sns.py
  test/integration/targets/sns/aliases
  test/integration/targets/sns/defaults/main.yml
  test/integration/targets/sns/tasks/main.yml
Labels: affects_2.8, aws, cloud, core_review, feature, module, support:community, support:core

#46610 Win chocolatey facts module
  lib/ansible/modules/windows/win_chocolatey_facts.ps1
  lib/ansible/modules/windows/win_chocolatey_facts.py
  test/integration/targets/win_chocolatey_facts/aliases
  test/integration/targets/win_chocolatey_facts/tasks/main.yml
Labels: affects_2.8, community_review, module, needs_triage, new_module, new_plugin, support:community, windows

#46123 Add chdir support to win_package
  changelogs/fragments/win_package_chdir.yaml
  lib/ansible/modules/windows/win_package.ps1
  lib/ansible/modules/windows/win_package.py
Labels: affects_2.8, feature, module, needs_revision, support:core, windows

#46612 nxos_evpn_vni check_mode
  lib/ansible/modules/network/nxos/nxos_evpn_vni.py
Labels: affects_2.8, bug, core_review, module, needs_triage, networking, nxos, owner_pr, small_patch, support:network

#46595 docker_container: fix problem with published_ports idempotency
  changelogs/fragments/46595-docker_container-expected_ports.yml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, bug, cloud, core_review, docker, module, support:community, support:core

#45966 VMware: new module vmware_host_feature_facts
  lib/ansible/modules/cloud/vmware/vmware_host_feature_facts.py
  test/integration/targets/vmware_host_feature_facts/aliases
  test/integration/targets/vmware_host_feature_facts/tasks/main.yml
Labels: affects_2.8, cloud, module, new_module, new_plugin, shipit, support:community, vmware

#46598 docker_container: allow more mount modes for volumes
  changelogs/fragments/46598-docker_container-volume-modes.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, cloud, core_review, docker, feature, module, support:community, support:core

#46271 VMware: Add check mode support to module vmware_host_service_manager
  lib/ansible/modules/cloud/vmware/vmware_host_service_manager.py
  test/integration/targets/vmware_host_service_manager/tasks/main.yml
Labels: affects_2.8, cloud, community_review, feature, module, support:community, vmware

#46268 VMware: Add check mode support to module vmware_host_ntp
  lib/ansible/modules/cloud/vmware/vmware_host_ntp.py
  test/integration/targets/vmware_host_ntp/tasks/main.yml
Labels: affects_2.8, cloud, feature, module, needs_revision, support:community, vmware

#46596 docker_container: add port range and IPv6 support for published_ports
  changelogs/fragments/46596-docker_container-published_ports.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/ports.yml
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, support:core

#46616 changelogs/fragments/: community
  .github/BOTMETA.yml
Labels: affects_2.8, feature, needs_triage, small_patch, support:core

#45529 Account for boolean OVF properties
  lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py
Labels: affects_2.8, bug, cloud, community_review, module, small_patch, support:community, traceback, vmware

#46183 allow update_cache as stand alone operation for yum/dnf
  changelogs/fragments/yumdnf-update-cache.yaml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/packaging/os/dnf.py
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.8, core_review, feature, module, support:community, support:core

#19172 introduce `module_utils.urls.fetch_file` as a wrapper to download and save files
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/files/unarchive.py
  lib/ansible/modules/packaging/os/apt.py
  lib/ansible/modules/packaging/os/yum.py
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.3, c:module_utils/, c:module_utils/urls, feature, m:unarchive, module, module_util, needs_revision, support:community, support:core, test

#46201 Plugin: check if executable exists in local connection
  lib/ansible/plugins/connection/local.py
Labels: affects_2.8, bug, support:core

#46620 Added (Define Values From CSV File) to example section
  lib/ansible/plugins/lookup/csvfile.py
Labels: affects_2.8, bug, docs, support:community

#46402 Add docs for inventory caching
  docs/docsite/rst/plugins/cache.rst
Labels: affects_2.8, docs, support:core

#46557 Python 3.8 collections compatibility fixes.
  contrib/inventory/ssh_config.py
  contrib/inventory/vmware.py
  lib/ansible/cli/doc.py
  lib/ansible/compat/selectors/_selectors2.py
  lib/ansible/errors/__init__.py
  lib/ansible/executor/stats.py
  lib/ansible/module_utils/common/_collections_compat.py
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/module_utils/oneview.py
  lib/ansible/module_utils/ovirt.py
  lib/ansible/modules/files/xml.py
  lib/ansible/modules/net_tools/basics/uri.py
  lib/ansible/parsing/ajson.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/plugins/action/synchronize.py
  lib/ansible/plugins/cache/__init__.py
  lib/ansible/plugins/cache/memcached.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/dense.py
  lib/ansible/plugins/callback/log_plays.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/cliconf/voss.py
  lib/ansible/plugins/cliconf/vyos.py
  lib/ansible/plugins/filter/core.py
  lib/ansible/plugins/filter/mathstuff.py
  lib/ansible/plugins/filter/network.py
  lib/ansible/plugins/inventory/__init__.py
  lib/ansible/plugins/inventory/foreman.py
  lib/ansible/plugins/inventory/script.py
  lib/ansible/plugins/inventory/virtualbox.py
  lib/ansible/plugins/inventory/yaml.py
  lib/ansible/plugins/lookup/csvfile.py
  lib/ansible/plugins/lookup/dict.py
  lib/ansible/plugins/lookup/ini.py
  lib/ansible/plugins/lookup/list.py
  lib/ansible/plugins/test/core.py
  lib/ansible/template/__init__.py
  lib/ansible/template/vars.py
  lib/ansible/utils/listify.py
  lib/ansible/utils/plugin_docs.py
  lib/ansible/utils/py3compat.py
  lib/ansible/utils/unsafe_proxy.py
  lib/ansible/utils/vars.py
  lib/ansible/vars/hostvars.py
  lib/ansible/vars/manager.py
  test/sanity/pylint/ignore.txt
  test/sanity/pylint/plugins/blacklist.py
  test/units/module_utils/conftest.py
  test/units/modules/conftest.py
  test/units/modules/web_infrastructure/test_jenkins_plugin.py
  test/units/parsing/yaml/test_loader.py
  test/units/playbook/role/test_role.py
Labels: affects_2.8, bug, needs_rebase, needs_revision

#46445 added jinja2 example
  lib/ansible/modules/network/eos/eos_config.py
Labels: affects_2.8, core_review, docs, module, networking, support:network

#46520 docs: add Support section for plugin types
  docs/templates/plugin.rst.j2
Labels: affects_2.8, docs, support:core

#46585 Register missing parameter reboot_timeout
  changelogs/fragments/reboot_missing_parameter.yaml
  lib/ansible/plugins/action/reboot.py
Labels: affects_2.8, bug, needs_triage, support:community

#46621 Add 'auto' to documented default enabled inventory plugins
  docs/docsite/rst/plugins/inventory.rst
  examples/ansible.cfg
Labels: affects_2.8, docs, support:core

#46511 Backport #46455 for 2.7 - Add documentation on underlying tools in user module
  changelogs/fragments/user-docs-underlying-tools.yaml
  lib/ansible/modules/system/user.py
Labels: affects_2.7, backport, core_review, docs, module, support:core

#46553 docs: Update links to module sources
  docs/docsite/rst/reference_appendices/common_return_values.rst
Labels: affects_2.8, docs, new_contributor, small_patch, support:core

#46364 Docs: Fix ftype list in sefcontext module
  lib/ansible/modules/system/sefcontext.py
Labels: affects_2.8, community_review, docs, module, needs_maintainer, support:community

#46502 Update MANIFEST.in
  MANIFEST.in
Labels: affects_2.8, bug, support:core

#46512 Backport #46455 for 2.6 - Add documentation on underlying tools in user module
  changelogs/fragments/user-docs-underlying-tools.yaml
  lib/ansible/modules/system/user.py
Labels: affects_2.6, backport, core_review, docs, module, support:core

#46643 docs: add Support section for plugin types (#46520)
  docs/templates/plugin.rst.j2
Labels: affects_2.7, backport, docs, support:core

#46644 docs: add Support section for plugin types (#46520)
  docs/templates/plugin.rst.j2
Labels: affects_2.6, backport, docs, needs_triage, support:core

#46637 [2.7] Add 'auto' to documented default enabled inventory plugins (#46621)
  docs/docsite/rst/plugins/inventory.rst
  examples/ansible.cfg
Labels: affects_2.7, backport, docs, needs_triage, support:core

#46638 [2.6] Add 'auto' to documented default enabled inventory plugins (#46621)
  docs/docsite/rst/plugins/inventory.rst
  examples/ansible.cfg
Labels: affects_2.6, backport, docs, needs_triage, support:core

#46639 [2.5] Add 'auto' to documented default enabled inventory plugins (#46621)
  docs/docsite/rst/plugins/inventory.rst
  examples/ansible.cfg
Labels: affects_2.5, backport, docs, needs_triage, support:core

#46642 Linode: Add rmcintosh as new Linode maintainer.
  .github/BOTMETA.yml
Labels: affects_2.8, docs, needs_triage, small_patch, support:core

#46492 incorrect playbook_keywords ref
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: affects_2.8, docs, small_patch, support:core

#27162 feat(apt): add -f --fix-broken option to apt module
  lib/ansible/modules/packaging/os/apt.py
Labels: affects_2.4, core_review, feature, module, new_contributor, support:core

#25235 Fixes: 2256. Replaces expected librato annotation response code with …
  lib/ansible/modules/monitoring/librato_annotation.py
Labels: affects_2.4, bug, community_review, module, needs_maintainer, new_contributor, support:community

#41645 Fix#41643 jenkins_plugin python 3 compatibility
  lib/ansible/modules/web_infrastructure/jenkins_plugin.py
Labels: affects_2.7, bug, community_review, module, needs_maintainer, new_contributor, python3, small_patch, support:community

#38156 rabbitmq_user: 'node' parameter: add default value
  lib/ansible/modules/messaging/rabbitmq_user.py
  test/integration/targets/rabbitmq_user/tasks/main.yml
  test/integration/targets/setup_rabbitmq/tasks/ubuntu.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.6, bug, core_review, module, small_patch, support:community, support:core, test

#36981 create sources.list.d directory if needed
  lib/ansible/modules/packaging/os/apt_repository.py
Labels: affects_2.6, bug, core_review, module, new_contributor, small_patch, support:core

#46622 botmeta: cloudstack: new team member
  .github/BOTMETA.yml
Labels: affects_2.8, docs, needs_triage, small_patch, support:core

#46652 ansible-test: set ulimit to enforce consistent test environment
  test/runner/injector/injector.py
  test/runner/lib/cli.py
Labels: affects_2.8, bug, performance, support:core, test

#46653 Mocking out __future__ could cause problems
  test/units/modules/remote_management/oneview/oneview_module_loader.py
Labels: affects_2.8, bug, support:core

#46679 ovirt_disk: Add wipe_after_delete option
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.8, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#45902 Add a Linode v4 dynamic inventory plugin.
  lib/ansible/plugins/inventory/linode.py
  test/runner/requirements/units.txt
  test/units/plugins/inventory/test_linode.py
Labels: Linode, affects_2.8, new_plugin, stale_ci, support:community, support:core, test

#46678 ovirt_storage_domain: Fix error message formating
  lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py
Labels: affects_2.8, automerge, bug, cloud, module, new_contributor, ovirt, shipit, small_patch, support:community

#45605 Backport 45586 for 2.7 - Remove fragile code from get_url
  changelogs/fragments/get_url-remove-fragile-code.yaml
  lib/ansible/modules/net_tools/basics/get_url.py
Labels: affects_2.7, backport, bug, core_review, module, net_tools, stale_ci, support:core

#45608 [stable-2.7] Store Authorization header inside HttpApi connection plugin (#45598)
  changelogs/fragments/ftd-http-api-plugin-refresh-token.yaml
  lib/ansible/plugins/httpapi/ftd.py
  test/units/plugins/httpapi/test_ftd.py
Labels: affects_2.7, backport, bug, networking, stale_ci, support:community, support:core, test

#45623 [stable-2.7] Support empty files with piped transfer_method. Fixes #45426 (#45618)
  changelogs/fragments/piped-transfer-empty-files.yaml
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.7, backport, stale_ci, support:core

#45769 [2.7] docker_container: don't parse/interpret options if state is 'absent'
  changelogs/fragments/45700-docker_container-dont-parse-absent.yml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.7, backport, bug, cloud, docker, module, shipit, support:community, support:core

#45855 [2.7] Fixing HTTPError case of fetch_url for Python 3 compatibility.
  changelogs/fragments/45628-fetch_url-error-headers.yaml
  lib/ansible/module_utils/urls.py
  test/units/module_utils/urls/test_fetch_url.py
Labels: affects_2.7, backport, bug, python3, stale_ci, support:community, support:core

#45815 [2.7] ec2_group - fix VPC precedence for security group targets (#45787)
  changelogs/fragments/fix_ec2_group_target_vpc_precedence.yaml
  lib/ansible/modules/cloud/amazon/ec2_group.py
Labels: affects_2.7, aws, backport, bug, cloud, core_review, module, stale_ci, support:core

#46017 fix premature exit when RG doesn't exist (#46013)
  changelogs/fragments/azure_rm_deployment_fix_45941.yaml
  lib/ansible/modules/cloud/azure/azure_rm_deployment.py
Labels: affects_2.7, azure, backport, bug, cloud, committer_review, module, stale_ci, support:certified, support:community

#46062 Fix calling deprecate with correct arguments (#44726)
  changelogs/fragments/fix_calling_deprecate_with_correct_arguments.yaml
  lib/ansible/module_utils/basic.py
Labels: affects_2.7, backport, support:community, support:core

#46088 [stable-2.7] Support nested JSON decoding in AnsibleJSONDecoder (#45924)
  changelogs/fragments/ajson-nested-decode.yaml
  lib/ansible/parsing/ajson.py
  test/units/parsing/fixtures/ajson.json
  test/units/parsing/test_ajson.py
Labels: affects_2.7, backport, stale_ci, support:core

#46090 [stable-2.7] Fix issues with PLUGIN_FILTERS_CFG config handling (#45994)
  changelogs/fragments/plugin-filters-cfg.yaml
  lib/ansible/config/base.yml
Labels: affects_2.7, backport, stale_ci, support:core

#46140 winrm: add further conditional to using pexect for kerb auth (#45952)
  changelogs/fragments/winrm_pexpect.yaml
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.7, backport, bug, stale_ci, support:core, windows

#46248 [Backport-2.7] VMware: honor "wait_for_ip_address" when powering on a VM
  changelogs/fragments/45226-vmware_wait_for_ip_address.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.7, backport, bug, cloud, module, shipit, support:community, vmware

#46287 Backport #46281 for 2.7 - blockinfile bytes rather than string
  changelogs/fragments/blockinfile-bytes-fix.yaml
  lib/ansible/modules/files/blockinfile.py
  test/integration/targets/blockinfile/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, module, stale_ci, support:community, support:core

#46388 [Backport-2.7] Ignore empty result of rabbitmqctl list_user_permissions
  changelogs/fragments/34863-rabbitmq_user_unpack_fix.yaml
  lib/ansible/modules/messaging/rabbitmq_user.py
Labels: affects_2.7, backport, bug, core_review, module, support:community, support:core

#46449 win_chocolatey: remove test packages after tests are run (#46431)
  test/integration/targets/win_chocolatey/tasks/main.yml
Labels: affects_2.7, backport, bug, support:community, windows
