Repository ansible/ansible, pull requests merged in 2018-08, with the labels that each got.

#43513 cherry-pick and fixed conflicts -pr43116
  docs/docsite/rst/network/user_guide/platform_exos.rst
  docs/docsite/rst/network/user_guide/platform_index.rst
  docs/docsite/rst/network/user_guide/platform_slxos.rst
Labels: affects_2.6, backport, docs, networking, support:core

#43364 Update nclu.py (#40369)
  lib/ansible/modules/network/cumulus/nclu.py
Labels: affects_2.6, backport, community_review, docs, module, networking, support:community

#42562 Fixes #30393: Virtual machine can refer existing NIC from other resource group
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
  test/integration/targets/azure_rm_virtualmachine/tasks/virtualmachine.yml
Labels: affects_2.7, azure, bug, cloud, committer_review, module, support:certified, test

#43426 Fix all VMware examples to use delegate_to
  lib/ansible/modules/cloud/vmware/_vsphere_guest.py
  lib/ansible/modules/cloud/vmware/vca_vapp.py
  lib/ansible/modules/cloud/vmware/vcenter_folder.py
  lib/ansible/modules/cloud/vmware/vmware_about_facts.py
  lib/ansible/modules/cloud/vmware/vmware_category_facts.py
  lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py
  lib/ansible/modules/cloud/vmware/vmware_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_datacenter.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_maintenancemode.py
  lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py
  lib/ansible/modules/cloud/vmware/vmware_dns_config.py
  lib/ansible/modules/cloud/vmware/vmware_drs_rule_facts.py
  lib/ansible/modules/cloud/vmware/vmware_dvs_host.py
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
  lib/ansible/modules/cloud/vmware/vmware_dvswitch.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  lib/ansible/modules/cloud/vmware/vmware_guest_boot_manager.py
  lib/ansible/modules/cloud/vmware/vmware_guest_find.py
  lib/ansible/modules/cloud/vmware/vmware_guest_move.py
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
  lib/ansible/modules/cloud/vmware/vmware_host.py
  lib/ansible/modules/cloud/vmware/vmware_host_acceptance.py
  lib/ansible/modules/cloud/vmware/vmware_host_capability_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_config_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_dns_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_lockdown.py
  lib/ansible/modules/cloud/vmware/vmware_host_ntp.py
  lib/ansible/modules/cloud/vmware/vmware_host_package_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_powerstate.py
  lib/ansible/modules/cloud/vmware/vmware_host_service_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_service_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_vmnic_facts.py
  lib/ansible/modules/cloud/vmware/vmware_local_role_manager.py
  lib/ansible/modules/cloud/vmware/vmware_local_user_facts.py
  lib/ansible/modules/cloud/vmware/vmware_local_user_manager.py
  lib/ansible/modules/cloud/vmware/vmware_maintenancemode.py
  lib/ansible/modules/cloud/vmware/vmware_migrate_vmk.py
  lib/ansible/modules/cloud/vmware/vmware_portgroup.py
  lib/ansible/modules/cloud/vmware/vmware_portgroup_facts.py
  lib/ansible/modules/cloud/vmware/vmware_resource_pool.py
  lib/ansible/modules/cloud/vmware/vmware_tag.py
  lib/ansible/modules/cloud/vmware/vmware_tag_facts.py
  lib/ansible/modules/cloud/vmware/vmware_target_canonical_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vm_vm_drs_rule.py
  lib/ansible/modules/cloud/vmware/vmware_vm_vss_dvs_migrate.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel_ip_config.py
  lib/ansible/modules/cloud/vmware/vmware_vmotion.py
  lib/ansible/modules/cloud/vmware/vmware_vsan_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_vswitch_facts.py
  lib/ansible/modules/cloud/vmware/vsphere_copy.py
Labels: affects_2.7, bug, cloud, module, needs_rebase, needs_revision, support:community, vmware

#42934 Allow DNS bypass for add/remove of host records with nios_host_record
  lib/ansible/module_utils/net_tools/nios/api.py
  lib/ansible/modules/net_tools/nios/nios_host_record.py
  test/integration/targets/nios_host_record/tasks/nios_host_record_idempotence.yml
Labels: affects_2.7, ci_verified, feature, infoblox, module, needs_revision, net_tools, networking, support:core, test

#35909 Leading dot in efs_facts.mountpoint
  lib/ansible/modules/cloud/amazon/efs.py
  lib/ansible/modules/cloud/amazon/efs_facts.py
Labels: affects_2.6, aws, bug, cloud, committer_review, module, new_contributor, support:certified

#43507 Replace unescaped \r before sending through socket_path
  bin/ansible-connection
  lib/ansible/executor/task_executor.py
Labels: affects_2.7, bug, networking, small_patch, support:core

#43546 Fail module if configure replace fails nxos
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.7, bug, networking, nxos, small_patch, support:core

#41253 asa_config doc attach acl to interface
  lib/ansible/modules/network/asa/asa_config.py
Labels: affects_2.7, community_review, docs, docsite_pr, module, networking, new_contributor, small_patch, support:community, waiting_on_contributor

#43522 ACME: fixing tests
  test/integration/targets/acme_account/tasks/main.yml
  test/integration/targets/acme_certificate/tasks/main.yml
  test/integration/targets/acme_certificate_revoke/tasks/main.yml
Labels: affects_2.7, bug, support:community, test

#43342 fix issue [ get_url does not change mode when checksum matches ]
  changelogs/fragments/get_url_bug_fix.yaml
  lib/ansible/modules/net_tools/basics/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.7, bug, core_review, module, net_tools, new_contributor, support:core, test

#43220 nicer error message on multiprocessing fail
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.7, bug, support:core

#42872 NCLU - Add example: Changing the hostname and committing on Cumulus Linux
  lib/ansible/modules/network/cumulus/nclu.py
Labels: affects_2.7, community_review, docs, module, networking, new_contributor, python3, small_patch, support:community

#41855 Junos: Add Vlan ID Range in description
  lib/ansible/modules/network/junos/junos_vlan.py
Labels: affects_2.7, core_review, docs, module, networking, python3, small_patch, support:network

#43477 Add specific exceptions to except in template/__init__.py
  lib/ansible/template/__init__.py
Labels: affects_2.7, bug, python3, small_patch, support:core, traceback

#43306 Fix referenced before assignment in role requirements
  lib/ansible/playbook/role/requirement.py
Labels: affects_2.7, bug, small_patch, support:core, traceback

#43568 [2.6] ACME: fixing tests
  test/integration/targets/acme_account/tasks/main.yml
Labels: affects_2.6, backport, bug, support:community, test

#43571 Add some requirements to the plugin docstrings.
  lib/ansible/plugins/inventory/aws_ec2.py
  lib/ansible/plugins/inventory/foreman.py
  lib/ansible/plugins/inventory/openstack.py
Labels: affects_2.7, bug, cloud, inventory, openstack, support:core

#43553 Fix typo in cliconf get_config
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/cliconf/vyos.py
Labels: affects_2.7, bug, networking, nxos, support:core

#43590 improved vmss documentation
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_scaleset_facts.py
Labels: affects_2.7, azure, cloud, community_review, docs, module, support:community

#43078 Raise exception if command timeout is triggered
  bin/ansible-connection
  lib/ansible/module_utils/connection.py
Labels: affects_2.7, bug, needs_revision, networking, support:core, traceback

#43591 Replaced old sample in lb
  lib/ansible/modules/cloud/azure/azure_rm_loadbalancer.py
Labels: affects_2.7, azure, cloud, community_review, docs, module, owner_pr, support:community

#43329 Fix comparison of priority
  lib/ansible/module_utils/aws/elbv2.py
Labels: affects_2.7, bug, small_patch, support:core

#43526 improves pam_limits documentation
  lib/ansible/modules/system/pam_limits.py
Labels: affects_2.7, community_review, docs, module, needs_triage, new_contributor, python3, support:community

#43530 Removing required from documentaion of name parameter
  lib/ansible/modules/cloud/misc/virt.py
Labels: affects_2.7, cloud, community_review, docs, module, new_contributor, small_patch, support:community

#43593 Moved grafana 5 dashboard compatible changelog to fragments dir
  changelogs/fragments/grafana_5_dashboard_compatible.yaml
Labels: affects_2.7, docs, needs_triage, support:core

#43596 cliconf refactor eos, nxos fix
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/nxos/nxos_config.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/httpapi/nxos.py
  test/units/modules/network/nxos/test_nxos_config.py
Labels: affects_2.7, bug, core_review, module, networking, nxos, support:core, support:network, test

#43489 modules/terraform: Add workspace support
  lib/ansible/modules/cloud/misc/terraform.py
Labels: affects_2.7, cloud, community_review, feature, module, support:community

#43215 Properly detect credentials for tower_project
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_project.py
  test/integration/targets/tower_project/tasks/main.yml
Labels: affects_2.7, bug, module, shipit, small_patch, support:community, test, traceback

#39809 Tower modules: move HAS_TOWER_CLI check in module_utils and minor improvements
  lib/ansible/module_utils/ansible_tower.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_group.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_host.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_inventory.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_inventory_source.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_cancel.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_launch.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_list.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_template.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_wait.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_label.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_organization.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_project.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_role.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_team.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_user.py
Labels: affects_2.6, bug, module, shipit, support:community, support:core

#43599 Fix ini variables for netconf and network_cli connections
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.7, bug, networking, new_contributor, support:core

#43576 more useful messages when module failure
  changelogs/fragments/missing_interpreter.yml
  lib/ansible/plugins/action/__init__.py
Labels: affects_2.7, bug, support:core

#43330 Clarify usage of encrypt arg
  lib/ansible/plugins/lookup/password.py
  test/units/plugins/lookup/test_password.py
Labels: affects_2.7, bug, needs_revision, support:core, test

#32987 Support for postgresql default privileges
  lib/ansible/modules/database/postgresql/postgresql_privs.py
Labels: affects_2.5, community_review, feature, module, new_contributor, support:community

#42758 Implement signed_request for sigV4 requests
  lib/ansible/module_utils/aws/urls.py
Labels: affects_2.7, aws, feature, needs_revision, support:core

#40179 Add scope parameter to systemd
  lib/ansible/modules/system/systemd.py
Labels: affects_2.6, feature, module, needs_revision, new_contributor, stale_ci, stale_review, support:core

#43277 add local directory option to nxos_file_copy
  lib/ansible/modules/network/nxos/nxos_file_copy.py
  test/integration/targets/nxos_file_copy/tests/cli/sanity.yaml
Labels: affects_2.7, core_review, feature, module, networking, nxos, support:network, test

#43343 Allow for the specification of a rhsm_repo_ca_cert if changing baseurl
  lib/ansible/modules/packaging/os/redhat_subscription.py
Labels: affects_2.7, community_review, module, new_contributor, support:community

#43628 modules/terraform: use -no-color option in workspace commands
  lib/ansible/modules/cloud/misc/terraform.py
Labels: affects_2.7, bug, cloud, community_review, module, needs_triage, small_patch, support:community

#43534 Refactoring to persistence connection BGP, factory, reload, save, showrun modules
  lib/ansible/module_utils/network/cnos/cnos.py
  lib/ansible/modules/network/cnos/cnos_bgp.py
  lib/ansible/modules/network/cnos/cnos_factory.py
  lib/ansible/modules/network/cnos/cnos_reload.py
  lib/ansible/modules/network/cnos/cnos_save.py
  lib/ansible/modules/network/cnos/cnos_showrun.py
  test/units/modules/network/cnos/fixtures/cnos_bgp_config.cfg
  test/units/modules/network/cnos/test_cnos_bgp.py
Labels: affects_2.7, bug, core_review, module, networking, support:community, support:core, test

#43634 Fix argument error in DCI
  lib/ansible/modules/network/nxos/nxos_logging.py
Labels: affects_2.7, bug, core_review, module, networking, nxos, small_patch, support:network

#43609 Fix telnet action plugin type error
  lib/ansible/plugins/action/telnet.py
Labels: affects_2.7, bug, new_contributor, python3, support:core

#43644 modules/terraform: fix -no-color position in workspace command
  lib/ansible/modules/cloud/misc/terraform.py
Labels: affects_2.7, bug, cloud, community_review, module, needs_triage, small_patch, support:community

#43583 Only print warning when ansible.cfg is actually skipped
  changelogs/fragments/fix-world-readable-skip-message.yaml
  docs/templates/config.rst.j2
  lib/ansible/config/manager.py
  test/units/config/manager/__init__.py
  test/units/config/manager/test_find_ini_config_file.py
  test/units/config/test_manager.py
Labels: affects_2.7, bug, docs, support:core, test

#43542 Fix invocation output in slack callback
  lib/ansible/plugins/callback/slack.py
Labels: affects_2.7, bug, support:core

#42774 Update Pure Storage FA pgsnap module to allow volume restore from snap
  lib/ansible/modules/storage/purestorage/purefa_pgsnap.py
Labels: affects_2.7, community_review, feature, module, owner_pr, storage, support:community

#42976 Add support for host personality in purefa_host module.
  lib/ansible/modules/storage/purestorage/purefa_host.py
Labels: affects_2.7, community_review, feature, module, owner_pr, storage, support:community

#43483 win_chocolatey: fix regression around using all as a package name
  lib/ansible/modules/windows/win_chocolatey.ps1
  test/integration/targets/win_chocolatey/tasks/tests.yml
Labels: affects_2.7, bug, community_review, module, support:community, test, windows

#38166 Fix lxd_container idempotency issue
  lib/ansible/modules/cloud/lxd/lxd_container.py
Labels: affects_2.6, bug, cloud, community_review, module, new_contributor, small_patch, support:community

#43693 changelog for lxd idempotence fix
  changelogs/fragments/lxd-idempotent-config.yaml
Labels: affects_2.7, bug, needs_triage, support:core

#43669 Meraki/doc response vlan
  lib/ansible/modules/network/meraki/meraki_vlan.py
Labels: affects_2.7, community_review, docs, meraki, module, needs_triage, networking, owner_pr, support:community

#43643 Update junos cliconf plugin
  lib/ansible/module_utils/network/junos/junos.py
  lib/ansible/modules/network/junos/junos_netconf.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/nxos.py
Labels: affects_2.7, core_review, feature, module, networking, nxos, support:core, support:network

#43668 network - IOS cliconf plugin typo in edit_banner
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.7, bug, needs_triage, networking, small_patch, support:core

#43685 junos_user: additonal sshkey types added
  lib/ansible/modules/network/junos/junos_user.py
Labels: affects_2.7, core_review, feature, module, needs_triage, networking, new_contributor, support:network

#43473 delegate_to: accept only string for delegation host
  lib/ansible/vars/manager.py
Labels: affects_2.7, bug, small_patch, support:core

#43664 change raising errors example to raise error
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: affects_2.7, docs, feature, new_contributor, small_patch, support:core

#43620 ldap_entry bugfix
  lib/ansible/modules/net_tools/ldap/ldap_entry.py
Labels: affects_2.7, bug, community_review, module, net_tools, support:community

#43525 ovirt: ovirt_hosts_facts: add all_content
  lib/ansible/modules/cloud/ovirt/ovirt_hosts_facts.py
Labels: affects_2.7, automerge, bug, cloud, module, ovirt, shipit, support:community

#42916 cli_command module
  lib/ansible/modules/network/cli/__init__.py
  lib/ansible/modules/network/cli/cli_command.py
  lib/ansible/plugins/action/cli_command.py
  lib/ansible/plugins/cliconf/edgeos.py
  lib/ansible/plugins/cliconf/iosxr.py
  test/integration/targets/eos_smoke/tests/cli/cli_command.yaml
  test/integration/targets/eos_smoke/tests/cli/misc_tests.yaml
  test/integration/targets/ios_smoke/tests/cli/cli_command.yaml
  test/integration/targets/ios_smoke/tests/cli/misc_tests.yaml
  test/integration/targets/iosxr_smoke/tests/cli/cli_command.yaml
  test/integration/targets/junos_smoke/tasks/cli.yaml
  test/integration/targets/junos_smoke/tasks/main.yaml
  test/integration/targets/junos_smoke/tests/cli/cli_commmand.yaml
  test/integration/targets/nxos_smoke/tests/cli/cli_command.yaml
  test/integration/targets/vyos_smoke/tests/cli/cli_command.yaml
Labels: affects_2.7, core_review, module, networking, new_module, new_plugin, nxos, support:community, support:core, test

#43719 Fix introduction version for parameter "local" in module "group"
  lib/ansible/modules/system/group.py
Labels: affects_2.7, core_review, docs, module, small_patch, support:core

#43540 Fix add member failure in ios_linkagg
  lib/ansible/modules/network/ios/ios_linkagg.py
Labels: affects_2.6, backport, bug, core_review, module, networking, small_patch, support:network

#43744 ACI: Add ability to enable debug for tests
  test/integration/targets/aci_aaa_user/tasks/main.yml
  test/integration/targets/aci_aaa_user_certificate/tasks/main.yml
  test/integration/targets/aci_aep/tasks/main.yml
  test/integration/targets/aci_aep_to_domain/tasks/main.yml
  test/integration/targets/aci_contract/tasks/main.yml
  test/integration/targets/aci_contract_subject_to_filter/tasks/main.yml
  test/integration/targets/aci_domain/tasks/fc.yml
  test/integration/targets/aci_domain/tasks/l2dom.yml
  test/integration/targets/aci_domain/tasks/l3dom.yml
  test/integration/targets/aci_domain/tasks/phys.yml
  test/integration/targets/aci_domain/tasks/vmm-vmware.yml
  test/integration/targets/aci_domain_to_vlan_pool/tasks/main.yml
  test/integration/targets/aci_encap_pool/tasks/vsan.yml
  test/integration/targets/aci_encap_pool_range/tasks/vlan.yml
  test/integration/targets/aci_encap_pool_range/tasks/vsan.yml
  test/integration/targets/aci_encap_pool_range/tasks/vxlan.yml
  test/integration/targets/aci_epg_to_contract/tasks/main.yml
  test/integration/targets/aci_epg_to_domain/tasks/main.yml
  test/integration/targets/aci_fabric_node/tasks/main.yml
  test/integration/targets/aci_filter/tasks/main.yml
  test/integration/targets/aci_filter_entry/tasks/main.yml
  test/integration/targets/aci_firmware_source/tasks/main.yml
  test/integration/targets/aci_interface_policy_leaf_profile/tasks/main.yml
  test/integration/targets/aci_interface_policy_ospf/tasks/main.yml
  test/integration/targets/aci_interface_selector_to_switch_policy_leaf_profile/tasks/main.yml
  test/integration/targets/aci_rest/tasks/json_inline.yml
  test/integration/targets/aci_rest/tasks/json_string.yml
  test/integration/targets/aci_rest/tasks/xml_string.yml
  test/integration/targets/aci_rest/tasks/yaml_inline.yml
  test/integration/targets/aci_rest/tasks/yaml_string.yml
  test/integration/targets/aci_switch_leaf_policy_profile/tasks/main.yml
  test/integration/targets/aci_switch_leaf_selector/tasks/main.yml
  test/integration/targets/aci_switch_policy_vpc_protection_group/tasks/main.yml
  test/integration/targets/aci_taboo_contract/tasks/main.yml
  test/integration/targets/aci_tenant/tasks/main.yml
  test/integration/targets/aci_vlan_pool/tasks/dynamic.yml
  test/integration/targets/aci_vlan_pool/tasks/static.yml
  test/integration/targets/aci_vlan_pool_encap_block/tasks/main.yml
Labels: aci, affects_2.7, feature, networking, support:community, test

#43734 Force all args to strings for 'command' (fixes #43732)
  lib/ansible/modules/commands/command.py
Labels: affects_2.7, bug, core_review, module, small_patch, support:core

#36889 Add cap_drop to docker_container module
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, cloud, community_review, docker, feature, module, support:community

#42158 ACME: support for TLS-ALPN-01
  lib/ansible/modules/web_infrastructure/acme_certificate.py
  test/integration/targets/acme_certificate/tasks/main.yml
  test/integration/targets/acme_certificate/tests/validate.yml
  test/integration/targets/setup_acme/tasks/obtain-cert.yml
Labels: affects_2.7, feature, module, shipit, support:community, test

#42992 VMware: added missing facts vmware_drs_rule_facts
  lib/ansible/modules/cloud/vmware/vmware_drs_rule_facts.py
Labels: affects_2.7, bug, cloud, community_review, module, owner_pr, support:community, vmware

#43240 VMware: new module : vmware_guest_boot_facts
  lib/ansible/modules/cloud/vmware/vmware_guest_boot_facts.py
  test/integration/targets/vmware_guest_boot_facts/aliases
  test/integration/targets/vmware_guest_boot_facts/tasks/main.yml
Labels: affects_2.7, cloud, community_review, module, new_module, new_plugin, support:community, test, vmware

#40382 VMware: confine search for network till datacenter level
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.5, affects_2.6, bug, cloud, community_review, module, owner_pr, support:community, vmware

#38453 Clarifications of parameters in yum_repo module
  lib/ansible/modules/packaging/os/yum_repository.py
Labels: affects_2.6, docs, docsite_pr, module, needs_revision, new_contributor, stale_review, support:core

#43784 Correct a typo in pip module error message
  lib/ansible/modules/packaging/language/pip.py
Labels: affects_2.7, bug, core_review, module, needs_triage, new_contributor, small_patch, support:core

#43603 Vultr: Ensure facts works when no resource exists
  lib/ansible/modules/cloud/vultr/vr_firewall_group_facts.py
  lib/ansible/modules/cloud/vultr/vr_ssh_key_facts.py
  lib/ansible/modules/cloud/vultr/vr_startup_script_facts.py
  test/legacy/roles/vr_firewall_group_facts/tasks/main.yml
  test/legacy/roles/vr_ssh_key_facts/tasks/main.yml
  test/legacy/roles/vr_startup_script_facts/tasks/main.yml
Labels: affects_2.7, bug, cloud, module, shipit, support:community, support:core, test

#43779 Misc typo fixes in function docs
  lib/ansible/plugins/inventory/aws_ec2.py
  lib/ansible/plugins/inventory/constructed.py
  lib/ansible/plugins/inventory/generator.py
Labels: affects_2.7, docs, support:core

#43785 Corrected spelling of 'formatted'
  lib/ansible/plugins/callback/debug.py
Labels: affects_2.7, feature, new_contributor, small_patch, support:core

#43758 required arguments: name
  lib/ansible/modules/system/java_keystore.py
Labels: affects_2.7, community_review, docs, module, needs_maintainer, needs_triage, small_patch, support:community

#43752 Aws cw log group
  lib/ansible/modules/cloud/amazon/cloudwatchlogs_log_group.py
Labels: affects_2.7, aws, bug, cloud, community_review, module, needs_triage, owner_pr, small_patch, support:community

#43764 To improve readability, we added a line feed.
  lib/ansible/modules/packaging/language/yarn.py
Labels: affects_2.7, docs, module, needs_revision, support:community

#43761 I changed the document of win_hostname.py.
  lib/ansible/modules/windows/win_hostname.py
Labels: affects_2.7, community_review, docs, module, support:community, windows

#40005 add azure_rm_webapp
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/modules/cloud/azure/azure_rm_webapp.py
  test/integration/targets/azure_rm_webapp/aliases
  test/integration/targets/azure_rm_webapp/meta/main.yml
  test/integration/targets/azure_rm_webapp/tasks/main.yml
Labels: affects_2.6, azure, cloud, core_review, module, new_module, new_plugin, stale_ci, stale_review, support:community, support:core, test

#40906 add azure_rm_appserviceplan module
  lib/ansible/modules/cloud/azure/azure_rm_appserviceplan.py
  test/integration/targets/azure_rm_appserviceplan/aliases
  test/integration/targets/azure_rm_appserviceplan/meta/main.yml
  test/integration/targets/azure_rm_appserviceplan/tasks/main.yml
Labels: affects_2.7, azure, cloud, module, needs_revision, new_module, new_plugin, stale_ci, stale_review, support:community, test

#43699 Fix nsg cannot add rule with purge_rules false
  lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py
  test/integration/targets/azure_rm_securitygroup/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, committer_review, module, support:certified, test

#43655 improve 'service' integration tests
  test/integration/targets/service/files/ansible.systemd
  test/integration/targets/service/files/ansible_test_service
  test/integration/targets/service/tasks/main.yml
  test/integration/targets/service/tasks/systemd_setup.yml
  test/integration/targets/service/tasks/tests.yml
  test/integration/targets/service/tasks/upstart_cleanup.yml
Labels: affects_2.7, bug, support:core, test

#43806 revert #43546 nxos terminal plugin
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.7, bug, needs_triage, networking, nxos, small_patch, support:core

#43810 refine aks document
  lib/ansible/modules/cloud/azure/azure_rm_aks.py
Labels: affects_2.7, azure, cloud, community_review, docs, module, needs_triage, owner_pr, support:community

#43809 Update eos clcionf plugin
  lib/ansible/plugins/cliconf/eos.py
Labels: affects_2.7, bug, networking, small_patch, support:core

#43786 VMware: Update example
  lib/ansible/modules/cloud/vmware/vcenter_folder.py
  lib/ansible/modules/cloud/vmware/vmware_about_facts.py
  lib/ansible/modules/cloud/vmware/vmware_category_facts.py
  lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py
  lib/ansible/modules/cloud/vmware/vmware_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_cluster_facts.py
  lib/ansible/modules/cloud/vmware/vmware_datacenter.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_facts.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_maintenancemode.py
  lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py
  lib/ansible/modules/cloud/vmware/vmware_dns_config.py
  lib/ansible/modules/cloud/vmware/vmware_drs_rule_facts.py
  lib/ansible/modules/cloud/vmware/vmware_dvs_host.py
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
  lib/ansible/modules/cloud/vmware/vmware_dvswitch.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  lib/ansible/modules/cloud/vmware/vmware_guest_boot_manager.py
  lib/ansible/modules/cloud/vmware/vmware_guest_custom_attribute_defs.py
  lib/ansible/modules/cloud/vmware/vmware_guest_custom_attributes.py
  lib/ansible/modules/cloud/vmware/vmware_guest_disk_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_file_operation.py
  lib/ansible/modules/cloud/vmware/vmware_guest_find.py
  lib/ansible/modules/cloud/vmware/vmware_guest_move.py
  lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
  lib/ansible/modules/cloud/vmware/vmware_host_datastore.py
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_powerstate.py
  lib/ansible/modules/cloud/vmware/vmware_host_service_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_vmnic_facts.py
  lib/ansible/modules/cloud/vmware/vmware_local_role_manager.py
  lib/ansible/modules/cloud/vmware/vmware_local_user_facts.py
  lib/ansible/modules/cloud/vmware/vmware_maintenancemode.py
  lib/ansible/modules/cloud/vmware/vmware_migrate_vmk.py
  lib/ansible/modules/cloud/vmware/vmware_portgroup.py
  lib/ansible/modules/cloud/vmware/vmware_portgroup_facts.py
  lib/ansible/modules/cloud/vmware/vmware_resource_pool.py
  lib/ansible/modules/cloud/vmware/vmware_tag.py
  lib/ansible/modules/cloud/vmware/vmware_tag_facts.py
  lib/ansible/modules/cloud/vmware/vmware_target_canonical_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vm_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vm_shell.py
  lib/ansible/modules/cloud/vmware/vmware_vm_vm_drs_rule.py
  lib/ansible/modules/cloud/vmware/vmware_vm_vss_dvs_migrate.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel_ip_config.py
  lib/ansible/modules/cloud/vmware/vmware_vmotion.py
  lib/ansible/modules/cloud/vmware/vmware_vsan_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_vswitch.py
  lib/ansible/modules/cloud/vmware/vmware_vswitch_facts.py
  lib/ansible/modules/cloud/vmware/vsphere_copy.py
Labels: affects_2.7, docs, needs_rebase, needs_revision

#42795 make lockfile destination settable and update doc
  lib/ansible/module_utils/common/file.py
Labels: affects_2.7, bug, needs_revision, python3, support:core

#43741 New networking module: voss_command
  .github/BOTMETA.yml
  lib/ansible/module_utils/network/voss/__init__.py
  lib/ansible/module_utils/network/voss/voss.py
  lib/ansible/modules/network/voss/__init__.py
  lib/ansible/modules/network/voss/voss_command.py
  lib/ansible/plugins/cliconf/voss.py
  lib/ansible/plugins/terminal/voss.py
  test/units/modules/network/voss/__init__.py
  test/units/modules/network/voss/fixtures/show_sys-info
  test/units/modules/network/voss/test_voss_command.py
  test/units/modules/network/voss/voss_module.py
Labels: affects_2.7, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#43608 Junos_config: Added note regarding set format and update:override
  lib/ansible/modules/network/junos/junos_config.py
Labels: affects_2.7, core_review, docs, module, networking, new_contributor, small_patch, support:network

#43601 Fix ini variables for netconf and network_cli connections
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.6, backport, bug, networking, support:core

#43552 openvswitch_db: Make 'key' parameter optional (#42110)
  changelogs/fragments/openvswitch_db_make_key_optional.yaml
  lib/ansible/modules/network/ovs/openvswitch_db.py
  test/integration/targets/openvswitch_db/tests/basic.yaml
  test/units/modules/network/ovs/test_openvswitch_db.py
Labels: affects_2.5, backport, core_review, module, networking, support:core, support:network, test

#43210 network/exos: add exos_facts module
  lib/ansible/modules/network/exos/exos_facts.py
  lib/ansible/plugins/terminal/exos.py
  test/units/modules/network/exos/fixtures/run_script_cli2json.py_show_lldp_neighbors
  test/units/modules/network/exos/fixtures/run_script_cli2json.py_show_port_config
  test/units/modules/network/exos/fixtures/run_script_cli2json.py_show_port_description
  test/units/modules/network/exos/fixtures/run_script_cli2json.py_show_vlan
  test/units/modules/network/exos/fixtures/run_script_cli2json.py_show_vlan_detail
  test/units/modules/network/exos/fixtures/show_memory
  test/units/modules/network/exos/fixtures/show_switch
  test/units/modules/network/exos/test_exos_facts.py
Labels: affects_2.7, core_review, feature, module, networking, new_module, new_plugin, support:community, support:core, test

#43834 Correct task args in azure_rm_managed_disk test.
  test/integration/targets/azure_rm_managed_disk/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, needs_triage, support:community, test

#43831 [stable-2.6] Fix 2 issues in sysvinit module (backport/2.6/42786)
  changelogs/fragments/42786-sysvinit-fix-2-issues.yml
  lib/ansible/modules/system/sysvinit.py
Labels: affects_2.6, backport, bug, core_review, module, needs_triage, support:core

#42654 Add OpenStack Magnum cluster template module
  lib/ansible/modules/cloud/openstack/os_coe_cluster_template.py
Labels: affects_2.7, cloud, community_review, module, new_contributor, new_module, new_plugin, openstack, stale_ci, support:community

#43838 Network *_config action plugin updates
  lib/ansible/plugins/action/aireos_config.py
  lib/ansible/plugins/action/aruba_config.py
  lib/ansible/plugins/action/asa_config.py
  lib/ansible/plugins/action/ce_config.py
  lib/ansible/plugins/action/cnos_config.py
  lib/ansible/plugins/action/dellos10_config.py
  lib/ansible/plugins/action/dellos6_config.py
  lib/ansible/plugins/action/dellos9_config.py
  lib/ansible/plugins/action/iosxr_config.py
  lib/ansible/plugins/action/ironware_config.py
  lib/ansible/plugins/action/junos_config.py
  lib/ansible/plugins/action/net_config.py
  lib/ansible/plugins/action/nxos_config.py
  lib/ansible/plugins/action/onyx_config.py
  lib/ansible/plugins/action/sros_config.py
Labels: affects_2.7, bug, networking, nxos, support:core

#43835 Ensure removed_in is StrictVersion before comparing
  test/sanity/validate-modules/main.py
Labels: affects_2.7, bug, python3, support:core, test, traceback

#43439 Fix all ACI examples to use delegate_to
  lib/ansible/modules/network/aci/aci_aaa_user.py
  lib/ansible/modules/network/aci/aci_aaa_user_certificate.py
  lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_aep.py
  lib/ansible/modules/network/aci/aci_aep_to_domain.py
  lib/ansible/modules/network/aci/aci_ap.py
  lib/ansible/modules/network/aci/aci_bd.py
  lib/ansible/modules/network/aci/aci_bd_subnet.py
  lib/ansible/modules/network/aci/aci_config_rollback.py
  lib/ansible/modules/network/aci/aci_config_snapshot.py
  lib/ansible/modules/network/aci/aci_contract.py
  lib/ansible/modules/network/aci/aci_contract_subject.py
  lib/ansible/modules/network/aci/aci_contract_subject_to_filter.py
  lib/ansible/modules/network/aci/aci_domain.py
  lib/ansible/modules/network/aci/aci_domain_to_encap_pool.py
  lib/ansible/modules/network/aci/aci_domain_to_vlan_pool.py
  lib/ansible/modules/network/aci/aci_encap_pool.py
  lib/ansible/modules/network/aci/aci_encap_pool_range.py
  lib/ansible/modules/network/aci/aci_epg.py
  lib/ansible/modules/network/aci/aci_epg_monitoring_policy.py
  lib/ansible/modules/network/aci/aci_epg_to_contract.py
  lib/ansible/modules/network/aci/aci_epg_to_domain.py
  lib/ansible/modules/network/aci/aci_fabric_node.py
  lib/ansible/modules/network/aci/aci_filter.py
  lib/ansible/modules/network/aci/aci_filter_entry.py
  lib/ansible/modules/network/aci/aci_firmware_source.py
  lib/ansible/modules/network/aci/aci_interface_policy_fc.py
  lib/ansible/modules/network/aci/aci_interface_policy_l2.py
  lib/ansible/modules/network/aci/aci_interface_policy_leaf_policy_group.py
  lib/ansible/modules/network/aci/aci_interface_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_interface_policy_lldp.py
  lib/ansible/modules/network/aci/aci_interface_policy_mcp.py
  lib/ansible/modules/network/aci/aci_interface_policy_ospf.py
  lib/ansible/modules/network/aci/aci_interface_policy_port_channel.py
  lib/ansible/modules/network/aci/aci_interface_policy_port_security.py
  lib/ansible/modules/network/aci/aci_interface_selector_to_switch_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_l3out.py
  lib/ansible/modules/network/aci/aci_l3out_route_tag_policy.py
  lib/ansible/modules/network/aci/aci_rest.py
  lib/ansible/modules/network/aci/aci_static_binding_to_epg.py
  lib/ansible/modules/network/aci/aci_switch_leaf_selector.py
  lib/ansible/modules/network/aci/aci_switch_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_switch_policy_vpc_protection_group.py
  lib/ansible/modules/network/aci/aci_taboo_contract.py
  lib/ansible/modules/network/aci/aci_tenant.py
  lib/ansible/modules/network/aci/aci_tenant_action_rule_profile.py
  lib/ansible/modules/network/aci/aci_tenant_ep_retention_policy.py
  lib/ansible/modules/network/aci/aci_tenant_span_dst_group.py
  lib/ansible/modules/network/aci/aci_tenant_span_src_group.py
  lib/ansible/modules/network/aci/aci_tenant_span_src_group_to_dst_group.py
  lib/ansible/modules/network/aci/aci_vlan_pool.py
  lib/ansible/modules/network/aci/aci_vlan_pool_encap_block.py
  lib/ansible/modules/network/aci/aci_vrf.py
Labels: aci, affects_2.7, bug

#43836 Create a template for security related bugs
  .github/ISSUE_TEMPLATE/security_bug_report.md
Labels: affects_2.7, feature, needs_triage, support:core

#43828 Fix link description typo in tools documentation
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: affects_2.7, docs, small_patch, support:core

#43801 To improve readability, we added a line feed.
  lib/ansible/modules/cloud/amazon/aws_ses_identity.py
  lib/ansible/modules/cloud/amazon/route53_facts.py
  lib/ansible/modules/cloud/cloudscale/cloudscale_server.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_forwarding_rule.py
  lib/ansible/modules/cloud/google/gcp_compute_global_forwarding_rule.py
  lib/ansible/modules/cloud/google/gcp_compute_image.py
  lib/ansible/modules/cloud/google/gcp_compute_instance.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group_manager.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_template.py
  lib/ansible/modules/cloud/google/gcp_compute_route.py
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork.py
  lib/ansible/modules/cloud/google/gcp_compute_target_http_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_ssl_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_tcp_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map.py
  lib/ansible/modules/cloud/google/gcp_container_node_pool.py
  lib/ansible/modules/cloud/google/gcp_dns_resource_record_set.py
  lib/ansible/modules/cloud/google/gcp_pubsub_subscription.py
  lib/ansible/modules/cloud/google/gcp_storage_bucket_access_control.py
  lib/ansible/modules/network/aos/_aos_logical_device.py
  lib/ansible/modules/network/aos/_aos_rack_type.py
  lib/ansible/modules/network/aos/_aos_template.py
  lib/ansible/modules/network/cumulus/nclu.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_launch.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_wait.py
Labels: affects_2.7, aws, cloud, community_review, deprecated, docs, gce, module, needs_triage, networking, support:community

#43816 Corrects module name in net_get module doc
  lib/ansible/modules/network/files/net_get.py
Labels: affects_2.7, core_review, docs, module, needs_triage, networking, new_contributor, small_patch, support:network

#43849 remove gundalow from Network issues
  .github/BOTMETA.yml
Labels: affects_2.7, feature, small_patch, support:core

#43846 Support dash-separated leaf IDs (as documented)
  lib/ansible/modules/network/aci/aci_static_binding_to_epg.py
Labels: aci, affects_2.7, bug, community_review, module, networking, owner_pr, support:community

#43848 aci_fabric_node: Fix idempotency (with newer ACI ?)
  lib/ansible/modules/network/aci/aci_fabric_node.py
Labels: aci, affects_2.7, bug, community_review, module, networking, owner_pr, small_patch, support:community

#43859 Don't notify privateip on network changes
  .github/BOTMETA.yml
Labels: affects_2.7, bug, needs_triage, support:core

#43804 VMware: remove unused imports
  contrib/inventory/vmware_inventory.py
  lib/ansible/modules/cloud/vmware/vcenter_folder.py
  lib/ansible/modules/cloud/vmware/vcenter_license.py
  lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py
  lib/ansible/modules/cloud/vmware/vmware_datastore_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_drs_rule_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  lib/ansible/modules/cloud/vmware/vmware_guest_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_move.py
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
  lib/ansible/modules/cloud/vmware/vmware_host_acceptance.py
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_manager.py
  lib/ansible/modules/cloud/vmware/vmware_host_lockdown.py
  lib/ansible/modules/cloud/vmware/vmware_host_ntp.py
  lib/ansible/modules/cloud/vmware/vmware_host_powerstate.py
  lib/ansible/modules/cloud/vmware/vmware_local_user_facts.py
  lib/ansible/modules/cloud/vmware/vmware_resource_pool_facts.py
  lib/ansible/modules/cloud/vmware/vmware_target_canonical_facts.py
  lib/ansible/modules/cloud/vmware/vmware_vm_facts.py
Labels: affects_2.7, bug, c:inventory/contrib_script, cloud, inventory, module, shipit, support:community, vmware

#26104 azure_rm_deployment: collect tags from existing Resource Group
  lib/ansible/modules/cloud/azure/azure_rm_deployment.py
Labels: affects_2.4, azure, bug, cloud, committer_review, module, stale_ci, support:certified

#29050 azure_rm_loadbalancer_facts.py: list() takes at least 2 arguments. Fixes #29046
  lib/ansible/modules/cloud/azure/azure_rm_loadbalancer_facts.py
Labels: affects_2.4, azure, bug, cloud, community_review, module, new_contributor, stale_ci, support:community, traceback

#43760 ansible-test: Create public key creating Windows targets
  test/runner/lib/core_ci.py
Labels: affects_2.7, needs_revision, support:core, test

#40702 add group_by_os_family in azure dynamic inventory
  contrib/inventory/azure_rm.ini
  contrib/inventory/azure_rm.py
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: affects_2.6, azure, c:inventory/contrib_script, cloud, docs, inventory, new_contributor, new_plugin, support:community, support:core

#43873 set supports_generate_diff to False vyos
  lib/ansible/plugins/cliconf/vyos.py
Labels: affects_2.7, bug, networking, small_patch, support:core

#43872 Fix unreferenced msg from vmware_host
  lib/ansible/modules/cloud/vmware/vmware_host.py
Labels: affects_2.7, bug, cloud, community_review, module, owner_pr, small_patch, support:community, vmware

#43418 Add source interface and use-vrf features
  lib/ansible/modules/network/nxos/nxos_logging.py
  test/integration/targets/nxos_logging/tests/common/basic.yaml
Labels: affects_2.7, core_review, feature, module, networking, nxos, stale_ci, support:network, test

#43843 [doc] import_role: mention version from which behavior changed and fix some typos
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  lib/ansible/modules/utilities/logic/import_role.py
Labels: affects_2.7, core_review, docs, module, support:core

#42306 Docker integration tests: factorize setup
  test/integration/targets/docker_secret/meta/main.yml
  test/integration/targets/docker_secret/tasks/main.yml
  test/integration/targets/docker_secret/tasks/test_secrets.yml
  test/integration/targets/docker_swarm/aliases
  test/integration/targets/docker_swarm/meta/main.yml
  test/integration/targets/docker_swarm/tasks/Fedora.yml
  test/integration/targets/docker_swarm/tasks/OpenSuse.yml
  test/integration/targets/docker_swarm/tasks/Ubuntu.yml
  test/integration/targets/docker_swarm/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/test_swarm.yml
  test/integration/targets/docker_swarm/templates/virt.repo.j2
  test/integration/targets/setup_docker/tasks/Debian.yml
  test/integration/targets/setup_docker/tasks/Fedora.yml
  test/integration/targets/setup_docker/tasks/RedHat.yml
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/tasks/main.yml
  test/integration/targets/setup_docker/templates/virt.repo.j2
Labels: affects_2.7, bug, cloud, docker, support:community, test

#42945 New module for managing EMC VNX Block storage
  lib/ansible/module_utils/storage/__init__.py
  lib/ansible/module_utils/storage/emc/__init__.py
  lib/ansible/module_utils/storage/emc/emc_vnx.py
  lib/ansible/modules/storage/emc/__init__.py
  lib/ansible/modules/storage/emc/emc_vnx_sg_member.py
  lib/ansible/utils/module_docs_fragments/emc.py
Labels: affects_2.7, core_review, module, new_module, new_plugin, storage, support:community, support:core, test

#43832 [stable-2.6] improve 'service' integration tests (backport/2.6/43655)
  test/integration/targets/service/files/ansible.systemd
  test/integration/targets/service/files/ansible_test_service
  test/integration/targets/service/tasks/main.yml
  test/integration/targets/service/tasks/systemd_setup.yml
  test/integration/targets/service/tasks/tests.yml
  test/integration/targets/service/tasks/upstart_cleanup.yml
Labels: affects_2.6, backport, bug, support:core, test

#43900 Fix download URL for yum integration test.
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.7, bug, support:core, test

#43854 networking: added platform guides for NOS and VOSS
  docs/docsite/rst/network/user_guide/platform_index.rst
  docs/docsite/rst/network/user_guide/platform_nos.rst
  docs/docsite/rst/network/user_guide/platform_voss.rst
Labels: affects_2.7, docs, networking, support:core

#43898 Fix spelling of ansbile to ansible
  lib/ansible/constants.py
Labels: affects_2.7, bug, small_patch, support:core

#43869 openvswitch_db : Handle column value conversion and idempotency in no_key case
  lib/ansible/modules/network/ovs/openvswitch_db.py
  test/integration/targets/openvswitch_db/tests/basic.yaml
  test/units/modules/network/ovs/test_openvswitch_db.py
Labels: affects_2.7, bug, core_review, module, networking, support:core, support:network, test

#43703 win_domain modules: ensure Netlogon service is still running after promotion
  changelogs/fragments/win_domain_controller-netlogon.yaml
  lib/ansible/modules/windows/win_domain.ps1
  lib/ansible/modules/windows/win_domain_controller.ps1
Labels: affects_2.7, bug, core_review, module, support:core, windows

#43837 Update iosxr cliconf plugin
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/module_utils/network/iosxr/iosxr.py
  lib/ansible/modules/network/iosxr/iosxr_command.py
  lib/ansible/modules/network/iosxr/iosxr_config.py
  lib/ansible/modules/network/iosxr/iosxr_facts.py
  lib/ansible/modules/network/iosxr/iosxr_interface.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/nxos.py
  test/units/modules/network/iosxr/test_iosxr_command.py
  test/units/modules/network/iosxr/test_iosxr_facts.py
Labels: affects_2.7, core_review, feature, module, networking, nxos, support:core, support:network, test

#43922 Fix eos_command integration test failures
  test/integration/targets/eos_command/tests/cli/cli_command.yaml
Labels: affects_2.7, bug, support:network, test

#43885 Prevent data being truncated over persistent connection socket
  bin/ansible-connection
  lib/ansible/executor/task_executor.py
  lib/ansible/module_utils/connection.py
  lib/ansible/plugins/connection/persistent.py
Labels: affects_2.7, bug, networking, shipit, support:core

#43805 nxos_vlan refactor to support non structured output
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/nxos/nxos_facts.py
  lib/ansible/modules/network/nxos/nxos_vlan.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/httpapi/nxos.py
  test/units/modules/network/nxos/fixtures/nxos_vlan/config.cfg
  test/units/modules/network/nxos/fixtures/nxos_vlan/show_vlan.txt
  test/units/modules/network/nxos/fixtures/nxos_vlan/show_vlan_brief.txt
  test/units/modules/network/nxos/test_nxos_vlan.py
Labels: affects_2.7, bug, core_review, module, networking, nxos, support:core, support:network, test

#43548 Remove use of simplejson throughout code base
  changelogs/fragments/remove-simplejson.yaml
  contrib/inventory/abiquo.py
  contrib/inventory/apache-libcloud.py
  contrib/inventory/brook.py
  contrib/inventory/cloudforms.py
  contrib/inventory/cloudstack.py
  contrib/inventory/cobbler.py
  contrib/inventory/collins.py
  contrib/inventory/consul_io.py
  contrib/inventory/digital_ocean.py
  contrib/inventory/ec2.py
  contrib/inventory/fleet.py
  contrib/inventory/gce.py
  contrib/inventory/landscape.py
  contrib/inventory/linode.py
  contrib/inventory/openshift.py
  contrib/inventory/openstack_inventory.py
  contrib/inventory/ovirt.py
  contrib/inventory/ovirt4.py
  contrib/inventory/packet_net.py
  contrib/inventory/proxmox.py
  contrib/inventory/rax.py
  contrib/inventory/rudder.py
  contrib/inventory/scaleway.py
  contrib/inventory/serf.py
  contrib/inventory/softlayer.py
  contrib/inventory/spacewalk.py
  contrib/inventory/ssh_config.py
  contrib/inventory/stacki.py
  contrib/inventory/vagrant.py
  contrib/inventory/vbox.py
  contrib/inventory/zabbix.py
  docs/docsite/rst/user_guide/intro_bsd.rst
  hacking/test-module
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/ipa.py
  lib/ansible/module_utils/json_utils.py
  lib/ansible/module_utils/lxd.py
  lib/ansible/module_utils/netapp.py
  lib/ansible/module_utils/network/f5/icontrol.py
  lib/ansible/modules/commands/raw.py
  lib/ansible/modules/monitoring/logicmonitor.py
  lib/ansible/modules/monitoring/logicmonitor_facts.py
  lib/ansible/modules/monitoring/sensu_silence.py
  lib/ansible/modules/monitoring/sensu_subscription.py
  lib/ansible/modules/packaging/language/npm.py
  lib/ansible/modules/system/service.py
  lib/ansible/modules/utilities/logic/async_wrapper.py
  lib/ansible/parsing/utils/jsonify.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/fetch.py
  lib/ansible/plugins/filter/core.py
  lib/ansible/plugins/lookup/consul_kv.py
  packaging/port/sysutils/ansible/Makefile
  test/units/module_utils/basic/test_imports.py
Labels: affects_2.7, feature, module, needs_maintainer, networking, shipit, support:community, support:core, test

#43947 Introduce `force` and `verbose` options in serverless module
  lib/ansible/modules/cloud/misc/serverless.py
Labels: affects_2.7, cloud, community_review, feature, module, needs_triage, new_contributor, support:community

#43727 Adding Common files for NetApp ElementSW release
  lib/ansible/module_utils/netapp.py
  lib/ansible/module_utils/netapp_elementsw_module.py
  lib/ansible/module_utils/netapp_module.py
  lib/ansible/utils/module_docs_fragments/netapp.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.7, docs, support:core, test

#43569 handle env exception in gathering even no inject
  changelogs/fragments/env_inject.yml
  lib/ansible/playbook/task.py
Labels: affects_2.7, bug, support:core

#43769 pkg_mgr: fixed apt_rpm detection
  lib/ansible/module_utils/facts/system/pkg_mgr.py
Labels: affects_2.7, bug, support:core

#43723 fix alt linux detection for new versions
  changelogs/fragments/alternative_facts.yml
  lib/ansible/module_utils/facts/system/distribution.py
Labels: affects_2.7, bug, needs_revision, support:core

#43951 Remove call to parse_returned_data when removing tmpdir
  lib/ansible/plugins/action/__init__.py
Labels: affects_2.7, bug, needs_triage, small_patch, support:core

#43977 iosxr_system always syntax error
  test/integration/targets/iosxr_system/tests/netconf/set_hostname.yaml
Labels: affects_2.7, bug, support:network, test

#43961 Add botmeta for team jboss.
  .github/BOTMETA.yml
Labels: affects_2.7, needs_triage, support:core

#43056 New networking module: Extreme nos_command
  .github/BOTMETA.yml
  lib/ansible/module_utils/network/nos/__init__.py
  lib/ansible/module_utils/network/nos/nos.py
  lib/ansible/modules/network/nos/__init__.py
  lib/ansible/modules/network/nos/nos_command.py
  lib/ansible/plugins/cliconf/nos.py
  lib/ansible/plugins/terminal/nos.py
  test/units/module_utils/network/nos/test_nos.py
  test/units/modules/network/nos/__init__.py
  test/units/modules/network/nos/fixtures/show_version
  test/units/modules/network/nos/nos_module.py
  test/units/modules/network/nos/test_nos_command.py
  test/units/plugins/cliconf/fixtures/nos/show_chassis
  test/units/plugins/cliconf/fixtures/nos/show_running-config
  test/units/plugins/cliconf/fixtures/nos/show_version
  test/units/plugins/cliconf/test_nos.py
Labels: affects_2.7, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#43335 Add enable_ip_forwarding option to azure_rm_networkinterface; Fixes #43276
  lib/ansible/modules/cloud/azure/azure_rm_networkinterface.py
  test/integration/targets/azure_rm_networkinterface/tasks/main.yml
Labels: affects_2.7, azure, cloud, feature, module, needs_revision, support:certified, test

#43985 cli_command: replace errant use of 'response' with 'answer'
  lib/ansible/modules/network/cli/cli_command.py
Labels: affects_2.7, bug, core_review, module, networking, small_patch, support:network

#43914 openvswitch_db : Handle column value conversion and idempotency in no_key case
  changelogs/fragments/openvswitch_db_column_value_type.yaml
  lib/ansible/modules/network/ovs/openvswitch_db.py
  test/integration/targets/openvswitch_db/tests/basic.yaml
  test/units/modules/network/ovs/test_openvswitch_db.py
Labels: affects_2.6, backport, bug, core_review, module, networking, support:core, support:network, test

#43990 Fix path handling in hacking/env-setup.
  hacking/env-setup
Labels: affects_2.7, bug, needs_triage, support:core

#43962 Display correct task title with strategy 'free' (fixes #43950)
  lib/ansible/plugins/callback/default.py
Labels: affects_2.7, bug, small_patch, support:core

#43899 [trivial doc fix] Fixed wrong storage platform on module docs for EMC VNX
  lib/ansible/utils/module_docs_fragments/emc.py
Labels: affects_2.7, docs, needs_triage, small_patch, support:core

#43298 module_utils/vultr.py: Ensure comparison is accurate
  lib/ansible/module_utils/vultr.py
Labels: affects_2.7, bug, cloud, owner_pr, small_patch, support:core

#42868 fix firewalld permanent zone operations
  lib/ansible/modules/system/firewalld.py
Labels: affects_2.7, bug, community_review, module, owner_pr, small_patch, support:community

#43980 ACME certificate revocation: add support for new draft-14 error message
  lib/ansible/modules/web_infrastructure/acme_certificate_revoke.py
Labels: affects_2.7, automerge, bug, module, owner_pr, shipit, support:community

#42170 ACME: use Cryptography (if a new enough version is available) instead of OpenSSL
  changelogs/fragments/42170-acme-backend-selection.yaml
  lib/ansible/module_utils/acme.py
  lib/ansible/modules/web_infrastructure/acme_account.py
  lib/ansible/modules/web_infrastructure/acme_certificate.py
  lib/ansible/modules/web_infrastructure/acme_certificate_revoke.py
  lib/ansible/utils/module_docs_fragments/acme.py
  test/integration/targets/acme_account/tasks/impl.yml
  test/integration/targets/acme_account/tasks/main.yml
  test/integration/targets/acme_certificate/tasks/impl.yml
  test/integration/targets/acme_certificate/tasks/main.yml
  test/integration/targets/acme_certificate_revoke/tasks/impl.yml
  test/integration/targets/acme_certificate_revoke/tasks/main.yml
  test/integration/targets/setup_acme/tasks/obtain-cert.yml
Labels: affects_2.7, feature, module, shipit, support:community, support:core, test

#43919 add support for opening shell on remote Windows host
  test/runner/lib/delegation.py
  test/runner/lib/manage_ci.py
  test/runner/test.py
Labels: affects_2.7, feature, support:core, test

#44019 Adds fixes and features to bigip_virtual_server
  lib/ansible/modules/network/f5/bigip_virtual_server.py
Labels: affects_2.7, community_review, f5, feature, module, networking, owner_pr, support:community

#44020 Add no-change handlers and fix utf8
  lib/ansible/modules/network/f5/bigip_command.py
Labels: affects_2.7, bug, community_review, f5, module, networking, owner_pr, support:community

#44021 Fix cli_command junos test failure and update doc
  lib/ansible/modules/network/cli/cli_command.py
  test/integration/targets/junos_command/tests/cli/cli_commmand.yaml
Labels: affects_2.7, core_review, docs, module, networking, support:network, test
