Repository ansible/ansible, pull requests merged in 2018-02, with the labels that each got.

#35780 ACI: Assorted set of fixes to docs
  docs/docsite/rst/guide_aci.rst
Labels: aci, docs_pull_request, support:core

#35961 ACI: Provide more debug output on failures
  lib/ansible/module_utils/network/aci/aci.py
Labels: aci, feature_pull_request, networking, support:core

#35903 Test against a single transport
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: docs_pull_request, support:core

#35927 Tower callback fixes
  lib/ansible/modules/cloud/amazon/ec2_instance.py
  test/integration/targets/ec2_instance/tasks/external_resource_attach.yml
Labels: aws, bugfix_pull_request, cloud, community_review, module, support:community, test

#35981 Backport Tower Callback fixes for ec2_instance module (#35927)
  lib/ansible/modules/cloud/amazon/ec2_instance.py
  test/integration/targets/ec2_instance/tasks/external_resource_attach.yml
Labels: affects_2.5, aws, backport, bugfix_pull_request, cloud, community_review, module, needs_triage, support:community, test

#35973 aci_interface_policy_leaf_policy_group: Fix tests
  test/integration/targets/aci_interface_policy_leaf_policy_group/tasks/main.yml
Labels: aci, bugfix_pull_request, support:community, test

#35968 ACI: Fixes to recent change to parameter choices
  lib/ansible/module_utils/network/aci/aci.py
  lib/ansible/modules/network/aci/aci_aaa_user.py
  lib/ansible/modules/network/aci/aci_bd_subnet.py
  lib/ansible/modules/network/aci/aci_interface_policy_l2.py
  lib/ansible/modules/network/aci/aci_interface_policy_lldp.py
  lib/ansible/modules/network/aci/aci_interface_policy_mcp.py
  lib/ansible/modules/network/aci/aci_tenant_span_src_group.py
  test/integration/targets/aci_bd_subnet/tasks/main.yml
Labels: aci, bugfix_pull_request, core_review, module, networking, support:community, support:core, test

#35975 Stabilize ec2_vpc_route_table
  lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py
Labels: aws, bugfix_pull_request, cloud, committer_review, module, support:certified

#35538 [WIP] initial cutover to API profiles - DO NOT MERGE
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/modules/cloud/azure/azure_rm_containerinstance.py
  lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py
  lib/ansible/utils/module_docs_fragments/azure.py
  packaging/requirements/requirements-azure.txt
  test/runner/requirements/integration.cloud.azure.txt
Labels: WIP, azure, bugfix_pull_request, cloud, module, support:certified, support:community, support:core, test

#30428 Expand Windows test matrix on Shippable.
  shippable.yml
  test/integration/targets/wait_for_connection/aliases
  test/integration/targets/win_acl_inheritance/aliases
  test/integration/targets/win_audit_policy_system/aliases
  test/integration/targets/win_audit_rule/aliases
  test/integration/targets/win_certificate_store/aliases
  test/integration/targets/win_command/aliases
  test/integration/targets/win_copy/aliases
  test/integration/targets/win_disk_facts/aliases
  test/integration/targets/win_domain_membership/aliases
  test/integration/targets/win_dotnet_ngen/aliases
  test/integration/targets/win_dsc/aliases
  test/integration/targets/win_environment/aliases
  test/integration/targets/win_eventlog_entry/aliases
  test/integration/targets/win_exec_wrapper/aliases
  test/integration/targets/win_firewall/aliases
  test/integration/targets/win_group_membership/aliases
  test/integration/targets/win_iis_webbinding/aliases
  test/integration/targets/win_mapped_drive/aliases
  test/integration/targets/win_msi/aliases
  test/integration/targets/win_package/aliases
  test/integration/targets/win_pagefile/aliases
  test/integration/targets/win_psmodule/aliases
  test/integration/targets/win_reg_stat/aliases
  test/integration/targets/win_regedit/aliases
  test/integration/targets/win_region/aliases
  test/integration/targets/win_route/aliases
  test/integration/targets/win_say/aliases
  test/integration/targets/win_scheduled_task_stat/aliases
  test/integration/targets/win_setup/aliases
  test/integration/targets/win_share/aliases
  test/integration/targets/win_slurp/aliases
  test/integration/targets/win_stat/aliases
  test/integration/targets/win_tempfile/aliases
  test/integration/targets/win_timezone/aliases
  test/integration/targets/win_unzip/aliases
  test/integration/targets/win_uri/aliases
  test/integration/targets/win_wakeonlan/aliases
  test/integration/targets/win_whoami/aliases
  test/utils/shippable/windows.sh
Labels: affects_2.5, feature_pull_request, support:community, support:core, test, windows

#21631 Add 'digital_ocean' as group in DigitalOcean dynamic inventory
  contrib/inventory/digital_ocean.py
Labels: affects_2.3, affects_2.4, c:inventory/contrib_script, cloud, digital_ocean, feature_pull_request, inventory, support:community

#34217 DigitalOcean Inventory: Removed sort from json dump
  contrib/inventory/digital_ocean.py
Labels: affects_2.5, bugfix_pull_request, c:inventory/contrib_script, cloud, digital_ocean, inventory, python3, support:community

#35984 Rebalance cloud tests into 5 groups.
  shippable.yml
  test/integration/targets/aws_elasticbeanstalk_app/aliases
  test/integration/targets/azure_rm_availabilityset_facts/aliases
  test/integration/targets/azure_rm_image/aliases
  test/integration/targets/azure_rm_loadbalancer/aliases
  test/integration/targets/azure_rm_managed_disk/aliases
  test/integration/targets/azure_rm_virtualmachine_extension/aliases
  test/integration/targets/azure_rm_virtualmachineimage_facts/aliases
  test/integration/targets/ec2_vpc_net/aliases
  test/integration/targets/sts_assume_role/aliases
  test/integration/targets/vmware_drs_rule_facts/aliases
  test/integration/targets/vmware_local_role_manager/aliases
Labels: azure, cloud, feature_pull_request, support:certified, support:community, support:core, test, vmware, windows

#36001 VMware: Additional check for RootSnapshot
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py
Labels: bugfix_pull_request, cloud, community_review, module, support:community, vmware

#35948 fixed spelling error
  lib/ansible/modules/system/runit.py
Labels: community_review, module, new_contributor, support:community

#35885 Move requirements into tests.
  test/integration/targets/ansible-galaxy/aliases
  test/integration/targets/ansible-galaxy/runme.sh
  test/integration/targets/ansible-galaxy/setup.yml
  test/integration/targets/command_shell/tasks/main.yml
  test/integration/targets/copy/tasks/tests.yml
  test/integration/targets/gem/tasks/main.yml
  test/integration/targets/gem/vars/FreeBSD.yml
  test/integration/targets/gem/vars/RedHat.yml
  test/integration/targets/gem/vars/default.yml
  test/integration/targets/git/tasks/setup.yml
  test/integration/targets/pull/runme.sh
  test/integration/targets/pull/setup.yml
  test/integration/targets/subversion/tasks/main.yml
  test/integration/targets/synchronize/tasks/main.yml
  test/runner/setup/remote.sh
Labels: feature_pull_request, support:community, support:core, test

#35949 Change wording of Going Further section
  docs/docsite/rst/dev_guide/developing_modules_general.rst
Labels: docs_pull_request, support:core

#35977 Fix VyOS check mode
  lib/ansible/module_utils/network/vyos/vyos.py
  lib/ansible/plugins/cliconf/vyos.py
  test/integration/targets/vyos_smoke/tests/cli/misc_tests.yaml
Labels: bugfix_pull_request, networking, support:community, support:core, test

#36018 VMware: Minor typo in vmware_host_dns_facts
  lib/ansible/modules/cloud/vmware/vmware_host_dns_facts.py
Labels: bugfix_pull_request, cloud, community_review, module, support:community, vmware

#35959 Fix nxos_igmp_interface for diff nxos versions
  lib/ansible/modules/network/nxos/nxos_igmp_interface.py
Labels: bugfix_pull_request, core_review, module, networking, nxos, owner_pr, support:network

#35791 Fix vrf parsing in eos_vrf and eos_eapi module
  lib/ansible/modules/network/eos/eos_eapi.py
  lib/ansible/modules/network/eos/eos_vrf.py
  test/integration/targets/eos_vrf/tests/cli/basic.yaml
Labels: bugfix_pull_request, core_review, module, networking, support:network, test

#36023 Fix vrf parsing in eos_vrf and eos_eapi module (#35791)
  lib/ansible/modules/network/eos/eos_eapi.py
  lib/ansible/modules/network/eos/eos_vrf.py
  test/integration/targets/eos_vrf/tests/cli/basic.yaml
Labels: affects_2.5, backport, bugfix_pull_request, core_review, module, networking, support:network, test

#35180 Added metrics_collection management to ec2_asg module to switch ASG m…
  lib/ansible/modules/cloud/amazon/ec2_asg.py
  test/integration/targets/ec2_asg/tasks/main.yml
Labels: affects_2.5, aws, cloud, feature_pull_request, module, needs_revision, stale_ci, stale_review, support:certified, test

#36048 Fix more docs vs argspec
  lib/ansible/modules/network/eos/eos_linkagg.py
  lib/ansible/modules/network/ios/ios_linkagg.py
  lib/ansible/modules/network/ios/ios_user.py
  lib/ansible/modules/network/iosxr/iosxr_netconf.py
  lib/ansible/modules/network/vyos/vyos_system.py
  lib/ansible/utils/module_docs_fragments/nxos.py
  test/sanity/validate-modules/ignore.txt
Labels: ci_verified, docs_pull_request, module, needs_revision, networking, support:core, support:network, test

#36052 Fix more docs vs argspec (#36048)
  lib/ansible/modules/network/eos/eos_linkagg.py
  lib/ansible/modules/network/ios/ios_linkagg.py
  lib/ansible/modules/network/ios/ios_user.py
  lib/ansible/modules/network/iosxr/iosxr_netconf.py
  lib/ansible/modules/network/vyos/vyos_system.py
  lib/ansible/utils/module_docs_fragments/nxos.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.5, backport, core_review, feature_pull_request, module, needs_triage, networking, support:core, support:network, test

#36041 Improve convert_bool error message
  lib/ansible/module_utils/parsing/convert_bool.py
Labels: feature_pull_request, needs_revision, support:core

#36007 fix spelling. Seriously, that's it.
  lib/ansible/plugins/callback/actionable.py
  lib/ansible/plugins/callback/full_skip.py
Labels: docs_pull_request, support:core

#36055 add_host: check if name or hostname arg is provided
  lib/ansible/plugins/action/add_host.py
Labels: bugfix_pull_request, support:core

#36051 aci_domain: Add missing integration tests
  lib/ansible/modules/network/aci/aci_domain.py
  test/integration/targets/aci_domain/aliases
  test/integration/targets/aci_domain/tasks/fc.yml
  test/integration/targets/aci_domain/tasks/l2dom.yml
  test/integration/targets/aci_domain/tasks/l3dom.yml
  test/integration/targets/aci_domain/tasks/main.yml
  test/integration/targets/aci_domain/tasks/phys.yml
  test/integration/targets/aci_domain/tasks/vmm-vmware.yml
Labels: aci, community_review, feature_pull_request, module, networking, support:community, test

#36071 aci_aep_to_domain: Add missing integration tests
  test/integration/targets/aci_aep_to_domain/aliases
  test/integration/targets/aci_aep_to_domain/tasks/main.yml
Labels: aci, feature_pull_request, support:community, test

#36079 aci_domain_to_vlan_pool: Add missing integration tests
  lib/ansible/modules/network/aci/aci_vlan_pool.py
  test/integration/targets/aci_domain_to_vlan_pool/aliases
  test/integration/targets/aci_domain_to_vlan_pool/tasks/main.yml
Labels: aci, community_review, feature_pull_request, module, networking, support:community, test

#36088 ACI docs: Add a section about common error messages
  docs/docsite/rst/guide_aci.rst
  lib/ansible/module_utils/network/aci/aci.py
Labels: aci, docs_pull_request, networking, support:core

#35988 fix nxos_interface_ospf issues
  lib/ansible/modules/network/nxos/nxos_interface_ospf.py
  test/integration/targets/nxos_interface_ospf/tests/common/sanity.yaml
Labels: bugfix_pull_request, core_review, module, networking, nxos, support:network, test

#36090 fix nxos_interface_ospf issues (#35988)
  lib/ansible/modules/network/nxos/nxos_interface_ospf.py
  test/integration/targets/nxos_interface_ospf/tests/common/sanity.yaml
Labels: affects_2.5, backport, core_review, module, networking, nxos, support:network, test

#36092 VMware: re-enable vmware_guest_powerstate tests
  test/integration/targets/vmware_guest_powerstate/tasks/main.yml
  test/integration/targets/vmware_guest_powerstate/tasks/poweroff_d1_c1_f0.yml
  test/integration/targets/vmware_guest_powerstate/tasks/poweroff_d1_c1_f1.yml
Labels: bugfix_pull_request, cloud, support:community, test, vmware

#35951 Correct the helm state in the documentation
  lib/ansible/modules/cloud/misc/helm.py
Labels: cloud, community_review, docs_pull_request, module, support:community

#36101 ACI docs: Add more links to resources and community
  docs/docsite/rst/guide_aci.rst
Labels: aci, docs_pull_request, support:core

#36107 [doc] provide detailed description of module
  lib/ansible/modules/network/routing/net_static_route.py
Labels: core_review, docs_pull_request, module, needs_triage, networking, support:network

#36075 Prevent reparenting a block with itself
  lib/ansible/playbook/block.py
Labels: WIP, bugfix_pull_request, support:core

#36114 Fix VyOS check mode (2.5)
  lib/ansible/module_utils/network/vyos/vyos.py
  lib/ansible/plugins/cliconf/vyos.py
  test/integration/targets/vyos_smoke/tests/cli/misc_tests.yaml
Labels: affects_2.5, backport, bugfix_pull_request, networking, support:community, support:core, test

#35127 Upgrade to openshift v0.4.1
  lib/ansible/module_utils/k8s/helper.py
  lib/ansible/modules/clustering/k8s/k8s_raw.py
  lib/ansible/modules/clustering/k8s/k8s_scale.py
  lib/ansible/modules/clustering/openshift/openshift_raw.py
  lib/ansible/modules/clustering/openshift/openshift_scale.py
  lib/ansible/plugins/inventory/k8s.py
  lib/ansible/plugins/inventory/openshift.py
  lib/ansible/plugins/lookup/k8s.py
  lib/ansible/plugins/lookup/openshift.py
Labels: affects_2.5, core_review, feature_pull_request, module, support:community, support:core

#36064 Acquire `display`ed messages from forked process
  bin/ansible-connection
Labels: bugfix_pull_request, support:core

#35972 [WIP] Add ios smoke tests
  test/integration/targets/ios_smoke/defaults/main.yaml
  test/integration/targets/ios_smoke/meta/main.yaml
  test/integration/targets/ios_smoke/tasks/cli.yaml
  test/integration/targets/ios_smoke/tasks/main.yaml
  test/integration/targets/ios_smoke/templates/defaults/config.j2
  test/integration/targets/ios_smoke/tests/cli/common_config.yaml
  test/integration/targets/ios_smoke/tests/cli/common_utils.yaml
  test/integration/targets/ios_smoke/tests/cli/misc_tests.yaml
Labels: WIP, bug_report, networking, support:community, test

#36119 Acquire `display`ed messages from forked process
  bin/ansible-connection
Labels: affects_2.5, backport, bugfix_pull_request, needs_triage, support:core

#36131 aci_aep_to_domain: Fix query all objects
  lib/ansible/modules/network/aci/aci_aep_to_domain.py
  test/integration/targets/aci_aep_to_domain/tasks/main.yml
Labels: aci, bugfix_pull_request, community_review, module, networking, support:community, test

#36120 Followup to docs refactor pull request #36067 - fixes gitignore and c…
  .gitignore
  docs/docsite/Makefile
  docs/docsite/rst/index.rst
  docs/docsite/rst/reference_appendices/config.rst
  docs/docsite/rst/reference_appendices/guide_aci.rst
  docs/docsite/rst/reference_appendices/modules_by_category.rst
  docs/docsite/rst/reference_appendices/playbooks_keywords.rst
  docs/docsite/rst/user_guide/ansible-config.rst
  docs/docsite/rst/user_guide/ansible-console.rst
  docs/docsite/rst/user_guide/ansible-doc.rst
  docs/docsite/rst/user_guide/ansible-galaxy.rst
  docs/docsite/rst/user_guide/ansible-inventory.rst
  docs/docsite/rst/user_guide/ansible-playbook.rst
  docs/docsite/rst/user_guide/ansible-pull.rst
  docs/docsite/rst/user_guide/ansible-vault.rst
  docs/docsite/rst/user_guide/ansible.rst
  docs/docsite/rst/user_guide/command_line_tools.rst
Labels: docs_pull_request, feature_pull_request, needs_revision, support:core

#36133 cherry pick ios smoke tests to stable-2.5 (#35972)
  test/integration/targets/ios_smoke/defaults/main.yaml
  test/integration/targets/ios_smoke/meta/main.yaml
  test/integration/targets/ios_smoke/tasks/cli.yaml
  test/integration/targets/ios_smoke/tasks/main.yaml
  test/integration/targets/ios_smoke/templates/defaults/config.j2
  test/integration/targets/ios_smoke/tests/cli/common_config.yaml
  test/integration/targets/ios_smoke/tests/cli/common_utils.yaml
  test/integration/targets/ios_smoke/tests/cli/misc_tests.yaml
Labels: affects_2.5, backport, bug_report, needs_triage, support:community, test

#35098 Fix typo in vars.rst
  docs/docsite/rst/plugins/vars.rst
Labels: affects_2.5, docs_pull_request, new_contributor, stale_ci, support:core

#36141 adding support for loopback interface
  lib/ansible/modules/network/vyos/vyos_l3_interface.py
Labels: core_review, feature_pull_request, module, needs_triage, networking, support:network

#36154 adding support for loopback interface (#36141)
  lib/ansible/modules/network/vyos/vyos_l3_interface.py
Labels: affects_2.5, backport, bugfix_pull_request, core_review, module, networking, support:network

#36139 Fixed Arista typo in docstring
  lib/ansible/modules/network/eos/eos_l2_interface.py
  lib/ansible/modules/network/eos/eos_l3_interface.py
  lib/ansible/modules/network/eos/eos_linkagg.py
  lib/ansible/modules/network/eos/eos_static_route.py
Labels: core_review, docs_pull_request, module, needs_triage, networking, support:network

#36149 Fix description for rabbitmq_policy
  lib/ansible/modules/messaging/rabbitmq_policy.py
Labels: community_review, docs_pull_request, module, new_contributor, support:community

#36155 Changing Lenovo Inc to Lenovo and update License file to be consistent.
  lib/ansible/module_utils/network/enos/enos.py
  lib/ansible/modules/network/enos/enos_command.py
  lib/ansible/modules/network/enos/enos_config.py
  lib/ansible/modules/network/enos/enos_facts.py
  lib/ansible/plugins/action/enos_config.py
  lib/ansible/plugins/terminal/enos.py
Labels: core_review, docs_pull_request, module, needs_triage, networking, support:community, support:core

#36151 File Module docs, adding mode permission example with sticky bit
  lib/ansible/modules/files/file.py
  lib/ansible/utils/module_docs_fragments/files.py
Labels: core_review, docs_pull_request, module, new_contributor, support:core

#36166 VMware: Additional check for RootSnapshot
  lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py
Labels: affects_2.5, backport, bugfix_pull_request, cloud, community_review, module, support:community, vmware

#36158 ACI: Fixes to domain parameters dependencies
  lib/ansible/modules/network/aci/aci_aep_to_domain.py
  lib/ansible/modules/network/aci/aci_domain.py
  lib/ansible/modules/network/aci/aci_domain_to_encap_pool.py
  lib/ansible/modules/network/aci/aci_domain_to_vlan_pool.py
  test/integration/targets/aci_aep_to_domain/tasks/main.yml
  test/integration/targets/aci_domain/tasks/fc.yml
  test/integration/targets/aci_domain/tasks/l2dom.yml
  test/integration/targets/aci_domain/tasks/l3dom.yml
  test/integration/targets/aci_domain/tasks/phys.yml
  test/integration/targets/aci_domain/tasks/vmm-vmware.yml
  test/integration/targets/aci_domain_to_vlan_pool/tasks/main.yml
Labels: aci, bugfix_pull_request, community_review, module, networking, support:community, test

#35861 Add unit tests for edgeos_command
  lib/ansible/module_utils/network/edgeos/edgeos.py
  lib/ansible/modules/network/edgeos/edgeos_command.py
  lib/ansible/plugins/cliconf/edgeos.py
  lib/ansible/plugins/terminal/edgeos.py
  test/units/modules/network/edgeos/edgeos_module.py
  test/units/modules/network/edgeos/test_edgeos_command.py
Labels: core_review, feature_pull_request, module, networking, support:community, support:core, test

#36160 Ensure docs are valid before checking deprecation
  test/sanity/validate-modules/main.py
Labels: bugfix_pull_request, support:core, test

#36164 File Module docs, adding mode permission example with sticky bit (#3…
  lib/ansible/modules/files/file.py
  lib/ansible/utils/module_docs_fragments/files.py
Labels: affects_2.5, backport, core_review, module, needs_triage, support:core

#36173 aci_vlan_pool: Improve integration tests
  test/integration/targets/aci_vlan_pool/tasks/dynamic.yml
  test/integration/targets/aci_vlan_pool/tasks/main.yml
  test/integration/targets/aci_vlan_pool/tasks/static.yml
Labels: aci, feature_pull_request, support:community, test

#36191 Allow removed_in: "2.10"
  test/sanity/validate-modules/schema.py
Labels: bugfix_pull_request, support:core, test

#36015 win_updates: fix regression when using string cat names
  lib/ansible/plugins/action/win_updates.py
  test/integration/targets/win_updates/tasks/tests.yml
Labels: bugfix_pull_request, support:core, test, windows

#36017 win_domain_controller: optionally add -ReadOnlyReplica if true
  lib/ansible/modules/windows/win_domain_controller.ps1
Labels: bugfix_pull_request, core_review, module, owner_pr, support:core, windows

#36198 Add additional support code in ansible-test.
  test/runner/lib/docker_util.py
  test/runner/lib/http.py
Labels: feature_pull_request, support:core, test

#36016 win_uri: fix creates/removes option
  lib/ansible/modules/windows/win_uri.ps1
  test/integration/targets/win_uri/tasks/test.yml
Labels: bugfix_pull_request, community_review, module, support:community, test, windows

#36188 Inv export
  lib/ansible/cli/inventory.py
  lib/ansible/config/base.yml
Labels: P2, bugfix_pull_request, support:core

#36124 fix loop_control templating
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/loop_control.py
Labels: bugfix_pull_request, support:core

#35967 deal with no config for view
  lib/ansible/cli/config.py
Labels: bugfix_pull_request, support:core

#36042 fixes to virtual facts
  lib/ansible/module_utils/facts/virtual/linux.py
Labels: bugfix_pull_request, support:core

#36207 Initial OpenShift integration test support.
  test/integration/cloud-config-openshift.kubeconfig.template
  test/integration/targets/openshift_raw/aliases
  test/integration/targets/openshift_raw/tasks/main.yml
  test/runner/lib/cloud/openshift.py
Labels: feature_pull_request, support:community, support:core, test

#36208 Relocate ACI guide and add to TOC
  docs/docsite/rst/index.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
Labels: docs_pull_request, feature_pull_request, needs_triage, support:core

#35964 never tags docs and test
  docs/docsite/rst/user_guide/playbooks_tags.rst
  test/integration/targets/tags/runme.sh
  test/integration/targets/tags/test_tags.yml
Labels: docs_pull_request, feature_pull_request, support:community, support:core, test

#36181 ACI: Avoid using 'previous' with query operations
  lib/ansible/module_utils/network/aci/aci.py
  test/integration/targets/aci_access_port_to_interface_policy_leaf_profile/tasks/main.yml
  test/integration/targets/aci_ap/tasks/main.yml
  test/integration/targets/aci_bd/tasks/main.yml
  test/integration/targets/aci_bd_subnet/tasks/main.yml
  test/integration/targets/aci_config_rollback/tasks/main.yml
  test/integration/targets/aci_config_snapshot/tasks/main.yml
  test/integration/targets/aci_contract/tasks/main.yml
  test/integration/targets/aci_contract_subject/tasks/main.yml
  test/integration/targets/aci_contract_subject_to_filter/tasks/main.yml
  test/integration/targets/aci_encap_pool/tasks/vlan.yml
  test/integration/targets/aci_encap_pool/tasks/vxlan.yml
  test/integration/targets/aci_encap_pool_range/tasks/vlan.yml
  test/integration/targets/aci_epg/tasks/main.yml
  test/integration/targets/aci_epg_to_contract/tasks/main.yml
  test/integration/targets/aci_epg_to_domain/tasks/main.yml
  test/integration/targets/aci_filter_entry/tasks/main.yml
  test/integration/targets/aci_interface_policy_leaf_policy_group/tasks/main.yml
  test/integration/targets/aci_interface_selector_to_switch_policy_leaf_profile/tasks/main.yml
  test/integration/targets/aci_switch_leaf_selector/tasks/main.yml
  test/integration/targets/aci_vlan_pool_encap_block/tasks/main.yml
  test/integration/targets/aci_vrf/tasks/main.yml
Labels: aci, feature_pull_request, networking, support:community, support:core, test

#36195 Upgrade to openshift client 0.4.0 (#35127)
  lib/ansible/module_utils/k8s/helper.py
  lib/ansible/modules/clustering/k8s/k8s_raw.py
  lib/ansible/modules/clustering/k8s/k8s_scale.py
  lib/ansible/modules/clustering/openshift/openshift_raw.py
  lib/ansible/modules/clustering/openshift/openshift_scale.py
  lib/ansible/plugins/inventory/k8s.py
  lib/ansible/plugins/inventory/openshift.py
  lib/ansible/plugins/lookup/k8s.py
  lib/ansible/plugins/lookup/openshift.py
Labels: affects_2.5, backport, feature_pull_request, module, needs_revision, needs_triage, support:community, support:core

#36134 added support for --testcase flag in ansible-test
  docs/docsite/rst/dev_guide/testing_integration.rst
  test/runner/lib/config.py
  test/runner/lib/executor.py
  test/runner/test.py
Labels: docs_pull_request, feature_pull_request, support:core, test

#36074 better sudo/su deprecation on config entries
  lib/ansible/config/base.yml
Labels: docs_pull_request, support:core

#36143 Fix for setting remote_tmp as a subdirectory of a system temp dir
  lib/ansible/plugins/shell/__init__.py
  lib/ansible/plugins/shell/powershell.py
Labels: bugfix_pull_request, ci_verified, needs_revision, support:core, windows

#36212 Update VERSION to match ansible.release
  VERSION
Labels: bugfix_pull_request, support:core

#36215 aci_encap_pool: Standardize on 'pool_allocation_mode'
  lib/ansible/modules/network/aci/aci_encap_pool.py
  test/integration/targets/aci_encap_pool/tasks/main.yml
  test/integration/targets/aci_encap_pool/tasks/vlan.yml
  test/integration/targets/aci_encap_pool/tasks/vsan.yml
  test/integration/targets/aci_encap_pool/tasks/vxlan.yml
Labels: aci, community_review, feature_pull_request, module, networking, support:community, test

#36220 Fixed typo in link.
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: docs_pull_request, feature_pull_request, needs_triage, support:core

#36126 Documentation updated for zabbix.py
  lib/ansible/utils/module_docs_fragments/zabbix.py
Labels: docs_pull_request, support:core

#36175 Fix nxos_linkagg tests
  test/integration/targets/nxos_linkagg/tests/common/sanity.yaml
Labels: bugfix_pull_request, networking, nxos, support:network, test

#36222 Fix nxos_linkagg tests (#36175)
  test/integration/targets/nxos_linkagg/tests/common/sanity.yaml
Labels: affects_2.5, backport, networking, nxos, support:network, test

#36213 Updating URL to Nuage Python VSPK documentation
  lib/ansible/modules/network/nuage/nuage_vspk.py
Labels: bugfix_pull_request, community_review, module, needs_triage, networking, owner_pr, support:community

#36225 Cleaned up some scenario guide titles and TOC placement.
  docs/docsite/rst/index.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: docs_pull_request, feature_pull_request, needs_triage, support:core

#36190 Add stub porting_guide_2.6.rst
  CHANGELOG.md
  docs/docsite/rst/porting_guides/porting_guide_2.6.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: docs_pull_request, support:core

#36232 Updating URL to Nuage Python VSPK documentation (#36213)
  lib/ansible/modules/network/nuage/nuage_vspk.py
Labels: affects_2.5, backport, community_review, docs_pull_request, module, networking, support:community

#20974 Make a generalized OpenStack cloud constructor
  contrib/inventory/openstack.yml
  lib/ansible/module_utils/openstack.py
  lib/ansible/modules/cloud/openstack/os_auth.py
  lib/ansible/modules/cloud/openstack/os_flavor_facts.py
  lib/ansible/modules/cloud/openstack/os_floating_ip.py
  lib/ansible/modules/cloud/openstack/os_group.py
  lib/ansible/modules/cloud/openstack/os_image.py
  lib/ansible/modules/cloud/openstack/os_image_facts.py
  lib/ansible/modules/cloud/openstack/os_ironic.py
  lib/ansible/modules/cloud/openstack/os_ironic_inspect.py
  lib/ansible/modules/cloud/openstack/os_ironic_node.py
  lib/ansible/modules/cloud/openstack/os_keypair.py
  lib/ansible/modules/cloud/openstack/os_keystone_domain.py
  lib/ansible/modules/cloud/openstack/os_keystone_domain_facts.py
  lib/ansible/modules/cloud/openstack/os_keystone_endpoint.py
  lib/ansible/modules/cloud/openstack/os_keystone_role.py
  lib/ansible/modules/cloud/openstack/os_keystone_service.py
  lib/ansible/modules/cloud/openstack/os_network.py
  lib/ansible/modules/cloud/openstack/os_networks_facts.py
  lib/ansible/modules/cloud/openstack/os_nova_flavor.py
  lib/ansible/modules/cloud/openstack/os_nova_host_aggregate.py
  lib/ansible/modules/cloud/openstack/os_object.py
  lib/ansible/modules/cloud/openstack/os_port.py
  lib/ansible/modules/cloud/openstack/os_port_facts.py
  lib/ansible/modules/cloud/openstack/os_project.py
  lib/ansible/modules/cloud/openstack/os_project_facts.py
  lib/ansible/modules/cloud/openstack/os_quota.py
  lib/ansible/modules/cloud/openstack/os_recordset.py
  lib/ansible/modules/cloud/openstack/os_router.py
  lib/ansible/modules/cloud/openstack/os_security_group.py
  lib/ansible/modules/cloud/openstack/os_security_group_rule.py
  lib/ansible/modules/cloud/openstack/os_server.py
  lib/ansible/modules/cloud/openstack/os_server_action.py
  lib/ansible/modules/cloud/openstack/os_server_facts.py
  lib/ansible/modules/cloud/openstack/os_server_group.py
  lib/ansible/modules/cloud/openstack/os_server_volume.py
  lib/ansible/modules/cloud/openstack/os_stack.py
  lib/ansible/modules/cloud/openstack/os_subnet.py
  lib/ansible/modules/cloud/openstack/os_subnets_facts.py
  lib/ansible/modules/cloud/openstack/os_user.py
  lib/ansible/modules/cloud/openstack/os_user_facts.py
  lib/ansible/modules/cloud/openstack/os_user_group.py
  lib/ansible/modules/cloud/openstack/os_user_role.py
  lib/ansible/modules/cloud/openstack/os_volume.py
  lib/ansible/modules/cloud/openstack/os_zone.py
  lib/ansible/utils/module_docs_fragments/openstack.py
  test/units/modules/cloud/openstack/test_os_server.py
Labels: affects_2.3, c:inventory/contrib_script, c:module_utils/, cloud, inventory, module, module_utils/, needs_revision, openstack, pep8, support:community, support:core, test

#35913 Only template each hostvars var on-demand (fixes #33259)
  lib/ansible/parsing/yaml/dumper.py
  lib/ansible/plugins/filter/core.py
  lib/ansible/template/__init__.py
  lib/ansible/vars/hostvars.py
Labels: bugfix_pull_request, support:core

#36176 Alter ASA regexes to be byte-strings
  lib/ansible/plugins/terminal/asa.py
Labels: bugfix_pull_request, needs_triage, networking, support:core

#34838 vars.clean: remove unused method inject_facts
  lib/ansible/vars/clean.py
Labels: affects_2.5, bugfix_pull_request, stale_ci, support:core

#36058 Fix inconsistent case of `Allocation_id` in NAT Gateway outputs
  lib/ansible/modules/cloud/amazon/ec2_vpc_nat_gateway.py
Labels: aws, bugfix_pull_request, cloud, community_review, module, support:community

#36239 Alter ASA regexes to be byte-strings (#36176)
  lib/ansible/plugins/terminal/asa.py
Labels: affects_2.5, backport, bugfix_pull_request, networking, support:core

#36221 Normalize usage of temp and tmp on tmp
  CHANGELOG.md
  bin/ansible
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/urls.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/assemble.py
  lib/ansible/plugins/action/command.py
  lib/ansible/plugins/action/copy.py
  lib/ansible/plugins/action/fetch.py
  lib/ansible/plugins/action/normal.py
  lib/ansible/plugins/action/package.py
  lib/ansible/plugins/action/patch.py
  lib/ansible/plugins/action/script.py
  lib/ansible/plugins/action/service.py
  lib/ansible/plugins/action/template.py
  lib/ansible/plugins/action/unarchive.py
  lib/ansible/plugins/action/win_copy.py
  lib/ansible/plugins/shell/__init__.py
  lib/ansible/plugins/shell/powershell.py
  lib/ansible/utils/module_docs_fragments/shell_common.py
  test/integration/targets/async_fail/action_plugins/normal.py
  test/units/plugins/action/test_action.py
Labels: bugfix_pull_request, needs_revision, support:community, support:core, test, windows

#34130 Backport fix for docker oom_killer param missing into 2.4
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.4, backport, bugfix_pull_request, cloud, community_review, docker, module, new_contributor, stale_ci, support:community

#36142 Update ios_ping.py to allow for count > 70.
  lib/ansible/modules/network/ios/ios_ping.py
Labels: bugfix_pull_request, module, needs_revision, networking, new_contributor, support:community

#36256 Reduces the unit test time of select bigip modules
  test/units/modules/network/f5/test_bigip_asm_policy.py
  test/units/modules/network/f5/test_bigip_command.py
  test/units/modules/network/f5/test_bigip_configsync_action.py
  test/units/modules/network/f5/test_bigip_device_httpd.py
  test/units/modules/network/f5/test_bigip_iapplx_package.py
  test/units/modules/network/f5/test_bigip_provision.py
  test/units/modules/network/f5/test_bigip_ucs.py
  test/units/modules/network/f5/test_bigip_vcmp_guest.py
  test/units/modules/network/f5/test_bigip_wait.py
  test/units/modules/network/f5/test_bigiq_regkey_license.py
Labels: bugfix_pull_request, networking, python3, support:core, test

#36247 Add several new doc<->arg_spec checks
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  test/sanity/validate-modules/ignore.txt
  test/sanity/validate-modules/main.py
  test/sanity/validate-modules/utils.py
Labels: docs_pull_request, feature_pull_request, support:core, test

#35762 False matches the docs and intentions of the previous developer
  lib/ansible/modules/cloud/docker/docker_service.py
Labels: bugfix_pull_request, cloud, community_review, docker, module, new_contributor, python3, stale_ci, support:community

#36244 Fix ansible-console always asking for vault passwords
  lib/ansible/cli/console.py
Labels: bugfix_pull_request, support:core

#36185 Fix Porting Guide links for Ansible 2.5
  CHANGELOG.md
Labels: docs_pull_request, support:core

#36265 Arg spec doc comparison fixes
  test/sanity/validate-modules/ignore.txt
  test/sanity/validate-modules/main.py
Labels: bugfix_pull_request, needs_triage, support:core, test

#36246 aci_firmware_source: Add integration tests and examples
  lib/ansible/modules/network/aci/aci_firmware_source.py
  test/integration/targets/aci_firmware_source/aliases
  test/integration/targets/aci_firmware_source/tasks/main.yml
Labels: aci, ci_verified, feature_pull_request, module, needs_revision, networking, support:community, test

#36276 aci_taboo_contract: Add integration tests and examples
  lib/ansible/modules/network/aci/aci_taboo_contract.py
  test/integration/targets/aci_taboo_contract/aliases
  test/integration/targets/aci_taboo_contract/tasks/main.yml
  test/integration/targets/aci_vlan_pool/tasks/dynamic.yml
  test/integration/targets/aci_vlan_pool/tasks/static.yml
Labels: aci, community_review, feature_pull_request, module, networking, support:community, test

#36268 Fix incorrect docs in `ec2_tag` per #35738
  lib/ansible/modules/cloud/amazon/ec2_tag.py
Labels: aws, cloud, committer_review, docs_pull_request, module, support:certified

#36147 fix nxos_bgp_af issues
  lib/ansible/modules/network/nxos/nxos_bgp_af.py
  test/integration/targets/nxos_bgp_af/defaults/main.yaml
  test/integration/targets/nxos_bgp_af/tests/common/sanity.yaml
  test/units/modules/network/nxos/test_nxos_bgp_af.py
Labels: bugfix_pull_request, module, needs_revision, networking, nxos, support:core, support:network, test

#36283 fix nxos_bgp_af issues (#36147)
  lib/ansible/modules/network/nxos/nxos_bgp_af.py
  test/integration/targets/nxos_bgp_af/defaults/main.yaml
  test/integration/targets/nxos_bgp_af/tests/common/sanity.yaml
  test/units/modules/network/nxos/test_nxos_bgp_af.py
Labels: affects_2.5, backport, bugfix_pull_request, core_review, module, networking, nxos, support:core, support:network, test

#35837 VMware: Fix DVPG idempotency issue
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/main.yml
  test/integration/targets/vmware_guest/tasks/network_negative_test.yml
  test/integration/targets/vmware_guest/tasks/network_with_dvpg.yml
Labels: bugfix_pull_request, cloud, module, shipit, support:community, test, vmware

#34491 docker_login: Hide password from response
  lib/ansible/modules/cloud/docker/docker_login.py
Labels: affects_2.5, bugfix_pull_request, cloud, community_review, docker, module, support:community

#36026 VMware: New module: vmware_guest_disk_facts
  lib/ansible/modules/cloud/vmware/vmware_guest_disk_facts.py
  test/integration/targets/vmware_guest_disk_facts/aliases
  test/integration/targets/vmware_guest_disk_facts/tasks/main.yml
Labels: cloud, module, new_module, new_plugin, shipit, support:community, test, vmware

#36094 VMware: re-enable vmware_guest_powerstate tests
  test/integration/targets/vmware_guest_powerstate/tasks/main.yml
  test/integration/targets/vmware_guest_powerstate/tasks/poweroff_d1_c1_f0.yml
  test/integration/targets/vmware_guest_powerstate/tasks/poweroff_d1_c1_f1.yml
Labels: affects_2.5, backport, bugfix_pull_request, cloud, support:community, test, vmware

#36245 Add eos_command doc with more examples
  lib/ansible/modules/network/eos/eos_command.py
Labels: core_review, docs_pull_request, module, networking, support:network

#36289 Add eos_command doc with more examples (#36245)
  lib/ansible/modules/network/eos/eos_command.py
Labels: affects_2.5, backport, core_review, docs_pull_request, module, needs_triage, networking, support:network

#36285 VMware: Fix DVPG idempotency issue
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/main.yml
  test/integration/targets/vmware_guest/tasks/network_negative_test.yml
  test/integration/targets/vmware_guest/tasks/network_with_dvpg.yml
Labels: affects_2.5, backport, bugfix_pull_request, cloud, community_review, module, support:community, test, vmware

#36217 [WIP] aci_domain_to_encap_pool: Add integration tests
  lib/ansible/modules/network/aci/aci_domain_to_encap_pool.py
  test/integration/targets/aci_domain_to_encap_pool/aliases
  test/integration/targets/aci_domain_to_encap_pool/tasks/main.yml
  test/integration/targets/aci_domain_to_encap_pool/tasks/vlan.yml
  test/integration/targets/aci_domain_to_encap_pool/tasks/vsan.yml
  test/integration/targets/aci_domain_to_encap_pool/tasks/vxlan.yml
Labels: WIP, aci, feature_pull_request, module, networking, support:community, test

#36287 Misc. typos in ovirt_host_networks
  lib/ansible/modules/cloud/ovirt/ovirt_host_networks.py
Labels: automerge, cloud, docs_pull_request, module, ovirt, shipit, support:community

#36219 updates to porting guide
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: docs_pull_request, support:core

#35882 Add information on the various package states
  lib/ansible/modules/packaging/os/yum.py
Labels: docs_pull_request, module, needs_revision, new_contributor, support:core

#36292 Add --truncate option to ansible-test.
  test/runner/lib/util.py
  test/runner/test.py
Labels: feature_pull_request, needs_revision, support:core, test

#36263 Improved language around XML description.
  lib/ansible/modules/cloud/misc/virt.py
Labels: cloud, community_review, docs_pull_request, module, support:community

#36271 int("255.255.255.0") does not work, fixes issue #33867
  lib/ansible/modules/cloud/ovirt/ovirt_host_networks.py
Labels: automerge, bugfix_pull_request, cloud, module, new_contributor, ovirt, shipit, support:community

#36257 Re-enable ios_config tests that were fixed in a previous patch
  test/integration/targets/ios_config/tests/cli/save.yaml
Labels: bug_report, networking, support:network, test

#36137 Improved language around in_vpc parameter.
  lib/ansible/modules/cloud/amazon/ec2_eip.py
Labels: aws, cloud, committer_review, docs_pull_request, module, networking, support:certified, test

#36254 Fix subprompts 'None' stringification in call to send_command
  lib/ansible/plugins/cliconf/ios.py
Labels: bugfix_pull_request, networking, support:core

#36128 facts: fix device uuid's on el6
  lib/ansible/module_utils/facts/hardware/linux.py
  test/units/module_utils/facts/hardware/linux_data.py
  test/units/module_utils/facts/hardware/test_linux.py
  test/units/module_utils/facts/test_facts.py
Labels: bugfix_pull_request, needs_revision, support:core, test

#36303 re enabled tests that were fixed in ansible/ansible-modules-core#500…
  test/integration/targets/ios_config/tests/cli/save.yaml
Labels: affects_2.5, backport, bug_report, needs_triage, support:network, test

#36193 Fix structured output bug in nxos_user module
  lib/ansible/modules/network/nxos/nxos_user.py
Labels: bugfix_pull_request, core_review, module, networking, nxos, owner_pr, support:network

#36043 updates to module testing
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: docs_pull_request, support:core

#36029 Depreciate aos
  CHANGELOG.md
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  lib/ansible/modules/network/aos/_aos_asn_pool.py
  lib/ansible/modules/network/aos/_aos_blueprint.py
  lib/ansible/modules/network/aos/_aos_blueprint_param.py
  lib/ansible/modules/network/aos/_aos_blueprint_virtnet.py
  lib/ansible/modules/network/aos/_aos_device.py
  lib/ansible/modules/network/aos/_aos_external_router.py
  lib/ansible/modules/network/aos/_aos_ip_pool.py
  lib/ansible/modules/network/aos/_aos_logical_device.py
  lib/ansible/modules/network/aos/_aos_logical_device_map.py
  lib/ansible/modules/network/aos/_aos_login.py
  lib/ansible/modules/network/aos/_aos_rack_type.py
  lib/ansible/modules/network/aos/_aos_template.py
Labels: core_review, docs_pull_request, module, networking, support:community, support:core

#36281 Import sanity test for main() in Ansible modules.
  test/sanity/import/importer.py
  test/sanity/import/skip.txt
Labels: feature_pull_request, support:core, test

#36309 Fix None stringification call to send_command
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.5, backport, bugfix_pull_request, networking, support:core

#36310 Fix structured output bug (#36193)
  lib/ansible/modules/network/nxos/nxos_user.py
Labels: affects_2.5, backport, core_review, module, needs_triage, networking, nxos, owner_pr, support:network

#36201 Fix nxos_system tests
  test/integration/targets/nxos_system/tests/common/sanity.yaml
  test/integration/targets/nxos_system/tests/common/set_hostname.yaml
  test/integration/targets/nxos_system/tests/nxapi/net_system.yaml
Labels: bugfix_pull_request, needs_revision, networking, nxos, support:network, test

#36261 Fixes for the N3500 platform that uses the A8 image
  lib/ansible/modules/network/nxos/nxos_feature.py
  lib/ansible/modules/network/nxos/nxos_lldp.py
  test/integration/targets/nxos_l3_interface/tests/cli/sanity.yaml
  test/integration/targets/nxos_l3_interface/tests/nxapi/sanity.yaml
  test/integration/targets/nxos_linkagg/tests/common/sanity.yaml
  test/integration/targets/nxos_lldp/tests/cli/sanity.yaml
  test/integration/targets/nxos_lldp/tests/nxapi/sanity.yaml
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
  test/units/modules/network/nxos/test_nxos_feature.py
Labels: bugfix_pull_request, core_review, module, networking, nxos, support:community, support:core, support:network, test

#36319 nxos_install_os Remove kickstart_image_required check
  lib/ansible/modules/network/nxos/nxos_install_os.py
Labels: bugfix_pull_request, core_review, module, networking, nxos, owner_pr, support:network

#36340 nxos fix cherry-pick
  lib/ansible/modules/network/nxos/nxos_feature.py
  lib/ansible/modules/network/nxos/nxos_lldp.py
  test/integration/targets/nxos_l3_interface/tests/cli/sanity.yaml
  test/integration/targets/nxos_l3_interface/tests/nxapi/sanity.yaml
  test/integration/targets/nxos_linkagg/tests/common/sanity.yaml
  test/integration/targets/nxos_lldp/tests/cli/sanity.yaml
  test/integration/targets/nxos_lldp/tests/nxapi/sanity.yaml
  test/integration/targets/nxos_system/tests/common/sanity.yaml
  test/integration/targets/nxos_system/tests/common/set_hostname.yaml
  test/integration/targets/nxos_system/tests/nxapi/net_system.yaml
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
  test/units/modules/network/nxos/test_nxos_feature.py
Labels: affects_2.5, backport, core_review, module, needs_triage, networking, nxos, support:community, support:core, support:network, test

#36342 Remove kickstart_image_required check (#36319)
  lib/ansible/modules/network/nxos/nxos_install_os.py
Labels: affects_2.5, backport, module, needs_info, needs_template, needs_triage, networking, nxos, owner_pr, support:network

#36320 Drop duplicate imports from apt_repository module
  lib/ansible/modules/packaging/os/apt_repository.py
Labels: bugfix_pull_request, core_review, module, support:core

#35934 Refactor DigitalOcean modules
  lib/ansible/module_utils/digital_ocean.py
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_block_storage.py
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_certificate.py
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_domain.py
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_floating_ip_facts.py
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_sshkey_facts.py
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_tag.py
  lib/ansible/utils/module_docs_fragments/digital_ocean.py
Labels: cloud, digital_ocean, feature_pull_request, module, shipit, support:community, support:core

#36347 Fix digital ocean issues
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_block_storage.py
  lib/ansible/utils/module_docs_fragments/digital_ocean.py
  test/sanity/validate-modules/ignore.txt
Labels: bugfix_pull_request, cloud, core_review, digital_ocean, module, support:community, support:core, test

#36352 Fix bug in DigitalOcean module_util
  lib/ansible/module_utils/digital_ocean.py
  test/sanity/validate-modules/ignore.txt
Labels: bugfix_pull_request, support:core, test

#36236 fix nxos_config json pipeline error
  lib/ansible/modules/network/nxos/nxos_config.py
Labels: bugfix_pull_request, core_review, module, networking, nxos, owner_pr, support:network

#36373 Set hostname to 'switch' on nxos_system
  test/integration/targets/nxos_system/tests/common/sanity.yaml
  test/integration/targets/nxos_system/tests/common/set_hostname.yaml
Labels: bugfix_pull_request, networking, nxos, support:network, test

#36368 Fix typo in hashi_vault
  lib/ansible/plugins/lookup/hashi_vault.py
Labels: new_contributor, support:core

#36098 VMware: Refactor vmware_guest_tools_wait
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
Labels: cloud, community_review, feature_pull_request, module, support:community, vmware

#35568 eos_vlan: Modified logic to allow for more than 6 interfaces to be assigned to …
  lib/ansible/modules/network/eos/eos_vlan.py
Labels: bugfix_pull_request, core_review, module, networking, new_contributor, stale_ci, support:network

#36362 Letsencrypt authz deactivation
  lib/ansible/modules/web_infrastructure/letsencrypt.py
Labels: automerge, feature_pull_request, module, owner_pr, shipit, support:community

#36295 aci_rest: Fix error handling and improve documentation
  docs/docsite/rst/scenario_guides/guide_aci.rst
  lib/ansible/module_utils/network/aci/aci.py
  lib/ansible/modules/network/aci/aci_rest.py
  test/integration/targets/aci_rest/tasks/error_handling.yml
  test/integration/targets/aci_rest/tasks/json_inline.yml
  test/integration/targets/aci_rest/tasks/json_string.yml
  test/integration/targets/aci_rest/tasks/main.yml
  test/integration/targets/aci_rest/tasks/xml_string.yml
  test/integration/targets/aci_rest/tasks/yaml_inline.yml
  test/integration/targets/aci_rest/tasks/yaml_string.yml
  test/integration/targets/aci_taboo_contract/tasks/main.yml
  test/integration/targets/aci_vlan_pool/tasks/dynamic.yml
  test/integration/targets/aci_vlan_pool/tasks/static.yml
Labels: aci, bugfix_pull_request, core_review, docs_pull_request, module, networking, support:community, support:core, test

#36381 aci_rest: Remove test data from validation test
  test/integration/targets/aci_rest/tasks/error_handling.yml
Labels: aci

#36288 Update network debug troubleshooting guide
  docs/docsite/rst/networking_guide/network_debug_troubleshooting.rst
Labels: docs_pull_request, networking, support:core
