Repository ansible/ansible, pull requests merged in 2018-12, with the labels that each got.

#44107 Zabbix inventory
  changelogs/fragments/zabbix_inventory_vars.yaml
  contrib/inventory/zabbix.ini
  contrib/inventory/zabbix.py
Labels: affects_2.7, c:inventory/contrib_script, community_review, feature, inventory, stale_ci, support:community

#49364 cloudstack: consider more keys optional
  contrib/inventory/cloudstack.py
Labels: affects_2.8, c:inventory/contrib_script, community_review, inventory, needs_triage, new_contributor, support:community

#48883 Yaml inventory more tolerant
  changelogs/fragments/yaml_inventory_more_tolerant.yml
  lib/ansible/plugins/inventory/yaml.py
  test/integration/targets/inventory_yaml/aliases
  test/integration/targets/inventory_yaml/empty.json
  test/integration/targets/inventory_yaml/runme.sh
  test/integration/targets/inventory_yaml/success.json
  test/integration/targets/inventory_yaml/test.yml
Labels: affects_2.8, bug, core_review, inventory, stale_ci, support:community, support:core

#49189 Added zabbix_action module
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, community_review, module, new_contributor, new_module, new_plugin, support:community

#49407 ACME: fix bug introduced in #49266, work around problem with Pebble
  lib/ansible/module_utils/acme.py
  test/integration/targets/acme_account/tests/validate.yml
Labels: affects_2.8, bug, shipit, support:community

#49410 ACME: add diff to acme_account, account_public_key to acme_account_facts, and general refactoring
  changelogs/fragments/49410-acme-diff.yml
  lib/ansible/module_utils/acme.py
  lib/ansible/modules/crypto/acme/acme_account.py
  lib/ansible/modules/crypto/acme/acme_account_facts.py
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/modules/crypto/acme/acme_certificate_revoke.py
  test/integration/targets/acme_account/tasks/impl.yml
  test/integration/targets/acme_account/tests/validate.yml
  test/integration/targets/acme_account_facts/tests/validate.yml
Labels: affects_2.8, feature, module, shipit, support:community

#49418 Fix Issue:#47076 onyx_l2_interface parameter trunk_allowed_vlans trie…
  lib/ansible/modules/network/onyx/onyx_l2_interface.py
Labels: affects_2.8, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#49423 Fix error in case of azure returned managed disk has "None" as ID
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community

#49424 Update botmeta with maintainer info for XenServer related modules
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, docs, needs_triage, support:core

#35527 Adds `redshift_cross_region_snapshots` module
  lib/ansible/modules/cloud/amazon/redshift_cross_region_snapshots.py
  test/units/modules/cloud/amazon/test_redshift_cross_region_snapshots.py
Labels: affects_2.6, aws, cloud, core_review, module, new_module, new_plugin, support:community, support:core, test

#49319 Support for pids_limit parameter in docker_container module
  changelogs/fragments/49319-docker_container-pids_limit.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, test

#49433 Mercurial tests on Ubuntu 14.04 issue (TLSv1/TLSv1.1 support dropped on bitbucket)
  lib/ansible/modules/source_control/hg.py
  test/integration/targets/hg/tasks/main.yml
  test/integration/targets/hg/tasks/run-tests.yml
Labels: affects_2.8, bug, community_review, module, needs_triage, small_patch, support:community

#49438 Fix regex on ASA password prompt
  lib/ansible/plugins/terminal/asa.py
Labels: affects_2.8, bug, community_review, needs_triage, networking, small_patch, support:community

#48465 nxos: Make sure config ends with a linefeed
  lib/ansible/module_utils/network/nxos/nxos.py
Labels: affects_2.8, core_review, feature, networking, nxos, small_patch, stale_ci, support:network

#49442 Only one strategy_plugins page
  docs/docsite/rst/user_guide/playbooks_strategies.rst
Labels: affects_2.8, core_review, docs, docsite, needs_triage, small_patch, support:core

#49392 Refines docs on creating action plugins
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: affects_2.8, core_review, docs, docsite, support:core

#40174 Implement test case prefix to filter test cases
  changelogs/fragments/40174-junit-test-case-prefix-filter.yaml
  lib/ansible/plugins/callback/junit.py
Labels: affects_2.6, core_review, feature, support:community, support:core

#49322 docs: try to clarify handlers a bit more
  docs/docsite/rst/user_guide/playbooks_intro.rst
Labels: affects_2.8, core_review, docs, docsite, support:core

#49171 [Backport 2.7] Fix type in ansible-galaxy info output
  changelogs/fragments/49096-ansible-galaxy-fix_info_typo.yaml
  lib/ansible/cli/galaxy.py
Labels: affects_2.7, backport, bug, core_review, support:community, support:core

#49174 Adds hasattr checks for rpc calls used in network_cli plugins (#49173)
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.7, backport, bug, core_review, networking, support:network

#49218 ansible-test: recursively scan setup dependencies (#49170) - 2.7
  test/runner/lib/target.py
Labels: affects_2.7, backport, core_review, feature, needs_triage, support:core, test

#49233 2.7: Fix using vault encrypted data with jinja2_native (#49025)
  changelogs/fragments/48950-vault-encrypted-data-native-jinja.yaml
  lib/ansible/template/native_helpers.py
  test/integration/targets/jinja2_native_types/runme.sh
  test/integration/targets/jinja2_native_types/test_vault.yml
  test/integration/targets/jinja2_native_types/test_vault_pass
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#49234 2.7: Warn about falling back to jinja2_native=false (#49063)
  changelogs/fragments/jinja2_native-fallback-warning.yaml
  lib/ansible/template/__init__.py
Labels: affects_2.7, backport, core_review, feature, needs_triage, support:community, support:core

#48154 Backport/2.7/46623
  lib/ansible/modules/network/cnos/cnos_backup.py
  lib/ansible/modules/network/cnos/cnos_bgp.py
  lib/ansible/modules/network/cnos/cnos_conditional_command.py
  lib/ansible/modules/network/cnos/cnos_conditional_template.py
  lib/ansible/modules/network/cnos/cnos_config.py
  lib/ansible/modules/network/cnos/cnos_factory.py
  lib/ansible/modules/network/cnos/cnos_facts.py
  lib/ansible/modules/network/cnos/cnos_image.py
  lib/ansible/modules/network/cnos/cnos_interface.py
  lib/ansible/modules/network/cnos/cnos_portchannel.py
  lib/ansible/modules/network/cnos/cnos_reload.py
  lib/ansible/modules/network/cnos/cnos_rollback.py
  lib/ansible/modules/network/cnos/cnos_save.py
  lib/ansible/modules/network/cnos/cnos_showrun.py
  lib/ansible/modules/network/cnos/cnos_template.py
  lib/ansible/modules/network/cnos/cnos_vlag.py
  lib/ansible/modules/network/cnos/cnos_vlan.py
  lib/ansible/modules/network/enos/enos_config.py
  lib/ansible/modules/network/enos/enos_facts.py
  lib/ansible/utils/module_docs_fragments/cnos.py
  test/integration/targets/cnos_ethernet/README.md
  test/integration/targets/cnos_image/README.md
  test/integration/targets/cnos_rollback/README.md
  test/integration/targets/cnos_save/README.md
  test/integration/targets/cnos_showrun/README.md
  test/integration/targets/cnos_template/README.md
  test/integration/targets/cnos_vlan/README.md
Labels: affects_2.7, backport, bug, core_review, module, networking, support:community, support:core

#49123 Backport support for Devuan OS in Stable 2.7
  changelogs/fragments/49123-backport-devuan-support.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.7, backport, core_review, feature, new_contributor, support:community, support:core

#49257 require git when trying to use it in ansible-galaxy cli (#49212)
  changelogs/fragments/49212-require-git-ansible-galaxy.yaml
  lib/ansible/playbook/role/requirement.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#49299 (2.7 cherry-pick) Cherry pick 2 fixes for openshift inventory plugin
  changelogs/fragments/49299-openshift-inventory-plugin-empty-pods-and-serialization.yaml
  lib/ansible/module_utils/k8s/inventory.py
Labels: affects_2.7, backport, bug, k8s, shipit, support:community

#49300 Fix iosxr netconf plugin response namespace (#49238)
  changelogs/fragments/iosxr_netconf_plugin_fix.yaml
  lib/ansible/module_utils/network/iosxr/iosxr.py
  lib/ansible/plugins/netconf/iosxr.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, networking, support:community, support:network

#49318 [stable-2.7] Improve log message in paramiko_ssh connection plugin (#49004)
  changelogs/fragments/parimko_ssh-log-message.yaml
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#49367 Cast int for expire field to avoid call failure to sensu API (#33239)
  changelogs/fragments/33239-sensu-expire-cast-int.yaml
  lib/ansible/modules/monitoring/sensu_silence.py
Labels: affects_2.7, backport, community_review, module, needs_triage, support:community

#49374 Backport/2.7/ templar: ensure that exceptions are handled, fix 'AttributeError' (#48792)
  changelogs/fragments/48792-templar-fix-AttributeError.yml
  lib/ansible/template/vars.py
  test/units/template/test_templar.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#49389 dnf module load/init dnf pkg mgr plugins properly (#49278)
  changelogs/fragments/dnf-fix-plugin-loading.yaml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.7, backport, bug, core_review, module, needs_triage, support:community, support:core

#49421 VMware: Fix module usages in module_utils
  changelogs/fragments/47313-vmware-fix_module_error.yaml
  lib/ansible/module_utils/vmware.py
  test/units/module_utils/test_vmware.py
Labels: affects_2.8, bug, core_review, support:community, support:core, vmware

#48778 Correct usages of custom error class
  lib/ansible/modules/cloud/amazon/aws_direct_connect_link_aggregation_group.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, support:community

#49468 Fix typo in confirm new vault password message
  lib/ansible/cli/__init__.py
Labels: affects_2.8, bug, core_review, needs_triage, new_contributor, small_patch, support:core

#49456 Extend functionality of filesystem module to support swap creation
  lib/ansible/modules/system/filesystem.py
Labels: affects_2.8, community_review, feature, module, new_contributor, support:community

#43678 Add module parameter to control Puppet agent noop switch
  lib/ansible/modules/system/puppet.py
Labels: affects_2.7, module, needs_revision, new_contributor, support:community

#48599 rabbitmq_binding: Add support for state=absent
  changelogs/fragments/48599-rabbitmq_binding-state-absent.yaml
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_binding.py
  test/integration/targets/rabbitmq_binding/aliases
  test/integration/targets/rabbitmq_binding/meta/main.yml
  test/integration/targets/rabbitmq_binding/tasks/main.yml
  test/integration/targets/rabbitmq_binding/tasks/tests.yml
  test/integration/targets/rabbitmq_plugin/tasks/tests.yml
  test/integration/targets/setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.8, community_review, feature, module, new_contributor, support:community

#47710 rds_instance: Fix TargetDBInstanceIdentifier assignment in wrong place
  lib/ansible/modules/cloud/amazon/rds_instance.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, new_contributor, small_patch, support:community

#49400 Backport/2.7/48933
  changelogs/fragments/ovirt_storage_connection_password-comparison.yaml
  lib/ansible/modules/cloud/ovirt/ovirt_storage_connection.py
Labels: affects_2.7, backport, bug, cloud, module, ovirt, shipit, support:community

#49412 [Backport 2.7] sets admin_password to no_log in na_ontap_cifs_server
  changelogs/fragments/46604-ontap-cifs-server-no-log-password.yaml
  lib/ansible/modules/storage/netapp/na_ontap_cifs_server.py
Labels: affects_2.7, backport, bug, committer_review, module, netapp, storage, support:certified, support:community

#49427 [aws] Revert back to getting the AWS role name from the URI
  changelogs/fragments/49113-iam-role-arn-parsing-updated.yml
  lib/ansible/modules/cloud/amazon/ec2_metadata_facts.py
Labels: affects_2.7, aws, backport, bug, cloud, core_review, module, needs_triage, support:community, support:core

#49439 [stable-2.7] Backport a6db7f7abd0e56 ; hg/mercurial test fixes for bitbucket
  lib/ansible/modules/source_control/hg.py
  test/integration/targets/hg/tasks/main.yml
  test/integration/targets/hg/tasks/run-tests.yml
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, small_patch, support:community

#49206 Use System.Xml.XmlDocument.Load rather than Get-Content
  changelogs/fragments/48471-win_xml-xml-parser.yaml
  lib/ansible/modules/windows/win_xml.ps1
  test/integration/targets/win_xml/files/plane.zip
  test/integration/targets/win_xml/tasks/main.yml
Labels: affects_2.8, bug, community_review, module, support:community, windows

#49461 [Backport 2.7] VMware: Fix module usages in module_utils
  changelogs/fragments/47313-vmware-fix_module_error.yaml
  lib/ansible/module_utils/vmware.py
  test/units/module_utils/test_vmware.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core, vmware

#44660 [Junos] Fix bug of setting user password
  lib/ansible/modules/network/junos/junos_user.py
Labels: affects_2.7, core_review, feature, module, networking, support:network

#49479 Fix nxos_vxlan_vtep test
  test/integration/targets/nxos_vxlan_vtep/tests/common/sanity.yaml
Labels: affects_2.8, bug, core_review, needs_triage, networking, nxos, support:network, test

#49187 Add apt_repo module
  lib/ansible/modules/packaging/os/apt_repo.py
Labels: affects_2.8, community_review, module, needs_triage, new_contributor, new_module, new_plugin, support:community

#41754 Add better error when k=v syntax is used with YAML in tasks
  changelogs/fragments/better-kv-error-reporting.yml
  lib/ansible/errors/__init__.py
  lib/ansible/errors/yaml_strings.py
  test/units/errors/test_errors.py
  test/units/playbook/test_task.py
Labels: affects_2.7, bug, core_review, stale_ci, support:community, support:core, test

#49210 [stable-2.7] Reboot - Fix errors when using Paramiko connection (#49002)
  lib/ansible/plugins/action/reboot.py
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: affects_2.7, backport, bug, core_review, support:core

#49488 Reboot - Use IndexError in exception
  changelogs/fragments/reboot-fix-exception-type.yaml
  lib/ansible/plugins/action/reboot.py
Labels: affects_2.8, bug, core_review, needs_triage, support:community, support:core

#49492 Various small fixes for f5 ansible modules
  lib/ansible/modules/network/f5/bigip_asm_policy.py
  lib/ansible/modules/network/f5/bigip_gtm_topology_record.py
  lib/ansible/modules/network/f5/bigip_irule.py
  lib/ansible/modules/network/f5/bigip_management_route.py
  lib/ansible/modules/network/f5/bigip_monitor_https.py
  lib/ansible/modules/network/f5/bigip_profile_fastl4.py
  lib/ansible/modules/network/f5/bigip_user.py
  lib/ansible/modules/network/f5/bigip_virtual_server.py
  lib/ansible/modules/network/f5/bigip_vlan.py
  test/units/modules/network/f5/test_bigip_user.py
Labels: affects_2.8, bug, core_review, f5, module, networking, support:certified, support:core, test

#49273 Warn if empty string is present in synchronize's rsync_opts
  changelogs/fragments/synchronize-warning.yaml
  lib/ansible/modules/files/synchronize.py
Labels: affects_2.8, bug, core_review, module, needs_triage, support:community, support:core

#49396 [s3_bucket] Handle error when bucket doesn't exist
  changelogs/fragments/s3_bucket_delete_nonexistent_bucket.yml
  lib/ansible/modules/cloud/amazon/s3_bucket.py
Labels: affects_2.8, aws, bug, cloud, core_review, module, support:community, support:core

#49491 Update faq.rst: typo
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.8, bug, core_review, docs, docsite, needs_triage, new_contributor, small_patch, support:core

#49304 AWS Module Documentation Edits (Second Attempt)
  lib/ansible/modules/cloud/amazon/ec2.py
  lib/ansible/modules/cloud/amazon/ec2_ami.py
  lib/ansible/modules/cloud/amazon/ec2_lc.py
Labels: affects_2.8, aws, cloud, core_review, docs, module, support:community, support:core

#49499 Adds bigip_profile_analytics module
  lib/ansible/modules/network/f5/bigip_profile_analytics.py
  test/units/modules/network/f5/fixtures/load_ltm_profile_analytics_1.json
  test/units/modules/network/f5/test_bigip_profile_analytics.py
Labels: affects_2.8, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#49489 Update BOTMETA ignore list for alternatives.py
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, small_patch, support:core

#49382 [stable-2.5] Add change classification for powershell wrappers.
  test/runner/lib/classification.py
Labels: affects_2.5, backport, bug, core_review, support:core, test

#49204 [stable-2.5] Backport test infra updates and test fixes.
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  shippable.yml
  test/integration/targets/lookup_passwordstore/aliases
  test/integration/targets/lookup_passwordstore/tasks/main.yml
  test/integration/targets/lookup_passwordstore/vars/main.yml
  test/runner/completion/remote.txt
  test/runner/lib/cli.py
  test/runner/lib/config.py
  test/runner/lib/delegation.py
  test/runner/lib/executor.py
  test/runner/lib/manage_ci.py
Labels: affects_2.5, backport, bug, core_review, docs, support:community, support:core, test

#49402 Fixes #49362 module dnf: install python3-dnf preferably over python2-dnf.
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/tasks/python3and2.yml
Labels: affects_2.8, bug, core_review, module, python3, small_patch, support:core

#48828 Add win_psrepository
  lib/ansible/modules/windows/win_psrepository.ps1
  lib/ansible/modules/windows/win_psrepository.py
  test/integration/targets/win_psrepository/aliases
  test/integration/targets/win_psrepository/defaults/main.yml
  test/integration/targets/win_psrepository/meta/main.yml
  test/integration/targets/win_psrepository/tasks/main.yml
  test/integration/targets/win_psrepository/tasks/tests.yml
Labels: affects_2.8, community_review, feature, module, new_module, new_plugin, support:community, windows

#49498 Revert "fix cache 'update' method to be 'mapping' compatible"
  changelogs/fragments/vm_fix.yml
  lib/ansible/plugins/cache/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.8, bug, core_review, support:community, support:core

#48761 Fix win_nssm credentials quoting
  changelogs/fragments/48728-win_nssm-credential-quoting.yml
  lib/ansible/modules/windows/win_nssm.ps1
Labels: affects_2.8, bug, community_review, module, new_contributor, support:community, windows

#49394 azure_rm_image: fix creation of image with data disks
  lib/ansible/modules/cloud/azure/azure_rm_image.py
  test/integration/targets/azure_rm_image/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, module, small_patch, support:community

#49502 plugins/connection/saltstack.py is support: community
  .github/BOTMETA.yml
Labels: affects_2.8, bug, needs_revision, small_patch, support:core

#49440 [stable-2.6] Backport a6db7f7abd0e56 ; hg/mercurial test fixes for bitbucket
  lib/ansible/modules/source_control/hg.py
  test/integration/targets/hg/tasks/main.yml
  test/integration/targets/hg/tasks/run-tests.yml
Labels: affects_2.6, backport, bug, community_review, module, needs_triage, small_patch, support:community

#49510 Adds module for gtm topology regions
  lib/ansible/modules/network/f5/bigip_gtm_topology_region.py
  test/units/modules/network/f5/test_bigip_gtm_topology_region.py
Labels: affects_2.8, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#49526 Adds ASM policy import module
  lib/ansible/modules/network/f5/bigip_asm_policy_import.py
  test/units/modules/network/f5/test_bigip_asm_policy_import.py
Labels: affects_2.8, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#49527 Adds description param to bigip_data_group
  lib/ansible/modules/network/f5/bigip_data_group.py
Labels: affects_2.8, committer_review, f5, feature, module, networking, owner_pr, support:certified

#49460 fix synchronize handling of encrypted hosts on delegation
  lib/ansible/plugins/action/synchronize.py
Labels: affects_2.8, bug, needs_revision, new_contributor, support:core

#49512 Fix for callback plugins on Python3 when a module returns dictionary …
  changelogs/fragments/fix-callbacks-mixed-keys.yaml
  lib/ansible/plugins/callback/__init__.py
  test/units/plugins/callback/test_callback.py
Labels: affects_2.8, bug, needs_revision, needs_triage, python3, support:community, support:core

#48084 VMware: New module vmware_vcenter_statistics
  lib/ansible/modules/cloud/vmware/vmware_vcenter_statistics.py
  test/integration/targets/vmware_vcenter_statistics/aliases
  test/integration/targets/vmware_vcenter_statistics/tasks/main.yml
Labels: affects_2.8, cloud, community_review, module, new_module, new_plugin, support:community, vmware

#46767 Added new module lxca_nodes for Lenovo XClarity Administrator
  lib/ansible/module_utils/remote_management/lxca/__init__.py
  lib/ansible/module_utils/remote_management/lxca/common.py
  lib/ansible/modules/remote_management/lxca/__init__.py
  lib/ansible/modules/remote_management/lxca/lxca_nodes.py
  lib/ansible/utils/module_docs_fragments/lxca_common.py
  test/units/modules/remote_management/lxca/test_lxca_nodes.py
Labels: affects_2.8, core_review, module, new_contributor, new_module, new_plugin, remote_management, support:community, support:core

#47859 VMware: Update vmware_guest.py Add option to modify disk type while cloning template
  changelogs/fragments/47859-vmware_guest-convert_vm_disk_clone.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/clone_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/clone_with_convert.yml
  test/integration/targets/vmware_guest/tasks/main.yml
Labels: affects_2.8, cloud, community_review, feature, module, new_contributor, support:community, vmware

#49525 Documentation update for route53_facts
  lib/ansible/modules/cloud/amazon/route53_facts.py
Labels: affects_2.8, aws, cloud, community_review, docs, module, needs_triage, support:community

#46625 VMware: Implement wait_for_customization, implements #43082
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.8, bug, cloud, community_review, module, new_contributor, support:community, vmware

#49344 Fix for changes in clearlinux
  changelogs/fragments/clear_system_variablse.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.8, bug, needs_revision, support:community, support:core

#46771 Major update to Pure Storage purefa_pg module
  lib/ansible/modules/storage/purestorage/purefa_pg.py
Labels: affects_2.8, automerge, feature, module, owner_pr, pure_storage, shipit, storage, support:community

#47663 apt over apt-get
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.8, core_review, docs, docsite, support:core

#49314 Add explicit ansible_httpapi_port setting
  test/integration/targets/nxos_nxapi_transports/tests/nxapi/assert_transports.yaml
Labels: affects_2.8, bug, community_review, needs_triage, networking, nxos, support:community, test, traceback

#49540 Added recommendation about module name
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
Labels: affects_2.8, core_review, docs, docsite, support:core

#49467 Refactoring code of cnos_portchannel as cnos_linkagg in tune with other vendors.
  lib/ansible/modules/network/cnos/cnos_linkagg.py
  lib/ansible/modules/network/cnos/cnos_portchannel.py
  test/integration/targets/cnos_linkagg/aliases
  test/integration/targets/cnos_linkagg/cnos_linkagg_sample_hosts
  test/integration/targets/cnos_linkagg/defaults/main.yaml
  test/integration/targets/cnos_linkagg/tasks/cli.yaml
  test/integration/targets/cnos_linkagg/tasks/main.yaml
  test/integration/targets/cnos_linkagg/tests/cli/basic.yaml
  test/integration/targets/cnos_linkagg/vars/main.yaml
  test/integration/targets/cnos_portchannel/README.md
  test/integration/targets/cnos_portchannel/tasks/main.yml
  test/integration/targets/cnos_portchannel/vars/main.yml
  test/units/modules/network/cnos/fixtures/cnos_linkagg_config.cfg
  test/units/modules/network/cnos/fixtures/cnos_portchannel_config.cfg
  test/units/modules/network/cnos/test_cnos_linkagg.py
  test/units/modules/network/cnos/test_cnos_portchannel.py
Labels: affects_2.8, core_review, feature, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#47213 Fix an issue retrieving some types of 1Password items.
  changelogs/fragments/47213-onepassword_facts_fix_password_lookup.yaml
  lib/ansible/modules/identity/onepassword_facts.py
Labels: affects_2.8, bug, community_review, module, owner_pr, stale_ci, support:community

#45167 updated ff docs to include and deprecate skip
  lib/ansible/plugins/lookup/first_found.py
Labels: affects_2.8, community_review, docs, support:community

#49532 ipaddr: Add missing documenation about network/prefix filter
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.8, docs, docsite, needs_revision, needs_triage, support:core

#49543 Mark cs_snapshot_policy unstable
  test/integration/targets/cs_snapshot_policy/aliases
Labels: affects_2.8, bug, cloud, cloudstack, needs_revision, small_patch, support:community

#49445 Support version 3 of the redis python library
  changelogs/fragments/redis-3-compat.yaml
  lib/ansible/plugins/cache/redis.py
Labels: affects_2.8, bug, community_review, support:community

#49519 Fix in dict_merge to check for Mapping
  lib/ansible/module_utils/network/common/utils.py
Labels: affects_2.8, bug, needs_revision, networking, small_patch, support:network

#49474 fixes an issue with dict_merge in network utils (#41107)
  changelogs/fragments/49474-network_utils_dict_merge_fix.yaml
  lib/ansible/module_utils/network/common/utils.py
Labels: affects_2.7, backport, bug, needs_revision, networking, support:community, support:network

#49500 [stable-2.7] Reboot - Use IndexError in exception (#49488)
  changelogs/fragments/reboot-fix-exception-type.yaml
  lib/ansible/plugins/action/reboot.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#49517 [Backport 2.7] Fix win_nssm credentials quoting (#48761)
  changelogs/fragments/48728-win_nssm-credential-quoting.yml
  lib/ansible/modules/windows/win_nssm.ps1
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, support:community, windows

#49518 azure_rm_image: fix creation of image with data disks (#49394)
  changelogs/fragments/49394_azure_image.yml
  lib/ansible/modules/cloud/azure/azure_rm_image.py
  test/integration/targets/azure_rm_image/tasks/main.yml
Labels: affects_2.7, azure, backport, bug, cloud, module, shipit, support:community

#49530 [Backport 2.7] Handle special service where package is not available
  changelogs/fragments/45155-vmware-handle_exception.yaml
  lib/ansible/modules/cloud/vmware/vmware_host_service_facts.py
Labels: affects_2.7, backport, bug, cloud, community_review, module, needs_triage, support:community, vmware

#49521 docs: link to openstacksdk
  lib/ansible/utils/module_docs_fragments/openstack.py
Labels: affects_2.8, core_review, docs, needs_triage, small_patch, support:core

#43673 mongodb_shard module and test exception
  lib/ansible/modules/database/mongodb/mongodb_shard.py
  test/sanity/code-smell/use-argspec-type-path.py
Labels: affects_2.7, core_review, module, new_contributor, new_module, new_plugin, support:community, support:core, test

#46097 Add inventory cache options to config base
  lib/ansible/config/base.yml
Labels: affects_2.8, bug, core_review, support:core

#49163 enable mysql related integration tests for rhel8 beta
  test/integration/targets/mysql_db/aliases
  test/integration/targets/mysql_user/aliases
  test/integration/targets/mysql_variables/aliases
  test/integration/targets/setup_mysql_db/tasks/main.yml
  test/integration/targets/setup_mysql_db/vars/RedHat-8.yml
Labels: affects_2.8, community_review, support:community

#48940 enable template target integration tests on rhel8 beta
  test/integration/targets/template/aliases
Labels: affects_2.8, core_review, support:core

#49536 Fix AWS STS session detection
  contrib/inventory/ec2.py
Labels: affects_2.8, aws, bug, c:inventory/contrib_script, cloud, community_review, inventory, needs_triage, new_contributor, small_patch, support:community

#49574 Deprecate the bigip_asm_policy module
  lib/ansible/modules/network/f5/_bigip_asm_policy.py
  test/units/modules/network/f5/test_bigip_asm_policy.py
Labels: affects_2.8, bug, core_review, f5, module, networking, support:community, support:core, test

#49576 Corrects idempotency for f5 parameters
  lib/ansible/modules/network/f5/bigip_monitor_http.py
  lib/ansible/modules/network/f5/bigip_monitor_https.py
  lib/ansible/modules/network/f5/bigip_pool.py
  lib/ansible/modules/network/f5/bigip_profile_analytics.py
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
  lib/ansible/modules/network/f5/bigip_profile_dns.py
  lib/ansible/modules/network/f5/bigip_profile_fastl4.py
  lib/ansible/modules/network/f5/bigip_profile_http.py
  lib/ansible/modules/network/f5/bigip_profile_http2.py
  lib/ansible/modules/network/f5/bigip_profile_http_compression.py
  lib/ansible/modules/network/f5/bigip_profile_oneconnect.py
  lib/ansible/modules/network/f5/bigip_profile_persistence_cookie.py
  lib/ansible/modules/network/f5/bigip_profile_persistence_src_addr.py
  lib/ansible/modules/network/f5/bigip_profile_server_ssl.py
  lib/ansible/modules/network/f5/bigip_profile_tcp.py
  lib/ansible/modules/network/f5/bigip_profile_udp.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, owner_pr, support:certified

#46395 Fixed win_route module
  changelogs/fragments/win_route.yaml
  lib/ansible/modules/windows/win_route.ps1
  test/integration/targets/win_route/tasks/tests.yml
Labels: affects_2.8, bug, community_review, module, new_contributor, support:community, windows

#49047 create local subversion server for tests
  test/integration/targets/subversion/aliases
  test/integration/targets/subversion/defaults/main.yml
  test/integration/targets/subversion/files/create_repo.sh
  test/integration/targets/subversion/meta/main.yml
  test/integration/targets/subversion/tasks/main.yml
  test/integration/targets/subversion/tasks/setup.yml
  test/integration/targets/subversion/tasks/tests.yml
  test/integration/targets/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/vars/Debian.yml
  test/integration/targets/subversion/vars/FreeBSD.yml
  test/integration/targets/subversion/vars/RedHat.yml
  test/integration/targets/subversion/vars/Suse.yml
Labels: affects_2.8, bug, core_review, support:core

#48961 fix py3 scope for unique filter errors, enable filters integration tests on rhel8 beta
  changelogs/fragments/mathstuff-filter-py3-scope.yaml
  lib/ansible/plugins/filter/mathstuff.py
  test/integration/targets/filters/aliases
Labels: affects_2.8, bug, core_review, needs_ci, python3, stale_ci, support:community, support:core

#49586 ansible-test: change Fedora 24 to 28
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.8, core_review, feature, needs_triage, support:core, test

#46740 Fix google auth scoping for unscoped credentials
  changelogs/fragments/46740-gcp-utils-credentials-scoping.yaml
  lib/ansible/module_utils/gcp_utils.py
Labels: affects_2.8, bug, cloud, community_review, gce, stale_ci, support:community

#35814 Add github_webhook_facts module
  lib/ansible/modules/source_control/github_webhook_facts.py
Labels: affects_2.6, community_review, module, new_module, new_plugin, support:community

#35813 Add github_webhook module
  lib/ansible/modules/source_control/github_webhook.py
Labels: affects_2.6, community_review, module, new_module, new_plugin, support:community

#49597 doc: fix 'ansible-config' link
  docs/templates/config.rst.j2
Labels: affects_2.8, core_review, docs, needs_triage, small_patch, support:core

#49551 Make squash deprecation messages less misleading
  changelogs/fragments/squash-deprecation-message.yml
  lib/ansible/executor/task_executor.py
Labels: affects_2.8, bug, core_review, support:community, support:core

#49296 Deprecate the github_hooks module
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/modules/source_control/_github_hooks.py
Labels: affects_2.8, ci_verified, docs, docsite, module, needs_maintainer, needs_revision, new_plugin, support:community, support:core

#49595 Update lambda documentation for runtimes
  lib/ansible/modules/cloud/amazon/lambda.py
Labels: affects_2.8, aws, cloud, community_review, docs, module, needs_triage, support:community

#49581 Clarify that do until loops are unsupported on include tasks
  lib/ansible/modules/utilities/logic/include_role.py
  lib/ansible/modules/utilities/logic/include_tasks.py
Labels: affects_2.8, core_review, docs, include_role, module, needs_triage, small_patch, support:core

#49575 Fix ReST formatting for Galaxy docs link
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.8, core_review, docs, docsite, needs_triage, new_contributor, small_patch, support:core

#49441 [stable-2.5] Backport a6db7f7abd0e56 ; hg/mercurial test fixes for bitbucket
  lib/ansible/modules/source_control/hg.py
  test/integration/targets/hg/tasks/main.yml
  test/integration/targets/hg/tasks/run-tests.yml
Labels: affects_2.5, backport, bug, community_review, module, needs_triage, small_patch, support:community

#49561 Fix for changes in clearlinux (#49344)
  changelogs/fragments/clear_system_variablse.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.7, backport, bug, core_review, support:community, support:core

#49560 [stable-2.7] Support version 3 of the redis python library (#49445)
  changelogs/fragments/redis-3-compat.yaml
  lib/ansible/plugins/cache/redis.py
Labels: affects_2.7, backport, community_review, support:community

#49571 Adding support for clearlinux showing release nuber (#47101)
  lib/ansible/module_utils/facts/system/distribution.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:core

#49600 Fix google auth scoping for unscoped credentials (#46740)
  changelogs/fragments/46740-gcp-utils-credentials-scoping.yaml
  lib/ansible/module_utils/gcp_utils.py
Labels: affects_2.7, backport, bug, community_review, needs_triage, new_contributor, support:community

#49614 backport/2.7/49597 doc: fix 'ansible-config' link
  docs/templates/config.rst.j2
Labels: affects_2.7, backport, core_review, docs, needs_triage, small_patch, support:core

#49617 [stable-2.7] Make squash deprecation messages less misleading (#49551)
  changelogs/fragments/squash-deprecation-message.yml
  lib/ansible/executor/task_executor.py
Labels: affects_2.7, backport, needs_info, needs_template, needs_triage, support:community, support:core

#49216 ansible-test: recursively scan setup dependencies (#49170) - 2.5
  test/runner/lib/target.py
Labels: affects_2.5, backport, core_review, feature, needs_triage, stale_ci, support:core, test

#49583 create local subversion server for tests (#49047) - 2.5
  test/integration/targets/setup_passlib/tasks/main.yml
  test/integration/targets/subversion/aliases
  test/integration/targets/subversion/defaults/main.yml
  test/integration/targets/subversion/files/create_repo.sh
  test/integration/targets/subversion/meta/main.yml
  test/integration/targets/subversion/tasks/main.yml
  test/integration/targets/subversion/tasks/setup.yml
  test/integration/targets/subversion/tasks/tests.yml
  test/integration/targets/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/vars/Debian.yml
  test/integration/targets/subversion/vars/FreeBSD.yml
  test/integration/targets/subversion/vars/RedHat.yml
  test/integration/targets/subversion/vars/Suse.yml
Labels: affects_2.5, backport, core_review, needs_triage, support:community, support:core

#45122 fix: ensure than all item of a list of excluded files aren't checked
  lib/ansible/modules/files/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.8, bug, core_review, m:unarchive, module, new_contributor, stale_ci, support:core, test, traceback

#49562 [docker_network] Adding `scope` and `attachable` flags
  changelogs/fragments/docker_network-adding-scope-and-attachable-flags.yaml
  changelogs/fragments/docker_network-requirements.yaml
  lib/ansible/modules/cloud/docker/docker_network.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  test/integration/targets/docker_network/tasks/tests/options.yml
  test/integration/targets/docker_swarm/tasks/test_swarm.yml
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, test

#49333 Fix idempotency issues 2
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.8, bug, owner_pr, shipit, support:community

#49566 Fix for a caching traceback
  changelogs/fragments/vm_fix.yml
  lib/ansible/vars/manager.py
Labels: affects_2.7, backport, bug, needs_revision, needs_triage, support:community, support:core

#49623 Fix ReST formatting for Galaxy docs link (#49575)
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.7, backport, core_review, docs, docsite, needs_triage, small_patch, support:core

#49003 Initial commit for firewall vip
  lib/ansible/modules/network/fortios/fortios_firewall_vip.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#48740 Remove non-standard CreateBiosConfigJob command
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.8, bug, module, new_contributor, owner_pr, remote_management, shipit, support:community

#43211 Add rhsm_repository_release module
  lib/ansible/modules/packaging/os/rhsm_repository_release.py
  test/units/modules/packaging/os/test_rhsm_repository_release.py
Labels: affects_2.7, core_review, module, new_contributor, new_module, new_plugin, python3, support:community, support:core, test

#49634 ansible-test - swap Fedora 25 for 29
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.8, feature, needs_revision, needs_triage, support:core, test

#49404 Rabbitmq user permission fixes
  lib/ansible/module_utils/common/collections.py
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_user.py
  test/units/modules/messaging/__init__.py
  test/units/modules/messaging/rabbitmq/__init__.py
  test/units/modules/messaging/rabbitmq/test_rabbimq_user.py
Labels: affects_2.8, bug, core_review, module, new_contributor, support:community, support:core

#48538 Update postgresql_ext connection methods
  lib/ansible/modules/database/postgresql/postgresql_ext.py
Labels: affects_2.8, automerge, feature, module, shipit, support:community

#49106 Initial commit for fortios_firewall_policy46
  lib/ansible/modules/network/fortios/fortios_firewall_policy46.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49292 Fortinet's FortiOS firewall address6
  lib/ansible/modules/network/fortios/fortios_firewall_address6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49293 Fortinet's FortiOS firewall address6 template
  lib/ansible/modules/network/fortios/fortios_firewall_address6_template.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49295 Fortinet's FortiOS firewall addgrp6
  lib/ansible/modules/network/fortios/fortios_firewall_addrgrp6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49302 Fortinet's FortiOS firewal vip64
  lib/ansible/modules/network/fortios/fortios_firewall_vip64.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49303 Fortinet's FortiOS firewal vip group
  lib/ansible/modules/network/fortios/fortios_firewall_vipgrp.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49305 Fortinet's FortiOS firewall vip group for IPv6
  lib/ansible/modules/network/fortios/fortios_firewall_vipgrp6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49306 Fortinet's FortiOS firewall vip group for IPv4-IPv6
  lib/ansible/modules/network/fortios/fortios_firewall_vipgrp46.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49307 Fortinet's FortiOS firewall vip group for IPv6-IPv4
  lib/ansible/modules/network/fortios/fortios_firewall_vipgrp64.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49309 Fortinet's FortiOS firewall policy for IPv6-IPv4
  lib/ansible/modules/network/fortios/fortios_firewall_policy64.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49572 Add new Redfish command module to handle iDRAC-specific extensions
  lib/ansible/modules/remote_management/redfish/idrac_redfish_command.py
Labels: affects_2.8, module, new_module, new_plugin, remote_management, shipit, support:community

#49310 Fortinet's FortiOS firewall ippool
  lib/ansible/modules/network/fortios/fortios_firewall_ippool.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49311 Fortinet's FortiOS firewall ippool IPv6
  lib/ansible/modules/network/fortios/fortios_firewall_ippool6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49157 Update purefa_host module
  lib/ansible/modules/storage/purestorage/purefa_host.py
Labels: affects_2.8, automerge, bug, module, owner_pr, pure_storage, shipit, storage, support:community

#49638 pip tests: skip distribute test case for py3 compat (#49636)
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.7, backport, bug, core_review, needs_triage, python3, support:core
