Repository ansible/ansible, pull requests merged in 2018-09, with the labels that each got.

#45058 added missing public ip address alias
  test/integration/targets/azure_rm_publicipaddress/aliases
Labels: affects_2.7, azure, bug, cloud, support:certified, test

#44984 Fixes #40668: added default value for when CloudFrontOriginAccessIdentityList is missing.
  lib/ansible/module_utils/aws/cloudfront_facts.py
Labels: affects_2.7, bug, needs_triage, new_contributor, small_patch, support:core

#45082 ACME: fixing typo in acme_certificate docs
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.7, automerge, docs, module, owner_pr, shipit, small_patch, support:community

#45079 Fixing PostgreSQL version warning
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.7, azure, bug, cloud, needs_triage, owner_pr, small_patch, support:core

#45061 consolidate postgresql server and database test
  test/integration/targets/azure_rm_postgresqldatabase/aliases
  test/integration/targets/azure_rm_postgresqldatabase/meta/main.yml
  test/integration/targets/azure_rm_postgresqldatabase/tasks/main.yml
  test/integration/targets/azure_rm_postgresqlserver/aliases
  test/integration/targets/azure_rm_postgresqlserver/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, support:community, test

#44892 improve vmss test
  test/integration/targets/azure_rm_virtualmachine_scaleset/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, support:community, test

#44802 fix blob in non-public azure cloud
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.7, azure, cloud, feature, support:core

#44720 Add a dynamic inventory plugin for Online
  lib/ansible/plugins/inventory/online.py
Labels: affects_2.7, new_plugin, support:core

#45060 consolidate mysql server and database tests
  test/integration/targets/azure_rm_mysqldatabase/aliases
  test/integration/targets/azure_rm_mysqldatabase/meta/main.yml
  test/integration/targets/azure_rm_mysqldatabase/tasks/main.yml
  test/integration/targets/azure_rm_mysqlserver/aliases
  test/integration/targets/azure_rm_mysqlserver/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, needs_triage, support:community, test

#45091 aci_switch_policy_vpc_protection_group: Fix idempotency
  lib/ansible/module_utils/network/aci/aci.py
  lib/ansible/modules/network/aci/aci_switch_policy_vpc_protection_group.py
  test/integration/targets/aci_switch_policy_vpc_protection_group/tasks/main.yml
Labels: aci, affects_2.7, bug, community_review, module, needs_triage, networking, small_patch, support:community, test

#45088 ACI: Fix complex filtering
  lib/ansible/module_utils/network/aci/aci.py
  test/integration/targets/aci_interface_policy_leaf_policy_group/tasks/main.yml
Labels: aci, affects_2.7, affects_2.8, bug, networking, support:community, test

#44975 Update test constraints.
  test/runner/requirements/constraints.txt
Labels: affects_2.7, bug, support:core, test

#42102 New module for azure custom image facts
  lib/ansible/modules/cloud/azure/azure_rm_image_facts.py
  test/integration/targets/azure_rm_image/aliases
  test/integration/targets/azure_rm_image/tasks/main.yml
Labels: affects_2.7, azure, cloud, module, needs_revision, new_module, new_plugin, support:community, test

#45108 vm size idempotence
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
  test/integration/targets/azure_rm_virtualmachine/tasks/virtualmachine.yml
Labels: affects_2.8, azure, bug, cloud, committer_review, module, needs_triage, support:certified, test

#45064 consolidate sql tests into one
  test/integration/targets/azure_rm_sqldatabase/aliases
  test/integration/targets/azure_rm_sqldatabase/meta/main.yml
  test/integration/targets/azure_rm_sqldatabase/tasks/main.yml
  test/integration/targets/azure_rm_sqlfirewallrule/aliases
  test/integration/targets/azure_rm_sqlfirewallrule/meta/main.yml
  test/integration/targets/azure_rm_sqlfirewallrule/tasks/main.yml
  test/integration/targets/azure_rm_sqlserver/aliases
  test/integration/targets/azure_rm_sqlserver/tasks/main.yml
  test/integration/targets/azure_rm_sqlserver_facts/aliases
  test/integration/targets/azure_rm_sqlserver_facts/meta/main.yml
  test/integration/targets/azure_rm_sqlserver_facts/tasks/main.yml
Labels: affects_2.7, azure, bug, cloud, support:community, test

#45133 Docs updated and review comments addressed
  lib/ansible/modules/network/opx/opx_cps.py
Labels: affects_2.8, bug, community_review, module, networking, owner_pr, support:community

#44893 FIX BUG cannot read ssh-key in ssh_config file with NETCONF
  lib/ansible/plugins/connection/netconf.py
Labels: affects_2.7, bug, networking, small_patch, support:core, traceback

#45140 Fix netconf module and plugin issues
  lib/ansible/modules/network/netconf/netconf_config.py
  lib/ansible/plugins/netconf/__init__.py
Labels: affects_2.8, bug, core_review, module, networking, support:core, support:network

#45142 adding tags to container instance
  lib/ansible/modules/cloud/azure/azure_rm_containerinstance.py
Labels: affects_2.8, automerge, azure, bug, cloud, module, owner_pr, shipit, support:community

#45143 added missing resource_group description in return value
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver_facts.py
Labels: affects_2.8, automerge, azure, cloud, docs, module, owner_pr, shipit, small_patch, support:community

#45135 fix Python 2.6 regex bug terminal plugin nxos, iosxr
  lib/ansible/plugins/terminal/iosxr.py
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.8, bug, networking, nxos, small_patch, support:core

#45153 Documentation for several VMware modules
  lib/ansible/modules/cloud/vmware/vmware_host_config_facts.py
  lib/ansible/modules/cloud/vmware/vmware_host_service_facts.py
  lib/ansible/modules/cloud/vmware/vmware_portgroup_facts.py
Labels: affects_2.8, cloud, community_review, docs, module, owner_pr, support:community, vmware

#45155 Handle special service where package is not available
  lib/ansible/modules/cloud/vmware/vmware_host_service_facts.py
Labels: affects_2.8, bug, cloud, community_review, module, owner_pr, support:community, vmware

#45148 Add support for Devuan
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.8, feature, support:core, test

#45093 Correct Jinja2 plugin math filter symmetric_difference() to operate on lists w/ > 1000 entries
  lib/ansible/plugins/filter/mathstuff.py
Labels: affects_2.7, bug, new_contributor, small_patch, support:core

#37357 Fixes ec2.py assume_role.
  contrib/inventory/ec2.py
Labels: affects_2.6, aws, bug, c:inventory/contrib_script, cloud, inventory, stale_ci, support:community

#43479 Fix dead code in files module
  lib/ansible/modules/files/stat.py
  lib/ansible/modules/files/unarchive.py
Labels: affects_2.7, bug, core_review, m:unarchive, module, support:core

#44982 pkgng: Return reason on "pkg update" error message
  lib/ansible/modules/packaging/os/pkgng.py
Labels: affects_2.7, bug, community_review, module, new_contributor, small_patch, support:community

#45164 fixed formatting
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.8, docs, support:core

#44601 Add definitive to valid_simple_controls in pamd module
  changelogs/fragments/44278-pamd_valid_simple_controls.yaml
  lib/ansible/modules/system/pamd.py
Labels: affects_2.7, bug, core_review, module, new_contributor, support:community, support:core

#43417 Allow routes to be created if the CIDR already exists but its 'Origin…
  lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py
Labels: affects_2.7, aws, bug, cloud, committer_review, module, new_contributor, small_patch, support:certified

#44455 Improve GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: affects_2.7, feature, needs_revision, support:core

#45174 fixed formatting (#45164)
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.7, backport, docs, support:core

#45183 Fix ansible-test virtualenv use in import test.
  test/runner/lib/sanity/import.py
Labels: affects_2.8, bug, support:core, test

#45168 Include rds_instance in AWS module-default group
  lib/ansible/config/module_defaults.yml
Labels: affects_2.7, backport, bug, small_patch, support:core

#45051 ACME: refactoring GET requests
  lib/ansible/module_utils/acme.py
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.7, bug, module, owner_pr, shipit, support:community, support:core

#45175 Fix ios_user issue CP in 2.6
  changelogs/fragments/fix_ios_user.yaml
  lib/ansible/modules/network/ios/ios_user.py
Labels: affects_2.6, backport, bug, core_review, module, needs_triage, networking, support:core, support:network

#44940 Backport PR 44762
  changelogs/fragments/win_uri-json.yml
  lib/ansible/modules/windows/win_uri.ps1
  test/sanity/pslint/ignore.txt
Labels: affects_2.6, backport, bug, core_review, module, support:core, test, windows

#44880 [2.6] docker_container: improve description of default network removal.
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, cloud, docker, docs, module, owner_pr, shipit, small_patch, support:community

#44879 [2.6] docker_container: improving idempotency
  changelogs/fragments/44808-docker_container-idempotency.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, bug, cloud, docker, module, shipit, support:community, support:core

#44853 [stable-2.6] Don't allow import_tasks to transition to dynamic when file is missing. See #44822 (#44836)
  changelogs/fragments/no-dynamic-import-tasks.yaml
  lib/ansible/playbook/helpers.py
Labels: affects_2.6, backport, needs_info, needs_template, support:core

#44817 [2.6] Set Default values correctly for docker variables
  changelogs/fragments/42641-44812-docker-env-variables.yaml
  lib/ansible/module_utils/docker_common.py
  lib/ansible/utils/module_docs_fragments/docker.py
Labels: affects_2.6, backport, bug, support:core

#44783 [2.6] docker modules: improve documentation on docker / docker-py conflict
  lib/ansible/module_utils/docker_common.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_image_facts.py
  lib/ansible/modules/cloud/docker/docker_login.py
  lib/ansible/modules/cloud/docker/docker_network.py
  lib/ansible/modules/cloud/docker/docker_service.py
  lib/ansible/modules/cloud/docker/docker_volume.py
Labels: affects_2.6, backport, cloud, docker, docs, module, shipit, support:community, support:core

#44798 win_psexec: fix arg handling when command contains multiple args (#44797)
  changelogs/fragments/win_psexec_command_arg.yaml
  lib/ansible/modules/windows/win_psexec.ps1
  test/integration/targets/win_psexec/tasks/main.yml
Labels: affects_2.6, backport, bug, core_review, module, support:community, support:core, test, windows

#45193 VMware: restructure docs (#43065)
  docs/docsite/rst/index.rst
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/guides.rst
  docs/docsite/rst/vmware/faq.rst
  docs/docsite/rst/vmware/vmware_intro.rst
  docs/docsite/rst/vmware/vmware_troubleshooting.rst
Labels: affects_2.6, backport, docs, support:core

#44795 Backport of PR 43464
  changelogs/fragments/win_wait_for-timeout.yaml
  lib/ansible/modules/windows/win_wait_for.ps1
Labels: affects_2.6, backport, bug, core_review, module, support:core, windows

#44728 Backport/2.6/44568
  changelogs/fragments/one_host-env-fix.yml
  lib/ansible/module_utils/opennebula.py
  lib/ansible/utils/module_docs_fragments/opennebula.py
  test/integration/targets/one_host/tasks/main.yml
Labels: affects_2.6, backport, bug, cloud, shipit, support:community, support:core, test

#44707 Backport/2.6/44500 Module win_domain_computer fix delete computer with child
  changelogs/fragments/44500-win_domain_computer.yaml
  lib/ansible/modules/windows/win_domain_computer.ps1
Labels: affects_2.6, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#44640 issue:43021 add support for onyx version 3.6.6000 and above (#44527)
  lib/ansible/modules/network/onyx/onyx_interface.py
  lib/ansible/modules/network/onyx/onyx_l2_interface.py
  lib/ansible/modules/network/onyx/onyx_l3_interface.py
  test/units/modules/network/onyx/test_onyx_interface.py
  test/units/modules/network/onyx/test_onyx_l2_interface.py
  test/units/modules/network/onyx/test_onyx_l3_interface.py
Labels: affects_2.6, backport, bug, core_review, module, networking, stale_ci, support:community, support:core, test

#44627 Fix win_domain_computer error when empty description
  changelogs/fragments/44054--win_domain_computer.yaml
  lib/ansible/modules/windows/win_domain_computer.ps1
Labels: affects_2.6, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#44609 [stable-2.6] Fix another corner case of too many warnings for world readable current working directory
  changelogs/fragments/more-world-readable-warning-skips.yaml
  lib/ansible/config/manager.py
  test/units/config/manager/test_find_ini_config_file.py
Labels: affects_2.6, backport, bug, stale_ci, support:core, test

#44582 Backport #43051 to 2.6 - Pass path to GalaxyRole object
  changelogs/fragments/galaxy_list_all_roles.yaml
  lib/ansible/cli/galaxy.py
Labels: affects_2.6, backport, bug, stale_ci, support:core

#44580 Backport #44174 for 2.6 - Properly unexpire account on creation
  changelogs/fragments/user-properly-unexpire-new-user.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.6, backport, bug, core_review, module, stale_ci, support:core, test

#44565 [2.6] Clarifiy the usage of env_file in the docker_container module
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, cloud, docker, docs, module, owner_pr, shipit, support:community

#44563 [2.6] docker_container: allow arbitrary log_driver
  changelogs/fragments/33579-docker_container-log_driver.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, bug, cloud, docker, module, shipit, support:community, support:core

#44554 basic.py: catch ValueError when trying to import hash algorithms (#44551)
  changelogs/fragments/fips_md5_import.yaml
  lib/ansible/module_utils/basic.py
Labels: affects_2.6, backport, bug, needs_revision, support:core

#44521 [2.6] More consistent Docker unit parsing
  changelogs/fragments/16748-docker_container-memory.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.6, backport, bug, cloud, docker, module, shipit, support:community, support:core

#44475 ldap_passwd: Fix #44329
  lib/ansible/modules/net_tools/ldap/ldap_passwd.py
Labels: affects_2.6, backport, bug, module, net_tools, owner_pr, shipit, small_patch, support:community

#44448 Fix enable_snat parameter (#44418)
  changelogs/fragments/fix-os_router.yaml
  lib/ansible/modules/cloud/openstack/os_router.py
Labels: affects_2.6, backport, bug, cloud, core_review, module, openstack, stale_ci, support:community, support:core

#44381 backport: module_utils_service: Fix glob path of rc.d
  changelogs/fragments/service.yml
  lib/ansible/module_utils/service.py
Labels: affects_2.6, backport, bug, stale_ci, support:core

#44424 Strip trailing comments from /etc/default/passwd (#43931)
  changelogs/fragments/43931-strip-trailing-comments.yml
  lib/ansible/modules/system/user.py
Labels: affects_2.6, backport, bug, core_review, module, stale_ci, support:core

#44254 To resolve the issue of handling exception for Nios lookup gracefully
  changelogs/fragments/nios_lookup_handle_exception.yaml
  lib/ansible/module_utils/net_tools/nios/api.py
Labels: affects_2.6, backport, bug, infoblox, net_tools, networking, stale_ci, support:core

#44244 Add AzureRMStorageAccount StorageV2 kind backport
  changelogs/fragments/azure_rm_storageaccount.yaml
  lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py
Labels: affects_2.6, azure, backport, cloud, core_review, module, stale_ci, support:certified, support:core

#44259 To resolve nios_network issue where vendor-encapsulated-options can not have a use_option flag
  changelogs/fragments/nios_network_vendor_specfic_dhcp_fix.yaml
  lib/ansible/modules/net_tools/nios/nios_network.py
Labels: affects_2.6, backport, bug, core_review, infoblox, module, net_tools, networking, stale_ci, support:core

#44415 Backport package manager detection fixes to stable 2.6
  changelogs/fragments/zypper-on-ubuntu.yaml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
  test/integration/targets/package/tasks/main.yml
  test/units/module_utils/facts/test_ansible_collector.py
  test/units/module_utils/facts/test_collectors.py
Labels: affects_2.6, backport, bug, python3, shipit, support:core, test

#44506 fix no log templating
  changelogs/fragments/fix_no_log_loop.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/executor/task_result.py
  test/integration/targets/no_log/dynamic.yml
  test/integration/targets/no_log/runme.sh
Labels: affects_2.6, backport, bug, support:community, support:core, test

#44105 Pick 2.6 nxos bugfixes
  changelogs/fragments/nxos_banner_text.yaml
  changelogs/fragments/nxos_file_copy_md5sum.yaml
  changelogs/fragments/nxos_interface.yaml
  changelogs/fragments/nxos_linkagg.yaml
  changelogs/fragments/nxos_non_structured_output_fix.yaml
  changelogs/fragments/nxos_static_route_fix.yaml
  changelogs/fragments/nxos_system.yaml
  changelogs/fragments/terminal_plugin.yaml
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/nxos/nxos_banner.py
  lib/ansible/modules/network/nxos/nxos_facts.py
  lib/ansible/modules/network/nxos/nxos_file_copy.py
  lib/ansible/modules/network/nxos/nxos_interface.py
  lib/ansible/modules/network/nxos/nxos_linkagg.py
  lib/ansible/modules/network/nxos/nxos_static_route.py
  lib/ansible/modules/network/nxos/nxos_system.py
  lib/ansible/modules/network/nxos/nxos_vlan.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/httpapi/nxos.py
  lib/ansible/plugins/terminal/iosxr.py
  lib/ansible/plugins/terminal/nxos.py
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
  test/units/modules/network/nxos/fixtures/nxos_vlan/config.cfg
  test/units/modules/network/nxos/fixtures/nxos_vlan/show_vlan.txt
  test/units/modules/network/nxos/fixtures/nxos_vlan/show_vlan_brief.txt
  test/units/modules/network/nxos/test_nxos_vlan.py
Labels: affects_2.6, backport, bug, core_review, module, networking, nxos, support:community, support:core, support:network, test

#43889 Fix ignore diff lines issue for lines in ios, eos, nxos
  changelogs/fragments/network_config_diff_fix.yml
  lib/ansible/module_utils/network/common/config.py
  lib/ansible/modules/network/eos/eos_config.py
  lib/ansible/modules/network/ios/ios_config.py
  lib/ansible/modules/network/nxos/nxos_config.py
Labels: affects_2.6, backport, bug, core_review, module, networking, nxos, stale_ci, support:core, support:network

#43716 ec2 inventory: python 3.7 compatibility
  contrib/inventory/ec2.py
Labels: affects_2.7, aws, bug, c:inventory/contrib_script, cloud, inventory, python3, stale_ci, support:community, traceback

#42697 Add Scaleway user_data module (Allows Cloud-init configuration on Scaleway instances)
  lib/ansible/modules/cloud/scaleway/scaleway_user_data.py
  test/legacy/roles/scaleway_user_data/defaults/main.yml
  test/legacy/roles/scaleway_user_data/tasks/main.yml
  test/legacy/scaleway.yml
Labels: affects_2.7, cloud, core_review, module, new_module, new_plugin, scaleway, support:community, support:core, test

#41036 Subversion: Only fire changed when content has changed
  lib/ansible/modules/source_control/subversion.py
Labels: affects_2.7, bug, core_review, module, support:core

#45054 DigitalOcean inventory deprecation warning
  contrib/inventory/digital_ocean.py
Labels: affects_2.7, bug, c:inventory/contrib_script, cloud, digital_ocean, inventory, python3, small_patch, support:community

#45157 VMware: Return Disk UUID information
  lib/ansible/modules/cloud/vmware/vmware_guest_disk_facts.py
  test/integration/targets/vmware_guest_disk_facts/tasks/main.yml
Labels: affects_2.8, cloud, community_review, feature, module, support:community, test, vmware

#45200 Fix diff_ignore_lines option issue in {eos,ios,nxos}_config module
  lib/ansible/modules/network/eos/eos_config.py
  lib/ansible/modules/network/ios/ios_config.py
  lib/ansible/modules/network/nxos/nxos_config.py
Labels: affects_2.6, backport, bug, core_review, module, networking, nxos, support:network

#45196 Consolidate keyvault tests
  test/integration/targets/azure_rm_keyvault/aliases
  test/integration/targets/azure_rm_keyvault/lookup_plugins/azure_service_principal_attribute.py
  test/integration/targets/azure_rm_keyvault/tasks/main.yml
  test/integration/targets/azure_rm_keyvaultkey/aliases
  test/integration/targets/azure_rm_keyvaultkey/meta/main.yml
  test/integration/targets/azure_rm_keyvaultkey/tasks/main.yml
  test/integration/targets/azure_rm_keyvaultsecret/aliases
  test/integration/targets/azure_rm_keyvaultsecret/lookup_plugins/azure_service_principal_attribute.py
  test/integration/targets/azure_rm_keyvaultsecret/meta/main.yml
  test/integration/targets/azure_rm_keyvaultsecret/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, needs_triage, support:community, test

#44908 Fixed an issue when expecting may be, but getting maybe
  lib/ansible/modules/network/nxos/nxos_install_os.py
Labels: affects_2.7, bug, core_review, module, networking, new_contributor, nxos, small_patch, support:network

#44816 Provide NETCONF support for network_os "dellos10"
  lib/ansible/plugins/connection/netconf.py
Labels: affects_2.7, feature, networking, small_patch, support:core

#45215 Update porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
Labels: affects_2.7, backport, bug, docs, needs_triage, new_contributor, small_patch, support:core

#45084 [2.7] ACME: fixing typo in acme_certificate docs
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.7, backport, docs, module, owner_pr, shipit, small_patch, support:community

#40842 openstack: Document the python-novaclient requirement
  lib/ansible/modules/cloud/openstack/os_server.py
  lib/ansible/modules/cloud/openstack/os_server_action.py
Labels: affects_2.4, backport, cloud, community_review, docs, module, openstack, small_patch, support:community

#43042 [aws] Add suboptions to aws_application_scaling_policy
  lib/ansible/modules/cloud/amazon/aws_application_scaling_policy.py
Labels: affects_2.7, aws, bug, cloud, community_review, module, support:community

#45169 elb_target_group - prevent a KeyError exception
  changelogs/fragments/elb_target_group_fix_KeyError.yaml
  lib/ansible/modules/cloud/amazon/elb_target_group.py
Labels: affects_2.8, aws, bug, cloud, core_review, module, support:community, support:core, traceback

#42765 Fix ec2_group for numbered protocols (GRE)
  lib/ansible/module_utils/ec2.py
  lib/ansible/modules/cloud/amazon/ec2_group.py
  test/integration/targets/ec2_group/tasks/main.yml
  test/integration/targets/ec2_group/tasks/numeric_protos.yml
Labels: affects_2.7, aws, bug, cloud, core_review, module, support:core, test

#41952 Broken dependencies in 2.5
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/modules/cloud/azure/azure_rm_containerinstance.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqldatabase.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlserver.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqldatabase.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver.py
  packaging/requirements/requirements-azure.txt
  test/integration/targets/azure_rm_containerinstance/tasks/main.yml
  test/integration/targets/azure_rm_mysqldatabase/tasks/main.yml
  test/integration/targets/azure_rm_mysqlserver/tasks/main.yml
  test/integration/targets/azure_rm_postgresqldatabase/tasks/main.yml
  test/integration/targets/azure_rm_postgresqlserver/tasks/main.yml
  test/runner/requirements/integration.cloud.azure.txt
Labels: affects_2.5, azure, backport, bug, cloud, core_review, module, stale_ci, support:community, support:core, test

#44249 nxos bugfix Pick 2.5
  changelogs/fragments/nxos_file_copy.yaml
  changelogs/fragments/nxos_interface.yaml
  changelogs/fragments/nxos_linkagg.yaml
  changelogs/fragments/nxos_static_route_fix.yaml
  changelogs/fragments/terminal_plugin.yaml
  lib/ansible/modules/network/nxos/nxos_file_copy.py
  lib/ansible/modules/network/nxos/nxos_interface.py
  lib/ansible/modules/network/nxos/nxos_linkagg.py
  lib/ansible/modules/network/nxos/nxos_static_route.py
  lib/ansible/plugins/terminal/iosxr.py
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.5, backport, bug, core_review, module, networking, nxos, support:core, support:network

#44253 Fix ios_vlan and ios_l2_interface issues CP in 2.5
  changelogs/fragments/fix_ios_l2_interface.yaml
  changelogs/fragments/ios_vlan_interface.yaml
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/modules/network/ios/ios_l2_interface.py
  lib/ansible/modules/network/ios/ios_vlan.py
Labels: affects_2.5, backport, bug, core_review, module, networking, support:core, support:network

#44321 Backport #38534 for 2.5 - Remove python-keyczar dependency
  packaging/arch/PKGBUILD
  packaging/rpm/ansible.spec
Labels: affects_2.5, backport, bug, stale_ci, support:core

#44367 Strip trailing comments from /etc/default/passwd (#43931)
  changelogs/fragments/43931-strip-trailing-comments.yml
  lib/ansible/modules/system/user.py
Labels: affects_2.5, backport, bug, core_review, module, stale_ci, support:core

#44451 Fix enable_snat parameter (#44418)
  changelogs/fragments/fix-os_router.yaml
  lib/ansible/modules/cloud/openstack/os_router.py
Labels: affects_2.5, backport, bug, cloud, core_review, module, openstack, stale_ci, support:community, support:core

#44583 Backport #43051 to 2.5 - Pass path to GalaxyRole object
  changelogs/fragments/galaxy_list_all_roles.yaml
  lib/ansible/cli/galaxy.py
Labels: affects_2.5, backport, bug, stale_ci, support:core

#44610 [stable-2.5] Fix another corner case of too many warnings for world readable current working directory
  changelogs/fragments/more-world-readable-warning-skips.yaml
  lib/ansible/config/manager.py
  test/units/config/manager/test_find_ini_config_file.py
Labels: affects_2.5, backport, bug, stale_ci, support:core, test

#44854 [stable-2.5] Don't allow import_tasks to transition to dynamic when file is missing. See #44822 (#44836)
  changelogs/fragments/no-dynamic-import-tasks.yaml
  lib/ansible/playbook/helpers.py
Labels: affects_2.5, backport, needs_info, needs_template, support:core

#45180 Fix ios_user issue CP in 2.5
  changelogs/fragments/fix_ios_user.yaml
  lib/ansible/modules/network/ios/ios_user.py
Labels: affects_2.5, backport, bug, core_review, module, needs_triage, networking, support:core, support:network

#43372 docfix, python-netaddr should be netaddr
  lib/ansible/plugins/filter/ipaddr.py
Labels: affects_2.7, docs, small_patch, stale_ci, support:core

#43791 Update documentation for gcp_compute
  lib/ansible/plugins/inventory/gcp_compute.py
Labels: affects_2.7, docs, new_contributor, stale_ci, support:core

#44871 Fix KeyError on update when principal is an account number
  lib/ansible/modules/cloud/amazon/lambda_policy.py
Labels: affects_2.7, aws, bug, cloud, community_review, module, new_contributor, support:community, traceback

#45241 fixed network automation index issues (#44732)
  docs/docsite/rst/index.rst
  docs/docsite/rst/network/getting_started/index.rst
  docs/docsite/rst/network/index.rst
  docs/docsite/rst/network/user_guide/index.rst
Labels: affects_2.6, backport, bug, docs, networking, support:core

#45239 junos_vlan: Add Vlan ID Range in description (#41855)
  lib/ansible/modules/network/junos/junos_vlan.py
Labels: affects_2.6, backport, core_review, docs, module, networking, small_patch, support:network

#43856 docs: Clarify include_task v import_tasks with conditionals
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.7, bug, docs, needs_revision, support:core, waiting_on_contributor

#45197 Pure Storage doc fix
  lib/ansible/utils/module_docs_fragments/purestorage.py
Labels: affects_2.8, docs, needs_triage, new_contributor, support:core

#45249 Fixes for ansible-test sanity import test.
  test/sanity/import/importer.py
Labels: affects_2.8, bug, python3, support:core, test

#44941 Switch default test container to quay.io.
  test/runner/completion/docker.txt
Labels: affects_2.7, feature, needs_revision, support:core, test

#45252 Updates documentation formatting and dependencies
  lib/ansible/utils/module_docs_fragments/f5.py
Labels: affects_2.8, bug, python3, support:core

#45256 Get packages for dnf and yum tests from S3.
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.6, backport, bug, support:core, test

#45254 Remove obsolete default container.
  test/runner/.dockerignore
  test/runner/Dockerfile
  test/runner/docker/deadsnakes.list
  test/runner/docker/python3.7.0a2
  test/runner/docker/requirements.sh
  test/runner/lib/classification.py
Labels: affects_2.8, bug, support:core, test

#45258 Get packages for dnf and yum tests from S3.
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.4, backport, bug, support:core, test

#45257 Get packages for dnf and yum tests from S3.
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.5, backport, bug, support:core, test

#45131 add publish url in webapp facts output
  lib/ansible/modules/cloud/azure/azure_rm_webapp_facts.py
  test/integration/targets/azure_rm_webapp/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community, test

#45251 NCLU - Add example: Changing the hostname and committing on Cumulus L…
  lib/ansible/modules/network/cumulus/nclu.py
Labels: affects_2.6, backport, community_review, docs, module, networking, small_patch, support:community

#45264 Correct to development_process (#39069)
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/community/how_can_I_help.rst
Labels: affects_2.5, backport, docs, support:core

#45263 VMware: Handle systemError in host_config_manager
  lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py
Labels: affects_2.8, bug, cloud, community_review, module, owner_pr, small_patch, support:community, vmware

#45268 IOSXR dci test failure on devel/2.7
  test/integration/targets/iosxr_config/tests/cli_config/cli_basic.yaml
Labels: affects_2.8, bug, needs_triage, support:network, test

#45271 fix nxos terminal plugin python26 "nothing to repeat" bug
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.8, bug, networking, nxos, small_patch, support:core

#45152 Add single quotes around package name
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: affects_2.8, docs, feature, small_patch, support:core

#44980 prefer ansible_facts namespace and dict notation
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
  docs/docsite/rst/user_guide/playbooks_blocks.rst
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_tests.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.7, docs, support:core

#44965 Select image facts by region
  lib/ansible/modules/cloud/scaleway/scaleway_image_facts.py
  test/legacy/roles/scaleway_image_facts/tasks/main.yml
Labels: affects_2.7, bug, cloud, core_review, module, scaleway, support:community, support:core, test

#45292 Improve dnf group output for clarity
  changelogs/fragments/dnf-group-removal.yaml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/yum/tasks/main.yml
Labels: affects_2.8, bug, core_review, module, needs_triage, support:core, test

#45293 Improve dnf group output for clarity
  changelogs/fragments/dnf-group-removal.yaml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/yum/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, module, needs_triage, support:core, test

#45056 [2.7] docker_*: changelogs
  changelogs/fragments/16748-docker_container-memory.yaml
  changelogs/fragments/33579-docker_container-log_driver.yaml
  changelogs/fragments/42380-docker_container-check-mode.yaml
  changelogs/fragments/42641-44812-docker-env-variables.yaml
  changelogs/fragments/42857-docker_container-working_dir.yaml
  changelogs/fragments/44808-docker_container-idempotency.yaml
Labels: affects_2.7, backport, docs, support:core

#45130 Backport of 45091
  lib/ansible/module_utils/network/aci/aci.py
  lib/ansible/modules/network/aci/aci_switch_policy_vpc_protection_group.py
  test/integration/targets/aci_switch_policy_vpc_protection_group/tasks/main.yml
Labels: aci, affects_2.7, backport, bug, community_review, module, needs_triage, networking, small_patch, support:community, test

#45138 [2.7] Add a table of contents to the generated changelog (#45046)
  packaging/release/changelogs/changelog.py
Labels: affects_2.7, backport, bug, needs_triage, small_patch, support:core

#45144 Fix netconf module and plugin issues (#45140)
  lib/ansible/modules/network/netconf/netconf_config.py
  lib/ansible/plugins/netconf/__init__.py
Labels: affects_2.7, backport, bug, core_review, module, needs_triage, networking, support:core, support:network

#45255 Updates documentation formatting and dependencies (#45252)
  lib/ansible/utils/module_docs_fragments/f5.py
Labels: affects_2.7, backport, bug, needs_triage, support:core

#45235 [aws] Add suboptions to aws_application_scaling_policy (#43042)
  lib/ansible/modules/cloud/amazon/aws_application_scaling_policy.py
Labels: affects_2.7, aws, backport, bug, cloud, community_review, module, support:community

#45236 elb_target_group - backport fixing a KeyError exception (#45169)
  changelogs/fragments/elb_target_group_fix_KeyError.yaml
  lib/ansible/modules/cloud/amazon/elb_target_group.py
Labels: affects_2.7, aws, backport, bug, cloud, core_review, module, support:community, support:core

#45240 Fix ec2_group for numbered protocols such as GRE
  lib/ansible/module_utils/ec2.py
  lib/ansible/modules/cloud/amazon/ec2_group.py
  test/integration/targets/ec2_group/tasks/main.yml
  test/integration/targets/ec2_group/tasks/numeric_protos.yml
Labels: affects_2.7, aws, backport, bug, cloud, module, needs_revision, support:core, test

#45274 iosxr dci failure on devel/2.7 (#45268)
  test/integration/targets/iosxr_config/tests/cli_config/cli_basic.yaml
Labels: affects_2.7, backport, bug, needs_triage, support:network, test

#45297 Backport 2.7 - Select image facts by region
  lib/ansible/modules/cloud/scaleway/scaleway_image_facts.py
  test/legacy/roles/scaleway_image_facts/tasks/main.yml
Labels: affects_2.7, backport, bug, cloud, core_review, module, scaleway, support:community, support:core, test

#45302 fix version number because this was backported
  lib/ansible/modules/cloud/scaleway/scaleway_image_facts.py
Labels: affects_2.8, bug, cloud, community_review, module, needs_triage, scaleway, small_patch, support:community

#45301 fixes to systemd deprecation of user option
  changelogs/fragments/systemd_user_dep_fixes.yml
  lib/ansible/modules/system/systemd.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.7, backport, bug, core_review, module, needs_triage, support:core, test

#45307 Fix diff_ignore_lines option issue for candidate configuration (#45201)
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/nxos.py
  test/integration/targets/ios_config/tests/cli/src_basic.yaml
Labels: affects_2.7, backport, bug, networking, nxos, support:core, support:network, test

#45296 ec2_group multi account
  lib/ansible/modules/cloud/amazon/ec2_group.py
  test/integration/targets/ec2_group/tasks/main.yml
  test/integration/targets/ec2_group/tasks/multi_account.yml
Labels: affects_2.8, aws, bug, cloud, core_review, module, support:core, test

#43247 Fix health check configurations being ignored - #43244
  lib/ansible/modules/cloud/amazon/elb_target_group.py
Labels: affects_2.7, aws, bug, cloud, community_review, module, owner_pr, support:community

#45299 Adding maintainer for Redfish modules
  .github/BOTMETA.yml
Labels: affects_2.8, docs, small_patch, support:core

#45267 plugins/callbacks : fix some key documentation
  lib/ansible/plugins/callback/hipchat.py
  lib/ansible/plugins/callback/selective.py
Labels: affects_2.8, bug, support:core

#44942 check for change of role arn in ecs task definition
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
Labels: affects_2.7, aws, bug, cloud, community_review, module, new_contributor, support:community

#45308 s3_lifecycle: fix backwards compatibility without prefix
  lib/ansible/modules/cloud/amazon/s3_lifecycle.py
  test/integration/targets/s3_lifecycle/tasks/main.yml
Labels: affects_2.8, aws, bug, cloud, committer_review, module, support:certified, test

#45316 Fix callback config typos
  changelogs/fragments/cb_fix_config.yml
  lib/ansible/plugins/callback/hipchat.py
  lib/ansible/plugins/callback/selective.py
Labels: affects_2.7, backport, bug, needs_triage, support:core

#45317 [aws] ecs_taskdefinition - check for change of role arn (#44942)
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
Labels: affects_2.7, aws, backport, bug, cloud, community_review, module, support:community

#45318 [aws] s3_lifecycle fix backwards compatibility without providing prefix
  lib/ansible/modules/cloud/amazon/s3_lifecycle.py
  test/integration/targets/s3_lifecycle/tasks/main.yml
Labels: affects_2.7, aws, backport, bug, cloud, committer_review, module, support:certified, test

#45319 Changelog for AWS bugfixes
  changelogs/fragments/aws_bugfix_backports.yml
Labels: affects_2.7, backport, docs, needs_triage, support:core

#42777 VMware: delete parameters created with init
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
Labels: affects_2.7, cloud, community_review, feature, module, new_contributor, stale_ci, support:community, vmware

#44566 VMware: update vmware_local_role_manager with action
  lib/ansible/modules/cloud/vmware/vmware_local_role_manager.py
  test/integration/targets/vmware_local_role_manager/tasks/main.yml
Labels: affects_2.7, bug, cloud, community_review, module, support:community, test, vmware

#44347 vca_vapp documentation update
  lib/ansible/modules/cloud/vmware/vca_vapp.py
Labels: affects_2.7, cloud, community_review, docs, module, support:community, vmware

#45331 consolidating dns recordset tests
  test/integration/targets/azure_rm_dnsrecordset/aliases
  test/integration/targets/azure_rm_dnsrecordset/meta/main.yml
  test/integration/targets/azure_rm_dnsrecordset/tasks/main.yml
  test/integration/targets/azure_rm_dnsrecordset_facts/aliases
  test/integration/targets/azure_rm_dnsrecordset_facts/meta/main.yml
  test/integration/targets/azure_rm_dnsrecordset_facts/tasks/main.yml
  test/integration/targets/azure_rm_dnszone/aliases
  test/integration/targets/azure_rm_dnszone/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, needs_triage, support:community, test

#45333 Correct version_added for strategy host_pinned
  lib/ansible/plugins/strategy/host_pinned.py
Labels: affects_2.8, docs, small_patch, support:core

#36282 new module vmware_guest_vnc
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_guest_vnc.py
Labels: affects_2.6, cloud, community_review, module, new_contributor, new_module, new_plugin, support:community, test, vmware

#45337 Add ambiguous command check as the error message is not persistent on nexus devices
  lib/ansible/module_utils/network/nxos/nxos.py
Labels: affects_2.8, bug, networking, small_patch, support:core

#39285 VMware: Refactor disc logic
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/cdrom_d1_c1_f0.yml
Labels: affects_2.6, bug, cloud, community_review, module, support:community, test, vmware

#39792 rewrite get_resource_pool method for correct resource_pool selection
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/cdrom_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/vapp_d1_c1_f0.yml
Labels: affects_2.6, bug, cloud, community_review, module, new_contributor, support:community, test, vmware
