Repository ansible/ansible, pull requests merged in 2019-04, with the labels that each got.

#54644 azure_rm_managed_disk additional disk types
  lib/ansible/modules/cloud/azure/azure_rm_managed_disk.py
  lib/ansible/modules/cloud/azure/azure_rm_managed_disk_facts.py
  test/integration/targets/azure_rm_managed_disk/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community

#54579 Rename inconsistent azure_rm_virtualmachine_scaleset modules
  lib/ansible/modules/cloud/azure/_azure_rm_virtualmachine_scaleset.py
  lib/ansible/modules/cloud/azure/_azure_rm_virtualmachine_scaleset_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset_facts.py
  test/integration/targets/azure_rm_autoscale/tasks/main.yml
  test/integration/targets/azure_rm_virtualmachinescaleset/aliases
  test/integration/targets/azure_rm_virtualmachinescaleset/meta/main.yml
  test/integration/targets/azure_rm_virtualmachinescaleset/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, deprecated, module, needs_revision, needs_triage, new_module, new_plugin, support:community

#54572 add azure_rm_rediscache reboot/regenerate key
  lib/ansible/modules/cloud/azure/azure_rm_rediscache.py
  test/integration/targets/azure_rm_rediscache/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, feature, module, support:community

#54662 Fix for function app settings
  lib/ansible/modules/cloud/azure/azure_rm_functionapp.py
  test/integration/targets/azure_rm_functionapp/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community

#54584 support application security group in network security group
  lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py
  test/integration/targets/azure_rm_securitygroup/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, feature, module, support:community

#54639 Ovirt add docs suboptions
  lib/ansible/modules/cloud/ovirt/ovirt_cluster.py
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
  lib/ansible/modules/cloud/ovirt/ovirt_network.py
  lib/ansible/modules/cloud/ovirt/ovirt_quota.py
  lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py
  lib/ansible/modules/cloud/ovirt/ovirt_template.py
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
  lib/ansible/modules/cloud/ovirt/ovirt_vnic_profile.py
Labels: affects_2.8, automerge, cloud, docs, module, ovirt, owner_pr, shipit, support:community

#54222 Support to create VM from template
  lib/ansible/modules/cloud/kubevirt/kubevirt_template.py
  lib/ansible/modules/cloud/kubevirt/kubevirt_vm.py
Labels: affects_2.8, automerge, cloud, feature, module, owner_pr, shipit, support:community

#54535 Remove check for commercial types in scaleway_compute
  lib/ansible/modules/cloud/scaleway/scaleway_compute.py
Labels: affects_2.8, automerge, bug, cloud, module, owner_pr, scaleway, shipit, support:community

#54667 Add hcloud_floating_ip_facts module
  lib/ansible/modules/cloud/hcloud/hcloud_floating_ip_facts.py
  test/integration/targets/hcloud_floating_ip_facts/aliases
  test/integration/targets/hcloud_floating_ip_facts/defaults/main.yml
  test/integration/targets/hcloud_floating_ip_facts/tasks/main.yml
Labels: affects_2.8, cloud, hcloud, module, new_module, new_plugin, shipit, support:community

#54656 openssl_certificate: fix ACME provider
  changelogs/fragments/54656-openssl_certificate-acme-chain.yml
  lib/ansible/modules/crypto/openssl_certificate.py
Labels: affects_2.8, bug, crypto, module, shipit, support:community

#54653 openssh_cert: add serial_number param
  lib/ansible/modules/crypto/openssh_cert.py
  test/integration/targets/openssh_cert/tasks/main.yml
Labels: affects_2.8, crypto, feature, module, shipit, support:community

#54490 docker_swarm: Return UnlockKey
  changelogs/fragments/54490-docker_swarm-return-unlock-key.yaml
  lib/ansible/module_utils/docker/common.py
  lib/ansible/module_utils/docker/swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm_info.py
  test/integration/targets/docker_swarm/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/tests/options.yml
  test/integration/targets/docker_swarm_info/tasks/test_swarm_info.yml
Labels: affects_2.8, automerge, cloud, docker, feature, module, shipit, support:community, test

#54596 add ovirt template clone name
  lib/ansible/modules/cloud/ovirt/ovirt_template.py
Labels: affects_2.8, automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#53638 Add latest updates from FTD Ansible downstream repository.
  lib/ansible/module_utils/network/ftd/common.py
  lib/ansible/module_utils/network/ftd/configuration.py
  lib/ansible/module_utils/network/ftd/fdm_swagger_client.py
  lib/ansible/modules/network/ftd/ftd_file_download.py
  lib/ansible/plugins/httpapi/ftd.py
  test/units/module_utils/network/ftd/test_common.py
  test/units/module_utils/network/ftd/test_configuration.py
  test/units/module_utils/network/ftd/test_data/ngfw_with_ex.json
  test/units/module_utils/network/ftd/test_fdm_swagger_parser.py
  test/units/module_utils/network/ftd/test_fdm_swagger_validator.py
  test/units/module_utils/network/ftd/test_fdm_swagger_with_real_data.py
  test/units/module_utils/network/ftd/test_upsert_functionality.py
  test/units/modules/network/ftd/test_ftd_configuration.py
  test/units/modules/network/ftd/test_ftd_file_upload.py
  test/units/plugins/httpapi/test_ftd.py
Labels: affects_2.8, bug, cisco, core_review, ftd, module, networking, new_contributor, support:community, support:core, test

#54672 postgresql_lang module: fixed doc formatting, added aliases, pg_utils, added missing CI tests
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/postgresql_lang.yml
Labels: affects_2.8, community_review, database, docs, module, needs_triage, postgresql, support:community, test

#54676 kubevirt_vm: rename parameters to template_parameters
  lib/ansible/modules/cloud/kubevirt/kubevirt_vm.py
Labels: affects_2.8, automerge, bug, cloud, module, owner_pr, shipit, support:community

#54105 pamd: fix idempotence issue when removing rules
  changelogs/fragments/pamd-make-idempotence-fix.yaml
  lib/ansible/modules/system/pamd.py
  test/units/modules/system/test_pamd.py
Labels: affects_2.8, bug, core_review, module, new_contributor, support:community, support:core, system

#54675 ovirt add template version
  lib/ansible/module_utils/ovirt.py
  lib/ansible/modules/cloud/ovirt/ovirt_template.py
Labels: affects_2.8, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#54666 Add hcloud_volume_facts
  lib/ansible/modules/cloud/hcloud/hcloud_volume_facts.py
  test/integration/targets/hcloud_volume_facts/aliases
  test/integration/targets/hcloud_volume_facts/defaults/main.yml
  test/integration/targets/hcloud_volume_facts/tasks/main.yml
Labels: affects_2.8, cloud, hcloud, module, new_module, new_plugin, shipit, support:community

#54677 cs_vlan_ip_range: Update return values documentation
  lib/ansible/modules/cloud/cloudstack/cs_vlan_ip_range.py
Labels: affects_2.8, automerge, cloud, cloudstack, docs, module, owner_pr, shipit, support:community

#54553 Fix error with get_manager_nic_inventory method
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.8, bug, module, owner_pr, remote_management, shipit, support:community, traceback

#54518 Add ssh key facts for hcloud
  lib/ansible/modules/cloud/hcloud/hcloud_ssh_key_facts.py
  test/integration/targets/hcloud_ssh_key_facts/aliases
  test/integration/targets/hcloud_ssh_key_facts/defaults/main.yml
  test/integration/targets/hcloud_ssh_key_facts/tasks/main.yml
Labels: affects_2.8, cloud, hcloud, module, new_module, new_plugin, shipit, support:community

#54101 Fix Foreman returning host parameters
  changelogs/fragments/54101-backport-51034-foreman-inventory.yaml
  lib/ansible/plugins/inventory/foreman.py
Labels: affects_2.7, backport, community_review, needs_triage, support:community

#54348 [2.7] openssl_certificate: fix state=absent
  changelogs/fragments/54298-openssl_certificate-remove.yaml
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/main.yml
  test/integration/targets/openssl_certificate/tasks/removal.yml
Labels: affects_2.7, backport, bug, community_review, crypto, module, needs_triage, support:community, test

#54416 [stable-2.7] fix issue in random_mac filter with short prefixes
  changelogs/fragments/random_mac-random-int-fix.yaml
  lib/ansible/plugins/filter/core.py
  test/integration/targets/filters/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#54498 win_user_right - fix non json output issue (#54495) - 2.7
  changelogs/fragments/win_user_right-output.yaml
  lib/ansible/modules/windows/win_user_right.ps1
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, support:community, windows

#54506 Backport: Catch all request timeouts for winrm connection
  changelogs/fragments/winrm-all-timeout-exceptions.yaml
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.7, backport, core_review, feature, needs_triage, python3, support:community, support:core, traceback, windows

#54504 Allow AnsibleVaultEncryptedUnicode to pass through exec_jsonrpc (#48306)
  changelogs/fragments/48306-ansible-connection-json
  lib/ansible/module_utils/connection.py
Labels: affects_2.7, backport, bug, community_review, needs_triage, support:community

#54408 [stable-2.7] replace - fixed combined before and after usage (#31452)
  changelogs/fragments/replace-before-after.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  lib/ansible/modules/files/replace.py
  test/integration/targets/replace/aliases
  test/integration/targets/replace/meta/main.yml
  test/integration/targets/replace/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, docs, files, module, needs_triage, support:community, support:core

#54683 Backport/2.7/54105 pamd: fix idempotence issue when removing rules
  changelogs/fragments/pamd-make-idempotence-fix.yaml
  lib/ansible/modules/system/pamd.py
  test/units/modules/system/test_pamd.py
Labels: affects_2.7, backport, core_review, module, needs_triage, support:community, support:core, system

#54497 win_user_right - fix non json output issue (#54495) - 2.6
  changelogs/fragments/win_user_right-output.yaml
  lib/ansible/modules/windows/win_user_right.ps1
Labels: affects_2.6, backport, bug, community_review, module, needs_triage, support:community, windows

#54505 Backport: Catch all request timeouts for winrm connection
  changelogs/fragments/winrm-all-timeout-exceptions.yaml
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.6, backport, core_review, feature, needs_triage, python3, support:community, support:core, traceback, windows

#54693 Clarify source of the host name
  lib/ansible/modules/files/fetch.py
Labels: affects_2.8, core_review, docs, files, module, new_contributor, small_patch, support:core

#54695 win_credential - fix encoding for text based secrets
  lib/ansible/modules/windows/win_credential.ps1
  lib/ansible/modules/windows/win_credential.py
  test/integration/targets/win_credential/tasks/tests.yml
Labels: affects_2.8, bug, community_review, module, needs_triage, support:community, windows

#54700 Remove redundant requirements from test.
  test/integration/targets/inventory_aws_conformance/runme.sh
Labels: affects_2.8, bug, community_review, support:community

#54649 more Azure doc improvements
  lib/ansible/modules/cloud/azure/azure_rm_loganalyticsworkspace.py
  lib/ansible/modules/cloud/azure/azure_rm_loganalyticsworkspace_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_servicebus_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_servicebusqueue.py
  lib/ansible/modules/cloud/azure/azure_rm_servicebussaspolicy.py
  lib/ansible/modules/cloud/azure/azure_rm_servicebustopic.py
  lib/ansible/modules/cloud/azure/azure_rm_servicebustopicsubscription.py
Labels: affects_2.8, azure, cloud, community_review, docs, module, needs_triage, owner_pr, support:community

#54696 vultr: fix missing encoding header
  lib/ansible/plugins/inventory/vultr.py
Labels: affects_2.8, bug, cloud, community_review, inventory, needs_triage, small_patch, support:community, vultr

#54651 botmeta: add huawei team
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, core_review, docs, huawei, needs_triage, support:core

#54703 BOTMETA: add maintainer for docker_compose
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, core_review, feature, needs_triage, small_patch, support:core

#54328 ovirt_disk: Support Hosted Engine content types
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.8, automerge, bug, cloud, module, new_contributor, ovirt, shipit, small_patch, support:community

#54689 Add BusyBox support to group module
  lib/ansible/modules/system/group.py
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.8, core_review, feature, module, support:core, system

#54725 Correct example since per_host default is false
  lib/ansible/modules/utilities/logic/set_stats.py
Labels: affects_2.8, community_review, docs, module, small_patch, support:community, utilities

#54726 kubevirt_rs: new wait logic
  lib/ansible/modules/cloud/kubevirt/kubevirt_rs.py
Labels: affects_2.8, automerge, bug, cloud, module, owner_pr, shipit, support:community

#54717 Postgresql privs reformat
  lib/ansible/module_utils/postgres.py
  lib/ansible/modules/database/postgresql/postgresql_db.py
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  lib/ansible/modules/database/postgresql/postgresql_ping.py
  lib/ansible/modules/database/postgresql/postgresql_privs.py
  lib/ansible/modules/database/postgresql/postgresql_query.py
  test/integration/targets/postgresql/tasks/postgresql_query.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, database, docs, module, needs_revision, postgresql, support:community, support:core, test

#50958 Add vault version 1.2 details
  docs/docsite/rst/user_guide/vault.rst
Labels: affects_2.8, docs, docsite, docsite_pr, new_contributor, shipit, support:core

#54486 Paramiko might not come standard everywhere
  lib/ansible/modules/network/iosxr/iosxr_user.py
  lib/ansible/modules/network/nxos/nxos_file_copy.py
  lib/ansible/modules/network/panos/_panos_admpwd.py
  lib/ansible/modules/network/panos/_panos_cert_gen_ssh.py
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: P2, affects_2.8, bug, cisco, core_review, deprecated, ios, iosxr, module, networking, nxos, support:community, support:core, support:network

#54707 Bug fixes for GCP (as of 2019-04-02T06:05:52Z)
  lib/ansible/modules/cloud/google/gcp_dns_managed_zone.py
  lib/ansible/modules/cloud/google/gcp_dns_managed_zone_facts.py
Labels: affects_2.8, automerge, bug, cloud, gce, module, shipit, support:community

#54706 Bug fixes for GCP (as of 2019-04-01T06:05:40+00:00)
  lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger.py
  lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service_facts.py
Labels: affects_2.8, automerge, bug, cloud, gce, module, shipit, support:community

#54629 Module best practices - AnsibleModule uses supports_check_mode
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
Labels: affects_2.8, bug, core_review, docs, docsite_pr, small_patch, support:core

#54443 Bump dependency versions to avoid conflicts
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/modules/cloud/azure/azure_rm_functionapp.py
  lib/ansible/modules/cloud/azure/azure_rm_keyvault.py
  lib/ansible/modules/cloud/azure/azure_rm_webapp.py
  lib/ansible/modules/cloud/azure/azure_rm_webapp_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_webappslot.py
  packaging/requirements/requirements-azure.txt
  test/runner/requirements/integration.cloud.azure.txt
Labels: P2, affects_2.8, azure, bug, cloud, core_review, module, support:community, support:core, test

#54741 bump roadmap dates
  docs/docsite/rst/roadmap/ROADMAP_2_8.rst
Labels: affects_2.8, docs, shipit, support:core

#54489 Add package requirements for openSUSE for nmcli
  lib/ansible/modules/net_tools/nmcli.py
Labels: affects_2.8, community_review, docs, module, needs_triage, net_tools, small_patch, support:community

#54441 Update create_with_nsg documentation
  lib/ansible/modules/cloud/azure/azure_rm_networkinterface.py
Labels: affects_2.8, azure, cloud, community_review, docs, module, owner_pr, small_patch, support:community

#54699 Ansible.Basic - event log perm fix and no_log improv
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
Labels: affects_2.8, bug, core_review, support:community, support:core, windows

#54739 Fetching a test file, not the motd file
  test/integration/targets/fetch/tasks/main.yml
Labels: affects_2.8, core_review, docs, files, needs_triage, support:core

#54705 psrp - auth options
  changelogs/fragments/psrp-options.yaml
  lib/ansible/plugins/connection/psrp.py
Labels: affects_2.8, bug, core_review, needs_triage, support:community, support:core, windows

#54732 docker_image: fix KeyError and docs copy'n'paste error
  lib/ansible/modules/cloud/docker/docker_image.py
Labels: affects_2.8, automerge, bug, cloud, docker, module, owner_pr, shipit, support:community

#54747 Reduce testing of Ubuntu versions.
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.8, feature, needs_revision, python3, support:core, test

#53788 Update azure_rm_managed_disk.py --add zones
  lib/ansible/modules/cloud/azure/azure_rm_managed_disk.py
  test/integration/targets/azure_rm_managed_disk/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, feature, module, support:community

#54606 Add check to log jsonrpc request/response
  bin/ansible-connection
Labels: affects_2.8, bug, core_review, networking, support:core

#54678 network, eos_config: when the config session show no diff, set 'changed' to False
  lib/ansible/modules/network/eos/eos_config.py
Labels: affects_2.8, bug, core_review, module, networking, support:network

#54324 Make prompt inspection explicit for IOS
  lib/ansible/plugins/action/ios.py
Labels: affects_2.8, bug, cisco, core_review, ios, networking, support:network

#54756 [stable-2.7] Reduce testing of Ubuntu versions.
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.7, backport, feature, needs_revision, python3, support:core, test

#54757 [stable-2.6] Reduce testing of Ubuntu versions.
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.6, backport, feature, needs_revision, python3, support:core, test

#54758 [stable-2.5] Reduce testing of Ubuntu versions.
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.5, backport, feature, needs_revision, python3, support:core, test

#54715 Fixing syntax issues azure_rm_roledefinition test
  test/integration/targets/azure_rm_roledefinition/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, needs_triage, support:community

#54716 fixing azure_rm_devtestlab* test
  test/integration/targets/azure_rm_devtestlab/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, needs_triage, support:community

#54760 Add 6th Windows CI group.
  shippable.yml
  test/integration/targets/win_chocolatey_facts/aliases
  test/integration/targets/win_copy/aliases
  test/integration/targets/win_credential/aliases
  test/integration/targets/win_domain_membership/aliases
  test/integration/targets/win_dotnet_ngen/aliases
  test/integration/targets/win_group_membership/aliases
  test/integration/targets/win_partition/aliases
  test/integration/targets/win_psmodule/aliases
  test/integration/targets/win_uri/aliases
  test/integration/targets/win_user/aliases
Labels: affects_2.8, bug, core_review, support:community, support:core

#54041 kubevirt_cdi_upload: add more error handling
  lib/ansible/modules/cloud/kubevirt/kubevirt_cdi_upload.py
Labels: affects_2.8, automerge, bug, cloud, module, owner_pr, shipit, support:community

#54769 Add type of group in nxos_linkagg module doc
  lib/ansible/modules/network/nxos/nxos_linkagg.py
Labels: affects_2.8, cisco, core_review, docs, module, networking, nxos, owner_pr, small_patch, support:network

#54770 Fix typo in huaweicloud utils
  lib/ansible/module_utils/hwc_utils.py
Labels: affects_2.8, bug, community_review, needs_triage, owner_pr, small_patch, support:community

#53219 Netbox site module
  lib/ansible/module_utils/net_tools/netbox/netbox_utils.py
  lib/ansible/modules/net_tools/netbox/netbox_site.py
Labels: affects_2.8, community_review, module, net_tools, new_module, new_plugin, support:community

#53942 add vnet peering facts module
  lib/ansible/modules/cloud/azure/azure_rm_virtualnetworkpeering_facts.py
  test/integration/targets/azure_rm_virtualnetworkpeering/tasks/main.yml
Labels: affects_2.8, azure, cloud, module, needs_revision, new_module, new_plugin, stale_ci, support:community

#54594 ovirt_host: add activate parameter
  lib/ansible/modules/cloud/ovirt/ovirt_host.py
Labels: affects_2.8, automerge, cloud, feature, module, ovirt, owner_pr, shipit, small_patch, support:community

#54573 renaming info -> facts
  lib/ansible/modules/cloud/azure/azure_rm_applicationsecuritygroup_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_appserviceplan_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_cdnendpoint_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_cdnprofile_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_containerinstance_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_cosmosdbaccount_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_deployment_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_devtestlab_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabarmtemplate_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabartifact_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabartifactsource_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabvirtualmachine_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabvirtualnetwork_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_image_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mariadbconfiguration_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mariadbdatabase_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mariadbfirewallrule_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mariadbserver_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlconfiguration_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlfirewallrule_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlconfiguration_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlfirewallrule_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_rediscache_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_roleassignment_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_roledefinition_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_sqldatabase_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlfirewallrule_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_subnet_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachineextension_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescalesetextension_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescalesetinstance_facts.py
  test/integration/targets/azure_rm_cdnprofile/tasks/main.yml
  test/integration/targets/azure_rm_containerinstance/tasks/main.yml
  test/integration/targets/azure_rm_cosmosdbaccount/tasks/main.yml
  test/integration/targets/azure_rm_deployment/tasks/main.yml
  test/integration/targets/azure_rm_devtestlab/tasks/main.yml
  test/integration/targets/azure_rm_image/tasks/main.yml
  test/integration/targets/azure_rm_mariadbserver/aliases
  test/integration/targets/azure_rm_mariadbserver/tasks/main.yml
  test/integration/targets/azure_rm_mysqlserver/aliases
  test/integration/targets/azure_rm_mysqlserver/tasks/main.yml
  test/integration/targets/azure_rm_networkinterface/tasks/main.yml
  test/integration/targets/azure_rm_postgresqlserver/aliases
  test/integration/targets/azure_rm_postgresqlserver/tasks/main.yml
  test/integration/targets/azure_rm_rediscache/tasks/main.yml
  test/integration/targets/azure_rm_roledefinition/tasks/main.yml
  test/integration/targets/azure_rm_sqlserver/aliases
  test/integration/targets/azure_rm_sqlserver/tasks/main.yml
  test/integration/targets/azure_rm_subnet/tasks/main.yml
  test/integration/targets/azure_rm_virtualmachineextension/tasks/main.yml
  test/integration/targets/azure_rm_virtualmachinescaleset/tasks/main.yml
Labels: affects_2.8, bug, needs_rebase, needs_revision, needs_triage

#54783 asa: Not all modules will have 'passwords' and 'context' keys
  lib/ansible/module_utils/network/asa/asa.py
Labels: affects_2.8, asa, bug, cisco, community_review, networking, support:community

#51868 Fix copy module to reset filesystem acls
  changelogs/fragments/44412-copy-fix-unwanted-acls.yaml
  lib/ansible/modules/files/copy.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/acls.yml
  test/integration/targets/copy/tasks/main.yml
Labels: affects_2.8, bug, core_review, files, module, python3, support:community, support:core

#49902 New Module: netbox_prefix.py
  lib/ansible/module_utils/net_tools/netbox/netbox_utils.py
  lib/ansible/modules/net_tools/netbox/netbox_prefix.py
Labels: affects_2.8, module, needs_revision, net_tools, new_module, new_plugin, support:community

#54788 docs(lineinfile): fix typo inserbefore -> insertbefore
  lib/ansible/modules/files/lineinfile.py
  lib/ansible/modules/windows/win_lineinfile.ps1
Labels: affects_2.8, core_review, docs, files, module, needs_triage, new_contributor, support:community, support:core, windows

#54765 Bug fixes for GCP (as of 2019-04-03T06:06:34Z)
  lib/ansible/module_utils/gcp_utils.py
  lib/ansible/modules/cloud/google/gcp_spanner_database.py
  lib/ansible/modules/cloud/google/gcp_spanner_database_facts.py
  lib/ansible/modules/cloud/google/gcp_sql_database.py
  lib/ansible/modules/cloud/google/gcp_sql_database_facts.py
  lib/ansible/modules/cloud/google/gcp_sql_user.py
  lib/ansible/modules/cloud/google/gcp_sql_user_facts.py
  lib/ansible/modules/cloud/google/gcp_storage_bucket.py
  lib/ansible/modules/cloud/google/gcp_storage_bucket_access_control.py
Labels: affects_2.8, automerge, bug, cloud, gce, module, shipit, support:community

#52925 ASA network/service object-group module
  lib/ansible/modules/network/asa/asa_og.py
  test/integration/targets/asa_og/defaults/main.yaml
  test/integration/targets/asa_og/tasks/cli.yaml
  test/integration/targets/asa_og/tasks/main.yaml
  test/integration/targets/asa_og/tests/cli/asa_og.yaml
  test/units/modules/network/asa/__init__.py
  test/units/modules/network/asa/asa_module.py
  test/units/modules/network/asa/fixtures/asa_og_config.cfg
  test/units/modules/network/asa/test_asa_og.py
Labels: affects_2.8, asa, cisco, module, needs_revision, networking, new_module, new_plugin, support:community, support:core, test

#54744 correct openssl rsa to genrsa in acme doc fragment
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/plugins/doc_fragments/acme.py
Labels: affects_2.8, crypto, docs, module, shipit, support:community

#52780 Netbox Inventory: Group By Platforms
  lib/ansible/plugins/inventory/netbox.py
Labels: affects_2.8, bug, community_review, inventory, needs_triage, new_contributor, small_patch, stale_ci, support:community

#54754 acme_certficate: allow to write files to CWD
  changelogs/fragments/54754-acme_certificate-cwd.yml
  lib/ansible/module_utils/acme.py
Labels: affects_2.8, bug, crypto, shipit, support:community

#54772 kubevirt_vm: Fix the default label
  lib/ansible/module_utils/kubevirt.py
  lib/ansible/modules/cloud/kubevirt/kubevirt_vm.py
Labels: affects_2.8, bug, cloud, module, shipit, small_patch, support:community

#54766 NSO modules does not work with NSO 5.0 or later
  lib/ansible/module_utils/network/nso/nso.py
  lib/ansible/modules/network/nso/nso_config.py
  test/units/module_utils/network/nso/test_nso.py
Labels: affects_2.8, bug, cisco, module, networking, nso, shipit, support:certified, support:community, support:core

#54775 Corrected spelling mistake
  lib/ansible/modules/windows/win_dsc.py
Labels: affects_2.8, bug, community_review, module, needs_triage, new_contributor, small_patch, support:community, windows

#54774 Support cross-domain on win_domain_computer module
  lib/ansible/modules/windows/win_domain_computer.ps1
  lib/ansible/modules/windows/win_domain_computer.py
Labels: affects_2.8, community_review, feature, module, needs_triage, owner_pr, support:community, windows

#54821 Disable failing azure_rm_webapp test.
  test/integration/targets/azure_rm_webapp/aliases
Labels: affects_2.8, azure, bug, cloud, community_review, support:community

#54738 Remove default smart connection to paramiko on macOS
  changelogs/fragments/macos-paramiko-default-to-ssh.yaml
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/module_utils/compat/paramiko.py
  lib/ansible/modules/network/iosxr/iosxr_user.py
  lib/ansible/modules/network/nxos/nxos_file_copy.py
  lib/ansible/modules/network/panos/_panos_admpwd.py
  lib/ansible/modules/network/panos/_panos_cert_gen_ssh.py
  lib/ansible/playbook/play_context.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  requirements.txt
  test/integration/targets/assert/runme.sh
  test/integration/targets/callback_default/runme.sh
Labels: P2, affects_2.8, cisco, deprecated, docs, feature, ios, iosxr, module, needs_revision, networking, nxos, support:community, support:core, support:network, utilities

#54829 minor typo fix
  lib/ansible/modules/cloud/huawei/hwc_network_vpc.py
Labels: affects_2.8, automerge, bug, cloud, huawei, module, owner_pr, shipit, small_patch, support:community

#54825 Renaming azure_rm_managed_disk for consistency
  lib/ansible/config/module_defaults.yml
  lib/ansible/modules/cloud/azure/_azure_rm_managed_disk.py
  lib/ansible/modules/cloud/azure/_azure_rm_managed_disk_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_manageddisk.py
  lib/ansible/modules/cloud/azure/azure_rm_manageddisk_facts.py
  test/integration/targets/azure_rm_image/tasks/main.yml
  test/integration/targets/azure_rm_manageddisk/aliases
  test/integration/targets/azure_rm_manageddisk/meta/main.yml
  test/integration/targets/azure_rm_manageddisk/tasks/main.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, azure, bug, cloud, deprecated, module, needs_revision, new_module, new_plugin, support:community, support:core, test

#52761 splunk httpapi plugin
  lib/ansible/plugins/httpapi/splunk.py
Labels: affects_2.8, feature, needs_revision, networking, new_plugin, support:network

#54808 BOTMETA: add myself as notified for ufw module
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, core_review, feature, small_patch, support:core

#54839 Add work-around for scp issue in tests.
  test/integration/targets/connection_ssh/runme.sh
Labels: affects_2.8, bug, community_review, support:community

#54125 Add GetMemoryInventory command to Systems category in redfish facts module
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.8, community_review, feature, module, remote_management, support:community

#53509 Added idrac_server_config_profile
  lib/ansible/modules/remote_management/dellemc/idrac/idrac_server_config_profile.py
Labels: affects_2.8, module, needs_revision, new_contributor, new_module, new_plugin, remote_management, support:community

#54480 include Redfish extended error message if available
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.8, feature, owner_pr, shipit, support:community

#54782 Ovirt instance type module
  lib/ansible/modules/cloud/ovirt/ovirt_instance_type.py
Labels: affects_2.8, cloud, module, new_module, new_plugin, ovirt, shipit, support:community

#54785 Minor formatting fix in developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.8, core_review, docs, needs_triage, small_patch, support:core

#54793 Added smn module
  lib/ansible/modules/cloud/huawei/hwc_smn_topic.py
  test/integration/targets/hwc_smn_topic/aliases
  test/integration/targets/hwc_smn_topic/tasks/main.yml
Labels: affects_2.8, cloud, huawei, module, new_module, new_plugin, shipit, support:community

#54768 postgresql_user: fix doc formatting, added return value, aliases, misc code changes
  lib/ansible/modules/database/postgresql/postgresql_ext.py
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  lib/ansible/modules/database/postgresql/postgresql_schema.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
  test/integration/targets/postgresql/tasks/test_no_password_change.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, core_review, database, docs, module, postgresql, support:community, support:core, test

#54404 Modify kubevirt_vm crud/wait logic
  lib/ansible/module_utils/kubevirt.py
  lib/ansible/modules/cloud/kubevirt/kubevirt_vm.py
Labels: affects_2.8, bug, cloud, community_review, module, support:community

#54850 Add Artem Goncharov to openstack team
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, core_review, needs_triage, small_patch, support:core

#54848 postgresql_idx: added CI tests for check_mode, rewrite code related with check_mode, misc fixes
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  test/integration/targets/postgresql/tasks/postgresql_idx.yml
Labels: affects_2.8, community_review, database, docs, module, needs_triage, postgresql, support:community, test

#53757 Correctly update tags when os_stack invokes update_stack
  lib/ansible/modules/cloud/openstack/os_stack.py
Labels: affects_2.8, automerge, bug, cloud, module, new_contributor, openstack, shipit, support:community

#53875 fix missing attribs with dirct module execution
  changelogs/fragments/always_module_attribs.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/parameters.py
  test/integration/targets/run_modules/aliases
  test/integration/targets/run_modules/args.json
  test/integration/targets/run_modules/library/test.py
  test/integration/targets/run_modules/runme.sh
  test/units/modules/conftest.py
Labels: affects_2.8, bug, core_review, networking, support:community, support:core, test

#54554 Shortens Scenario Guides, incorporates vmware guide
  docs/docsite/rst/index.rst
  docs/docsite/rst/scenario_guides/cloud_guides.rst
  docs/docsite/rst/scenario_guides/guide_docker.rst
  docs/docsite/rst/scenario_guides/guide_kubernetes.rst
  docs/docsite/rst/scenario_guides/guide_online.rst
  docs/docsite/rst/scenario_guides/guide_scaleway.rst
  docs/docsite/rst/scenario_guides/guide_vagrant.rst
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/guides.rst
  docs/docsite/rst/scenario_guides/network_guides.rst
  docs/docsite/rst/scenario_guides/virt_guides.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/faq.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_clone_template.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_find_vm_folder.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_remove_vm.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_rename_vm.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_vmware_http.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_concepts.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_external_doc_links.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_getting_started.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_intro.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_module_reference.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_scenario_1.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_scenarios.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_troubleshooting.rst
  docs/docsite/rst/user_guide/guide_rolling_upgrade.rst
  docs/docsite/rst/user_guide/playbooks.rst
  docs/docsite/rst/vmware/index.rst
Labels: affects_2.8, cloud, core_review, docker, docs, docsite, support:core, vmware

#54407 Optionally get service account file path from env var
  lib/ansible/plugins/inventory/gcp_compute.py
Labels: affects_2.8, community_review, feature, inventory, small_patch, support:community

#48081 add support for specifying volume metadata
  lib/ansible/modules/cloud/openstack/os_volume.py
Labels: affects_2.8, automerge, cloud, feature, module, openstack, owner_pr, python3, shipit, support:community

#54874 Fix timezone test for newer Fedora containers.
  test/integration/targets/timezone/tasks/main.yml
Labels: affects_2.8, bug, community_review, support:community

#54704 [2.7] fix remove_orphans using APIs exposed via AnsibleDockerClient
  changelogs/fragments/26937-fix-remove-orphans.yml
  lib/ansible/modules/cloud/docker/docker_service.py
Labels: affects_2.7, backport, bug, cloud, docker, module, needs_triage, new_module, new_plugin, shipit, support:community

#54767 Fix netconf plugin dispatch response
  changelogs/fragments/netconf_plugin_dispatch_fix.yaml
  lib/ansible/plugins/netconf/__init__.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, networking, support:community, support:network

#54794 2.7: Fix copy module to reset filesystem acls (#51868)
  changelogs/fragments/44412-copy-fix-unwanted-acls.yaml
  lib/ansible/modules/files/copy.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/acls.yml
  test/integration/targets/copy/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, files, module, needs_triage, python3, support:community, support:core

#54807 [2.7] acme_certficate: allow to write files to CWD
  changelogs/fragments/54754-acme_certificate-cwd.yml
  lib/ansible/module_utils/acme.py
Labels: affects_2.7, backport, bug, community_review, crypto, needs_triage, support:community

#54806 [2.7] correct openssl rsa to genrsa in acme doc fragment
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/utils/module_docs_fragments/acme.py
Labels: affects_2.7, backport, core_review, crypto, docs, module, needs_triage, support:community, support:core

#54824 [stable-2.7] - Meraki - remove redundant API calls
  changelogs/fragments/meraki_orgnet_fix.yml
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.7, backport, bug, cisco, community_review, meraki, needs_triage, networking, performance, support:community

#54795 2.6: Fix copy module to reset filesystem acls (#51868)
  changelogs/fragments/44412-copy-fix-unwanted-acls.yaml
  lib/ansible/modules/files/copy.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/acls.yml
  test/integration/targets/copy/tasks/main.yml
Labels: affects_2.6, backport, bug, core_review, files, module, needs_triage, python3, support:community, support:core

#54713 Backport/2.6/54105 pamd: fix idempotence issue when removing rules
  changelogs/fragments/pamd-make-idempotence-fix.yaml
  lib/ansible/modules/system/pamd.py
  test/units/modules/system/test_pamd.py
Labels: affects_2.6, backport, core_review, module, needs_triage, support:community, support:core, system

#54632 docker_network: add IPAM driver options support
  changelogs/fragments/54632-docker_network-ipam-options.yml
  lib/ansible/modules/cloud/docker/docker_network.py
  test/integration/targets/docker_network/tasks/tests/ipam.yml
Labels: affects_2.8, automerge, cloud, docker, feature, module, needs_triage, shipit, support:community, test

#54880 docker_swarm tests: openssl_certificate now has cryptography backend, i.e. enable more tests!
  test/integration/targets/docker_swarm/tasks/tests/options-ca.yml
Labels: affects_2.8, automerge, bug, cloud, docker, shipit, support:community, test

#52878 Reduce ansible/ansible README to essentials
  README.rst
Labels: affects_2.8, core_review, docs, support:core

#54571 Adding support for memcached1.5 and redis5.0 parameter group families.
  lib/ansible/modules/cloud/amazon/elasticache_parameter_group.py
Labels: affects_2.8, aws, bug, cloud, community_review, feature, module, needs_triage, small_patch, support:community

#54631 Added win_http_proxy and win_inet_proxy
  lib/ansible/modules/windows/win_http_proxy.ps1
  lib/ansible/modules/windows/win_http_proxy.py
  lib/ansible/modules/windows/win_inet_proxy.ps1
  lib/ansible/modules/windows/win_inet_proxy.py
  test/integration/targets/win_http_proxy/aliases
  test/integration/targets/win_http_proxy/tasks/main.yml
  test/integration/targets/win_http_proxy/tasks/tests.yml
  test/integration/targets/win_inet_proxy/aliases
  test/integration/targets/win_inet_proxy/library/win_inet_proxy_info.ps1
  test/integration/targets/win_inet_proxy/library/win_phonebook_entry.ps1
  test/integration/targets/win_inet_proxy/tasks/main.yml
  test/integration/targets/win_inet_proxy/tasks/tests.yml
Labels: affects_2.8, feature, module, needs_revision, new_module, new_plugin, support:community, windows

#54537 fix: kinesis stream tag deletion
  lib/ansible/modules/cloud/amazon/kinesis_stream.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, needs_triage, new_contributor, python3, small_patch, support:community

#54862 nxos_interface:DI: delay only when operation state check is requested
  lib/ansible/modules/network/nxos/nxos_interface.py
Labels: affects_2.8, bug, cisco, core_review, module, networking, nxos, owner_pr, support:network

#54600 Add ovirt role
  lib/ansible/modules/cloud/ovirt/ovirt_role.py
Labels: affects_2.8, cloud, module, new_module, new_plugin, ovirt, shipit, support:community

#54895 Use --mode=script always while running gluster commands (#54843)
  lib/ansible/modules/storage/glusterfs/gluster_peer.py
Labels: affects_2.8, automerge, bug, glusterfs, module, owner_pr, shipit, small_patch, storage, support:community

#54720 ovirt_disk: really add new content types
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.8, automerge, bug, cloud, module, ovirt, shipit, small_patch, support:community

#54877 Fixed typo of Ethernet interface number
  docs/docsite/rst/network/user_guide/network_working_with_command_output.rst
Labels: affects_2.8, core_review, docs, docsite, needs_triage, networking, new_contributor, small_patch, support:core

#54709 Add openssl_certificate_info module
  lib/ansible/module_utils/crypto.py
  lib/ansible/modules/crypto/openssl_certificate_info.py
  test/integration/targets/openssl_certificate_info/aliases
  test/integration/targets/openssl_certificate_info/meta/main.yml
  test/integration/targets/openssl_certificate_info/tasks/impl.yml
  test/integration/targets/openssl_certificate_info/tasks/main.yml
Labels: affects_2.8, crypto, module, new_module, new_plugin, shipit, support:community, test

#54401 Update guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: affects_2.8, azure, core_review, docs, docsite_pr, new_contributor, support:core

#54888 Bug fixes for GCP (as of 2019-04-04T06:05:46+00:00)
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_global_address.py
  lib/ansible/modules/cloud/google/gcp_compute_global_address_facts.py
Labels: affects_2.8, automerge, bug, cloud, gce, module, shipit, support:community

#51224 Add deployment slot example
  lib/ansible/modules/cloud/azure/azure_rm_webapp.py
Labels: affects_2.8, automerge, azure, cloud, docs, docsite_pr, module, new_contributor, shipit, support:community

#54917 Install EPEL using RPM from S3.
  test/integration/targets/setup_docker/aliases
  test/integration/targets/setup_docker/tasks/RedHat.yml
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/setup_rpm_repo/aliases
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/ufw/aliases
  test/integration/targets/ufw/tasks/main.yml
Labels: affects_2.8, bug, cloud, community_review, docker, support:community, test

#54587 ipaddr: Update docs
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.8, core_review, docs, support:core

#54906 Fix example in iptables module
  lib/ansible/modules/system/iptables.py
Labels: affects_2.8, core_review, docs, module, needs_triage, new_contributor, small_patch, support:core, system

#54892 Rewrote one awkward sentence.
  docs/docsite/rst/dev_guide/developing_inventory.rst
Labels: affects_2.8, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#54802 update example to correct style for na_ontap_net_vlan.py
  lib/ansible/modules/storage/netapp/na_ontap_net_vlan.py
Labels: affects_2.8, docs, module, netapp, owner_pr, shipit, storage, support:certified

#54899 Add rebuild server functionality to hcloud_server
  lib/ansible/modules/cloud/hcloud/hcloud_server.py
  test/integration/targets/hcloud_server/tasks/main.yml
Labels: affects_2.8, cloud, feature, hcloud, module, shipit, support:community

#54221 passwordstore: add hint for subkey=password
  lib/ansible/plugins/lookup/passwordstore.py
Labels: affects_2.8, community_review, docs, new_contributor, small_patch, support:community

#54922 openssl_certificate_info, openssl_csr: fix wrong exception, and little refactoring
  lib/ansible/modules/crypto/openssl_certificate_info.py
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.8, automerge, bug, crypto, module, owner_pr, shipit, support:community

#54926 Add a recurse example to file module docs
  lib/ansible/modules/files/file.py
Labels: affects_2.8, core_review, docs, files, module, support:core

#54923 fix dnf module removal in dnf upstream 4.2.2+
  changelogs/fragments/dnf-4.2.2-module-remove.yaml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.8, bug, core_review, module, packaging, support:community, support:core

#54429 Adding more information about blocks and blocks error handling.
  docs/docsite/rst/user_guide/playbooks_blocks.rst
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
Labels: affects_2.8, core_review, docs, support:core

#54934 Start dbus when setting up postgresql tests.
  test/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: affects_2.8, bug, community_review, support:community

#54935 Limit supervisor in tests to < 4.0.0.
  test/integration/targets/supervisorctl/tasks/install_pip.yml
Labels: affects_2.8, bug, community_review, support:community

#54937 [stable-2.7] Limit supervisor in tests to < 4.0.0.
  test/integration/targets/supervisorctl/tasks/install_pip.yml
Labels: affects_2.7, backport, bug, community_review, support:community

#54938 [stable-2.6] Limit supervisor in tests to < 4.0.0.
  test/integration/targets/supervisorctl/tasks/install_pip.yml
Labels: affects_2.6, backport, bug, community_review, support:community

#54623 Removing provider from facts, command and config
  lib/ansible/modules/network/cnos/cnos_command.py
  lib/ansible/modules/network/cnos/cnos_config.py
  lib/ansible/modules/network/cnos/cnos_facts.py
  test/integration/targets/cnos_command/README.md
  test/integration/targets/cnos_command/tests/cli/bad_operator.yaml
  test/integration/targets/cnos_command/tests/cli/contains.yaml
  test/integration/targets/cnos_command/tests/cli/invalid.yaml
  test/integration/targets/cnos_command/tests/cli/output.yaml
  test/integration/targets/cnos_command/tests/cli/timeout.yaml
  test/integration/targets/cnos_command/vars/main.yaml
  test/integration/targets/cnos_config/README.md
  test/integration/targets/cnos_config/cnos_config_sample_hosts
  test/integration/targets/cnos_config/tests/cli/backup.yaml
  test/integration/targets/cnos_config/tests/cli/basic.yaml
  test/integration/targets/cnos_config/tests/cli/defaults.yaml
  test/integration/targets/cnos_config/vars/main.yml
  test/integration/targets/cnos_facts/tests/cli/default_facts.yaml
  test/integration/targets/cnos_facts/vars/main.yml
Labels: affects_2.8, bug, community_review, module, networking, support:community
