Repository ansible/ansible, pull requests merged in 2019-07, with the labels that each got.

#58488 PR to implement ansible_net_model for iosxr facts module
  lib/ansible/modules/network/iosxr/iosxr_facts.py
  lib/ansible/plugins/cliconf/iosxr.py
  test/integration/targets/iosxr_facts/tests/cli/all_facts.yaml
Labels: affects_2.9, cisco, core_review, feature, ios, iosxr, module, needs_triage, networking, support:network, test

#57449 VMware: add new module vmware_guest_screenshot
  lib/ansible/modules/cloud/vmware/vmware_guest_screenshot.py
  test/integration/targets/vmware_guest_screenshot/aliases
  test/integration/targets/vmware_guest_screenshot/tasks/main.yml
Labels: affects_2.9, cloud, community_review, module, new_module, new_plugin, support:community, vmware

#56733 VMware: Adding IP-Specific properties to ESXi host firewall config
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_manager.py
  test/integration/targets/vmware_host_firewall_manager/tasks/main.yml
Labels: affects_2.9, cloud, feature, merge_commit, module, needs_rebase, new_contributor, support:community, vmware

#58064 Added missing SSL parameters to rabbitmq_binding
  changelogs/fragments/58064-rabbitmq_binding_ssl_options.yaml
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_binding.py
Labels: affects_2.9, automerge, bug, messaging, module, new_contributor, rabbitmq, shipit, support:community

#58373 adds the fingerprint parameter to the rpm_key module
  lib/ansible/modules/packaging/os/rpm_key.py
  test/integration/targets/rpm_key/tasks/rpm_key.yaml
Labels: affects_2.9, core_review, feature, module, packaging, support:core

#56392 consul_session: improve documentation & add integration tests
  lib/ansible/modules/clustering/consul_session.py
  test/integration/targets/consul/aliases
  test/integration/targets/consul/meta/main.yml
  test/integration/targets/consul/tasks/consul_session.yml
  test/integration/targets/consul/tasks/main.yml
  test/integration/targets/consul/templates/consul_config.hcl.j2
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.9, bug, ci_verified, clustering, module, needs_revision, support:community, support:core, test

#58588 Fix traceback when using gluster_volume
  lib/ansible/modules/storage/glusterfs/gluster_volume.py
Labels: affects_2.9, automerge, bug, glusterfs, module, python3, shipit, small_patch, storage, support:community, traceback

#58551 [stable-2.7] Skip tests with unsatisfied deps (#55853)
  test/units/plugins/filter/test_network.py
  test/units/plugins/lookup/test_password.py
  test/units/utils/test_encrypt.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:core

#58519 Doc - editorial for correct acronym introduction
  docs/docsite/rst/scenario_guides/guide_gce.rst
Labels: affects_2.9, core_review, docs, needs_triage, support:core

#58313 Update azure_rm_storageaccount related document
  lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py
  lib/ansible/modules/cloud/azure/azure_rm_storageaccount_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_storageblob.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#58447 Update azure_rm_trafficmanagerendpoint related document
  lib/ansible/modules/cloud/azure/azure_rm_trafficmanagerendpoint.py
  lib/ansible/modules/cloud/azure/azure_rm_trafficmanagerendpoint_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community

#58523 Add two new Azure groups to prevent timeouts
  shippable.yml
  test/integration/targets/azure_rm_keyvault/aliases
  test/integration/targets/azure_rm_mariadbserver/aliases
  test/integration/targets/azure_rm_sqlserver/aliases
  test/integration/targets/azure_rm_virtualmachinescaleset/aliases
Labels: affects_2.9, azure, bug, cloud, core_review, small_patch, support:community, support:core

#58584 Unit tests for human_to_bytes
  test/units/module_utils/common/text/formatters/test_human_to_bytes.py
Labels: affects_2.9, bug, feature, needs_revision, needs_triage, support:core

#58605 openssl_privatekey: forgot to add secp256r1
  changelogs/fragments/58605-openssl_privatekey-secp256r1.yml
  lib/ansible/modules/crypto/openssl_privatekey.py
  test/integration/targets/openssl_privatekey/tasks/impl.yml
Labels: affects_2.9, bug, crypto, module, shipit, support:community, test

#58357 win_domain_user: do not hide error on failures
  changelogs/fragments/win_domain_user-error.yaml
  lib/ansible/modules/windows/win_domain_user.ps1
  test/sanity/pslint/ignore.txt
Labels: affects_2.9, bug, core_review, module, support:community, support:core, test, windows

#58571 Load Ansible module_utils for ps_argspec validator
  test/sanity/validate-modules/ps_argspec.ps1
Labels: affects_2.9, core_review, feature, needs_triage, support:core, test

#58620 Remove unnecessary pass
  lib/ansible/modules/cloud/azure/azure_rm_gallery.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimage.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimageversion.py
Labels: affects_2.9, azure, bug, cloud, community_review, module, support:community

#58577 ovirt update vm migration domunetation
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, automerge, cloud, docs, module, ovirt, owner_pr, shipit, small_patch, support:community

#58112 Ovirt add vm cloud init ipv6
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#57935 Ovirt host event log
  lib/ansible/modules/cloud/ovirt/ovirt_host.py
Labels: affects_2.9, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#58136 ovirt vm migrate with state present
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#58381 postgresql_ext: add version parameter
  lib/ansible/modules/database/postgresql/postgresql_ext.py
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/postgresql_ext_version_opt.yml
  test/integration/targets/postgresql/tasks/ssl.yml
  test/integration/targets/setup_postgresql_db/files/dummy--1.0.sql
  test/integration/targets/setup_postgresql_db/files/dummy--2.0.sql
  test/integration/targets/setup_postgresql_db/files/dummy--3.0.sql
  test/integration/targets/setup_postgresql_db/files/dummy.control
  test/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: affects_2.9, database, feature, module, postgresql, shipit, support:community, test

#58487 Add build.target option to docker_image module
  changelogs/fragments/58487-docker_image_build.target_option.yaml
  lib/ansible/modules/cloud/docker/docker_image.py
  test/integration/targets/docker_image/files/StagedDockerfile
  test/integration/targets/docker_image/tasks/tests/options.yml
Labels: affects_2.9, automerge, cloud, docker, feature, module, shipit, support:community, test

#58574 Check nfs_version properly
  lib/ansible/modules/cloud/ovirt/ovirt_storage_connection.py
Labels: affects_2.9, automerge, bug, cloud, module, new_contributor, ovirt, shipit, support:community

#58564 Handle mode-setting of symlink to RO filesystem
  lib/ansible/module_utils/basic.py
Labels: affects_2.9, bug, needs_revision, new_contributor, small_patch, support:core

#58604 Fix sanity tests that are failing with LC_ALL set
  test/sanity/code-smell/boilerplate.py
  test/sanity/compile/compile.py
Labels: affects_2.9, bug, core_review, support:core, test

#58634 postgresql_ext: add a changelog fragment for PR 58381
  changelogs/fragments/58381_postgresql_ext-add-version-parameter.yml
Labels: affects_2.9, bug, needs_revision, needs_triage, owner_pr, support:community

#58626 ovirt add version added to cloud init ipv6
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, cloud, community_review, docs, module, needs_triage, ovirt, owner_pr, small_patch, support:community

#58616 Update azure_rm_trafficmanagerprofile related document
  lib/ansible/modules/cloud/azure/azure_rm_trafficmanagerprofile.py
  lib/ansible/modules/cloud/azure/azure_rm_trafficmanagerprofile_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community

#58061 VMware: vmware_guest lookup maxMksConnections in correct location
  changelogs/fragments/58060-vmware_guest-make_max_connections_work.yml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/main.yml
  test/integration/targets/vmware_guest/tasks/max_connections.yml
Labels: affects_2.9, bug, cloud, module, needs_revision, new_contributor, support:community, vmware

#58598 na_ontap_vscan_scanner_pool wasn't checking vserver
  lib/ansible/modules/storage/netapp/na_ontap_vscan_scanner_pool.py
Labels: affects_2.9, automerge, bug, module, netapp, owner_pr, shipit, storage, support:community

#58411 ensure bytes in run_command
  changelogs/fragments/ensure_bytes_run_command.yml
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_run_command.py
Labels: affects_2.9, bug, needs_revision, support:community, support:core

#58397 NxosCmdRef: fix python2 ordereddict import
  lib/ansible/module_utils/network/nxos/nxos.py
Labels: affects_2.9, bug, cisco, networking, nxos, shipit, support:network

#58566 junos_facts refactor to work with resources modules
  lib/ansible/module_utils/network/common/facts/facts.py
  lib/ansible/module_utils/network/junos/argspec/__init__.py
  lib/ansible/module_utils/network/junos/argspec/facts/__init__.py
  lib/ansible/module_utils/network/junos/argspec/facts/facts.py
  lib/ansible/module_utils/network/junos/config/__init__.py
  lib/ansible/module_utils/network/junos/facts/__init__.py
  lib/ansible/module_utils/network/junos/facts/facts.py
  lib/ansible/module_utils/network/junos/facts/legacy/__init__.py
  lib/ansible/module_utils/network/junos/facts/legacy/base.py
  lib/ansible/module_utils/network/junos/utils/__init__.py
  lib/ansible/module_utils/network/junos/utils/utils.py
  lib/ansible/modules/network/junos/junos_facts.py
  test/units/modules/network/junos/test_junos_facts.py
Labels: affects_2.9, core_review, feature, module, networking, support:core, support:network, test

#58576 Add the azure_rm_..._info modules
  lib/ansible/modules/cloud/azure/azure_rm_gallery_info.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimage_info.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimageversion_info.py
  test/integration/targets/azure_rm_gallery/tasks/main.yml
Labels: affects_2.9, azure, cloud, module, needs_revision, new_module, new_plugin, support:community

#56263 VMware: Add module vmware_vm_storage_policy_info
  lib/ansible/module_utils/vmware.py
  lib/ansible/module_utils/vmware_spbm.py
  lib/ansible/modules/cloud/vmware/vmware_vm_storage_policy_info.py
  test/integration/targets/vmware_vm_storage_policy_info/aliases
  test/integration/targets/vmware_vm_storage_policy_info/tasks/main.yml
  test/units/module_utils/test_vmware.py
Labels: affects_2.9, cloud, core_review, module, new_module, new_plugin, stale_ci, support:community, support:core, vmware

#58648 Improve dnf test formatting and fix RHEL 8 module name
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/tasks/modularity.yml
  test/integration/targets/dnf/vars/Fedora.yml
  test/integration/targets/dnf/vars/RedHat.yml
Labels: affects_2.9, bug, core_review, support:core

#58516 Get copy tests passing with split controller/target
  lib/ansible/parsing/dataloader.py
  lib/ansible/utils/path.py
  test/integration/targets/copy/aliases
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/tests.yml
Labels: affects_2.9, bug, core_review, files, support:core

#58669 Fix typos in the Collections Tech Preview doc page
  docs/docsite/rst/collections_tech_preview.rst
Labels: affects_2.9, bug, core_review, docs, support:core

#58649 Improve setup_docker tests to work with RHEL 8 GA
  test/integration/targets/setup_docker/defaults/main.yml
  test/integration/targets/setup_docker/tasks/Debian.yml
  test/integration/targets/setup_docker/tasks/Fedora.yml
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/integration/targets/setup_docker/tasks/RedHat-8.yml
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/tasks/main.yml
  test/integration/targets/setup_docker/vars/Debian.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
  test/integration/targets/setup_docker/vars/RedHat-7.yml
  test/integration/targets/setup_docker/vars/RedHat-8.yml
  test/integration/targets/setup_docker/vars/Suse.yml
  test/integration/targets/setup_docker/vars/Ubuntu-14.yml
  test/integration/targets/setup_docker/vars/default.yml
Labels: affects_2.9, bug, cloud, community_review, docker, support:community, test

#58625 ovirt add docs about remove retry
  lib/ansible/modules/cloud/ovirt/ovirt_host.py
Labels: affects_2.9, automerge, cloud, docs, module, ovirt, owner_pr, shipit, support:community

#58686 fixed formatting and spelling issues
  docs/docsite/rst/collections_tech_preview.rst
Labels: affects_2.9, core_review, docs, support:core

#38709 Fix 32910 part2
  lib/ansible/modules/cloud/packet/packet_device.py
Labels: affects_2.6, automerge, bug, cloud, module, new_contributor, shipit, small_patch, support:community

#58209 Add JSON output option to ansible-doc
  changelogs/fragments/doc_json.yml
  lib/ansible/cli/doc.py
Labels: affects_2.9, core_review, feature, support:community, support:core

#58690 - Fixed error handling on aws_kms
  lib/ansible/modules/cloud/amazon/aws_kms.py
Labels: affects_2.9, aws, bug, cloud, community_review, module, needs_triage, new_contributor, small_patch, support:community, traceback

#57364 Fix os_quota when volume service not available
  changelogs/fragments/41240-fix-os_quota-without-cinder.yaml
  lib/ansible/modules/cloud/openstack/os_quota.py
Labels: affects_2.9, automerge, bug, cloud, module, new_contributor, openstack, shipit, support:community

#58618 PR to resolve NoneType error in issue 57711
  lib/ansible/modules/network/aci/aci_l3out.py
Labels: aci, affects_2.9, bug, cisco, committer_review, module, needs_triage, networking, support:certified

#58702 Fix repetitive ansible_net key in gather_subset
  lib/ansible/module_utils/network/common/facts/facts.py
Labels: affects_2.9, bug, networking, shipit, small_patch, support:network

#58704 postgresql_query module: add autocommit parameter
  changelogs/fragments/58704_postgresql_query_add-autocommit-param.yml
  lib/ansible/modules/database/postgresql/postgresql_query.py
  test/integration/targets/postgresql/tasks/postgresql_query.yml
Labels: affects_2.9, database, feature, module, postgresql, shipit, support:community, test

#44387 Fix EC2 test suite to work with testing policies
  hacking/aws_config/setup-iam.yml
  hacking/aws_config/testing_policies/cloudfront-policy.json
  hacking/aws_config/testing_policies/compute-policy.json
  hacking/aws_config/testing_policies/container-policy.json
  hacking/aws_config/testing_policies/database-policy.json
  hacking/aws_config/testing_policies/iam-policy.json
  hacking/aws_config/testing_policies/network-policy.json
  hacking/aws_config/testing_policies/security-policy.json
  test/integration/targets/ec2_instance/meta/main.yml
  test/integration/targets/ec2_instance/playbooks/full_test.yml
  test/integration/targets/ec2_instance/playbooks/version_fail.yml
  test/integration/targets/ec2_instance/runme.sh
  test/integration/targets/ec2_instance/tasks/main.yml
  test/integration/targets/ec2_instance/tasks/version_fail.yml
Labels: affects_2.7, bug, cloud, core_review, support:community, support:core, test

#58738 win_get_url - Fix proxy_url not used correctly
  changelogs/fragments/win_get_url-proxy-not-used.yml
  lib/ansible/modules/windows/win_get_url.ps1
Labels: affects_2.9, bug, core_review, module, needs_triage, owner_pr, support:community, support:core, windows

#57918 Add support for pester tags
  lib/ansible/modules/windows/win_pester.ps1
  lib/ansible/modules/windows/win_pester.py
  test/integration/targets/win_pester/files/test03.test.ps1
  test/integration/targets/win_pester/tasks/test.yml
Labels: affects_2.9, core_review, feature, module, support:community, support:core, windows

#58090 win_psmodule - Missing SkipPublisherCheck in Prerq installations
  changelogs/fragments/win_psmodule-PreReq-SkipPublisher-missing.yml
  lib/ansible/modules/windows/win_psmodule.ps1
Labels: affects_2.9, bug, module, needs_revision, owner_pr, support:community, support:core, windows

#57267 win_firewall_rule: Only report changed when change is made
  changelogs/fragments/Fix-Expansion-of-vars-win_firewall_rule.yml
  lib/ansible/modules/windows/win_firewall_rule.ps1
  test/integration/targets/win_firewall_rule/tasks/main.yml
Labels: affects_2.9, bug, module, needs_revision, stale_ci, stale_review, support:community, support:core, windows

#57281 win_acl: Fix problems with special IDRef in different languages than english
  changelogs/fragments/Make-Win_acl-Ignore-language-diff-in-IDRefs.yml
  lib/ansible/modules/windows/win_acl.ps1
Labels: affects_2.9, bug, module, needs_revision, owner_pr, support:community, support:core, windows

#57901 win_domain_user and win_domain_group: add created result boolean
  changelogs/fragments/win_domain_user-win_domain_group-add-created-result-boolean.yml
  lib/ansible/modules/windows/win_domain_group.ps1
  lib/ansible/modules/windows/win_domain_group.py
  lib/ansible/modules/windows/win_domain_user.ps1
  lib/ansible/modules/windows/win_domain_user.py
  test/integration/targets/win_domain_group/tasks/main.yml
Labels: affects_2.9, feature, module, needs_revision, support:community, support:core, windows

#58705 Refactor nxos_facts to work with resource module
  lib/ansible/module_utils/network/nxos/argspec/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/facts/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/facts/facts.py
  lib/ansible/module_utils/network/nxos/config/__init__.py
  lib/ansible/module_utils/network/nxos/facts/__init__.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/module_utils/network/nxos/facts/legacy/__init__.py
  lib/ansible/module_utils/network/nxos/facts/legacy/base.py
  lib/ansible/module_utils/network/nxos/utils/__init__.py
  lib/ansible/module_utils/network/nxos/utils/utils.py
  lib/ansible/modules/network/nxos/nxos_facts.py
Labels: affects_2.9, cisco, core_review, feature, module, networking, nxos, support:network

#58615 Minor typo fixes in command module
  changelogs/fragments/command_fail_json.yml
  lib/ansible/modules/commands/command.py
Labels: affects_2.9, bug, commands, module, needs_revision, support:community, support:core

#58730 Update junos module utils
  lib/ansible/module_utils/network/junos/utils/utils.py
Labels: affects_2.9, core_review, feature, needs_triage, networking, support:network

#58593 kubevirt: even more unit tests
  test/units/modules/cloud/kubevirt/test_kubevirt_rs.py
  test/units/modules/cloud/kubevirt/test_kubevirt_vm.py
  test/units/utils/kubevirt_fixtures.py
Labels: affects_2.9, bug, cloud, core_review, support:core

#57119 VMware: Updates the DRS rule without deletion
  lib/ansible/modules/cloud/vmware/vmware_vm_vm_drs_rule.py
  test/integration/targets/vmware_vm_vm_drs_rule/tasks/main.yml
Labels: affects_2.9, bug, ci_verified, cloud, module, needs_revision, new_contributor, support:community, vmware

#58579 VMware: Warn user about dvswitch permissions
  lib/ansible/modules/cloud/vmware/vmware_object_role_permission.py
Labels: affects_2.9, cloud, community_review, docs, module, owner_pr, support:community, vmware

#58750 All network resources should not be gathered by default
  lib/ansible/module_utils/network/common/facts/facts.py
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#58756 eos_bgp: Fix fetching existing AS
  lib/ansible/module_utils/network/eos/providers/cli/config/bgp/process.py
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#58751 Fix regression in cron module
  lib/ansible/modules/system/cron.py
Labels: affects_2.9, bug, community_review, module, support:community, system

#58762 Backport][2.8][Add a banner message to warn when not on latest documentation (#58526)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
  docs/docsite/rst/conf.py
Labels: affects_2.8, backport, bug, core_review, docs, support:core

#58734 Correct machinectl become plugin function arguments
  changelogs/fragments/58734-correct-machinectl-become-plugin.yaml
  lib/ansible/plugins/become/machinectl.py
Labels: affects_2.9, bug, needs_revision, needs_triage, new_contributor, support:community

#58683 Fix unicode error in changelog generation
  packaging/release/changelogs/changelog.py
Labels: affects_2.9, bug, core_review, needs_triage, small_patch, support:core, traceback

#58779 Fix for skipping of gitlab_runner test.
  test/units/modules/source_control/test_gitlab_runner.py
Labels: affects_2.9, bug, core_review, needs_triage, support:core

#58776 [stable-2.8] Fix unicode error in changelog generation
  packaging/release/changelogs/changelog.py
Labels: affects_2.8, backport, bug, core_review, needs_triage, small_patch, support:core

#58777 [stable-2.7] Fix unicode error in changelog generation
  packaging/release/changelogs/changelog.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, small_patch, support:core

#58778 [stable-2.6] Fix unicode error in changelog generation
  packaging/release/changelogs/changelog.py
Labels: affects_2.6, backport, bug, core_review, needs_triage, small_patch, support:core

#58320 Add the singlePlacementGroup in the virtual machine scale set module
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset.py
  test/integration/targets/azure_rm_virtualmachinescaleset/tasks/main.yml
Labels: affects_2.9, azure, cloud, community_review, feature, module, stale_ci, support:community

#58569 Fix nagios module to recognize if file exists and is fifo pipe
  changelogs/fragments/58569-nagios-fifo-fix.yaml
  lib/ansible/modules/monitoring/nagios.py
Labels: affects_2.9, bug, community_review, module, monitoring, needs_triage, python3, support:community

#58789 Changed command for next-hop-self to next-hop-self instead of activate
  lib/ansible/module_utils/network/ios/providers/cli/config/bgp/neighbors.py
Labels: affects_2.9, bug, cisco, core_review, ios, needs_triage, networking, new_contributor, small_patch, support:network

#57838 Remove redundant line in os_port
  lib/ansible/modules/cloud/openstack/os_port.py
Labels: affects_2.9, automerge, cloud, module, openstack, shipit, small_patch, support:community

#58782 win_domain_user - MAke the query user try catch block more accurate
  changelogs/fragments/win_domain_user-make-query-try-catch-accurate.yml
  lib/ansible/modules/windows/win_domain_user.ps1
Labels: affects_2.9, core_review, feature, module, owner_pr, support:community, support:core, windows

#52075 VMware: add new module vmware_guest_network
  lib/ansible/module_utils/common/network.py
  lib/ansible/module_utils/vmware.py
  lib/ansible/module_utils/xenserver.py
  lib/ansible/modules/cloud/smartos/nictagadm.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  lib/ansible/modules/cloud/vmware/vmware_guest_network.py
  lib/ansible/modules/cloud/xenserver/xenserver_guest.py
  test/integration/targets/vmware_guest_network/aliases
  test/integration/targets/vmware_guest_network/tasks/main.yml
  test/units/module_utils/xenserver/test_netaddr_functions.py
Labels: affects_2.8, cloud, module, needs_revision, new_module, new_plugin, solaris, support:community, support:core, test, vmware

#58803 Minor typo in sros_config docstrings
  lib/ansible/modules/network/sros/sros_config.py
Labels: affects_2.9, committer_review, docs, module, needs_triage, networking, small_patch, support:certified

#58804 Fix broken slxos_config due to changed backup options
  lib/ansible/plugins/action/slxos_config.py
Labels: affects_2.9, bug, community_review, needs_triage, python3, small_patch, support:community, traceback

#58753 ec2_snapshot: Update snapshot time format time
  lib/ansible/modules/cloud/amazon/ec2_snapshot.py
Labels: affects_2.9, aws, bug, ci_verified, cloud, module, needs_revision, small_patch, support:core

#55263 role: Fix role's hash_params
  changelogs/fragments/20596-role-param_fix.yaml
  lib/ansible/playbook/role/__init__.py
  test/units/playbook/role/test_role.py
Labels: affects_2.9, bug, core_review, stale_ci, support:community, support:core

#49891 os_user_role: add support for named domain
  lib/ansible/modules/cloud/openstack/os_user_role.py
Labels: affects_2.8, automerge, cloud, feature, module, openstack, shipit, support:community

#58754 Add purge_tags to s3_bucket to allow preservation of existing tags
  changelogs/fragments/29366-allow-preservation-of-s3-bucket-tags.yml
  lib/ansible/modules/cloud/amazon/s3_bucket.py
  test/integration/targets/s3_bucket/tasks/main.yml
Labels: affects_2.9, aws, cloud, core_review, feature, module, support:community, support:core

#58622 Fix wrong unit in documentation example of ec2_metric_alarm
  lib/ansible/modules/cloud/amazon/ec2_metric_alarm.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, small_patch, support:community

#58819 Add examples
  lib/ansible/modules/network/ios/ios_vlan.py
Labels: affects_2.9, cisco, core_review, docs, ios, module, needs_triage, networking, new_contributor, support:network

#58767 [backport][2.6] Add a banner message to warn when not on latest documentation (#58526)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
  docs/docsite/rst/conf.py
Labels: affects_2.6, backport, bug, core_review, docs, support:core

#58765 [backport][2.7]Add a banner message to warn when not on latest documentation (#58526)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
  docs/docsite/rst/conf.py
Labels: affects_2.7, backport, bug, core_review, docs, support:core

#55862 many pslint fixes
  changelogs/fragments/55862-PSLint-errors-fix.yaml
  examples/scripts/ConfigureRemotingForAnsible.ps1
  examples/scripts/upgrade_to_ps3.ps1
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.CamelConversion.psm1
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.Legacy.psm1
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.LinkUtil.psm1
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.SID.psm1
  lib/ansible/modules/windows/setup.ps1
  lib/ansible/modules/windows/win_chocolatey_facts.ps1
  lib/ansible/modules/windows/win_copy.ps1
  lib/ansible/modules/windows/win_credential.ps1
  lib/ansible/modules/windows/win_disk_facts.ps1
  lib/ansible/modules/windows/win_disk_image.ps1
  lib/ansible/modules/windows/win_dns_client.ps1
  lib/ansible/modules/windows/win_domain.ps1
  lib/ansible/modules/windows/win_domain_controller.ps1
  lib/ansible/modules/windows/win_domain_group.ps1
  lib/ansible/modules/windows/win_domain_membership.ps1
  lib/ansible/modules/windows/win_dsc.ps1
  lib/ansible/modules/windows/win_find.ps1
  lib/ansible/modules/windows/win_hotfix.ps1
  lib/ansible/modules/windows/win_iis_webapppool.ps1
  lib/ansible/modules/windows/win_iis_webbinding.ps1
  lib/ansible/modules/windows/win_iis_website.ps1
  lib/ansible/modules/windows/win_msg.ps1
  lib/ansible/modules/windows/win_package.ps1
  lib/ansible/modules/windows/win_pagefile.ps1
  lib/ansible/modules/windows/win_product_facts.ps1
  lib/ansible/modules/windows/win_rabbitmq_plugin.ps1
  lib/ansible/modules/windows/win_rds_cap.ps1
  lib/ansible/modules/windows/win_rds_rap.ps1
  lib/ansible/modules/windows/win_regmerge.ps1
  lib/ansible/modules/windows/win_route.ps1
  lib/ansible/modules/windows/win_say.ps1
  lib/ansible/modules/windows/win_scheduled_task_stat.ps1
  lib/ansible/modules/windows/win_security_policy.ps1
  lib/ansible/modules/windows/win_shell.ps1
  lib/ansible/modules/windows/win_stat.ps1
  lib/ansible/modules/windows/win_tempfile.ps1
  lib/ansible/modules/windows/win_toast.ps1
  lib/ansible/modules/windows/win_unzip.ps1
  lib/ansible/modules/windows/win_user.ps1
  lib/ansible/modules/windows/win_wait_for.ps1
  test/integration/targets/win_audit_rule/library/test_get_audit_rule.ps1
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
  test/integration/targets/win_module_utils/library/argv_parser_test.ps1
  test/integration/targets/win_module_utils/library/camel_conversion_test.ps1
  test/integration/targets/win_ping/library/win_ping_strict_mode_error.ps1
  test/sanity/pslint/ignore.txt
Labels: affects_2.9, bug, module, needs_revision, support:community, support:core, test, windows

#53334 zabbix_*: zabbix-api dep clarification + removed unnecessary ZabbixAPIExtends class
  lib/ansible/modules/monitoring/zabbix/zabbix_group.py
  lib/ansible/modules/monitoring/zabbix/zabbix_group_info.py
  lib/ansible/modules/monitoring/zabbix/zabbix_host.py
  lib/ansible/modules/monitoring/zabbix/zabbix_host_info.py
  lib/ansible/modules/monitoring/zabbix/zabbix_hostmacro.py
  lib/ansible/modules/monitoring/zabbix/zabbix_maintenance.py
  lib/ansible/modules/monitoring/zabbix/zabbix_map.py
  lib/ansible/modules/monitoring/zabbix/zabbix_screen.py
Labels: affects_2.8, automerge, bug, module, monitoring, new_plugin, owner_pr, shipit, support:community, zabbix

#58758 [2.8] VMware: Warn user about dvswitch permissions
  changelogs/fragments/58579-vmware_object_role_perm_fix.yml
  lib/ansible/modules/cloud/vmware/vmware_object_role_permission.py
Labels: affects_2.8, backport, cloud, community_review, docs, module, owner_pr, support:community, vmware

#49053 Add apply to k8s module
  lib/ansible/config/module_defaults.yml
  lib/ansible/module_utils/k8s/raw.py
  lib/ansible/modules/clustering/k8s/k8s.py
  test/integration/targets/k8s/tasks/apply.yml
  test/integration/targets/k8s/tasks/crd.yml
  test/integration/targets/k8s/tasks/delete.yml
  test/integration/targets/k8s/tasks/full_test.yml
  test/integration/targets/k8s/tasks/main.yml
  test/integration/targets/k8s/tasks/older_openshift_fail.yml
  test/integration/targets/k8s/tasks/openshift.yml
  test/integration/targets/k8s/tasks/validate_installed.yml
  test/integration/targets/k8s/tasks/validate_not_installed.yml
  test/integration/targets/k8s/tasks/waiter.yml
Labels: affects_2.8, clustering, feature, k8s, module, shipit, support:community, support:core

#58586 Unit tests for lenient_lowercase function
  test/units/module_utils/common/text/formatters/test_lenient_lowercase.py
Labels: affects_2.9, bug, core_review, support:core

#58552 backport/2.8/57907 update ce_interface to fix bugs (#57907)
  changelogs/fragments/57907-update-ce_interface-to-fix-bugs.yml
  lib/ansible/modules/network/cloudengine/ce_interface.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community, traceback

#58554 backport/2.8/57916 ce_vrrp: update ce_vrrp to fix a bug (#57916)
  changelogs/fragments/58554-update-ce_vrrp-to-fix-a-bug.yml
  lib/ansible/modules/network/cloudengine/ce_vrrp.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58555 Backport/2.8/58200 ce_bfd_global: update to fix a bug. (#58200)
  changelogs/fragments/58200-update-ce_bfd_global-to-fix-a-bug.yml
  lib/ansible/modules/network/cloudengine/ce_bfd_global.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58556 backport/2.8/58207 ce_bfd_view: update to fix a bug (#58207)
  changelogs/fragments/58207-update-ce_bfd_view-to-fix-a-bug.yml
  lib/ansible/modules/network/cloudengine/ce_bfd_view.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58553 Backport/2.8/57947 update ce_vxlan_global to fix bugs. (#57947)
  changelogs/fragments/57947-update-ce_vxlan_global-to-fix-bugs.yml
  lib/ansible/modules/network/cloudengine/ce_vxlan_global.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58559 Backport/2.8/58228 ce_evpn_bgp_rr: update to fix a bug (#58228)
  changelogs/fragments/58559-update-ce_evpn_bgp_rr-to-fix-a-bug.yml
  lib/ansible/modules/network/cloudengine/ce_evpn_bgp_rr.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58561 Backport/2.8/58230 ce_link_status: update to fix a bug (#58230)
  changelogs/fragments/58561-update-ce_link_status-to-fix-a-bug.yml
  lib/ansible/modules/network/cloudengine/ce_link_status.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58563 backport/2.8/58231 ce_netstream_aging: update to fix a bug. (#58231)
  changelogs/fragments/58563-update-ce_netstream_aging-to-fix-a-bug.yml
  lib/ansible/modules/network/cloudengine/ce_netstream_aging.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#58814 Fixed examples module name in udm_dns_record
  lib/ansible/modules/cloud/univention/udm_dns_record.py
Labels: affects_2.9, bug, cloud, module, needs_info, small_patch, support:community

#58647 dnf - fix error formatting of module name in error message
  changelogs/fragments/dnf-fix-module-name-in-error-message.yml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.9, bug, core_review, module, packaging, support:community, support:core

#58524 vmware_guest: do not use infra.vm_list
  test/integration/targets/vmware_guest/tasks/clone_d1_c1_f0.yml
Labels: affects_2.9, bug, cloud, community_review, needs_triage, stale_ci, support:community, vmware

#58291 New Fortinet's module for fortios_user_device (using new httpapi plugin)
  lib/ansible/modules/network/fortios/fortios_user_device.py
  test/units/modules/network/fortios/test_fortios_user_device.py
Labels: affects_2.9, fortios, module, networking, new_module, new_plugin, shipit, support:community, support:core, test

#58856 Minor typo/language fixes in the documentation
  lib/ansible/modules/monitoring/zabbix/zabbix_map.py
Labels: affects_2.9, community_review, docs, module, monitoring, needs_triage, support:community, zabbix

#58528 Daemonize service start on OpenBSD, fixes #50460
  lib/ansible/modules/system/service.py
Labels: affects_2.9, bug, module, new_contributor, shipit, small_patch, support:core, system

#58699 Update azure_rm_virtualmachinescaleset related document
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#58874 Update vsphere_file.py
  lib/ansible/modules/cloud/vmware/vsphere_file.py
Labels: affects_2.9, cloud, community_review, docs, module, new_contributor, small_patch, support:community, vmware

#58668 Directly use the list of packages for yum module in examples
  docs/docsite/rst/user_guide/playbooks_blocks.rst
  docs/docsite/rst/user_guide/playbooks_tags.rst
Labels: affects_2.9, core_review, docs, support:core

#50201 Docs on general precedence
  docs/docsite/rst/index.rst
  docs/docsite/rst/reference_appendices/general_precedence.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
  docs/templates/config.rst.j2
  docs/templates/playbooks_keywords.rst.j2
Labels: affects_2.8, core_review, docs, docsite, support:core, test

#58870 clarify FQCN needs for plugins
  docs/docsite/rst/collections_tech_preview.rst
Labels: affects_2.9, core_review, docs, support:core

#58640 Delete the negation symbol "¬" by typo.
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.9, core_review, docs, module, new_contributor, packaging, support:core

#58445 Update azure_rm_subnet related document
  lib/ansible/modules/cloud/azure/azure_rm_subnet.py
  lib/ansible/modules/cloud/azure/azure_rm_subnet_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#58853 New GCP module: gcp_appengine_firewall_rule_facts
  lib/ansible/modules/cloud/google/gcp_appengine_firewall_rule_facts.py
Labels: affects_2.9, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#58851 Bug fixes for GCP (as of 2019-07-09T06:05:45Z)
  test/integration/targets/gcp_sourcerepo_repository/tasks/main.yml
  test/integration/targets/gcp_sql_instance/tasks/main.yml
  test/integration/targets/gcp_tpu_node/tasks/main.yml
Labels: affects_2.9, automerge, bug, cloud, shipit, support:community, test

#58850 Bug fixes for GCP (as of 2019-07-09T06:05:45Z)
  lib/ansible/modules/cloud/google/gcp_container_cluster.py
  lib/ansible/modules/cloud/google/gcp_container_cluster_facts.py
  lib/ansible/modules/cloud/google/gcp_iam_service_account_key.py
  lib/ansible/modules/cloud/google/gcp_pubsub_topic.py
  lib/ansible/modules/cloud/google/gcp_pubsub_topic_facts.py
  test/integration/targets/gcp_iam_role/tasks/main.yml
  test/integration/targets/gcp_iam_service_account/tasks/main.yml
  test/integration/targets/gcp_redis_instance/tasks/main.yml
  test/integration/targets/gcp_resourcemanager_project/tasks/main.yml
Labels: affects_2.9, automerge, bug, cloud, gce, module, shipit, support:community, test

#58849 Bug fixes for GCP (as of 2019-07-09T06:05:45Z)
  lib/ansible/modules/cloud/google/gcp_compute_target_http_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_ssl_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_tcp_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map.py
  test/integration/targets/gcp_compute_target_http_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_target_https_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_target_ssl_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_target_tcp_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_url_map/tasks/main.yml
Labels: affects_2.9, automerge, bug, cloud, gce, module, shipit, support:community, test

#58848 Bug fixes for GCP (as of 2019-07-08T06:05:33+00:00)
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_global_forwarding_rule.py
  test/integration/targets/gcp_bigquery_dataset/tasks/main.yml
  test/integration/targets/gcp_bigquery_table/tasks/main.yml
  test/integration/targets/gcp_cloudscheduler_job/tasks/main.yml
  test/integration/targets/gcp_compute_backend_service/tasks/main.yml
  test/integration/targets/gcp_compute_global_forwarding_rule/tasks/main.yml
Labels: affects_2.9, automerge, bug, cloud, gce, module, shipit, support:community, test

#57106 ansible-galaxy: add collection sub command
  changelogs/fragments/galaxy-collection-init.yaml
  docs/bin/generate_man.py
  docs/templates/cli_rst.j2
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/__init__.py
  lib/ansible/galaxy/collection.py
  lib/ansible/galaxy/data/default/collection/README.md.j2
  lib/ansible/galaxy/data/default/collection/docs/.git_keep
  lib/ansible/galaxy/data/default/collection/galaxy.yml.j2
  lib/ansible/galaxy/data/default/collection/plugins/README.md.j2
  lib/ansible/galaxy/data/default/collection/roles/.git_keep
  lib/ansible/galaxy/data/default/role/.travis.yml
  lib/ansible/galaxy/data/default/role/README.md
  lib/ansible/galaxy/data/default/role/defaults/main.yml.j2
  lib/ansible/galaxy/data/default/role/files/.git_keep
  lib/ansible/galaxy/data/default/role/handlers/main.yml.j2
  lib/ansible/galaxy/data/default/role/meta/main.yml.j2
  lib/ansible/galaxy/data/default/role/tasks/main.yml.j2
  lib/ansible/galaxy/data/default/role/templates/.git_keep
  lib/ansible/galaxy/data/default/role/tests/inventory
  lib/ansible/galaxy/data/default/role/tests/test.yml.j2
  lib/ansible/galaxy/data/default/role/vars/main.yml.j2
  lib/ansible/utils/collection_loader.py
  test/integration/targets/ansible-galaxy/aliases
  test/integration/targets/ansible-galaxy/runme.sh
  test/units/cli/test_data/collection_skeleton/README.md
  test/units/cli/test_data/collection_skeleton/docs/My Collection.md
  test/units/cli/test_data/collection_skeleton/galaxy.yml.j2
  test/units/cli/test_data/collection_skeleton/playbooks/main.yml
  test/units/cli/test_data/collection_skeleton/playbooks/templates/subfolder/test.conf.j2
  test/units/cli/test_data/collection_skeleton/playbooks/templates/test.conf.j2
  test/units/cli/test_data/collection_skeleton/plugins/action/.git_keep
  test/units/cli/test_data/collection_skeleton/plugins/filter/.git_keep
  test/units/cli/test_data/collection_skeleton/plugins/inventory/.git_keep
  test/units/cli/test_data/collection_skeleton/plugins/lookup/.git_keep
  test/units/cli/test_data/collection_skeleton/plugins/module_utils/.git_keep
  test/units/cli/test_data/collection_skeleton/plugins/modules/.git_keep
  test/units/cli/test_data/collection_skeleton/roles/common/tasks/main.yml.j2
  test/units/cli/test_data/collection_skeleton/roles/common/templates/subfolder/test.conf.j2
  test/units/cli/test_data/collection_skeleton/roles/common/templates/test.conf.j2
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.9, docs, feature, needs_revision, new_plugin, support:community, support:core

#58796 win_firewall_rule - update doc for remoteport dep. on protocol
  lib/ansible/modules/windows/win_firewall_rule.py
Labels: affects_2.9, community_review, docs, module, owner_pr, small_patch, support:community, windows

#58732 Update intro_inventory.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.9, core_review, docs, needs_triage, small_patch, support:core

#58877 Update default test container to user Python 3.8.0b2
  test/runner/completion/docker.txt
Labels: affects_2.9, bug, core_review, python3, support:core, test

#57772 Move integration tests to using RHEL 8.0 GA
  shippable.yml
  test/integration/targets/dnf/vars/RedHat.yml
  test/runner/completion/remote.txt
  test/runner/setup/remote.sh
Labels: WIP, affects_2.9, feature, support:core

#48558 Fix Pacman regex for unmatched Arch package name
  lib/ansible/modules/packaging/os/pacman.py
Labels: affects_2.8, automerge, bug, module, new_contributor, packaging, shipit, support:community

#58886 Prepare ansible-test for supporting collections.
  test/runner/lib/ansible_util.py
  test/runner/lib/config.py
  test/runner/lib/executor.py
  test/runner/lib/git.py
  test/runner/lib/integration/__init__.py
  test/runner/lib/sanity/ansible_doc.py
  test/runner/lib/sanity/import.py
  test/runner/lib/sanity/pep8.py
  test/runner/lib/sanity/pslint.py
  test/runner/lib/sanity/rstcheck.py
  test/runner/lib/sanity/shellcheck.py
  test/runner/lib/sanity/yamllint.py
  test/runner/lib/types.py
  test/runner/lib/util.py
  test/sanity/code-smell/shebang.py
  test/sanity/pylint/config/ansible-test
  test/sanity/yamllint/yamllinter.py
Labels: affects_2.9, core_review, feature, support:core, test

#58701 Fix collection loader and add unit tests.
  lib/ansible/utils/collection_loader.py
  test/units/utils/fixtures/collections/ansible_collections/my_namespace/my_collection/plugins/__init__.py
  test/units/utils/fixtures/collections/ansible_collections/my_namespace/my_collection/plugins/action/__init__.py
  test/units/utils/fixtures/collections/ansible_collections/my_namespace/my_collection/plugins/action/my_action.py
  test/units/utils/fixtures/collections/ansible_collections/my_namespace/my_collection/plugins/module_utils/__init__.py
  test/units/utils/fixtures/collections/ansible_collections/my_namespace/my_collection/plugins/module_utils/my_other_util.py
  test/units/utils/fixtures/collections/ansible_collections/my_namespace/my_collection/plugins/module_utils/my_util.py
  test/units/utils/test_collection_loader.py
Labels: affects_2.9, bug, core_review, new_plugin, support:core

#58595 security-login-account-info was not returning vserver
  lib/ansible/modules/storage/netapp/na_ontap_gather_facts.py
  test/units/modules/storage/netapp/test_na_ontap_gather_facts.py
Labels: affects_2.9, bug, module, netapp, shipit, small_patch, storage, support:certified, support:community, test

#56814 vmware: vmware_guidelines.rst
  docs/docsite/rst/dev_guide/index.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
Labels: affects_2.9, docs, shipit, support:core, vmware

#58864 postgresql_user: add integration tests
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/postgresql_user.yml
Labels: affects_2.9, bug, community_review, postgresql, support:community, test

#58319 Pluribus Networks ipv6 security reguard vlan module with UT
  lib/ansible/modules/network/netvisor/pn_ipv6security_raguard_vlan.py
  test/units/modules/network/netvisor/test_pn_ipv6security_raguard_vlan.py
Labels: affects_2.9, core_review, module, needs_triage, networking, new_module, new_plugin, stale_ci, support:community, support:core, test

#58913 jboss module: actualize doc formatting
  lib/ansible/modules/web_infrastructure/jboss.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.9, core_review, docs, jboss, module, needs_triage, support:community, support:core, test, web_infrastructure

#58866 Use templated loop_var/index_var when looping include_*
  changelogs/fragments/58820-use-templated-loop_var-in-include_tasks.yaml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/included_file.py
  test/integration/targets/loops/tasks/main.yml
  test/integration/targets/loops/tasks/templated_loop_var_tasks.yml
Labels: affects_2.9, bug, core_review, needs_triage, support:community, support:core

#58692 consul_session: ensure scheme parameter is used
  changelogs/fragments/58692-consul_session_dont_ignore_scheme_parameter.yml
  lib/ansible/modules/clustering/consul_session.py
  test/integration/targets/consul/tasks/consul_session.yml
Labels: affects_2.9, bug, clustering, community_review, module, needs_triage, support:community

#58924 Add version 2.13 to the removed_in list
  test/sanity/validate-modules/schema.py
Labels: affects_2.9, bug, core_review, needs_triage, support:core, test

#58825 Fix nxos_install_os test cases typo
  test/integration/targets/nxos_install_os/tasks/main.yaml
  test/integration/targets/nxos_install_os/tasks/network_local.yaml
Labels: affects_2.9, cisco, core_review, networking, nxos, support:network, test

#58906 Sanity test fixes for future collections support.
  test/runner/lib/sanity/__init__.py
  test/runner/lib/sanity/compile.py
  test/runner/lib/sanity/pylint.py
  test/runner/lib/sanity/validate_modules.py
Labels: affects_2.9, core_review, feature, support:core, test

#58895 fix typo "decend"
  lib/ansible/modules/files/find.py
Labels: affects_2.9, core_review, docs, files, module, needs_triage, small_patch, support:core

#58932 Move ansible-test unit coverage code into plugin.
  test/runner/lib/executor.py
  test/units/pytest/plugins/ansible_pytest_coverage.py
Labels: affects_2.9, core_review, feature, new_plugin, support:core, test

#55160 vdo: fix modify stage KeyError on unsupported parameter
  lib/ansible/modules/system/vdo.py
Labels: affects_2.8, automerge, bug, module, owner_pr, shipit, support:community, system

#58936 Changing LBName used by same task inside azure_rm_loadbalancer
  test/integration/targets/azure_rm_loadbalancer/tasks/main.yml
Labels: affects_2.9, azure, cloud, community_review, support:community

#58883 Update contrib script documentation
  contrib/README.md
Labels: affects_2.9, community_review, docs, needs_triage, small_patch, support:community

#58780 Cache handler name for included handlers
  changelogs/fragments/58769-template-included-handler-names.yml
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.9, bug, core_review, needs_triage, support:community, support:core

#58694 consul_session: ensure empty result is handled
  changelogs/fragments/58694-consul_session_ensure_empty_result_is_handled.yml
  lib/ansible/modules/clustering/consul_session.py
  test/integration/targets/consul/tasks/consul_session.yml
Labels: affects_2.9, bug, clustering, community_review, module, needs_triage, support:community

#58829 Update foreman maintainers
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, bug, core_review, needs_triage, support:core

#58930 Update win_iis_webapppool.py
  lib/ansible/modules/windows/win_iis_webapppool.py
Labels: affects_2.9, community_review, docs, module, needs_triage, new_contributor, small_patch, support:community, windows

#58917 Add examples (#58819)
  lib/ansible/modules/network/ios/ios_vlan.py
Labels: affects_2.8, backport, cisco, core_review, docs, ios, module, networking, support:network

#58653 BOTMETA: add d-little maintainer to team_aix
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, docs, new_contributor, small_patch, support:core

#56724 Add msg parameter to the mandatory filter
  lib/ansible/plugins/filter/core.py
Labels: affects_2.9, feature, needs_revision, new_contributor, support:core

#46332 aws_s3: Improve ETag handling
  changelogs/fragments/aws_s3-etags.yaml
  lib/ansible/module_utils/aws/s3.py
  lib/ansible/modules/cloud/amazon/aws_s3.py
  test/integration/targets/aws_s3/tasks/main.yml
Labels: affects_2.8, aws, bug, cloud, core_review, module, support:community, support:core
