Repository ansible/ansible, pull requests merged in 2019-08, with the labels that each got.

#59690 ce_netstream_template: update to fix a bug.
  lib/ansible/modules/network/cloudengine/ce_netstream_template.py
Labels: affects_2.9, automerge, bug, module, networking, owner_pr, shipit, support:community

#59901 PR to resolve ios plugin cliconf unit test error
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.9, bug, cisco, ios, networking, shipit, small_patch, support:network

#58468 VMware: Refactor vmware_cluster into several modules
  changelogs/fragments/58023-refactor_vmware_cluster.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/cloud/vmware/vmware_cluster.py
  lib/ansible/modules/cloud/vmware/vmware_cluster_drs.py
  lib/ansible/modules/cloud/vmware/vmware_cluster_ha.py
  lib/ansible/modules/cloud/vmware/vmware_cluster_vsan.py
  test/integration/targets/prepare_vmware_tests/tasks/setup_cluster.yml
  test/integration/targets/vmware_cluster_drs/aliases
  test/integration/targets/vmware_cluster_drs/tasks/main.yml
  test/integration/targets/vmware_cluster_ha/aliases
  test/integration/targets/vmware_cluster_ha/tasks/main.yml
  test/integration/targets/vmware_cluster_vsan/aliases
  test/integration/targets/vmware_cluster_vsan/tasks/main.yml
Labels: affects_2.9, cloud, docs, has_issue, module, needs_revision, new_module, new_plugin, support:community, support:core, vmware

#59567 vmware: new module to find portgroup(s) based on different criteria
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup_find.py
  test/integration/targets/vmware_dvs_portgroup_find/aliases
  test/integration/targets/vmware_dvs_portgroup_find/tasks/main.yml
Labels: affects_2.9, cloud, module, needs_revision, new_module, new_plugin, support:community, vmware

#59911 VMware: minor changes in vmware_dvs_portgroup_find
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup_find.py
Labels: affects_2.9, cloud, community_review, feature, module, needs_triage, new_module, new_plugin, support:community, vmware

#59277 Support Ericsson device management
  .github/BOTMETA.yml
  docs/docsite/rst/network/user_guide/platform_eric_eccli.rst
  docs/docsite/rst/network/user_guide/platform_index.rst
  lib/ansible/module_utils/network/eric_eccli/__init__.py
  lib/ansible/module_utils/network/eric_eccli/eric_eccli.py
  lib/ansible/modules/network/eric_eccli/__init__.py
  lib/ansible/modules/network/eric_eccli/eric_eccli_command.py
  lib/ansible/plugins/cliconf/eric_eccli.py
  lib/ansible/plugins/terminal/eric_eccli.py
  test/units/modules/network/eric_eccli/__init__.py
  test/units/modules/network/eric_eccli/eccli_module.py
  test/units/modules/network/eric_eccli/fixtures/configure_terminal
  test/units/modules/network/eric_eccli/fixtures/show_version
  test/units/modules/network/eric_eccli/test_eccli_command.py
Labels: affects_2.9, botmeta, core_review, docs, docsite, module, networking, new_contributor, new_module, new_plugin, support:community, support:core, test

#59550 PR to fix ansible_net_model not being populated when "C" in Cisco is lowercase in `show version`
  lib/ansible/plugins/cliconf/ios.py
Labels: affects_2.9, bug, cisco, has_issue, ios, needs_revision, networking, small_patch, support:network

#52936 VMware: add support for HTTP proxy in connection API
  changelogs/fragments/52936-vmware-proxy-support.yaml
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_host.py
  lib/ansible/plugins/doc_fragments/vmware.py
  test/units/module_utils/test_vmware.py
Labels: affects_2.8, cloud, feature, has_issue, module, needs_revision, support:community, support:core, vmware

#52608 os_subnet: allow using non-default subnet pool
  changelogs/fragments/os_subnet-subnetpool-id-allowed.yaml
  lib/ansible/modules/cloud/openstack/os_subnet.py
Labels: affects_2.8, automerge, bug, cloud, module, openstack, shipit, support:community

#59882 [backport][2.8]removed module from support list (#59878)
  lib/ansible/modules/network/cnos/cnos_linkagg.py
Labels: affects_2.8, backport, ci_verified, docs, module, needs_revision, networking, small_patch, support:community

#59677 Update ce_vrrp to fix bugs
  lib/ansible/modules/network/cloudengine/ce_vrrp.py
Labels: affects_2.9, automerge, bug, module, networking, shipit, support:community

#59527 Improved netapp module utility for E-Series.
  lib/ansible/module_utils/netapp.py
  test/units/module_utils/test_netapp.py
Labels: affects_2.9, bug, feature, netapp, shipit, support:community, test

#59938 Wait for Ansible Tower instance to be ready
  test/runner/lib/cloud/tower.py
Labels: affects_2.9, bug, core_review, support:core, test

#59894 Maintainer request for team_mysql
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, docs, new_contributor, small_patch, support:core

#59826 [s3_bucket] access the bucket encryption response gracefully
  lib/ansible/modules/cloud/amazon/s3_bucket.py
Labels: affects_2.9, aws, bug, cloud, module, needs_revision, small_patch, support:core, traceback

#59898 Fix ansible-galaxy import command to use argspec instead
  lib/ansible/cli/galaxy.py
Labels: affects_2.9, bug, has_issue, needs_revision, support:core

#59954 Disable mongodb_shard and mongodb_replicaset tests
  test/integration/targets/mongodb_replicaset/aliases
  test/integration/targets/mongodb_shard/aliases
Labels: affects_2.9, bug, community_review, support:community

#59846 Minor fixes in galaxy command for collection
  lib/ansible/cli/galaxy.py
  test/units/cli/test_galaxy.py
Labels: affects_2.9, core_review, feature, support:core

#59895 Remove six decorator for unicode text conversion
  lib/ansible/galaxy/collection.py
Labels: affects_2.9, feature, needs_revision, support:core

#41975 Add logic to handle multiple actions in an ALB listener rule, Fixes #41861
  hacking/aws_config/testing_policies/compute-policy.json
  hacking/aws_config/testing_policies/security-policy.json
  lib/ansible/module_utils/aws/elbv2.py
  lib/ansible/modules/cloud/amazon/elb_application_lb.py
  test/integration/targets/elb_application_lb/meta/main.yml
  test/integration/targets/elb_application_lb/tasks/full_test.yml
  test/integration/targets/elb_application_lb/tasks/main.yml
  test/integration/targets/elb_application_lb/tasks/multiple_actions_fail.yml
  test/integration/targets/elb_application_lb/tasks/test_multiple_actions.yml
  test/integration/targets/elb_application_lb/tasks/test_multiple_actions_fail.yml
  test/integration/targets/setup_remote_tmp_dir/handlers/main.yml
Labels: affects_2.7, aws, bug, cloud, has_issue, module, new_contributor, shipit, support:community, support:core, test

#59807 podman_image - Handle new output when building images
  changelogs/fragments/podman_image-build-output-format.yaml
  lib/ansible/modules/cloud/podman/podman_image.py
Labels: affects_2.9, automerge, bug, cloud, has_issue, module, owner_pr, shipit, support:community

#59962 Remove obsolete docs on pep8 sanity test.
  docs/docsite/rst/dev_guide/testing_pep8.rst
Labels: affects_2.9, core_review, docs, docsite, support:core

#59698 Move ome_* and idrac_* modules one level up
  lib/ansible/modules/remote_management/dellemc/idrac/__init__.py
  lib/ansible/modules/remote_management/dellemc/idrac_firmware.py
  lib/ansible/modules/remote_management/dellemc/idrac_server_config_profile.py
  lib/ansible/modules/remote_management/dellemc/ome/__init__.py
  lib/ansible/modules/remote_management/dellemc/ome_device_info.py
  test/sanity/ignore.txt
  test/units/modules/remote_management/dellemc/ome/__init__.py
  test/units/modules/remote_management/dellemc/test_ome_device_info.py
Labels: affects_2.9, botmeta, bug, module, needs_revision, new_module, new_plugin, remote_management, support:community, support:core, test

#56574 add new module with integration tests to manage gitlab project variables
  lib/ansible/modules/source_control/gitlab_project_variable.py
  test/integration/targets/gitlab_project_variable/aliases
  test/integration/targets/gitlab_project_variable/tasks/main.yml
Labels: affects_2.9, community_review, gitlab, has_issue, module, new_module, new_plugin, python3, source_control, support:community

#59716 Resource module for ios_interfaces and Facts Update
  lib/ansible/module_utils/network/ios/argspec/__init__.py
  lib/ansible/module_utils/network/ios/argspec/facts/__init__.py
  lib/ansible/module_utils/network/ios/argspec/facts/facts.py
  lib/ansible/module_utils/network/ios/argspec/interfaces/__init__.py
  lib/ansible/module_utils/network/ios/argspec/interfaces/interfaces.py
  lib/ansible/module_utils/network/ios/config/__init__.py
  lib/ansible/module_utils/network/ios/config/interfaces/__init__.py
  lib/ansible/module_utils/network/ios/config/interfaces/interfaces.py
  lib/ansible/module_utils/network/ios/facts/__init__.py
  lib/ansible/module_utils/network/ios/facts/facts.py
  lib/ansible/module_utils/network/ios/facts/interfaces/__init__.py
  lib/ansible/module_utils/network/ios/facts/interfaces/interfaces.py
  lib/ansible/module_utils/network/ios/facts/legacy/__init__.py
  lib/ansible/module_utils/network/ios/facts/legacy/base.py
  lib/ansible/module_utils/network/ios/utils/__init__.py
  lib/ansible/module_utils/network/ios/utils/utils.py
  lib/ansible/modules/network/ios/_ios_interface.py
  lib/ansible/modules/network/ios/ios_facts.py
  lib/ansible/modules/network/ios/ios_interfaces.py
  test/integration/targets/ios_facts/tests/cli/invalid_subset.yaml
  test/integration/targets/ios_interfaces/defaults/main.yaml
  test/integration/targets/ios_interfaces/meta/main.yaml
  test/integration/targets/ios_interfaces/tasks/cli.yaml
  test/integration/targets/ios_interfaces/tasks/main.yaml
  test/integration/targets/ios_interfaces/tests/cli/_populate_config.yaml
  test/integration/targets/ios_interfaces/tests/cli/_remove_config.yaml
  test/integration/targets/ios_interfaces/tests/cli/deleted.yaml
  test/integration/targets/ios_interfaces/tests/cli/merged.yaml
  test/integration/targets/ios_interfaces/tests/cli/overridden.yaml
  test/integration/targets/ios_interfaces/tests/cli/replaced.yaml
  test/integration/targets/ios_interfaces/vars/main.yaml
  test/sanity/ignore.txt
  test/units/modules/network/ios/test_ios_facts.py
Labels: affects_2.9, cisco, deprecated, has_issue, ios, merge_commit, module, needs_rebase, needs_revision, networking, new_module, new_plugin, support:community, support:core, support:network, test

#59963 Remove obsolete tox.ini.
  .github/BOTMETA.yml
  MANIFEST.in
  tox.ini
Labels: affects_2.9, botmeta, core_review, feature, support:core

#59769 Only error out if the gid exists with a different group name
  changelogs/fragments/59769-fix_ansible_issue_58469_regression.yaml
  lib/ansible/modules/system/group.py
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.9, bug, core_review, module, new_contributor, support:community, support:core, system

#59715 docker_container: fix port bindings with IPv6 addresses
  changelogs/fragments/59715-docker_container-ipv6-port-bind.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.9, bug, cloud, community_review, docker, module, needs_triage, support:community, test

#49808 [docker_container] Adding support for `mounts` option
  changelogs/fragments/49808-docker_container-mounts.yml
  lib/ansible/module_utils/docker/common.py
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/mounts-volumes.yml
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, cloud, community_review, docker, feature, has_issue, module, stale_ci, support:community, test

#57668 Google: gcpubsub_facts -> gcpubsub_info
  changelogs/fragments/57668-gcpubsub-facts-info.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/cloud/google/_gcpubsub_facts.py
  lib/ansible/modules/cloud/google/gcpubsub_info.py
  test/sanity/ignore.txt
Labels: affects_2.9, bug, cloud, deprecated, docs, gce, module, new_module, new_plugin, shipit, support:community, support:core, test

#59946 Fix issue with empty cow_whitelist
  changelogs/fragments/45631-empty-cow-whitelist.yml
  lib/ansible/utils/display.py
Labels: affects_2.9, bug, core_review, has_issue, support:community, support:core

#58989 Fix strat inv (#58982)
  changelogs/fragments/fix_strategy_inv_up.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/inventory/runme.sh
  test/integration/targets/inventory/strategy.yml
Labels: affects_2.8, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#59982 Conflicting documentation
  lib/ansible/modules/cloud/amazon/s3_sync.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, needs_maintainer, needs_triage, small_patch, support:community

#59956 Try to clarify the wording
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
Labels: affects_2.9, core_review, docs, support:core

#60004 move CLI entrypoints under ansible package
  bin/ansible
  bin/ansible-connection
  lib/ansible/cli/scripts/__init__.py
  lib/ansible/cli/scripts/ansible_cli_stub.py
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  test/sanity/ignore.txt
Labels: affects_2.9, core_review, feature, needs_triage, networking, support:core, test

#59979 Issue 59955: add example to postgresql_query module
  lib/ansible/modules/database/postgresql/postgresql_query.py
Labels: affects_2.9, community_review, database, docs, has_issue, module, needs_triage, owner_pr, postgresql, support:community

#60020 Fix sanity test in docker_compose
  changelogs/fragments/docker_compose-fix-error-message-variable.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.9, bug, cloud, community_review, docker, module, support:community

#59999 BIGIP: fixes issue with receive parameter idempotency
  lib/ansible/modules/network/f5/bigip_monitor_http.py
  lib/ansible/modules/network/f5/bigip_monitor_https.py
  test/units/modules/network/f5/test_bigip_device_connectivity.py
  test/units/modules/network/f5/test_bigip_gtm_wide_ip.py
  test/units/modules/network/f5/test_bigip_monitor_http.py
  test/units/modules/network/f5/test_bigip_monitor_https.py
Labels: affects_2.9, bug, core_review, f5, module, networking, small_patch, support:certified, support:core, test

#60028 [stable-2.6] Wait for Ansible Tower instance to be ready
  test/runner/lib/cloud/tower.py
Labels: affects_2.6, backport, bug, core_review, support:core, test

#60027 [stable-2.7] Wait for Ansible Tower instance to be ready
  test/runner/lib/cloud/tower.py
Labels: affects_2.7, backport, bug, core_review, support:core, test

#60026 [stable-2.8] Wait for Ansible Tower instance to be ready
  test/runner/lib/cloud/tower.py
Labels: affects_2.8, backport, bug, core_review, support:core, test

#60014 BIGIP: multiple fixes
  lib/ansible/modules/network/f5/bigip_firewall_log_profile.py
  lib/ansible/modules/network/f5/bigip_message_routing_route.py
  lib/ansible/modules/network/f5/bigip_pool.py
Labels: affects_2.9, bug, committer_review, f5, module, networking, owner_pr, support:certified

#60021 BIGIP: Fixes idempotency issue with IPV6 addresses
  lib/ansible/modules/network/f5/bigip_virtual_server.py
Labels: affects_2.9, bug, committer_review, f5, module, networking, owner_pr, support:certified

#60019 BIGIP:fixes options parameter idempotency bigip_profle_client_ssl
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
Labels: affects_2.9, bug, committer_review, f5, module, networking, owner_pr, support:certified

#60015 BIGIP: Adds new parameter to gtm topology module
  lib/ansible/modules/network/f5/bigip_gtm_topology_region.py
Labels: affects_2.9, bug, committer_review, f5, module, networking, owner_pr, support:certified

#60017 BIGIP: fixes in data group module
  lib/ansible/modules/network/f5/bigip_data_group.py
Labels: affects_2.9, bug, committer_review, f5, module, networking, owner_pr, support:certified

#60030 Fix bug in purefa_facts : remote pgroup without a schedule is skipped
  lib/ansible/modules/storage/purestorage/purefa_facts.py
Labels: affects_2.9, automerge, bug, module, owner_pr, pure_storage, shipit, storage, support:community

#59126 NX-OS Telemetry Resource Module
  lib/ansible/module_utils/network/nxos/argspec/facts/facts.py
  lib/ansible/module_utils/network/nxos/argspec/telemetry/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/telemetry/telemetry.py
  lib/ansible/module_utils/network/nxos/cmdref/__init__.py
  lib/ansible/module_utils/network/nxos/cmdref/telemetry/__init__.py
  lib/ansible/module_utils/network/nxos/cmdref/telemetry/telemetry.py
  lib/ansible/module_utils/network/nxos/config/telemetry/__init__.py
  lib/ansible/module_utils/network/nxos/config/telemetry/telemetry.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/module_utils/network/nxos/facts/telemetry/__init__.py
  lib/ansible/module_utils/network/nxos/facts/telemetry/telemetry.py
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/module_utils/network/nxos/utils/telemetry/__init__.py
  lib/ansible/module_utils/network/nxos/utils/telemetry/telemetry.py
  lib/ansible/modules/network/nxos/nxos_facts.py
  lib/ansible/modules/network/nxos/nxos_telemetry.py
  test/integration/targets/nxos_telemetry/defaults/main.yaml
  test/integration/targets/nxos_telemetry/meta/main.yml
  test/integration/targets/nxos_telemetry/tasks/cli.yaml
  test/integration/targets/nxos_telemetry/tasks/main.yaml
  test/integration/targets/nxos_telemetry/tasks/nxapi.yaml
  test/integration/targets/nxos_telemetry/tests/common/deleted.yaml
  test/integration/targets/nxos_telemetry/tests/common/merged.yaml
  test/units/modules/network/nxos/fixtures/nxos_telemetry/N9K.cfg
  test/units/modules/network/nxos/nxos_module.py
  test/units/modules/network/nxos/test_nxos_telemetry.py
Labels: affects_2.9, cisco, core_review, module, networking, new_module, new_plugin, nxos, support:community, support:core, support:network, test

#59294 Add nxos_vlans resource module
  lib/ansible/module_utils/network/nxos/argspec/facts/facts.py
  lib/ansible/module_utils/network/nxos/argspec/vlans/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/vlans/vlans.py
  lib/ansible/module_utils/network/nxos/config/vlans/__init__.py
  lib/ansible/module_utils/network/nxos/config/vlans/vlans.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/module_utils/network/nxos/facts/vlans/__init__.py
  lib/ansible/module_utils/network/nxos/facts/vlans/vlans.py
  lib/ansible/modules/network/nxos/_nxos_vlan.py
  lib/ansible/modules/network/nxos/nxos_facts.py
  lib/ansible/modules/network/nxos/nxos_vlans.py
  test/integration/targets/nxos_vlans/defaults/main.yaml
  test/integration/targets/nxos_vlans/meta/main.yml
  test/integration/targets/nxos_vlans/tasks/cli.yaml
  test/integration/targets/nxos_vlans/tasks/main.yaml
  test/integration/targets/nxos_vlans/tasks/nxapi.yaml
  test/integration/targets/nxos_vlans/tests/cli/deleted.yaml
  test/integration/targets/nxos_vlans/tests/cli/merged.yaml
  test/integration/targets/nxos_vlans/tests/cli/overridden.yaml
  test/integration/targets/nxos_vlans/tests/cli/replaced.yaml
  test/sanity/ignore.txt
  test/units/modules/network/nxos/test_nxos_vlan.py
Labels: affects_2.9, cisco, deprecated, module, needs_revision, networking, new_module, new_plugin, nxos, support:community, support:core, support:network, test

#59781 Add basic hcloud_subnetwork module
  lib/ansible/modules/cloud/hcloud/hcloud_subnetwork.py
  test/integration/targets/hcloud_subnetwork/aliases
  test/integration/targets/hcloud_subnetwork/defaults/main.yml
  test/integration/targets/hcloud_subnetwork/tasks/main.yml
Labels: affects_2.9, cloud, hcloud, module, new_module, new_plugin, shipit, support:community

#60061 Add hcloud_server_network module
  lib/ansible/modules/cloud/hcloud/hcloud_server_network.py
  test/integration/targets/hcloud_server_network/aliases
  test/integration/targets/hcloud_server_network/defaults/main.yml
  test/integration/targets/hcloud_server_network/tasks/main.yml
Labels: affects_2.9, cloud, hcloud, module, new_module, new_plugin, shipit, support:community

#60055 Fix nxos_facts httpapi
  lib/ansible/module_utils/network/common/network.py
  test/integration/targets/nxos_facts/tasks/nxapi.yaml
Labels: affects_2.9, bug, cisco, core_review, networking, nxos, small_patch, support:network, test

#59908 Add basic hcloud_route module
  lib/ansible/modules/cloud/hcloud/hcloud_route.py
  test/integration/targets/hcloud_route/aliases
  test/integration/targets/hcloud_route/defaults/main.yml
  test/integration/targets/hcloud_route/tasks/main.yml
Labels: affects_2.9, cloud, community_review, hcloud, module, new_module, new_plugin, support:community

#59048 New module na_ontap_object_store
  lib/ansible/modules/storage/netapp/na_ontap_object_store.py
  test/units/modules/storage/netapp/test_na_ontap_object_store.py
Labels: affects_2.9, module, netapp, new_module, new_plugin, shipit, storage, support:community, test

#59935 Fix async output with adhoc callbacks
  changelogs/fragments/adhoc-command-async-output.yaml
  lib/ansible/plugins/callback/minimal.py
  lib/ansible/plugins/callback/oneline.py
Labels: affects_2.9, bug, core_review, support:community, support:core

#60049 Move definition of UnixHTTPSConnection behind guard
  lib/ansible/module_utils/urls.py
Labels: affects_2.9, bug, core_review, has_issue, needs_triage, support:core, traceback

#60075 ce_rollback: set mmi-mode enable to run commands nad unset after running.
  lib/ansible/modules/network/cloudengine/ce_rollback.py
Labels: affects_2.9, automerge, bug, module, networking, owner_pr, shipit, support:community

#60071 ce_config: It is necessary to undo mmi-mode enable after running commands.
  lib/ansible/modules/network/cloudengine/ce_config.py
Labels: affects_2.9, automerge, bug, module, networking, owner_pr, shipit, support:community

#60005 Handle quoted paths in ansible-test diff parsing.
  test/runner/lib/diff.py
Labels: affects_2.9, bug, core_review, support:core, test

#57094 Improve netapp_e_hostgroup and add unit tests.
  lib/ansible/modules/storage/netapp/netapp_e_hostgroup.py
  test/sanity/ignore.txt
  test/units/modules/storage/netapp/test_netapp_e_hostgroup.py
Labels: affects_2.9, core_review, feature, module, netapp, storage, support:community, support:core, test

#60022 Replace old shippable.py with new check_matrix.py.
  test/runner/shippable.py
  test/sanity/ignore.txt
  test/utils/shippable/check_matrix.py
  test/utils/shippable/sanity.sh
  test/utils/shippable/shippable.sh
Labels: affects_2.9, core_review, feature, support:core, test

#60083 Do not install requests[security] for MongoDB tests
  test/integration/targets/mongodb_replicaset/aliases
  test/integration/targets/mongodb_shard/aliases
  test/integration/targets/setup_mongodb/defaults/main.yml
  test/integration/targets/setup_mongodb/handlers/main.yml
  test/integration/targets/setup_mongodb/tasks/main.yml
Labels: WIP, affects_2.9, bug, needs_triage, support:community

#60023 ecs_taskdefinition_facts: rename to ecs_taskdefinition_info
  .github/BOTMETA.yml
  changelogs/fragments/60023-aws-facts-info.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/config/module_defaults.yml
  lib/ansible/modules/cloud/amazon/_ecs_taskdefinition_facts.py
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition_info.py
  test/integration/targets/ecs_cluster/aliases
  test/integration/targets/ecs_cluster/tasks/full_test.yml
  test/sanity/ignore.txt
Labels: affects_2.9, aws, botmeta, bug, cloud, core_review, deprecated, docs, module, needs_triage, new_module, new_plugin, support:community, support:core, test

#60105 Bugfix 60043: turn off the default db warning where it doesn't make sense
  lib/ansible/modules/database/postgresql/postgresql_membership.py
  lib/ansible/modules/database/postgresql/postgresql_ping.py
  lib/ansible/modules/database/postgresql/postgresql_slot.py
  lib/ansible/modules/database/postgresql/postgresql_tablespace.py
Labels: affects_2.9, automerge, bug, database, has_issue, module, owner_pr, postgresql, shipit, support:community

#60103 Clean up old ansible-test references and code.
  docs/bin/testing_formatter.sh
  test/runner/retry.py
  test/utils/dci/dci-coverage.sh
Labels: affects_2.9, core_review, docs, feature, small_patch, support:core, test

#60094 New GCP module: gcp_cloudtasks_queue
  lib/ansible/module_utils/gcp_utils.py
  lib/ansible/modules/cloud/google/gcp_cloudtasks_queue.py
  test/integration/targets/gcp_cloudtasks_queue/aliases
  test/integration/targets/gcp_cloudtasks_queue/defaults/main.yml
  test/integration/targets/gcp_cloudtasks_queue/meta/main.yml
  test/integration/targets/gcp_cloudtasks_queue/tasks/main.yml
Labels: affects_2.9, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#60108 Clean up ansible-test references in tests.
  test/integration/targets/consul/tasks/main.yml
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/supervisorctl/tasks/main.yml
  test/units/module_utils/facts/other/test_facter.py
Labels: affects_2.9, core_review, feature, files, support:community, support:core

#60109 Update docs references for ansible-test.
  docs/docsite/rst/dev_guide/testing/sanity/azure-requirements.rst
  docs/docsite/rst/dev_guide/testing_documentation.rst
Labels: affects_2.9, core_review, docs, docsite, support:core

#60110 Prepare ansible-test code for relocation.
  test/runner/ansible-test
  test/runner/lib/cli.py
  test/runner/lib/executor.py
  test/utils/shippable/shippable.sh
Labels: affects_2.9, core_review, feature, support:core, test

#60113 Removing validate-module exceptions on GCP modules
  lib/ansible/modules/cloud/google/gcp_compute_address_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_disk_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_firewall_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_forwarding_rule_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_global_address_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_global_forwarding_rule_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_health_check_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_http_health_check_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_https_health_check_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_image_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group_manager_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_template_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_interconnect_attachment_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_network_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_region_disk_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_route_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_router_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_certificate_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_policy_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_target_http_proxy_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_target_pool_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_target_ssl_proxy_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_target_tcp_proxy_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_target_vpn_gateway_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map_facts.py
  lib/ansible/modules/cloud/google/gcp_compute_vpn_tunnel_facts.py
  lib/ansible/modules/cloud/google/gcp_dns_managed_zone_facts.py
  test/sanity/ignore.txt
Labels: affects_2.9, bug, cloud, core_review, gce, module, support:community, support:core, test

#60114 More prep for ansible-test relocation.
  test/runner/Makefile
  test/runner/lib/test.py
  test/runner/lib/util.py
  test/runner/lib/util_common.py
  test/runner/unit/test_diff.py
  test/sanity/code-smell/update-bundled.json
  test/sanity/code-smell/update-bundled.py
  test/sanity/ignore.txt
  test/sanity/validate-modules/utils.py
  test/units/pytest/plugins/ansible_pytest_collections.py
  test/units/pytest/plugins/ansible_pytest_coverage.py
Labels: affects_2.9, feature, needs_revision, support:core, test

#60082 Runas docs
  docs/docsite/rst/user_guide/become.rst
  lib/ansible/plugins/become/runas.py
Labels: affects_2.9, core_review, docs, needs_triage, small_patch, support:community, support:core

#60117 Use constants to construct ansible-test paths.
  test/runner/lib/ansible_util.py
  test/runner/lib/cli.py
  test/runner/lib/delegation.py
  test/runner/lib/executor.py
  test/runner/lib/manage_ci.py
  test/runner/lib/sanity/__init__.py
  test/runner/lib/sanity/compile.py
  test/runner/lib/sanity/import.py
  test/runner/lib/sanity/pep8.py
  test/runner/lib/sanity/pslint.py
  test/runner/lib/sanity/pylint.py
  test/runner/lib/sanity/rstcheck.py
  test/runner/lib/sanity/shellcheck.py
  test/runner/lib/sanity/validate_modules.py
  test/runner/lib/sanity/yamllint.py
  test/runner/lib/util.py
  test/runner/lib/util_common.py
Labels: affects_2.9, core_review, feature, support:core, test

#60052 VMware: Check dvswitch presence before accessing it
  changelogs/fragments/59952-vmware_guest-check_dvs.yml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.9, bug, cloud, community_review, has_issue, module, owner_pr, support:community, vmware

#59041 Add junos vlans resource module
  lib/ansible/module_utils/network/junos/argspec/facts/facts.py
  lib/ansible/module_utils/network/junos/argspec/vlans/__init__.py
  lib/ansible/module_utils/network/junos/argspec/vlans/vlans.py
  lib/ansible/module_utils/network/junos/config/vlans/__init__.py
  lib/ansible/module_utils/network/junos/config/vlans/vlans.py
  lib/ansible/module_utils/network/junos/facts/facts.py
  lib/ansible/module_utils/network/junos/facts/vlans/__init__.py
  lib/ansible/module_utils/network/junos/facts/vlans/vlans.py
  lib/ansible/modules/network/junos/_junos_vlan.py
  lib/ansible/modules/network/junos/junos_facts.py
  lib/ansible/modules/network/junos/junos_vlans.py
  test/integration/targets/junos_vlans/defaults/main.yaml
  test/integration/targets/junos_vlans/meta/main.yaml
  test/integration/targets/junos_vlans/tasks/main.yaml
  test/integration/targets/junos_vlans/tasks/netconf.yaml
  test/integration/targets/junos_vlans/tests/netconf/_base_config.yaml
  test/integration/targets/junos_vlans/tests/netconf/_remove_config.yaml
  test/integration/targets/junos_vlans/tests/netconf/deleted.yaml
  test/integration/targets/junos_vlans/tests/netconf/merged.yaml
  test/integration/targets/junos_vlans/tests/netconf/overridden.yaml
  test/integration/targets/junos_vlans/tests/netconf/replaced.yaml
  test/sanity/ignore.txt
Labels: affects_2.9, core_review, deprecated, module, networking, new_module, new_plugin, support:community, support:core, support:network, test

#59929 VyOS: Add [vyos_l3_interfaces] resource module
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/module_utils/network/vyos/argspec/facts/facts.py
  lib/ansible/module_utils/network/vyos/argspec/l3_interfaces/__init__.py
  lib/ansible/module_utils/network/vyos/argspec/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/vyos/config/l3_interfaces/__init__.py
  lib/ansible/module_utils/network/vyos/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/vyos/facts/facts.py
  lib/ansible/module_utils/network/vyos/facts/l3_interfaces/__init__.py
  lib/ansible/module_utils/network/vyos/facts/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/vyos/utils/utils.py
  lib/ansible/modules/network/vyos/_vyos_l3_interface.py
  lib/ansible/modules/network/vyos/vyos_facts.py
  lib/ansible/modules/network/vyos/vyos_l3_interfaces.py
  test/integration/targets/vyos_l3_interfaces/defaults/main.yaml
  test/integration/targets/vyos_l3_interfaces/meta/main.yml
  test/integration/targets/vyos_l3_interfaces/tasks/cli.yaml
  test/integration/targets/vyos_l3_interfaces/tasks/main.yaml
  test/integration/targets/vyos_l3_interfaces/tests/cli/_populate.yaml
  test/integration/targets/vyos_l3_interfaces/tests/cli/_remove_config.yaml
  test/integration/targets/vyos_l3_interfaces/tests/cli/deleted.yaml
  test/integration/targets/vyos_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/vyos_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/vyos_l3_interfaces/tests/cli/replaced.yaml
  test/integration/targets/vyos_l3_interfaces/vars/main.yaml
  test/sanity/ignore.txt
Labels: affects_2.9, core_review, deprecated, docs, module, networking, new_module, new_plugin, support:community, support:core, support:network, test

#57095 Storagepool dev upstream
  lib/ansible/modules/storage/netapp/netapp_e_storagepool.py
  test/sanity/ignore.txt
  test/units/modules/storage/netapp/test_netapp_e_storagepool.py
Labels: affects_2.9, core_review, feature, module, netapp, storage, support:community, support:core, test

#60137 Conflicting Documentation
  lib/ansible/modules/cloud/amazon/aws_batch_compute_environment.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, small_patch, support:community

#60136 Conflicting Documentation
  lib/ansible/modules/cloud/amazon/aws_batch_job_queue.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, needs_triage, small_patch, support:community

#60135 Conflicting Documentation
  lib/ansible/modules/cloud/amazon/aws_batch_job_definition.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, needs_triage, small_patch, support:community

#60053 Update copy.py
  lib/ansible/modules/files/copy.py
Labels: affects_2.9, core_review, docs, files, module, new_contributor, small_patch, support:core

#59990 BIGIP: Fixes in module_utils functions
  lib/ansible/module_utils/network/f5/common.py
  lib/ansible/module_utils/network/f5/icontrol.py
  lib/ansible/modules/network/f5/bigip_apm_policy_import.py
  lib/ansible/modules/network/f5/bigip_asm_policy_fetch.py
  lib/ansible/modules/network/f5/bigip_cli_alias.py
  lib/ansible/modules/network/f5/bigip_cli_script.py
  lib/ansible/modules/network/f5/bigip_command.py
  lib/ansible/modules/network/f5/bigip_config.py
  lib/ansible/modules/network/f5/bigip_device_dns.py
  lib/ansible/modules/network/f5/bigip_device_info.py
  lib/ansible/modules/network/f5/bigip_firewall_log_profile.py
  lib/ansible/modules/network/f5/bigip_gtm_topology_region.py
  lib/ansible/modules/network/f5/bigip_iapp_template.py
  lib/ansible/modules/network/f5/bigip_message_routing_transport_config.py
  lib/ansible/modules/network/f5/bigip_monitor_dns.py
  lib/ansible/modules/network/f5/bigip_node.py
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
  lib/ansible/modules/network/f5/bigip_profile_http.py
  lib/ansible/modules/network/f5/bigip_provision.py
  lib/ansible/modules/network/f5/bigip_ucs.py
  lib/ansible/modules/network/f5/bigip_user.py
  lib/ansible/modules/network/f5/bigip_vlan.py
  lib/ansible/modules/network/f5/bigiq_application_fastl4_tcp.py
  lib/ansible/modules/network/f5/bigiq_application_fastl4_udp.py
  lib/ansible/modules/network/f5/bigiq_application_https_offload.py
  lib/ansible/modules/network/f5/bigiq_device_discovery.py
  lib/ansible/plugins/doc_fragments/f5.py
  test/sanity/ignore.txt
Labels: affects_2.9, bug, f5, module, networking, shipit, support:certified, support:community, support:core, test

#60009 Update broken NCLU documentation link
  lib/ansible/modules/network/cumulus/nclu.py
Labels: affects_2.9, community_review, docs, module, needs_triage, networking, owner_pr, small_patch, support:community

#57086 Host dev upstream
  lib/ansible/modules/storage/netapp/netapp_e_host.py
  test/integration/targets/netapp_eseries_host/aliases
  test/integration/targets/netapp_eseries_host/tasks/run.yml
  test/units/modules/storage/netapp/test_netapp_e_host.py
Labels: affects_2.9, bug, community_review, module, netapp, storage, support:community, test

#59959 ansible-galaxy - ignore cert failures for login
  lib/ansible/galaxy/login.py
  lib/ansible/module_utils/urls.py
Labels: affects_2.9, bug, has_issue, needs_revision, support:core

#60149 no logging for service account contents
  changelogs/fragments/gcp_fixes.yml
  lib/ansible/module_utils/gcp_utils.py
  lib/ansible/plugins/doc_fragments/gcp.py
Labels: affects_2.9, automerge, bug, needs_triage, shipit, support:community

#59557 Move plugin loader playbook dir additions back to Playbook instead of PlaybookCLI
  changelogs/fragments/59548-import-playbook-plugin-dirs.yml
  lib/ansible/playbook/__init__.py
  test/integration/targets/include_import/playbook/sub_playbook/library/helloworld.py
  test/integration/targets/include_import/playbook/sub_playbook/sub_playbook.yml
  test/integration/targets/include_import/playbook/test_import_playbook.yml
Labels: affects_2.9, bug, needs_revision, support:community, support:core

#60140 bug fix for na_ontap_interface
  lib/ansible/modules/storage/netapp/na_ontap_interface.py
Labels: affects_2.9, automerge, bug, module, netapp, owner_pr, shipit, storage, support:community

#60170 Add missing boilerplate.
  test/integration/targets/include_import/playbook/sub_playbook/library/helloworld.py
Labels: affects_2.9, bug, community_review, support:community

#60169 Fix ansible-test layout path generation.
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/provider/layout/ansible.py
  test/lib/ansible_test/_internal/provider/layout/collection.py
Labels: affects_2.9, bug, needs_revision, support:core, test

#60175 Fix ansible-test classification of sanity changes.
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.9, bug, core_review, support:core, test

#60174 Split up "code smell" sanity tests.
  MANIFEST.in
  docs/docsite/rst/dev_guide/testing/sanity/update-bundled.rst
  test/lib/ansible_test/_data/sanity/code-smell/ansible-only.txt
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/sanity/code-smell/azure-requirements.json
  test/sanity/code-smell/azure-requirements.py
  test/sanity/code-smell/botmeta.json
  test/sanity/code-smell/botmeta.py
  test/sanity/code-smell/changelog.json
  test/sanity/code-smell/changelog.py
  test/sanity/code-smell/configure-remoting-ps1.json
  test/sanity/code-smell/configure-remoting-ps1.py
  test/sanity/code-smell/deprecated-config.json
  test/sanity/code-smell/deprecated-config.py
  test/sanity/code-smell/docs-build.json
  test/sanity/code-smell/docs-build.py
  test/sanity/code-smell/package-data.json
  test/sanity/code-smell/package-data.py
  test/sanity/code-smell/skip.txt
  test/sanity/code-smell/test-constraints.json
  test/sanity/code-smell/test-constraints.py
  test/sanity/code-smell/update-bundled.json
  test/sanity/code-smell/update-bundled.py
Labels: affects_2.9, core_review, docs, docsite, feature, small_patch, support:core, test

#60173 Avoid pylint error on Python 3.7.
  test/lib/ansible_test/_data/sanity/validate-modules/main.py
Labels: affects_2.9, bug, needs_revision, python3, support:core, test

#59220 UCS: new module to find vlan(s) based on different criteria
  lib/ansible/modules/remote_management/ucs/ucs_vlan_find.py
Labels: affects_2.9, cisco, community_review, module, new_module, new_plugin, remote_management, stale_ci, support:community, ucs

#60097 New GCP module: gcp_compute_autoscaler_facts
  lib/ansible/modules/cloud/google/gcp_compute_autoscaler_facts.py
Labels: affects_2.9, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#60058 Remove description from junos_l3_interfaces
  lib/ansible/module_utils/network/junos/argspec/l3_interfaces/l3_interfaces.py
  lib/ansible/modules/network/junos/junos_l3_interfaces.py
Labels: affects_2.9, core_review, feature, module, needs_triage, networking, small_patch, support:network

#59727 ovirt vnic network filter fix
  lib/ansible/modules/cloud/ovirt/ovirt_vnic_profile.py
Labels: affects_2.9, automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#59903 icx: new module icx_command
  lib/ansible/modules/network/icx/icx_banner.py
  lib/ansible/modules/network/icx/icx_command.py
  test/units/modules/network/icx/fixtures/configure_terminal
  test/units/modules/network/icx/fixtures/show_version
  test/units/modules/network/icx/test_icx_command.py
Labels: affects_2.9, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#60181 win_user - use proper error code in validate error message
  changelogs/fragments/win_user-logon-err.yaml
  lib/ansible/modules/windows/win_user.ps1
Labels: affects_2.9, bug, core_review, module, needs_triage, owner_pr, support:community, support:core, windows

#60192 ovirt vnic profile update docs
  lib/ansible/modules/cloud/ovirt/ovirt_vnic_profile.py
Labels: affects_2.9, automerge, cloud, docs, module, ovirt, owner_pr, shipit, small_patch, support:community

#60062 VMware: vmware_export_ovf fix timeout and export path issue
  lib/ansible/modules/cloud/vmware/vmware_export_ovf.py
Labels: affects_2.9, automerge, bug, cloud, module, owner_pr, shipit, support:community, vmware

#58847 Update azure_rm_appserviceplan_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_appserviceplan_facts.py
Labels: affects_2.9, automerge, azure, bug, cloud, has_issue, module, new_contributor, shipit, small_patch, support:community

#58492 Delete the check for the resource group
  lib/ansible/modules/cloud/azure/azure_rm_dnsrecordset.py
Labels: affects_2.9, automerge, azure, bug, cloud, has_issue, module, shipit, small_patch, support:community

#59854 Add wait_sleep parameter for the k8s module
  changelogs/fragments/k8s_wait_sleep.yml
  lib/ansible/module_utils/k8s/raw.py
  lib/ansible/modules/clustering/k8s/k8s.py
  test/integration/targets/k8s/tasks/waiter.yml
Labels: affects_2.9, clustering, community_review, feature, k8s, module, new_contributor, support:community

#59106 Don't truncate cidr_ipv6 addresses in ec2_group.py
  changelogs/fragments/59106-fix-ipv6-truncating-in-ec2_group.yml
  lib/ansible/modules/cloud/amazon/ec2_group.py
  test/units/modules/cloud/amazon/test_ec2_group.py
Labels: affects_2.9, aws, bug, cloud, core_review, has_issue, module, support:community, support:core

#60016 BIGIP: added user information collection to bigip_device_info
  lib/ansible/modules/network/f5/bigip_device_info.py
Labels: affects_2.9, committer_review, f5, feature, module, networking, owner_pr, support:certified

#59995 BIGIP: adds module to manage snat translations
  lib/ansible/modules/network/f5/bigip_snat_translation.py
  test/units/modules/network/f5/fixtures/load_ltm_snat_translation_default.json
  test/units/modules/network/f5/test_bigip_snat_translation.py
Labels: affects_2.9, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#59994 BIGIP: Adds Module to manage device self-signed certificates
  lib/ansible/modules/network/f5/bigip_device_certificate.py
  test/units/modules/network/f5/test_bigip_device_certificate.py
Labels: affects_2.9, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#59993 BIGIP: New module to manage APM network access components
  lib/ansible/modules/network/f5/bigip_apm_network_access.py
  test/units/modules/network/f5/fixtures/load_apm_network_access.json
  test/units/modules/network/f5/test_bigip_apm_network_access.py
Labels: affects_2.9, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#59996 BIGIP: adds more modules to bigip provision
  lib/ansible/modules/network/f5/bigip_provision.py
  test/units/modules/network/f5/fixtures/load_sys_provision_default.json
  test/units/modules/network/f5/test_bigip_provision.py
Labels: affects_2.9, f5, feature, module, networking, support:certified, support:core, test

#59992 BIGIP: Adds APM ACL module
  lib/ansible/modules/network/f5/bigip_apm_acl.py
  test/units/modules/network/f5/fixtures/load_apm_acl.json
  test/units/modules/network/f5/test_bigip_apm_acl.py
Labels: affects_2.9, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#57586 Fix missing labels propagation hcloud inventory.
  lib/ansible/plugins/inventory/hcloud.py
Labels: affects_2.9, bug, cloud, has_issue, hcloud, inventory, new_contributor, shipit, small_patch, support:community

#59998 BIGIP: fixes assert statements in tests
  test/units/modules/network/f5/test_bigip_monitor_tcp.py
  test/units/modules/network/f5/test_bigip_monitor_tcp_echo.py
  test/units/modules/network/f5/test_bigip_monitor_tcp_half_open.py
  test/units/modules/network/f5/test_bigip_monitor_udp.py
  test/units/modules/network/f5/test_bigip_remote_syslog.py
  test/units/modules/network/f5/test_bigip_selfip.py
Labels: affects_2.9, bug, core_review, f5, networking, support:core, test

#59552 prevent templating of passwords from prompt (#59246)
  changelogs/fragments/dont_template_passwords_from_prompt.yml
  lib/ansible/cli/__init__.py
  lib/ansible/utils/unsafe_proxy.py
Labels: affects_2.8, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#59801 [backport][2.7] add eol banner (#59254)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_eol_banner.html
Labels: affects_2.7, backport, core_review, docs, support:core

#59802 [backport][2.6] add eol banner (#59254)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_eol_banner.html
Labels: affects_2.6, backport, bug, core_review, docs, support:core

#58304 Fix netapp_e_volume wait-for-initialization to complete issue.
  lib/ansible/modules/storage/netapp/netapp_e_volume.py
  test/integration/targets/netapp_eseries_volume/aliases
  test/integration/targets/netapp_eseries_volume/tasks/main.yml
  test/integration/targets/netapp_eseries_volume/tasks/run.yml
  test/sanity/ignore.txt
  test/units/modules/storage/netapp/test_netapp_e_volume.py
Labels: affects_2.9, bug, core_review, module, netapp, storage, support:community, support:core, test

#59711 Remove UnsafeProxy
  lib/ansible/executor/task_executor.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/unsafe_proxy.py
  test/units/utils/test_unsafe_proxy.py
Labels: affects_2.9, core_review, feature, support:core

#59889 Rebalance Windows CI groups based on recent delays to 2016 (#59838)
  test/integration/targets/win_become/aliases
  test/integration/targets/win_certificate_store/aliases
  test/integration/targets/win_owner/aliases
Labels: affects_2.8, backport, bug, needs_revision, needs_triage, support:community, support:core, windows

#60214 Relocate validate-modules for easier testing.
  .github/BOTMETA.yml
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  test/lib/ansible_test/_data/sanity/validate-modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/test_validate_modules_regex.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/__init__.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/module_args.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/ps_argspec.ps1
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/utils.py
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/lib/ansible_test/tests/Makefile
  test/lib/ansible_test/tests/validate-modules-unit/test_validate_modules_regex.py
Labels: affects_2.9, botmeta, docs, docsite, feature, needs_revision, small_patch, support:core, test

#60213 Split up ansible-test sanity test requirements.
  test/lib/ansible_test/_data/requirements/sanity.txt
  test/lib/ansible_test/_internal/executor.py
  test/sanity/requirements.txt
Labels: affects_2.9, feature, needs_revision, support:core, test

#60207 fix misleading example in docker_image doc
  lib/ansible/modules/cloud/docker/docker_image.py
Labels: affects_2.9, automerge, cloud, docker, docs, module, shipit, small_patch, support:community

#60225 Change dummy package name in yum/dnf integration test to not collide with an actual package
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/repo.yml
  test/integration/targets/setup_rpm_repo/files/comps.xml
  test/integration/targets/setup_rpm_repo/files/create-repo.py
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/repo.yml
Labels: affects_2.9, bug, core_review, needs_triage, packaging, support:community, support:core

#59724 IOS-XR: Add [iosxr_lacp_interfaces] module
  lib/ansible/module_utils/network/iosxr/argspec/facts/facts.py
  lib/ansible/module_utils/network/iosxr/argspec/lacp_interfaces/__init__.py
  lib/ansible/module_utils/network/iosxr/argspec/lacp_interfaces/lacp_interfaces.py
  lib/ansible/module_utils/network/iosxr/config/lacp_interfaces/__init__.py
  lib/ansible/module_utils/network/iosxr/config/lacp_interfaces/lacp_interfaces.py
  lib/ansible/module_utils/network/iosxr/facts/facts.py
  lib/ansible/module_utils/network/iosxr/facts/lacp_interfaces/__init__.py
  lib/ansible/module_utils/network/iosxr/facts/lacp_interfaces/lacp_interfaces.py
  lib/ansible/module_utils/network/iosxr/utils/utils.py
  lib/ansible/modules/network/iosxr/iosxr_facts.py
  lib/ansible/modules/network/iosxr/iosxr_lacp_interfaces.py
  test/integration/targets/iosxr_interface/tests/cli/basic.yaml
  test/integration/targets/iosxr_lacp_interfaces/defaults/main.yaml
  test/integration/targets/iosxr_lacp_interfaces/tasks/cli.yaml
  test/integration/targets/iosxr_lacp_interfaces/tasks/main.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/_populate.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/_remove_config.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/deleted.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/merged.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/overridden.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/replaced.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/rtt.yaml
  test/integration/targets/iosxr_lacp_interfaces/vars/main.yaml
Labels: affects_2.9, cisco, core_review, ios, iosxr, module, networking, new_module, new_plugin, support:community, support:network, test

#59947 os_subnet: allow using non-default subnet pool (#52608)
  changelogs/fragments/os_subnet-subnetpool-id-allowed.yaml
  lib/ansible/modules/cloud/openstack/os_subnet.py
Labels: affects_2.8, backport, bug, cloud, community_review, module, needs_triage, openstack, support:community

#59965 [2.8] Move idrac_* modules one level up
  lib/ansible/modules/remote_management/dellemc/idrac/__init__.py
  lib/ansible/modules/remote_management/dellemc/idrac_firmware.py
  lib/ansible/modules/remote_management/dellemc/idrac_server_config_profile.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, new_plugin, remote_management, support:community

#59981 [stable-2.8] Handle new output for podman image build (#59807)
  changelogs/fragments/podman_image-build-output-format.yaml
  lib/ansible/modules/cloud/podman/podman_image.py
Labels: affects_2.8, backport, bug, cloud, community_review, module, needs_triage, owner_pr, support:community

#60012 Only error out if the gid exists with a different group name (#59769)
  changelogs/fragments/59769-fix_ansible_issue_58469_regression.yaml
  lib/ansible/modules/system/group.py
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#59986 [2.8] docker_container: fix port bindings with IPv6 addresses
  changelogs/fragments/59715-docker_container-ipv6-port-bind.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, backport, bug, cloud, community_review, docker, module, needs_triage, support:community, test

#60228 [stable-2.8] Change dummy package name in yum/dnf tests to not collide with an actual package (#60225)
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/repo.yml
  test/integration/targets/setup_rpm_repo/files/comps.xml
  test/integration/targets/setup_rpm_repo/files/create-repo.py
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/repo.yml
Labels: affects_2.8, backport, bug, core_review, needs_triage, packaging, support:community, support:core

#60033 Backport/2.8/59690 ce_netstream_template: update to fix a bug. (#59690)
  changelogs/fragments/60033-ce_netstream_template-to-fix-bugs.yml
  lib/ansible/modules/network/cloudengine/ce_netstream_template.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#60034 update ce_vrrp to fix bugs
  changelogs/fragments/59677-ce_vrrp-to-fix-bugs.yml
  lib/ansible/modules/network/cloudengine/ce_vrrp.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, support:community

#60032 update ce_bgp_af to fix bugs
  changelogs/fragments/59678-ce_bgp_af-to-fix-bugs.yml
  lib/ansible/modules/network/cloudengine/ce_bgp_af.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, support:community

#60079 [stable-2.8] Fix async output with adhoc callbacks. Fixes #15988 (#59935)
  changelogs/fragments/adhoc-command-async-output.yaml
  lib/ansible/plugins/callback/minimal.py
  lib/ansible/plugins/callback/oneline.py
Labels: affects_2.8, backport, core_review, needs_triage, support:community, support:core

#49568 Removed breaking type check from nagios module
  changelogs/fragments/49568-type-checking.yaml
  lib/ansible/modules/monitoring/nagios.py
  test/sanity/ignore.txt
Labels: affects_2.8, bug, core_review, has_issue, module, monitoring, new_contributor, python3, support:community, support:core, test, traceback

#60231 [2.8] fix misleading example in docker_image doc
  lib/ansible/modules/cloud/docker/docker_image.py
Labels: affects_2.8, backport, cloud, community_review, docker, docs, module, owner_pr, small_patch, support:community

#59810 [2.5] Add Eol banner to all pages
  docs/docsite/_themes/sphinx_rtd_theme/ansible_eol_banner.html
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
Labels: affects_2.5, backport, core_review, docs, support:core

#60078 [stable-2.8] Fix hcloud tests
  test/integration/targets/hcloud_server/aliases
  test/integration/targets/hcloud_server/tasks/main.yml
  test/integration/targets/hcloud_ssh_key/aliases
  test/integration/targets/hcloud_ssh_key/tasks/main.yml
Labels: affects_2.8, backport, bug, cloud, community_review, hcloud, needs_triage, support:community

#60107 Backport/2.8/60105: turn off the default db warning where it doesn't make sense
  changelogs/fragments/60105-postgresql_turn_off_db_default_warnings.yml
  lib/ansible/modules/database/postgresql/postgresql_membership.py
  lib/ansible/modules/database/postgresql/postgresql_ping.py
  lib/ansible/modules/database/postgresql/postgresql_slot.py
  lib/ansible/modules/database/postgresql/postgresql_tablespace.py
Labels: affects_2.8, backport, bug, community_review, database, has_issue, module, needs_triage, owner_pr, postgresql, support:community

#60235 Remove Python 2.6 from Windows tests
  test/utils/shippable/windows.sh
Labels: affects_2.9, core_review, feature, needs_triage, support:core, test

#54946 Added a Docker Machine dynamic inventory plugin
  lib/ansible/plugins/inventory/docker_machine.py
  test/integration/targets/inventory_docker_machine/aliases
  test/integration/targets/inventory_docker_machine/docker-machine
  test/integration/targets/inventory_docker_machine/inventory_1.docker_machine.yml
  test/integration/targets/inventory_docker_machine/inventory_2.docker_machine.yml
  test/integration/targets/inventory_docker_machine/inventory_3.docker_machine.yml
  test/integration/targets/inventory_docker_machine/meta/main.yml
  test/integration/targets/inventory_docker_machine/playbooks/pre-setup.yml
  test/integration/targets/inventory_docker_machine/playbooks/setup.yml
  test/integration/targets/inventory_docker_machine/playbooks/teardown.yml
  test/integration/targets/inventory_docker_machine/playbooks/test_inventory_1.yml
  test/integration/targets/inventory_docker_machine/runme.sh
  test/integration/targets/inventory_docker_machine/teardown.docker_machine.yml
Labels: affects_2.8, automerge, cloud, docker, inventory, new_plugin, python3, shipit, support:community, test

#60006 Update win_updates Docs to clarify how 'become' is handled
  lib/ansible/modules/windows/win_updates.py
Labels: affects_2.9, docs, module, needs_revision, small_patch, support:core, windows

#58983 Allow encryption of volumes based off snapshots
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.9, aws, cloud, core_review, feature, module, new_contributor, small_patch, stale_ci, support:core

#60143 na_ontap_disks: new option disk_count to give a certain number of disks to a node
  lib/ansible/modules/storage/netapp/na_ontap_disks.py
Labels: affects_2.9, automerge, feature, module, netapp, owner_pr, shipit, storage, support:community

#59503 prevent recursive logging csharp stackoverflow.
  changelogs/fragments/59503-fix-recursive-csharp-logging.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: affects_2.9, bug, needs_revision, new_contributor, support:community, support:core, windows

#60240 Added group 7 to Windows groups - ci_complete
  shippable.yml
  test/integration/targets/win_certificate_store/aliases
  test/integration/targets/win_credential/aliases
  test/integration/targets/win_dns_record/aliases
  test/integration/targets/win_package/aliases
  test/integration/targets/win_partition/aliases
  test/integration/targets/win_scheduled_task/aliases
  test/integration/targets/win_service/aliases
  test/integration/targets/win_user/aliases
  test/integration/targets/win_user_profile/aliases
Labels: affects_2.9, bug, needs_revision, support:community, support:core, windows

#60253 Fix placement and handling of ansible-test cloud config
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/cloud/__init__.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/config/cloud-config-aws.ini.template
  test/lib/ansible_test/config/cloud-config-azure.ini.template
  test/lib/ansible_test/config/cloud-config-cloudscale.ini.template
  test/lib/ansible_test/config/cloud-config-cs.ini.template
  test/lib/ansible_test/config/cloud-config-gcp.ini.template
  test/lib/ansible_test/config/cloud-config-hcloud.ini.template
  test/lib/ansible_test/config/cloud-config-opennebula.ini.template
  test/lib/ansible_test/config/cloud-config-openshift.kubeconfig.template
  test/lib/ansible_test/config/cloud-config-scaleway.ini.template
  test/lib/ansible_test/config/cloud-config-tower.ini.template
  test/lib/ansible_test/config/cloud-config-vcenter.ini.template
  test/lib/ansible_test/config/cloud-config-vultr.ini.template
Labels: affects_2.9, bug, core_review, support:core, test

#60238 Move ansible-test coverage config to test/lib/
  .coveragerc
  MANIFEST.in
  test/lib/ansible_test/_data/coveragerc
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/cover.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/integration/__init__.py
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.9, core_review, feature, support:core, test

#60257 Move win target back a group
  test/integration/targets/win_dns_record/aliases
Labels: affects_2.9, bug, community_review, needs_triage, support:community, windows

#60085 Backport/2.8/60071 ce_config : It is necessary to undo mmi-mode enable after running commands. (#60071)
  changelogs/fragments/60085-ce_config _set_mmi-mode.yml
  lib/ansible/modules/network/cloudengine/ce_config.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, owner_pr, support:community
