Repository ansible/ansible, pull requests merged in 2019-06, with the labels that each got.

#56147 k8s: Fix .to_dict not needed
  changelogs/fragments/56147-k8s-update-with-force.yaml
  lib/ansible/module_utils/k8s/raw.py
Labels: affects_2.9, bug, clustering, community_review, k8s, new_contributor, support:community

#57000 VMware: Update vmware_guest_powerstate
  lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py
  test/integration/targets/vmware_guest_powerstate/tasks/main.yml
  test/integration/targets/vmware_guest_powerstate/tasks/poweroff_d1_c1_f0.yml
  test/integration/targets/vmware_guest_powerstate/tasks/poweroff_d1_c1_f1.yml
Labels: affects_2.9, bug, cloud, community_review, module, support:community, vmware

#57090 docker_image: add compatibility tests
  test/integration/targets/docker_image/tasks/tests/old-options.yml
Labels: affects_2.9, bug, cloud, community_review, docker, needs_triage, support:community, test

#56875 vmware_evc_mode: fix the functional tests
  test/integration/targets/vmware_evc_mode/tasks/main.yml
Labels: affects_2.9, bug, cloud, community_review, stale_ci, support:community, vmware

#57227 VMware: Update doc for num_cpus and num_cpu_cores_per_socket calculation
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.9, cloud, community_review, docs, module, new_contributor, support:community, vmware

#56971 docker_container: improve docs w.r.t. networks_cli_compatible.
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.9, automerge, bug, cloud, docker, module, owner_pr, shipit, small_patch, support:community

#57155 Pluribus Networks vrouter packet relay module with UT
  lib/ansible/modules/network/netvisor/pn_vrouter_packet_relay.py
  test/units/modules/network/netvisor/test_pn_vrouter_packet_relay.py
Labels: affects_2.9, core_review, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#57033 Pluribus Networks ipv6security raguard port module with UT
  lib/ansible/modules/network/netvisor/pn_ipv6security_raguard_port.py
  test/units/modules/network/netvisor/test_pn_ipv6security_raguard_port.py
Labels: affects_2.9, core_review, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#56924 cloudcscale_floating_ip: add types
  lib/ansible/modules/cloud/cloudscale/cloudscale_floating_ip.py
  test/integration/targets/cloudscale_floating_ip/tasks/main.yml
Labels: affects_2.9, bug, cloud, community_review, module, needs_triage, stale_ci, support:community, test

#56835 New module postgresql_copy: copy data between a file and a table
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/plugins/doc_fragments/postgres.py
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/postgresql_copy.yml
Labels: affects_2.9, database, module, new_module, new_plugin, postgresql, shipit, support:community, test

#57297 postgresql_db: add note to doc about pg_dump
  lib/ansible/modules/database/postgresql/postgresql_db.py
Labels: affects_2.9, automerge, database, docs, module, owner_pr, postgresql, shipit, small_patch, support:community

#57190 improve conditional warnings
  changelogs/fragments/57190-improve-warnings-for-when.yaml
  lib/ansible/playbook/conditional.py
  test/integration/targets/conditionals/runme.sh
  test/integration/targets/conditionals/test_no_warnings.yml
  test/integration/targets/conditionals/test_warnings.yml
Labels: affects_2.9, bug, core_review, support:community, support:core

#57186 ansible-vault: convert vault_password_files to list to prevent traceback
  changelogs/fragments/vault-ensure-vault-password-files-are-list.yaml
  lib/ansible/cli/vault.py
  test/integration/targets/vault/runme.sh
Labels: affects_2.9, bug, core_review, support:community, support:core

#57201 nxos_snmp_user, nxos_snmp_host integration test fixes.
  test/integration/targets/nxos_snmp_host/tests/common/sanity_snmp_v3_inform.yaml
  test/integration/targets/nxos_snmp_user/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, networking, nxos, shipit, support:network, test

#57307 Fix ignored team
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, bug, core_review, needs_triage, small_patch, support:core

#57089 Add find module `patterns` option use cases documentation
  lib/ansible/modules/files/find.py
Labels: affects_2.9, core_review, docs, files, module, new_contributor, small_patch, support:core

#57158 Update azure_rm_loganalyticsworkspace related module document
  lib/ansible/modules/cloud/azure/azure_rm_loganalyticsworkspace.py
  lib/ansible/modules/cloud/azure/azure_rm_loganalyticsworkspace_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#57305 Fixes typo
  lib/ansible/modules/net_tools/basics/get_url.py
Labels: affects_2.9, core_review, docs, module, needs_triage, net_tools, new_contributor, small_patch, support:core

#57214 unittests for module_utils.common.removed.removed_module function
  test/units/module_utils/common/test_removed.py
Labels: affects_2.9, bug, core_review, needs_triage, support:core

#57238 Mention other ways to handle private key files
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.9, core_review, docs, support:core

#57308 postgresql_db: add note to doc about pg_dump Backport/2.8/57297
  changelogs/fragments/57297-postgresql_db_add_note_dump.yml
  lib/ansible/modules/database/postgresql/postgresql_db.py
Labels: affects_2.8, backport, community_review, database, docs, module, needs_triage, postgresql, support:community

#57304 aws: Handle exceptions while describing metric alarm
  lib/ansible/modules/cloud/amazon/ec2_metric_alarm.py
Labels: affects_2.9, aws, bug, cloud, community_review, module, support:community

#57206 Update azure_rm_manageddisk related document
  lib/ansible/modules/cloud/azure/azure_rm_manageddisk.py
  lib/ansible/modules/cloud/azure/azure_rm_manageddisk_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#56780 Update azure_rm_appgateway.py
  lib/ansible/modules/cloud/azure/azure_rm_appgateway.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, new_contributor, small_patch, support:community

#57198 Set community support for NetApp unit tests in BOTMETA
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, bug, core_review, needs_triage, small_patch, support:core

#57200 Update playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.9, core_review, docs, needs_triage, support:core

#57228 Vyos interface desc fix28
  changelogs/fragments/vyos_interface_fixbackport.yaml
  lib/ansible/modules/network/vyos/vyos_interface.py
  test/integration/targets/vyos_interface/tests/cli/basic.yaml
  test/integration/targets/vyos_interface/tests/cli/net_interface.yaml
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, networking, support:community, support:network

#57236 [stable-2.8] Plugin paths need to be sent in exectutor, too (#57126)
  changelogs/fragments/persistent_loading_2.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/persistent.py
Labels: affects_2.8, backport, bug, core_review, needs_triage, networking, support:community, support:core

#57251 [2.8] docker modules: fix assignments in docker tests
  test/integration/targets/docker_container/tasks/tests/comparisons.yml
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
  test/integration/targets/docker_container/tasks/tests/network.yml
  test/integration/targets/docker_container/tasks/tests/options.yml
  test/integration/targets/docker_container/tasks/tests/regression-45700-dont-parse-on-absent.yml
  test/integration/targets/docker_container/tasks/tests/start-stop.yml
  test/integration/targets/docker_image/tasks/tests/options.yml
  test/integration/targets/docker_network/tasks/tests/basic.yml
  test/integration/targets/docker_network/tasks/tests/ipam.yml
  test/integration/targets/docker_network/tasks/tests/options.yml
  test/integration/targets/docker_network/tasks/tests/overlay.yml
  test/integration/targets/docker_network/tasks/tests/substring.yml
  test/integration/targets/docker_swarm_service/tasks/tests/configs.yml
  test/integration/targets/docker_swarm_service/tasks/tests/logging.yml
  test/integration/targets/docker_swarm_service/tasks/tests/mounts.yml
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
  test/integration/targets/docker_swarm_service/tasks/tests/placement.yml
  test/integration/targets/docker_swarm_service/tasks/tests/resources.yml
  test/integration/targets/docker_swarm_service/tasks/tests/restart_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/rollback_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/secrets.yml
  test/integration/targets/docker_swarm_service/tasks/tests/update_config.yml
  test/integration/targets/docker_volume/tasks/tests/basic.yml
Labels: affects_2.8, backport, bug, cloud, community_review, docker, needs_triage, support:community, test

#57255 k8s: Fix .to_dict not needed (#56147)
  changelogs/fragments/56147-k8s-update-with-force.yaml
  lib/ansible/module_utils/k8s/raw.py
Labels: affects_2.8, backport, bug, clustering, community_review, k8s, needs_triage, support:community

#57085 [2.8] docker_image: fix compatibility bugs
  changelogs/fragments/56610-docker_image-fix-oldstyle-defaults.yml
  changelogs/fragments/56940-docker_image-fail.yml
  lib/ansible/modules/cloud/docker/docker_image.py
  test/integration/targets/docker_image/tasks/tests/old-options.yml
Labels: affects_2.8, backport, bug, cloud, docker, module, shipit, support:community, test

#57298 ovirt vnic profile update readme
  lib/ansible/modules/cloud/ovirt/ovirt_vnic_profile.py
Labels: affects_2.9, cloud, community_review, docs, module, ovirt, owner_pr, support:community

#57290 [2.8] docker_container: improve docs w.r.t. networks_cli_compatible
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, backport, cloud, community_review, docker, docs, module, needs_triage, owner_pr, small_patch, support:community

#56935 Not native, but text (#55676)
  changelogs/fragments/fix_incorrect_nativisim.yml
  lib/ansible/executor/playbook_executor.py
  lib/ansible/parsing/dataloader.py
  lib/ansible/plugins/action/reboot.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/inventory/advanced_host_list.py
  lib/ansible/plugins/inventory/foreman.py
  lib/ansible/plugins/inventory/gcp_compute.py
  lib/ansible/plugins/inventory/host_list.py
  lib/ansible/plugins/loader.py
  lib/ansible/template/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.8, backport, bug, inventory, needs_revision, needs_triage, stale_ci, support:community, support:core

#57288 Update azre_rm_mariadbfirewallrule related document
  lib/ansible/modules/cloud/azure/azure_rm_mariadbfirewallrule.py
  lib/ansible/modules/cloud/azure/azure_rm_mariadbfirewallrule_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#55985 s3_bucket: add encryption capabilities to the module
  hacking/aws_config/testing_policies/storage-policy.json
  lib/ansible/modules/cloud/amazon/s3_bucket.py
  test/integration/targets/s3_bucket/tasks/main.yml
Labels: affects_2.9, aws, cloud, core_review, feature, module, support:core

#57280 VMware: vSphere Automation SDK installation docs
  changelogs/fragments/57224-vmware_vm_inventory-vsphere_sdk.yml
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory.rst
Labels: affects_2.9, core_review, docs, needs_triage, support:community, support:core

#57030 Rename memset_*_facts to memset_*_info
  changelogs/fragments/57030-facts-info-rename.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/cloud/memset/_memset_memstore_facts.py
  lib/ansible/modules/cloud/memset/_memset_server_facts.py
  lib/ansible/modules/cloud/memset/memset_memstore_info.py
  lib/ansible/modules/cloud/memset/memset_server_info.py
  test/integration/targets/memset_memstore_info/aliases
  test/integration/targets/memset_memstore_info/meta/main.yml
  test/integration/targets/memset_memstore_info/tasks/main.yml
  test/integration/targets/memset_server_info/aliases
  test/integration/targets/memset_server_info/meta/main.yml
  test/integration/targets/memset_server_info/tasks/main.yml
Labels: affects_2.9, bug, cloud, deprecated, docs, module, needs_revision, new_module, new_plugin, support:community, support:core

#56237 Added sort option for zabbix_screen module
  changelogs/fragments/56237-added-sort-option-for-zabbix_screen.yml
  lib/ansible/modules/monitoring/zabbix/zabbix_screen.py
Labels: affects_2.9, feature, module, monitoring, shipit, support:community, zabbix

#57258 [2.8] VMware: Use short unique task name for schedule task
  changelogs/fragments/56987-vmware_guest_powerstate-fix_task_name.yml
  lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py
Labels: affects_2.8, backport, bug, cloud, community_review, docs, docsite, module, support:community, vmware

#57326 Correct virtualenv usage in integration tests.
  test/integration/targets/aws_eks/runme.sh
  test/integration/targets/cloudformation_stack_set/runme.sh
  test/integration/targets/ec2_instance/runme.sh
  test/integration/targets/ec2_launch_template/runme.sh
  test/integration/targets/ecs_cluster/runme.sh
  test/integration/targets/efs/runme.sh
  test/integration/targets/elb_target/runme.sh
  test/integration/targets/old_style_cache_plugins/runme.sh
Labels: affects_2.9, bug, cloud, community_review, support:community

#50286 cloud/amazon/aws_config_recorder: add empty resourceTypes list if undefined
  lib/ansible/modules/cloud/amazon/aws_config_recorder.py
Labels: affects_2.8, aws, bug, cloud, module, needs_info, owner_pr, small_patch, stale_ci, support:community

#57229 nxos_vlan: fix broken purge behavior (issue #57101)
  lib/ansible/modules/network/nxos/nxos_vlan.py
  test/integration/targets/nxos_vlan/tests/common/agg.yaml
  test/integration/targets/nxos_vlan/tests/common/sanity.yaml
  test/units/modules/network/nxos/fixtures/nxos_vlan/agg_show_vlan_brief.txt
  test/units/modules/network/nxos/test_nxos_vlan.py
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, support:core, support:network, test

#55481 New module for managing export groups in Vexata storage arrays.
  lib/ansible/modules/storage/vexata/vexata_eg.py
Labels: affects_2.9, module, needs_revision, needs_triage, new_module, new_plugin, storage, support:community

#57221 PR to fix the bug 57215 & 56300 under Nios Host_Record module
  lib/ansible/module_utils/net_tools/nios/api.py
Labels: affects_2.9, bug, core_review, infoblox, net_tools, networking, support:core

#57149 ipaddr: Handle network address in ipmath
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
  lib/ansible/plugins/filter/ipaddr.py
  test/units/plugins/filter/test_ipaddr.py
Labels: affects_2.9, core_review, docs, feature, support:community, support:core

#57338 Update azure_rm_mysqldatabase related document
  lib/ansible/modules/cloud/azure/azure_rm_mysqldatabase.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqldatabase_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community

#57241 Clarify description of 'state' in the package module
  lib/ansible/modules/packaging/os/package.py
Labels: affects_2.9, core_review, docs, module, new_contributor, packaging, support:core

#57279 VMware: Notify team_vmware on connection plugin issues and PRs
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, feature, small_patch, support:core

#57333 Update azure_rm_mariadbserver related document
  lib/ansible/modules/cloud/azure/azure_rm_mariadbserver.py
  lib/ansible/modules/cloud/azure/azure_rm_mariadbserver_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, support:community

#57349 Add Chris Meyers to the tower team
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, feature, needs_triage, small_patch, support:core

#57328 Fix file descriptor leak in lineinfile module.
  changelogs/fragments/57327-fix-file-descriptor-leak.yaml
  lib/ansible/modules/files/lineinfile.py
Labels: affects_2.9, bug, core_review, files, module, support:community, support:core

#57320 Bug Fix: Portset did not allow you to add port when creating a portset
  lib/ansible/modules/storage/netapp/na_ontap_portset.py
  test/units/modules/storage/netapp/test_na_ontap_portset.py
Labels: affects_2.9, bug, module, netapp, shipit, storage, support:community, test

#57346 aws: Update description for iam_role
  lib/ansible/modules/cloud/amazon/iam_role.py
Labels: affects_2.9, aws, bug, cloud, community_review, module, small_patch, support:community

#55772 Add integration test provider for vmware
  test/integration/cloud-config-vcenter.ini.template
  test/runner/lib/cloud/vcenter.py
  test/runner/lib/core_ci.py
Labels: affects_2.9, feature, needs_revision, support:core, test

#57312 group_chars: default change warning only when needed
  changelogs/fragments/group-chars-ignore.yaml
  lib/ansible/inventory/group.py
Labels: affects_2.9, bug, inventory, needs_revision, support:community, support:core

#57377 Limit Python 2.6 units to modules & module_utils.
  test/utils/shippable/units.sh
Labels: affects_2.9, bug, core_review, support:core, test

#57208 win_chocolatey - honour version when bootstrapping chocolatey and fix package listing
  changelogs/fragments/win_chocolatey-version.yaml
  lib/ansible/modules/windows/win_chocolatey.ps1
  lib/ansible/modules/windows/win_chocolatey.py
  test/integration/targets/win_chocolatey/tasks/tests.yml
Labels: affects_2.9, bug, module, needs_revision, support:community, support:core, windows

#55815 ovirt vmpools creating vm options
  lib/ansible/modules/cloud/ovirt/ovirt_vmpool.py
Labels: affects_2.9, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#57384 Update azure_rm_mysqlfirewallrule related document
  lib/ansible/modules/cloud/azure/azure_rm_mysqlfirewallrule.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlfirewallrule_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community

#57382 Update azure_rm_mysqlserver related document
  lib/ansible/modules/cloud/azure/azure_rm_mysqlserver.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlserver_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community

#57387 Mark win_chocolatey as unstable in 2.8 until next release
  test/integration/targets/win_chocolatey/aliases
Labels: affects_2.8, backport, bug, community_review, needs_triage, support:community, windows

#57217 file: fix setting attributes for symlinked file
  changelogs/fragments/56928-file-fix-setting-attr-symlink-follow.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/state_link.yml
Labels: affects_2.9, bug, core_review, files, module, support:community, support:core

#56055 file: fix setting relative paths for src for hard links
  changelogs/fragments/55971-file-relative-path-hard-link.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.9, bug, core_review, files, module, support:community, support:core

#57222 file: return 'useful' error message for recursion error
  changelogs/fragments/56397-file-return-more-useful-error-for-recursion.yaml
  lib/ansible/modules/files/file.py
Labels: affects_2.9, bug, files, module, needs_revision, support:community, support:core

#51627 Make aws_ses_identity module work when region is provided via enviroment or config
  changelogs/fragments/51531-aws_ses_identity-fix-implicit-region.yaml
  lib/ansible/modules/cloud/amazon/aws_ses_identity.py
  test/integration/targets/aws_ses_identity/tasks/main.yaml
Labels: affects_2.8, aws, bug, cloud, module, shipit, support:community

#54499 meraki_admin - Enable check mode
  changelogs/fragments/53597-meraki_admin_check.yml
  lib/ansible/modules/network/meraki/meraki_admin.py
  test/integration/targets/meraki_admin/tasks/main.yml
Labels: affects_2.8, cisco, community_review, feature, meraki, module, needs_triage, networking, support:community, test

#54638 meraki_content_filtering - Enable check mode
  changelogs/fragments/53597-meraki_content_filtering_check_mode.yml
  lib/ansible/modules/network/meraki/meraki_content_filtering.py
  test/integration/targets/meraki_content_filtering/tasks/main.yml
Labels: affects_2.8, cisco, community_review, feature, meraki, module, needs_triage, networking, support:community, test

#57168 Add support for vlan update on ovs bridges
  lib/ansible/modules/network/ovs/openvswitch_bridge.py
  test/integration/targets/openvswitch_bridge/tests/basic.yaml
  test/units/modules/network/ovs/test_openvswitch_bridge.py
Labels: affects_2.9, bug, module, needs_revision, networking, support:core, support:network, test

#56818 meraki_network - Restructure execution logic
  lib/ansible/module_utils/network/meraki/meraki.py
  lib/ansible/modules/network/meraki/meraki_network.py
  test/integration/targets/meraki_network/tasks/main.yml
Labels: affects_2.9, bug, cisco, meraki, module, needs_revision, networking, support:community, test

#56929 New module - meraki_malware
  lib/ansible/modules/network/meraki/meraki_config_template.py
  lib/ansible/modules/network/meraki/meraki_malware.py
  lib/ansible/modules/network/meraki/meraki_organization.py
  lib/ansible/modules/network/meraki/meraki_snmp.py
  lib/ansible/plugins/doc_fragments/meraki.py
  test/integration/targets/meraki_malware/aliases
  test/integration/targets/meraki_malware/tasks/main.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.9, cisco, core_review, meraki, module, networking, new_module, new_plugin, support:community, support:core, test

#57183 update lib/ansible/plugins/action/ce.py to fix a bug.
  lib/ansible/plugins/action/ce.py
Labels: affects_2.9, bug, community_review, needs_triage, support:community

#57187 update ce_facts to fix array out range bug
  lib/ansible/modules/network/cloudengine/ce_facts.py
Labels: affects_2.9, bug, community_review, module, needs_triage, networking, owner_pr, small_patch, support:community

#57257 option is marked as required but specifies a default
  lib/ansible/modules/network/cloudengine/ce_reboot.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.9, bug, core_review, module, needs_maintainer, needs_triage, networking, support:community, support:core, test

#55396 Support `--valid_pgpkeys` option in Git module ()
  changelogs/fragments/55396-git-gpg-whitelist.yml
  lib/ansible/modules/source_control/git.py
Labels: affects_2.9, feature, module, needs_revision, new_contributor, source_control, support:community, support:core

#57391 postgresql_table: 57352 bugfix, add schema handling
  changelogs/fragments/57391-postgresql_table_bugfix_schema_handling.yml
  lib/ansible/modules/database/postgresql/postgresql_table.py
  test/integration/targets/postgresql/tasks/postgresql_table.yml
Labels: affects_2.9, bug, database, module, postgresql, shipit, support:community, test

#57420 2.9 roadmap dates
  docs/docsite/rst/roadmap/ROADMAP_2_9.rst
Labels: affects_2.9, core_review, docs, support:core

#57316 update docsite breadcrumbs from sphinx_rtd_theme
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/conf.py
Labels: affects_2.9, core_review, docs, support:core

#57423 [backport]update docsite breadcrumbs from sphinx_rtd_theme (#57316)
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/conf.py
Labels: affects_2.8, backport, core_review, docs, support:core

#57424 [Backport] Breadcrumb fix 57316
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/conf.py
Labels: affects_2.7, backport, core_review, docs, support:core

#57426 [backport] fix breadcrumbs
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/conf.py
Labels: affects_2.6, backport, docs

#57428 [Backport] Roadmap and dates for 2.9
  docs/docsite/rst/roadmap/ROADMAP_2_9.rst
  docs/docsite/rst/roadmap/index.rst
Labels: affects_2.8, backport, core_review, docs, support:core

#57431 Fix podman_image_info parsing of podman output.
  lib/ansible/modules/cloud/podman/podman_image_info.py
Labels: affects_2.9, bug, cloud, community_review, module, small_patch, support:community

#57434 Temp disable podman_image_info tests.
  test/integration/targets/podman_image_info/aliases
Labels: affects_2.8, backport, bug, community_review, support:community

#56954 Make purefa_pgsnap module handle its own exit correctly
  lib/ansible/modules/storage/purestorage/purefa_pgsnap.py
Labels: affects_2.9, automerge, bug, module, owner_pr, pure_storage, shipit, small_patch, storage, support:community

#57144 Add new logging facilties defaults
  lib/ansible/modules/network/nxos/nxos_logging.py
Labels: affects_2.9, bug, cisco, module, networking, nxos, owner_pr, shipit, small_patch, support:network

#57358 Fix nxos_vtp_version test
  test/integration/targets/nxos_vtp_version/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, networking, nxos, shipit, support:network, test

#57395 rename modules azure_rm_..._facts to azure_rm_..._info
  changelogs/fragments/57395-facts-info-rename.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_info.py
  test/legacy/roles/azure_rm_resourcegroup/tasks/main.yml
Labels: affects_2.9, azure, bug, cloud, core_review, docs, module, needs_triage, new_contributor, new_module, new_plugin, support:community, support:core, test

#57295 openssh_keypair: make fingerprint result a string
  changelogs/fragments/57295-openssh_keypair-fingerprint.yaml
  lib/ansible/modules/crypto/openssh_keypair.py
  test/integration/targets/openssh_keypair/tasks/main.yml
  test/integration/targets/openssh_keypair/tests/validate.yml
Labels: affects_2.9, bug, crypto, module, shipit, support:community

#57453 ovirt vmpool fix
  lib/ansible/modules/cloud/ovirt/ovirt_vmpool.py
Labels: affects_2.9, automerge, bug, cloud, module, ovirt, owner_pr, shipit, small_patch, support:community

#57418 Fix #56640: Map k8s ansible keys to api keys
  lib/ansible/module_utils/k8s/common.py
  test/integration/targets/k8s/tasks/full_test.yml
Labels: affects_2.9, bug, clustering, k8s, needs_revision, support:community

#57299 ovirt: Resolve also list of hrefs
  changelogs/fragments/ovirt_fetch_also_list_of_hrefs.yaml
  lib/ansible/module_utils/ovirt.py
Labels: affects_2.9, bug, cloud, ovirt, shipit, support:community

#57256 Add tests for #56147
  test/integration/targets/k8s/tasks/full_test.yml
Labels: affects_2.9, clustering, feature, k8s, shipit, support:community

#56317 nxos_bfd_global / NxosCmdRef initial commit
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/nxos/nxos_bfd_global.py
  test/integration/targets/nxos_bfd_global/defaults/main.yaml
  test/integration/targets/nxos_bfd_global/meta/main.yml
  test/integration/targets/nxos_bfd_global/tasks/cli.yaml
  test/integration/targets/nxos_bfd_global/tasks/main.yaml
  test/integration/targets/nxos_bfd_global/tasks/nxapi.yaml
  test/integration/targets/nxos_bfd_global/tests/common/sanity.yaml
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
  test/units/modules/network/nxos/fixtures/nxos_bfd_global/N7K.cfg
  test/units/modules/network/nxos/fixtures/nxos_bfd_global/N9K.cfg
  test/units/modules/network/nxos/test_nxos_bfd_global.py
Labels: affects_2.9, cisco, module, networking, new_module, new_plugin, nxos, shipit, support:community, support:core, support:network, test

#57461 Fixed typo in task_executor
  lib/ansible/executor/task_executor.py
Labels: affects_2.9, core_review, docs, needs_triage, small_patch, support:core

#57336 ios_logging improvement
  lib/ansible/modules/network/ios/ios_logging.py
Labels: affects_2.9, cisco, core_review, docs, ios, module, networking, support:network

#57124 ability to filter running config for vyos
  lib/ansible/modules/network/vyos/vyos_interface.py
  lib/ansible/plugins/cliconf/vyos.py
Labels: affects_2.9, core_review, feature, module, networking, support:network

#55074 Implement a new module to support Batch Account
  lib/ansible/modules/cloud/azure/azure_rm_batchaccount.py
  test/integration/targets/azure_rm_batchaccount/aliases
  test/integration/targets/azure_rm_batchaccount/meta/main.yml
  test/integration/targets/azure_rm_batchaccount/tasks/main.yml
Labels: affects_2.8, azure, cloud, module, needs_revision, new_contributor, new_module, new_plugin, support:community

#57491 add info about hwaddr conversion formats
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.9, core_review, docs, networking, support:core

#57432 aws: Narrow down ami filter for elb_application_lb integration tests
  test/integration/targets/elb_application_lb/tasks/test_alb_with_asg.yml
Labels: affects_2.9, bug, cloud, community_review, support:community

#57385 Correct grammar
  lib/ansible/inventory/manager.py
Labels: affects_2.9, bug, core_review, inventory, needs_triage, new_contributor, small_patch, support:core

#57188 safe_eval fix
  changelogs/fragments/fix_safe_eval.yml
  lib/ansible/template/__init__.py
  lib/ansible/template/safe_eval.py
  test/integration/targets/docker_image/tasks/tests/old-options.yml
  test/integration/targets/meraki_static_route/tasks/main.yml
  test/integration/targets/netapp_eseries_host/tasks/run.yml
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/template/corner_cases.yml
  test/integration/targets/template/runme.sh
  test/legacy/ovs.yaml
Labels: affects_2.9, bug, cisco, cloud, docker, files, meraki, needs_revision, networking, postgresql, support:community, support:core, test

#56827 Optimize the code for the callback module
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/counter_enabled.py
  lib/ansible/plugins/callback/default.py
  lib/ansible/plugins/callback/unixy.py
Labels: affects_2.9, feature, new_contributor, shipit, support:community, support:core

#57489 Perf improvement for Templar.is_template
  changelogs/fragments/faster-is-template.yaml
  lib/ansible/executor/task_executor.py
  lib/ansible/inventory/manager.py
  lib/ansible/parsing/mod_args.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/role/definition.py
  lib/ansible/template/__init__.py
  test/units/template/test_templar.py
Labels: P3, affects_2.9, feature, inventory, needs_revision, support:community, support:core

#57510 Disable the rabbitmq tests for now
  test/integration/targets/rabbitmq_binding/aliases
  test/integration/targets/rabbitmq_lookup/aliases
  test/integration/targets/rabbitmq_plugin/aliases
  test/integration/targets/rabbitmq_publish/aliases
  test/integration/targets/rabbitmq_user/aliases
  test/integration/targets/rabbitmq_vhost/aliases
  test/integration/targets/rabbitmq_vhost_limits/aliases
Labels: affects_2.9, bug, community_review, messaging, needs_triage, rabbitmq, support:community

#57519 Fix RuntimeError on Python 3.8.
  lib/ansible/modules/network/dellos9/dellos9_facts.py
  lib/ansible/modules/storage/netapp/na_ontap_quotas.py
Labels: affects_2.9, bug, committer_review, module, netapp, networking, python3, small_patch, storage, support:certified, support:community

#56807 nxos_interface_ospf: Add bfd support
  lib/ansible/modules/network/nxos/nxos_interface_ospf.py
  test/integration/targets/nxos_interface_ospf/tests/common/sanity.yaml
  test/units/modules/network/nxos/fixtures/nxos_interface_ospf/config.cfg
  test/units/modules/network/nxos/test_nxos_interface_ospf.py
Labels: affects_2.9, cisco, core_review, feature, module, networking, nxos, support:core, support:network, test

#57524 Fix azure_rm_resourcegroup integration test.
  test/integration/targets/azure_rm_resourcegroup/aliases
  test/integration/targets/azure_rm_resourcegroup/tasks/main.yml
Labels: affects_2.9, azure, bug, cloud, community_review, support:community

#55027 New module postgresql_sequence
  lib/ansible/module_utils/database.py
  lib/ansible/modules/database/postgresql/postgresql_sequence.py
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/postgresql_sequence.yml
Labels: affects_2.9, database, module, new_module, new_plugin, postgresql, shipit, support:community, test

#57325 Updated documentation for zabbix-screen module
  changelogs/fragments/57235-zabbix_screen-documentation-update.yml
  lib/ansible/modules/monitoring/zabbix/zabbix_screen.py
Labels: affects_2.9, docs, module, monitoring, shipit, support:community, zabbix

#56353 Update file.py's initial_diff() to list existing when state: absent
  changelogs/fragments/56353-file-extend-absent-diff-result.yml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.9, feature, files, module, needs_revision, new_contributor, support:community, support:core

#57465 Update links to AWS module guidelines to target the devel docsite since it's been removed from devel
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/index.rst
Labels: affects_2.8, backport, core_review, docs, docsite, needs_triage, support:core

#57481 PR to fix the IOS_NTP integration TC failure
  test/integration/targets/ios_ntp/tests/cli/ntp_configuration.yaml
Labels: affects_2.9, bug, ci_verified, cisco, ios, needs_revision, networking, support:network, test

#57549 Fix yamllint failure.
  test/integration/targets/ios_ntp/tests/cli/ntp_configuration.yaml
Labels: affects_2.9, bug, cisco, core_review, ios, networking, support:network, test

#57269 update info-center to fix bugs
  lib/ansible/modules/network/cloudengine/ce_info_center_debug.py
  lib/ansible/modules/network/cloudengine/ce_info_center_global.py
  lib/ansible/modules/network/cloudengine/ce_info_center_log.py
  lib/ansible/modules/network/cloudengine/ce_info_center_trap.py
Labels: affects_2.9, bug, community_review, module, needs_maintainer, needs_triage, networking, support:community

#57270 update vrf to fix bugs
  lib/ansible/modules/network/cloudengine/ce_vrf.py
  lib/ansible/modules/network/cloudengine/ce_vrf_af.py
  lib/ansible/modules/network/cloudengine/ce_vrf_interface.py
Labels: affects_2.9, bug, community_review, module, needs_maintainer, needs_triage, networking, support:community

#57551 Fix azure_rm_virtualnetwork integration test.
  test/integration/targets/azure_rm_virtualnetwork/tasks/main.yml
Labels: affects_2.9, azure, bug, cloud, community_review, support:community

#57493 Fixes lack of support for Cumulus Linux with Hostname module
  changelogs/fragments/hostname_cumulus_linux_support.yaml
  lib/ansible/modules/system/hostname.py
Labels: affects_2.9, bug, module, needs_revision, new_contributor, support:community, system

#57556 Move azure_rm_autoscale test from group 2 to 5.
  test/integration/targets/azure_rm_autoscale/aliases
Labels: affects_2.9, azure, bug, cloud, community_review, support:community

#57555 Use Python 3.7 to run ansible-test.
  test/utils/shippable/shippable.sh
Labels: affects_2.9, bug, needs_revision, python3, support:core, test

#56220 Fix rds_instance module…
  lib/ansible/modules/cloud/amazon/rds_instance.py
Labels: affects_2.9, automerge, aws, bug, cloud, module, performance, shipit, support:community

#57527 Additional rename fixes
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/config/module_defaults.yml
  lib/ansible/modules/cloud/azure/_azure_rm_resourcegroup_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_info.py
  test/integration/targets/azure_rm_resourcegroup/tasks/main.yml
Labels: affects_2.9, azure, bug, ci_verified, cloud, deprecated, docs, module, needs_revision, needs_triage, support:community, support:core

#57558 File module - fix unicode paths and add a test
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
  test/integration/targets/file/tasks/unicode_path.yml
Labels: affects_2.9, bug, core_review, files, module, needs_triage, small_patch, support:core

#57517 Upgrade tests to use default-test-container 1.8.0.
  test/runner/completion/docker.txt
Labels: affects_2.9, feature, needs_revision, support:core, test

#57557 acme_certificate: fix docs
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.9, automerge, bug, crypto, module, owner_pr, shipit, support:community

#57530 acme_*: new test container, tests for IP certificates
  test/integration/targets/acme_certificate/tasks/impl.yml
  test/integration/targets/setup_acme/tasks/obtain-cert.yml
  test/runner/lib/cloud/acme.py
Labels: affects_2.9, bug, cloud, crypto, shipit, support:community, support:core, test

#55347 Fix idempotency issue when updating host object in FlashArray (purefa_host)
  lib/ansible/modules/storage/purestorage/purefa_host.py
Labels: affects_2.9, automerge, bug, module, owner_pr, pure_storage, shipit, storage, support:community

#57506 Add module to enable or disable arrays phonehome capability
  lib/ansible/modules/storage/purestorage/purefa_phonehome.py
Labels: affects_2.9, module, new_module, new_plugin, pure_storage, shipit, storage, support:community

#57486 Add new module to add or delete array syslog servers to array config
  lib/ansible/modules/storage/purestorage/purefa_syslog.py
Labels: affects_2.9, module, new_module, new_plugin, pure_storage, shipit, storage, support:community

#57496 New module to set array name for Pure Storage FlashArray
  lib/ansible/modules/storage/purestorage/purefa_arrayname.py
Labels: affects_2.9, module, new_module, new_plugin, pure_storage, shipit, storage, support:community

#55762 vultr_server: implement support for IDs to match resources
  changelogs/fragments/vultr-id_support.yml
  lib/ansible/module_utils/vultr.py
  lib/ansible/modules/cloud/vultr/vultr_server.py
  test/integration/targets/vultr_server/tasks/main.yml
Labels: affects_2.9, cloud, community_review, feature, module, needs_triage, support:community, test, vultr

#57507 Merge authentication options back into a single field to prevent losing options beyond the first
  changelogs/fragments/57507-postgresql_pg_hba_multiple_options.yml
  lib/ansible/modules/database/postgresql/postgresql_pg_hba.py
  test/integration/targets/postgresql/tasks/postgresql_pg_hba.yml
Labels: affects_2.9, bug, database, module, needs_revision, new_contributor, postgresql, support:community, test

#57366 Add ability to multiple schedules for snapshot_policy
  lib/ansible/modules/storage/netapp/na_ontap_snapshot_policy.py
  test/units/modules/storage/netapp/test_na_ontap_snapshot_policy.py
Labels: affects_2.9, bug, module, netapp, shipit, storage, support:community, test

#56809 Add type: for options in docs for Redfish modules
  changelogs/fragments/56809-add-options-type-info-for-redfish-modules.yaml
  lib/ansible/modules/remote_management/redfish/idrac_redfish_command.py
  lib/ansible/modules/remote_management/redfish/idrac_redfish_config.py
  lib/ansible/modules/remote_management/redfish/idrac_redfish_facts.py
  lib/ansible/modules/remote_management/redfish/redfish_command.py
  lib/ansible/modules/remote_management/redfish/redfish_config.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.9, bug, module, remote_management, shipit, support:community

#56864 Add MACAddress property to GetNicInventory
  changelogs/fragments/56864-add-macaddress-to-get-nic-inventory.yaml
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.9, bug, shipit, support:community

#54585 Fix creating a system auditor using tower_user
  changelogs/fragments/tower_user-system-auditor.yaml
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_user.py
Labels: affects_2.8, bug, module, shipit, support:community, tower, web_infrastructure

#56069 Avoid power on/off commands if system already in target state
  changelogs/fragments/56069-make-redfish-power-commands-idempotent.yaml
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.9, bug, shipit, support:community

#55440 Ovirt add job
  lib/ansible/modules/cloud/ovirt/ovirt_job.py
Labels: affects_2.9, cloud, module, new_module, new_plugin, ovirt, shipit, support:community

#57534 postgresql_tablespace: remove extra lines from the doc, add docstrings
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/modules/database/postgresql/postgresql_tablespace.py
Labels: affects_2.9, community_review, database, docs, module, owner_pr, postgresql, support:community

#57603 postgresql: moved function exec_sql from the modules to module_utils
  lib/ansible/module_utils/postgres.py
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/modules/database/postgresql/postgresql_sequence.py
Labels: affects_2.9, bug, database, module, owner_pr, postgresql, shipit, support:community

#49061 Extended cloudfront_facts module to have a predictable return value…
  lib/ansible/modules/cloud/amazon/cloudfront_facts.py
Labels: affects_2.8, aws, cloud, feature, module, needs_revision, stale_ci, stale_review, support:community

#57036 Rename ali_instance_facts -> ali_instance_info
  changelogs/fragments/57036-facts-info-rename.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/cloud/alicloud/_ali_instance_facts.py
  lib/ansible/modules/cloud/alicloud/ali_instance_info.py
Labels: affects_2.9, bug, cloud, deprecated, docs, module, needs_rebase, needs_revision, new_module, new_plugin, support:community, support:core

#53438 Adding dell ome device_info module
  lib/ansible/module_utils/remote_management/dellemc/ome.py
  lib/ansible/modules/remote_management/dellemc/ome/__init__.py
  lib/ansible/modules/remote_management/dellemc/ome/ome_device_info.py
  test/units/module_utils/remote_management/__init__.py
  test/units/module_utils/remote_management/dellemc/__init__.py
  test/units/module_utils/remote_management/dellemc/test_ome.py
  test/units/modules/remote_management/dellemc/__init__.py
  test/units/modules/remote_management/dellemc/ome/__init__.py
  test/units/modules/remote_management/dellemc/ome/test_ome_device_info.py
Labels: affects_2.8, module, new_contributor, new_module, new_plugin, remote_management, shipit, support:community, support:core

#57020 Second batch for _facts -> _info rename
  changelogs/fragments/57020-facts-info-rename.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/remote_management/intersight/_intersight_facts.py
  lib/ansible/modules/remote_management/intersight/intersight_info.py
  lib/ansible/modules/source_control/_github_hooks.py
  lib/ansible/modules/source_control/_github_webhook_facts.py
  lib/ansible/modules/source_control/github_webhook_info.py
  lib/ansible/modules/web_infrastructure/_jenkins_job_facts.py
  lib/ansible/modules/web_infrastructure/jenkins_job_info.py
  test/integration/targets/intersight_info/aliases
  test/integration/targets/intersight_info/tasks/main.yml
Labels: affects_2.9, bug, cisco, deprecated, docs, intersight, module, needs_revision, new_module, new_plugin, remote_management, source_control, support:community, support:core, test, web_infrastructure

#57480 FTD configuration module: fix a bug with response parsing
  lib/ansible/module_utils/network/ftd/common.py
  lib/ansible/module_utils/network/ftd/device.py
  lib/ansible/modules/network/ftd/ftd_install.py
  test/units/module_utils/network/ftd/test_common.py
  test/units/modules/network/ftd/test_ftd_install.py
Labels: affects_2.9, bug, cisco, ftd, module, needs_revision, needs_triage, networking, support:community, support:core, test

#57613 AWS modules: _facts -> _info
  changelogs/fragments/57613-aws-facts-info.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/cloud/amazon/_aws_acm_facts.py
  lib/ansible/modules/cloud/amazon/_aws_az_facts.py
  lib/ansible/modules/cloud/amazon/_aws_caller_facts.py
  lib/ansible/modules/cloud/amazon/_aws_kms_facts.py
  lib/ansible/modules/cloud/amazon/_aws_region_facts.py
  lib/ansible/modules/cloud/amazon/_aws_sgw_facts.py
  lib/ansible/modules/cloud/amazon/_aws_waf_facts.py
  lib/ansible/modules/cloud/amazon/aws_acm_info.py
  lib/ansible/modules/cloud/amazon/aws_az_info.py
  lib/ansible/modules/cloud/amazon/aws_caller_info.py
  lib/ansible/modules/cloud/amazon/aws_config_aggregation_authorization.py
  lib/ansible/modules/cloud/amazon/aws_kms.py
  lib/ansible/modules/cloud/amazon/aws_kms_info.py
  lib/ansible/modules/cloud/amazon/aws_region_info.py
  lib/ansible/modules/cloud/amazon/aws_sgw_info.py
  lib/ansible/modules/cloud/amazon/aws_waf_info.py
  lib/ansible/modules/cloud/amazon/cloudformation_stack_set.py
  test/integration/targets/aws_caller_info/aliases
  test/integration/targets/aws_caller_info/tasks/main.yaml
  test/integration/targets/aws_kms/aliases
  test/integration/targets/aws_kms/tasks/main.yml
  test/integration/targets/aws_secret/tasks/main.yaml
  test/integration/targets/aws_waf_web_acl/aliases
  test/integration/targets/cloudformation_stack_set/tasks/main.yml
  test/integration/targets/ec2_group/tasks/multi_account.yml
  test/integration/targets/lambda_policy/tasks/main.yml
Labels: affects_2.9, aws, bug, cloud, deprecated, docs, module, needs_revision, new_module, new_plugin, support:community, support:core

#57309 Fix junos integration zuul CI failures
  lib/ansible/plugins/netconf/__init__.py
  test/integration/targets/junos_facts/tests/netconf/facts.yaml
  test/integration/targets/junos_lldp/tests/netconf/basic.yaml
  test/integration/targets/junos_lldp/tests/netconf/net_lldp.yaml
  test/integration/targets/junos_lldp_interface/tests/netconf/basic.yaml
  test/integration/targets/junos_lldp_interface/tests/netconf/net_lldp_interface.yaml
  test/integration/targets/junos_rpc/tests/netconf/rpc.yaml
  test/integration/targets/netconf_config/tests/junos/basic.yaml
  test/integration/targets/netconf_config/tests/junos/fixtures/config.yml
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#57578 Make netconf_get python3 compat
  lib/ansible/modules/network/netconf/netconf_get.py
Labels: affects_2.9, bug, core_review, module, needs_triage, networking, python3, support:network

#57600 Update azure_rm_postgresqlserver relate document
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community

#57598 Update azure_rm_postgresqlfirewallrule related document
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlfirewallrule.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlfirewallrule_facts.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, support:community
