Repository ansible/ansible, pull requests merged in 2019-11, with the labels that each got.

#64109 [Doc-release-2.9] update to latest 3 versions for 2.9 release
  docs/docsite/rst/conf.py
Labels: affects_2.10, core_review, docs, small_patch, support:core

#64167 [Doc-Release-2.9] update too old version to 2.4
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.10, bug, core_review, docs, small_patch, support:core

#64162 [Doc-Release-2.9] Add Roadmap 2.10
  docs/docsite/rst/roadmap/ROADMAP_2_1.rst
  docs/docsite/rst/roadmap/ROADMAP_2_10.rst
  docs/docsite/rst/roadmap/ROADMAP_2_2.rst
  docs/docsite/rst/roadmap/ROADMAP_2_3.rst
  docs/docsite/rst/roadmap/ROADMAP_2_4.rst
  docs/docsite/rst/roadmap/index.rst
Labels: affects_2.10, core_review, docs, support:core

#64122 [Doc-Release-2.9] reorder porting guides
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.10, core_review, docs, support:core

#64168 [Doc-Release-2.9] update backport instructions to use stable-2.9
  docs/docsite/rst/community/development_process.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#64166 [Doc-Release-2.9] update release and maintenance page for 2.9
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.10, core_review, docs, support:core

#64046 Fix network plugin config option load from collection
  lib/ansible/plugins/connection/httpapi.py
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.10, bug, core_review, networking, support:network

#64124 [Docs-Release-2.9] clean up porting guide links and network text
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.10, core_review, docs, support:core

#64266 [Doc-Release-2.9][2.9] change 2.9 to lateset
  docs/docsite/rst/conf.py
Labels: affects_2.9, backport, core_review, docs, small_patch, support:core

#64173 Backport/2.9/docs release
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/conf.py
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.9, backport, core_review, docs, docsite, support:core

#63527 removing args from task_fields as it can contain sensitive data
  changelogs/fragments/63522-remove-args-from-sumologic-and-splunk-callbacks.yml
  lib/ansible/plugins/callback/splunk.py
  lib/ansible/plugins/callback/sumologic.py
Labels: P2, affects_2.10, bug, needs_revision, new_contributor, support:community

#64270 [Doc-Release-2.9] Backport/2.8/docs release
  docs/docsite/rst/conf.py
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.8, backport, docs

#64272 [Doc-Release-2.9] Backport/2.7/docs release
  docs/docsite/rst/conf.py
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.7, backport, core_review, docs, support:core

#64277 Exclude the ansible-test script from the main rpm package
  packaging/rpm/ansible.spec
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core

#64280 Temporarily increase CI timeout.
  test/utils/shippable/shippable.sh
Labels: affects_2.10, bug, needs_revision, support:core, test

#63340 Fix ec2_instance module behavior when setting tenancy and placement_group params
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: affects_2.10, aws, bug, cloud, module, new_contributor, shipit, small_patch, support:community

#64057 Add a named parameter to the filter to_uuid
  changelogs/fragments/64057-Add_named_parameter_to_the_to_uuid_filter.yaml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/core.py
  test/units/plugins/filter/test_uuid.py
Labels: affects_2.10, docs, feature, has_issue, needs_revision, new_contributor, new_plugin, support:community, support:core

#64193 Bug fixes for GCP (as of 2019-10-30T06:04:39Z)
  test/integration/targets/gcp_compute_firewall/tasks/main.yml
  test/integration/targets/gcp_compute_firewall/tasks/update.yml
Labels: affects_2.10, automerge, bug, cloud, shipit, support:community, test

#64136 New GCP module: gcp_compute_target_instance_info
  lib/ansible/modules/cloud/google/gcp_compute_target_instance_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#64133 New GCP module: gcp_compute_reservation
  lib/ansible/modules/cloud/google/gcp_compute_reservation.py
  test/integration/targets/gcp_compute_reservation/aliases
  test/integration/targets/gcp_compute_reservation/meta/main.yml
  test/integration/targets/gcp_compute_reservation/tasks/autogen.yml
  test/integration/targets/gcp_compute_reservation/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#64289 add porting guide for bare vars in conditionals (#60943)
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
Labels: affects_2.8, backport, bug, core_review, docs, support:core

#64281 [stable-2.9] Exclude the ansible-test script from the main rpm package (#64277)
  packaging/rpm/ansible.spec
Labels: affects_2.9, backport, bug, core_review, needs_triage, small_patch, support:core

#64290 [Docs-Release-2.9] clean up porting guide links and network text (#64…
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.9, backport, core_review, docs, support:core

#64282 Use templating in HostVarsVars __repr__
  changelogs/fragments/64282-hostvarsvars-templating.yaml
  lib/ansible/vars/hostvars.py
  test/integration/targets/var_templating/group_vars/all.yml
  test/integration/targets/var_templating/runme.sh
  test/integration/targets/var_templating/task_vars_templating.yml
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#64293 add general facts-to-info paragraph
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.10, docs, shipit, small_patch, support:core

#63938 VMware Inventory Fixes
  lib/ansible/plugins/inventory/vmware_vm_inventory.py
Labels: affects_2.10, bug, cloud, inventory, shipit, support:community, vmware

#64297 add general facts-to-info paragraph (#64293)
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.9, backport, core_review, docs, needs_triage, small_patch, support:core

#64287 reduce README to essential info
  docs/docsite/README.md
Labels: affects_2.10, core_review, docs, needs_triage, support:core

#64322 Increase unit test timeout in CI.
  test/utils/shippable/units.sh
Labels: affects_2.10, bug, core_review, support:core, test

#64330 cloud/openstack: fix os_server_action error when wait is False
  lib/ansible/modules/cloud/openstack/os_server_action.py
Labels: affects_2.10, automerge, bug, cloud, module, new_contributor, openstack, shipit, support:community

#63547 mysql_variables: add mode parameter
  changelogs/fragments/63547-mysql_variables_add_mode_param.yml
  lib/ansible/modules/database/mysql/mysql_variables.py
  test/integration/targets/mysql_variables/tasks/mysql_variables.yml
Labels: affects_2.10, database, feature, module, mysql, shipit, support:community, test

#63945 Refactor CLI prompt mode check for network plugins
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/plugins/action/aireos.py
  lib/ansible/plugins/action/aruba.py
  lib/ansible/plugins/action/ce.py
  lib/ansible/plugins/action/cnos.py
  lib/ansible/plugins/action/dellos10.py
  lib/ansible/plugins/action/dellos6.py
  lib/ansible/plugins/action/dellos9.py
  lib/ansible/plugins/action/enos.py
  lib/ansible/plugins/action/eos.py
  lib/ansible/plugins/action/ios.py
  lib/ansible/plugins/action/iosxr.py
  lib/ansible/plugins/action/ironware.py
  lib/ansible/plugins/action/junos.py
  lib/ansible/plugins/action/nxos.py
  lib/ansible/plugins/action/vyos.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/aireos.py
  lib/ansible/plugins/cliconf/aruba.py
  lib/ansible/plugins/cliconf/ce.py
  lib/ansible/plugins/cliconf/cnos.py
  lib/ansible/plugins/cliconf/dellos10.py
  lib/ansible/plugins/cliconf/dellos6.py
  lib/ansible/plugins/cliconf/dellos9.py
  lib/ansible/plugins/cliconf/enos.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/ironware.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/cliconf/vyos.py
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.10, aireos, cisco, feature, has_issue, huawei, ios, iosxr, needs_revision, networking, nxos, support:community, support:core, support:network

#64346 Doc notes 1
  lib/ansible/modules/network/cloudengine/ce_aaa_server.py
  lib/ansible/modules/network/cloudengine/ce_aaa_server_host.py
  lib/ansible/modules/network/cloudengine/ce_acl.py
  lib/ansible/modules/network/cloudengine/ce_acl_advance.py
  lib/ansible/modules/network/cloudengine/ce_acl_interface.py
  lib/ansible/modules/network/cloudengine/ce_bfd_global.py
  lib/ansible/modules/network/cloudengine/ce_bfd_session.py
  lib/ansible/modules/network/cloudengine/ce_bfd_view.py
  lib/ansible/modules/network/cloudengine/ce_bgp.py
  lib/ansible/modules/network/cloudengine/ce_bgp_af.py
Labels: affects_2.10, automerge, docs, huawei, module, networking, owner_pr, shipit, support:community

#64349 Doc notes 4
  lib/ansible/modules/network/cloudengine/ce_lacp.py
  lib/ansible/modules/network/cloudengine/ce_link_status.py
  lib/ansible/modules/network/cloudengine/ce_lldp.py
  lib/ansible/modules/network/cloudengine/ce_lldp_interface.py
  lib/ansible/modules/network/cloudengine/ce_mlag_config.py
  lib/ansible/modules/network/cloudengine/ce_mlag_interface.py
  lib/ansible/modules/network/cloudengine/ce_mtu.py
  lib/ansible/modules/network/cloudengine/ce_netconf.py
  lib/ansible/modules/network/cloudengine/ce_netstream_aging.py
  lib/ansible/modules/network/cloudengine/ce_netstream_export.py
Labels: affects_2.10, automerge, docs, huawei, module, networking, owner_pr, shipit, support:community

#64348 Doc notes 3
  lib/ansible/modules/network/cloudengine/ce_evpn_global.py
  lib/ansible/modules/network/cloudengine/ce_facts.py
  lib/ansible/modules/network/cloudengine/ce_file_copy.py
  lib/ansible/modules/network/cloudengine/ce_info_center_debug.py
  lib/ansible/modules/network/cloudengine/ce_info_center_global.py
  lib/ansible/modules/network/cloudengine/ce_info_center_log.py
  lib/ansible/modules/network/cloudengine/ce_info_center_trap.py
  lib/ansible/modules/network/cloudengine/ce_interface.py
  lib/ansible/modules/network/cloudengine/ce_interface_ospf.py
  lib/ansible/modules/network/cloudengine/ce_ip_interface.py
Labels: affects_2.10, automerge, docs, huawei, module, networking, owner_pr, shipit, support:community

#64351 Doc notes 6
  lib/ansible/modules/network/cloudengine/ce_vlan.py
  lib/ansible/modules/network/cloudengine/ce_vrf.py
  lib/ansible/modules/network/cloudengine/ce_vrf_af.py
  lib/ansible/modules/network/cloudengine/ce_vrf_interface.py
  lib/ansible/modules/network/cloudengine/ce_vrrp.py
  lib/ansible/modules/network/cloudengine/ce_vxlan_arp.py
  lib/ansible/modules/network/cloudengine/ce_vxlan_gateway.py
  lib/ansible/modules/network/cloudengine/ce_vxlan_global.py
  lib/ansible/modules/network/cloudengine/ce_vxlan_tunnel.py
  lib/ansible/modules/network/cloudengine/ce_vxlan_vap.py
Labels: affects_2.10, automerge, docs, huawei, module, networking, owner_pr, shipit, support:community

#64350 Doc notes 5
  lib/ansible/modules/network/cloudengine/ce_netstream_global.py
  lib/ansible/modules/network/cloudengine/ce_netstream_template.py
  lib/ansible/modules/network/cloudengine/ce_ntp.py
  lib/ansible/modules/network/cloudengine/ce_ntp_auth.py
  lib/ansible/modules/network/cloudengine/ce_ospf.py
  lib/ansible/modules/network/cloudengine/ce_ospf_vrf.py
  lib/ansible/modules/network/cloudengine/ce_reboot.py
  lib/ansible/modules/network/cloudengine/ce_rollback.py
  lib/ansible/modules/network/cloudengine/ce_sflow.py
  lib/ansible/modules/network/cloudengine/ce_snmp_community.py
  lib/ansible/modules/network/cloudengine/ce_snmp_contact.py
  lib/ansible/modules/network/cloudengine/ce_snmp_location.py
  lib/ansible/modules/network/cloudengine/ce_snmp_target_host.py
  lib/ansible/modules/network/cloudengine/ce_snmp_traps.py
  lib/ansible/modules/network/cloudengine/ce_snmp_user.py
  lib/ansible/modules/network/cloudengine/ce_startup.py
  lib/ansible/modules/network/cloudengine/ce_static_route.py
  lib/ansible/modules/network/cloudengine/ce_static_route_bfd.py
  lib/ansible/modules/network/cloudengine/ce_stp.py
  lib/ansible/modules/network/cloudengine/ce_switchport.py
Labels: affects_2.10, automerge, docs, huawei, module, networking, owner_pr, shipit, support:community

#64347 Doc notes 2
  lib/ansible/modules/network/cloudengine/ce_bgp_neighbor.py
  lib/ansible/modules/network/cloudengine/ce_bgp_neighbor_af.py
  lib/ansible/modules/network/cloudengine/ce_command.py
  lib/ansible/modules/network/cloudengine/ce_config.py
  lib/ansible/modules/network/cloudengine/ce_dldp.py
  lib/ansible/modules/network/cloudengine/ce_dldp_interface.py
  lib/ansible/modules/network/cloudengine/ce_eth_trunk.py
  lib/ansible/modules/network/cloudengine/ce_evpn_bd_vni.py
  lib/ansible/modules/network/cloudengine/ce_evpn_bgp.py
  lib/ansible/modules/network/cloudengine/ce_evpn_bgp_rr.py
Labels: affects_2.10, automerge, docs, huawei, module, networking, owner_pr, shipit, support:community

#64380 ovirt_vm: update cpu_threads docs
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.10, automerge, cloud, docs, module, ovirt, owner_pr, shipit, small_patch, support:community

#64284 clean_facts - use correct variable when evaluating the string
  changelogs/fragments/clean_facts-use-correct-variable-for-startswith.yaml
  lib/ansible/vars/clean.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#64088 Replace import of pycompat24.literal_eval with ast.literal_eval.
  changelogs/fragments/64088-ast-literal.yml
  lib/ansible/module_utils/common/validation.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core

#64368 Amazon related Sanity test fixups (remaining batch 1)
  changelogs/fragments/64368-deprecate-unused.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/cloud/amazon/cloudformation.py
  lib/ansible/modules/cloud/amazon/cloudformation_info.py
  lib/ansible/modules/cloud/amazon/cloudformation_stack_set.py
  lib/ansible/modules/cloud/amazon/cloudfront_distribution.py
  lib/ansible/modules/cloud/amazon/cloudfront_info.py
  lib/ansible/modules/cloud/amazon/cloudfront_invalidation.py
  lib/ansible/modules/cloud/amazon/cloudfront_origin_access_identity.py
  lib/ansible/modules/cloud/amazon/cloudtrail.py
  lib/ansible/modules/cloud/amazon/cloudwatchevent_rule.py
  lib/ansible/modules/cloud/amazon/cloudwatchlogs_log_group.py
  lib/ansible/modules/cloud/amazon/cloudwatchlogs_log_group_info.py
  lib/ansible/modules/cloud/amazon/data_pipeline.py
  lib/ansible/modules/cloud/amazon/dms_endpoint.py
  lib/ansible/modules/cloud/amazon/dms_replication_subnet_group.py
  lib/ansible/modules/cloud/amazon/dynamodb_table.py
  lib/ansible/modules/cloud/amazon/dynamodb_ttl.py
  lib/ansible/modules/cloud/amazon/ecs_attribute.py
  lib/ansible/modules/cloud/amazon/ecs_cluster.py
  lib/ansible/modules/cloud/amazon/ecs_ecr.py
  lib/ansible/modules/cloud/amazon/ecs_service.py
  lib/ansible/modules/cloud/amazon/ecs_service_info.py
  lib/ansible/modules/cloud/amazon/ecs_task.py
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition_info.py
  lib/ansible/modules/cloud/amazon/efs.py
  lib/ansible/modules/cloud/amazon/efs_info.py
  lib/ansible/modules/cloud/amazon/elasticache.py
  lib/ansible/modules/cloud/amazon/elasticache_info.py
  lib/ansible/modules/cloud/amazon/elasticache_parameter_group.py
  lib/ansible/modules/cloud/amazon/elasticache_snapshot.py
  lib/ansible/modules/cloud/amazon/elasticache_subnet_group.py
  test/sanity/ignore.txt
Labels: affects_2.10, aws, bug, ci_verified, cloud, docs, module, needs_maintainer, needs_revision, needs_triage, support:community, support:core, test

#63988 Removes an obsolete fallback for Python 2.6 in wait_for.
  changelogs/fragments/63988-removes-python_compat_fallback.yml
  lib/ansible/modules/utilities/logic/wait_for.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, module, needs_revision, support:community, support:core, test, utilities

#64395 restore TOC links to old porting guides
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.10, core_review, docs, support:core

#64358 Amazon related Sanity test fixups (remaining batch 2)
  lib/ansible/modules/cloud/amazon/_lambda_facts.py
  lib/ansible/modules/cloud/amazon/execute_lambda.py
  lib/ansible/modules/cloud/amazon/iam_policy.py
  lib/ansible/modules/cloud/amazon/iam_policy_info.py
  lib/ansible/modules/cloud/amazon/iam_role.py
  lib/ansible/modules/cloud/amazon/iam_role_info.py
  lib/ansible/modules/cloud/amazon/kinesis_stream.py
  lib/ansible/modules/cloud/amazon/lambda.py
  lib/ansible/modules/cloud/amazon/lambda_alias.py
  lib/ansible/modules/cloud/amazon/lambda_event.py
  lib/ansible/modules/cloud/amazon/lambda_info.py
  lib/ansible/modules/cloud/amazon/lambda_policy.py
  lib/ansible/modules/cloud/amazon/lightsail.py
  lib/ansible/modules/cloud/amazon/rds.py
  lib/ansible/modules/cloud/amazon/rds_instance_info.py
  lib/ansible/modules/cloud/amazon/rds_param_group.py
  lib/ansible/modules/cloud/amazon/rds_snapshot.py
  lib/ansible/modules/cloud/amazon/rds_snapshot_info.py
  lib/ansible/modules/cloud/amazon/redshift.py
  lib/ansible/modules/cloud/amazon/redshift_cross_region_snapshots.py
  lib/ansible/modules/cloud/amazon/redshift_info.py
  lib/ansible/modules/cloud/amazon/redshift_subnet_group.py
  lib/ansible/modules/cloud/amazon/route53.py
  lib/ansible/modules/cloud/amazon/route53_health_check.py
  lib/ansible/modules/cloud/amazon/route53_info.py
  lib/ansible/modules/cloud/amazon/route53_zone.py
  lib/ansible/modules/cloud/amazon/sns.py
  lib/ansible/modules/cloud/amazon/sns_topic.py
  lib/ansible/modules/cloud/amazon/sqs_queue.py
  lib/ansible/modules/cloud/amazon/sts_assume_role.py
  lib/ansible/modules/cloud/amazon/sts_session_token.py
  test/sanity/ignore.txt
  test/units/utils/amazon_placebo_fixtures.py
Labels: affects_2.10, aws, bug, ci_verified, cloud, deprecated, module, needs_maintainer, needs_revision, support:community, support:core, test

#64230 Sanity test fixups for AWS ec2 modules
  changelogs/fragments/64230-deprecate-unused.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/cloud/amazon/ec2.py
  lib/ansible/modules/cloud/amazon/ec2_ami.py
  lib/ansible/modules/cloud/amazon/ec2_ami_copy.py
  lib/ansible/modules/cloud/amazon/ec2_ami_info.py
  lib/ansible/modules/cloud/amazon/ec2_asg.py
  lib/ansible/modules/cloud/amazon/ec2_asg_info.py
  lib/ansible/modules/cloud/amazon/ec2_asg_lifecycle_hook.py
  lib/ansible/modules/cloud/amazon/ec2_customer_gateway.py
  lib/ansible/modules/cloud/amazon/ec2_customer_gateway_info.py
  lib/ansible/modules/cloud/amazon/ec2_eip.py
  lib/ansible/modules/cloud/amazon/ec2_eip_info.py
  lib/ansible/modules/cloud/amazon/ec2_eni.py
  lib/ansible/modules/cloud/amazon/ec2_eni_info.py
  lib/ansible/modules/cloud/amazon/ec2_group.py
  lib/ansible/modules/cloud/amazon/ec2_group_info.py
  lib/ansible/modules/cloud/amazon/ec2_key.py
  lib/ansible/modules/cloud/amazon/ec2_launch_template.py
  lib/ansible/modules/cloud/amazon/ec2_lc.py
  lib/ansible/modules/cloud/amazon/ec2_lc_find.py
  lib/ansible/modules/cloud/amazon/ec2_lc_info.py
  lib/ansible/modules/cloud/amazon/ec2_metadata_facts.py
  lib/ansible/modules/cloud/amazon/ec2_metric_alarm.py
  lib/ansible/modules/cloud/amazon/ec2_placement_group.py
  lib/ansible/modules/cloud/amazon/ec2_placement_group_info.py
  lib/ansible/modules/cloud/amazon/ec2_scaling_policy.py
  lib/ansible/modules/cloud/amazon/ec2_snapshot.py
  lib/ansible/modules/cloud/amazon/ec2_snapshot_copy.py
  lib/ansible/modules/cloud/amazon/ec2_snapshot_info.py
  lib/ansible/modules/cloud/amazon/ec2_tag.py
  lib/ansible/modules/cloud/amazon/ec2_transit_gateway.py
  lib/ansible/modules/cloud/amazon/ec2_vol.py
  lib/ansible/modules/cloud/amazon/ec2_vol_info.py
  lib/ansible/modules/cloud/amazon/ec2_win_password.py
  test/sanity/ignore.txt
Labels: affects_2.10, aws, bug, ci_verified, cloud, docs, module, needs_maintainer, needs_revision, python3, support:community, support:core, test

#64407 Bug fixes for GCP (as of 2019-10-30T06:04:39Z)
  lib/ansible/modules/cloud/google/gcp_compute_reservation.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, small_patch, support:community

#64340 New GCP module: gcp_logging_metric_info
  lib/ansible/modules/cloud/google/gcp_logging_metric_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#64339 New GCP module: gcp_logging_metric
  lib/ansible/modules/cloud/google/gcp_logging_metric.py
  test/integration/targets/gcp_logging_metric/aliases
  test/integration/targets/gcp_logging_metric/meta/main.yml
  test/integration/targets/gcp_logging_metric/tasks/autogen.yml
  test/integration/targets/gcp_logging_metric/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#64135 New GCP module: gcp_compute_target_instance
  lib/ansible/modules/cloud/google/gcp_compute_target_instance.py
  test/integration/targets/gcp_compute_target_instance/aliases
  test/integration/targets/gcp_compute_target_instance/meta/main.yml
  test/integration/targets/gcp_compute_target_instance/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_instance/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#64134 New GCP module: gcp_compute_reservation_info
  lib/ansible/modules/cloud/google/gcp_compute_reservation_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#64083 Bug fixes for GCP (as of 2019-10-29T06:04:32+00:00)
  lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger.py
  lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#64075 Document 'elements' for module option and return value documentation
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.10, core_review, docs, docsite, has_issue, support:core

#64411 Add note about large tarball sizes for collections
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#64416 [2.9]Add note about large tarball sizes for collections (#64411)
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.9, backport, core_review, docs, docsite, small_patch, support:core

#64419 Clarify Vault Warning and Fix typo
  docs/docsite/rst/user_guide/playbooks_vault.rst
Labels: affects_2.10, core_review, docs, small_patch, support:core

#64422 intro_patterns.rst: fix typo
  docs/docsite/rst/user_guide/intro_patterns.rst
Labels: affects_2.10, core_review, docs, needs_triage, small_patch, support:core

#64377 Add module_defaults group for ovirt
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  lib/ansible/config/module_defaults.yml
Labels: affects_2.10, core_review, docs, feature, needs_triage, support:core

#64345 Fix typo in intro_inventory.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.10, core_review, docs, new_contributor, small_patch, support:core

#64138 postgresql_idx: add stat mode support
  changelogs/fragments/64138-postgresql_idx_add_state_stat.yml
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  test/integration/targets/postgresql_idx/tasks/postgresql_idx_initial.yml
Labels: affects_2.10, community_review, database, feature, module, needs_triage, postgresql, support:community, test

#23133 New module: Add module for Packet API IP address assignment (cloud/packet/packet_ip_address)
  lib/ansible/modules/cloud/packet/packet_ip_subnet.py
Labels: affects_2.4, cloud, has_issue, module, new_module, new_plugin, shipit, support:community

#27842 Added module for handling volumes in the Packet Host
  lib/ansible/modules/cloud/packet/packet_volume.py
Labels: affects_2.4, cloud, module, new_module, new_plugin, shipit, support:community

#27843 Added module for attaching volumes in the Packet host
  lib/ansible/modules/cloud/packet/packet_volume_attachment.py
Labels: affects_2.4, cloud, has_issue, module, new_module, new_plugin, shipit, support:community

#57494 Add GetHealthReport commands
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_info.py
Labels: affects_2.9, feature, module, new_plugin, owner_pr, remote_management, shipit, support:community

#63976 Enable logging to any domain in the check point machine
  lib/ansible/plugins/httpapi/checkpoint.py
  test/units/plugins/httpapi/test_checkpoint.py
Labels: affects_2.10, bug, feature, needs_revision, networking, support:core, support:network

#63248 Added Unit tests to eos_logging
  test/units/modules/network/eos/fixtures/eos_logging_config.cfg
  test/units/modules/network/eos/test_eos_logging.py
Labels: affects_2.10, core_review, feature, networking, stale_ci, support:core, test

#64127 eos_l2interfaces: Add unit testcases to eos_l2interfaces
  lib/ansible/module_utils/network/eos/facts/l2_interfaces/l2_interfaces.py
  test/units/modules/network/eos/fixtures/eos_l2_interfaces_config.cfg
  test/units/modules/network/eos/test_eos_l2_interfaces.py
Labels: affects_2.10, core_review, feature, networking, small_patch, support:core, support:network, test

#63404 Add unit testcases to eos_vlans
  test/units/modules/network/eos/fixtures/eos_vlan_config.cfg
  test/units/modules/network/eos/test_eos_vlans.py
Labels: affects_2.10, core_review, feature, networking, support:core, test

#64437 Ovirt host network dict correct
  lib/ansible/modules/cloud/ovirt/ovirt_host_network.py
Labels: affects_2.10, automerge, bug, cloud, module, ovirt, owner_pr, shipit, small_patch, support:community

#64344 synchronize : remove unused block #64152
  changelogs/fragments/63954-synchronize-remove-unused-block.yml
  lib/ansible/plugins/action/synchronize.py
Labels: affects_2.10, bug, needs_revision, new_contributor, support:community, support:core

#64373 Fix up role version pagination for Galaxy install
  changelogs/fragments/galaxy-role-version.yaml
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
Labels: affects_2.10, bug, core_review, has_issue, support:community, support:core

#64412 debian: install lib in dist-packages
  packaging/debian/ansible.dirs
  packaging/debian/rules
Labels: affects_2.10, bug, core_review, small_patch, support:core

#64423 Adding team_aruba as maintainer for aruba modules
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, docs, needs_revision, new_contributor, support:core

#64424 ansible-test: bumping ACME test container version
  changelogs/fragments/64424-ansible-test-acme-container.yml
  test/lib/ansible_test/_internal/cloud/acme.py
Labels: affects_2.10, bug, cloud, core_review, crypto, support:community, support:core, test

#61469 Removing jmighion as maintainer of aruba and aireos modules.
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, docs, needs_revision, stale_ci, support:core

#60552 Add aws_acm module
  hacking/aws_config/testing_policies/security-policy.json
  lib/ansible/module_utils/aws/acm.py
  lib/ansible/modules/cloud/amazon/aws_acm.py
  lib/ansible/modules/cloud/amazon/aws_acm_info.py
  test/integration/targets/aws_acm/aliases
  test/integration/targets/aws_acm/defaults/main.yml
  test/integration/targets/aws_acm/meta/main.yml
  test/integration/targets/aws_acm/tasks/full_acm_test.yml
  test/integration/targets/aws_acm/tasks/main.yml
  test/units/modules/cloud/amazon/fixtures/certs/a.pem
  test/units/modules/cloud/amazon/fixtures/certs/b.pem
  test/units/modules/cloud/amazon/fixtures/certs/chain-1.0.cert
  test/units/modules/cloud/amazon/fixtures/certs/chain-1.1.cert
  test/units/modules/cloud/amazon/fixtures/certs/chain-1.2.cert
  test/units/modules/cloud/amazon/fixtures/certs/chain-1.3.cert
  test/units/modules/cloud/amazon/fixtures/certs/chain-1.4.cert
  test/units/modules/cloud/amazon/fixtures/certs/chain-4.cert
  test/units/modules/cloud/amazon/fixtures/certs/simple-chain-a.cert
  test/units/modules/cloud/amazon/fixtures/certs/simple-chain-b.cert
  test/units/modules/cloud/amazon/test_aws_acm.py
Labels: affects_2.9, aws, cloud, crypto, has_issue, module, needs_rebase, needs_revision, new_contributor, new_module, new_plugin, support:community, support:core, test

#64372 Documentation: Unlimited CPU credits apply to any T instance
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, new_contributor, performance, small_patch, support:community

#64356 Improve control node concept explanation
  docs/docsite/rst/shared_snippets/basic_concepts.txt
Labels: affects_2.10, core_review, docs, new_contributor, small_patch, support:core

#64409 ec2_* Sanity corrections
  lib/ansible/modules/cloud/amazon/ec2_eip.py
  lib/ansible/modules/cloud/amazon/ec2_launch_template.py
  lib/ansible/modules/cloud/amazon/ec2_lc.py
Labels: affects_2.10, aws, bug, cloud, community_review, module, needs_maintainer, support:community

#64260 Admin rights are required (documentation)
  lib/ansible/modules/source_control/github_deploy_key.py
Labels: affects_2.10, community_review, docs, has_issue, module, new_contributor, small_patch, source_control, support:community

#64153 Update firewalld.py
  lib/ansible/modules/system/firewalld.py
Labels: affects_2.10, community_review, docs, module, needs_triage, new_contributor, small_patch, support:community, system

#64069 Add note about spot instances for ec2_instance
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, small_patch, support:community

#64077 Clarify Python 2.x support in python_3_support.rst
  docs/docsite/rst/reference_appendices/python_3_support.rst
Labels: affects_2.10, core_review, docs, python3, small_patch, support:core

#63599 Add warning about skipped vars
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.10, core_review, docs, docsite_pr, new_contributor, stale_ci, support:core

#63482 Improve formatting of include_vars doc page
  lib/ansible/modules/utilities/logic/include_vars.py
Labels: affects_2.10, core_review, docs, docsite_pr, module, needs_repo, new_contributor, stale_ci, support:core, utilities

#63026 Update faq.rst
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.10, core_review, docs, docsite_pr, new_contributor, stale_ci, support:core

#64467 Fix ansible-test collections sanity import test.
  changelogs/fragments/ansible-test-collections-import-sanity-test.yml
  test/lib/ansible_test/_data/sanity/import/importer.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#64172 Use more route information to improve default_ipvX facts on BSDs
  lib/ansible/module_utils/facts/network/generic_bsd.py
Labels: affects_2.10, bsd, core_review, feature, new_contributor, support:core

#64481 mariadb_replication: fix CI tests
  test/integration/targets/setup_mariadb/templates/my.cnf.j2
Labels: affects_2.10, bug, community_review, needs_triage, support:community

#64392 docker_login: Use with statement for accessing files (#64382)
  changelogs/fragments/64382-docker_login-fix-invalid-json.yml
  lib/ansible/modules/cloud/docker/docker_login.py
Labels: affects_2.10, bug, cloud, community_review, docker, has_issue, module, new_contributor, support:community

#61498 nxos_hsrp_interfaces: new module
  lib/ansible/module_utils/network/nxos/argspec/hsrp_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/hsrp_interfaces/hsrp_interfaces.py
  lib/ansible/module_utils/network/nxos/config/hsrp_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/config/hsrp_interfaces/hsrp_interfaces.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/module_utils/network/nxos/facts/hsrp_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/facts/hsrp_interfaces/hsrp_interfaces.py
  lib/ansible/modules/network/nxos/nxos_hsrp_interfaces.py
  test/integration/targets/nxos_hsrp_interfaces/defaults/main.yaml
  test/integration/targets/nxos_hsrp_interfaces/meta/main.yml
  test/integration/targets/nxos_hsrp_interfaces/tasks/cli.yaml
  test/integration/targets/nxos_hsrp_interfaces/tasks/main.yaml
  test/integration/targets/nxos_hsrp_interfaces/tasks/nxapi.yaml
  test/integration/targets/nxos_hsrp_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_hsrp_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_hsrp_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_hsrp_interfaces/tests/cli/replaced.yaml
  test/units/modules/network/nxos/test_nxos_hsrp_interfaces.py
Labels: affects_2.9, aws, cisco, cloud, module, networking, new_module, new_plugin, nxos, shipit, support:community, support:core, support:network, test

#64161 nxos_lldp_global: fix regression tests
  test/integration/targets/nxos_lldp_global/tests/cli/deleted.yml
  test/integration/targets/nxos_lldp_global/tests/cli/merged.yml
  test/integration/targets/nxos_lldp_global/tests/cli/replaced.yml
Labels: affects_2.10, bug, cisco, networking, nxos, shipit, support:network, test

#63963 Remove `timeout` parameter from `prepare_nxos_tests`
  test/integration/targets/prepare_nxos_tests/tasks/main.yml
Labels: affects_2.10, bug, community_review, needs_triage, support:community

#64119 nxos_lag_interfaces: fix regression tests
  test/integration/targets/nxos_lag_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_lag_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_lag_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_lag_interfaces/tests/cli/replaced.yaml
Labels: affects_2.10, bug, cisco, networking, nxos, shipit, support:network, test

#64460 Move github modules to own subdir
  .github/BOTMETA.yml
  lib/ansible/modules/source_control/github/__init__.py
  lib/ansible/modules/source_control/github/_github_hooks.py
  lib/ansible/modules/source_control/github/_github_webhook_facts.py
  lib/ansible/modules/source_control/github/github_deploy_key.py
  lib/ansible/modules/source_control/github/github_issue.py
  lib/ansible/modules/source_control/github/github_key.py
  lib/ansible/modules/source_control/github/github_release.py
  lib/ansible/modules/source_control/github/github_webhook.py
  lib/ansible/modules/source_control/github/github_webhook_info.py
  test/sanity/ignore.txt
Labels: affects_2.10, botmeta, bug, deprecated, module, needs_revision, needs_triage, new_module, new_plugin, source_control, support:community, support:core, test

#64498 Move sensu modules to own subdir
  lib/ansible/modules/monitoring/sensu/__init__.py
  lib/ansible/modules/monitoring/sensu/sensu_check.py
  lib/ansible/modules/monitoring/sensu/sensu_client.py
  lib/ansible/modules/monitoring/sensu/sensu_handler.py
  lib/ansible/modules/monitoring/sensu/sensu_silence.py
  lib/ansible/modules/monitoring/sensu/sensu_subscription.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, module, monitoring, needs_revision, needs_triage, new_module, new_plugin, support:community, support:core, test

#64496 [Fix] Typo in playbooks_environment.rst
  docs/docsite/rst/user_guide/playbooks_environment.rst
Labels: affects_2.10, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#64497 Move gitlab modules to own subdir
  .github/BOTMETA.yml
  lib/ansible/modules/source_control/gitlab/__init__.py
  lib/ansible/modules/source_control/gitlab/_gitlab_hooks.py
  lib/ansible/modules/source_control/gitlab/gitlab_deploy_key.py
  lib/ansible/modules/source_control/gitlab/gitlab_group.py
  lib/ansible/modules/source_control/gitlab/gitlab_hook.py
  lib/ansible/modules/source_control/gitlab/gitlab_project.py
  lib/ansible/modules/source_control/gitlab/gitlab_project_variable.py
  lib/ansible/modules/source_control/gitlab/gitlab_runner.py
  lib/ansible/modules/source_control/gitlab/gitlab_user.py
  test/sanity/ignore.txt
  test/units/modules/source_control/gitlab/__init__.py
  test/units/modules/source_control/gitlab/gitlab.py
  test/units/modules/source_control/gitlab/test_gitlab_deploy_key.py
  test/units/modules/source_control/gitlab/test_gitlab_group.py
  test/units/modules/source_control/gitlab/test_gitlab_hook.py
  test/units/modules/source_control/gitlab/test_gitlab_project.py
  test/units/modules/source_control/gitlab/test_gitlab_runner.py
  test/units/modules/source_control/gitlab/test_gitlab_user.py
Labels: affects_2.10, botmeta, bug, deprecated, gitlab, module, needs_revision, needs_triage, new_module, new_plugin, source_control, support:community, support:core, test

#64502 Move datadog modules to own subdir
  .github/BOTMETA.yml
  lib/ansible/modules/monitoring/datadog/__init__.py
  lib/ansible/modules/monitoring/datadog/datadog_event.py
  lib/ansible/modules/monitoring/datadog/datadog_monitor.py
  test/sanity/ignore.txt
Labels: affects_2.10, botmeta, bug, module, monitoring, needs_revision, needs_triage, new_module, new_plugin, support:community, support:core, test

#63661 postgresql_subscription: new module
  lib/ansible/modules/database/postgresql/postgresql_subscription.py
  test/integration/targets/postgresql_subscription/aliases
  test/integration/targets/postgresql_subscription/defaults/main.yml
  test/integration/targets/postgresql_subscription/meta/main.yml
  test/integration/targets/postgresql_subscription/tasks/main.yml
  test/integration/targets/postgresql_subscription/tasks/postgresql_subscription_initial.yml
  test/integration/targets/postgresql_subscription/tasks/setup_publication.yml
  test/integration/targets/setup_postgresql_replication/defaults/main.yml
  test/integration/targets/setup_postgresql_replication/handlers/main.yml
  test/integration/targets/setup_postgresql_replication/tasks/main.yml
  test/integration/targets/setup_postgresql_replication/tasks/setup_postgresql_cluster.yml
  test/integration/targets/setup_postgresql_replication/templates/master_postgresql.conf.j2
  test/integration/targets/setup_postgresql_replication/templates/pg_hba.conf.j2
  test/integration/targets/setup_postgresql_replication/templates/replica_postgresql.conf.j2
Labels: affects_2.10, community_review, database, has_issue, module, new_module, new_plugin, postgresql, stale_review, support:community, test

#64070 template lookup: fix regression when templating hostvars
  changelogs/fragments/63940-template-lookup-hostvars-regression.yml
  lib/ansible/vars/hostvars.py
  test/integration/targets/lookups/runme.sh
  test/integration/targets/lookups/template_deepcopy/hosts
  test/integration/targets/lookups/template_deepcopy/playbook.yml
  test/integration/targets/lookups/template_deepcopy/template.in
Labels: affects_2.10, bug, core_review, has_issue, support:community, support:core

#64432 postgresql_query: add note to the documentation
  lib/ansible/modules/database/postgresql/postgresql_query.py
Labels: affects_2.10, community_review, database, docs, module, owner_pr, postgresql, small_patch, support:community

#64508 Move consul modules to own subdir
  lib/ansible/modules/clustering/consul/__init__.py
  lib/ansible/modules/clustering/consul/consul.py
  lib/ansible/modules/clustering/consul/consul_acl.py
  lib/ansible/modules/clustering/consul/consul_kv.py
  lib/ansible/modules/clustering/consul/consul_session.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, clustering, module, needs_revision, needs_triage, new_module, new_plugin, support:community, support:core, test

#64505 Remove empty setUp/tearDown/tearDownClass methods in test classes.
  test/units/executor/test_play_iterator.py
  test/units/executor/test_task_executor.py
  test/units/modules/network/netscaler/test_netscaler_nitro_request.py
  test/units/parsing/test_dataloader.py
  test/units/playbook/role/test_role.py
  test/units/playbook/test_playbook.py
  test/units/plugins/lookup/test_ini.py
  test/units/plugins/lookup/test_lastpass.py
  test/units/plugins/strategy/test_strategy_base.py
  test/units/plugins/strategy/test_strategy_linear.py
  test/units/plugins/terminal/test_slxos.py
  test/units/plugins/test_plugins.py
  test/units/utils/test_vars.py
  test/units/vars/test_variable_manager.py
Labels: affects_2.10, bug, core_review, networking, support:core, test

#64401 unsafe wrapping should only happen for with_ loops
  changelogs/fragments/64379-no-loop-unsafe.yml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/executor/task_executor.py
  lib/ansible/utils/unsafe_proxy.py
  lib/ansible/vars/manager.py
  test/integration/targets/loops/tasks/main.yml
  test/integration/targets/loops/vars/64169.yml
  test/integration/targets/loops/vars/main.yml
Labels: affects_2.10, bug, docs, has_issue, needs_revision, support:community, support:core

#64470 Enable aws_acm tests
  test/integration/targets/aws_acm/aliases
Labels: affects_2.10, bug, cloud, community_review, needs_triage, support:community

#64532 updates RHEL packages to 2.9
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.10, core_review, docs, small_patch, support:core

#64457 Clarify Vault Warning and Fix typo [stable-2.9]
  docs/docsite/rst/user_guide/playbooks_vault.rst
Labels: affects_2.9, backport, backport_verified, core_review, docs, small_patch, support:core

#64529 prepare_vmware_tests: datastore host is datastore.test
  test/integration/targets/prepare_vmware_tests/vars/real_lab.yml
  test/integration/targets/vmware_content_library_manager/tasks/main.yml
Labels: affects_2.10, cloud, community_review, feature, support:community, vmware

#64536 Update the number of contributors in README: 4700+
  README.rst
Labels: affects_2.10, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#64417 eos_lacp: Add unit testcases to eos_lacp
  lib/ansible/module_utils/network/eos/facts/lacp/lacp.py
  test/units/modules/network/eos/fixtures/eos_lacp_config.cfg
  test/units/modules/network/eos/test_eos_lacp.py
Labels: affects_2.10, core_review, feature, networking, small_patch, support:core, support:network, test

#64376 VMware: Added check for temp_version type
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/reconfig_vm_to_latest_version.yml
Labels: affects_2.10, bug, cloud, community_review, has_issue, module, small_patch, support:community, vmware

#60265 VMware: vmware_export_ovf module fix Python3 compatibility issue
  lib/ansible/modules/cloud/vmware/vmware_export_ovf.py
  test/integration/targets/vmware_export_ovf/aliases
  test/integration/targets/vmware_export_ovf/tasks/main.yml
Labels: affects_2.9, bug, cloud, community_review, has_issue, module, python3, stale_ci, support:community, vmware

#64543 Fixed few typo's: "Mutiple" to "Multiple"
  lib/ansible/modules/cloud/opennebula/one_vm.py
  lib/ansible/modules/storage/netapp/na_ontap_vscan_on_access_policy.py
  test/units/modules/storage/netapp/test_na_ontap_firewall_policy.py
Labels: affects_2.10, cloud, community_review, has_issue, module, needs_triage, netapp, small_patch, storage, support:community, test

#64032 Zabbix: zabbix_template: fix #64030
  changelogs/fragments/64032-zabbix_template_fix_return_XML_as_a_string_even_python3.yml
  lib/ansible/modules/monitoring/zabbix/zabbix_template.py
Labels: affects_2.10, automerge, bug, module, monitoring, python3, shipit, support:community, zabbix

#64561 postgresql_subscription: improve logic
  lib/ansible/modules/database/postgresql/postgresql_subscription.py
Labels: affects_2.10, automerge, bug, database, module, owner_pr, postgresql, shipit, small_patch, support:community

#64551 botmeta sanity: check migrated_to on non-existing file
  test/sanity/code-smell/botmeta.py
Labels: affects_2.10, core_review, feature, support:core, test

#64486 Bug fixes for GCP (as of 2019-11-06T07:04:38Z)
  lib/ansible/modules/cloud/google/gcp_compute_region_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_region_backend_service_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#64485 Bug fixes for GCP (as of 2019-11-06T07:04:38Z)
  lib/ansible/modules/cloud/google/gcp_compute_forwarding_rule.py
  lib/ansible/modules/cloud/google/gcp_compute_forwarding_rule_info.py
  lib/ansible/modules/cloud/google/gcp_compute_global_forwarding_rule.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#64484 Bug fixes for GCP (as of 2019-11-05T07:04:32+00:00)
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#64521 Switch from RHEL 8.0 & 8.1b to 8.1 in CI.
  changelogs/fragments/ansible-test-rhel-8.1-testing.yml
  shippable.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#64504 Replace clear() method for backward compatibility.
  changelogs/fragments/64501-fix-python2.x-backward-compatibility.yaml
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.10, automerge, bug, crypto, module, shipit, support:community

#64468 win_psmodule - remove reliance on PSGallery in the tests for stable-2.7
  test/integration/targets/win_psmodule/defaults/main.yml
  test/integration/targets/win_psmodule/files/module/template.nuspec
  test/integration/targets/win_psmodule/files/module/template.psd1
  test/integration/targets/win_psmodule/files/module/template.psm1
  test/integration/targets/win_psmodule/files/setup_modules.ps1
  test/integration/targets/win_psmodule/handlers/main.yml
  test/integration/targets/win_psmodule/tasks/install.yml
  test/integration/targets/win_psmodule/tasks/main.yml
  test/integration/targets/win_psmodule/tasks/repo.yml
  test/integration/targets/win_psmodule/tasks/test.yml
  test/sanity/pslint/skip.txt
Labels: affects_2.7, backport, bug, core_review, support:community, support:core, test, windows

#64576 Disable failing aws_acm integration test.
  test/integration/targets/aws_acm/aliases
Labels: affects_2.10, bug, cloud, community_review, support:community

#64577 [stable-2.9] Switch from RHEL 8.0 & 8.1b to 8.1 in CI.
  changelogs/fragments/ansible-test-rhel-8.1-testing.yml
  shippable.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#64578 [stable-2.8] Switch from RHEL 8.0 & 8.1b to 8.1 in CI.
  changelogs/fragments/ansible-test-rhel-8.1-testing.yml
  shippable.yml
  test/runner/completion/remote.txt
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#36876 Added support for pagination to github_deploy_key
  changelogs/fragments/36876-github-deploy-key-fix-pagination.yaml
  lib/ansible/modules/source_control/github/github_deploy_key.py
Labels: affects_2.6, bug, community_review, has_issue, module, owner_pr, source_control, support:community

#64582 postgresql_publication: fix typo in module.warn
  changelogs/fragments/64582-postgresql_publication_fix_typo_in_module_warn.yml
  lib/ansible/modules/database/postgresql/postgresql_publication.py
Labels: affects_2.10, bug, community_review, database, module, needs_triage, owner_pr, postgresql, support:community

#64583 postgresql_subscription: fix typo in module.warn method name
  changelogs/fragments/64583-postgresql_subscription_fix_typo_in_module_warn.yml
  lib/ansible/modules/database/postgresql/postgresql_subscription.py
Labels: affects_2.10, bug, community_review, database, module, needs_triage, owner_pr, postgresql, support:community

#64581 Correct usage of API call in aws_config_aggregator
  lib/ansible/modules/cloud/amazon/aws_config_aggregator.py
Labels: affects_2.10, aws, bug, cloud, community_review, module, small_patch, support:community

#63969 zabbix_action shouldn't require args other than name when state=absent
  changelogs/fragments/63969-zabbix_action_argsfix.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.10, bug, core_review, docs, has_issue, module, monitoring, support:community, support:core, zabbix

#50975 PR raised to add the feature of adding/removing IP from a Host record
  lib/ansible/module_utils/net_tools/nios/api.py
  lib/ansible/modules/net_tools/nios/nios_host_record.py
Labels: affects_2.8, core_review, feature, infoblox, module, net_tools, networking, support:certified, support:core

#64608 Fixed tiny typo in interpreter_discovery.rst
  docs/docsite/rst/reference_appendices/interpreter_discovery.rst
Labels: affects_2.10, core_review, docs, needs_triage, small_patch, support:core

#64620 updates RHEL packages to 2.9 (#64532)
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.9, backport, core_review, docs, needs_triage, small_patch, support:core

#64617 route53_info max_items should be a str
  lib/ansible/modules/cloud/amazon/route53_info.py
  test/integration/targets/route53/aliases
  test/integration/targets/route53/tasks/main.yml
Labels: affects_2.10, aws, bug, cloud, community_review, module, support:community

#64618 clarify acceptable file types in collection docs
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#64622 [backport] Backport/2.9/64618
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.9, backport, bug, core_review, docs, docsite, support:core

#64580 Format azure_rm_keyvault_key_info module's document
  lib/ansible/modules/cloud/azure/azure_rm_keyvaultkey_info.py
Labels: affects_2.10, azure, cloud, community_review, docs, module, support:community

#64579 Format azure_rm_snapshot document
  lib/ansible/modules/cloud/azure/azure_rm_snapshot.py
Labels: affects_2.10, azure, cloud, community_review, docs, module, support:community

#64572 Remove deprecated kubernetes and oc module "indirection" in v2.9 changelog
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.10, core_review, docs, small_patch, support:core

#64541 Format azure_rm_gallery* relate document
  lib/ansible/modules/cloud/azure/azure_rm_gallery.py
  lib/ansible/modules/cloud/azure/azure_rm_gallery_info.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimage.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimage_info.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimageversion.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimageversion_info.py
Labels: affects_2.10, azure, cloud, community_review, docs, module, support:community

#64490 Update azure_rm_batchaccount's document
  lib/ansible/modules/cloud/azure/azure_rm_batchaccount.py
Labels: affects_2.10, azure, cloud, community_review, docs, module, support:community

#64488 Update azure_rm_azurefirewall relate document
  lib/ansible/modules/cloud/azure/azure_rm_azurefirewall.py
  lib/ansible/modules/cloud/azure/azure_rm_azurefirewall_info.py
Labels: affects_2.10, azure, cloud, community_review, docs, module, support:community

#64478 Add note about kerberos dependency versions
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: affects_2.10, core_review, docs, docsite, has_issue, support:core, windows

#64472 Add warning about winrm on MacoS
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: affects_2.10, core_review, docs, docsite, support:core, windows

#64386 minor typos and style changes
  lib/ansible/config/base.yml
Labels: affects_2.10, core_review, docs, support:core

#64600 Fix cache example
  docs/docsite/rst/dev_guide/developing_inventory.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#62345 Documents storage of task files
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
Labels: affects_2.10, core_review, docs, small_patch, stale_ci, support:core

#63579 one_vm: Fix creating VM also for template_id=0
  lib/ansible/modules/cloud/opennebula/one_vm.py
Labels: affects_2.10, automerge, bug, cloud, module, owner_pr, shipit, small_patch, support:community

#62537 VMware: Implement updates for dvPG in vmware_dvs_portgroup
  changelogs/fragments/58824-vmware_dvs_portgroup-implement-portgroup-updates.yml
  lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
  test/integration/targets/vmware_dvs_portgroup/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, has_issue, module, support:community, vmware
