Repository ansible/ansible, pull requests merged in 2019-10, with the labels that each got.

#62989 [stable-2.9] Fixes to the rpm dependencies
  packaging/rpm/ansible.spec
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:core

#62993 mysql_replication: setup a later version of MariaDB to CI
  test/integration/targets/mariadb_replication/tasks/mariadb_replication_initial.yml
  test/integration/targets/setup_mariadb/defaults/main.yml
  test/integration/targets/setup_mariadb/tasks/setup_mariadb.yml
  test/integration/targets/setup_mariadb/templates/my.cnf.j2
Labels: affects_2.10, community_review, feature, needs_triage, support:community

#62975 changed capitals vSphere
  lib/ansible/modules/cloud/vmware/vsphere_copy.py
Labels: affects_2.10, cloud, module, needs_revision, new_contributor, small_patch, support:community, vmware

#63015 Limit Shippable matrix check to ansible repo.
  test/utils/shippable/check_matrix.py
Labels: affects_2.10, bug, core_review, support:core, test

#63023 rpmfilename must be constructed using rpmmacros
  Makefile
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core

#63021 [stable-2.9] Limit Shippable matrix check to ansible repo.
  test/utils/shippable/check_matrix.py
Labels: affects_2.9, backport, bug, core_review, support:core, test

#60243 fix issue #60237 when non-ascii is returned from the WLC
  lib/ansible/modules/network/aireos/aireos_command.py
  lib/ansible/plugins/connection/network_cli.py
  test/units/modules/network/aireos/test_aireos_command.py
Labels: affects_2.9, aireos, bug, cisco, core_review, module, networking, support:community, support:core, support:network, test

#62719 ACME module defaults
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  lib/ansible/config/module_defaults.yml
Labels: affects_2.10, docs, feature, has_issue, shipit, support:core

#61918 Bug fixes for GCP (as of 2019-08-30T06:04:11Z)
  lib/ansible/modules/cloud/google/gcp_spanner_database.py
  lib/ansible/modules/cloud/google/gcp_spanner_database_info.py
  lib/ansible/modules/cloud/google/gcp_spanner_instance.py
  lib/ansible/modules/cloud/google/gcp_spanner_instance_info.py
  lib/ansible/modules/cloud/google/gcp_sql_database.py
  lib/ansible/modules/cloud/google/gcp_sql_database_info.py
  lib/ansible/modules/cloud/google/gcp_sql_instance.py
  lib/ansible/modules/cloud/google/gcp_sql_instance_info.py
  lib/ansible/modules/cloud/google/gcp_sql_user.py
  lib/ansible/modules/cloud/google/gcp_sql_user_info.py
  lib/ansible/modules/cloud/google/gcp_storage_bucket.py
  lib/ansible/modules/cloud/google/gcp_storage_bucket_access_control.py
  lib/ansible/modules/cloud/google/gcp_storage_object.py
  lib/ansible/modules/cloud/google/gcp_tpu_node.py
  lib/ansible/modules/cloud/google/gcp_tpu_node_info.py
  test/integration/targets/gcp_spanner_database/tasks/autogen.yml
  test/integration/targets/gcp_spanner_database/tasks/main.yml
  test/integration/targets/gcp_spanner_instance/tasks/autogen.yml
  test/integration/targets/gcp_spanner_instance/tasks/main.yml
  test/integration/targets/gcp_sql_database/tasks/autogen.yml
  test/integration/targets/gcp_sql_database/tasks/main.yml
  test/integration/targets/gcp_sql_instance/tasks/autogen.yml
  test/integration/targets/gcp_sql_instance/tasks/main.yml
  test/integration/targets/gcp_sql_user/tasks/autogen.yml
  test/integration/targets/gcp_sql_user/tasks/main.yml
  test/integration/targets/gcp_storage_bucket/tasks/autogen.yml
  test/integration/targets/gcp_storage_bucket/tasks/main.yml
  test/integration/targets/gcp_storage_bucket_access_control/tasks/autogen.yml
  test/integration/targets/gcp_storage_bucket_access_control/tasks/main.yml
  test/integration/targets/gcp_tpu_node/tasks/autogen.yml
  test/integration/targets/gcp_tpu_node/tasks/main.yml
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community, test

#61917 Bug fixes for GCP (as of 2019-08-30T06:04:11Z)
  lib/ansible/modules/cloud/google/gcp_iam_role.py
  lib/ansible/modules/cloud/google/gcp_iam_role_info.py
  lib/ansible/modules/cloud/google/gcp_iam_service_account.py
  lib/ansible/modules/cloud/google/gcp_iam_service_account_info.py
  lib/ansible/modules/cloud/google/gcp_iam_service_account_key.py
  lib/ansible/modules/cloud/google/gcp_kms_crypto_key.py
  lib/ansible/modules/cloud/google/gcp_kms_crypto_key_info.py
  lib/ansible/modules/cloud/google/gcp_kms_key_ring.py
  lib/ansible/modules/cloud/google/gcp_kms_key_ring_info.py
  lib/ansible/modules/cloud/google/gcp_mlengine_model.py
  lib/ansible/modules/cloud/google/gcp_mlengine_model_info.py
  lib/ansible/modules/cloud/google/gcp_mlengine_version.py
  lib/ansible/modules/cloud/google/gcp_mlengine_version_info.py
  lib/ansible/modules/cloud/google/gcp_pubsub_subscription.py
  lib/ansible/modules/cloud/google/gcp_pubsub_subscription_info.py
  lib/ansible/modules/cloud/google/gcp_pubsub_topic.py
  lib/ansible/modules/cloud/google/gcp_pubsub_topic_info.py
  lib/ansible/modules/cloud/google/gcp_redis_instance.py
  lib/ansible/modules/cloud/google/gcp_redis_instance_info.py
  lib/ansible/modules/cloud/google/gcp_resourcemanager_project.py
  lib/ansible/modules/cloud/google/gcp_resourcemanager_project_info.py
  lib/ansible/modules/cloud/google/gcp_sourcerepo_repository.py
  lib/ansible/modules/cloud/google/gcp_sourcerepo_repository_info.py
  test/integration/targets/gcp_iam_role/tasks/autogen.yml
  test/integration/targets/gcp_iam_role/tasks/main.yml
  test/integration/targets/gcp_iam_service_account/tasks/autogen.yml
  test/integration/targets/gcp_iam_service_account/tasks/main.yml
  test/integration/targets/gcp_kms_crypto_key/tasks/autogen.yml
  test/integration/targets/gcp_kms_crypto_key/tasks/main.yml
  test/integration/targets/gcp_kms_key_ring/tasks/autogen.yml
  test/integration/targets/gcp_kms_key_ring/tasks/main.yml
  test/integration/targets/gcp_mlengine_model/tasks/autogen.yml
  test/integration/targets/gcp_mlengine_model/tasks/main.yml
  test/integration/targets/gcp_mlengine_version/tasks/autogen.yml
  test/integration/targets/gcp_mlengine_version/tasks/main.yml
  test/integration/targets/gcp_pubsub_subscription/tasks/autogen.yml
  test/integration/targets/gcp_pubsub_subscription/tasks/main.yml
  test/integration/targets/gcp_pubsub_topic/tasks/autogen.yml
  test/integration/targets/gcp_pubsub_topic/tasks/main.yml
  test/integration/targets/gcp_redis_instance/tasks/autogen.yml
  test/integration/targets/gcp_redis_instance/tasks/main.yml
  test/integration/targets/gcp_resourcemanager_project/tasks/autogen.yml
  test/integration/targets/gcp_resourcemanager_project/tasks/main.yml
  test/integration/targets/gcp_sourcerepo_repository/tasks/autogen.yml
  test/integration/targets/gcp_sourcerepo_repository/tasks/main.yml
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community, test

#61916 Bug fixes for GCP (as of 2019-08-30T06:04:11Z)
  lib/ansible/modules/cloud/google/gcp_compute_instance_template.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_template_info.py
  lib/ansible/modules/cloud/google/gcp_compute_interconnect_attachment.py
  lib/ansible/modules/cloud/google/gcp_compute_interconnect_attachment_info.py
  lib/ansible/modules/cloud/google/gcp_compute_network.py
  lib/ansible/modules/cloud/google/gcp_compute_network_info.py
  lib/ansible/modules/cloud/google/gcp_compute_region_disk.py
  lib/ansible/modules/cloud/google/gcp_compute_region_disk_info.py
  lib/ansible/modules/cloud/google/gcp_compute_route.py
  lib/ansible/modules/cloud/google/gcp_compute_route_info.py
  lib/ansible/modules/cloud/google/gcp_compute_router.py
  lib/ansible/modules/cloud/google/gcp_compute_router_info.py
  lib/ansible/modules/cloud/google/gcp_compute_snapshot.py
  lib/ansible/modules/cloud/google/gcp_compute_snapshot_info.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_certificate.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_certificate_info.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_policy.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_policy_info.py
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork.py
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_http_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_http_proxy_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy.py
  test/integration/targets/gcp_compute_instance_template/tasks/autogen.yml
  test/integration/targets/gcp_compute_instance_template/tasks/main.yml
  test/integration/targets/gcp_compute_network/tasks/autogen.yml
  test/integration/targets/gcp_compute_network/tasks/main.yml
  test/integration/targets/gcp_compute_region_disk/tasks/autogen.yml
  test/integration/targets/gcp_compute_region_disk/tasks/main.yml
  test/integration/targets/gcp_compute_route/tasks/autogen.yml
  test/integration/targets/gcp_compute_route/tasks/main.yml
  test/integration/targets/gcp_compute_router/tasks/autogen.yml
  test/integration/targets/gcp_compute_router/tasks/main.yml
  test/integration/targets/gcp_compute_snapshot/tasks/autogen.yml
  test/integration/targets/gcp_compute_snapshot/tasks/main.yml
  test/integration/targets/gcp_compute_ssl_certificate/tasks/autogen.yml
  test/integration/targets/gcp_compute_ssl_certificate/tasks/main.yml
  test/integration/targets/gcp_compute_ssl_policy/tasks/autogen.yml
  test/integration/targets/gcp_compute_ssl_policy/tasks/main.yml
  test/integration/targets/gcp_compute_subnetwork/tasks/autogen.yml
  test/integration/targets/gcp_compute_subnetwork/tasks/main.yml
  test/integration/targets/gcp_compute_target_http_proxy/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_http_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_target_https_proxy/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_https_proxy/tasks/main.yml
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community, test

#61829 Bug fixes for GCP (as of 2019-08-30T06:04:11Z)
  lib/ansible/modules/cloud/google/gcp_appengine_firewall_rule.py
  lib/ansible/modules/cloud/google/gcp_appengine_firewall_rule_info.py
  lib/ansible/modules/cloud/google/gcp_bigquery_dataset.py
  lib/ansible/modules/cloud/google/gcp_bigquery_dataset_info.py
  lib/ansible/modules/cloud/google/gcp_bigquery_table.py
  lib/ansible/modules/cloud/google/gcp_bigquery_table_info.py
  lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger.py
  lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger_info.py
  lib/ansible/modules/cloud/google/gcp_cloudfunctions_cloud_function.py
  lib/ansible/modules/cloud/google/gcp_cloudfunctions_cloud_function_info.py
  lib/ansible/modules/cloud/google/gcp_cloudscheduler_job.py
  lib/ansible/modules/cloud/google/gcp_cloudscheduler_job_info.py
  lib/ansible/modules/cloud/google/gcp_cloudtasks_queue.py
  lib/ansible/modules/cloud/google/gcp_cloudtasks_queue_info.py
  lib/ansible/modules/cloud/google/gcp_compute_address.py
  lib/ansible/modules/cloud/google/gcp_compute_address_info.py
  lib/ansible/modules/cloud/google/gcp_compute_autoscaler.py
  lib/ansible/modules/cloud/google/gcp_compute_autoscaler_info.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_bucket_info.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service_info.py
  lib/ansible/modules/cloud/google/gcp_compute_disk.py
  test/integration/targets/gcp_appengine_firewall_rule/tasks/autogen.yml
  test/integration/targets/gcp_appengine_firewall_rule/tasks/main.yml
  test/integration/targets/gcp_bigquery_dataset/tasks/autogen.yml
  test/integration/targets/gcp_bigquery_dataset/tasks/main.yml
  test/integration/targets/gcp_bigquery_table/tasks/autogen.yml
  test/integration/targets/gcp_bigquery_table/tasks/main.yml
  test/integration/targets/gcp_cloudfunctions_cloud_function/tasks/autogen.yml
  test/integration/targets/gcp_cloudfunctions_cloud_function/tasks/main.yml
  test/integration/targets/gcp_cloudscheduler_job/tasks/autogen.yml
  test/integration/targets/gcp_cloudscheduler_job/tasks/main.yml
  test/integration/targets/gcp_cloudtasks_queue/tasks/autogen.yml
  test/integration/targets/gcp_cloudtasks_queue/tasks/main.yml
  test/integration/targets/gcp_compute_address/tasks/autogen.yml
  test/integration/targets/gcp_compute_address/tasks/main.yml
  test/integration/targets/gcp_compute_autoscaler/tasks/autogen.yml
  test/integration/targets/gcp_compute_autoscaler/tasks/main.yml
  test/integration/targets/gcp_compute_backend_bucket/tasks/autogen.yml
  test/integration/targets/gcp_compute_backend_bucket/tasks/main.yml
  test/integration/targets/gcp_compute_backend_service/tasks/autogen.yml
  test/integration/targets/gcp_compute_backend_service/tasks/main.yml
  test/integration/targets/gcp_compute_disk/tasks/autogen.yml
  test/integration/targets/gcp_compute_disk/tasks/main.yml
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community, test

#61590 Bug fixes for GCP (as of 2019-08-29T06:03:57+00:00)
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_pool.py
  lib/ansible/modules/cloud/google/gcp_compute_target_pool_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_ssl_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_ssl_proxy_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_tcp_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_tcp_proxy_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_vpn_gateway.py
  lib/ansible/modules/cloud/google/gcp_compute_target_vpn_gateway_info.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map_info.py
  lib/ansible/modules/cloud/google/gcp_compute_vpn_tunnel.py
  lib/ansible/modules/cloud/google/gcp_compute_vpn_tunnel_info.py
  lib/ansible/modules/cloud/google/gcp_container_cluster.py
  lib/ansible/modules/cloud/google/gcp_container_cluster_info.py
  lib/ansible/modules/cloud/google/gcp_container_node_pool.py
  lib/ansible/modules/cloud/google/gcp_container_node_pool_info.py
  lib/ansible/modules/cloud/google/gcp_dns_managed_zone.py
  lib/ansible/modules/cloud/google/gcp_dns_managed_zone_info.py
  lib/ansible/modules/cloud/google/gcp_dns_resource_record_set.py
  lib/ansible/modules/cloud/google/gcp_dns_resource_record_set_info.py
  lib/ansible/modules/cloud/google/gcp_filestore_instance.py
  lib/ansible/modules/cloud/google/gcp_filestore_instance_info.py
  test/integration/targets/gcp_compute_target_pool/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_pool/tasks/main.yml
  test/integration/targets/gcp_compute_target_ssl_proxy/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_ssl_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_target_tcp_proxy/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_tcp_proxy/tasks/main.yml
  test/integration/targets/gcp_compute_target_vpn_gateway/tasks/autogen.yml
  test/integration/targets/gcp_compute_target_vpn_gateway/tasks/main.yml
  test/integration/targets/gcp_compute_url_map/tasks/autogen.yml
  test/integration/targets/gcp_compute_url_map/tasks/main.yml
  test/integration/targets/gcp_compute_vpn_tunnel/tasks/autogen.yml
  test/integration/targets/gcp_compute_vpn_tunnel/tasks/main.yml
  test/integration/targets/gcp_container_cluster/tasks/autogen.yml
  test/integration/targets/gcp_container_cluster/tasks/main.yml
  test/integration/targets/gcp_container_node_pool/tasks/autogen.yml
  test/integration/targets/gcp_container_node_pool/tasks/main.yml
  test/integration/targets/gcp_dns_managed_zone/tasks/autogen.yml
  test/integration/targets/gcp_dns_managed_zone/tasks/main.yml
  test/integration/targets/gcp_dns_resource_record_set/tasks/autogen.yml
  test/integration/targets/gcp_dns_resource_record_set/tasks/main.yml
  test/integration/targets/gcp_filestore_instance/tasks/autogen.yml
  test/integration/targets/gcp_filestore_instance/tasks/main.yml
Labels: affects_2.9, automerge, bug, cloud, gce, module, shipit, support:community, test

#63036 mysql_replication: add return value, remove extra argument from function
  changelogs/fragments/63036-mysql_replication_add_return_value.yml
  lib/ansible/modules/database/mysql/mysql_replication.py
  test/integration/targets/mariadb_replication/tasks/mariadb_replication_initial.yml
Labels: affects_2.10, community_review, database, feature, module, mysql, needs_triage, support:community

#62878 vmware_httpapi: version_added==2.10
  lib/ansible/modules/cloud/vmware_httpapi/vmware_appliance_access_info.py
  lib/ansible/modules/cloud/vmware_httpapi/vmware_appliance_health_info.py
  lib/ansible/modules/cloud/vmware_httpapi/vmware_cis_category_info.py
  lib/ansible/modules/cloud/vmware_httpapi/vmware_core_info.py
  lib/ansible/plugins/doc_fragments/VmwareRestModule.py
  lib/ansible/plugins/doc_fragments/VmwareRestModule_filters.py
  lib/ansible/plugins/doc_fragments/VmwareRestModule_full.py
  lib/ansible/plugins/doc_fragments/VmwareRestModule_state.py
  lib/ansible/plugins/httpapi/vmware.py
Labels: affects_2.10, bug, cloud, module, needs_revision, needs_triage, networking, support:community, support:network, vmware

#62870 Default collection install to first path in COLLECTIONS_PATHS
  changelogs/fragments/62870-collection-install-default-path.yml
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/cli/galaxy.py
Labels: affects_2.10, bug, docs, docsite, has_issue, needs_revision, support:community, support:core

#63034 dnf - properly handle idempotent removal of wildcard globs
  changelogs/fragments/62809-dnf-wildcard-absent-failure.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.10, bug, core_review, module, packaging, support:community, support:core

#62998 IOS-XR: Fix iosxr_lag_interfaces intermittent failures
  lib/ansible/module_utils/network/iosxr/utils/utils.py
Labels: affects_2.10, bug, cisco, core_review, ios, iosxr, networking, support:network

#62675 Add Azure Stack supported API profiles
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.10, azure, bug, cloud, community_review, has_issue, needs_triage, new_contributor, stale_ci, support:community

#62900 [Backport 2.9] Fix and reenable hcloud_network_info tests
  test/integration/targets/hcloud_network_info/aliases
  test/integration/targets/hcloud_network_info/tasks/main.yml
Labels: affects_2.9, backport, cloud, community_review, hcloud, needs_triage, support:community

#62545 [stable-2.9] Fix nxos_l3_interfaces module and tests
  lib/ansible/module_utils/network/nxos/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/nxos/utils/utils.py
  test/integration/targets/nxos_l3_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/replaced.yaml
  test/units/modules/network/nxos/test_nxos_l3_interfaces.py
Labels: affects_2.10, bug, cisco, core_review, networking, nxos, support:core, support:network, test

#62602 Add new truthy and falsy jinja2 tests
  changelogs/fragments/truthiness-tests.yaml
  docs/docsite/rst/user_guide/playbooks_tests.rst
  lib/ansible/plugins/test/core.py
  test/integration/targets/tests/aliases
  test/integration/targets/tests/tasks/main.yml
Labels: affects_2.10, core_review, docs, feature, support:community, support:core, test

#62865 hcloud_volume: add linux_device to return values
  lib/ansible/modules/cloud/hcloud/hcloud_volume.py
  lib/ansible/modules/cloud/hcloud/hcloud_volume_info.py
  test/integration/targets/hcloud_volume/tasks/main.yml
  test/integration/targets/hcloud_volume_info/tasks/main.yml
Labels: affects_2.10, cloud, community_review, feature, hcloud, module, support:community

#63065 New GCP module: gcp_compute_node_template_info
  lib/ansible/modules/cloud/google/gcp_compute_node_template_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#63064 New GCP module: gcp_compute_node_template
  lib/ansible/modules/cloud/google/gcp_compute_node_template.py
  test/integration/targets/gcp_compute_node_template/aliases
  test/integration/targets/gcp_compute_node_template/meta/main.yml
  test/integration/targets/gcp_compute_node_template/tasks/autogen.yml
  test/integration/targets/gcp_compute_node_template/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#61915 Bug fixes for GCP (as of 2019-08-30T06:04:11Z)
  lib/ansible/modules/cloud/google/gcp_compute_disk_info.py
  lib/ansible/modules/cloud/google/gcp_compute_firewall.py
  lib/ansible/modules/cloud/google/gcp_compute_firewall_info.py
  lib/ansible/modules/cloud/google/gcp_compute_forwarding_rule.py
  lib/ansible/modules/cloud/google/gcp_compute_forwarding_rule_info.py
  lib/ansible/modules/cloud/google/gcp_compute_global_address.py
  lib/ansible/modules/cloud/google/gcp_compute_global_address_info.py
  lib/ansible/modules/cloud/google/gcp_compute_global_forwarding_rule.py
  lib/ansible/modules/cloud/google/gcp_compute_global_forwarding_rule_info.py
  lib/ansible/modules/cloud/google/gcp_compute_health_check.py
  lib/ansible/modules/cloud/google/gcp_compute_health_check_info.py
  lib/ansible/modules/cloud/google/gcp_compute_http_health_check.py
  lib/ansible/modules/cloud/google/gcp_compute_http_health_check_info.py
  lib/ansible/modules/cloud/google/gcp_compute_https_health_check.py
  lib/ansible/modules/cloud/google/gcp_compute_https_health_check_info.py
  lib/ansible/modules/cloud/google/gcp_compute_image.py
  lib/ansible/modules/cloud/google/gcp_compute_image_info.py
  lib/ansible/modules/cloud/google/gcp_compute_instance.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group_info.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group_manager.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_group_manager_info.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_info.py
  test/integration/targets/gcp_compute_firewall/tasks/autogen.yml
  test/integration/targets/gcp_compute_firewall/tasks/main.yml
  test/integration/targets/gcp_compute_forwarding_rule/tasks/autogen.yml
  test/integration/targets/gcp_compute_forwarding_rule/tasks/main.yml
  test/integration/targets/gcp_compute_global_address/tasks/autogen.yml
  test/integration/targets/gcp_compute_global_address/tasks/main.yml
  test/integration/targets/gcp_compute_global_forwarding_rule/tasks/autogen.yml
  test/integration/targets/gcp_compute_global_forwarding_rule/tasks/main.yml
  test/integration/targets/gcp_compute_health_check/tasks/autogen.yml
  test/integration/targets/gcp_compute_health_check/tasks/main.yml
  test/integration/targets/gcp_compute_http_health_check/tasks/autogen.yml
  test/integration/targets/gcp_compute_http_health_check/tasks/main.yml
  test/integration/targets/gcp_compute_https_health_check/tasks/autogen.yml
  test/integration/targets/gcp_compute_https_health_check/tasks/main.yml
  test/integration/targets/gcp_compute_image/tasks/autogen.yml
  test/integration/targets/gcp_compute_image/tasks/main.yml
  test/integration/targets/gcp_compute_instance/tasks/autogen.yml
  test/integration/targets/gcp_compute_instance/tasks/main.yml
  test/integration/targets/gcp_compute_instance_group/tasks/autogen.yml
  test/integration/targets/gcp_compute_instance_group/tasks/main.yml
  test/integration/targets/gcp_compute_instance_group_manager/tasks/autogen.yml
  test/integration/targets/gcp_compute_instance_group_manager/tasks/main.yml
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community, test

#63059 dnf - properly handle idempotent removal of wildcard globs (#63034)
  changelogs/fragments/62809-dnf-wildcard-absent-failure.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/yum/tasks/yum.yml
Labels: P2, affects_2.9, backport, bug, core_review, has_issue, module, needs_triage, packaging, support:community, support:core

#62022 vmware/test: add vsphere-automation-sdk dep
  test/lib/ansible_test/_data/requirements/integration.cloud.vcenter.txt
Labels: affects_2.10, bug, cloud, docker, needs_revision, stale_ci, support:core, test

#63044 aci_contract_subject: Remove missing entry
  lib/ansible/modules/network/aci/aci_contract_subject.py
Labels: aci, affects_2.10, bug, cisco, committer_review, module, networking, owner_pr, small_patch, support:certified

#54647 VMware: new module vmware_guest_register_operation
  lib/ansible/modules/cloud/vmware/vmware_guest_register_operation.py
  test/integration/targets/vmware_guest_register_operation/aliases
  test/integration/targets/vmware_guest_register_operation/tasks/main.yml
Labels: affects_2.8, cloud, module, needs_revision, new_module, new_plugin, support:community, vmware

#63006 Doc updates to openssl_certificate and ecs_certificate
  lib/ansible/modules/crypto/entrust/ecs_certificate.py
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/plugins/doc_fragments/ecs_credential.py
Labels: affects_2.10, community_review, crypto, docs, module, support:community

#63070 Default collection install path to first path in COLLECTIONS_PATHS
  changelogs/fragments/62870-collection-install-default-path.yml
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/cli/galaxy.py
Labels: P2, affects_2.9, backport, bug, core_review, docs, docsite, support:community, support:core

#61961 pacman: remove 'recurse' deprecated option
  changelogs/fragments/61961-pacman_remove_recurse_option.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/packaging/os/pacman.py
Labels: affects_2.10, bug, docs, module, packaging, shipit, support:community, support:core

#63075 [stable-2.9] Fix nxos_l3_interfaces module and tests (#62545)
  changelogs/fragments/nxos_l3_interfaces29.yaml
  lib/ansible/module_utils/network/nxos/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/nxos/utils/utils.py
  test/integration/targets/nxos_l3_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/replaced.yaml
  test/units/modules/network/nxos/test_nxos_l3_interfaces.py
Labels: affects_2.9, backport, bug, cisco, core_review, needs_triage, networking, nxos, support:community, support:core, support:network, test

#62608 datadog_monitor - Add api_host parameter
  lib/ansible/modules/monitoring/datadog_monitor.py
Labels: affects_2.10, automerge, feature, module, monitoring, new_contributor, shipit, support:community

#62648 mysql_replication: add master_use_gtid parameter
  changelogs/fragments/62648-mysql_replication_add_master_use_gtid_param.yml
  lib/ansible/modules/database/mysql/mysql_replication.py
  test/integration/targets/mariadb_replication/tasks/main.yml
  test/integration/targets/mariadb_replication/tasks/mariadb_master_use_gtid.yml
Labels: affects_2.10, database, feature, module, mysql, shipit, support:community

#62999 postgresql_lang: add owner parameter
  changelogs/fragments/62999-postgresql_lang_add_owner_parameter.yml
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  test/integration/targets/postgresql_lang/tasks/main.yml
  test/integration/targets/postgresql_lang/tasks/postgresql_lang_add_owner_param.yml
Labels: affects_2.10, database, feature, module, postgresql, shipit, support:community, test

#63068 This should never have been "support:network"
  lib/ansible/modules/network/nxos/nxos_ping.py
Labels: affects_2.10, cisco, core_review, docs, module, needs_triage, networking, nxos, small_patch, support:network

#62515 IOS-XR: Fail with a better message when config is not provided
  lib/ansible/module_utils/network/iosxr/config/interfaces/interfaces.py
  lib/ansible/module_utils/network/iosxr/config/l2_interfaces/l2_interfaces.py
  lib/ansible/module_utils/network/iosxr/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/iosxr/config/lacp/lacp.py
  lib/ansible/module_utils/network/iosxr/config/lacp_interfaces/lacp_interfaces.py
  lib/ansible/module_utils/network/iosxr/config/lag_interfaces/lag_interfaces.py
  lib/ansible/module_utils/network/iosxr/config/lldp_global/lldp_global.py
  lib/ansible/module_utils/network/iosxr/config/lldp_interfaces/lldp_interfaces.py
  test/integration/targets/iosxr_interfaces/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_l2_interfaces/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_l3_interfaces/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_lacp/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_lacp_interfaces/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_lag_interfaces/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_lldp_global/tests/cli/empty_config.yaml
  test/integration/targets/iosxr_lldp_interfaces/tests/cli/empty_config.yaml
Labels: affects_2.10, bug, cisco, core_review, ios, iosxr, networking, stale_ci, support:network, test

#63096 [WIP] Add docs on hiding sensitive data in loops
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: WIP, affects_2.10, docs, small_patch, support:core

#63095 Backport 2.9: IOS-XR - Fix iosxr_lag_interfaces intermittent failures (#62998)
  changelogs/fragments/62998-fix_iosxr_lag_interfaces_random_failures.yaml
  lib/ansible/module_utils/network/iosxr/utils/utils.py
Labels: affects_2.9, backport, bug, cisco, core_review, has_issue, ios, iosxr, networking, support:community, support:network

#62994 Update intro_installation.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.10, core_review, docs, docsite_pr, new_contributor, small_patch, support:core

#63115 Fix ansible-test virtualenv real python search.
  changelogs/fragments/ansible-test-virtualenv-python-search.yml
  test/lib/ansible_test/_internal/venv.py
Labels: affects_2.10, bug, shipit, support:community, support:core, test

#63124 mysql_replication: add basic CI tests with MySQL 5.6
  test/integration/targets/mysql_replication/aliases
  test/integration/targets/mysql_replication/defaults/main.yml
  test/integration/targets/mysql_replication/meta/main.yml
  test/integration/targets/mysql_replication/tasks/main.yml
  test/integration/targets/mysql_replication/tasks/mysql_replication_initial.yml
  test/integration/targets/setup_mysql_replication/defaults/main.yml
  test/integration/targets/setup_mysql_replication/tasks/main.yml
  test/integration/targets/setup_mysql_replication/tasks/setup_mysql_cluster.yml
  test/integration/targets/setup_mysql_replication/templates/my.cnf.j2
Labels: affects_2.10, community_review, database, feature, mysql, support:community, test

#63128 Update xml.py
  lib/ansible/modules/files/xml.py
Labels: affects_2.10, community_review, docs, files, m:xml, module, needs_triage, new_contributor, small_patch, support:community

#62867 updated python-oca to pyone
  lib/ansible/modules/cloud/opennebula/one_image_info.py
Labels: affects_2.10, automerge, bug, cloud, module, new_contributor, owner_pr, shipit, support:community

#63055 ios_bgp : Fix for bug #59083
  lib/ansible/module_utils/network/ios/providers/cli/config/bgp/process.py
  test/integration/targets/ios_bgp/tests/cli/basic.yaml
Labels: affects_2.10, bug, cisco, has_issue, ios, needs_revision, networking, small_patch, support:network, test

#62915 Fix failed mounts in podman connector and handle errors (#57741)
  changelogs/fragments/57741-podman-connection-plugin-fix-mount.yaml
  lib/ansible/plugins/connection/podman.py
Labels: affects_2.8, backport, community_review, support:community

#63122 New GCP module: gcp_compute_network_endpoint_group_info
  lib/ansible/modules/cloud/google/gcp_compute_network_endpoint_group_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#63121 New GCP module: gcp_compute_network_endpoint_group
  lib/ansible/modules/cloud/google/gcp_compute_network_endpoint_group.py
  test/integration/targets/gcp_compute_network_endpoint_group/aliases
  test/integration/targets/gcp_compute_network_endpoint_group/meta/main.yml
  test/integration/targets/gcp_compute_network_endpoint_group/tasks/autogen.yml
  test/integration/targets/gcp_compute_network_endpoint_group/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#63081 New GCP module: gcp_compute_node_group_info
  lib/ansible/modules/cloud/google/gcp_compute_node_group_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#63080 New GCP module: gcp_compute_node_group
  lib/ansible/modules/cloud/google/gcp_compute_node_group.py
  test/integration/targets/gcp_compute_node_group/aliases
  test/integration/targets/gcp_compute_node_group/meta/main.yml
  test/integration/targets/gcp_compute_node_group/tasks/autogen.yml
  test/integration/targets/gcp_compute_node_group/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#62971 docker_container: improve image finding / change detection
  changelogs/fragments/62971-docker_container-image-finding.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
Labels: affects_2.10, bug, cloud, community_review, docker, has_issue, module, needs_triage, support:community, test

#62179 docker modules: improve documentation of list options
  lib/ansible/modules/cloud/docker/docker_compose.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_image_info.py
  lib/ansible/modules/cloud/docker/docker_network.py
  lib/ansible/modules/cloud/docker/docker_node.py
  lib/ansible/modules/cloud/docker/docker_node_info.py
  lib/ansible/modules/cloud/docker/docker_stack.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.10, cloud, community_review, docker, docs, module, needs_triage, owner_pr, stale_ci, support:community

#62991 openssl_dhparam: add cryptography backend
  changelogs/fragments/62991-openssl_dhparam-cryptography-backend.yml
  lib/ansible/module_utils/crypto.py
  lib/ansible/modules/crypto/openssl_dhparam.py
  test/integration/targets/openssl_dhparam/meta/main.yml
  test/integration/targets/openssl_dhparam/tasks/impl.yml
  test/integration/targets/openssl_dhparam/tasks/main.yml
  test/integration/targets/openssl_dhparam/tests/validate.yml
Labels: affects_2.10, crypto, feature, module, shipit, support:community, test

#63031 Add support for automation-hub authentication to ansible-galaxy
  changelogs/fragments/ansible-galaxy-support-for-automation-hub.yml
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection.py
  lib/ansible/galaxy/token.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.10, bug, docs, has_issue, needs_revision, support:community, support:core

#63146 CentOS8/RHEL8 base don't have all the deps we were specifying
  packaging/rpm/ansible.spec
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#63171 mariadb_replication / mysql_replication integration tests: conflicts on centos7
  test/integration/targets/mariadb_replication/aliases
  test/integration/targets/mysql_replication/aliases
Labels: affects_2.10, bug, community_review, database, mysql, needs_triage, support:community, test

#63184 Typo Fix 😅
  lib/ansible/modules/database/mssql/mssql_db.py
Labels: affects_2.10, community_review, database, docs, module, needs_triage, small_patch, support:community

#62853 Update maintenance notes on vmware_cfg_backup.py
  lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py
Labels: affects_2.10, cloud, community_review, docs, docsite_pr, module, new_contributor, small_patch, support:community, vmware

#62916 VMware: add properties option to vmware_host_facts module
  changelogs/fragments/62916-add_properties_option_to_vmware_host_facts.yml
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
  test/integration/targets/vmware_host_facts/tasks/main.yml
Labels: affects_2.10, cloud, community_review, feature, module, support:community, vmware

#62629 Fixed typo in nxos_config documentation
  lib/ansible/modules/network/nxos/nxos_config.py
Labels: affects_2.10, cisco, core_review, docs, docsite_pr, module, networking, new_contributor, nxos, small_patch, support:network

#63186 postgresql: add elements for list params to the modules documentation
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  lib/ansible/modules/database/postgresql/postgresql_info.py
  lib/ansible/modules/database/postgresql/postgresql_membership.py
  lib/ansible/modules/database/postgresql/postgresql_owner.py
  lib/ansible/modules/database/postgresql/postgresql_publication.py
  lib/ansible/modules/database/postgresql/postgresql_table.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
Labels: affects_2.10, automerge, database, docs, module, owner_pr, postgresql, shipit, support:community

#63187 mysql: add elements for list params to the modules' documentation
  lib/ansible/modules/database/mysql/mysql_db.py
  lib/ansible/modules/database/mysql/mysql_info.py
Labels: affects_2.10, automerge, database, docs, module, mysql, owner_pr, shipit, small_patch, support:community

#63130 mysql_replication: add master_delay parameter
  changelogs/fragments/63130-mysql_replication_add_master_delay_parameter.yml
  lib/ansible/modules/database/mysql/mysql_replication.py
  test/integration/targets/mysql_replication/defaults/main.yml
  test/integration/targets/mysql_replication/tasks/main.yml
  test/integration/targets/mysql_replication/tasks/mysql_replication_master_delay.yml
Labels: affects_2.10, database, feature, has_issue, module, mysql, shipit, support:community, test

#28552 vmware: Only add configured network interfaces to facts
  changelogs/fragments/vmware-only-add-configured-interfaces.yml
  lib/ansible/module_utils/vmware.py
Labels: affects_2.4, bug, c:module_utils/, cloud, community_review, has_issue, module_utils/, module_utils/vmware, new_contributor, stale_ci, support:community, vmware

#63155 New GCP module: gcp_compute_region_backend_service_info
  lib/ansible/modules/cloud/google/gcp_compute_region_backend_service_info.py
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community

#63154 New GCP module: gcp_compute_region_backend_service
  lib/ansible/modules/cloud/google/gcp_compute_region_backend_service.py
  test/integration/targets/gcp_compute_region_backend_service/aliases
  test/integration/targets/gcp_compute_region_backend_service/meta/main.yml
  test/integration/targets/gcp_compute_region_backend_service/tasks/autogen.yml
  test/integration/targets/gcp_compute_region_backend_service/tasks/main.yml
Labels: affects_2.10, automerge, cloud, gce, module, new_module, new_plugin, shipit, support:community, test

#63153 Bug fixes for GCP (as of 2019-10-04T06:04:33+00:00)
  lib/ansible/modules/cloud/google/gcp_bigquery_dataset.py
  lib/ansible/modules/cloud/google/gcp_bigquery_dataset_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#63203 Install zip for unarchive test when using dnf.
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.10, bug, core_review, files, m:unarchive, support:core

#63197 VMware: Add module defaults for VMware modules
  changelogs/fragments/vmware-module_fragments-group.yml
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  lib/ansible/config/module_defaults.yml
Labels: affects_2.10, core_review, docs, feature, support:community, support:core

#63202 Add missing var for format string in ansible-test.
  changelogs/fragments/ansible-test-test-source-message.yml
  test/lib/ansible_test/_internal/provider/layout/collection.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#63201 Fix ansible-test integration temp dir location.
  changelogs/fragments/ansible-test-integration-temp-dir.yml
  test/lib/ansible_test/_internal/cover.py
  test/lib/ansible_test/_internal/integration/__init__.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#62188 Support latest version while upgrading VM hardware.
  changelogs/fragments/62188-VMware-Guest-Support-latest-version-while-upgrading-VM-hardware.yml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/defaults/main.yml
  test/integration/targets/vmware_guest/tasks/reconfig_vm_to_latest_version.yml
Labels: affects_2.10, bug, cloud, has_issue, module, needs_revision, support:community, vmware

#63211 Work around ssh-keygen issue in ansible-test.
  changelogs/fragments/ansible-test-ssh-keygen-fix.yml
  test/lib/ansible_test/_data/setup/remote.sh
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#63221 mysql_replication: small fix of master_delay parameter
  lib/ansible/modules/database/mysql/mysql_replication.py
Labels: affects_2.10, bug, community_review, database, module, mysql, needs_triage, owner_pr, small_patch, support:community

#63125 Add spaces around {{ indicators.
  lib/ansible/plugins/lookup/items.py
Labels: affects_2.10, docs, needs_revision, needs_triage, small_patch, support:core

#63194 lineinfile - fix bug with insertbefore/insertafter and firstmatch
  changelogs/fragments/63194-lineinfile_insertafter_duplicate.yaml
  lib/ansible/modules/files/lineinfile.py
  test/integration/targets/lineinfile/files/firstmatch.txt
  test/integration/targets/lineinfile/files/test_58923.txt
  test/integration/targets/lineinfile/tasks/main.yml
Labels: affects_2.10, bug, files, module, needs_revision, support:community, support:core

#63199 Ovirt add template timeout error
  lib/ansible/modules/cloud/ovirt/ovirt_template.py
Labels: affects_2.10, automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#63216 [stable-2.9] Fix ansible-test integration temp dir location.
  changelogs/fragments/ansible-test-integration-temp-dir.yml
  test/lib/ansible_test/_internal/cover.py
  test/lib/ansible_test/_internal/integration/__init__.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#61813 maven_artifact.py - add support for version ranges by using spec (#54…
  lib/ansible/modules/packaging/language/maven_artifact.py
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/units.txt
  test/sanity/ignore.txt
  test/units/modules/packaging/language/test_maven_artifact.py
Labels: affects_2.10, feature, module, packaging, shipit, support:community, support:core, test

#63206 [stable-2.9] Install zip for unarchive test when using dnf.
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, files, m:unarchive, support:core

#63118 [stable-2.9] Fix ansible-test virtualenv real python search.
  changelogs/fragments/ansible-test-virtualenv-python-search.yml
  test/lib/ansible_test/_internal/venv.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#63230 ovirt_vm: Add new suboptions to graphical_console
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.10, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#63162 fix typo in collection/plugins/readme
  lib/ansible/galaxy/data/default/collection/plugins/README.md.j2
Labels: affects_2.10, docs, needs_triage, shipit, small_patch, support:core

#63200 [stable-2.9 backport] ansible-galaxy automation-hub authentication support (#63031)
  changelogs/fragments/ansible-galaxy-support-for-automation-hub.yml
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection.py
  lib/ansible/galaxy/token.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.9, backport, bug, core_review, docs, galaxy, has_issue, support:community, support:core

#62837 Fix whitespace issue in filter (backport 2.7)
  changelogs/fragments/aci-42-filter-whitespace.yaml
  lib/ansible/module_utils/network/aci/aci.py
Labels: aci, affects_2.7, backport, bug, cisco, community_review, networking, support:community

#63208 [stable-2.8] Install zip for unarchive test when using dnf.
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.8, backport, bug, core_review, files, m:unarchive, support:core

#63056 Docs: User guide overhaul, part 1
  docs/docsite/rst/index.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/network/getting_started/basic_concepts.rst
  docs/docsite/rst/reference_appendices/logging.rst
  docs/docsite/rst/shared_snippets/basic_concepts.txt
  docs/docsite/rst/user_guide/basic_concepts.rst
  docs/docsite/rst/user_guide/become.rst
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/command_line_tools.rst
  docs/docsite/rst/user_guide/connection_details.rst
  docs/docsite/rst/user_guide/guide_rolling_upgrade.rst
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/intro_bsd.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/intro_patterns.rst
  docs/docsite/rst/user_guide/modules_intro.rst
  docs/docsite/rst/user_guide/playbooks_async.rst
Labels: affects_2.10, bsd, docs, docsite, networking, support:core

#63243 Updated with slipped dates for the 2.9.0 release
  docs/docsite/rst/roadmap/ROADMAP_2_9.rst
Labels: affects_2.10, bug, core_review, docs, support:core

#63141 Add RHEL 8.1b to the Shippable test matrix.
  shippable.yml
  test/integration/targets/firewalld/aliases
  test/integration/targets/ufw/aliases
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.10, core_review, feature, support:community, support:core, system, test

#63163 ec2_vpc_nacl and ec2_vpc_nacl_info migrate to AnsibleAWSModule and add tests
  hacking/aws_config/testing_policies/compute-policy.json
  hacking/aws_config/testing_policies/network-policy.json
  lib/ansible/modules/cloud/amazon/ec2_vpc_nacl.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_nacl_info.py
  test/integration/targets/ec2_vpc_nacl/aliases
  test/integration/targets/ec2_vpc_nacl/meta/main.yml
  test/integration/targets/ec2_vpc_nacl/tasks/ingress_and_egress.yml
  test/integration/targets/ec2_vpc_nacl/tasks/ipv6.yml
  test/integration/targets/ec2_vpc_nacl/tasks/main.yml
  test/integration/targets/ec2_vpc_nacl/tasks/subnet_ids.yml
  test/integration/targets/ec2_vpc_nacl/tasks/subnet_names.yml
  test/integration/targets/ec2_vpc_nacl/tasks/tags.yml
  test/sanity/ignore.txt
Labels: affects_2.10, aws, cloud, core_review, feature, module, needs_maintainer, support:community, support:core, test

#63245 Backport schedule
  docs/docsite/rst/roadmap/ROADMAP_2_9.rst
Labels: affects_2.9, backport, bug, core_review, docs, needs_triage, support:core

#63238 Stop appending '/api' to galaxy server url
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
Labels: affects_2.10, bug, collection, galaxy, shipit, support:core

#63247 Backport/2.9/docs
  docs/docsite/rst/community/committer_guidelines.rst
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/community/maintainers.rst
  docs/docsite/rst/community/other_tools_and_programs.rst
  docs/docsite/rst/community/reporting_bugs_and_features.rst
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/openstack_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
  docs/docsite/rst/dev_guide/style_guide/basic_rules.rst
  docs/docsite/rst/dev_guide/style_guide/index.rst
  docs/docsite/rst/network/getting_started/network_resources.rst
  docs/docsite/rst/network/user_guide/platform_cnos.rst
  docs/docsite/rst/network/user_guide/platform_enos.rst
  docs/docsite/rst/network/user_guide/platform_index.rst
  docs/docsite/rst/network/user_guide/platform_nxos.rst
  docs/docsite/rst/plugins/cache.rst
  docs/docsite/rst/plugins/callback.rst
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_vagrant.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_remove_vm.rst
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
  docs/docsite/rst/user_guide/windows_dsc.rst
  docs/docsite/rst/user_guide/windows_usage.rst
  lib/ansible/config/base.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: aci, affects_2.9, backport, cisco, cloud, core_review, docs, docsite, module, networking, ovirt, support:community, support:core, windows

#63220 add ANSIBLE_PLAYBOOK_DIR envvar support
  changelogs/fragments/59464-playbook-dir-envvar.yml
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/config/base.yml
  test/integration/targets/ansible/playbookdir_cfg.ini
  test/integration/targets/ansible/runme.sh
Labels: affects_2.10, bug, needs_revision, support:community, support:core

#63250 Backport/2.9/docs2
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/user_guide/playbooks_environment.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  lib/ansible/modules/crypto/entrust/ecs_certificate.py
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/modules/files/file.py
  lib/ansible/modules/files/xml.py
  lib/ansible/modules/network/nxos/nxos_ping.py
  lib/ansible/modules/packaging/os/yum.py
  lib/ansible/modules/windows/win_dsc.py
  lib/ansible/modules/windows/win_wait_for_process.py
  lib/ansible/plugins/doc_fragments/ecs_credential.py
Labels: affects_2.9, backport, cisco, crypto, docs, files, m:xml, module, needs_revision, needs_triage, networking, nxos, packaging, support:community, support:core, windows

#63229 mysql_replication: add connection_name param for MariaDB multi source replication support
  changelogs/fragments/63229-mysql_replication_add_connection_name_parameter.yml
  lib/ansible/modules/database/mysql/mysql_replication.py
  test/integration/targets/mariadb_replication/defaults/main.yml
  test/integration/targets/mariadb_replication/tasks/main.yml
  test/integration/targets/mariadb_replication/tasks/mariadb_replication_connection_name.yml
Labels: affects_2.10, database, feature, has_issue, module, mysql, shipit, support:community

#63101 Do not use fully qualified module_utils imports
  lib/ansible/modules/cloud/amazon/cloudformation.py
  lib/ansible/modules/cloud/amazon/dynamodb_ttl.py
  lib/ansible/modules/database/influxdb/influxdb_user.py
Labels: affects_2.10, aws, bug, cloud, core_review, database, module, needs_maintainer, support:community, support:core

#63271 mysql_replication: add channel parameter
  changelogs/fragments/63271-mysql_replication_add_channel_parameter.yml
  lib/ansible/modules/database/mysql/mysql_replication.py
  test/integration/targets/mysql_replication/defaults/main.yml
  test/integration/targets/mysql_replication/tasks/main.yml
  test/integration/targets/mysql_replication/tasks/mysql_replication_channel.yml
  test/integration/targets/mysql_replication/tasks/mysql_replication_initial.yml
  test/integration/targets/setup_mysql_replication/defaults/main.yml
  test/integration/targets/setup_mysql_replication/tasks/setup_mysql_cluster.yml
  test/integration/targets/setup_mysql_replication/templates/my-1.cnf.j2
  test/integration/targets/setup_mysql_replication/templates/my-2.cnf.j2
  test/integration/targets/setup_mysql_replication/templates/my.cnf.j2
Labels: affects_2.10, community_review, database, feature, has_issue, module, mysql, needs_triage, support:community, test

#63046 Fix junos unicode errors.
  lib/ansible/module_utils/network/junos/facts/legacy/base.py
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, networking, support:network

#63251 Backport/2.9/docs3
  docs/docsite/rst/index.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/network/getting_started/basic_concepts.rst
  docs/docsite/rst/reference_appendices/logging.rst
  docs/docsite/rst/shared_snippets/basic_concepts.txt
  docs/docsite/rst/user_guide/basic_concepts.rst
  docs/docsite/rst/user_guide/become.rst
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/command_line_tools.rst
  docs/docsite/rst/user_guide/connection_details.rst
  docs/docsite/rst/user_guide/guide_rolling_upgrade.rst
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/intro_bsd.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/intro_patterns.rst
  docs/docsite/rst/user_guide/modules_intro.rst
  docs/docsite/rst/user_guide/playbooks_async.rst
  lib/ansible/galaxy/data/default/collection/plugins/README.md.j2
  lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py
  lib/ansible/modules/cloud/vmware/vmware_content_deploy_template.py
  lib/ansible/modules/database/mssql/mssql_db.py
  lib/ansible/modules/database/mysql/mysql_db.py
  lib/ansible/modules/database/mysql/mysql_info.py
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  lib/ansible/modules/database/postgresql/postgresql_info.py
  lib/ansible/modules/database/postgresql/postgresql_membership.py
  lib/ansible/modules/database/postgresql/postgresql_owner.py
  lib/ansible/modules/database/postgresql/postgresql_publication.py
  lib/ansible/modules/database/postgresql/postgresql_table.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
  lib/ansible/modules/network/nxos/nxos_config.py
  lib/ansible/plugins/lookup/items.py
Labels: affects_2.9, backport, bsd, cisco, cloud, database, docs, docsite, module, mysql, needs_revision, needs_triage, networking, nxos, postgresql, support:community, support:core, support:network, vmware

#62444 dest lives in 4 different places depending on execution type
  lib/ansible/plugins/action/network.py
Labels: affects_2.10, bug, core_review, networking, new_contributor, small_patch, stale_ci, support:network

#61270 Add aliases for path parameter of stat module
  lib/ansible/modules/files/stat.py
Labels: P3, affects_2.10, feature, files, module, pr_day, shipit, small_patch, support:core

#63262 [2.9 backport] add ANSIBLE_PLAYBOOK_DIR envvar support (#63220)
  changelogs/fragments/59464-playbook-dir-envvar.yml
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/config/base.yml
  test/integration/targets/ansible/playbookdir_cfg.ini
  test/integration/targets/ansible/runme.sh
Labels: affects_2.9, backport, bug, needs_revision, needs_triage, support:community, support:core

#63085 docs: add Centos and Ubuntu to examples for playbook conditionals
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.10, core_review, docs, new_contributor, support:core

#63289 stat: Reword awkward documentation language
  lib/ansible/modules/files/stat.py
Labels: affects_2.10, core_review, docs, files, module, new_contributor, small_patch, support:core

#63164 docker_* modules: add docker module defaults group
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  lib/ansible/config/module_defaults.yml
Labels: affects_2.10, core_review, docs, feature, support:core

#63266 Update win_disk_facts.py example
  lib/ansible/modules/windows/win_disk_facts.py
Labels: affects_2.10, community_review, docs, module, new_contributor, small_patch, support:community, windows

#63185 Fix broken links in documentation
  docs/docsite/rst/dev_guide/testing_units.rst
Labels: affects_2.10, core_review, docs, docsite, new_contributor, small_patch, support:core

#63133 Typo on line 161
  lib/ansible/modules/cloud/azure/azure_rm_manageddisk.py
Labels: affects_2.10, azure, cloud, community_review, docs, has_issue, module, needs_triage, new_contributor, small_patch, support:community

#63246 Spot instance code error
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.10, aws, cloud, docs, module, needs_revision, new_contributor, small_patch, support:core

#63261 Pass a JSON file to the Lambda's payload
  lib/ansible/modules/cloud/amazon/execute_lambda.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, needs_maintainer, new_contributor, small_patch, support:community

#63165 docker_* modules: docs improvements
  lib/ansible/modules/cloud/docker/docker_config.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_container_info.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_network.py
  lib/ansible/modules/cloud/docker/docker_network_info.py
  lib/ansible/modules/cloud/docker/docker_prune.py
  lib/ansible/modules/cloud/docker/docker_secret.py
  lib/ansible/modules/cloud/docker/docker_stack.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm_info.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  lib/ansible/modules/cloud/docker/docker_volume.py
  lib/ansible/modules/cloud/docker/docker_volume_info.py
  lib/ansible/plugins/doc_fragments/docker.py
Labels: affects_2.10, cloud, community_review, docker, docs, has_issue, module, needs_triage, support:community

#63286 Fix galaxy url use everywhere when url is set in config.
  lib/ansible/galaxy/api.py
Labels: affects_2.10, bug, needs_revision, needs_triage, python3, small_patch, support:core

#63249 Fix STS assume role error message when role does not exist
  test/integration/targets/sts_assume_role/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, support:community

#63252 [stable-2.9] Add RHEL 8.1b to the Shippable test matrix.
  shippable.yml
  test/integration/targets/firewalld/aliases
  test/integration/targets/ufw/aliases
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.9, backport, core_review, feature, has_issue, support:community, support:core, system, test

#63279 cronvar - use correct binary name
  changelogs/fragments/cronvar-correct-binary-name.yaml
  lib/ansible/modules/system/cronvar.py
  test/integration/targets/cron/defaults/main.yml
  test/integration/targets/cron/meta/main.yml
  test/integration/targets/cron/tasks/main.yml
  test/integration/targets/cronvar/aliases
  test/integration/targets/cronvar/defaults/main.yml
  test/integration/targets/cronvar/meta/main.yml
  test/integration/targets/cronvar/tasks/main.yml
  test/integration/targets/setup_cron/defaults/main.yml
  test/integration/targets/setup_cron/tasks/main.yml
  test/integration/targets/setup_cron/vars/debian.yml
  test/integration/targets/setup_cron/vars/default.yml
  test/integration/targets/setup_cron/vars/fedora.yml
  test/integration/targets/setup_cron/vars/freebsd.yml
  test/integration/targets/setup_cron/vars/redhat.yml
  test/integration/targets/setup_cron/vars/suse.yml
Labels: affects_2.10, bug, community_review, module, support:community, system

#63306 [stable-2.8] Work around ssh-keygen issue in ansible-test. (#63211)
  changelogs/fragments/ansible-test-ssh-keygen-fix.yml
  test/runner/lib/core_ci.py
  test/runner/setup/remote.sh
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#63311 config encode errors should not be fatal
  changelogs/fragments/config_encoding_resilience.yml
  lib/ansible/config/manager.py
  lib/ansible/utils/py3compat.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#62703 [2.8] docker_login: fix Python 3 problem in #60381
  changelogs/fragments/62621-docker_login-fix-60381.yaml
  lib/ansible/modules/cloud/docker/docker_login.py
Labels: affects_2.8, backport, bug, cloud, community_review, docker, module, needs_triage, owner_pr, python3, stale_ci, support:community

#62708 [2.9] ACME modules: make compatible to Buypass ACME v1 CA, and fix bug in ACME v1 account update
  changelogs/fragments/61693-acme-buypass-acme-v1.yml
  lib/ansible/module_utils/acme.py
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/plugins/doc_fragments/acme.py
Labels: affects_2.9, backport, bug, community_review, crypto, module, needs_triage, stale_ci, support:community

#62709 [2.8] ACME modules: make compatible to Buypass ACME v1 CA, and fix bug in ACME v1 account update
  changelogs/fragments/61693-acme-buypass-acme-v1.yml
  lib/ansible/module_utils/acme.py
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/plugins/doc_fragments/acme.py
Labels: affects_2.8, backport, bug, community_review, crypto, module, needs_triage, stale_ci, support:community

#62947 [2.9] Fix _validate_csr_subject and _validate_csr_signature
  changelogs/fragments/62790-openssl_certificate_fix_assert.yml
  lib/ansible/modules/crypto/openssl_certificate.py
Labels: affects_2.9, backport, bug, community_review, crypto, module, needs_triage, owner_pr, stale_ci, support:community

#62960 [2.9] docker_container: fix idempotency for network IP addresses
  changelogs/fragments/62928-docker_container-ip-address-idempotency.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/main.yml
  test/integration/targets/docker_container/tasks/tests/network.yml
Labels: affects_2.9, backport, bug, cloud, community_review, docker, module, needs_triage, stale_ci, support:community, test

#62959 [2.8] docker_container: fix idempotency for network IP addresses
  changelogs/fragments/62928-docker_container-ip-address-idempotency.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/network.yml
Labels: affects_2.8, backport, bug, cloud, community_review, docker, module, needs_triage, stale_ci, support:community, test

#63058 dnf - properly handle idempotent removal of wildcard globs (#63034)
  changelogs/fragments/62809-dnf-wildcard-absent-failure.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.8, backport, bug, core_review, has_issue, module, needs_triage, packaging, support:community, support:core

#62836 Fix whitespace issue in filter (backport 2.8)
  changelogs/fragments/aci-42-filter-whitespace.yaml
  lib/ansible/module_utils/network/aci/aci.py
Labels: aci, affects_2.8, backport, bug, cisco, community_review, networking, support:community

#62838 Fix whitespace issue in filter (backport 2.9)
  changelogs/fragments/aci-42-filter-whitespace.yaml
  lib/ansible/module_utils/network/aci/aci.py
Labels: aci, affects_2.9, backport, bug, cisco, community_review, networking, support:community

#62877 Fix Bum Traffic Payload keyword (backport 2.8)
  changelogs/fragments/mso_schema_template_bd-payload-fix.yaml
  lib/ansible/modules/network/aci/mso_schema_template_bd.py
Labels: aci, affects_2.8, backport, bug, cisco, community_review, module, networking, owner_pr, support:community

#63144 [2.9] docker_container: improve image finding / change detection
  changelogs/fragments/62971-docker_container-image-finding.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
Labels: affects_2.9, backport, bug, cloud, community_review, docker, module, needs_triage, support:community, test

#63143 [2.8] docker_container: improve image finding / change detection
  changelogs/fragments/62971-docker_container-image-finding.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
Labels: affects_2.8, backport, bug, cloud, community_review, docker, module, needs_triage, support:community, test

#63295 mysql_replication: add mutually_excl block, new maintainer, seealso, change doc formatting
  lib/ansible/modules/database/mysql/mysql_replication.py
Labels: affects_2.10, automerge, database, docs, module, mysql, owner_pr, shipit, support:community

#63189 mysql_info: add support for global status
  lib/ansible/modules/database/mysql/mysql_info.py
  test/integration/targets/mysql_info/tasks/main.yml
Labels: affects_2.10, database, feature, module, mysql, shipit, support:community, test

#61865 Added Exos vlan resource module
  lib/ansible/module_utils/network/exos/argspec/vlans/__init__.py
  lib/ansible/module_utils/network/exos/argspec/vlans/vlans.py
  lib/ansible/module_utils/network/exos/config/vlans/__init__.py
  lib/ansible/module_utils/network/exos/config/vlans/vlans.py
  lib/ansible/module_utils/network/exos/facts/facts.py
  lib/ansible/module_utils/network/exos/facts/vlans/__init__.py
  lib/ansible/module_utils/network/exos/facts/vlans/vlans.py
  lib/ansible/module_utils/network/exos/utils/utils.py
  lib/ansible/modules/network/exos/exos_vlans.py
  test/integration/targets/exos_vlans/defaults/main.yaml
  test/integration/targets/exos_vlans/tasks/httpapi.yaml
  test/integration/targets/exos_vlans/tasks/main.yaml
  test/integration/targets/exos_vlans/tests/httpapi/_populate_config.yaml
  test/integration/targets/exos_vlans/tests/httpapi/_reset_config.yaml
  test/integration/targets/exos_vlans/tests/httpapi/deleted.yaml
  test/integration/targets/exos_vlans/tests/httpapi/merged.yaml
  test/integration/targets/exos_vlans/tests/httpapi/overridden.yaml
  test/integration/targets/exos_vlans/tests/httpapi/replaced.yaml
  test/integration/targets/exos_vlans/vars/main.yaml
Labels: affects_2.10, has_issue, module, networking, new_contributor, new_module, new_plugin, shipit, support:community, test

#63328 doc: mysql_info: add changelog and version_added for global_status
  changelogs/fragments/63189-mysql_info-global-status.yml
  lib/ansible/modules/database/mysql/mysql_info.py
Labels: affects_2.10, automerge, database, docs, module, mysql, shipit, support:community

#63321 mysql_replication: add resetmaster choice to mode param
  changelogs/fragments/63321-mysql_replication_add_resetmaster_to_mode.yml
  lib/ansible/modules/database/mysql/mysql_replication.py
  test/integration/targets/mysql_replication/tasks/main.yml
  test/integration/targets/mysql_replication/tasks/mysql_replication_resetmaster_mode.yml
Labels: affects_2.10, database, feature, has_issue, module, mysql, shipit, support:community, test

#62903 Add support to delete vm from inventory.
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/defaults/main.yml
  test/integration/targets/vmware_guest/tasks/remove_vm_from_inventory.yml
Labels: affects_2.10, cloud, feature, module, needs_revision, support:community, vmware

#63305 [2.8] Fix STS assume role error message when role does not exist
  changelogs/fragments/63249-fix-sts-assume-role-test.yml
  test/integration/targets/sts_assume_role/tasks/main.yml
Labels: affects_2.8, backport, bug, cloud, community_review, support:community

#63253 [stable-2.8] Add RHEL 8.1b to the Shippable test matrix.
  shippable.yml
  test/integration/targets/firewalld/aliases
  test/integration/targets/ufw/aliases
  test/runner/completion/remote.txt
Labels: affects_2.8, backport, core_review, feature, has_issue, support:community, support:core, system

#63293 backport of galaxy trailing api fix (63238) to stable-2.9
  changelogs/fragments/galaxy_api_config.yaml
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
Labels: affects_2.9, backport, bug, galaxy, has_issue, needs_revision, support:community, support:core

#63344 prepare_vmware_test: avoid the dependency on jmespath
  test/integration/targets/prepare_vmware_tests/tasks/setup_tag.yml
Labels: affects_2.10, bug, community_review, needs_triage, support:community

#63336 vmware_guest_network: avoid functional test failure
  test/integration/targets/vmware_guest_network/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, needs_triage, support:community, vmware

#63298 fix default collection resolution in adhoc
  changelogs/fragments/adhoc_default_collection.yml
  changelogs/fragments/ansible-test-collections-ansible-adhoc.yml
  lib/ansible/cli/__init__.py
  test/integration/targets/ansible/runme.sh
  test/integration/targets/collections/runme.sh
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#63107 Fix plain format output functionality in validate-modules
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, bug, core_review, support:core, test

#63260 Update ec2.py
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.10, aws, cloud, core_review, docs, module, support:core

#63152 [ec2_launch_template] Update examples
  lib/ansible/modules/cloud/amazon/ec2_launch_template.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, needs_maintainer, support:community

#63136 fix aruba_config examples
  lib/ansible/modules/network/aruba/aruba_config.py
Labels: affects_2.10, community_review, docs, module, needs_triage, networking, new_contributor, small_patch, support:community

#63312 [2.9 backport] config encode errors should not be fatal (#63311)
  changelogs/fragments/config_encoding_resilience.yml
  lib/ansible/config/manager.py
  lib/ansible/utils/py3compat.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#63132 Update sros_config.py
  lib/ansible/modules/network/sros/sros_config.py
Labels: affects_2.10, committer_review, docs, module, networking, new_contributor, small_patch, support:certified
