Repository ansible/ansible, pull requests merged in 2019-01, with the labels that each got.

#50337 vultr_server: fix multiple ssh keys not handled
  changelogs/fragments/50337-fix-vultr_server-ssh_keys-handling.yml
  lib/ansible/modules/cloud/vultr/vultr_server.py
  test/legacy/roles/vultr_server/defaults/main.yml
  test/legacy/roles/vultr_server/tasks/main.yml
Labels: affects_2.8, bug, cloud, core_review, module, needs_triage, support:community, support:core, test

#49688 docker_secret, docker_config: allow to base64-decode data
  changelogs/fragments/49688-docker_secret-config-base64-data.yml
  lib/ansible/modules/cloud/docker/docker_config.py
  lib/ansible/modules/cloud/docker/docker_secret.py
  test/integration/targets/docker_config/tasks/test_docker_config.yml
  test/integration/targets/docker_secret/tasks/test_secrets.yml
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, test

#50427 Disable zabbix_host 50386
  test/integration/targets/zabbix_host/aliases
Labels: affects_2.8, bug, needs_triage, shipit, support:community

#39297 Add support for NRDP notifications
  lib/ansible/plugins/callback/nrdp.py
Labels: affects_2.6, feature, new_contributor, new_plugin, performance, shipit, support:community

#50242 Fix firewalld module failing on missing protocol.
  lib/ansible/modules/system/firewalld.py
Labels: affects_2.8, bug, community_review, module, needs_triage, python3, stale_ci, support:community, traceback

#50213 fixed a bug in transform_name
  lib/ansible/module_utils/network/f5/common.py
Labels: affects_2.8, bug, community_review, f5, networking, support:community

#50209 added new module to manipulate signatre sets on ASM policy
  lib/ansible/modules/network/f5/bigip_asm_policy_signature_set.py
  test/units/modules/network/f5/test_bigip_asm_policy_signature_set.py
Labels: affects_2.8, core_review, f5, module, networking, new_module, new_plugin, stale_ci, support:community, support:core, test

#50315 Sort suboptions and subresults in docs
  docs/templates/plugin.rst.j2
Labels: affects_2.8, docs, shipit, support:core

#50038 fix order of dnf api operations so transactions don't fail
  changelogs/fragments/dnf-update-cache-broken-transaction.yaml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/dnf.yml
Labels: affects_2.8, bug, module, shipit, support:community, support:core

#50480 add changelog for #50242
  changelogs/fragments/firewalld-missing-port-protocol.yml
Labels: affects_2.8, docs, needs_triage, shipit, support:community

#50331 Add support for Kali Linux detection.
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.8, bug, needs_revision, needs_triage, support:core

#50477 disable docker_network ipam tests
  test/integration/targets/docker_network/tasks/tests/ipam.yml.disabled
Labels: affects_2.8, bug, cloud, community_review, docker, support:community, test

#50483 docker_swarm_service: Fix typo for option type
  changelogs/fragments/50483-docker_swarm_service-option-typo.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.8, bug, cloud, docker, module, shipit, support:community

#50361 openssl_csr: idempotency doesn't work correctly for keyUsage
  changelogs/fragments/50361-openssl_csr-idempotency.yml
  lib/ansible/modules/crypto/openssl_csr.py
  test/integration/targets/openssl_csr/tasks/main.yml
  test/integration/targets/openssl_csr/tests/validate.yml
Labels: affects_2.8, bug, module, needs_triage, shipit, support:community

#50322 openssl_*: prevent error when path includes no path
  changelogs/fragments/50322-openssl-path-error.yml
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/modules/crypto/openssl_csr.py
  lib/ansible/modules/crypto/openssl_dhparam.py
  lib/ansible/modules/crypto/openssl_pkcs12.py
  lib/ansible/modules/crypto/openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_publickey.py
Labels: affects_2.8, bug, module, shipit, support:community

#49605 add openssh_cert module
  lib/ansible/modules/crypto/openssh_cert.py
  test/integration/targets/openssh_cert/aliases
  test/integration/targets/openssh_cert/meta/main.yml
  test/integration/targets/openssh_cert/tasks/main.yml
Labels: affects_2.8, module, new_module, new_plugin, shipit, support:community

#50481 Add choices of the state parameter documentation
  lib/ansible/modules/windows/win_package.py
Labels: affects_2.8, core_review, docs, module, needs_triage, small_patch, support:core, windows

#50489 ovirt_host: Improve failed upgrade check
  lib/ansible/modules/cloud/ovirt/ovirt_host.py
Labels: affects_2.8, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#50437 Update playbooks_loops.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: affects_2.8, bug, core_review, docs, docsite, new_contributor, small_patch, support:core

#50411 Update changed_when and failed_when examples
  changelogs/fragments/change_failed_when_example.yaml
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
Labels: affects_2.8, core_review, docs, docsite, needs_triage, support:community, support:core

#50183 gcp: documentation update
  docs/docsite/rst/scenario_guides/guide_gce.rst
  lib/ansible/module_utils/gcp_utils.py
Labels: affects_2.8, core_review, docs, docsite, support:community, support:core

#50490 Update zabbix_action.py
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, community_review, docs, module, needs_triage, support:community

#49989 Fixes #37209 - Added complex return value, instance
  lib/ansible/modules/cloud/amazon/rds.py
Labels: affects_2.8, aws, cloud, community_review, docs, module, support:community

#50263 Make WinRM security warning more explicit
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: affects_2.8, bug, docs, docsite, docsite_pr, shipit, small_patch, support:core

#50462 allow for vault enterprise namespaces
  lib/ansible/plugins/lookup/hashi_vault.py
Labels: affects_2.8, feature, needs_revision, needs_triage, new_contributor, support:community

#49984 Add galaxy.html#dependencies link
  docs/docsite/rst/reference_appendices/galaxy.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.8, docs, docsite, docsite_pr, needs_revision, new_contributor, support:core

#50508 Mark s3_bucket tests as unstable
  test/integration/targets/s3_bucket/aliases
Labels: affects_2.8, bug, cloud, core_review, needs_triage, support:core

#50430 ansible test: re-enable mysql tests with fix
  test/integration/targets/mysql_db/aliases
  test/integration/targets/mysql_user/aliases
  test/integration/targets/mysql_variables/aliases
  test/integration/targets/setup_mysql_db/tasks/main.yml
  test/integration/targets/zabbix_host/aliases
Labels: affects_2.8, bug, community_review, support:community

#50045 Give IncludedFile more context via ansible_search_path
  changelogs/fragments/include_tasks_parent_templating.yml
  lib/ansible/playbook/included_file.py
  test/integration/targets/include_import/parent_templating/playbook.yml
  test/integration/targets/include_import/parent_templating/roles/test/tasks/localhost.yml
  test/integration/targets/include_import/parent_templating/roles/test/tasks/main.yml
  test/integration/targets/include_import/parent_templating/roles/test/tasks/other.yml
  test/integration/targets/include_import/runme.sh
  test/units/playbook/test_included_file.py
Labels: affects_2.8, bug, shipit, support:community, support:core

#28503 urldecode filter for Jinja2
  lib/ansible/plugins/filter/urls.py
  test/integration/targets/filters/tasks/main.yml
Labels: affects_2.4, c:plugins/filter, community_review, feature, new_plugin, plugins/filter, support:community

#50358 ACI: Implement encoded query_string
  lib/ansible/module_utils/network/aci/aci.py
  lib/ansible/module_utils/network/aci/msc.py
  test/integration/targets/aci_ap/tasks/main.yml
  test/integration/targets/aci_bd/tasks/main.yml
  test/integration/targets/aci_bd_subnet/tasks/main.yml
  test/integration/targets/aci_contract/tasks/main.yml
  test/integration/targets/aci_contract_subject/tasks/main.yml
  test/integration/targets/aci_encap_pool_range/tasks/vlan.yml
  test/integration/targets/aci_filter_entry/tasks/main.yml
  test/integration/targets/aci_vlan_pool_encap_block/tasks/main.yml
  test/integration/targets/aci_vrf/tasks/main.yml
Labels: aci, affects_2.8, community_review, docs, docsite, feature, networking, support:community, test

#50526 ansible-test: docker_network set as untable
  test/integration/targets/docker_network/aliases
  test/integration/targets/docker_network/tasks/tests/ipam.yml
Labels: affects_2.8, bug, cloud, community_review, docker, needs_triage, support:community, test

#50444 Update documentation for mysql_db notes
  lib/ansible/modules/database/mysql/mysql_db.py
  lib/ansible/utils/module_docs_fragments/mysql.py
Labels: affects_2.8, docs, module, needs_revision, support:community

#49590 Handle exception raised in recursive_finder API
  lib/ansible/executor/module_common.py
  test/units/executor/module_common/test_recursive_finder.py
Labels: affects_2.8, bug, shipit, small_patch, support:core

#49119 Added new module to support NIOS Fixedaddress DHCP property
  lib/ansible/module_utils/net_tools/nios/api.py
  lib/ansible/modules/net_tools/nios/nios_fixed_address.py
  test/units/modules/net_tools/nios/test_nios_fixed_address.py
Labels: affects_2.8, core_review, infoblox, module, net_tools, new_module, new_plugin, support:community, support:core

#48804 Fix lastpass lookup error
  lib/ansible/plugins/lookup/lastpass.py
Labels: affects_2.8, bug, community_review, new_contributor, small_patch, support:community

#50445 gitlab_group: Remove forced lowercase on group_name
  lib/ansible/modules/source_control/gitlab_group.py
Labels: affects_2.8, automerge, feature, module, new_contributor, shipit, small_patch, support:community

#49181 azure_rm_webapp: fix updating app settings
  lib/ansible/modules/cloud/azure/azure_rm_webapp.py
  test/integration/targets/azure_rm_webapp/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community

#50507 Correct Errors in Documentation
  lib/ansible/modules/cloud/docker/docker_stack.py
Labels: affects_2.8, automerge, cloud, docker, docs, module, new_contributor, shipit, support:community

#50301 Fix backup issue in network config modules and network action plugins common code refactor
  lib/ansible/module_utils/network/common/backup.py
  lib/ansible/plugins/action/aireos.py
  lib/ansible/plugins/action/aireos_config.py
  lib/ansible/plugins/action/aruba.py
  lib/ansible/plugins/action/aruba_config.py
  lib/ansible/plugins/action/asa.py
  lib/ansible/plugins/action/asa_config.py
  lib/ansible/plugins/action/bigip.py
  lib/ansible/plugins/action/bigip_imish_config.py
  lib/ansible/plugins/action/ce.py
  lib/ansible/plugins/action/ce_config.py
  lib/ansible/plugins/action/cli_config.py
  lib/ansible/plugins/action/cnos.py
  lib/ansible/plugins/action/cnos_config.py
  lib/ansible/plugins/action/dellos10.py
  lib/ansible/plugins/action/dellos10_config.py
  lib/ansible/plugins/action/dellos6.py
  lib/ansible/plugins/action/dellos6_config.py
  lib/ansible/plugins/action/dellos9.py
  lib/ansible/plugins/action/dellos9_config.py
  lib/ansible/plugins/action/edgeos_config.py
  lib/ansible/plugins/action/enos.py
  lib/ansible/plugins/action/enos_config.py
  lib/ansible/plugins/action/eos.py
  lib/ansible/plugins/action/exos_config.py
  lib/ansible/plugins/action/fortios_config.py
  lib/ansible/plugins/action/ios.py
  lib/ansible/plugins/action/ios_config.py
  lib/ansible/plugins/action/iosxr.py
  lib/ansible/plugins/action/iosxr_config.py
  lib/ansible/plugins/action/ironware.py
  lib/ansible/plugins/action/ironware_config.py
  lib/ansible/plugins/action/junos.py
  lib/ansible/plugins/action/junos_config.py
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
  lib/ansible/plugins/action/netconf.py
  lib/ansible/plugins/action/netconf_config.py
  lib/ansible/plugins/action/network.py
  lib/ansible/plugins/action/nos_config.py
  lib/ansible/plugins/action/nxos.py
  lib/ansible/plugins/action/nxos_config.py
  lib/ansible/plugins/action/onyx_config.py
  lib/ansible/plugins/action/slxos_config.py
  lib/ansible/plugins/action/sros.py
  lib/ansible/plugins/action/sros_config.py
  lib/ansible/plugins/action/voss_config.py
  lib/ansible/plugins/action/vyos.py
  lib/ansible/plugins/action/vyos_config.py
  test/sanity/code-smell/action-plugin-docs.py
Labels: affects_2.8, bug, core_review, networking, new_plugin, nxos, support:community, support:core, support:network, test

#50312 add privileged role validation for nxos become
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.8, core_review, feature, networking, nxos, stale_ci, support:network

#50538 Fix junos terminal error regex
  lib/ansible/plugins/terminal/junos.py
Labels: affects_2.8, bug, core_review, networking, small_patch, support:network

#50525 dnf/yum - added install_weak_deps option
  changelogs/fragments/dnf-ignore-weak-deps.yaml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/packaging/os/dnf.py
  lib/ansible/modules/packaging/os/yum.py
  test/integration/targets/dnf/tasks/repo.yml
  test/integration/targets/setup_mysql_db/tasks/main.yml
  test/integration/targets/setup_rpm_repo/files/create-repo.py
Labels: affects_2.8, feature, module, shipit, support:community, support:core

#50251 Add a porting guide entry for ansible_distribution facts
  changelogs/fragments/platform-dist-to-nir0s-distro.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
Labels: affects_2.8, core_review, docs, docsite, support:community, support:core

#50534 adds apm policy fetch module
  lib/ansible/modules/network/f5/bigip_apm_policy_fetch.py
  test/units/modules/network/f5/test_bigip_apm_policy_fetch.py
Labels: affects_2.8, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#50560 bugfix asm policy fetch exist method
  lib/ansible/modules/network/f5/bigip_asm_policy_fetch.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, support:certified

#50559 adds bigip apm policy import
  lib/ansible/modules/network/f5/bigip_apm_policy_import.py
  test/units/modules/network/f5/fixtures/fake_policy.tar.gz
  test/units/modules/network/f5/test_bigip_apm_policy_import.py
Labels: affects_2.8, core_review, f5, module, networking, new_module, new_plugin, support:community, support:core, test

#50561 Corrects doc strings in bigip_asm_policy_* modules
  lib/ansible/modules/network/f5/bigip_asm_policy_manage.py
  lib/ansible/modules/network/f5/bigip_asm_policy_server_technology.py
  lib/ansible/modules/network/f5/bigip_asm_policy_signature_set.py
Labels: affects_2.8, committer_review, docs, f5, module, networking, support:certified

#50563 Add new AnsibleTemplateError to more easily catch templating issues
  changelogs/fragments/ansible-template-error.yml
  lib/ansible/errors/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.8, bug, core_review, support:community, support:core

#50567 module_utils/urls.py is core
  .github/BOTMETA.yml
Labels: affects_2.8, bug, core_review, support:core

#30810 new module: Configure LVM and NFS file systems for AIX
  lib/ansible/modules/system/aix_filesystem.py
  test/integration/targets/aix_filesystem/aliases
  test/integration/targets/aix_filesystem/tasks/main.yml
Labels: affects_2.5, community_review, module, new_module, new_plugin, support:community, test

#50575 Improve style and fix typos in the Zabbix module titles and descriptions
  lib/ansible/modules/monitoring/zabbix/zabbix_group.py
  lib/ansible/modules/monitoring/zabbix/zabbix_host.py
  lib/ansible/modules/monitoring/zabbix/zabbix_host_facts.py
  lib/ansible/modules/monitoring/zabbix/zabbix_hostmacro.py
  lib/ansible/modules/monitoring/zabbix/zabbix_map.py
  lib/ansible/modules/monitoring/zabbix/zabbix_proxy.py
  lib/ansible/modules/monitoring/zabbix/zabbix_screen.py
  lib/ansible/modules/monitoring/zabbix/zabbix_template.py
Labels: affects_2.8, docs, module, shipit, support:community, support:core

#50365 (action/script) Fix windows absolute path detection
  lib/ansible/plugins/action/script.py
Labels: affects_2.8, bug, core_review, new_contributor, small_patch, stale_ci, support:core, windows

#50186 Pluribus Networks module for connection stat settings with UT's
  lib/ansible/modules/network/netvisor/pn_connection_stats_settings.py
  test/units/modules/network/netvisor/test_pn_connection_stats_settings.py
Labels: affects_2.8, module, needs_revision, networking, new_module, new_plugin, stale_review, support:community, support:core, test

#50440 adding module azure_rm_virtualmachinescalesetinstance_facts
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescalesetinstance_facts.py
  test/integration/targets/azure_rm_virtualmachine_scaleset/aliases
  test/integration/targets/azure_rm_virtualmachine_scaleset/tasks/main.yml
Labels: affects_2.8, azure, cloud, module, new_module, new_plugin, shipit, support:community

#50488 Fix searchpath in the template lookup
  changelogs/fragments/template-lookup-searchpath-fix.yaml
  lib/ansible/plugins/lookup/template.py
Labels: affects_2.8, bug, community_review, needs_triage, support:community

#49929 Checkpoint httpapi plugin
  lib/ansible/module_utils/network/checkpoint/__init__.py
  lib/ansible/module_utils/network/checkpoint/checkpoint.py
  lib/ansible/plugins/httpapi/checkpoint.py
  test/units/plugins/httpapi/test_checkpoint.py
Labels: affects_2.8, needs_revision, networking, new_plugin, support:community, support:core, support:network

#49819 Allow for vaulted templates in template lookup
  changelogs/fragments/34209-template-lookup-vault-support.yaml
  lib/ansible/plugins/lookup/template.py
  test/integration/targets/lookups/runme.sh
  test/integration/targets/lookups/template_lookup_vaulted.yml
  test/integration/targets/lookups/templates/vaulted_hello.j2
  test/integration/targets/lookups/test_vault_pass
Labels: affects_2.8, community_review, feature, needs_triage, support:community

#50456 Fix for the new 2.8 feature to have modprobe check for builtins.
  lib/ansible/modules/system/modprobe.py
Labels: affects_2.8, bug, community_review, module, needs_triage, small_patch, support:community

#49773 Do not try to encode metadata if it is None (#46739)
  changelogs/fragments/46739-gcp-compute-instance-metadata.yaml
  lib/ansible/modules/cloud/google/gcp_compute_instance.py
Labels: affects_2.7, backport, bug, cloud, community_review, gce, module, stale_ci, support:community

#49777 [stable-2.7] Reboot - Fix command not found, add Apline support, fix Solaris command
  changelogs/fragments/reboot-path-alpine-solaris.yaml
  lib/ansible/plugins/action/reboot.py
  lib/ansible/plugins/action/win_reboot.py
  test/integration/targets/reboot/tasks/check_reboot.yml
  test/integration/targets/reboot/tasks/get_boot_time.yml
  test/integration/targets/reboot/tasks/main.yml
  test/integration/targets/reboot/vars/main.yml
  test/integration/targets/win_reboot/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, stale_ci, support:community, support:core, windows

#50037 [2.7] Don't fail if a remote_addr with a '/' hits ansible_connection (#49781)
  bin/ansible-connection
  changelogs/fragments/persistent-socket-lock-name.yaml
Labels: affects_2.7, backport, bug, core_review, needs_triage, networking, stale_ci, support:community, support:core

#49443 archive: Fix check if archive is created in path to be removed (#29420)
  lib/ansible/modules/files/archive.py
Labels: affects_2.8, bug, module, new_contributor, shipit, support:community

#50068 Backport/2.7/49922: network_cli - ansible_command_timeout not working as expected
  changelogs/fragments/49922-network-cli-timeout.yaml
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, networking, stale_ci, support:community, support:network

#50055 [stable-2.7] fix memtotal_mb rounding on VMWare and swaptotal_mb conversion from KB to MB
  changelogs/fragments/windows_setup_memtotal.yml
  lib/ansible/modules/windows/setup.ps1
Labels: affects_2.7, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#50516 dnf - fix conf_file loading (#50515) - 2.7
  changelogs/fragments/dnf-conf-file.yaml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/dnf.yml
Labels: affects_2.7, backport, bug, module, shipit, support:community, support:core

#50613 Clarify the change made to reverse_inventory
  changelogs/fragments/playbook-order-py3.yaml
  changelogs/fragments/playbook-order-reverse_inventory.yaml
Labels: affects_2.8, community_review, docs, needs_triage, python3, support:community

#50105 win_lineinfile - fix malformed returned json (#50066) - 2.7
  changelogs/fragments/win_lineinfile-output.yaml
  lib/ansible/modules/windows/win_lineinfile.ps1
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, stale_ci, support:community, windows

#50124 [Backport 2.7] allow openstack invetnory to work cacheless
  changelogs/fragments/openstack_inventory_fix.yml
  lib/ansible/plugins/inventory/openstack.py
Labels: affects_2.7, backport, bug, cloud, community_review, inventory, needs_triage, openstack, stale_ci, support:community

#50128 win_copy - fix remote dir copy when it contains an empty dir (#50126) - 2.7
  changelogs/fragments/win_copy-empty-dir.yaml
  lib/ansible/modules/windows/win_copy.ps1
  test/integration/targets/win_copy/tasks/remote_tests.yml
Labels: affects_2.7, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#50138 Fix mandatory statement error for junos modules (#50074)
  changelogs/fragments/junos_commit_error_fix.yaml
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/terminal/junos.py
  test/integration/targets/junos_config/tests/cli_config/cli_basic.yaml
Labels: affects_2.7, backport, bug, core_review, needs_triage, networking, support:community, support:network

#50521 ansible test: re-enable mysql tests with fix (#50430) - 2.7
  test/integration/targets/setup_mysql_db/tasks/main.yml
Labels: affects_2.7, backport, bug, needs_revision, needs_triage, support:community

#50192 os_security_group_rule proper module exit (#50076)
  changelogs/fragments/50076-os-sec-group-rule-proper-module-exit.yaml
  lib/ansible/modules/cloud/openstack/os_security_group_rule.py
Labels: affects_2.7, backport, bug, cloud, community_review, module, openstack, stale_ci, support:community

#50222 win_firewall_rule: Remove invalid 'bypass' action (2.7 backport)
  changelogs/fragments/50143-win_firewall_rule-invalid-bypass.yml
  lib/ansible/modules/windows/win_firewall_rule.ps1
  lib/ansible/modules/windows/win_firewall_rule.py
Labels: affects_2.7, backport, bug, community_review, module, stale_ci, support:community, windows

#50225 win_updates: Correctly report changes on success (2.7 backport)
  changelogs/fragments/50185-win_updates-report-changes-correctly.yml
  lib/ansible/modules/windows/win_updates.ps1
Labels: affects_2.7, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#50244 [stable-2.7] Do not filter out exception, warnings, deprecations on failure when using debug (#47588)
  changelogs/fragments/callback-keep-more-debug-keys.yml
  lib/ansible/plugins/callback/__init__.py
Labels: affects_2.7, backport, core_review, stale_ci, support:community, support:core

#50325 [2.7] docker_image: improve tagging examples
  lib/ansible/modules/cloud/docker/docker_image.py
Labels: affects_2.7, backport, cloud, docker, docs, module, owner_pr, shipit, support:community

#50418 Pure Storage facts fix (#50349)
  changelogs/fragments/pure_facts_fix.yaml
  lib/ansible/modules/storage/purestorage/purefa_facts.py
  lib/ansible/modules/storage/purestorage/purefb_facts.py
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, pure_storage, storage, support:community

#50519 ansible test: re-enable mysql tests with fix (#50430) - 2.5
  test/integration/targets/setup_mysql_db/tasks/main.yml
Labels: affects_2.5, backport, bug, community_review, needs_triage, support:community

#50425 [2.7] vultr_server: fix multiple ssh keys not handled
  changelogs/fragments/50337-fix-vultr_server-ssh_keys-handling.yml
  lib/ansible/modules/cloud/vultr/vultr_server.py
  test/legacy/roles/vultr_server/defaults/main.yml
  test/legacy/roles/vultr_server/tasks/main.yml
Labels: affects_2.7, backport, bug, cloud, core_review, module, needs_triage, support:community, support:core, test

#50479 fix order of dnf api operations so transactions don't fail (#50038)
  changelogs/fragments/dnf-update-cache-broken-transaction.yaml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/dnf.yml
Labels: affects_2.7, backport, bug, core_review, module, support:community, support:core

#50493 Backport/2.7/50242 firewalld missing port protocol
  changelogs/fragments/firewalld-missing-port-protocol.yml
  lib/ansible/modules/system/firewalld.py
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, python3, support:community

#50495 [2.7] openssl_csr: idempotency doesn't work correctly for keyUsage
  changelogs/fragments/50361-openssl_csr-idempotency.yml
  lib/ansible/modules/crypto/openssl_csr.py
  test/integration/targets/openssl_csr/tasks/main.yml
  test/integration/targets/openssl_csr/tests/validate.yml
Labels: affects_2.7, backport, bug, community_review, module, needs_triage, support:community

#50496 [2.7] openssl_*: prevent error when path includes no path
  changelogs/fragments/50322-openssl-path-error.yml
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/modules/crypto/openssl_csr.py
  lib/ansible/modules/crypto/openssl_dhparam.py
  lib/ansible/modules/crypto/openssl_pkcs12.py
  lib/ansible/modules/crypto/openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_publickey.py
Labels: affects_2.7, backport, bug, module, shipit, support:community

#50048 [stable-2.7] Fix reverse_inventory order to work on python3 (#49895)
  changelogs/fragments/playbook-order-reverse_inventory.yaml
  lib/ansible/inventory/manager.py
Labels: affects_2.7, backport, core_review, inventory, python3, support:community, support:core

#50614 Copy detailed logging to persistent.py so local can benefit, too.
  lib/ansible/plugins/connection/persistent.py
Labels: affects_2.8, bug, core_review, needs_triage, networking, support:core

#50602 xml: Improve documentation and examples
  lib/ansible/modules/files/xml.py
Labels: affects_2.8, community_review, docs, m:xml, module, owner_pr, support:community

#50572 hashi_vault lookup: add env variable VAULT_AUTH_METHOD
  lib/ansible/plugins/lookup/hashi_vault.py
Labels: affects_2.8, community_review, feature, needs_triage, small_patch, support:community

#50618 Fix run.py --branch argument.
  test/utils/shippable/tools/run.py
Labels: affects_2.8, bug, core_review, support:core, test

#49616 Add Devuan Support for ascii release - resolve 49615
  changelogs/fragments/49615-ascii-devuan-support.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.8, bug, core_review, new_contributor, stale_ci, support:community, support:core

#50520 ansible test: re-enable mysql tests with fix (#50430) - 2.6
  test/integration/targets/setup_mysql_db/tasks/main.yml
Labels: affects_2.6, backport, bug, community_review, support:community

#50104 win_lineinfile - fix malformed returned json (#50066) - 2.6
  changelogs/fragments/win_lineinfile-output.yaml
  lib/ansible/modules/windows/win_lineinfile.ps1
Labels: affects_2.6, backport, bug, community_review, module, needs_triage, stale_ci, support:community, windows

#50625 Fix rabbitmq_plugin test.
  test/integration/targets/rabbitmq_plugin/tasks/tests.yml
Labels: affects_2.7, backport, bug, community_review, support:community

#50127 win_copy - fix remote dir copy when it contains an empty dir (#50126) - 2.6
  changelogs/fragments/win_copy-empty-dir.yaml
  lib/ansible/modules/windows/win_copy.ps1
  test/integration/targets/win_copy/tasks/remote_tests.yml
Labels: affects_2.6, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#50629 [stable-2.7] Fix run.py --branch argument.
  test/utils/shippable/tools/run.py
Labels: affects_2.7, backport, bug, core_review, support:core, test

#50630 [stable-2.6] Fix run.py --branch argument.
  test/utils/shippable/tools/run.py
Labels: affects_2.6, backport, bug, core_review, support:core, test

#50631 [stable-2.5] Fix run.py --branch argument.
  test/utils/shippable/tools/run.py
Labels: affects_2.5, backport, bug, core_review, support:core, test

#50636 Fix issue in junos and bigip action plugins
  lib/ansible/plugins/action/bigip.py
  lib/ansible/plugins/action/junos.py
Labels: affects_2.8, bug, core_review, networking, small_patch, support:community, support:network

#50193 New Module: vyos_ping
  lib/ansible/modules/network/vyos/vyos_ping.py
  test/units/modules/network/vyos/fixtures/vyos_ping_ping_10.10.10.10_count_2
  test/units/modules/network/vyos/fixtures/vyos_ping_ping_10.10.10.11_count_10_ttl_128_size_512
  test/units/modules/network/vyos/fixtures/vyos_ping_ping_10.10.10.20_count_4
  test/units/modules/network/vyos/test_vyos_ping.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, stale_ci, support:community, support:core, test

#50005 ovirt_storage_connection: Fix issue in detaching the connection
  lib/ansible/modules/cloud/ovirt/ovirt_storage_connection.py
Labels: affects_2.8, automerge, bug, cloud, module, ovirt, shipit, support:community

#50644 fix eos_l2_interface invalid command
  lib/ansible/modules/network/eos/eos_l2_interface.py
Labels: affects_2.8, bug, core_review, module, needs_triage, networking, owner_pr, small_patch, support:network

#50400 ufw: extend integration tests
  test/integration/targets/ufw/tasks/main.yml
  test/integration/targets/ufw/tasks/run-test.yml
  test/integration/targets/ufw/tasks/tests/basic.yml
  test/integration/targets/ufw/tasks/tests/global-state.yml
Labels: affects_2.8, bug, community_review, support:community

#50571 docker_node_facts: Read information about swarm node from swarm manager
  lib/ansible/modules/cloud/docker/docker_node_facts.py
Labels: affects_2.8, cloud, docker, feature, module, new_contributor, new_module, new_plugin, shipit, support:community

#43151 fix ip address tokenization bug in eos_static_route module
  lib/ansible/modules/network/eos/eos_static_route.py
Labels: affects_2.7, bug, core_review, module, networking, new_contributor, small_patch, stale_ci, support:network, traceback

#44811 Introduce 'insertbefore' and 'insertafter' to specify the position
  lib/ansible/modules/files/xml.py
  test/integration/targets/xml/results/test-add-children-insertafter.xml
  test/integration/targets/xml/results/test-add-children-insertbefore.xml
  test/integration/targets/xml/tasks/main.yml
  test/integration/targets/xml/tasks/test-add-children-insertafter.yml
  test/integration/targets/xml/tasks/test-add-children-insertbefore.yml
Labels: affects_2.7, feature, m:xml, module, needs_revision, new_contributor, support:community, test

#50620 Make sure to clean up even if an exception occurs
  test/sanity/validate-modules/module_args.py
Labels: affects_2.8, bug, core_review, needs_triage, support:core, test

#50582 Update zabbix_action.py
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, community_review, docs, module, support:community

#50564 avoid x2 setting of set_fact when 'cacheable'
  changelogs/fragments/fix_set_fact_cacheable.yml
  docs/docsite/rst/user_guide/playbooks_variables.rst
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.8, bug, core_review, docs, docsite, support:community, support:core

#50547 Documentation fix for developing own plugin
  docs/docsite/rst/dev_guide/developing_inventory.rst
Labels: affects_2.8, core_review, docs, docsite, new_contributor, small_patch, support:core

#50499 docker_network IPAM test / general docker test cleanup
  test/integration/targets/docker_network/aliases
  test/integration/targets/setup_docker/tasks/main.yml
Labels: affects_2.8, bug, cloud, community_review, docker, support:community, test

#33043 Included support to AIX group of subsystems on service module
  lib/ansible/modules/system/service.py
  test/legacy/aix_services.yml
Labels: affects_2.5, aix, feature, module, shipit, support:core, test

#50353 Add AIX support to reboot module
  changelogs/fragments/reboot-add-aix-support.yml
  lib/ansible/plugins/action/reboot.py
Labels: affects_2.7, affects_2.8, aix, bug, feature, shipit, support:community, support:core

#50660 team_aix: Add members to the new team
  .github/BOTMETA.yml
Labels: affects_2.8, aix, core_review, docs, support:core

#50694 Rename ansible_ssh_user, ansible_ssh_host, and ansible_ssh_port to their post ansible 2.0 versions
  contrib/inventory/vagrant.py
Labels: affects_2.8, bug, c:inventory/contrib_script, community_review, inventory, needs_triage, small_patch, support:community

#50700 zabbix: fix author's github handle
  lib/ansible/modules/monitoring/zabbix/zabbix_group_facts.py
  lib/ansible/modules/monitoring/zabbix/zabbix_host_facts.py
Labels: affects_2.8, core_review, docs, module, needs_triage, small_patch, support:core

#50007 zabbix_host_facts: get list of templates
  lib/ansible/modules/monitoring/zabbix/zabbix_host_facts.py
Labels: affects_2.8, feature, module, new_contributor, shipit, small_patch, support:core

#50484 arg_spec: remove elements= when type is not 'list'.
  lib/ansible/modules/crypto/openssl_csr.py
  lib/ansible/modules/network/ios/ios_user.py
  lib/ansible/modules/remote_management/manageiq/manageiq_group.py
  lib/ansible/modules/remote_management/ucs/ucs_disk_group_policy.py
Labels: affects_2.8, bug, core_review, module, networking, remote_management, support:community, support:network, ucs

#50710 fix docs for tower modules
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_list.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_workflow_template.py
Labels: affects_2.8, automerge, docs, module, shipit, small_patch, support:community

#50447 Fixing exception import for tower modules
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_group.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_host.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_inventory.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_cancel.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_launch.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_list.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_template.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_wait.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_label.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_organization.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_project.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_role.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_settings.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_team.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_user.py
  test/integration/targets/tower_credential/tasks/main.yml
  test/integration/targets/tower_group/tasks/main.yml
  test/integration/targets/tower_host/tasks/main.yml
  test/integration/targets/tower_inventory/tasks/main.yml
  test/integration/targets/tower_job_cancel/tasks/main.yml
  test/integration/targets/tower_job_launch/tasks/main.yml
  test/integration/targets/tower_job_wait/tasks/main.yml
  test/integration/targets/tower_label/tasks/main.yml
  test/integration/targets/tower_project/tasks/main.yml
  test/integration/targets/tower_team/tasks/main.yml
  test/integration/targets/tower_workflow_template/tasks/main.yml
Labels: affects_2.8, bug, module, shipit, support:community

#50713 tqm._initialize_notified_handlers() is noop now
  lib/ansible/executor/task_queue_manager.py
  test/units/plugins/strategy/test_strategy_base.py
Labels: affects_2.8, bug, core_review, support:core

#50548 Update zabbix_action.py
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, docs, docsite_pr, module, needs_revision, support:community

#50145 Lenovo cnos banner new module
  lib/ansible/modules/network/cnos/cnos_banner.py
  lib/ansible/modules/network/cnos/cnos_linkagg.py
  lib/ansible/modules/network/cnos/cnos_vlan.py
  test/integration/targets/cnos_banner/aliases
  test/integration/targets/cnos_banner/cnos_banner_sample_hosts
  test/integration/targets/cnos_banner/defaults/main.yaml
  test/integration/targets/cnos_banner/tasks/cli.yaml
  test/integration/targets/cnos_banner/tasks/main.yaml
  test/integration/targets/cnos_banner/tests/cli/basic-login.yaml
  test/integration/targets/cnos_banner/tests/cli/basic-motd.yaml
  test/integration/targets/cnos_banner/tests/cli/basic-no-login.yaml
  test/integration/targets/cnos_banner/vars/main.yaml
  test/units/modules/network/cnos/fixtures/cnos_banner_show_banner.txt
  test/units/modules/network/cnos/test_cnos_banner.py
Labels: affects_2.8, feature, module, needs_revision, networking, new_module, new_plugin, support:community, support:core, support:network, test

#50641 Lenovo cnos l2interface
  lib/ansible/modules/network/cnos/cnos_l2_interface.py
  test/integration/targets/cnos_l2_interface/aliases
  test/integration/targets/cnos_l2_interface/cnos_l2_interface_sample_hosts
  test/integration/targets/cnos_l2_interface/defaults/main.yaml
  test/integration/targets/cnos_l2_interface/tasks/cli.yaml
  test/integration/targets/cnos_l2_interface/tasks/main.yaml
  test/integration/targets/cnos_l2_interface/tests/cli/agg.yaml
  test/integration/targets/cnos_l2_interface/tests/cli/sanity.yaml
  test/integration/targets/cnos_l2_interface/vars/main.yaml
  test/units/modules/network/cnos/fixtures/show_interface_ethernet_1_33_switchport
  test/units/modules/network/cnos/fixtures/show_interface_ethernet_1_44_switchport
  test/units/modules/network/cnos/fixtures/show_interface_ethernet_1_45_switchport
  test/units/modules/network/cnos/fixtures/show_run_interface_ethernet_1_33
  test/units/modules/network/cnos/fixtures/show_run_interface_ethernet_1_45
  test/units/modules/network/cnos/fixtures/show_vlan
  test/units/modules/network/cnos/test_cnos_l2_interface.py
Labels: affects_2.8, core_review, feature, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#50553 edgeos_config: Fix sanitizing config lines
  lib/ansible/modules/network/edgeos/edgeos_config.py
Labels: affects_2.8, bug, community_review, module, needs_triage, networking, new_contributor, small_patch, support:community, traceback

#50533 default: callback plugin allow unreachable task to stderr
  changelogs/fragments/48069-default-callback-unreachable_stderr.yml
  lib/ansible/plugins/callback/default.py
  lib/ansible/utils/module_docs_fragments/default_callback.py
  test/integration/inventory
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test_2.yml
Labels: affects_2.8, core_review, feature, support:community, support:core

#50555 Add tests for WANT_JSON and old style modules
  test/integration/targets/old_style_modules_posix/aliases
  test/integration/targets/old_style_modules_posix/library/helloworld.sh
  test/integration/targets/old_style_modules_posix/tasks/main.yml
  test/integration/targets/want_json_modules_posix/aliases
  test/integration/targets/want_json_modules_posix/library/helloworld.py
  test/integration/targets/want_json_modules_posix/tasks/main.yml
  test/sanity/code-smell/shebang.py
Labels: affects_2.8, feature, needs_revision, support:community, support:core, test

#50724 ufw: fix spurious integration test breaks
  test/integration/targets/ufw/tasks/main.yml
  test/integration/targets/ufw/tasks/run-test.yml
Labels: affects_2.8, bug, community_review, support:community

#49906 set ansible_os_family from name variable in os-release for clearlinux…
  changelogs/fragments/os-family_distro_variable_clearlinux.yaml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.7, backport, core_review, needs_triage, support:community, support:core

#50540 Fix lastpass lookup error (backport to stable-2.7)
  changelogs/fragments/50540-fix-lastpass-lookup-error.yaml
  lib/ansible/plugins/lookup/lastpass.py
Labels: affects_2.7, backport, bug, community_review, needs_triage, support:community

#50616 [stable-2.7] Reboot - Fix VMware ESXi not working by adding appropriate commands
  changelogs/fragments/reboot-vmware-esxi.yaml
  lib/ansible/plugins/action/reboot.py
Labels: affects_2.7, backport, bug, needs_revision, support:community, support:core

#50666 [stable-2.7] Ensure that the src file contents is converted to unicode in diff info (#45744)
  changelogs/fragments/copy-diff-text.yaml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/callback/__init__.py
  test/units/plugins/callback/test_callback.py
Labels: affects_2.7, backport, core_review, support:community, support:core

#50691 win_psexec: added the pid return value to the docs (#50664) - 2.7
  lib/ansible/modules/windows/win_psexec.py
Labels: affects_2.7, backport, community_review, docs, module, needs_triage, owner_pr, small_patch, support:community, windows

#50696 [2.7] docker_network IPAM test / general docker test cleanup
  test/integration/targets/docker_network/aliases
  test/integration/targets/setup_docker/tasks/main.yml
Labels: affects_2.7, backport, bug, cloud, community_review, docker, needs_triage, support:community, test

#50701 Backport #50448 that will fix "Authentication timeout" errors.
  changelogs/fragments/50448-paramiko_ssh_add_auth_timeout.yaml
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#50690 win_psexec: added the pid return value to the docs (#50664) - 2.6
  lib/ansible/modules/windows/win_psexec.py
Labels: affects_2.6, backport, community_review, docs, module, needs_triage, owner_pr, small_patch, support:community, windows

#50226 win_updates: Correctly report changes on success (2.6 backport)
  changelogs/fragments/50185-win_updates-report-changes-correctly.yml
  lib/ansible/modules/windows/win_updates.ps1
Labels: affects_2.6, backport, bug, core_review, module, stale_ci, support:community, support:core, windows

#50121 Backport/2.7/49758
  changelogs/fragments/49758-azure_vmss_update_image_reference_fix.yaml
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_scaleset.py
  test/integration/targets/azure_rm_virtualmachine_scaleset/aliases
  test/integration/targets/azure_rm_virtualmachine_scaleset/tasks/main.yml
Labels: affects_2.7, azure, backport, bug, cloud, community_review, module, support:community

#50125 [Backport 2.6] allow openstack invetnory to work cacheless
  changelogs/fragments/openstack_inventory_fix.yml
  lib/ansible/plugins/inventory/openstack.py
Labels: affects_2.6, backport, bug, cloud, community_review, inventory, needs_triage, openstack, stale_ci, support:community

#50733 Disable retry files for integration tests.
  test/runner/lib/ansible_util.py
Labels: affects_2.8, bug, core_review, support:core, test

#50735 Move callback_default test inventory into test.
  test/integration/inventory
  test/integration/targets/callback_default/aliases
  test/integration/targets/callback_default/callback_default.out.default.stderr
  test/integration/targets/callback_default/callback_default.out.failed_to_stderr.stderr
  test/integration/targets/callback_default/callback_default.out.hide_ok.stderr
  test/integration/targets/callback_default/callback_default.out.hide_skipped.stderr
  test/integration/targets/callback_default/callback_default.out.hide_skipped_ok.stderr
  test/integration/targets/callback_default/inventory
  test/integration/targets/callback_default/runme.sh
Labels: affects_2.8, bug, core_review, support:community, support:core

#50317 azure_managed_disk enhancement
  lib/ansible/modules/cloud/azure/azure_rm_managed_disk.py
  lib/ansible/modules/cloud/azure/azure_rm_managed_disk_facts.py
  test/integration/targets/azure_rm_managed_disk/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, module, shipit, support:community

#50737 Use relative inventory paths instead of symlinks.
  test/integration/targets/filters/inventory
  test/integration/targets/filters/runme.sh
  test/integration/targets/hash/inventory
  test/integration/targets/hash/runme.sh
  test/integration/targets/shadowed_module/inventory
  test/integration/targets/shadowed_module/runme.sh
  test/integration/targets/var_blending/inventory
  test/integration/targets/var_blending/runme.sh
Labels: affects_2.8, bug, community_review, support:community

#49818 To resolve NIOS race condition when ip allocated via NIOS next available ip function
  lib/ansible/module_utils/net_tools/nios/api.py
  lib/ansible/modules/net_tools/nios/nios_a_record.py
  lib/ansible/modules/net_tools/nios/nios_host_record.py
Labels: affects_2.8, bug, core_review, infoblox, module, net_tools, networking, support:certified, support:core

#49183 PR to fix the issue of keyerror in Nios api
  lib/ansible/module_utils/net_tools/nios/api.py
Labels: affects_2.8, bug, core_review, infoblox, net_tools, networking, small_patch, stale_ci, support:core

#50743 [stable-2.7] Minor cleanup of code-smell tests. (#45658)
  test/sanity/code-smell/no-illegal-filenames.py
  test/sanity/code-smell/no-tests-as-filters.py
  test/sanity/code-smell/no-underscore-variable.py
Labels: affects_2.7, backport, bug, core_review, support:core, test

#50744 [stable-2.6] Minor cleanup of code-smell tests. (#45658)
  test/sanity/code-smell/no-illegal-filenames.py
  test/sanity/code-smell/no-tests-as-filters.py
  test/sanity/code-smell/no-underscore-variable.py
Labels: affects_2.6, backport, bug, core_review, support:core, test

#50142 Pluribus Networks pn_dscp_map_pri_map module with Unit tests
  lib/ansible/modules/network/netvisor/pn_dscp_map_pri_map.py
  test/units/modules/network/netvisor/test_pn_dscp_map_pri_map.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#50750 [stable-2.7] Disable retry files for integration tests.
  test/runner/lib/ansible_util.py
Labels: affects_2.7, backport, bug, core_review, support:core, test

#50751 [stable-2.6] Disable retry files for integration tests.
  test/runner/lib/ansible_util.py
Labels: affects_2.6, backport, bug, core_review, support:core, test

#50311 Curate the virtual network facts module
  lib/ansible/modules/cloud/azure/azure_rm_virtualnetwork.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualnetwork_facts.py
  test/integration/targets/azure_rm_virtualnetwork/tasks/main.yml
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community
