Repository ansible/ansible, pull requests merged in 2019-03, with the labels that each got.

#53155 interpreter discovery message tweaks
  lib/ansible/executor/interpreter_discovery.py
  lib/ansible/utils/plugin_docs.py
Labels: affects_2.8, bug, needs_revision, support:core

#53044 Overhaul ansible-test cloud test plugins.
  test/integration/cloud-config-aws.ini.template
  test/integration/cloud-config-azure.ini.template
  test/integration/cloud-config-cloudscale.ini.template
  test/integration/cloud-config-cs.ini.template
  test/integration/cloud-config-gcp.ini.template
  test/integration/cloud-config-gitlab.ini.template
  test/integration/cloud-config-opennebula.ini.template
  test/integration/cloud-config-tower.ini.template
  test/integration/targets/azure_rm_aks/tasks/main.yml
  test/integration/targets/azure_rm_keyvault/tasks/main.yml
  test/integration/targets/cloudscale_volume/tasks/failures.yml
  test/integration/targets/prepare_nios_tests/tasks/main.yml
  test/integration/targets/tower_common/tasks/main.yml
  test/integration/targets/tower_job_template/tasks/main.yml
  test/integration/targets/tower_organization/tasks/main.yml
  test/integration/targets/tower_project/tasks/create_project_dir.yml
  test/integration/targets/tower_workflow_launch/tasks/main.yml
  test/integration/targets/tower_workflow_template/tasks/main.yml
  test/runner/lib/cloud/__init__.py
  test/runner/lib/cloud/acme.py
  test/runner/lib/cloud/aws.py
  test/runner/lib/cloud/azure.py
  test/runner/lib/cloud/cloudscale.py
  test/runner/lib/cloud/cs.py
  test/runner/lib/cloud/foreman.py
  test/runner/lib/cloud/gcp.py
  test/runner/lib/cloud/nios.py
  test/runner/lib/cloud/opennebula.py
  test/runner/lib/cloud/openshift.py
  test/runner/lib/cloud/tower.py
  test/runner/lib/cloud/vcenter.py
  test/runner/lib/cloud/vultr.py
  test/runner/lib/executor.py
  test/runner/lib/integration/__init__.py
Labels: affects_2.8, azure, cloud, core_review, crypto, feature, support:community, support:core, test, tower, web_infrastructure

#53144 docs: SAN prefixes are required for openssl_csr
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.8, automerge, bug, crypto, module, shipit, small_patch, support:community

#53100 fix keyvault auth in msi auth
  lib/ansible/modules/cloud/azure/azure_rm_keyvaultkey.py
  lib/ansible/modules/cloud/azure/azure_rm_keyvaultsecret.py
Labels: affects_2.8, azure, bug, cloud, community_review, module, support:community

#53162 fix azure_postgresql modules class name
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlconfiguration.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqldatabase.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqldatabase_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlfirewallrule.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver.py
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver_facts.py
Labels: affects_2.8, azure, bug, cloud, community_review, module, needs_triage, support:community

#53160 Fixes #52713: Do not delete hosts in zabbix_host_facts
  lib/ansible/modules/monitoring/zabbix/zabbix_host_facts.py
Labels: affects_2.8, bug, module, monitoring, owner_pr, shipit, small_patch, support:core, zabbix

#53070 get_url: return no change in check mode when checksum matches
  lib/ansible/modules/net_tools/basics/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.8, bug, module, net_tools, new_contributor, shipit, support:core

#52999 kubevirt: Fix cloud_init in kubevirt_vm
  lib/ansible/module_utils/kubevirt.py
  lib/ansible/modules/cloud/kubevirt/kubevirt_vm.py
Labels: affects_2.8, bug, cloud, module, shipit, support:community

#52990 Add kubevirt_cdi_upload module
  lib/ansible/modules/cloud/kubevirt/kubevirt_cdi_upload.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, cloud, module, new_module, new_plugin, shipit, support:community, support:core, test

#52953 Fix redfish_facts Chassis command GetFanInventory returning duplicates of the same Fan entity
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.8, bug, shipit, support:community

#52928 Fix redfish_facts Storage command GetStorageControllerInventory - SimpleStorage not found
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.8, bug, remote_management, shipit, support:community

#52850 Fortinet's FortiOS wireless controller wtp
  lib/ansible/modules/network/fortios/fortios_wireless_controller_wtp.py
Labels: affects_2.8, fortios, module, networking, new_module, new_plugin, shipit, support:community

#52849 Fortinet's FortiOS wireless controller wids profile
  lib/ansible/modules/network/fortios/fortios_wireless_controller_wids_profile.py
Labels: affects_2.8, fortios, module, networking, new_module, new_plugin, shipit, support:community

#52847 Fortinet's FortiOS wireless controller vap
  lib/ansible/modules/network/fortios/fortios_wireless_controller_vap.py
Labels: affects_2.8, fortios, module, networking, new_module, new_plugin, shipit, support:community

#52846 Fortinet's FortiOS wireless controller utm profile
  lib/ansible/modules/network/fortios/fortios_wireless_controller_utm_profile.py
Labels: affects_2.8, fortios, module, networking, new_module, new_plugin, shipit, support:community

#52845 Fortinet's FortiOS wireless controller setting
  lib/ansible/modules/network/fortios/fortios_wireless_controller_setting.py
Labels: affects_2.8, fortios, module, networking, new_module, new_plugin, shipit, support:community

#53163 docker_container: don't die when kernel memory accounting is not supported by runc build
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.8, automerge, bug, cloud, docker, shipit, support:community, test

#53114 Fixing mediatype default value
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, automerge, bug, module, monitoring, owner_pr, shipit, support:community, zabbix

#53106 [zabbix_action] Refactoring the argument spec
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, automerge, feature, module, monitoring, owner_pr, shipit, support:community, zabbix

#53065 profile_tasks: Fix last task time with multiple plays
  changelogs/fragments/52760-fix-last-task-time-with-multiple-plays.yaml
  lib/ansible/plugins/callback/profile_tasks.py
Labels: affects_2.8, bug, core_review, needs_triage, support:community, support:core

#52992 hpe3par document type
  lib/ansible/modules/storage/hpe3par/ss_3par_cpg.py
  lib/ansible/plugins/doc_fragments/hpe3par.py
Labels: affects_2.8, community_review, docs, module, storage, support:community

#53173 Zabbix action: Added operation condition
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, automerge, bug, module, monitoring, owner_pr, shipit, support:community, zabbix

#53169 [2.7] docker_container: don't die when kernel memory accounting is not supported by runc build
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.7, backport, bug, cloud, community_review, docker, support:community, test

#53184 Disable ec2_vpc_vgw tests again
  test/integration/targets/ec2_vpc_vgw/aliases
Labels: affects_2.8, bug, cloud, community_review, support:community

#53123 Fix typo - acceess to access
  lib/ansible/modules/cloud/openstack/os_project_access.py
Labels: affects_2.8, cloud, community_review, docs, module, new_contributor, openstack, small_patch, support:community

#53074 [backport 2.7] fix no_log indentation for AWS tests
  changelogs/fragments/aws_ec2_inventory_integration_tests.yaml
  test/integration/targets/inventory_aws_ec2/playbooks/setup.yml
  test/integration/targets/inventory_aws_ec2/playbooks/tear_down.yml
Labels: affects_2.7, backport, bug, community_review, needs_triage, support:community

#53076 [Backport 2.7] VMware: Fix KeyError in vmware_host_config_manager
  changelogs/fragments/44561-vmware_host_config_manager-fix_key_error.yml
  lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py
Labels: affects_2.7, backport, bug, cloud, community_review, module, needs_triage, support:community, vmware

#53090 Ensure play order is obeyed (#49897)
  changelogs/fragments/fix_order_serial.yml
  lib/ansible/executor/play_iterator.py
  lib/ansible/executor/playbook_executor.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/order/aliases
  test/integration/targets/order/inventory
  test/integration/targets/order/order.yml
  test/integration/targets/order/runme.sh
Labels: affects_2.7, backport, bug, needs_revision, needs_triage, support:community, support:core

#53075 [backport 2.6] fix no_log indentation for AWS tests
  changelogs/fragments/aws_ec2_inventory_integration_tests.yaml
  test/integration/targets/aws_ec2_inventory/playbooks/setup.yml
  test/integration/targets/aws_ec2_inventory/playbooks/tear_down.yml
Labels: affects_2.6, backport, bug, community_review, needs_triage, support:community

#53102 Don't run integration tests for OS'es older than Windows 2016
  test/integration/targets/win_dsc/aliases
  test/integration/targets/win_firewall/aliases
Labels: affects_2.6, backport, community_review, feature, needs_triage, support:community, windows

#53096 Used C locale instead of relying on system locale.
  lib/ansible/modules/system/lvol.py
Labels: affects_2.8, bug, community_review, module, support:community, system

#53101 Don't run integration tests for OS'es older than Windows 2016
  test/integration/targets/win_dsc/aliases
  test/integration/targets/win_firewall/aliases
Labels: affects_2.7, backport, community_review, feature, needs_triage, support:community, windows

#53153 Backport/2.7/51853
  changelogs/fragments/51853-fix-truncated-macro-contexts.yml
  lib/ansible/modules/monitoring/zabbix/zabbix_hostmacro.py
Labels: affects_2.7, backport, bug, community_review, module, monitoring, python3, support:community, zabbix

#53172 get_url: return no change in check mode when checksum matches
  changelogs/fragments/53070-get_url-check_mode.yml
  lib/ansible/modules/net_tools/basics/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, module, needs_triage, net_tools, support:community, support:core

#53168 openssl_certificate, fixed has_expired to check the cert expiration date
  changelogs/fragments/openssl_certificate_fix_has_expired.yml
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/expired.yml
  test/integration/targets/openssl_certificate/tasks/main.yml
Labels: affects_2.8, bug, crypto, module, shipit, support:community, test

#53130 add mnecas to BOTMETA.yml
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, core_review, needs_triage, small_patch, support:core

#53135 [stable-2.7] Modify the correct variable when setting available hashing algorithms (#52994)
  changelogs/fragments/md5-hash-algorithms-pop-fix.yaml
  lib/ansible/module_utils/basic.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#53197 [Zabbix Action] Correcting 'notify_all_involved' for acknowledge operations
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.8, automerge, bug, module, monitoring, owner_pr, shipit, small_patch, support:community, zabbix

#53211 Add documentation for win_copy as become user needing temp dir set
  lib/ansible/modules/windows/win_copy.py
Labels: affects_2.8, core_review, docs, module, needs_triage, new_contributor, support:core, windows

#53237 mso_schema_template: Fix examples
  lib/ansible/modules/network/aci/mso_schema_template.py
Labels: aci, affects_2.8, cisco, community_review, docs, module, needs_triage, networking, owner_pr, support:community

#53238 mso_s_t_anp_epg: Fix incompatibility with newer MSO
  lib/ansible/modules/network/aci/mso_schema_template_anp_epg.py
Labels: aci, affects_2.8, bug, cisco, community_review, module, needs_triage, networking, owner_pr, small_patch, support:community

#53241 mso_st_filter_entry: Fix various issues
  lib/ansible/modules/network/aci/mso_schema_template_filter_entry.py
Labels: aci, affects_2.8, bug, cisco, community_review, module, needs_triage, networking, owner_pr, support:community

#53239 mso_stae_subnet: Fix various issues
  lib/ansible/modules/network/aci/mso_schema_template_anp_epg_subnet.py
Labels: aci, affects_2.8, bug, ci_verified, cisco, module, needs_revision, needs_triage, networking, owner_pr, support:community

#53240 mso_st_bd_subnet: Fix various issues
  lib/ansible/modules/network/aci/mso_schema_template_bd_subnet.py
Labels: aci, affects_2.8, bug, ci_verified, cisco, module, needs_revision, needs_triage, networking, owner_pr, support:community

#53244 MSO: New module to manage local site EPGs
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg.py
Labels: aci, affects_2.8, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53245 MSO: New module to manage local site static leafs
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_staticleaf.py
Labels: aci, affects_2.8, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53247 MSO: New module to manage local site EPG subnets
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_subnet.py
Labels: aci, affects_2.8, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53248 MSO: New module to manage local site BDs
  lib/ansible/modules/network/aci/mso_schema_site_bd.py
Labels: aci, affects_2.8, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53249 MSO: New module to manage local site BD l3outs
  lib/ansible/modules/network/aci/mso_schema_site_bd_l3out.py
Labels: aci, affects_2.8, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53250 MSO: New module to manage local site BD subnets
  lib/ansible/modules/network/aci/mso_schema_site_bd_subnet.py
Labels: aci, affects_2.8, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53252 MSO: New module to manage local site VRF regions
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region.py
Labels: aci, affects_2.8, cisco, community_review, module, networking, new_module, new_plugin, support:community

#53251 MSO: New module to manage local site VRFs
  lib/ansible/modules/network/aci/mso_schema_site_vrf.py
Labels: aci, affects_2.8, cisco, community_review, module, networking, new_module, new_plugin, support:community

#53253 MSO: New module to manage local site VRF region CIDRs
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region_cidr.py
Labels: aci, affects_2.8, community_review, module, networking, new_module, new_plugin, support:community

#53254 MSO: New module to manage local site VRF region CIDR subnets
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region_cidr_subnet.py
Labels: aci, affects_2.8, cisco, community_review, module, networking, new_module, new_plugin, support:community

#53220 Updating Azure DevTest Lab package version to latest
  packaging/requirements/requirements-azure.txt
  test/runner/requirements/integration.cloud.azure.txt
Labels: affects_2.8, bug, core_review, needs_triage, small_patch, support:core, test

#53255 Use setup_remote_tmp for windows httptester
  test/integration/targets/prepare_http_tests/tasks/main.yml
  test/integration/targets/win_uri/defaults/main.yml
  test/integration/targets/win_uri/meta/main.yml
  test/integration/targets/win_uri/tasks/main.yml
  test/integration/targets/win_uri/tasks/test.yml
Labels: affects_2.8, bug, community_review, needs_triage, support:community, windows

#53194 Adding DevTest Lab Artifact Source facts module
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabartifactsource_facts.py
  test/integration/targets/azure_rm_devtestlab/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, module, new_module, new_plugin, support:community

#53195 Adding DevTest Lab Artifact facts
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabartifact_facts.py
  test/integration/targets/azure_rm_devtestlab/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, module, new_module, new_plugin, support:community

#52756 Fortinet FortiManager Module_Utils MINOR Update
  lib/ansible/module_utils/network/fortimanager/fortimanager.py
Labels: affects_2.8, bug, community_review, fortimanager, networking, support:community

#52773 FortiManager Plugin Module Conversion: fmgr_fwobj_address
  lib/ansible/modules/network/fortimanager/fmgr_fwobj_address.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_fwobj_address.json
  test/units/modules/network/fortimanager/test_fmgr_fwobj_address.py
Labels: affects_2.8, bug, core_review, fortimanager, module, networking, support:community, support:core, test

#52770 FortiManager Plugin Module Conversion: fmgr_query
  lib/ansible/modules/network/fortimanager/fmgr_query.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_query.json
  test/units/modules/network/fortimanager/test_fmgr_query.py
Labels: affects_2.8, bug, core_review, fortimanager, module, networking, support:community, support:core, test

#52767 FortiManager Plugin Module Conversion: fmgr_device
  lib/ansible/modules/network/fortimanager/fmgr_device.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_device.json
  test/units/modules/network/fortimanager/test_fmgr_device.py
Labels: affects_2.8, bug, core_review, fortimanager, module, networking, support:community, support:core, test

#52765 FortiManager Plugin Module Conversion: fmgr_device_config
  lib/ansible/modules/network/fortimanager/fmgr_device_config.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_device_config.json
  test/units/modules/network/fortimanager/test_fmgr_device_config.py
Labels: affects_2.8, bug, core_review, fortimanager, module, networking, stale_ci, support:community, support:core, test

#52851 Fortinet's FortiOS wireless controller wtp profile
  lib/ansible/modules/network/fortios/fortios_wireless_controller_wtp_profile.py
Labels: affects_2.8, community_review, fortios, module, networking, new_module, new_plugin, support:community

#49121 New module to support BGP configuration management in IOS
  lib/ansible/module_utils/network/ios/providers/__init__.py
  lib/ansible/module_utils/network/ios/providers/cli/__init__.py
  lib/ansible/module_utils/network/ios/providers/cli/config/__init__.py
  lib/ansible/module_utils/network/ios/providers/cli/config/base.py
  lib/ansible/module_utils/network/ios/providers/cli/config/bgp/__init__.py
  lib/ansible/module_utils/network/ios/providers/cli/config/bgp/address_family.py
  lib/ansible/module_utils/network/ios/providers/cli/config/bgp/neighbors.py
  lib/ansible/module_utils/network/ios/providers/cli/config/bgp/process.py
  lib/ansible/module_utils/network/ios/providers/module.py
  lib/ansible/module_utils/network/ios/providers/providers.py
  lib/ansible/modules/network/ios/ios_bgp.py
  test/integration/targets/ios_bgp/defaults/main.yaml
  test/integration/targets/ios_bgp/meta/main.yaml
  test/integration/targets/ios_bgp/tasks/cli.yaml
  test/integration/targets/ios_bgp/tasks/main.yaml
  test/integration/targets/ios_bgp/tests/cli/basic.yaml
  test/units/modules/network/ios/fixtures/ios_bgp_config.cfg
  test/units/modules/network/ios/test_ios_bgp.py
Labels: affects_2.8, cisco, core_review, ios, module, networking, new_module, support:community, support:core, support:network, test

#52844 Fortinet's FortiOS wireless controller global
  lib/ansible/modules/network/fortios/fortios_wireless_controller_global.py
Labels: affects_2.8, community_review, fortios, module, networking, new_module, new_plugin, support:community

#51014 Add addon/network/aad support for AKS
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/modules/cloud/azure/azure_rm_aks.py
  lib/ansible/modules/cloud/azure/azure_rm_aks_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_aks_version.py
  packaging/requirements/requirements-azure.txt
  test/integration/targets/azure_rm_aks/tasks/main.yml
  test/runner/requirements/integration.cloud.azure.txt
Labels: affects_2.8, azure, cloud, feature, module, new_module, new_plugin, shipit, support:community, support:core, test

#53196 Adding DevTest Lab ARM Template facts
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabarmtemplate_facts.py
  test/integration/targets/azure_rm_devtestlab/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, module, new_module, new_plugin, support:community

#50465 VMware: Update vmware_object_role_permission to allow permissions at root folder
  lib/ansible/modules/cloud/vmware/vmware_object_role_permission.py
Labels: affects_2.8, cloud, community_review, feature, module, new_contributor, support:community, traceback, vmware

#51281 frr: New module for BGP configuration management
  lib/ansible/module_utils/network/frr/providers/__init__.py
  lib/ansible/module_utils/network/frr/providers/cli/__init__.py
  lib/ansible/module_utils/network/frr/providers/cli/config/__init__.py
  lib/ansible/module_utils/network/frr/providers/cli/config/base.py
  lib/ansible/module_utils/network/frr/providers/cli/config/bgp/__init__.py
  lib/ansible/module_utils/network/frr/providers/cli/config/bgp/address_family.py
  lib/ansible/module_utils/network/frr/providers/cli/config/bgp/neighbors.py
  lib/ansible/module_utils/network/frr/providers/cli/config/bgp/process.py
  lib/ansible/module_utils/network/frr/providers/module.py
  lib/ansible/module_utils/network/frr/providers/providers.py
  lib/ansible/modules/network/frr/frr_bgp.py
  test/units/modules/network/frr/fixtures/frr_bgp_config
  test/units/modules/network/frr/frr_module.py
  test/units/modules/network/frr/test_frr_bgp.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#53032 New FortiManager Module: fmgr_fwobj_ippool6
  lib/ansible/modules/network/fortimanager/fmgr_fwobj_ippool6.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_fwobj_ippool6.json
  test/units/modules/network/fortimanager/test_fmgr_fwobj_ippool6.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53031 New FortiManager Module: fmgr_fwobj_ippool
  lib/ansible/modules/network/fortimanager/fmgr_fwobj_ippool.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_fwobj_ippool.json
  test/units/modules/network/fortimanager/test_fmgr_fwobj_ippool.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53030 New FortiManager Module: fmgr_secprof_voip
  lib/ansible/modules/network/fortimanager/fmgr_secprof_voip.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_voip.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_voip.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53029 New FortiManager Module: fmgr_secprof_proxy
  lib/ansible/modules/network/fortimanager/fmgr_secprof_proxy.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_proxy.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_proxy.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53028 New FortiManager Module: fmgr_secprof_appctrl
  lib/ansible/modules/network/fortimanager/fmgr_secprof_appctrl.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_appctrl.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_appctrl.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53129 docker_swarm: support older docker-py versions
  changelogs/fragments/53129-docker_swarm-older-docker-py.yaml
  lib/ansible/modules/cloud/docker/docker_node.py
  lib/ansible/modules/cloud/docker/docker_node_facts.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_host_facts/tasks/main.yml
  test/integration/targets/docker_node/aliases
  test/integration/targets/docker_node/tasks/main.yml
  test/integration/targets/docker_node_facts/tasks/main.yml
  test/integration/targets/docker_secret/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/tests/basic.yml
  test/integration/targets/docker_swarm/tasks/tests/options-ca.yml
  test/integration/targets/docker_swarm/tasks/tests/options.yml
  test/integration/targets/docker_swarm_facts/tasks/main.yml
  test/integration/targets/docker_swarm_service/tasks/main.yml
Labels: affects_2.8, bug, cloud, docker, module, shipit, support:community, test

#53027 New FortiManager Module: fmgr_fwobj_service
  lib/ansible/modules/network/fortimanager/fmgr_fwobj_service.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_fwobj_service.json
  test/units/modules/network/fortimanager/test_fmgr_fwobj_service.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53026 New FortiManager Module: fmgr_fwpol_package
  lib/ansible/modules/network/fortimanager/fmgr_fwpol_package.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_fwpol_package.json
  test/units/modules/network/fortimanager/test_fmgr_fwpol_package.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53266 Become plugin: Update documentation to match other plugin doc
  docs/docsite/rst/plugins/become.rst
Labels: affects_2.8, core_review, docs, needs_triage, support:core

#53200 Fixed a typo in playbooks_async.rst
  docs/docsite/rst/user_guide/playbooks_async.rst
Labels: affects_2.8, core_review, docs, new_contributor, small_patch, support:core

#53209 Remove redundant article in testing integration note
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.8, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#51971 restconf_config module
  lib/ansible/module_utils/network/common/utils.py
  lib/ansible/modules/network/restconf/restconf_config.py
  lib/ansible/plugins/connection/httpapi.py
  lib/ansible/plugins/httpapi/restconf.py
  lib/ansible/utils/jsonrpc.py
Labels: affects_2.8, core_review, feature, module, networking, new_module, support:community, support:core, support:network

#53233 Fix an incorrect function call in a documentation example.
  docs/docsite/rst/dev_guide/developing_inventory.rst
Labels: affects_2.8, core_review, docs, new_contributor, small_patch, support:core

#53178 AWS dev guide: Minor formatting
  lib/ansible/modules/cloud/amazon/GUIDELINES.md
Labels: affects_2.8, aws, cloud, core_review, docs, module, needs_triage, support:core

#53269 F5: correct check in _transform_api_names API
  lib/ansible/modules/network/f5/bigip_gtm_pool_member.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, small_patch, support:certified

#52836 [backport 2.7] Fixed lvol ValueError with float size.
  changelogs/fragments/36811-fix-lvol-valueerror-with-float-size.yaml
  lib/ansible/modules/system/lvol.py
Labels: affects_2.7, backport, community_review, module, support:community, system

#53192 [2.7] fix ec2 regression when assigning a private IP without a public IP
  changelogs/fragments/ec2_fix_assigning_private_without_public_ip.yml
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.7, aws, backport, bug, cloud, core_review, module, needs_triage, support:community, support:core

#53202 [2.7] docs: SAN prefixes are required for openssl_csr
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.7, backport, community_review, crypto, docs, module, needs_triage, owner_pr, small_patch, support:community

#53203 [2.7] openssl_certificate, fixed has_expired to check the cert expiration date
  changelogs/fragments/47508-openssl_certificate-fix-not-before-after.yml
  changelogs/fragments/openssl_certificate_fix_has_expired.yml
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/expired.yml
  test/integration/targets/openssl_certificate/tasks/main.yml
  test/integration/targets/openssl_certificate/tasks/ownca.yml
  test/integration/targets/openssl_certificate/tasks/selfsigned.yml
  test/integration/targets/openssl_certificate/tests/validate_ownca.yml
  test/integration/targets/openssl_certificate/tests/validate_selfsigned.yml
Labels: affects_2.7, backport, bug, community_review, crypto, module, needs_triage, support:community, test

#53224 [2.7] docker_swarm_service: fix problem with UpdateConfig on certain docker daemons
  changelogs/fragments/53224-docker_swarm_service-UpdateConfig.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.7, backport, bug, cloud, docker, module, shipit, support:community

#53272 [2.7] docker_swarm: improve labels idempotency, and support older docker-py versions
  changelogs/fragments/53129-docker_swarm-older-docker-py.yaml
  lib/ansible/modules/cloud/docker/docker_swarm.py
  test/integration/targets/docker_secret/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/main.yml
  test/integration/targets/docker_swarm/tasks/tests/basic.yml
  test/integration/targets/docker_swarm/tasks/tests/options-ca.yml
  test/integration/targets/docker_swarm/tasks/tests/options.yml
Labels: affects_2.7, backport, bug, cloud, community_review, docker, module, needs_triage, support:community, test

#53208 openssl_certificate: make clear which option is used by which provider
  lib/ansible/modules/crypto/openssl_certificate.py
Labels: affects_2.8, automerge, crypto, docs, module, owner_pr, shipit, support:community

#53048 VMware: vmware_vm_inventory using vaulted config
  docs/docsite/rst/vmware/vmware_inventory.rst
Labels: affects_2.8, core_review, docs, support:core

#53158 VMware: Fail when unable to find managed object
  lib/ansible/modules/cloud/vmware/vmware_tag_manager.py
Labels: affects_2.8, automerge, bug, cloud, module, owner_pr, shipit, support:community, vmware

#52301 Add support for FlexCache to na_ontap_vserver_peer
  lib/ansible/modules/storage/netapp/na_ontap_vserver_peer.py
Labels: affects_2.8, feature, module, netapp, owner_pr, shipit, storage, support:certified

#52377 Bug fix for na_elementsw_admin_users
  lib/ansible/modules/storage/netapp/na_elementsw_admin_users.py
Labels: affects_2.8, bug, module, netapp, owner_pr, shipit, storage, support:certified

#53016 replaced outdate release info with checkmarks
  docs/docsite/rst/network/user_guide/platform_index.rst
Labels: affects_2.8, core_review, docs, docsite, networking, support:core

#53007 Add NVME to gatherfacts
  lib/ansible/modules/storage/netapp/na_ontap_gather_facts.py
Labels: affects_2.8, feature, module, netapp, owner_pr, shipit, storage, support:certified

#52862 Wrong Setup function was being used, which could result in failure if new global options were used.
  lib/ansible/modules/storage/netapp/na_ontap_autosupport.py
  lib/ansible/modules/storage/netapp/na_ontap_flexcache.py
  lib/ansible/modules/storage/netapp/na_ontap_job_schedule.py
  lib/ansible/modules/storage/netapp/na_ontap_snapmirror.py
Labels: affects_2.8, bug, module, netapp, owner_pr, shipit, storage, support:certified

#53268 Correct usages of module.warn
  lib/ansible/modules/database/postgresql/postgresql_idx.py
Labels: affects_2.8, automerge, bug, database, module, postgresql, shipit, small_patch, support:community

#52712 k8s_auth: use group module defaults in example
  lib/ansible/modules/clustering/k8s/k8s_auth.py
Labels: affects_2.8, automerge, clustering, docs, k8s, module, shipit, support:community

#53171 yum/dnf: Add download_dir param
  changelogs/fragments/24004-yum-dnf-add-download_dir-param.yml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/packaging/os/dnf.py
  lib/ansible/modules/packaging/os/yum.py
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.8, feature, module, packaging, shipit, support:community, support:core

#52579 fix ec2 regression when assigning a private IP without a public IP
  changelogs/fragments/ec2_fix_assigning_private_without_public_ip.yml
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.8, aws, bug, cloud, core_review, module, stale_ci, support:community, support:core

#53275 Clarify return value of the sequence lookup
  lib/ansible/plugins/lookup/sequence.py
Labels: affects_2.8, community_review, docs, needs_triage, support:community

#53280 improved nmap fix, updated as per fb
  lib/ansible/plugins/inventory/nmap.py
Labels: affects_2.8, bug, community_review, needs_triage, support:community

#53159 rebaalance AWS test groups
  test/integration/targets/aws_s3/aliases
  test/integration/targets/aws_ses_identity/aliases
  test/integration/targets/aws_ses_identity_policy/aliases
  test/integration/targets/inventory_aws_ec2/aliases
  test/integration/targets/lambda_policy/aliases
  test/integration/targets/s3_bucket/aliases
  test/integration/targets/s3_lifecycle/aliases
Labels: affects_2.8, bug, cloud, core_review, support:community, support:core

#53124 properly convert inputs to handle bytes/unicode (#53072)
  changelogs/fragments/nmap_bytes_fix.yml
  lib/ansible/plugins/inventory/nmap.py
Labels: affects_2.7, backport, bug, community_review, needs_triage, support:community

#53283 [2.7] openssl_certificate: make clear which option is used by which provider
  lib/ansible/modules/crypto/openssl_certificate.py
Labels: affects_2.7, backport, community_review, crypto, docs, module, needs_triage, owner_pr, support:community

#53262 [2.7] docker_swarm_service: don't crash when publish isn't specified
  changelogs/fragments/53262-docker_swarm_service-test_parameter_versions.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.7, backport, bug, cloud, docker, module, shipit, support:community

#53284 Misc typo fixes
  lib/ansible/plugins/__init__.py
  lib/ansible/plugins/become/__init__.py
  lib/ansible/plugins/become/doas.py
  lib/ansible/plugins/become/ksu.py
  lib/ansible/plugins/become/sesu.py
  lib/ansible/plugins/become/su.py
  lib/ansible/plugins/callback/counter_enabled.py
Labels: affects_2.8, bug, needs_triage, shipit, support:community, support:core

#53292 docker swarm modules: only run integration tests on VMs
  test/integration/targets/docker_config/aliases
  test/integration/targets/docker_node_facts/aliases
  test/integration/targets/docker_secret/aliases
  test/integration/targets/docker_stack/aliases
  test/integration/targets/docker_swarm_facts/aliases
  test/integration/targets/docker_swarm_service/aliases
Labels: affects_2.8, automerge, bug, cloud, docker, shipit, support:community, test

#48628 Move _handle_no_log_values() out of basic.py
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/network/aireos/aireos.py
  lib/ansible/module_utils/network/aruba/aruba.py
  lib/ansible/module_utils/network/asa/asa.py
  lib/ansible/module_utils/network/cnos/cnos.py
  lib/ansible/module_utils/network/dellos10/dellos10.py
  lib/ansible/module_utils/network/dellos6/dellos6.py
  lib/ansible/module_utils/network/dellos9/dellos9.py
  lib/ansible/module_utils/network/enos/enos.py
  lib/ansible/module_utils/network/eos/eos.py
  lib/ansible/module_utils/network/exos/exos.py
  lib/ansible/module_utils/network/ironware/ironware.py
  lib/ansible/module_utils/network/junos/junos.py
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/module_utils/network/routeros/routeros.py
  lib/ansible/module_utils/network/sros/sros.py
  lib/ansible/module_utils/network/vyos/vyos.py
  test/units/executor/module_common/test_recursive_finder.py
  test/units/module_utils/basic/test_no_log.py
  test/units/module_utils/common/parameters/test_list_deprecations.py
  test/units/module_utils/common/parameters/test_list_no_log_values.py
Labels: affects_2.8, aireos, asa, cisco, core_review, feature, networking, nxos, support:community, support:core, support:network

#53207 openssl_certificate: make sure extensions are present when they are queried by assertonly
  changelogs/fragments/53207-openssl_certificate-assertonly-extensions.yml
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/assertonly.yml
  test/integration/targets/openssl_certificate/tasks/main.yml
Labels: affects_2.8, bug, crypto, module, shipit, support:community, test

#53300 mso_st_contract_filter: Add support for directives
  lib/ansible/modules/network/aci/mso_schema_template_contract_filter.py
Labels: aci, affects_2.8, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#53301 MSO: Clarify the site-local modules in the index
  lib/ansible/modules/network/aci/mso_schema_site_anp.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_staticleaf.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_staticport.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_subnet.py
  lib/ansible/modules/network/aci/mso_schema_site_bd.py
  lib/ansible/modules/network/aci/mso_schema_site_bd_l3out.py
  lib/ansible/modules/network/aci/mso_schema_site_bd_subnet.py
  lib/ansible/modules/network/aci/mso_schema_site_vrf.py
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region.py
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region_cidr.py
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region_cidr_subnet.py
Labels: aci, affects_2.8, cisco, community_review, docs, module, needs_triage, networking, owner_pr, support:community

#53094 new maintenance group node module
  lib/ansible/modules/network/aci/aci_maintenance_group_node.py
Labels: aci, affects_2.8, cisco, community_review, module, networking, new_module, new_plugin, support:community

#52904 OpenSUSE - Add OpenSUSE 15 test containers (#52793) - 2.6
  shippable.yml
  test/runner/completion/docker.txt
Labels: affects_2.6, backport, bug, core_review, needs_triage, support:core, test

#53187 winrm - try and recover from a send input failure
  changelogs/fragments/winrm-send-input-check.yaml
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.8, bug, core_review, needs_triage, support:community, support:core, windows

#53097 win_chocolatey_source - fix state=disabled with no source
  changelogs/fragments/win_chocolatey_source_disabled.yaml
  lib/ansible/modules/windows/win_chocolatey_source.ps1
  lib/ansible/modules/windows/win_chocolatey_source.py
  test/integration/targets/win_chocolatey_source/tasks/tests.yml
Labels: affects_2.8, bug, community_review, module, needs_triage, support:community, windows

#53157 win_chocolatey - add ability to pin a package
  changelogs/fragments/win_chocolatey-pin.yaml
  lib/ansible/modules/windows/win_chocolatey.ps1
  lib/ansible/modules/windows/win_chocolatey.py
  test/integration/targets/win_chocolatey/tasks/tests.yml
Labels: affects_2.8, community_review, feature, module, needs_triage, support:community, windows

#50531 assert: allow list of strings in msg or failed_msg
  changelogs/fragments/48547-assert-incorrect_msg_type.yml
  lib/ansible/plugins/action/assert.py
Labels: affects_2.8, bug, core_review, support:community, support:core

#53260 cleaning up class names in azure_rm_mysql*
  lib/ansible/modules/cloud/azure/azure_rm_mysqlconfiguration.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlconfiguration_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqldatabase.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqldatabase_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlfirewallrule.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlfirewallrule_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlserver.py
  lib/ansible/modules/cloud/azure/azure_rm_mysqlserver_facts.py
Labels: affects_2.8, azure, bug, cloud, community_review, module, needs_triage, owner_pr, support:community

#53062 Add hcloud server module
  lib/ansible/module_utils/hcloud.py
  lib/ansible/modules/cloud/hcloud/__init__.py
  lib/ansible/modules/cloud/hcloud/hcloud_server.py
  lib/ansible/plugins/doc_fragments/hcloud.py
  test/integration/cloud-config-hcloud.ini.template
  test/integration/targets/hcloud_server/aliases
  test/integration/targets/hcloud_server/defaults/main.yml
  test/integration/targets/hcloud_server/tasks/main.yml
  test/runner/lib/cloud/hcloud.py
Labels: affects_2.8, cloud, core_review, hcloud, module, needs_triage, new_module, new_plugin, support:community, support:core, test

#53261 cleaning up azure_rm_sql* class names
  lib/ansible/modules/cloud/azure/azure_rm_sqldatabase.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlfirewallrule.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlfirewallrule_facts.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlserver.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlserver_facts.py
Labels: affects_2.8, azure, bug, cloud, community_review, module, needs_triage, owner_pr, support:community

#53025 New FortiManager Module: fmgr_device_provision_template
  lib/ansible/modules/network/fortimanager/fmgr_device_provision_template.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_device_provision_template.json
  test/units/modules/network/fortimanager/test_fmgr_device_provision_template.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53024 New FortiManager Plugin: fmgr_secprof_ips
  lib/ansible/modules/network/fortimanager/fmgr_secprof_ips.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_ips.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_ips.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53023 New FortiManager Module: fmgr_secprof_wanopt
  lib/ansible/modules/network/fortimanager/fmgr_secprof_wanopt.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_wanopt.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_wanopt.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53022 New FortiManager Module: fmgr_secprof_av
  lib/ansible/modules/network/fortimanager/fmgr_secprof_av.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_av.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_av.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#53021 New FortiManager Module: fmgr_secprof_spam
  lib/ansible/modules/network/fortimanager/fmgr_secprof_spam.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_spam.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_spam.py
Labels: affects_2.8, core_review, fortimanager, module, needs_triage, networking, new_module, new_plugin, support:community, support:core, test

#52789 FortiManager Plugin Module Conversion: fmgr_secprof_waf
  lib/ansible/modules/network/fortimanager/fmgr_secprof_waf.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_waf.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_waf.py
Labels: affects_2.8, bug, core_review, fortimanager, module, networking, support:community, support:core, test

#52788 FortiManager Plugin Module Conversion: fmgr_secprof_web
  lib/ansible/modules/network/fortimanager/fmgr_secprof_web.py
  test/units/modules/network/fortimanager/fixtures/test_fmgr_secprof_web.json
  test/units/modules/network/fortimanager/test_fmgr_secprof_web.py
Labels: affects_2.8, bug, core_review, fortimanager, module, networking, support:community, support:core, test

#52683 cloudscale_server: refactor to implement update
  lib/ansible/module_utils/cloudscale.py
  lib/ansible/modules/cloud/cloudscale/cloudscale_server.py
  test/integration/targets/cloudscale_server/defaults/main.yml
  test/integration/targets/cloudscale_server/tasks/main.yml
Labels: affects_2.8, cloud, feature, module, shipit, support:community, test

#51986 [win_get_url] feature: Add support `checksum` to module win_get_url
  changelogs/fragments/win_get_url-checksum.yaml
  lib/ansible/modules/windows/win_get_url.ps1
  lib/ansible/modules/windows/win_get_url.py
  test/integration/targets/win_get_url/defaults/main.yml
  test/integration/targets/win_get_url/tasks/main.yml
  test/integration/targets/win_get_url/tasks/tests_checksum.yml
  test/integration/targets/win_get_url/tasks/tests_url.yml
  test/sanity/pslint/ignore.txt
Labels: affects_2.8, core_review, feature, module, support:community, support:core, test, windows

#52831 Fortinet's FortiOS user adgrp
  lib/ansible/modules/network/fortios/fortios_user_adgrp.py
Labels: affects_2.8, fortios, module, networking, new_module, new_plugin, shipit, support:community

#52998 Add datavolumes support to kubevirt_vm module
  lib/ansible/module_utils/kubevirt.py
  lib/ansible/modules/cloud/kubevirt/kubevirt_vm.py
Labels: affects_2.8, cloud, feature, module, shipit, support:community

#53303 BOTMETA: Various fixes
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, core_review, docs, needs_triage, support:core

#52694 BOTMETA: Add $team_hcloud
  .github/BOTMETA.yml
Labels: affects_2.8, botmeta, ci_verified, docs, hcloud, needs_revision, support:core

#53318 ovirt_network: Fix update_check for cluster network role
  lib/ansible/modules/cloud/ovirt/ovirt_network.py
Labels: affects_2.8, automerge, bug, cloud, module, ovirt, shipit, support:community

#53324 Add missing RETURN to restconf_config
  lib/ansible/modules/network/restconf/restconf_config.py
Labels: affects_2.8, bug, community_review, module, needs_triage, networking, new_module, new_plugin, support:community

#53289 Python 2: accept both long and int for type=int (module options)
  changelogs/fragments/53289-module-option-int-long.yml
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_argument_spec.py
Labels: affects_2.8, bug, core_review, needs_triage, support:community, support:core

#52378 Bug Fix for na_elementsw_backup.py (Default argument spec wasn't given)
  lib/ansible/modules/storage/netapp/na_elementsw_backup.py
Labels: affects_2.8, bug, module, netapp, owner_pr, shipit, storage, support:certified

#52288 Add tcp_max_xfer_size option for na_ontap_nfs, plus unit test
  lib/ansible/modules/storage/netapp/na_ontap_nfs.py
  test/units/modules/storage/netapp/test_na_ontap_nfs.py
Labels: affects_2.8, core_review, feature, module, netapp, storage, support:certified, support:core

#53201 openssl_csr: improve invalid SAN error messages
  changelogs/fragments/53201-openssl_csr-improve-invalid-san.yml
  lib/ansible/modules/crypto/openssl_csr.py
  test/integration/targets/openssl_csr/tasks/impl.yml
  test/integration/targets/openssl_csr/tests/validate.yml
Labels: affects_2.8, bug, crypto, module, shipit, support:community, test

#53213 docker_swarm_service: Add option groups
  changelogs/fragments/51082-docker_swarm_service-placement-preferences-option.yml
  changelogs/fragments/53213-docker_swarm_service-option_groups.yaml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/logging.yml
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
  test/integration/targets/docker_swarm_service/tasks/tests/placement.yml
  test/integration/targets/docker_swarm_service/tasks/tests/resources.yml
  test/integration/targets/docker_swarm_service/tasks/tests/restart_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/update_config.yml
Labels: affects_2.8, cloud, docker, feature, module, shipit, support:community, test

#53214 Add public key return to openssh_keypair
  lib/ansible/modules/crypto/openssh_keypair.py
  test/integration/targets/openssh_keypair/tasks/main.yml
  test/integration/targets/openssh_keypair/tests/validate.yml
Labels: affects_2.8, crypto, feature, module, shipit, support:community

#53234 acme_account: improve account deactivation idempotency
  lib/ansible/module_utils/acme.py
  test/integration/targets/acme_account/tests/validate.yml
  test/runner/lib/cloud/acme.py
Labels: affects_2.8, bug, cloud, crypto, shipit, support:community, support:core, test

#51939 Simplify docker_*_facts return names
  changelogs/fragments/docker-facts.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_container_facts.py
  lib/ansible/modules/cloud/docker/docker_host_facts.py
  lib/ansible/modules/cloud/docker/docker_network.py
  lib/ansible/modules/cloud/docker/docker_network_facts.py
  lib/ansible/modules/cloud/docker/docker_node_facts.py
  lib/ansible/modules/cloud/docker/docker_stack.py
  lib/ansible/modules/cloud/docker/docker_swarm_facts.py
  lib/ansible/modules/cloud/docker/docker_volume.py
  lib/ansible/modules/cloud/docker/docker_volume_facts.py
  test/integration/targets/docker_container/tasks/tests/options.yml
  test/integration/targets/docker_container_facts/tasks/main.yml
  test/integration/targets/docker_host_facts/tasks/test_host_facts.yml
  test/integration/targets/docker_network_facts/tasks/main.yml
  test/integration/targets/docker_node_facts/tasks/test_node_facts.yml
  test/integration/targets/docker_prune/tasks/main.yml
  test/integration/targets/docker_stack/tasks/test_stack.yml
  test/integration/targets/docker_swarm_facts/tasks/test_swarm_facts.yml
  test/integration/targets/docker_volume_facts/tasks/main.yml
Labels: affects_2.8, bug, cloud, core_review, docker, docs, module, support:community, support:core, test

#49783 New Module: na_ontap_quotas
  lib/ansible/modules/storage/netapp/na_ontap_quotas.py
  test/units/modules/storage/netapp/test_na_ontap_quotas.py
Labels: affects_2.8, core_review, module, netapp, new_module, new_plugin, storage, support:community, support:core

#53278 Add a new check to ensure that module arguments are valid python identifiers
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  lib/ansible/modules/cloud/docker/docker_login.py
  test/runner/lib/sanity/validate_modules.py
  test/sanity/validate-modules/ignore.txt
  test/sanity/validate-modules/main.py
Labels: affects_2.8, cloud, docker, docs, feature, module, needs_revision, support:community, support:core, test

#49289 Remove old 'srtd' theme and references.
  docs/docsite/Makefile
  docs/docsite/_themes/srtd/__init__.py
  docs/docsite/_themes/srtd/breadcrumbs.html
  docs/docsite/_themes/srtd/footer.html
  docs/docsite/_themes/srtd/layout.html
  docs/docsite/_themes/srtd/search.html
  docs/docsite/_themes/srtd/static/css/badge_only.css
  docs/docsite/_themes/srtd/static/css/sphinxrtd.css
  docs/docsite/_themes/srtd/static/css/theme.css
  docs/docsite/_themes/srtd/static/font/fontawesome_webfont.eot
  docs/docsite/_themes/srtd/static/font/fontawesome_webfont.svg
  docs/docsite/_themes/srtd/static/font/fontawesome_webfont.ttf
  docs/docsite/_themes/srtd/static/font/fontawesome_webfont.woff
  docs/docsite/_themes/srtd/static/images/logo_invert.png
  docs/docsite/_themes/srtd/static/js/theme.js
  docs/docsite/_themes/srtd/theme.conf
  docs/docsite/_themes/srtd/versions.html
  docs/docsite/rst/dev_guide/Makefile
  docs/docsite/rst/dev_guide/style_guide/Makefile
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/__init__.py
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/breadcrumbs.html
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/footer.html
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/layout.html
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/layout_old.html
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/search.html
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/searchbox.html
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/css/badge_only.css
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/css/old-theme.css
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/css/theme.css
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/font/fontawesome_webfont.eot
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/font/fontawesome_webfont.svg
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/font/fontawesome_webfont.ttf
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/font/fontawesome_webfont.woff
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/static/js/theme.js
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/theme.conf
  docs/docsite/rst/dev_guide/style_guide/_themes/srtd/versions.html
  docs/docsite/rst/dev_guide/style_guide/conf.py
Labels: affects_2.8, core_review, docs, docsite, support:core
