Repository ansible/ansible, pull requests merged in 2019-05, with the labels that each got.

#55691 Ansible.Basic - fix when deserialising a json string of an array
  changelogs/fragments/ps-basic-json.yaml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
  test/integration/targets/win_uri/tasks/main.yml
Labels: affects_2.9, bug, needs_revision, support:community, support:core, windows

#55970 win_acl - fix network path qualifier parsing
  changelogs/fragments/win_acl-network.yaml
  lib/ansible/modules/windows/win_acl.ps1
  test/integration/targets/win_acl/defaults/main.yml
  test/integration/targets/win_acl/tasks/tests.yml
Labels: affects_2.9, bug, core_review, module, needs_triage, support:community, support:core, windows

#55969 Ansible.Basic - fix when deserialising a json string of an array - 2.8
  changelogs/fragments/ps-basic-json.yaml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
  test/integration/targets/win_uri/tasks/main.yml
Labels: affects_2.8, backport, bug, core_review, needs_triage, support:community, support:core, windows

#55895 Update vcn module documentation (#55888)
  lib/ansible/modules/cloud/oracle/oci_vcn.py
Labels: affects_2.8, backport, cloud, community_review, docs, module, needs_triage, small_patch, support:community

#55958 [stable-2.8] Clarify documentation on reboot delay parameters (#55934)
  lib/ansible/modules/system/reboot.py
  lib/ansible/modules/windows/win_reboot.py
Labels: affects_2.8, backport, core_review, docs, module, needs_triage, owner_pr, support:core, system, windows

#55972 clarify docs for rel src state hard
  lib/ansible/modules/files/file.py
Labels: affects_2.9, core_review, docs, files, module, needs_triage, new_contributor, small_patch, support:core

#55941 Clarifies how Ansible processes multiple `failed_when` conditions
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
Labels: affects_2.9, core_review, docs, support:core

#55931 Docs: edits & expands module_utils & search path info in dev guide
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_in_groups.rst
  docs/docsite/rst/dev_guide/overview_architecture.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
Labels: affects_2.9, core_review, docs, docsite, support:core

#55961 correct method docs
  lib/ansible/playbook/attribute.py
Labels: affects_2.9, core_review, docs, small_patch, support:core

#55298 Add vrf option to static routes
  lib/ansible/modules/network/eos/eos_static_route.py
Labels: affects_2.9, feature, module, needs_revision, networking, support:network

#55954 Coverity Bug Fix for cnos_vrf.py
  lib/ansible/modules/network/cnos/cnos_vrf.py
Labels: affects_2.9, bug, community_review, module, needs_triage, networking, owner_pr, support:community

#55902 add link in README to build-from-source instructions
  README.rst
Labels: affects_2.9, core_review, docs, small_patch, support:core

#55726 vmware: refactoring of vmware test roles -- part4
  test/integration/targets/vmware_guest/aliases
  test/integration/targets/vmware_guest/tasks/boot_firmware_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/cdrom_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/check_mode.yml
  test/integration/targets/vmware_guest/tasks/clone_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/clone_with_convert.yml
  test/integration/targets/vmware_guest/tasks/create_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/create_d1_c1_f0_env.yml
  test/integration/targets/vmware_guest/tasks/create_guest_invalid_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/create_nw_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/create_rp_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/delete_vm.yml
  test/integration/targets/vmware_guest/tasks/disk_mode_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/disk_size_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/disk_type_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/mac_address_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/main.yml
  test/integration/targets/vmware_guest/tasks/network_negative_test.yml
  test/integration/targets/vmware_guest/tasks/network_with_device.yml
  test/integration/targets/vmware_guest/tasks/network_with_dvpg.yml
  test/integration/targets/vmware_guest/tasks/network_with_portgroup.yml
  test/integration/targets/vmware_guest/tasks/non_existent_vm_ops.yml
  test/integration/targets/vmware_guest/tasks/poweroff_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/poweroff_d1_c1_f1.yml
  test/integration/targets/vmware_guest/tasks/template_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/vapp_d1_c1_f0.yml
  test/integration/targets/vmware_guest/tasks/windows_vbs_d1_c1_f0.yml
  test/integration/targets/vmware_guest_boot_facts/aliases
  test/integration/targets/vmware_guest_boot_facts/tasks/main.yml
  test/integration/targets/vmware_guest_custom_attribute_defs/aliases
  test/integration/targets/vmware_guest_custom_attribute_defs/tasks/main.yml
  test/integration/targets/vmware_guest_custom_attributes/aliases
  test/integration/targets/vmware_guest_custom_attributes/tasks/main.yml
  test/integration/targets/vmware_guest_customization_facts/aliases
  test/integration/targets/vmware_guest_customization_facts/tasks/main.yml
  test/integration/targets/vmware_guest_disk_facts/aliases
  test/integration/targets/vmware_guest_disk_facts/tasks/main.yml
  test/integration/targets/vmware_guest_facts/aliases
  test/integration/targets/vmware_guest_facts/tasks/main.yml
  test/integration/targets/vmware_guest_find/aliases
  test/integration/targets/vmware_guest_find/tasks/main.yml
  test/integration/targets/vmware_guest_move/aliases
  test/integration/targets/vmware_guest_move/tasks/main.yml
  test/integration/targets/vmware_guest_powerstate/aliases
  test/integration/targets/vmware_guest_powerstate/tasks/main.yml
  test/integration/targets/vmware_guest_snapshot/aliases
  test/integration/targets/vmware_guest_snapshot/tasks/main.yml
  test/integration/targets/vmware_guest_snapshot_facts/aliases
  test/integration/targets/vmware_guest_snapshot_facts/tasks/main.yml
  test/integration/targets/vmware_guest_tools_wait/aliases
  test/integration/targets/vmware_guest_tools_wait/tasks/main.yml
Labels: affects_2.9, feature, needs_rebase, needs_revision, vmware

#55929 VMware: Handle VMs with no configurations
  lib/ansible/plugins/inventory/vmware_vm_inventory.py
Labels: affects_2.9, bug, cloud, community_review, inventory, small_patch, support:community, vmware

#55654 Update ecs_taskdefinition example
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, needs_triage, new_contributor, small_patch, support:community

#48820 meraki/meraki_network - Enable/disable VLANs on network
  changelogs/fragments/48820-meraki_network-enable-vlans.yml
  lib/ansible/modules/network/meraki/meraki_network.py
  test/integration/targets/meraki_network/tasks/main.yml
Labels: affects_2.8, cisco, community_review, feature, meraki, module, networking, support:community, test

#55568 Add faq note about ssh ServerAliveInterval
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.9, core_review, docs, support:core

#49015 Meraki util - Add method to encode parameters in the URL
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.8, cisco, feature, meraki, needs_revision, networking, stale_ci, stale_review, support:community, test

#55889 Add Oracle module maintainers
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, docs, support:core

#52691 Support "force_subnet_association" parameter on na_ontap_interface
  lib/ansible/modules/storage/netapp/na_ontap_interface.py
Labels: affects_2.8, feature, module, netapp, shipit, storage, support:certified

#55470 unite poll defaults
  changelogs/fragments/align_poll_defaults.yml
  docs/docsite/rst/user_guide/playbooks_async.rst
  lib/ansible/playbook/task.py
Labels: affects_2.9, bug, core_review, docs, support:community, support:core

#55893 Implement a framework for having common code for release scripts
  MANIFEST.in
  hacking/build-ansible
  hacking/build_library/__init__.py
  hacking/build_library/build_ansible/__init__.py
  hacking/build_library/build_ansible/command_plugins/porting_guide.py
  hacking/build_library/build_ansible/command_plugins/release_announcement.py
  hacking/build_library/build_ansible/commands.py
  test/runner/requirements/sanity.txt
  test/sanity/code-smell/shebang.py
  test/sanity/compile/python2.6-skip.txt
  test/sanity/compile/python2.7-skip.txt
  test/sanity/compile/python3.5-skip.txt
Labels: affects_2.9, feature, shipit, support:core, test

#52008 docsite: correct path, list requirements for testing module docs, etc.
  docs/docsite/rst/dev_guide/testing_documentation.rst
Labels: affects_2.8, core_review, docs, docsite, docsite_pr, support:core

#55851 Added implicit initialization of APT package manager '_cache' field
  lib/ansible/modules/packaging/os/package_facts.py
Labels: affects_2.9, bug, community_review, module, needs_triage, new_contributor, packaging, small_patch, support:community

#55715 Fix firewalld source option handling to be exclusive
  changelogs/fragments/55683-firewalld_source-option-handling.yml
  lib/ansible/modules/system/firewalld.py
  test/integration/targets/firewalld/tasks/run_all_tests.yml
  test/integration/targets/firewalld/tasks/source_test_cases.yml
Labels: affects_2.9, bug, module, shipit, support:community, system

#55747 Developer documentation update involving module invocation
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: affects_2.9, core_review, docs, docsite, support:core

#55963 Package facts apt fix
  changelogs/fragments/package_facts_apt_fix.yml
  lib/ansible/module_utils/facts/packages.py
  lib/ansible/modules/packaging/os/package_facts.py
Labels: affects_2.9, bug, module, packaging, shipit, support:community, support:core

#55609 nxos_acl: some platforms/versions raise when no ACLs are present
  lib/ansible/modules/network/nxos/nxos_acl.py
  test/integration/targets/nxos_acl/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, support:network, test

#55463 nxos_vlan: vlan names containing regex ctl chars should be escaped
  lib/ansible/modules/network/nxos/nxos_vlan.py
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, owner_pr, small_patch, stale_ci, support:network

#55441 Fix passwordless workflow
  lib/ansible/modules/network/nxos/nxos_file_copy.py
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, owner_pr, stale_ci, support:network

#54314 Add GetChassisPower command to Chassis category of redfish_facts
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.8, feature, module, remote_management, shipit, support:community

#54201 Fix SetOneTimeBoot to use standard ComputerSystem 'Boot' property
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.8, bug, module, owner_pr, remote_management, shipit, support:community, traceback

#55872 Pluribus networks fabric local module with UT
  lib/ansible/modules/network/netvisor/pn_fabric_local.py
  test/units/modules/network/netvisor/test_pn_fabric_local.py
Labels: affects_2.9, module, needs_revision, networking, new_module, new_plugin, support:community, support:core, test

#54273 Feat/add GetBootOverride to Systems category of redfish_facts
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.8, feature, module, remote_management, shipit, support:community

#55731 vmware: refactoring of vmware test roles -- part6
  test/integration/targets/vmware_inventory/aliases
  test/integration/targets/vmware_local_role_facts/aliases
  test/integration/targets/vmware_local_role_facts/tasks/main.yml
  test/integration/targets/vmware_local_role_manager/aliases
  test/integration/targets/vmware_local_role_manager/tasks/main.yml
  test/integration/targets/vmware_local_user_facts/aliases
  test/integration/targets/vmware_local_user_facts/tasks/main.yml
  test/integration/targets/vmware_local_user_manager/aliases
  test/integration/targets/vmware_local_user_manager/tasks/main.yml
  test/integration/targets/vmware_maintenancemode/aliases
  test/integration/targets/vmware_maintenancemode/tasks/main.yml
  test/integration/targets/vmware_portgroup_facts/aliases
  test/integration/targets/vmware_portgroup_facts/tasks/main.yml
  test/integration/targets/vmware_resource_pool/aliases
  test/integration/targets/vmware_resource_pool/tasks/main.yml
  test/integration/targets/vmware_resource_pool_facts/aliases
  test/integration/targets/vmware_resource_pool_facts/tasks/main.yml
Labels: affects_2.9, cloud, feature, shipit, support:community, vmware

#55730 vmware: refactoring of vmware test roles -- part5
  test/integration/targets/vmware_host/aliases
  test/integration/targets/vmware_host/tasks/main.yml
  test/integration/targets/vmware_host_acceptance/aliases
  test/integration/targets/vmware_host_acceptance/tasks/main.yml
  test/integration/targets/vmware_host_active_directory/aliases
  test/integration/targets/vmware_host_active_directory/tasks/main.yml
  test/integration/targets/vmware_host_capability_facts/aliases
  test/integration/targets/vmware_host_capability_facts/tasks/main.yml
  test/integration/targets/vmware_host_config_facts/aliases
  test/integration/targets/vmware_host_config_facts/tasks/main.yml
  test/integration/targets/vmware_host_config_manager/aliases
  test/integration/targets/vmware_host_config_manager/tasks/main.yml
  test/integration/targets/vmware_host_dns_facts/aliases
  test/integration/targets/vmware_host_dns_facts/tasks/main.yml
  test/integration/targets/vmware_host_facts/aliases
  test/integration/targets/vmware_host_facts/tasks/main.yml
  test/integration/targets/vmware_host_feature_facts/aliases
  test/integration/targets/vmware_host_feature_facts/tasks/main.yml
  test/integration/targets/vmware_host_firewall_facts/aliases
  test/integration/targets/vmware_host_firewall_facts/tasks/main.yml
  test/integration/targets/vmware_host_firewall_manager/aliases
  test/integration/targets/vmware_host_firewall_manager/tasks/main.yml
  test/integration/targets/vmware_host_hyperthreading/aliases
  test/integration/targets/vmware_host_hyperthreading/tasks/main.yml
  test/integration/targets/vmware_host_ipv6/aliases
  test/integration/targets/vmware_host_ipv6/tasks/main.yml
  test/integration/targets/vmware_host_kernel_manager/aliases
  test/integration/targets/vmware_host_kernel_manager/tasks/main.yml
  test/integration/targets/vmware_host_ntp/aliases
  test/integration/targets/vmware_host_ntp/tasks/main.yml
  test/integration/targets/vmware_host_ntp_facts/aliases
  test/integration/targets/vmware_host_ntp_facts/tasks/main.yml
  test/integration/targets/vmware_host_package_facts/aliases
  test/integration/targets/vmware_host_package_facts/tasks/main.yml
  test/integration/targets/vmware_host_powermgmt_policy/aliases
  test/integration/targets/vmware_host_powermgmt_policy/tasks/main.yml
  test/integration/targets/vmware_host_powerstate/aliases
  test/integration/targets/vmware_host_powerstate/tasks/main.yml
  test/integration/targets/vmware_host_scanhba/aliases
  test/integration/targets/vmware_host_scanhba/tasks/main.yml
  test/integration/targets/vmware_host_service_facts/aliases
  test/integration/targets/vmware_host_service_facts/tasks/main.yml
  test/integration/targets/vmware_host_service_manager/aliases
  test/integration/targets/vmware_host_service_manager/tasks/main.yml
  test/integration/targets/vmware_host_snmp/aliases
  test/integration/targets/vmware_host_snmp/tasks/main.yml
  test/integration/targets/vmware_host_ssl_facts/aliases
  test/integration/targets/vmware_host_ssl_facts/tasks/main.yml
  test/integration/targets/vmware_host_vmhba_facts/aliases
  test/integration/targets/vmware_host_vmhba_facts/tasks/main.yml
  test/integration/targets/vmware_host_vmnic_facts/aliases
  test/integration/targets/vmware_host_vmnic_facts/tasks/main.yml
Labels: affects_2.9, feature, needs_rebase, needs_revision, vmware

#55725 vmware: refactoring of vmware test roles -- part3
  test/integration/targets/prepare_vmware_tests/tasks/main.yml
  test/integration/targets/vmware_drs_group/aliases
  test/integration/targets/vmware_drs_group/tasks/main.yml
  test/integration/targets/vmware_drs_group_facts/aliases
  test/integration/targets/vmware_drs_group_facts/tasks/main.yml
  test/integration/targets/vmware_drs_rule_facts/aliases
  test/integration/targets/vmware_drs_rule_facts/tasks/main.yml
  test/integration/targets/vmware_dvs_portgroup/aliases
  test/integration/targets/vmware_dvs_portgroup/tasks/main.yml
  test/integration/targets/vmware_dvs_portgroup_facts/aliases
  test/integration/targets/vmware_dvs_portgroup_facts/tasks/main.yml
  test/integration/targets/vmware_dvswitch/aliases
  test/integration/targets/vmware_dvswitch/tasks/main.yml
  test/integration/targets/vmware_dvswitch_pvlans/aliases
  test/integration/targets/vmware_dvswitch_pvlans/tasks/main.yml
  test/integration/targets/vmware_dvswitch_uplink_pg/aliases
  test/integration/targets/vmware_dvswitch_uplink_pg/tasks/main.yml
Labels: affects_2.9, cloud, feature, shipit, support:community, vmware

#54269 Feat/add GetChassisInventory to Chassis category of redfish_facts
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.8, community_review, feature, module, remote_management, support:community

#55916 VMware: Assign vSAN License for cluster
  lib/ansible/modules/cloud/vmware/vcenter_license.py
Labels: affects_2.9, cloud, community_review, feature, module, owner_pr, support:community, vmware

#56025 BOTMETA: add @goneri in team_vmware
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, docs, needs_revision, needs_triage, small_patch, support:core

#55951 Allow config boolean options to default to None
  changelogs/fragments/55951-config-bool-options.yml
  lib/ansible/config/manager.py
Labels: affects_2.9, bug, core_review, support:community, support:core

#56038 Fix non-signature authentication
  lib/ansible/module_utils/network/aci/aci.py
Labels: aci, affects_2.9, bug, cisco, community_review, needs_triage, networking, support:community

#55249 Fix loading namespaced doc_fragments from collections
  changelogs/fragments/55249-doc_fragments_from_collections.yml
  lib/ansible/plugins/loader.py
  lib/ansible/utils/plugin_docs.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/doc_fragments/frag.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/modules/testmodule.py
  test/integration/targets/collections/runme.sh
Labels: affects_2.9, bug, new_plugin, shipit, support:community, support:core

#55721 vmware: refactoring of the vcenter_* test roles
  test/integration/targets/vcenter_folder/meta/main.yml
  test/integration/targets/vcenter_folder/tasks/main.yml
  test/integration/targets/vcenter_license/meta/main.yml
  test/integration/targets/vcenter_license/tasks/main.yml
Labels: affects_2.9, cloud, community_review, feature, support:community, vmware

#55185 vmware_host_config_manager: do not apply an empty list of change
  lib/ansible/modules/cloud/vmware/vmware_host_config_manager.py
Labels: affects_2.8, bug, cloud, community_review, module, needs_triage, small_patch, stale_ci, support:community, vmware

#55894 docker_container: use restart() API function instead of stop/start sequence
  changelogs/fragments/55894-docker_container-restart.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
  test/integration/targets/docker_container/tasks/tests/start-stop.yml
Labels: affects_2.9, automerge, bug, cloud, docker, module, shipit, support:community, test

#55438 Update openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_privatekey.py
Labels: affects_2.9, automerge, bug, crypto, module, new_contributor, shipit, support:community

#56018 Add new members to the Scaleway team
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, small_patch, support:core

#54872 VMware: vmware_datastore_facts: empty list if none found
  changelogs/fragments/vmware_datastore_facts.yaml
  lib/ansible/modules/cloud/vmware/vmware_datastore_facts.py
Labels: affects_2.8, bug, cloud, module, needs_revision, stale_ci, stale_review, support:community, vmware

#56004 Fix examples in azure_rm_webappslot.py
  lib/ansible/modules/cloud/azure/azure_rm_webappslot.py
Labels: affects_2.9, azure, cloud, community_review, docs, module, needs_triage, new_contributor, support:community

#56076 Fix invalid src option return response for network config modules
  lib/ansible/plugins/action/network.py
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#56087 Add missing selectors2 requirement for network-integration tests
  test/runner/requirements/network-integration.txt
Labels: affects_2.9, bug, core_review, needs_triage, python3, support:core, test

#56091 Fix vyos_command integration test
  test/integration/targets/vyos_command/tests/cli/cli_command.yaml
Labels: affects_2.9, core_review, needs_triage, support:network

#56012 oom_killer and oom_score_adj are available since docker-py 1.8.0.
  changelogs/fragments/56012-docker_container-oom-version.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.9, automerge, bug, cloud, docker, module, shipit, support:community, test

#56093 fix documentation for docker_container publish_ports option
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.9, automerge, cloud, docker, docs, module, shipit, small_patch, support:community

#56035 Add PTR Examples to nsupdate module
  lib/ansible/modules/net_tools/nsupdate.py
Labels: affects_2.9, automerge, bug, docs, module, net_tools, new_contributor, shipit, support:community

#56019 vmware: check the SSL certification
  changelogs/fragments/vmware_check_ssl_cert.yaml
  lib/ansible/module_utils/vmware.py
Labels: affects_2.8, affects_2.9, bug, cloud, community_review, needs_triage, support:community, vmware

#56109 add missing exported state to doc string
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.9, cloud, community_review, docs, module, new_contributor, ovirt, small_patch, support:community

#56007 add doc example of multiline failed_when with OR
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
Labels: affects_2.9, core_review, docs, support:core

#55292 mysql_user: fix regression
  changelogs/fragments/mysql_user-fix-versions-compatibilities-regression.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.9, bug, database, module, mysql, shipit, support:community

#56067 [2.8] Update openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_privatekey.py
Labels: affects_2.8, backport, community_review, crypto, docs, module, owner_pr, small_patch, support:community

#56066 [2.7] Update openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_privatekey.py
Labels: affects_2.7, backport, community_review, crypto, docs, module, owner_pr, small_patch, support:community

#56015 package_facts: Trivial docs cleanup
  lib/ansible/modules/packaging/os/package_facts.py
Labels: affects_2.9, community_review, docs, module, packaging, support:community

#56100 [2.8] fix documentation for docker_container publish_ports option
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, backport, cloud, community_review, docker, docs, module, owner_pr, small_patch, support:community

#56099 [2.7] fix documentation for docker_container publish_ports option
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.7, backport, cloud, community_review, docker, docs, module, owner_pr, small_patch, support:community

#55959 [stable-2.7] Clarify documentation on reboot delay parameters (#55934).
  lib/ansible/modules/system/reboot.py
  lib/ansible/modules/windows/win_reboot.py
Labels: affects_2.7, backport, core_review, docs, module, owner_pr, support:core, system, windows

#56102 Use stdout_callback yaml for network-integration tests
  test/integration/network-integration.cfg
Labels: affects_2.9, core_review, feature, needs_triage, support:core

#56123 Skip iosxr_bgp tests if device is not running XR 6.1.3
  test/integration/targets/iosxr_bgp/tests/cli/basic.yaml
Labels: affects_2.9, bug, cisco, core_review, ios, iosxr, networking, support:network, test

#56126 Don't fail trying to read boot image wihtout enable
  lib/ansible/plugins/cliconf/eos.py
Labels: affects_2.9, bug, core_review, networking, support:network

#56089 VMware: vCenter Cluster EVC Mode : new module
  lib/ansible/modules/cloud/vmware/vmware_evc_mode.py
  test/integration/targets/vmware_evc_mode/aliases
  test/integration/targets/vmware_evc_mode/meta/main.yml
  test/integration/targets/vmware_evc_mode/tasks/main.yml
Labels: affects_2.9, cloud, community_review, module, new_module, new_plugin, support:community, vmware

#56001 Update include_role description
  lib/ansible/modules/utilities/logic/include_role.py
Labels: affects_2.9, core_review, docs, include_role, module, support:core, utilities

#56141 Add support for isolated virtualenv in tests.
  test/runner/injector/virtualenv-isolated.sh
  test/runner/lib/executor.py
Labels: affects_2.9, core_review, feature, support:core, test

#56083 cloudstack: cs_network_acl_rule: implement cidr/cidrs as list
  lib/ansible/modules/cloud/cloudstack/cs_network_acl_rule.py
  test/integration/targets/cs_network_acl_rule/tasks/main.yml
Labels: affects_2.9, cloud, cloudstack, feature, module, shipit, support:community, test

#56143 bumped 'vcenter-test-container' to '1.5.0'
  test/runner/lib/cloud/vcenter.py
Labels: affects_2.9, core_review, feature, support:core, test

#56138 Fixes Netconf_config single parameter bug
  lib/ansible/module_utils/network/netconf/netconf.py
  lib/ansible/modules/network/netconf/netconf_config.py
  test/integration/targets/netconf_config/tests/iosxr/basic.yaml
  test/integration/targets/netconf_config/tests/junos/basic.yaml
Labels: affects_2.9, bug, core_review, module, needs_triage, networking, new_contributor, small_patch, support:network

#56121 Update required attributes for java_keystore docs
  lib/ansible/modules/system/java_keystore.py
Labels: affects_2.9, community_review, docs, module, new_contributor, small_patch, support:community, system

#56148 Fix junos_config backup testcase
  test/integration/targets/junos_config/tests/netconf/backup.yaml
Labels: affects_2.9, core_review, needs_triage, support:network

#56105 Check existence before calling get method
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py
Labels: affects_2.9, azure, bug, cloud, community_review, module, small_patch, support:community

#56094 Fix dtl test typo
  test/integration/targets/azure_rm_devtestlab/tasks/main.yml
Labels: affects_2.9, azure, bug, cloud, community_review, needs_triage, support:community

#56131 eos_bgp test needs become: yes
  test/integration/targets/eos_bgp/tests/cli/basic.yaml
Labels: affects_2.9, bug, core_review, support:network

#55995 nxos_snmp_traps: fix 'group: all' for N35 platforms
  lib/ansible/modules/network/nxos/nxos_snmp_traps.py
  test/integration/targets/nxos_snmp_traps/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, support:network, test

#56145 Fix net_get and net_put task run failure
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
Labels: affects_2.9, bug, needs_revision, networking, support:network

#56068 postgresql_table: added cascade option
  lib/ansible/modules/database/postgresql/postgresql_table.py
  test/integration/targets/postgresql/tasks/postgresql_table.yml
Labels: affects_2.9, database, feature, module, postgresql, shipit, support:community, test

#53523 VMware: Add managed object id in VM facts
  changelogs/fragments/53372-vmware_guest_facts-add_moid.yml
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_guest_facts.py
  test/integration/targets/vmware_guest_facts/tasks/main.yml
Labels: affects_2.8, cloud, community_review, feature, module, stale_ci, support:community, vmware

#55727 MSO: Fix some index-references and warn about remaining
  lib/ansible/modules/network/aci/mso_schema_site_anp.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_staticleaf.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_staticport.py
  lib/ansible/modules/network/aci/mso_schema_site_anp_epg_subnet.py
  lib/ansible/modules/network/aci/mso_schema_site_bd_l3out.py
  lib/ansible/modules/network/aci/mso_schema_site_bd_subnet.py
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region_cidr.py
  lib/ansible/modules/network/aci/mso_schema_site_vrf_region_cidr_subnet.py
  lib/ansible/modules/network/aci/mso_schema_template_anp_epg_contract.py
  lib/ansible/modules/network/aci/mso_schema_template_contract_filter.py
Labels: aci, affects_2.9, bug, cisco, community_review, module, needs_triage, networking, owner_pr, stale_ci, support:community

#50205 Note that by default the regex test is identical to match, but can do much more
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: affects_2.8, core_review, docs, docsite, support:core

#55589 Fix vyos cli prompt issues
  lib/ansible/plugins/action/vyos.py
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#56041 Docs: Improve rendering of default lists
  docs/templates/plugin.rst.j2
Labels: affects_2.9, core_review, docs, small_patch, support:core

#55643 refactor iscsi network facts module, remove external grep call, add unit test
  changelogs/fragments/55643-network-facts-iscsi.yaml
  lib/ansible/module_utils/facts/network/iscsi.py
  test/units/module_utils/facts/network/test_iscsi_get_initiator.py
Labels: affects_2.9, feature, needs_revision, support:community, support:core

#56118 VMware: Remove ckotte from VMware notification
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, feature, needs_triage, shipit, support:core

#56103 Hetzner failover IP module
  lib/ansible/modules/net_tools/hetzner_failover_ip.py
  test/units/modules/net_tools/test_hetzner_failover_ip.py
Labels: affects_2.9, module, needs_triage, net_tools, new_module, new_plugin, shipit, support:community, support:core

#55825 na_ontap_qtree / na_ontap_gather_facts: qtree new params and modify operation / new subsets
  lib/ansible/modules/storage/netapp/na_ontap_gather_facts.py
  lib/ansible/modules/storage/netapp/na_ontap_qtree.py
Labels: affects_2.9, committer_review, feature, module, netapp, new_contributor, storage, support:certified

#56183 more info on how vaults work
  docs/docsite/rst/user_guide/playbooks_vault.rst
Labels: affects_2.9, core_review, docs, needs_triage, support:core

#55451 Expose `newline` option to cli_command module
  lib/ansible/module_utils/network/common/utils.py
  lib/ansible/modules/network/cli/cli_command.py
  lib/ansible/plugins/cliconf/aireos.py
  lib/ansible/plugins/cliconf/aruba.py
  lib/ansible/plugins/cliconf/asa.py
  lib/ansible/plugins/cliconf/ce.py
  lib/ansible/plugins/cliconf/cnos.py
  lib/ansible/plugins/cliconf/dellos10.py
  lib/ansible/plugins/cliconf/dellos6.py
  lib/ansible/plugins/cliconf/dellos9.py
  lib/ansible/plugins/cliconf/edgeos.py
  lib/ansible/plugins/cliconf/edgeswitch.py
  lib/ansible/plugins/cliconf/enos.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/exos.py
  lib/ansible/plugins/cliconf/frr.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/ironware.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/netvisor.py
  lib/ansible/plugins/cliconf/nos.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/cliconf/onyx.py
  lib/ansible/plugins/cliconf/routeros.py
  lib/ansible/plugins/cliconf/slxos.py
  lib/ansible/plugins/cliconf/voss.py
  lib/ansible/plugins/cliconf/vyos.py
Labels: affects_2.9, cisco, core_review, feature, ios, module, networking, nxos, stale_ci, support:community, support:network

#53935 Fix wrong `date_size` skip logic in s3_sync module
  lib/ansible/modules/cloud/amazon/s3_sync.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, needs_maintainer, needs_triage, new_contributor, small_patch, stale_ci, support:community

#56193 Update k8s_facts.py
  lib/ansible/modules/clustering/k8s/k8s_facts.py
Labels: affects_2.9, bug, clustering, community_review, k8s, module, needs_triage, new_contributor, small_patch, support:community

#56161 VMware: remove duplicate implementation of memory reservation
  changelogs/fragments/54335-vmware_guest-memory_reservation.yml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.9, bug, cloud, community_review, module, support:community, vmware

#56155 openssl_certificate: fix passphrase handling for cryptography backend
  changelogs/fragments/56155-openssl_certificate-passphrase.yml
  lib/ansible/module_utils/crypto.py
  test/integration/targets/openssl_certificate/tasks/ownca.yml
  test/integration/targets/openssl_certificate/tasks/selfsigned.yml
  test/integration/targets/openssl_csr/tasks/impl.yml
Labels: affects_2.9, automerge, bug, crypto, shipit, support:community, test

#55144 fix nxos_vlan mode idempotence bug
  lib/ansible/modules/network/nxos/nxos_vlan.py
  lib/ansible/plugins/httpapi/nxos.py
  test/integration/targets/nxos_vlan/tests/common/sanity.yaml
  test/units/modules/network/nxos/test_nxos_vlan.py
Labels: affects_2.8, bug, cisco, core_review, module, networking, nxos, support:core, support:network, test

#55224 ec2_instance fix name idempotency (on 2nd call Name tag was being removed)
  changelogs/fragments/55224-ec2_instance-idempotent-tags.yaml
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, support:community

#55659 remove deprecated get_md5 from stat
  changelogs/fragments/stat_no_md5.yml
  lib/ansible/modules/files/stat.py
  test/integration/targets/copy/tasks/tests.yml
  test/integration/targets/stat/tasks/main.yml
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.9, bug, files, module, shipit, support:community, support:core, test

#56206 Revert nxos, ios, iosxr return_timestamps
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/module_utils/network/iosxr/iosxr.py
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/ios/ios_command.py
  lib/ansible/modules/network/iosxr/iosxr_command.py
  lib/ansible/modules/network/nxos/nxos_command.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/nxos.py
  test/units/modules/network/ios/test_ios_command.py
  test/units/modules/network/iosxr/test_iosxr_command.py
  test/units/modules/network/nxos/test_nxos_command.py
Labels: affects_2.9, bug, cisco, ios, iosxr, module, needs_revision, networking, nxos, support:core, support:network, test

#55992 nxos_banner: test file cleanup
  test/integration/targets/nxos_banner/tests/cli/basic-exec.yaml
  test/integration/targets/nxos_banner/tests/cli/basic-motd.yaml
  test/integration/targets/nxos_banner/tests/cli/basic-no-motd.yaml
  test/integration/targets/nxos_banner/tests/common/sanity.yaml
  test/integration/targets/nxos_banner/tests/nxapi/basic-exec.yaml
  test/integration/targets/nxos_banner/tests/nxapi/basic-motd.yaml
  test/integration/targets/nxos_banner/tests/nxapi/basic-no-motd.yaml
Labels: affects_2.9, bug, cisco, core_review, networking, nxos, support:network, test

#55695 sysctl will now return an error if the value is invalid
  changelogs/fragments/sysctl-invalid-value.yml
  lib/ansible/modules/system/sysctl.py
  test/integration/targets/sysctl/tasks/main.yml
Labels: affects_2.9, bug, core_review, module, support:community, support:core, system

#53409 [rds_instance] don't hardcode license_model choices
  changelogs/fragments/53409-rds_instance-remove-hardcoded-license-models.yaml
  lib/ansible/modules/cloud/amazon/rds_instance.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, support:community

#56182 Add missing roles to tower_role module
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_role.py
Labels: affects_2.9, automerge, bug, module, shipit, support:community, tower, web_infrastructure

#55796 Fix var naming
  docs/docsite/rst/scenario_guides/guide_gce.rst
Labels: affects_2.9, bug, core_review, docs, support:core

#56092 BOTMETA: add maintainer, support and labels for hwc_utils.py and unit…
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, docs, support:core

#55189 Fix to allow multiple origins with origin access identity enabled
  lib/ansible/modules/cloud/amazon/cloudfront_distribution.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, small_patch, stale_ci, support:community, traceback

#55686 Pluribus network prefix list module
  lib/ansible/modules/network/netvisor/pn_prefix_list.py
  test/units/modules/network/netvisor/test_pn_prefix_list.py
Labels: affects_2.9, module, needs_revision, networking, new_module, new_plugin, stale_ci, stale_review, support:community, support:core, test

#56158 update azure_rm_acs document
  lib/ansible/modules/cloud/azure/azure_rm_acs.py
Labels: affects_2.9, azure, cloud, docs, module, needs_revision, support:community

#56136 Don't validate ip address for mgmt interface
  test/integration/targets/eos_facts/tests/cli/default_facts.yaml
  test/integration/targets/eos_facts/tests/cli/not_hardware.yaml
  test/integration/targets/eos_facts/tests/eapi/default_facts.yaml
  test/integration/targets/eos_facts/tests/eapi/not_hardware.yaml
Labels: affects_2.9, bug, core_review, support:network

#56235 eos_eapi: Don't detect update if vrf not set.
  lib/ansible/modules/network/eos/eos_eapi.py
Labels: affects_2.9, bug, core_review, module, needs_triage, networking, small_patch, support:network

#56256 gitlab_group: fix sample code that used 'parent_path' which does not exists
  lib/ansible/modules/source_control/gitlab_group.py
Labels: affects_2.9, community_review, docs, gitlab, module, small_patch, source_control, support:community

#56180 eos_config: Fix test issues
  lib/ansible/module_utils/network/eos/eos.py
  lib/ansible/modules/network/eos/eos_config.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/httpapi/eos.py
  test/integration/targets/eos_config/tests/cli/check_mode.yaml
  test/integration/targets/eos_config/tests/cli/sublevel_strict_mul_parents.yaml
Labels: affects_2.9, core_review, module, needs_triage, networking, support:network

#55804 VMware: Optimize Rest Client to use vSphere-Api-Client instead of individual Service
  lib/ansible/module_utils/vmware_rest_client.py
  lib/ansible/modules/cloud/vmware/vmware_category.py
  lib/ansible/modules/cloud/vmware/vmware_category_facts.py
  lib/ansible/modules/cloud/vmware/vmware_guest_facts.py
  lib/ansible/modules/cloud/vmware/vmware_tag.py
  lib/ansible/modules/cloud/vmware/vmware_tag_facts.py
  lib/ansible/modules/cloud/vmware/vmware_tag_manager.py
  test/integration/targets/vmware_tag/aliases
  test/integration/targets/vmware_tag/tasks/main.yml
  test/integration/targets/vmware_tag/tasks/tag_crud_ops.yml
  test/integration/targets/vmware_tag/tasks/tag_manager_ops.yml
Labels: affects_2.9, cloud, feature, module, needs_revision, new_contributor, support:community, vmware

#55858 refactor moudule utils of hwc_utils.py
  lib/ansible/module_utils/hwc_utils.py
  lib/ansible/modules/cloud/huawei/hwc_network_vpc.py
  lib/ansible/modules/cloud/huawei/hwc_smn_topic.py
  lib/ansible/plugins/doc_fragments/hwc.py
  test/units/module_utils/hwc/test_dict_comparison.py
  test/units/module_utils/hwc/test_hwc_utils.py
Labels: affects_2.9, cloud, feature, huawei, module, shipit, support:community, support:core, test

#55433 Add new command GetVolumeInventory / GetSessions / GetVirtualMedia
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_facts.py
Labels: affects_2.9, feature, module, new_contributor, remote_management, shipit, support:community

#53166 os_nova_host_aggregate - Fix aggregate delete with hosts
  lib/ansible/modules/cloud/openstack/os_nova_host_aggregate.py
Labels: affects_2.8, automerge, bug, cloud, module, openstack, shipit, small_patch, support:community

#56272 Disable failing hcloud integration tests.
  test/integration/targets/hcloud_server/aliases
  test/integration/targets/hcloud_ssh_key/aliases
Labels: affects_2.9, bug, cloud, community_review, hcloud, support:community

#56274 [stable-2.8] Disable failing hcloud integration tests.
  test/integration/targets/hcloud_server/aliases
  test/integration/targets/hcloud_ssh_key/aliases
Labels: affects_2.8, backport, bug, cloud, community_review, hcloud, support:community

#55816 connection/docker: add support for privilege escalation
  changelogs/fragments/53385-docker-privilege-escalation.yml
  lib/ansible/plugins/connection/docker.py
Labels: affects_2.9, automerge, bug, cloud, docker, shipit, support:community

#56078 Fix invalid src option return response for network config modules (#5…
  changelogs/fragments/networkos_config_src_option_fix.yaml
  lib/ansible/plugins/action/network.py
Labels: affects_2.8, backport, bug, core_review, networking, support:community, support:network

#56088 Add missing selectors2 requirement for network-integration tests
  test/runner/requirements/network-integration.txt
Labels: affects_2.8, backport, bug, core_review, support:core, test

#56267 vmware: check the SSL certification
  changelogs/fragments/vmware_check_ssl_cert.yaml
  lib/ansible/module_utils/vmware.py
Labels: affects_2.8, backport, bug, cloud, community_review, support:community, vmware

#56228 Revert nxos, ios, iosxr return_timestamps (#56206)
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/network/ios/ios.py
  lib/ansible/module_utils/network/iosxr/iosxr.py
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/ios/ios_command.py
  lib/ansible/modules/network/iosxr/iosxr_command.py
  lib/ansible/modules/network/nxos/nxos_command.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/nxos.py
  test/units/modules/network/ios/test_ios_command.py
  test/units/modules/network/iosxr/test_iosxr_command.py
  test/units/modules/network/nxos/test_nxos_command.py
Labels: affects_2.8, backport, bug, cisco, ios, iosxr, module, needs_revision, networking, nxos, support:core, support:network, test

#56160 Backport PR for fixing net_get and net_put task run failure
  changelogs/fragments/56145-ios-net_get-net_put-update.yaml
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
Labels: affects_2.8, backport, bug, core_review, networking, support:community, support:network

#56268 VMware: Cleanup vCloud references
  lib/ansible/modules/cloud/vmware/vmware_category.py
  lib/ansible/modules/cloud/vmware/vmware_category_facts.py
  lib/ansible/modules/cloud/vmware/vmware_tag.py
  lib/ansible/modules/cloud/vmware/vmware_tag_facts.py
  lib/ansible/modules/cloud/vmware/vmware_tag_manager.py
  lib/ansible/plugins/inventory/vmware_vm_inventory.py
  test/integration/targets/vmware_tag/aliases
  test/integration/targets/vmware_tag/tasks/main.yml
  test/integration/targets/vmware_tag/tasks/tag_crud_ops.yml
  test/integration/targets/vmware_tag/tasks/tag_manager_ops.yml
Labels: affects_2.9, bug, cloud, community_review, inventory, module, support:community, vmware

#55281 VMware_guest: remove guest_id check when use template
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.9, automerge, bug, cloud, module, owner_pr, shipit, small_patch, support:community, vmware

#56156 fix webapp slot test
  test/integration/targets/azure_rm_webapp/aliases
  test/integration/targets/azure_rm_webapp/tasks/main.yml
Labels: affects_2.9, azure, bug, cloud, community_review, support:community

#56216 VMware: Add examples of folder in vmware_deploy_ovf
  lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py
Labels: affects_2.9, cloud, community_review, docs, module, owner_pr, support:community, vmware

#56197 updated to describe required parameter
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.9, aws, cloud, core_review, docs, module, support:core

#53273 dev_guide: Various small updates
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.8, docs, docsite, needs_revision, support:core

#56283 Lack of "--update" flag in older Ubuntu distros
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.9, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#55737 nxos_vtp_*: Fixes n6k issues
  lib/ansible/modules/network/nxos/nxos_vtp_domain.py
  lib/ansible/modules/network/nxos/nxos_vtp_password.py
  lib/ansible/modules/network/nxos/nxos_vtp_version.py
  test/integration/targets/nxos_vtp_domain/tests/common/sanity.yaml
  test/integration/targets/nxos_vtp_password/tests/common/sanity.yaml
  test/integration/targets/nxos_vtp_version/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, stale_ci, support:network, test

#55957 vmware: find_vmdk_file with trailing /
  lib/ansible/module_utils/vmware.py
Labels: affects_2.9, bug, cloud, shipit, support:community, vmware

#56203 Hetzner failover IP: refactoring
  lib/ansible/module_utils/hetzner.py
  lib/ansible/modules/net_tools/hetzner_failover_ip.py
  lib/ansible/plugins/doc_fragments/hetzner.py
  test/units/module_utils/test_hetzner.py
Labels: affects_2.9, core_review, feature, module, net_tools, new_plugin, support:community, support:core

#55832 nxos_snmp_user: platform fixes for get_snmp_user
  lib/ansible/modules/network/nxos/nxos_snmp_user.py
  test/integration/targets/nxos_snmp_user/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, stale_ci, support:network, test

#56271 Ensure 'authorize' is always bool, regardless of source
  lib/ansible/module_utils/network/common/utils.py
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#56140 eos_l2_interface: Handle `Interface does not exist`
  lib/ansible/modules/network/eos/eos_l2_interface.py
Labels: affects_2.9, bug, core_review, module, networking, support:network

#55735 nxos_vpc:Fix multiple idempotency issues, add missing commands
  lib/ansible/modules/network/nxos/nxos_vpc.py
  test/integration/targets/nxos_vpc/tests/common/sanity.yaml
Labels: affects_2.9, bug, cisco, core_review, module, networking, nxos, stale_ci, support:network, test

#56292 To fix IOS static route CI failure
  lib/ansible/modules/network/ios/ios_static_route.py
Labels: affects_2.9, bug, cisco, core_review, ios, module, networking, support:network

#56286 [2.8] VMware: Add examples of folder in vmware_deploy_ovf
  changelogs/fragments/51825-vmware_deploy_ovf-add_folder_doc.yml
  lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py
Labels: affects_2.8, backport, cloud, community_review, docs, module, needs_triage, support:community, vmware

#56306 Missed change to dev_guide documenting-modules page
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.9, core_review, docs, docsite, small_patch, support:core

#49821 NetApp ONTAP module for manage ipspaces
  lib/ansible/modules/storage/netapp/na_ontap_ipspace.py
  test/units/modules/storage/netapp/test_na_ontap_ipspace.py
Labels: affects_2.8, core_review, module, netapp, new_module, new_plugin, storage, support:community, support:core

#49705 Update os_image documentation
  lib/ansible/modules/cloud/openstack/os_image.py
  lib/ansible/plugins/doc_fragments/openstack.py
Labels: affects_2.8, cloud, community_review, docs, docsite_pr, module, new_contributor, openstack, small_patch, support:community

#56298 VMware: support folder param in vmware_vm_facts
  changelogs/fragments/56125-vmware_vm_facts-use_folder.yml
  lib/ansible/modules/cloud/vmware/vmware_vm_facts.py
  test/integration/targets/vmware_vm_facts/tasks/main.yml
Labels: affects_2.9, cloud, community_review, feature, module, support:community, vmware

#56107 VMware: vmware_guest_disk support for use_instance_uuid
  changelogs/fragments/56021-vmware_guest_disk-use_instance_uuid.yml
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_guest_disk.py
Labels: affects_2.9, bug, cloud, module, needs_revision, support:community, vmware

#55577 Adding Support for Traffic Class in Onyx Switches
  lib/ansible/modules/network/onyx/onyx_traffic_class.py
  test/units/modules/network/onyx/fixtures/onyx_show_dcb_ets_interface.cfg
  test/units/modules/network/onyx/fixtures/onyx_show_interface_congestion_control.cfg
  test/units/modules/network/onyx/test_onyx_traffic_class.py
Labels: affects_2.9, core_review, module, networking, new_module, new_plugin, stale_ci, support:community, support:core, test

#55513 Adding Support for NVE Protocol in onyx_protocol
  lib/ansible/modules/network/onyx/onyx_protocol.py
  test/units/modules/network/onyx/test_onyx_protocols.py
Labels: affects_2.9, core_review, module, networking, new_plugin, stale_ci, support:community, support:core, test
