Repository ansible/ansible, pull requests merged in 2019-12, with the labels that each got.

#65131 win_nssm - Implement additional parameters
  changelogs/fragments/win_nssm-Implement-additional-parameters.yml
  lib/ansible/modules/windows/win_nssm.ps1
  lib/ansible/modules/windows/win_nssm.py
Labels: affects_2.10, feature, module, needs_revision, owner_pr, support:community, support:core, windows

#64997 win_disk_facts - Set output array order to be by disk number property
  changelogs/fragments/win_disk_facts-Set-output-array-order-by-disk-number.yml
  lib/ansible/modules/windows/win_disk_facts.ps1
Labels: affects_2.10, bug, module, needs_revision, owner_pr, support:community, support:core, windows

#65382 ufw: add support for interface_in and interface_out
  changelogs/fragments/63903-ufw.yaml
  lib/ansible/modules/system/ufw.py
  test/integration/targets/ufw/tasks/main.yml
  test/integration/targets/ufw/tasks/tests/interface.yml
  test/units/modules/system/test_ufw.py
Labels: affects_2.10, feature, module, shipit, support:community, support:core, system

#64436 openssh_keypair - Add password protected key check
  changelogs/fragments/64436-openssh_keypair-add-password-protected-key-check.yml
  lib/ansible/modules/crypto/openssh_keypair.py
  test/integration/targets/openssh_keypair/tasks/main.yml
  test/integration/targets/openssh_keypair/tests/validate.yml
Labels: affects_2.10, bug, community_review, crypto, module, support:community

#65399 Hetzner dedicated server firewall module
  lib/ansible/module_utils/hetzner.py
  lib/ansible/modules/net_tools/hetzner_firewall.py
  test/units/modules/net_tools/test_hetzner_firewall.py
Labels: affects_2.10, core_review, module, needs_triage, net_tools, new_module, new_plugin, support:community, support:core

#64648 acme_certificate: Fix ACME v1 support when modify_account is set to false
  changelogs/fragments/64648-acme_certificate-acmev1.yml
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.10, automerge, bug, crypto, module, owner_pr, shipit, support:community

#65419 VMware: Updated module compatibility with vsphere version.
  lib/ansible/modules/cloud/vmware/vmware_content_deploy_template.py
Labels: affects_2.10, cloud, docs, module, needs_revision, owner_pr, small_patch, support:community, vmware

#62584 lbu: New module to manage Alpine Linux run-from-RAM configuration
  lib/ansible/modules/system/lbu.py
Labels: affects_2.10, community_review, module, needs_triage, new_contributor, new_module, new_plugin, support:community, system

#64994 postgresql_ext: use query_params
  changelogs/fragments/64994-postgresql_ext_use_query_params.yml
  lib/ansible/modules/database/postgresql/postgresql_ext.py
  test/integration/targets/postgresql_ext/aliases
Labels: affects_2.10, database, feature, module, postgresql, shipit, support:community, test

#65094 Mention that Python keywords are invalid Ansible variable names
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.10, core_review, docs, python3, support:core

#65425 Mention Python builtin methods in filter docs
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.10, core_review, docs, support:core

#65353 Fix typo in svn documentation path
  lib/ansible/modules/source_control/subversion.py
Labels: affects_2.10, core_review, docs, module, new_contributor, small_patch, source_control, support:core

#43435 Autoselect datastore only from the given cluster/ESXi
  lib/ansible/module_utils/vmware.py
  lib/ansible/modules/cloud/vmware/vmware_guest.py
  test/integration/targets/vmware_guest/tasks/clone_resize_disks.yml
Labels: affects_2.7, cloud, community_review, feature, has_issue, module, python3, support:community, vmware

#65126 Describe different ways to set connection timeout options
  docs/docsite/rst/network/getting_started/index.rst
  docs/docsite/rst/network/getting_started/network_connection_options.rst
  docs/docsite/rst/network/getting_started/network_differences.rst
  docs/docsite/rst/network/user_guide/platform_ce.rst
  docs/docsite/rst/network/user_guide/platform_cnos.rst
  docs/docsite/rst/network/user_guide/platform_dellos10.rst
  docs/docsite/rst/network/user_guide/platform_dellos6.rst
  docs/docsite/rst/network/user_guide/platform_dellos9.rst
  docs/docsite/rst/network/user_guide/platform_enos.rst
  docs/docsite/rst/network/user_guide/platform_eos.rst
  docs/docsite/rst/network/user_guide/platform_eric_eccli.rst
  docs/docsite/rst/network/user_guide/platform_exos.rst
  docs/docsite/rst/network/user_guide/platform_icx.rst
  docs/docsite/rst/network/user_guide/platform_ios.rst
  docs/docsite/rst/network/user_guide/platform_iosxr.rst
  docs/docsite/rst/network/user_guide/platform_ironware.rst
  docs/docsite/rst/network/user_guide/platform_junos.rst
  docs/docsite/rst/network/user_guide/platform_meraki.rst
  docs/docsite/rst/network/user_guide/platform_netconf_enabled.rst
  docs/docsite/rst/network/user_guide/platform_netvisor.rst
  docs/docsite/rst/network/user_guide/platform_nos.rst
  docs/docsite/rst/network/user_guide/platform_nxos.rst
  docs/docsite/rst/network/user_guide/platform_routeros.rst
  docs/docsite/rst/network/user_guide/platform_slxos.rst
  docs/docsite/rst/network/user_guide/platform_voss.rst
  docs/docsite/rst/network/user_guide/platform_vyos.rst
Labels: affects_2.10, core_review, docs, docsite, networking, support:core

#65272 Fix using a URL for galaxy collection install
  changelogs/fragments/collection-install-url.yaml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection.py
  test/units/cli/test_galaxy.py
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core

#65358 Backport of Fixed some documentation for postgresql_slot (#65278)
  lib/ansible/modules/database/postgresql/postgresql_slot.py
Labels: affects_2.9, backport, community_review, database, docs, module, owner_pr, postgresql, support:community

#65193 VMware: Add SDRS configuration to vmware_datastore_cluster
  changelogs/fragments/65154-vmware_datastore_cluster-configure-dns.yml
  lib/ansible/modules/cloud/vmware/vmware_datastore_cluster.py
  test/integration/targets/vmware_datastore_cluster/tasks/main.yml
Labels: affects_2.10, cloud, community_review, feature, module, support:community, vmware

#65275 lightsail - Use AnsibleAWSModule
  hacking/aws_config/testing_policies/compute-policy.json
  lib/ansible/modules/cloud/amazon/lightsail.py
  test/integration/targets/lightsail/defaults/main.yml
  test/integration/targets/lightsail/library/lightsail_keypair.py
  test/integration/targets/lightsail/tasks/main.yml
Labels: affects_2.10, aws, bug, cloud, core_review, module, support:community, support:core

#64848 Add Fedora 31 to the test matrix
  shippable.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, core_review, feature, stale_ci, support:core, test

#65273 galaxy - print HTTP reason on unknown error
  changelogs/fragments/galaxy-error-reason.yaml
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core

#60433 route53_info: add pagination support to list
  lib/ansible/modules/cloud/amazon/route53_info.py
Labels: affects_2.9, aws, cloud, feature, module, needs_revision, stale_review, support:community

#65438 ansible-galaxy - Add User-Agent to requests
  changelogs/fragments/galaxy-collections.yaml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#63219 k8s: persist refreshed tokens
  lib/ansible/module_utils/k8s/common.py
  lib/ansible/plugins/doc_fragments/k8s_auth_options.py
Labels: affects_2.10, bug, clustering, community_review, k8s, support:community

#65428 EXOS: Change exos_lldp_interfaces supported_by to community
  lib/ansible/modules/network/exos/exos_lldp_interfaces.py
Labels: affects_2.10, bug, core_review, module, networking, small_patch, support:network

#65435 openssl_csr: make sure privatekey_path is specified when state is present
  changelogs/fragments/65435-openssl_csr-privatekey_path-required.yml
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.10, bug, community_review, crypto, module, needs_triage, owner_pr, support:community

#65437 Sanity checks: make sure that `required` in argument spec coincides with documentation
  changelogs/fragments/65437-ansible-test-module-validation-required.yml
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/sanity/ignore.txt
Labels: affects_2.10, core_review, docs, docsite, feature, support:community, support:core, test

#65063 Ensure `allow_duplicates: true` enables to run single role multiple times (#64902)
  changelogs/fragments/64902-fix-allow-duplicates-in-single-role.yml
  lib/ansible/playbook/play.py
  test/integration/targets/include_import/roles/dup_allowed_role/meta/main.yml
  test/integration/targets/include_import/roles/dup_allowed_role/tasks/main.yml
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/tasks/test_allow_single_role_dup.yml
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#65433 prepare_vmware_tests: run test w/ just 1 vcsa
  test/integration/targets/prepare_vmware_tests/tasks/init_real_lab.yml
  test/integration/targets/prepare_vmware_tests/tasks/main.yml
  test/integration/targets/prepare_vmware_tests/vars/vcenter_only.yml
  test/integration/targets/prepare_vmware_tests/vars/vcenter_with_2_nodes.yml
Labels: affects_2.10, bug, community_review, support:community

#65469 ignore.txt: fixup for #65437 & #65435
  test/sanity/ignore.txt
Labels: affects_2.10, bug, core_review, needs_triage, owner_pr, support:core, test

#65467 Remove openssl_csr sanity ignore.txt entry:
  test/sanity/ignore.txt
Labels: affects_2.10, bug, core_review, needs_triage, owner_pr, support:core, test

#65289 [stable-2.7] Add or later to the license expressed in the README
  README.rst
Labels: affects_2.7, backport, bug, core_review, needs_triage, small_patch, support:core

#64794 Backport/2.8/64397
  changelogs/fragments/64397-netscaler_service-bugfix.yml
  lib/ansible/modules/network/netscaler/netscaler_service.py
Labels: affects_2.8, backport, backport_verified, bug, community_review, module, networking, stale_ci, support:community

#65045 [backport 2.8] gitlab_user: Fix ssh key add and group membership add when there's ot…
  changelogs/fragments/63621-gitlab_user-fix-sshkey-and-user.yml
  lib/ansible/modules/source_control/gitlab_user.py
Labels: affects_2.8, backport, backport_verified, bug, community_review, gitlab, module, new_module, new_plugin, source_control, support:community

#65052 [backport 2.8] gitlab module: set max version for python-gitlab lib
  lib/ansible/modules/source_control/gitlab_deploy_key.py
  lib/ansible/modules/source_control/gitlab_group.py
  lib/ansible/modules/source_control/gitlab_hook.py
  lib/ansible/modules/source_control/gitlab_project.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/source_control/gitlab_user.py
Labels: affects_2.8, backport, bot_broken, docs, gitlab, module, needs_revision, needs_triage, new_module, new_plugin, source_control, support:community

#65127 [2.8] openssh_keypair: fix idempotence issue
  changelogs/fragments/65017-openssh_keypair-idempotence.yml
  lib/ansible/modules/crypto/openssh_keypair.py
  test/integration/targets/openssh_keypair/tasks/main.yml
  test/integration/targets/openssh_keypair/tests/validate.yml
Labels: affects_2.8, backport, backport_verified, bug, community_review, crypto, module, stale_ci, support:community

#65214 [2.8] [yarn] Set name_version when version is not specified
  changelogs/fragments/62348-yarn-no_version_install_fix.yml
  lib/ansible/modules/packaging/language/yarn.py
Labels: affects_2.8, backport, backport_verified, bug, community_review, module, packaging, stale_ci, support:community

#64029 BOTMETA migrated_to should be namespace.collection
  .github/BOTMETA.yml
  test/sanity/code-smell/botmeta.py
Labels: affects_2.10, botmeta, bug, collection, has_issue, needs_revision, small_patch, support:core, test

#65231 Backport/2.8/65065 plugins/netconf/ce.py to fix a bug(failed to get veriosn information via neocnf). #65065
  changelogs/fragments/65065-plugins-netconf-ce-fix.yaml
  lib/ansible/plugins/netconf/ce.py
Labels: affects_2.8, backport, backport_verified, bug, core_review, huawei, networking, support:community, support:network

#65234 [2.8] docker_container and docker_network: avoid None errors
  changelogs/fragments/65018-docker-none-errors.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: affects_2.8, backport, backport_verified, bug, cloud, docker, module, owner_pr, shipit, support:community

#65288 [stable-2.8] Add or later to the license expressed in the README
  README.rst
Labels: affects_2.8, backport, backport_verified, bug, core_review, needs_triage, small_patch, support:core

#65460 [2.8] openssl_csr: make sure privatekey_path is specified when state is present
  changelogs/fragments/65435-openssl_csr-privatekey_path-required.yml
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.8, backport, bug, community_review, crypto, module, needs_triage, owner_pr, support:community

#65413 [2.8] acme_certificate: Fix ACME v1 support when modify_account is set to false
  changelogs/fragments/64648-acme_certificate-acmev1.yml
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.8, backport, backport_verified, bug, community_review, crypto, module, owner_pr, support:community

#64790 Backport/2.9/64397
  changelogs/fragments/64397-netscaler_service-bugfix.yml
  lib/ansible/modules/network/netscaler/netscaler_service.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, module, networking, stale_ci, support:community

#64812 allow using --check on win_iis_webapppool module (#50528) - 2.9
  changelogs/fragments/win_iis_webapppool-check-mode.yaml
  lib/ansible/modules/windows/win_iis_webapppool.ps1
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, owner_pr, stale_ci, support:community, support:core, windows

#64816 win_domain_computer: Fix idempotence with sam_account_name (#56967) - 2.9
  changelogs/fragments/win_domain_computer-idempotence.yaml
  lib/ansible/modules/windows/win_domain_computer.ps1
  lib/ansible/modules/windows/win_domain_computer.py
  test/integration/targets/win_domain_computer/aliases
  test/integration/targets/win_domain_computer/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, stale_ci, support:community, support:core, windows

#64821 [2.9] VMware: Fix get_tags_for_vm API in vmware_vm_info module
  lib/ansible/modules/cloud/vmware/vmware_vm_info.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, has_issue, module, owner_pr, small_patch, stale_ci, support:community, vmware

#64874 Close subprocess stdout and stderr in the ssh connection plugin
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, small_patch, stale_ci, support:core

#64881 win_chocolatey: Fix error when choco.exe not found (#53115) - 2.9
  changelogs/fragments/win_chocolatey-check-install-path.yaml
  lib/ansible/modules/windows/win_chocolatey.ps1
  test/sanity/ignore.txt
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, owner_pr, stale_ci, support:community, support:core, test, windows

#64914 [stable-2.9] Fix group integration test for CentOS 8 (#64858)
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:core, system

#64915 [stable-2.9] Fix setup_rpm integration tests for CentOS 8 (#64862)
  test/integration/targets/setup_rpm_repo/defaults/main.yml
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/setup_rpm_repo/vars/Fedora.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-6.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-7.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-8.yml
  test/integration/targets/setup_rpm_repo/vars/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#64916 [stable-2.9] Fix paramiko_ssh test for CentOS 8(#64857)
  test/integration/targets/setup_paramiko/install.yml
  test/integration/targets/setup_paramiko/uninstall.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#64917 [stable-2.9] Fix iso_extract tests for CentOS 8 (#64861)
  test/integration/targets/iso_extract/meta/main.yml
  test/integration/targets/iso_extract/tasks/7zip.yml
  test/integration/targets/iso_extract/tasks/main.yml
  test/integration/targets/iso_extract/vars/FreeBSD.yml
  test/integration/targets/iso_extract/vars/RedHat.yml
  test/integration/targets/iso_extract/vars/Suse.yml
  test/integration/targets/iso_extract/vars/Ubuntu.yml
  test/integration/targets/iso_extract/vars/default.yml
  test/integration/targets/setup_epel/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, stale_ci, support:community

#64843 2.9: Fix ansible_failed_{task,result} undefined in rescue (#64831)
  changelogs/fragments/64789-regression-rescue-vars-not-defined.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/blocks/block_rescue_vars.yml
  test/integration/targets/blocks/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#64918 [stable-2.9] Fix lookup_passwordstore integration test for CentOS 8 (#64869)
  test/integration/targets/lookup_passwordstore/tasks/main.yml
  test/integration/targets/lookup_passwordstore/tasks/package.yml
  test/integration/targets/lookup_passwordstore/vars/Debian.yml
  test/integration/targets/lookup_passwordstore/vars/Fedora.yml
  test/integration/targets/lookup_passwordstore/vars/FreeBSD.yml
  test/integration/targets/lookup_passwordstore/vars/default.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#64919 [stable-2.9] Fix yum_repository tests for CentOS 8 (#64863)
  test/integration/targets/yum_repository/tasks/main.yml
  test/integration/targets/yum_repository/tasks/yum_repository_centos.yml
  test/integration/targets/yum_repository/tasks/yum_repository_fedora.yml
  test/integration/targets/yum_repository/vars/CentOS-8.yml
  test/integration/targets/yum_repository/vars/CentOS.yml
  test/integration/targets/yum_repository/vars/Fedora.yml
  test/integration/targets/yum_repository/vars/default.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:core

#64920 [stable-2.9] Fix setup_mysql_db for CentOS 8 (#64864)
  test/integration/targets/setup_mysql_db/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, database, mysql, needs_revision, support:community, test

#64923 [stable-2.9] Fix filesystem integration test for CentOS 8 (#64866)
  test/integration/targets/filesystem/tasks/main.yml
  test/integration/targets/filesystem/tasks/setup.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, stale_ci, support:community, system

#64925 [stable-2.9] Fix setup_postgresql integration test for CestOS 8 (#64871)
  test/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#64926 [stable-2.9] Fix setup_mysql8 tests for CentOS 8 (#64868)
  test/integration/targets/setup_mysql8/defaults/main.yml
  test/integration/targets/setup_mysql8/handlers/main.yml
  test/integration/targets/setup_mysql8/tasks/setup_mysql8.yml
  test/integration/targets/setup_mysql8/vars/CentOS-8.yml
  test/integration/targets/setup_mysql8/vars/RedHat-8.yml
  test/integration/targets/setup_mysql8/vars/RedHat.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#64964 [stable-2.9] Use newer version of podman on RHEL (#64934)
  test/integration/targets/setup_podman/defaults/main.yml
  test/integration/targets/setup_podman/tasks/main.yml
  test/integration/targets/setup_podman/vars/RedHat-7.yml
  test/integration/targets/setup_podman/vars/RedHat-8.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#64924 [stable-2.9] Fix firewalld integration tests for CentOS 8 (#64873)
  test/integration/targets/firewalld/tasks/main.yml
  test/integration/targets/firewalld/tasks/run_all_tests.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, stale_ci, support:community

#64965 become - stop using play context in more places (#62373) - 2.9
  changelogs/fragments/become-pass-precedence.yaml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/fetch.py
  lib/ansible/plugins/action/win_updates.py
  lib/ansible/plugins/become/__init__.py
  lib/ansible/plugins/become/runas.py
  lib/ansible/plugins/connection/docker.py
  lib/ansible/plugins/connection/local.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/win_become/tasks/main.yml
  test/units/plugins/action/test_win_updates.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, core_review, docker, has_issue, stale_ci, support:community, support:core, windows

#65059 [2.9] vmware_guest: Revert custom value customization in guest
  changelogs/fragments/vmware_guest_restore_custom_values.yml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, module, owner_pr, stale_ci, support:community, vmware

#64970 Correct win_dns_client test option name (#64967) - 2.9
  test/integration/targets/win_dns_client/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:core, windows

#65075 [stable-2.9] Fix ansible-test handling of git submodules. (#65027)
  changelogs/fragments/ansible-test-git-submodule.yml
  test/lib/ansible_test/_internal/git.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core, test

#65091 backport PR #64982 to stable-2.9
  changelogs/fragments/64982-fortios_httpapi_plugin_compability_fix.yml
  lib/ansible/plugins/httpapi/fortios.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, networking, python3, stale_ci, support:community, support:network

#65088 Windows coverage - output temp files with UTF-8 BOM (#65086) - 2.9
  changelogs/fragments/windows-coverage-encoding.yaml
  lib/ansible/executor/powershell/coverage_wrapper.ps1
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core, windows

#65137 Fix netconf post "delay persistent connections" (#63463)
  changelogs/fragments/netconf_persistent_fix.yml
  lib/ansible/plugins/connection/netconf.py
  lib/ansible/plugins/netconf/__init__.py
  lib/ansible/plugins/netconf/ce.py
  lib/ansible/plugins/netconf/iosxr.py
  lib/ansible/plugins/netconf/junos.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, huawei, networking, stale_ci, support:community, support:network

#65213 [2.9] [yarn] Set name_version when version is not specified
  changelogs/fragments/62348-yarn-no_version_install_fix.yml
  lib/ansible/modules/packaging/language/yarn.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, module, packaging, stale_ci, support:community

#65221 [2.9] docker_swarm_service: Sort lists when checking for changes
  changelogs/fragments/63887-docker_swarm_service-sort-lists-when-checking-changes.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/configs.yml
  test/integration/targets/docker_swarm_service/tasks/tests/mounts.yml
  test/integration/targets/docker_swarm_service/tasks/tests/networks.yml
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
  test/integration/targets/docker_swarm_service/tasks/tests/placement.yml
  test/integration/targets/docker_swarm_service/tasks/tests/secrets.yml
  test/units/modules/cloud/docker/test_docker_swarm_service.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, docker, module, shipit, support:community, test

#65235 [2.9] docker_container and docker_network: avoid None errors
  changelogs/fragments/65018-docker-none-errors.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, docker, module, owner_pr, shipit, support:community

#65232 Backport/2.9/65065 Update plugins/netconf/ce.py to fix a bug(failed to get veriosn info…
  changelogs/fragments/65065-plugins-netconf-ce-fix.yaml
  lib/ansible/plugins/netconf/ce.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, huawei, networking, support:community, support:network

#65287 [stable-2.9] Add or later to the license expressed in the README
  README.rst
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, small_patch, support:core

#65247 [2.9] Handle LibraryError exception in postgresql_db
  changelogs/fragments/65223-postgresql_db-exception-added.yml
  lib/ansible/modules/database/postgresql/postgresql_db.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, database, module, postgresql, stale_ci, support:community

#65163 [2.9] VMware: Fix typo in exit_json in vmware_guest_powerstate
  changelogs/fragments/typo_fix_vmware_guest_powerstate.yml
  lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, module, owner_pr, stale_ci, support:community, vmware

#65412 [2.9] acme_certificate: Fix ACME v1 support when modify_account is set to false
  changelogs/fragments/64648-acme_certificate-acmev1.yml
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, crypto, module, owner_pr, support:community

#65379 [2.9] proxmox: fix proxmox 6 version detection by using LooseVersion
  changelogs/fragments/proxmox-6-version-detection.yaml
  lib/ansible/modules/cloud/misc/proxmox.py
  lib/ansible/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, module, support:community, virt

#65432 Fix using a URL for galaxy collection install (#65272) - 2.9
  changelogs/fragments/collection-install-url.yaml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection.py
  test/units/cli/test_galaxy.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, support:community, support:core

#65439 galaxy - print HTTP reason on unknown error (#65273)
  changelogs/fragments/galaxy-error-reason.yaml
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, support:community, support:core

#65461 [2.9] openssl_csr: make sure privatekey_path is specified when state is present
  changelogs/fragments/65435-openssl_csr-privatekey_path-required.yml
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, crypto, module, owner_pr, support:community

#65271 Remove k8s_scale dependency on k8s_raw
  changelogs/fragments/59887-scale-bug.yml
  lib/ansible/module_utils/k8s/scale.py
Labels: affects_2.8, backport, backport_verified, bug, clustering, community_review, has_issue, k8s, support:community

#62438 Update foreman inventory to use foreman's inventory report
  contrib/inventory/foreman.ini
  contrib/inventory/foreman.py
  test/integration/targets/inventory_foreman_script/runme.sh
Labels: affects_2.10, bug, c:inventory/contrib_script, foreman, inventory, needs_revision, new_contributor, stale_review, support:community

#65128 [2.9] openssh_keypair: fix idempotence issue
  changelogs/fragments/65017-openssh_keypair-idempotence.yml
  lib/ansible/modules/crypto/openssh_keypair.py
  test/integration/targets/openssh_keypair/tasks/main.yml
  test/integration/targets/openssh_keypair/tests/validate.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, crypto, module, stale_ci, support:community

#63572 [Backport 2.9] generalize on_become prompt match for ios
  lib/ansible/plugins/terminal/ios.py
Labels: affects_2.9, backport, bug, cisco, core_review, ios, needs_repo, networking, small_patch, stale_ci, support:network

#65441 ansible-galaxy - Add User-Agent to requests (#65438) - 2.9
  changelogs/fragments/galaxy-collections.yaml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection.py
Labels: affects_2.9, backport, backport_verified, bug, needs_revision, needs_triage, support:community, support:core

#65301 [2.9] include_vars: Check NoneType for raw_params
  changelogs/fragments/include_vars_fix_none.yml
  lib/ansible/errors/__init__.py
  lib/ansible/plugins/action/include_vars.py
  test/integration/targets/include_vars/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, has_issue, needs_revision, support:community, support:core, utilities

#64644 backport/2.9 - AWS IAM Sanity test cleanup (backport #63961)
  lib/ansible/modules/cloud/amazon/iam.py
  lib/ansible/modules/cloud/amazon/iam_cert.py
  lib/ansible/modules/cloud/amazon/iam_group.py
  lib/ansible/modules/cloud/amazon/iam_managed_policy.py
  lib/ansible/modules/cloud/amazon/iam_mfa_device_info.py
  lib/ansible/modules/cloud/amazon/iam_password_policy.py
  lib/ansible/modules/cloud/amazon/iam_server_certificate_info.py
  lib/ansible/modules/cloud/amazon/iam_user.py
  test/sanity/ignore.txt
Labels: affects_2.9, aws, backport, bug, ci_verified, cloud, module, needs_maintainer, needs_revision, stale_ci, support:community, support:core, test

#64736 Backport/2.9/63969 - zabbix_action wrongly requires some options to be present with state set to absent
  changelogs/fragments/63969-zabbix_action_argsfix.yml
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
Labels: affects_2.9, backport, bug, community_review, module, monitoring, needs_triage, owner_pr, stale_ci, support:community, zabbix

#64835 Backport of 64807: Fix postgres_user not commiting changes when groups is set
  changelogs/fragments/64807-postgresql_user_fix_not_commiting_changes_when_groups_is_set.yml
  lib/ansible/modules/database/postgresql/postgresql_user.py
Labels: affects_2.9, backport, bug, database, module, owner_pr, postgresql, shipit, support:community

#64972 Backport #58521, bug fixes to the Infoblox NIOS modules
  lib/ansible/module_utils/net_tools/nios/api.py
  lib/ansible/modules/net_tools/nios/nios_ptr_record.py
  test/integration/targets/nios_ptr_record/tasks/nios_ptr_record_idempotence.yml
  test/units/modules/net_tools/nios/test_nios_ptr_record.py
Labels: affects_2.9, backport, bug, core_review, infoblox, module, needs_triage, net_tools, networking, small_patch, stale_ci, support:certified, support:core

#65034 Backport of 64661, postgres.py: add query_params
  changelogs/fragments/64661-postgres_py_add_query_params_arg.yml
  lib/ansible/module_utils/postgres.py
  lib/ansible/modules/database/postgresql/postgresql_idx.py
Labels: affects_2.9, backport, bug, community_review, database, module, needs_triage, owner_pr, postgresql, support:community

#63813 eos_interfaces: Added unit testcases for eos_interfaces
  lib/ansible/module_utils/network/eos/facts/interfaces/interfaces.py
  test/units/modules/network/eos/fixtures/eos_interfaces_config.cfg
  test/units/modules/network/eos/test_eos_interfaces.py
Labels: affects_2.10, core_review, feature, networking, stale_ci, support:core, support:network, test

#65485 Disable failing hcloud tests.
  test/integration/targets/hcloud_image_info/aliases
  test/integration/targets/hcloud_rdns/aliases
  test/integration/targets/hcloud_server/aliases
Labels: affects_2.10, bug, cloud, community_review, hcloud, support:community

#65276 [2.9] collection: Provide additional info about collection name restriction
  changelogs/fragments/collection_error_fix.yml
  lib/ansible/galaxy/collection.py
  lib/ansible/utils/collection_loader.py
Labels: affects_2.9, backport, backport_verified, bug, needs_revision, needs_triage, support:community, support:core

#65049 [backport 2.9] gitlab module: set max version for python-gitlab lib
  lib/ansible/modules/source_control/gitlab_deploy_key.py
  lib/ansible/modules/source_control/gitlab_group.py
  lib/ansible/modules/source_control/gitlab_hook.py
  lib/ansible/modules/source_control/gitlab_project.py
  lib/ansible/modules/source_control/gitlab_project_variable.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/source_control/gitlab_user.py
Labels: affects_2.9, backport, docs, gitlab, has_issue, module, needs_revision, new_module, source_control, support:community

#65090 config manager str type vault source (#65023) - 2.9
  changelogs/fragments/config-manager-vault-str.yaml
  lib/ansible/config/manager.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  test/units/config/test_manager.py
  test/units/plugins/connection/test_psrp.py
  test/units/plugins/connection/test_winrm.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, windows

#65098 fix module that it reports the correct status of a change
  changelogs/fragments/64371-postgresql_privs-always-reports-as-changed-when-using-default_privs.yml
  changelogs/fragments/postgresol_privs-fix-status-sorting.yaml
  lib/ansible/modules/database/postgresql/postgresql_privs.py
Labels: affects_2.9, backport, bug, database, module, owner_pr, postgresql, shipit, support:community

#58617 add win_initialize_disk module
  lib/ansible/modules/windows/win_initialize_disk.ps1
  lib/ansible/modules/windows/win_initialize_disk.py
  test/integration/targets/win_initialize_disk/aliases
  test/integration/targets/win_initialize_disk/defaults/main.yml
  test/integration/targets/win_initialize_disk/tasks/main.yml
  test/integration/targets/win_initialize_disk/tasks/tests.yml
  test/integration/targets/win_initialize_disk/templates/vhdx_creation_script.j2
  test/integration/targets/win_initialize_disk/templates/vhdx_deletion_script.j2
Labels: affects_2.9, community_review, has_issue, module, new_contributor, new_module, new_plugin, support:community, windows

#65015 [stable-2.9] Make Docker and Podman play nice (#65009)
  test/integration/targets/inventory_docker_swarm/playbooks/swarm_cleanup.yml
  test/integration/targets/inventory_docker_swarm/playbooks/swarm_setup.yml
  test/integration/targets/setup_docker/defaults/main.yml
  test/integration/targets/setup_docker/handlers/main.yml
  test/integration/targets/setup_docker/tasks/Debian.yml
  test/integration/targets/setup_docker/tasks/Fedora.yml
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/integration/targets/setup_docker/tasks/RedHat-8.yml
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/tasks/main.yml
  test/integration/targets/setup_podman/handlers/main.yml
  test/integration/targets/setup_podman/tasks/main.yml
  test/integration/targets/setup_podman/vars/main.yml
Labels: affects_2.9, backport, backport_verified, bug, cloud, docker, merge_commit, needs_rebase, support:community, test

#65165 Backport of 65093, postgresql_lang: use query parameters with cursor.execute()
  changelogs/fragments/65093-postgresql_lang_use_query_params_with_cursor.yml
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/postgresql_lang.yml
Labels: affects_2.9, backport, bug, database, module, postgresql, shipit, support:community, test

#65270 Remove k8s_scale dependency on k8s_raw
  changelogs/fragments/59887-scale-bug.yml
  lib/ansible/module_utils/k8s/scale.py
Labels: affects_2.9, backport, backport_verified, bug, clustering, community_review, has_issue, k8s, support:community

#59469 win_share - Implement append paramtere for access rules
  changelogs/fragments/win_share-Implement-append-paramtere-for-access-rules.yml
  lib/ansible/modules/windows/win_share.ps1
  lib/ansible/modules/windows/win_share.py
  test/integration/targets/win_share/tasks/tests.yml
Labels: affects_2.9, feature, module, needs_revision, support:community, support:core, windows

#59723 Win data deduplication module
  lib/ansible/modules/windows/win_data_deduplication.ps1
  lib/ansible/modules/windows/win_data_deduplication.py
  test/integration/targets/win_data_deduplication/aliases
  test/integration/targets/win_data_deduplication/meta/main.yml
  test/integration/targets/win_data_deduplication/tasks/main.yml
  test/integration/targets/win_data_deduplication/tasks/pre_test.yml
  test/integration/targets/win_data_deduplication/tasks/tests.yml
  test/integration/targets/win_data_deduplication/templates/partition_creation_script.j2
  test/integration/targets/win_data_deduplication/templates/partition_deletion_script.j2
Labels: affects_2.9, has_issue, module, needs_rebase, needs_revision, new_module, new_plugin, support:community, test, windows

#61629 win_description Module
  lib/ansible/modules/windows/win_computer_description.ps1
  lib/ansible/modules/windows/win_computer_description.py
  test/integration/targets/win_computer_description/aliases
  test/integration/targets/win_computer_description/defaults/main.yml
  test/integration/targets/win_computer_description/tasks/main.yml
Labels: affects_2.9, module, needs_revision, new_contributor, new_module, new_plugin, stale_ci, stale_review, support:community, windows

#65495 VMware: Fix state parameter in vmware_host_lockdown module
  changelogs/fragments/vmware_host_lockdown_typo_fix.yml
  lib/ansible/modules/cloud/vmware/vmware_host_lockdown.py
Labels: affects_2.10, bug, cloud, community_review, module, needs_triage, owner_pr, support:community, vmware

#65239 Add junos_static_routes module
  lib/ansible/module_utils/network/junos/argspec/static_routes/__init__.py
  lib/ansible/module_utils/network/junos/argspec/static_routes/static_routes.py
  lib/ansible/module_utils/network/junos/config/static_routes/__init__.py
  lib/ansible/module_utils/network/junos/config/static_routes/static_routes.py
  lib/ansible/module_utils/network/junos/facts/facts.py
  lib/ansible/module_utils/network/junos/facts/static_routes/__init__.py
  lib/ansible/module_utils/network/junos/facts/static_routes/static_routes.py
  lib/ansible/modules/network/junos/_junos_static_route.py
  lib/ansible/modules/network/junos/junos_static_routes.py
  test/integration/network-integration.requirements.txt
  test/integration/targets/junos_static_routes/defaults/main.yaml
  test/integration/targets/junos_static_routes/meta/main.yaml
  test/integration/targets/junos_static_routes/tasks/main.yaml
  test/integration/targets/junos_static_routes/tasks/netconf.yaml
  test/integration/targets/junos_static_routes/tests/netconf/_base_config.yaml
  test/integration/targets/junos_static_routes/tests/netconf/_remove_config.yaml
  test/integration/targets/junos_static_routes/tests/netconf/deleted.yaml
  test/integration/targets/junos_static_routes/tests/netconf/merged.yaml
  test/integration/targets/junos_static_routes/tests/netconf/overridden.yaml
  test/integration/targets/junos_static_routes/tests/netconf/replaced.yaml
  test/sanity/ignore.txt
Labels: affects_2.10, core_review, deprecated, feature, module, networking, new_module, new_plugin, support:community, support:core, support:network, test

#64959 Fix extract filter when key does not exist in container
  changelogs/fragments/64959-extract-filter-when-key-does-not-exist.yml
  lib/ansible/plugins/filter/core.py
  lib/ansible/vars/hostvars.py
  test/integration/targets/filters/tasks/main.yml
Labels: P3, affects_2.10, bug, core_review, has_issue, new_contributor, support:community, support:core

#65498 mysql_db: add the executed_commands returned value
  changelogs/fragments/65498-mysql_db_add_executed_commands_return_val.yml
  lib/ansible/modules/database/mysql/mysql_db.py
  test/integration/targets/mysql_db/tasks/main.yml
Labels: affects_2.10, database, feature, module, mysql, shipit, support:community, test

#65176 gitlab_runner: fix idempotency for shared runners
  lib/ansible/modules/source_control/gitlab/gitlab_runner.py
Labels: affects_2.10, automerge, bug, gitlab, module, owner_pr, shipit, small_patch, source_control, support:community

#65408 Removes duplicate HAS_IPADDRESS variable assignment in postgresql_pg_…
  lib/ansible/modules/database/postgresql/postgresql_pg_hba.py
Labels: affects_2.10, automerge, bug, database, module, postgresql, shipit, support:community

#65338 Meraki - Remove type comparison for idempotency check
  changelogs/fragments/meraki-dont-compare-type.yml
  lib/ansible/module_utils/network/meraki/meraki.py
Labels: affects_2.10, bug, cisco, community_review, has_issue, meraki, needs_triage, networking, support:community

#65337 meraki_organization - Ignore URL parameter when comparing for…
  changelogs/fragments/meraki_organization-ignore-url.yml
  lib/ansible/modules/network/meraki/meraki_organization.py
Labels: affects_2.10, bug, cisco, community_review, meraki, module, needs_triage, networking, owner_pr, support:community

#65462 Fixup parameter documentation ("doc-required-mismatch") AWS simple cases
  lib/ansible/modules/cloud/amazon/_lambda_facts.py
  lib/ansible/modules/cloud/amazon/aws_batch_job_definition.py
  lib/ansible/modules/cloud/amazon/aws_codebuild.py
  lib/ansible/modules/cloud/amazon/aws_config_aggregation_authorization.py
  lib/ansible/modules/cloud/amazon/aws_config_aggregator.py
  lib/ansible/modules/cloud/amazon/aws_config_delivery_channel.py
  lib/ansible/modules/cloud/amazon/aws_config_rule.py
  lib/ansible/modules/cloud/amazon/aws_direct_connect_connection.py
  lib/ansible/modules/cloud/amazon/aws_direct_connect_gateway.py
  lib/ansible/modules/cloud/amazon/aws_direct_connect_link_aggregation_group.py
  lib/ansible/modules/cloud/amazon/aws_direct_connect_virtual_interface.py
  lib/ansible/modules/cloud/amazon/aws_glue_connection.py
  lib/ansible/modules/cloud/amazon/aws_glue_job.py
  lib/ansible/modules/cloud/amazon/aws_netapp_cvs_active_directory.py
  lib/ansible/modules/cloud/amazon/aws_waf_condition.py
  lib/ansible/modules/cloud/amazon/dms_endpoint.py
  lib/ansible/modules/cloud/amazon/dms_replication_subnet_group.py
  lib/ansible/modules/cloud/amazon/ec2_scaling_policy.py
  lib/ansible/modules/cloud/amazon/ec2_tag.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_subnet.py
  lib/ansible/modules/cloud/amazon/elasticache_snapshot.py
  lib/ansible/modules/cloud/amazon/elb_application_lb.py
  lib/ansible/modules/cloud/amazon/iam_server_certificate_info.py
  lib/ansible/modules/cloud/amazon/lambda_alias.py
  lib/ansible/modules/cloud/amazon/lambda_event.py
  lib/ansible/modules/cloud/amazon/lambda_info.py
  lib/ansible/modules/cloud/amazon/redshift_cross_region_snapshots.py
  lib/ansible/modules/cloud/amazon/redshift_subnet_group.py
  lib/ansible/modules/cloud/amazon/route53_health_check.py
  lib/ansible/modules/cloud/amazon/s3_bucket_notification.py
  test/sanity/ignore.txt
Labels: affects_2.10, aws, cloud, core_review, deprecated, docs, module, support:certified, support:community, support:core, test

#65427 [stable-2.9] Do not treat AnsibleUndefined as being unsafe (#65202)
  changelogs/fragments/65198-ansibleundefined-is-not-unsafe.yml
  lib/ansible/template/__init__.py
  test/units/template/test_templar.py
  test/units/template/test_template_utilities.py
Labels: affects_2.9, backport, core_review, needs_triage, support:community, support:core

#65014 [2.9] pulp_repo: renamed module tls client auth params to avoid overlaping with fetch_url
  changelogs/fragments/59522-renamed-module-tls-client-auth-params-to-avoid-overlaping-with-fetch_url.yaml
  lib/ansible/modules/packaging/os/pulp_repo.py
Labels: affects_2.9, backport, bug, ci_verified, has_issue, module, needs_revision, needs_triage, packaging, stale_ci, support:community

#65110 [2.9] Check Point: fix all modules to be able to get parameter with value false
  changelogs/fragments/65043-enable-parameter-value-to-be-false.yaml
  lib/ansible/module_utils/network/checkpoint/checkpoint.py
  lib/ansible/plugins/doc_fragments/checkpoint_commands.py
  lib/ansible/plugins/doc_fragments/checkpoint_objects.py
  test/sanity/ignore.txt
  test/units/plugins/httpapi/test_checkpoint.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, networking, stale_ci, support:community, support:core, test

#65322 Backport of 65310: postgresql_owner: use query_params with cursor
  changelogs/fragments/65310-postgresql_owner_use_query_params.yml
  lib/ansible/modules/database/postgresql/postgresql_owner.py
Labels: affects_2.9, backport, bug, database, module, owner_pr, postgresql, shipit, support:community

#65504 Backport 2.9: Fix legacy facts keys having redundant underscore (#65167)
  changelogs/fragments/65167_fix_nxos_facts_rendering.yaml
  lib/ansible/module_utils/network/nxos/facts/legacy/base.py
Labels: affects_2.9, backport, bug, cisco, core_review, needs_triage, networking, nxos, support:community, support:network

#63649 Add CentOS 8 to test matrix
  shippable.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, core_review, feature, support:core, system, test

#65514 [stable-2.9] Disable failing hcloud tests.
  test/integration/targets/hcloud_image_info/aliases
  test/integration/targets/hcloud_rdns/aliases
  test/integration/targets/hcloud_server/aliases
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, hcloud, support:community

#65516 [stable-2.8] Disable failing hcloud tests.
  test/integration/targets/hcloud_image_facts/aliases
Labels: affects_2.8, backport, bug, community_review, support:community

#65478 Fix ansible-galaxy man page generation
  docs/templates/man.j2
Labels: affects_2.10, bug, core_review, docs, small_patch, support:core

#65488 win_dns_client - only configure ip enabled adapters
  changelogs/fragments/win_dns_client-ipenabled.yaml
  lib/ansible/modules/windows/win_dns_client.ps1
Labels: affects_2.10, bug, core_review, module, needs_triage, owner_pr, performance, support:community, support:core, windows

#65230 Added required parameter to document DOC-string to produce Documentation.
  lib/ansible/modules/files/template.py
  lib/ansible/modules/windows/win_template.py
  lib/ansible/plugins/doc_fragments/template_common.py
Labels: affects_2.10, docs, files, module, needs_revision, support:community, support:core, windows

#65302 dnf: don't return fail_json['msg'] as list
  changelogs/fragments/65302-dnf-msg-return.yml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.10, bug, module, packaging, shipit, support:community, support:core

#65434 Fix RuntimeError in ec2_group_info
  lib/ansible/modules/cloud/amazon/ec2_group_info.py
Labels: affects_2.10, aws, bug, cloud, community_review, has_issue, module, new_contributor, small_patch, support:community

#65336 Added an example with output.
  lib/ansible/modules/windows/win_product_facts.py
Labels: affects_2.10, docs, module, needs_revision, new_contributor, support:community, windows

#65518 Added required parameter to document DOC-string to produce Documentation - 2.9
  lib/ansible/modules/files/template.py
  lib/ansible/modules/windows/win_template.py
  lib/ansible/plugins/doc_fragments/template_common.py
Labels: affects_2.9, backport, core_review, docs, files, module, needs_triage, support:community, support:core, windows

#65523 Fix ansible-galaxy man page generation (#65478)
  docs/templates/man.j2
Labels: affects_2.9, backport, core_review, docs, needs_triage, small_patch, support:core

#65515 vmware/test: set vmware/scenario/vcenter_only alias
  test/integration/targets/prepare_vmware_tests/tasks/setup_attach_hosts.yml
  test/integration/targets/vcenter_folder/aliases
  test/integration/targets/vcenter_license/aliases
  test/integration/targets/vmware_about_facts/aliases
  test/integration/targets/vmware_about_info/aliases
  test/integration/targets/vmware_cluster/aliases
  test/integration/targets/vmware_cluster_drs/aliases
  test/integration/targets/vmware_cluster_ha/aliases
  test/integration/targets/vmware_cluster_vsan/aliases
  test/integration/targets/vmware_content_deploy_template/aliases
  test/integration/targets/vmware_datacenter/aliases
  test/integration/targets/vmware_datastore_cluster/aliases
  test/integration/targets/vmware_drs_group_facts/aliases
  test/integration/targets/vmware_drs_group_info/aliases
  test/integration/targets/vmware_drs_rule_facts/aliases
  test/integration/targets/vmware_drs_rule_info/aliases
  test/integration/targets/vmware_dvs_portgroup/aliases
  test/integration/targets/vmware_dvs_portgroup_facts/aliases
  test/integration/targets/vmware_dvs_portgroup_find/aliases
  test/integration/targets/vmware_dvs_portgroup_info/aliases
  test/integration/targets/vmware_dvswitch/aliases
  test/integration/targets/vmware_dvswitch_nioc/aliases
  test/integration/targets/vmware_dvswitch_pvlans/aliases
  test/integration/targets/vmware_dvswitch_uplink_pg/aliases
  test/integration/targets/vmware_evc_mode/aliases
  test/integration/targets/vmware_export_ovf/aliases
  test/integration/targets/vmware_folder_info/aliases
  test/integration/targets/vmware_host_acceptance/aliases
  test/integration/targets/vmware_host_active_directory/aliases
  test/integration/targets/vmware_host_auto_start/aliases
  test/integration/targets/vmware_host_powerstate/aliases
  test/integration/targets/vmware_inventory/aliases
  test/integration/targets/vmware_local_role_manager/aliases
  test/integration/targets/vmware_local_user_manager/aliases
  test/integration/targets/vmware_resource_pool_facts/aliases
  test/integration/targets/vmware_resource_pool_info/aliases
  test/integration/targets/vmware_tag/aliases
  test/integration/targets/vmware_vcenter_settings/aliases
  test/integration/targets/vmware_vcenter_statistics/aliases
  test/integration/targets/vmware_vsan_health_info/aliases
Labels: affects_2.10, cloud, community_review, feature, support:community, vmware

#63414 Adding new module win_auto_logon
  lib/ansible/modules/windows/win_auto_logon.ps1
  lib/ansible/modules/windows/win_auto_logon.py
  test/integration/targets/win_auto_logon/aliases
  test/integration/targets/win_auto_logon/tasks/main.yml
Labels: affects_2.10, has_issue, module, needs_revision, new_module, new_plugin, support:community, windows

#65405 azure_rm_galleryimageversion: support data disk snapshot as source input
  lib/ansible/module_utils/azure_rm_common_ext.py
  lib/ansible/modules/cloud/azure/azure_rm_galleryimageversion.py
  test/integration/targets/azure_rm_gallery/tasks/main.yml
Labels: affects_2.10, azure, bug, cloud, community_review, has_issue, module, support:community

#65528 win_auto_logon - check, diff and store pass in LSA
  lib/ansible/modules/windows/win_auto_logon.ps1
  lib/ansible/modules/windows/win_auto_logon.py
  test/integration/targets/win_auto_logon/defaults/main.yml
  test/integration/targets/win_auto_logon/library/test_autologon_info.ps1
  test/integration/targets/win_auto_logon/tasks/main.yml
  test/integration/targets/win_auto_logon/tasks/tests.yml
Labels: affects_2.10, feature, module, needs_revision, needs_triage, new_module, new_plugin, support:community, windows

#65526 Fix plugin paths for ansible-test pylint test.
  changelogs/fragments/ansible-test-pylint-plugin-paths.yml
  test/lib/ansible_test/_data/sanity/pylint/plugins/blacklist.py
  test/lib/ansible_test/_internal/sanity/pylint.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#65531 [stable-2.9] Fix plugin paths for ansible-test pylint test. (#65526)
  changelogs/fragments/ansible-test-pylint-plugin-paths.yml
  test/lib/ansible_test/_data/sanity/pylint/plugins/blacklist.py
  test/lib/ansible_test/_internal/sanity/pylint.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#64867 route53: diff support
  changelogs/fragments/64867-route53-diff.yml
  lib/ansible/modules/cloud/amazon/route53.py
Labels: affects_2.10, aws, cloud, feature, module, needs_revision, support:community

#65496 Fixed argument spec for multiple modules
  changelogs/fragments/spec_fix.yml
  lib/ansible/modules/cloud/amazon/cloudformation.py
  lib/ansible/modules/cloud/amazon/redshift.py
  lib/ansible/modules/cloud/ovirt/ovirt_permission_info.py
  lib/ansible/modules/database/aerospike/aerospike_migrations.py
  lib/ansible/modules/monitoring/librato_annotation.py
  lib/ansible/modules/monitoring/logicmonitor_facts.py
  lib/ansible/modules/monitoring/pagerduty_alert.py
  lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_contract_subject_to_filter.py
  lib/ansible/modules/network/icx/icx_logging.py
  lib/ansible/modules/remote_management/manageiq/manageiq_alerts.py
  lib/ansible/modules/storage/netapp/na_ontap_autosupport.py
  lib/ansible/modules/storage/netapp/na_ontap_vscan_scanner_pool.py
  lib/ansible/modules/storage/netapp/netapp_e_syslog.py
  lib/ansible/modules/storage/netapp/netapp_e_volume.py
Labels: aci, affects_2.10, aws, bug, cisco, cloud, database, module, monitoring, netapp, networking, ovirt, remote_management, shipit, storage, support:certified, support:community, support:core

#65534 Update network common code to support new states
  lib/ansible/module_utils/network/common/cfg/base.py
  lib/ansible/module_utils/network/common/facts/facts.py
Labels: affects_2.10, core_review, feature, needs_triage, networking, support:network

#65542 postgresql_db: add executed_commands returned value
  changelogs/fragments/65542-postgresql_db_add_executed_commands_return_val.yml
  lib/ansible/modules/database/postgresql/postgresql_db.py
  test/integration/targets/postgresql_db/tasks/postgresql_db_general.yml
  test/integration/targets/postgresql_db/tasks/postgresql_db_initial.yml
Labels: affects_2.10, database, feature, module, postgresql, shipit, support:community, test

#65521 Fix ec2 filter dict iteration for python3.8
  lib/ansible/modules/cloud/amazon/ec2_instance.py
  lib/ansible/modules/cloud/amazon/ec2_vol_info.py
Labels: affects_2.10, automerge, aws, bug, cloud, module, python3, shipit, small_patch, support:community

#65547 mysql_db: add force parameter
  changelogs/fragments/65547-mysql_db_add_force_param.yml
  lib/ansible/modules/database/mysql/mysql_db.py
  test/integration/targets/mysql_db/tasks/state_dump_import.yml
Labels: affects_2.10, database, feature, module, mysql, shipit, support:community, test

#65404 postgresql_publication: use query params with cursor object
  changelogs/fragments/65404-postgresql_publication_user_query_params_with_cursor.yml
  lib/ansible/modules/database/postgresql/postgresql_publication.py
  test/integration/targets/postgresql_publication/aliases
Labels: affects_2.10, bug, database, module, postgresql, shipit, support:community, test

#65280 Add support for fetching Lifecycle Controller and System attributes
  lib/ansible/modules/remote_management/redfish/idrac_redfish_info.py
Labels: affects_2.10, automerge, feature, module, remote_management, shipit, support:community

#63371 mysql_info: add exclude_fields parameter
  changelogs/fragments/63371-mysql_info_add_exclude_fields_parameter.yml
  lib/ansible/modules/database/mysql/mysql_info.py
  test/integration/targets/mysql_info/aliases
  test/integration/targets/mysql_info/tasks/main.yml
Labels: affects_2.10, database, feature, has_issue, module, mysql, shipit, support:community, test

#65421 Hetzner dedicated server firewall info module
  lib/ansible/modules/net_tools/hetzner_firewall_info.py
  test/units/modules/net_tools/test_hetzner_firewall.py
  test/units/modules/net_tools/test_hetzner_firewall_info.py
Labels: affects_2.10, module, needs_triage, net_tools, new_module, new_plugin, shipit, support:community, support:core

#65470 Remove timeout from nxos_rollback tests
  test/integration/targets/nxos_config/tests/common/save.yaml
  test/integration/targets/nxos_linkagg/tests/common/sanity.yaml
  test/integration/targets/nxos_rollback/tests/common/sanity.yaml
Labels: affects_2.10, cisco, core_review, networking, nxos, support:network, test

#65487 Throw an error on unsupported vars_prompt keys
  changelogs/fragments/vars_prompt_error_on_unsupported_key.yaml
  lib/ansible/playbook/play.py
  test/integration/targets/vars_prompt/test-vars_prompt.py
  test/integration/targets/vars_prompt/unsupported.yml
Labels: affects_2.10, core_review, feature, support:community, support:core

#65554 Yet more Sanity test "required" Amazon module cleanup
  lib/ansible/modules/cloud/amazon/cloudtrail.py
  lib/ansible/modules/cloud/amazon/ec2.py
  lib/ansible/modules/cloud/amazon/ec2_asg_lifecycle_hook.py
  lib/ansible/modules/cloud/amazon/ec2_lc.py
  lib/ansible/modules/cloud/amazon/ec2_placement_group.py
  lib/ansible/modules/cloud/amazon/elb_network_lb.py
  lib/ansible/modules/cloud/amazon/iam.py
  lib/ansible/modules/cloud/amazon/iam_cert.py
  test/sanity/ignore.txt
Labels: affects_2.10, aws, ci_verified, cloud, docs, module, needs_revision, needs_triage, support:community, support:core, test

#65415 vmware host system fact add uuid
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
  test/integration/targets/vmware_host_facts/tasks/main.yml
Labels: affects_2.10, cloud, community_review, feature, module, support:community, vmware

#65219 Sanity checks: test for print statement
  changelogs/fragments/65219-sanity-tests-print.yml
  test/lib/ansible_test/_data/sanity/pylint/plugins/blacklist.py
  test/sanity/ignore.txt
Labels: affects_2.10, core_review, feature, new_plugin, support:community, support:core, test
