Repository ansible/ansible, pull requests merged in 2019-02, with the labels that each got.

#51563 Correct spelling in meraki_ssid documentation
  lib/ansible/modules/network/meraki/meraki_ssid.py
Labels: affects_2.8, community_review, docs, meraki, module, needs_triage, networking, owner_pr, small_patch, support:community

#51472 Update Ansible docsite CSS to fix multi-page printing issue
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: affects_2.8, core_review, docs, support:core

#50781 Add a missed command
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: affects_2.8, docs, docsite, needs_revision, support:core

#51582 Add coherency between check and normal mode for copy plugin action see issue #24633
  changelogs/fragments/24633-copy-coherency-between-check-normal-mode.yaml
  lib/ansible/plugins/action/copy.py
Labels: affects_2.8, bug, core_review, needs_triage, new_contributor, support:community, support:core

#50988 identity: Autodetect FreeIPA server with DNS
  lib/ansible/module_utils/ipa.py
  lib/ansible/plugins/doc_fragments/ipa.py
Labels: affects_2.8, community_review, feature, new_contributor, support:community

#51602 Added description to single net interface
  changelogs/fragments/51602-ec2_instance_single_iface_description.yaml
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: affects_2.8, aws, bug, cloud, community_review, module, support:community

#51607 added support for breakout ports
  lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py
Labels: aci, affects_2.8, committer_review, feature, module, needs_triage, networking, support:certified

#51558 Add $team_postgresql
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, docs, postgresql, support:core

#51476 Pluribus Networks stp port module with UT
  lib/ansible/modules/network/netvisor/pn_stp_port.py
  test/units/modules/network/netvisor/test_pn_stp_port.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#51544 BOTMETA: Restructure Docker, Digital Ocean and Windows
  .github/BOTMETA.yml
Labels: affects_2.8, digital_ocean, docker, docs, shipit, support:core, windows

#51616 Trivial nomenclature fix for NVMe hosts on Pure Storage FlashArray
  lib/ansible/modules/storage/purestorage/purefa_host.py
Labels: affects_2.8, automerge, bug, module, owner_pr, pure_storage, shipit, storage, support:community

#51631 Correct path of unit tests directory
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: affects_2.8, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#51635 feature.bigip_virtual_server
  lib/ansible/modules/network/f5/bigip_virtual_server.py
  test/units/modules/network/f5/test_bigip_virtual_server.py
Labels: affects_2.8, bug, core_review, f5, module, networking, support:certified, support:core, test

#51637 fixes.style.issues.f5.modules
  lib/ansible/modules/network/f5/bigip_asm_policy_import.py
  lib/ansible/modules/network/f5/bigip_asm_policy_signature_set.py
  lib/ansible/modules/network/f5/bigip_device_dns.py
  lib/ansible/modules/network/f5/bigip_device_sshd.py
  lib/ansible/modules/network/f5/bigip_iapp_template.py
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
  lib/ansible/modules/network/f5/bigip_profile_http.py
  lib/ansible/modules/network/f5/bigip_ssl_certificate.py
  lib/ansible/modules/network/f5/bigip_ssl_key.py
  lib/ansible/modules/network/f5/bigip_vcmp_guest.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, support:certified

#51640 aggregate_bigip_gtm_pool_member
  lib/ansible/modules/network/f5/bigip_gtm_pool_member.py
  test/units/modules/network/f5/test_bigip_gtm_pool_member.py
Labels: affects_2.8, core_review, f5, feature, module, networking, support:certified, support:core, test

#51639 aggregate_bigip_pool_member
  lib/ansible/modules/network/f5/bigip_pool_member.py
  test/units/modules/network/f5/test_bigip_pool_member.py
Labels: affects_2.8, core_review, f5, feature, module, networking, support:certified, support:core, test

#51638 bigip_pool_aggregate
  lib/ansible/modules/network/f5/bigip_pool.py
  test/units/modules/network/f5/test_bigip_pool.py
Labels: affects_2.8, core_review, f5, feature, module, networking, support:certified, support:core, test

#51642 bugfix.gtm.virtual.server
  lib/ansible/modules/network/f5/bigip_gtm_virtual_server.py
Labels: affects_2.8, bug, committer_review, f5, module, networking, support:certified

#51641 docfix.bigip.command
  lib/ansible/modules/network/f5/bigip_command.py
Labels: affects_2.8, committer_review, docs, f5, module, networking, small_patch, support:certified

#51647 Add response documentation
  lib/ansible/modules/network/meraki/meraki_switchport.py
Labels: affects_2.8, community_review, docs, meraki, module, needs_triage, networking, owner_pr, support:community

#51643 docfix.bigip.node
  lib/ansible/modules/network/f5/bigip_node.py
Labels: affects_2.8, committer_review, docs, f5, module, networking, small_patch, support:certified

#51538 hashi_vault: add support for userpass authentication
  changelogs/fragments/38878-hashi_vault-support_userpass.yaml
  lib/ansible/plugins/lookup/hashi_vault.py
Labels: affects_2.8, feature, needs_triage, shipit, support:community

#44925 Add Pure Storage FlashBlade module to manage directory services
  lib/ansible/modules/storage/purestorage/purefb_ds.py
Labels: affects_2.7, module, new_module, new_plugin, pure_storage, shipit, storage, support:community

#50464 Fix a potential issue with updating interfaces
  lib/ansible/modules/remote_management/cobbler/cobbler_system.py
Labels: affects_2.8, bug, module, owner_pr, remote_management, shipit, small_patch, support:community

#51373 docker_host_facts: Get system-wide information about docker host
  lib/ansible/modules/cloud/docker/docker_host_facts.py
Labels: affects_2.8, automerge, c:inventory/contrib_script, cloud, docker, docs, docsite, inventory, module, new_module, new_plugin, shipit, support:community, test

#43650 Add session_role to postgresql modules
  lib/ansible/modules/database/postgresql/postgresql_db.py
  lib/ansible/modules/database/postgresql/postgresql_ext.py
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  lib/ansible/modules/database/postgresql/postgresql_privs.py
  lib/ansible/modules/database/postgresql/postgresql_schema.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
  test/integration/targets/postgresql/defaults/main.yml
  test/integration/targets/postgresql/tasks/main.yml
  test/integration/targets/postgresql/tasks/session_role.yml
Labels: affects_2.7, module, postgresql, shipit, support:community, test

#51644 Adds Woj as maintainer
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, feature, needs_triage, support:core

#50202 Simplify regex filter code
  lib/ansible/plugins/test/core.py
Labels: affects_2.8, new_contributor, shipit, small_patch, support:core, test

#51680 test file - add pause to make test more stable
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.8, bug, core_review, needs_triage, support:core

#32290 new module: aix_devices, manage AIX devices
  lib/ansible/modules/system/aix_devices.py
  test/integration/targets/aix_devices/aliases
  test/integration/targets/aix_devices/tasks/main.yml
Labels: affects_2.5, aix, module, needs_revision, new_module, new_plugin, support:community, test

#51334 Added support for defining the ServerSelection attribute of the update searcher session, which allows specifying non-default update server sources.
  lib/ansible/modules/windows/win_updates.ps1
  lib/ansible/modules/windows/win_updates.py
Labels: affects_2.8, core_review, feature, module, new_contributor, support:core, windows

#51215 VMware: add support for customize existing VM directly
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.8, automerge, cloud, feature, module, shipit, support:community, vmware

#51165 Pluribus Networks snmp community module with unit tests
  lib/ansible/modules/network/netvisor/pn_snmp_community.py
  test/units/modules/network/netvisor/test_pn_snmp_community.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#49116 VMware: fix path for hw_files
  lib/ansible/module_utils/vmware.py
Labels: affects_2.8, bug, community_review, stale_ci, support:community, vmware

#50584 docker_node: Docker Swarm node operations module
  .github/BOTMETA.yml
  lib/ansible/module_utils/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_node.py
  lib/ansible/modules/cloud/docker/docker_node_facts.py
Labels: affects_2.8, c:inventory/contrib_script, cloud, core_review, docker, docs, docsite, inventory, module, new_module, new_plugin, support:community, support:core, test

#50095 added timestamps to iosxr_command module
  lib/ansible/module_utils/network/iosxr/iosxr.py
  lib/ansible/modules/network/iosxr/iosxr_command.py
  lib/ansible/plugins/cliconf/iosxr.py
  test/units/modules/network/iosxr/test_iosxr_command.py
Labels: affects_2.8, core_review, feature, module, networking, stale_ci, support:core, support:network, test

#46698 [ovirt_vm] validate memory parameter for ovirt_vm
  lib/ansible/module_utils/ovirt.py
Labels: affects_2.8, bug, cloud, community_review, new_contributor, ovirt, small_patch, stale_ci, support:community, traceback

#51613 add-description-to-doc-postgresql_user-module
  lib/ansible/modules/database/postgresql/postgresql_user.py
Labels: affects_2.8, automerge, docs, module, new_contributor, postgresql, shipit, support:community, test

#51024 Ovirt vm state running wait false
  lib/ansible/module_utils/ovirt.py
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.8, bug, cloud, module, ovirt, shipit, support:community

#45410 VMware: debug property values
  contrib/inventory/vmware_inventory.py
Labels: affects_2.8, c:inventory/contrib_script, cloud, feature, inventory, shipit, support:community, vmware

#51593 add diff_mode_enabled to documentation
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_template.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, ci_verified, docs, docsite_pr, module, needs_revision, new_contributor, small_patch, support:community, support:core, test

#51636 Avoid accidental fork bombs due to try/except (#51633)
  lib/ansible/executor/process/worker.py
Labels: affects_2.8, bug, core_review, needs_triage, new_contributor, support:core

#51693 test win_setup - make py3 compatible
  test/integration/targets/win_setup/tasks/main.yml
Labels: affects_2.8, bug, community_review, needs_triage, python3, support:community

#51496 Update vmware_guest docs about resizing disks
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.8, cloud, community_review, docs, module, small_patch, support:community, vmware

#51708 win_user_profile - fix issue on Server 2019
  lib/ansible/modules/windows/win_user_profile.ps1
Labels: affects_2.8, bug, community_review, module, needs_triage, owner_pr, support:community, windows

#51691 win_service - use custom binary for tests (#51689) - 2.6
  test/integration/targets/win_service/defaults/main.yml
  test/integration/targets/win_service/files/Program.cs
  test/integration/targets/win_service/files/SleepService.cs
  test/integration/targets/win_service/tasks/main.yml
  test/integration/targets/win_service/tasks/tests.yml
Labels: affects_2.6, backport, bug, core_review, needs_triage, support:core, windows

#51710 test win_setup - make py3 compatible (#51693) - 2.6
  test/integration/targets/win_setup/tasks/main.yml
Labels: affects_2.6, backport, bug, community_review, needs_triage, python3, support:community

#51556 [2.7] [k8s] Always check envvars when auth parameter is not provided (#51495)
  changelogs/fragments/51495-k8s-load-envvars.yaml
  lib/ansible/module_utils/k8s/common.py
Labels: affects_2.7, backport, bug, k8s, needs_revision, needs_triage, support:community

#51587 Add coherency between check and normal mode for copy plugin action se…
  changelogs/fragments/24633-copy-coherency-between-check-normal-mode.yaml
  lib/ansible/plugins/action/copy.py
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#51592 Fixes issue where uppercase named A_Record delete was getting skipped
  changelogs/fragments/nios_a_record_delete_failure_with_uppercase_name.yaml
  lib/ansible/module_utils/net_tools/nios/api.py
Labels: affects_2.7, backport, bug, core_review, infoblox, needs_triage, net_tools, networking, support:community, support:core

#51608 [Backport] - ec2_instance - Add description to ENI when using single interface
  changelogs/fragments/51602-ec2_instance_single_iface_description.yaml
  lib/ansible/modules/cloud/amazon/ec2_instance.py
Labels: affects_2.7, aws, backport, bug, cloud, community_review, module, needs_triage, support:community

#51648 [backport-2.7] meraki_switchport - Add response documentation (#51647)
  lib/ansible/modules/network/meraki/meraki_switchport.py
Labels: affects_2.7, backport, community_review, docs, meraki, module, needs_triage, networking, owner_pr, support:community

#51681 add pause to make test more stable (#51680) - 2.7
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:core

#51692 win_service - use custom binary for tests (#51689) - 2.7
  test/integration/targets/win_service/defaults/main.yml
  test/integration/targets/win_service/files/Program.cs
  test/integration/targets/win_service/files/SleepService.cs
  test/integration/targets/win_service/tasks/main.yml
  test/integration/targets/win_service/tasks/tests.yml
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:core, windows

#51711 test win_setup - make py3 compatible (#51693) - 2.7
  test/integration/targets/win_setup/tasks/main.yml
Labels: affects_2.7, backport, bug, community_review, needs_triage, python3, support:community

#51553 remove default from delegate_facts to inherit (#45492)
  changelogs/fragments/delegate_facts_fix.yaml
  lib/ansible/playbook/block.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/task.py
  test/integration/targets/delegate_to/delegate_facts_block.yml
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.7, backport, bug, core_review, needs_triage, support:community, support:core

#51261 Pluribus Networks role module with Unit tests
  lib/ansible/modules/network/netvisor/pn_role.py
  test/units/modules/network/netvisor/test_pn_role.py
Labels: affects_2.8, core_review, module, networking, new_module, new_plugin, support:community, support:core, test

#51716 ansible-test: fix incompatibilty with the RDS tests and httptester
  test/integration/targets/setup_win_rds/handlers/main.yml
  test/integration/targets/setup_win_rds/tasks/main.yml
  test/integration/targets/win_rds_cap/aliases
  test/integration/targets/win_rds_cap/meta/main.yml
  test/integration/targets/win_rds_cap/tasks/main.yml
  test/integration/targets/win_rds_rap/aliases
  test/integration/targets/win_rds_rap/meta/main.yml
  test/integration/targets/win_rds_rap/tasks/main.yml
  test/integration/targets/win_rds_settings/aliases
  test/integration/targets/win_rds_settings/meta/main.yml
  test/integration/targets/win_rds_settings/tasks/main.yml
Labels: affects_2.8, bug, needs_revision, support:community, windows

#51684 VMware: Check for category id before assigning
  lib/ansible/modules/cloud/vmware/vmware_tag.py
Labels: affects_2.8, bug, cloud, community_review, module, owner_pr, support:community, vmware

#51743 DOC: Update "yum group list" command
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.8, core_review, docs, module, needs_triage, new_contributor, small_patch, support:core

#50850 Initial commit for xenserver module_util unit tests
  test/units/module_utils/xenserver/FakeAnsibleModule.py
  test/units/module_utils/xenserver/FakeXenAPI.py
  test/units/module_utils/xenserver/__init__.py
  test/units/module_utils/xenserver/common.py
  test/units/module_utils/xenserver/conftest.py
  test/units/module_utils/xenserver/fixtures/ansible-test-vm-1-facts.json
  test/units/module_utils/xenserver/fixtures/ansible-test-vm-1-params.json
  test/units/module_utils/xenserver/fixtures/ansible-test-vm-2-facts.json
  test/units/module_utils/xenserver/fixtures/ansible-test-vm-2-params.json
  test/units/module_utils/xenserver/fixtures/ansible-test-vm-3-facts.json
  test/units/module_utils/xenserver/fixtures/ansible-test-vm-3-params.json
  test/units/module_utils/xenserver/test_gather_vm_params_and_facts.py
  test/units/module_utils/xenserver/test_get_object_ref.py
  test/units/module_utils/xenserver/test_misc.py
  test/units/module_utils/xenserver/test_netaddr_functions.py
  test/units/module_utils/xenserver/test_set_vm_power_state.py
  test/units/module_utils/xenserver/test_wait_for_functions.py
  test/units/module_utils/xenserver/test_xapi.py
  test/units/module_utils/xenserver/test_xenserverobject.py
Labels: affects_2.8, core_review, feature, support:core

#51555 Add default Network timeout values to network troubleshooting guide
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
Labels: affects_2.8, core_review, docs, docsite, networking, support:core

#50079 Windows facts for licensing information
  lib/ansible/modules/windows/win_product_facts.ps1
  lib/ansible/modules/windows/win_product_facts.py
Labels: affects_2.8, community_review, feature, module, support:community, windows

#51617 Add note to network agnostic modules for supported platforms
  lib/ansible/modules/network/cli/cli_command.py
  lib/ansible/modules/network/cli/cli_config.py
  lib/ansible/modules/network/files/net_get.py
  lib/ansible/modules/network/files/net_put.py
  lib/ansible/modules/network/interface/net_interface.py
  lib/ansible/modules/network/interface/net_linkagg.py
  lib/ansible/modules/network/interface/net_lldp_interface.py
  lib/ansible/modules/network/layer2/net_l2_interface.py
  lib/ansible/modules/network/layer2/net_vlan.py
  lib/ansible/modules/network/layer3/net_l3_interface.py
  lib/ansible/modules/network/layer3/net_vrf.py
  lib/ansible/modules/network/netconf/netconf_config.py
  lib/ansible/modules/network/netconf/netconf_get.py
  lib/ansible/modules/network/netconf/netconf_rpc.py
  lib/ansible/modules/network/protocol/net_lldp.py
  lib/ansible/modules/network/system/net_banner.py
  lib/ansible/modules/network/system/net_logging.py
  lib/ansible/modules/network/system/net_ping.py
  lib/ansible/modules/network/system/net_system.py
  lib/ansible/modules/network/system/net_user.py
  lib/ansible/plugins/doc_fragments/network_agnostic.py
Labels: affects_2.8, core_review, docs, module, networking, new_plugin, support:community, support:network

#51669 Pass number of forks to TQM from CLI/config
  lib/ansible/executor/playbook_executor.py
Labels: affects_2.8, bug, core_review, support:core

#51044 Correct integration tests for the win_disk_facts module
  test/integration/targets/win_disk_facts/aliases
  test/integration/targets/win_disk_facts/tasks/main.yml
  test/integration/targets/win_disk_facts/tasks/tests.yml
Labels: affects_2.8, bug, community_review, support:community, windows

#51777 Support `ignore_changes` in code-smell tests.
  test/runner/lib/sanity/__init__.py
  test/sanity/code-smell/action-plugin-docs.json
  test/sanity/code-smell/action-plugin-docs.py
Labels: affects_2.8, core_review, feature, support:core, test

#51780 fix string_format sanity check
  test/sanity/pylint/plugins/string_format.py
Labels: affects_2.8, bug, core_review, support:core, test

#51779 psrp - do not display bootstrap wrapper for eachach task
  changelogs/fragments/psrp-display-exec-output.yaml
  lib/ansible/plugins/connection/psrp.py
Labels: affects_2.8, bug, core_review, support:community, support:core, windows

#51795 acme_challenge_cert_helper: fix bad module.fail_json() call
  changelogs/fragments/51795-acme_challenge_cert_helper-module-fail.yaml
  lib/ansible/modules/crypto/acme/acme_challenge_cert_helper.py
Labels: affects_2.8, bug, community_review, module, needs_triage, support:community

#51797 remove tstoner from notifying list
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, small_patch, support:core

#51614 Copy/Paste error for ssl_ca
  lib/ansible/modules/database/mysql/mysql_db.py
Labels: affects_2.8, automerge, bug, module, mysql, new_contributor, shipit, support:community, test

#51683 Improve kubernetes validation warnings
  lib/ansible/module_utils/k8s/raw.py
Labels: affects_2.8, feature, k8s, shipit, support:community

#51597 Cloudstack: New module cs_vlan_ip_range
  lib/ansible/modules/cloud/cloudstack/cs_vlan_ip_range.py
  test/integration/targets/cs_vlan_ip_range/aliases
  test/integration/targets/cs_vlan_ip_range/meta/main.yml
  test/integration/targets/cs_vlan_ip_range/tasks/main.yml
Labels: affects_2.8, cloud, cloudstack, module, new_module, new_plugin, shipit, support:community, test

#51657 Improve the issue template for dependency problems
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: affects_2.8, core_review, docs, needs_triage, support:core

#40092 mysql_user: Match both single quotes and backticks when checking curr…
  changelogs/fragments/40092-mysql_user-match-backticks.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.6, bug, community_review, module, mysql, small_patch, stale_ci, support:community, test

#51766 meraki_admin - Add documentation about absent priority
  lib/ansible/modules/network/meraki/meraki_admin.py
Labels: affects_2.8, community_review, docs, meraki, module, networking, owner_pr, support:community

#51444 Fix dictionary access in os_floating_ip module
  lib/ansible/modules/cloud/openstack/os_floating_ip.py
Labels: affects_2.8, automerge, bug, cloud, module, new_contributor, openstack, shipit, small_patch, support:community

#51787 start getting modules to use shared import error code
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/influxdb.py
  lib/ansible/module_utils/k8s/common.py
  lib/ansible/module_utils/k8s/raw.py
  lib/ansible/module_utils/rabbitmq.py
  lib/ansible/modules/clustering/etcd3.py
  lib/ansible/modules/clustering/k8s/_kubernetes.py
  lib/ansible/modules/clustering/znode.py
  lib/ansible/modules/commands/expect.py
  lib/ansible/modules/crypto/acme/acme_challenge_cert_helper.py
  lib/ansible/modules/crypto/certificate_complete_chain.py
  lib/ansible/modules/crypto/get_certificate.py
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/modules/crypto/openssl_csr.py
  lib/ansible/modules/crypto/openssl_pkcs12.py
  lib/ansible/modules/crypto/openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_publickey.py
  lib/ansible/modules/database/aerospike/aerospike_migrations.py
  lib/ansible/modules/database/misc/redis.py
  lib/ansible/modules/database/mongodb/mongodb_parameter.py
  lib/ansible/modules/database/mongodb/mongodb_shard.py
  lib/ansible/modules/database/mongodb/mongodb_user.py
  lib/ansible/modules/database/mssql/mssql_db.py
  lib/ansible/modules/database/postgresql/postgresql_db.py
  lib/ansible/modules/database/postgresql/postgresql_ext.py
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  lib/ansible/modules/database/postgresql/postgresql_privs.py
  lib/ansible/modules/database/postgresql/postgresql_schema.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
  lib/ansible/modules/database/vertica/vertica_configuration.py
  lib/ansible/modules/database/vertica/vertica_facts.py
  lib/ansible/modules/database/vertica/vertica_role.py
  lib/ansible/modules/database/vertica/vertica_schema.py
  lib/ansible/modules/database/vertica/vertica_user.py
  lib/ansible/modules/files/archive.py
  lib/ansible/modules/files/xml.py
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_binding.py
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_exchange.py
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_queue.py
  lib/ansible/modules/monitoring/circonus_annotation.py
  lib/ansible/modules/monitoring/datadog_event.py
  lib/ansible/modules/monitoring/datadog_monitor.py
  lib/ansible/modules/monitoring/pingdom.py
  lib/ansible/modules/utilities/logic/wait_for.py
  test/integration/targets/k8s/playbooks/older_openshift_fail.yml
Labels: affects_2.8, deprecated, feature, k8s, m:xml, module, mongodb, needs_revision, postgresql, rabbitmq, support:community, support:core

#51839 removed old localhost error from Network troubleshooting
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
Labels: affects_2.8, docs, networking

#51769 mention ansible-lint and editor tools that help with playbook development
  docs/docsite/rst/community/other_tools_and_programs.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
Labels: affects_2.8, core_review, docs, support:core

#47181 adding cosmos db account module
  lib/ansible/modules/cloud/azure/azure_rm_cosmosdbaccount.py
  test/integration/targets/azure_rm_cosmosdbaccount/aliases
  test/integration/targets/azure_rm_cosmosdbaccount/meta/main.yml
  test/integration/targets/azure_rm_cosmosdbaccount/tasks/main.yml
Labels: affects_2.8, azure, cloud, community_review, module, new_module, new_plugin, support:community, test

#51849 win_rds: wait for reboot to be complete
  test/integration/targets/win_rds/tasks/main.yml
Labels: affects_2.8, bug, community_review, needs_triage, support:community

#50336 Fortinet FortiManager Connection Plugin RC, plus associated utilities
  lib/ansible/module_utils/network/fortimanager/common.py
  lib/ansible/module_utils/network/fortimanager/fortimanager.py
  lib/ansible/plugins/httpapi/fortimanager.py
Labels: P2, affects_2.8, core_review, networking, new_plugin, support:community, support:network

#51869 add chrisvanheuveln to nxos
  .github/BOTMETA.yml
Labels: affects_2.8, bug, core_review, needs_triage, small_patch, support:core

#41478 Ios static route new parameters
  lib/ansible/modules/network/ios/ios_static_route.py
Labels: affects_2.7, feature, module, needs_revision, networking, support:network

#49953 java_cert: support of different keystore type (JKS, JCEKS)
  lib/ansible/modules/system/java_cert.py
Labels: affects_2.8, automerge, docs, module, shipit, support:community

#51609 hostvars: Remove unused import and variable.
  lib/ansible/vars/hostvars.py
Labels: affects_2.8, bug, core_review, support:core

#51535 Fix 51534: spot instance request stay opened when module exit with timeout
  changelogs/fragments/51535-ec2-fix-spot-request-end-date.yaml
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.8, aws, bug, cloud, merge_commit, module, needs_rebase, new_contributor, support:community, support:core

#51357 use list instead of tuple and remove md5 on ValueError
  changelogs/fragments/51357-module_utils-basic.yml
  lib/ansible/module_utils/basic.py
Labels: affects_2.8, bug, core_review, new_contributor, support:community, support:core

#51589 ec2_vol_facts: set filters to default value
  lib/ansible/modules/cloud/amazon/ec2_vol_facts.py
  test/integration/targets/ec2_vol_facts/tasks/main.yml
Labels: affects_2.8, aws, bug, cloud, community_review, module, needs_triage, support:community

#51549 Validate modules prevent version change
  test/sanity/validate-modules/main.py
Labels: affects_2.8, core_review, feature, support:core, test

#51866 Add team_crypto
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, crypto, docs, support:core

#51830 Update yaml.py example to include A colon for single host in a group
  lib/ansible/plugins/inventory/yaml.py
Labels: affects_2.8, core_review, docs, inventory, needs_triage, new_contributor, support:core

#51141 Refactor gitlab modules
  .github/BOTMETA.yml
  lib/ansible/module_utils/gitlab.py
  lib/ansible/modules/source_control/gitlab_deploy_key.py
  lib/ansible/modules/source_control/gitlab_group.py
  lib/ansible/modules/source_control/gitlab_hooks.py
  lib/ansible/modules/source_control/gitlab_project.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/source_control/gitlab_user.py
  test/runner/requirements/units.txt
  test/sanity/validate-modules/ignore.txt
  test/units/modules/source_control/gitlab.py
  test/units/modules/source_control/test_gitlab_deploy_key.py
  test/units/modules/source_control/test_gitlab_group.py
  test/units/modules/source_control/test_gitlab_hooks.py
  test/units/modules/source_control/test_gitlab_project.py
  test/units/modules/source_control/test_gitlab_runner.py
  test/units/modules/source_control/test_gitlab_user.py
Labels: affects_2.8, bug, core_review, gitlab, module, needs_rebase, needs_revision, support:community, support:core, test

#49256 correctly detect pkg_mgr on fedora/rhel/centos rpm-ostree installed
  changelogs/fragments/49184-facts-rpm-ostree-pkgmgr.yml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
Labels: affects_2.7, affects_2.8, bug, needs_revision, stale_ci, stale_review, support:community, support:core

#51896 Get docker tests working on OpenSUSE
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/templates/virt.repo.j2
Labels: affects_2.8, bug, community_review, needs_triage, support:community

#51806 Fortinet's FortiOS antivirus heuristic
  lib/ansible/modules/network/fortios/fortios_antivirus_heuristic.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51805 Fortinet's FortiOS webfilter urlfilter
  lib/ansible/modules/network/fortios/fortios_webfilter_urlfilter.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51900 Get docker tests working on OpenSUSE (#51896) - 2.5
  test/integration/targets/docker_secret/tasks/OpenSuse.yml
  test/integration/targets/docker_secret/templates/virt.repo.j2
Labels: affects_2.5, backport, bug, cloud, community_review, docker, needs_triage, support:community, test

#51901 Get docker tests working on OpenSUSE (#51896) - 2.6
  test/integration/targets/docker_secret/tasks/OpenSuse.yml
  test/integration/targets/docker_secret/templates/virt.repo.j2
Labels: affects_2.6, backport, bug, cloud, community_review, docker, needs_triage, support:community, test

#51903 [stable-2.7] fix azure_rm_deployment test
  test/integration/targets/azure_rm_deployment/tasks/main.yml
Labels: affects_2.7, azure, backport, bug, cloud, community_review, needs_triage, support:community

#51905 [stable-2.5] fix azure_rm_deployment test
  test/integration/targets/azure_rm_deployment/tasks/main.yml
Labels: affects_2.5, azure, backport, bug, cloud, community_review, needs_triage, support:community

#51904 [stable-2.6] fix azure_rm_deployment test
  test/integration/targets/azure_rm_deployment/tasks/main.yml
Labels: affects_2.6, azure, backport, bug, cloud, community_review, needs_triage, support:community

#50957 Include materialized views for ALL_IN_SCHEMA
  lib/ansible/modules/database/postgresql/postgresql_privs.py
Labels: affects_2.8, automerge, feature, module, new_contributor, postgresql, shipit, small_patch, support:community

#51851 Use common functions for handling import errors
  lib/ansible/module_utils/manageiq.py
  lib/ansible/module_utils/oneview.py
  lib/ansible/module_utils/remote_management/ucs.py
  lib/ansible/modules/net_tools/dnsimple.py
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
  lib/ansible/modules/net_tools/ldap/ldap_entry.py
  lib/ansible/modules/net_tools/ldap/ldap_passwd.py
  lib/ansible/modules/net_tools/netbox/netbox_device.py
  lib/ansible/modules/net_tools/netbox/netbox_ip_address.py
  lib/ansible/modules/net_tools/netcup_dns.py
  lib/ansible/modules/net_tools/nmcli.py
  lib/ansible/modules/net_tools/nsupdate.py
  lib/ansible/modules/net_tools/omapi_host.py
  lib/ansible/modules/net_tools/snmp_facts.py
  lib/ansible/modules/notification/jabber.py
  lib/ansible/modules/notification/matrix.py
  lib/ansible/modules/notification/mqtt.py
  lib/ansible/modules/notification/pushbullet.py
  lib/ansible/modules/notification/sendgrid.py
  lib/ansible/modules/notification/snow_record.py
  lib/ansible/modules/packaging/language/maven_artifact.py
  lib/ansible/modules/packaging/os/layman.py
  lib/ansible/modules/remote_management/hpilo/hpilo_boot.py
  lib/ansible/modules/remote_management/hpilo/hpilo_facts.py
  lib/ansible/modules/remote_management/imc/imc_rest.py
  lib/ansible/modules/remote_management/ipmi/ipmi_boot.py
  lib/ansible/modules/remote_management/ipmi/ipmi_power.py
  lib/ansible/modules/remote_management/ucs/ucs_managed_objects.py
  lib/ansible/modules/source_control/github_issue.py
  lib/ansible/modules/source_control/github_release.py
  lib/ansible/modules/source_control/github_webhook.py
  lib/ansible/modules/source_control/github_webhook_facts.py
  lib/ansible/modules/system/dconf.py
  lib/ansible/modules/system/seboolean.py
  lib/ansible/modules/system/sefcontext.py
  lib/ansible/modules/system/selinux.py
  lib/ansible/modules/system/selinux_permissive.py
  lib/ansible/modules/system/seport.py
  lib/ansible/modules/system/vdo.py
Labels: affects_2.8, core_review, feature, module, net_tools, remote_management, selinux, support:community, support:core, ucs

#51521 fix Amazon system-release version parsing
  changelogs/fragments/fix-Amazon-system-release-version-parsing.yaml
  lib/ansible/module_utils/facts/system/distribution.py
Labels: affects_2.8, bug, new_contributor, shipit, support:community, support:core

#51852 Final round of moving modules to new import error msg
  lib/ansible/module_utils/ansible_tower.py
  lib/ansible/module_utils/aws/core.py
  lib/ansible/module_utils/azure_rm_common.py
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/cloudstack.py
  lib/ansible/module_utils/dimensiondata.py
  lib/ansible/module_utils/ec2.py
  lib/ansible/module_utils/heroku.py
  lib/ansible/module_utils/ibm_sa_utils.py
  lib/ansible/module_utils/vca.py
  lib/ansible/module_utils/vmware.py
  lib/ansible/module_utils/vmware_rest_client.py
  lib/ansible/modules/cloud/alicloud/ali_instance.py
  lib/ansible/modules/cloud/alicloud/ali_instance_facts.py
  lib/ansible/modules/cloud/centurylink/clc_aa_policy.py
  lib/ansible/modules/cloud/centurylink/clc_alert_policy.py
  lib/ansible/modules/cloud/centurylink/clc_blueprint_package.py
  lib/ansible/modules/cloud/centurylink/clc_firewall_policy.py
  lib/ansible/modules/cloud/centurylink/clc_group.py
  lib/ansible/modules/cloud/centurylink/clc_loadbalancer.py
  lib/ansible/modules/cloud/centurylink/clc_modify_server.py
  lib/ansible/modules/cloud/centurylink/clc_publicip.py
  lib/ansible/modules/cloud/centurylink/clc_server.py
  lib/ansible/modules/cloud/centurylink/clc_server_snapshot.py
  lib/ansible/modules/cloud/cloudscale/cloudscale_floating_ip.py
  lib/ansible/modules/cloud/cloudstack/cs_facts.py
  lib/ansible/modules/cloud/cloudstack/cs_sshkeypair.py
  lib/ansible/modules/cloud/linode/linode.py
  lib/ansible/modules/cloud/linode/linode_v4.py
  lib/ansible/modules/storage/emc/emc_vnx_sg_member.py
  lib/ansible/modules/storage/infinidat/infini_export.py
  lib/ansible/modules/storage/infinidat/infini_export_client.py
  lib/ansible/modules/storage/infinidat/infini_fs.py
  lib/ansible/modules/storage/infinidat/infini_host.py
  lib/ansible/modules/storage/infinidat/infini_pool.py
  lib/ansible/modules/storage/infinidat/infini_vol.py
  lib/ansible/modules/web_infrastructure/apache2_mod_proxy.py
  lib/ansible/modules/web_infrastructure/htpasswd.py
  lib/ansible/modules/web_infrastructure/jenkins_job.py
  lib/ansible/modules/web_infrastructure/jenkins_job_facts.py
  lib/ansible/modules/web_infrastructure/taiga_issue.py
  test/units/module_utils/test_vmware.py
Labels: affects_2.8, aws, azure, cloud, cloudstack, feature, linode, module, needs_revision, storage, support:community, support:core, vmware

#51685 Add Windows Server 2019 to Shippable matrix
  shippable.yml
  test/runner/completion/windows.txt
Labels: affects_2.8, core_review, feature, support:core, test

#51912 copyright: edit deprecated email
  lib/ansible/module_utils/gitlab.py
  lib/ansible/modules/source_control/gitlab_deploy_key.py
  lib/ansible/modules/source_control/gitlab_group.py
  lib/ansible/modules/source_control/gitlab_hooks.py
  lib/ansible/modules/source_control/gitlab_project.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/source_control/gitlab_user.py
Labels: affects_2.8, gitlab, module, owner_pr, shipit, support:community

#51920 Change some file listings to try and figure out which rpm macro is un…
  packaging/rpm/ansible.spec
Labels: affects_2.8, bug, core_review, needs_triage, small_patch, support:core

#51897 fixed wrong limit on 'Fetch all deployments' sample
  lib/ansible/plugins/lookup/k8s.py
Labels: affects_2.8, community_review, docs, k8s, new_contributor, small_patch, support:community

#51921 Add more keywords to VMware
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, docs, needs_triage, small_patch, support:core

#51753 VMware: do create VMDK for new VMs
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.8, bug, cloud, community_review, module, needs_triage, owner_pr, small_patch, support:community, vmware

#50338 VMware: Module for managing mirroring sessions.
  lib/ansible/modules/cloud/vmware/vmware_vspan_session.py
  test/integration/targets/vmware_vspan_session/aliases
  test/integration/targets/vmware_vspan_session/tasks/main.yml
Labels: affects_2.8, cloud, module, needs_revision, new_contributor, new_module, new_plugin, support:community, vmware

#51796 Removes superfluous commands nxos_vlan
  lib/ansible/modules/network/nxos/nxos_vlan.py
Labels: affects_2.8, bug, core_review, module, networking, nxos, owner_pr, small_patch, support:network

#51700 docker modules: various adjustments
  .github/BOTMETA.yml
  lib/ansible/module_utils/docker/__init__.py
  lib/ansible/module_utils/docker/common.py
  lib/ansible/module_utils/docker/swarm.py
  lib/ansible/modules/cloud/docker/docker_compose.py
  lib/ansible/modules/cloud/docker/docker_config.py
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_container_facts.py
  lib/ansible/modules/cloud/docker/docker_host_facts.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_image_facts.py
  lib/ansible/modules/cloud/docker/docker_login.py
  lib/ansible/modules/cloud/docker/docker_network.py
  lib/ansible/modules/cloud/docker/docker_network_facts.py
  lib/ansible/modules/cloud/docker/docker_node.py
  lib/ansible/modules/cloud/docker/docker_node_facts.py
  lib/ansible/modules/cloud/docker/docker_prune.py
  lib/ansible/modules/cloud/docker/docker_secret.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  lib/ansible/modules/cloud/docker/docker_volume.py
  lib/ansible/modules/cloud/docker/docker_volume_facts.py
  lib/ansible/plugins/doc_fragments/docker.py
  test/units/module_utils/docker/test_common.py
  test/units/modules/cloud/docker/test_docker_volume.py
Labels: affects_2.8, bug, cloud, docker, module, shipit, support:community, support:core, test

#51949 Update playbooks_delegation.rst
  docs/docsite/rst/user_guide/playbooks_delegation.rst
Labels: affects_2.8, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#51845 The section filter does not exist on IOS 12.2(53r)
  lib/ansible/modules/network/ios/ios_user.py
Labels: affects_2.8, bug, core_review, module, needs_triage, networking, new_contributor, small_patch, support:network, traceback

#49503 Document httpapi and cliconf plugins
  docs/docsite/Makefile
  docs/docsite/rst/plugins/cliconf.rst
  docs/docsite/rst/plugins/httpapi.rst
  docs/docsite/rst/plugins/plugins.rst
  lib/ansible/plugins/cliconf/aireos.py
  lib/ansible/plugins/cliconf/aruba.py
  lib/ansible/plugins/cliconf/asa.py
  lib/ansible/plugins/cliconf/ce.py
  lib/ansible/plugins/cliconf/cnos.py
  lib/ansible/plugins/cliconf/dellos10.py
  lib/ansible/plugins/cliconf/dellos6.py
  lib/ansible/plugins/cliconf/dellos9.py
  lib/ansible/plugins/cliconf/edgeos.py
  lib/ansible/plugins/cliconf/edgeswitch.py
  lib/ansible/plugins/cliconf/enos.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/exos.py
  lib/ansible/plugins/cliconf/frr.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/ironware.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/nos.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/cliconf/onyx.py
  lib/ansible/plugins/cliconf/routeros.py
  lib/ansible/plugins/cliconf/slxos.py
  lib/ansible/plugins/cliconf/voss.py
  lib/ansible/plugins/cliconf/vyos.py
  lib/ansible/plugins/loader.py
Labels: affects_2.8, core_review, docs, docsite, networking, new_plugin, nxos, support:community, support:core, support:network

#51650 Update developing_rebasing.rst
  docs/docsite/rst/dev_guide/developing_rebasing.rst
Labels: affects_2.8, core_review, docs, new_contributor, small_patch, support:core

#51696 Changed 'Control Machine' to 'Control Node'
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.8, bug, docs, needs_revision, new_contributor, support:core

#51451 Allow default regions list to use flexible credential types
  lib/ansible/plugins/inventory/aws_ec2.py
Labels: affects_2.8, feature, shipit, support:community

#51915 Properly handle unauthenticated yum proxy config
  changelogs/fragments/yum-unauthenticated-proxy.yaml
  lib/ansible/modules/packaging/os/yum.py
  test/integration/targets/yum/tasks/proxy.yml
Labels: affects_2.8, bug, module, shipit, support:community, support:core

#51216 docker_swarm_service: Remove defaults
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
  test/integration/targets/docker_swarm_service/vars/main.yml
Labels: affects_2.8, automerge, bug, cloud, docker, module, shipit, support:community, test

#51998 Fix yaml indentation for from_yaml_all filter example
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.8, core_review, docs, needs_triage, small_patch, support:core

#51979 gitlab_hook: renaming module name
  lib/ansible/modules/source_control/_gitlab_hooks.py
  lib/ansible/modules/source_control/gitlab_hook.py
  test/units/modules/source_control/test_gitlab_hook.py
Labels: affects_2.8, bug, deprecated, gitlab, module, needs_revision, new_module, new_plugin, support:community, support:core

#50761 Bugfix plugins/inventory/netbox.py: Virtual machines do not have 'device_roles'
  lib/ansible/plugins/inventory/netbox.py
Labels: affects_2.8, bug, inventory, shipit, small_patch, support:community

#52019 BOTMETA: Fix Spredzy's case
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, needs_triage, small_patch, support:core

#52020 BOTMETA: Added Shaps handle to team_crypto
  .github/BOTMETA.yml
Labels: affects_2.8, core_review, needs_triage, small_patch, support:core

#51473 openssl_csr: ignore empty strings in altnames
  changelogs/fragments/51473-openssl_csr-idempotence.yaml
  lib/ansible/modules/crypto/openssl_csr.py
  test/integration/targets/openssl_csr/tasks/impl.yml
  test/integration/targets/openssl_csr/tests/validate.yml
Labels: affects_2.8, bug, crypto, module, shipit, support:community

#51983 Fortinet's FortiOS Firewall Proxy Policy
  lib/ansible/modules/network/fortios/fortios_firewall_proxy_policy.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51982 Fortinet's FortiOS Firewall Proxy AddrGrp
  lib/ansible/modules/network/fortios/fortios_firewall_proxy_addrgrp.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51974 Fortinet's FortiOS Firewall Proxy Address
  lib/ansible/modules/network/fortios/fortios_firewall_proxy_address.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51970 Fortinet's FortiOS Firewall Profile Protocol Options
  lib/ansible/modules/network/fortios/fortios_firewall_profile_protocol_options.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51969 Fortinet's FortiOS Firewall Profile Group
  lib/ansible/modules/network/fortios/fortios_firewall_profile_group.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51968 Fortinet's FortiOS Firewall Multicast Policy
  lib/ansible/modules/network/fortios/fortios_firewall_multicast_policy.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51963 Fortinet's FortiOS Firewall Multicast Address6
  lib/ansible/modules/network/fortios/fortios_firewall_multicast_address6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51962 Fortinet's FortiOS Firewall Local In Policy
  lib/ansible/modules/network/fortios/fortios_firewall_local_in_policy.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51957 Fortinet's FortiOS Firewall Local In Policy6
  lib/ansible/modules/network/fortios/fortios_firewall_local_in_policy6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51955 Fortinet's FortiOS Firewall LDB monitor
  lib/ansible/modules/network/fortios/fortios_firewall_ldb_monitor.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#49948 Enable changed var with ufw check mode
  changelogs/fragments/ufw-49948-enable-chenged-status-in-check-mode.yml
  lib/ansible/modules/system/ufw.py
  test/integration/targets/ufw/tasks/tests/basic.yml
  test/integration/targets/ufw/tasks/tests/global-state.yml
  test/units/modules/system/test_ufw.py
Labels: affects_2.8, core_review, feature, module, new_contributor, support:community, support:core

#51966 Fortinet's FortiOS Firewall Multicast Policy6
  lib/ansible/modules/network/fortios/fortios_firewall_multicast_policy6.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#50807 k8s_auth: new k8s module for handling auth
  lib/ansible/modules/clustering/k8s/k8s_auth.py
  lib/ansible/plugins/doc_fragments/k8s_auth_options.py
  test/sanity/validate-modules/ignore.txt
Labels: affects_2.8, k8s, module, new_module, new_plugin, shipit, stale_review, support:community, support:core, test

#51964 Fortinet's FortiOS Firewall Multicast Address
  lib/ansible/modules/network/fortios/fortios_firewall_multicast_address.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51954 Fortinet's FortiOS Firewall IPv6 EH Filter
  lib/ansible/modules/network/fortios/fortios_firewall_ipv6_eh_filter.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51950 Fortinet's FortiOS Firewall IP translation
  lib/ansible/modules/network/fortios/fortios_firewall_ip_translation.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51948 Fortinet's FortiOS Firewall IpMacBinding Table
  lib/ansible/modules/network/fortios/fortios_firewall_ipmacbinding_table.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51947 Fortinet's FortiOS Firewall IpMacBinding Setting
  lib/ansible/modules/network/fortios/fortios_firewall_ipmacbinding_setting.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community

#51945 Fortinet's FortiOS Firewall Internet Service Group
  lib/ansible/modules/network/fortios/fortios_firewall_internet_service_group.py
Labels: affects_2.8, module, needs_triage, networking, new_module, new_plugin, shipit, support:community
