Repository ansible/ansible, pull requests merged in 2019-09, with the labels that each got.

#61020 kubevirt: also add wait_sleep
  lib/ansible/module_utils/kubevirt.py
  lib/ansible/plugins/doc_fragments/kubevirt_common_options.py
Labels: affects_2.9, bug, cloud, shipit, small_patch, support:community

#59097 #59096 Fix for not working azure_rm_aks
  lib/ansible/module_utils/azure_rm_common.py
Labels: affects_2.9, azure, bug, cloud, community_review, has_issue, needs_triage, new_contributor, small_patch, stale_ci, support:community

#60749 Update azure_rm_virtualmachinescaleset get value
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset.py
Labels: affects_2.9, azure, bug, cloud, community_review, has_issue, module, needs_triage, small_patch, support:community

#61119 os_server - add "tag" to instance nics
  changelogs/fragments/61119-os_server-add-tag-to-instance-nics.yml
  lib/ansible/modules/cloud/openstack/os_server.py
Labels: affects_2.9, automerge, cloud, feature, module, openstack, shipit, support:community

#61674 Disable Automerge
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, bug, needs_triage, shipit, small_patch, support:core

#59969 perf: reduce getting handler variables
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.9, bug, core_review, performance, support:core

#61173 influxdb: Add support for 'path' parameter
  lib/ansible/module_utils/influxdb.py
  lib/ansible/plugins/doc_fragments/influxdb.py
Labels: affects_2.9, community_review, feature, needs_triage, support:community

#60640 Ansible FTD Module improvements and tests update.
  lib/ansible/module_utils/network/ftd/common.py
  lib/ansible/module_utils/network/ftd/configuration.py
  lib/ansible/module_utils/network/ftd/fdm_swagger_client.py
  test/units/module_utils/network/ftd/test_configuration.py
  test/units/module_utils/network/ftd/test_device.py
  test/units/module_utils/network/ftd/test_upsert_functionality.py
  test/units/plugins/httpapi/test_ftd.py
Labels: affects_2.9, bug, cisco, core_review, ftd, networking, stale_ci, support:community, support:core

#61603 luks_device.py: Allow manipulate LUKS containers with label or UUID
  changelogs/fragments/58973_luks_device-add-label-and-uuid-support.yml
  lib/ansible/modules/crypto/luks_device.py
  test/units/modules/crypto/test_luks_device.py
Labels: affects_2.9, crypto, module, shipit, support:community, support:core, test

#61697 VMware: Fix get_tags_for_vm API in vmware_vm_info module
  lib/ansible/modules/cloud/vmware/vmware_vm_info.py
Labels: affects_2.9, bug, cloud, community_review, module, needs_triage, owner_pr, small_patch, support:community, vmware

#58727 feat: support postgres 11 in azure_rm_postgresqlserver
  lib/ansible/modules/cloud/azure/azure_rm_postgresqlserver.py
Labels: affects_2.9, azure, cloud, community_review, feature, has_issue, module, needs_triage, new_contributor, stale_ci, support:community

#61637 Update homebrew_cask.py
  lib/ansible/modules/packaging/os/homebrew_cask.py
Labels: affects_2.9, community_review, docs, macos, module, needs_triage, new_contributor, packaging, small_patch, support:community

#61617 httpapi: Avoid infinite recursion on login
  lib/ansible/plugins/connection/httpapi.py
Labels: affects_2.9, bug, core_review, networking, small_patch, support:network

#61670 Remove willthames from AWS and Openshift notifications
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, docs, needs_triage, support:core

#61613 Fix network resource module wording and typographical errors
  lib/ansible/modules/network/eos/eos_interfaces.py
  lib/ansible/modules/network/eos/eos_l2_interfaces.py
  lib/ansible/modules/network/eos/eos_l3_interfaces.py
  lib/ansible/modules/network/eos/eos_lacp.py
  lib/ansible/modules/network/eos/eos_lacp_interfaces.py
  lib/ansible/modules/network/eos/eos_lag_interfaces.py
  lib/ansible/modules/network/eos/eos_lldp_global.py
  lib/ansible/modules/network/eos/eos_lldp_interfaces.py
  lib/ansible/modules/network/eos/eos_vlans.py
  lib/ansible/modules/network/exos/exos_lldp_global.py
  lib/ansible/modules/network/ios/ios_interfaces.py
  lib/ansible/modules/network/ios/ios_l2_interfaces.py
  lib/ansible/modules/network/ios/ios_l3_interfaces.py
  lib/ansible/modules/network/ios/ios_lacp.py
  lib/ansible/modules/network/ios/ios_lacp_interfaces.py
  lib/ansible/modules/network/ios/ios_lag_interfaces.py
  lib/ansible/modules/network/ios/ios_lldp_global.py
  lib/ansible/modules/network/ios/ios_lldp_interfaces.py
  lib/ansible/modules/network/ios/ios_vlans.py
  lib/ansible/modules/network/iosxr/iosxr_interfaces.py
  lib/ansible/modules/network/iosxr/iosxr_l2_interfaces.py
  lib/ansible/modules/network/iosxr/iosxr_l3_interfaces.py
  lib/ansible/modules/network/iosxr/iosxr_lacp.py
  lib/ansible/modules/network/iosxr/iosxr_lacp_interfaces.py
  lib/ansible/modules/network/iosxr/iosxr_lag_interfaces.py
  lib/ansible/modules/network/iosxr/iosxr_lldp_global.py
  lib/ansible/modules/network/iosxr/iosxr_lldp_interfaces.py
  lib/ansible/modules/network/junos/junos_interfaces.py
  lib/ansible/modules/network/junos/junos_l2_interfaces.py
  lib/ansible/modules/network/junos/junos_l3_interfaces.py
  lib/ansible/modules/network/junos/junos_lacp.py
  lib/ansible/modules/network/junos/junos_lacp_interfaces.py
  lib/ansible/modules/network/junos/junos_lag_interfaces.py
  lib/ansible/modules/network/junos/junos_lldp_global.py
  lib/ansible/modules/network/junos/junos_lldp_interfaces.py
  lib/ansible/modules/network/junos/junos_vlans.py
  lib/ansible/modules/network/nxos/nxos_bfd_interfaces.py
  lib/ansible/modules/network/nxos/nxos_interfaces.py
  lib/ansible/modules/network/nxos/nxos_l2_interfaces.py
  lib/ansible/modules/network/nxos/nxos_l3_interfaces.py
  lib/ansible/modules/network/nxos/nxos_lacp.py
  lib/ansible/modules/network/nxos/nxos_lacp_interfaces.py
  lib/ansible/modules/network/nxos/nxos_lag_interfaces.py
  lib/ansible/modules/network/nxos/nxos_lldp_global.py
  lib/ansible/modules/network/nxos/nxos_telemetry.py
  lib/ansible/modules/network/nxos/nxos_vlans.py
  lib/ansible/modules/network/vyos/vyos_interfaces.py
  lib/ansible/modules/network/vyos/vyos_l3_interfaces.py
  lib/ansible/modules/network/vyos/vyos_lag_interfaces.py
  lib/ansible/modules/network/vyos/vyos_lldp_global.py
  lib/ansible/modules/network/vyos/vyos_lldp_interfaces.py
Labels: affects_2.9, core_review, docs, needs_rebase

#32912 Fix missing pass of IPXe params to API client call, fixes #32910
  lib/ansible/modules/cloud/packet/packet_device.py
Labels: affects_2.5, automerge, bug, cloud, module, owner_pr, pr_day, shipit, small_patch, support:community

#61702 Fix typesetting of "GitLab"
  lib/ansible/modules/source_control/gitlab_deploy_key.py
  lib/ansible/modules/source_control/gitlab_group.py
  lib/ansible/modules/source_control/gitlab_hook.py
  lib/ansible/modules/source_control/gitlab_project.py
  lib/ansible/modules/source_control/gitlab_project_variable.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/source_control/gitlab_user.py
  lib/ansible/plugins/inventory/gitlab_runners.py
  test/integration/targets/gitlab_group/tasks/main.yml
  test/integration/targets/gitlab_hook/tasks/main.yml
  test/integration/targets/gitlab_runner/tasks/main.yml
  test/units/modules/source_control/test_gitlab_deploy_key.py
  test/units/modules/source_control/test_gitlab_group.py
  test/units/modules/source_control/test_gitlab_hook.py
  test/units/modules/source_control/test_gitlab_project.py
  test/units/modules/source_control/test_gitlab_runner.py
  test/units/modules/source_control/test_gitlab_user.py
Labels: affects_2.10, core_review, docs, gitlab, module, source_control, support:community, support:core

#61566 ansible-test: vcenter+Worldstream: hide password
  test/lib/ansible_test/_internal/cloud/vcenter.py
Labels: affects_2.9, bug, core_review, support:core, test

#61668 github_deploy_key: Clarity on mutual exclusion of Username and Token
  lib/ansible/modules/source_control/github_deploy_key.py
Labels: affects_2.9, community_review, docs, module, needs_triage, new_contributor, small_patch, source_control, support:community

#61657 Remove unnecessary information about amount of actions in the meta module
  lib/ansible/modules/utilities/helper/meta.py
Labels: affects_2.9, core_review, docs, module, pr_day, small_patch, support:core, utilities

#61656 Update unit tests requirements/units.txt path
  docs/docsite/rst/dev_guide/developing_modules_general.rst
Labels: affects_2.9, core_review, docs, docsite, needs_triage, new_contributor, pr_day, small_patch, support:core

#61561 botmeta: unmaintain resmo from cloudstack
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, core_review, docs, needs_triage, pr_day, small_patch, support:core

#61556 net_user documentation typo configured_password
  lib/ansible/modules/network/system/_net_user.py
Labels: affects_2.9, core_review, deprecated, docs, module, needs_triage, networking, pr_day, small_patch, support:network, system

#61651 Docs - Add Meraki to platform option list
  docs/docsite/rst/network/user_guide/platform_index.rst
  docs/docsite/rst/network/user_guide/platform_meraki.rst
Labels: affects_2.9, core_review, docs, docsite, networking, pr_day, support:core

#61622 Correct indentation of the code in the example
  docs/docsite/rst/user_guide/playbooks_blocks.rst
Labels: affects_2.9, core_review, docs, support:core

#61686 Fix examples for bigip_file_copy
  lib/ansible/modules/network/f5/bigip_file_copy.py
Labels: affects_2.9, f5, module, networking, pr_day, shipit, small_patch, support:certified

#52017 elb_application_lb :Fix required_together statement - access_logs_s3_prefix is not requir…
  lib/ansible/modules/cloud/amazon/elb_application_lb.py
Labels: affects_2.8, automerge, aws, bug, cloud, module, owner_pr, pr_day, shipit, small_patch, support:community

#61626 adding a collection local try section
  docs/docsite/rst/dev_guide/collections_tech_preview.rst
Labels: affects_2.9, bug, core_review, docs, docsite, pr_day, support:core

#60325 datadog_monitor: Add process alert support
  lib/ansible/modules/monitoring/datadog_monitor.py
Labels: affects_2.9, automerge, module, monitoring, pr_day, shipit, small_patch, support:community

#60600 grafana_plugin: update documentation
  lib/ansible/modules/monitoring/grafana_plugin.py
Labels: affects_2.9, community_review, docs, module, monitoring, pr_day, support:community

#61717 Increase unit test timeout to account for long image download times
  test/utils/shippable/units.sh
Labels: affects_2.10, bug, core_review, needs_triage, support:core, test

#60112 Ecs taskdefinition secrets
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
Labels: affects_2.9, aws, cloud, community_review, docs, module, new_contributor, stale_ci, stale_review, support:community

#61555 [stable-2.8] Add porting guide entry for gathering facts tag change (#61180)
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
Labels: affects_2.8, backport, core_review, docs, support:core

#61679 Backport of #61538: postgresql modules: explicit defaults for bool params
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/modules/database/postgresql/postgresql_query.py
  lib/ansible/modules/database/postgresql/postgresql_sequence.py
  lib/ansible/modules/database/postgresql/postgresql_table.py
Labels: affects_2.9, backport, community_review, database, docs, module, owner_pr, postgresql, support:community

#61677 Backport of 61538: postgresql modules: explicit defaults for bool params
  lib/ansible/modules/database/postgresql/postgresql_table.py
Labels: affects_2.8, backport, community_review, database, docs, module, owner_pr, postgresql, small_patch, support:community

#61627 [stable-2.9] apt: honor cache_update=false on auto-install deps (#56549)
  changelogs/fragments/51489-apt-not-honor-update-cache.yml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/packaging/os/apt.py
  test/integration/targets/apt/tasks/apt.yml
Labels: affects_2.9, backport, bug, core_review, docs, module, needs_triage, packaging, support:community, support:core

#61675 Backport of 61647: Make sure postgresql tests are run for all postgres_* modules
  test/integration/targets/postgresql/aliases
Labels: affects_2.9, backport, bug, community_review, postgresql, support:community, test

#61707 [stable-2.9] Update Fedora 29 test image
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.9, backport, bug, needs_revision, needs_triage, support:core, test

#61709 [stable-2.8] Update Fedora 29 test image
  test/runner/completion/docker.txt
Labels: affects_2.8, backport, bug, needs_revision, needs_triage, support:core

#61721 [stable-2.9] Increase unit test timeout to account for long image download times (#61717)
  test/utils/shippable/units.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:core, test

#60541 [stable-2.8] fixes issue with recieve parameter idempotency (#59999)
  changelogs/fragments/bigip-monitor-http-receive-parameter.yaml
  lib/ansible/modules/network/f5/bigip_monitor_http.py
  lib/ansible/modules/network/f5/bigip_monitor_https.py
  test/units/modules/network/f5/test_bigip_device_connectivity.py
  test/units/modules/network/f5/test_bigip_gtm_wide_ip.py
  test/units/modules/network/f5/test_bigip_monitor_http.py
  test/units/modules/network/f5/test_bigip_monitor_https.py
Labels: affects_2.8, backport, bug, core_review, f5, module, needs_triage, networking, stale_ci, support:certified, support:community, support:core, test

#60958 [2.8] Warn when transforming constructed groups (#60912)
  changelogs/fragments/60912-constructed-groups-option-sanitization.yaml
  lib/ansible/plugins/inventory/__init__.py
Labels: affects_2.8, backport, bug, core_review, inventory, needs_triage, stale_ci, support:community, support:core

#60809 Backport: win_domain reboot required exception incorrectly reported (#60496)
  changelogs/fragments/win_domain-exceptions.yaml
  lib/ansible/modules/windows/win_domain.ps1
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, windows

#61725 Correct indentation of the code in the example
  docs/docsite/rst/user_guide/playbooks_blocks.rst
Labels: affects_2.9, backport, core_review, docs, support:core

#61727 Correct indentation of the code in the example
  docs/docsite/rst/user_guide/playbooks_blocks.rst
Labels: affects_2.8, backport, core_review, docs, support:core

#60747 [2.8] openssl_certificate: fix idempotency
  changelogs/fragments/60745-openssl_certificate-idempotency.yml
  lib/ansible/modules/crypto/openssl_certificate.py
  test/integration/targets/openssl_certificate/tasks/selfsigned.yml
  test/integration/targets/openssl_certificate/tests/validate_selfsigned.yml
Labels: affects_2.8, backport, bug, community_review, crypto, module, stale_ci, support:community, test

#61678 version_added: '2.10' for post branch commits
  lib/ansible/modules/cloud/google/gcp_container_cluster.py
  lib/ansible/modules/cloud/openstack/os_server.py
  lib/ansible/modules/storage/purestorage/purefa_volume.py
  lib/ansible/plugins/doc_fragments/kubevirt_common_options.py
Labels: affects_2.9, bug, ci_verified, cloud, gce, module, needs_revision, openstack, pure_storage, storage, support:community

#61552 docs: Update apt_key.py add requirements of gpg
  lib/ansible/modules/packaging/os/apt_key.py
Labels: affects_2.9, docs, module, new_contributor, packaging, pr_day, small_patch, support:core

#60041 subversion - do not incorrectly report changed when using revision in check mode
  lib/ansible/modules/source_control/subversion.py
Labels: affects_2.9, bug, core_review, has_issue, module, pr_day, small_patch, source_control, support:core

#61598 postgresql: Move PgMembership to module_utils
  lib/ansible/module_utils/postgres.py
  lib/ansible/modules/database/postgresql/postgresql_membership.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
Labels: affects_2.9, community_review, database, feature, module, needs_triage, owner_pr, postgresql, pr_day, support:community

#59663 Issue #41447 - support AWS Aurora S3 privileges in mysql_user module
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.9, automerge, bug, database, has_issue, module, mysql, owner_pr, pr_day, shipit, small_patch, support:community

#59184 ovirt search name with space
  lib/ansible/module_utils/ovirt.py
Labels: affects_2.9, bug, cloud, ovirt, owner_pr, shipit, support:community

#59028 Removed additional fetch from config context because it is now available in the host from Netbox v2.6 onwards
  lib/ansible/plugins/inventory/netbox.py
Labels: affects_2.9, bug, inventory, python3, shipit, support:community

#58816 bitbucket_access_key: Fix Python 2.7 compat
  lib/ansible/modules/source_control/bitbucket/bitbucket_access_key.py
Labels: affects_2.9, bitbucket, bug, module, owner_pr, pr_day, shipit, small_patch, source_control, support:community

#60430 Add example of "parent_group" usage in aws_ec2.py
  lib/ansible/plugins/inventory/aws_ec2.py
Labels: affects_2.9, community_review, docs, inventory, needs_triage, new_contributor, small_patch, stale_ci, support:community

#61691 Fix Decode Bug in Py3
  lib/ansible/module_utils/network/fortios/fortios.py
  lib/ansible/plugins/httpapi/fortios.py
Labels: affects_2.9, bug, fortios, needs_revision, networking, python3, support:community, support:network

#60697 [2.8] fix: docker_swarm_service does not publish both tcp and udp ports
  changelogs/fragments/60616-support-multiple-port.yaml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
Labels: affects_2.8, backport, bug, cloud, docker, module, shipit, support:community, test

#60683 Backport/2.8/57418
  changelogs/fragments/60683-backport-57418.yaml
  lib/ansible/module_utils/k8s/common.py
  test/integration/targets/k8s/tasks/full_test.yml
Labels: affects_2.8, backport, bug, clustering, community_review, k8s, needs_triage, new_contributor, stale_ci, support:community

#60585 [2.8] docker_logout: report change on successful logout
  changelogs/fragments/60381-docker_login-logout-change.yml
  lib/ansible/modules/cloud/docker/docker_login.py
Labels: affects_2.8, backport, bug, cloud, docker, module, owner_pr, shipit, support:community

#60582 ovirt vm update kernel docs backport
  changelogs/fragments/60582-ovirt-vm-update-kernel-docs.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.8, backport, cloud, module, ovirt, owner_pr, shipit, support:community

#60581 ovirt_vm add linux boot param warning backport
  changelogs/fragments/60581-ovirt-vm-add-linux-boot-param-warning.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.8, backport, cloud, module, ovirt, owner_pr, shipit, support:community

#60504 [2.8] proxmox_kvm: While a VM is beeing created, vm has no name item
  changelogs/fragments/58194-vm-name-item-not-yet-present-at-creation-time.yaml
  lib/ansible/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.8, backport, bug, cloud, community_review, module, needs_triage, stale_ci, support:community, virt

#61632 Update the rpm spec file to include ansible-test
  packaging/rpm/ansible.spec
Labels: WIP, affects_2.9, bug, needs_triage, python3, support:core

#60164 Fix documentation to reflect CLI usage for collections-path
  docs/docsite/rst/dev_guide/collections_tech_preview.rst
Labels: affects_2.9, core_review, docs, docsite, has_issue, small_patch, stale_ci, support:core

#60881 osx_defaults - doc tweaks
  lib/ansible/modules/system/osx_defaults.py
Labels: affects_2.9, automerge, docs, macos, module, pr_day, shipit, support:community, system

#60607 Add ucs_query
  lib/ansible/modules/remote_management/ucs/ucs_query.py
  test/integration/targets/ucs_query/aliases
  test/integration/targets/ucs_query/tasks/main.yml
Labels: affects_2.9, cisco, module, new_module, new_plugin, pr_day, remote_management, shipit, support:community, test, ucs

#59877 Fix KeyError exceptions in GetLogs command
  changelogs/fragments/59877-fix-keyerror-in-redfish-getlogs.yaml
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.9, bug, owner_pr, pr_day, shipit, support:community, traceback

#58441 Fix issues and limitations in account mgmt commands
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.9, feature, module, owner_pr, pr_day, remote_management, shipit, support:community

#55253 jenkins_plugin: Read update file as UTF-8 (fixes #55250)
  lib/ansible/modules/web_infrastructure/jenkins_plugin.py
Labels: affects_2.9, automerge, bug, has_issue, module, owner_pr, pr_day, shipit, small_patch, support:community, web_infrastructure

#61732 Set win_pagefile as unstable as thats what it is
  test/integration/targets/win_pagefile/aliases
Labels: affects_2.10, bug, community_review, needs_triage, support:community, windows

#61575 Migrate ec2_eip module to boto3
  lib/ansible/modules/cloud/amazon/ec2_eip.py
  test/integration/targets/ec2_eip/tasks/main.yml
Labels: affects_2.9, aws, bug, cloud, community_review, module, support:community

#60478 Ovirt template search by datacenter backport
  changelogs/fragments/60461-ovirt-vm-update-template-search-by-datacenter.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.8, backport, cloud, community_review, module, needs_triage, ovirt, owner_pr, stale_ci, support:community

#61710 [stable-2.7] Update Fedora 29 test image
  test/runner/completion/docker.txt
Labels: affects_2.7, backport, bug, needs_revision, needs_triage, support:core

#60410 Search project in domain when it's defined
  changelogs/fragments/60410-search-project-in-domain.yml
  lib/ansible/modules/cloud/openstack/os_user.py
Labels: affects_2.8, backport, bug, cloud, community_review, module, openstack, stale_ci, support:community

#61328 [2.8] acme_certificate: make compatible to Buypass' ACME v2 testing endpoint
  changelogs/fragments/60727-acme_certificate-acme-compatibility.yml
  lib/ansible/modules/crypto/acme/acme_certificate.py
Labels: affects_2.8, backport, bug, community_review, crypto, module, needs_triage, owner_pr, stale_ci, support:community

#61390 [stable-2.8] Fix pipelining in buildah connection plugin
  changelogs/fragments/59745-fix-pipelining-in-buildah-connection-plugin.yml
  lib/ansible/plugins/connection/buildah.py
Labels: affects_2.8, backport, bug, community_review, support:community

#61586 Fix nxos_install_os test cases typo (#58825)
  changelogs/fragments/nxos_install_os_28_testfix.yaml
  test/integration/targets/nxos_install_os/tasks/main.yaml
  test/integration/targets/nxos_install_os/tasks/network_local.yaml
Labels: affects_2.8, backport, bug, cisco, core_review, networking, nxos, support:community, support:network, test

#60477 Update ce_bfd_global to fix bugs
  changelogs/fragments/60412-ce_bfd_global-to-fix-bugs.yml
  lib/ansible/modules/network/cloudengine/ce_bfd_global.py
Labels: affects_2.8, backport, bug, community_review, module, needs_triage, networking, support:community

#61676 postgresql: Run all tests under postgres_*
  test/integration/targets/postgresql/aliases
Labels: affects_2.8, backport, bug, community_review, needs_triage, postgresql, support:community, test

#61743 [stable-2.8] Meraki - Update host parameter notes to include China. (#60967)
  lib/ansible/plugins/doc_fragments/meraki.py
Labels: affects_2.8, backport, community_review, docs, needs_triage, small_patch, support:community

#61744 [stable-2.8] - meraki_syslog - Properly handle net_id
  changelogs/fragments/meraki-syslog-net-id.yaml
  changelogs/fragments/meraki_syslog_net_id.yaml
  lib/ansible/modules/network/meraki/meraki_syslog.py
  test/integration/targets/meraki_syslog/tasks/main.yml
Labels: affects_2.8, backport, bug, cisco, community_review, meraki, module, needs_triage, networking, support:community, test

#61737 [stable-2.9] Update the rpm spec file to include ansible-test
  packaging/rpm/ansible.spec
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:core

#61741 debian: prepare the ansible-test package
  packaging/debian/ansible-test.install
  packaging/debian/ansible.install
  packaging/debian/control
  packaging/debian/rules
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#61655 Fix creation of DigitalOcean droplets using digital_ocean_droplet module
  changelogs/fragments/61655-fix-digital-ocean-droplet-create.yaml
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_droplet.py
Labels: affects_2.9, automerge, bug, cloud, digital_ocean, module, pr_day, python3, shipit, support:community

#61748 [stable-2.9] debian: prepare the ansible-test package
  packaging/debian/ansible-test.install
  packaging/debian/ansible.install
  packaging/debian/control
  packaging/debian/rules
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:core

#61682 Fixes IOS L3 intermittent zuul failure
  lib/ansible/module_utils/network/ios/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/ios/utils/utils.py
  test/integration/targets/ios_l3_interfaces/tests/cli/_populate_config.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/replaced.yaml
  test/integration/targets/ios_l3_interfaces/vars/main.yaml
Labels: affects_2.9, bug, cisco, ios, needs_ci, needs_revision, networking, stale_ci, support:network, test

#61362 Remove choices from gather_network_resources facts and fix negated all, min
  lib/ansible/module_utils/network/common/facts/facts.py
  lib/ansible/module_utils/network/eos/argspec/facts/facts.py
  lib/ansible/module_utils/network/eos/facts/facts.py
  lib/ansible/module_utils/network/exos/argspec/facts/facts.py
  lib/ansible/module_utils/network/exos/facts/facts.py
  lib/ansible/module_utils/network/ios/argspec/facts/facts.py
  lib/ansible/module_utils/network/ios/facts/facts.py
  lib/ansible/module_utils/network/iosxr/argspec/facts/facts.py
  lib/ansible/module_utils/network/iosxr/facts/facts.py
  lib/ansible/module_utils/network/junos/argspec/facts/facts.py
  lib/ansible/module_utils/network/junos/facts/facts.py
  lib/ansible/module_utils/network/nxos/argspec/facts/facts.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/module_utils/network/vyos/argspec/facts/facts.py
  lib/ansible/module_utils/network/vyos/facts/facts.py
  lib/ansible/modules/network/eos/eos_facts.py
  lib/ansible/modules/network/exos/exos_facts.py
  lib/ansible/modules/network/ios/ios_facts.py
  lib/ansible/modules/network/iosxr/iosxr_facts.py
  lib/ansible/modules/network/junos/junos_facts.py
  lib/ansible/modules/network/nxos/nxos_facts.py
  lib/ansible/modules/network/vyos/vyos_facts.py
Labels: affects_2.9, bug, cisco, core_review, ios, iosxr, module, networking, nxos, support:community, support:network

#61750 add trustcacerts option for JAVA keytool
  lib/ansible/modules/system/java_cert.py
Labels: affects_2.10, community_review, feature, has_issue, module, new_contributor, pr_day, support:community, system

#61735 aws_s3 - wait for the bucket before setting ACLs
  changelogs/fragments/61735-wait-for-s3-bucket-to-exist-before-modifying.yaml
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: affects_2.10, aws, bug, cloud, core_review, module, needs_triage, owner_pr, support:community, support:core

#61731 aws_codebuild tests - add retries and delay instead of a pause task
  test/integration/targets/aws_codebuild/defaults/main.yml
  test/integration/targets/aws_codebuild/tasks/main.yml
  test/integration/targets/aws_codepipeline/defaults/main.yml
  test/integration/targets/aws_codepipeline/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, support:community

#61761 Make *_bgp modules collections safe
  lib/ansible/module_utils/network/eos/providers/module.py
  lib/ansible/module_utils/network/frr/providers/module.py
  lib/ansible/module_utils/network/ios/providers/module.py
  lib/ansible/module_utils/network/iosxr/providers/module.py
Labels: affects_2.10, bug, cisco, core_review, has_issue, ios, iosxr, networking, support:community, support:network

#61776 Fix systemd start state with deactivating service state
  lib/ansible/modules/system/systemd.py
Labels: affects_2.10, bug, core_review, module, needs_triage, small_patch, support:core, system

#61764 aluvenko isn't reviewing anymore
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, bug, core_review, needs_triage, small_patch, support:core

#61734 Minify theme
  docs/docsite/_static/ansible.css
  docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css
Labels: affects_2.9, core_review, docs, support:core

#54893 Allow 13 asterisk characters in password field without warning
  changelogs/fragments/openbsd-disabled-account-no-warning-for-passwd.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.8, bsd, bug, feature, module, new_contributor, shipit, support:community, support:core, system

#61783 codebuild/codepipeline - fix regex for shippable resource_prefix
  test/integration/targets/aws_codebuild/defaults/main.yml
  test/integration/targets/aws_codepipeline/defaults/main.yml
Labels: affects_2.10, bug, cloud, community_review, support:community

#61746 Set win_pagefile as unstable as thats what it is (#61732) - 2.9
  test/integration/targets/win_pagefile/aliases
Labels: affects_2.9, backport, bug, community_review, needs_triage, support:community, windows

#61650 fix erroneous failures in docker_compose due to deprecation warnings …
  changelogs/fragments/60961-docker_compose-fix-deprecation-warning.yml
  lib/ansible/modules/cloud/docker/docker_compose.py
Labels: affects_2.9, automerge, bug, cloud, docker, has_issue, module, owner_pr, shipit, support:community

#61771 [stable-2.9] aws_codebuild tests - add retries and delay instead of a pause task (#61731)
  test/integration/targets/aws_codebuild/defaults/main.yml
  test/integration/targets/aws_codebuild/tasks/main.yml
  test/integration/targets/aws_codepipeline/defaults/main.yml
  test/integration/targets/aws_codepipeline/tasks/main.yml
Labels: affects_2.9, backport, bug, cloud, community_review, needs_triage, support:community

#61784 Remove unused import for vyos facts
  lib/ansible/module_utils/network/vyos/facts/facts.py
Labels: affects_2.10, bug, core_review, needs_triage, networking, small_patch, support:network

#61792 Minify ansible
  docs/docsite/_static/ansible.css
Labels: affects_2.9, core_review, docs, support:core

#61790 Remove unused import for cisco ios facts
  lib/ansible/module_utils/network/ios/facts/facts.py
Labels: affects_2.10, bug, cisco, core_review, ios, needs_triage, networking, small_patch, support:network

#61072 Fix documentation and facts_from_proxy value in netapp_e_facts
  lib/ansible/modules/storage/netapp/netapp_e_facts.py
  test/units/modules/storage/netapp/test_netapp_e_facts.py
Labels: affects_2.9, bug, docs, module, netapp, shipit, storage, support:community, test

#61802 s3 - improve waiting for the bucket
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: affects_2.10, aws, bug, cloud, core_review, module, needs_triage, owner_pr, small_patch, support:core

#61800 Proposals aren't really used much, delete it
  docs/docsite/rst/community/reporting_bugs_and_features.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#61787 Remove unsed import for junos facts
  lib/ansible/module_utils/network/junos/facts/facts.py
Labels: affects_2.10, bug, core_review, needs_triage, networking, small_patch, support:network

#61759 Backport/2.9/61691
  lib/ansible/module_utils/network/fortios/fortios.py
  lib/ansible/plugins/httpapi/fortios.py
Labels: affects_2.9, backport, bug, core_review, fortios, needs_triage, networking, support:community, support:network

#61765 Fixes IOS L3 intermittent zuul failure (#61682)
  lib/ansible/module_utils/network/ios/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/ios/utils/utils.py
  test/integration/targets/ios_l3_interfaces/tests/cli/_populate_config.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/replaced.yaml
  test/integration/targets/ios_l3_interfaces/vars/main.yaml
Labels: P2, affects_2.9, backport, bug, cisco, core_review, ios, needs_triage, networking, support:network, test

#61711 To fix iosxr_l3_interfaces module zuul tests (#61592)
  lib/ansible/module_utils/network/iosxr/utils/utils.py
  test/integration/targets/iosxr_l3_interfaces/tests/cli/_populate_config.yaml
  test/integration/targets/iosxr_l3_interfaces/tests/cli/_remove_config.yaml
  test/integration/targets/iosxr_l3_interfaces/tests/cli/deleted.yaml
  test/integration/targets/iosxr_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/iosxr_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/iosxr_l3_interfaces/tests/cli/replaced.yaml
  test/integration/targets/iosxr_l3_interfaces/vars/main.yaml
Labels: P2, affects_2.9, backport, cisco, core_review, ios, iosxr, networking, small_patch, support:network, test

#61786 [stable-2.9] Fix systemd start state with deactivating service state (#61776)
  lib/ansible/modules/system/systemd.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, small_patch, support:core, system

#61789 [stable-2.9] Allow 13 asterisk characters in password field without warning (#54893)
  changelogs/fragments/openbsd-disabled-account-no-warning-for-passwd.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#61793 [stable-2.9] Fix creation of DigitalOcean droplets using digital_ocean_droplet module
  changelogs/fragments/61655-fix-digital-ocean-droplet-create.yaml
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_droplet.py
Labels: affects_2.9, backport, bug, cloud, community_review, digital_ocean, module, needs_triage, support:community

#61745 Set win_pagefile as unstable as thats what it is (#61732) - 2.8
  test/integration/targets/win_pagefile/aliases
Labels: affects_2.8, backport, bug, community_review, needs_triage, support:community, windows

#60753 Backport: Add exception handling to win_domain_controller (#58234)
  changelogs/fragments/win_domain-exceptions-2.yaml
  lib/ansible/modules/windows/win_domain_controller.ps1
Labels: affects_2.8, backport, bug, module, needs_revision, support:community, support:core, windows

#60939 systemd module will now wait on deactivating state (#59471)
  changelogs/fragments/59471-systemd-wait-while-deactivating.yaml
  lib/ansible/modules/system/systemd.py
Labels: affects_2.8, backport, bug, core_review, module, support:community, support:core, system

#61794 [stable-2.8] Fix creation of DigitalOcean droplets using digital_ocean_droplet module
  changelogs/fragments/61655-fix-digital-ocean-droplet-create.yaml
  lib/ansible/modules/cloud/digital_ocean/digital_ocean_droplet.py
Labels: affects_2.8, backport, bug, cloud, community_review, digital_ocean, module, needs_triage, support:community

#61791 [stable-2.8] Allow 13 asterisk characters in password field without warning (#54893)
  changelogs/fragments/openbsd-disabled-account-no-warning-for-passwd.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#61798 [stable-2.8] fixes assert statements in tests (#59998)
  test/units/modules/network/f5/test_bigip_monitor_tcp.py
  test/units/modules/network/f5/test_bigip_monitor_tcp_echo.py
  test/units/modules/network/f5/test_bigip_monitor_tcp_half_open.py
  test/units/modules/network/f5/test_bigip_monitor_udp.py
  test/units/modules/network/f5/test_bigip_remote_syslog.py
  test/units/modules/network/f5/test_bigip_selfip.py
Labels: affects_2.8, backport, bug, core_review, needs_triage, networking, support:core, test

#61260 ec2_launch_template: Fix integration tests
  hacking/aws_config/testing_policies/compute-policy.json
  test/integration/targets/ec2_launch_template/meta/main.yml
  test/integration/targets/ec2_launch_template/playbooks/roles/ec2_launch_template/tasks/main.yml
  test/integration/targets/ec2_launch_template/playbooks/version_fail.yml
Labels: affects_2.9, bug, cloud, pr_day, shipit, small_patch, support:community, support:core

#60574 [stable-2.8] apt_facts - Fix cache related performance regression (#60511)
  changelogs/fragments/package_facts-performace-regression-fix.yaml
  lib/ansible/modules/packaging/os/package_facts.py
Labels: affects_2.8, backport, bug, community_review, module, packaging, performance, stale_ci, support:community

#61768 [stable-2.9] aws_s3 - wait for the bucket before setting ACLs (#61735)
  changelogs/fragments/61735-wait-for-s3-bucket-to-exist-before-modifying.yaml
  lib/ansible/modules/cloud/amazon/aws_s3.py
Labels: affects_2.9, aws, backport, bug, cloud, core_review, module, needs_triage, support:community, support:core

#61807 [2.7] Mark aws_s3 tests as unstable
  test/integration/targets/aws_s3/aliases
Labels: affects_2.7, backport, cloud, core_review, needs_triage, support:core

#61775 Don't truncate the last character from galaxy urls
  changelogs/fragments/61624-fix-galaxy-url-building.yml
  lib/ansible/galaxy/api.py
Labels: affects_2.10, bug, needs_revision, needs_triage, support:community, support:core

#61795 Remove unsed import for eos facts module
  lib/ansible/module_utils/network/eos/facts/facts.py
Labels: affects_2.10, bug, needs_revision, needs_triage, networking, small_patch, support:network

#60500 [stable-2.8] Use new version of default test image that contains Python 3.8.0b3(#60139)
  test/runner/completion/docker.txt
Labels: affects_2.8, backport, bug, core_review, needs_triage, python3, support:core

#61818 [stable-2.9] Don't truncate the last character from galaxy urls. Fixes #61624 (#61775)
  changelogs/fragments/61624-fix-galaxy-url-building.yml
  lib/ansible/galaxy/api.py
Labels: affects_2.9, backport, core_review, needs_triage, support:community, support:core

#61820 ansible-galaxy fix --server option for roles
  changelogs/fragments/ansible-galaxy-role-server.yaml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/__init__.py
  lib/ansible/galaxy/role.py
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core

#61785 Remove unused import from iosxr facts
  lib/ansible/module_utils/network/iosxr/facts/facts.py
Labels: affects_2.10, bug, cisco, core_review, ios, iosxr, needs_triage, networking, small_patch, support:network

#61824 ansible-galaxy fix --server option for roles (#61820) - 2.9
  changelogs/fragments/ansible-galaxy-role-server.yaml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/__init__.py
  lib/ansible/galaxy/role.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#61825 ovirt: Fix API calls in ovirt_storage_domain
  lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py
Labels: affects_2.10, automerge, bug, cloud, module, ovirt, pr_day, shipit, small_patch, support:community

#59927 Fix power command ResetType mapping logic
  changelogs/fragments/59927-fix-redfish-power-reset-type-mapping.yaml
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.9, bug, owner_pr, pr_day, shipit, support:community

#61805 Azure _info modules: fix returned ansible_facts when called as _info
  changelogs/fragments/61805-azure-facts-info.yml
  lib/ansible/modules/cloud/azure/azure_rm_containerinstance_info.py
  lib/ansible/modules/cloud/azure/azure_rm_dnsrecordset_info.py
  lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_info.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlserver_info.py
  lib/ansible/modules/cloud/azure/azure_rm_storageaccount_info.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachineimage_info.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset_info.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualnetwork_info.py
Labels: affects_2.10, azure, bug, cloud, community_review, has_issue, module, support:community

#61837 gitlab_hook: Update documentation
  lib/ansible/modules/source_control/gitlab_hook.py
Labels: affects_2.10, automerge, docs, gitlab, module, shipit, source_control, support:community

#61493 Fix bug preventing wait_condition from being respected when using apply
  lib/ansible/module_utils/k8s/raw.py
Labels: affects_2.9, bug, clustering, community_review, k8s, pr_day, small_patch, support:community

#61777 Unify ios_logging documentation with accepted options
  lib/ansible/modules/network/eos/eos_logging.py
  lib/ansible/modules/network/ios/ios_logging.py
Labels: affects_2.10, cisco, core_review, docs, ios, module, networking, support:network

#61838 documentation correct broken hyperlink
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#61720 Rebalance Azure tests groups
  test/integration/targets/azure_rm_azurefirewall/aliases
Labels: affects_2.10, azure, bug, cloud, has_issue, needs_revision, support:community

#61823 Fix galaxy server reference in the docs
  docs/docsite/rst/reference_appendices/galaxy.rst
Labels: affects_2.10, core_review, docs, has_issue, small_patch, support:core

#61816 test: disable the docker swarm tests
  test/integration/targets/docker_swarm/aliases
  test/integration/targets/docker_swarm_info/aliases
  test/integration/targets/docker_swarm_service/aliases
  test/integration/targets/docker_swarm_service_info/aliases
  test/integration/targets/inventory_docker_swarm/aliases
Labels: affects_2.10, bug, cloud, community_review, docker, support:community, test

#61854 azure_rm_iothub: disable the functional test
  test/integration/targets/azure_rm_iothub/aliases
Labels: affects_2.10, azure, bug, cloud, community_review, needs_triage, support:community

#61846 documentation Backport of #61838
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.9, backport, core_review, docs, docsite, small_patch, support:core

#61847 documentation Backport of #61838
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.8, backport, core_review, docs, docsite, small_patch, support:core

#61851 documentation Backport of #61838
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.6, backport, core_review, docs, docsite, small_patch, support:core

#61850 documentation Backport of #61838
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.7, backport, docs, docsite, small_patch, support:core

#61221 Update hashi_vault.py documentation
  lib/ansible/plugins/lookup/hashi_vault.py
Labels: affects_2.9, docs, needs_revision, new_contributor, pr_day, support:community

#61111 don't set default:None in documentation when there is no default
  lib/ansible/modules/database/influxdb/influxdb_user.py
  lib/ansible/modules/monitoring/zabbix/zabbix_screen.py
  lib/ansible/plugins/lookup/consul_kv.py
  lib/ansible/plugins/lookup/hashi_vault.py
  lib/ansible/plugins/lookup/onepassword.py
  lib/ansible/plugins/lookup/onepassword_raw.py
  lib/ansible/plugins/lookup/password.py
  lib/ansible/plugins/lookup/url.py
  test/sanity/ignore.txt
Labels: affects_2.9, cloud, database, docs, has_issue, module, monitoring, pr_day, support:community, support:core, test, web_infrastructure, zabbix

#61834 [2.9] Azure _info modules: fix returned ansible_facts when called as _info
  changelogs/fragments/61805-azure-facts-info.yml
  lib/ansible/modules/cloud/azure/azure_rm_containerinstance_info.py
  lib/ansible/modules/cloud/azure/azure_rm_dnsrecordset_info.py
  lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_info.py
  lib/ansible/modules/cloud/azure/azure_rm_sqlserver_info.py
  lib/ansible/modules/cloud/azure/azure_rm_storageaccount_info.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachineimage_info.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescaleset_info.py
  lib/ansible/modules/cloud/azure/azure_rm_virtualnetwork_info.py
Labels: affects_2.9, azure, backport, bug, cloud, community_review, module, needs_triage, support:community

#60406 VMware: Add disk_mode parameter in vmware_guest_disk
  lib/ansible/modules/cloud/vmware/vmware_guest_disk.py
  test/integration/targets/vmware_guest_disk/aliases
  test/integration/targets/vmware_guest_disk/tasks/main.yml
Labels: affects_2.9, bug, cloud, has_issue, module, needs_revision, new_contributor, stale_ci, stale_review, support:community, vmware

#61849 Update mso_schema_template_deploy.py
  lib/ansible/modules/network/aci/mso_schema_template_deploy.py
Labels: aci, affects_2.10, cisco, community_review, docs, docsite_pr, module, networking, new_contributor, small_patch, support:community

#61861 [stable-2.9] test: disable the docker swarm tests (#61816)
  test/integration/targets/docker_swarm/aliases
  test/integration/targets/docker_swarm_info/aliases
  test/integration/targets/docker_swarm_service/aliases
  test/integration/targets/docker_swarm_service_info/aliases
  test/integration/targets/inventory_docker_swarm/aliases
Labels: affects_2.9, backport, bug, cloud, community_review, docker, support:community, test
