Repository ansible/ansible, pull requests merged in 2020-04, with the labels that each got.

#68598 chocolatey botmeta and routing changes
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
Labels: affects_2.10, botmeta, bug, needs_revision, needs_triage, support:core

#68618 Reap collections changelog fragments - 5
  changelogs/fragments/65633-crypto-argspec-fixup.yml
  changelogs/fragments/67671-aws_acm-module_defaults.yaml
  changelogs/fragments/additional_spec_fix.yml
Labels: affects_2.10, community_review, docs, needs_triage, owner_pr, support:community

#68602 Un-migrate url_windows doc fragment
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.WebRequest.psm1
  lib/ansible/plugins/doc_fragments/url_windows.py
Labels: affects_2.10, botmeta, feature, needs_revision, needs_triage, support:community, support:core, windows

#68603 WebRequest - Fix use_proxy: no on module options
  changelogs/fragments/win-web-request-no_proxy.yaml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.WebRequest.psm1
  test/integration/targets/module_utils_Ansible.ModuleUtils.WebRequest/library/web_request_test.ps1
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core, windows

#68641 Migrate apt_repo to community.general
  lib/ansible/config/routing.yml
  lib/ansible/modules/packaging/os/apt_repo.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, module, needs_revision, needs_triage, packaging, support:core, test

#68644 safely use vault to edit secrets
  changelogs/fragments/vault_tmp_race_fix.yml
  lib/ansible/parsing/vault/__init__.py
Labels: P1, affects_2.10, bug, needs_revision, support:community, support:core

#68175 [2.9] vmware_cluster: Improve documentation for deprecated parameters
  changelogs/fragments/68175-vmware_cluster-document_alternatives_for_deprecated_parameters.yml
  lib/ansible/modules/cloud/vmware/vmware_cluster.py
Labels: affects_2.9, backport, cloud, community_review, docs, module, support:community, vmware

#68639 Update BOTMETA
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, bug, core_review, needs_triage, support:core

#68076 To make work Cisco ASA facts work as expected
  lib/ansible/config/base.yml
Labels: affects_2.10, core_review, feature, networking, small_patch, stale_ci, support:core

#68690 pip - Fix check_mode for prerelease packages
  changelogs/fragments/68592-pip-check_mode-prereleases.yml
  lib/ansible/modules/packaging/language/pip.py
  test/integration/targets/pip/tasks/pip.yml
  test/integration/targets/pip/vars/main.yml
Labels: affects_2.10, bug, core_review, module, needs_triage, packaging, support:community, support:core

#68683 coverage for lookup_list
  test/integration/targets/lookup_list/aliases
  test/integration/targets/lookup_list/tasks/main.yml
Labels: affects_2.10, bug, community_review, support:community

#68707 Fix grammar error in docfile
  docs/docsite/rst/user_guide/windows_setup.rst
Labels: affects_2.10, core_review, docs, docsite, new_contributor, small_patch, support:core, windows

#68678 doc: explain default "required" value for argument_spec
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#68688 Add --docker-terminate flag to ansible-test
  changelogs/fragments/ansible-test-docker-terminate.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
Labels: affects_2.10, core_review, feature, needs_triage, support:community, support:core, test

#68663 Dev guide: add notes about different image types for integration and unit/sanity tests
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_sanity.rst
  docs/docsite/rst/dev_guide/testing_units.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#68679 Update team_openstack in botmeta
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, bug, core_review, needs_triage, small_patch, support:core

#68759 Fix ansible-test submodule handling.
  changelogs/fragments/ansible-test-env-list-files.yml
  changelogs/fragments/ansible-test-git-submodule-top-level.yml
  changelogs/fragments/ansible-test-nested-source-control.yml
  changelogs/fragments/ansible-test-submodule-dir-as-file.yml
  test/integration/targets/ansible-test/collection-tests/git-at-collection-base.sh
  test/integration/targets/ansible-test/collection-tests/git-at-collection-root.sh
  test/integration/targets/ansible-test/collection-tests/git-common.bash
  test/integration/targets/ansible-test/collection-tests/install-git.yml
  test/integration/targets/ansible-test/collection-tests/venv.sh
  test/integration/targets/ansible-test/runme.sh
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/env.py
  test/lib/ansible_test/_internal/provider/source/git.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#68213 Allow tasks to notify a fqcn handler name
  changelogs/fragments/68181-fqcn-handler-notification.yml
  docs/docsite/rst/reference_appendices/special_variables.rst
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/role/definition.py
  lib/ansible/playbook/task.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/vars/manager.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/common_handlers/handlers/main.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/test_fqcn_handlers/meta/main.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/test_fqcn_handlers/tasks/main.yml
  test/integration/targets/collections/posix.yml
Labels: affects_2.10, bug, core_review, docs, support:community, support:core

#68720 fixed fetch traversal from slurp
  changelogs/fragments/fetch_no_slurp.yml
  lib/ansible/plugins/action/fetch.py
  lib/ansible/plugins/connection/local.py
  lib/ansible/utils/path.py
  test/integration/targets/fetch/aliases
  test/integration/targets/fetch/injection/avoid_slurp_return.yml
  test/integration/targets/fetch/injection/here.txt
  test/integration/targets/fetch/injection/library/slurp.py
  test/integration/targets/fetch/roles/fetch_tests/meta/main.yml
  test/integration/targets/fetch/roles/fetch_tests/tasks/main.yml
  test/integration/targets/fetch/run_fetch_tests.yml
  test/integration/targets/fetch/runme.sh
Labels: P1, affects_2.10, bug, core_review, files, support:community, support:core

#68482 Remove un-needed function
  changelogs/fragments/68482-remove-function-update-calls.yaml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.10, bug, module, needs_revision, new_contributor, packaging, support:community, support:core

#68779 Remove cgroup_perf_recap_graph.py
  hacking/cgroup_perf_recap_graph.py
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#68787 Update tests to use RHEL 7.8.
  changelogs/fragments/ansible-test-rhel-7.8.yml
  shippable.yml
  test/integration/targets/incidental_setup_docker/tasks/RedHat-7.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#68756 Add some missing dmi facts when we use dmidecode
  lib/ansible/module_utils/facts/hardware/freebsd.py
  lib/ansible/module_utils/facts/hardware/linux.py
Labels: affects_2.10, bsd, core_review, feature, support:core

#68796 patch is in ansible.posix part deux
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
Labels: affects_2.10, botmeta, bug, needs_revision, small_patch, support:core

#68785 Update docker.txt to use the OpenSUSE 15.1 container image (devel edition)
  changelogs/fragments/ansible-test-opensuse-15.1.yml
  test/integration/targets/incidental_setup_mysql_db/tasks/main.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#68788 OpenSUSE15.1 container image + necessary test change (2.9 edition)
  changelogs/fragments/ansible-test-opensuse-15.1.yml
  test/integration/targets/setup_mysql_db/tasks/main.yml
  test/integration/targets/zypper/tasks/zypper.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.9, backport, bug, database, mysql, needs_revision, support:community, support:core, test, zypper

#68794 OpenSUSE15.1 container image + necessary test changes (2.8 edition)
  changelogs/fragments/ansible-test-opensuse-15.1.yml
  test/integration/targets/setup_mysql_db/tasks/main.yml
  test/integration/targets/zypper/tasks/zypper.yml
  test/runner/completion/docker.txt
Labels: affects_2.8, backport, bug, database, mysql, needs_revision, support:community, support:core, test, zypper

#68801 OpenSUSE15.1 container image + necessary test changes (2.7 edition)
  changelogs/fragments/ansible-test-opensuse-15.1.yml
  test/integration/targets/setup_mysql_db/tasks/main.yml
  test/integration/targets/zypper/tasks/zypper.yml
  test/runner/completion/docker.txt
Labels: affects_2.7, backport, bug, database, mysql, needs_revision, support:community, support:core, test, zypper

#68802 Fix win_psrepository tests (2.9)
  test/integration/targets/win_psrepository/defaults/main.yml
Labels: affects_2.9, backport, bug, core_review, support:core, test

#68804 Fix win_psrepository tests (2.8)
  test/integration/targets/win_psrepository/defaults/main.yml
Labels: affects_2.8, backport, bug, core_review, support:core, test

#68798 [stable-2.9] Update tests to use RHEL 7.8. (#68787)
  changelogs/fragments/ansible-test-rhel-7.8.yml
  shippable.yml
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.9, backport, cloud, core_review, docker, feature, support:community, support:core, test

#68799 [stable-2.8] Update tests to use RHEL 7.8. (#68787)
  changelogs/fragments/ansible-test-rhel-7.8.yml
  shippable.yml
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/runner/completion/remote.txt
Labels: affects_2.8, backport, cloud, core_review, docker, feature, support:community, support:core, test

#68800 [stable-2.7] Update tests to use RHEL 7.8. (#68787)
  changelogs/fragments/ansible-test-rhel-7.8.yml
  shippable.yml
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/runner/completion/remote.txt
Labels: affects_2.7, backport, cloud, core_review, docker, feature, support:community, support:core, test

#68550 ansible-test: don't trigger full CI run for changes to changelogs/ and docs/ in collections
  changelogs/fragments/68550-ansible-test-docs-changelogs.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#68806 reroute zabbix to its dedicated collection
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
Labels: affects_2.10, botmeta, bug, core_review, support:core

#68761 true and false commands have to be quoted
  docs/docsite/rst/user_guide/playbooks_debugger.rst
Labels: affects_2.10, core_review, docs, needs_triage, new_contributor, support:core

#68791 url_windows - Add not around no redirection for auth headers
  lib/ansible/plugins/doc_fragments/url_windows.py
Labels: affects_2.10, core_review, docs, small_patch, support:core, windows

#68657 basic: Update required library message
  changelogs/fragments/required_lib_message.yml
  lib/ansible/module_utils/basic.py
Labels: affects_2.10, core_review, docs, support:community, support:core

#68698 doc: variable precedence: "override", not "overwrite"
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.10, core_review, docs, support:core

#68822 Fix label lookup in the default callback for includes
  changelogs/fragments/65904-fix-loop-label.yml
  lib/ansible/plugins/callback/default.py
  test/integration/targets/callback_default/callback_default.out.default.stdout
  test/integration/targets/callback_default/callback_default.out.failed_to_stderr.stdout
  test/integration/targets/callback_default/callback_default.out.hide_ok.stdout
  test/integration/targets/callback_default/callback_default.out.hide_skipped.stdout
  test/integration/targets/callback_default/callback_default.out.hide_skipped_ok.stdout
  test/integration/targets/callback_default/include_me.yml
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test.yml
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#68556 [stable-2.9] Optionally support task_uuid if passed from newer modules
  changelogs/fragments/68556-start_conn-forward-compat.yaml
  lib/ansible/executor/task_executor.py
Labels: P2, affects_2.9, backport, bug, core_review, support:community, support:core

#68831 Disable failing azure_rm_cosmosdbaccount test.
  test/integration/targets/azure_rm_cosmosdbaccount/aliases
Labels: affects_2.9, backport, bug, core_review, support:core, test

#68832 Disable failing azure_rm_cosmosdbaccount test.
  test/integration/targets/azure_rm_cosmosdbaccount/aliases
Labels: affects_2.8, backport, bug, core_review, support:core, test

#68828 Fix ansible-test --docker without tests dir.
  changelogs/fragments/ansible-test-test-no-tests.yml
  test/lib/ansible_test/_internal/delegation.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#68122 Fixes #68121: Move kubectl plugin migration to proper place.
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
Labels: affects_2.10, backport, botmeta, bug, core_review, needs_triage, small_patch, stale_ci, support:core

#68807 Updating routing data for gcp_kms_* filters
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
Labels: affects_2.10, botmeta, bug, core_review, needs_triage, small_patch, support:core

#67419 get_url pass incorrect If-Modified-Since header(#67417)
  changelogs/fragments/67417-get_url-incorrect-if-modified-since.yaml
  lib/ansible/module_utils/urls.py
  test/units/module_utils/urls/test_Request.py
Labels: affects_2.10, bug, needs_revision, new_contributor, support:community, support:core

#67829 subversion module - provide password securely when possible or warn
  changelogs/fragments/subversion_password.yaml
  lib/ansible/modules/source_control/subversion.py
  test/integration/targets/subversion/aliases
  test/integration/targets/subversion/meta/main.yml
  test/integration/targets/subversion/roles/subversion/defaults/main.yml
  test/integration/targets/subversion/roles/subversion/files/create_repo.sh
  test/integration/targets/subversion/roles/subversion/tasks/cleanup.yml
  test/integration/targets/subversion/roles/subversion/tasks/main.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup_selinux.yml
  test/integration/targets/subversion/roles/subversion/tasks/tests.yml
  test/integration/targets/subversion/roles/subversion/tasks/warnings.yml
  test/integration/targets/subversion/roles/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/runme.sh
  test/integration/targets/subversion/runme.yml
  test/integration/targets/subversion/tasks/main.yml
Labels: affects_2.10, bug, core_review, module, source_control, support:community, support:core

#68723 Force collections to be static
  changelogs/fragments/68723-force-static-collections.yaml
  lib/ansible/playbook/collectionsearch.py
  test/units/playbook/test_collectionsearch.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#68921 avoid mkdir -p
  changelogs/fragments/remote_mkdir_fix.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/shell/__init__.py
  lib/ansible/plugins/shell/powershell.py
Labels: P1, affects_2.10, bug, core_review, support:community, support:core, windows

#65376 Use context manager in yum module.
  changelogs/fragments/65376.yaml
  lib/ansible/modules/packaging/os/yum_repository.py
Labels: affects_2.10, bug, module, packaging, python3, shipit, support:community, support:core

#68934 Switch network incidental tests to VyOS 1.1.7-R2.
  shippable.yml
  test/lib/ansible_test/_data/completion/network.txt
Labels: affects_2.10, bug, core_review, small_patch, support:core, test

#68749 Prevent templating unused variables for {%include%}
  changelogs/fragments/68699-prevent-templating-all-vars-when-copying-context.yml
  lib/ansible/template/__init__.py
  lib/ansible/template/template.py
  test/integration/targets/template/runme.sh
  test/integration/targets/template/templates/unused_vars_include.j2
  test/integration/targets/template/templates/unused_vars_template.j2
  test/integration/targets/template/unused_vars_include.yml
Labels: affects_2.10, bug, core_review, files, support:community, support:core

#68944 prepare for future ansibot collection changes
  .github/BOTMETA.yml
  test/sanity/code-smell/botmeta.py
Labels: affects_2.10, botmeta, core_review, feature, needs_triage, small_patch, support:core, test

#68948 Revert "Switch network incidental tests to VyOS 1.1.7-R2."
  shippable.yml
  test/lib/ansible_test/_data/completion/network.txt
Labels: affects_2.10, bug, core_review, small_patch, support:core, test

#68868 get_url pass incorrect If-Modified-Since header(#67417) (#67419)
  changelogs/fragments/67417-get_url-incorrect-if-modified-since.yaml
  lib/ansible/module_utils/urls.py
  test/units/module_utils/urls/test_Request.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, support:community, support:core

#68420 [stable-2.9] adhoc: Load callbacks before sending v2_playbook_on_start (#67673)
  changelogs/fragments/ansible-adhoc-cb-playbook_start.yaml
  lib/ansible/cli/adhoc.py
  test/integration/targets/ansible-runner/tasks/adhoc_example1.yml
  test/integration/targets/ansible/adhoc-callback.stdout
  test/integration/targets/ansible/callback_plugins/callback_debug.py
  test/integration/targets/ansible/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core

#67937 [stable-2.8] win_unzip - normalize and compare paths to prevent path traversal (#67799)
  changelogs/fragments/win-unzip-check-extraction-path.yml
  lib/ansible/modules/windows/win_unzip.ps1
  test/integration/targets/win_unzip/files/create_crafty_zip_files.py
  test/integration/targets/win_unzip/tasks/main.yml
Labels: P1, affects_2.8, backport, backport_verified, bug, core_review, files, module, security, stale_ci, support:community, support:core, test, windows

#67935 [stable-2.9] win_unzip - normalize and compare paths to prevent path traversal (#67799)
  changelogs/fragments/win-unzip-check-extraction-path.yml
  lib/ansible/modules/windows/win_unzip.ps1
  test/integration/targets/win_unzip/files/create_crafty_zip_files.py
  test/integration/targets/win_unzip/tasks/main.yml
Labels: P1, affects_2.9, backport, backport_verified, bug, core_review, files, module, security, stale_ci, support:community, support:core, test, windows

#68719 routing: Adjust openssl_certificate* module names
  lib/ansible/config/routing.yml
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core

#68789 Fix wrong parameter name in example
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_workflow_launch.py
Labels: affects_2.9, backport, docs, module, needs_info, new_contributor, small_patch, support:community, tower, web_infrastructure

#68907 Fix os_user_role issue to grant a role in a domain
  changelogs/fragments/66525-fix-assing-role-domain-only.yml
  lib/ansible/modules/cloud/openstack/os_user_role.py
Labels: affects_2.9, backport, bug, cloud, community_review, module, new_contributor, openstack, support:community

#68360 [2.9] Handle get_tags_for_object in vmware_rest_client
  changelogs/fragments/vmware_rest_client_tag_fix.yml
  lib/ansible/module_utils/vmware_rest_client.py
Labels: affects_2.9, backport, bug, cloud, community_review, owner_pr, stale_ci, support:community, vmware

#68546 passwordstore: Honor equal sign in userpass
  changelogs/fragments/passwordstore_fix.yml
  lib/ansible/plugins/lookup/passwordstore.py
  test/integration/targets/lookup_passwordstore/tasks/tests.yml
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core, test

#68926 avoid mkdir -p (#68921)
  changelogs/fragments/remote_mkdir_fix.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/shell/__init__.py
  lib/ansible/plugins/shell/powershell.py
Labels: P1, affects_2.9, backport, backport_verified, bug, core_review, support:community, support:core, windows

#68927 avoid mkdir -p (#68921)
  changelogs/fragments/remote_mkdir_fix.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/shell/__init__.py
  lib/ansible/plugins/shell/powershell.py
Labels: P1, affects_2.8, backport, bug, core_review, support:community, support:core, windows

#68928 avoid mkdir -p (#68921)
  changelogs/fragments/remote_mkdir_fix.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/shell/__init__.py
  lib/ansible/plugins/shell/powershell.py
Labels: P1, affects_2.7, backport, bug, core_review, support:community, support:core, windows

#68904 [2.9] docs: Fixed "Edit on GitHub" link for plugin, cli
  changelogs/fragments/plugin_doc_link_fix.yml
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/conf.py
  docs/templates/cli_rst.j2
Labels: affects_2.9, backport, backport_verified, bug, core_review, docs, has_issue, support:community, support:core

#68815 [2.9] VMware: Fix cluster argument of module vmware_content_deploy_template
  changelogs/fragments/65715-vmware-content-deploy-template-fix-cluster.yml
  lib/ansible/modules/cloud/vmware/vmware_content_deploy_template.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, has_issue, module, owner_pr, support:community, vmware

#68725 [stable-2.9] Always set the discovered interpreter on the delegated host (#64906)
  changelogs/fragments/64906-always-delegate-fact-prefixes.yml
  lib/ansible/plugins/strategy/__init__.py
Labels: P2, affects_2.9, backport, backport_verified, core_review, stale_ci, support:community, support:core

#68726 [stable-2.8] Always set the discovered interpreter on the delegated host (#64906)
  changelogs/fragments/64906-always-delegate-fact-prefixes.yml
  lib/ansible/plugins/strategy/__init__.py
Labels: P2, affects_2.8, backport, core_review, stale_ci, support:community, support:core

#68910 [2.9] Fix warning message in dense callback plugin
  changelogs/fragments/64628-dense-callback-warning.yml
  lib/ansible/plugins/callback/dense.py
Labels: affects_2.9, backport, bug, needs_revision, support:community

#68521 fallback to uid when no uname (#68466)
  changelogs/fragments/fallback_uid.yml
  lib/ansible/utils/display.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core

#68520 Fix colorization to not extend across newline boundary (2.9) (#68517)
  changelogs/fragments/warnings-remove-extra-newline-better.yaml
  lib/ansible/utils/display.py
  test/units/utils/display/test_warning.py
Labels: affects_2.9, backport, backport_verified, core_review, has_issue, stale_ci, support:community, support:core

#68180 Fix purefa_snmp errors
  changelogs/fragments/68180-purefa_smnp_fixes.yaml
  lib/ansible/modules/storage/purestorage/purefa_snmp.py
Labels: affects_2.9, backport, bug, community_review, module, owner_pr, pure_storage, stale_ci, storage, support:community

#68381 setup - Use original logic for FQDN hostname builder
  changelogs/fragments/win_setup-fqdn.yaml
  lib/ansible/modules/windows/setup.ps1
Labels: affects_2.9, backport, bug, community_review, module, owner_pr, stale_ci, support:community, windows

#63809 [backport/2.8/63280] acl: fix module failure if there're spaces in a path (#63280)
  changelogs/fragments/63280-fix_acl_spaces_in_path.yml
  lib/ansible/modules/files/acl.py
  test/integration/targets/acl/tasks/acl.yml
  test/integration/targets/acl/tasks/main.yml
Labels: affects_2.8, backport, bug, core_review, files, module, stale_ci, support:community, support:core, test

#67938 [stable-2.7] win_unzip - normalize and compare paths to prevent path traversal (#67799)
  changelogs/fragments/win-unzip-check-extraction-path.yml
  lib/ansible/modules/windows/win_unzip.ps1
  test/integration/targets/win_unzip/defaults/main.yml
  test/integration/targets/win_unzip/files/create_crafty_zip_files.py
  test/integration/targets/win_unzip/tasks/main.yml
Labels: P1, affects_2.7, backport, bug, core_review, files, module, security, stale_ci, support:community, support:core, test, windows

#68025 [stable-2.9] Add CentOS 8 to the test matrix
  shippable.yml
  test/integration/targets/setup_postgresql_db/tasks/main.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.9, backport, bug, core_review, support:core, test

#68505 ovirt_storage_domain: fix update_check warning_low_space
  changelogs/fragments/68505-ovirt_storage_domain-fix-update_check-warning_low_space.yml
  lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py
Labels: affects_2.9, backport, bug, cloud, community_review, module, ovirt, owner_pr, stale_ci, support:community

#68507 [2.9] VMware: Use existing DVPG network in vmware_guest_network
  changelogs/fragments/65968-vmware_guest_network.yml
  lib/ansible/modules/cloud/vmware/vmware_guest_network.py
  test/integration/targets/vmware_guest_network/tasks/main.yml
Labels: affects_2.9, backport, bug, cloud, core_review, module, stale_ci, support:community, support:core, test, vmware

#68554 routeros_facts: prevent crash of module when ipv6 package is not installed
  changelogs/fragments/64958-routeros-facts-ipv6.yml
  lib/ansible/modules/network/routeros/routeros_facts.py
  test/units/modules/network/routeros/fixtures/routeros_facts/ipv6_address_print_detail_without-paging_no-ipv6
  test/units/modules/network/routeros/test_routeros_facts.py
Labels: affects_2.9, backport, bug, core_review, module, networking, stale_ci, support:community, support:core, test

#68561 [stable-2.9] nxos_lacp: Fix replace operation and update tests
  changelogs/fragments/64074_update_nxos_lacp.yaml
  lib/ansible/module_utils/network/common/utils.py
  lib/ansible/module_utils/network/nxos/config/lacp/lacp.py
  test/integration/targets/nxos_lacp/tests/cli/deleted.yaml
  test/integration/targets/nxos_lacp/tests/cli/merged.yaml
  test/integration/targets/nxos_lacp/tests/cli/replaced.yaml
Labels: affects_2.9, backport, bug, cisco, core_review, networking, nxos, stale_ci, support:community, support:core, support:network, test

#68562 [stable-2.9] Fix missing persistent connection messages (#68496)
  changelogs/fragments/68496-persistent-logging.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
Labels: affects_2.9, backport, bug, core_review, networking, stale_ci, support:community, support:core

#68595 [2.9] Update docker connection plugin
  changelogs/fragments/community.general-80-update_docker_connection_plugin.yml
  lib/ansible/plugins/connection/docker.py
Labels: affects_2.9, backport, bug, cloud, community_review, docker, stale_ci, support:community

#68613 [2.9] ipa: Remove redundant encoding in json.loads
  changelogs/fragments/66592_ipa_encoding_fix.yml
  lib/ansible/module_utils/ipa.py
Labels: affects_2.9, backport, bug, community_review, ipa, owner_pr, stale_ci, support:community

#68620 [2.9] mysql_user: Fix idempotence when long grant lists are used
  changelogs/fragments/68044-mysql_user_idempotency.yml
  lib/ansible/modules/database/mysql/mysql_user.py
  test/integration/targets/mysql_user/tasks/test_privs.yml
Labels: affects_2.9, backport, core_review, database, module, mysql, stale_ci, support:community, support:core, test

#68626 WebRequest - Fix use_proxy: no on module options (#68603) - 2.9
  changelogs/fragments/win-web-request-no_proxy.yaml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.WebRequest.psm1
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core, windows

#68601 ansible-galaxy - Fix tar path traversal issue during install - CVE-2020-10691 - 2.9
  changelogs/fragments/galaxy-install-tar-path-traversal.yaml
  lib/ansible/galaxy/collection.py
  test/integration/targets/ansible-galaxy-collection/files/build_bad_tar.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/units/galaxy/test_collection.py
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core

#68911 [2.9] CVE-2020-1739 - provide password securely for subversion module or warn
  changelogs/fragments/subversion_password.yaml
  lib/ansible/modules/source_control/subversion.py
  test/integration/targets/subversion/aliases
  test/integration/targets/subversion/meta/main.yml
  test/integration/targets/subversion/roles/subversion/defaults/main.yml
  test/integration/targets/subversion/roles/subversion/files/create_repo.sh
  test/integration/targets/subversion/roles/subversion/tasks/cleanup.yml
  test/integration/targets/subversion/roles/subversion/tasks/main.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup_selinux.yml
  test/integration/targets/subversion/roles/subversion/tasks/tests.yml
  test/integration/targets/subversion/roles/subversion/tasks/warnings.yml
  test/integration/targets/subversion/roles/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/runme.sh
  test/integration/targets/subversion/runme.yml
  test/integration/targets/subversion/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, source_control, support:community, support:core

#68912 [2.8] CVE-2020-1739 - provide password securely for subversion module or warn
  changelogs/fragments/subversion_password.yaml
  lib/ansible/modules/source_control/subversion.py
  test/integration/targets/subversion/aliases
  test/integration/targets/subversion/meta/main.yml
  test/integration/targets/subversion/roles/subversion/defaults/main.yml
  test/integration/targets/subversion/roles/subversion/files/create_repo.sh
  test/integration/targets/subversion/roles/subversion/tasks/cleanup.yml
  test/integration/targets/subversion/roles/subversion/tasks/main.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup_selinux.yml
  test/integration/targets/subversion/roles/subversion/tasks/tests.yml
  test/integration/targets/subversion/roles/subversion/tasks/warnings.yml
  test/integration/targets/subversion/roles/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/runme.sh
  test/integration/targets/subversion/runme.yml
  test/integration/targets/subversion/tasks/main.yml
Labels: affects_2.8, backport, bug, core_review, module, source_control, support:community, support:core

#68913 [2.7] CVE-2020-1739 - provide password securely for subversion module or warn
  changelogs/fragments/subversion_password.yaml
  lib/ansible/modules/source_control/subversion.py
  test/integration/targets/subversion/aliases
  test/integration/targets/subversion/meta/main.yml
  test/integration/targets/subversion/roles/subversion/defaults/main.yml
  test/integration/targets/subversion/roles/subversion/files/create_repo.sh
  test/integration/targets/subversion/roles/subversion/tasks/cleanup.yml
  test/integration/targets/subversion/roles/subversion/tasks/main.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup_selinux.yml
  test/integration/targets/subversion/roles/subversion/tasks/tests.yml
  test/integration/targets/subversion/roles/subversion/tasks/warnings.yml
  test/integration/targets/subversion/roles/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/runme.sh
  test/integration/targets/subversion/runme.yml
  test/integration/targets/subversion/tasks/main.yml
Labels: affects_2.7, backport, bug, core_review, module, source_control, support:community, support:core

#68137 support rabbitmq 3.8.x in version check (#66855)
  changelogs/fragments/rabbitmq-3.8.yml
  lib/ansible/modules/messaging/rabbitmq/rabbitmq_policy.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, messaging, module, rabbitmq, support:community, traceback

#68468 fix vault temp file handling (#68433)
  changelogs/fragments/vault_tmp_file.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/parsing/dataloader.py
  lib/ansible/parsing/vault/__init__.py
  test/integration/targets/vault/files/test_assemble/nonsecret.txt
  test/integration/targets/vault/files/test_assemble/secret.vault
  test/integration/targets/vault/runme.sh
  test/integration/targets/vault/test_dangling_temp.yml
Labels: P1, affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core

#68469 fix vault temp file handling (#68433)
  changelogs/fragments/vault_tmp_file.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/parsing/dataloader.py
  lib/ansible/parsing/vault/__init__.py
  test/integration/targets/vault/files/test_assemble/nonsecret.txt
  test/integration/targets/vault/files/test_assemble/secret.vault
  test/integration/targets/vault/runme.sh
  test/integration/targets/vault/test_dangling_temp.yml
Labels: P1, affects_2.8, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core

#68470 fix vault temp file handling (#68433)
  changelogs/fragments/vault_tmp_file.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/parsing/dataloader.py
  lib/ansible/parsing/vault/__init__.py
  test/integration/targets/vault/files/test_assemble/nonsecret.txt
  test/integration/targets/vault/files/test_assemble/secret.vault
  test/integration/targets/vault/runme.sh
  test/integration/targets/vault/test_dangling_temp.yml
Labels: P1, affects_2.7, backport, bug, core_review, stale_ci, support:community, support:core

#68444 prevent ansible_facts injection (#68431)
  changelogs/fragments/af_clean.yml
  lib/ansible/constants.py
  lib/ansible/vars/clean.py
  test/integration/targets/gathering_facts/library/bogus_facts
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/test_prevent_injection.yml
  test/sanity/ignore.txt
Labels: P1, affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core, test

#68445 prevent ansible_facts injection (#68431)
  changelogs/fragments/af_clean.yml
  lib/ansible/constants.py
  lib/ansible/vars/clean.py
  test/integration/targets/gathering_facts/library/bogus_facts
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/test_prevent_injection.yml
  test/sanity/code-smell/shebang.py
Labels: P1, affects_2.8, backport, bug, core_review, stale_ci, support:community, support:core, test

#68446 prevent ansible_facts injection (#68431)
  changelogs/fragments/af_clean.yml
  lib/ansible/constants.py
  lib/ansible/vars/clean.py
  test/integration/targets/gathering_facts/library/bogus_facts
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/test_prevent_injection.yml
  test/sanity/code-smell/shebang.py
Labels: P1, affects_2.7, backport, bug, core_review, stale_ci, support:community, support:core, test

#68714 [2.9] CVE-2020-1746 - Remove the params module option from ldap_attr and ldap_entry
  changelogs/fragments/ldap-params-removal.yml
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
  lib/ansible/modules/net_tools/ldap/ldap_entry.py
  test/sanity/ignore.txt
Labels: P1, affects_2.9, backport, bug, core_review, docs, module, net_tools, support:community, support:core, test

#68715 [2.8] CVE-2020-1746 - Remove the params module option from ldap_attr and ldap_entry
  changelogs/fragments/ldap-params-removal.yml
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
  lib/ansible/modules/net_tools/ldap/ldap_entry.py
  test/sanity/validate-modules/ignore.txt
Labels: P1, affects_2.8, backport, bug, core_review, docs, module, net_tools, support:community, support:core, test

#68716 [2.7] CVE-2020-1746 - Remove the params module option from ldap_attr and ldap_entry
  changelogs/fragments/ldap-params-removal.yml
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  lib/ansible/modules/net_tools/ldap/ldap_attr.py
  lib/ansible/modules/net_tools/ldap/ldap_entry.py
  test/sanity/validate-modules/ignore.txt
Labels: P1, affects_2.7, backport, bug, core_review, docs, module, net_tools, support:community, support:core, test

#67409 ansible-galaxy - fix listing specific role and role description
  changelogs/fragments/ansible-galaxy-role-list-specific-fix.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, bug, core_review, support:community, support:core

#68671 safely use vault to edit secrets (#68644)
  changelogs/fragments/vault_tmp_race_fix.yml
  lib/ansible/parsing/vault/__init__.py
Labels: P1, affects_2.9, backport, backport_verified, bug, core_review, support:community, support:core

#68673 safely use vault to edit secrets (#68644)
  changelogs/fragments/vault_tmp_race_fix.yml
  lib/ansible/parsing/vault/__init__.py
Labels: P1, affects_2.8, backport, bug, core_review, support:community, support:core

#68674 safely use vault to edit secrets (#68644)
  changelogs/fragments/vault_tmp_race_fix.yml
  lib/ansible/parsing/vault/__init__.py
Labels: P1, affects_2.7, backport, bug, core_review, support:community, support:core

#68780 fixed fetch traversal from slurp (#68720)
  changelogs/fragments/fetch_no_slurp.yml
  lib/ansible/plugins/action/fetch.py
  lib/ansible/plugins/connection/local.py
  lib/ansible/utils/path.py
  test/integration/targets/fetch/aliases
  test/integration/targets/fetch/injection/avoid_slurp_return.yml
  test/integration/targets/fetch/injection/here.txt
  test/integration/targets/fetch/injection/library/slurp.py
  test/integration/targets/fetch/roles/fetch_tests/meta/main.yml
  test/integration/targets/fetch/roles/fetch_tests/tasks/main.yml
  test/integration/targets/fetch/run_fetch_tests.yml
  test/integration/targets/fetch/runme.sh
Labels: P1, affects_2.9, backport, backport_verified, bug, core_review, files, support:community, support:core

#68781 fixed fetch traversal from slurp (#68720)
  changelogs/fragments/fetch_no_slurp.yml
  lib/ansible/plugins/action/fetch.py
  lib/ansible/utils/path.py
  test/integration/targets/fetch/aliases
  test/integration/targets/fetch/injection/avoid_slurp_return.yml
  test/integration/targets/fetch/injection/here.txt
  test/integration/targets/fetch/injection/library/slurp.py
  test/integration/targets/fetch/roles/fetch_tests/meta/main.yml
  test/integration/targets/fetch/roles/fetch_tests/tasks/main.yml
  test/integration/targets/fetch/run_fetch_tests.yml
  test/integration/targets/fetch/runme.sh
Labels: P1, affects_2.8, backport, bug, core_review, files, support:community, support:core

#68947 small fix to install command as no longer needs -p by default
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
Labels: affects_2.10, core_review, docs, small_patch, support:core

#68552 VMware: Document vm properties
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst
Labels: affects_2.10, bug, cloud, core_review, docs, docsite, support:core, vmware

#68905 docs: Update inventory script paths
  changelogs/fragments/inventory_doc_fix.yml
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.10, core_review, docs, has_issue, support:community, support:core

#68899 Extend dev guide for collection testing and collection hacking
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing_compile.rst
Labels: affects_2.10, core_review, docs, docsite, has_issue, support:core

#68130 Testing: Add support for CentOS Linux On Power platform
  changelogs/fragments/ansible-test-remote-power.yml
  shippable.yml
  test/integration/targets/binary_modules_posix/aliases
  test/integration/targets/dnf/aliases
  test/integration/targets/incidental_consul/aliases
  test/integration/targets/incidental_inventory_docker_swarm/aliases
  test/integration/targets/incidental_lookup_hashi_vault/aliases
  test/integration/targets/incidental_ufw/aliases
  test/integration/targets/incidental_xml/aliases
  test/integration/targets/package/aliases
  test/integration/targets/pip/aliases
  test/integration/targets/subversion/aliases
  test/integration/targets/unarchive/aliases
  test/integration/targets/yum/aliases
  test/integration/targets/yum_repository/aliases
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_data/setup/remote.sh
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/target.py
  test/utils/shippable/incidental/power.sh
  test/utils/shippable/power.sh
Labels: affects_2.10, commands, core_review, feature, files, m:unarchive, net_tools, packaging, source_control, support:community, support:core, system, test

#68969 Remove unused functions
  lib/ansible/plugins/shell/powershell.py
Labels: affects_2.10, feature, needs_revision, support:core, windows

#68972 Add more integration tests.
  test/integration/targets/module_no_log/aliases
  test/integration/targets/module_no_log/library/module_that_logs.py
  test/integration/targets/module_no_log/tasks/main.yml
  test/integration/targets/tasks/aliases
  test/integration/targets/tasks/tasks/main.yml
Labels: affects_2.10, community_review, feature, support:community

#68968 windows - fix up env var quoting for unicode single quotes
  changelogs/fragments/win_env_var.yaml
  lib/ansible/executor/powershell/module_wrapper.ps1
  lib/ansible/plugins/shell/cmd.py
  test/integration/targets/win_exec_wrapper/tasks/main.yml
  test/sanity/ignore.txt
  test/units/plugins/shell/test_cmd.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core, test, windows

#68971 Add variable for DEFAULT_NO_TARGET_SYSLOG
  changelogs/fragments/no_target_syslog-var.yaml
  lib/ansible/config/base.yml
  lib/ansible/plugins/action/__init__.py
Labels: affects_2.10, core_review, docs, has_issue, needs_triage, support:community, support:core

#68970 stricter permissions on atomic_move when creating new file
  changelogs/fragments/atomic_move_permissions.yml
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/units/module_utils/basic/test_atomic_move.py
Labels: P1, affects_2.10, bug, core_review, packaging, support:community, support:core

#68943 import where?
  lib/ansible/cli/galaxy.py
Labels: affects_2.10, core_review, docs, small_patch, support:core

#68965 Expose to_<str> as a public function
  lib/ansible/module_utils/_text.py
  lib/ansible/module_utils/common/text/converters.py
  test/sanity/ignore.txt
  test/units/module_utils/common/text/converters/test_to_str.py
Labels: affects_2.10, core_review, feature, needs_triage, support:core, test

#68958 include_role: Strictly check string datatype for *_from
  changelogs/fragments/68515_include_role_vars_from.yml
  lib/ansible/playbook/role_include.py
  test/integration/targets/include_import/role/test_include_role.yml
  test/integration/targets/include_import/role/test_include_role_vars_from.yml
  test/integration/targets/include_import/runme.sh
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core

#68938 native types: literal_eval all the things
  lib/ansible/template/native_helpers.py
  test/integration/targets/jinja2_native_types/filter_plugins/native_plugins.py
  test/integration/targets/jinja2_native_types/test_casting.yml
  test/integration/targets/jinja2_native_types/test_concatentation.yml
  test/sanity/ignore.txt
Labels: affects_2.10, bug, core_review, native_jinja, needs_triage, support:community, support:core, test

#68945 Fix fileglob when using 'file*' vs 'stuff/file*'
  changelogs/fragments/fileglob_fixes.yml
  lib/ansible/plugins/lookup/fileglob.py
  test/integration/targets/fileglob/aliases
  test/integration/targets/fileglob/find_levels/files/play_adj_subdir.txt
  test/integration/targets/fileglob/find_levels/files/somepath/play_adj_subsubdir.txt
  test/integration/targets/fileglob/find_levels/play.yml
  test/integration/targets/fileglob/find_levels/play_adj.txt
  test/integration/targets/fileglob/find_levels/roles/get_file/files/in_role.txt
  test/integration/targets/fileglob/find_levels/roles/get_file/files/otherpath/in_role_subdir.txt
  test/integration/targets/fileglob/find_levels/roles/get_file/tasks/main.yml
  test/integration/targets/fileglob/runme.sh
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core

#68980 Enable service integration tests for FreeBSD
  test/integration/targets/service/aliases
  test/integration/targets/service/files/ansible.rc
  test/integration/targets/service/tasks/main.yml
  test/integration/targets/service/tasks/rc_cleanup.yml
  test/integration/targets/service/tasks/rc_setup.yml
  test/integration/targets/service/tasks/tests.yml
Labels: affects_2.10, bug, core_review, support:core, system

#68895 [copy] Add some test coverage for check_mode
  test/integration/targets/copy/tasks/check_mode.yml
  test/integration/targets/copy/tasks/main.yml
Labels: affects_2.10, bug, core_review, files, needs_triage, support:core

#68337 Prevent rewriting nested Block's data in filter_tagged_tasks
  changelogs/fragments/prevent-rewriting-nested-block-data-in-filter_tagged_tasks.yml
  lib/ansible/playbook/block.py
Labels: affects_2.10, bug, core_review, small_patch, stale_ci, support:core

#68951 Fix --start-at-task when skipping tasks with no name
  changelogs/fragments/68569-start-at-fix.yaml
  lib/ansible/executor/play_iterator.py
  test/integration/targets/play_iterator/aliases
  test/integration/targets/play_iterator/playbook.yml
  test/integration/targets/play_iterator/runme.sh
Labels: affects_2.10, bug, core_review, support:community, support:core

#68315 update ActionBase._low_level_execute_command to honor executable
  changelogs/fragments/68310-low_level_execute_command-honor-executable.yml
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/raw/runme.sh
  test/integration/targets/raw/runme.yml
  test/integration/targets/raw/tasks/main.yml
Labels: affects_2.10, bug, commands, core_review, stale_ci, support:community, support:core

#67407 [pip] Enable virtualenv_command to have arguments
  changelogs/fragments/67407-pip-virtualenv_command-args.yml
  lib/ansible/modules/packaging/language/pip.py
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.10, bug, has_issue, module, needs_rebase, needs_revision, packaging, stale_ci, support:community, support:core

#68667 Don't crash ansible-vault create when no arguments
  changelogs/fragments/68667-dont-crash-ansible-vault-create-when-no-arguments.yaml
  lib/ansible/cli/vault.py
Labels: affects_2.10, bug, needs_revision, stale_ci, stale_review, support:community, support:core, traceback

#68750 collection build should ignore .git files
  lib/ansible/galaxy/collection.py
Labels: affects_2.10, bug, core_review, small_patch, stale_ci, support:core

#68908 Openstack inventory script moved to openstack.cloud
  .github/BOTMETA.yml
  changelogs/fragments/openstack_botmeta.yml
Labels: affects_2.10, botmeta, bug, core_review, support:community, support:core

#69058 Adjust Openstack Inventory script path
  changelogs/fragments/openstack_inventory_migrated.yml
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.10, core_review, docs, needs_triage, support:community, support:core

#69157 Fix ansible-test coverage constraints.
  changelogs/fragments/ansible-test-coverage-constraints.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#68211 service_facts: fix for systemd 245
  changelogs/fragments/68211-systemd-list-unit-files-parsing.yml
  lib/ansible/modules/system/service_facts.py
Labels: P3, bug, core_review, has_issue, module, new_contributor, support:community, support:core, system, verified

#69186 Remove obsolete vcenter setup from ansible-test.
  changelogs/fragments/ansible-test-obsolete-vcenter-proivisioning.yml
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69165 constructed inventory plugin: correct example
  lib/ansible/plugins/inventory/constructed.py
Labels: affects_2.10, community_review, docs, needs_triage, small_patch, support:community

#69187 [stable-2.9] Remove obsolete vcenter setup from ansible-test.
  changelogs/fragments/ansible-test-obsolete-vcenter-proivisioning.yml
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.9, backport, feature, needs_revision, support:community, support:core, test

#69147 Revert "Fix missing persistent connection messages (#68496)"
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
Labels: affects_2.10, bug, needs_revision, needs_triage, networking, support:core

#69197 Remove tomaszkiewicz from ansibullbot notifications
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, core_review, needs_triage, small_patch, support:core

#69191 Revert "Fix missing persistent connection messages (#68496)" (#69147)
  changelogs/fragments/b5a0475a-revert-persistent-connection-messages.yml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, networking, support:community, support:core

#69071 ROADMAP - s/ansible/ansible-base/g
  docs/docsite/rst/roadmap/ROADMAP_2_10.rst
Labels: affects_2.10, core_review, docs, needs_triage, support:core

#69160 Added missing parameter
  changelogs/fragments/69160-add-missing-parameter.yaml
  lib/ansible/modules/system/sysvinit.py
Labels: affects_2.10, bug, core_review, module, support:community, support:core, system

#69164 Removed redundant conditional in paramiko_ssh.py
  changelogs/fragments/69164-remove-redundant-conditional.yaml
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: affects_2.10, bug, core_review, support:community, support:core

#68288 Update ansible-galaxy to handle role requirements
  changelogs/fragments/68288-galaxy-requirements-install-only.yml
  docs/docsite/rst/galaxy/user_guide.rst
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, bot_broken, core_review, docs, feature, has_issue, support:community, support:core

#69081 Make sure collection is a list if a str is given
  changelogs/fragments/69054-collection-as-str.yaml
  lib/ansible/playbook/collectionsearch.py
  lib/ansible/playbook/task.py
  test/integration/targets/collections/posix.yml
  test/units/playbook/test_collectionsearch.py
  test/units/playbook/test_helpers.py
Labels: affects_2.10, bug, needs_revision, needs_triage, support:community, support:core, traceback

#68975 [test] wait_for simplehttpserver to come up online
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.10, bug, core_review, net_tools, support:core

#67625 Be strict about what is a boolean
  changelogs/fragments/play_bools_strict.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/playbook/base.py
  test/integration/targets/incidental_xml/tasks/test-children-elements-xml.yml
  test/integration/targets/playbook/aliases
  test/integration/targets/playbook/runme.sh
  test/integration/targets/playbook/types.yml
Labels: affects_2.10, bug, docs, files, m:xml, support:community, support:core, test

#69213 Handle non-ascii paths during role installation
  changelogs/fragments/69133-role-install-non-ascii.yml
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, bug, needs_revision, needs_triage, support:community, support:core

#69143 Redirect inventory script links
  changelogs/fragments/69139_inventory_doc_fix.yml
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_docker.rst
  docs/docsite/rst/scenario_guides/guide_infoblox.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.10, azure, cloud, core_review, docker, docs, docsite, has_issue, support:community, support:core
