Repository ansible/ansible, pull requests merged in 2020-11, with the labels that each got.

#72427 Fixed a typo in user_guide/playbooks_conditinals
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72436 Update pip tests to omit install dev extras to avoid dep issues
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.11, bug, core_review, needs_triage, packaging, support:core

#72380 Remove incidental_cs_role_permission
  shippable.yml
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_cs_role_permission/aliases
  test/integration/targets/incidental_cs_role_permission/meta/main.yml
  test/integration/targets/incidental_cs_role_permission/tasks/main.yml
  test/support/integration/plugins/module_utils/cloudstack.py
  test/support/integration/plugins/modules/cs_role.py
  test/support/integration/plugins/modules/cs_role_permission.py
Labels: affects_2.11, bug, core_review, small_patch, support:community, support:core, test

#72438 [stable-2.10] Update pip tests to omit install dev extras to avoid dep issues (#72436)
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.10, backport, needs_info, needs_template, needs_triage, packaging, support:core

#72439 [stable-2.9] Update pip tests to omit install dev extras to avoid dep issues (#72436)
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.9, backport, needs_info, needs_template, needs_triage, packaging, support:core

#72440 [stable-2.8] Update pip tests to omit install dev extras to avoid dep issues (#72436)
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.8, backport, needs_info, needs_template, needs_triage, packaging, support:core

#72353 Improve ansible-test classifications for collections
  changelogs/fragments/ansible-test-collection-classification.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72441 Fix fallout from #70028.
  test/integration/targets/collections/runme.sh
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72448 Restore ansible-test coverage config.
  lib/ansible/config/base.yml
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.11, bug, core_review, support:core, test

#72395 [stable-2.9] Fix ansible-test tar format handling.
  changelogs/fragments/ansible-test-remote-tar-format.yml
  test/lib/ansible_test/_internal/payload.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#72404 Fix ansible-test tar format handling.
  test/runner/lib/pytar.py
Labels: affects_2.8, backport, bug, core_review, support:core

#71824 Fix missing ansible.builtin FQCNs in hardcoded action names
  changelogs/fragments/71824-action-fqcns.yml
  lib/ansible/cli/adhoc.py
  lib/ansible/cli/console.py
  lib/ansible/cli/playbook.py
  lib/ansible/constants.py
  lib/ansible/executor/task_executor.py
  lib/ansible/executor/task_result.py
  lib/ansible/parsing/mod_args.py
  lib/ansible/playbook/__init__.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/included_file.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/playbook/role_include.py
  lib/ansible/playbook/task.py
  lib/ansible/playbook/task_include.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  lib/ansible/utils/fqcn.py
  lib/ansible/vars/manager.py
  test/integration/targets/debug/main_fqcn.yml
  test/integration/targets/debug/runme.sh
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/test_copious_include_tasks_fqcn.yml
  test/integration/targets/include_import/test_grandparent_inheritance_fqcn.yml
  test/integration/targets/include_import/test_include_loop_fqcn.yml
  test/integration/targets/include_import/test_nested_tasks_fqcn.yml
  test/integration/targets/include_import/test_role_recursion_fqcn.yml
  test/integration/targets/include_vars/tasks/main.yml
  test/integration/targets/include_vars/vars/services/service_vars_fqcn.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/inner_fqcn.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/main.yml
  test/integration/targets/includes/test_include_free.yml
  test/integration/targets/meta_tasks/runme.sh
  test/integration/targets/meta_tasks/test_end_host_all_fqcn.yml
  test/integration/targets/meta_tasks/test_end_host_fqcn.yml
  test/integration/targets/meta_tasks/test_end_play_fqcn.yml
  test/integration/targets/set_fact/incremental.yml
  test/integration/targets/set_fact/nowarn_clean_facts.yml
  test/integration/targets/set_fact/set_fact_bool_conv.yml
  test/integration/targets/set_fact/set_fact_bool_conv_jinja2_native.yml
  test/integration/targets/set_fact/set_fact_cached_1.yml
  test/integration/targets/set_fact/set_fact_cached_2.yml
  test/integration/targets/set_fact/set_fact_no_cache.yml
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core, utilities

#72269 clarify upstream release status of 2.10
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, core_review, docs, has_issue, stale_ci, support:core

#72469 Update Galaxy NG version used in CI
  test/lib/ansible_test/_internal/cloud/galaxy.py
Labels: affects_2.11, core_review, feature, needs_triage, support:core, test

#72464 Update playbooks_filters_ipaddr.rst
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#72329 docs: Transpose two words to correct a sentence.
  docs/docsite/keyword_desc.yml
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72461 Remove incidental tower integration tests
  shippable.yml
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_tower_credential_type/aliases
  test/integration/targets/incidental_tower_credential_type/tasks/main.yml
  test/integration/targets/incidental_tower_receive/aliases
  test/integration/targets/incidental_tower_receive/tasks/main.yml
  test/integration/targets/undefined/aliases
  test/integration/targets/undefined/tasks/main.yml
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/ansible_tower.py
  test/support/integration/plugins/modules/tower_credential_type.py
  test/support/integration/plugins/modules/tower_receive.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:community, support:core, test

#72051 Docsite: update user_guide/playbooks_module_defaults
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
Labels: affects_2.11, core_review, docs, support:core

#72164 hint in doc of git module to abort on missing http password
  lib/ansible/modules/git.py
Labels: affects_2.11, docs, module, new_contributor, shipit, source_control, support:core

#72354 Improve config.rst formatting
  docs/templates/config.rst.j2
  lib/ansible/config/base.yml
Labels: affects_2.11, core_review, docs, has_issue, support:core

#72335 Improve argument spec documentation
  docs/docsite/rst/dev_guide/developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: affects_2.11, docs, docsite, has_issue, shipit, support:core

#72390 Return error if cwd directory does not exist
  changelogs/fragments/run-command-cwd.yml
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_run_command.py
Labels: affects_2.11, bug, has_issue, needs_revision, new_contributor, support:community, support:core

#72483 [dnf] Some fixes around filtering
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/filters_check_mode.yml
Labels: affects_2.11, bug, core_review, module, needs_triage, packaging, small_patch, support:core

#72428 Adjust action groups to moved modules
  changelogs/fragments/72428-action-groups-docker-k8s.yml
  lib/ansible/executor/module_common.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#72502 Add changelog for #72483
  changelogs/fragments/72316-dnf-filtering.yml
Labels: affects_2.11, bug, community_review, needs_triage, owner_pr, support:community

#72408 Add verbose log for network action handler information
  lib/ansible/executor/task_executor.py
Labels: affects_2.11, bug, core_review, small_patch, support:core

#72412 remove redundant remote_user for local setting
  changelogs/fragments/play_context_remove_redundant_pwd.yml
  lib/ansible/playbook/play_context.py
  lib/ansible/plugins/connection/local.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72456 CLI - Specify jinja version in --version output
  changelogs/fragments/version-jinja.yml
  lib/ansible/cli/arguments/option_helpers.py
  test/units/cli/test_adhoc.py
Labels: affects_2.11, core_review, feature, python3, support:community, support:core

#72471 Replace some more FQCNs
  lib/ansible/constants.py
  lib/ansible/plugins/action/gather_facts.py
  lib/ansible/plugins/action/normal.py
  lib/ansible/plugins/callback/junit.py
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.11, bug, needs_revision, support:core

#72506 Style guide edit to the tools page
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#72490 [backport][2.9] clarify upstream release status of 2.10 (#72269)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.9, backport, core_review, docs, support:core

#72489 [backport][2.10] clarify upstream release status of 2.10 (#72269)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.10, backport, core_review, docs, support:core

#72494 Add info on how to contribute to **community**-maintained collections
  docs/docsite/rst/dev_guide/index.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#72465 Introduce Ansible plugin in Jetbrains section of doc
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core

#72485 Various intentional tests
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/argspec/tasks/password_no_log.yml
  test/integration/targets/incidental_k8s/README.md
  test/integration/targets/incidental_k8s/aliases
  test/integration/targets/incidental_k8s/defaults/main.yml
  test/integration/targets/incidental_k8s/files/crd-resource.yml
  test/integration/targets/incidental_k8s/files/kuard-extra-property.yml
  test/integration/targets/incidental_k8s/files/kuard-invalid-type.yml
  test/integration/targets/incidental_k8s/files/setup-crd.yml
  test/integration/targets/incidental_k8s/meta/main.yml
  test/integration/targets/incidental_k8s/tasks/append_hash.yml
  test/integration/targets/incidental_k8s/tasks/apply.yml
  test/integration/targets/incidental_k8s/tasks/crd.yml
  test/integration/targets/incidental_k8s/tasks/delete.yml
  test/integration/targets/incidental_k8s/tasks/full_test.yml
  test/integration/targets/incidental_k8s/tasks/lists.yml
  test/integration/targets/incidental_k8s/tasks/main.yml
  test/integration/targets/incidental_k8s/tasks/older_openshift_fail.yml
  test/integration/targets/incidental_k8s/tasks/openshift.yml
  test/integration/targets/incidental_k8s/tasks/validate_installed.yml
  test/integration/targets/incidental_k8s/tasks/validate_not_installed.yml
  test/integration/targets/incidental_k8s/tasks/waiter.yml
  test/integration/targets/incidental_sts_assume_role/aliases
  test/integration/targets/incidental_sts_assume_role/meta/main.yml
  test/integration/targets/incidental_sts_assume_role/tasks/main.yml
  test/integration/targets/incidental_sts_assume_role/templates/policy.json.j2
  test/integration/targets/interpreter_discovery_python/tasks/main.yml
  test/integration/targets/missing_required_lib/aliases
  test/integration/targets/missing_required_lib/library/missing_required_lib.py
  test/integration/targets/missing_required_lib/runme.sh
  test/integration/targets/missing_required_lib/runme.yml
  test/integration/targets/missing_required_lib/tasks/main.yml
  test/integration/targets/module_utils/library/test_recursive_diff.py
  test/integration/targets/module_utils/module_utils_common_dict_transformation.yml
  test/integration/targets/module_utils/runme.sh
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/k8s/__init__.py
  test/support/integration/plugins/module_utils/k8s/common.py
  test/support/integration/plugins/module_utils/k8s/raw.py
  test/support/integration/plugins/modules/iam_role.py
  test/support/integration/plugins/modules/k8s.py
  test/support/integration/plugins/modules/k8s_info.py
  test/support/integration/plugins/modules/python_requirements_info.py
  test/support/integration/plugins/modules/sts_assume_role.py
Labels: affects_2.11, bug, collection, collection:ansible.windows, core_review, support:community, support:core, test

#72500 [stable-2.10] [dnf] Some fixes around filtering (#72483)
  changelogs/fragments/72316-dnf-filtering.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/filters_check_mode.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, packaging, support:community, support:core

#72501 [stable-2.9] [dnf] Some fixes around filtering (#72483)
  changelogs/fragments/72316-dnf-filtering.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/filters_check_mode.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, packaging, support:community, support:core

#72511 Fix task get_name to always prepend the role name
  changelogs/fragments/72511-always-prepend-role-to-task-name.yml
  lib/ansible/playbook/task.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/common_handlers/handlers/main.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/test_fqcn_handlers/tasks/main.yml
Labels: affects_2.11, bug, needs_triage, shipit, support:community, support:core

#72512 [2.10] Add info on how to contribute to **community**-maintained collections
  docs/docsite/rst/dev_guide/index.rst
Labels: affects_2.10, backport, core_review, docs, docsite, needs_triage, small_patch, support:core

#72523 Remove incidental_setup_ec2 test target
  test/integration/targets/incidental_setup_ec2/aliases
  test/integration/targets/incidental_setup_ec2/defaults/main.yml
  test/integration/targets/incidental_setup_ec2/tasks/common.yml
  test/integration/targets/incidental_setup_ec2/vars/main.yml
Labels: affects_2.11, community_review, needs_triage, support:community, test

#72467 Emit warning when running on the controller with a Python older than 3.8
  changelogs/fragments/controller-python-warning.yml
  docs/docsite/rst/installation_guide/intro_installation.rst
  lib/ansible/cli/scripts/ansible_cli_stub.py
  lib/ansible/config/base.yml
  test/lib/ansible_test/_internal/ansible_util.py
Labels: affects_2.11, core_review, docs, feature, python3, support:community, support:core, test

#72476 show keyword documentation in ansible-doc
  MANIFEST.in
  changelogs/fragments/add_keywords_to_ansible_doc.yml
  docs/docsite/Makefile
  lib/ansible/cli/doc.py
  lib/ansible/keyword_desc.yml
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/integration/targets/ansible-doc/runme.sh
  test/sanity/ignore.txt
Labels: affects_2.11, core_review, docs, has_issue, support:community, support:core, test

#71496 iptables: Reorder comment postition
  changelogs/fragments/71496-iptables-reorder-comment-position.yml
  lib/ansible/modules/iptables.py
  test/units/modules/test_iptables.py
Labels: affects_2.11, bug, module, shipit, support:community, support:core, system

#72126 [ansible-test] use newer container images
  changelogs/fragments/ansible-base-update-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, core_review, packaging, support:community, support:core, test

#72544 Ensure blockinfile correctly returns backupfile
  changelogs/fragments/blockinfile_fix_no_backup_return.yml
  lib/ansible/modules/blockinfile.py
  test/integration/targets/blockinfile/tasks/add_block_to_existing_file.yml
Labels: affects_2.11, bug, core_review, files, module, needs_triage, support:community, support:core

#72550 [2.10] [ansible-test] use newer container images (#72126)
  changelogs/fragments/ansible-base-update-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, backport, core_review, needs_triage, support:community, support:core, test

#71904 Added caching mechanism for Galaxy API requests
  changelogs/fragments/galaxy-cache.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/api.py
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/units/galaxy/test_api.py
Labels: affects_2.11, core_review, feature, support:community, support:core

#72543 ensure local exposes correct user
  changelogs/fragments/ensure_local_user_correctness.yml
  lib/ansible/plugins/connection/local.py
  test/integration/targets/delegate_to/delegate_local_from_root.yml
  test/integration/targets/delegate_to/files/testfile
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#72552 Fix container discovery for the acme test plugin.
  changelogs/fragments/ansible-test-acme-test-plugin.yml
  test/lib/ansible_test/_internal/cloud/acme.py
Labels: affects_2.11, bug, cloud, core_review, crypto, support:community, support:core, test

#72554 [stable-2.10] Fix container discovery for the acme test plugin.
  changelogs/fragments/ansible-test-acme-test-plugin.yml
  test/lib/ansible_test/_internal/cloud/acme.py
Labels: affects_2.10, backport, bug, cloud, crypto, needs_revision, support:community, support:core, test

#72555 [stable-2.9] Fix container discovery for the acme test plugin.
  changelogs/fragments/ansible-test-acme-test-plugin.yml
  test/lib/ansible_test/_internal/cloud/acme.py
Labels: affects_2.9, backport, bug, cloud, core_review, crypto, support:community, support:core, test

#72556 [stable-2.8] Fix container discovery for the acme test plugin.
  changelogs/fragments/ansible-test-acme-test-plugin.yml
  test/runner/lib/cloud/acme.py
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#72563 Add coverage exporting to ansible-test
  changelogs/fragments/ansible-test-coverage-combine-export.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/coverage/__init__.py
  test/lib/ansible_test/_internal/coverage/combine.py
Labels: affects_2.11, feature, needs_revision, support:community, support:core, test

#72558 Add RHEL 7.9 testing target
  shippable.yml
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/yum.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.11, core_review, feature, needs_triage, packaging, support:core, test

#72565 [stable-2.10] Add coverage exporting to ansible-test
  changelogs/fragments/ansible-test-coverage-combine-export.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/coverage/__init__.py
  test/lib/ansible_test/_internal/coverage/combine.py
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#72516 Fix AIX networks facts when nestat is either missing or has incorrect permissions
  changelogs/fragments/72516-fix-aix-network-facts.yml
  lib/ansible/module_utils/facts/network/aix.py
Labels: affects_2.11, aix, bug, needs_revision, new_contributor, support:community, support:core

#72547 allow any type of unsafe data
  changelogs/fragments/unsafe_for_all.yml
  lib/ansible/parsing/yaml/constructor.py
  test/integration/targets/yaml_parsing/tasks/main.yml
  test/integration/targets/yaml_parsing/tasks/unsafe.yml
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72296 avoid fatal exception on invalid collection name
  changelogs/fragments/skip_invalid_coll_name_when_listing.yml
  lib/ansible/collections/list.py
  test/integration/targets/ansible-doc/runme.sh
Labels: affects_2.11, bug, core_review, support:community, support:core

#72510 Clarify collection paths in docs
  docs/docsite/rst/dev_guide/developing_collections.rst
  lib/ansible/config/base.yml
Labels: affects_2.11, core_review, docs, docsite, has_issue, support:core

#72564 Minor Edit: Fix typo in platform_index.rst
  docs/docsite/rst/network/user_guide/platform_index.rst
Labels: affects_2.11, core_review, docs, docsite, networking, new_contributor, small_patch, support:core

#72546 add return documentation for unarchive.
  changelogs/fragments/72546-unarchive-returndoc.yml
  lib/ansible/modules/unarchive.py
Labels: affects_2.11, core_review, docs, files, m:unarchive, module, new_contributor, support:community, support:core

#72578 Tweak galaxy CI tests to bring stability
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/templates/ansible.cfg.j2
Labels: affects_2.11, bug, community_review, needs_triage, support:community

#72580 Rollback pulp container to stabilise CI
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/lib/ansible_test/_internal/cloud/galaxy.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, test

#72586 Update intro_installation.rst with missing step of ansible installation on centos
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, new_contributor, support:core

#72595 Fix FreeBSD HTTP Kerberos setup
  test/integration/targets/get_url/tasks/use_gssapi.yml
  test/integration/targets/prepare_http_tests/library/httptester_kinit.py
  test/integration/targets/prepare_http_tests/tasks/kerberos.yml
  test/integration/targets/uri/tasks/use_gssapi.yml
Labels: affects_2.11, bug, core_review, needs_triage, net_tools, support:community, support:core

#72065 pause - do not hang if run in the background
  changelogs/fragments/32143-pause-background-hangs.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/test-pause-background.yml
  test/integration/targets/pause/test-pause.yml
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core, utilities

#72604 Fix super annoying Python 2.6 multiprocessing.Queue stack trace in CI
  changelogs/fragments/py26-multiprocess-queue-bug.yml
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#72593 Fix documented type of mode field in copy module
  lib/ansible/modules/copy.py
  test/sanity/ignore.txt
Labels: affects_2.11, core_review, docs, files, module, support:core, test

#72487 [2.10] Improve config.rst formatting
  docs/templates/config.rst.j2
  lib/ansible/config/base.yml
Labels: affects_2.10, backport, core_review, docs, support:core

#72488 [2.9] Improve config.rst formatting
  docs/templates/config.rst.j2
  lib/ansible/config/base.yml
Labels: affects_2.9, backport, core_review, docs, support:core

#72599 [backport][2.9] replace porting guides with stub pages - issue 71687 (#71988)
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.6.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.9, backport, core_review, docs, support:core

#72600 [backport][2.8] replace porting guides with stub pages - issue 71687 (#71988)
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.6.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.8, backport, core_review, docs, support:core

#72493 [2.10] Docsite: update user_guide/playbooks_module_defaults (#72051)
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#72617 example of exponential backup
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
Labels: affects_2.11, core_review, docs, support:core

#72486 [2.10] Improve argument spec documentation
  docs/docsite/rst/dev_guide/developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: affects_2.10, backport, core_review, docs, docsite, support:core

#72594 Rename to ansible-core
  .gitignore
  Makefile
  changelogs/fragments/70319-reduce-ignored-module-sanity-tests.yml
  changelogs/fragments/plugin-loader-collection-name.yml
  lib/ansible/_vendor/__init__.py
  lib/ansible/utils/display.py
  packaging/debian/changelog
  packaging/debian/control
  packaging/debian/rules
  setup.py
  test/integration/targets/collections/redirected.statichost.yml
  test/integration/targets/prepare_http_tests/tasks/kerberos.yml
  test/integration/targets/test_core/tasks/main.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.txt
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.py
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
  test/lib/ansible_test/_internal/util_common.py
  test/sanity/code-smell/deprecated-config.requirements.txt
  test/sanity/code-smell/package-data.requirements.txt
Labels: affects_2.11, bug, shipit, support:community, support:core, test

#72477 actual min changes needed for rhel8
  changelogs/fragments/test_rhel83.yml
  shippable.yml
  test/integration/targets/dnf/tasks/dnfinstallroot.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.11, core_review, files, packaging, support:community, support:core, test

#72616 document and warn when max_fail and free are used
  changelogs/fragments/max_fail_free.yml
  lib/ansible/keyword_desc.yml
  lib/ansible/plugins/strategy/free.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#72633 document what the name of a play is
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#72120 ansible-doc role arg spec support
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/roles/testrole/meta/argument_specs.yml
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/roles/testrole_with_no_argspecs/meta/empty
  test/integration/targets/ansible-doc/fakecollrole.output
  test/integration/targets/ansible-doc/fakerole.output
  test/integration/targets/ansible-doc/roles/test_role1/meta/argument_specs.yml
  test/integration/targets/ansible-doc/roles/test_role2/meta/empty
  test/integration/targets/ansible-doc/runme.sh
  test/integration/targets/ansible-doc/test_role1/README.txt
  test/integration/targets/ansible-doc/test_role1/meta/argument_specs.yml
  test/integration/targets/ansible/playbookdir_cfg.ini
  test/integration/targets/ansible/runme.sh
Labels: affects_2.11, core_review, feature, has_issue, support:community, support:core

#72305 Update developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: affects_2.11, docs, docsite, new_contributor, shipit, small_patch, support:core

#72197 Update ansible-runner tests version and deps
  changelogs/fragments/72197-upgrade-test-ansible-runner.yml
  test/integration/targets/ansible-runner/aliases
  test/integration/targets/ansible-runner/tasks/adhoc_example1.yml
  test/integration/targets/ansible-runner/tasks/playbook_example1.yml
  test/integration/targets/ansible-runner/tasks/setup.yml
Labels: affects_2.11, community_review, python3, support:community

#72447 arg_spec - rework _check_arguments()
  changelogs/fragments/arg_spec-check_arguments-handle_aliases.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/common/validation.py
  test/units/module_utils/common/parameters/test_check_arguments.py
Labels: affects_2.11, arg_spec, feature, needs_revision, support:community, support:core

#72362 Provide better decryption errors for single vault values
  changelogs/fragments/72276-provide-better-vault-error.yml
  lib/ansible/errors/__init__.py
  lib/ansible/parsing/vault/__init__.py
  lib/ansible/parsing/yaml/constructor.py
  lib/ansible/parsing/yaml/objects.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/task.py
  test/units/config/test_manager.py
  test/units/playbook/test_task.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72663 Move progress messages into `_display_progress` CM
  lib/ansible/galaxy/collection/__init__.py
Labels: affects_2.11, core_review, needs_triage, support:core

#72576 ansible-galaxy - source deps from all servers and not just parent
  changelogs/fragments/galaxy-servers.yml
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection/library/reset_pulp.py
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/pulp.yml
  test/integration/targets/ansible-galaxy-collection/templates/ansible.cfg.j2
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/lib/ansible_test/_internal/cloud/galaxy.py
Labels: affects_2.11, feature, has_issue, shipit, support:community, support:core, test

#72677 Add orig_exc context to error messages
  changelogs/fragments/68605-ansible-error-orig-exc-context.yml
  lib/ansible/errors/__init__.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72678 Add a versioning helper module
  lib/ansible/galaxy/dependency_resolution/__init__.py
  lib/ansible/galaxy/dependency_resolution/versioning.py
Labels: affects_2.11, core_review, support:core

#72685 Slight tweak to galaxy source selection
  lib/ansible/galaxy/collection/__init__.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#72545 Fix parsing of values when using an empty string as key (#57132)
  changelogs/fragments/72545_fix_facts_value_empty_key.yml
  lib/ansible/template/__init__.py
  test/integration/targets/set_fact/runme.sh
  test/integration/targets/set_fact/set_fact_empty_str_key.yml
Labels: affects_2.11, bug, new_contributor, shipit, support:community, support:core, utilities

#72608 [stable-2.10] Fix super annoying Python 2.6 multiprocessing.Queue stack trace in CI (#72604)
  changelogs/fragments/py26-multiprocess-queue-bug.yml
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72609 [stable-2.9] Fix super annoying Python 2.6 multiprocessing.Queue stack trace in CI (#72604)
  changelogs/fragments/py26-multiprocess-queue-bug.yml
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#72610 [stable-2.8] Fix super annoying Python 2.6 multiprocessing.Queue stack trace in CI (#72604)
  changelogs/fragments/py26-multiprocess-queue-bug.yml
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.8, backport, bug, core_review, needs_triage, support:community, support:core

#72689 Update intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, new_contributor, support:core

#67856 Ensure Ansible's unique filter preserves order
  changelogs/fragments/63417-unique-filter-preserve-order.yml
  lib/ansible/plugins/filter/mathstuff.py
  test/units/plugins/filter/test_mathstuff.py
Labels: affects_2.10, bug, shipit, support:community, support:core

#72603 Update VMware module development
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
Labels: affects_2.11, bug, core_review, docs, docsite, support:core

#72686 ansible-doc: replace DataLoader with from_yaml
  lib/ansible/cli/doc.py
Labels: affects_2.11, bug, core_review, needs_triage, support:core

#72718 added sample output for echo example
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, support:core

#72682 Remove incorrect changelog
  changelogs/changelog.yaml
  changelogs/fragments/69154-install-collection-from-git-repo.yml
  lib/ansible/galaxy/collection.py
Labels: affects_2.10, backport, core_review, docs, needs_triage, stale_ci, support:community, support:core

#72705 Update playbooks_filters_ipaddr.rst
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72756 Fix pip integration tests for pip 20.3
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.11, bug, needs_revision, needs_triage, packaging, support:core

#72746 Fix missing dashes in playbooks intro doc
  docs/docsite/rst/user_guide/playbooks_intro.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72755 Fix buggy example reduce_on_network (cherry-pick of #72705)
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.10, backport, core_review, docs, small_patch, support:core

#72761 ansible-test - add cryptography constraint for cffi
  changelogs/fragments/cffi-constraint.yml
  test/lib/ansible_test/_data/cryptography-constraints.txt
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72409 [stable-2.9] Try to load action plugin from the same collection as the module (#66701)
  changelogs/fragments/66701-action-plugin-load-network-modules.yaml
  lib/ansible/executor/task_executor.py
  test/units/executor/test_task_executor.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core
