Repository ansible/ansible, pull requests merged in 2020-02, with the labels that each got.

#66806 Bugfix of 54239: mysql_variables not supporting variables name with dot
  changelogs/fragments/66806-mysql_variables_not_support_variables_with_dot.yml
  lib/ansible/module_utils/database.py
  lib/ansible/modules/database/mysql/mysql_variables.py
  test/integration/targets/mysql_variables/tasks/mysql_variables.yml
Labels: affects_2.10, bug, database, has_issue, module, mysql, shipit, support:community, test

#65750 Fix pacman: "IndexError: list index out of range" #63077
  changelogs/fragments/65750-pacman.yml
  lib/ansible/modules/packaging/os/pacman.py
Labels: affects_2.10, bug, community_review, has_issue, module, packaging, support:community

#66939 Group ids are strings now
  lib/ansible/modules/remote_management/manageiq/manageiq_group.py
Labels: affects_2.10, automerge, bug, module, owner_pr, remote_management, shipit, small_patch, support:community

#65400 openssl_* modules: allow direct input and output for some files
  changelogs/fragments/65400-openssl-output.yml
  lib/ansible/module_utils/crypto.py
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/modules/crypto/openssl_csr.py
  lib/ansible/modules/crypto/openssl_dhparam.py
  lib/ansible/modules/crypto/openssl_pkcs12.py
  lib/ansible/modules/crypto/openssl_privatekey.py
  lib/ansible/modules/crypto/openssl_publickey.py
  test/integration/targets/openssl_certificate/tasks/ownca.yml
  test/integration/targets/openssl_certificate/tasks/removal.yml
  test/integration/targets/openssl_certificate/tasks/selfsigned.yml
  test/integration/targets/openssl_certificate/tests/validate_ownca.yml
  test/integration/targets/openssl_certificate/tests/validate_selfsigned.yml
  test/integration/targets/openssl_csr/tasks/impl.yml
  test/integration/targets/openssl_csr/tests/validate.yml
  test/integration/targets/openssl_dhparam/tasks/impl.yml
  test/integration/targets/openssl_dhparam/tests/validate.yml
  test/integration/targets/openssl_pkcs12/tasks/impl.yml
  test/integration/targets/openssl_pkcs12/tests/validate.yml
  test/integration/targets/openssl_privatekey/tasks/impl.yml
  test/integration/targets/openssl_privatekey/tests/validate.yml
  test/integration/targets/openssl_publickey/tasks/impl.yml
  test/integration/targets/openssl_publickey/tests/validate.yml
Labels: affects_2.10, crypto, feature, has_issue, module, shipit, support:community, test

#65638 openssh_keypair - do fail instead of regenerate for password protected and invalid keys
  changelogs/fragments/64436-openssh_keypair-add-password-protected-key-check.yml
  lib/ansible/modules/crypto/openssh_keypair.py
  test/integration/targets/openssh_keypair/tasks/main.yml
  test/integration/targets/openssh_keypair/tests/validate.yml
Labels: affects_2.10, bug, crypto, has_issue, module, shipit, support:community

#67026 Remove deprecated parameter for 2.10 in purefb_fs
  changelogs/fragments/67013-purefb_fs_deprecate_nfs_parameter.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/storage/purestorage/purefb_fs.py
Labels: affects_2.10, docs, feature, has_issue, module, pure_storage, shipit, storage, support:community, support:core

#67036 openssl_publickey: forgot to pass backend
  changelogs/fragments/67036-openssl_publickey-backend.yml
  lib/ansible/module_utils/crypto.py
  lib/ansible/modules/crypto/openssl_publickey.py
Labels: affects_2.10, bug, crypto, has_issue, module, owner_pr, shipit, support:community

#61521 Add maintainer for keycloak module
  .github/BOTMETA.yml
Labels: affects_2.9, botmeta, feature, needs_revision, stale_ci, stale_review, support:core

#66810 ovirt_job: add when job is detected but in state finished
  lib/ansible/modules/cloud/ovirt/ovirt_job.py
Labels: affects_2.10, automerge, bug, cloud, module, ovirt, owner_pr, shipit, small_patch, support:community

#67009 Document difference between ec2 and ec2_instance modules
  lib/ansible/modules/cloud/amazon/ec2.py
Labels: affects_2.10, aws, cloud, core_review, docs, module, support:core

#66940 update guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: affects_2.10, azure, cloud, core_review, docs, docsite, small_patch, support:core

#67010 Update template.py so that the task name matches the filename being updated
  lib/ansible/modules/files/template.py
Labels: affects_2.10, core_review, docs, files, module, new_contributor, small_patch, support:core

#66991 Fix indentation
  docs/docsite/rst/user_guide/playbooks_intro.rst
Labels: affects_2.10, core_review, docs, new_contributor, support:core

#66599 docker_container and docker_swarm_service: allow to actually disable healthcheck of image
  changelogs/fragments/66599-docker-healthcheck.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.10, automerge, bug, cloud, docker, has_issue, module, owner_pr, shipit, support:community

#66895 Add anchor to each parameter row
  docs/docsite/_static/ansible.css
  docs/templates/plugin.rst.j2
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.10, core_review, docs, has_issue, new_contributor, support:core

#67061 Revert "Temporarily remove AIX from test matrix."
  shippable.yml
Labels: affects_2.10, bug, needs_revision, support:core

#66892 postgresql_user_obj_stat_info: new module
  lib/ansible/modules/database/postgresql/postgresql_user_obj_stat_info.py
  test/integration/targets/postgresql_user_obj_stat_info/aliases
  test/integration/targets/postgresql_user_obj_stat_info/defaults/main.yml
  test/integration/targets/postgresql_user_obj_stat_info/meta/main.yml
  test/integration/targets/postgresql_user_obj_stat_info/tasks/main.yml
  test/integration/targets/postgresql_user_obj_stat_info/tasks/postgresql_user_obj_stat_info.yml
Labels: affects_2.10, community_review, database, module, new_module, new_plugin, postgresql, support:community, test

#66382 docker_container: change behavior for one-port container ranges to be same as docker CLI
  changelogs/fragments/66382-docker_container-port-range.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/ports.yml
Labels: affects_2.10, bug, cloud, core_review, docker, docs, has_issue, module, support:community, support:core, test

#67064 win_uri: fix up tests
  test/integration/targets/win_uri/tasks/main.yml
Labels: affects_2.10, bug, community_review, needs_triage, support:community, windows

#67068 Move url option from util to individual modules
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.WebRequest.psm1
  lib/ansible/modules/windows/win_get_url.ps1
  lib/ansible/modules/windows/win_uri.ps1
  lib/ansible/plugins/doc_fragments/url_windows.py
Labels: affects_2.10, core_review, feature, module, support:community, support:core, windows

#66956 Added -LogPath param from Install-ADDSForest to win_domain module
  lib/ansible/modules/windows/win_domain.ps1
  lib/ansible/modules/windows/win_domain.py
Labels: affects_2.10, bug, core_review, module, needs_triage, new_contributor, support:core, windows

#66604 Fix UNC path support in the powershell shell plugin
  changelogs/fragments/66604-powershell-unc-paths.yml
  lib/ansible/plugins/shell/powershell.py
  test/units/plugins/shell/test_powershell.py
Labels: affects_2.10, bug, core_review, support:community, support:core, windows

#66673 add jittered backoff for elb
  changelogs/fragments/66673-elb_target-awsretry.yaml
  lib/ansible/modules/cloud/amazon/elb_target.py
Labels: affects_2.10, aws, bug, cloud, community_review, module, new_contributor, support:community

#67071 docker_container: fix port order in docs
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.10, bug, cloud, community_review, docker, module, needs_triage, owner_pr, small_patch, support:community

#66918 removed_in_version is broken
  changelogs/fragments/66918-removed_in_version-fix.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/parameters.py
  test/units/module_utils/common/parameters/test_list_deprecations.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#65795 Warn if user has set "append" but not set "groups"
  changelogs/fragments/65795-warn-if-user-has-set-append-but-not-set-groups.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.10, feature, module, needs_revision, support:community, support:core, system

#67049 Adding network plugin changes for netconf and network_cli (#65708)
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
Labels: affects_2.9, backport, docs, docsite, networking, shipit, support:core

#66786 fixes ANSIBLE_DUPLICATE_YAML_DICT_KEY=error crashes
  changelogs/fragments/66786-fix-duplicate-yaml-key-error.yaml
  lib/ansible/parsing/yaml/constructor.py
Labels: affects_2.10, bug, core_review, needs_triage, new_contributor, support:community, support:core

#67063 Code cleanup and refactoring in ansible-test.
  changelogs/fragments/ansible-test-refactor.yml
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/__init__.py
  test/lib/ansible_test/_internal/cloud/azure.py
  test/lib/ansible_test/_internal/cloud/cloudscale.py
  test/lib/ansible_test/_internal/cloud/foreman.py
  test/lib/ansible_test/_internal/cloud/nios.py
  test/lib/ansible_test/_internal/cloud/openshift.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/coverage/combine.py
  test/lib/ansible_test/_internal/coverage/html.py
  test/lib/ansible_test/_internal/coverage/report.py
  test/lib/ansible_test/_internal/coverage/xml.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/csharp_import_analysis.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/encoding.py
  test/lib/ansible_test/_internal/env.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/import_analysis.py
  test/lib/ansible_test/_internal/integration/__init__.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_internal/powershell_import_analysis.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/provider/layout/collection.py
  test/lib/ansible_test/_internal/provider/source/git.py
  test/lib/ansible_test/_internal/provider/source/unversioned.py
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/lib/ansible_test/_internal/sanity/ansible_doc.py
  test/lib/ansible_test/_internal/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/types.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#67040 wait_for_connection: also retry interpreter discovery
  changelogs/fragments/wait_for_connection-interpreter-discovery-retry.yaml
  lib/ansible/plugins/action/wait_for_connection.py
Labels: affects_2.10, bug, core_review, support:community, support:core

#66517 Added Fix - Allow nxos_l2_interfaces to append the allowed vlans list
  lib/ansible/module_utils/network/nxos/config/l2_interfaces/l2_interfaces.py
  test/integration/targets/nxos_l2_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_l2_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_l2_interfaces/tests/cli/replaced.yaml
Labels: affects_2.10, bug, cisco, has_issue, needs_revision, networking, nxos, stale_review, support:network, test

#66071 service_mgr: detect systemd, even offline
  changelogs/fragments/service-mgr-systemd-offline.yml
  lib/ansible/module_utils/facts/system/service_mgr.py
Labels: affects_2.10, bug, has_issue, shipit, support:community, support:core

#67105 Removed deprecated items in Windows modules
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/windows/win_psexec.ps1
  lib/ansible/modules/windows/win_psexec.py
  lib/ansible/modules/windows/win_stat.ps1
  lib/ansible/modules/windows/win_stat.py
  test/integration/targets/win_stat/tasks/tests.yml
Labels: affects_2.10, core_review, docs, feature, module, needs_triage, support:community, support:core, windows

#67045 Asg mixed instance types
  changelogs/fragments/67045-ec2_asg_mixed_instance_policy.yml
  lib/ansible/modules/cloud/amazon/ec2_asg.py
  test/integration/targets/ec2_asg/tasks/main.yml
Labels: affects_2.10, aws, cloud, feature, module, shipit, support:community

#67117 Ovirt_host_network: add custom_properties
  lib/ansible/modules/cloud/ovirt/ovirt_host_network.py
Labels: affects_2.10, automerge, cloud, feature, module, ovirt, owner_pr, shipit, support:community

#65608 Replaces a open/close to validate access with os.access in azure stor…
  changelogs/fragments/65608.yml
  lib/ansible/modules/cloud/azure/azure_rm_storageblob.py
Labels: affects_2.10, automerge, azure, bug, cloud, has_issue, module, shipit, support:community

#54820 Bugfix for os_coe_cluster_template module (#54819)
  lib/ansible/modules/cloud/openstack/os_coe_cluster_template.py
Labels: affects_2.8, automerge, bug, cloud, module, new_contributor, openstack, shipit, support:community

#66653 Ovirt add docs ova backport
  changelogs/fragments/66652-ovirt_vm-add-docs-ova.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, backport, backport_verified, cloud, docs, module, ovirt, owner_pr, shipit, support:community

#67112 win_mapped_drive - Add WebDAV information (#67111)
  lib/ansible/modules/windows/win_mapped_drive.py
Labels: affects_2.9, backport, community_review, docs, module, needs_triage, owner_pr, support:community, windows

#67054 [backport] Network prompts (#66584)
  docs/docsite/rst/network/user_guide/network_working_with_command_output.rst
  lib/ansible/modules/network/ios/ios_command.py
  lib/ansible/modules/network/nxos/nxos_command.py
Labels: affects_2.9, backport, bug, cisco, core_review, docs, docsite, ios, module, networking, nxos, support:core, support:network

#67057 [2.9] Add anchor to each parameter row
  docs/docsite/_static/ansible.css
  docs/templates/plugin.rst.j2
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.9, backport, core_review, docs, needs_triage, support:core

#67053 [backport]Document network resource modules (#66226)
  docs/docsite/rst/network/user_guide/index.rst
  docs/docsite/rst/network/user_guide/network_resource_modules.rst
Labels: affects_2.9, backport, bug, core_review, docs, docsite, networking, support:core

#66200 add note for Azure Availbility Zone
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: affects_2.10, azure, cloud, docs, docsite, has_issue, shipit, support:core

#67081 Adding migration for netapp content
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, bug, core_review, needs_triage, support:core

#67132 migrate qradar and splunk httpapi plugins to collections
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, feature, needs_triage, shipit, small_patch, support:core

#67089 sns_topic: Retry on Topic 'NotFound' Exceptions when attempting to list subscriptions
  changelogs/fragments/67089-sns_topic-notfound-backoff.yaml
  lib/ansible/modules/cloud/amazon/sns_topic.py
Labels: affects_2.10, automerge, aws, bug, cloud, module, owner_pr, python3, shipit, support:community, traceback

#59772 Correctly determine if a local group exists.
  changelogs/fragments/59772-fix_ansible_issue_58619.yaml
  lib/ansible/modules/system/group.py
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.9, bug, has_issue, module, needs_revision, support:community, support:core, system

#67109 openssl_certificate: Selecting which acme directory to use to get certificate
  changelogs/fragments/67109-openssl_certificate-acme-directory.yaml
  lib/ansible/modules/crypto/openssl_certificate.py
Labels: affects_2.10, automerge, crypto, feature, module, new_contributor, shipit, support:community

#63362 Remove filtering from edgeos_config module
  changelogs/fragments/63362-remove-edgeos-filtering.yaml
  lib/ansible/modules/network/edgeos/edgeos_config.py
Labels: affects_2.10, bug, community_review, module, networking, new_contributor, support:community

#66062 fix systemd use in container builds
  changelogs/fragments/systemd-offline.yml
  lib/ansible/modules/system/systemd.py
Labels: P3, affects_2.10, bug, has_issue, module, shipit, support:community, support:core, system

#67139 Nuke all removed_module stubs
  .github/BOTMETA.yml
  lib/ansible/module_utils/common/removed.py
  lib/ansible/modules/cloud/amazon/_ec2_ami_find.py
  lib/ansible/modules/cloud/amazon/_ec2_ami_search.py
  lib/ansible/modules/cloud/amazon/_ec2_facts.py
  lib/ansible/modules/cloud/amazon/_ec2_remote_facts.py
  lib/ansible/modules/cloud/amazon/_ec2_vpc.py
  lib/ansible/modules/cloud/amazon/_s3.py
  lib/ansible/modules/cloud/azure/_azure.py
  lib/ansible/modules/cloud/cloudstack/_cs_nic.py
  lib/ansible/modules/cloud/docker/_docker.py
  lib/ansible/modules/cloud/openstack/_os_server_actions.py
  lib/ansible/modules/cloud/vmware/_vsphere_guest.py
  lib/ansible/modules/clustering/k8s/_kubernetes.py
  lib/ansible/modules/clustering/openshift/_oc.py
  lib/ansible/modules/crypto/acme/_letsencrypt.py
  lib/ansible/modules/network/aos/_aos_asn_pool.py
  lib/ansible/modules/network/aos/_aos_blueprint.py
  lib/ansible/modules/network/aos/_aos_blueprint_param.py
  lib/ansible/modules/network/aos/_aos_blueprint_virtnet.py
  lib/ansible/modules/network/aos/_aos_device.py
  lib/ansible/modules/network/aos/_aos_external_router.py
  lib/ansible/modules/network/aos/_aos_ip_pool.py
  lib/ansible/modules/network/aos/_aos_logical_device.py
  lib/ansible/modules/network/aos/_aos_logical_device_map.py
  lib/ansible/modules/network/aos/_aos_login.py
  lib/ansible/modules/network/aos/_aos_rack_type.py
  lib/ansible/modules/network/aos/_aos_template.py
  lib/ansible/modules/network/citrix/_netscaler.py
  lib/ansible/modules/network/cumulus/_cl_bond.py
  lib/ansible/modules/network/cumulus/_cl_bridge.py
  lib/ansible/modules/network/cumulus/_cl_img_install.py
  lib/ansible/modules/network/cumulus/_cl_interface.py
  lib/ansible/modules/network/cumulus/_cl_interface_policy.py
  lib/ansible/modules/network/cumulus/_cl_license.py
  lib/ansible/modules/network/cumulus/_cl_ports.py
  lib/ansible/modules/network/nxos/_nxos_ip_interface.py
  lib/ansible/modules/network/nxos/_nxos_mtu.py
  lib/ansible/modules/network/nxos/_nxos_portchannel.py
  lib/ansible/modules/network/nxos/_nxos_switchport.py
  lib/ansible/modules/network/panos/_panos_nat_policy.py
  lib/ansible/modules/network/panos/_panos_security_policy.py
  lib/ansible/modules/utilities/helper/_accelerate.py
  lib/ansible/modules/windows/_win_msi.py
  test/integration/targets/ansible-doc/library/test_no_docs_removed_status.py
  test/integration/targets/ansible-doc/test.yml
  test/sanity/ignore.txt
Labels: affects_2.10, aws, azure, bug, cisco, cloud, cloudstack, clustering, core_review, crypto, deprecated, docker, k8s, module, needs_maintainer, needs_triage, networking, nxos, openstack, support:community, support:core, support:network, utilities, vmware, windows

#56457 update nmap inventory plugin to not depend on reverse dns
  lib/ansible/plugins/inventory/nmap.py
Labels: affects_2.9, bug, community_review, needs_triage, stale_ci, support:community

#67141 Add code coverage target analysis to ansible-test.
  changelogs/fragments/ansible-test-coverage-analyze-targets.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/coverage/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/expand.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/missing.py
  test/lib/ansible_test/_internal/coverage/combine.py
  test/lib/ansible_test/_internal/coverage/erase.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/util_common.py
  test/utils/shippable/shippable.sh
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#67148 Revert "Temporarily remove AIX from test matrix."
  shippable.yml
Labels: affects_2.10, bug, core_review, support:core

#67123 Fix a typo in hcloud_image_info and hcloud_location_info
  lib/ansible/modules/cloud/hcloud/hcloud_image_info.py
  lib/ansible/modules/cloud/hcloud/hcloud_location_info.py
Labels: affects_2.10, automerge, bug, cloud, hcloud, module, owner_pr, shipit, small_patch, support:community

#67046 postgresql modules: fix sanity issues
  changelogs/fragments/67046-postgresql_modules_make_params_required.yml
  lib/ansible/modules/database/postgresql/postgresql_copy.py
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  lib/ansible/modules/database/postgresql/postgresql_info.py
  lib/ansible/modules/database/postgresql/postgresql_lang.py
  lib/ansible/modules/database/postgresql/postgresql_membership.py
  lib/ansible/modules/database/postgresql/postgresql_owner.py
  lib/ansible/modules/database/postgresql/postgresql_pg_hba.py
  lib/ansible/modules/database/postgresql/postgresql_publication.py
  lib/ansible/modules/database/postgresql/postgresql_query.py
  lib/ansible/modules/database/postgresql/postgresql_set.py
  lib/ansible/modules/database/postgresql/postgresql_slot.py
  lib/ansible/modules/database/postgresql/postgresql_subscription.py
  lib/ansible/modules/database/postgresql/postgresql_table.py
  lib/ansible/modules/database/postgresql/postgresql_tablespace.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, core_review, database, module, owner_pr, postgresql, support:community, support:core, test

#62134 allow groups, append with local user
  changelogs/fragments/62134-user-allow-groups-and-append-with-local.yml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.10, feature, module, needs_revision, new_contributor, support:community, support:core, system

#67149 Remove yaml stdout_callback from network tests
  test/integration/network-integration.cfg
Labels: WIP, affects_2.10, needs_info, needs_template, needs_triage, support:core

#67175 Revert "WIP: testing ansible-base (#67149)"
  test/integration/network-integration.cfg
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#67179 vmware_guest_network/test: disable the test
  test/integration/targets/vmware_guest_network/aliases
Labels: affects_2.10, bug, cloud, community_review, support:community, vmware

#67188 aws_az_info: Fix rename deprecaction warning
  lib/ansible/modules/cloud/amazon/aws_az_info.py
Labels: affects_2.10, automerge, aws, bug, cloud, module, owner_pr, shipit, small_patch, support:community

#66929 pmrun.py: Recreate the older behavior where the entire success command was quoted
  changelogs/fragments/66929-pmrun-quote-entire-success-command-string.yml
  lib/ansible/plugins/become/pmrun.py
Labels: affects_2.10, bug, community_review, needs_triage, support:community

#67203 Remove yaml stdout_callback plugin from network-integration tests
  test/integration/network-integration.cfg
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#66990 vmware_guest_tools_wait: add timeout parameter
  changelogs/fragments/vmware_guest_tools_wait_time.yaml
  lib/ansible/modules/cloud/vmware/vmware_guest_tools_wait.py
  test/integration/targets/vmware_guest_network/tasks/main.yml
  test/integration/targets/vmware_guest_tools_wait/tasks/main.yml
Labels: affects_2.10, cloud, community_review, feature, module, support:community, vmware

#66389 Clean up FILE_COMMON_ARGUMENTS
  changelogs/fragments/66389-file-common-arguments.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/database/postgresql/postgresql_pg_hba.py
  lib/ansible/modules/files/copy.py
  lib/ansible/modules/net_tools/basics/uri.py
  lib/ansible/modules/packaging/language/maven_artifact.py
  lib/ansible/plugins/action/copy.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, core_review, database, docs, files, has_issue, module, net_tools, packaging, postgresql, support:community, support:core, test

#67217 Improve unit test handling in CI after migration.
  test/utils/shippable/units.sh
Labels: affects_2.10, core_review, feature, support:core, test

#67215 Split handler tasks for setup_remote_tmp_dir.
  test/integration/targets/setup_remote_tmp_dir/handlers/main.yml
  test/integration/targets/setup_remote_tmp_dir/tasks/default-cleanup.yml
  test/integration/targets/setup_remote_tmp_dir/tasks/windows-cleanup.yml
Labels: affects_2.10, community_review, feature, support:community

#67218 Improve sanity test handling in CI after migration.
  test/utils/shippable/sanity.sh
Labels: affects_2.10, core_review, feature, support:core, test

#67222 Split tasks for prepare_http_tests.
  test/integration/targets/prepare_http_tests/tasks/default.yml
  test/integration/targets/prepare_http_tests/tasks/main.yml
  test/integration/targets/prepare_http_tests/tasks/windows.yml
Labels: affects_2.10, community_review, feature, support:community

#67225 Rename azure_rm_virtualmachineimage_facts test.
  test/integration/targets/azure_rm_virtualmachineimage_info/aliases
  test/integration/targets/azure_rm_virtualmachineimage_info/meta/main.yml
  test/integration/targets/azure_rm_virtualmachineimage_info/tasks/main.yml
Labels: affects_2.10, azure, bug, cloud, community_review, support:community

#67226 Rename azure_rm_workspace test.
  test/integration/targets/azure_rm_loganalyticsworkspace/aliases
  test/integration/targets/azure_rm_loganalyticsworkspace/meta/main.yml
  test/integration/targets/azure_rm_loganalyticsworkspace/tasks/main.yml
Labels: affects_2.10, azure, bug, cloud, community_review, support:community

#67231 Move tower_common tests with tower_organization.
  test/integration/targets/tower_common/aliases
  test/integration/targets/tower_common/tasks/main.yml
  test/integration/targets/tower_organization/tasks/main.yml
Labels: affects_2.10, bug, community_review, support:community, tower, web_infrastructure

#67229 Simplify package install in unarchive test.
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.10, core_review, feature, files, m:unarchive, support:core

#67232 Fix AWS test names and aliases.
  test/integration/targets/aws_config/aliases
  test/integration/targets/aws_eks_cluster/aliases
  test/integration/targets/aws_eks_cluster/defaults/main.yml
  test/integration/targets/aws_eks_cluster/files/eks-trust-policy.json
  test/integration/targets/aws_eks_cluster/meta/main.yml
  test/integration/targets/aws_eks_cluster/tasks/botocore_lt_1.10.1.yml
  test/integration/targets/aws_eks_cluster/tasks/botocore_lt_1.12.38.yml
  test/integration/targets/aws_eks_cluster/tasks/full_test.yml
  test/integration/targets/aws_eks_cluster/tasks/main.yml
  test/integration/targets/aws_inspector_target/aliases
  test/integration/targets/aws_inspector_target/defaults/main.yml
  test/integration/targets/aws_inspector_target/tasks/main.yml
  test/integration/targets/aws_ssm_parameter_store/aliases
  test/integration/targets/aws_ssm_parameter_store/defaults/main.yml
  test/integration/targets/aws_ssm_parameter_store/tasks/main.yml
  test/integration/targets/cloudwatchlogs/aliases
  test/integration/targets/ec2_vpc_vpn_info/aliases
  test/integration/targets/ec2_vpc_vpn_info/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, support:community

#67234 Rename digital_ocean_ssh_key test.
  test/integration/targets/digital_ocean_sshkey/aliases
  test/integration/targets/digital_ocean_sshkey/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, digital_ocean, support:community

#67235 Rename netapp_eseries_* tests to match modules.
  test/integration/targets/netapp_e_alerts/aliases
  test/integration/targets/netapp_e_alerts/tasks/main.yml
  test/integration/targets/netapp_e_alerts/tasks/run.yml
  test/integration/targets/netapp_e_asup/aliases
  test/integration/targets/netapp_e_asup/tasks/main.yml
  test/integration/targets/netapp_e_asup/tasks/run.yml
  test/integration/targets/netapp_e_drive_firmware/aliases
  test/integration/targets/netapp_e_drive_firmware/tasks/main.yml
  test/integration/targets/netapp_e_drive_firmware/tasks/run.yml
  test/integration/targets/netapp_e_firmware/aliases
  test/integration/targets/netapp_e_firmware/tasks/main.yml
  test/integration/targets/netapp_e_firmware/tasks/run.yml
  test/integration/targets/netapp_e_global/aliases
  test/integration/targets/netapp_e_global/tasks/main.yml
  test/integration/targets/netapp_e_global/tasks/run.yml
  test/integration/targets/netapp_e_host/aliases
  test/integration/targets/netapp_e_host/tasks/main.yml
  test/integration/targets/netapp_e_host/tasks/run.yml
  test/integration/targets/netapp_e_iscsi_interface/aliases
  test/integration/targets/netapp_e_iscsi_interface/tasks/main.yml
  test/integration/targets/netapp_e_iscsi_interface/tasks/run.yml
  test/integration/targets/netapp_e_iscsi_target/aliases
  test/integration/targets/netapp_e_iscsi_target/tasks/main.yml
  test/integration/targets/netapp_e_iscsi_target/tasks/run.yml
  test/integration/targets/netapp_e_lun_mapping/aliases
  test/integration/targets/netapp_e_lun_mapping/tasks/main.yml
  test/integration/targets/netapp_e_lun_mapping/tasks/run.yml
  test/integration/targets/netapp_e_storagepool/aliases
  test/integration/targets/netapp_e_storagepool/tasks/main.yml
  test/integration/targets/netapp_e_storagepool/tasks/run.yml
  test/integration/targets/netapp_e_volume/aliases
  test/integration/targets/netapp_e_volume/tasks/main.yml
  test/integration/targets/netapp_e_volume/tasks/run.yml
Labels: affects_2.10, bug, community_review, netapp, storage, support:community, test

#67237 Renamed meraki_webhooks test.
  test/integration/targets/meraki_webhook/aliases
  test/integration/targets/meraki_webhook/tasks/main.yml
  test/integration/targets/meraki_webhook/tasks/tests.yml
Labels: affects_2.10, bug, cisco, community_review, meraki, networking, support:community, test

#67238 Rename rabbitmq lookup test.
  test/integration/targets/lookup_rabbitmq/aliases
  test/integration/targets/lookup_rabbitmq/meta/main.yml
  test/integration/targets/lookup_rabbitmq/tasks/main.yml
  test/integration/targets/lookup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.10, bug, community_review, support:community

#67239 Rename scaleway_ssh test.
  test/integration/targets/scaleway_sshkey/aliases
  test/integration/targets/scaleway_sshkey/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, scaleway, support:community, test

#67240 Rename aci_switch_leaf_policy_profile test.
  test/integration/targets/aci_switch_policy_leaf_profile/aliases
  test/integration/targets/aci_switch_policy_leaf_profile/tasks/main.yml
Labels: aci, affects_2.10, bug, cisco, committer_review, networking, support:certified, test

#66423 Integration tests for notify with variable list
  test/integration/targets/handlers/roles/test_templating_in_handlers/handlers/main.yml
  test/integration/targets/handlers/roles/test_templating_in_handlers/tasks/main.yml
  test/integration/targets/handlers/test_templating_in_handlers.yml
Labels: affects_2.10, needs_triage, shipit, support:community

#67247 Fix describing transit gateways with backoff in ec2_transit_gateway
  changelogs/fragments/67247-fix-ec2_transit_gateway-retries.yaml
  lib/ansible/modules/cloud/amazon/ec2_transit_gateway.py
Labels: affects_2.10, aws, bug, cloud, community_review, module, owner_pr, support:community

#66996 fixed zabbix no longer returning macros as part of the template
  lib/ansible/modules/monitoring/zabbix/zabbix_template.py
Labels: affects_2.10, automerge, bug, module, monitoring, owner_pr, shipit, small_patch, support:community, zabbix

#67198 Fixes wrong return value docs in cloudscale_server
  lib/ansible/modules/cloud/cloudscale/cloudscale_server.py
Labels: affects_2.10, cloud, community_review, docs, module, new_contributor, support:community

#67276 vmware_guest_tools_wait: disable the function test
  test/integration/targets/vmware_guest_tools_wait/aliases
Labels: affects_2.10, bug, cloud, community_review, support:community, vmware

#67085 Revert "Make cloudfront_info work with Python3 …"
  changelogs/fragments/66695-cloudfront-info-python3-fix.yml
  lib/ansible/modules/cloud/amazon/cloudfront_info.py
Labels: affects_2.10, automerge, aws, cloud, module, python3, shipit, support:community

#67171 add info on creating doc fragments in a collection
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#67162 VMware: Add example for retrieve Product, Version, Build, Update info for ESXi
  lib/ansible/modules/cloud/vmware/vmware_host_facts.py
Labels: affects_2.10, cloud, community_review, docs, module, support:community, vmware

#59597 Allow default network mode, as required for windows containers.
  changelogs/fragments/59597-ecs-allow_default_network_mode.yml
  lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py
Labels: affects_2.9, aws, cloud, community_review, feature, module, new_contributor, support:community

#67272 ovirt_disk: update interface docs
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.10, cloud, community_review, docs, module, ovirt, owner_pr, small_patch, support:community

#67220 Slash missing from /etc/
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.10, core_review, docs, small_patch, support:core

#67248 Link the testing documentation to the module documenting page
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#66513 Use UTF-8 without a BOM for win coverage (#66510) - 2.9
  changelogs/fragments/win-coverage-out-encoding.yaml
  lib/ansible/executor/powershell/coverage_wrapper.ps1
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core, windows

#66587 [stable-2.9] file - change _diff_peek type in argument_spec (#60428)
  changelogs/fragments/file-fix-diff-peek-arg-spec.yaml
  lib/ansible/modules/files/file.py
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/file/tasks/diff_peek.yml
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, files, module, stale_ci, support:community, support:core

#66588 [stable-2.9] podman - fix rootless container copy no pause (#66583)
  changelogs/fragments/66263-podman-connection-no-pause-rootless.yml
  lib/ansible/plugins/connection/podman.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, stale_ci, support:community

#66661 [stable-2.9] synchronize - fix password authentication (#66542)
  changelogs/fragments/56629-synchronize-password-auth.yaml
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_run_command.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#66768 [stable-2.9] display - remove extra new line after warning message (#65199)
  changelogs/fragments/warnings-remove-extra-newline.yaml
  lib/ansible/utils/display.py
  test/units/utils/display/test_display.py
  test/units/utils/display/test_warning.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#66769 [stable-2.9] Reinstall i18n files for PostgreSQL tests (#66734)
  test/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, stale_ci, support:community

#66642 [stable-2.9] jenkins_job module: fix for python3
  changelogs/fragments/54958-jenkins-job-python3-support.yml
  lib/ansible/modules/web_infrastructure/jenkins_job.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, module, python3, stale_ci, support:community, web_infrastructure

#66677 Backport 2.9: nxos_telemetry - Fix fact gathering for sensor-groups
  changelogs/fragments/66439_fix_nxos_telemetry_facts.yaml
  lib/ansible/module_utils/network/nxos/cmdref/telemetry/telemetry.py
  test/integration/targets/nxos_telemetry/tests/common/deleted.yaml
  test/integration/targets/nxos_telemetry/tests/common/merged.yaml
  test/integration/targets/nxos_telemetry/tests/common/replaced.yaml
  test/units/modules/network/nxos/fixtures/nxos_telemetry/N9K_SGs.cfg
  test/units/modules/network/nxos/test_nxos_telemetry.py
Labels: affects_2.9, backport, backport_verified, bug, cisco, core_review, networking, nxos, stale_ci, support:community, support:core, support:network, test

#66776 [stable-2.9] pamd: Fix AttributeError when removing the first or last rule (#66398)
  changelogs/fragments/66398-pamd_fix-attributeerror-when-removing-first-line.yml
  lib/ansible/modules/system/pamd.py
  test/units/modules/system/test_pamd.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, stale_ci, support:community, support:core, system

#66805 [stable-2.9] throttle: fix linear based strategies (#65422)
  changelogs/fragments/65422-fix-throttle-with-linear-strategy.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/throttle/group_vars/all.yml
  test/integration/targets/throttle/runme.sh
  test/integration/targets/throttle/test_throttle.py
  test/integration/targets/throttle/test_throttle.yml
  test/units/plugins/strategy/test_strategy_base.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#66886 Backport ovirt network correct
  changelogs/fragments/66859-ovirt_netwrok-correct-external-provider-check.yml
  lib/ansible/modules/cloud/ovirt/ovirt_network.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#66890 Ovirt add search with space
  changelogs/fragments/59184-ovirt_add_search_with_space.yml
  lib/ansible/module_utils/ovirt.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, has_issue, ovirt, owner_pr, shipit, support:community

#66903 [stable-2.9] tests: ipify_facts: retry on fail (#66897)
  test/integration/targets/ipify_facts/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, stale_ci, support:community

#66910 [stable-2.9] include_vars - fix stack trace when run ad-hoc with dirs parameter(#66581)
  changelogs/fragments/include_vars-ad-hoc-stack-trace-fix.yaml
  lib/ansible/plugins/action/include_vars.py
  test/integration/targets/include_vars-ad-hoc/aliases
  test/integration/targets/include_vars-ad-hoc/dir/inc.yml
  test/integration/targets/include_vars-ad-hoc/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#67011 [2.9] Fix pacman: "IndexError: list index out of range" #63077
  changelogs/fragments/65750-pacman.yml
  lib/ansible/modules/packaging/os/pacman.py
Labels: affects_2.9, backport, backport_verified, bug, module, packaging, shipit, support:community

#67056 [2.9] docker_container and docker_swarm_service: allow to actually disable healthcheck of image
  changelogs/fragments/66599-docker-healthcheck.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, docker, module, owner_pr, support:community

#67066 win_uri: fix up tests (#67064) - 2.9
  test/integration/targets/win_uri/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, support:community, windows

#67076 Backport ovirt job
  changelogs/fragments/66810-ovirt_job-add-when-job-is-detected-but-in-state-finished.yml
  lib/ansible/modules/cloud/ovirt/ovirt_job.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#67288 Link the testing documentation to the module documenting page - backport of #67248
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.9, backport, backport_verified, core_review, docs, docsite, support:core

#66274 Make banner detection non-greedy in ios_banner (#63092)
  changelogs/fragments/66274-ios_banner_nongreedy.yml
  lib/ansible/modules/network/ios/ios_banner.py
  test/integration/targets/ios_banner/tests/cli/multiple-login-exec.yaml
  test/units/modules/network/ios/fixtures/ios_banner_show_running_config_ios12.txt
  test/units/modules/network/ios/test_ios_banner.py
Labels: affects_2.9, backport, backport_verified, bug, cisco, core_review, ios, module, networking, support:community, support:core, support:network, test

#67241 Backport of pmrun.py: Recreate the older behavior where the entire success command was quoted
  changelogs/fragments/67241-pmrun-quote-entire-success-command-string.yml
  lib/ansible/plugins/become/pmrun.py
Labels: affects_2.9, backport, bug, community_review, needs_triage, support:community

#67209 Backport PR #66219 to support the backport of PR #64733
  changelogs/fragments/66219-update-user-module-for-64733.yml
  lib/ansible/modules/system/user.py
Labels: affects_2.9, backport, bug, core_review, module, support:community, support:core, system

#67208 Backports/2.9/67188 aws_az_info: Fix rename deprecaction warning
  changelogs/fragments/67188-fix-aws_az_info-deprecation.yaml
  lib/ansible/modules/cloud/amazon/aws_az_info.py
Labels: affects_2.9, aws, backport, backport_verified, bug, cloud, community_review, module, needs_triage, owner_pr, support:community

#66514 Backport declared support for Python 3.8 @ Trove classifiers
  setup.py
Labels: affects_2.9, backport, core_review, feature, needs_triage, python3, small_patch, stale_ci, support:core

#66493 [stable-2.9]add one note to help ansible user to understand the requi…
  changelogs/fragments/65969-iosxr-command-requirements-update.yaml
  lib/ansible/modules/network/iosxr/iosxr_command.py
Labels: affects_2.9, backport, bug, cisco, core_review, ios, iosxr, module, needs_triage, networking, stale_ci, support:community, support:network

#66559 [2.9] gitlab_project_variable: Remove sensitive information
  changelogs/fragments/gitlab_project_variable.yml
  lib/ansible/modules/source_control/gitlab_project_variable.py
Labels: affects_2.9, backport, bug, gitlab, module, needs_triage, new_module, new_plugin, shipit, source_control, support:community

#67285 Remove conflicting integration test aliases.
  test/integration/targets/acme_certificate/aliases
  test/integration/targets/apt_repository/aliases
  test/integration/targets/ec2_vol/aliases
  test/integration/targets/postgresql_privs/aliases
  test/integration/targets/service/aliases
  test/integration/targets/timezone/aliases
Labels: affects_2.10, bug, cloud, core_review, crypto, database, packaging, postgresql, support:community, support:core, system, test

#66578 Backport #66209 to 2.9 series
  changelogs/fragments/64963-dnf_idempotence.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/repo.yml
Labels: affects_2.9, backport, backport_verified, core_review, has_issue, module, needs_triage, packaging, stale_ci, support:community, support:core

#67279 [backport][2.9] add info on creating doc fragments in a collection (#67171)
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.9, backport, backport_verified, bug, core_review, docs, docsite, support:core

#67176 group - correctly determine if a local group exists. (#59772)
  changelogs/fragments/59772-fix_ansible_issue_58619.yaml
  lib/ansible/modules/system/group.py
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#66680 Backport PR to fix the duplication of IPV6 address with replace state in ios_l3_interfaces module
  changelogs/fragments/66654-fix-ipv6-duplication-for-replace-state-ios-l3-interfaces.yaml
  lib/ansible/module_utils/network/ios/utils/utils.py
  test/integration/targets/ios_l3_interfaces/tests/cli/replaced.yaml
  test/integration/targets/ios_l3_interfaces/vars/main.yaml
Labels: affects_2.9, backport, bug, cisco, core_review, has_issue, ios, needs_triage, networking, stale_ci, support:community, support:network, test

#66752 [2.9] galaxy: fix AttributeError on empty requirements.yml (#66726)
  changelogs/fragments/66726-galaxy-fix-attribute-error.yml
  lib/ansible/cli/galaxy.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#66757 Backport/2.9/55220
  changelogs/fragments/55220-Fix-to-enable-edit-Cisco-IOS-macros.yaml
  lib/ansible/plugins/cliconf/ios.py
  test/integration/targets/ios_config/templates/basic/macro.j2
  test/integration/targets/ios_config/tests/cli/macro.yaml
Labels: affects_2.9, backport, bug, cisco, core_review, has_issue, ios, needs_triage, networking, stale_ci, support:community, support:network, test

#66933 When no pool quantity is set, then do not set quantity to 1 (#66807)
  changelogs/fragments/66807-redhat_subscription-no-default-quantity.yaml
  lib/ansible/modules/packaging/os/redhat_subscription.py
  test/units/modules/packaging/os/test_redhat_subscription.py
Labels: affects_2.9, backport, bug, core_review, module, packaging, stale_ci, support:community, support:core

#66949 [stable-2.9] nxos_facts: Don't fail if faninfo isn't reported (#66866)
  changelogs/fragments/66866_nxos_fan_facts.yaml
  lib/ansible/module_utils/network/nxos/facts/legacy/base.py
Labels: affects_2.9, backport, bug, cisco, core_review, needs_triage, networking, nxos, stale_ci, support:community, support:network

#66952 Bump minimum openstacksdk version when using os_network/dns_domain
  changelogs/fragments/64495-os_network-openstacksdk-min.yml
  lib/ansible/modules/cloud/openstack/os_network.py
Labels: affects_2.9, backport, bug, cloud, module, openstack, owner_pr, shipit, support:community

#66998 Backport of 66995: mysql_user doesnt support privileges with underscore
  changelogs/fragments/66974-mysql_user_doesnt_support_privs_with_underscore.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.9, backport, bug, community_review, database, module, mysql, needs_triage, owner_pr, stale_ci, support:community

#67001 [BACKPORT 2.9] Fix user_agent string not getting set
  changelogs/fragments/66914-purefa_user_string.yaml
  lib/ansible/module_utils/pure.py
Labels: affects_2.9, backport, bug, community_review, needs_triage, owner_pr, pure_storage, stale_ci, support:community

#67007 Backport of 66806: mysql_variables not supporting variables name with dot
  changelogs/fragments/66806-mysql_variables_not_support_variables_with_dot.yml
  lib/ansible/module_utils/database.py
  lib/ansible/modules/database/mysql/mysql_variables.py
Labels: affects_2.9, backport, bug, community_review, database, module, mysql, needs_triage, stale_ci, support:community

#67039 [2.9] openssl_publickey: forgot to pass backend
  changelogs/fragments/67036-openssl_publickey-backend.yml
  lib/ansible/module_utils/crypto.py
  lib/ansible/modules/crypto/openssl_publickey.py
Labels: affects_2.9, backport, bug, community_review, crypto, module, needs_triage, owner_pr, support:community

#67073 [Backport/2.9/66604] Fix powershell path_join for UNC path handling
  changelogs/fragments/66604-powershell-unc-paths.yml
  lib/ansible/plugins/shell/powershell.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, windows

#67104 [2.9] removed_in_version is broken
  changelogs/fragments/66918-removed_in_version-fix.yml
  lib/ansible/module_utils/common/parameters.py
  test/units/module_utils/common/parameters/test_list_deprecations.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#67120 Make nios_txt_record use text field for object lookup
  lib/ansible/modules/net_tools/nios/nios_txt_record.py
Labels: affects_2.9, backport, bug, committer_review, infoblox, module, needs_triage, net_tools, networking, new_contributor, small_patch, support:certified

#67136 wait_for_connection: also retry interpreter discovery (#67040)
  changelogs/fragments/wait_for_connection-interpreter-discovery-retry.yaml
  lib/ansible/plugins/action/wait_for_connection.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#67140 fix systemd use in container builds (#66062)
  changelogs/fragments/systemd-offline.yml
  lib/ansible/modules/system/systemd.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#67173 [stable-2.9] nxos_interfaces: RMB state fixes
  changelogs/fragments/63960_fix_nxos_interfaces.yaml
  lib/ansible/module_utils/network/nxos/argspec/interfaces/interfaces.py
  lib/ansible/module_utils/network/nxos/config/interfaces/interfaces.py
  lib/ansible/module_utils/network/nxos/facts/interfaces/interfaces.py
  lib/ansible/module_utils/network/nxos/nxos.py
  lib/ansible/modules/network/nxos/nxos_interfaces.py
  test/integration/targets/nxos_interfaces/tasks/main.yaml
  test/integration/targets/nxos_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_interfaces/tests/cli/replaced.yaml
  test/units/modules/network/nxos/test_nxos_interfaces.py
Labels: affects_2.9, backport, bug, cisco, core_review, module, needs_triage, networking, nxos, support:community, support:core, support:network, test

#67289 ansible-test - add constraint for virtualenv
  changelogs/fragments/ansible-test-constraints-virtualenv.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.10, bug, has_issue, needs_revision, support:community, support:core, test

#67294 Split up lookup integration tests.
  test/integration/targets/lookup_cartesian/aliases
  test/integration/targets/lookup_cartesian/tasks/main.yml
  test/integration/targets/lookup_env/aliases
  test/integration/targets/lookup_env/tasks/main.yml
  test/integration/targets/lookup_file/aliases
  test/integration/targets/lookup_file/tasks/main.yml
  test/integration/targets/lookup_ini/aliases
  test/integration/targets/lookup_ini/lookup-8859-15.ini
  test/integration/targets/lookup_ini/lookup.ini
  test/integration/targets/lookup_ini/lookup.properties
  test/integration/targets/lookup_ini/runme.sh
  test/integration/targets/lookup_ini/test_lookup_properties.yml
  test/integration/targets/lookup_password/aliases
  test/integration/targets/lookup_password/runme.sh
  test/integration/targets/lookup_password/runme.yml
  test/integration/targets/lookup_password/tasks/main.yml
  test/integration/targets/lookup_pipe/aliases
  test/integration/targets/lookup_pipe/tasks/main.yml
  test/integration/targets/lookup_template/aliases
  test/integration/targets/lookup_template/tasks/main.yml
  test/integration/targets/lookup_template/templates/hello.txt
  test/integration/targets/lookup_template/templates/hello_string.txt
  test/integration/targets/lookup_template/templates/world.txt
  test/integration/targets/lookup_url/aliases
  test/integration/targets/lookup_url/meta/main.yml
  test/integration/targets/lookup_url/tasks/main.yml
  test/integration/targets/lookup_vars/aliases
  test/integration/targets/lookup_vars/tasks/main.yml
  test/integration/targets/lookups/lookups.yml
  test/integration/targets/lookups/runme.sh
  test/integration/targets/lookups/tasks/main.yml
  test/integration/targets/path_lookups/aliases
  test/integration/targets/path_lookups/play.yml
  test/integration/targets/path_lookups/roles/showfile/tasks/main.yml
  test/integration/targets/path_lookups/runme.sh
  test/integration/targets/path_lookups/testplay.yml
  test/integration/targets/templating_lookups/aliases
  test/integration/targets/templating_lookups/runme.sh
  test/integration/targets/templating_lookups/runme.yml
  test/integration/targets/templating_lookups/template_deepcopy/hosts
  test/integration/targets/templating_lookups/template_deepcopy/playbook.yml
  test/integration/targets/templating_lookups/template_deepcopy/template.in
  test/integration/targets/templating_lookups/template_lookup_vaulted/playbook.yml
  test/integration/targets/templating_lookups/template_lookup_vaulted/templates/vaulted_hello.j2
  test/integration/targets/templating_lookups/template_lookup_vaulted/test_vault_pass
  test/integration/targets/templating_lookups/template_lookups/tasks/main.yml
  test/integration/targets/templating_lookups/template_lookups/vars/main.yml
  test/sanity/ignore.txt
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#67296 Split out platform specific cleanup in pip test.
  test/integration/targets/pip/tasks/default_cleanup.yml
  test/integration/targets/pip/tasks/freebsd_cleanup.yml
  test/integration/targets/pip/tasks/main.yml
Labels: affects_2.10, core_review, feature, packaging, support:core

#67299 [stable-2.7] ansible-test - add constraint for virtualenv (#67289)
  changelogs/fragments/ansible-test-constraints-virtualenv.yml
  test/runner/setup/remote.sh
Labels: affects_2.7, backport, bug, core_review, support:community, support:core

#67297 [stable-2.9] ansible-test - add constraint for virtualenv (#67289)
  changelogs/fragments/ansible-test-constraints-virtualenv.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.9, backport, bug, needs_revision, support:community, support:core, test

#67298 [stable-2.8] ansible-test - add constraint for virtualenv (#67289)
  changelogs/fragments/ansible-test-constraints-virtualenv.yml
  test/runner/setup/remote.sh
Labels: affects_2.8, backport, bug, needs_revision, support:community, support:core

#67186 nxos_igmp_interface: Remove deprecated keys oif_prefix and oif_source
  changelogs/fragments/67186_remove_deprecated_keys_nxos.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/network/nxos/nxos_igmp_interface.py
  test/integration/targets/nxos_igmp_interface/tests/common/sanity.yaml
Labels: affects_2.10, bug, cisco, docs, has_issue, module, networking, nxos, shipit, support:community, support:core, support:network, test

#67282 Remove options from some vmware modules that aren't used in the code
  changelogs/fragments/67282-remove_options_from_some_vmware_modules_that_aren't_used_in_the_code.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/modules/cloud/vmware/vmware_guest_find.py
  lib/ansible/modules/cloud/vmware/vmware_vmkernel.py
  test/integration/targets/vmware_guest_find/tasks/main.yml
Labels: affects_2.10, cloud, docs, has_issue, module, shipit, support:community, support:core, vmware

#67164 Update elasticache_parameter_group.py
  lib/ansible/modules/cloud/amazon/elasticache_parameter_group.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, needs_triage, new_contributor, small_patch, support:community

#67082 Update aws_batch_job_definition.py to change the example doc
  lib/ansible/modules/cloud/amazon/aws_batch_job_definition.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, new_contributor, small_patch, support:community

#66973 Update yarn.py
  lib/ansible/modules/packaging/language/yarn.py
Labels: affects_2.10, community_review, docs, module, needs_triage, packaging, small_patch, stale_ci, support:community

#66899 Update virt.py
  lib/ansible/modules/cloud/misc/virt.py
Labels: affects_2.10, cloud, community_review, docs, module, needs_triage, new_contributor, small_patch, stale_ci, support:community, virt
