Repository ansible/ansible, pull requests merged in 2020-12, with the labels that each got.

#56565 Autodecryption does not work with remote_src=yes
  lib/ansible/modules/copy.py
Labels: affects_2.9, bug, core_review, docs, files, module, new_contributor, small_patch, support:core

#70799 distribution - handle NetBSD OS Family
  changelogs/fragments/distribution_support_netbsd.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/netbsd_8.2.json
Labels: affects_2.11, bug, shipit, support:community, support:core

#72680 added more specific info about user scope
  lib/ansible/modules/systemd.py
Labels: affects_2.11, docs, module, shipit, support:core, system

#72744 document that handler can not run include_role and import_role
  docs/docsite/rst/user_guide/playbooks_handlers.rst
  lib/ansible/modules/import_role.py
  lib/ansible/modules/include_role.py
Labels: affects_2.11, core_review, docs, include_role, module, support:core, utilities

#72766 [2.8][backport] Fix pip integration tests for pip 20.3
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.8, backport, bug, core_review, needs_triage, packaging, support:core

#72765 [2.9][backport] Fix pip integration tests for pip 20.3
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, packaging, support:core

#72764 [2.10][backport] Fix pip integration tests for pip 20.3
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.10, backport, bug, core_review, needs_triage, packaging, support:core

#71926 Batch docs fixes for 2.7
  docs/docsite/rst/conf.py
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.6.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.7, backport, core_review, docs, support:core

#72757 [backport][2.6]Update EOL Docs - batch fix for 2.6
  docs/docsite/rst/conf.py
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.6.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.6, backport, core_review, docs, needs_triage, support:core

#72758 [backport][2.5]Update EOL Docs - batch fix for 2.5
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.5, backport, core_review, docs, needs_triage, support:core

#72759 [2.4]Update EOL Docs - batch fix for 2.4
  docs/docsite/_themes/srtd/breadcrumbs.html
  docs/docsite/rst/porting_guide_2.0.rst
  docs/docsite/rst/porting_guide_2.3.rst
  docs/docsite/rst/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides.rst
Labels: affects_2.4, backport, core_review, docs, needs_triage, support:core

#72760 [2.3][backport] Update eol docs for 2.3
  docs/docsite/_themes/srtd/ansible_eol_banner.html
  docs/docsite/_themes/srtd/breadcrumbs.html
  docs/docsite/_themes/srtd/layout.html
  docs/docsite/rst/porting_guide_2.0.rst
  docs/docsite/rst/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides.rst
  docs/docsite/rst/release_and_maintenance.rst
Labels: affects_2.3, backport, docs, needs_revision, needs_triage, support:core

#72762 [stable-2.10] ansible-test - add cryptography constraint for cffi (#72761)
  changelogs/fragments/cffi-constraint.yml
  test/lib/ansible_test/_data/cryptography-constraints.txt
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#72411 Switch to hashlib.sha256() for ansible-test
  changelogs/fragments/72411-fips-mode-ansible-test.yml
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, needs_info, needs_template, support:community, support:core, test, traceback

#72773 [stable-2.9] - ansible-test - add cryptography constraint for cffi (#72761)
  changelogs/fragments/cffi-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.9, backport, bug, needs_revision, support:community, support:core, test

#72774 [stable-2.8] - ansible-test - add cryptography constraint for cffi (#72761)
  changelogs/fragments/cffi-constraint.yml
  test/runner/requirements/constraints.txt
Labels: affects_2.8, backport, bug, collection, collection:netapp.azure, needs_revision, support:community, support:core

#72779 [2.8] [zypper_repository test] Use repo that doesn't 404
  test/integration/targets/zypper_repository/tasks/zypper_repository.yml
Labels: affects_2.8, backport, collection, collection:community.general, core_review, needs_triage, support:core, test

#72780 [2.9] [zypper_repository test] Use repo that doesn't 404
  test/integration/targets/zypper_repository/tasks/zypper_repository.yml
Labels: affects_2.9, backport, collection, collection:community.general, core_review, needs_triage, support:core, test

#72568 Add RHEL 7.9 (#72558) - 2.10
  changelogs/fragments/rhel-7.9.yml
  shippable.yml
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/yum.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.10, backport, core_review, feature, packaging, stale_ci, support:community, support:core, test

#72567 Add RHEL 7.9 (#72558) - 2.9
  changelogs/fragments/rhel-7.9.yml
  shippable.yml
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/yum.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.9, backport, core_review, feature, packaging, stale_ci, support:community, support:core, test

#72566 Add RHEL 7.9 (#72558) - 2.8
  changelogs/fragments/rhel-7.9.yml
  shippable.yml
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/yum.yml
  test/runner/completion/remote.txt
Labels: affects_2.8, backport, core_review, feature, packaging, stale_ci, support:community, support:core

#72782 Update the porting guide to include 2.10.4
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#72698 [stable-2.9] Pull images from Quay to avoid Docker Hub limits
  test/integration/targets/docker-registry/tasks/main.yml
  test/integration/targets/docker-registry/tasks/tests/docker_image.yml
  test/integration/targets/docker_container/tasks/tests/comparisons.yml
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
  test/integration/targets/docker_container/tasks/tests/mounts-volumes.yml
  test/integration/targets/docker_container/tasks/tests/network.yml
  test/integration/targets/docker_container/tasks/tests/options.yml
  test/integration/targets/docker_container/tasks/tests/ports.yml
  test/integration/targets/docker_container/tasks/tests/regression-45700-dont-parse-on-absent.yml
  test/integration/targets/docker_container/tasks/tests/start-stop.yml
  test/integration/targets/docker_container_info/tasks/main.yml
  test/integration/targets/docker_host_info/tasks/test_host_info.yml
  test/integration/targets/docker_image/files/Dockerfile
  test/integration/targets/docker_image/files/EtcHostsDockerfile
  test/integration/targets/docker_image/files/MyDockerfile
  test/integration/targets/docker_image/files/StagedDockerfile
  test/integration/targets/docker_image/tasks/tests/basic.yml
  test/integration/targets/docker_image/tasks/tests/options.yml
  test/integration/targets/docker_image_info/tasks/main.yml
  test/integration/targets/docker_network/tasks/tests/basic.yml
  test/integration/targets/docker_prune/tasks/main.yml
  test/integration/targets/docker_stack/files/stack_compose_base.yml
  test/integration/targets/docker_stack/vars/main.yml
  test/integration/targets/docker_swarm_service/tasks/main.yml
  test/integration/targets/docker_swarm_service/tasks/tests/configs.yml
  test/integration/targets/docker_swarm_service/tasks/tests/logging.yml
  test/integration/targets/docker_swarm_service/tasks/tests/misc.yml
  test/integration/targets/docker_swarm_service/tasks/tests/mounts.yml
  test/integration/targets/docker_swarm_service/tasks/tests/networks.yml
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
  test/integration/targets/docker_swarm_service/tasks/tests/placement.yml
  test/integration/targets/docker_swarm_service/tasks/tests/resources.yml
  test/integration/targets/docker_swarm_service/tasks/tests/restart_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/rollback_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/secrets.yml
  test/integration/targets/docker_swarm_service/tasks/tests/update_config.yml
  test/integration/targets/docker_swarm_service/vars/main.yml
  test/integration/targets/docker_swarm_service_info/tasks/test_docker_swarm_service_info.yml
  test/integration/targets/inventory_docker_machine/playbooks/test_inventory_1.yml
  test/integration/targets/k8s/tasks/waiter.yml
Labels: affects_2.9, backport, cloud, collection, collection:community.general, core_review, docker, files, has_issue, k8s, support:community, support:core, test

#72700 [stable-2.8] Pull images from Quay to avoid Docker Hub limits
  test/integration/targets/docker_container/tasks/tests/comparisons.yml
  test/integration/targets/docker_container/tasks/tests/image-ids.yml
  test/integration/targets/docker_container/tasks/tests/network.yml
  test/integration/targets/docker_container/tasks/tests/options.yml
  test/integration/targets/docker_container/tasks/tests/ports.yml
  test/integration/targets/docker_container/tasks/tests/regression-45700-dont-parse-on-absent.yml
  test/integration/targets/docker_container/tasks/tests/start-stop.yml
  test/integration/targets/docker_container_info/tasks/main.yml
  test/integration/targets/docker_host_info/tasks/test_host_info.yml
  test/integration/targets/docker_image/files/Dockerfile
  test/integration/targets/docker_image/files/MyDockerfile
  test/integration/targets/docker_image/tasks/tests/basic.yml
  test/integration/targets/docker_image/tasks/tests/options.yml
  test/integration/targets/docker_image_info/tasks/main.yml
  test/integration/targets/docker_network/tasks/tests/basic.yml
  test/integration/targets/docker_prune/tasks/main.yml
  test/integration/targets/docker_stack/files/stack_compose_base.yml
  test/integration/targets/docker_stack/vars/main.yml
  test/integration/targets/docker_swarm_service/tasks/tests/configs.yml
  test/integration/targets/docker_swarm_service/tasks/tests/logging.yml
  test/integration/targets/docker_swarm_service/tasks/tests/misc.yml
  test/integration/targets/docker_swarm_service/tasks/tests/mounts.yml
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
  test/integration/targets/docker_swarm_service/tasks/tests/placement.yml
  test/integration/targets/docker_swarm_service/tasks/tests/resources.yml
  test/integration/targets/docker_swarm_service/tasks/tests/restart_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/rollback_config.yml
  test/integration/targets/docker_swarm_service/tasks/tests/secrets.yml
  test/integration/targets/docker_swarm_service/tasks/tests/update_config.yml
  test/integration/targets/docker_swarm_service_info/tasks/test_docker_swarm_service_info.yml
  test/integration/targets/k8s/tasks/waiter.yml
Labels: affects_2.8, backport, cloud, collection, collection:community.general, core_review, docker, files, k8s, support:core, test

#72737 modules: fix documentation formatting
  lib/ansible/modules/cron.py
  lib/ansible/modules/debconf.py
  lib/ansible/modules/debug.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/group.py
  lib/ansible/modules/lineinfile.py
  lib/ansible/modules/ping.py
  lib/ansible/modules/replace.py
  lib/ansible/modules/script.py
  lib/ansible/modules/service.py
Labels: affects_2.11, commands, docs, files, module, shipit, support:core, system, utilities

#72539 Docsite: update complex_data_manipulation and playbooks_advanced_syntax rst files to use FQCNs
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/playbooks_advanced_syntax.rst
Labels: affects_2.11, core_review, docs, support:core

#72794 [centos6] update container for EOL
  changelogs/fragments/ansible-test-centos6-eol.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, core_review, support:community, support:core, test

#72798 [devel] Azure Pipelines configuration.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/combine-coverage.py
  .azure-pipelines/scripts/process-results.sh
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/scripts/run-tests.sh
  .azure-pipelines/scripts/time-command.py
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/matrix.yml
  .azure-pipelines/templates/test.yml
  test/utils/shippable/shippable.sh
Labels: affects_2.11, core_review, feature, support:core, test

#72796 [centos6] update container for EOL
  changelogs/fragments/ansible-test-centos6-eol.yml
  test/runner/completion/docker.txt
Labels: affects_2.8, backport, core_review, support:community, support:core

#72797 [centos6] update container for EOL
  changelogs/fragments/ansible-test-centos6-eol.yml
  test/integration/targets/yum_repository/vars/CentOS.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.9, backport, core_review, packaging, support:community, support:core, test

#72799 Bump centos6 image for pinned junit-xml dep
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, core_review, support:core, test

#72795 [centos6] update container for EOL
  changelogs/fragments/ansible-test-centos6-eol.yml
  test/integration/targets/yum_repository/vars/CentOS.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, backport, core_review, packaging, support:community, support:core, test

#72802 [stable-2.10] Azure Pipelines configuration.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/combine-coverage.py
  .azure-pipelines/scripts/process-results.sh
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/scripts/run-tests.sh
  .azure-pipelines/scripts/time-command.py
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/matrix.yml
  .azure-pipelines/templates/test.yml
  test/utils/shippable/shippable.sh
Labels: affects_2.10, backport, core_review, feature, support:core, test

#72801 [stable-2.9] Azure Pipelines configuration.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/combine-coverage.py
  .azure-pipelines/scripts/process-results.sh
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/scripts/run-tests.sh
  .azure-pipelines/scripts/time-command.py
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/matrix.yml
  .azure-pipelines/templates/test.yml
  test/utils/shippable/shippable.sh
Labels: affects_2.9, backport, core_review, feature, support:core, test

#72804 [yum_repository tests] account for EOL'd EPEL
  test/integration/targets/yum_repository/tasks/yum_repository_centos.yml
Labels: affects_2.8, backport, core_review, packaging, support:core

#72800 [stable-2.8] Azure Pipelines config.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/combine-coverage.py
  .azure-pipelines/scripts/process-results.sh
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/scripts/run-tests.sh
  .azure-pipelines/scripts/time-command.py
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/matrix.yml
  .azure-pipelines/templates/test.yml
  test/utils/shippable/shippable.sh
Labels: affects_2.8, backport, feature, needs_revision, support:core, test

#72805 [iso_extract tests] Fix another bad EPEL hardcode
  test/integration/targets/iso_extract/tasks/7zip.yml
Labels: affects_2.8, backport, collection, collection:community.general, needs_revision, pre_azp, support:core, test

#72807 update devel build badge for AZP
  README.rst
Labels: affects_2.11, core_review, feature, needs_triage, small_patch, support:core

#72810 update build badge for AZP (#72807)
  README.rst
Labels: affects_2.10, backport, core_review, feature, needs_triage, small_patch, support:core

#72811 update build badge for AZP (#72807)
  README.rst
Labels: affects_2.9, backport, core_review, feature, needs_triage, small_patch, support:core

#72812 update build badge for AZP (#72807)
  README.rst
Labels: affects_2.8, backport, core_review, feature, needs_triage, small_patch, support:core

#72813 update PyPI badge to ansible-core
  README.rst
Labels: affects_2.11, core_review, feature, needs_triage, small_patch, support:core

#72814 update PyPI badge to use ansible-base
  README.rst
Labels: affects_2.10, backport, core_review, feature, needs_triage, small_patch, support:core

#72702 systemd - account for templated unit files when searching for service
  changelogs/fragments/71528-systemd-improve-unit-searching.yml
  lib/ansible/modules/systemd.py
Labels: affects_2.11, bug, core_review, module, support:community, support:core, system

#72815 [devel] Fix CI schedule.
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.11, core_review, feature, small_patch, support:core

#72816 [stable-2.10] Fix CI schedule.
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport, core_review, feature, small_patch, support:core

#72817 [stable-2.9] Fix CI schedule.
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.9, backport, core_review, feature, small_patch, support:core

#72818 [stable-2.8] Fix CI schedule.
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.8, backport, core_review, feature, small_patch, support:core

#72822 Fix resource name.
  test/integration/targets/elb_classic_lb/defaults/main.yml
Labels: affects_2.9, backport, bug, collection, collection:community.aws, core_review, support:core, test

#72823 Fix resource name.
  test/integration/targets/elb_classic_lb/defaults/main.yml
Labels: affects_2.8, backport, bug, collection, collection:community.aws, core_review, support:core, test

#72825 fix resource name here too
  test/integration/targets/aws_codepipeline/defaults/main.yml
Labels: affects_2.9, backport, collection, collection:community.aws, core_review, needs_triage, support:core, test

#72826 Fix yum_repository for more centos6 EOL fallout
  test/integration/targets/yum_repository/vars/CentOS-6.yml
Labels: affects_2.11, core_review, packaging, support:core

#72827 Remove myself from suse-team in BOTMETA
  .github/BOTMETA.yml
Labels: affects_2.11, botmeta, needs_info, needs_template, needs_triage, small_patch, support:core

#72828 Replace `exit` with `sys.exit` in Galaxy CLI.
  changelogs/fragments/galaxy-sys-exit.yml
  lib/ansible/cli/galaxy.py
Labels: affects_2.11, bug, needs_revision, needs_triage, support:community, support:core

#72824 Fix Azure Pipelines change detection.
  changelogs/fragments/ansible-test-azp-change-detection.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72834 [stable-2.10] Fix Azure Pipelines change detection. (#72824)
  changelogs/fragments/ansible-test-azp-change-detection.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#72835 [stable-2.9] Fix Azure Pipelines change detection. (#72824)
  changelogs/fragments/ansible-test-azp-change-detection.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#72836 [stable-2.8] Fix Azure Pipelines change detection. (#72824)
  changelogs/fragments/ansible-test-azp-change-detection.yml
  test/runner/lib/ci/azp.py
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#72788 Documentation: fix modules doc formatting
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/assemble.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/setup.py
  lib/ansible/modules/shell.py
  lib/ansible/modules/slurp.py
  lib/ansible/modules/tempfile.py
  lib/ansible/modules/template.py
Labels: affects_2.11, commands, core_review, docs, files, module, net_tools, packaging, support:core, system

#72710 Docsite: update "Migrating Ansible content to a different collection" info
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#72821 json_query: Add examples for starts_with and contains
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#72842 Use AZP config for integration-aliases test.
  test/lib/ansible_test/_data/requirements/sanity.integration-aliases.txt
  test/lib/ansible_test/_data/sanity/integration-aliases/yaml_to_json.py
  test/lib/ansible_test/_internal/sanity/integration_aliases.py
Labels: affects_2.11, core_review, feature, support:core, test

#72843 [stable-2.10] Use AZP config for integration-aliases test.
  test/lib/ansible_test/_data/requirements/sanity.integration-aliases.txt
  test/lib/ansible_test/_data/sanity/integration-aliases/yaml_to_json.py
  test/lib/ansible_test/_internal/sanity/integration_aliases.py
Labels: affects_2.10, backport, core_review, feature, support:core, test

#72844 [stable-2.9] Use AZP config for integration-aliases test.
  test/lib/ansible_test/_data/sanity/integration-aliases/yaml_to_json.py
  test/lib/ansible_test/_internal/sanity/integration_aliases.py
Labels: affects_2.9, backport, core_review, feature, support:core, test

#72845 [stable-2.8] Use AZP config for integration-aliases test.
  test/runner/lib/sanity/integration_aliases.py
  test/sanity/integration-aliases/yaml_to_json.py
Labels: affects_2.8, backport, core_review, feature, support:core, test

#72442 [2.10] Improve ansible-test classifications for collections
  changelogs/fragments/ansible-test-collection-classification.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#72443 [2.9] Improve ansible-test classifications for collections
  changelogs/fragments/ansible-test-collection-classification.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#72623 ansible-test sanity: fix UnicodeDecodeError for `--python 2.7 --docker`
  changelogs/fragments/72623-ansible-test-unicode-paths.yml
  test/lib/ansible_test/_internal/target.py
Labels: affects_2.11, core_review, has_issue, support:community, support:core, test

#45198 AnsibleModule.set_mode_if_different: handle symlink is in a sticky directory
  changelogs/fragments/set_mode_if_different-symlink-sticky-dir.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/file/defaults/main.yml
  test/integration/targets/file/tasks/state_link.yml
  test/units/module_utils/basic/test_set_mode_if_different.py
Labels: affects_2.8, bug, core_review, files, support:community, support:core, test, traceback

#72697 Improve deprecations
  changelogs/fragments/72697-improve-config-deprecations.yml
  lib/ansible/cli/__init__.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72185 Update ssh connection play_context alongside network_cli's
  changelogs/fragments/backport-ansible.netcommon-135.yaml
  lib/ansible/plugins/connection/network_cli.py
  test/integration/targets/netconf_config/tasks/iosxr.yaml
Labels: affects_2.9, backport, bug, collection, collection:ansible.netcommon, core_review, networking, support:community, support:core, support:network, test

#72866 [2.9] ansible-test sanity: fix UnicodeDecodeError for `--python 2.7 --docker`
  changelogs/fragments/72623-ansible-test-unicode-paths.yml
  test/lib/ansible_test/_internal/target.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, test

#72862 [stable-2.9] AnsibleModule.set_mode_if_different: handle symlink is in a sticky directory (#45198)
  changelogs/fragments/set_mode_if_different-symlink-sticky-dir.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/file/defaults/main.yml
  test/integration/targets/file/tasks/state_link.yml
  test/units/module_utils/basic/test_set_mode_if_different.py
Labels: affects_2.9, backport, bug, core_review, files, needs_triage, support:community, support:core

#72606 [stable-2.9] pause - do not hang if run in the background (#72065)
  changelogs/fragments/32143-pause-background-hangs.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/test-pause-background.yml
  test/integration/targets/pause/test-pause.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, utilities

#72838 Update ansible roadmap
  docs/docsite/rst/roadmap/COLLECTIONS_2_11.rst
  docs/docsite/rst/roadmap/COLLECTIONS_3_0.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#72416 [2.9] ansible-doc: export has_action when --json is used
  changelogs/fragments/ansible-doc-has_action.yml
  lib/ansible/cli/doc.py
Labels: affects_2.9, backport, core_review, docs, needs_triage, support:community, support:core

#72458 [2.9] Fix missing ansible.builtin FQCNs in hardcoded action names
  changelogs/fragments/71824-action-fqcns.yml
  lib/ansible/cli/adhoc.py
  lib/ansible/cli/console.py
  lib/ansible/cli/playbook.py
  lib/ansible/constants.py
  lib/ansible/executor/task_executor.py
  lib/ansible/executor/task_result.py
  lib/ansible/parsing/mod_args.py
  lib/ansible/playbook/__init__.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/included_file.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/playbook/role_include.py
  lib/ansible/playbook/task.py
  lib/ansible/playbook/task_include.py
  lib/ansible/plugins/action/gather_facts.py
  lib/ansible/plugins/action/normal.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/junit.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  lib/ansible/utils/fqcn.py
  lib/ansible/vars/manager.py
  test/integration/targets/debug/main_fqcn.yml
  test/integration/targets/debug/runme.sh
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/test_copious_include_tasks_fqcn.yml
  test/integration/targets/include_import/test_grandparent_inheritance_fqcn.yml
  test/integration/targets/include_import/test_include_loop_fqcn.yml
  test/integration/targets/include_import/test_nested_tasks_fqcn.yml
  test/integration/targets/include_import/test_role_recursion_fqcn.yml
  test/integration/targets/include_vars/tasks/main.yml
  test/integration/targets/include_vars/vars/services/service_vars_fqcn.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/inner_fqcn.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/main.yml
  test/integration/targets/includes/test_include_free.yml
  test/integration/targets/meta_tasks/runme.sh
  test/integration/targets/meta_tasks/test_end_host_all_fqcn.yml
  test/integration/targets/meta_tasks/test_end_host_fqcn.yml
  test/integration/targets/meta_tasks/test_end_play_fqcn.yml
  test/integration/targets/set_fact/incremental.yml
  test/integration/targets/set_fact/nowarn_clean_facts.yml
  test/integration/targets/set_fact/set_fact_bool_conv.yml
  test/integration/targets/set_fact/set_fact_bool_conv_jinja2_native.yml
  test/integration/targets/set_fact/set_fact_cached_1.yml
  test/integration/targets/set_fact/set_fact_cached_2.yml
  test/integration/targets/set_fact/set_fact_no_cache.yml
Labels: affects_2.9, backport, bug, core_review, has_issue, needs_triage, support:community, support:core, utilities

#72772 [2.9][backport] amazon.aws/211 - use fail_json_aws instead of fail_json
  changelogs/fragments/211-fix-error-handling-during-tagging-failure.yaml
  lib/ansible/modules/cloud/amazon/ec2_group.py
Labels: affects_2.9, aws, backport, bug, cloud, collection, collection:amazon.aws, core_review, module, needs_triage, owner_pr, support:community, support:core

#72683 ansible-galaxy - source deps from all servers and not just parent - 2.9
  changelogs/fragments/galaxy-servers.yml
  lib/ansible/galaxy/collection.py
Labels: affects_2.9, backport, bug, needs_revision, needs_triage, stale_ci, support:community, support:core

#72569 [stable-2.9] lvol: Fix idempotency when size uses %VG or %PVS
  changelogs/fragments/72569-lvol_percentage_fix.yml
  lib/ansible/modules/system/lvol.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, module, needs_triage, support:community, system

#72551 [stable-2.9] iptables: Reorder comment postition (#71496)
  changelogs/fragments/71496-iptables-reorder-comment-position.yml
  lib/ansible/modules/system/iptables.py
  test/units/modules/system/test_iptables.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#72425 [stable-2.9] ansible-test - skip installing PowerShell sanity test reqs if they are already installed (#72423)
  changelogs/fragments/ps-sanity-requirements.yml
  test/lib/ansible_test/_data/requirements/sanity.ps1
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, test

#72407 [stable-2.9] wait_for - ignore psutil related errors (#72401)
  changelogs/fragments/72322-wait-for-handle-errors.yml
  lib/ansible/modules/utilities/logic/wait_for.py
  test/integration/targets/wait_for/files/zombie.py
  test/integration/targets/wait_for/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, utilities

#40522 Feature: Add include option to unarchive
  changelogs/fragments/40522-unarchive-add-include.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/prepare_tests.yml
  test/integration/targets/unarchive/tasks/test_exclude.yml
  test/integration/targets/unarchive/tasks/test_include.yml
Labels: affects_2.6, core_review, feature, files, m:unarchive, module, support:community, support:core, test

#72348 [stable-2.9] systemd - fix issue with capbpf and newer kernel (#72337)
  changelogs/fragments/71528-systemd-capbpf-workaround.yml
  changelogs/fragments/71528-systemd-improve-unit-searching.yml
  changelogs/fragments/71528-systemd-list-unit-files.yml
  lib/ansible/modules/system/systemd.py
Labels: affects_2.9, backport, bug, ci_verified, module, needs_revision, needs_triage, support:community, support:core, system

#72754 Extract embedded function to RoleMixin method and add tests
  changelogs/fragments/72754-extract-emb-func.yaml
  lib/ansible/cli/doc.py
  test/units/cli/test_doc.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72846 Remove shippable.yml
  .github/BOTMETA.yml
  MANIFEST.in
  shippable.yml
Labels: affects_2.11, botmeta, core_review, feature, support:core

#71756 cherry pick for issue ansible-collections/azure#161 from ansible-collections/azure for v2.9
  changelogs/fragments/161-ansible-collection-azure-inventory-fixes.yaml
  lib/ansible/plugins/inventory/azure_rm.py
Labels: affects_2.9, backport, collection, collection:awx.awx, collection:beeankha.awx, collection:sean_m_sullivan.awx, community_review, feature, inventory, needs_triage, new_contributor, support:community

#72886 [2.9] [cloud_init_data_facts tests] fix for centos8
  test/integration/targets/cloud_init_data_facts/tasks/main.yml
  test/integration/targets/cloud_init_data_facts/vars/CentOS-7.yml
  test/integration/targets/cloud_init_data_facts/vars/CentOS-8.yml
  test/integration/targets/cloud_init_data_facts/vars/default.yml
Labels: affects_2.9, backport, cloud, collection, collection:community.general, core_review, needs_triage, support:community, support:core, test

#72888 [2.8] [cloud_init_data_facts tests] fix for centos8 (#72886)
  test/integration/targets/cloud_init_data_facts/tasks/main.yml
  test/integration/targets/cloud_init_data_facts/vars/CentOS-7.yml
  test/integration/targets/cloud_init_data_facts/vars/CentOS-8.yml
  test/integration/targets/cloud_init_data_facts/vars/default.yml
Labels: affects_2.8, backport, cloud, collection, collection:community.general, core_review, needs_triage, support:community, support:core, test

#72056 Fix virt module to support list_vms with a status of paused
  changelogs/fragments/72056-support-list-vms-with-status-paused.yaml
  lib/ansible/modules/cloud/misc/virt.py
  test/sanity/ignore.txt
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.libvirt, core_review, module, needs_triage, new_contributor, support:community, support:core, test, virt

#72673 [stable-2.9] Escalate priv before setting terminal
  changelogs/fragments/escalate_priv_before_terminal.yaml
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.9, backport, bug, collection, collection:ansible.netcommon, core_review, needs_triage, networking, support:community, support:network

#72883 [stable-2.9] Remove shippable.yml.
  .github/BOTMETA.yml
  MANIFEST.in
  shippable.yml
Labels: affects_2.9, backport, botmeta, collection, collection:ansible.posix, core_review, feature, support:core

#72884 [stable-2.8] Remove shippable.yml.
  .github/BOTMETA.yml
  MANIFEST.in
  shippable.yml
Labels: affects_2.8, backport, botmeta, collection, collection:ansible.posix, core_review, feature, support:core

#72889 Disable win_rds* tests in CI
  test/integration/targets/win_rds/aliases
Labels: affects_2.8, backport, collection, collection:community.windows, core_review, needs_triage, support:core, test

#72890 Disable win_rds* tests in CI
  test/integration/targets/win_rds/aliases
Labels: affects_2.9, backport, collection, collection:community.windows, core_review, needs_triage, support:core, test

#72882 [stable-2.10] Remove shippable.yml.
  .github/BOTMETA.yml
  MANIFEST.in
  shippable.yml
Labels: affects_2.10, backport, botmeta, collection, collection:ansible.posix, core_review, feature, support:core

#72871 [2.10] Improve deprecations
  changelogs/fragments/72697-improve-config-deprecations.yml
  lib/ansible/cli/__init__.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72865 [2.10] ansible-test sanity: fix UnicodeDecodeError for `--python 2.7 --docker`
  changelogs/fragments/72623-ansible-test-unicode-paths.yml
  test/lib/ansible_test/_internal/target.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#72864 [2.10] The implicit default for type=bool options is not 'false', but 'none'
  changelogs/fragments/72699-validate-modules-default-for-bools.yml
  lib/ansible/modules/apt.py
  lib/ansible/modules/cron.py
  lib/ansible/modules/debconf.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/systemd.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, net_tools, packaging, support:community, support:core, system, test

#72863 [stable-2.10] AnsibleModule.set_mode_if_different: handle symlink is in a sticky directory (#45198)
  changelogs/fragments/set_mode_if_different-symlink-sticky-dir.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/file/defaults/main.yml
  test/integration/targets/file/tasks/state_link.yml
  test/units/module_utils/basic/test_set_mode_if_different.py
Labels: affects_2.10, backport, bug, core_review, files, needs_triage, support:community, support:core

#72496 [2.10] Adjust action groups to moved modules
  changelogs/fragments/72428-action-groups-docker-k8s.yml
  lib/ansible/executor/module_common.py
Labels: affects_2.10, backport, bug, core_review, has_issue, needs_triage, support:community, support:core

#72457 [2.10] Fix missing ansible.builtin FQCNs in hardcoded action names
  changelogs/fragments/71824-action-fqcns.yml
  lib/ansible/cli/adhoc.py
  lib/ansible/cli/console.py
  lib/ansible/cli/playbook.py
  lib/ansible/constants.py
  lib/ansible/executor/task_executor.py
  lib/ansible/executor/task_result.py
  lib/ansible/parsing/mod_args.py
  lib/ansible/playbook/__init__.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/included_file.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/playbook/role_include.py
  lib/ansible/playbook/task.py
  lib/ansible/playbook/task_include.py
  lib/ansible/plugins/action/gather_facts.py
  lib/ansible/plugins/action/normal.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/junit.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  lib/ansible/utils/fqcn.py
  lib/ansible/vars/manager.py
  test/integration/targets/debug/main_fqcn.yml
  test/integration/targets/debug/runme.sh
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/test_copious_include_tasks_fqcn.yml
  test/integration/targets/include_import/test_grandparent_inheritance_fqcn.yml
  test/integration/targets/include_import/test_include_loop_fqcn.yml
  test/integration/targets/include_import/test_nested_tasks_fqcn.yml
  test/integration/targets/include_import/test_role_recursion_fqcn.yml
  test/integration/targets/include_vars/tasks/main.yml
  test/integration/targets/include_vars/vars/services/service_vars_fqcn.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/inner_fqcn.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/main.yml
  test/integration/targets/includes/test_include_free.yml
  test/integration/targets/meta_tasks/runme.sh
  test/integration/targets/meta_tasks/test_end_host_all_fqcn.yml
  test/integration/targets/meta_tasks/test_end_host_fqcn.yml
  test/integration/targets/meta_tasks/test_end_play_fqcn.yml
  test/integration/targets/set_fact/incremental.yml
  test/integration/targets/set_fact/nowarn_clean_facts.yml
  test/integration/targets/set_fact/set_fact_bool_conv.yml
  test/integration/targets/set_fact/set_fact_bool_conv_jinja2_native.yml
  test/integration/targets/set_fact/set_fact_cached_1.yml
  test/integration/targets/set_fact/set_fact_cached_2.yml
  test/integration/targets/set_fact/set_fact_no_cache.yml
Labels: affects_2.10, backport, bug, core_review, has_issue, needs_triage, support:community, support:core, utilities

#72414 [2.10] ansible-doc: export has_action when --json is used
  changelogs/fragments/ansible-doc-has_action.yml
  lib/ansible/cli/doc.py
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:community, support:core

#72361 [2.10] validate-modules: fix processing of add_file_common_args=True when argument_spec is not specified as kwarg
  changelogs/fragments/ansible-test-validate-modules-file-common-args.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/module_args.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#72347 [stable-2.10] systemd - fix issue with capbpf and newer kernel (#72337)
  changelogs/fragments/71528-systemd-capbpf-workaround.yml
  changelogs/fragments/71528-systemd-improve-unit-searching.yml
  changelogs/fragments/71528-systemd-list-unit-files.yml
  lib/ansible/modules/systemd.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#72508 remove redundant remote_user for local setting
  changelogs/fragments/ensure_local_user_correctness.yml
  changelogs/fragments/play_context_remove_redundant_pwd.yml
  lib/ansible/playbook/play_context.py
  lib/ansible/plugins/connection/local.py
  test/integration/targets/delegate_to/delegate_local_from_root.yml
  test/integration/targets/delegate_to/files/testfile
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#72714 [stable-2.9]: Fix AIX networks facts when nestat is either missing or has incorrect permissions
  changelogs/fragments/72516-fix-aix-network-facts.yml
  lib/ansible/module_utils/facts/network/aix.py
Labels: affects_2.9, aix, backport, bug, core_review, needs_triage, support:community, support:core

#72228 make collection callbacks follow normal flow (#59932)
  changelogs/fragments/collections_cb_fix.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/collections/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#72360 [stable-2.10] blockinfile - properly insert block when no trailing new line exists (#72350)
  changelogs/fragments/72055-blockinfile-fix-insert-after-line-no-linesep.yml
  lib/ansible/modules/blockinfile.py
  test/integration/targets/blockinfile/tasks/add_block_to_existing_file.yml
  test/integration/targets/blockinfile/tasks/block_without_trailing_newline.yml
  test/integration/targets/blockinfile/tasks/create_file.yml
  test/integration/targets/blockinfile/tasks/diff.yml
  test/integration/targets/blockinfile/tasks/file_without_trailing_newline.yml
  test/integration/targets/blockinfile/tasks/insertafter.yml
  test/integration/targets/blockinfile/tasks/insertbefore.yml
  test/integration/targets/blockinfile/tasks/main.yml
  test/integration/targets/blockinfile/tasks/preserve_line_endings.yml
  test/integration/targets/blockinfile/tasks/validate.yml
Labels: affects_2.10, backport, bug, core_review, files, module, needs_triage, support:community, support:core

#72406 [stable-2.10] wait_for - ignore psutil related errors (#72401)
  changelogs/fragments/72322-wait-for-handle-errors.yml
  lib/ansible/modules/wait_for.py
  test/integration/targets/wait_for/files/zombie.py
  test/integration/targets/wait_for/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core, utilities

#72424 [stable-2.10] ansible-test - skip installing PowerShell sanity test reqs if they are already installed (#72423)
  changelogs/fragments/ps-sanity-requirements.yml
  test/lib/ansible_test/_data/requirements/sanity.ps1
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#72548 [stable-2.10] iptables: Reorder comment postition (#71496)
  changelogs/fragments/71496-iptables-reorder-comment-position.yml
  lib/ansible/modules/iptables.py
  test/units/modules/test_iptables.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#72690 Backport/2.10/72390
  changelogs/fragments/72390-return-error-if-cwd-directory-does-not-exist.yml
  changelogs/fragments/run-command-cwd.yml
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_run_command.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72684 ansible-galaxy - source deps from all servers and not just parent - 2.10
  changelogs/fragments/galaxy-servers.yml
  lib/ansible/galaxy/collection.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72605 [stable-2.10] pause - do not hang if run in the background (#72065)
  changelogs/fragments/32143-pause-background-hangs.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/test-pause-background.yml
  test/integration/targets/pause/test-pause.yml
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, utilities

#72507 remove redundant remote_user for local setting
  changelogs/fragments/ensure_local_user_correctness.yml
  changelogs/fragments/play_context_remove_redundant_pwd.yml
  lib/ansible/playbook/play_context.py
  lib/ansible/plugins/connection/local.py
  test/integration/targets/delegate_to/delegate_local_from_root.yml
  test/integration/targets/delegate_to/files/testfile
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72713 [stable-2.10]: Fix AIX networks facts when nestat is either missing or has incorrect permissions
  changelogs/fragments/72516-fix-aix-network-facts.yml
  lib/ansible/module_utils/facts/network/aix.py
Labels: affects_2.10, aix, backport, bug, core_review, needs_triage, support:community, support:core

#72570 avoid fatal exception on invalid collection name (#72296)
  changelogs/fragments/skip_invalid_coll_name_when_listing.yml
  lib/ansible/collections/list.py
  test/integration/targets/ansible-doc/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72837 Clarify mode behavior for modules that can set file permissions
  lib/ansible/modules/copy.py
  lib/ansible/plugins/doc_fragments/files.py
Labels: affects_2.11, core_review, docs, files, module, support:community, support:core

#72872 Add missing endfor to vlan_parser example
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72879 Fix fileglob parameter order bug
  changelogs/fragments/72873-fix-fileglob-ordering.yml
  lib/ansible/plugins/lookup/fileglob.py
  test/integration/targets/lookup_fileglob/issue72873/test.yml
  test/integration/targets/lookup_fileglob/runme.sh
Labels: affects_2.11, bug, collection, collection:ngine_io.pingping, collection:t_systems_mms.icinga_director, core_review, support:community, support:core

#72880 Replace "hash of the path" by "hash of the file"
  lib/ansible/modules/stat.py
Labels: affects_2.11, core_review, docs, files, module, new_contributor, small_patch, support:core

#72893 Change apt-add-repository to add-apt-repository
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72894 Add alinux hostname module support
  changelogs/fragments/72894-add-alinux-hostname-module-support.yml
  lib/ansible/modules/hostname.py
Labels: affects_2.11, core_review, feature, module, new_contributor, support:community, support:core, system

#72896 correct the reST rendering of the R() note
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#72906 Address additional ansible_core rename issues
  lib/ansible/cli/scripts/ansible_cli_stub.py
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/provider/source/unversioned.py
Labels: affects_2.11, bug, core_review, needs_triage, networking, small_patch, support:core, test

#72907 add docs survey banner
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, core_review, docs, support:core

#70082 Wording changes to docs
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/testing_running_locally.rst
  docs/docsite/rst/galaxy/dev_guide.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/plugins/callback.rst
  docs/docsite/rst/plugins/vars.rst
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/roadmap/ROADMAP_2_5.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_reuse.rst
  docs/docsite/rst/user_guide/plugin_filtering_config.rst
  docs/docsite/rst/user_guide/sample_setup.rst
Labels: affects_2.10, docs, docsite, needs_revision, pre_azp, support:core

#72909 [backport][2.10] add docs survey banner (#72907)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.10, backport, core_review, docs, support:core

#52229 vault: Read stdin data as binary on python3
  changelogs/fragments/52229-vault-python3-binary-stdin.yml
  lib/ansible/parsing/vault/__init__.py
  test/units/parsing/vault/test_vault_editor.py
Labels: affects_2.8, bug, needs_revision, python3, support:community, support:core

#71801 Use _wrap_native_text only for builtin STRING_TYPE_FILTERS
  changelogs/fragments/wrap_native_text-non-collections-only.yml
  lib/ansible/template/__init__.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72208 Add implicit role_complete block instead of role._eor
  changelogs/fragments/69848-fix-rerunning-tagged-roles.yml
  lib/ansible/executor/play_iterator.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/blocks/69848.yml
  test/integration/targets/blocks/roles/role-69848-1/meta/main.yml
  test/integration/targets/blocks/roles/role-69848-2/meta/main.yml
  test/integration/targets/blocks/roles/role-69848-3/tasks/main.yml
  test/integration/targets/blocks/runme.sh
  test/units/executor/test_play_iterator.py
  test/units/playbook/role/test_include_role.py
Labels: affects_2.11, core_review, feature, support:community, support:core

#72636 Fix async interpreter parsing
  changelogs/fragments/70690-async-interpreter.yml
  lib/ansible/modules/async_wrapper.py
  test/integration/targets/noexec/aliases
  test/integration/targets/noexec/inventory
  test/integration/targets/noexec/runme.sh
  test/integration/targets/noexec/test-noexec.yml
Labels: affects_2.11, bug, collection, collection:cisco.meraki, core_review, module, support:community, support:core, utilities

#72914 Fix cryptography constraints in ansible-test.
  changelogs/fragments/ansible-test-constraints-cryptography.yml
  test/lib/ansible_test/_data/cryptography-constraints.txt
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/sslcheck.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72688 Fix reset_connection paramiko, winrm, psrp
  changelogs/fragments/65812-paramiko-attribute-error.yml
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  test/integration/targets/connection/test.sh
  test/integration/targets/connection/test_reset_connection.yml
Labels: affects_2.11, bug, collection, collection:community.general, core_review, support:community, support:core, test, windows

#72922 [stable-2.10] Fix cryptography constraints in ansible-test. (#72914)
  changelogs/fragments/ansible-test-constraints-cryptography.yml
  test/lib/ansible_test/_data/cryptography-constraints.txt
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/sslcheck.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#72931 Add a couple more tests to ansible-galaxy-collection
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
Labels: affects_2.11, community_review, support:community

#70173 Collection list site packages
  changelogs/fragments/collection-list-site-packages.yaml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, affects_2.11, bug, core_review, has_issue, support:community, support:core

#72763 Update yum/dnf module docs to include version comp
  changelogs/fragments/61234-yum-dnf-version-comp-doc.yml
  lib/ansible/modules/dnf.py
  lib/ansible/modules/yum.py
Labels: affects_2.11, core_review, docs, module, owner_pr, packaging, support:community, support:core

#72928 iptables: Adding multiport support
  changelogs/fragments/72928_adding_multiport_support.yml
  lib/ansible/modules/iptables.py
  test/units/modules/test_iptables.py
Labels: affects_2.11, core_review, feature, module, new_contributor, support:community, support:core, system

#72927 Change role argspec file used by ansible-doc
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/roles/testrole/meta/argument_specs.yml
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/roles/testrole/meta/main.yml
  test/integration/targets/ansible-doc/roles/test_role1/meta/argument_specs.yml
  test/integration/targets/ansible-doc/roles/test_role1/meta/main.yml
  test/integration/targets/ansible-doc/test_role1/meta/argument_specs.yml
  test/integration/targets/ansible-doc/test_role1/meta/main.yml
Labels: affects_2.11, core_review, feature, support:community, support:core

#69630 Remove exit code from traps in tests
  test/integration/targets/incidental_inventory_docker_swarm/runme.sh
Labels: affects_2.10, bug, community_review, support:community, test

#72648 saner path dir management
  changelogs/fragments/colleciton_flex_ac_dir_paths.yml
  lib/ansible/collections/list.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/integration/targets/collections/runme.sh
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#72971 test installing a collection to a dir that contains collections without metadata
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#72625 Compare removal and deprecation dates and versions in runtime metadata against current version and today
  changelogs/fragments/ansible-test-runtime-dates-versions.yml
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#72938 Remove inaccurate Vault documentation
  docs/docsite/rst/user_guide/vault.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#72957 Remove note on combining roles and collections
  docs/docsite/rst/galaxy/user_guide.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72972 Update ansible-test pylint Python support.
  changelogs/fragments/ansible-test-pylint-python-3.8-3.9.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/filter/check_pylint.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/sanity/ignore.txt
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/sanity/ignore.txt
Labels: affects_2.11, bug, core_review, new_plugin, python3, support:community, support:core, test

#72986 Update Azure Pipelines scripts and config.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/report-coverage.sh
Labels: affects_2.11, core_review, feature, support:core
