Repository ansible/ansible, pull requests merged in 2020-01, with the labels that each got.

#66084 postgresql_query: refactoring
  lib/ansible/modules/database/postgresql/postgresql_query.py
Labels: affects_2.10, automerge, database, feature, module, owner_pr, postgresql, shipit, support:community

#66151 docker_swarm_service: Fix parsing of Healthcheck.StartPeriod
  changelogs/fragments/66151-docker_swarm_service-healthcheck-start-period.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
Labels: affects_2.10, automerge, bug, cloud, docker, has_issue, module, shipit, support:community, test

#66159 Fix exmaple typo
  lib/ansible/modules/cloud/vultr/vultr_user.py
  lib/ansible/modules/cloud/vultr/vultr_user_info.py
Labels: affects_2.10, cloud, community_review, module, needs_triage, new_contributor, small_patch, support:community, vultr

#66145 docker_container: don't wait for removal during check mode.
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.10, bug, cloud, community_review, docker, module, needs_triage, owner_pr, small_patch, support:community

#66131 wording in examples changed ios to eos
  lib/ansible/modules/network/eos/eos_vlans.py
Labels: affects_2.10, core_review, docs, module, networking, new_contributor, support:network

#66079 Update Documentation for win_scheduled_task.py
  lib/ansible/modules/windows/win_scheduled_task.py
Labels: affects_2.10, community_review, docs, module, small_patch, support:community, windows

#65696 Update indentation used in the code examples, unify empty lines - backport #65346
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.9, backport, core_review, docs, stale_ci, support:core

#66113 [2.9] docker_swarm_service: Fix description of limits.memory
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.9, backport, cloud, community_review, docker, docs, module, owner_pr, small_patch, support:community

#66112 [2.8] docker_swarm_service: Fix description of limits.memory
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.8, backport, cloud, docker, docs, module, owner_pr, shipit, small_patch, support:community

#66136 AWS Guidelines: Make 'security_token' optional
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
Labels: affects_2.9, backport, core_review, docs, docsite, small_patch, support:core

#65964 [2.9] docker_network: improve documentation on connections to containers and services
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: affects_2.9, backport, cloud, docker, docs, module, owner_pr, shipit, support:community

#65886 Update indentation used in the code examples, unify empty lines - backport #65874
  docs/docsite/rst/user_guide/playbooks_delegation.rst
Labels: affects_2.9, backport, docs, shipit, support:core

#65965 [2.8] docker_network: improve documentation on connections to containers and services
  lib/ansible/modules/cloud/docker/docker_network.py
Labels: affects_2.8, backport, cloud, docker, docs, module, owner_pr, shipit, support:community

#64660 make concurrent aws_acm integration tests not clash
  test/integration/targets/aws_acm/aliases
  test/integration/targets/aws_acm/defaults/main.yml
  test/integration/targets/aws_acm/tasks/full_acm_test.yml
  test/integration/targets/aws_acm/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, support:community

#66122 vyos_config bug fix #66110
  lib/ansible/modules/network/vyos/vyos_config.py
  test/integration/targets/vyos_config/tests/cli/config.cfg
  test/integration/targets/vyos_config/tests/cli/simple.yaml
  test/units/modules/network/vyos/fixtures/vyos_config_src.cfg
Labels: affects_2.10, bug, module, needs_revision, networking, support:core, support:network, test

#66061 Correct fetch_url error code documentation
  lib/ansible/module_utils/urls.py
Labels: affects_2.10, docs, small_patch, support:core

#66124 lambda_info: Remove unused variable and import
  lib/ansible/modules/cloud/amazon/lambda_info.py
Labels: affects_2.10, aws, bug, cloud, community_review, module, needs_triage, small_patch, support:community

#65731 add example for 'search_paths' option
  lib/ansible/modules/system/reboot.py
Labels: affects_2.10, docs, module, shipit, small_patch, support:core, system

#66129 wrong usage of name tag in example
  lib/ansible/modules/cloud/amazon/efs_info.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, new_contributor, small_patch, support:community

#65792 Bug fixes for GCP (as of 2019-11-14T07:04:56Z)
  lib/ansible/modules/cloud/google/gcp_compute_route.py
  lib/ansible/modules/cloud/google/gcp_compute_route_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#65681 Bug fixes for GCP (as of 2019-11-14T07:04:56Z)
  lib/ansible/modules/cloud/google/gcp_logging_metric.py
  lib/ansible/modules/cloud/google/gcp_logging_metric_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#65597 Bug fixes for GCP (as of 2019-11-14T07:04:56Z)
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork.py
  lib/ansible/modules/cloud/google/gcp_compute_subnetwork_info.py
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy.py
  lib/ansible/modules/cloud/google/gcp_compute_target_https_proxy_info.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map.py
  lib/ansible/modules/cloud/google/gcp_compute_url_map_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#65445 Bug fixes for GCP (as of 2019-11-14T07:04:56Z)
  lib/ansible/modules/cloud/google/gcp_redis_instance.py
  lib/ansible/modules/cloud/google/gcp_redis_instance_info.py
  lib/ansible/modules/cloud/google/gcp_sourcerepo_repository.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#65309 Bug fixes for GCP (as of 2019-11-14T07:04:56Z)
  lib/ansible/modules/cloud/google/gcp_compute_disk_info.py
  lib/ansible/modules/cloud/google/gcp_compute_firewall.py
  lib/ansible/modules/cloud/google/gcp_compute_firewall_info.py
Labels: affects_2.10, automerge, bug, cloud, gce, module, shipit, support:community

#65862 postgresql modules: use query parameters with cursor objects
  changelogs/fragments/65862-postgresql_modules_use_query_params_with_cursor.yml
  lib/ansible/modules/database/postgresql/postgresql_table.py
  lib/ansible/modules/database/postgresql/postgresql_tablespace.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
Labels: affects_2.10, automerge, bug, database, module, owner_pr, postgresql, shipit, support:community

#66048 mysql_db: add master_data parameter
  changelogs/fragments/66048-mysql_add_master_data_parameter.yml
  lib/ansible/modules/database/mysql/mysql_db.py
  test/integration/targets/mysql_db/tasks/state_dump_import.yml
Labels: affects_2.10, database, feature, module, mysql, shipit, support:community, test

#66157 PostgreSQL : Create unique index
  changelogs/fragments/66157-postgresql-create-unique-indexes.yml
  lib/ansible/modules/database/postgresql/postgresql_idx.py
  test/integration/targets/postgresql_idx/tasks/postgresql_idx_initial.yml
Labels: affects_2.10, database, feature, module, new_contributor, postgresql, shipit, support:community, test

#66120 Misc typo fixes
  changelogs/fragments/misc_typo_fix.yml
  lib/ansible/errors/__init__.py
  lib/ansible/modules/cloud/docker/docker_login.py
  lib/ansible/modules/system/user.py
  lib/ansible/modules/utilities/logic/set_fact.py
  lib/ansible/plugins/action/nxos_file_copy.py
  lib/ansible/plugins/action/synchronize.py
  lib/ansible/plugins/callback/dense.py
  lib/ansible/plugins/callback/full_skip.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/inventory/azure_rm.py
  lib/ansible/vars/manager.py
  test/integration/targets/special_vars/tasks/main.yml
Labels: affects_2.10, bug, cisco, cloud, docker, module, needs_revision, networking, nxos, support:community, support:core, support:network, system, utilities

#66144 docker_container: configure removal wait timeout
  changelogs/fragments/66144-docker_container-removal-timeout.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/start-stop.yml
Labels: affects_2.10, cloud, community_review, docker, feature, module, needs_triage, support:community, test

#59925 Assign AWS Cloudwatch Metric Filter via Ansible
  lib/ansible/config/module_defaults.yml
  lib/ansible/modules/cloud/amazon/cloudwatchlogs_log_group_metric_filter.py
  test/integration/targets/cloudwatchlogs/aliases
  test/integration/targets/cloudwatchlogs/defaults/main.yml
  test/integration/targets/cloudwatchlogs/tasks/main.yml
Labels: affects_2.9, aws, cloud, has_issue, module, new_module, new_plugin, python3, shipit, support:community, support:core

#66190 Add support for OSCM-distribution in hostname module
  changelogs/fragments/66189-hostname-osmc.yml
  lib/ansible/modules/system/hostname.py
Labels: affects_2.10, bug, community_review, module, new_contributor, support:community, system

#66201 Typo: authentification to authentication (repeat 9a13d56)
  lib/ansible/modules/net_tools/netcup_dns.py
Labels: affects_2.10, bug, community_review, module, net_tools, new_contributor, small_patch, support:community

#66188 pre cleanup services
  test/integration/targets/vyos_config/tests/cli/simple.yaml
Labels: affects_2.10, bug, core_review, support:network

#66203 wrong usage of name tag in example (repeating #66129)
  lib/ansible/modules/cloud/amazon/efs.py
Labels: affects_2.10, aws, cloud, community_review, docs, module, small_patch, support:community

#66197 Helm: add 'values' examples
  lib/ansible/modules/cloud/misc/helm.py
Labels: affects_2.10, cloud, community_review, docs, module, new_contributor, support:community

#66198 doc: Update regex_replace documentation
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.10, core_review, docs, needs_triage, support:core

#66086 ali_instance: fix doc formatting
  lib/ansible/modules/cloud/alicloud/ali_instance.py
  test/sanity/ignore.txt
Labels: affects_2.10, cloud, core_review, docs, module, support:community, support:core, test

#66182 fixed some broken links
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
  docs/docsite/rst/galaxy/dev_guide.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/scenario_guides/guide_kubernetes.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/user_guide/modules_support.rst
  docs/docsite/rst/user_guide/windows_dsc.rst
  docs/templates/config.rst.j2
Labels: affects_2.10, core_review, docs, docsite, support:core, windows

#66128 Fix callback set_options issue with collections
  changelogs/fragments/66128-fix-callback-set-options.yml
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#62713 add a path_join filter which joins path components
  changelogs/fragments/62713-add-path_join-filter.yaml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/core.py
  test/integration/targets/filters/files/foo.txt
  test/integration/targets/filters/templates/foo.j2
Labels: affects_2.10, core_review, docs, feature, new_contributor, support:community, support:core

#65624 Use a context handler for file handling in paramiko_ssh.Connection.
  changelogs/fragments/65624-paramiko-ctx-man.yml
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: affects_2.10, bug, shipit, support:community, support:core

#66192 docker_container - #65993 - update restart policy (restart policy & restart retries) wit…
  changelogs/fragments/65993-restart-docker_container-on-restart-policy-updates.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.10, automerge, cloud, docker, feature, module, new_contributor, python3, shipit, support:community

#66218 Remove unstable from yum tests since they are working on Fedora 31 now
  test/integration/targets/yum/aliases
Labels: affects_2.10, bug, needs_revision, needs_triage, packaging, support:core

#65997 vmware_guest: exclude dvswitch_name from guest os customization
  changelogs/fragments/65997-vmware_guest-exclude-dvswitch-name-from-os-customization.yml
  lib/ansible/modules/cloud/vmware/vmware_guest.py
Labels: affects_2.10, bug, cloud, has_issue, module, needs_revision, support:community, vmware

#66094 NX-OS: Fix nxos_snmp_community command ordering
  lib/ansible/modules/network/nxos/nxos_snmp_community.py
Labels: affects_2.10, bug, cisco, module, networking, nxos, python3, shipit, support:network

#66088 NX-OS: Fix rendering duplicate peer-ip commands in nxos_vxlan_vtep_vni module
  lib/ansible/modules/network/nxos/nxos_vxlan_vtep_vni.py
Labels: affects_2.10, bug, cisco, module, networking, nxos, python3, shipit, small_patch, support:network

#66121 NX-OS: Temporarily disable vpc peer-link tests
  test/integration/targets/nxos_vpc_interface/tests/common/sanity.yaml
Labels: affects_2.10, bug, cisco, networking, nxos, python3, shipit, support:network, test

#66126 NX-OS: Use dict_diff instead of sets to take diff of lag members
  lib/ansible/module_utils/network/nxos/config/lag_interfaces/lag_interfaces.py
Labels: affects_2.10, bug, cisco, networking, nxos, python3, shipit, support:network

#66234 Fix hcloud_server and hcloud_server_info module when the image is None
  lib/ansible/modules/cloud/hcloud/hcloud_server.py
  lib/ansible/modules/cloud/hcloud/hcloud_server_info.py
Labels: affects_2.10, automerge, bug, cloud, hcloud, module, owner_pr, shipit, small_patch, support:community

#46770 pagerduty_alert: fix IndexError exception
  lib/ansible/modules/monitoring/pagerduty_alert.py
Labels: affects_2.8, automerge, bug, module, monitoring, new_contributor, python3, shipit, support:community, traceback

#65918 Ensure that data within a tuple is marked as unsafe
  changelogs/fragments/65722-unsafe-tuples.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/unsafe_proxy.py
  test/units/utils/test_unsafe_proxy.py
Labels: affects_2.10, bug, needs_revision, needs_triage, support:community, support:core

#66235 loop: simplify dict2items example in docs
  changelogs/fragments/dict2items.yml
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: affects_2.10, bug, core_review, docs, support:community, support:core

#66240 Fix small typo in purefa_host documentation examples
  lib/ansible/modules/storage/purestorage/purefa_host.py
Labels: affects_2.10, community_review, docs, module, owner_pr, pure_storage, small_patch, storage, support:community

#66237 Move bitbucket unit tests to separate dir
  test/sanity/ignore.txt
  test/units/modules/source_control/bitbucket/__init__.py
  test/units/modules/source_control/bitbucket/test_bitbucket_access_key.py
  test/units/modules/source_control/bitbucket/test_bitbucket_pipeline_key_pair.py
  test/units/modules/source_control/bitbucket/test_bitbucket_pipeline_known_host.py
  test/units/modules/source_control/bitbucket/test_bitbucket_pipeline_variable.py
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:core, test

#65797 Stop using {{ }} in templates for conditionals.
  test/integration/targets/filters/tasks/main.yml
Labels: affects_2.10, bug, needs_revision, needs_triage, stale_ci, stale_review, support:community

#66219 Update user module to support no_log=False.
  changelogs/fragments/66219-update-user-module-for-64733.yml
  lib/ansible/modules/system/user.py
Labels: affects_2.10, bug, module, needs_revision, new_contributor, support:community, support:core, system

#63014 Add test for reboot & wait_for_connection on EOS & IOS
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/plugins/connection/network_cli.py
  test/integration/targets/eos_smoke/tests/cli/reboot.yaml
  test/integration/targets/ios_smoke/tests/cli/reboot.yaml
  test/integration/targets/junos_smoke/tasks/cli.yaml
  test/integration/targets/junos_smoke/tasks/main.yaml
  test/integration/targets/junos_smoke/tests/cli/reboot.yaml
Labels: affects_2.10, cisco, core_review, ios, networking, support:community, support:core, support:network, test

#65961 Clarify how to use the Galaxy token
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/shared_snippets/galaxy_server_list.txt
  docs/docsite/rst/shared_snippets/installing_collections.txt
Labels: affects_2.10, collection, core_review, docs, docsite, has_issue, support:core

#66254 Clean up Shippable scripts in tools directory.
  test/utils/shippable/tools/download.py
  test/utils/shippable/tools/run.py
Labels: affects_2.10, bug, core_review, support:core, test

#62762 Add support for replacing an existing openstack keypair
  lib/ansible/modules/cloud/openstack/os_keypair.py
Labels: affects_2.10, automerge, cloud, feature, module, openstack, shipit, support:community

#66102 Track source of vars
  lib/ansible/vars/manager.py
Labels: affects_2.10, feature, needs_revision, needs_triage, support:core

#66246 Fix typos in ios_l2_interfaces
  lib/ansible/modules/network/ios/ios_l2_interfaces.py
Labels: affects_2.10, cisco, core_review, docs, ios, module, needs_triage, networking, support:network

#64509 Adding bfd support to onyx_protocol
  lib/ansible/modules/network/onyx/onyx_protocol.py
  test/units/modules/network/onyx/fixtures/onyx_protocols_show.cfg
  test/units/modules/network/onyx/test_onyx_protocols.py
Labels: affects_2.10, has_issue, module, networking, new_plugin, shipit, small_patch, support:community, support:core, test

#64434 New module: onyx_aaa
  lib/ansible/modules/network/onyx/onyx_aaa.py
  test/units/modules/network/onyx/fixtures/onyx_show_aaa.cfg
  test/units/modules/network/onyx/test_onyx_aaa.py
Labels: affects_2.10, has_issue, module, networking, new_module, new_plugin, shipit, support:community, support:core, test

#63983 Supporting SNMP Hosts Configurations in Ansible
  lib/ansible/modules/network/onyx/onyx_snmp_hosts.py
  test/units/modules/network/onyx/fixtures/onyx_show_snmp_hosts.cfg
  test/units/modules/network/onyx/test_onyx_snmp_hosts.py
Labels: affects_2.10, has_issue, module, networking, new_module, new_plugin, shipit, support:community, support:core, test

#64359 New module: onyx_bfd
  lib/ansible/modules/network/onyx/onyx_bfd.py
  test/units/modules/network/onyx/fixtures/onyx_show_bfd.cfg
  test/units/modules/network/onyx/test_onyx_bfd.py
Labels: affects_2.10, has_issue, module, networking, new_module, new_plugin, shipit, support:community, support:core, test

#66272 vmware_guest/test: create test vm in correct directory
  test/integration/targets/vmware_guest/tasks/cdrom_d1_c1_f0.yml
Labels: affects_2.10, bug, cloud, community_review, support:community, vmware

#63294 Don't remove trailing / on galaxy api URLS
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
Labels: affects_2.10, bug, needs_revision, small_patch, support:core

#66268 Fix 'CyberarkPassword' object has no attribute 'delimiter'
  changelogs/fragments/66268-cyberarkpassword-fix-invalid-attr.yaml
  lib/ansible/plugins/lookup/cyberarkpassword.py
Labels: affects_2.10, bug, needs_revision, needs_triage, python3, support:community, traceback

#66286 Simplify docker_setup on Fedora.
  test/integration/targets/setup_docker/tasks/Fedora.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
Labels: affects_2.10, bug, cloud, community_review, docker, support:community, test

#66287 [stable-2.9] Simplify docker_setup on Fedora.
  test/integration/targets/setup_docker/tasks/Fedora.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
Labels: affects_2.9, backport, bug, cloud, community_review, docker, support:community, test

#66288 [stable-2.8] Simplify docker_setup on Fedora.
  test/integration/targets/setup_docker/tasks/Fedora.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
Labels: affects_2.8, backport, bug, cloud, community_review, docker, support:community, test

#66247 adding proxy_address field for active proxies
  changelogs/fragments/66247-zabbix_proxy-address-field.yaml
  lib/ansible/modules/monitoring/zabbix/zabbix_proxy.py
Labels: affects_2.10, automerge, feature, module, monitoring, new_contributor, shipit, support:community, zabbix

#65905 routeros_command – add support for dot in username
  lib/ansible/plugins/terminal/routeros.py
Labels: affects_2.10, bug, has_issue, networking, shipit, small_patch, support:community

#66183 more reliably detect container environment
  changelogs/fragments/detect-generic-container.yml
  lib/ansible/module_utils/facts/utils.py
  lib/ansible/module_utils/facts/virtual/linux.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#65941 mysql_query: new module
  lib/ansible/module_utils/mysql.py
  lib/ansible/modules/database/mysql/mysql_db.py
  lib/ansible/modules/database/mysql/mysql_info.py
  lib/ansible/modules/database/mysql/mysql_query.py
  lib/ansible/modules/database/mysql/mysql_replication.py
  lib/ansible/modules/database/mysql/mysql_user.py
  lib/ansible/modules/database/mysql/mysql_variables.py
  lib/ansible/modules/database/proxysql/proxysql_backend_servers.py
  lib/ansible/modules/database/proxysql/proxysql_global_variables.py
  lib/ansible/modules/database/proxysql/proxysql_manage_config.py
  lib/ansible/modules/database/proxysql/proxysql_mysql_users.py
  lib/ansible/modules/database/proxysql/proxysql_query_rules.py
  lib/ansible/modules/database/proxysql/proxysql_replication_hostgroups.py
  lib/ansible/modules/database/proxysql/proxysql_scheduler.py
  test/integration/targets/mysql_query/aliases
  test/integration/targets/mysql_query/defaults/main.yml
  test/integration/targets/mysql_query/meta/main.yml
  test/integration/targets/mysql_query/tasks/main.yml
  test/integration/targets/mysql_query/tasks/mysql_query_initial.yml
Labels: affects_2.10, community_review, database, module, mysql, new_module, new_plugin, support:community, test

#66194 FreeIPA: Fix documentation
  lib/ansible/modules/identity/ipa/ipa_config.py
  lib/ansible/modules/identity/ipa/ipa_dnsrecord.py
  lib/ansible/modules/identity/ipa/ipa_dnszone.py
  lib/ansible/modules/identity/ipa/ipa_group.py
  lib/ansible/modules/identity/ipa/ipa_hbacrule.py
  lib/ansible/modules/identity/ipa/ipa_host.py
  lib/ansible/modules/identity/ipa/ipa_hostgroup.py
  lib/ansible/modules/identity/ipa/ipa_role.py
  lib/ansible/modules/identity/ipa/ipa_service.py
  lib/ansible/modules/identity/ipa/ipa_subca.py
  lib/ansible/modules/identity/ipa/ipa_sudocmd.py
  lib/ansible/modules/identity/ipa/ipa_sudocmdgroup.py
  lib/ansible/modules/identity/ipa/ipa_sudorule.py
  lib/ansible/modules/identity/ipa/ipa_user.py
  lib/ansible/modules/identity/ipa/ipa_vault.py
  lib/ansible/plugins/doc_fragments/ipa.py
  test/sanity/ignore.txt
Labels: affects_2.10, bug, core_review, identity, ipa, module, support:community, support:core, test

#66065 Fix net_put module text file issue
  changelogs/fragments/net_put_fix.yml
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
Labels: affects_2.10, bug, core_review, has_issue, networking, support:community, support:network

#61644 mongodb_parameter module integration tests
  test/integration/targets/mongodb_parameter/aliases
  test/integration/targets/mongodb_parameter/defaults/main.yml
  test/integration/targets/mongodb_parameter/meta/main.yml
  test/integration/targets/mongodb_parameter/tasks/main.yml
  test/integration/targets/mongodb_parameter/tasks/mongod_singlenode.yml
  test/integration/targets/mongodb_parameter/tasks/mongod_teardown.yml
Labels: affects_2.9, feature, shipit, support:community

#61257 mongodb_user module integration tests
  test/integration/targets/mongodb_user/aliases
  test/integration/targets/mongodb_user/defaults/main.yml
  test/integration/targets/mongodb_user/files/js/is_primary.js
  test/integration/targets/mongodb_user/meta/main.yml
  test/integration/targets/mongodb_user/tasks/main.yml
  test/integration/targets/mongodb_user/tasks/mongod_replicaset.yml
  test/integration/targets/mongodb_user/tasks/mongod_teardown.yml
  test/integration/targets/setup_mongodb/defaults/main.yml
  test/integration/targets/setup_mongodb/tasks/main.yml
Labels: affects_2.9, feature, shipit, support:community

#66306 [stable-2.9] Fix timezone integration test for Fedora 31 (#65013)
  test/integration/targets/timezone/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, community_review, needs_triage, support:community

#66309 [stable-2.9] DNF Handle Empty AppStream stream definition (#63819)
  changelogs/fragments/63683-dnf-handle-empty-appstream-stream.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/modularity.yml
  test/integration/targets/dnf/vars/Fedora.yml
  test/integration/targets/dnf/vars/RedHat.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, packaging, support:community, support:core

#65986 ansible-galaxy ignore empty server_list
  changelogs/fragments/galaxy-server-list.yaml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, bug, needs_revision, needs_triage, stale_ci, support:community, support:core

#66024 set up 'yanzhangi' as a reviewer for cloudengine.
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, core_review, docs, small_patch, stale_ci, support:core

#66004 Fix to nxos_vrf purge breaks with empty aggregate
  lib/ansible/modules/network/nxos/nxos_vrf.py
Labels: affects_2.10, bug, cisco, core_review, module, networking, new_plugin, nxos, support:network

#66258 Make sure warnings are printed during fact gathering
  changelogs/fragments/gather_facts-warnings.yaml
  lib/ansible/plugins/action/gather_facts.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#66040 Fix AttributeError due to cgi.escape removal in Python 3.8.
  lib/ansible/modules/notification/campfire.py
  test/units/modules/notification/test_campfire.py
Labels: affects_2.10, bug, module, new_contributor, notification, python3, shipit, support:community, support:core

#66315 win_user_right - docs to show how to remove all
  lib/ansible/modules/windows/win_user_right.py
Labels: affects_2.10, community_review, docs, has_issue, module, needs_triage, owner_pr, support:community, windows

#64733 Make no_log=False override the no_log warnings.
  changelogs/fragments/64733-make-no_log-false-override-no_log-warnings.yml
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_argument_spec.py
Labels: affects_2.10, bug, docs, docsite, needs_revision, support:community, support:core, system

#65821 [stable-2.9] Add Fedora 31 to the test matrix (#64848)
  shippable.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.9, backport, backport_verified, bug, needs_revision, needs_triage, stale_ci, support:core, test

#66321 Account for argument spec of None in validate modules sanity test
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, bug, core_review, support:core, test, traceback

#66323 Ansible.Basic - Added deprecated_aliases
  changelogs/fragments/ps_wrapper-deprecated_aliases.yaml
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
Labels: affects_2.10, core_review, docs, docsite, feature, needs_triage, support:community, support:core, windows

#66319 Do not install/remove requests[security] for MongoDB tests
  test/integration/targets/setup_mongodb/defaults/main.yml
Labels: affects_2.10, bug, needs_revision, support:community

#66326 Fix up deprecated_aliases spot for PS
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core, windows

#66328 Revert "Fix net_put module text file issue (#66065)"
  changelogs/fragments/net_put_fix.yml
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
Labels: affects_2.10, bug, core_review, needs_triage, networking, support:community, support:network

#66325 WebRequest - remove generically named aliases from util
  changelogs/fragments/ps_web_request-aliases.yaml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.WebRequest.psm1
  lib/ansible/modules/windows/win_get_url.ps1
  lib/ansible/modules/windows/win_get_url.py
  lib/ansible/modules/windows/win_uri.ps1
  lib/ansible/modules/windows/win_uri.py
  lib/ansible/plugins/doc_fragments/url_windows.py
Labels: affects_2.10, core_review, feature, module, needs_triage, support:community, support:core, windows

#66289 Updating IOS NTP module metadata
  lib/ansible/modules/network/ios/ios_ntp.py
Labels: affects_2.10, cisco, core_review, docs, ios, module, needs_triage, networking, owner_pr, small_patch, support:network

#64853 nxos_l3_interfaces: fix states, add new minor attributes
  lib/ansible/module_utils/network/nxos/argspec/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/nxos/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/nxos/facts/l3_interfaces/l3_interfaces.py
  lib/ansible/modules/network/nxos/nxos_l3_interfaces.py
  lib/ansible/plugins/terminal/nxos.py
  test/integration/targets/nxos_l3_interfaces/tasks/main.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_l3_interfaces/tests/cli/replaced.yaml
  test/units/modules/network/nxos/test_nxos_l3_interfaces.py
Labels: affects_2.10, bug, cisco, module, needs_revision, networking, nxos, support:core, support:network, test

#66342 Add collection support for network platform agnostic modules
  changelogs/fragments/net_modules_collection_support.yml
  lib/ansible/plugins/action/net_base.py
Labels: affects_2.10, bug, core_review, networking, support:community, support:network

#65693 [2.8] solaris_zone: Allow only valid characters in zone name
  changelogs/fragments/solaris_zone_name_fix.yml
  lib/ansible/modules/system/solaris_zone.py
Labels: affects_2.8, backport, backport_verified, bug, community_review, module, solaris, stale_ci, support:community, system

#65692 [2.9] solaris_zone: Allow only valid characters in zone name
  changelogs/fragments/solaris_zone_name_fix.yml
  lib/ansible/modules/system/solaris_zone.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, module, solaris, stale_ci, support:community, system

#65846 [2.9] Fix nxos_file_copy option value path validation
  changelogs/fragments/nxos_file_copy_path_issue.yml
  lib/ansible/modules/network/nxos/nxos_file_copy.py
  lib/ansible/plugins/action/nxos_file_copy.py
  test/integration/targets/nxos_file_copy/tests/cli/input_validation.yaml
Labels: affects_2.9, backport, bug, cisco, core_review, module, networking, nxos, stale_ci, support:community, support:network, test

#65847 [2.8] Fix nxos_file_copy option value path validation
  changelogs/fragments/nxos_file_copy_path_issue.yml
  lib/ansible/modules/network/nxos/nxos_file_copy.py
Labels: affects_2.8, backport, bug, cisco, core_review, module, networking, nxos, support:community, support:network

#65848 [2.7] Fix nxos_file_copy option value path validation
  changelogs/fragments/nxos_file_copy_path_issue.yml
  lib/ansible/modules/network/nxos/nxos_file_copy.py
Labels: affects_2.7, backport, bug, cisco, core_review, module, needs_triage, networking, nxos, stale_ci, support:community, support:network

#66167 [2.8] docker_swarm_service: Fix parsing of Healthcheck.StartPeriod
  changelogs/fragments/66151-docker_swarm_service-healthcheck-start-period.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
Labels: affects_2.8, backport, backport_verified, bug, cloud, community_review, docker, module, support:community, test

#66166 [2.9] docker_swarm_service: Fix parsing of Healthcheck.StartPeriod
  changelogs/fragments/66151-docker_swarm_service-healthcheck-start-period.yml
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_swarm_service/tasks/tests/options.yml
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, docker, module, support:community, test

#66001 [stable-2.8] user - honor update_password parameter on BusyBox hosts (#65977)
  changelogs/fragments/user-alpine-on-changed-fix.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.8, backport, backport_verified, bug, core_review, module, stale_ci, support:community, support:core, system

#66000 [stable-2.9] user - honor update_password parameter on BusyBox hosts (#65977)
  changelogs/fragments/user-alpine-on-changed-fix.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, stale_ci, support:community, support:core, system

#65669 [stable-2.8] Handle InternalError raised by cryptography when running in FIPS mode (#65477)
  changelogs/fragments/fips-paramiko-import-error.yaml
  lib/ansible/module_utils/compat/paramiko.py
Labels: affects_2.8, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#65668 [stable-2.9] Handle InternalError raised by cryptography when running in FIPS mode (#65477)
  changelogs/fragments/fips-paramiko-import-error.yaml
  lib/ansible/module_utils/compat/paramiko.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#65891 added unit test details for resource modules
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
Labels: affects_2.10, core_review, docs, docsite, networking, support:core

#66311 vmware_vm_info/test: drop dep on json_query
  test/integration/targets/vmware_vm_facts/tasks/main.yml
  test/integration/targets/vmware_vm_info/tasks/main.yml
Labels: affects_2.10, bug, cloud, shipit, support:community, vmware

#66369 vmware_category/test: ensure test can run on Zuul
  test/integration/targets/vmware_category/aliases
  test/integration/targets/vmware_category/tasks/associable_obj_types.yml
  test/integration/targets/vmware_category/tasks/main.yml
Labels: affects_2.10, bug, cloud, community_review, support:community, vmware

#66226 Document network resource modules
  docs/docsite/rst/network/user_guide/index.rst
  docs/docsite/rst/network/user_guide/network_resource_modules.rst
Labels: affects_2.10, core_review, docs, docsite, networking, support:core

#66253 made lower headings more obvious in html output
  docs/docsite/_static/ansible.css
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#65552 [2.8] dnf: don't return fail_json['msg'] as list
  changelogs/fragments/65302-dnf-msg-return.yml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.8, backport, backport_verified, bug, core_review, module, packaging, stale_ci, support:community, support:core

#65551 [2.9] dnf: don't return fail_json['msg'] as list
  changelogs/fragments/65302-dnf-msg-return.yml
  lib/ansible/modules/packaging/os/dnf.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, packaging, stale_ci, support:community, support:core

#66220 add details on network gather facts improvements
  docs/docsite/rst/network/getting_started/first_inventory.rst
  docs/docsite/rst/network/getting_started/first_playbook.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.10, core_review, docs, docsite, networking, support:core

#66362 Fix unarchive integration test on CentOS 6
  test/integration/targets/unarchive/handlers/main.yml
  test/integration/targets/unarchive/tasks/main.yml
Labels: affects_2.10, bug, core_review, files, m:unarchive, support:core

#65546 [Backport 2.8] gitlab_runner: fix idempotency for shared runners
  changelogs/fragments/65176-gitlab-runner-idempotency.yaml
  lib/ansible/modules/source_control/gitlab_runner.py
Labels: affects_2.8, backport, bug, community_review, gitlab, module, needs_triage, new_module, new_plugin, source_control, stale_ci, support:community

#65545 [Backport 2.9] gitlab_runner: fix idempotency for shared runners
  changelogs/fragments/65176-gitlab-runner-idempotency.yaml
  lib/ansible/modules/source_control/gitlab_runner.py
Labels: affects_2.9, backport, bug, community_review, gitlab, module, needs_triage, new_module, new_plugin, source_control, stale_ci, support:community

#66118 [2.8] docker_container: wait for removal if removal is in process
  changelogs/fragments/65854-docker_container-wait-for-removal.yml
  lib/ansible/module_utils/docker/common.py
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, backport, bug, cloud, community_review, docker, module, stale_ci, support:community

#66117 [2.9] docker_container: wait for removal if removal is in process
  changelogs/fragments/65854-docker_container-wait-for-removal.yml
  lib/ansible/module_utils/docker/common.py
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.9, backport, bug, cloud, community_review, docker, module, stale_ci, support:community

#66284 Trim down to one Ansible search option
  docs/docsite/_static/ansible.css
  docs/docsite/_themes/sphinx_rtd_theme/ansible_searchbox.html
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
  docs/docsite/_themes/sphinx_rtd_theme/searchbox.html
  docs/docsite/rst/conf.py
Labels: affects_2.10, bug, core_review, docs, support:core

#66060 Update deprecation version and porting guide for resource_id option
  changelogs/fragments/66060-redfish-new-resource-id-option.yaml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.10, docs, feature, shipit, support:community, support:core

#66221 [2.8] docker_container - #65993 - update restart policy (restart policy & restart retries) wit…
  changelogs/fragments/65993-restart-docker_container-on-restart-policy-updates.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.8, backport, bug, cloud, community_review, docker, module, needs_triage, owner_pr, support:community

#66222 [2.9] docker_container - #65993 - update restart policy (restart policy & restart retries) wit…
  changelogs/fragments/65993-restart-docker_container-on-restart-policy-updates.yaml
  lib/ansible/modules/cloud/docker/docker_container.py
Labels: affects_2.9, backport, bug, cloud, community_review, docker, module, needs_triage, owner_pr, support:community

#66116 [2.8] docker_network: fix multiple subnet (of same IP version) idempotence
  changelogs/fragments/65839-docker_network-idempotence.yml
  lib/ansible/modules/cloud/docker/docker_network.py
  test/integration/targets/docker_network/tasks/tests/ipam.yml
  test/units/modules/cloud/docker/test_docker_network.py
Labels: affects_2.8, backport, bug, cloud, docker, module, shipit, support:community, test

#66115 [2.9] docker_network: fix multiple subnet (of same IP version) idempotence
  changelogs/fragments/65839-docker_network-idempotence.yml
  lib/ansible/modules/cloud/docker/docker_network.py
  test/integration/targets/docker_network/tasks/tests/ipam.yml
  test/units/modules/cloud/docker/test_docker_network.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, docker, module, shipit, support:community, test

#66374 [stable-2.8] Add ansible-test constraint to avoid coverage 5.0+
  changelogs/fragments/ansible-test-coverage-constraint.yml
  test/runner/requirements/constraints.txt
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#66375 [stable-2.7] Add ansible-test constraint to avoid coverage 5.0+.
  changelogs/fragments/ansible-test-coverage-constraint.yml
  test/runner/requirements/constraints.txt
Labels: affects_2.7, backport, bug, core_review, support:community, support:core

#65493 [stable-2.8] Ensure `allow_duplicates: true` enables to run single role multiple times (#64902)
  changelogs/fragments/64902-fix-allow-duplicates-in-single-role.yml
  lib/ansible/playbook/play.py
  test/integration/targets/include_import/roles/dup_allowed_role/meta/main.yml
  test/integration/targets/include_import/roles/dup_allowed_role/tasks/main.yml
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/tasks/test_allow_single_role_dup.yml
Labels: affects_2.8, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#65575 Backport/2.8/63713 yum single yum base instantiation 53286 non existent repos
  changelogs/fragments/63551-yum-single-YumBase-instantiation.yaml
  changelogs/fragments/yum-enable-missing-repo.yaml
  lib/ansible/modules/packaging/os/yum.py
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, packaging, stale_ci, support:community, support:core

#64120 [2.9] Make docker_stack adhere to standard ansible return values
  changelogs/fragments/63467-docker-stack-return-fix.yml
  lib/ansible/modules/cloud/docker/docker_stack.py
Labels: affects_2.9, backport, bug, cloud, community_review, docker, module, needs_triage, owner_pr, stale_ci, support:community

#65539 [2.9] Fixed argument spec for multiple modules
  changelogs/fragments/spec_fix.yml
  lib/ansible/modules/cloud/amazon/cloudformation.py
  lib/ansible/modules/cloud/amazon/redshift.py
  lib/ansible/modules/cloud/ovirt/ovirt_permission_info.py
  lib/ansible/modules/database/aerospike/aerospike_migrations.py
  lib/ansible/modules/monitoring/librato_annotation.py
  lib/ansible/modules/monitoring/logicmonitor_facts.py
  lib/ansible/modules/monitoring/pagerduty_alert.py
  lib/ansible/modules/network/aci/aci_access_port_to_interface_policy_leaf_profile.py
  lib/ansible/modules/network/aci/aci_contract_subject_to_filter.py
  lib/ansible/modules/network/icx/icx_logging.py
  lib/ansible/modules/remote_management/manageiq/manageiq_alerts.py
  lib/ansible/modules/storage/netapp/na_ontap_autosupport.py
  lib/ansible/modules/storage/netapp/na_ontap_vscan_scanner_pool.py
  lib/ansible/modules/storage/netapp/netapp_e_syslog.py
  lib/ansible/modules/storage/netapp/netapp_e_volume.py
Labels: aci, affects_2.9, aws, backport, bug, cisco, cloud, database, module, monitoring, netapp, networking, ovirt, remote_management, shipit, storage, support:certified, support:community, support:core

#65207 [stable-2.9] user - compare macOS user properties using same type (#62973)
  changelogs/fragments/user-fix-value-comparison-on-macos.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, support:community, support:core, system

#65596 Backport of 64585: Don't return module error when mysql_connect fails
  changelogs/fragments/64585-mysql_dont_mask_mysql_connect_errors_from_modules.yml
  lib/ansible/module_utils/mysql.py
  lib/ansible/modules/database/mysql/mysql_info.py
Labels: affects_2.9, backport, bug, community_review, database, module, mysql, needs_triage, owner_pr, support:community, test

#65863 Backport of 65787 - postgresql_sequence: use query parameters with cu…
  changelogs/fragments/65787-postgresql_sequence_use_query_params_with_cursor.yml
  lib/ansible/modules/database/postgresql/postgresql_sequence.py
Labels: affects_2.9, backport, bug, database, module, owner_pr, postgresql, shipit, support:community

#65658 [2.9] crypto modules: fix various errors in argument specs
  changelogs/fragments/65633-crypto-argspec-fixup.yml
  lib/ansible/modules/crypto/openssh_cert.py
  lib/ansible/modules/crypto/openssl_certificate.py
  lib/ansible/modules/crypto/openssl_publickey.py
  test/integration/targets/setup_openssl/tasks/main.yml
  test/integration/targets/setup_openssl/vars/Debian.yml
  test/integration/targets/setup_openssl/vars/FreeBSD.yml
  test/integration/targets/setup_openssl/vars/RedHat.yml
  test/integration/targets/setup_openssl/vars/Suse.yml
Labels: affects_2.9, backport, bug, community_review, crypto, module, needs_triage, stale_ci, support:community, test

#65864 Backport of 65791 - postgresql modules: use query parameters with cursor objects
  changelogs/fragments/65791-postgresql_modules_use_query_params_with_cursor.yml
  lib/ansible/modules/database/postgresql/postgresql_set.py
  lib/ansible/modules/database/postgresql/postgresql_slot.py
  test/integration/targets/postgresql/tasks/postgresql_slot.yml
Labels: affects_2.9, backport, bug, database, module, postgresql, shipit, support:community, test

#66332 Backport 2.9: nxos_lag_interfaces Use dict_diff instead of sets to take diff of lag members
  changelogs/fragments/66126_fix_nxos_lag_interfaces_idempotence.yaml
  lib/ansible/module_utils/network/nxos/config/lag_interfaces/lag_interfaces.py
Labels: affects_2.9, backport, bug, cisco, core_review, needs_triage, networking, nxos, support:community, support:network

#65830 Fix action plugin issue with network connection type in common collec…
  changelogs/fragments/network_action_plugin_fixes.yml
  lib/ansible/plugins/action/aireos.py
  lib/ansible/plugins/action/aruba.py
  lib/ansible/plugins/action/asa.py
  lib/ansible/plugins/action/bigip.py
  lib/ansible/plugins/action/bigiq.py
  lib/ansible/plugins/action/ce.py
  lib/ansible/plugins/action/cli_command.py
  lib/ansible/plugins/action/cli_config.py
  lib/ansible/plugins/action/cnos.py
  lib/ansible/plugins/action/dellos10.py
  lib/ansible/plugins/action/dellos6.py
  lib/ansible/plugins/action/dellos9.py
  lib/ansible/plugins/action/edgeos_config.py
  lib/ansible/plugins/action/enos.py
  lib/ansible/plugins/action/eos.py
  lib/ansible/plugins/action/exos_lldp_global.py
  lib/ansible/plugins/action/ios.py
  lib/ansible/plugins/action/iosxr.py
  lib/ansible/plugins/action/ironware.py
  lib/ansible/plugins/action/junos.py
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
  lib/ansible/plugins/action/netconf.py
  lib/ansible/plugins/action/nxos.py
  lib/ansible/plugins/action/nxos_file_copy.py
  lib/ansible/plugins/action/sros.py
  lib/ansible/plugins/action/vyos.py
Labels: affects_2.9, aireos, asa, backport, bug, cisco, core_review, huawei, ios, iosxr, needs_triage, networking, new_plugin, nxos, stale_ci, support:community, support:network

#65845 Fix network_cli become check to be compatible with collections (#65829)
  changelogs/fragments/network_cli_enable_fix.yml
  lib/ansible/plugins/connection/network_cli.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, networking, stale_ci, support:community, support:network

#65657 [2.9] docker_* modules: fix various errors in argument specs
  changelogs/fragments/65632-docker-argspec-fixup.yml
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_image_info.py
  lib/ansible/modules/cloud/docker/docker_login.py
  lib/ansible/modules/cloud/docker/docker_stack.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/docker/docker_swarm_service.py
  test/integration/targets/docker_image/tasks/tests/options.yml
Labels: affects_2.9, backport, bug, cloud, community_review, docker, module, needs_triage, stale_ci, support:community, test

#65705 [2.9] ec2 Filter dictionary iteration errors on py3.8
  changelogs/fragments/ec2-filter-dict-iteration.yml
  lib/ansible/modules/cloud/amazon/ec2_group_info.py
  lib/ansible/modules/cloud/amazon/ec2_instance.py
  lib/ansible/modules/cloud/amazon/ec2_vol_info.py
Labels: affects_2.9, aws, backport, bug, cloud, community_review, module, python3, support:community

#65212 [2.9] various elbv2 bugfixes
  changelogs/fragments/65021-65183-elb-bugs.yml
  lib/ansible/module_utils/aws/elbv2.py
  lib/ansible/modules/cloud/amazon/elb_application_lb.py
  test/integration/targets/elb_application_lb/tasks/test_modifying_alb_listeners.yml
Labels: affects_2.9, aws, backport, bug, cloud, community_review, module, stale_ci, support:community

#66317 win_user_right - docs to show how to remove all (#66315)
  lib/ansible/modules/windows/win_user_right.py
Labels: affects_2.9, backport, backport_verified, community_review, docs, module, owner_pr, support:community, windows

#66316 Make sure warnings are printed during fact gathering (#66258) - 2.9
  changelogs/fragments/gather_facts-warnings.yaml
  lib/ansible/plugins/action/gather_facts.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, support:community, support:core

#66314 ansible-galaxy ignore empty server_list (#65986) - 2.9
  changelogs/fragments/galaxy-server-list.yaml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, support:community, support:core

#65619 display - Fix up tracebacks on 3rd party loggers when log path is set (#65582) - 2.9
  changelogs/fragments/logging-traceback.yaml
  lib/ansible/utils/display.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core
