Repository ansible/ansible, pull requests merged in 2020-03, with the labels that each got.

#67887 ldap_attr: fix small bug (using wrong variable)
  lib/ansible/modules/net_tools/ldap/ldap_attrs.py
Labels: affects_2.10, bug, community_review, module, needs_triage, net_tools, small_patch, support:community

#52650 NXOS: Manually Configurable Route-Target
  lib/ansible/modules/network/nxos/nxos_vrf_af.py
  test/units/modules/network/nxos/fixtures/nxos_vrf_af/config.cfg
  test/units/modules/network/nxos/test_nxos_vrf_af.py
Labels: affects_2.8, cisco, core_review, feature, module, networking, new_contributor, nxos, support:core, support:network, test, waiting_on_contributor

#67254 VyOS: firewall_interfaces module added
  lib/ansible/module_utils/network/vyos/argspec/firewall_interfaces/__init__.py
  lib/ansible/module_utils/network/vyos/argspec/firewall_interfaces/firewall_interfaces.py
  lib/ansible/module_utils/network/vyos/config/firewall_interfaces/__init__.py
  lib/ansible/module_utils/network/vyos/config/firewall_interfaces/firewall_interfaces.py
  lib/ansible/module_utils/network/vyos/facts/facts.py
  lib/ansible/module_utils/network/vyos/facts/firewall_interfaces/__init__.py
  lib/ansible/module_utils/network/vyos/facts/firewall_interfaces/firewall_interfaces.py
  lib/ansible/module_utils/network/vyos/utils/utils.py
  lib/ansible/modules/network/vyos/vyos_facts.py
  lib/ansible/modules/network/vyos/vyos_firewall_interfaces.py
  test/integration/targets/vyos_firewall_interfaces/1
  test/integration/targets/vyos_firewall_interfaces/defaults/main.yaml
  test/integration/targets/vyos_firewall_interfaces/meta/main.yaml
  test/integration/targets/vyos_firewall_interfaces/tasks/cli.yaml
  test/integration/targets/vyos_firewall_interfaces/tasks/main.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/_parsed_config.cfg
  test/integration/targets/vyos_firewall_interfaces/tests/cli/_populate.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/_populate_rule_sets.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/_remove_config.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/_remove_firewall_config.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/deleted.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/deleted_afi.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/deleted_all.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/deleted_single.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/empty_config.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/gathered.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/merged.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/merged_edit.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/overridden.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/parsed.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/rendered.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/replaced.yaml
  test/integration/targets/vyos_firewall_interfaces/tests/cli/rtt.yaml
  test/integration/targets/vyos_firewall_interfaces/vars/main.yaml
  test/units/modules/network/vyos/fixtures/vyos_firewall_interfaces_config.cfg
  test/units/modules/network/vyos/test_vyos_firewall_interfaces.py
Labels: affects_2.10, module, needs_revision, networking, new_module, new_plugin, support:community, support:core, support:network, test

#67863 Misc documentation fixes
  lib/ansible/module_utils/network/ios/config/interfaces/interfaces.py
  lib/ansible/module_utils/network/ios/config/l2_interfaces/l2_interfaces.py
  lib/ansible/module_utils/network/ios/config/l3_interfaces/l3_interfaces.py
  lib/ansible/module_utils/network/ios/config/lacp_interfaces/lacp_interfaces.py
  lib/ansible/module_utils/network/ios/config/lldp_interfaces/lldp_interfaces.py
  lib/ansible/module_utils/network/ios/config/vlans/vlans.py
  lib/ansible/module_utils/network/iosxr/config/interfaces/interfaces.py
  lib/ansible/module_utils/network/iosxr/config/l2_interfaces/l2_interfaces.py
  lib/ansible/module_utils/network/iosxr/config/l3_interfaces/l3_interfaces.py
  lib/ansible/modules/database/postgresql/postgresql_ext.py
  lib/ansible/modules/database/postgresql/postgresql_privs.py
  lib/ansible/modules/database/postgresql/postgresql_schema.py
  lib/ansible/modules/database/postgresql/postgresql_set.py
  lib/ansible/modules/database/postgresql/postgresql_user.py
  lib/ansible/plugins/callback/jabber.py
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.10, bug, cisco, database, ios, iosxr, module, needs_revision, networking, postgresql, support:community, support:core, support:network, windows

#67895 MongoDB: different test setups collide
  test/integration/targets/mongodb_info/aliases
Labels: affects_2.10, bug, needs_revision, support:community

#67802 nxos_lldp_interfaces resource module
  lib/ansible/module_utils/network/nxos/argspec/lldp_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/lldp_interfaces/lldp_interfaces.py
  lib/ansible/module_utils/network/nxos/config/lldp_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/config/lldp_interfaces/lldp_interfaces.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/module_utils/network/nxos/facts/lldp_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/facts/lldp_interfaces/lldp_interfaces.py
  lib/ansible/modules/network/nxos/nxos_lldp_interfaces.py
  test/integration/targets/nxos_lldp_interfaces/defaults/main.yaml
  test/integration/targets/nxos_lldp_interfaces/meta/main.yml
  test/integration/targets/nxos_lldp_interfaces/tasks/cli.yaml
  test/integration/targets/nxos_lldp_interfaces/tasks/main.yaml
  test/integration/targets/nxos_lldp_interfaces/tasks/nxapi.yaml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/deleted.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/gathered.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/merged.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/overridden.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/parsed.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/remove_config.yaml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/rendered.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/replaced.yml
  test/integration/targets/nxos_lldp_interfaces/tests/cli/rtt.yml
  test/integration/targets/nxos_lldp_interfaces/vars/main.yml
  test/units/modules/network/nxos/test_nxos_lldp_interfaces.py
Labels: affects_2.10, cisco, core_review, module, networking, new_module, new_plugin, nxos, support:community, support:core, support:network, test

#67897 Remove invalid skip aliases in tests.
  test/integration/targets/mariadb_replication/aliases
  test/integration/targets/mongodb_info/aliases
  test/integration/targets/mysql_info/aliases
  test/integration/targets/mysql_query/aliases
  test/integration/targets/mysql_replication/aliases
  test/integration/targets/mysql_variables/aliases
  test/integration/targets/postgresql_ext/aliases
  test/integration/targets/postgresql_info/aliases
  test/integration/targets/postgresql_publication/aliases
  test/integration/targets/postgresql_subscription/aliases
  test/integration/targets/postgresql_user_obj_stat_info/aliases
Labels: affects_2.10, bug, database, mysql, needs_revision, postgresql, support:community, test

#67899 Skip mongodb tests on all centos versions.
  test/integration/targets/incidental_setup_mongodb/tasks/main.yml
  test/integration/targets/setup_mongodb/tasks/main.yml
Labels: affects_2.10, bug, community_review, support:community, test

#67889 Fix ansible-test module_utils analysis.
  changelogs/fragments/ansible-test-ast-parse-bytes.yml
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#67901 Remove redundant check for pyopenssl
  changelogs/fragments/67901-get_certificate-fix-cryptography.yml
  lib/ansible/modules/crypto/get_certificate.py
Labels: affects_2.10, bug, community_review, crypto, module, needs_triage, python3, support:community, traceback

#67908 Fix AttributeError in ce_lacp on Python 3.9.
  lib/ansible/modules/network/cloudengine/ce_lacp.py
Labels: affects_2.10, bug, community_review, huawei, module, networking, python3, support:community

#67906 Increase unit test coverage timeout.
  test/utils/shippable/units.sh
Labels: affects_2.10, bug, core_review, support:core, test

#67902 Fix ansible-test import sanity test venv setup.
  changelogs/fragments/ansible-test-venv-pkg-resources.yaml
  test/lib/ansible_test/_internal/sanity/import.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#67907 Fix ACI unit test on Python 3.8+
  test/units/module_utils/network/aci/test_aci.py
Labels: affects_2.10, bug, core_review, python3, support:core

#67905 Fix ansible-test constraints for AWS.
  changelogs/fragments/ansible-test-boto-constraints.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#67892 win_timezone - Allow for _dstoff timezones
  changelogs/fragments/win_timezone-Allow-dstoff.yml
  lib/ansible/modules/windows/win_timezone.ps1
  lib/ansible/modules/windows/win_timezone.py
  test/integration/targets/win_timezone/tasks/tests.yml
Labels: affects_2.10, bug, core_review, module, support:community, support:core, windows

#67909 Skip ios_acls unit test on Python 3.5.
  test/units/modules/network/ios/test_ios_acls.py
Labels: affects_2.10, bug, cisco, core_review, ios, networking, python3, support:core, test

#67891 Add Python 3.9 to ansible-test.
  changelogs/fragments/ansible-test-python-3.9.yaml
  shippable.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/sanity/compile/compile.py
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.10, core_review, feature, python3, support:community, support:core, test

#67912 Increase unit test timeout.
  test/utils/shippable/units.sh
Labels: affects_2.10, bug, core_review, support:core, test

#67505 NX-OS ACL interfaces module
  lib/ansible/module_utils/network/nxos/argspec/acl_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/acl_interfaces/acl_interfaces.py
  lib/ansible/module_utils/network/nxos/config/acl_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/config/acl_interfaces/acl_interfaces.py
  lib/ansible/module_utils/network/nxos/facts/acl_interfaces/__init__.py
  lib/ansible/module_utils/network/nxos/facts/acl_interfaces/acl_interfaces.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/modules/network/nxos/nxos_acl_interfaces.py
  lib/ansible/plugins/terminal/nxos.py
  test/integration/targets/nxos_acl_interfaces/defaults/main.yaml
  test/integration/targets/nxos_acl_interfaces/meta/main.yml
  test/integration/targets/nxos_acl_interfaces/tasks/cli.yaml
  test/integration/targets/nxos_acl_interfaces/tasks/main.yaml
  test/integration/targets/nxos_acl_interfaces/tests/cli/deleted.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/gathered.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/merged.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/overridden.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/parsed.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/populate_acl.yaml
  test/integration/targets/nxos_acl_interfaces/tests/cli/populate_config.yaml
  test/integration/targets/nxos_acl_interfaces/tests/cli/remove_config.yaml
  test/integration/targets/nxos_acl_interfaces/tests/cli/rendered.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/replaced.yml
  test/integration/targets/nxos_acl_interfaces/tests/cli/rtt.yml
  test/integration/targets/nxos_acl_interfaces/vars/main.yml
  test/units/modules/network/nxos/fixtures/nxos_acl_interfaces/nxos_acl_interfaces.cfg
  test/units/modules/network/nxos/nxos_module.py
  test/units/modules/network/nxos/test_nxos_acl_interfaces.py
Labels: affects_2.10, cisco, module, needs_revision, networking, new_module, new_plugin, nxos, support:community, support:core, support:network, test

#67910 Split C# module utils to their own test target
  test/integration/targets/module_utils_Ansible.AccessToken/aliases
  test/integration/targets/module_utils_Ansible.AccessToken/library/ansible_access_token_tests.ps1
  test/integration/targets/module_utils_Ansible.AccessToken/tasks/main.yml
  test/integration/targets/module_utils_Ansible.Basic/aliases
  test/integration/targets/module_utils_Ansible.Basic/library/ansible_basic_tests.ps1
  test/integration/targets/module_utils_Ansible.Basic/tasks/main.yml
  test/integration/targets/module_utils_Ansible.Become/aliases
  test/integration/targets/module_utils_Ansible.Become/library/ansible_become_tests.ps1
  test/integration/targets/module_utils_Ansible.Become/tasks/main.yml
  test/integration/targets/module_utils_Ansible.Privilege/aliases
  test/integration/targets/module_utils_Ansible.Privilege/library/ansible_privilege_tests.ps1
  test/integration/targets/module_utils_Ansible.Privilege/tasks/main.yml
  test/integration/targets/module_utils_Ansible.Process/aliases
  test/integration/targets/module_utils_Ansible.Process/library/ansible_process_tests.ps1
  test/integration/targets/module_utils_Ansible.Process/tasks/main.yml
  test/integration/targets/module_utils_Ansible.Service/aliases
  test/integration/targets/module_utils_Ansible.Service/library/ansible_service_tests.ps1
  test/integration/targets/module_utils_Ansible.Service/tasks/main.yml
  test/integration/targets/win_csharp_utils/tasks/main.yml
  test/sanity/ignore.txt
Labels: affects_2.10, core_review, feature, needs_triage, support:community, support:core, test

#67914 Separated ps module_util test targets, added WebRequest tests
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/library/add_type_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.ArgvParser/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.ArgvParser/library/argv_parser_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.ArgvParser/meta/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.ArgvParser/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.Backup/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.Backup/library/backup_file_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.Backup/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.CamelConversion/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.CamelConversion/library/camel_conversion_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.CamelConversion/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.CommandUtil/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.CommandUtil/library/command_util_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.CommandUtil/meta/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.CommandUtil/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.FileUtil/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.FileUtil/library/file_util_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.FileUtil/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.Legacy/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.Legacy/library/testlist.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.Legacy/library/testpath.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.Legacy/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.LinkUtil/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.LinkUtil/library/symbolic_link_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.LinkUtil/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.PrivilegeUtil/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.PrivilegeUtil/library/privilege_util_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.PrivilegeUtil/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.SID/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.SID/library/sid_utils_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.SID/tasks/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.WebRequest/aliases
  test/integration/targets/module_utils_Ansible.ModuleUtils.WebRequest/library/web_request_test.ps1
  test/integration/targets/module_utils_Ansible.ModuleUtils.WebRequest/meta/main.yml
  test/integration/targets/module_utils_Ansible.ModuleUtils.WebRequest/tasks/main.yml
  test/integration/targets/setup_win_printargv/files/PrintArgv.cs
  test/integration/targets/setup_win_printargv/meta/main.yml
  test/integration/targets/setup_win_printargv/tasks/main.yml
  test/integration/targets/win_module_utils/tasks/main.yml
  test/sanity/ignore.txt
Labels: affects_2.10, core_review, feature, needs_triage, support:community, support:core, test

#67917 Split unit tests into 3 groups.
  shippable.yml
  test/utils/shippable/units.sh
Labels: affects_2.10, bug, core_review, support:core, test

#67915 Skip lookup tests on Python 2.6.
  test/integration/targets/lookup_cartesian/aliases
  test/integration/targets/lookup_dict/aliases
  test/integration/targets/lookup_env/aliases
  test/integration/targets/lookup_file/aliases
  test/integration/targets/lookup_first_found/aliases
  test/integration/targets/lookup_flattened/aliases
  test/integration/targets/lookup_hashi_vault/aliases
  test/integration/targets/lookup_indexed_items/aliases
  test/integration/targets/lookup_ini/aliases
  test/integration/targets/lookup_inventory_hostnames/aliases
  test/integration/targets/lookup_items/aliases
  test/integration/targets/lookup_lines/aliases
  test/integration/targets/lookup_lmdb_kv/aliases
  test/integration/targets/lookup_nested/aliases
  test/integration/targets/lookup_password/aliases
  test/integration/targets/lookup_passwordstore/aliases
  test/integration/targets/lookup_pipe/aliases
  test/integration/targets/lookup_rabbitmq/aliases
  test/integration/targets/lookup_random_choice/aliases
  test/integration/targets/lookup_sequence/aliases
  test/integration/targets/lookup_subelements/aliases
  test/integration/targets/lookup_template/aliases
  test/integration/targets/lookup_together/aliases
  test/integration/targets/lookup_url/aliases
  test/integration/targets/lookup_vars/aliases
Labels: affects_2.10, bug, community_review, support:community

#67911 Update default test container to version 1.12.
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, bug, core_review, support:core, test

#67916 To fix nxos_l2_interfaces integration tests failure
  test/integration/targets/nxos_l2_interfaces/tests/cli/deleted.yaml
  test/integration/targets/nxos_l2_interfaces/tests/cli/merged.yaml
Labels: affects_2.10, bug, cisco, core_review, networking, nxos, python3, support:network, test

#67922 ovirt_vm: remove deprecated warning
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.10, automerge, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#67826 ovirt: update botmeta deprecated
  .github/BOTMETA.yml
  lib/ansible/modules/cloud/misc/_ovirt.py
  lib/ansible/modules/cloud/ovirt/_ovirt_affinity_label_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_api_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_cluster_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_datacenter_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_disk_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_event_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_external_provider_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_group_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_host_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_host_storage_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_network_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_nic_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_permission_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_quota_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_scheduling_policy_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_snapshot_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_storage_domain_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_storage_template_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_storage_vm_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_tag_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_template_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_user_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_vm_facts.py
  lib/ansible/modules/cloud/ovirt/_ovirt_vmpool_facts.py
  lib/ansible/plugins/doc_fragments/ovirt_facts.py
  test/sanity/ignore.txt
Labels: affects_2.10, botmeta, core_review, docs, needs_rebase, needs_revision, needs_triage, support:core

#67558 NX-OS ACLs module
  lib/ansible/module_utils/network/nxos/argspec/acls/__init__.py
  lib/ansible/module_utils/network/nxos/argspec/acls/acls.py
  lib/ansible/module_utils/network/nxos/config/acls/__init__.py
  lib/ansible/module_utils/network/nxos/config/acls/acls.py
  lib/ansible/module_utils/network/nxos/facts/acls/__init__.py
  lib/ansible/module_utils/network/nxos/facts/acls/acls.py
  lib/ansible/module_utils/network/nxos/facts/facts.py
  lib/ansible/modules/network/nxos/nxos_acls.py
  test/integration/targets/nxos_acls/defaults/main.yaml
  test/integration/targets/nxos_acls/meta/main.yml
  test/integration/targets/nxos_acls/tasks/cli.yaml
  test/integration/targets/nxos_acls/tasks/main.yaml
  test/integration/targets/nxos_acls/tests/cli/deleted.yml
  test/integration/targets/nxos_acls/tests/cli/gathered.yml
  test/integration/targets/nxos_acls/tests/cli/merged.yml
  test/integration/targets/nxos_acls/tests/cli/overridden.yml
  test/integration/targets/nxos_acls/tests/cli/parsed.yml
  test/integration/targets/nxos_acls/tests/cli/populate_config.yaml
  test/integration/targets/nxos_acls/tests/cli/remove_config.yaml
  test/integration/targets/nxos_acls/tests/cli/rendered.yml
  test/integration/targets/nxos_acls/tests/cli/replaced.yml
  test/integration/targets/nxos_acls/tests/cli/rtt.yml
  test/units/modules/network/nxos/test_nxos_acls.py
Labels: affects_2.10, cisco, core_review, module, networking, new_module, new_plugin, nxos, support:community, support:core, support:network, test

#67918 NX-OS: Update nxos_l2_interfaces merged test assertion
  test/integration/targets/nxos_l2_interfaces/tests/cli/merged.yaml
Labels: affects_2.10, bug, cisco, core_review, needs_triage, networking, nxos, python3, support:network, test

#67934 Disable automerge
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, bug, core_review, small_patch, support:core

#67920 Unit test cleanup to assist with migration.
  test/sanity/ignore.txt
  test/units/module_utils/test_netapp.py
  test/units/modules/cloud/linode/conftest.py
  test/units/modules/cloud/linode/test_linode_v4.py
  test/units/modules/cloud/linode_v4/__init__.py
  test/units/modules/cloud/linode_v4/conftest.py
  test/units/modules/storage/netapp/test_netapp.py
Labels: affects_2.10, bug, core_review, netapp, storage, support:community, support:core, test

#66905 [stable-2.7] tests: ipify_facts: retry on fail (#66897)
  test/integration/targets/ipify_facts/tasks/main.yml
Labels: affects_2.7, backport, backport_verified, bug, community_review, stale_ci, support:community

#67944 Set fallaxy tests as a smoketest
  test/integration/targets/ansible-galaxy-collection/aliases
Labels: affects_2.10, bug, community_review, support:community

#67941 Restore AIX in CI test matrix.
  shippable.yml
Labels: affects_2.10, bug, core_review, support:core

#67121 Make nios_txt_record use text field for object lookup
  lib/ansible/modules/net_tools/nios/nios_txt_record.py
Labels: affects_2.8, backport, bug, committer_review, has_issue, infoblox, module, needs_triage, net_tools, networking, new_contributor, small_patch, stale_ci, support:certified

#67599 Use Ansible to load ps module utils in arg spec checker - 2.9
  changelogs/fragments/valdate-modules-ps-arg-util.yaml
  lib/ansible/executor/powershell/module_manifest.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/module_args.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core, test, windows

#67471 Backport PR #67339 - Fix proxysql module cursor_class
  changelogs/fragments/67337-fix-proxysql-mysql-cursor.yaml
  lib/ansible/modules/database/proxysql/proxysql_backend_servers.py
  lib/ansible/modules/database/proxysql/proxysql_global_variables.py
  lib/ansible/modules/database/proxysql/proxysql_mysql_users.py
  lib/ansible/modules/database/proxysql/proxysql_query_rules.py
  lib/ansible/modules/database/proxysql/proxysql_replication_hostgroups.py
  lib/ansible/modules/database/proxysql/proxysql_scheduler.py
Labels: affects_2.9, backport, bug, community_review, database, module, mysql, stale_ci, support:community

#66399 Add collection support for network platform agnostic modules (#66342)
  changelogs/fragments/net_modules_collection_support.yml
  lib/ansible/plugins/action/net_base.py
Labels: affects_2.9, backport, bug, core_review, networking, stale_ci, support:community, support:network

#67947 O365 connector_card import from dict_transformations
  lib/ansible/modules/notification/office_365_connector_card.py
Labels: affects_2.10, bug, community_review, module, notification, small_patch, support:community

#67346 Fix to - eos_vlans using state parameter replaced is giving odd behavior
  changelogs/fragments/67318-eos_vlans_replaced.yml
  lib/ansible/module_utils/network/eos/config/vlans/vlans.py
  test/integration/targets/eos_vlans/tests/cli/replaced.yaml
  test/units/modules/network/eos/fixtures/eos_vlan_config.cfg
  test/units/modules/network/eos/test_eos_vlans.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, networking, stale_ci, support:community, support:core, support:network, test

#67602 [2.9] Templating: make sure only one variable results are cached
  changelogs/fragments/67429-jinja2-caching.yml
  lib/ansible/template/__init__.py
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core

#67874 ansible-galaxy - optimise some paths and use fake galaxy int tests (#67685) - 2.9
  changelogs/fragments/ansible-galaxy-collections.yaml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/token.py
  test/integration/targets/ansible-galaxy-collection/aliases
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/meta/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/build.yml
  test/integration/targets/ansible-galaxy-collection/tasks/init.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/publish.yml
  test/integration/targets/ansible-galaxy-collection/templates/ansible.cfg.j2
  test/integration/targets/ansible-galaxy/runme.sh
  test/lib/ansible_test/_internal/cloud/fallaxy.py
  test/units/galaxy/test_api.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#67754 [stable-2.9] Clean up CONDITIONAL_BARE_VARS warning
  changelogs/fragments/67735-warning-cleanup.yml
  lib/ansible/playbook/conditional.py
Labels: affects_2.9, backport, core_review, support:community, support:core

#67441 [2.9] docker_login: fix permissions for ~/.docker/config.json
  changelogs/fragments/67353-docker_login-permissions.yml
  lib/ansible/modules/cloud/docker/docker_login.py
Labels: affects_2.9, backport, bug, cloud, community_review, docker, has_issue, module, owner_pr, stale_ci, support:community

#67531 Backport/2.9/60508
  changelogs/fragments/60508-route53-improve-octal-characters-handling.yml
  lib/ansible/modules/cloud/amazon/route53.py
Labels: affects_2.9, aws, backport, cloud, module, needs_info, needs_template, stale_ci, support:community

#67842 [2.9] Bugfix of 65351: mysql_db create dump with CREATE DATABASE and USE instruction
  changelogs/fragments/67767-mysql_db_fix_bug_introduced_by_56721.yml
  lib/ansible/modules/database/mysql/mysql_db.py
Labels: affects_2.9, backport, bug, community_review, database, has_issue, module, mysql, owner_pr, support:community

#67546 [backport 2.9] Bump min openstacksdk version for os_network
  changelogs/fragments/62062-os_network-openstacksdk-min.yml
  changelogs/fragments/64495-os_network-openstacksdk-min.yml
  lib/ansible/modules/cloud/openstack/os_network.py
Labels: affects_2.9, backport, bug, cloud, has_issue, module, openstack, owner_pr, shipit, support:community

#67577 [backport 2.8] Bump min openstacksdk version for os_network
  changelogs/fragments/62062-os_network-openstacksdk-min.yml
  lib/ansible/module_utils/openstack.py
  lib/ansible/modules/cloud/openstack/os_network.py
Labels: affects_2.8, backport, bug, cloud, has_issue, module, needs_ci, openstack, owner_pr, shipit, stale_ci, support:community

#66904 [stable-2.8] tests: ipify_facts: retry on fail (#66897)
  test/integration/targets/ipify_facts/tasks/main.yml
Labels: affects_2.8, backport, backport_verified, bug, community_review, stale_ci, support:community

#67879 [2.9] line indentation issue in postgresql_set (#67859)
  lib/ansible/modules/database/postgresql/postgresql_set.py
Labels: affects_2.9, backport, backport_verified, community_review, database, docs, module, owner_pr, postgresql, small_patch, support:community

#67880 [2.8] line indentation issue in postgresql_set (#67859)
  lib/ansible/modules/database/postgresql/postgresql_set.py
Labels: affects_2.8, backport, backport_verified, community_review, database, docs, module, owner_pr, postgresql, small_patch, support:community

#67065 win_uri: fix up tests (#67064) - 2.8
  test/integration/targets/win_uri/tasks/main.yml
Labels: affects_2.8, backport, backport_verified, bug, community_review, stale_ci, support:community, windows

#67002 [BACKPORT 2.8] Fix user_agent string not getting set
  changelogs/fragments/66914-purefa_user_string.yaml
  lib/ansible/module_utils/pure.py
Labels: affects_2.8, backport, backport_verified, bug, community_review, owner_pr, pure_storage, stale_ci, support:community

#67923 Ovirt vm deprecated backport
  changelogs/fragments/67922-ovirt_vm-remove-deprecation-warning.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, backport, backport_verified, cloud, community_review, module, ovirt, owner_pr, support:community

#67903 [2.9] Remove redundant check for pyopenssl
  changelogs/fragments/67901-get_certificate-fix-cryptography.yml
  lib/ansible/modules/crypto/get_certificate.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, crypto, module, owner_pr, support:community

#67882 [2.9] acme_* modules: adjust documentation to reference RFCs 8737 and 8738 instead of the drafts
  lib/ansible/modules/crypto/acme/acme_certificate.py
  lib/ansible/modules/crypto/acme/acme_challenge_cert_helper.py
  lib/ansible/modules/crypto/acme/acme_inspect.py
  test/integration/targets/acme_inspect/tasks/impl.yml
Labels: affects_2.9, backport, backport_verified, community_review, crypto, docs, module, support:community, test

#67872 [2.9] Run Powershell modules on windows container via docker connection
  changelogs/fragments/67832-run_powershell_modules_on_windows_containers.yml
  lib/ansible/plugins/connection/docker.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, docker, support:community

#67741 Fix inline vaults for plugins in ensure_type (#67492)
  changelogs/fragments/67492-fix-decrypting-str-types-for-plugins.yaml
  lib/ansible/config/manager.py
  test/units/config/test_manager.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, support:community, support:core

#67740 strip spaces for each value in host list lists (#67701)
  changelogs/fragments/pathlist_strip.yml
  lib/ansible/config/manager.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, support:community, support:core

#67721 [2.9] hostname: Use hostnamectl for Systemd strategy
  changelogs/fragments/59438-hostname-use-hostnamectl.yml
  lib/ansible/modules/system/hostname.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, has_issue, module, support:community, system

#67719 [Backport/2.9/66098]: Fix duplicate log entries
  changelogs/fragments/66098-unixy-remove-duplicate-log-entries.yaml
  lib/ansible/plugins/callback/unixy.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, support:community

#67703 [2.9] Allow nxos_l2_interfaces to append the allowed vlans list
  changelogs/fragments/66517-nxos-append-allowed-vlans.yaml
  lib/ansible/module_utils/network/nxos/config/l2_interfaces/l2_interfaces.py
  test/integration/targets/nxos_l2_interfaces/tests/cli/merged.yaml
  test/integration/targets/nxos_l2_interfaces/tests/cli/overridden.yaml
  test/integration/targets/nxos_l2_interfaces/tests/cli/replaced.yaml
Labels: affects_2.9, backport, backport_verified, bug, cisco, core_review, networking, nxos, support:community, support:network, test

#67713 [stable-2.9] Allow SSH synchronization between Docker containers (#65698)
  changelogs/fragments/65698-synchronize-docker-controller-managed.yml
  lib/ansible/plugins/action/synchronize.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, support:community, support:core

#67700 Ovirt vm numa backport
  changelogs/fragments/67611-ovirt_vm-correct-numa-nodes.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#67618 [stable-2.9] Do not error if collection specified null dependencies (#67575)
  changelogs/fragments/67574-null_collection_dependency_list.yml
  lib/ansible/galaxy/collection.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core

#67552 win_credential - fix wildcard name (#67549) - 2.9
  changelogs/fragments/win_credential-wildcard.yaml
  lib/ansible/modules/windows/win_credential.ps1
  test/integration/targets/win_credential/tasks/tests.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, stale_ci, support:community, support:core, windows

#67542 Fixi iscsi register backport
  changelogs/fragments/67463-ovirt_vm-fix-keyError-for-iSCSI-parameters.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, module, ovirt, owner_pr, shipit, support:community

#67525 [2.9] Fix links in Postgresql modules
  changelogs/fragments/67511-postgresql-fix-link.yml
  lib/ansible/modules/database/postgresql/postgresql_table.py
  lib/ansible/plugins/doc_fragments/postgres.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, database, module, postgresql, stale_ci, support:community

#67519 [2.9] openssl_* modules: prevent crash on fingerprint determination in FIPS mode
  changelogs/fragments/67515-openssl-fingerprint-fips.yml
  lib/ansible/module_utils/crypto.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, crypto, owner_pr, stale_ci, support:community

#67514 [2.9] VMware: vmware_export_ovf module fix Python3 compatibility issue
  changelogs/fragments/60265-vmware_export_ovf-py3fix.yml
  lib/ansible/modules/cloud/vmware/vmware_export_ovf.py
  test/integration/targets/vmware_export_ovf/aliases
  test/integration/targets/vmware_export_ovf/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, has_issue, module, python3, stale_ci, support:community, vmware

#67513 [2.9] vultr: Fix retry max delay param ignored (#67437)
  changelogs/fragments/67437-vultr-fix-retry-max-delay-param.yml
  lib/ansible/module_utils/vultr.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, owner_pr, stale_ci, support:community, vultr

#67480 2.9: Remove a host from a play after meta: end_host (#66851)
  changelogs/fragments/end_host-remove_host_from_play.yml
  lib/ansible/plugins/strategy/__init__.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, stale_ci, support:community, support:core

#67479 azure_rm_rg_info: fix KeyError: 'ansible_facts' (#66729)
  changelogs/fragments/67479-fix-azure_rm_resourcegroup_facts.yaml
  lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_info.py
Labels: affects_2.9, azure, backport, backport_verified, bug, cloud, community_review, has_issue, module, stale_ci, support:community

#67431 Backport/2.9/57737 ec2_asg unhandled exception
  changelogs/fragments/57737-fix-asg-with-no-lc-anymore.yml
  lib/ansible/modules/cloud/amazon/ec2_asg.py
Labels: affects_2.9, aws, backport, backport_verified, bug, cloud, community_review, module, stale_ci, support:community

#67413 galaxy - Fix collection install dep resolver for bad versions (#67405)
  changelogs/fragments/galaxy-collection-install-version.yaml
  lib/ansible/galaxy/collection.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, has_issue, stale_ci, support:community, support:core

#67394 [Backport/2.9/67312] VMware: Fix creating IP specific firewall rules with Python 2
  changelogs/fragments/67303-vmware_host_firewall_manager-fix_ip_specific_firewall_rules_for_python2.yml
  lib/ansible/modules/cloud/vmware/vmware_host_firewall_manager.py
Labels: affects_2.9, backport, backport_verified, bug, cloud, community_review, module, support:community, vmware

#67336 Backport PR to fix the bug where IOS vlans module throws traceback
  changelogs/fragments/64633-fix-ios-vlans-traceback-error.yaml
  lib/ansible/module_utils/network/ios/facts/vlans/vlans.py
Labels: affects_2.9, backport, backport_verified, bug, cisco, core_review, ios, networking, stale_ci, support:community, support:network

#67335 [stable-2.9] Fix eos_vlans docs
  changelogs/fragments/66131_backport_eos_vlans_doc_fix.yaml
  lib/ansible/modules/network/eos/eos_vlans.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, networking, stale_ci, support:community, support:network

#67334 Bugfix of 65525: proxysql in check_config TypeError: tuple indices must be integers, not str (#66850)
  lib/ansible/modules/database/proxysql/proxysql_backend_servers.py
  lib/ansible/modules/database/proxysql/proxysql_global_variables.py
Labels: affects_2.9, backport, backport_verified, bug, community_review, database, module, mysql, owner_pr, small_patch, stale_ci, support:community

#67619 [stable-2.9] ansible-galaxy - fix role list bug (#67391)
  changelogs/fragments/67365-role-list-role-name-in-path.yml
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.9, backport, bug, core_review, support:community, support:core

#67977 Fix powershell coverage path rewriting.
  changelogs/fragments/ansible-test-powershell-coverage-paths.yml
  test/lib/ansible_test/_internal/coverage/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/coverage/combine.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#67982 Automatically enable test plugins after migration.
  test/utils/shippable/linux.sh
  test/utils/shippable/remote.sh
  test/utils/shippable/windows.sh
Labels: affects_2.10, core_review, feature, support:core, test

#67983 Update test matrix to prepare for migration.
  shippable.yml
  test/integration/targets/ansible-galaxy-collection/aliases
  test/utils/shippable/fallaxy.sh
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#67986 Increase unit test timeouts.
  test/utils/shippable/units.sh
Labels: affects_2.9, backport, bug, core_review, support:core, test

#67945 [stable-2.9] win_unzip - LiteralPath fix (#66972)
  changelogs/fragments/win_unzip-paths.yaml
  lib/ansible/modules/windows/win_unzip.ps1
  test/integration/targets/win_unzip/defaults/main.yml
  test/integration/targets/win_unzip/files/create_zip.py
  test/integration/targets/win_unzip/meta/main.yml
  test/integration/targets/win_unzip/tasks/clean.yml
  test/integration/targets/win_unzip/tasks/main.yml
  test/integration/targets/win_unzip/tasks/tests.yml
  test/sanity/ignore.txt
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, support:community, support:core, test, windows

#67950 [stable-2.8] win_unzip - LiteralPath fix (#66972)
  changelogs/fragments/win_unzip-paths.yaml
  lib/ansible/modules/windows/win_unzip.ps1
  test/integration/targets/win_unzip/defaults/main.yml
  test/integration/targets/win_unzip/files/create_zip.py
  test/integration/targets/win_unzip/meta/main.yml
  test/integration/targets/win_unzip/tasks/clean.yml
  test/integration/targets/win_unzip/tasks/main.yml
  test/integration/targets/win_unzip/tasks/tests.yml
  test/sanity/pslint/ignore.txt
Labels: affects_2.8, backport, bug, core_review, module, support:community, support:core, test, windows

#67971 [stable-2.8] openssl_* modules: prevent crash on fingerprint determination in FIPS mode (#67515)
  changelogs/fragments/67515-openssl-fingerprint-fips.yml
  lib/ansible/module_utils/crypto.py
Labels: affects_2.8, backport, backport_verified, bug, crypto, shipit, support:community

#67955 mysql_db: partial revert of backport #66998
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.9, backport, bug, community_review, database, module, mysql, owner_pr, support:community

#66999 Backport of 66995: mysql_user doesnt support privileges with underscore
  changelogs/fragments/66974-mysql_user_doesnt_support_privs_with_underscore.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.8, backport, bug, community_review, database, module, mysql, owner_pr, support:community

#68018 Skip removed windows CI groups after migration.
  test/utils/shippable/windows.sh
Labels: affects_2.10, core_review, feature, support:core, test

#68015 Include more test support plugins.
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/aws/__init__.py
  test/support/integration/plugins/module_utils/common/__init__.py
  test/support/integration/plugins/module_utils/compat/__init__.py
  test/support/integration/plugins/module_utils/docker/__init__.py
  test/support/integration/plugins/module_utils/ecs/__init__.py
  test/support/integration/plugins/module_utils/ecs/api.py
  test/support/integration/plugins/module_utils/k8s/__init__.py
  test/support/integration/plugins/module_utils/net_tools/__init__.py
  test/support/integration/plugins/module_utils/net_tools/nios/__init__.py
  test/support/integration/plugins/module_utils/network/__init__.py
  test/support/integration/plugins/module_utils/network/common/__init__.py
  test/support/integration/plugins/modules/htpasswd.py
  test/support/windows-integration/plugins/modules/win_certificate_store.ps1
  test/support/windows-integration/plugins/modules/win_certificate_store.py
  test/support/windows-integration/plugins/modules/win_wait_for.ps1
  test/support/windows-integration/plugins/modules/win_wait_for.py
Labels: affects_2.10, bug, core_review, new_plugin, support:core, test

#68021 Remove file exists check from botmeta sanity test.
  test/sanity/code-smell/botmeta.py
Labels: affects_2.10, bug, shipit, support:core, test

#68022 Update no-unwanted-files sanity test.
  test/sanity/code-smell/no-unwanted-files.py
Labels: affects_2.10, bug, core_review, support:core, test

#68026 Split test_play_context_make_become_cmd into files
  test/units/playbook/test_play_context.py
  test/units/plugins/become/__init__.py
  test/units/plugins/become/conftest.py
  test/units/plugins/become/test_doas.py
  test/units/plugins/become/test_dzdo.py
  test/units/plugins/become/test_ksu.py
  test/units/plugins/become/test_pbrun.py
  test/units/plugins/become/test_pfexec.py
  test/units/plugins/become/test_su.py
  test/units/plugins/become/test_sudo.py
Labels: affects_2.10, bug, core_review, new_plugin, support:core

#68027 Add missing test support plugin.
  test/support/integration/plugins/modules/sefcontext.py
Labels: affects_2.10, bug, core_review, new_plugin, support:core, test

#68043 OpenStack: ensure min_version is a string
  lib/ansible/module_utils/openstack.py
Labels: affects_2.8, backport, bug, cloud, openstack, shipit, small_patch, support:community

#68049 Add changelog entry for #68043
  changelogs/fragments/openstack-regression.yml
Labels: affects_2.8, backport, bug, community_review, owner_pr, support:community

#67985 win - Allow FQCN for win_command and win_shell
  lib/ansible/cli/adhoc.py
  lib/ansible/constants.py
  lib/ansible/parsing/mod_args.py
Labels: affects_2.10, bug, needs_revision, support:core

#68056 Relocate netbox module_utils unit tests.
  test/sanity/ignore.txt
  test/units/module_utils/net_tools/netbox/__init__.py
  test/units/module_utils/net_tools/netbox/test_netbox_utils.py
Labels: affects_2.10, bug, core_review, support:core, test

#68085 make test_raw use setUp instead of global definitions
  test/units/plugins/action/test_raw.py
Labels: affects_2.10, bug, core_review, support:core

#68089 Remove assemble from incidental tests.
  test/integration/targets/incidental_assemble/aliases
  test/integration/targets/incidental_assemble/files/fragment1
  test/integration/targets/incidental_assemble/files/fragment2
  test/integration/targets/incidental_assemble/files/fragment3
  test/integration/targets/incidental_assemble/files/fragment4
  test/integration/targets/incidental_assemble/files/fragment5
  test/integration/targets/incidental_assemble/tasks/main.yml
  test/support/integration/plugins/action/assemble.py
  test/support/integration/plugins/modules/assemble.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#68090 Intersphinx
  docs/docsite/ansible_2_5.inv
  docs/docsite/ansible_2_6.inv
  docs/docsite/ansible_2_7.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_2_9.inv
  docs/docsite/jinja2.inv
  docs/docsite/python3.inv
  docs/docsite/rst/conf.py
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
Labels: aci, affects_2.10, cisco, core_review, docs, docsite, needs_triage, networking, support:core

#68117 Update Shippable test matrix.
  shippable.yml
  test/utils/shippable/units.sh
  test/utils/shippable/windows.sh
Labels: affects_2.10, backport, core_review, feature, support:core, test

#68115 fix last 7 docs errors on post-migration test runs
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/plugins/cliconf.rst
  docs/docsite/rst/plugins/httpapi.rst
  docs/docsite/rst/plugins/netconf.rst
  docs/docsite/rst/plugins/plugins.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  test/sanity/ignore.txt
Labels: affects_2.10, backport, core_review, docs, docsite, support:core, test

#68125 Fix incidental test stability.
  test/integration/targets/incidental_aws_step_functions_state_machine/tasks/main.yml
Labels: affects_2.10, backport, bug, community_review, support:community, test

#68126 Fix docker_swarm inventory integration tests
  test/support/integration/plugins/inventory/docker_swarm.py
Labels: affects_2.10, backport, bug, core_review, new_plugin, support:core, test

#67979 Remove out-of-date test constraint on paramiko.
  changelogs/fragments/ansible-test-paramiko-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68094 Fix ansible-test handling of no Python coverage.
  changelogs/fragments/ansible-test-empty-coverage.yml
  test/lib/ansible_test/_internal/coverage/combine.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68148 Remove unused Shippable scripts.
  test/utils/shippable/aws.sh
  test/utils/shippable/azure.sh
  test/utils/shippable/cs.sh
  test/utils/shippable/hcloud.sh
  test/utils/shippable/ios.sh
  test/utils/shippable/network.sh
  test/utils/shippable/tower.sh
  test/utils/shippable/vcenter.sh
  test/utils/shippable/vyos.sh
Labels: affects_2.10, backport, bug, core_review, support:core, test

#68145 Remove test support option from ansible-test.
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/utils/shippable/incidental/cloud.sh
  test/utils/shippable/incidental/linux.sh
  test/utils/shippable/incidental/network.sh
  test/utils/shippable/incidental/remote.sh
  test/utils/shippable/incidental/windows.sh
  test/utils/shippable/linux.sh
  test/utils/shippable/remote.sh
  test/utils/shippable/windows.sh
Labels: affects_2.10, backport, core_review, feature, support:core, test

#68141 Consolidate Windows tests to one group.
  shippable.yml
  test/integration/targets/collections/aliases
  test/integration/targets/win_fetch/aliases
Labels: affects_2.10, backport, core_review, feature, small_patch, support:community, support:core

#68154 First attempt at making the shippable downloader recurse to pull parent results of reruns
  hacking/shippable/download.py
Labels: affects_2.10, backport, bug, core_review, support:core

#68158 Add coverage filtering to ansible-test.
  changelogs/fragments/ansible-test-coverage-analyze-targets-filter.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/expand.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/missing.py
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#68182 Add hacking/shippable/incidental.py script.
  hacking/shippable/README.md
  hacking/shippable/incidental.py
Labels: affects_2.10, backport, core_review, feature, support:core

#68192 Add script for getting URLs of coverage runs
  hacking/shippable/README.md
  hacking/shippable/get_recent_coverage_runs.py
Labels: affects_2.10, backport, bug, core_review, support:core

#68200 Add dynamic and static include tests.
  test/integration/targets/include_when_parent_is_dynamic/aliases
  test/integration/targets/include_when_parent_is_dynamic/playbook.yml
  test/integration/targets/include_when_parent_is_dynamic/runme.sh
  test/integration/targets/include_when_parent_is_dynamic/syntax_error.yml
  test/integration/targets/include_when_parent_is_dynamic/tasks.yml
  test/integration/targets/include_when_parent_is_static/aliases
  test/integration/targets/include_when_parent_is_static/playbook.yml
  test/integration/targets/include_when_parent_is_static/runme.sh
  test/integration/targets/include_when_parent_is_static/syntax_error.yml
  test/integration/targets/include_when_parent_is_static/tasks.yml
Labels: affects_2.10, backport, community_review, feature, support:community

#68205 Fix sanity test ignores.
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, owner_pr, support:core, test

#68204 Remove unnecessary unit test requirements.
  test/units/requirements.txt
Labels: affects_2.10, backport, bug, core_review, support:core

#68203 Fix ansible-test unit test requirements.
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/units.txt
Labels: affects_2.10, backport, bug, core_review, support:core, test

#68220 Update ansible-test network test provisioning.
  changelogs/fragments/ansible-test-network-testing.yml
  test/integration/network-integration.requirements.txt
  test/lib/ansible_test/_data/completion/network.txt
  test/utils/shippable/incidental/network.sh
Labels: affects_2.10, backport, bug, needs_revision, support:community, support:core, test

#68219 Address compat issue for collection loading on py26
  changelogs/fragments/py26-collection-loader.yml
  lib/ansible/executor/module_common.py
  lib/ansible/executor/powershell/module_manifest.py
  lib/ansible/module_utils/compat/importlib.py
  lib/ansible/plugins/loader.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/collection_loader.py
  test/integration/targets/collections/aliases
  test/integration/targets/collections_plugin_namespace/aliases
  test/integration/targets/collections_relative_imports/aliases
Labels: affects_2.10, backport, bug, collection, core_review, support:community, support:core, windows

#68221 Clean up network test config.
  test/integration/network-integration.cfg
  test/integration/target-prefixes.network
Labels: affects_2.10, backport, bug, core_review, support:core

#68270 Fix ansible-test windows-integration module refs.
  changelogs/fragments/ansible-test-windows-integration.yml
  test/lib/ansible_test/_data/playbooks/windows_coverage_setup.yml
  test/lib/ansible_test/_data/playbooks/windows_coverage_teardown.yml
  test/lib/ansible_test/_internal/manage_ci.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/action/win_copy.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_acl.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_acl.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_file.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_file.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_ping.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_ping.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_shell.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_shell.py
Labels: affects_2.10, backport, bug, needs_revision, new_plugin, support:community, support:core, test

#68317 Internally redirect win modules to collection name
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/wait_for_connection.py
  test/lib/ansible_test/_data/playbooks/windows_coverage_teardown.yml
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/async_status.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_copy.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_copy.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_stat.ps1
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/modules/win_stat.py
Labels: affects_2.10, backport, bug, needs_revision, new_plugin, support:core, test

#68345 Fix shebang sanity test module identification.
  changelogs/fragments/ansible-test-shebang-sanity.yml
  test/lib/ansible_test/_data/sanity/code-smell/shebang.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68352 Fix ansible-test import analysis for collections.
  changelogs/fragments/ansible-test-python-import-analysis.yml
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68356 Rename tests
  test/integration/targets/builtin_vars_prompt/aliases
  test/integration/targets/builtin_vars_prompt/runme.sh
  test/integration/targets/builtin_vars_prompt/test-vars_prompt.py
  test/integration/targets/builtin_vars_prompt/unsafe.yml
  test/integration/targets/builtin_vars_prompt/unsupported.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-1.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-2.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-3.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-4.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-5.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-6.yml
  test/integration/targets/builtin_vars_prompt/vars_prompt-7.yml
  test/integration/targets/infra/aliases
  test/integration/targets/infra/inventory.local
  test/integration/targets/infra/library/test.py
  test/integration/targets/infra/runme.sh
  test/integration/targets/infra/test_test_infra.yml
  test/integration/targets/test_core/aliases
  test/integration/targets/test_core/tasks/main.yml
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68376 Fix hacking/shippable/incidental.py source search.
  hacking/shippable/incidental.py
Labels: affects_2.10, backport, bug, core_review, small_patch, support:core

#68380 Fix coverage script to handle ongoing runs
  hacking/shippable/get_recent_coverage_runs.py
Labels: affects_2.10, backport, bug, core_review, support:core

#68372 Fix ansible-test module_utils import analysis.
  changelogs/fragments/ansible-test-change-detection-fix.yml
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68385 Fix ansible-test import analysis warning.
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.10, backport, bug, core_review, support:core, test

#68386 validate-modules - fix ps module delegate type inspection
  changelogs/fragments/ps-argspec-type.yaml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#68316 Update pip install instructions
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.10, docs, needs_revision, needs_triage, support:core

#68081 Update 2.10 roadmap
  docs/docsite/rst/roadmap/ROADMAP_2_10.rst
Labels: affects_2.10, core_review, docs, has_issue, support:core

#68047 Address fixme and handle filter/test errors for collections better
  changelogs/fragments/66721-better-jinja2-collection-error-handling.yml
  lib/ansible/template/__init__.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testbroken/plugins/filter/broken_filter.py
  test/integration/targets/collections/posix.yml
Labels: affects_2.10, bug, core_review, new_plugin, support:community, support:core

#68407 Update Shippable hacking scripts default branch.
  hacking/shippable/README.md
  hacking/shippable/get_recent_coverage_runs.py
Labels: affects_2.10, core_review, feature, small_patch, support:core

#68406 Fix ansible-test coverage analysis option usage.
  test/lib/ansible_test/_internal/coverage/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/expand.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/coverage/analyze/targets/missing.py
Labels: affects_2.10, bug, core_review, support:core, test

#68298 Fix ansible-test PATH handling.
  changelogs/fragments/ansible-test-path-to-python.yml
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#67822 remove azure extras and extras_require support
  changelogs/fragments/removed_extras_require.yml
  docs/docsite/rst/dev_guide/testing/sanity/azure-requirements.rst
  packaging/requirements/requirements-azure.txt
  setup.py
  test/sanity/code-smell/azure-requirements.json
  test/sanity/code-smell/azure-requirements.py
Labels: affects_2.10, docs, docsite, feature, needs_revision, stale_ci, support:community, support:core, test

#68258 Support pre-releases via new SemanticVersion
  changelogs/fragments/64905-semver.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection.py
  lib/ansible/utils/version.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/units/galaxy/test_collection_install.py
  test/units/utils/test_version.py
Labels: affects_2.10, core_review, feature, needs_triage, support:community, support:core

#67976 hacking - Add script to easily rebalance Shippable groups
  hacking/shippable/rebalance.py
Labels: affects_2.10, core_review, feature, python3, support:core

#68247 Pull timezone's incidental file coverage into file tests
  changelogs/fragments/68247-file-unreachable-code.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/state_link.yml
Labels: affects_2.10, backport, bug, core_review, files, module, support:community, support:core

#67093 Add content dir where Ansible will look for the content provided by ACD
  changelogs/fragments/67093-site-packages-pythonpath-collections-loader.yml
  lib/ansible/utils/collection_loader.py
  test/integration/targets/collections_runtime_pythonpath/aliases
  test/integration/targets/collections_runtime_pythonpath/ansible-collection-python-dist-boo/ansible_collections/python/dist/plugins/modules/boo.py
  test/integration/targets/collections_runtime_pythonpath/ansible-collection-python-dist-boo/pyproject.toml
  test/integration/targets/collections_runtime_pythonpath/ansible-collection-python-dist-boo/setup.cfg
  test/integration/targets/collections_runtime_pythonpath/ansible-collection-python-dist-foo/ansible_collections/python/dist/plugins/modules/boo.py
  test/integration/targets/collections_runtime_pythonpath/runme.sh
Labels: affects_2.10, feature, needs_revision, new_plugin, support:community, support:core

#68250 Testing: Move from ibmcloud to ibmps endpoint
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.10, feature, needs_revision, support:core, test

#68212 Fix typo and styling FAQ docs
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.10, core_review, docs, new_contributor, small_patch, support:core

#68202 Reference directory_mode from mode description
  lib/ansible/modules/files/copy.py
Labels: affects_2.10, core_review, docs, files, module, new_contributor, small_patch, support:core

#67994 DOC fix: typo in group addressing syntax
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.10, core_review, docs, small_patch, stale_ci, support:core

#68038 ansible_native_concat: use to_text rather than jinja2's text_type
  changelogs/fragments/ansible_native_concat-use-to_text-rather-than-text_type.yml
  lib/ansible/template/native_helpers.py
Labels: affects_2.10, bug, core_review, native_jinja, support:community, support:core

#56802 YUM: Ensure we have enough values to split
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.9, bug, has_issue, module, packaging, shipit, small_patch, support:core
