Repository ansible/ansible, pull requests merged in 2020-06, with the labels that each got.

#69342 [ansiballz] ensure that '' is not in sys.path
  changelogs/fragments/69320-sys-path-cwd.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/executor/module_common.py
Labels: affects_2.10, bug, docs, needs_revision, support:community, support:core

#69349 Handle disabled service units
  lib/ansible/modules/service_facts.py
  test/integration/targets/service_facts/files/ansible.systemd
  test/integration/targets/service_facts/files/ansible_test_service.py
  test/integration/targets/service_facts/tasks/main.yml
  test/integration/targets/service_facts/tasks/systemd_cleanup.yml
  test/integration/targets/service_facts/tasks/systemd_setup.yml
  test/integration/targets/service_facts/tasks/tests.yml
Labels: affects_2.10, bug, core_review, has_issue, module, small_patch, stale_ci, support:core, system

#69706 do not return the body even if it failed
  changelogs/fragments/21003-uri-return-content.yml
  lib/ansible/modules/uri.py
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/uri/tasks/return-content.yml
Labels: affects_2.10, bug, core_review, module, net_tools, new_contributor, support:community, support:core

#69792 only ever catch ImportError
  lib/ansible/plugins/loader.py
Labels: affects_2.10, bug, core_review, needs_triage, python3, support:core

#69771 Update 2.10 roadmap dates
  docs/docsite/rst/roadmap/ROADMAP_2_10.rst
Labels: affects_2.10, core_review, docs, needs_triage, small_patch, support:core

#69627 Discover Flatcar Linux properly for hostname
  changelogs/fragments/69516_flatcar_distribution.yml
  hacking/tests/gen_distribution_version_testcase.py
  lib/ansible/module_utils/facts/system/distribution.py
  lib/ansible/modules/hostname.py
  test/units/module_utils/basic/test_platform_distribution.py
  test/units/module_utils/common/test_sys_info.py
  test/units/module_utils/facts/system/distribution/fixtures/flatcar_2492.0.0.json
Labels: affects_2.10, bug, module, needs_revision, new_contributor, support:community, support:core, system

#69757 service_facts: Update documentation about service status
  changelogs/fragments/69752_service_facts.yml
  lib/ansible/modules/service_facts.py
Labels: affects_2.10, bug, core_review, module, support:community, support:core, system

#69797 Update plugin_formatter to understand tagged version_added
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.10, core_review, docs, needs_triage, support:core

#68136 systemd: should fail in check_mode when service not found on host
  changelogs/fragments/68136-systemd_should_fail_in_check_mode_when_service_not_found.yml
  lib/ansible/module_utils/service.py
  test/integration/targets/service/tasks/tests.yml
  test/integration/targets/systemd/defaults/main.yml
  test/integration/targets/systemd/tasks/main.yml
Labels: affects_2.10, bug, core_review, has_issue, stale_ci, support:community, support:core, system

#69491 Reap collections changelog fragments - 6
  changelogs/fragments/39295-grafana_dashboard.yml
  changelogs/fragments/51595-adds-win32_diskdrive-object-to-win_disk_facts.yaml
  changelogs/fragments/56033-win_iis_webapplication-add-authentication-options.yml
  changelogs/fragments/56966-win_format-allocation-unit-size.yml
  changelogs/fragments/58225-win_partition-maximum-partition-size.yml
  changelogs/fragments/61227-win_iis_webapplication-apppool-change.yml
  changelogs/fragments/61570-netcli-put-get.yaml
  changelogs/fragments/62218-fix-to-entrust-api.yml
  changelogs/fragments/63418-docker_node_info-errors.yml
  changelogs/fragments/63565-postgresql_user_allow_user_name_with_dots.yml
  changelogs/fragments/64559-hcloud-inventory-missing-compose-variables.yaml
  changelogs/fragments/64585-mysql_dont_mask_mysql_connect_errors_from_modules.yml
  changelogs/fragments/64954_virtualization_podman.yml
  changelogs/fragments/65138-Windows_Multidomain_support.yml
  changelogs/fragments/netbox-add-cache.yaml
  changelogs/fragments/vmware-module_fragments-group.yml
  changelogs/fragments/vmware_httpapi_fix.yml
  changelogs/fragments/win_become-shared-token.yaml
  changelogs/fragments/win_command-encoding.yaml
  changelogs/fragments/win_credential-wildcard.yaml
  changelogs/fragments/win_disk_facts-Set-output-array-order-by-disk-number.yml
  changelogs/fragments/win_domain_computer-credential.yaml
  changelogs/fragments/win_domain_computer-idempotence.yaml
  changelogs/fragments/win_domain_user-group-missing.yaml
  changelogs/fragments/win_domain_user-identity.yaml
  changelogs/fragments/win_firewall-Change-req-check-from-wmf-version-to-cmdlets-presence.yml
  changelogs/fragments/win_firewall_rule-add-support-for-icmptypecode.yml
  changelogs/fragments/win_format-Idem-not-working-if-file-exist-but-same-fs.yml
  changelogs/fragments/win_iis_webapppool-check-mode.yaml
  changelogs/fragments/win_iis_website-restarted.yaml
  changelogs/fragments/win_nssm-Implement-additional-parameters.yml
  changelogs/fragments/win_partition-var.yaml
  changelogs/fragments/win_pester-path-behaviour.yaml
  changelogs/fragments/win_timezone-Allow-dstoff.yml
  changelogs/fragments/win_unzip-paths.yaml
Labels: affects_2.10, docs, needs_triage, owner_pr, shipit, support:community

#32057 return changed for group_by
  changelogs/fragments/group_by_changed.yml
  lib/ansible/inventory/data.py
  lib/ansible/inventory/group.py
  lib/ansible/inventory/host.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/group_by/create_groups.yml
Labels: affects_2.5, bug, inventory, inventory/group, inventory/host, needs_revision, plugins/strategy, support:community, support:core

#69851 [2.9] ansible-test: make pylint deprecation plugin not choke on tagged versions
  changelogs/fragments/69851-ansible-test-pylint-versions.yml
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#69865 fixes f5 modules specific redirects
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#69868 Add AIX back to test matrix
  shippable.yml
Labels: affects_2.10, bug, needs_revision, support:core

#69866 Add Power back to test matrix
  shippable.yml
Labels: affects_2.10, bug, core_review, support:core

#69769 __eq__ should be redefined if __hash__ is defined.
  lib/ansible/module_utils/common/collections.py
Labels: affects_2.10, core_review, feature, support:core

#69524 Fix IncludedFile equality check
  changelogs/fragments/69521-free-strategy-include-fix.yml
  lib/ansible/playbook/included_file.py
  test/integration/targets/includes_race/aliases
  test/integration/targets/includes_race/inventory
  test/integration/targets/includes_race/roles/random_sleep/tasks/main.yml
  test/integration/targets/includes_race/roles/set_a_fact/tasks/fact1.yml
  test/integration/targets/includes_race/roles/set_a_fact/tasks/fact2.yml
  test/integration/targets/includes_race/runme.sh
  test/integration/targets/includes_race/test_includes_race.yml
  test/units/playbook/test_included_file.py
Labels: affects_2.10, bug, collection, collection:cisco.meraki, core_review, new_contributor, support:community, support:core

#69845 Fix documentation for the assemble modules remote_src property.
  changelogs/fragments/69845-doc-assemble-remote_src.yaml
  lib/ansible/modules/assemble.py
Labels: affects_2.10, core_review, docs, files, module, needs_triage, new_contributor, support:community, support:core

#69808 Only show one deprecation warning if version and date are both defined.
  lib/ansible/module_utils/common/parameters.py
Labels: affects_2.10, bug, core_review, support:core

#69871 Re-add documentation for yum "install_repoquery"
  lib/ansible/modules/yum.py
  test/sanity/ignore.txt
Labels: affects_2.10, ci_verified, docs, module, needs_revision, packaging, support:core, test

#69816 ansible-test: do not accept empty string as valid version number
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.10, bug, core_review, support:core, test

#69844 lineinfile - Add alternative backrefs example to docs
  changelogs/fragments/lineinfile-backrefs-syntax-example.yaml
  lib/ansible/modules/lineinfile.py
Labels: affects_2.10, core_review, docs, files, module, owner_pr, support:community, support:core

#69822 various deprecation, display, warning, error fixes for collections redirection
  lib/ansible/config/ansible_builtin_runtime.yml
  lib/ansible/errors/__init__.py
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/loader.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  lib/ansible/utils/display.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testbroken/plugins/filter/broken_filter.py
  test/units/plugins/action/test_action.py
Labels: affects_2.10, bug, ci_verified, needs_revision, support:community, support:core

#69928 Fix broken validate-modules
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, bug, core_review, needs_triage, support:core, test

#69937 Update developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
Labels: affects_2.10, core_review, docs, docsite, needs_triage, new_contributor, small_patch, support:core

#69795 ansible-doc: properly handle suboptions
  changelogs/fragments/69795-ansible-doc-suboptions.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/library/test_docs_suboptions.py
  test/integration/targets/ansible-doc/runme.sh
  test/integration/targets/ansible-doc/test_docs_suboptions.output
Labels: affects_2.10, core_review, docs, has_issue, support:community, support:core

#69951 Minor cleanup for ansible-test integration test.
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/modules/hello.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/integration/targets/hello/tasks/main.yml
Labels: affects_2.10, bug, community_review, support:community

#69709 Update bundled version of distro from 1.4.0 to 1.5.0
  changelogs/fragments/distro-update-version.yml
  lib/ansible/module_utils/distro/__init__.py
  lib/ansible/module_utils/distro/_distro.py
Labels: affects_2.10, core_review, feature, support:community, support:core

#67823 Make AnsibleVaultEncryptedUnicode work more like a string
  changelogs/fragments/67823-vault-unicode-string.yml
  docs/docsite/rst/user_guide/playbooks_tests.rst
  lib/ansible/parsing/vault/__init__.py
  lib/ansible/parsing/yaml/objects.py
  lib/ansible/plugins/filter/core.py
  lib/ansible/plugins/test/core.py
  test/integration/targets/filter_core/files/foo.txt
  test/integration/targets/filter_core/templates/foo.j2
  test/integration/targets/vault/runme.sh
  test/integration/targets/vault/single_vault_as_string.yml
Labels: affects_2.10, bug, core_review, docs, has_issue, support:community, support:core, test

#69278 Add custom globals to the environment, and not per template
  changelogs/fragments/69278-early-customize-jinja2.yml
  lib/ansible/template/__init__.py
Labels: affects_2.10, core_review, feature, support:community, support:core

#69955 fix get_data on case_insensitive fs
  changelogs/fragments/case_insensitive_fix.yml
  lib/ansible/executor/module_common.py
  lib/ansible/utils/collection_loader.py
  lib/ansible/utils/path.py
  test/units/utils/test_path.py
Labels: affects_2.9, backport, bug, has_issue, needs_revision, needs_triage, support:community, support:core

#66771 Update test images
  changelogs/fragments/ansible-test-update-images-1.16.0.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#69910 avoid constant checking controlpersist
  changelogs/fragments/only_be_smart_once.yml
  lib/ansible/config/base.yml
  lib/ansible/constants.py
  lib/ansible/executor/playbook_executor.py
  lib/ansible/utils/ssh_functions.py
Labels: affects_2.10, bug, core_review, support:community, support:core

#57145 Display parameter name in string conversion warning
  changelogs/fragments/string-conversion-warning-add-parameter-name.yaml
  lib/ansible/module_utils/basic.py
Labels: affects_2.9, bug, needs_revision, stale_ci, stale_review, support:community, support:core

#69912 Add intg test to repro #36045 (add_host traceback)
  changelogs/fragments/add_hosts_fix.yml
  lib/ansible/plugins/action/add_host.py
  test/integration/targets/add_host/tasks/main.yml
Labels: affects_2.10, bug, core_review, has_issue, inventory, support:community, support:core

#69971 Split out and install sanity test requirements.
  changelogs/fragments/ansible-test-sanity-separate-requirements.yml
  test/integration/targets/ansible-test/collection-tests/venv.sh
  test/lib/ansible_test/_data/quiet_pip.py
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.txt
  test/lib/ansible_test/_data/requirements/sanity.import.txt
  test/lib/ansible_test/_data/requirements/sanity.pep8.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_data/requirements/sanity.rstcheck.txt
  test/lib/ansible_test/_data/requirements/sanity.txt
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
  test/lib/ansible_test/_data/requirements/sanity.yamllint.txt
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/lib/ansible_test/_internal/sanity/import.py
  test/sanity/code-smell/botmeta.requirements.txt
  test/sanity/code-smell/changelog.requirements.txt
  test/sanity/code-smell/deprecated-config.requirements.txt
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/code-smell/release-names.requirements.txt
  test/sanity/code-smell/update-bundled.requirements.txt
  test/sanity/requirements.txt
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69919 support hard coded module_defaults.yml groups for collections
  changelogs/fragments/69919-module_defaults-groups-collections.yml
  lib/ansible/config/manager.py
  lib/ansible/config/module_defaults.yml
  lib/ansible/executor/module_common.py
  lib/ansible/executor/task_executor.py
  lib/ansible/parsing/mod_args.py
  lib/ansible/playbook/task.py
  lib/ansible/plugins/action/gather_facts.py
  lib/ansible/plugins/action/package.py
  lib/ansible/plugins/action/service.py
  lib/ansible/plugins/loader.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/integration/targets/incidental_aws_step_functions_state_machine/tasks/main.yml
  test/integration/targets/incidental_cloudformation/tasks/main.yml
  test/integration/targets/incidental_ec2_instance/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/env_cleanup.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/env_setup.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/main.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/othercoll/plugins/action/other_echoaction.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/othercoll/plugins/modules/other_echo1.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/meta/runtime.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/echoaction.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/module_utils/echo_impl.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/echo1.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/echo2.py
  test/integration/targets/module_defaults/runme.sh
  test/integration/targets/module_defaults/tasks/main.yml
  test/integration/targets/module_defaults/test_defaults.yml
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/sanity/ignore.txt
  test/units/plugins/action/test_gather_facts.py
Labels: affects_2.10, bug, needs_revision, needs_triage, new_plugin, support:community, support:core, test

#69819 Update ansible-test default containers.
  changelogs/fragments/ansible-test-docker-context.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/ci/shippable.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69977 Fix up schema for collection deprecation
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/urls.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core, test

#69978 Validate-modules: adjust test to fixes in #69977
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, bug, core_review, needs_triage, support:core, test

#69593 To fix the issue where loopback address wasn't populated as expected via ios_l3_interfaces module
  changelogs/fragments/45_ios_l3_loopback_issue.yaml
  lib/ansible/module_utils/network/ios/config/l3_interfaces/l3_interfaces.py
  test/integration/targets/ios_l3_interfaces/tests/cli/_remove_config.yaml
  test/integration/targets/ios_l3_interfaces/tests/cli/merged.yaml
  test/integration/targets/ios_l3_interfaces/vars/main.yaml
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.ios, core_review, ios, needs_triage, networking, stale_ci, support:community, support:core, support:network, test

#69996 Intercept code-smell tests using subprocess.
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/sanity/code-smell/changelog.json
  test/sanity/code-smell/docs-build.json
  test/sanity/code-smell/package-data.json
Labels: affects_2.10, bug, core_review, needs_triage, support:core, test

#69626 [stable-2.9] Properly handle unicode in safe_eval (#68576)
  changelogs/fragments/66943-handle-unicode-in-safe_eval.yml
  lib/ansible/module_utils/common/text/converters.py
  lib/ansible/template/safe_eval.py
  test/integration/targets/lookups/runme.sh
  test/integration/targets/lookups/template_lookup_safe_eval_unicode/playbook.yml
  test/integration/targets/lookups/template_lookup_safe_eval_unicode/template.json.j2
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#70005 Update my github username
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, needs_info, needs_template, needs_triage, small_patch, support:core

#69872 implemented 'prefix' for file based cache
  changelogs/fragments/add_prefix_to_cache.yml
  lib/ansible/plugins/cache/__init__.py
  test/integration/targets/collections/cache.statichost.yml
  test/integration/targets/collections/runme.sh
  test/integration/targets/set_fact/runme.sh
Labels: affects_2.10, bug, needs_revision, support:community, support:core, utilities

#70011 ansible-test: vcenter initialize group/vmware
  test/integration/targets/incidental_vmware_prepare_tests/tasks/init_vcsim.yml
  test/lib/ansible_test/_internal/cloud/vcenter.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core, test

#70002 Support `removed_at_date` in ansible-doc
  changelogs/fragments/ansible-doc-remove_at_date.yaml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/library/test_docs_removed_precedence.py
  test/integration/targets/ansible-doc/test.yml
Labels: affects_2.10, bug, core_review, support:community, support:core

#69968 add changelog categories, update CVE fragments to use security_fix category
  changelogs/config.yaml
  changelogs/fragments/62237-keep-unsafe-context.yml
  changelogs/fragments/ansible-test-cloud-secrets.yml
  changelogs/fragments/dont-template-cli-passwords.yml
  changelogs/fragments/fetch_no_slurp.yml
  changelogs/fragments/galaxy-install-tar-path-traversal.yaml
  changelogs/fragments/no-log-sub-options-invalid-parameter.yaml
  changelogs/fragments/remote_mkdir_fix.yml
  changelogs/fragments/subversion_password.yaml
  changelogs/fragments/vault_tmp_race_fix.yml
  changelogs/fragments/win-unzip-check-extraction-path.yml
Labels: affects_2.10, core_review, docs, needs_triage, support:community, support:core

#69796 Plugin/module docs: parse return values, add collection names in them (version_added_collection), and format them nicely in ansible-doc
  changelogs/fragments/69796-ansible-doc-return-values.yml
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
  lib/ansible/cli/doc.py
  lib/ansible/parsing/plugin_docs.py
  lib/ansible/utils/plugin_docs.py
  test/integration/targets/ansible-doc/aliases
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/vars/noop_vars_plugin.py
  test/integration/targets/ansible-doc/library/test_docs_returns.py
  test/integration/targets/ansible-doc/library/test_docs_returns_broken.py
  test/integration/targets/ansible-doc/runme.sh
  test/integration/targets/ansible-doc/test.yml
  test/integration/targets/ansible-doc/test_docs_returns.output
  test/integration/targets/ansible-doc/test_docs_suboptions.output
Labels: affects_2.10, docs, has_issue, needs_revision, support:community, support:core

#69749 clarifies that vars can begin with _, with a warning
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.10, core_review, docs, support:core

#69313 Use antsibull-changelog instead of packaged changelog generator
  Makefile
  changelogs/changelog.yaml
  changelogs/config.yaml
  changelogs/fragments/69313-sanity-antsibull-changelog.yml
  docs/docsite/rst/dev_guide/testing/sanity/changelog.rst
  packaging/release/Makefile
  packaging/release/changelogs/changelog.py
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/lib/ansible_test/_data/sanity/code-smell/changelog.json
  test/lib/ansible_test/_data/sanity/code-smell/changelog.py
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/sanity/code-smell/changelog.requirements.txt
  test/sanity/code-smell/package-data.py
  test/sanity/code-smell/package-data.requirements.txt
  test/utils/shippable/sanity.sh
Labels: affects_2.10, collection, collection:felixfontein.hosttech_dns, core_review, docs, docsite, feature, has_issue, support:community, support:core, test

#70007 config: singular ANSIBLE_COLLECTIONS_PATH
  changelogs/fragments/singular-collection-path.yml
  lib/ansible/config/base.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy/runme.sh
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/vars_plugin_tests.sh
  test/integration/targets/collections_plugin_namespace/runme.sh
  test/integration/targets/collections_relative_imports/runme.sh
  test/integration/targets/collections_runtime_pythonpath/runme.sh
  test/lib/ansible_test/_data/pytest/plugins/ansible_pytest_collections.py
  test/lib/ansible_test/_data/sanity/import/importer.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_internal/ansible_util.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.10, bug, core_review, has_issue, needs_triage, support:community, support:core, test

#70020 Updated requirements file to include 'make' and 'sphinx' version
  docs/docsite/requirements.txt
Labels: affects_2.10, core_review, docs, small_patch, support:core

#69993 Fix copy module file perms with remote_src
  changelogs/fragments/69993-copy-remote-src-perms.yml
  lib/ansible/modules/copy.py
  test/integration/targets/copy/tasks/tests.yml
Labels: affects_2.10, bug, core_review, files, module, support:community, support:core

#64623 Add mccabe complexity testing
  changelogs/fragments/ansible-test-pytest-mccabe.yml
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_internal/sanity/pylint.py
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69920 fix configurable pipelining
  changelogs/fragments/configurable_pipelining.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.10, bug, core_review, support:community, support:core

#69966 Fix Include_vars example
  lib/ansible/modules/include_vars.py
  lib/ansible/plugins/lookup/first_found.py
Labels: affects_2.10, core_review, docs, module, new_contributor, support:core, utilities

#69833 Document the ability to deprecate by date
  docs/docsite/rst/dev_guide/module_lifecycle.rst
Labels: affects_2.10, core_review, docs, docsite, has_issue, support:core

#69991 Add Azure Pipelines support to ansible-test.
  changelogs/fragments/ansible-test-ci-support-azure.yml
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/units/ansible_test/ci/test_azp.py
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#70013 fix discovery on loop with delegation
  changelogs/fragments/ensure_discovery_delegate.yml
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/delegate_to/discovery_applied.yml
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.10, bug, needs_revision, support:community, support:core

#70034 Ignore return code from antsibull_changelog lint.
  test/lib/ansible_test/_data/sanity/code-smell/changelog.py
Labels: affects_2.10, bug, core_review, needs_triage, support:core, test

#70033 Avoid use of deprecated junit-xml method.
  changelogs/fragments/junit-compat.yml
  lib/ansible/plugins/callback/junit.py
  test/lib/ansible_test/_internal/test.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#69742 validate ansible-base's and collections runtime.yml
  changelogs/fragments/ansible-test-validate-runtime-file.yml
  docs/docsite/rst/dev_guide/testing/sanity/runtime-metadata.rst
  test/integration/targets/ansible-test/ansible_collections/ns/col/meta/runtime.yml
  test/lib/ansible_test/_data/requirements/sanity.runtime-metadata.txt
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.json
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.py
Labels: affects_2.10, core_review, docs, docsite, feature, has_issue, support:community, support:core, test

#70025 validate-modules: allow YAML dates in module documentation and meta/runtime.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/utils.py
Labels: affects_2.10, bug, core_review, needs_triage, support:core, test

#70032 Update ansible-test test containers.
  changelogs/fragments/ansible-test-container-update.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, feature, needs_revision, support:community, support:core, test

#70047 validate-modules runtime.yml deprecation comparison: fix boolean error when comparing dates
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, bug, needs_triage, shipit, support:core, test

#70051 ansible_builtin_runtime.yml: fix aci_intf_policy_* redirects
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.10, bug, needs_revision, needs_triage, support:core

#69957 enable collections module_utils subpkg tests
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/modules/uses_leaf_mu_module_import_from.py
  test/integration/targets/collections/posix.yml
Labels: affects_2.10, bug, community_review, needs_triage, support:community

#70078 validate-modules: Fix missing allow_date=False
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, bug, core_review, support:core, test

#69202 How to contribute to Ansible maintained collections
  docs/docsite/rst/community/contributing_maintained_collections.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/dev_guide/index.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
Labels: affects_2.10, collection, core_review, docs, docsite, networking, support:core

#70016 ansible-galaxy - fix collection installation with trailing slashes
  lib/ansible/galaxy/collection.py
  test/units/cli/galaxy/test_collection_extract_tar.py
Labels: P2, affects_2.10, bug, core_review, support:core

#70084 Fix ansible-test import sanity test issues.
  changelogs/fragments/ansible-test-sanity-import-fixes.yml
  test/lib/ansible_test/_data/sanity/import/importer.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core, test

#69850 transparent downstream vendoring
  changelogs/fragments/downstream_vendoring.yml
  lib/ansible/__init__.py
  lib/ansible/_vendor/__init__.py
  test/units/_vendor/test_vendor.py
Labels: affects_2.10, core_review, feature, support:community, support:core

#70085 yum - fix bug where enablerepo is not honored when disablerepo all (#…
  changelogs/fragments/66549-enablerepo-not-honored-when-used-with-disablerepo-all.yml
  lib/ansible/modules/packaging/os/yum.py
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, packaging, support:community, support:core

#70087 remove new Windows modules not present in 2.9
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.10, feature, needs_revision, needs_triage, support:core

#70064 Porting guide: transfer entries to collection changelogs
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.10, core_review, docs, has_issue, support:core

#70037 Removed danowar2k from Wiki and now removing myself from botmeta
  .github/BOTMETA.yml
Labels: affects_2.10, botmeta, core_review, needs_triage, new_contributor, small_patch, support:core

#68952 Specify numeric range can contain a stride
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.10, core_review, docs, new_contributor, stale_ci, support:core

#68124 mentions minimum required boto versions
  docs/docsite/rst/scenario_guides/guide_aws.rst
Labels: affects_2.10, aws, cloud, core_review, docs, docsite, small_patch, support:core

#69832 added documentation for R()
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/style_guide/index.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#70079 Add pyparsing constraint to ansible-test.
  changelogs/fragments/ansible-test-pyparsing-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, core_review, feature, python3, support:community, support:core, test

#68846 Use default network in Google Cloud Platform Guide
  docs/docsite/rst/scenario_guides/guide_gce.rst
Labels: affects_2.10, core_review, docs, support:core

#70100 Remove temporary migration hack from CI scripts.
  test/utils/shippable/sanity.sh
Labels: affects_2.10, bug, core_review, support:core, test

#69692 Enhance documentation around add_host bypassing the play host loop
  lib/ansible/modules/add_host.py
  lib/ansible/modules/group_by.py
Labels: affects_2.10, core_review, docs, inventory, module, support:core

#69560 document return values of file module
  lib/ansible/modules/file.py
Labels: affects_2.10, docs, files, has_issue, module, needs_revision, support:core

#69396 Clarify blockinfile docs for insertafter/insertbefore
  changelogs/fragments/69396-blockinfile-docs.yaml
  lib/ansible/modules/blockinfile.py
Labels: affects_2.10, core_review, docs, files, has_issue, module, support:community, support:core

#70109 Improve stability of postgresql tests.
  test/integration/targets/incidental_setup_postgresql_db/tasks/main.yml
Labels: affects_2.10, bug, community_review, support:community, test

#70103 disable slow/unstable hetzner incidental tests
  test/integration/targets/incidental_hcloud_server/tasks/main.yml
Labels: affects_2.10, bug, community_review, support:community, test

#70108 Update ansible-test default test containers.
  changelogs/fragments/ansible-test-default-containers-update.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, core_review, feature, python3, support:community, support:core, test

#70086 try to load unqualified plugins from whitelist
  lib/ansible/config/ansible_builtin_runtime.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/meta/runtime.yml
  test/integration/targets/collections/noop.yml
  test/integration/targets/collections/runme.sh
Labels: affects_2.10, bug, core_review, support:community, support:core

#69520 fix delegation vars usage (debug still shows inventory_hostname
  changelogs/fragments/discovery_delegation_fix.yml
  changelogs/fragments/ensure_discovery_delegate.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/task.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/vars/manager.py
  test/integration/targets/cli/aliases
  test/integration/targets/cli/setup.yml
  test/integration/targets/cli/test_k_and_K.py
  test/integration/targets/delegate_to/delegate_vars_hanldling.yml
  test/integration/targets/delegate_to/discovery_applied.yml
  test/integration/targets/delegate_to/inventory_interpreters
  test/integration/targets/delegate_to/library/detect_interpreter.py
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/verify_interpreter.yml
  test/units/plugins/action/test_action.py
Labels: affects_2.9, backport, bug, core_review, has_issue, needs_triage, support:community, support:core

#69657 [stable-2.9] file - return 'state': 'absent' when a file does not exist (#66503)
  changelogs/fragments/file-return-state-when-file-does-not-exist.yaml
  lib/ansible/modules/files/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, files, module, needs_triage, stale_ci, support:community, support:core

#69665 [2.9] Typecast results before use in profile_tasks callback
  changelogs/fragments/69563_profile_tasks.yml
  lib/ansible/plugins/callback/profile_tasks.py
Labels: affects_2.9, backport, bug, collection, collection:ansible.posix, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#69689 [2.9] Add FQCN mappings for network facts modules
  changelogs/fragments/69601_fix_gather_facts_for_fqcn.yaml
  lib/ansible/config/base.yml
  test/units/plugins/action/test_gather_facts.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#69691 Backport: Support direct upload/download to Image I/O daemon on oVirt node
  changelogs/fragments/69691-ovirt_disk-fix-upload-download-of-image.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.9, backport, bug, cloud, collection, community_review, module, needs_triage, ovirt, owner_pr, stale_ci, support:community

#69695 Fixes plugin exception in syslog_json callback plugin
  changelogs/fragments/syslogjson-callback-exception.yml
  lib/ansible/plugins/callback/syslog_json.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, needs_triage, stale_ci, support:community

#69696 Add validity check for [Driver][IPAddress] else use docker-machine ip command.
  changelogs/fragments/412-docker-machine-add-ip-fallback.yaml
  lib/ansible/plugins/inventory/docker_machine.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.general, community_review, docker, inventory, needs_triage, stale_ci, support:community

#69764 [2.9] Remove unused and invalid import from FRR cliconf plugin
  changelogs/fragments/67790_frr_remove_unused_import.yaml
  lib/ansible/plugins/cliconf/frr.py
Labels: affects_2.9, backport, backport_verified, bug, collection, collection:frr.frr, community_review, needs_triage, networking, stale_ci, support:community

#69766 [2.9] Check feature privilege status only if priv escalation is required
  changelogs/fragments/fix_nxos_terminal_plugin_order.yaml
  lib/ansible/plugins/terminal/nxos.py
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, needs_triage, networking, nxos, stale_ci, support:community, support:network

#69804 [2.9] Handle disabled service units
  lib/ansible/modules/system/service_facts.py
  test/integration/targets/service_facts/files/ansible.systemd
  test/integration/targets/service_facts/files/ansible_test_service.py
  test/integration/targets/service_facts/tasks/main.yml
  test/integration/targets/service_facts/tasks/systemd_cleanup.yml
  test/integration/targets/service_facts/tasks/systemd_setup.yml
  test/integration/targets/service_facts/tasks/tests.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, stale_ci, support:core, system

#69835 Update sesu.py: use defined prompt
  changelogs/fragments/community.general-227-sesu-use-defined-prompt.yaml
  lib/ansible/plugins/become/sesu.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, needs_triage, new_contributor, stale_ci, support:community

#69935 [2.9] Prevent Ansible 2.9 to choke on collections using deprecation by date or collection_name for deprecation calls
  changelogs/fragments/69935-2.10-deprecation-support.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  lib/ansible/utils/display.py
  test/integration/targets/win_csharp_utils/library/ansible_basic_tests.ps1
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/units/module_utils/basic/test_deprecate_warn.py
  test/units/module_utils/common/parameters/test_list_deprecations.py
Labels: affects_2.9, backport, bug, core_review, has_issue, needs_triage, support:community, support:core, test, windows

#68979 [2.9] podman_image: use correct option for remove_signatures flag
  changelogs/fragments/67965_podman_image.yml
  lib/ansible/modules/cloud/podman/podman_image.py
  test/integration/targets/setup_podman/defaults/main.yml
  test/integration/targets/setup_podman/tasks/main.yml
  test/integration/targets/setup_podman/vars/RedHat-7.yml
  test/integration/targets/setup_podman/vars/RedHat-8.yml
  test/integration/targets/setup_podman/vars/main.yml
Labels: affects_2.9, backport, bug, cloud, collection, collection:containers.podman, core_review, has_issue, module, stale_ci, support:community, support:core, test

#69403 [2.9] Fix ansible-test egg-info directory detection.
  changelogs/fragments/ansible-test-egg-info-version.yml
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core, test

#69486 [stable-2.9] RoleRequirement - Include stderr in the error message (#66006)
  changelogs/fragments/66006-RoleRequirement-include-stderr-error-msg.yaml
  lib/ansible/playbook/role/requirement.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, needs_triage, stale_ci, support:community, support:core

#69789 2.9: Ensure --version works with non-ascii project path (#66624)
  changelogs/fragments/66617-version-unicode-fix.yml
  lib/ansible/config/manager.py
  test/integration/targets/unicode/křížek-ansible-project/ansible.cfg
  test/integration/targets/unicode/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, collection, collection:ktdreyer.koji_ansible, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#69405 [2.9] Fix ansible-test import analysis for collections.
  changelogs/fragments/ansible-test-python-import-analysis.yml
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, test

#69426 Add missing options for GRE interface
  lib/ansible/module_utils/network/junos/config/interfaces/interfaces.py
  test/integration/targets/junos_interfaces/tests/netconf/_remove_config.yaml
  test/integration/targets/junos_interfaces/tests/netconf/deleted.yaml
  test/integration/targets/junos_interfaces/tests/netconf/merged.yaml
Labels: affects_2.9, backport, bug, collection, collection:junipernetworks.junos, core_review, needs_triage, networking, stale_ci, support:core, support:network, test

#69477 [2.9] Fix issue with state replaced
  changelogs/fragments/nxos_l2_interfaces_replaced.yaml
  lib/ansible/module_utils/network/nxos/config/l2_interfaces/l2_interfaces.py
  test/integration/targets/nxos_l2_interfaces/tests/cli/replaced.yaml
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, needs_triage, networking, nxos, support:community, support:core, support:network, test

#69496 avoid fatal tb on bad fqcn callback name (#69440)
  changelogs/fragments/no_fatal_bad_cb.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/collections/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#69517 [stable-2.9] Fix filedescriptor out of range in select() when running commands (#65058)
  changelogs/fragments/65058-fix-fd-out-of-range-in-select.yml
  lib/ansible/compat/selectors/__init__.py
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/compat/_selectors2.py
  lib/ansible/module_utils/compat/selectors.py
  lib/ansible/plugins/connection/local.py
  lib/ansible/plugins/connection/ssh.py
  test/sanity/ignore.txt
  test/units/executor/module_common/test_recursive_finder.py
  test/units/module_utils/basic/test_run_command.py
  test/units/plugins/connection/test_ssh.py
Labels: affects_2.9, backport, bug, collection, core_review, needs_triage, stale_ci, support:community, support:core, test

#69642 [stable-2.9] Allow the use of paramiko_conn before connection (#61570)
  changelogs/fragments/61570-netcli-put-get.yaml
  lib/ansible/plugins/action/net_get.py
  lib/ansible/plugins/action/net_put.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/connection/network_cli.py
  test/units/plugins/connection/test_network_cli.py
Labels: affects_2.9, backport, bug, collection, collection:ansible.netcommon, core_review, needs_triage, networking, support:community, support:core, support:network, test

#69690 [2.9] Fix system default dict generation in nxos_interfaces
  changelogs/fragments/fix_nxos_interfaces_enabled.yaml
  lib/ansible/module_utils/network/nxos/facts/interfaces/interfaces.py
  test/integration/targets/nxos_interfaces/tests/cli/merged.yaml
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, needs_triage, networking, nxos, support:community, support:core, support:network, test

#69726 [stable-2.9] Don't pass tenant_id for remote group in os_security_group_rule
  changelogs/fragments/69726-os-security-group-rule-fix.yml
  lib/ansible/modules/cloud/openstack/os_security_group_rule.py
Labels: affects_2.9, backport, bug, cloud, collection, community_review, has_issue, module, needs_triage, openstack, stale_ci, support:community

#69730 Split regular and handler results into their own queues (#69498)
  changelogs/fragments/69457-free-strategy-handler-race.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/handler_race/aliases
  test/integration/targets/handler_race/inventory
  test/integration/targets/handler_race/roles/do_handlers/handlers/main.yml
  test/integration/targets/handler_race/roles/do_handlers/tasks/main.yml
  test/integration/targets/handler_race/roles/more_sleep/tasks/main.yml
  test/integration/targets/handler_race/roles/random_sleep/tasks/main.yml
  test/integration/targets/handler_race/runme.sh
  test/integration/targets/handler_race/test_handler_race.yml
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:community, support:core

#69748 [backport][2.9] ec2_group: Ensure group-based rule targets have consistent data formats
  lib/ansible/modules/cloud/amazon/ec2_group.py
  test/integration/targets/ec2_group/tasks/main.yml
  test/integration/targets/ec2_group/tasks/multi_nested_target.yml
  test/integration/targets/ec2_group/tasks/rule_group_create.yml
Labels: affects_2.9, aws, backport, bug, cloud, collection, collection:amazon.aws, core_review, module, needs_triage, stale_ci, support:core, test

#70105 Add an author exception for OpenStack Ansible SIG
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.10, core_review, needs_triage, support:core, test

#70015 Support `removed_at_date` in ansible-doc (#70002)
  changelogs/fragments/ansible-doc-remove_at_date.yaml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/library/test_docs_removed_precedence.py
  test/integration/targets/ansible-doc/test.yml
Labels: P2, affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#70118 Disabled inconsistent pylint checks.
  changelogs/fragments/ansible-test-sanity-pylint-config-fix.yml
  test/lib/ansible_test/_data/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/default.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/sanity.cfg
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#69806 [2.9] Backport Fix nxos_facts for VDC with no interface
  changelogs/fragments/fix_nxos_facts_with_vdc.yaml
  lib/ansible/module_utils/network/nxos/facts/legacy/base.py
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, needs_triage, networking, nxos, owner_pr, support:community, support:network

#69818 Add AWS module_defaults for recently added modules
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:core

#69885 Fix IncludedFile equality check (#69524)
  changelogs/fragments/69521-free-strategy-include-fix.yml
  lib/ansible/playbook/included_file.py
  test/integration/targets/includes_race/aliases
  test/integration/targets/includes_race/inventory
  test/integration/targets/includes_race/roles/random_sleep/tasks/main.yml
  test/integration/targets/includes_race/roles/set_a_fact/tasks/fact1.yml
  test/integration/targets/includes_race/roles/set_a_fact/tasks/fact2.yml
  test/integration/targets/includes_race/runme.sh
  test/integration/targets/includes_race/test_includes_race.yml
  test/units/playbook/test_included_file.py
Labels: affects_2.9, backport, bug, core_review, has_issue, needs_triage, support:community, support:core

#69901 [2.9] Handle set object retrieved from lookup plugin
  changelogs/fragments/i111_k8s_lookup.yml
  lib/ansible/plugins/lookup/k8s.py
Labels: affects_2.9, backport, bug, collection, collection:community.kubernetes, community_review, k8s, needs_triage, stale_ci, support:community

#69941 Backport: ovirt_vm fix cd_iso search by name
  changelogs/fragments/69941-ovirt_vm-fix-cd_iso-search-by-name.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, backport, bug, cloud, collection, community_review, module, needs_triage, ovirt, owner_pr, stale_ci, support:community

#69943 Backport: ovirt_disk force wait when uploading disk
  changelogs/fragments/69943-ovirt_disk-force-wait-when-uploading-disk.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.9, backport, bug, cloud, collection, community_review, module, needs_triage, ovirt, owner_pr, stale_ci, support:community

#69962 zfs_delegate_admin: add diff,hold,release to list of permissions
  changelogs/fragments/69962-zfs_delegate_admin_add_diff_hold_release.yml
  lib/ansible/modules/storage/zfs/zfs_delegate_admin.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, module, needs_triage, new_contributor, solaris, storage, support:community, zfs

#69985 fixed missing default (#69972)
  changelogs/fragments/deprecate_default_call_fragmentless.yml
  lib/ansible/plugins/callback/default.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#69999 2.9: Do not keep empty blocks after tag filtering (#69987)
  changelogs/fragments/purge-empty-block.yml
  lib/ansible/playbook/block.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#70008 implemented 'prefix' for file based cache (#69872)
  changelogs/fragments/add_prefix_to_cache.yml
  lib/ansible/plugins/cache/__init__.py
  test/integration/targets/collections/cache.statichost.yml
  test/integration/targets/set_fact/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, utilities

#70066 [backport][2.9] Backport of dnf module logging (#69480)
  changelogs/fragments/dnf_setup_loggers.yml
  lib/ansible/modules/packaging/os/dnf.py
  test/integration/targets/dnf/tasks/logging.yml
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/vars/main.yml
Labels: affects_2.9, backport, core_review, feature, module, needs_triage, packaging, support:community, support:core

#70074 Allow tasks to notify a fqcn handler name (#68213)
  changelogs/fragments/68181-fqcn-handler-notification.yml
  docs/docsite/rst/reference_appendices/special_variables.rst
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/role/definition.py
  lib/ansible/playbook/task.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/vars/manager.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/common_handlers/handlers/main.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/test_fqcn_handlers/meta/main.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/test_fqcn_handlers/tasks/main.yml
  test/integration/targets/collections/posix.yml
Labels: affects_2.9, backport, bug, core_review, docs, needs_triage, support:community, support:core

#70075 [2.9] Fix issues with nxos_file_copy
  changelogs/fragments/fix_nxos_file_copy.yaml
  lib/ansible/plugins/action/nxos_file_copy.py
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, needs_triage, networking, nxos, support:community, support:network

#70088 [2.9] copy: ensure _original_basename is set
  changelogs/fragments/47050-copy_ensure-_original_basename-is-set.yaml
  lib/ansible/modules/files/copy.py
  test/integration/targets/copy/tasks/dest_in_non_existent_directories_remote_src.yml
  test/integration/targets/copy/tasks/src_file_dest_file_in_non_existent_dir_remote_src.yml
  test/integration/targets/copy/tasks/tests.yml
Labels: affects_2.9, backport, bug, core_review, files, has_issue, module, support:community, support:core

#70089 2.9: yum/dnf: check type of elements in a name (#70072)
  changelogs/fragments/yum-dnf-elements-type-in-name-list.yml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/packaging/os/dnf.py
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, packaging, support:community, support:core

#70093 [2.9] Backport NX-OS cliconf updates for MDS
  changelogs/fragments/update_nxos_cliconf_for_mds.yaml
  lib/ansible/plugins/cliconf/nxos.py
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, needs_triage, networking, nxos, support:community, support:network

#70114 Backport: ovirt_disk fix activate
  changelogs/fragments/70114-ovirt_disk-fix-activate.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.9, backport, bug, cloud, community_review, module, needs_triage, ovirt, owner_pr, support:community

#69409 [2.9] Fix ansible-test change detection traceback.
  changelogs/fragments/ansible-test-change-detection-empty-python.yml
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.9, backport, bug, needs_revision, support:community, support:core, test

#69605 Test ansible-galaxy against pulp/pulp_ansible
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/api.py
  shippable.yml
  test/integration/targets/ansible-galaxy-collection/aliases
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/publish.yml
  test/integration/targets/ansible-galaxy-collection/tasks/pulp.yml
  test/integration/targets/ansible-galaxy-collection/templates/ansible.cfg.j2
  test/lib/ansible_test/_internal/cloud/fallaxy.py
  test/lib/ansible_test/_internal/cloud/galaxy.py
  test/lib/ansible_test/_internal/docker_util.py
  test/utils/shippable/galaxy.sh
Labels: affects_2.10, feature, needs_revision, support:community, support:core, test

#69994 galaxy - preserve symlinks on build/install (#69959)
  changelogs/fragments/galaxy-symlinks.yaml
  lib/ansible/galaxy/collection.py
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/units/cli/galaxy/test_collection_extract_tar.py
  test/units/galaxy/test_collection.py
Labels: P2, affects_2.9, backport, bug, needs_revision, needs_triage, support:community, support:core

#70129 Clean up ansible-test pylint configs.
  changelogs/fragments/ansible-test-cleanup-pylint-config.yml
  test/lib/ansible_test/_data/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/default.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/sanity.cfg
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#70106 redirecting the conjur lookup plugin to correct collection
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core

#70094 Detect failure in always block after rescue
  lib/ansible/executor/play_iterator.py
  test/integration/targets/blocks/always_failure_no_rescue_rc.yml
  test/integration/targets/blocks/always_failure_with_rescue_rc.yml
  test/integration/targets/blocks/always_no_rescue_rc.yml
  test/integration/targets/blocks/runme.sh
Labels: affects_2.10, bug, core_review, small_patch, support:community, support:core

#70144 Fix yamllint sanity test line numbers.
  changelogs/fragments/ansible-test-sanity-yamllint-lineno.yml
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#70146 Fix transport defs in test connection plugins.
  test/integration/targets/error_from_connection/connection_plugins/dummy.py
  test/integration/targets/shell/connection_plugins/test_connection_default.py
  test/integration/targets/shell/connection_plugins/test_connection_override.py
Labels: affects_2.11, bug, commands, core_review, support:community, support:core

#70150 Change comprehension to `list()` in plugin loader.
  changelogs/fragments/plugin-loader-cleanup.yml
  lib/ansible/plugins/loader.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#70139 find: Specify elements type in paths
  lib/ansible/modules/find.py
  test/sanity/ignore.txt
Labels: affects_2.11, bug, core_review, files, module, needs_triage, support:core, test

#70151 Only pass kwargs to our string checker not callable checkers
  changelogs/fragments/70017-avoid-params-to-callable-checkers.yml
  lib/ansible/module_utils/basic.py
  test/units/module_utils/basic/test_argument_spec.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#70107 Get test data file directly in rebalance script
  hacking/shippable/rebalance.py
Labels: affects_2.10, bug, core_review, needs_triage, python3, support:core, traceback

#70174 [stable-2.9] Pin version of netaddr and jmespath in filters test
  test/integration/targets/filters/runme.sh
Labels: affects_2.9, backport, bug, community_review, support:community

#70175 [stable-2.8] Pin version of netaddr and jmespath in filters test
  test/integration/targets/filters/runme.sh
Labels: affects_2.8, backport, bug, community_review, support:community
