Repository ansible/ansible, pull requests merged in 2020-10, with the labels that each got.

#72041 Update porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
Labels: affects_2.11, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#72033 [2.9] [tests] Try re-enabling hcloud
  shippable.yml
Labels: affects_2.9, backport, core_review, needs_triage, small_patch, support:core

#72034 [2.8] [tests] Try re-enabling hcloud
  shippable.yml
Labels: affects_2.8, backport, core_review, needs_triage, small_patch, support:core

#72060 Minor typo in test_strategies.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
Labels: affects_2.11, core_review, docs, support:core

#72025 WIP: OpenBSD: add uptime to gather_facts
  changelogs/fragments/72025-fact-add-uptime-to-openbsd.yml
  lib/ansible/module_utils/facts/hardware/openbsd.py
Labels: WIP, affects_2.11, bsd, feature, support:community, support:core

#72053 Docsite: update user_guide/playbooks_debugger
  docs/docsite/rst/user_guide/playbooks_debugger.rst
Labels: affects_2.11, core_review, docs, support:core

#72052 Docsite: update user_guide/playbooks_checkmode
  docs/docsite/rst/user_guide/playbooks_checkmode.rst
Labels: affects_2.11, core_review, docs, support:core

#72049 Docsite: update user_guide/playbooks_prompts
  docs/docsite/rst/user_guide/playbooks_prompts.rst
Labels: affects_2.11, core_review, docs, support:core

#71735 Add deprecation collection name to plugin options
  changelogs/fragments/71735-deprecation-tagging.yml
  lib/ansible/utils/plugin_docs.py
  test/units/utils/test_plugin_docs.py
Labels: affects_2.11, bug, core_review, has_issue, stale_ci, support:community, support:core

#72072 Fix typos
  docs/docsite/rst/dev_guide/debugging.rst
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/dev_guide/platforms/vmware_rest_guidelines.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/roadmap/ROADMAP_2_5.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/intro_patterns.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  test/integration/targets/lookup_fileglob/find_levels/play.yml
  test/integration/targets/lookup_fileglob/find_levels/play_adj.txt
Labels: aci, affects_2.11, azure, cisco, cloud, core_review, docs, docsite, networking, support:community, support:core

#72062 uri status_code elements are type int
  changelogs/fragments/uri-status-code-int.yml
  lib/ansible/modules/uri.py
Labels: affects_2.11, bug, core_review, module, net_tools, support:community, support:core

#71950 clarify git dest parameter
  lib/ansible/modules/git.py
Labels: affects_2.11, core_review, docs, has_issue, module, source_control, support:core

#71948 Add libyaml info to version output, and restore git info
  changelogs/fragments/version-libyaml-git.yml
  lib/ansible/cli/arguments/option_helpers.py
  test/units/cli/test_adhoc.py
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core

#71214 VariableManager - add the 'vars' key before getting delegated variables
  changelogs/fragments/71214-add-vars-variable-for-delegated-vars.yaml
  lib/ansible/vars/manager.py
  test/integration/targets/delegate_to/resolve_vars.yml
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.11, bug, needs_revision, stale_ci, stale_review, support:community, support:core

#71741 add a note about pip install --user
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#72022 Allow local users with an expiry date to be created
  changelogs/fragments/fix_ansible_issue_71942.yaml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/expires_local.yml
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.11, bug, module, needs_revision, support:community, support:core, system

#72064 More explicit argspec tests
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_aws_step_functions_state_machine/aliases
  test/integration/targets/incidental_aws_step_functions_state_machine/defaults/main.yml
  test/integration/targets/incidental_aws_step_functions_state_machine/files/alternative_state_machine.json
  test/integration/targets/incidental_aws_step_functions_state_machine/files/state_machine.json
  test/integration/targets/incidental_aws_step_functions_state_machine/files/state_machines_iam_trust_policy.json
  test/integration/targets/incidental_aws_step_functions_state_machine/tasks/main.yml
  test/integration/targets/incidental_cs_service_offering/aliases
  test/integration/targets/incidental_cs_service_offering/meta/main.yml
  test/integration/targets/incidental_cs_service_offering/tasks/guest_vm_service_offering.yml
  test/integration/targets/incidental_cs_service_offering/tasks/main.yml
  test/integration/targets/incidental_cs_service_offering/tasks/system_vm_service_offering.yml
  test/support/integration/plugins/modules/aws_step_functions_state_machine.py
  test/support/integration/plugins/modules/aws_step_functions_state_machine_execution.py
  test/support/integration/plugins/modules/cs_service_offering.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72063 Remove incidental_timezone
  test/integration/targets/incidental_timezone/aliases
  test/integration/targets/incidental_timezone/tasks/main.yml
  test/integration/targets/incidental_timezone/tasks/test.yml
  test/integration/targets/lookup_items/tasks/main.yml
Labels: affects_2.11, bug, community_review, support:community, test

#72070 sysctl/openbsd fact fixes
  changelogs/fragments/facts_fixes.yml
  lib/ansible/module_utils/facts/hardware/openbsd.py
  lib/ansible/module_utils/facts/sysctl.py
  test/units/module_utils/facts/test_sysctl.py
Labels: affects_2.11, bsd, bug, core_review, needs_triage, support:community, support:core

#50909 optional attribute arg for min and max filters
  changelogs/fragments/50909-min-max-attrs.yml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/mathstuff.py
  test/units/plugins/filter/test_mathstuff.py
Labels: affects_2.8, core_review, docs, feature, has_issue, new_contributor, support:community, support:core

#72105 Rewrite _is_role and remove incidental_flatpak_remote
  lib/ansible/parsing/dataloader.py
  test/integration/targets/incidental_flatpak_remote/aliases
  test/integration/targets/incidental_flatpak_remote/meta/main.yml
  test/integration/targets/incidental_flatpak_remote/tasks/check_mode.yml
  test/integration/targets/incidental_flatpak_remote/tasks/main.yml
  test/integration/targets/incidental_flatpak_remote/tasks/setup.yml
  test/integration/targets/incidental_flatpak_remote/tasks/test.yml
  test/integration/targets/incidental_setup_flatpak_remote/README.md
  test/integration/targets/incidental_setup_flatpak_remote/aliases
  test/integration/targets/incidental_setup_flatpak_remote/files/repo.tar.xz
  test/integration/targets/incidental_setup_flatpak_remote/handlers/main.yaml
  test/integration/targets/incidental_setup_flatpak_remote/meta/main.yaml
  test/integration/targets/incidental_setup_flatpak_remote/tasks/main.yaml
  test/support/integration/plugins/modules/flatpak_remote.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, test

#72107 Add explicit coverage of required_together
  shippable.yml
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_hcloud_server/aliases
  test/integration/targets/incidental_hcloud_server/defaults/main.yml
  test/integration/targets/incidental_hcloud_server/tasks/main.yml
  test/support/integration/plugins/module_utils/hcloud.py
  test/support/integration/plugins/modules/hcloud_server.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:community, support:core, test

#72096 [ansible-test] attempt to work around podman
  changelogs/fragments/ansible-test-podman-json-format.yml
  test/lib/ansible_test/_internal/docker_util.py
  test/units/ansible_test/test_docker_util.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, test

#72092 [virt facts] identify KubeVirt properly
  changelogs/fragments/kubevirt-virt-fact.yml
  lib/ansible/module_utils/facts/virtual/linux.py
Labels: affects_2.11, bug, core_review, has_issue, needs_triage, support:community, support:core

#72098 [unarchive] work on older RHEL with group: <gid>
  changelogs/fragments/71903-unarchive-gid-cast.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/test_owner_group.yml
  test/integration/targets/unarchive/tasks/test_tar.yml
  test/integration/targets/unarchive/tasks/test_tar_gz.yml
  test/integration/targets/unarchive/tasks/test_zip.yml
Labels: affects_2.11, bug, core_review, files, m:unarchive, module, needs_triage, support:community, support:core

#72101 basic: Handle exception in default selector
  changelogs/fragments/71704_selector.yml
  lib/ansible/module_utils/basic.py
Labels: affects_2.11, bug, core_review, has_issue, needs_triage, support:community, support:core

#72028 Add intentional coverage for incidental_ec2_instance
  test/integration/targets/dict_transformations/aliases
  test/integration/targets/dict_transformations/library/convert_camelCase.py
  test/integration/targets/dict_transformations/library/convert_snake_case.py
  test/integration/targets/dict_transformations/tasks/main.yml
  test/integration/targets/dict_transformations/tasks/test_convert_camelCase.yml
  test/integration/targets/dict_transformations/tasks/test_convert_snake_case.yml
  test/integration/targets/incidental_ec2_instance/aliases
  test/integration/targets/incidental_ec2_instance/inventory
  test/integration/targets/incidental_ec2_instance/main.yml
  test/integration/targets/incidental_ec2_instance/meta/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/defaults/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/files/assume-role-policy.json
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/meta/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/block_devices.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/checkmode_tests.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/cpu_options.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/default_vpc_tests.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/ebs_optimized.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/env_cleanup.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/env_setup.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/external_resource_attach.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/find_ami.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/iam_instance_role.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/instance_no_wait.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/tags_and_vpc_settings.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/termination_protection.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/version_fail.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/version_fail_wrapper.yml
  test/integration/targets/incidental_ec2_instance/runme.sh
  test/integration/targets/wait_for/tasks/main.yml
  test/support/integration/plugins/modules/ec2_eni.py
  test/support/integration/plugins/modules/ec2_eni_info.py
  test/support/integration/plugins/modules/ec2_instance.py
  test/support/integration/plugins/modules/ec2_instance_info.py
  test/support/integration/plugins/modules/ec2_key.py
  test/support/integration/plugins/modules/ec2_vpc_igw.py
  test/support/integration/plugins/modules/ec2_vpc_route_table.py
Labels: affects_2.11, core_review, support:community, support:core, test, utilities

#71736 Fix various sanity errors in plugins
  lib/ansible/plugins/become/runas.py
  lib/ansible/plugins/become/su.py
  lib/ansible/plugins/become/sudo.py
  lib/ansible/plugins/cache/jsonfile.py
  lib/ansible/plugins/cache/memory.py
  lib/ansible/plugins/callback/default.py
  lib/ansible/plugins/callback/junit.py
  lib/ansible/plugins/callback/minimal.py
  lib/ansible/plugins/callback/oneline.py
  lib/ansible/plugins/callback/tree.py
  lib/ansible/plugins/connection/local.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/connection/winrm.py
  lib/ansible/plugins/inventory/advanced_host_list.py
  lib/ansible/plugins/inventory/auto.py
  lib/ansible/plugins/inventory/constructed.py
  lib/ansible/plugins/inventory/generator.py
  lib/ansible/plugins/inventory/host_list.py
  lib/ansible/plugins/inventory/ini.py
  lib/ansible/plugins/inventory/script.py
  lib/ansible/plugins/inventory/toml.py
  lib/ansible/plugins/inventory/yaml.py
  lib/ansible/plugins/lookup/config.py
  lib/ansible/plugins/lookup/csvfile.py
  lib/ansible/plugins/lookup/dict.py
  lib/ansible/plugins/lookup/env.py
  lib/ansible/plugins/lookup/file.py
  lib/ansible/plugins/lookup/fileglob.py
  lib/ansible/plugins/lookup/first_found.py
  lib/ansible/plugins/lookup/indexed_items.py
  lib/ansible/plugins/lookup/ini.py
  lib/ansible/plugins/lookup/inventory_hostnames.py
  lib/ansible/plugins/lookup/items.py
  lib/ansible/plugins/lookup/lines.py
  lib/ansible/plugins/lookup/list.py
  lib/ansible/plugins/lookup/nested.py
  lib/ansible/plugins/lookup/password.py
  lib/ansible/plugins/lookup/pipe.py
  lib/ansible/plugins/lookup/random_choice.py
  lib/ansible/plugins/lookup/sequence.py
  lib/ansible/plugins/lookup/subelements.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/plugins/lookup/together.py
  lib/ansible/plugins/lookup/unvault.py
  lib/ansible/plugins/lookup/url.py
  lib/ansible/plugins/lookup/varnames.py
  lib/ansible/plugins/lookup/vars.py
  lib/ansible/plugins/shell/cmd.py
  lib/ansible/plugins/shell/powershell.py
  lib/ansible/plugins/shell/sh.py
  lib/ansible/plugins/strategy/debug.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/host_pinned.py
  lib/ansible/plugins/strategy/linear.py
  lib/ansible/plugins/vars/host_group_vars.py
Labels: affects_2.11, bug, needs_rebase, needs_revision, support:community, support:core

#72108 Add explicit coverage of suboptions=list without elements
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_vmware_guest_custom_attributes/aliases
  test/integration/targets/incidental_vmware_guest_custom_attributes/tasks/main.yml
  test/support/integration/plugins/modules/vmware_guest_custom_attributes.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72109 Update user module documentation
  lib/ansible/modules/user.py
Labels: affects_2.11, core_review, docs, module, new_contributor, small_patch, support:core, system

#72122 Add explicit coverage of argspec choices with strings that shadow YAML bools
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_ufw/aliases
  test/integration/targets/incidental_ufw/tasks/main.yml
  test/integration/targets/incidental_ufw/tasks/run-test.yml
  test/integration/targets/incidental_ufw/tasks/tests/basic.yml
  test/integration/targets/incidental_ufw/tasks/tests/global-state.yml
  test/integration/targets/incidental_ufw/tasks/tests/insert_relative_to.yml
  test/integration/targets/incidental_ufw/tasks/tests/interface.yml
  test/support/integration/plugins/modules/ufw.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72129 Fix example to use correct shebang
  examples/scripts/my_test.py
  examples/scripts/my_test_facts.py
  examples/scripts/my_test_info.py
  test/sanity/ignore.txt
Labels: affects_2.11, core_review, docs, needs_triage, support:core, test

#72137 Add test for exclusive incidental_cloudformation coverage
  test/integration/targets/dict_transformations/tasks/test_convert_snake_case.yml
  test/integration/targets/incidental_cloudformation/aliases
  test/integration/targets/incidental_cloudformation/defaults/main.yml
  test/integration/targets/incidental_cloudformation/files/cf_template.json
  test/integration/targets/incidental_cloudformation/tasks/main.yml
  test/support/integration/plugins/modules/aws_az_info.py
  test/support/integration/plugins/modules/cloudformation.py
  test/support/integration/plugins/modules/cloudformation_info.py
Labels: affects_2.11, core_review, support:community, support:core, test

#72140 Remove incidental_aws_codebuild
  test/integration/targets/incidental_aws_codebuild/aliases
  test/integration/targets/incidental_aws_codebuild/defaults/main.yml
  test/integration/targets/incidental_aws_codebuild/files/codebuild_iam_trust_policy.json
  test/integration/targets/incidental_aws_codebuild/tasks/main.yml
  test/integration/targets/incidental_aws_codebuild/vars/main.yml
  test/support/integration/plugins/modules/aws_codebuild.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, test

#72142 Remove incidental_zabbix_host
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/apt_key/tasks/file.yml
  test/integration/targets/apt_repository/tasks/apt.yml
  test/integration/targets/incidental_setup_mysql_db/aliases
  test/integration/targets/incidental_setup_mysql_db/defaults/main.yml
  test/integration/targets/incidental_setup_mysql_db/handlers/main.yml
  test/integration/targets/incidental_setup_mysql_db/tasks/main.yml
  test/integration/targets/incidental_setup_mysql_db/vars/Debian.yml
  test/integration/targets/incidental_setup_mysql_db/vars/Fedora-py3.yml
  test/integration/targets/incidental_setup_mysql_db/vars/Fedora.yml
  test/integration/targets/incidental_setup_mysql_db/vars/FreeBSD.yml
  test/integration/targets/incidental_setup_mysql_db/vars/RedHat-7.yml
  test/integration/targets/incidental_setup_mysql_db/vars/RedHat-8.yml
  test/integration/targets/incidental_setup_mysql_db/vars/RedHat.yml
  test/integration/targets/incidental_setup_mysql_db/vars/Suse-py3.yml
  test/integration/targets/incidental_setup_mysql_db/vars/Suse.yml
  test/integration/targets/incidental_setup_mysql_db/vars/Ubuntu-py3.yml
  test/integration/targets/incidental_setup_mysql_db/vars/default-py3.yml
  test/integration/targets/incidental_setup_mysql_db/vars/default.yml
  test/integration/targets/incidental_setup_zabbix/aliases
  test/integration/targets/incidental_setup_zabbix/defaults/main.yml
  test/integration/targets/incidental_setup_zabbix/handlers/main.yml
  test/integration/targets/incidental_setup_zabbix/meta/main.yml
  test/integration/targets/incidental_setup_zabbix/tasks/main.yml
  test/integration/targets/incidental_setup_zabbix/tasks/setup.yml
  test/integration/targets/incidental_setup_zabbix/templates/zabbix.conf.php.j2
  test/integration/targets/incidental_setup_zabbix/templates/zabbix_server.conf.j2
  test/integration/targets/incidental_zabbix_host/aliases
  test/integration/targets/incidental_zabbix_host/defaults/main.yml
  test/integration/targets/incidental_zabbix_host/meta/main.yml
  test/integration/targets/incidental_zabbix_host/tasks/main.yml
  test/integration/targets/incidental_zabbix_host/tasks/zabbix_host_doc.yml
  test/integration/targets/incidental_zabbix_host/tasks/zabbix_host_setup.yml
  test/integration/targets/incidental_zabbix_host/tasks/zabbix_host_teardown.yml
  test/integration/targets/incidental_zabbix_host/tasks/zabbix_host_tests.yml
  test/integration/targets/systemd/tasks/main.yml
  test/support/integration/plugins/modules/mysql_db.py
  test/support/integration/plugins/modules/mysql_user.py
  test/support/integration/plugins/modules/zabbix_host.py
  test/support/integration/plugins/modules/zabbix_proxy.py
Labels: affects_2.11, bug, core_review, needs_triage, packaging, support:community, support:core, system, test

#72154 Support collection constraints in ansible-test.
  changelogs/fragments/ansible-test-collection-constraints.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/integration/constraints.txt
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/integration/requirements.txt
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/integration/targets/constraints/tasks/main.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/unit/constraints.txt
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/unit/plugins/modules/test_constraints.py
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/unit/requirements.txt
  test/integration/targets/ansible-test/collection-tests/constraints.sh
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#72138 subversion: Fix subversion_pacakges name integration test for Debian
  test/integration/targets/subversion/vars/Debian.yml
Labels: affects_2.11, bug, core_review, has_issue, source_control, support:core

#72155 doc: use FQCN for vmware_rest examples
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Add_a_floppy_disk_drive.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Attach_a_VM_to_a_dvswitch.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Attach_an_ISO_image_to_a_guest_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Build_a_list_of_all_the_clusters.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Build_a_list_of_all_the_folders.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Build_a_list_of_all_the_folders_with_the_type_VIRTUAL_MACHINE_and_called_vm.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Change_vm-tools_upgrade_policy_to_MANUAL.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Change_vm-tools_upgrade_policy_to_UPGRADE_AT_POWER_CYCLE.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Collect_information_about_a_specific_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Collect_the_hardware_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Create_a_SATA_adapter_at_PCI_slot_34.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Create_a_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Create_a_new_disk.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Dedicate_one_core_to_the_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_VM_storage_policy.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_guest_filesystem_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_guest_identity_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_guest_network_interfaces_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_guest_network_routes_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_guest_networking_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Get_guest_power_information.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Increase_the_memory_of_a_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/List_the_SCSI_adapter_of_a_given_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/List_the_cdrom_devices_on_the_guest.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Look_up_the_VM_called_test_vm1_in_the_inventory.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Retrieve_a_list_of_all_the_datastores.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Retrieve_details_about_the_first_cluster.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Retrieve_the_disk_information_from_the_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Retrieve_the_memory_information_from_the_VM.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Turn_the_NIC's_start_connected_flag_on.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Turn_the_power_of_the_VM_on.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Upgrade_the_VM_hardware_version.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/Wait_until_my_VM_is_ready.task.yaml
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/task_outputs/collect_a_list_of_the_datacenters.task.yaml
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#72160 Add intentional unit tests for basic._set_cwd and common.dict_merge (#70283)
  test/units/module_utils/basic/test_set_cwd.py
  test/units/module_utils/common/test_dict_transformations.py
  test/units/modules/test_async_wrapper.py
Labels: affects_2.10, backport, core_review, needs_triage, support:core

#72159 Intentional coverage, incidental_azure_rm_resource (#71052)
  test/integration/targets/plugin_loader/normal/library/_symlink.py
  test/integration/targets/plugin_loader/normal/library/_underscore.py
  test/integration/targets/plugin_loader/normal/underscore.yml
Labels: affects_2.10, backport, community_review, needs_triage, support:community

#72158 [stable-2.9] Support collection constraints in ansible-test.
  changelogs/fragments/ansible-test-collection-constraints.yml
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.9, backport, core_review, feature, support:community, support:core, test

#72157 [stable-2.10] Support collection constraints in ansible-test.
  changelogs/fragments/ansible-test-collection-constraints.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/integration/constraints.txt
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/integration/requirements.txt
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/integration/targets/constraints/tasks/main.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/unit/constraints.txt
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/unit/plugins/modules/test_constraints.py
  test/integration/targets/ansible-test/ansible_collections/ns/col_constraints/tests/unit/requirements.txt
  test/integration/targets/ansible-test/collection-tests/constraints.sh
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#72150 Update playbooks_vars_facts.rst
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#72125 Add The Bullhorn to the community communication page
  docs/docsite/rst/community/communication.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core

#72115 Docsite: update user_guide/playbooks_async
  docs/docsite/rst/user_guide/playbooks_async.rst
Labels: affects_2.11, core_review, docs, support:core

#72087 Backport PR 71908 to 2.10
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#72071 [2.10] Docsite backport of 72049, 72052, 72053
  docs/docsite/rst/user_guide/playbooks_checkmode.rst
  docs/docsite/rst/user_guide/playbooks_debugger.rst
  docs/docsite/rst/user_guide/playbooks_prompts.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#72130 [2.9] kubectl: Follow up fix in connection plugin
  changelogs/fragments/71535_kubectl_followup.yml
  lib/ansible/plugins/connection/kubectl.py
Labels: affects_2.9, backport, bug, collection, collection:community.kubernetes, community_review, has_issue, k8s, needs_triage, support:community

#72131 [2.8] kubectl: Follow up fix in connection plugin
  changelogs/fragments/71535_kubectl_followup.yml
  lib/ansible/plugins/connection/kubectl.py
Labels: affects_2.8, backport, bug, collection, collection:community.kubernetes, community_review, has_issue, k8s, needs_triage, support:community

#72178 Update contributing_maintained_collections.rst to include kubernetes.core
  docs/docsite/rst/community/contributing_maintained_collections.rst
Labels: affects_2.11, docs

#72182 fix typo (foward -> forward)
  test/lib/ansible_test/_data/setup/windows-httptester.ps1
Labels: affects_2.11, core_review, needs_triage, new_contributor, support:core, test

#72203 add details on how to get API token for Galaxy
  docs/docsite/rst/shared_snippets/galaxy_server_list.txt
Labels: affects_2.11, core_review, docs, small_patch, support:core

#72205 add link to jinja docs from templating section
  docs/docsite/rst/user_guide/playbooks_templating.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71953 Remove incidental_win_psexec
  test/integration/targets/incidental_win_psexec/aliases
  test/integration/targets/incidental_win_psexec/meta/main.yml
  test/integration/targets/incidental_win_psexec/tasks/main.yml
  test/integration/targets/until/action_plugins/shell_no_failed.py
  test/integration/targets/until/tasks/main.yml
  test/support/windows-integration/plugins/modules/win_psexec.ps1
  test/support/windows-integration/plugins/modules/win_psexec.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#71477 Ensure delegate vars calculation has correct loop context
  changelogs/fragments/37132-delegate-to-loop-context.yml
  lib/ansible/vars/manager.py
  test/integration/targets/delegate_to/delegate_to_lookup_context.yml
  test/integration/targets/delegate_to/roles/delegate_to_lookup_context/tasks/main.yml
  test/integration/targets/delegate_to/roles/delegate_to_lookup_context/templates/one.j2
  test/integration/targets/delegate_to/roles/delegate_to_lookup_context/templates/two.j2
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/test_delegate_to_lookup_context.yml
Labels: affects_2.11, bug, core_review, support:community, support:core

#72113 Add support for GSSAPI/Kerberos to urls.py
  changelogs/fragments/urls-gssapi.yml
  docs/docsite/rst/dev_guide/testing_httptester.rst
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/uri.py
  lib/ansible/plugins/doc_fragments/url.py
  lib/ansible/plugins/lookup/url.py
  test/integration/targets/get_url/tasks/main.yml
  test/integration/targets/get_url/tasks/use_gssapi.yml
  test/integration/targets/module_utils_urls/aliases
  test/integration/targets/module_utils_urls/library/test_peercert.py
  test/integration/targets/module_utils_urls/meta/main.yml
  test/integration/targets/module_utils_urls/tasks/main.yml
  test/integration/targets/prepare_http_tests/handlers/main.yml
  test/integration/targets/prepare_http_tests/library/httptester_kinit.py
  test/integration/targets/prepare_http_tests/meta/main.yml
  test/integration/targets/prepare_http_tests/tasks/kerberos.yml
  test/integration/targets/prepare_http_tests/tasks/main.yml
  test/integration/targets/prepare_http_tests/templates/krb5.conf.j2
  test/integration/targets/prepare_http_tests/vars/Alpine.yml
  test/integration/targets/prepare_http_tests/vars/Debian.yml
  test/integration/targets/prepare_http_tests/vars/FreeBSD.yml
  test/integration/targets/prepare_http_tests/vars/Suse.yml
  test/integration/targets/prepare_http_tests/vars/default.yml
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/uri/tasks/use_gssapi.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/util.py
  test/units/module_utils/urls/fixtures/cbt/ecdsa_sha256.pem
  test/units/module_utils/urls/fixtures/cbt/ecdsa_sha512.pem
  test/units/module_utils/urls/fixtures/cbt/rsa-pss_sha256.pem
  test/units/module_utils/urls/fixtures/cbt/rsa-pss_sha512.pem
  test/units/module_utils/urls/fixtures/cbt/rsa_md5.pem
  test/units/module_utils/urls/fixtures/cbt/rsa_sha.pem
  test/units/module_utils/urls/fixtures/cbt/rsa_sha1.pem
  test/units/module_utils/urls/fixtures/cbt/rsa_sha256.pem
  test/units/module_utils/urls/fixtures/cbt/rsa_sha384.pem
  test/units/module_utils/urls/fixtures/cbt/rsa_sha512.pem
  test/units/module_utils/urls/test_channel_binding.py
Labels: affects_2.11, collection, collection:community.crypto, collection:community.internal_test_tools, core_review, docs, docsite, feature, module, net_tools, support:community, support:core, test

#72073 service_facts: return service state information on AIX
  changelogs/fragments/72073-service_facts-aix-src.yml
  lib/ansible/modules/service_facts.py
  test/units/modules/test_service_facts.py
Labels: affects_2.11, feature, has_issue, module, needs_revision, new_contributor, support:community, support:core, system

#72211 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#72212 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#72172 [config manager] coerce more 'type: str' to string
  changelogs/fragments/more-types-to-string-config.yml
  lib/ansible/config/manager.py
  test/units/config/__init__.py
  test/units/config/test_manager.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#72215 Consistent Taxonomy
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#72176 Update playbooks_strategies.rst
  docs/docsite/rst/user_guide/playbooks_strategies.rst
Labels: affects_2.11, core_review, docs, new_contributor, support:core

#72218 Fix ansible-test Azure Pipelines container auth.
  changelogs/fragments/ansible-test-azp-agent-temp-dir.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72222 Update 2.11 Roadmap to include dates and planned work
  docs/docsite/rst/roadmap/ROADMAP_2_11.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#59932 make collection callbacks follow normal flow
  changelogs/fragments/collections_cb_fix.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/collections/runme.sh
Labels: affects_2.9, bug, core_review, support:community, support:core

#72219 fix simple typos
  lib/ansible/modules/apt.py
Labels: affects_2.11, core_review, docs, module, new_contributor, packaging, support:core

#72249 [tests/dnf] work around dnf packaging issue
  test/integration/targets/dnf/tasks/logging.yml
Labels: affects_2.11, core_review, needs_triage, packaging, python3, support:core

#72206 Ensure we call action_loader.get with collection_list
  changelogs/fragments/72170-action-loader-collection-list.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/action/bypass_host_loop.py
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/test_bypass_host_loop.yml
Labels: affects_2.11, bug, needs_revision, needs_triage, new_plugin, support:community, support:core

#72251 [tests/dnf] work around dnf packaging issue (#72249) [2.10]
  test/integration/targets/dnf/tasks/logging.yml
Labels: affects_2.10, backport, core_review, needs_triage, packaging, python3, support:core

#72213 Document security concern for users setting the system_tmpdirs shell …
  lib/ansible/plugins/doc_fragments/shell_common.py
Labels: affects_2.11, docs, shipit, support:community

#72069 Fix race condition when creating async dir
  changelogs/fragments/async-race-condition.yml
  lib/ansible/modules/async_wrapper.py
Labels: affects_2.11, bug, core_review, module, support:community, support:core, utilities

#72244 Update HTTP -> HTTPS
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/dev_guide/style_guide/index.rst
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/guide_rolling_upgrade.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core

#72095 k8s: Scenario guides
  docs/docsite/rst/scenario_guides/guide_kubernetes.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/k8s_intro.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/k8s_inventory.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/k8s_scenarios.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/scenario_k8s_object.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/task_outputs/Add_a_pod_using_k8s.json
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/task_outputs/Add_a_pod_using_k8s.yaml
Labels: affects_2.11, docs, needs_revision, support:core

#72202 Miscellaneous fixes in user_guide/intro_inventory.rst docs
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.11, core_review, docs, needs_triage, new_contributor, support:core

#72210 [virt facts] recognize containerd as a container
  changelogs/fragments/66304-facts_containerd.yml
  lib/ansible/module_utils/facts/virtual/linux.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#72253 remove ansibleFest banner
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, core_review, docs, small_patch, support:core

#72260 Update migrating_roles.rst
  docs/docsite/rst/dev_guide/migrating_roles.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, small_patch, support:core

#71972 [2.10] Docsite backports of 71938, 71907
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.10, backport, docs, shipit, support:core

#72180 [dnf] show installations/removals in check_mode (#70892) [2.10]
  changelogs/fragments/66132_dnf_show_pkgs_in_check_mode.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/dnf.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, packaging, stale_ci, support:community, support:core

#72012 powershell - remove env var (#72010)
  changelogs/fragments/powershell-version-env.yml
  lib/ansible/plugins/shell/powershell.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, windows

#72017 2.10: Only apply the unroll wrapper once (#72003)
  changelogs/fragments/71920-fix-templating-recursion-error.yml
  lib/ansible/template/__init__.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72026 fix distribution fact for SLES4SAP (#71559)
  changelogs/fragments/71559-fix-distribution-fact-sles4sap.yaml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/sles4sap_12_sp2.json
  test/units/module_utils/facts/system/distribution/fixtures/sles4sap_12_sp3.json
  test/units/module_utils/facts/system/distribution/test_distribution_sles4sap.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#71988 Replace porting guides with stub pages - issue 71687
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.6.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#72081 [2.10] Add deprecation collection name to plugin options
  changelogs/fragments/71735-deprecation-tagging.yml
  lib/ansible/utils/plugin_docs.py
  test/units/utils/test_plugin_docs.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72282 [stable-2.10] Fix ansible-test Azure Pipelines container auth.
  changelogs/fragments/ansible-test-azp-agent-temp-dir.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#72283 [stable-2.9] Fix ansible-test Azure Pipelines container auth.
  changelogs/fragments/ansible-test-azp-agent-temp-dir.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#72284 [stable-2.8] Fix ansible-test Azure Pipelines container auth.
  changelogs/fragments/ansible-test-azp-agent-temp-dir.yml
  test/runner/lib/ci/azp.py
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#72085 user - allow local users with an expiry date to be created (#72022)
  changelogs/fragments/fix_ansible_issue_71942.yaml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/expires_local.yml
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, system

#72216 [2.10] AnsibleVaultEncryptedUnicode should be considered a string
  changelogs/fragments/71609-is_string-vault.yml
  lib/ansible/module_utils/common/collections.py
  lib/ansible/module_utils/common/json.py
  test/units/module_utils/common/test_collections.py
Labels: affects_2.10, backport, bug, has_issue, needs_revision, needs_triage, support:community, support:core

#72088 Fix the reversed order of return values
  changelogs/fragments/fix_reversed_return_value_order_72088.yaml
  lib/ansible/modules/user.py
Labels: P3, affects_2.11, bug, module, shipit, support:community, support:core, system

#72273 vmware: Using env variable for custom SSL path
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
Labels: affects_2.11, core_review, docs, has_issue, needs_triage, support:core

#72245 Adds argspec tests for required, required_one_of and required_by
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#72307 CI stability updates.
  test/integration/targets/docker_network/aliases
  test/utils/shippable/shippable.sh
  test/utils/shippable/units.sh
Labels: affects_2.8, backport, bug, cloud, collection, collection:community.general, core_review, docker, support:core, test

#72306 CI stability updates.
  test/integration/targets/docker-registry/aliases
  test/integration/targets/docker_network/aliases
  test/utils/shippable/shippable.sh
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.general, core_review, docker, support:community, support:core, test

#72256 Fix ansible-test handling of user-defined docker networks.
  changelogs/fragments/ansible-test-container-ip-lookup.yml
  changelogs/fragments/ansible-test-docker-default-network.yml
  changelogs/fragments/ansible-test-docker-detection-fix.yml
  changelogs/fragments/ansible-test-docker-not-localhost.yml
  changelogs/fragments/ansible-test-docker-socket.yml
  changelogs/fragments/ansible-test-network-container-search.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/acme.py
  test/lib/ansible_test/_internal/cloud/cs.py
  test/lib/ansible_test/_internal/cloud/foreman.py
  test/lib/ansible_test/_internal/cloud/galaxy.py
  test/lib/ansible_test/_internal/cloud/nios.py
  test/lib/ansible_test/_internal/cloud/openshift.py
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, bug, cloud, core_review, crypto, support:community, support:core, test

#72308 [stable-2.10] Fix ansible-test handling of user-defined docker networks. (#72256)
  changelogs/fragments/ansible-test-container-ip-lookup.yml
  changelogs/fragments/ansible-test-docker-default-network.yml
  changelogs/fragments/ansible-test-docker-detection-fix.yml
  changelogs/fragments/ansible-test-docker-not-localhost.yml
  changelogs/fragments/ansible-test-docker-socket.yml
  changelogs/fragments/ansible-test-network-container-search.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/acme.py
  test/lib/ansible_test/_internal/cloud/cs.py
  test/lib/ansible_test/_internal/cloud/foreman.py
  test/lib/ansible_test/_internal/cloud/nios.py
  test/lib/ansible_test/_internal/cloud/openshift.py
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.10, backport, bug, cloud, core_review, crypto, support:community, support:core, test

#72309 [stable-2.9] Fix ansible-test handling of user-defined docker networks. (#72256)
  changelogs/fragments/ansible-test-container-ip-lookup.yml
  changelogs/fragments/ansible-test-docker-default-network.yml
  changelogs/fragments/ansible-test-docker-detection-fix.yml
  changelogs/fragments/ansible-test-docker-not-localhost.yml
  changelogs/fragments/ansible-test-docker-socket.yml
  changelogs/fragments/ansible-test-network-container-search.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/acme.py
  test/lib/ansible_test/_internal/cloud/cs.py
  test/lib/ansible_test/_internal/cloud/foreman.py
  test/lib/ansible_test/_internal/cloud/nios.py
  test/lib/ansible_test/_internal/cloud/openshift.py
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.9, backport, bug, cloud, core_review, crypto, support:community, support:core, test

#72310 [stable-2.8] Fix ansible-test handling of user-defined docker networks. (#72256)
  changelogs/fragments/ansible-test-container-ip-lookup.yml
  changelogs/fragments/ansible-test-docker-default-network.yml
  changelogs/fragments/ansible-test-docker-detection-fix.yml
  changelogs/fragments/ansible-test-docker-not-localhost.yml
  changelogs/fragments/ansible-test-docker-socket.yml
  changelogs/fragments/ansible-test-network-container-search.yml
  test/runner/lib/cli.py
  test/runner/lib/cloud/acme.py
  test/runner/lib/cloud/cs.py
  test/runner/lib/cloud/foreman.py
  test/runner/lib/cloud/nios.py
  test/runner/lib/cloud/openshift.py
  test/runner/lib/cloud/vcenter.py
  test/runner/lib/config.py
  test/runner/lib/delegation.py
  test/runner/lib/docker_util.py
  test/runner/lib/executor.py
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#72080 VMware: scenario guide for vmware_tools connection plugin
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_clone_template.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_find_vm_folder.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_remove_vm.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_rename_vm.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_vmware_http.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_vmware_tools_connection.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_intro.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_scenarios.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_troubleshooting.rst
Labels: affects_2.11, core_review, docs, support:core

#72266 remove ansibleFest banner (#72253)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.10, backport, core_review, docs, small_patch, support:core

#72288 Remove ansible-galaxy login
  changelogs/fragments/galaxy_login_bye.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/login.py
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_api.py
Labels: affects_2.11, bug, docs, needs_revision, support:community, support:core

#72011 powershell - remove env var (#72010) - 2.9
  changelogs/fragments/powershell-version-env.yml
  lib/ansible/plugins/shell/powershell.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, windows

#72014 [2.9] postgresql_privs: fix the module mistakes a procedure for a function
  changelogs/fragments/996-postgresql_privs_fix_function_handling.yml
  lib/ansible/modules/database/postgresql/postgresql_privs.py
  test/integration/targets/postgresql/tasks/postgresql_privs.yml
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, database, has_issue, module, needs_triage, postgresql, support:community, test

#72029 fix distribution fact for SLES4SAP (#71559)
  changelogs/fragments/71559-fix-distribution-fact-sles4sap.yaml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/test_distribution_sles4sap.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72118 [stable-2.9] Allow changed/failed mgmt on strategy actions (#70919)
  changelogs/fragments/changed_when_group_by.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/changed_when/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72086 user - allow local users with an expiry date to be created (#72022)
  changelogs/fragments/fix_ansible_issue_71942.yaml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/expires_local.yml
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, system

#72094 [2.9] nmcli: Typecast parameter values to string as required
  changelogs/fragments/58115_nmcli.yml
  lib/ansible/modules/net_tools/nmcli.py
  test/units/modules/net_tools/test_nmcli.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, core_review, has_issue, module, needs_triage, net_tools, stale_ci, support:community, support:core, test

#72058 [backport][2.9] vmware_guest_custom_attributes: Fix issue with duplicate custom attribute names
  changelogs/fragments/412-vmware_guest_custom_attributes.yml
  lib/ansible/modules/cloud/vmware/vmware_guest_custom_attributes.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.vmware, has_issue, module, needs_triage, shipit, support:community, vmware

#72258 Fix race condition when creating async dir (#72069) - 2.9
  changelogs/fragments/async-race-condition.yml
  lib/ansible/modules/utilities/logic/async_wrapper.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, utilities

#72254 [2.9] Fix zfs snapshot handling on root zvols
  changelogs/fragments/zfs-root-snapshot.yml
  lib/ansible/modules/storage/zfs/zfs.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, module, needs_triage, new_contributor, solaris, storage, support:community, zfs

#72194 Backport: ovirt_disk don't move disk when already in storage domain
  changelogs/fragments/72194-ovirt_disk-ignore-move-when-in-sd.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:ovirt.ovirt, community_review, module, needs_triage, ovirt, owner_pr, stale_ci, support:community

#72290 [2.9] postgresql_pg_hba: fix a crash when a new rule with an 'options' field replaces a rule without or vice versa
  changelogs/fragments/1124-pg_hba-dictkey_bugfix.yaml
  lib/ansible/modules/database/postgresql/postgresql_pg_hba.py
  test/integration/targets/postgresql/tasks/postgresql_pg_hba.yml
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, database, has_issue, module, needs_triage, postgresql, support:community, test

#72181 [dnf] accumulate update filters (#71726)
  changelogs/fragments/70854-dnf-mutually-exclusive-filters.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/filters.yml
  test/integration/targets/dnf/tasks/filters_check_mode.yml
  test/integration/targets/dnf/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, packaging, stale_ci, support:community, support:core

#72323 Add changelog fragment for #71736
  changelogs/fragments/url-lookup-ini.yml
Labels: affects_2.11, community_review, docs, needs_triage, owner_pr, support:community

#60882 Add a toggle for the leading separator for keyed_groups
  changelogs/fragments/60882-keyed_groups-leading-separator-toggle.yaml
  lib/ansible/plugins/doc_fragments/constructed.py
  lib/ansible/plugins/inventory/__init__.py
  test/integration/targets/inventory_constructed/aliases
  test/integration/targets/inventory_constructed/constructed.yml
  test/integration/targets/inventory_constructed/no_leading_separator_constructed.yml
  test/integration/targets/inventory_constructed/runme.sh
  test/integration/targets/inventory_constructed/static_inventory.yml
  test/units/plugins/inventory/test_constructed.py
Labels: affects_2.9, core_review, feature, inventory, support:community, support:core

#71954 [stable-2.10] Changes required for macOS 10.15 (#71841)
  shippable.yml
  test/integration/targets/become/tasks/default.yml
  test/integration/targets/become/tasks/su.yml
  test/integration/targets/become/tasks/sudo.yml
  test/integration/targets/filter_core/meta/main.yml
  test/integration/targets/git/meta/main.yml
  test/integration/targets/interpreter_discovery_python/tasks/main.yml
  test/integration/targets/lookup_url/aliases
  test/integration/targets/pip/tasks/main.yml
  test/integration/targets/prepare_http_tests/tasks/default.yml
  test/integration/targets/remote_tmp/playbook.yml
  test/integration/targets/setup_gnutar/handlers/main.yml
  test/integration/targets/setup_gnutar/tasks/main.yml
  test/integration/targets/setup_paramiko/install-MacOSX-10-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-MacOSX-10-python-3.yml
  test/integration/targets/unarchive/meta/main.yml
  test/support/integration/plugins/modules/timezone.py
Labels: affects_2.10, backport, core_review, files, m:unarchive, needs_triage, packaging, source_control, support:community, support:core, test

#71991 [2.10] Docsite backport of 71973, 71975, 71980
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
  docs/docsite/rst/user_guide/vault.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#72259 Fix race condition when creating async dir (#72069) - 2.10
  changelogs/fragments/async-race-condition.yml
  lib/ansible/modules/async_wrapper.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core, utilities

#72252 [stable-2.10] Ensure we call action_loader.get with collection_list (#72206)
  changelogs/fragments/72170-action-loader-collection-list.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/action/bypass_host_loop.py
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/test_bypass_host_loop.yml
Labels: affects_2.10, backport, core_review, needs_triage, support:community, support:core

#72193 [2.10] Docsite: update user_guide/playbooks_async (#72115)
  docs/docsite/rst/user_guide/playbooks_async.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#72227 make collection callbacks follow normal flow (#59932)
  changelogs/fragments/collections_cb_fix.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/collections/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#72146 Fix example to use correct shebang (#72129)
  examples/scripts/my_test.py
  examples/scripts/my_test_facts.py
  examples/scripts/my_test_info.py
  test/sanity/ignore.txt
Labels: affects_2.10, backport, core_review, docs, needs_triage, stale_ci, support:core, test

#72300 [stable-2.10] Fix the reversed order of return values (#72088)
  changelogs/fragments/fix_reversed_return_value_order_72088.yaml
  lib/ansible/modules/user.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, owner_pr, support:community, support:core, system

#72145 New AWS module mod_defaults
  changelogs/fragments/72145-s3_metrics_configuration-in-module_defaults.yml
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#72168 [2.10] Fix various sanity errors in plugins
  changelogs/fragments/url-lookup-ini.yml
  lib/ansible/plugins/inventory/auto.py
  lib/ansible/plugins/inventory/toml.py
  lib/ansible/plugins/lookup/config.py
  lib/ansible/plugins/lookup/csvfile.py
  lib/ansible/plugins/lookup/file.py
  lib/ansible/plugins/lookup/fileglob.py
  lib/ansible/plugins/lookup/first_found.py
  lib/ansible/plugins/lookup/indexed_items.py
  lib/ansible/plugins/lookup/ini.py
  lib/ansible/plugins/lookup/inventory_hostnames.py
  lib/ansible/plugins/lookup/items.py
  lib/ansible/plugins/lookup/lines.py
  lib/ansible/plugins/lookup/list.py
  lib/ansible/plugins/lookup/password.py
  lib/ansible/plugins/lookup/pipe.py
  lib/ansible/plugins/lookup/random_choice.py
  lib/ansible/plugins/lookup/sequence.py
  lib/ansible/plugins/lookup/subelements.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/plugins/lookup/together.py
  lib/ansible/plugins/lookup/unvault.py
  lib/ansible/plugins/lookup/url.py
  lib/ansible/plugins/lookup/varnames.py
  lib/ansible/plugins/lookup/vars.py
  lib/ansible/plugins/strategy/debug.py
Labels: affects_2.10, backport, bug, core_review, docs, needs_triage, support:community, support:core

#72340 Fix the reversed order of return values (#72088)
  changelogs/fragments/fix_reversed_return_value_order_72088.yaml
  lib/ansible/modules/system/user.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#72342 [ansible-test] Limit cryptography to <3.2
  changelogs/fragments/ansible-test-constraints-cryptography-old-openssl.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, core_review, needs_triage, support:community, support:core, test

#72336 ansible-test ansible-doc sanity test: disable vars plugins for collections
  changelogs/fragments/ansible-test-ansible-doc-vars-collections.yml
  test/lib/ansible_test/_internal/sanity/ansible_doc.py
Labels: affects_2.9, backport, bug, core_review, has_issue, support:community, support:core, test

#72337 systemd - fix issue with unknown capabilities in newer kernel
  changelogs/fragments/71528-systemd-capbpf-workaround.yml
  lib/ansible/modules/systemd.py
Labels: affects_2.11, bug, core_review, module, needs_triage, support:community, support:core, system

#72330 [2.8] Remove ansible-galaxy login (#72288)
  changelogs/fragments/galaxy_login_bye.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
Labels: affects_2.8, backport, bug, core_review, needs_triage, support:community, support:core

#72325 [2.9] Remove ansible-galaxy login (#72288)
  changelogs/fragments/galaxy_login_bye.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/login.py
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_api.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#72345 [ansible-test] Limit cryptography to <3.2 (#72342) [2.10]
  changelogs/fragments/ansible-test-constraints-cryptography-old-openssl.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, core_review, needs_triage, support:community, support:core, test

#72320 Remove ansible-galaxy login (#72288)
  changelogs/fragments/galaxy_login_bye.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/login.py
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_api.py
Labels: affects_2.10, backport, feature, needs_revision, needs_triage, support:community, support:core

#72317 Use type 'path' for fact_caching_connection in jsonfile plugin
  changelogs/fragments/72315-fact-caching-relative-to-config.yml
  lib/ansible/plugins/cache/jsonfile.py
Labels: affects_2.11, bug, community_review, needs_triage, support:community

#72350 blockinfile - properly insert block when no trailing new line exists
  changelogs/fragments/72055-blockinfile-fix-insert-after-line-no-linesep.yml
  lib/ansible/modules/blockinfile.py
  test/integration/targets/blockinfile/tasks/add_block_to_existing_file.yml
  test/integration/targets/blockinfile/tasks/block_without_trailing_newline.yml
  test/integration/targets/blockinfile/tasks/create_file.yml
  test/integration/targets/blockinfile/tasks/diff.yml
  test/integration/targets/blockinfile/tasks/file_without_trailing_newline.yml
  test/integration/targets/blockinfile/tasks/insertafter.yml
  test/integration/targets/blockinfile/tasks/insertbefore.yml
  test/integration/targets/blockinfile/tasks/main.yml
  test/integration/targets/blockinfile/tasks/preserve_line_endings.yml
  test/integration/targets/blockinfile/tasks/validate.yml
Labels: affects_2.11, bug, core_review, files, module, support:community, support:core

#72351 Update playbooks_tags.rst
  docs/docsite/rst/user_guide/playbooks_tags.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#54439 Add macOS support to hostname module
  changelogs/fragments/322214-hostname-macos-support.yml
  lib/ansible/modules/hostname.py
  test/integration/targets/hostname/aliases
  test/integration/targets/hostname/tasks/MacOSX.yml
  test/integration/targets/hostname/tasks/main.yml
  test/integration/targets/hostname/tasks/test_check_mode.yml
  test/integration/targets/hostname/tasks/test_normal.yml
Labels: affects_2.8, bug, collection, core_review, macos, module, support:community, support:core, system

#72363 systemd - use list-unit-files rather than list-units
  changelogs/fragments/71528-systemd-list-unit-files.yml
  lib/ansible/modules/systemd.py
Labels: affects_2.11, bug, core_review, module, needs_triage, support:community, support:core, system

#72286 Galaxy server update
  test/integration/targets/ansible-galaxy-collection/library/reset_pulp.py
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/galaxy_ng.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/publish.yml
  test/integration/targets/ansible-galaxy-collection/tasks/pulp.yml
  test/lib/ansible_test/_internal/cloud/galaxy.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#72324 url lookup - add default user agent
  changelogs/fragments/url-lookup-add-httpagent.yml
  lib/ansible/plugins/lookup/url.py
  test/units/plugins/lookup/test_url.py
Labels: affects_2.11, bug, core_review, new_plugin, support:community, support:core

#67435 run playbook from collections
  lib/ansible/cli/playbook.py
  lib/ansible/executor/playbook_executor.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/plugins/loader.py
  lib/ansible/utils/collection_loader/_collection_config.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/modules/fakemodule.py
  test/integration/targets/ansible-doc/fakemodule.output
  test/integration/targets/collections/import_collection_pb.yml
  test/integration/targets/collections/runme.sh
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.10, core_review, feature, has_issue, support:community, support:core

#69847 reboot - add reboot_command parameter
  changelogs/fragments/reboot-add-boot-command-parameter.yaml
  lib/ansible/modules/reboot.py
  lib/ansible/plugins/action/reboot.py
  test/integration/targets/reboot/handlers/main.yml
  test/integration/targets/reboot/tasks/check_reboot.yml
  test/integration/targets/reboot/tasks/get_boot_time.yml
  test/integration/targets/reboot/tasks/main.yml
  test/integration/targets/reboot/tasks/test_invalid_parameter.yml
  test/integration/targets/reboot/tasks/test_invalid_test_command.yml
  test/integration/targets/reboot/tasks/test_molly_guard.yml
  test/integration/targets/reboot/tasks/test_reboot_command.yml
  test/integration/targets/reboot/tasks/test_standard_scenarios.yml
  test/integration/targets/reboot/vars/main.yml
Labels: affects_2.10, bug, module, needs_revision, support:community, support:core, system

#72385 [stable-2.10] Add intentional coverage for incidental_ec2_instance (#72028)
  test/integration/targets/dict_transformations/aliases
  test/integration/targets/dict_transformations/library/convert_camelCase.py
  test/integration/targets/dict_transformations/library/convert_snake_case.py
  test/integration/targets/dict_transformations/tasks/main.yml
  test/integration/targets/dict_transformations/tasks/test_convert_camelCase.yml
  test/integration/targets/dict_transformations/tasks/test_convert_snake_case.yml
  test/integration/targets/incidental_ec2_instance/aliases
  test/integration/targets/incidental_ec2_instance/inventory
  test/integration/targets/incidental_ec2_instance/main.yml
  test/integration/targets/incidental_ec2_instance/meta/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/defaults/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/files/assume-role-policy.json
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/meta/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/block_devices.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/checkmode_tests.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/cpu_options.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/default_vpc_tests.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/ebs_optimized.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/env_cleanup.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/env_setup.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/external_resource_attach.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/find_ami.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/iam_instance_role.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/instance_no_wait.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/main.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/tags_and_vpc_settings.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/termination_protection.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/version_fail.yml
  test/integration/targets/incidental_ec2_instance/roles/ec2_instance/tasks/version_fail_wrapper.yml
  test/integration/targets/incidental_ec2_instance/runme.sh
  test/integration/targets/wait_for/tasks/main.yml
  test/support/integration/plugins/modules/ec2_eni.py
  test/support/integration/plugins/modules/ec2_eni_info.py
  test/support/integration/plugins/modules/ec2_instance.py
  test/support/integration/plugins/modules/ec2_instance_info.py
  test/support/integration/plugins/modules/ec2_key.py
  test/support/integration/plugins/modules/ec2_vpc_igw.py
  test/support/integration/plugins/modules/ec2_vpc_route_table.py
Labels: affects_2.10, backport, bug, collection, collection:cisco.meraki, core_review, support:community, support:core, test, utilities

#72378 Explicitly get the include task, and not assume it is the parent
  changelogs/fragments/65710-find-include-parent.yml
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/include_import/apply/include_apply_65710.yml
  test/integration/targets/include_import/runme.sh
Labels: affects_2.11, bug, core_review, support:community, support:core

#72401 wait_for - ignore psutil related errors
  changelogs/fragments/72322-wait-for-handle-errors.yml
  lib/ansible/modules/wait_for.py
  test/integration/targets/wait_for/files/zombie.py
  test/integration/targets/wait_for/tasks/main.yml
Labels: affects_2.11, bug, core_review, module, support:community, support:core, utilities

#68823 find will give more specific reasons on skip
  changelogs/fragments/find_explicit.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.10, bug, collection, files, module, needs_revision, support:community, support:core

#71230 added timeout options to adhoc and console
  changelogs/fragments/timeout_moar_clis.yml
  lib/ansible/cli/adhoc.py
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/cli/console.py
  lib/ansible/playbook/task_include.py
  test/integration/targets/adhoc/aliases
  test/integration/targets/adhoc/runme.sh
  test/units/cli/test_adhoc.py
Labels: affects_2.11, core_review, feature, support:community, support:core

#72374 Minor typo/style fixes
  lib/ansible/modules/assemble.py
Labels: affects_2.11, core_review, docs, files, module, small_patch, support:core

#72359 ansible-doc: export has_action when --json is used
  changelogs/fragments/ansible-doc-has_action.yml
  lib/ansible/cli/doc.py
Labels: affects_2.11, docs, shipit, support:community, support:core

#70028 rethink wording
  examples/ansible.cfg
  lib/ansible/cli/adhoc.py
  lib/ansible/cli/console.py
  lib/ansible/cli/doc.py
  lib/ansible/config/base.yml
  lib/ansible/constants.py
  lib/ansible/executor/powershell/module_manifest.py
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/plugins/callback/junit.py
  lib/ansible/plugins/callback/tree.py
  lib/ansible/template/safe_eval.py
  lib/ansible/utils/display.py
  lib/ansible/utils/plugin_docs.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/callback/usercallback.py
  test/integration/targets/collections/custom_vars_plugins/vars_req_whitelist.py
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/vars_plugin_tests.sh
  test/integration/targets/lookup_config/tasks/main.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.10, bug, commands, files, m:unarchive, module, needs_revision, net_tools, support:community, support:core, test, windows
