Repository ansible/ansible, pull requests merged in 2020-05, with the labels that each got.

#58461 preserve json parsing error
  lib/ansible/parsing/dataloader.py
  lib/ansible/parsing/utils/yaml.py
  lib/ansible/plugins/inventory/script.py
  test/integration/targets/dataloader/aliases
  test/integration/targets/dataloader/attempt_to_load_invalid_json.yml
  test/integration/targets/dataloader/runme.sh
  test/integration/targets/dataloader/vars/invalid.json
Labels: affects_2.9, bug, core_review, inventory, support:community, support:core

#69317 Remove Ansible.Service from routing
  lib/ansible/config/routing.yml
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core

#69310 Add links to ansible-lint and molecule documentation.
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#68687 Document how to migrate a standalone role to a collection
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/index.rst
  docs/docsite/rst/dev_guide/migrating_roles.rst
  docs/docsite/rst/user_guide/collections_using.rst
Labels: affects_2.10, docs, docsite, has_issue, needs_revision, support:core

#69321 add FQCN for migrated filters
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.10, core_review, docs, support:core

#69306 user: fix expires usage sentence flow
  lib/ansible/modules/system/user.py
Labels: affects_2.10, core_review, docs, module, new_contributor, small_patch, support:core, system

#69304 docs: Small grammar improvement in the community guide
  docs/docsite/rst/community/index.rst
Labels: affects_2.10, core_review, docs, docsite, small_patch, support:core

#69285 Add note in inventory guide saying group names follow variable name guidelines
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.10, core_review, docs, new_contributor, small_patch, support:core

#69275 Clarification for Ansible and BSD Introduction
  docs/docsite/rst/user_guide/intro_bsd.rst
Labels: affects_2.10, bsd, core_review, docs, docsite, new_contributor, support:core

#69207 Fix name of utility "nologin"
  docs/docsite/rst/user_guide/become.rst
Labels: affects_2.10, core_review, docs, new_contributor, small_patch, support:core

#68016 plugin_formatter: sys.exit does not take a file argument
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.10, bug, core_review, small_patch, stale_ci, support:core

#69175 Address FIXME's in sysctl.py
  changelogs/fragments/69175-address-fixmes-sysctl.yaml
  lib/ansible/module_utils/facts/virtual/sysctl.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core

#69194 Fix support for Kali Linux detection
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.10, bug, needs_revision, needs_triage, new_contributor, small_patch, support:core

#69199 galaxy: Handle empty roles and collections
  changelogs/fragments/68186_collection_index_err.yml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
Labels: affects_2.10, bug, has_issue, needs_revision, needs_triage, support:community, support:core

#69226 Addressed FIXME's in hurd.py (Extracted functionality and exit early)
  changelogs/fragments/69226-hurd-extract-functionality.yaml
  lib/ansible/module_utils/facts/network/hurd.py
Labels: affects_2.10, bug, needs_revision, needs_triage, support:community, support:core

#69319 Fix metadata defaults
  changelogs/fragments/fix-metadata-defaults.yml
  lib/ansible/parsing/plugin_docs.py
  test/integration/targets/ansible-doc/test.yml
Labels: affects_2.10, bug, needs_revision, needs_triage, support:community, support:core

#69287 ansible-test validate-modules: don't allow arbitrary lists and dicts for 'default', 'sample' and 'example'
  changelogs/fragments/69287-ansible-test-validate-default-sample-example.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.10, core_review, feature, needs_triage, support:community, support:core, test

#69294 Distribution: Add PopOS as Debian OS_FAMILY
  changelogs/fragments/69286_pop_os_distribution.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.10, bug, has_issue, needs_revision, needs_triage, support:community, support:core

#69296 yum: avoid running non-yum modules via the action
  changelogs/fragments/yum_backend_validation.yml
  lib/ansible/plugins/action/yum.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#69337 restore jsonfile cache plugin
  .github/BOTMETA.yml
  lib/ansible/config/routing.yml
  lib/ansible/plugins/cache/jsonfile.py
Labels: affects_2.10, botmeta, collection, collection:community.general, core_review, feature, support:community, support:core

#69166 [2.9] Fix docs issues in aws_s3_bucket_info and ec2_vpc_vpn
  lib/ansible/modules/cloud/amazon/aws_s3_bucket_info.py
  lib/ansible/modules/cloud/amazon/ec2_vpc_vpn.py
  lib/ansible/modules/cloud/amazon/elasticache_snapshot.py
  lib/ansible/modules/cloud/amazon/elb_classic_lb_info.py
  lib/ansible/modules/cloud/amazon/sts_assume_role.py
Labels: affects_2.9, aws, backport, cloud, collection, collection:community.aws, community_review, docs, module, support:community

#69167 Amend 2.9 porting guide with acme_certificate change
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.9, backport, core_review, docs, has_issue, small_patch, support:core

#69189 [2.9] constructed inventory plugin: correct example
  changelogs/fragments/69165_constructed.yml
  lib/ansible/plugins/inventory/constructed.py
Labels: affects_2.9, backport, community_review, docs, support:community

#69221 [2.9] Fix return value docs for azure_rm_functionapp*
  lib/ansible/modules/cloud/azure/azure_rm_functionapp.py
  lib/ansible/modules/cloud/azure/azure_rm_functionapp_info.py
Labels: affects_2.9, azure, backport, cloud, collection, collection:azure.azcollection, collection:community.azure, collection:gavinfish.azuretest, community_review, docs, has_issue, module, small_patch, support:community

#69178 generator inventory plugin: remove "strict" from example
  lib/ansible/plugins/inventory/generator.py
Labels: affects_2.10, community_review, docs, small_patch, support:community

#69100 Update inventory caching documentation
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/plugins/cache.rst
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#69063 [2.9] Docs: point inventory script to respective version
  changelogs/fragments/inventory_docs_fix.yml
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.9, backport, core_review, docs, stale_ci, support:community, support:core

#69062 [2.8] Docs: point inventory script to respective version
  changelogs/fragments/inventory_docs_fix.yml
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.8, backport, docs, shipit, stale_ci, support:community, support:core

#69059 [2.7] Docs: point inventory script to respective version
  changelogs/fragments/inventory_docs_fix.yml
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.7, backport, docs, shipit, stale_ci, support:community, support:core

#69127 [2.9] mysql_user: fix error No database selected
  changelogs/fragments/225-mysql_user_fix_no_database_selected.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, database, has_issue, module, mysql, needs_triage, owner_pr, support:community

#69128 [2.8] mysql_user: fix error No database selected
  changelogs/fragments/225-mysql_user_fix_no_database_selected.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.8, backport, bug, collection, collection:community.general, community_review, database, has_issue, module, mysql, needs_triage, owner_pr, support:community

#68986 redfish_config: fix support for boolean BIOS attributes
  changelogs/fragments/68251-redfish_config-fix-boolean-bios-attr-support.yaml
  lib/ansible/modules/remote_management/redfish/redfish_config.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, module, remote_management, stale_ci, support:community

#68988 redfish_config: fix support for boolean BIOS attributes
  changelogs/fragments/68251-redfish_config-fix-boolean-bios-attr-support.yaml
  lib/ansible/module_utils/redfish_utils.py
  lib/ansible/modules/remote_management/redfish/redfish_config.py
Labels: affects_2.8, backport, bug, collection, collection:community.general, community_review, module, remote_management, stale_ci, support:community

#68974 [2.9] influxdb: Fix documentation
  lib/ansible/module_utils/influxdb.py
  lib/ansible/modules/database/influxdb/influxdb_database.py
  lib/ansible/modules/database/influxdb/influxdb_query.py
  lib/ansible/modules/database/influxdb/influxdb_retention_policy.py
  lib/ansible/modules/database/influxdb/influxdb_user.py
  lib/ansible/modules/database/influxdb/influxdb_write.py
  test/sanity/ignore.txt
Labels: affects_2.9, backport, bug, collection, collection:community.general, core_review, database, has_issue, module, stale_ci, support:community, support:core, test

#69002 Fix fileglob when using 'file*' vs 'stuff/file*' (#68945)
  changelogs/fragments/fileglob_fixes.yml
  lib/ansible/plugins/lookup/fileglob.py
  test/integration/targets/fileglob/aliases
  test/integration/targets/fileglob/find_levels/files/play_adj_subdir.txt
  test/integration/targets/fileglob/find_levels/files/somepath/play_adj_subsubdir.txt
  test/integration/targets/fileglob/find_levels/play.yml
  test/integration/targets/fileglob/find_levels/play_adj.txt
  test/integration/targets/fileglob/find_levels/roles/get_file/files/in_role.txt
  test/integration/targets/fileglob/find_levels/roles/get_file/files/otherpath/in_role_subdir.txt
  test/integration/targets/fileglob/find_levels/roles/get_file/tasks/main.yml
  test/integration/targets/fileglob/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, core_review, has_issue, stale_ci, support:community, support:core

#69105 [stable-2.9] Allow a collection role to call a standalone role by def…
  changelogs/fragments/69101-collection-role-to-standalone-role.yml
  lib/ansible/playbook/role/definition.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/call_standalone/tasks/main.yml
  test/integration/targets/collections/posix.yml
  test/integration/targets/collections/roles/standalone/tasks/main.yml
Labels: affects_2.9, backport, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#69282 preserve json parsing error (#58461)
  lib/ansible/parsing/dataloader.py
  lib/ansible/parsing/utils/yaml.py
  lib/ansible/plugins/inventory/script.py
  test/integration/targets/dataloader/aliases
  test/integration/targets/dataloader/attempt_to_load_invalid_json.yml
  test/integration/targets/dataloader/runme.sh
  test/integration/targets/dataloader/vars/invalid.json
Labels: affects_2.9, backport, bug, core_review, inventory, support:community, support:core

#69323 [2.9] plugin_formatter: sys.exit does not take a file argument
  hacking/build_library/build_ansible/command_plugins/plugin_formatter.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, small_patch, support:core

#69044 2.9: native types: literal_eval all the things (#68938)
  lib/ansible/template/native_helpers.py
  test/integration/targets/inventory_aws_conformance/runme.sh
  test/integration/targets/jinja2_native_types/filter_plugins/native_plugins.py
  test/integration/targets/jinja2_native_types/test_casting.yml
  test/integration/targets/jinja2_native_types/test_concatentation.yml
  test/sanity/ignore.txt
Labels: affects_2.9, backport, bug, core_review, has_issue, support:community, support:core, test

#69233 [2.9] Bugfix of 67377: postgresql_set converts value to uppercase if "mb" or "gb" or "tb" is in the value string (#67418)
  changelogs/fragments/67418-postgresql_set_converts_value_to_uppercase.yml
  lib/ansible/modules/database/postgresql/postgresql_set.py
  test/integration/targets/postgresql/tasks/postgresql_set.yml
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, database, has_issue, module, postgresql, support:community, test

#69153 ovirt_disk: add warning when uploading wrong format
  changelogs/fragments/69153-ovirt_disk-add-warning-when-uploading-wrong-format.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
  test/sanity/ignore.txt
Labels: affects_2.9, backport, bug, cloud, collection, collection:mnecas.ovirt, collection:ovirt.ovirt, core_review, module, ovirt, owner_pr, support:community, support:core, test

#69150 ovirt_disk: upload image auto detect size
  changelogs/fragments/69150-ovirt_disk-upload-image-auto-detect-size.yml
  lib/ansible/modules/cloud/ovirt/ovirt_disk.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:mnecas.ovirt, collection:ovirt.ovirt, community_review, module, needs_triage, ovirt, owner_pr, support:community

#69123 ovirt_network: allow to remove vlan_tag
  changelogs/fragments/69123-ovirt_network-allow-to-remove-vlan_tag.yml
  lib/ansible/modules/cloud/ovirt/ovirt_network.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:mnecas.ovirt, collection:ovirt.ovirt, community_review, module, ovirt, owner_pr, support:community

#69110 update ActionBase._low_level_execute_command to honor executable (#68…
  changelogs/fragments/68310-low_level_execute_command-honor-executable.yml
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/raw/runme.sh
  test/integration/targets/raw/runme.yml
  test/integration/targets/raw/tasks/main.yml
Labels: affects_2.9, backport, backport_verified, bug, commands, core_review, stale_ci, support:community, support:core

#69131 [stable-2.9][pip] Enable virtualenv_command to have arguments
  changelogs/fragments/67407-pip-virtualenv_command-args.yml
  lib/ansible/modules/packaging/language/pip.py
  test/integration/targets/pip/tasks/pip.yml
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, packaging, stale_ci, support:community, support:core

#69117 fixes hostname module on manjaro linux
  changelogs/fragments/64810-hostname-add-manjaro-linux-distribution.yml
  lib/ansible/modules/system/hostname.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, stale_ci, support:community, support:core, system

#69212 [2.9] Added missing parameter
  changelogs/fragments/69160-add-missing-parameter.yaml
  lib/ansible/modules/system/sysvinit.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, module, support:community, support:core, system

#69224 [stable-2.9] Address fixme and handle filter/test errors for collections better (#68047)
  changelogs/fragments/66721-better-jinja2-collection-error-handling.yml
  lib/ansible/template/__init__.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testbroken/plugins/filter/broken_filter.py
  test/integration/targets/collections/posix.yml
Labels: affects_2.9, backport, backport_verified, core_review, support:community, support:core

#69225 [stable-2.9] Handle non-ascii paths during role installation. Fixes #69133 (#69213)
  changelogs/fragments/69133-role-install-non-ascii.yml
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.9, backport, backport_verified, core_review, support:community, support:core

#69235 [2.9] zabbix_template: fixed zabbix no longer returning macros as part of the template
  changelogs/fragments/66996-zabbix-template.yaml
  lib/ansible/modules/monitoring/zabbix/zabbix_template.py
Labels: affects_2.9, backport, backport_verified, bug, collection, collection:community.zabbix, community_review, has_issue, module, monitoring, owner_pr, support:community, zabbix

#69303 [2.9] service_facts: fix for systemd 245
  changelogs/fragments/68211-systemd-list-unit-files-parsing.yml
  lib/ansible/modules/system/service_facts.py
Labels: affects_2.9, backport, backport_verified, bug, core_review, has_issue, module, support:community, support:core, system

#69210 Refactor CLI prompt mode check for network plugins (#63945)
  changelogs/fragments/network_refactor_prompt_check.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/action/aireos.py
  lib/ansible/plugins/action/aruba.py
  lib/ansible/plugins/action/asa.py
  lib/ansible/plugins/action/bigip.py
  lib/ansible/plugins/action/bigiq.py
  lib/ansible/plugins/action/ce.py
  lib/ansible/plugins/action/cnos.py
  lib/ansible/plugins/action/dellos10.py
  lib/ansible/plugins/action/dellos6.py
  lib/ansible/plugins/action/dellos9.py
  lib/ansible/plugins/action/enos.py
  lib/ansible/plugins/action/eos.py
  lib/ansible/plugins/action/ios.py
  lib/ansible/plugins/action/iosxr.py
  lib/ansible/plugins/action/ironware.py
  lib/ansible/plugins/action/junos.py
  lib/ansible/plugins/action/netconf.py
  lib/ansible/plugins/action/nxos.py
  lib/ansible/plugins/action/sros.py
  lib/ansible/plugins/action/vyos.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/cliconf/aireos.py
  lib/ansible/plugins/cliconf/aruba.py
  lib/ansible/plugins/cliconf/ce.py
  lib/ansible/plugins/cliconf/cnos.py
  lib/ansible/plugins/cliconf/dellos10.py
  lib/ansible/plugins/cliconf/dellos6.py
  lib/ansible/plugins/cliconf/dellos9.py
  lib/ansible/plugins/cliconf/enos.py
  lib/ansible/plugins/cliconf/eos.py
  lib/ansible/plugins/cliconf/ios.py
  lib/ansible/plugins/cliconf/iosxr.py
  lib/ansible/plugins/cliconf/ironware.py
  lib/ansible/plugins/cliconf/junos.py
  lib/ansible/plugins/cliconf/nxos.py
  lib/ansible/plugins/cliconf/vyos.py
  lib/ansible/plugins/connection/network_cli.py
  lib/ansible/plugins/connection/persistent.py
  test/integration/targets/eos_smoke/tests/cli/reboot.yaml
  test/integration/targets/ios_smoke/tests/cli/reboot.yaml
  test/integration/targets/junos_command/tests/cli/cli_commmand.yaml
  test/integration/targets/junos_smoke/tasks/cli.yaml
  test/integration/targets/junos_smoke/tasks/main.yaml
  test/integration/targets/junos_smoke/tests/cli/reboot.yaml
Labels: affects_2.9, aireos, asa, backport, bug, cisco, collection, collection:ansible.netcommon, collection:arista.eos, collection:cisco.asa, collection:cisco.ios, collection:cisco.iosxr, collection:cisco.nxos, collection:community.network, collection:dellemc_networking.os6, collection:dellemc_networking.os9, collection:f5networks.f5_modules, collection:jacklotusho.f5_modules, collection:junipernetworks.junos, collection:vyos.vyos, core_review, huawei, ios, iosxr, networking, nxos, support:community, support:core, support:network, test

#58000 Order my dicts
  changelogs/fragments/yaml_orderd_mappings.yml
  lib/ansible/parsing/yaml/objects.py
Labels: affects_2.9, core_review, feature, support:community, support:core

#68097 Make description of removes option of command module clearer (hopefully)
  lib/ansible/modules/commands/command.py
Labels: affects_2.10, commands, core_review, docs, module, small_patch, support:core

#69339 Remove left hand side slicing
  lib/ansible/cli/galaxy.py
  lib/ansible/inventory/manager.py
  lib/ansible/modules/files/find.py
  lib/ansible/playbook/base.py
  lib/ansible/utils/version.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/sanity/code-smell/docs-build.py
  test/support/integration/plugins/module_utils/ec2.py
Labels: affects_2.10, bug, files, inventory, module, needs_revision, python3, support:core, test

#68882 Add punctuation marks to comments in hosts file
  examples/hosts
Labels: affects_2.10, docs, has_issue, new_contributor, shipit, support:core

#69245 Correct Debugging module documentation
  docs/docsite/rst/dev_guide/debugging.rst
Labels: affects_2.10, core_review, docs, docsite, new_contributor, support:core

#69361 Fix win_psmodule and win_psrepository tests - 2.9
  changelogs/fragments/win_psmodule-repo-tls.yaml
  lib/ansible/modules/windows/win_psmodule.ps1
  lib/ansible/modules/windows/win_psrepository.ps1
  test/integration/targets/win_psrepository/tasks/main.yml
  test/integration/targets/win_psrepository/tasks/tests.yml
Labels: affects_2.9, backport, bug, collection, collection:community.windows, core_review, module, support:community, support:core, test, windows

#69362 Fix win_psmodule and win_psrepository tests - 2.8
  changelogs/fragments/win_psmodule-repo-tls.yaml
  lib/ansible/modules/windows/win_psmodule.ps1
  lib/ansible/modules/windows/win_psrepository.ps1
  test/integration/targets/win_psrepository/tasks/main.yml
  test/integration/targets/win_psrepository/tasks/tests.yml
Labels: affects_2.8, backport, bug, collection, collection:community.windows, core_review, module, support:community, support:core, test, windows

#68646 validate-modules: deprecated modules in collections
  changelogs/fragments/validate-modules-deprecated-collections.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.10, bucket4, bug, core_review, support:community, support:core, test

#69295 hostname: PopOS support
  changelogs/fragments/69286_popos_hostname.yml
  lib/ansible/modules/system/hostname.py
Labels: affects_2.10, bug, core_review, module, support:community, support:core, system

#69273 changing $HOME to $HOSTNAME in Synopsis
  lib/ansible/modules/commands/command.py
Labels: affects_2.10, commands, core_review, docs, module, small_patch, support:core

#69347 Change example ControlPath to be short and unique
  examples/ansible.cfg
Labels: affects_2.10, core_review, docs, small_patch, support:core

#69378 git: don't import get_module_path
  lib/ansible/modules/source_control/git.py
Labels: affects_2.10, bug, core_review, module, small_patch, source_control, support:core

#69382 Revert "2.9: native types: literal_eval all the things (#68938) (#69044)"
  lib/ansible/template/native_helpers.py
  test/integration/targets/inventory_aws_conformance/runme.sh
  test/integration/targets/jinja2_native_types/filter_plugins/native_plugins.py
  test/integration/targets/jinja2_native_types/test_casting.yml
  test/integration/targets/jinja2_native_types/test_concatentation.yml
  test/sanity/ignore.txt
Labels: affects_2.9, backport, bug, needs_revision, support:community, support:core, test

#69363 Remove some no-op code from InventoryManager
  lib/ansible/inventory/data.py
  lib/ansible/inventory/manager.py
Labels: affects_2.10, inventory, shipit, support:core

#69384 Disable failing azure_rm_dnszone test.
  test/integration/targets/azure_rm_dnszone/aliases
Labels: affects_2.9, backport, bug, collection, collection:gavinfish.azuretest, core_review, support:core, test

#69385 Disable failing azure_rm_dnszone test.
  test/integration/targets/azure_rm_dnszone/aliases
Labels: affects_2.8, backport, bug, collection, collection:gavinfish.azuretest, core_review, support:core, test

#69222 Add Fedora 32 to CI
  changelogs/fragments/f32.yml
  shippable.yml
  test/integration/targets/dnf/vars/Fedora.yml
  test/integration/targets/incidental_timezone/tasks/main.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, bug, core_review, has_issue, packaging, support:community, support:core, test

#69395 Fix SemanticVersion comparison
  lib/ansible/utils/version.py
  test/units/utils/test_version.py
Labels: affects_2.10, bug, needs_revision, needs_triage, support:core

#67942 Fix galaxy publish sha256 value format.
  changelogs/fragments/67942-fix-galaxy-multipart.yml
  lib/ansible/galaxy/api.py
Labels: affects_2.10, bug, core_review, python3, support:community, support:core

#69351 vmware: example should use FQCN
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
Labels: affects_2.10, core_review, docs, docsite, support:core

#69439 added missing clog for 58461
  changelogs/fragments/dont_hide_json_error.yml
Labels: affects_2.10, community_review, docs, owner_pr, support:community

#69441 [stable-2.9] added missing clog for 58461
  changelogs/fragments/dont_hide_json_error.yml
Labels: affects_2.9, backport, bug, community_review, owner_pr, support:community

#60692 Check for correct version of systemd Python library
  changelogs/fragments/60595-systemd_import.yml
  lib/ansible/module_utils/basic.py
Labels: P3, affects_2.9, bug, has_issue, needs_revision, new_contributor, python3, support:community, support:core, traceback

#57537 Validate args for includes in handlers too
  changelogs/fragments/validate-include-args-in-handlers.yml
  lib/ansible/playbook/handler_task_include.py
  lib/ansible/playbook/task_include.py
  test/integration/targets/include_import/valid_include_keywords/playbook.yml
Labels: affects_2.9, bug, needs_revision, support:community, support:core

#68152 Fix formatting in docs for `--become-method`
  lib/ansible/cli/arguments/option_helpers.py
Labels: affects_2.10, docs, shipit, small_patch, support:core

#69451 Fix fileglob plugin with non-existent subdirectory
  changelogs/fragments/69451-fix-fileglob-nonexistent-subdirs.yaml
  lib/ansible/plugins/lookup/fileglob.py
  test/integration/targets/fileglob/non_existent/play.yml
  test/integration/targets/fileglob/runme.sh
Labels: affects_2.10, bug, core_review, support:community, support:core

#69452 Fix fileglob plugin with non-existent subdirectory
  changelogs/fragments/69451-fix-fileglob-nonexistent-subdirs.yaml
  lib/ansible/plugins/lookup/fileglob.py
  test/integration/targets/fileglob/non_existent/play.yml
  test/integration/targets/fileglob/runme.sh
Labels: affects_2.9, backport, backport_verified, bug, core_review, support:community, support:core

#69462 fix `ansible-test units` to work(ish) under podman
  changelogs/fragments/ansible-test-podman-units.yml
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
Labels: affects_2.10, bug, core_review, support:community, support:core, test

#69460 Restore AIX testing.
  shippable.yml
Labels: affects_2.10, bug, core_review, support:core

#69469 Restore AIX testing.
  shippable.yml
Labels: affects_2.10, bug, needs_revision, support:core

#66650 Remove deprecation for TRANSFORM_INVALID_GROUP_CHARS
  changelogs/fragments/61889-change-transform_invalid_group_chars-default.yml
  lib/ansible/inventory/group.py
Labels: affects_2.10, bug, has_issue, inventory, needs_revision, support:community, support:core

#69476 cyberark appears to have renamed their collection
  lib/ansible/config/routing.yml
Labels: affects_2.10, bug, needs_revision, needs_triage, small_patch, support:core

#69440 avoid fatal tb on bad fqcn callback name
  changelogs/fragments/no_fatal_bad_cb.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/collections/runme.sh
Labels: affects_2.10, bug, needs_revision, support:community, support:core

#69473 Separate the galaxy lib from the cli
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/api.py
Labels: affects_2.10, bug, shipit, support:core

#69365 only show_vars when showing vars
  changelogs/fragments/69357_optimize_inventory_graph_wo_vars.yml
  lib/ansible/cli/inventory.py
Labels: affects_2.10, bug, needs_revision, support:community, support:core

#66920 Add deprecated removed_in_version and deprecated_aliases version tests, allow to enable such tests via flag
  changelogs/fragments/66920-ansible-test-removed_in_version-deprecated_aliases.yml
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  test/lib/ansible_test/_data/collection_detail.py
  test/lib/ansible_test/_data/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/default.cfg
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/lib/ansible_test/_internal/sanity/validate_modules.py
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bucket4, bug, core_review, docs, docsite, has_issue, support:community, support:core, test

#69500 added missing headers + note
  lib/ansible/config/routing.yml
Labels: affects_2.10, core_review, docs, small_patch, support:core

#69087 added unvault lookup plugin
  lib/ansible/plugins/lookup/unvault.py
  test/integration/targets/lookup_unvault/aliases
  test/integration/targets/lookup_unvault/files/foot.txt
  test/integration/targets/lookup_unvault/files/foot.txt.vault
  test/integration/targets/lookup_unvault/runme.sh
  test/integration/targets/lookup_unvault/secret
  test/integration/targets/lookup_unvault/unvault.yml
Labels: affects_2.10, community_review, feature, has_issue, needs_triage, new_plugin, stale_ci, support:community

#67006 systemd scope default: "system"
  changelogs/fragments/67006-systemd-scope-default.yaml
  lib/ansible/modules/systemd.py
Labels: affects_2.10, core_review, docs, module, new_contributor, stale_ci, support:community, support:core, system

#69305 Fix listing of colleciton plugins with symlinks
  .gitignore
  changelogs/fragments/fix_doc_symlinks.yml
  lib/ansible/utils/collection_loader.py
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/testcoll2/MANIFEST.json
  test/integration/targets/collections/testcoll2/plugins/modules/testmodule2.py
Labels: affects_2.10, bug, core_review, new_plugin, support:community, support:core

#65058 Fix filedescriptor out of range in select() when running commands
  changelogs/fragments/65058-fix-fd-out-of-range-in-select.yml
  lib/ansible/compat/selectors/__init__.py
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/compat/_selectors2.py
  lib/ansible/module_utils/compat/selectors.py
  lib/ansible/plugins/connection/local.py
  lib/ansible/plugins/connection/ssh.py
  test/sanity/ignore.txt
  test/units/executor/module_common/test_recursive_finder.py
  test/units/module_utils/basic/test_run_command.py
  test/units/plugins/connection/test_ssh.py
Labels: affects_2.10, bug, cloud, collection, collection:ansible.netcommon, collection:community.crypto, collection:community.general, core_review, docker, new_contributor, support:community, support:core, test

#67498 better error for "ansible-galaxy collection verify" if there's no MANIFEST.json
  lib/ansible/galaxy/collection.py
  test/units/galaxy/test_collection.py
Labels: affects_2.10, bug, core_review, has_issue, support:core

#68925 ansible-galaxy - fall back to galaxy.yml when listing collections
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, bug, core_review, docs, support:community, support:core

#68474 Add resource_from_fqcr utility function
  lib/ansible/executor/powershell/module_manifest.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/cache/__init__.py
  lib/ansible/utils/collection_loader.py
Labels: affects_2.10, bug, core_review, support:core, windows

#69466 Remove FIXME where no change is needed
  changelogs/fragments/69465-remove-fixme-comment.yaml
  lib/ansible/parsing/yaml/objects.py
Labels: affects_2.10, bug, core_review, needs_triage, support:community, support:core

#69244 fix delegation vars usage (debug still shows inventory_hostname)
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/task.py
  lib/ansible/vars/manager.py
  test/integration/targets/delegate_to/delegate_vars_hanldling.yml
  test/integration/targets/delegate_to/runme.sh
Labels: affects_2.10, bug, core_review, support:community, support:core

#69484 Add path for yum on IBM i to PKG_MGRS
  changelogs/fragments/69484-add-path-to-yum-for-ibmi.yml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
Labels: affects_2.10, bug, new_contributor, shipit, support:community, support:core

#69523 Remove obsolete incidental test.
  test/integration/targets/incidental_azure_rm_functionapp/aliases
  test/integration/targets/incidental_azure_rm_functionapp/tasks/main.yml
Labels: affects_2.10, community_review, feature, support:community, test

#69522 Update ansible-test support for CI providers.
  changelogs/fragments/ansible-test-ci-support.yml
  test/lib/ansible_test/_internal/changes.py
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/ci/shippable.py
  test/lib/ansible_test/_internal/cloud/__init__.py
  test/lib/ansible_test/_internal/cloud/aws.py
  test/lib/ansible_test/_internal/cloud/azure.py
  test/lib/ansible_test/_internal/cloud/cs.py
  test/lib/ansible_test/_internal/cloud/hcloud.py
  test/lib/ansible_test/_internal/cloud/tower.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/env.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_internal/sanity/validate_modules.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69530 Cleanup for Python 3.9 and pycodestyle compat.
  lib/ansible/executor/task_result.py
  lib/ansible/playbook/role/requirement.py
  test/units/module_utils/parsing/test_convert_bool.py
  test/units/module_utils/urls/test_fetch_url.py
Labels: affects_2.10, bug, core_review, python3, small_patch, support:core

#69527 Update the default-test-container in ansible-test.
  changelogs/fragments/ansible-test-default-test-container-1.13.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, feature, needs_revision, support:community, support:core, test

#69515 typofix - globbing instead of globing.
  lib/ansible/plugins/lookup/unvault.py
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, support:community

#66569 introduce fact "ansible_processor_nproc": number of usable vcpus
  changelogs/fragments/66569-introduce-fact-ansible_processor_nproc.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
  lib/ansible/module_utils/facts/hardware/linux.py
  test/units/module_utils/facts/hardware/linux_data.py
  test/units/module_utils/facts/hardware/test_linux_get_cpu_info.py
Labels: affects_2.10, docs, feature, needs_revision, support:community, support:core

#69266 Docs: User guide overhaul, part 4
  docs/docsite/rst/plugins/lookup.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/playbooks.rst
  docs/docsite/rst/user_guide/playbooks_checkmode.rst
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
  docs/docsite/rst/user_guide/playbooks_debugger.rst
  docs/docsite/rst/user_guide/playbooks_delegation.rst
  docs/docsite/rst/user_guide/playbooks_environment.rst
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_lookups.rst
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_special_topics.rst
  docs/docsite/rst/user_guide/playbooks_startnstep.rst
  docs/docsite/rst/user_guide/playbooks_strategies.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
Labels: WIP, affects_2.10, docs, support:core

#69526 Add Shippable request signing to ansible-test.
  changelogs/fragments/ansible-test-ci-support-shippable-auth.yml
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/shippable.py
  test/units/ansible_test/__init__.py
  test/units/ansible_test/ci/__init__.py
  test/units/ansible_test/ci/test_shippable.py
  test/units/ansible_test/ci/util.py
  test/units/ansible_test/conftest.py
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69534 Fixes for building ansible-base .debs, using py3
  Makefile
  packaging/debian/ansible-test.install
  packaging/debian/changelog
  packaging/debian/control
  packaging/debian/rules
Labels: affects_2.10, core_review, feature, python3, support:core

#69546 [Docs][Backport][2.9] Explain module docs loss for devel (#68369)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.9, backport, bug, core_review, docs, small_patch, support:core

#67843 Unify ansible-galaxy install -r
  changelogs/fragments/ansible-galaxy-install.yaml
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_collection.py
Labels: affects_2.10, docs, feature, has_issue, needs_revision, python3, support:community, support:core

#69508 ansible-test local change detection: use --base-branch if specified
  changelogs/fragments/69508-ansible-test-local-changes-detection.yml
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
Labels: affects_2.10, bug, needs_rebase, needs_revision, support:community, support:core, test

#69562 Update openstack module redirections
  lib/ansible/config/routing.yml
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#69541 ansible-galaxy - remove warning during collection install
  changelogs/fragments/ansible-galaxy-install-manifest-warning.yaml
  lib/ansible/galaxy/collection.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.10, bug, core_review, has_issue, support:community, support:core

#69566 Redirect google gcp_*_facts to google.cloud.gcd_*_info
  lib/ansible/config/routing.yml
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#69284 added 'task timeout' feature
  docs/docsite/keyword_desc.yml
  lib/ansible/config/base.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/base.py
  test/integration/targets/playbook/runme.sh
  test/integration/targets/playbook/timeout.yml
Labels: affects_2.10, bug, core_review, docs, has_issue, support:community, support:core

#68981 comment heavy playbook
  examples/play.yml
  test/sanity/code-smell/package-data.py
  test/sanity/ignore.txt
Labels: affects_2.10, core_review, docs, stale_ci, support:core, test

#69609 Remove "keywords" field in DOCUMENTATION.
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.10, bug, core_review, needs_triage, small_patch, support:core, windows

#68576 Properly handle unicode in safe_eval
  changelogs/fragments/66943-handle-unicode-in-safe_eval.yml
  lib/ansible/module_utils/common/text/converters.py
  lib/ansible/template/safe_eval.py
  test/integration/targets/templating_lookups/runme.sh
  test/integration/targets/templating_lookups/template_lookup_safe_eval_unicode/playbook.yml
  test/integration/targets/templating_lookups/template_lookup_safe_eval_unicode/template.json.j2
Labels: affects_2.10, bug, ci_verified, needs_revision, support:community, support:core

#69376 Add multipart/form-data functionality
  changelogs/fragments/multipart.yml
  lib/ansible/galaxy/api.py
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/uri.py
  lib/ansible/plugins/action/uri.py
  test/integration/targets/ansible-galaxy-collection/tasks/build.yml
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/init.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/publish.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/integration/targets/uri/files/formdata.txt
  test/integration/targets/uri/tasks/main.yml
  test/lib/ansible_test/_internal/cloud/fallaxy.py
  test/sanity/ignore.txt
  test/units/galaxy/test_api.py
  test/units/module_utils/urls/fixtures/multipart.txt
  test/units/module_utils/urls/test_prepare_multipart.py
Labels: affects_2.10, feature, module, needs_revision, net_tools, support:community, support:core, test

#69628 Remove conflicting plugin from test/support/ dir.
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/common/__init__.py
  test/support/integration/plugins/module_utils/common/network.py
Labels: affects_2.10, bug, needs_revision, support:core, test

#69635 Pin Docker version at 19.03
  test/integration/targets/incidental_setup_docker/tasks/Suse.yml
  test/integration/targets/incidental_setup_docker/vars/Debian.yml
  test/integration/targets/incidental_setup_docker/vars/Fedora.yml
  test/integration/targets/incidental_setup_docker/vars/RedHat-7.yml
  test/integration/targets/incidental_setup_docker/vars/Suse.yml
Labels: affects_2.10, bug, community_review, support:community, test

#68987 correctly merge multiple facts results
  changelogs/fragments/gf_fix.yml
  lib/ansible/plugins/action/gather_facts.py
  test/integration/targets/gathering_facts/aliases
  test/integration/targets/gathering_facts/library/facts_one
  test/integration/targets/gathering_facts/library/facts_two
  test/integration/targets/gathering_facts/one_two.json
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/two_one.json
  test/integration/targets/gathering_facts/verify_merge_facts.yml
  test/sanity/ignore.txt
Labels: affects_2.10, bug, needs_revision, support:community, support:core, test

#58278 isidentifier() improvements
  lib/ansible/utils/vars.py
  test/units/utils/test_isidentifier.py
Labels: affects_2.9, bug, needs_revision, performance, python3, support:core

#69648 intersight_info and intersight_facts routed to cisco.intersight
  lib/ansible/config/routing.yml
Labels: affects_2.10, core_review, docs, small_patch, support:core

#69651 Restore CentOS on Power in CI.
  shippable.yml
Labels: affects_2.10, bug, core_review, support:core

#69653 Strip no log values from module response keys
  changelogs/fragments/68400-strip-no-log-values-from-keys.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/uri/tasks/main.yml
  test/units/module_utils/basic/test_no_log.py
Labels: affects_2.10, bug, needs_revision, net_tools, support:community, support:core

#69645 [stable-2.9] Pin Docker version at 19.03.1 (#69635)
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/vars/Debian.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
  test/integration/targets/setup_docker/vars/RedHat-7.yml
  test/integration/targets/setup_docker/vars/RedHat-8.yml
  test/integration/targets/setup_docker/vars/Suse.yml
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.general, core_review, docker, support:core, test

#69646 [stable-2.8] Pin Docker version at 19.03.1 (#69635)
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/vars/Debian.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
  test/integration/targets/setup_docker/vars/RedHat-7.yml
  test/integration/targets/setup_docker/vars/RedHat-8.yml
  test/integration/targets/setup_docker/vars/Suse.yml
Labels: affects_2.8, backport, bug, cloud, collection, collection:community.general, core_review, docker, support:core, test

#66503 file - return 'state': 'absent' when a file does not exist
  changelogs/fragments/file-return-state-when-file-does-not-exist.yaml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.10, bug, collection, core_review, files, module, support:community, support:core

#69498 Split regular and handler results into their own queues
  changelogs/fragments/69457-free-strategy-handler-race.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/handler_race/aliases
  test/integration/targets/handler_race/inventory
  test/integration/targets/handler_race/roles/do_handlers/handlers/main.yml
  test/integration/targets/handler_race/roles/do_handlers/tasks/main.yml
  test/integration/targets/handler_race/roles/more_sleep/tasks/main.yml
  test/integration/targets/handler_race/roles/random_sleep/tasks/main.yml
  test/integration/targets/handler_race/runme.sh
  test/integration/targets/handler_race/test_handler_race.yml
Labels: ci_verified

#69661 Spelling: dependant -> dependent
  lib/ansible/cli/galaxy.py
  lib/ansible/parsing/dataloader.py
Labels: affects_2.10, core_review, needs_triage, small_patch, support:core

#69604 fix delegated interpreter discovery
  changelogs/fragments/discovery_delegation_fix.yml
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/delegate_to/inventory_interpreters
  test/integration/targets/delegate_to/library/detect_interpreter.py
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/verify_interpreter.yml
  test/units/plugins/action/test_action.py
Labels: P2, affects_2.10, bug, core_review, has_issue, support:community, support:core

#69629 Fix `ansible -K` become_pass regression
  lib/ansible/executor/task_executor.py
  test/integration/targets/cli/aliases
  test/integration/targets/cli/setup.yml
  test/integration/targets/cli/test_k_and_K.py
Labels: affects_2.10, bug, core_review, has_issue, support:community, support:core

#69601 Add FQCN mappings for network facts modules
  lib/ansible/config/base.yml
  test/units/plugins/action/test_gather_facts.py
Labels: affects_2.10, bug, core_review, support:core

#69650 Module Find returns empty list when setting path to "/" and depth to 1
  lib/ansible/modules/find.py
Labels: affects_2.10, bug, core_review, files, module, new_contributor, python3, support:core

#69592 [yum] Make package removal confirmation strict
  lib/ansible/modules/yum.py
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.10, bug, core_review, module, packaging, small_patch, support:core

#69393 provides per host/plugin world readable temp opt
  lib/ansible/config/base.yml
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/doc_fragments/shell_common.py
Labels: affects_2.10, bug, core_review, inventory, stale_ci, support:community, support:core

#69660 Use a custom build container on Shippable.
  shippable.yml
  test/utils/shippable/shippable.sh
Labels: affects_2.10, bug, core_review, small_patch, support:core, test

#69713 fix delegated loading when path is not a directory
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.10, bug, core_review, python3, support:core

#69714 More fixes for debian ansible-base builds
  packaging/debian/ansible-base.dirs
  packaging/debian/ansible-base.install
  packaging/debian/control
Labels: affects_2.10, bug, core_review, needs_triage, support:core

#68177 Allow to deprecate options and aliases by date
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/common/warnings.py
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
  lib/ansible/utils/display.py
  test/integration/targets/module_utils_Ansible.Basic/library/ansible_basic_tests.ps1
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/ps_argspec.ps1
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/utils.py
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/lib/ansible_test/_internal/sanity/validate_modules.py
  test/units/module_utils/basic/test_deprecate_warn.py
Labels: affects_2.10, backport, docs, docsite, feature, has_issue, shipit, support:community, support:core, test, windows

#68874 [ssh] Add new sshpass_prompt option
  changelogs/fragments/34722-ssh-sshpass-prompt-variable.yml
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/connection_ssh/runme.sh
Labels: affects_2.10, core_review, feature, support:community, support:core

#69712 Collections: allow to deprecate / tombstone plugins by version in meta/runtime.yml
  lib/ansible/plugins/loader.py
Labels: affects_2.10, feature, needs_revision, needs_triage, support:core

#69300 distribution: Refactor test_distribution_version testcases
  changelogs/fragments/distribution_test_refactor.yml
  test/units/module_utils/facts/system/distribution/__init__.py
  test/units/module_utils/facts/system/distribution/fixtures/arch_linux_na.json
  test/units/module_utils/facts/system/distribution/fixtures/arch_linux_no_arch-release_na.json
  test/units/module_utils/facts/system/distribution/fixtures/archlinux_rolling.json
  test/units/module_utils/facts/system/distribution/fixtures/centos_6.7.json
  test/units/module_utils/facts/system/distribution/fixtures/clearlinux_26580.json
  test/units/module_utils/facts/system/distribution/fixtures/clearlinux_28120.json
  test/units/module_utils/facts/system/distribution/fixtures/core_os_1911.5.0.json
  test/units/module_utils/facts/system/distribution/fixtures/core_os_976.0.0.json
  test/units/module_utils/facts/system/distribution/fixtures/cumulus_linux_2.5.4.json
  test/units/module_utils/facts/system/distribution/fixtures/cumulus_linux_3.7.3.json
  test/units/module_utils/facts/system/distribution/fixtures/debian_10.json
  test/units/module_utils/facts/system/distribution/fixtures/debian_7.9.json
  test/units/module_utils/facts/system/distribution/fixtures/debian_stretch_sid.json
  test/units/module_utils/facts/system/distribution/fixtures/devuan.json
  test/units/module_utils/facts/system/distribution/fixtures/fedora_22.json
  test/units/module_utils/facts/system/distribution/fixtures/fedora_25.json
  test/units/module_utils/facts/system/distribution/fixtures/fedora_31.json
  test/units/module_utils/facts/system/distribution/fixtures/kali_2019.1.json
  test/units/module_utils/facts/system/distribution/fixtures/kde_neon_16.04.json
  test/units/module_utils/facts/system/distribution/fixtures/linux_mint_18.2.json
  test/units/module_utils/facts/system/distribution/fixtures/linux_mint_19.1.json
  test/units/module_utils/facts/system/distribution/fixtures/nexenta_3.json
  test/units/module_utils/facts/system/distribution/fixtures/nexenta_4.json
  test/units/module_utils/facts/system/distribution/fixtures/omnios.json
  test/units/module_utils/facts/system/distribution/fixtures/openindiana.json
  test/units/module_utils/facts/system/distribution/fixtures/opensuse_13.2.json
  test/units/module_utils/facts/system/distribution/fixtures/opensuse_leap_15.0.json
  test/units/module_utils/facts/system/distribution/fixtures/opensuse_leap_15.1.json
  test/units/module_utils/facts/system/distribution/fixtures/opensuse_leap_42.1.json
  test/units/module_utils/facts/system/distribution/fixtures/opensuse_tumbleweed_20160917.json
  test/units/module_utils/facts/system/distribution/fixtures/pop_os_20.04.json
  test/units/module_utils/facts/system/distribution/fixtures/redhat_6.7.json
  test/units/module_utils/facts/system/distribution/fixtures/redhat_7.2.json
  test/units/module_utils/facts/system/distribution/fixtures/redhat_7.7.json
  test/units/module_utils/facts/system/distribution/fixtures/sles4sap_12_sp2.json
  test/units/module_utils/facts/system/distribution/fixtures/sles4sap_12_sp3.json
  test/units/module_utils/facts/system/distribution/fixtures/sles_11.3.json
  test/units/module_utils/facts/system/distribution/fixtures/sles_11.4.json
  test/units/module_utils/facts/system/distribution/fixtures/sles_12_sp0.json
  test/units/module_utils/facts/system/distribution/fixtures/sles_12_sp1.json
  test/units/module_utils/facts/system/distribution/fixtures/smartos_global_zone.json
  test/units/module_utils/facts/system/distribution/fixtures/smartos_zone.json
  test/units/module_utils/facts/system/distribution/fixtures/smgl_na.json
  test/units/module_utils/facts/system/distribution/fixtures/solaris_10.json
  test/units/module_utils/facts/system/distribution/fixtures/solaris_11.3.json
  test/units/module_utils/facts/system/distribution/fixtures/solaris_11.4.json
  test/units/module_utils/facts/system/distribution/fixtures/solaris_11.json
  test/units/module_utils/facts/system/distribution/fixtures/steamos_2.0.json
  test/units/module_utils/facts/system/distribution/fixtures/ubuntu_10.04_guess.json
  test/units/module_utils/facts/system/distribution/fixtures/ubuntu_12.04.json
  test/units/module_utils/facts/system/distribution/fixtures/ubuntu_14.04.json
  test/units/module_utils/facts/system/distribution/fixtures/ubuntu_16.04.json
  test/units/module_utils/facts/system/distribution/fixtures/ubuntu_18.04.json
  test/units/module_utils/facts/system/distribution/fixtures/virtuozzo_7.3.json
  test/units/module_utils/facts/system/distribution/test_distribution_version.py
  test/units/module_utils/facts/system/distribution/test_parse_distribution_file_ClearLinux.py
  test/units/module_utils/test_distribution_version.py
Labels: affects_2.10, bug, core_review, needs_rebase, needs_revision, needs_triage

#69670 Make connection plugins use password from config
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.10, bug, core_review, support:core, windows

#66461 Preserving line endings in blockinfile module
  changelogs/fragments/66461-blockinfile_preserve_line_endings.yaml
  lib/ansible/modules/blockinfile.py
  test/integration/targets/blockinfile/tasks/main.yml
Labels: affects_2.10, bug, core_review, files, module, new_contributor, support:community, support:core

#69732 Update default-test-container to version 1.14.
  changelogs/fragments/ansible-test-default-test-container-1.14.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, core_review, feature, support:community, support:core, test

#69647 [stable-2.7] Pin Docker version at 19.03.1 (#69635)
  test/integration/targets/setup_docker/tasks/Suse.yml
  test/integration/targets/setup_docker/vars/Debian.yml
  test/integration/targets/setup_docker/vars/Fedora.yml
  test/integration/targets/setup_docker/vars/RedHat-7.yml
  test/integration/targets/setup_docker/vars/RedHat-8.yml
  test/integration/targets/setup_docker/vars/Suse.yml
Labels: affects_2.7, backport, bug, cloud, collection, collection:community.general, core_review, docker, support:core, test

#69734 blockinfile - fix line ending regression
  changelogs/fragments/blockinfile-line-ending-fix.yaml
  lib/ansible/modules/blockinfile.py
  test/integration/targets/blockinfile/tasks/main.yml
Labels: affects_2.10, bug, core_review, files, module, support:community, support:core

#69735 Update announce script for ansible-base
  hacking/build_library/build_ansible/announce.py
Labels: affects_2.10, core_review, feature, needs_triage, support:core
