Repository ansible/ansible, pull requests merged in 2020-08, with the labels that each got.

#71037 Remove incidental_azure_rm_mariadbserver tests
  test/integration/targets/incidental_azure_rm_mariadbserver/aliases
  test/integration/targets/incidental_azure_rm_mariadbserver/tasks/main.yml
  test/support/integration/plugins/modules/azure_rm_mariadbserver.py
Labels: affects_2.11, core_review, needs_triage, support:community, support:core, test

#71057 Update network integration auth timeout for connection local
  test/integration/network-integration.cfg
Labels: affects_2.11, core_review, needs_triage, support:core

#71063 Guide users to use ansible-runner instead of using Python API directly
  docs/docsite/rst/dev_guide/developing_api.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, small_patch, support:core

#71049 Document string tests a bit more
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#71040 Strip spaces in module names in explicit actions
  changelogs/fragments/62136_strip_spaces_from_action_names.yml
  lib/ansible/parsing/mod_args.py
  test/integration/targets/parsing/roles/test_good_parsing/tasks/main.yml
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#71039 Update intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#71033 copy - redact 'content' from invocation in check mode
  changelogs/fragments/copy-sanitize-check-mode-invocation-args.yaml
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/no_log.yml
Labels: affects_2.11, bug, core_review, files, needs_triage, support:community, support:core

#71046 Document common return values with examples
  docs/docsite/rst/reference_appendices/common_return_values.rst
Labels: affects_2.11, core_review, docs, has_issue, new_contributor, support:core

#70796 docs: Add a note about package requirements for fact gathering
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
Labels: affects_2.11, core_review, docs, support:core

#71028 Add the ansible_2_10 intersphinx reference.
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_2_9.inv
  docs/docsite/python3.inv
  docs/docsite/rst/conf.py
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.11, bug, core_review, docs, support:core, test

#71027 updates changelog types; some updates for easier translation
  docs/docsite/rst/community/development_process.rst
Labels: affects_2.11, docs, docsite, shipit, support:core

#71071 use security_fix category in changelogs
  changelogs/config.yaml
  changelogs/fragments/62237-keep-unsafe-context.yml
  changelogs/fragments/ansible-test-cloud-secrets.yml
  changelogs/fragments/dont-template-cli-passwords.yml
  changelogs/fragments/fetch_no_slurp.yml
  changelogs/fragments/galaxy-install-tar-path-traversal.yaml
  changelogs/fragments/no-log-sub-options-invalid-parameter.yaml
  changelogs/fragments/remote_mkdir_fix.yml
  changelogs/fragments/subversion_password.yaml
  changelogs/fragments/vault_tmp_race_fix.yml
  changelogs/fragments/win-unzip-check-extraction-path.yml
Labels: affects_2.9, backport, bug, core_review, docs, has_issue, needs_triage, support:community, support:core

#71072 use security_fix category in changelogs
  changelogs/config.yaml
  changelogs/fragments/dont-template-cli-passwords.yml
  changelogs/fragments/fetch_no_slurp.yml
  changelogs/fragments/no-log-sub-options-invalid-parameter.yaml
  changelogs/fragments/remote_mkdir_fix.yml
  changelogs/fragments/subversion_password.yaml
  changelogs/fragments/vault_tmp_race_fix.yml
  changelogs/fragments/win-unzip-check-extraction-path.yml
Labels: affects_2.8, backport, bug, core_review, docs, has_issue, needs_triage, support:community, support:core

#70991 Update documentation of httpapi's handle_httperror method
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
  lib/ansible/plugins/httpapi/__init__.py
Labels: affects_2.11, core_review, docs, docsite, networking, small_patch, support:core, support:network

#71018 added faq about fakeroot
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.11, core_review, docs, support:core

#70849 Warning banner should only show on `/devel/` docs, not on pages with 'devel' in their titles
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, core_review, docs, has_issue, stale_ci, support:core

#70987 Make cache adjudicator's flush call plugin flush
  changelogs/fragments/68770_cache_adjudicator_flush.yml
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  lib/ansible/plugins/cache/__init__.py
  test/units/plugins/cache/test_cache.py
Labels: affects_2.11, bug, core_review, docs, docsite, support:community, support:core

#71078 Fix ansible-test self-test change classification.
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.11, bug, core_review, support:core, test

#70963 fix collection package root location under pytest >=6.0.0
  changelogs/fragments/ansible-test-pytest-cap-revert.yml
  changelogs/fragments/pytest-collections-fix.yml
  test/lib/ansible_test/_data/pytest/plugins/ansible_pytest_collections.py
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core, test

#71073 Fix fortimanager httpapi redirect
  changelogs/fragments/71073-fortimanager-httpapi-redirect.yml
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.11, bug, core_review, needs_triage, runtime, support:community, support:core

#71005 ansible-galaxy - fix download for subdirs in SCM
  changelogs/fragments/galaxy-download-scm.yaml
  lib/ansible/galaxy/collection.py
  test/integration/targets/ansible-galaxy-collection-scm/tasks/download.yml
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core

#71035 Add some documentation for the format of meta/runtime.yml
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.11, docs, docsite, shipit, support:core

#70977 Allow cache_timeout=0 to reach inv. cache plugins
  lib/ansible/plugins/inventory/__init__.py
  test/integration/targets/plugin_config_for_inventory/cache_plugins/none.py
  test/integration/targets/plugin_config_for_inventory/config_with_parameter.yml
  test/integration/targets/plugin_config_for_inventory/runme.sh
  test/integration/targets/plugin_config_for_inventory/test_inventory.py
Labels: P3, affects_2.11, bug, core_review, inventory, small_patch, support:community, support:core

#68432 native types: properly handle Undefined in nested data
  changelogs/fragments/native-jinja2-types-properly-handle-nested-undefined.yml
  lib/ansible/template/native_helpers.py
  test/integration/targets/jinja2_native_types/inventory.jinja2_native_types
  test/integration/targets/jinja2_native_types/nested_undefined.yml
  test/integration/targets/jinja2_native_types/runme.sh
  test/integration/targets/jinja2_native_types/test_hostvars.yml
Labels: affects_2.10, bug, core_review, native_jinja, support:community, support:core

#71083 find: Allow reading whole file for contains regex
  changelogs/fragments/63378_find_module_regex_whole_file.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/files/a.txt
  test/integration/targets/find/files/log.txt
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.11, core_review, feature, files, module, support:community, support:core

#71043 Add intentional coverage for incidental_lvg
  test/integration/targets/hardware_facts/aliases
  test/integration/targets/hardware_facts/meta/main.yml
  test/integration/targets/hardware_facts/tasks/Linux.yml
  test/integration/targets/hardware_facts/tasks/main.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#71052 Intentional coverage, incidental_azure_rm_resource
  test/integration/targets/plugin_loader/normal/library/_symlink.py
  test/integration/targets/plugin_loader/normal/library/_underscore.py
  test/integration/targets/plugin_loader/normal/underscore.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#70506 Remove postgres incidental tests, add explicit tests of functionality
  lib/ansible/parsing/utils/yaml.py
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/test_include_loop.yml
  test/integration/targets/yaml_parsing/aliases
  test/integration/targets/yaml_parsing/playbook.yml
  test/integration/targets/yaml_parsing/tasks/main.yml
  test/integration/targets/yaml_parsing/vars/main.yml
  test/units/parsing/yaml/test_constructor.py
Labels: affects_2.11, collection, core_review, feature, support:community, support:core, test

#71055 VMware: Inventory scenario guide for hostnames
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_hostnames.rst
Labels: affects_2.11, bug, cloud, core_review, docs, docsite, support:core, vmware

#70927 Update platform_index.rst
  docs/docsite/rst/network/user_guide/platform_index.rst
Labels: affects_2.11, core_review, docs, docsite, needs_triage, networking, new_contributor, support:core

#70785 Allow macOS ACLs to work for unpriv -> unpriv
  changelogs/fragments/macos-chmod-acl.yml
  docs/docsite/rst/user_guide/become.rst
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/become_unprivileged/aliases
  test/integration/targets/become_unprivileged/chmod_acl_macos/test.yml
  test/integration/targets/become_unprivileged/runme.sh
  test/units/plugins/action/test_action.py
Labels: affects_2.11, collection:ngine_io.pingping, core_review, docs, feature, support:community, support:core

#71023 add note to uninstall older versions of ansible for pip
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, support:core

#71032 dont clobber facts in loop
  lib/ansible/executor/task_executor.py
  test/integration/targets/gathering_facts/prevent_clobbering.yml
  test/integration/targets/gathering_facts/runme.sh
Labels: affects_2.11, bug, core_review, support:community, support:core

#71094 Remove ANSIBLE_COLLECTIONS_PATHS dep warning
  changelogs/fragments/galaxy_collections_paths-remove-dep.yml
  lib/ansible/config/base.yml
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#71089 Misc typo fixes
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/__init__.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/vars.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: affects_2.11, docs, needs_revision, needs_triage, support:core, test

#71088 add jinja2 global to reserved names
  changelogs/fragments/moar_reserved_vars.yml
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/vars/reserved.py
  test/integration/targets/var_reserved/aliases
  test/integration/targets/var_reserved/reserved_varname_warning.yml
  test/integration/targets/var_reserved/runme.sh
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core

#71070 Update ansible doc formats
  changelogs/fragments/ansible-doc-formats.yml
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  lib/ansible/cli/__init__.py
  lib/ansible/cli/doc.py
  test/units/cli/test_doc.py
Labels: affects_2.11, bug, docs, docsite, needs_revision, support:community, support:core

#70902 Fix changelog fragment type.
  changelogs/fragments/67794-atomic_move-default-perms.yml
Labels: affects_2.11, bug, community_review, needs_triage, owner_pr, small_patch, stale_ci, support:community

#70832 virt facts: allow guest/host to have >1 virt tech
  changelogs/fragments/multivirt.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  lib/ansible/module_utils/facts/virtual/base.py
  lib/ansible/module_utils/facts/virtual/freebsd.py
  lib/ansible/module_utils/facts/virtual/hpux.py
  lib/ansible/module_utils/facts/virtual/linux.py
  lib/ansible/module_utils/facts/virtual/netbsd.py
  lib/ansible/module_utils/facts/virtual/openbsd.py
  lib/ansible/module_utils/facts/virtual/sunos.py
  lib/ansible/module_utils/facts/virtual/sysctl.py
Labels: affects_2.11, bsd, core_review, docs, feature, hpux, solaris, support:community, support:core

#71104 2.9: YUM: Ensure we have enough values to split (#56802)
  changelogs/fragments/56800-fix-yum-list-repoquery.yml
  lib/ansible/modules/packaging/os/yum.py
Labels: affects_2.9, backport, bug, core_review, has_issue, module, needs_triage, packaging, support:community, support:core

#71098 backport of PRs 64763 and 70849
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.8, backport, bug, core_review, docs, needs_triage, support:core

#70909 Make changelog tool be more strict about suffixes
  changelogs/config.yaml
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/sanity/code-smell/changelog.py
Labels: affects_2.11, bug, core_review, small_patch, support:core, test

#71065 [stable-2.9] linux facts - return proper broadcast address (#64528)
  changelogs/fragments/linux-network-facts-broadcast-address.yaml
  lib/ansible/module_utils/facts/network/linux.py
  test/integration/targets/facts_linux_network/aliases
  test/integration/targets/facts_linux_network/meta/main.yml
  test/integration/targets/facts_linux_network/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#71012 2.9: Emit proper error for `x in y` when y is undefined (#70990)
  changelogs/fragments/70984-templating-ansibleundefined-in-operator.yml
  lib/ansible/template/__init__.py
  test/integration/targets/template/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, files, needs_triage, support:community, support:core

#71002 [stable-2.9] unarchive - Check 'fut_gid' against 'run_gid' in addition to supplemental groups (#65666)
  changelogs/fragments/unarchive-check-future-gid-against-run-gid.yml
  lib/ansible/modules/files/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/prepare_tests.yml
  test/integration/targets/unarchive/tasks/test_download.yml
  test/integration/targets/unarchive/tasks/test_exclude.yml
  test/integration/targets/unarchive/tasks/test_missing_files.yml
  test/integration/targets/unarchive/tasks/test_mode.yml
  test/integration/targets/unarchive/tasks/test_non_ascii_filename.yml
  test/integration/targets/unarchive/tasks/test_parent_not_writeable.yml
  test/integration/targets/unarchive/tasks/test_quotable_characters.yml
  test/integration/targets/unarchive/tasks/test_symlink.yml
  test/integration/targets/unarchive/tasks/test_tar.yml
  test/integration/targets/unarchive/tasks/test_tar_gz.yml
  test/integration/targets/unarchive/tasks/test_tar_gz_creates.yml
  test/integration/targets/unarchive/tasks/test_tar_gz_keep_newer.yml
  test/integration/targets/unarchive/tasks/test_tar_gz_owner_group.yml
  test/integration/targets/unarchive/tasks/test_unprivileged_user.yml
  test/integration/targets/unarchive/tasks/test_zip.yml
Labels: affects_2.9, backport, bug, core_review, files, m:unarchive, module, needs_triage, support:community, support:core

#71054 [2.9] nxos_user: Do not fail when a custom role is used
  changelogs/fragments/fix_nxos_user_role.yaml
  lib/ansible/modules/network/nxos/nxos_user.py
  test/integration/targets/nxos_user/tests/common/basic.yaml
Labels: affects_2.9, backport, bug, cisco, collection, collection:cisco.nxos, core_review, module, needs_triage, networking, nxos, support:community, support:core, support:network, test

#70997 [stable-2.9] facts - fix incorrect time for some date_time_facts (#70665)
  changelogs/fragments/date-time-facts-fix-utctime.yml
  lib/ansible/module_utils/facts/system/date_time.py
  test/units/module_utils/facts/test_date_time.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#70994 [stable-2.9] Fix ansible-test relative import analysis.
  changelogs/fragments/ansible-test-relative-import-analysis.yml
  test/lib/ansible_test/_internal/import_analysis.py
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#70983 ansible-galaxy - fix fallback for AH searches (#70957) - 2.9
  changelogs/fragments/galaxy-collection-fallback.yml
  lib/ansible/galaxy/collection.py
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#70945 [stable-2.9] lineinfile - fix broken exception handling (#70846)
  changelogs/fragments/lineinfile_exc_fix.yml
  lib/ansible/modules/files/lineinfile.py
Labels: affects_2.9, backport, bug, core_review, files, module, needs_triage, owner_pr, support:community, support:core

#70924 fix error decoding Redfish response payloads on Python 3.5
  changelogs/fragments/redfish-fix-payload-decode-python35.yml
  lib/ansible/module_utils/redfish_utils.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, needs_triage, owner_pr, python3, stale_ci, support:community

#70917 [stable-2.9] reboot - fix Void Linux (#70704)
  changelogs/fragments/70704-void-linux-reboot.yml
  lib/ansible/plugins/action/reboot.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#70815 [2.8] Add ansible-releases@redhat.com to announce template (#70812)
  hacking/release-announcement.py
Labels: affects_2.8, backport, bug, core_review, needs_triage, small_patch, stale_ci, support:core

#70814 [2.9] Add ansible-releases@redhat.com to announce template (#70812)
  hacking/build_library/build_ansible/announce.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, small_patch, stale_ci, support:core

#70821 [2.9] Sanitize URI module keys with no_log values (#70762)
  changelogs/fragments/70762-sanitize-uri-keys.yml
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/net_tools/basics/uri.py
  test/integration/targets/uri/tasks/main.yml
  test/units/module_utils/basic/test_sanitize_keys.py
Labels: affects_2.9, backport, bug, core_review, docs, docsite, module, needs_triage, net_tools, stale_ci, support:community, support:core

#70835 profile_tasks: typecast result before slicing it
  changelogs/fragments/59059_profile_tasks.yml
  lib/ansible/plugins/callback/profile_tasks.py
Labels: affects_2.9, backport, bug, collection, collection:ansible.posix, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#70842 [backport][2.9][PR #70445] Fix the internal Python API usage examples
  docs/docsite/rst/dev_guide/developing_api.rst
  examples/scripts/uptime.py
Labels: affects_2.9, backport, core_review, docs, docsite, needs_triage, stale_ci, support:core

#70808 [stable-2.9] Document existing ansi_re sequences and add `ESC[m` (#70683)
  changelogs/fragments/70683-terminal-ansi-re.yaml
  lib/ansible/plugins/terminal/__init__.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, networking, stale_ci, support:community, support:network

#70801 [2.9] basic: use PollSelector implementation
  changelogs/fragments/70238_selector.yml
  lib/ansible/module_utils/basic.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#70789 user - Create home and parent directories only when requested
  changelogs/fragments/70600-user-module-dont-create-home-when-create_home-is-false.yml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, system

#71119 Docs: Fix typo
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#71115 Fixes due to branch being renamed
  docs/docsite/rst/scenario_guides/guide_packet.rst
Labels: affects_2.11, core_review, docs, new_contributor, support:core

#71124 Update 70762 changelog to use security_fixes
  changelogs/fragments/70762-sanitize-uri-keys.yml
Labels: affects_2.11, community_review, docs, needs_triage, owner_pr, small_patch, support:community

#70851 [backport][2.9][PR #70446] Refactor Python API examples and docs
  docs/docsite/rst/dev_guide/developing_api.rst
  examples/scripts/uptime.py
  test/sanity/ignore.txt
Labels: affects_2.9, backport, core_review, docs, docsite, needs_triage, support:core, test

#70718 [stable-2.9] Handle Slackware OS version strings containing a plus (“+”) (#68142)
  changelogs/fragments/38760-slackware-os-dist.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/fixtures/distribution_files/ClearLinux
  test/units/module_utils/facts/fixtures/distribution_files/CoreOS
  test/units/module_utils/facts/fixtures/distribution_files/LinuxMint
  test/units/module_utils/facts/fixtures/distribution_files/Slackware
  test/units/module_utils/facts/fixtures/distribution_files/SlackwareCurrent
  test/units/module_utils/facts/system/distribution/conftest.py
  test/units/module_utils/facts/system/distribution/test_parse_distribution_file_ClearLinux.py
  test/units/module_utils/facts/system/distribution/test_parse_distribution_file_Slackware.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#70754 [2.9] debconf: add a note about no_log usage
  changelogs/fragments/32386_debconf_password.yml
  lib/ansible/modules/system/debconf.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, system

#70755 [2.8] debconf: add a note about no_log usage
  changelogs/fragments/32386_debconf_password.yml
  lib/ansible/modules/system/debconf.py
Labels: affects_2.8, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, system

#70758 [2.9] shell - Fix missing quote for remote_tmp option
  changelogs/fragments/69578-shell-remote_tmp-quoting.yaml
  lib/ansible/plugins/shell/__init__.py
  test/integration/targets/config/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#71130 Drop "rhui-" prefix from RHEL repositories in AMI
  test/integration/targets/incidental_setup_docker/tasks/RedHat-7.yml
  test/integration/targets/yum/tasks/yuminstallroot.yml
Labels: affects_2.11, bug, core_review, needs_triage, packaging, support:community, support:core, test

#71075 Warning banner should only show on `/devel/` docs, not on pages with …
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.10, backport, core_review, docs, support:core

#71128 Update 70762 changelog to use security_fixes (#71124)
  changelogs/fragments/70762-sanitize-uri-keys.yml
Labels: affects_2.9, backport, community_review, docs, needs_triage, owner_pr, small_patch, support:community

#71132 [stable-2.9] Drop "rhui-" prefix from RHEL repositories in AMI (#71130)
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/integration/targets/setup_podman/vars/main.yml
Labels: affects_2.9, backport, cloud, collection, collection:community.general, collection:containers.podman, core_review, docker, needs_triage, support:core, test

#71133 [stable-2.8] Drop "rhui-" prefix from RHEL repositories in AMI (#71130)
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/integration/targets/setup_podman/vars/main.yml
Labels: affects_2.8, backport, cloud, collection, collection:community.general, collection:containers.podman, core_review, docker, needs_triage, support:core, test

#71076 Warning banner should only show on `/devel/` docs, not on pages with …
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.9, backport, core_review, docs, needs_triage, support:core

#70678 [2.9] api: time.clock compatible code
  changelogs/fragments/70649_time_clock.yml
  lib/ansible/module_utils/api.py
  test/sanity/ignore.txt
  test/units/module_utils/basic/test_argument_spec.py
  test/units/module_utils/test_api.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, python3, stale_ci, support:community, support:core, test

#70827 [stable-2.8] Change default file permissions so they are not world readable (#70221)
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/aws_lambda/tasks/main.yml
  test/integration/targets/lambda_policy/tasks/main.yml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/integration/targets/service/tasks/systemd_setup.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.8, backport, bug, collection, collection:community.aws, docs, needs_revision, needs_triage, security, support:community, support:core, system, test

#71068 [2.9] copy - redact 'content' from invocation in check mode (#71033)
  changelogs/fragments/copy-sanitize-check-mode-invocation-args.yaml
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/no_log.yml
Labels: affects_2.9, backport, bug, files, needs_revision, needs_triage, support:community, support:core

#70825 [stable-2.9] Change default file permissions so they are not world readable (#70221)
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/integration/targets/aws_lambda/tasks/main.yml
  test/integration/targets/lambda_policy/tasks/main.yml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/integration/targets/setup_wildfly_server/tasks/main.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.9, backport, bug, collection, collection:community.aws, collection:community.general, core_review, docs, needs_triage, packaging, security, support:community, support:core, test

#71134 [stable-2.9] cron - Allow non-ascii (UTF-8) chars in cron file paths and jobs (#70426)
  changelogs/fragments/70426-allow-non-ascii-chars-in-cron.yml
  lib/ansible/modules/system/cron.py
  test/integration/targets/cron/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#71137 Fix version comparison for determining what ansible to build against
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#71152 [stable-2.10] Fix version comparison for determining what ansible to build against
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: affects_2.10, backport, core_review, docs, needs_triage, small_patch, support:core

#71151 Add CVE reference to changelog for PR 70762
  changelogs/fragments/70762-sanitize-uri-keys.yml
Labels: affects_2.11, community_review, docs, needs_triage, owner_pr, small_patch, support:community

#71153 Add CVE reference to changelog for PR 70762 (#71151)
  changelogs/fragments/70762-sanitize-uri-keys.yml
Labels: affects_2.9, backport, community_review, docs, needs_triage, owner_pr, small_patch, support:community

#71141 Update the porting guide for ansible-2.10.0a8
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#71097 ansible-test: bump acme test container version to 2.0.0
  changelogs/fragments/71097-ansible-test-acme-container.yml
  test/lib/ansible_test/_internal/cloud/acme.py
Labels: affects_2.11, cloud, crypto, feature, has_issue, needs_revision, support:community, support:core, test

#71069 [2.8] copy - redact 'content' from invocation in check mode (#71033)
  changelogs/fragments/copy-sanitize-check-mode-invocation-args.yaml
  lib/ansible/plugins/action/copy.py
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/no_log.yml
Labels: affects_2.8, backport, bug, files, needs_revision, needs_triage, support:community, support:core

#70811 Allow hostvars delegation (#70331)
  changelogs/fragments/delegate_has_hostvars.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/vars/manager.py
  test/integration/targets/delegate_to/connection_plugins/fakelocal.py
  test/integration/targets/delegate_to/has_hostvars.yml
  test/integration/targets/delegate_to/inventory
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/test_delegate_to.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#70833 [2.9] mysql_user: fix overriding user passowrd to the same
  changelogs/fragments/609-mysql_user_fix_overriding_password_to_the_same.yml
  lib/ansible/modules/database/mysql/mysql_user.py
  test/integration/targets/mysql_user/tasks/user_password_update_test.yml
Labels: affects_2.9, backport, bug, collection, collection:community.general, core_review, database, has_issue, module, mysql, needs_triage, stale_ci, support:community, support:core, test

#70932 Backport: ovirt_vm fix cd attachment
  changelogs/fragments/70932-ovirt_vm-fix-cd_iso-search.yml
  lib/ansible/modules/cloud/ovirt/ovirt_vm.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:ovirt.ovirt, community_review, module, needs_triage, ovirt, owner_pr, support:community

#71155 Update integration tests to support rpmfluff-0.6
  changelogs/fragments/rpmfluff-compat-fixes.yml
  test/integration/targets/setup_rpm_repo/files/create-repo.py
Labels: affects_2.11, bug, community_review, needs_triage, support:community

#71157 remove network section from base 2.11 porting guide
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
Labels: affects_2.10, core_review, docs, small_patch, support:core

#71158 remove network for 2.10 base porting guide
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#70946 Updates to Integration tests to pass against Alpine
  shippable.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup.yml
  test/integration/targets/ansible-galaxy/setup.yml
  test/integration/targets/connection_ssh/runme.sh
  test/integration/targets/cron/tasks/main.yml
  test/integration/targets/getent/tasks/main.yml
  test/integration/targets/git/tasks/setup.yml
  test/integration/targets/group/tasks/tests.yml
  test/integration/targets/handler_race/roles/random_sleep/tasks/main.yml
  test/integration/targets/include_import/runme.sh
  test/integration/targets/loops/tasks/main.yml
  test/integration/targets/pip/tasks/main.yml
  test/integration/targets/prepare_http_tests/tasks/default.yml
  test/integration/targets/pull/setup.yml
  test/integration/targets/service/tasks/main.yml
  test/integration/targets/service_facts/tasks/main.yml
  test/integration/targets/setup_cron/tasks/main.yml
  test/integration/targets/setup_cron/vars/alpine.yml
  test/integration/targets/setup_paramiko/install-Alpine-3-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-Alpine-3-python-3.yml
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
  test/integration/targets/subversion/roles/subversion/templates/subversion.conf.j2
  test/integration/targets/subversion/vars/Alpine.yml
  test/integration/targets/unarchive/tasks/test_unprivileged_user.yml
  test/integration/targets/user/tasks/main.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, collection, collection:community.general, feature, files, m:unarchive, needs_revision, packaging, source_control, support:community, support:core, system, test

#70203 2.9: Detect failure in always block after rescue (#70094)
  changelogs/fragments/70000-playbook-detect-failure-in-always.yml
  lib/ansible/executor/play_iterator.py
  test/integration/targets/blocks/always_failure_no_rescue_rc.yml
  test/integration/targets/blocks/always_failure_with_rescue_rc.yml
  test/integration/targets/blocks/always_no_rescue_rc.yml
  test/integration/targets/blocks/runme.sh
Labels: affects_2.9, backport, bug, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#70169 [2.9] hashi_vault: Handle equal sign in secret name value
  changelogs/fragments/55658_hashi_vault.yml
  lib/ansible/plugins/lookup/hashi_vault.py
  test/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/approle_test.yml
  test/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/main.yml
  test/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/token_test.yml
Labels: affects_2.9, backport, bug, collection, collection:community.general, core_review, has_issue, needs_triage, stale_ci, support:community, support:core, test

#71112 ipa module utils can not handle HA FreeIPA with Python3 #71110
  changelogs/fragments/71112-ipa-python3.yml
  lib/ansible/module_utils/ipa.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, ipa, needs_triage, new_contributor, python3, support:community

#71086 [2.9] Fix UnboundLocalError error for net_put
  changelogs/fragments/net_put-unboundlocalerror.yaml
  lib/ansible/plugins/action/net_put.py
Labels: affects_2.9, backport, bug, collection, collection:ansible.netcommon, core_review, needs_triage, networking, support:community, support:network

#70689 [2.9] template connection variables accessed directly before using (#70657)
  changelogs/fragments/70657-template-connection-vars.yaml
  lib/ansible/executor/task_executor.py
  test/integration/targets/var_templating/runme.sh
  test/integration/targets/var_templating/test_connection_vars.yml
  test/integration/targets/var_templating/vars/connection.yml
Labels: affects_2.9, backport, bug, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#71129 Docs [2.10] Backportapalooza 6
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/dev_guide/developing_api.rst
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
  docs/docsite/rst/network/user_guide/platform_ce.rst
  docs/docsite/rst/network/user_guide/platform_cnos.rst
  docs/docsite/rst/network/user_guide/platform_dellos10.rst
  docs/docsite/rst/network/user_guide/platform_dellos6.rst
  docs/docsite/rst/network/user_guide/platform_dellos9.rst
  docs/docsite/rst/network/user_guide/platform_enos.rst
  docs/docsite/rst/network/user_guide/platform_eric_eccli.rst
  docs/docsite/rst/network/user_guide/platform_exos.rst
  docs/docsite/rst/network/user_guide/platform_icx.rst
  docs/docsite/rst/network/user_guide/platform_ironware.rst
  docs/docsite/rst/network/user_guide/platform_meraki.rst
  docs/docsite/rst/network/user_guide/platform_netvisor.rst
  docs/docsite/rst/network/user_guide/platform_nos.rst
  docs/docsite/rst/network/user_guide/platform_routeros.rst
  docs/docsite/rst/network/user_guide/platform_slxos.rst
  docs/docsite/rst/network/user_guide/platform_voss.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
  docs/docsite/rst/reference_appendices/common_return_values.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
  docs/docsite/rst/roadmap/ROADMAP_2_10.rst
  docs/docsite/rst/roadmap/index.rst
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_hostnames.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_tests.rst
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/__init__.py
  lib/ansible/plugins/httpapi/__init__.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/vars.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: affects_2.10, backport, cloud, core_review, docs, docsite, networking, support:core, support:network, test, vmware

#71102 Updating Getting Started with Resources section #68962
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, has_issue, new_contributor, support:core

#70822 [2.8] Sanitize URI module keys with no_log values (#70762)
  changelogs/fragments/70762-sanitize-uri-keys.yml
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/net_tools/basics/uri.py
  test/integration/targets/uri/tasks/main.yml
  test/units/module_utils/basic/test_sanitize_keys.py
Labels: affects_2.8, backport, bug, core_review, docs, docsite, module, needs_triage, net_tools, security, support:community, support:core

#70882 reset logging to INFO (#70878)
  changelogs/fragments/keep_log_at_info.yml
  lib/ansible/utils/display.py
  test/units/utils/display/test_logger.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#71096 dont clobber facts in loop (#71032)
  changelogs/fragments/no_fact_loop_loss.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/gathering_facts/prevent_clobbering.yml
  test/integration/targets/gathering_facts/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#71136 Ensure -k is set to delegated hosts without a pass
  changelogs/fragments/delegation_password.yml
  lib/ansible/config/manager.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  test/integration/targets/connection_delegation/action_plugins/delegation_action.py
  test/integration/targets/connection_delegation/aliases
  test/integration/targets/connection_delegation/connection_plugins/delegation_connection.py
  test/integration/targets/connection_delegation/inventory.ini
  test/integration/targets/connection_delegation/runme.sh
  test/integration/targets/connection_delegation/test.yml
Labels: affects_2.11, bug, collection, collection:ngine_io.pingping, has_issue, needs_revision, needs_triage, support:community, support:core

#71144 password: Add example to generate random string
  lib/ansible/plugins/lookup/password.py
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71164 Remove incidental azure tests
  shippable.yml
  test/integration/targets/incidental_azure_rm_resource/aliases
  test/integration/targets/incidental_azure_rm_resource/tasks/main.yml
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/azure_rm_common.py
  test/support/integration/plugins/module_utils/azure_rm_common_rest.py
  test/support/integration/plugins/modules/_azure_rm_mariadbconfiguration_facts.py
  test/support/integration/plugins/modules/_azure_rm_mariadbdatabase_facts.py
  test/support/integration/plugins/modules/_azure_rm_mariadbfirewallrule_facts.py
  test/support/integration/plugins/modules/_azure_rm_mariadbserver_facts.py
  test/support/integration/plugins/modules/_azure_rm_resource_facts.py
  test/support/integration/plugins/modules/_azure_rm_webapp_facts.py
  test/support/integration/plugins/modules/azure_rm_appserviceplan.py
  test/support/integration/plugins/modules/azure_rm_functionapp.py
  test/support/integration/plugins/modules/azure_rm_functionapp_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbconfiguration.py
  test/support/integration/plugins/modules/azure_rm_mariadbconfiguration_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbdatabase.py
  test/support/integration/plugins/modules/azure_rm_mariadbdatabase_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbfirewallrule.py
  test/support/integration/plugins/modules/azure_rm_mariadbfirewallrule_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbserver_info.py
  test/support/integration/plugins/modules/azure_rm_resource.py
  test/support/integration/plugins/modules/azure_rm_resource_info.py
  test/support/integration/plugins/modules/azure_rm_storageaccount.py
  test/support/integration/plugins/modules/azure_rm_webapp.py
  test/support/integration/plugins/modules/azure_rm_webapp_info.py
  test/support/integration/plugins/modules/azure_rm_webappslot.py
  test/utils/shippable/incidental/azure.sh
Labels: affects_2.11, core_review, needs_triage, small_patch, support:community, support:core, test

#46979 start of 'data manipulation' examples
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/playbooks_advanced_syntax.rst
  docs/docsite/rst/user_guide/playbooks_special_topics.rst
Labels: affects_2.8, docs, docsite, has_issue, shipit, support:core

#71174 Remove incidental_lvg target
  test/integration/targets/incidental_lvg/aliases
  test/integration/targets/incidental_lvg/meta/main.yml
  test/integration/targets/incidental_lvg/tasks/main.yml
  test/integration/targets/incidental_lvg/tasks/setup.yml
  test/integration/targets/incidental_lvg/tasks/teardown.yml
  test/integration/targets/incidental_lvg/tasks/test_grow_reduce.yml
  test/integration/targets/incidental_lvg/tasks/test_indempotency.yml
Labels: affects_2.11, community_review, needs_triage, support:community, test

#71116 docs: 'ansible_play_hosts' lists active hosts, not limited by serial
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: affects_2.11, core_review, docs, new_contributor, python3, small_patch, support:core

#71162 add another resource module example
  docs/docsite/rst/network/user_guide/network_resource_modules.rst
Labels: affects_2.11, core_review, docs, docsite, needs_triage, networking, support:core

#71187 Make sure that apache2-webdav related packages get upgraded
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
Labels: affects_2.11, bug, core_review, needs_triage, source_control, support:core

#70369 update Ansible-maintained platform guides with FQCN
  docs/docsite/rst/network/user_guide/platform_eos.rst
  docs/docsite/rst/network/user_guide/platform_frr.rst
  docs/docsite/rst/network/user_guide/platform_ios.rst
  docs/docsite/rst/network/user_guide/platform_iosxr.rst
  docs/docsite/rst/network/user_guide/platform_junos.rst
  docs/docsite/rst/network/user_guide/platform_netconf_enabled.rst
  docs/docsite/rst/network/user_guide/platform_nxos.rst
  docs/docsite/rst/network/user_guide/platform_vyos.rst
Labels: affects_2.11, ci_verified, docs, docsite, needs_revision, networking, support:core

#71180 toml: Clarify about inventory examples
  lib/ansible/plugins/inventory/toml.py
Labels: affects_2.11, community_review, docs, small_patch, support:community

#71178 filters: minor doc fix
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#70978 updates per writing style
  docs/docsite/rst/dev_guide/developing_modules_general.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#71192 [tests] pin docker to <4.3.0
  test/integration/targets/setup_docker/defaults/main.yml
Labels: affects_2.9, backport, cloud, collection, collection:community.general, core_review, docker, needs_triage, support:core, test

#71193 [tests] pin docker to <4.3.0
  test/integration/targets/setup_docker/defaults/main.yml
Labels: affects_2.8, backport, cloud, collection, collection:community.general, core_review, docker, needs_triage, support:core, test

#71166 [2.9] ansible-test: bump acme test container version to 2.0.0
  changelogs/fragments/71097-ansible-test-acme-container.yml
  test/lib/ansible_test/_internal/cloud/acme.py
Labels: affects_2.9, backport, cloud, core_review, crypto, feature, support:community, support:core, test

#71167 Ensure -k is set to delegated hosts without a pass (#71136) - 2.9
  changelogs/fragments/delegation_password.yml
  lib/ansible/config/manager.py
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  test/integration/targets/connection_delegation/action_plugins/delegation_action.py
  test/integration/targets/connection_delegation/aliases
  test/integration/targets/connection_delegation/connection_plugins/delegation_connection.py
  test/integration/targets/connection_delegation/inventory.ini
  test/integration/targets/connection_delegation/runme.sh
  test/integration/targets/connection_delegation/test.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, windows

#70988 Skip literal_eval for string filters results in native jinja.
  changelogs/fragments/70831-skip-literal_eval-string-filter-native-jinja.yml
  lib/ansible/config/base.yml
  lib/ansible/template/__init__.py
  lib/ansible/template/native_helpers.py
  test/integration/targets/jinja2_native_types/test_casting.yml
  test/integration/targets/jinja2_native_types/test_dunder.yml
Labels: affects_2.11, bug, core_review, has_issue, native_jinja, support:community, support:core

#70530 add FQCN to M() references
  lib/ansible/config/base.yml
  lib/ansible/modules/add_host.py
  lib/ansible/modules/assemble.py
  lib/ansible/modules/assert.py
  lib/ansible/modules/command.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/debug.py
  lib/ansible/modules/expect.py
  lib/ansible/modules/fail.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/file.py
  lib/ansible/modules/find.py
  lib/ansible/modules/gather_facts.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/group.py
  lib/ansible/modules/group_by.py
  lib/ansible/modules/import_playbook.py
  lib/ansible/modules/import_role.py
  lib/ansible/modules/import_tasks.py
  lib/ansible/modules/include.py
  lib/ansible/modules/include_role.py
  lib/ansible/modules/include_tasks.py
  lib/ansible/modules/include_vars.py
  lib/ansible/modules/known_hosts.py
  lib/ansible/modules/lineinfile.py
  lib/ansible/modules/meta.py
  lib/ansible/modules/package.py
  lib/ansible/modules/pause.py
  lib/ansible/modules/ping.py
  lib/ansible/modules/raw.py
  lib/ansible/modules/reboot.py
  lib/ansible/modules/replace.py
  lib/ansible/modules/script.py
  lib/ansible/modules/service.py
  lib/ansible/modules/set_fact.py
  lib/ansible/modules/setup.py
  lib/ansible/modules/shell.py
  lib/ansible/modules/slurp.py
  lib/ansible/modules/stat.py
  lib/ansible/modules/tempfile.py
  lib/ansible/modules/template.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/modules/user.py
  lib/ansible/modules/wait_for.py
  lib/ansible/modules/wait_for_connection.py
  lib/ansible/modules/yum.py
  lib/ansible/modules/yum_repository.py
  lib/ansible/plugins/lookup/fileglob.py
Labels: affects_2.11, commands, core_review, docs, files, has_issue, include_role, inventory, m:unarchive, module, net_tools, packaging, support:core, system, utilities

#71195 Fix netconf validate capability check
  lib/ansible/plugins/netconf/__init__.py
Labels: affects_2.11, bug, core_review, needs_triage, networking, small_patch, support:network

#71179 Enable auto-closing needs_collection_redirect issues/PRs
  .github/BOTMETA.yml
Labels: affects_2.11, botmeta, core_review, feature, small_patch, support:core

#71184 Add support for non-yaml EXAMPLES
  changelogs/fragments/71184-allow-non-yaml-examples.yml
  lib/ansible/plugins/inventory/ini.py
  lib/ansible/plugins/inventory/toml.py
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
Labels: affects_2.11, core_review, feature, inventory, support:community, support:core, test

#71227 Fix references to Ansible Collections Overview
  docs/docsite/rst/plugins/cliconf.rst
  docs/docsite/rst/plugins/httpapi.rst
  docs/docsite/rst/plugins/netconf.rst
  docs/docsite/rst/user_guide/collections_using.rst
Labels: affects_2.11, core_review, docs, support:core

#71231 Revert "Change default file permissions so they are not world readable (#70221)"
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.11, bug, core_review, docs, needs_triage, packaging, security, support:community, support:core

#71232 [stable-2.9] Revert "Change default file permissions so they are not world readable (#70221) (#70825)"
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/integration/targets/aws_lambda/tasks/main.yml
  test/integration/targets/lambda_policy/tasks/main.yml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/integration/targets/setup_wildfly_server/tasks/main.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.9, backport, bug, collection, collection:community.aws, collection:community.general, core_review, docs, needs_triage, packaging, security, support:community, support:core, test

#71233 [stable-2.8] Revert "Change default file permissions so they are not world readable (#70221) (#70827)"
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/aws_lambda/tasks/main.yml
  test/integration/targets/lambda_policy/tasks/main.yml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/integration/targets/service/tasks/systemd_setup.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.8, backport, bug, collection, collection:community.aws, core_review, docs, needs_triage, security, support:community, support:core, system, test

#71207 Fix cron file regression
  changelogs/fragments/fix-cron-file-regression.yaml
  lib/ansible/modules/cron.py
  test/integration/targets/cron/tasks/main.yml
Labels: affects_2.11, bug, core_review, has_issue, module, support:community, support:core, system

#71236 [stable-2.10] Revert "Change default file permissions so they are not world readable (#70221) (#70824)"
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.10, backport, bug, core_review, docs, needs_triage, packaging, support:community, support:core

#71241 Adds fest link
  docs/docsite/rst/index.rst
Labels: affects_2.11, core_review, docs, support:core

#71229 Update release page for ansible and ansible-base
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.10, core_review, docs, support:core

#71240 Redirect gluster modules to gluster.gluster
  changelogs/fragments/71240-gluster-modules-redirect.yml
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.11, bug, core_review, has_issue, runtime, support:community, support:core

#71242 Remove porting guide entry related to reverted change
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#71212 Minor writing style updates to Roles topic
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#71260 [stable-2.10] Revert default mode changes
  changelogs/fragments/67794-atomic_move-default-perms.yml
  changelogs/fragments/67794-default-permissions-warning-fix.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.10, backport, bug, core_review, docs, needs_triage, packaging, support:community, support:core

#71261 [2.10] Docs Backportapalooza 7
  docs/docsite/rst/index.rst
  docs/docsite/rst/network/user_guide/network_resource_modules.rst
  docs/docsite/rst/plugins/cliconf.rst
  docs/docsite/rst/plugins/httpapi.rst
  docs/docsite/rst/plugins/netconf.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/playbooks_advanced_syntax.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_special_topics.rst
  lib/ansible/plugins/inventory/toml.py
Labels: affects_2.10, backport, bug, core_review, docs, docsite, needs_triage, networking, support:community, support:core

#71270 Move 2.10.0rc1 release date a few days forward.
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71082 [doc] Porting guide 2.10 Fix code markups and add link to CVE
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#70501 Allow callbacks from forks
  changelogs/fragments/14681-allow-callbacks-from-forks.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/executor/task_executor.py
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/plugins/callback/default.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/utils/lock.py
  test/integration/targets/async/callback_test.yml
  test/integration/targets/async/tasks/main.yml
Labels: affects_2.11, core_review, feature, has_issue, support:community, support:core

#71197 Supports new systemctl output message for chroot
  changelogs/fragments/71197-systemctl-ignore-message.yaml
  lib/ansible/modules/systemd.py
  test/integration/targets/systemd/tasks/main.yml
Labels: affects_2.11, bug, core_review, module, new_contributor, support:community, support:core, system

#71205 Allow checksum file to be local file:// url
  changelogs/fragments/71205_get_url_allow_checksum_file_url.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.11, bug, core_review, module, net_tools, new_contributor, support:community, support:core

#71305 developing_modules_in_groups.rst: add note about releasing
  docs/docsite/rst/dev_guide/developing_modules_in_groups.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#71303 overview_architecture.rst: fix playbook example
  docs/docsite/rst/dev_guide/overview_architecture.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#71276 Update auto-generated 2.10 porting guide in devel.
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#71275 Fix roadmap formatting.
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71256 Fix 404 links
  docs/docsite/rst/dev_guide/testing_units.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_docker.rst
  docs/docsite/rst/scenario_guides/guide_infoblox.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_external_doc_links.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.11, azure, cloud, core_review, docker, docs, docsite, has_issue, support:core

#71090 [stable-2.10] fix collection package root location under pytest >=6
  changelogs/fragments/ansible-test-pytest-cap-revert.yml
  changelogs/fragments/pytest-collections-fix.yml
  test/lib/ansible_test/_data/pytest/plugins/ansible_pytest_collections.py
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, bug, core_review, stale_ci, support:community, support:core, test

#71079 [stable-2.10] Fix ansible-test self-test change classification.
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.10, backport, bug, core_review, stale_ci, support:core, test

#71310 Don't do conflict check on sdist and egg_info
  changelogs/fragments/71279-skip-conflict-check.yml
  setup.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core
