Repository ansible/ansible, pull requests merged in 2020-09, with the labels that each got.

#71550 [tests] fix fallout from dnf gpg fix
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/yum/tasks/repo.yml
  test/integration/targets/yum/tasks/yum.yml
  test/integration/targets/yum_repository/tasks/yum_repository_fedora.yml
Labels: affects_2.8, backport, core_review, needs_triage, packaging, support:core, test

#71551 [tests] fix fallout from dnf gpg fix
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/yum/tasks/repo.yml
  test/integration/targets/yum/tasks/yum.yml
  test/integration/targets/yum_repository/tasks/main.yml
Labels: affects_2.9, backport, core_review, needs_triage, packaging, support:core, test

#71514 Attempt at reverting CVE-2020-1736 changes [2.10]
  changelogs/fragments/cve-2020-1736-revert.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/file.py
  test/integration/targets/apt_repository/tasks/mode.yaml
  test/integration/targets/module_utils_basic/aliases
  test/integration/targets/module_utils_basic/library/test_perm_warning.py
  test/integration/targets/module_utils_basic/meta/main.yml
  test/integration/targets/module_utils_basic/tasks/main.yml
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.10, backport, bug, docs, needs_revision, needs_triage, packaging, support:community, support:core

#69345 Add tests for ignore functionality of collection build
  test/integration/targets/ansible-galaxy-collection/tasks/build.yml
  test/integration/targets/ansible-galaxy-collection/tasks/init.yml
Labels: P3, affects_2.10, community_review, feature, stale_ci, support:community

#71223 testing_sanity.rst: add argument for running in docker
  docs/docsite/rst/dev_guide/testing_sanity.rst
Labels: affects_2.11, core_review, docs, docsite, has_issue, python3, support:core, traceback

#71480 DOCS: Mentions ansible-base, adds collections pointers to Community and Dev Guides
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/community/how_can_I_help.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/dev_guide/developing_core.rst
  docs/docsite/rst/dev_guide/developing_locally.rst
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
  docs/docsite/rst/dev_guide/developing_rebasing.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/openstack_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
Labels: aci, affects_2.11, cisco, collection, core_review, docs, docsite, needs_triage, networking, support:core

#71553 User guide overhaul, Table of Contents
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro.rst
  docs/docsite/rst/user_guide/playbooks.rst
  docs/docsite/rst/user_guide/playbooks_handlers.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
  docs/docsite/rst/user_guide/playbooks_special_topics.rst
Labels: affects_2.11, core_review, docs, support:core

#71569 Use new endpoint for Parallels based instances.
  changelogs/fragments/ansible-test-parallels-endpoint.yml
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#71572 [stable-2.10] Update ansible-test remote endpoint handling. (#71413)
  changelogs/fragments/ansible-test-endpoint-update.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#71580 [docs] Fix up porting guides for CVE revert
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#71581 [docs] Fix up porting guides for CVE revert
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#71584 [stable-2.10] Update the porting guide for ansible-2.10.0b1 (#71583).
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#71582 [docs] Fix up porting guides for CVE revert [2.9]
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
Labels: affects_2.9, backport, core_review, docs, needs_triage, support:core

#71578 [stable-2.10] Fix ansible-test coverage traceback. (#71446)
  changelogs/fragments/ansible-test-coverage-py26.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/sanity/ignore.txt
  test/integration/targets/ansible-test/collection-tests/coverage.sh
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/coverage/__init__.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#71585 [stable-2.10] Support macOS 10.15 for ansible-test --remote.
  changelogs/fragments/ansible-test-macos-10.15.yml
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_data/setup/remote.sh
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/manage_ci.py
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#71592 Docsite: improve spelling_word_choice.rst
  docs/docsite/rst/dev_guide/style_guide/spelling_word_choice.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#71590 Docsite: improve developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#71518 [tests] Bump container versions
  changelogs/fragments/default-test-container160.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, core_review, python3, support:community, support:core, test

#71564 [yum tests] add missing "always" block
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.11, core_review, needs_triage, packaging, support:core

#71567 update backport instructions for 2.11
  docs/docsite/rst/community/development_process.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#71597 More docs updates to reflect collections ecosystem
  docs/docsite/rst/user_guide/become.rst
  docs/docsite/rst/user_guide/modules_intro.rst
  docs/docsite/rst/user_guide/modules_support.rst
  docs/docsite/rst/user_guide/shared_snippets/with2loop.txt
Labels: affects_2.11, core_review, docs, support:core

#71566 add skeleton ansible 2.11 roadmap
  docs/docsite/rst/roadmap/COLLECTIONS_2_11.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#71598 [2.10] [tests] Bump container versions (#71518)
  changelogs/fragments/default-test-container160.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, backport, core_review, needs_triage, python3, support:community, support:core, test

#71605 [Doc-Release-2.10][2.7] eol the 2.7 release (#64118)
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
  docs/docsite/rst/conf.py
Labels: affects_2.7, backport, core_review, docs, support:core

#71495 Remove incidental_postgresql_user tests
  test/integration/targets/incidental_postgresql_user/aliases
  test/integration/targets/incidental_postgresql_user/defaults/main.yml
  test/integration/targets/incidental_postgresql_user/meta/main.yml
  test/integration/targets/incidental_postgresql_user/tasks/main.yml
  test/integration/targets/incidental_postgresql_user/tasks/postgresql_user_general.yml
  test/integration/targets/incidental_postgresql_user/tasks/postgresql_user_initial.yml
  test/integration/targets/incidental_postgresql_user/tasks/test_no_password_change.yml
  test/integration/targets/incidental_postgresql_user/tasks/test_password.yml
  test/integration/targets/incidental_setup_postgresql_db/aliases
  test/integration/targets/incidental_setup_postgresql_db/defaults/main.yml
  test/integration/targets/incidental_setup_postgresql_db/files/dummy--1.0.sql
  test/integration/targets/incidental_setup_postgresql_db/files/dummy--2.0.sql
  test/integration/targets/incidental_setup_postgresql_db/files/dummy--3.0.sql
  test/integration/targets/incidental_setup_postgresql_db/files/dummy.control
  test/integration/targets/incidental_setup_postgresql_db/files/pg_hba.conf
  test/integration/targets/incidental_setup_postgresql_db/tasks/main.yml
  test/integration/targets/incidental_setup_postgresql_db/tasks/ssl.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Debian-8.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/FreeBSD-11-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/FreeBSD-11.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/FreeBSD-12.0-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/FreeBSD-12.0.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/FreeBSD-12.1-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/FreeBSD-12.1.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/RedHat-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/RedHat.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Ubuntu-12.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Ubuntu-14.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Ubuntu-16-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Ubuntu-16.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Ubuntu-18-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/default-py3.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/default.yml
Labels: affects_2.11, bug, community_review, support:community, test

#71573 Use InventoryManager for inventory_hostnames lookup
  changelogs/fragments/17268-inventory-hostnames.yml
  lib/ansible/inventory/manager.py
  lib/ansible/plugins/lookup/inventory_hostnames.py
  test/integration/targets/lookup_inventory_hostnames/main.yml
Labels: affects_2.11, bug, core_review, inventory, needs_triage, support:community, support:core

#71608 [stable-2.10] Use new endpoint for Parallels based instances.
  changelogs/fragments/ansible-test-parallels-endpoint.yml
  test/lib/ansible_test/_internal/core_ci.py
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#71610 Add pause to avoid same mtime in test.
  test/integration/targets/file/tasks/directory_as_dest.yml
Labels: affects_2.11, bug, core_review, files, support:core

#68560 Force template module to use non-native Jinja2
  changelogs/fragments/46169-non-native-template-module.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  lib/ansible/plugins/action/template.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/template/__init__.py
  lib/ansible/template/native_helpers.py
  lib/ansible/utils/native_jinja.py
  lib/ansible/utils/unsafe_proxy.py
  test/integration/targets/template_jinja2_non_native/46169.yml
  test/integration/targets/template_jinja2_non_native/aliases
  test/integration/targets/template_jinja2_non_native/runme.sh
  test/integration/targets/template_jinja2_non_native/templates/46169.json.j2
Labels: affects_2.10, core_review, docs, feature, native_jinja, support:community, support:core

#69640 file: module should warn in check_mode when path and owner/group don't exist
  changelogs/fragments/69640-file_should_warn_when_path_and_owner_or_group_dont_exist.yml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.10, bug, core_review, files, module, support:community, support:core

#71614 [stable-2.9] Backport ansible-test CI provider support.
  changelogs/fragments/69508-ansible-test-local-changes-detection.yml
  changelogs/fragments/ansible-test-ci-support-azure.yml
  changelogs/fragments/ansible-test-ci-support-shippable-auth.yml
  changelogs/fragments/ansible-test-ci-support.yml
  changelogs/fragments/ansible-test-coverage-py26.yml
  changelogs/fragments/ansible-test-endpoint-update.yml
  changelogs/fragments/ansible-test-parallels-endpoint.yml
  test/integration/targets/file/tasks/directory_as_dest.yml
  test/lib/ansible_test/_internal/changes.py
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/ci/shippable.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/__init__.py
  test/lib/ansible_test/_internal/cloud/aws.py
  test/lib/ansible_test/_internal/cloud/azure.py
  test/lib/ansible_test/_internal/cloud/cs.py
  test/lib/ansible_test/_internal/cloud/hcloud.py
  test/lib/ansible_test/_internal/cloud/tower.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/cover.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/encoding.py
  test/lib/ansible_test/_internal/env.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_internal/sanity/validate_modules.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/units/ansible_test/__init__.py
  test/units/ansible_test/ci/__init__.py
  test/units/ansible_test/ci/test_azp.py
  test/units/ansible_test/ci/test_shippable.py
  test/units/ansible_test/ci/util.py
  test/units/ansible_test/conftest.py
Labels: affects_2.9, backport, core_review, feature, files, support:community, support:core, test

#71513 Ensure we clean up if an exception kills strategy.run
  changelogs/fragments/23958-cleanup.yml
  lib/ansible/executor/task_queue_manager.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#71587 [2.10] testing_sanity.rst: add argument for running in docker (#71223)
  docs/docsite/rst/dev_guide/testing_sanity.rst
Labels: affects_2.10, backport, core_review, docs, docsite, small_patch, support:core

#71613 [2.10] Docsite: improve developing_modules_documenting.rst (#71590)
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.10, backport, core_review, docs, docsite, support:core

#71588 Docsite: replace Latin phrases to English
  docs/docsite/rst/community/committer_guidelines.rst
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/index.rst
  docs/docsite/rst/dev_guide/module_lifecycle.rst
  docs/docsite/rst/dev_guide/overview_architecture.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/style_guide/basic_rules.rst
  docs/docsite/rst/dev_guide/style_guide/grammar_punctuation.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_integration_legacy.rst
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
  docs/docsite/rst/plugins/become.rst
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.5.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/reference_appendices/common_return_values.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/glossary.rst
  docs/docsite/rst/reference_appendices/interpreter_discovery.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
  docs/docsite/rst/roadmap/ROADMAP_2_5.rst
  docs/docsite/rst/roadmap/ansible_base_roadmap_index.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_cloudstack.rst
  docs/docsite/rst/scenario_guides/guide_docker.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/scenario_guides/guide_rax.rst
  docs/docsite/rst/scenario_guides/guide_scaleway.rst
  docs/docsite/rst/scenario_guides/guide_vultr.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst
  docs/docsite/rst/user_guide/become.rst
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/connection_details.rst
  docs/docsite/rst/user_guide/guide_rolling_upgrade.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/playbook_pathing.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  docs/docsite/rst/user_guide/playbooks_reuse.rst
  docs/docsite/rst/user_guide/playbooks_strategies.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
  docs/docsite/rst/user_guide/vault.rst
Labels: affects_2.11, core_review, docs, needs_rebase, needs_revision

#71609 AnsibleVaultEncryptedUnicode should be considered a string
  changelogs/fragments/71609-is_string-vault.yml
  lib/ansible/module_utils/common/collections.py
  lib/ansible/module_utils/common/json.py
  test/units/module_utils/common/test_collections.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#71621 [docs][backport]Backportapalooza 10
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/community/how_can_I_help.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/dev_guide/developing_core.rst
  docs/docsite/rst/dev_guide/developing_locally.rst
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
  docs/docsite/rst/dev_guide/developing_rebasing.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/openstack_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
  docs/docsite/rst/dev_guide/testing_sanity.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
  docs/docsite/rst/user_guide/become.rst
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro.rst
  docs/docsite/rst/user_guide/intro_patterns.rst
  docs/docsite/rst/user_guide/modules_intro.rst
  docs/docsite/rst/user_guide/modules_support.rst
  docs/docsite/rst/user_guide/playbooks.rst
  docs/docsite/rst/user_guide/playbooks_handlers.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
  docs/docsite/rst/user_guide/playbooks_special_topics.rst
  docs/docsite/rst/user_guide/shared_snippets/with2loop.txt
  lib/ansible/cli/vault.py
Labels: aci, affects_2.10, backport, cisco, core_review, docs, docsite, networking, support:core

#71625 [stable-2.8] Backport ansible-test CI provider support.
  changelogs/fragments/69508-ansible-test-local-changes-detection.yml
  changelogs/fragments/ansible-test-ci-support-azure.yml
  changelogs/fragments/ansible-test-ci-support-shippable-auth.yml
  changelogs/fragments/ansible-test-ci-support.yml
  changelogs/fragments/ansible-test-endpoint-update.yml
  changelogs/fragments/ansible-test-parallels-endpoint.yml
  test/integration/targets/file/tasks/directory_as_dest.yml
  test/runner/lib/changes.py
  test/runner/lib/ci/__init__.py
  test/runner/lib/ci/azp.py
  test/runner/lib/ci/local.py
  test/runner/lib/ci/shippable.py
  test/runner/lib/cli.py
  test/runner/lib/cloud/__init__.py
  test/runner/lib/cloud/aws.py
  test/runner/lib/cloud/azure.py
  test/runner/lib/cloud/cs.py
  test/runner/lib/cloud/hcloud.py
  test/runner/lib/cloud/tower.py
  test/runner/lib/config.py
  test/runner/lib/core_ci.py
  test/runner/lib/delegation.py
  test/runner/lib/encoding.py
  test/runner/lib/env.py
  test/runner/lib/executor.py
  test/runner/lib/io.py
  test/runner/lib/metadata.py
  test/runner/lib/sanity/validate_modules.py
  test/runner/lib/test.py
  test/runner/lib/types.py
  test/runner/lib/util.py
  test/sanity/pylint/config/ansible-test
  test/units/ansible_test/__init__.py
  test/units/ansible_test/ci/__init__.py
  test/units/ansible_test/ci/test_azp.py
  test/units/ansible_test/ci/test_shippable.py
  test/units/ansible_test/ci/util.py
  test/units/ansible_test/conftest.py
Labels: affects_2.8, backport, core_review, feature, files, support:community, support:core, test

#71638 Add note on where inventory scripts moved to
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71639 clarify that collection names use same requirements as namespaces
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.11, core_review, docs, docsite, needs_triage, small_patch, support:core

#71647 Update to the ansible-2.10.0 pre-release schedule
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#71648 [stable-2.10] Update to the ansible-2.10.0 pre-release schedule (#71647)
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, small_patch, support:core

#71649 psrp - fix hang when copying an empty file
  changelogs/fragments/psrp-copy-empty-file.yml
  lib/ansible/plugins/connection/psrp.py
  test/integration/targets/connection_psrp/files/empty.txt
  test/integration/targets/connection_psrp/tests.yml
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, windows

#71600 Add semver support to the jinja2 version test
  changelogs/fragments/version-test-semver.yml
  docs/docsite/rst/user_guide/playbooks_tests.rst
  lib/ansible/plugins/test/core.py
  test/integration/targets/test_core/tasks/main.yml
Labels: affects_2.11, docs, feature, shipit, support:community, support:core, test

#71677 Update the porting guide for 2.10.0b2
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71684 Update the porting guide for 2.10.0b2 (#71677)
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.10, backport, docs

#71652 Fix typo in documentation
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core

#71656 Changed all_modules references to list_of_collections in the document…
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/reference_appendices/common_return_values.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
  docs/docsite/rst/scenario_guides/guide_aws.rst
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
  docs/docsite/rst/user_guide/playbooks_reuse_includes.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/sample_setup.rst
Labels: affects_2.11, aws, cloud, core_review, docs, docsite, new_contributor, support:core

#71632 Backport documentation correction to 2.9
  lib/ansible/plugins/doc_fragments/files.py
Labels: affects_2.9, backport, community_review, docs, feature, has_issue, needs_triage, small_patch, support:community

#71633 Backport documentation correction to 2.8
  lib/ansible/plugins/doc_fragments/files.py
Labels: affects_2.8, backport, community_review, docs, feature, has_issue, small_patch, support:community

#71606 Adds FAQ and other pointers for collections
  docs/docsite/README.md
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/user_guide/collections_using.rst
Labels: affects_2.11, core_review, docs, support:core

#68551 Allow list of filters for the setup module
  changelogs/fragments/68551_allow_list_of_filters_for_the_setup_module.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  lib/ansible/module_utils/facts/ansible_collector.py
  lib/ansible/modules/setup.py
  test/integration/targets/gathering_facts/test_gathering_facts.yml
  test/sanity/ignore.txt
Labels: affects_2.10, collection, docs, feature, module, new_contributor, shipit, support:community, support:core, system, test

#71694 Docsite: add reference to Style guide
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#71688 Docs(lineinfile): Update link to python regex docs
  lib/ansible/modules/lineinfile.py
Labels: affects_2.11, core_review, docs, files, module, small_patch, support:core

#71702 [Docs][2.10] Backportapalooza 11
  docs/docsite/README.md
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
  docs/docsite/rst/reference_appendices/common_return_values.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
  docs/docsite/rst/scenario_guides/guide_aws.rst
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
  docs/docsite/rst/user_guide/playbooks_reuse_includes.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/sample_setup.rst
  lib/ansible/modules/lineinfile.py
Labels: affects_2.10, aws, backport, cloud, core_review, docs, docsite, files, module, support:core

#71701 Fix typo in the documentation
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, small_patch, support:core

#71523 Add how to run unit test link in testing_units_modules doc
  docs/docsite/rst/dev_guide/testing.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#71699 Fix with_dict/with_list being passed incorrect type tests
  test/integration/targets/loops/tasks/main.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#71682 don't set warn = True, it will be overwritten in the next line
  lib/ansible/inventory/group.py
Labels: affects_2.11, bug, core_review, inventory, needs_triage, small_patch, support:core

#71740 Remove em dash from the pytest configuration file
  changelogs/fragments/71739-remove-em-dash-from-pytest-config.yml
  test/lib/ansible_test/_data/pytest.ini
Labels: affects_2.11, bug, core_review, python3, support:community, support:core, test

#71727 fix coverage output from synthetic packages
  changelogs/fragments/fix_bogus_coverage.yml
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#71714 runas - create new SYSTEM token on become
  changelogs/fragments/runas-become-system-privileges.yml
  lib/ansible/module_utils/csharp/Ansible.Become.cs
Labels: affects_2.11, bug, core_review, has_issue, needs_triage, support:community, support:core, windows

#71663 distro: Add support for Pardus distribution
  changelogs/fragments/71636_distro.yml
  lib/ansible/module_utils/facts/system/distribution.py
  lib/ansible/modules/hostname.py
  test/units/module_utils/facts/system/distribution/fixtures/pardus_19.1.json
Labels: affects_2.11, core_review, feature, module, support:community, support:core, system

#71717 Docsite: fix a typo in user_guide/index.rst
  docs/docsite/rst/user_guide/index.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71722 Fix passing the connection timeout to connection plugins
  changelogs/fragments/71722-fix-default-connection-timeout.yaml
  docs/docsite/rst/dev_guide/developing_plugins.rst
  lib/ansible/executor/task_executor.py
Labels: affects_2.11, bug, core_review, docs, docsite, needs_triage, support:community, support:core

#71726 [dnf] accumulate update filters
  changelogs/fragments/70854-dnf-mutually-exclusive-filters.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/filters.yml
  test/integration/targets/dnf/tasks/filters_check_mode.yml
  test/integration/targets/dnf/tasks/main.yml
Labels: affects_2.11, bug, core_review, module, needs_triage, packaging, support:community, support:core

#71718 Docsite: update playbooks_loops.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  docs/docsite/rst/user_guide/shared_snippets/with2loop.txt
Labels: affects_2.11, core_review, docs, support:core

#71697 Docsite: misc fixes
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#71737 Fix typo in developing_plugins_network
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
Labels: affects_2.11, core_review, docs, docsite, networking, new_contributor, small_patch, support:core

#71728 Fix broken bullet list
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#71705 Fixed invalid urls inside guide_packet.rst and collections_using.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
Labels: affects_2.11, core_review, docs, new_contributor, support:core

#71670 vmware: Add docs for filters
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_filters.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_hostnames.rst
Labels: affects_2.11, cloud, core_review, docs, docsite, support:core, vmware

#71640 [docs] add porting guide for DNF GPG validation
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#71767 incidental_setup_openssl - Pin version of Python packages
  test/integration/targets/incidental_setup_openssl/tasks/main.yml
Labels: affects_2.11, core_review, support:core, test

#71775 Add integration coverage to replace hash_vault and consul_session
  test/integration/targets/group/tasks/tests.yml
  test/integration/targets/lookup_dict/tasks/main.yml
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, system

#71772 Docsite: fix user_guide/playbooks_environment
  docs/docsite/rst/user_guide/playbooks_environment.rst
Labels: affects_2.11, core_review, docs, support:core

#71771 Docsite: fix user_guide/playbooks_error_handling
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
Labels: affects_2.11, core_review, docs, support:core

#71770 Docsite: fix user_guide/playbooks_handlers
  docs/docsite/rst/user_guide/playbooks_handlers.rst
Labels: affects_2.11, core_review, docs, support:core

#71769 Docsite: fix user_guide/playbooks_blocks
  docs/docsite/rst/user_guide/playbooks_blocks.rst
Labels: affects_2.11, core_review, docs, support:core

#71754 Docsite: fix playbooks_conditionals
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.11, core_review, docs, support:core

#71753 Docsite: misc fixes of playbooks_delegation
  docs/docsite/rst/user_guide/playbooks_delegation.rst
Labels: affects_2.11, core_review, docs, support:core

#71776 Remove incidental_synchronize tests
  test/integration/targets/incidental_synchronize/aliases
  test/integration/targets/incidental_synchronize/files/bar.txt
  test/integration/targets/incidental_synchronize/files/foo.txt
  test/integration/targets/incidental_synchronize/tasks/main.yml
  test/sanity/ignore.txt
  test/support/integration/plugins/modules/synchronize.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#71774 [stable-2.10] incidental_setup_openssl - Pin version of Python packages
  test/integration/targets/incidental_setup_openssl/tasks/main.yml
Labels: affects_2.10, backport, core_review, support:core, test

#71778 [stable-2.8] setup_openssl - Pin version of Python packages
  test/integration/targets/setup_openssl/tasks/main.yml
Labels: affects_2.8, backport, collection, collection:community.crypto, collection:community.general, core_review, crypto, support:core, test

#71777 [stable-2.9] setup_openssl - Pin version of Python packages
  test/integration/targets/setup_openssl/tasks/main.yml
Labels: affects_2.9, backport, collection, collection:community.crypto, collection:community.general, core_review, crypto, support:core, test

#71791 setup - update docs for win setup fact_path
  lib/ansible/modules/setup.py
Labels: affects_2.11, core_review, docs, has_issue, module, support:core, system

#71788 Remove incidentals without coverage
  test/integration/targets/incidental_connection_chroot/aliases
  test/integration/targets/incidental_connection_chroot/runme.sh
  test/integration/targets/incidental_connection_chroot/test_connection.inventory
  test/integration/targets/incidental_lookup_hashi_vault/aliases
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/defaults/main.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/tasks/approle_setup.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/tasks/approle_test.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/tasks/main.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/tasks/tests.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/tasks/token_setup.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/tasks/token_test.yml
  test/integration/targets/incidental_lookup_hashi_vault/lookup_hashi_vault/templates/vault_config.hcl.j2
  test/integration/targets/incidental_lookup_hashi_vault/playbooks/install_dependencies.yml
  test/integration/targets/incidental_lookup_hashi_vault/playbooks/test_lookup_hashi_vault.yml
  test/integration/targets/incidental_lookup_hashi_vault/runme.sh
  test/integration/targets/incidental_selinux/aliases
  test/integration/targets/incidental_selinux/tasks/main.yml
  test/integration/targets/incidental_selinux/tasks/selinux.yml
  test/integration/targets/incidental_selinux/tasks/selogin.yml
  test/integration/targets/incidental_win_hosts/aliases
  test/integration/targets/incidental_win_hosts/defaults/main.yml
  test/integration/targets/incidental_win_hosts/meta/main.yml
  test/integration/targets/incidental_win_hosts/tasks/main.yml
  test/integration/targets/incidental_win_hosts/tasks/tests.yml
  test/support/integration/plugins/connection/chroot.py
  test/support/integration/plugins/lookup/hashi_vault.py
  test/support/integration/plugins/modules/selinux.py
  test/support/windows-integration/plugins/modules/win_hosts.ps1
  test/support/windows-integration/plugins/modules/win_hosts.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#71820 [stable-2.8] openssl_privatekey test - Add pause for macOS
  test/integration/targets/openssl_privatekey/tasks/impl.yml
Labels: affects_2.8, backport, collection, collection:community.crypto, core_review, crypto, support:core, test

#71819 [stable-2.9] openssl_privatekey test - Add pause for macOS
  test/integration/targets/openssl_privatekey/tasks/impl.yml
Labels: affects_2.9, backport, collection, collection:community.crypto, core_review, crypto, support:core, test

#71834 Docsite: improve user_guide/playbooks_reuse
  docs/docsite/rst/user_guide/playbooks_reuse.rst
Labels: affects_2.11, core_review, docs, support:core

#71732 [2.9] Redirect inventory script links
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_infoblox.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
Labels: affects_2.9, azure, backport, cloud, core_review, docs, docsite, needs_triage, support:core

#71768 [2.10] Doc fixes backporting 71697, 71718, 71717
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  docs/docsite/rst/user_guide/shared_snippets/with2loop.txt
Labels: affects_2.10, backport, core_review, docs, docsite, needs_triage, support:core

#71799 setup - update docs for win setup fact_path (#71791) - 2.10
  lib/ansible/modules/setup.py
Labels: affects_2.10, backport, core_review, docs, module, needs_triage, support:core, system

#71838 Update EXAMPLES in package_facts.py documentation
  lib/ansible/modules/package_facts.py
Labels: affects_2.11, core_review, docs, module, packaging, small_patch, support:core

#71807 [2.10] Doc backports: 71753, 71754, 71769, 71770, 71771, 71772
  docs/docsite/rst/user_guide/playbooks_blocks.rst
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
  docs/docsite/rst/user_guide/playbooks_delegation.rst
  docs/docsite/rst/user_guide/playbooks_environment.rst
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
  docs/docsite/rst/user_guide/playbooks_handlers.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#71840 change duplicated label
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.11, core_review, docs, support:core

#71842 [Docs][backport][2.10] Backportapalooza 12
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_2.9.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_filters.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_hostnames.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
  lib/ansible/modules/package_facts.py
Labels: affects_2.10, backport, cloud, core_review, docs, docsite, module, needs_triage, networking, packaging, support:core, vmware

#71843 Fix attribute testing in file integration test.
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.11, core_review, files, support:core

#71846 [stable-2.10] Fix attribute testing in file integration test. (#71843)
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.10, backport, core_review, files, support:core

#71847 [stable-2.9] Fix attribute testing in file integration test. (#71843)
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.9, backport, core_review, files, support:core

#71848 [stable-2.8] Fix attribute testing in file integration test. (#71843)
  test/integration/targets/file/tasks/main.yml
Labels: affects_2.8, backport, core_review, files, support:core

#71852 Fix hostname test on docker.
  test/integration/targets/hostname/tasks/main.yml
Labels: affects_2.11, core_review, support:core, system

#71849 Test changes to allow using "macos" test image
  test/integration/targets/ansible-runner/aliases
  test/integration/targets/apt/aliases
  test/integration/targets/apt_key/aliases
  test/integration/targets/apt_repository/aliases
  test/integration/targets/connection_delegation/aliases
  test/integration/targets/cron/aliases
  test/integration/targets/dnf/aliases
  test/integration/targets/dpkg_selections/aliases
  test/integration/targets/facts_linux_network/aliases
  test/integration/targets/hostname/aliases
  test/integration/targets/incidental_cloud_init_data_facts/aliases
  test/integration/targets/incidental_flatpak_remote/aliases
  test/integration/targets/incidental_inventory_docker_swarm/aliases
  test/integration/targets/incidental_mongodb_parameter/aliases
  test/integration/targets/incidental_setup_zabbix/aliases
  test/integration/targets/incidental_timezone/aliases
  test/integration/targets/incidental_ufw/aliases
  test/integration/targets/incidental_zabbix_host/aliases
  test/integration/targets/module_no_log/aliases
  test/integration/targets/old_style_cache_plugins/aliases
  test/integration/targets/package_facts/aliases
  test/integration/targets/service/aliases
  test/integration/targets/service_facts/aliases
  test/integration/targets/subversion/aliases
  test/integration/targets/yum/aliases
  test/utils/shippable/macos.sh
Labels: affects_2.11, collection, collection:amazon.aws, collection:ansible.posix, collection:ansible.windows, collection:azure.azcollection, collection:community.aws, collection:community.crypto, collection:community.general, collection:community.internal_test_tools, collection:community.libvirt, collection:community.network, collection:community.rabbitmq, collection:community.windows, collection:hetzner.hcloud, core_review, needs_triage, packaging, source_control, support:community, support:core, system, test

#71666 Provide more information in AnsibleUndefinedVariable
  changelogs/fragments/55152-add-more-info-to-AnsibleUndefinedVariable.yml
  lib/ansible/template/vars.py
  test/integration/targets/template/runme.sh
  test/integration/targets/template/undefined_var_info.yml
Labels: affects_2.11, bug, core_review, files, support:community, support:core

#71811 Remove incidental_consul tests
  test/integration/targets/argspec/aliases
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/incidental_consul/aliases
  test/integration/targets/incidental_consul/meta/main.yml
  test/integration/targets/incidental_consul/tasks/consul_session.yml
  test/integration/targets/incidental_consul/tasks/main.yml
  test/integration/targets/incidental_consul/templates/consul_config.hcl.j2
  test/integration/targets/incidental_setup_openssl/aliases
  test/integration/targets/incidental_setup_openssl/tasks/main.yml
  test/integration/targets/incidental_setup_openssl/vars/Debian.yml
  test/integration/targets/incidental_setup_openssl/vars/FreeBSD.yml
  test/integration/targets/incidental_setup_openssl/vars/RedHat.yml
  test/integration/targets/incidental_setup_openssl/vars/Suse.yml
  test/support/integration/plugins/modules/consul_session.py
  test/support/integration/plugins/modules/openssl_certificate.py
  test/support/integration/plugins/modules/openssl_certificate_info.py
  test/support/integration/plugins/modules/openssl_csr.py
  test/support/integration/plugins/modules/openssl_privatekey.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#71821 [default callback] Show include_tasks task banner
  changelogs/fragments/71277-include_tasks-show-name-with-free-strategy.yml
  lib/ansible/plugins/callback/default.py
  test/integration/targets/callback_default/callback_default.out.default.stdout
  test/integration/targets/callback_default/callback_default.out.failed_to_stderr.stdout
  test/integration/targets/callback_default/callback_default.out.hide_ok.stdout
  test/integration/targets/callback_default/callback_default.out.hide_skipped.stdout
  test/integration/targets/callback_default/callback_default.out.hide_skipped_ok.stdout
  test/integration/targets/callback_default/test.yml
  test/integration/targets/callback_default/test_dryrun.yml
Labels: affects_2.11, bug, core_review, support:community, support:core

#71497 add cli parser documentation
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
  docs/docsite/rst/network/user_guide/cli_parsing.rst
  docs/docsite/rst/network/user_guide/index.rst
Labels: affects_2.11, docs, docsite, merge_commit, needs_rebase, networking, support:core

#71839 update version switcher for 2.10 release
  docs/docsite/rst/conf.py
Labels: affects_2.11, core_review, docs, small_patch, support:core

#71864 [backport][2.10] add cli parser documentation (#71497)
  docs/docsite/rst/network/dev_guide/developing_plugins_network.rst
  docs/docsite/rst/network/user_guide/cli_parsing.rst
  docs/docsite/rst/network/user_guide/index.rst
Labels: affects_2.10, backport, core_review, docs, docsite, needs_triage, networking, support:core

#71868 [backport][2.10]Update the porting guide for a new ansible version (#71863)
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#71866 [backport][2.10] update version switcher for 2.10 release
  docs/docsite/rst/conf.py
Labels: affects_2.10, backport, core_review, docs, needs_triage, small_patch, support:core

#71867 [backport][2.9] update version switcher for 2.10 release
  docs/docsite/rst/conf.py
Labels: affects_2.9, backport, core_review, docs, needs_triage, small_patch, support:core

#71869 [backport][2.8] update version switcher for 2.10 release
  docs/docsite/rst/conf.py
Labels: affects_2.8, backport, core_review, docs, needs_triage, small_patch, support:core

#70319 Reduce ignored module sanity tests
  changelogs/fragments/70319-reduce-ignored-module-sanity-tests.yml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/apt.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/command.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/dpkg_selections.py
  lib/ansible/modules/expect.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/getent.py
  lib/ansible/modules/git.py
  lib/ansible/modules/hostname.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/known_hosts.py
  lib/ansible/modules/package_facts.py
  lib/ansible/modules/pip.py
  lib/ansible/modules/rpm_key.py
  lib/ansible/modules/setup.py
  lib/ansible/modules/subversion.py
  lib/ansible/modules/systemd.py
  lib/ansible/modules/sysvinit.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/modules/user.py
  lib/ansible/modules/wait_for.py
  lib/ansible/modules/yum.py
  lib/ansible/modules/yum_repository.py
  test/sanity/ignore.txt
Labels: affects_2.11, bug, commands, core_review, files, has_issue, m:unarchive, module, net_tools, packaging, source_control, support:community, support:core, system, test, utilities

#71851 Update intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, needs_triage, new_contributor, support:core

#71845 Let get_file_attributes() work without `lsattr -v`
  changelogs/fragments/get_file_attributes-without-lsattr-version.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/file/tasks/main.yml
  test/units/module_utils/basic/test_get_file_attributes.py
Labels: affects_2.11, bug, core_review, files, needs_triage, support:community, support:core

#71870 fix version label to 2.10
  docs/docsite/rst/conf.py
Labels: affects_2.10, backport, docs, needs_revision, needs_triage, small_patch, support:core

#71805 dnf: Add Fedora 32 to nobest test
  test/integration/targets/dnf/tasks/main.yml
Labels: affects_2.11, core_review, packaging, support:core

#71893 hacking: fix announce script version parsing (#71008)
  hacking/build_library/build_ansible/announce.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core

#71897 [incidental_setup_docker] changes to upstream repo
  test/integration/targets/incidental_setup_docker/tasks/RedHat-7.yml
  test/integration/targets/incidental_setup_docker/tasks/RedHat-8.yml
  test/integration/targets/incidental_setup_docker/vars/RedHat-8.yml
Labels: affects_2.11, community_review, needs_triage, support:community, test

#71901 [2.8] [incidental_setup_docker] changes to upstream repo (#71897)
  test/integration/targets/setup_docker/tasks/RedHat-7.yml
  test/integration/targets/setup_docker/tasks/RedHat-8.yml
  test/integration/targets/setup_docker/vars/RedHat-8.yml
Labels: affects_2.8, backport, cloud, collection, collection:community.general, core_review, docker, needs_triage, support:core, test

#71899 [2.10] [incidental_setup_docker] changes to upstream repo (#71897)
  test/integration/targets/incidental_setup_docker/tasks/RedHat-7.yml
  test/integration/targets/incidental_setup_docker/tasks/RedHat-8.yml
  test/integration/targets/incidental_setup_docker/vars/RedHat-8.yml
Labels: affects_2.10, backport, community_review, needs_triage, support:community, test

#71816 clarify FQCN use for playbooks
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
Labels: affects_2.11, core_review, docs, support:core

#71813 add new glossary terms for 2.10
  docs/docsite/rst/reference_appendices/glossary.rst
Labels: affects_2.11, core_review, docs, support:core

#71891 remove release download from install instructions
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#71892 clarify releases download for older releases only
  README.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#71909 Docsite: improve user_guide/intro_adhoc
  docs/docsite/rst/user_guide/intro_adhoc.rst
Labels: affects_2.11, core_review, docs, support:core

#71908 Add example values and results for theory filters
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, support:core

#71854 Docsite: update Migrating Ansible content to a different collection
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.11, core_review, docs, docsite, has_issue, support:core

#71857 Docsite: improve user_guide/playbooks_reuse_roles
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.11, core_review, docs, support:core

#71858 Docsite: improve user_guide/playbooks_tags
  docs/docsite/rst/user_guide/playbooks_tags.rst
Labels: affects_2.11, core_review, docs, support:core

#71859 Docsite: improve user_guide/intro_inventory
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.11, core_review, docs, support:core

#71862 [2.8] Redirect inventory script links
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_infoblox.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
Labels: affects_2.8, azure, backport, cloud, core_review, docs, docsite, has_issue, support:core

#71880 Update playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#71922 [backport][2.10] update install instructions for pip (#71891)
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.10, backport, core_review, docs, small_patch, support:core

#71905 test: cloudstack: Use test-container 1.4.0
  changelogs/fragments/71905_bump-cloudstack-test-container.yml
  test/lib/ansible_test/_internal/cloud/cs.py
Labels: affects_2.11, needs_revision, support:community, support:core, test

#71915 [backport][2.8] remove github link from plugins (#70951)
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
Labels: affects_2.8, backport, core_review, docs, support:core

#71865 changed changed
  changelogs/fragments/changed_clarified.yml
  docs/docsite/rst/reference_appendices/common_return_values.rst
  lib/ansible/modules/add_host.py
  lib/ansible/modules/group_by.py
Labels: affects_2.11, core_review, docs, inventory, module, support:community, support:core

#71914 Ensure native jinja is off for non-native tests
  test/integration/targets/set_fact/runme.sh
  test/integration/targets/templating_lookups/runme.sh
Labels: affects_2.11, core_review, support:community, support:core, utilities

#71458 dev_guide: Add Pygments Lexer examples
  docs/docsite/rst/dev_guide/style_guide/index.rst
Labels: affects_2.11, backport_request, core_review, docs, docsite, has_issue, stale_ci, support:core

#71929 CI provider fixes for ansible-test.
  changelogs/fragments/ansible-test-azp-resource-prefix.yml
  changelogs/fragments/ansible-test-change-classification.yml
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/classification.py
  test/sanity/code-smell/package-data.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#71931 Move ansible.galaxy.collection module into package
  lib/ansible/galaxy/collection/__init__.py
  test/sanity/ignore.txt
Labels: affects_2.11, c:cli/galaxy, collection, core_review, needs_triage, support:core, test

#71937 [2.10] Docsite backport 71909, 71859, 71858, 71857, 71854, 71834
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/playbooks_reuse.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_tags.rst
Labels: affects_2.10, backport, core_review, docs, docsite, support:core

#71894 remove github link from plugins (#70951)
  docs/docsite/_themes/sphinx_rtd_theme/breadcrumbs.html
Labels: affects_2.9, backport, core_review, docs, support:core

#71907 Docsite: improve inventory-related pages
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
Labels: affects_2.11, core_review, docs, support:core

#71938 Docsite: improve user_guide/playbooks_variables
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.11, core_review, docs, needs_triage, support:core

#71887 Update index.rst
  docs/docsite/rst/community/index.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core

#71921 updates intersphinx references for docs links
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_5.inv
  docs/docsite/ansible_2_6.inv
  docs/docsite/ansible_2_7.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_2_9.inv
  docs/docsite/python3.inv
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.11, backport_request, core_review, docs, support:core, test

#71925 doc: add vmware_rest_guidelines
  docs/docsite/rst/community/contributing_maintained_collections.rst
  docs/docsite/rst/dev_guide/index.rst
  docs/docsite/rst/dev_guide/platforms/vmware_rest_guidelines.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#71946 adds name lines to handler re-use examples
  docs/docsite/rst/user_guide/playbooks_reuse.rst
Labels: affects_2.11, core_review, docs, support:core
