Repository ansible/ansible, pull requests merged in 2021-04, with the labels that each got.

#74090 Fixed typo in link to win_package module
  lib/ansible/modules/package.py
Labels: affects_2.11, core_review, docs, docs_only, module, new_contributor, small_patch, support:core

#74102 Add ansible-test six constraint for Python 2.6.
  changelogs/fragments/ansible-test-six.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, bug, core_review, support:core, test

#73890 [2.9] docker_swarm: mark join_token as no_log
  changelogs/fragments/community.docker-103-docker_swarm-no_log.yml
  lib/ansible/modules/cloud/docker/docker_swarm.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.docker, core_review, docker, module, needs_triage, owner_pr, stale_ci, support:community, support:core

#73894 [2.9] Amazon modules: fix missing no_log=True
  changelogs/fragments/community.aws-475-no_log-missing.yml
  lib/ansible/modules/cloud/amazon/aws_direct_connect_virtual_interface.py
  lib/ansible/modules/cloud/amazon/sts_assume_role.py
  lib/ansible/modules/cloud/amazon/sts_session_token.py
Labels: affects_2.9, aws, backport, bug, cloud, collection, collection:community.aws, module, needs_triage, shipit, support:community, support:core

#73893 [2.9] na_cdot_user: mark set_password as no_log
  changelogs/fragments/community.general-2018-missing-no_log-again.yml
  lib/ansible/modules/storage/netapp/_na_cdot_user.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, core_review, deprecated, module, needs_triage, netapp, stale_ci, storage, support:community, support:core

#73874 [2.9 Backport] Partial backport of community.aws/471 - no_log=True for aws_secret
  changelogs/fragments/471-no_log.yml
  lib/ansible/modules/cloud/amazon/aws_secret.py
Labels: affects_2.9, aws, backport, bug, cloud, collection, collection:community.aws, core_review, module, needs_triage, owner_pr, stale_ci, support:community, support:core

#73909 [2.9] avi_*: add missing no_log=True
  changelogs/fragments/community.network-223-no_log-missing.yml
  lib/ansible/modules/network/avi/avi_cloudconnectoruser.py
  lib/ansible/modules/network/avi/avi_sslkeyandcertificate.py
  lib/ansible/modules/network/avi/avi_webhook.py
Labels: affects_2.9, avi, backport, bug, collection, collection:community.network, core_review, module, needs_triage, networking, stale_ci, support:community, support:core

#73873 [2.8 backport] Partial backport of community.aws/471 - no_log=True for aws_secret
  changelogs/fragments/471-no_log.yml
  lib/ansible/modules/cloud/amazon/aws_secret.py
Labels: affects_2.8, aws, backport, bug, cloud, collection, collection:community.aws, core_review, module, needs_triage, owner_pr, stale_ci, support:community, support:core

#73910 [2.8] Amazon modules: fix missing no_log=True
  changelogs/fragments/community.aws-475-no_log-missing.yml
  lib/ansible/modules/cloud/amazon/aws_direct_connect_virtual_interface.py
  lib/ansible/modules/cloud/amazon/sts_assume_role.py
  lib/ansible/modules/cloud/amazon/sts_session_token.py
Labels: affects_2.8, aws, backport, bug, cloud, collection, collection:community.aws, core_review, module, needs_triage, stale_ci, support:community, support:core

#73912 [2.8] na_cdot_user: mark set_password as no_log
  changelogs/fragments/community.general-2018-missing-no_log-again.yml
  lib/ansible/modules/storage/netapp/_na_cdot_user.py
Labels: affects_2.8, backport, bug, collection, collection:community.general, core_review, deprecated, module, needs_triage, netapp, stale_ci, storage, support:community, support:core

#73913 [2.8] avi_*: add missing no_log=True
  changelogs/fragments/community.network-223-no_log-missing.yml
  lib/ansible/modules/network/avi/avi_cloudconnectoruser.py
  lib/ansible/modules/network/avi/avi_sslkeyandcertificate.py
  lib/ansible/modules/network/avi/avi_webhook.py
Labels: affects_2.8, avi, backport, bug, collection, collection:community.network, core_review, module, needs_triage, networking, stale_ci, support:community, support:core

#73911 [2.8] docker_swarm: mark join_token as no_log
  changelogs/fragments/community.docker-103-docker_swarm-no_log.yml
  lib/ansible/modules/cloud/docker/docker_swarm.py
Labels: affects_2.8, backport, bug, cloud, collection, collection:community.docker, core_review, docker, module, needs_triage, owner_pr, stale_ci, support:community, support:core

#74116 [security] Add more missing no_logs (CVE-2021-3447) [2.8]
  changelogs/fragments/471-no_log.yml
  changelogs/fragments/community.aws-475-no_log-missing.yml
  changelogs/fragments/community.docker-103-docker_swarm-no_log.yml
  changelogs/fragments/community.general-2018-missing-no_log-again.yml
  changelogs/fragments/community.network-223-no_log-missing.yml
  changelogs/fragments/more-no_log-fixes.yml
  lib/ansible/modules/cloud/azure/azure_rm_devtestlabartifactsource.py
  lib/ansible/modules/cloud/google/gcp_compute_instance.py
  lib/ansible/modules/cloud/google/gcp_sql_instance.py
  lib/ansible/modules/cloud/ovirt/ovirt_auth.py
  lib/ansible/modules/monitoring/pingdom.py
  lib/ansible/modules/monitoring/rollbar_deployment.py
  lib/ansible/modules/monitoring/stackdriver.py
  lib/ansible/modules/monitoring/zabbix/zabbix_action.py
  lib/ansible/modules/network/f5/bigip_device_license.py
  lib/ansible/modules/network/f5/bigip_dns_nameserver.py
  lib/ansible/modules/network/f5/bigip_dns_zone.py
  lib/ansible/modules/network/f5/bigip_profile_client_ssl.py
  lib/ansible/modules/network/fortios/fortios_dlp_fp_doc_source.py
  lib/ansible/modules/network/fortios/fortios_endpoint_control_forticlient_ems.py
  lib/ansible/modules/network/fortios/fortios_endpoint_control_profile.py
  lib/ansible/modules/network/fortios/fortios_endpoint_control_settings.py
  lib/ansible/modules/network/fortios/fortios_extender_controller_extender.py
  lib/ansible/modules/network/fortios/fortios_firewall_ssh_local_ca.py
  lib/ansible/modules/network/fortios/fortios_firewall_ssh_local_key.py
  lib/ansible/modules/network/fortios/fortios_log_disk_setting.py
  lib/ansible/modules/network/fortios/fortios_router_bgp.py
  lib/ansible/modules/network/fortios/fortios_router_ospf.py
  lib/ansible/modules/network/fortios/fortios_router_rip.py
  lib/ansible/modules/network/fortios/fortios_system_admin.py
  lib/ansible/modules/network/fortios/fortios_system_api_user.py
  lib/ansible/modules/network/fortios/fortios_system_interface.py
  lib/ansible/modules/network/fortios/fortios_system_sdn_connector.py
  lib/ansible/modules/network/fortios/fortios_system_virtual_wan_link.py
  lib/ansible/modules/network/fortios/fortios_user_radius.py
  lib/ansible/modules/network/fortios/fortios_user_tacacsplus.py
  lib/ansible/modules/network/fortios/fortios_vpn_ipsec_manualkey.py
  lib/ansible/modules/network/fortios/fortios_vpn_ipsec_manualkey_interface.py
  lib/ansible/modules/network/fortios/fortios_vpn_ipsec_phase1.py
  lib/ansible/modules/network/fortios/fortios_vpn_ipsec_phase1_interface.py
  lib/ansible/modules/network/fortios/fortios_vpn_ssl_web_portal.py
  lib/ansible/modules/network/fortios/fortios_wireless_controller_vap.py
  lib/ansible/modules/network/fortios/fortios_wireless_controller_wtp.py
  lib/ansible/modules/network/fortios/fortios_wireless_controller_wtp_profile.py
  lib/ansible/modules/network/ios/ios_ntp.py
  lib/ansible/modules/network/netscaler/netscaler_lb_monitor.py
  lib/ansible/modules/network/nxos/nxos_aaa_server_host.py
  lib/ansible/modules/notification/logentries_msg.py
  lib/ansible/modules/storage/netapp/na_elementsw_cluster_snmp.py
  lib/ansible/modules/web_infrastructure/ansible_tower/tower_credential.py
Labels: affects_2.8, azure, backport, bug, cisco, cloud, collection, collection:awcrosby.cisco_ios_test, collection:azure.azcollection, collection:chrismeyersfsu.tower_modules, collection:cisco.ios, collection:cisco.nxos, collection:community.general, collection:community.network, collection:community.zabbix, collection:frankshen01.testfortios, collection:google.cloud, collection:jacklotusho.f5_modules, collection:netapp.elementsw, collection:ovirt.ovirt, collection:paultaiton.azcollection, collection:pkubica.ovirt, core_review, f5, fortios, gce, has_issue, ios, module, monitoring, needs_triage, netapp, networking, notification, nxos, ovirt, storage, support:community, support:core, tower, web_infrastructure, zabbix

#74003 [backport/2.9] Fix wrong backup directory var name in apt module (#73840)
  changelogs/fragments/73840_apt-policy-rc-d.yml
  lib/ansible/modules/packaging/os/apt.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#73929 [stable-2.9] Ensure task from the worker is finalized/squashed (#73881)
  changelogs/fragments/57399-finalize-task-in-strategy.yml
  lib/ansible/playbook/base.py
  test/integration/targets/blocks/finalized_task.yml
  test/integration/targets/blocks/roles/fail/tasks/main.yml
Labels: affects_2.9, backport, core_review, needs_triage, stale_ci, support:community, support:core

#73916 [2.9 backport] add optional module_utils import support (#73832)
  changelogs/fragments/optional_module_utils.yml
  lib/ansible/executor/module_common.py
  test/integration/targets/module_utils/collections/ansible_collections/testns/testcoll/plugins/module_utils/legit.py
  test/integration/targets/module_utils/library/test_failure.py
  test/integration/targets/module_utils/library/test_optional.py
  test/integration/targets/module_utils/module_utils_test.yml
Labels: affects_2.9, backport, core_review, feature, needs_triage, stale_ci, support:community, support:core

#74002 [backport/2.10] Fix wrong backup directory var name in apt module (#73840)
  changelogs/fragments/73840_apt-policy-rc-d.yml
  lib/ansible/modules/apt.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#73970 [stable-2.10] find: Specify elements type in paths (#70139)
  lib/ansible/modules/find.py
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:core, test

#73928 [stable-2.10] Ensure task from the worker is finalized/squashed (#73881)
  changelogs/fragments/57399-finalize-task-in-strategy.yml
  lib/ansible/playbook/base.py
  test/integration/targets/blocks/finalized_task.yml
  test/integration/targets/blocks/roles/fail/tasks/main.yml
Labels: affects_2.10, backport, core_review, needs_triage, stale_ci, support:community, support:core

#73958 [2.10] Fix a bug adding unrelated candidates to the redirect_list (#73863)
  changelogs/fragments/73863-fix-plugin-redirect-list.yaml
  lib/ansible/plugins/loader.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/action/plugin_lookup.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testredirect/meta/runtime.yml
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/test_redirect_list.yml
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#73918 [2.10 backport] add optional module_utils import support (#73832)
  changelogs/fragments/optional_module_utils.yml
  lib/ansible/executor/module_common.py
  test/integration/targets/module_utils/collections/ansible_collections/testns/testcoll/plugins/module_utils/legit.py
  test/integration/targets/module_utils/library/test_failure.py
  test/integration/targets/module_utils/library/test_optional.py
  test/integration/targets/module_utils/module_utils_test.yml
Labels: affects_2.10, backport, core_review, feature, needs_triage, stale_ci, support:community, support:core

#73777 module output is only json objects (#73765)
  changelogs/fragments/fix_json_module_parsing.yml
  lib/ansible/module_utils/json_utils.py
  lib/ansible/modules/async_wrapper.py
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/json_cleanup/aliases
  test/integration/targets/json_cleanup/library/bad_json
  test/integration/targets/json_cleanup/module_output_cleaning.yml
  test/integration/targets/json_cleanup/runme.sh
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, test

#73966 [stable-2.9] find - set proper default based on use_regex (#73961)
  changelogs/fragments/fix_find_default.yml
  lib/ansible/modules/files/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:core

#73878 fix su localization option [2.10]
  changelogs/fragments/su_fix.yml
  lib/ansible/plugins/become/su.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core

#74084 Fix debug factsetter (#74067)
  changelogs/fragments/debug_dont_set_facts.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/debug/nosetfacts.yml
  test/integration/targets/debug/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core

#74047 Fix setup subset (#74022)
  changelogs/fragments/fix_setup_bad_subset.yml
  lib/ansible/modules/setup.py
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/verify_subset.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core

#74099 Implement workaround for stdout deadlock in multiprocessing shutdown
  changelogs/fragments/workerprocess-stdout-deadlock.yml
  lib/ansible/executor/process/worker.py
Labels: P1, affects_2.11, bug, core_review, needs_triage, support:core

#73965 find - set proper default based on use_regex (#73961)
  changelogs/fragments/fix_find_default.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:core, test

#74113 [backport/2.9] module_defaults: Add rds_snapshot
  changelogs/fragments/74113-module_defaults-rds_snapshot.yml
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, core_review, feature, needs_triage, support:core

#74123 Fix 2.11 changelog ancestor, missed at 2.10 branching
  changelogs/changelog.yaml
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#73830 Nonfatal facts (#73804)
  changelogs/fragments/local_facts_continue.yml
  lib/ansible/module_utils/facts/system/local.py
  test/integration/targets/facts_d/files/basdscript.fact
  test/integration/targets/facts_d/files/goodscript.fact
  test/integration/targets/facts_d/files/preferences.fact
  test/integration/targets/facts_d/files/unreadable.fact
  test/integration/targets/facts_d/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#74124 Add ansible-test constraint for decorator.
  changelogs/fragments/ansible-test-decorator-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, bug, core_review, support:core, test

#74128 [stable-2.11] Add ansible-test constraint for decorator.
  changelogs/fragments/ansible-test-decorator-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, backport, bug, core_review, support:core, test

#74125 [stable-2.9] Fix: nmcli bridge-slave fails with error
  changelogs/fragments/74125-backport_nmcli_module-slave_bridge_error.yml
  lib/ansible/modules/net_tools/nmcli.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, core_review, module, needs_triage, net_tools, new_contributor, support:community, support:core

#73975 New AWS module mod_defaults - wafv2 modules
  changelogs/fragments/wafv2-mod-defaults.yml
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, core_review, feature, needs_triage, support:core

#74098 New AWS module mod_defaults - rds_option_group (_info) modules
  changelogs/fragments/rds-aws-mod-defaults.yml
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, feature, needs_revision, needs_triage, support:core

#73768 Add CoC checkboxes to the issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.11, core_review, support:core

#74111 Drop deprecated `issue_body` from issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.11, core_review, needs_triage, support:core

#74104 Docs: clarify role docs - vars vs params, dependencies
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.11, core_review, docs, docs_only, support:core

#74157 Use `render` for code blocks in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
Labels: affects_2.12, needs_ci, needs_revision, support:core

#74122 [test coverage] lineinfile testing
  test/integration/targets/lineinfile/tasks/main.yml
Labels: affects_2.11, core_review, needs_triage, support:core

#74130 [test coverage] Add ansible-inventory coverage tests
  test/integration/targets/ansible-inventory/aliases
  test/integration/targets/ansible-inventory/tasks/main.yml
Labels: affects_2.11, collection, collection:ktdreyer.errata_tool_ansible, community_review, support:community

#74156 Use a file-like obj for stdout/stderr for deadlock workaround
  changelogs/fragments/fix-for-workerprocess-stdout-deadlock-fix.yml
  lib/ansible/executor/process/worker.py
Labels: P1, affects_2.12, bug, core_review, support:core

#74159 renamed: ansible-base.{dirs,install} -> ansible-core.{dirs,install}
  packaging/debian/ansible-core.dirs
  packaging/debian/ansible-core.install
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#74162 renamed: ansible-base.{dirs,install} -> ansible-core.{dirs,install}
  packaging/debian/ansible-core.dirs
  packaging/debian/ansible-core.install
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:core

#74000 Add 2.12 roadmap
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/roadmap/ROADMAP_2_12.rst
  docs/docsite/rst/roadmap/ansible_core_roadmap_index.rst
  docs/docsite/rst/roadmap/index.rst
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: affects_2.11, bug, core_review, docs, docs_only, has_issue, support:core

#74160 2.11: Use a file-like obj for stdout/stderr for deadlock workaround (#74156)
  changelogs/fragments/fix-for-workerprocess-stdout-deadlock-fix.yml
  lib/ansible/executor/process/worker.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:core

#74166 Update test containers in ansible-test.
  changelogs/fragments/ansible-test-default-containers-3.2.yml
  changelogs/fragments/ansible-test-distro-containers-2.0.2.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.12, bug, core_review, support:core, test

#74176 ansible-test - ensure trailing separator is added for connection unit test target
  changelogs/fragments/ansible-test-connection-units-init.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.12, bug, core_review, support:core, test

#74177 ansible-test - change diff matching regexp so prefixes are optional
  changelogs/fragments/ansible-test-diff-prefix-optional.yml
  test/lib/ansible_test/_internal/diff.py
Labels: affects_2.12, bug, core_review, support:core, test

#74193 pin docutils to 0.16 until theme problem is fixed
  docs/docsite/requirements.txt
Labels: affects_2.12, core_review, docs, docs_only, small_patch, support:core

#74154 removed task parameters
  changelogs/fragments/deprecated_task_parameters.yml
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/task.py
  test/sanity/ignore.txt
Labels: affects_2.12, bug, core_review, support:core, test

#74183 [test coverage] Increase test coverage for command module
  test/integration/targets/command_shell/tasks/main.yml
Labels: affects_2.12, community_review, support:community

#74197 [cron] Remove deprecated features
  changelogs/fragments/cron-deprecations.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/modules/cron.py
  test/integration/targets/cron/tasks/main.yml
  test/sanity/ignore.txt
Labels: affects_2.12, bug, core_review, docs, module, support:core, test

#74202 Add PyPI proxy container for tests on Python 2.6.
  changelogs/fragments/ansible-test-pypi-test-container.yml
  test/lib/ansible_test/_data/quiet_pip.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.12, core_review, feature, support:core, test

#74172 [playbook] error on empty, error on 'include' (remove two deprecations)
  changelogs/fragments/playbook-deprecations.yml
  lib/ansible/constants.py
  lib/ansible/playbook/__init__.py
  lib/ansible/playbook/playbook_include.py
  test/integration/targets/includes/include_on_playbook_should_fail.yml
  test/integration/targets/includes/runme.sh
  test/integration/targets/includes/test_includes.yml
  test/integration/targets/path_lookups/play.yml
  test/integration/targets/playbook/empty.yml
  test/integration/targets/playbook/runme.sh
  test/sanity/ignore.txt
Labels: affects_2.12, bug, core_review, support:community, support:core, test

#73860 Solaris: Correct version check in svcadm_supports_sync API
  changelogs/fragments/73860-solaris-correct-version-check-in-svcadm_supports_sync.yml
  lib/ansible/modules/service.py
  test/units/modules/test_service.py
Labels: affects_2.11, bug, has_issue, module, needs_revision, new_contributor, stale_ci, stale_review, support:core

#74203 [test/support/docker_swarm] remove deprecation
  test/sanity/ignore.txt
  test/support/integration/plugins/modules/docker_swarm.py
Labels: affects_2.12, core_review, needs_triage, support:core, test

#73548 [yum] report upgraded multiarch packages
  changelogs/fragments/73284-yum-multiarch.yml
  lib/ansible/modules/yum.py
  test/integration/targets/yum/filter_plugins/filter_list_of_tuples_by_first_param.py
  test/integration/targets/yum/tasks/main.yml
  test/integration/targets/yum/tasks/multiarch.yml
  test/integration/targets/yum/vars/main.yml
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, module, stale_ci, support:core

#74218 fix typo in _collection_finder.py
  lib/ansible/utils/collection_loader/_collection_finder.py
Labels: affects_2.12, bug, needs_triage, shipit, small_patch, support:core

#74223 Docs: Remove duplicate word
  docs/docsite/rst/user_guide/playbooks_tags.rst
Labels: affects_2.12, core_review, docs, docs_only, needs_triage, new_contributor, small_patch, support:core

#74095 added apt lock_timeout
  changelogs/fragments/apt_lock_timeout.yml
  lib/ansible/modules/apt.py
Labels: affects_2.11, core_review, feature, has_issue, module, support:core

#74186 config lookup can query plugin settings
  changelogs/fragments/config_lookup_plugins.yml
  lib/ansible/plugins/lookup/config.py
  test/integration/targets/lookup_config/tasks/main.yml
Labels: affects_2.12, core_review, feature, support:community, support:core

#74200 Change look and feel of the `ansible-core` docs
  docs/docsite/_static/core.css
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.12, docs, docs_only, support:core

#74246 update intersphinx links for Ansible 3
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_2_9.inv
  docs/docsite/ansible_3.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.12, core_review, docs, docs_only, needs_triage, support:core

#74247 [ansible-test] nuke virtualenv-isolated.sh
  changelogs/fragments/ansible-test-nuke-venv-isolated.yml
  test/lib/ansible_test/_data/injector/virtualenv-isolated.sh
Labels: affects_2.12, core_review, needs_triage, support:core, test

#74214 Remove AZP scheduled run configuration.
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.8, backport, core_review, support:core

#74206 [stable-2.9] Add PyPI proxy container for tests on Python 2.6.
  changelogs/fragments/ansible-test-pypi-test-container.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.9, backport, core_review, feature, support:core, test

#74205 [stable-2.10] Add PyPI proxy container for tests on Python 2.6.
  changelogs/fragments/ansible-test-pypi-test-container.yml
  test/lib/ansible_test/_data/quiet_pip.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.10, backport, core_review, feature, support:core, test

#74182 [stable-2.9] ansible-test - ensure trailing separator is added for connection unit test target (#74176)
  changelogs/fragments/ansible-test-connection-units-init.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:core, test

#74181 [stable-2.10] ansible-test - ensure trailing separator is added for connection unit test target (#74176)
  changelogs/fragments/ansible-test-connection-units-init.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core, test

#74179 [stable-2.9] validate_modules: fails with .id attribute not found (#73322)
  changelogs/fragments/validate-modules_found_try_except_import_fails_module_attribute.yaml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.9, backport, bug, core_review, support:core, test

#74170 [stable-2.9] Switch to hashlib.sha256() for ansible-test (#72411)
  changelogs/fragments/72411-fips-mode-ansible-test.yml
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.9, backport, bug, core_review, support:core, test

#74169 [stable-2.10] Switch to hashlib.sha256() for ansible-test (#72411)
  changelogs/fragments/72411-fips-mode-ansible-test.yml
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.10, backport, bug, core_review, support:core, test

#74167 [stable-2.11] Update test containers in ansible-test. (#74166)
  changelogs/fragments/ansible-test-default-containers-3.2.yml
  changelogs/fragments/ansible-test-distro-containers-2.0.2.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, backport, bug, core_review, support:core, test

#74204 [stable-2.11] Add PyPI proxy container for tests on Python 2.6.
  changelogs/fragments/ansible-test-pypi-test-container.yml
  test/lib/ansible_test/_data/quiet_pip.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, backport, core_review, feature, support:core, test

#74180 [stable-2.11] ansible-test - ensure trailing separator is added for connection unit test target (#74176)
  changelogs/fragments/ansible-test-connection-units-init.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:core, test

#74250 config lookup can now handle collection plugins
  changelogs/fragments/config_lookup_fix.yml
  lib/ansible/plugins/lookup/config.py
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#74185 📝 Make issue forms verbose and helpful
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.12, core_review, support:core

#74199 async_wrapper more info on end
  changelogs/fragments/async_wrapper_reporting.yml
  lib/ansible/modules/async_wrapper.py
  test/units/modules/test_async_wrapper.py
Labels: affects_2.12, bug, core_review, module, needs_triage, support:core

#74198 Remove deprecated cache interfaces
  changelogs/fragments/cache-deprecations.yml
  lib/ansible/plugins/cache/__init__.py
  lib/ansible/plugins/inventory/__init__.py
  lib/ansible/vars/fact_cache.py
  test/sanity/ignore.txt
  test/units/plugins/cache/test_cache.py
Labels: affects_2.12, bug, core_review, support:core, test

#74208 [conditional] Remove support for bare variables
  changelogs/fragments/conditional-bare-vars.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/config/base.yml
  lib/ansible/playbook/conditional.py
  test/integration/targets/conditionals/play.yml
  test/integration/targets/conditionals/runme.sh
  test/integration/targets/conditionals/test_no_warnings.yml
  test/integration/targets/conditionals/test_warnings.yml
  test/integration/targets/conditionals/vars/main.yml
  test/sanity/ignore.txt
Labels: affects_2.12, bug, core_review, docs, support:community, support:core, test

#74217 [playbook/play.py] Increase error test coverage
  lib/ansible/playbook/play.py
  test/integration/targets/playbook/empty_hosts.yml
  test/integration/targets/playbook/malformed_post_tasks.yml
  test/integration/targets/playbook/malformed_pre_tasks.yml
  test/integration/targets/playbook/malformed_roles.yml
  test/integration/targets/playbook/malformed_tasks.yml
  test/integration/targets/playbook/malformed_vars_prompt.yml
  test/integration/targets/playbook/old_style_role.yml
  test/integration/targets/playbook/remote_user_and_user.yml
  test/integration/targets/playbook/roles_null.yml
  test/integration/targets/playbook/runme.sh
  test/integration/targets/playbook/some_vars.yml
  test/integration/targets/playbook/user.yml
  test/integration/targets/playbook/vars_files_null.yml
  test/integration/targets/playbook/vars_files_string.yml
  test/integration/targets/playbook/vars_prompt_null.yml
  test/units/playbook/test_play.py
Labels: affects_2.12, bug, core_review, small_patch, support:community, support:core

#74227 [advanced_host_list] 100% coverage + fix a bug
  changelogs/fragments/advanced-host-list-ref-before-assignment.yml
  lib/ansible/plugins/inventory/advanced_host_list.py
  test/integration/targets/inventory_advanced_host_list/aliases
  test/integration/targets/inventory_advanced_host_list/runme.sh
  test/integration/targets/inventory_advanced_host_list/test_advanced_host_list.yml
Labels: affects_2.12, bug, core_review, support:community, support:core

#74229 [module_utils.distro] Fall back to bundled
  changelogs/fragments/nonstandard-distro-fallback.yml
  lib/ansible/module_utils/distro/__init__.py
  test/integration/targets/module_utils_distro/aliases
  test/integration/targets/module_utils_distro/meta/main.yml
  test/integration/targets/module_utils_distro/runme.sh
Labels: affects_2.12, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core

#74241 [bugfix][coverage] find module should consider file size with file_type=any
  changelogs/fragments/74241-find-checks-size-with-any.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.12, bug, core_review, module, support:core

#74243 [test coverage] Add tests for set_stats
  test/integration/targets/set_stats/aliases
  test/integration/targets/set_stats/runme.sh
  test/integration/targets/set_stats/test_aggregate.yml
  test/integration/targets/set_stats/test_simple.yml
Labels: affects_2.12, core_review, support:core

#74252 fix see_also formatting
  docs/docsite/rst/user_guide/collections_using.rst
Labels: affects_2.12, core_review, docs, docs_only, small_patch, support:core

#74005 inventory keyed option should not create group ending with separator when value is empty
  changelogs/fragments/74005-keyed_groups-specific-options-for-empty-value.yml
  lib/ansible/plugins/doc_fragments/constructed.py
  lib/ansible/plugins/inventory/__init__.py
  test/integration/targets/inventory_constructed/keyed_group_default_value.yml
  test/integration/targets/inventory_constructed/keyed_group_list_default_value.yml
  test/integration/targets/inventory_constructed/keyed_group_str_default_value.yml
  test/integration/targets/inventory_constructed/keyed_group_trailing_separator.yml
  test/integration/targets/inventory_constructed/runme.sh
  test/integration/targets/inventory_constructed/tag_inventory.yml
  test/units/plugins/inventory/test_constructed.py
Labels: affects_2.11, core_review, feature, support:community, support:core

#74212 various fixes to command
  changelogs/fragments/command_deliver_promisses.yml
  lib/ansible/modules/command.py
  lib/ansible/parsing/splitter.py
  test/integration/targets/command_shell/tasks/main.yml
Labels: affects_2.12, bug, core_review, module, support:community, support:core

#73850 Bump azure-pipelines-test-container to version 1.9.0
  .azure-pipelines/azure-pipelines.yml
Labels: WIP, affects_2.11, bug, small_patch, stale_ci, support:core

#74260 [stable-2.11] Bump azure-pipelines-test-container to version 1.9.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.11, backport, bug, core_review, small_patch, support:core

#74261 [stable-2.10] Bump azure-pipelines-test-container to version 1.9.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport, bug, core_review, small_patch, support:core

#74262 [stable-2.9] Bump azure-pipelines-test-container to version 1.9.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.9, backport, bug, core_review, small_patch, support:core

#74219 undeprecated hash_merge setting (#73328) [2.10]
  changelogs/fragments/undo_hashmerge_depr.yml
  lib/ansible/config/base.yml
Labels: affects_2.10, backport, bug, core_review, has_issue, needs_triage, support:core

#74263 [stable-2.8] Bump azure-pipelines-test-container to version 1.9.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.8, backport, bug, core_review, small_patch, support:core

#74108 All lookups ported to config system
  lib/ansible/constants.py
  lib/ansible/plugins/__init__.py
  lib/ansible/plugins/lookup/__init__.py
  lib/ansible/plugins/lookup/config.py
  lib/ansible/plugins/lookup/csvfile.py
  lib/ansible/plugins/lookup/dict.py
  lib/ansible/plugins/lookup/file.py
  lib/ansible/plugins/lookup/first_found.py
  lib/ansible/plugins/lookup/ini.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/plugins/lookup/unvault.py
  lib/ansible/plugins/lookup/varnames.py
  lib/ansible/plugins/lookup/vars.py
  lib/ansible/template/__init__.py
  test/integration/targets/lookup_csvfile/tasks/main.yml
  test/integration/targets/lookup_first_found/tasks/main.yml
  test/integration/targets/lookup_ini/test_lookup_properties.yml
  test/units/plugins/lookup/test_ini.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#74265 updates list of available versions for Ansible 3
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: affects_2.12, core_review, docs, docs_only, small_patch, support:core

#74280 Update the porting guide for ansible package 4.0.0 alpha4
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: affects_2.12, core_review, docs, docs_only, support:core

#74192 Fix fallback to devnull when trying to preserve stdin in worker
  lib/ansible/executor/process/worker.py
Labels: affects_2.12, bug, core_review, support:core

#71262 deprecated include
  changelogs/fragments/deprecate_include.yml
  lib/ansible/modules/_include.py
  lib/ansible/playbook/included_file.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.11, bug, core_review, deprecated, module, support:core, test

#74267 fix config manager list option with choices
  changelogs/fragments/allow_lists_of_config_choices.yml
  lib/ansible/config/manager.py
  test/integration/targets/config/lookup_plugins/bogus.py
  test/integration/targets/config/runme.sh
  test/integration/targets/config/validation.yml
Labels: affects_2.12, bug, collection, collection:community.yang, core_review, support:community, support:core

#74277 Typo fix in help output
  lib/ansible/cli/galaxy.py
Labels: affects_2.12, core_review, docs, small_patch, support:core

#74285 Ini fixes
  changelogs/fragments/ini_lookup_baduser.yml
  lib/ansible/plugins/lookup/ini.py
  test/integration/targets/lookup_ini/test_lookup_properties.yml
Labels: affects_2.12, bug, core_review, needs_triage, support:community, support:core

#74290 Prevent ansible_failed_task from further templating
  changelogs/fragments/74036-unsafe-ansible_failed_task.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/blocks/runme.sh
  test/integration/targets/blocks/unsafe_failed_task.yml
Labels: affects_2.12, bug, core_review, needs_triage, support:community, support:core

#74299 removed unused imports
  lib/ansible/plugins/filter/core.py
Labels: affects_2.12, bug, core_review, support:core

#74294 Remove __requires__ attribute for pkg_resources
  changelogs/fragments/no-requires.yml
  lib/ansible/cli/scripts/ansible_cli_stub.py
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
Labels: affects_2.12, bug, core_review, networking, support:core

#74127 Catch errors getting filters, and fail
  changelogs/fragments/74127-bad-filter.yml
  lib/ansible/template/__init__.py
  lib/ansible/template/safe_eval.py
  test/integration/targets/jinja_plugins/aliases
  test/integration/targets/jinja_plugins/collections/ansible_collections/foo/bar/plugins/filter/bad_collection_filter.py
  test/integration/targets/jinja_plugins/collections/ansible_collections/foo/bar/plugins/filter/good_collection_filter.py
  test/integration/targets/jinja_plugins/collections/ansible_collections/foo/bar/plugins/test/bad_collection_test.py
  test/integration/targets/jinja_plugins/collections/ansible_collections/foo/bar/plugins/test/good_collection_test.py
  test/integration/targets/jinja_plugins/filter_plugins/bad_filter.py
  test/integration/targets/jinja_plugins/filter_plugins/good_filter.py
  test/integration/targets/jinja_plugins/playbook.yml
  test/integration/targets/jinja_plugins/tasks/main.yml
  test/integration/targets/jinja_plugins/test_plugins/bad_test.py
  test/integration/targets/jinja_plugins/test_plugins/good_test.py
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, new_plugin, support:community, support:core

#73999 Prevent traceback when task depth exceeds python recursion depth
  changelogs/fragments/73996-recursion-depth.yml
  lib/ansible/playbook/base.py
Labels: affects_2.11, bug, core_review, support:core

#74270 [controller ansiballz] escape directory regex
  changelogs/fragments/ansiballz-re-escape-site-packages.yml
  lib/ansible/executor/module_common.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/vars/clean.py
  test/integration/targets/ansible/module_common_regex_regression.sh
  test/integration/targets/ansible/runme.sh
Labels: affects_2.12, bug, core_review, python3, support:community, support:core, traceback

#74291 Actually run blocks/finalized_task test
  test/integration/targets/blocks/runme.sh
Labels: affects_2.12, bug, community_review, support:community

#73822 Add epoch_int in date_time facts
  changelogs/fragments/73822-date_time_facts_add_epoch_int.yaml
  lib/ansible/module_utils/facts/system/date_time.py
  test/units/module_utils/facts/test_date_time.py
Labels: affects_2.11, bug, core_review, feature, stale_ci, support:core

#73820 Add cacheonly option to yum and dnf modules
  changelogs/fragments/73820-yumdnf-add_cacheonly_option.yaml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/yum.py
  test/integration/targets/dnf/tasks/cacheonly.yml
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/yum/tasks/cacheonly.yml
  test/integration/targets/yum/tasks/main.yml
Labels: affects_2.11, core_review, feature, module, support:core

#74302 uri - fix traceback on multipart-form int value
  changelogs/fragments/uri-multipart-int-value.yml
  lib/ansible/module_utils/common/collections.py
  lib/ansible/plugins/action/uri.py
  test/integration/targets/uri/tasks/main.yml
Labels: affects_2.12, bug, core_review, has_issue, needs_triage, support:core

#73819 [2.12] Add accept_newhostkey option to git module
  changelogs/fragments/73819-git-accept_new_host_key.yaml
  lib/ansible/modules/git.py
  test/integration/targets/git/tasks/main.yml
  test/integration/targets/git/tasks/missing_hostkey.yml
  test/integration/targets/git/tasks/missing_hostkey_acceptnew.yml
Labels: affects_2.11, core_review, feature, module, stale_ci, support:core

#73814 [2.12] Factor out plugins.callback.CallbackBase.host_label()
  changelogs/fragments/73814-host_label.yaml
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/default.py
  test/units/plugins/callback/test_callback.py
Labels: affects_2.11, bug, core_review, stale_ci, support:core

#73707 [2.12] 'attributes'
  changelogs/fragments/plugin_attributes.yml
  lib/ansible/cli/doc.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/import_playbook.py
  lib/ansible/modules/import_role.py
  lib/ansible/modules/import_tasks.py
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  lib/ansible/utils/plugin_docs.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.11, bug, feature, has_issue, module, new_plugin, shipit, support:core, test

#74165 Deprecate Py2.6 support for target nodes
  changelogs/fragments/212-py26-deprecation.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/module_utils/basic.py
  test/integration/targets/module_utils/module_utils_test.yml
  test/units/module_utils/basic/test_argument_spec.py
  test/units/module_utils/basic/test_deprecate_warn.py
  test/units/module_utils/basic/test_exit_json.py
  test/units/module_utils/common/arg_spec/test_module_validate.py
  test/units/module_utils/common/warnings/test_deprecate.py
Labels: affects_2.12, bug, core_review, docs, support:community, support:core

#74278 Backport/2.10/docs config
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_2_9.inv
  docs/docsite/ansible_3.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.10, backport, core_review, docs, docs_only, needs_triage, support:core

#74321 Backports list of available versions to 2.9 for Ansible 3 (#74265)
  docs/docsite/rst/conf.py
Labels: affects_2.9, backport, core_review, docs, docs_only, needs_triage, small_patch, support:core

#74322 Clean up ansible-test cloud plugins.
  changelogs/fragments/ansible-test-cloud-plugin-code-cleanup.yml
  test/lib/ansible_test/_internal/cloud/__init__.py
  test/lib/ansible_test/_internal/cloud/acme.py
  test/lib/ansible_test/_internal/cloud/aws.py
  test/lib/ansible_test/_internal/cloud/azure.py
  test/lib/ansible_test/_internal/cloud/cloudscale.py
  test/lib/ansible_test/_internal/cloud/cs.py
  test/lib/ansible_test/_internal/cloud/foreman.py
  test/lib/ansible_test/_internal/cloud/galaxy.py
  test/lib/ansible_test/_internal/cloud/gcp.py
  test/lib/ansible_test/_internal/cloud/hcloud.py
  test/lib/ansible_test/_internal/cloud/httptester.py
  test/lib/ansible_test/_internal/cloud/nios.py
  test/lib/ansible_test/_internal/cloud/opennebula.py
  test/lib/ansible_test/_internal/cloud/openshift.py
  test/lib/ansible_test/_internal/cloud/scaleway.py
  test/lib/ansible_test/_internal/cloud/vcenter.py
  test/lib/ansible_test/_internal/cloud/vultr.py
Labels: affects_2.12, bug, needs_revision, support:core, test

#74325 Relocate misplaced unit tests.
  test/units/module_utils/common/text/converters/test_to_str.py
  test/units/utils/test_unsafe_proxy.py
Labels: affects_2.12, core_review, support:core

#74089 Fix issue with version 3 in docs version list
  docs/docsite/_themes/sphinx_rtd_theme/ansible_versions.html
Labels: affects_2.11, docs, docs_only, shipit, small_patch, support:core

#73992 Handle netconf plugin ncclient import error when running in FIPS mode
  changelogs/fragments/fips-ncclient-import-error.yaml
  lib/ansible/plugins/netconf/__init__.py
Labels: affects_2.11, bug, core_review, needs_triage, networking, support:core, support:network

#73941 Only check if play.hosts is a template when the play hasn't been finalized
  changelogs/fragments/73926-is-template-play-hosts.yml
  lib/ansible/playbook/base.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/vars/manager.py
Labels: affects_2.11, bug, core_review, support:core

#74337 Split out module/module_utils unit test execution.
  changelogs/fragments/ansible-test-split-unit-tests.yml
  test/lib/ansible_test/_data/legacy_collection_loader/__init__.py
  test/lib/ansible_test/_data/legacy_collection_loader/_collection_config.py
  test/lib/ansible_test/_data/legacy_collection_loader/_collection_finder.py
  test/lib/ansible_test/_data/legacy_collection_loader/_collection_meta.py
  test/lib/ansible_test/_data/pytest/plugins/ansible_pytest_collections.py
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/lib/ansible_test/_internal/units/__init__.py
Labels: affects_2.12, core_review, feature, python3, support:core, test

#74340 [tests] Work around vixie-cron and PAM issue, el6
  test/integration/targets/cron/tasks/main.yml
Labels: affects_2.12, core_review, support:core

#74295 fix module schema
  changelogs/fragments/fix_module_schema.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: affects_2.12, bug, core_review, support:core, test

#74254 corrected epmhasis line
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
Labels: affects_2.12, bug, core_review, docs, docs_only, pr_day, support:core

#74288 correct how to install Docker SDK for Python
  docs/docsite/rst/scenario_guides/guide_docker.rst
Labels: affects_2.12, core_review, docs, docs_only, needs_verified, new_contributor, pr_day, python3, support:core, test

#74330 Remove include from tests
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
  test/integration/targets/any_errors_fatal/on_includes.yml
  test/integration/targets/become/tasks/main.yml
  test/integration/targets/blocks/main.yml
  test/integration/targets/blocks/nested_fail.yml
  test/integration/targets/blocks/nested_nested_fail.yml
  test/integration/targets/copy/tasks/tests.yml
  test/integration/targets/dpkg_selections/tasks/main.yaml
  test/integration/targets/file/tasks/directory_as_dest.yml
  test/integration/targets/file/tasks/selinux_tests.yml
  test/integration/targets/file/tasks/state_link.yml
  test/integration/targets/handlers/roles/test_handlers_include/handlers/main.yml
  test/integration/targets/handlers/test_handlers_include.yml
  test/integration/targets/incidental_ios_file/tasks/cli.yaml
  test/integration/targets/incidental_ios_file/tasks/main.yaml
  test/integration/targets/incidental_setup_rabbitmq/tasks/main.yml
  test/integration/targets/incidental_vyos_config/tasks/cli.yaml
  test/integration/targets/incidental_vyos_config/tasks/cli_config.yaml
  test/integration/targets/incidental_vyos_config/tasks/main.yaml
  test/integration/targets/incidental_vyos_lldp_interfaces/tasks/cli.yaml
  test/integration/targets/incidental_vyos_lldp_interfaces/tasks/main.yaml
  test/integration/targets/incidental_win_data_deduplication/tasks/main.yml
  test/integration/targets/incidental_win_data_deduplication/tasks/pre_test.yml
  test/integration/targets/rpm_key/tasks/main.yaml
  test/integration/targets/task_ordering/tasks/main.yml
  test/integration/targets/template/tasks/main.yml
Labels: affects_2.12, core_review, docs, docsite, pr_day, support:community, support:core, test

#74304 defend against bad or missing crypt
  changelogs/fragments/crypt_missing.yml
  lib/ansible/utils/encrypt.py
  test/units/utils/test_encrypt.py
Labels: affects_2.12, bug, core_review, support:core

#73984 [doc] Provide results to examples
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, docs, docs_only, pr_day, shipit, support:core

#73211 remove deprecated ansible.module_utils._text from documentation
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
  docs/docsite/rst/dev_guide/migrating_roles.rst
  docs/docsite/rst/dev_guide/testing/sanity/no-basestring.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: affects_2.11, docs, docs_only, docsite, new_contributor, pr_day, shipit, support:core

#74242 Update playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.12, core_review, docs, docs_only, new_contributor, pr_day, small_patch, support:core

#73821 Add umask option to user module
  changelogs/fragments/73821-user-add_umask_option.yaml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/main.yml
  test/integration/targets/user/tasks/test_umask.yml
Labels: affects_2.11, core_review, feature, module, support:core

#74348 Add a link to Jinja 2 templates
  docs/docsite/rst/user_guide/playbooks_templating.rst
Labels: affects_2.12, core_review, docs, docs_only, has_issue, pr_day, small_patch, support:core

#74161 Fix "canonical" typo in win_host examples
  lib/ansible/modules/windows/win_hosts.py
Labels: affects_2.9, backport, collection, collection:community.windows, docs, docs_only, module, pr_day, shipit, small_patch, support:community, windows

#74129 Docs: Fix k8s_config_resource_name YAML example
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.12, docs, docs_only, new_contributor, pr_day, shipit, small_patch, support:core

#73716 Update lookup.rst
  docs/docsite/rst/plugins/lookup.rst
Labels: affects_2.11, core_review, docs, docs_only, new_contributor, pr_day, small_patch, stale_ci, support:core

#73273 vmware: Add a note about known issue
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
Labels: affects_2.11, core_review, docs, docs_only, has_issue, support:core

#74268 Add porting guide and documentation for changes to argument spec validation
  docs/docsite/rst/porting_guides/porting_guide_core_2.11.rst
  docs/docsite/rst/reference_appendices/module_utils.rst
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/common/validation.py
  lib/ansible/module_utils/errors.py
Labels: affects_2.12, core_review, docs, pr_day, support:core

#74357 Fix ansible-test coverage traceback when no data.
  changelogs/fragments/ansible-test-coverage-traceback.yml
  test/lib/ansible_test/_internal/coverage/__init__.py
Labels: affects_2.12, bug, core_review, has_issue, support:core, test

#74152 Map Debian 8 to Python 2
  changelogs/fragments/debian8_discovery.yml
  lib/ansible/config/base.yml
  test/integration/targets/interpreter_discovery_python/tasks/main.yml
Labels: P3, affects_2.12, bug, core_review, has_issue, needs_verified, new_contributor, python3, support:community, support:core

#74362 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_3.rst
Labels: affects_2.12, core_review, docs, docs_only, support:core

#74354 arg_spec - remove unused imports
  changelogs/fragments/arg_spec-remove-unused-imports.yml
  lib/ansible/module_utils/common/arg_spec.py
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#74366 Remove unused PlayIterator.cur_dep_chain
  lib/ansible/executor/play_iterator.py
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#74201 Update docs on working on docs
  docs/docsite/Makefile
  docs/docsite/rst/community/documentation_contributions.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, pr_day, support:core

#74328 [ansible-test] add freebsd/13.0 remote
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-freebsd-13.yml
  test/integration/targets/handlers/runme.sh
  test/integration/targets/setup_paramiko/install-FreeBSD-13-python-2.yml
  test/integration/targets/setup_paramiko/install-FreeBSD-13-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-FreeBSD-13-python-2.yml
  test/integration/targets/setup_paramiko/uninstall-FreeBSD-13-python-3.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.12, core_review, support:community, support:core, test

#74374 Update alpine repo to community for libuser
  test/integration/targets/group/tasks/tests.yml
Labels: affects_2.12, bug, core_review, needs_triage, support:core
