Repository ansible/ansible, pull requests merged in 2021-09, with the labels that each got.

#65227 Use context manager for file handling in some system modules.
  changelogs/fragments/65227.yml
  lib/ansible/modules/service.py
Labels: module, core_review, support:core, bug, system, collection, affects_2.10

#75614 2.11: paramiko_ssh - mark connection as connected when successful (#74459)
  changelogs/fragments/74081-paramiko-mark-connected.yml
  lib/ansible/plugins/connection/paramiko_ssh.py
  test/units/plugins/connection/test_paramiko.py
Labels: backport, needs_triage, core_review, support:core, bug, has_issue, affects_2.11

#75613 2.11: Fix templating task action with host-specific vars (#75600)
  changelogs/fragments/75568-fix-templating-task-action-host-specific-vars.yml
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/strategy_linear/inventory
  test/integration/targets/strategy_linear/runme.sh
  test/integration/targets/strategy_linear/task_action_templating.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75571 update docs on installing ansible on debian
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: backport, core_review, support:core, docs, docsite, affects_2.11, docs_only

#75551 Fix --list-hosts when undefined var is used (#75533)
  changelogs/fragments/fix_host_list.yml
  lib/ansible/cli/playbook.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.11

#75547 Fix build_ignore when installing a collection from source
  changelogs/fragments/75547-fix-installing-collections-from-source.yaml
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection-scm/tasks/empty_installed_collections.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/individual_collection_repo.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/multi_collection_repo_all.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/multi_collection_repo_individual.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/reinstalling.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/requirements.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/scm_dependency.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/scm_dependency_deduplication.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup_multi_collection_repo.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup_recursive_scm_dependency.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/git_prefix_name.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/name_and_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/name_without_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_and_name.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_and_name_and_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_only.yml
  test/integration/targets/ansible-galaxy-collection-scm/vars/main.yml
Labels: shipit, support:community, support:core, bug, has_issue, affects_2.12

#75602 validate_args_spec, use combine vars and in precedence (#75471)
  changelogs/fragments/vas_fixes.yml
  lib/ansible/modules/validate_argument_spec.py
  lib/ansible/plugins/action/validate_argument_spec.py
Labels: needs_revision, backport, module, needs_triage, support:core, bug, affects_2.11

#75563 Attributes compat
  changelogs/fragments/attributes_compat.yml
  lib/ansible/cli/doc.py
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: backport, test, needs_triage, core_review, support:core, bug, affects_2.11

#75564 Clarify get_bin_path error message (#75544)
  changelogs/fragments/clarify_missing_exe.yml
  lib/ansible/module_utils/common/process.py
  test/units/module_utils/common/process/test_get_bin_path.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.11

#75596 [Backport/2.11/75229] fix option name for parsed (#75229)
  docs/docsite/rst/network/user_guide/network_resource_modules.rst
Labels: backport, networking, needs_triage, core_review, support:core, bug, docs, small_patch, docsite, affects_2.11, docs_only

#75085 clarify cacheable
  lib/ansible/modules/set_fact.py
Labels: module, core_review, stale_ci, support:core, docs, small_patch, affects_2.12, docs_only

#75610 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: core_review, support:core, docs, affects_2.12, docs_only

#75462 [2.11] Improve ansible-galaxy error for InconsistentCandidate exception
  changelogs/fragments/75235-ansible-galaxy-inconsistent-candidate-error.yml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/errors.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75623 [2.11] Fix build_ignore when installing a collection from source (#75547)
  changelogs/fragments/75547-fix-installing-collections-from-source.yaml
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection-scm/tasks/empty_installed_collections.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/individual_collection_repo.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/multi_collection_repo_all.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/multi_collection_repo_individual.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/reinstalling.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/requirements.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/scm_dependency.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/scm_dependency_deduplication.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup_multi_collection_repo.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup_recursive_scm_dependency.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/git_prefix_name.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/name_and_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/name_without_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_and_name.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_and_name_and_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_only.yml
  test/integration/targets/ansible-galaxy-collection-scm/vars/main.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75504 Docs: adds warning about utf-8 in templates
  docs/docsite/rst/user_guide/playbooks_templating.rst
Labels: core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75535 Added info about playbooks for collection
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
Labels: core_review, support:core, docs, small_patch, docsite, affects_2.12, docs_only

#75140 added vault/unvault docs
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: core_review, support:core, docs, affects_2.12, docs_only

#75617 psrp - fix typo
  lib/ansible/plugins/connection/psrp.py
Labels: windows, needs_triage, core_review, support:core, bug, small_patch, affects_2.12

#75633 Modify getent example; closes #75624.
  lib/ansible/modules/getent.py
Labels: module, core_review, support:core, new_contributor, docs, affects_2.12, docs_only

#75615 docs: clarify that known_hosts path must exist
  lib/ansible/modules/known_hosts.py
Labels: module, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75629 adjusted link to the proper branch
  docs/docsite/rst/installation_guide/intro_configuration.rst
Labels: backport, shipit, support:core, docs, small_patch, docsite, affects_2.11, docs_only

#75534 Avoid accessing delegated vars when you dont have a host (#75524)
  changelogs/fragments/fix_syntax_check.yml
  lib/ansible/vars/manager.py
  test/integration/targets/cli/runme.sh
  test/integration/targets/cli/test_syntax/files/vaultsecret
  test/integration/targets/cli/test_syntax/group_vars/all/testvault.yml
  test/integration/targets/cli/test_syntax/roles/some_role/tasks/main.yml
  test/integration/targets/cli/test_syntax/syntax_check.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75490 setup module, dont truncate hpux interfaces (#75423)
  changelogs/fragments/hpux_iface_facts_length.yml
  lib/ansible/module_utils/facts/network/hpux.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.11

#75630 fixed ansible.cfg link for 2.10
  docs/docsite/rst/installation_guide/intro_configuration.rst
Labels: backport, core_review, support:core, docs, small_patch, affects_2.10, docs_only

#75621 Attributes compat (#75563)
  changelogs/fragments/attributes_compat.yml
  lib/ansible/cli/doc.py
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: backport, test, needs_triage, core_review, support:core, bug, affects_2.10

#75631 fixed ansible.cfg link for 2.9
  docs/docsite/rst/installation_guide/intro_configuration.rst
Labels: backport, core_review, support:core, docs, small_patch, affects_2.9, docs_only

#75622 Attributes compat (#75563)
  changelogs/fragments/attributes_compat.yml
  lib/ansible/cli/doc.py
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
Labels: backport, test, needs_triage, core_review, support:core, bug, affects_2.9

#75636 AnsiballZ - Make sure cwd is accessible.
  changelogs/fragments/ansiballz-chdir.yml
  lib/ansible/executor/module_common.py
  test/integration/targets/module_utils/module_utils_basic_setcwd.yml
Labels: core_review, support:community, support:core, bug, affects_2.12

#75634 pip - Use pip from the current Python interpreter.
  changelogs/fragments/pip-entry-point.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/modules/pip.py
  test/units/modules/test_pip.py
Labels: module, core_review, support:core, bug, docs, affects_2.12

#73914 Pipe it to connections (#73688)
  changelogs/fragments/pipelinig_to_plugins.yml
  lib/ansible/config/base.yml
  lib/ansible/plugins/connection/local.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/connection/winrm.py
  lib/ansible/plugins/doc_fragments/connection_pipelining.py
Labels: windows, backport, needs_triage, core_review, stale_ci, support:core, bug, has_issue, affects_2.10

#74258 various fixes to command (#74212)
  changelogs/fragments/command_deliver_promisses.yml
  lib/ansible/modules/command.py
  lib/ansible/parsing/splitter.py
  test/integration/targets/command_shell/tasks/main.yml
Labels: backport, module, needs_triage, core_review, stale_ci, support:community, support:core, bug, affects_2.10

#74257 various fixes to command (#74212)
  changelogs/fragments/command_deliver_promisses.yml
  lib/ansible/modules/command.py
  lib/ansible/parsing/splitter.py
  test/integration/targets/command_shell/tasks/main.yml
Labels: backport, module, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75078 yaml dumper: Add YAML respresenter for AnsibleUndefined
  changelogs/fragments/75072_undefined_yaml.yml
  lib/ansible/parsing/yaml/dumper.py
  lib/ansible/plugins/filter/core.py
  test/units/parsing/yaml/test_dumper.py
Labels: core_review, support:core, bug, affects_2.12

#75651 [stable-2.9] Add additional constraint for `setuptools`
  changelogs/fragments/setuptools-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, affects_2.9

#75653 Revert "[stable-2.9] Add additional constraint for `setuptools` (#756…
  changelogs/fragments/setuptools-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.9

#75659 Disable github_issue test.
  test/integration/targets/github_issue/aliases
Labels: backport, community_review, support:community, source_control, affects_2.9

#75657 Fix win_chocolatey_facts test.
  test/integration/targets/win_chocolatey_facts/tasks/main.yml
Labels: windows, backport, community_review, support:community, bug, affects_2.9

#75661 Fix fetch integration test.
  test/integration/targets/fetch/roles/fetch_tests/tasks/setup.yml
  test/integration/targets/fetch/setup_unreadable_test.yml
  test/integration/targets/fetch/test_unreadable_with_stat.yml
Labels: core_review, support:core, affects_2.12

#75662 Fix various typos in documentation
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/testing/sanity/no-get-exception.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/reference_appendices/glossary.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/collect_information.rst
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/vm_tool_information.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst
  docs/docsite/rst/user_guide/playbooks_debugger.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/windows_performance.rst
Labels: windows, networking, core_review, support:core, docs, docsite, affects_2.12, docs_only

#75670 Fix copy/fetch/file test interactions by cleaning up users with `remove` and `force`
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/file/handlers/main.yml
  test/integration/targets/file/tasks/state_link.yml
Labels: needs_triage, core_review, support:core, affects_2.12

#75679 Ensure we set perms on htpasswd file to avoid permissions errors
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
Labels: needs_triage, core_review, support:core, bug, affects_2.12

#75681 Fix unarchive tests for split controller
  test/integration/targets/unarchive/tasks/test_owner_group.yml
  test/integration/targets/unarchive/tasks/test_tar_gz_owner_group.yml
  test/integration/targets/unarchive/tasks/test_unprivileged_user.yml
Labels: needs_triage, core_review, support:core, affects_2.12

#75682 Run apache via async in subversion tests
  test/integration/targets/subversion/roles/subversion/tasks/setup.yml
Labels: needs_triage, core_review, support:core, bug, affects_2.12

#75604 Fix unexpected exception when a role has an empty argument_specs.yml
  changelogs/fragments/75604-empty-argument-specs.yml
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/roles_arg_spec/roles/empty_argspec/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/empty_argspec/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/empty_file/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/empty_file/tasks/main.yml
  test/integration/targets/roles_arg_spec/test.yml
Labels: core_review, support:community, support:core, bug, P3, affects_2.12

#75693 Docs: Update cross reference tag syntax in User Guide
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/playbooks_advanced_syntax.rst
Labels: core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75468 Try all galaxy servers when locating available versions for a collection
  changelogs/fragments/75468_fix_galaxy_server_fallback.yaml
  lib/ansible/galaxy/collection/galaxy_api_proxy.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
  test/integration/targets/ansible-galaxy-collection/templates/ansible.cfg.j2
Labels: core_review, support:community, support:core, bug, has_issue, affects_2.12

#75668 Fix metadump
  changelogs/fragments/metadump_fix.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/runme.sh
Labels: needs_triage, core_review, support:community, support:core, bug, affects_2.12

#75697 Fix markdown links that were errantly formatted as rst
  docs/docsite/README.md
  hacking/ticket_stubs/bug_is_really_a_question.md
  hacking/ticket_stubs/collections.md
  hacking/ticket_stubs/proposal.md
Labels: core_review, support:core, docs, affects_2.12

#75702 Small typo in vars plugin example.
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: core_review, support:core, docs, small_patch, docsite, affects_2.12, docs_only

#74852 apt module: add option to allow package downgrades
  changelogs/fragments/74852-apt-allow-downgrade.yaml
  lib/ansible/modules/apt.py
  test/integration/targets/apt/tasks/downgrade.yml
  test/integration/targets/apt/tasks/repo.yml
Labels: module, shipit, support:core, new_contributor, feature, has_issue, affects_2.12

#75703 Docs: Edit list of locations to search for roles
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: core_review, support:core, docs, small_patch, has_issue, affects_2.12, docs_only

#75655 Fix git submodules path issue
  changelogs/fragments/75608-git-fix-submodule-path.yml
  lib/ansible/modules/git.py
  test/integration/targets/git/tasks/submodules.yml
Labels: module, core_review, support:core, new_contributor, bug, P3, affects_2.12

#75710 ansible-galaxy - add a per-server validate_certs option
  changelogs/fragments/75710-ansible-galaxy-validate-certs.yml
  lib/ansible/cli/galaxy.py
  test/units/galaxy/test_collection.py
Labels: core_review, support:core, feature, affects_2.12

#75704 Revert "user - consistently create user home directory on Linux" (#71952)
  changelogs/fragments/fix_create_home.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/test_local.yml
  test/integration/targets/user/tasks/test_local_missing_parent_dir.yml
  test/integration/targets/user/vars/main.yml
Labels: module, core_review, support:core, bug, affects_2.12

#75698 PowerShell - Ignore LIB env var when building C# code
  changelogs/fragments/powershell-addtype-env-vars.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.AddType.psm1
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/library/add_type_test.ps1
Labels: windows, core_review, support:community, support:core, bug, affects_2.12

#75620 getent, fix returning mulitple results for key
  changelogs/fragments/getent_multiple_entries_fix.yml
  lib/ansible/modules/getent.py
Labels: module, owner_pr, core_review, support:core, bug, affects_2.12

#75721 Docs: Fix section header notation in Developer Guide
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/vmware_rest_guidelines.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing/sanity/ignores.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_units.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: core_review, support:core, docs, docsite, affects_2.12, docs_only

#75720 Docs: Fix section header notation in Style Guide
  docs/docsite/rst/dev_guide/style_guide/grammar_punctuation.rst
  docs/docsite/rst/dev_guide/style_guide/resources.rst
  docs/docsite/rst/dev_guide/style_guide/spelling_word_choice.rst
  docs/docsite/rst/dev_guide/style_guide/trademarks.rst
  docs/docsite/rst/dev_guide/style_guide/voice_style.rst
  docs/docsite/rst/dev_guide/style_guide/why_use.rst
Labels: core_review, support:core, docs, docsite, affects_2.12, docs_only

#75728 Document validate_certs option for Galaxy server configuration
  docs/docsite/rst/shared_snippets/galaxy_server_list.txt
Labels: needs_triage, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75709 Document diff mode support for apt_repository and cron
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/cron.py
Labels: module, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75730 Ignore support code in update-bundled test.
  test/sanity/code-smell/update-bundled.py
Labels: test, core_review, support:core, bug, affects_2.12

#75731 Integration test and sanity index generation fixes.
  docs/bin/testing_formatter.sh
  test/integration/targets/connection_delegation/runme.sh
  test/integration/targets/infra/runme.sh
Labels: core_review, support:community, support:core, bug, docs, affects_2.12

#75601 Enable ansible-galaxy to specify client id override with Keycloak Token
  changelogs/fragments/75593-ansible-galaxy-keycloak-clientid.yml
  docs/docsite/rst/shared_snippets/galaxy_server_list.txt
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/token.py
  test/units/galaxy/test_token.py
Labels: core_review, support:core, docs, feature, P3, affects_2.12

#74249 Remove (only) user-facing use of ANSIBLE_ASYNC_DIR
  changelogs/fragments/deprecate-ansible-async-dir-envvar.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/async_status.py
  test/integration/targets/async/tasks/main.yml
  test/sanity/ignore.txt
Labels: test, core_review, support:community, support:core, bug, docs, affects_2.12

#75432 facts: Add uptime fact for FreeBSD and Darwin
  lib/ansible/module_utils/facts/hardware/darwin.py
  lib/ansible/module_utils/facts/hardware/freebsd.py
Labels: shipit, support:core, new_contributor, feature, affects_2.12

#75435 Add an `undef` global Jinja function
  changelogs/fragments/75435-creating-Undefined.yml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/core.py
  lib/ansible/template/__init__.py
  test/integration/targets/filter_core/tasks/main.yml
  test/integration/targets/template/runme.sh
  test/integration/targets/undefined/tasks/main.yml
  test/units/plugins/filter/test_core.py
Labels: needs_revision, support:community, support:core, new_contributor, docs, feature, affects_2.12

#75743 ansible-test - Add support for windows/2022
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-windows-server-2022.yaml
  test/lib/ansible_test/_data/completion/windows.txt
Labels: test, core_review, support:core, feature, affects_2.12

#75744 ansible-test - Add `--prime-venvs` option.
  changelogs/fragments/ansible-test-sanity-prime-venvs.yml
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/compile.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/config.py
Labels: test, core_review, support:core, feature, affects_2.12

#75745 ansible-test - Remove deprecated environments.
  changelogs/fragments/ansible-test-cleanup-deprecated.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/completion/remote.txt
Labels: needs_revision, test, support:core, feature, affects_2.12

#75748 rewrite tests for cache plugins pre config manager
  test/integration/targets/old_style_cache_plugins/aliases
  test/integration/targets/old_style_cache_plugins/cleanup.yml
  test/integration/targets/old_style_cache_plugins/inspect_cache.yml
  test/integration/targets/old_style_cache_plugins/plugins/cache/configurable_redis.py
  test/integration/targets/old_style_cache_plugins/plugins/cache/legacy_redis.py
  test/integration/targets/old_style_cache_plugins/runme.sh
  test/integration/targets/old_style_cache_plugins/setup_redis_cache.yml
  test/integration/targets/old_style_cache_plugins/test_fact_gathering.yml
  test/integration/targets/old_style_cache_plugins/test_inventory_cache.yml
Labels: new_plugin, community_review, support:community, affects_2.12

#74013 Python 3.8 Controller Minimum
  changelogs/fragments/74013-controller-py38-min.yml
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/cli/scripts/ansible_cli_stub.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/parsing/vault/__init__.py
  lib/ansible/parsing/yaml/dumper.py
  lib/ansible/parsing/yaml/objects.py
  lib/ansible/playbook/play_context.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/template/native_helpers.py
  lib/ansible/template/safe_eval.py
  setup.py
  test/lib/ansible_test/_internal/ansible_util.py
  test/sanity/ignore.txt
Labels: networking, python3, test, core_review, support:core, docs, feature, has_issue, affects_2.11

#75722 ansible-galaxy: Clone git collections using shallow clones
  changelogs/fragments/74361-install-collection-from-shallow-git-clone.yml
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  test/units/galaxy/test_collection_install.py
Labels: core_review, support:core, feature, affects_2.12

#75043 use passlib default if `password_hash` option isn't set
  changelogs/fragments/passlib-defaults.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  lib/ansible/utils/encrypt.py
  test/integration/targets/filter_core/tasks/main.yml
  test/units/utils/test_encrypt.py
Labels: core_review, support:community, support:core, docs, feature, affects_2.12

#73114 ansible-galaxy role install: download from API response location
  changelogs/fragments/73114-fix-ansible-role-download.yaml
  lib/ansible/galaxy/role.py
  test/units/galaxy/test_role_install.py
Labels: core_review, support:core, new_contributor, bug, has_issue, affects_2.11

#75732 Update vendored copy of distro to 1.6.0
  changelogs/fragments/distro-1.6.0.yml
  hacking/tests/gen_distribution_version_testcase.py
  lib/ansible/module_utils/distro/__init__.py
  lib/ansible/module_utils/distro/_distro.py
  lib/ansible/modules/user.py
  test/units/module_utils/test_distro.py
Labels: module, core_review, support:core, bug, affects_2.12

#75755 ansible-test - Update default containers.
  changelogs/fragments/ansible-test-default-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.12

#75165 Compile role with parents in the task's dependency chain
  changelogs/fragments/75165-fix-role-dep-chain.yaml
  lib/ansible/playbook/role_include.py
  test/integration/targets/roles/39543.yml
  test/integration/targets/roles/47023.yml
  test/integration/targets/roles/roles/39543_role1/tasks/main.yml
  test/integration/targets/roles/roles/39543_role2/tasks/main.yml
  test/integration/targets/roles/roles/39543_role3/meta/main.yml
  test/integration/targets/roles/roles/39543_role3/tasks/main.yml
  test/integration/targets/roles/roles/47023_role1/defaults/main.yml
  test/integration/targets/roles/roles/47023_role1/tasks/main.yml
  test/integration/targets/roles/roles/47023_role1/vars/main.yml
  test/integration/targets/roles/roles/47023_role2/tasks/main.yml
  test/integration/targets/roles/roles/47023_role3/tasks/main.yml
  test/integration/targets/roles/roles/47023_role4/tasks/main.yml
  test/integration/targets/roles/runme.sh
Labels: core_review, support:community, support:core, bug, affects_2.12

#75761 ansible-test - Create injector scripts at runtime.
  MANIFEST.in
  changelogs/fragments/ansible-test-injector.yml
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/bootstrap.py
  test/lib/ansible_test/_internal/commands/sanity/bin_symlinks.py
  test/lib/ansible_test/_internal/payload.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/shebang.py
  test/lib/ansible_test/_util/target/common/constants.py
  test/lib/ansible_test/_util/target/injector/ansible
  test/lib/ansible_test/_util/target/injector/ansible-config
  test/lib/ansible_test/_util/target/injector/ansible-connection
  test/lib/ansible_test/_util/target/injector/ansible-console
  test/lib/ansible_test/_util/target/injector/ansible-doc
  test/lib/ansible_test/_util/target/injector/ansible-galaxy
  test/lib/ansible_test/_util/target/injector/ansible-inventory
  test/lib/ansible_test/_util/target/injector/ansible-playbook
  test/lib/ansible_test/_util/target/injector/ansible-pull
  test/lib/ansible_test/_util/target/injector/ansible-test
  test/lib/ansible_test/_util/target/injector/ansible-vault
  test/lib/ansible_test/_util/target/injector/importer.py
  test/lib/ansible_test/_util/target/injector/pytest
  test/lib/ansible_test/_util/target/injector/python.py
  test/lib/ansible_test/_util/target/injector/virtualenv.sh
  test/lib/ansible_test/_util/target/sanity/import/importer.py
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:core, feature, affects_2.12

#75762 ansible-test - Update distro test containers.
  changelogs/fragments/ansible-test-distro-containers.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.12

#75764 Add constraints to prepare_http_tests target.
  test/integration/targets/prepare_http_tests/tasks/kerberos.yml
Labels: community_review, support:community, affects_2.12

#75619 Add attributes 2/x
  lib/ansible/modules/add_host.py
  lib/ansible/modules/apt.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/assemble.py
  lib/ansible/modules/assert.py
  lib/ansible/modules/async_status.py
  lib/ansible/modules/blockinfile.py
  lib/ansible/modules/command.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/cron.py
  lib/ansible/modules/debconf.py
  lib/ansible/modules/debug.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/dpkg_selections.py
  lib/ansible/modules/expect.py
  lib/ansible/modules/fail.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/file.py
  lib/ansible/modules/find.py
  lib/ansible/modules/gather_facts.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/getent.py
  lib/ansible/modules/git.py
  lib/ansible/modules/group.py
  lib/ansible/modules/group_by.py
  lib/ansible/modules/hostname.py
  lib/ansible/modules/import_playbook.py
  lib/ansible/modules/import_role.py
  lib/ansible/modules/import_tasks.py
  lib/ansible/modules/include_role.py
  lib/ansible/modules/include_tasks.py
  lib/ansible/modules/include_vars.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/meta.py
  lib/ansible/modules/yum.py
  lib/ansible/modules/yum_repository.py
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  lib/ansible/plugins/doc_fragments/action_core.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: new_plugin, test, module, core_review, support:core, docs, has_issue, affects_2.12

#75751 attributes: support extra value 'not applicable' for support
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: test, core_review, support:core, docs, affects_2.12

#75763 ansible-test - Remove unused constraints.
  changelogs/fragments/ansible-test-constraints.yaml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: test, core_review, support:core, feature, affects_2.12

#75769 ansible-test - Add `--prime-containers` option.
  changelogs/fragments/ansible-test-prime-containers.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/environments.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/cloud/galaxy.py
  test/lib/ansible_test/_internal/commands/integration/cloud/httptester.py
  test/lib/ansible_test/_internal/commands/integration/cloud/openshift.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/provisioning.py
Labels: test, core_review, support:core, feature, affects_2.12

#75187 PowerShell - Support optional module util imports
  changelogs/fragments/pwsh-optional-imp.yml
  lib/ansible/executor/powershell/module_manifest.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/module_utils/MyCSMUOptional.cs
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/module_utils/MyPSMUOptional.psm1
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/modules/win_uses_optional.ps1
  test/integration/targets/collections/windows.yml
  test/integration/targets/collections_relative_imports/collection_root/ansible_collections/my_ns/my_col/plugins/module_utils/PSRel4.psm1
  test/integration/targets/collections_relative_imports/collection_root/ansible_collections/my_ns/my_col/plugins/modules/win_relative_optional.ps1
  test/integration/targets/collections_relative_imports/windows.yml
Labels: windows, new_plugin, core_review, support:community, support:core, feature, affects_2.12

#75770 ansible-test - Add minimum constraints for pytest.
  changelogs/fragments/ansible-test-pytest-constraints.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_internal/commands/units/__init__.py
Labels: test, core_review, support:core, feature, affects_2.12

#75773 Fix up validate-modules sanity check for PowerShell
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/module_args.py
Labels: test, needs_triage, core_review, support:core, bug, affects_2.12

#75771 ansible-test - Fix code coverage reporting.
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/coverage/html.py
  test/lib/ansible_test/_internal/commands/coverage/report.py
  test/lib/ansible_test/_internal/commands/coverage/xml.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: test, core_review, support:core, bug, affects_2.12

#75774 ansible-test - Code cleanup.
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/classification/common.py
  test/lib/ansible_test/_internal/classification/csharp.py
  test/lib/ansible_test/_internal/classification/powershell.py
  test/lib/ansible_test/_internal/classification/python.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/coverage/html.py
  test/lib/ansible_test/_internal/commands/coverage/report.py
  test/lib/ansible_test/_internal/commands/coverage/xml.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/commands/units/__init__.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_internal/thread.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
Labels: test, core_review, support:core, bug, affects_2.12

#75752 Update ansible porting guide for 4.6.0 release.
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: core_review, support:core, docs, affects_2.12, docs_only

#75777 Update roadmap to indicate branching happens at feature freeze
  docs/docsite/rst/roadmap/ROADMAP_2_12.rst
Labels: needs_triage, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75759 Add note about `loop_control.extended` memory impact
  docs/docsite/rst/user_guide/playbooks_loops.rst
Labels: core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75754 docs - add some info on plugin option source precedence
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: core_review, support:core, docs, docsite, affects_2.12, docs_only

#75422 correct dedupe scope
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: core_review, support:core, docs, affects_2.12, docs_only

#74158 added section about parallelism to delegation
  docs/docsite/rst/user_guide/playbooks_delegation.rst
Labels: core_review, support:core, docs, pr_day, affects_2.12, docs_only

#75644 using FQCN also for ansible.builtin collection
  docs/docsite/rst/reference_appendices/test_strategies.rst
Labels: core_review, support:core, new_contributor, docs, affects_2.12, docs_only

#75338 clarify order
  docs/docsite/rst/user_guide/playbooks_strategies.rst
Labels: core_review, support:core, docs, affects_2.12, docs_only

#75282 Changed to file instead path for touch choice in state parameter docs
  lib/ansible/modules/file.py
Labels: module, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#73303 ad-hoc: add documentation about pattern
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/intro_patterns.rst
Labels: core_review, support:core, docs, has_issue, affects_2.11, docs_only

#75780 ansible-test - More PEP 484 type hints.
  test/lib/ansible_test/_internal/classification/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/diff.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/git.py
  test/lib/ansible_test/_internal/http.py
  test/lib/ansible_test/_internal/target.py
Labels: test, core_review, support:core, bug, affects_2.12

#75781 ansible-test - Warn about stale sanity venvs.
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
Labels: test, core_review, support:core, feature, affects_2.12

#75779 Revert "Compile role with parents in the task's dependency chain
  changelogs/fragments/75165-fix-role-dep-chain.yaml
  lib/ansible/playbook/role_include.py
  test/integration/targets/roles/39543.yml
  test/integration/targets/roles/47023.yml
  test/integration/targets/roles/roles/39543_role1/tasks/main.yml
  test/integration/targets/roles/roles/39543_role2/tasks/main.yml
  test/integration/targets/roles/roles/39543_role3/meta/main.yml
  test/integration/targets/roles/roles/39543_role3/tasks/main.yml
  test/integration/targets/roles/roles/47023_role1/defaults/main.yml
  test/integration/targets/roles/roles/47023_role1/tasks/main.yml
  test/integration/targets/roles/roles/47023_role1/vars/main.yml
  test/integration/targets/roles/roles/47023_role2/tasks/main.yml
  test/integration/targets/roles/roles/47023_role3/tasks/main.yml
  test/integration/targets/roles/roles/47023_role4/tasks/main.yml
  test/integration/targets/roles/runme.sh
Labels: needs_triage, core_review, support:community, support:core, bug, affects_2.12

#75783 ansible-test - Update default containers.
  changelogs/fragments/ansible-test-default-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, bug, small_patch, affects_2.12

#75782 updated ansible.cfg to guide stray link devel link
  examples/ansible.cfg
Labels: needs_revision, needs_triage, needs_ci, support:core, docs, affects_2.12, docs_only

#75784 ansible-test - More PEP 484 type hints.
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/provider/__init__.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/unwanted.py
  test/lib/ansible_test/_util/controller/sanity/yamllint/yamllinter.py
Labels: test, core_review, support:core, bug, affects_2.12

#75785 Fix lineinfile test
  test/integration/targets/lineinfile/meta/main.yml
  test/integration/targets/lineinfile/tasks/main.yml
  test/integration/targets/lineinfile/tasks/test_string01.yml
  test/integration/targets/lineinfile/tasks/test_string02.yml
Labels: needs_triage, core_review, support:core, bug, affects_2.12

#75778 attribs last PR for now ... i hope
  lib/ansible/modules/assert.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/lineinfile.py
  lib/ansible/modules/package.py
  lib/ansible/modules/package_facts.py
  lib/ansible/modules/pause.py
  lib/ansible/modules/ping.py
  lib/ansible/modules/pip.py
  lib/ansible/modules/raw.py
  lib/ansible/modules/reboot.py
  lib/ansible/modules/replace.py
  lib/ansible/modules/rpm_key.py
  lib/ansible/modules/script.py
  lib/ansible/modules/service.py
  lib/ansible/modules/service_facts.py
  lib/ansible/modules/set_fact.py
  lib/ansible/modules/set_stats.py
  lib/ansible/modules/setup.py
  lib/ansible/modules/shell.py
  lib/ansible/modules/slurp.py
  lib/ansible/modules/stat.py
  lib/ansible/modules/subversion.py
  lib/ansible/modules/systemd.py
  lib/ansible/modules/sysvinit.py
  lib/ansible/modules/tempfile.py
  lib/ansible/modules/template.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/modules/user.py
  lib/ansible/modules/validate_argument_spec.py
  lib/ansible/modules/wait_for.py
  lib/ansible/modules/wait_for_connection.py
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
Labels: module, needs_triage, core_review, support:core, docs, affects_2.12

#75145 ansible is now ansible-core in AUR too
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75801 [stable-2.10] ansible-test - pin antsibull to prevent failures
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/ignore.txt
Labels: backport, test, core_review, support:core, bug, affects_2.10

#75787 Bump antsibull version to get support for attributes and CLI options
  docs/docsite/requirements.txt
Labels: needs_triage, core_review, support:core, docs, affects_2.12, docs_only

#75802 ansible-test - Fix `pylint` error.
  changelogs/fragments/ansible-test-isort.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.10

#75803 [stable-2.9] ansible-test - Fix `pylint` error.
  changelogs/fragments/ansible-test-isort.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.9

#75805 Don't show params when there is an issue with `set_option(s)`
  changelogs/fragments/avoid-set_options-leak.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/module_utils/connection.py
  test/units/module_utils/test_connection.py
Labels: networking, needs_triage, core_review, support:core, bug, affects_2.12

#75812 No Ansible Engine
  README.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: needs_triage, WIP, support:core, docs, affects_2.12

#75806 correct runas comment
  lib/ansible/plugins/become/runas.py
Labels: needs_triage, core_review, support:core, docs, small_patch, affects_2.12

#75811 add install link for windows
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/user_guide/windows_faq.rst
Labels: windows, core_review, support:core, docs, docsite, affects_2.12, docs_only

#75809 [stable-2.10] Don't show params when there is an issue with `set_option(s)` (#75805)
  changelogs/fragments/avoid-set_options-leak.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/module_utils/connection.py
  test/units/module_utils/test_connection.py
Labels: needs_info, backport, networking, needs_triage, needs_template, support:core, affects_2.10

#75808 [stable-2.11] Don't show params when there is an issue with `set_option(s)` (#75805)
  changelogs/fragments/avoid-set_options-leak.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/module_utils/connection.py
  test/units/module_utils/test_connection.py
Labels: needs_info, backport, networking, needs_triage, needs_template, support:core, affects_2.11

#75796 [bp-2.11] Update examples/scripts/uptime.py
  examples/scripts/uptime.py
Labels: backport, needs_triage, core_review, support:core, bug, small_patch, affects_2.11, docs_only

#75750 [2.11] Try all galaxy servers when locating available versions for a collect…
  changelogs/fragments/75468_fix_galaxy_server_fallback.yaml
  lib/ansible/galaxy/collection/galaxy_api_proxy.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
  test/integration/targets/ansible-galaxy-collection/templates/ansible.cfg.j2
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75810 [stable-2.9] Don't show params when there is an issue with `set_option(s)` (#75805).
  changelogs/fragments/avoid-set_options-leak.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/module_utils/connection.py
  test/units/module_utils/test_connection.py
Labels: needs_info, backport, networking, needs_triage, needs_template, support:core, affects_2.9

#75724 PowerShell - Ignore LIB env var when building C# code (#75698) - 2.10
  changelogs/fragments/powershell-addtype-env-vars.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.AddType.psm1
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/library/add_type_test.ps1
Labels: windows, backport, core_review, support:community, support:core, bug, affects_2.10

#75725 PowerShell - Ignore LIB env var when building C# code (#75698) - 2.11
  changelogs/fragments/powershell-addtype-env-vars.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.AddType.psm1
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/library/add_type_test.ps1
Labels: windows, backport, core_review, support:community, support:core, bug, affects_2.11

#75707 netconf - handle import error when running in FIPS mode (#73992)
  changelogs/fragments/fips-ncclient-import-error.yaml
  lib/ansible/plugins/netconf/__init__.py
Labels: backport, networking, needs_triage, core_review, support:core, support:network, bug, affects_2.10

#75684 [2.11] Fix unexpected exception when a role has an empty argument_specs.yml
  changelogs/fragments/75604-empty-argument-specs.yml
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/roles_arg_spec/roles/empty_argspec/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/empty_argspec/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/empty_file/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/empty_file/tasks/main.yml
  test/integration/targets/roles_arg_spec/test.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#75706 netconf - handle import error when running in FIPS mode (#73992)
  changelogs/fragments/fips-ncclient-import-error.yaml
  lib/ansible/plugins/netconf/__init__.py
Labels: backport, networking, needs_triage, core_review, support:core, support:network, bug, has_issue, affects_2.11

#75833 bump devel to 2.13
  .github/RELEASE_NAMES.yml
  docs/docsite/rst/porting_guides/core_porting_guides.rst
  docs/docsite/rst/porting_guides/porting_guide_core_2.13.rst
  lib/ansible/release.py
  test/sanity/ignore.txt
Labels: test, core_review, support:core, docs, feature, affects_2.12

#75795 uri: add documentation for return value path
  lib/ansible/modules/uri.py
Labels: module, core_review, support:core, docs, small_patch, affects_2.12

#75836 Remove deprecated Templar.set_available_variables()
  changelogs/fragments/75828-remove-deprecated-set_available_variables.yml
  lib/ansible/template/__init__.py
Labels: core_review, support:core, bug, affects_2.12

#75838 url_argument_spec: remove deprecated thirsty alias
  changelogs/fragments/75825-75826-get_url-uri-remove-deprecated-thirsty-alias.yml
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/uri.py
  lib/ansible/plugins/doc_fragments/url.py
Labels: module, core_review, support:core, bug, affects_2.12

#75839 copy: remove deprecated thirsty alias
  changelogs/fragments/75824-copy-remove-deprecated-thirsty-alias.yml
  lib/ansible/modules/copy.py
Labels: module, core_review, support:core, bug, affects_2.12

#75840 cli - remove deprecated setting verbosity before sub command
  changelogs/fragments/75823-cli-remove-deprecated-verbosity-before-sub-cmd.yml
  lib/ansible/cli/__init__.py
  test/units/cli/test_galaxy.py
  test/units/cli/test_vault.py
Labels: core_review, support:core, bug, affects_2.12

#75841 test support ec2_ami_info: remove ec2_ami_facts name deprecation
  test/support/integration/plugins/modules/ec2_ami_info.py
Labels: test, needs_triage, core_review, support:core, bug, affects_2.12

#75848 Fix up deprecation removal changelog headers
  changelogs/fragments/75823-cli-remove-deprecated-verbosity-before-sub-cmd.yml
  changelogs/fragments/75824-copy-remove-deprecated-thirsty-alias.yml
  changelogs/fragments/75825-75826-get_url-uri-remove-deprecated-thirsty-alias.yml
  changelogs/fragments/75828-remove-deprecated-set_available_variables.yml
Labels: owner_pr, core_review, support:core, docs, affects_2.13

#75851 Fix sanity test ignores.
  test/sanity/ignore.txt
Labels: test, owner_pr, core_review, support:core, bug, affects_2.13

#75845 Add support for distinct collection skeleton configuration
  changelogs/fragments/75845-ansible-galaxy-support-collection-skeleton.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
Labels: needs_revision, support:core, new_contributor, feature, affects_2.13

#75846 ansible-test - Remove support for Python 2.6.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-python-2.6.yaml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/pytest.ini
  test/lib/ansible_test/_internal/commands/units/__init__.py
  test/lib/ansible_test/_internal/pypi_proxy.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/venv.py
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test-target.cfg
  test/lib/ansible_test/_util/target/common/constants.py
  test/lib/ansible_test/_util/target/setup/quiet_pip.py
  test/sanity/ignore.txt
Labels: test, core_review, support:core, feature, has_issue, affects_2.13

#75855 ansible-test - remove obsolete power/centos remote
  changelogs/fragments/ansible-test-power-cleanup.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: backport, test, core_review, support:core, bug, affects_2.10
