Repository ansible/ansible, pull requests merged in 2021-11, with the labels that each got.

#76186 Add a YAML representer for NativeJinjaUnsafeText
  changelogs/fragments/nativejinjaunsafetext-yaml-representer.yml
  lib/ansible/parsing/yaml/dumper.py
Labels: needs_triage, core_review, support:core, bug, affects_2.13

#75218 deprecate scp_if_ssh
  changelogs/fragments/deprecate_scp_if_ssh.yml
  lib/ansible/plugins/connection/ssh.py
Labels: core_review, support:core, bug, affects_2.12

#73722 Parser errors from within includes should not be rescueable
  changelogs/fragments/73657-include-parser-error-fail.yml
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/include_import/issue73657.yml
  test/integration/targets/include_import/issue73657_tasks.yml
  test/integration/targets/include_import/runme.sh
  test/units/plugins/strategy/test_strategy.py
Labels: core_review, support:community, support:core, bug, affects_2.11

#75540 exhaust list of vault ids before failing
  changelogs/fragments/75540-warn-invalid-configured-vault-secret-files.yaml
  lib/ansible/cli/__init__.py
  test/integration/targets/ansible-vault/runme.sh
Labels: core_review, stale_ci, support:community, support:core, bug, has_issue, affects_2.12

#75768 loop/fact delegation fix
  changelogs/fragments/set_fact_delegation.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/delegate_to/delegate_facts_loop.yml
  test/integration/targets/delegate_to/runme.sh
Labels: core_review, support:community, support:core, bug, affects_2.12

#75635 Skip recursive suboption validation if sub_parameters is not a dict
  changelogs/fragments/75635-fix-role-argspec-suboption-validation.yml
  lib/ansible/module_utils/common/parameters.py
  test/integration/targets/roles_arg_spec/roles/test1/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
Labels: core_review, support:community, support:core, bug, affects_2.12

#76059 Remove redundant docs targets from Makefile.
  Makefile
Labels: core_review, support:core, docs, affects_2.13

#76130 Add skeleton roadmap for Ansible 6
  docs/docsite/rst/roadmap/COLLECTIONS_6.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76194 dnf: add more specific error message for GPG check
  changelogs/fragments/76192-dnf-specific-gpg-error.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/gpg.yml
Labels: module, needs_triage, core_review, support:core, feature, affects_2.13

#76198 [Backport][Docs] Docs 2.12 backportapalooza5
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/dev_guide/developing_modules.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/user_guide/playbooks_tests.rst
  lib/ansible/plugins/doc_fragments/files.py
Labels: backport, core_review, support:core, docs, docsite, affects_2.12

#76197 docs: Update porting guide for Ansible 4.8.0
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76201 docs: Update porting guide for Ansible 5.0.0a3
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76184 LinkUtil - ignore LIB env var
  changelogs/fragments/win_LinkUtil-ignore-LIB.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.LinkUtil.psm1
Labels: windows, core_review, support:core, bug, affects_2.13

#76202 Fix broken M() refs
  lib/ansible/modules/dnf.py
  lib/ansible/modules/yum.py
Labels: module, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76212 Explicitly require iptables for incidental_setup_docker on RHEL8
  test/integration/targets/incidental_setup_docker/vars/RedHat-8.yml
Labels: test, community_review, support:community, affects_2.13

#76209 update backport instructions for 2.12
  docs/docsite/rst/community/development_process.rst
Labels: needs_triage, core_review, support:core, docs, docsite, docs_only, affects_2.13

#76214 [stable-2.12] Explicitly require iptables for incidental_setup_docker on RHEL8 (#76212)
  test/integration/targets/incidental_setup_docker/vars/RedHat-8.yml
Labels: needs_info, backport, test, needs_triage, needs_template, support:community, affects_2.12

#76216 Fix `hcloud_datacenter_info` test
  test/integration/targets/hcloud_datacenter_info/tasks/main.yml
Labels: cloud, backport, community_review, support:community, hcloud, affects_2.9

#75861 Update dev guide for vars plugins in collections
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: core_review, support:core, docs, small_patch, docsite, docs_only, affects_2.13

#76217 ansible-test - Add RHEL 9 support.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-rhel9.yaml
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/vars/RedHat-9.yml
  test/integration/targets/incidental_inventory_docker_swarm/aliases
  test/integration/targets/interpreter_discovery_python/tasks/main.yml
  test/integration/targets/prepare_http_tests/tasks/main.yml
  test/integration/targets/prepare_http_tests/vars/RedHat-9.yml
  test/integration/targets/setup_paramiko/install-RedHat-9-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-RedHat-9-python-3.yml
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-9.yml
  test/integration/targets/subversion/aliases
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:community, support:core, feature, affects_2.13

#76179 ansible-core 2.12 dropped support for galaxy.yaml
  docs/docsite/rst/dev_guide/developing_collections_distributing.rst
Labels: core_review, support:core, docs, small_patch, docsite, docs_only, affects_2.13

#76229 Remove install of setuptools in venv for pip test.
  test/integration/targets/pip/tasks/pip.yml
Labels: needs_revision, needs_rebase, support:core, affects_2.13

#76228 ansible-test - Add Fedora 35 test container.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-fedora35.yml
  test/integration/targets/dnf/vars/Fedora-35.yml
  test/integration/targets/setup_paramiko/install-Fedora-35-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-Fedora-35-python-3.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:community, support:core, feature, affects_2.13

#76231 [Backport][Docs] Docs 2.12 backportapalooza6
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  lib/ansible/modules/dnf.py
  lib/ansible/modules/yum.py
Labels: backport, module, needs_triage, core_review, support:core, docs, docsite, affects_2.12, docs_only

#76241 New release v2.12.0
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.0_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#76205 Update release/maint page for 2.12 release
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  docs/docsite/rst/roadmap/ansible_core_roadmap_index.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76191 set 2.12 to latest
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76246 set VERSION to 2.12
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#76249 set 2.12 to latest (#76191)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#76250 set 2.12 to latest (#76191)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.11, docs_only

#76251 set 2.12 to latest (#76191)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.10, docs_only

#76215 remove fest banner (#75901)
  docs/docsite/.templates/banner.html
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.11, docs_only

#76075 [stable-2.12] ansible-test - Move constants to remove symlink.
  changelogs/fragments/ansible-test-relocate-constants.yaml
  test/lib/ansible_test/_internal/constants.py
  test/lib/ansible_test/_util/target/common/constants.py
Labels: backport, test, core_review, support:core, bug, affects_2.12

#76243 apt - remove obsolete documentation
  lib/ansible/modules/apt.py
Labels: module, core_review, support:core, docs, docs_only, affects_2.13

#76110 [stable-2.12] Don't use output_dir in target tests (#76107)
  test/integration/targets/blockinfile/meta/main.yml
  test/integration/targets/blockinfile/tasks/add_block_to_existing_file.yml
  test/integration/targets/blockinfile/tasks/block_without_trailing_newline.yml
  test/integration/targets/blockinfile/tasks/create_file.yml
  test/integration/targets/blockinfile/tasks/diff.yml
  test/integration/targets/blockinfile/tasks/file_without_trailing_newline.yml
  test/integration/targets/blockinfile/tasks/insertafter.yml
  test/integration/targets/blockinfile/tasks/insertbefore.yml
  test/integration/targets/blockinfile/tasks/main.yml
  test/integration/targets/blockinfile/tasks/preserve_line_endings.yml
  test/integration/targets/blockinfile/tasks/validate.yml
  test/integration/targets/git/meta/main.yml
  test/integration/targets/git/tasks/missing_hostkey.yml
  test/integration/targets/git/tasks/missing_hostkey_acceptnew.yml
  test/integration/targets/git/tasks/setup.yml
  test/integration/targets/git/vars/main.yml
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/uri/tasks/unexpected-failures.yml
  test/integration/targets/user/tasks/test_ssh_key_passphrase.yml
Labels: needs_info, backport, needs_triage, needs_template, support:core, affects_2.12

#76150 [stable-2.12] Fix Windows CI scripts.
  test/utils/shippable/incidental/windows.sh
  test/utils/shippable/windows.sh
Labels: backport, test, core_review, support:core, affects_2.12

#76136 [stable-2.12] ansible-test - Multiple related backports.
  changelogs/fragments/ansible-test-requirements-target.yaml
  changelogs/fragments/ansible-test-sanity-import-loader.yml
  changelogs/fragments/ansible-test-sanity-import-no-pip.yml
  changelogs/fragments/ansible-test-sanity-import.yml
  changelogs/fragments/ansible-test-venv-real-prefix.yaml
  test/integration/targets/ansible-test/aliases
  test/integration/targets/ansible-test/collection-tests/constraints.sh
  test/integration/targets/ansible-test/collection-tests/coverage.sh
  test/integration/targets/ansible-test/collection-tests/integration-constraints.sh
  test/integration/targets/ansible-test/collection-tests/integration.sh
  test/integration/targets/ansible-test/collection-tests/sanity.sh
  test/integration/targets/ansible-test/collection-tests/units-constraints.sh
  test/integration/targets/ansible-test/collection-tests/units.sh
  test/integration/targets/ansible-test/collection-tests/update-ignore.py
  test/integration/targets/ansible-test/collection-tests/venv-pythons.py
  test/integration/targets/ansible-test/collection-tests/venv.sh
  test/lib/ansible_test/_data/requirements/sanity.import.txt
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/commands/units/__init__.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_util/controller/tools/virtualenvcheck.py
  test/lib/ansible_test/_util/controller/tools/yaml_to_json.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
  test/lib/ansible_test/_util/target/setup/quiet_pip.py
  test/lib/ansible_test/_util/target/setup/requirements.py
Labels: backport, test, core_review, support:community, support:core, bug, affects_2.12

#75938 Use new codecov uploader
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  test/sanity/ignore.txt
Labels: test, core_review, support:core, affects_2.13

#76254 ansible-test - Fix collection import test priming.
  test/lib/ansible_test/_internal/commands/sanity/import.py
Labels: test, core_review, support:core, bug, affects_2.13

#74416 Introduce public methods to access PlayIterator._host_states
  changelogs/fragments/74416-PlayIterator-_host_states-setters.yml
  lib/ansible/executor/play_iterator.py
  lib/ansible/plugins/strategy/__init__.py
  test/units/executor/test_play_iterator.py
Labels: core_review, support:core, feature, affects_2.12

#76258 Update porting guide Python 2.7+ wording.
  docs/docsite/rst/porting_guides/porting_guide_core_2.13.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76255 [stable-2.12] ansible-test - Fix collection import test priming.
  test/lib/ansible_test/_internal/commands/sanity/import.py
Labels: backport, test, core_review, support:core, bug, affects_2.12

#76263 Update porting guide for Ansible 5.0.0b1
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#75872 Documentation for other types in collection `requirements.yml`
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/shared_snippets/installing_collections_file.rst
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
  docs/docsite/rst/user_guide/collections_using.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#76266 Fix pip integration test.
  test/integration/targets/pip/tasks/pip.yml
Labels: core_review, support:core, affects_2.13

#76271 [stable-2.12] Fix pip integration test.
  test/integration/targets/pip/tasks/pip.yml
Labels: backport, core_review, support:core, affects_2.12

#76272 [stable-2.11] Fix pip integration test.
  test/integration/targets/pip/tasks/pip.yml
Labels: needs_revision, backport, needs_ci, support:core, affects_2.11

#76273 [stable-2.10] Fix pip integration test.
  test/integration/targets/pip/tasks/pip.yml
Labels: needs_revision, backport, needs_ci, support:core, affects_2.10

#76274 [stable-2.9] Fix pip integration test.
  test/integration/targets/pip/tasks/pip.yml
Labels: backport, core_review, support:core, affects_2.9

#76265 ansible-test - Update default test containers.
  changelogs/fragments/ansible-test-default-containers-4.1.1.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: needs_revision, backport, test, support:core, bug, affects_2.12

#76276 Docs: Link to valid data types for role parameters
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76262 Validate some markup in documentation in validate-modules
  changelogs/fragments/76262-validate-modules-validate-markup.yml
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: test, needs_triage, core_review, support:core, docs, docsite, has_issue, affects_2.13

#76261 Keep pre Python 3.10 literal_eval behavior
  changelogs/fragments/jinja2_native-literal_eval-py310.yml
  lib/ansible/playbook/conditional.py
  lib/ansible/template/native_helpers.py
Labels: core_review, support:core, bug, affects_2.13

#76280 Fixed typo in keyword_desc.yml
  lib/ansible/keyword_desc.yml
Labels: core_review, support:core, new_contributor, docs, small_patch, affects_2.13

#76284 Restore documentation on M() and R()
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.13

#76252 psrp - remove deprecated psrp put_file code
  changelogs/fragments/psrp-put_file-dep.yaml
  lib/ansible/plugins/connection/psrp.py
  test/sanity/ignore.txt
Labels: windows, test, core_review, support:core, feature, affects_2.13

#76281 No longer needed to fall back to sha
  lib/ansible/template/__init__.py
  lib/ansible/utils/hashing.py
  lib/ansible/vars/manager.py
Labels: core_review, support:core, bug, affects_2.13

#76292 fix support containers under podman
  changelogs/fragments/ansible-test-podman-support-containers.yaml
  test/lib/ansible_test/_internal/docker_util.py
Labels: test, core_review, support:core, bug, affects_2.13

#76032 Unbreak hostname.RedHatStrategy
  lib/ansible/modules/hostname.py
  test/units/modules/test_hostname.py
Labels: module, shipit, support:core, new_contributor, bug, P3, has_issue, affects_2.13

#75976 docs/best_practices: all contained vault passwords required when using inventory
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76166 Default callback result format
  changelogs/fragments/default-callback-result-format.yml
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/default.py
  lib/ansible/plugins/callback/minimal.py
  lib/ansible/plugins/doc_fragments/result_format_callback.py
  test/integration/targets/callback_default/callback_default.out.result_format_yaml.stderr
  test/integration/targets/callback_default/callback_default.out.result_format_yaml.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_lossy_verbose.stderr
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_lossy_verbose.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_verbose.stderr
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_verbose.stdout
  test/integration/targets/callback_default/callback_default.out.yaml_result_format_yaml_verbose.stderr
  test/integration/targets/callback_default/callback_default.out.yaml_result_format_yaml_verbose.stdout
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test_yaml.yml
Labels: needs_revision, new_plugin, support:community, support:core, feature, affects_2.13

#76297 ansible-test - Remove near-EOL test containers.
  changelogs/fragments/ansible-test-container-removal.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76291 ansible-test - Remove unused test constraint.
  changelogs/fragments/ansible-test-constraints-cleanup.yaml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: test, core_review, support:core, bug, affects_2.13

#50771 uri module improvements
  changelogs/fragments/50771-uri-improvements.yml
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/uri.py
  test/sanity/ignore.txt
Labels: test, module, WIP, net_tools, support:core, bug, affects_2.8, has_issue

#76303 Update porting guide for Ansible 5.0.0b2
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76305 ansible-test - Add support for RHEL 8.5 instances.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-rhel85.yaml
  test/integration/targets/dnf/tasks/gpg.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76308 ansible-test - Update import test and sanity requirements.
  MANIFEST.in
  changelogs/fragments/ansible-test-sanity-requirements-update.yaml
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
  hacking/update-sanity-requirements.py
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.in
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.txt
  test/lib/ansible_test/_data/requirements/sanity.changelog.in
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/lib/ansible_test/_data/requirements/sanity.import.in
  test/lib/ansible_test/_data/requirements/sanity.import.plugin.in
  test/lib/ansible_test/_data/requirements/sanity.import.plugin.txt
  test/lib/ansible_test/_data/requirements/sanity.import.txt
  test/lib/ansible_test/_data/requirements/sanity.integration-aliases.in
  test/lib/ansible_test/_data/requirements/sanity.integration-aliases.txt
  test/lib/ansible_test/_data/requirements/sanity.pep8.in
  test/lib/ansible_test/_data/requirements/sanity.pep8.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_data/requirements/sanity.runtime-metadata.in
  test/lib/ansible_test/_data/requirements/sanity.runtime-metadata.txt
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.in
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
  test/lib/ansible_test/_data/requirements/sanity.yamllint.in
  test/lib/ansible_test/_data/requirements/sanity.yamllint.txt
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/sanity/code-smell/botmeta.requirements.in
  test/sanity/code-smell/botmeta.requirements.txt
  test/sanity/code-smell/deprecated-config.requirements.in
  test/sanity/code-smell/deprecated-config.requirements.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/code-smell/release-names.requirements.in
  test/sanity/code-smell/release-names.requirements.txt
  test/sanity/code-smell/rstcheck.requirements.in
  test/sanity/code-smell/rstcheck.requirements.txt
  test/sanity/code-smell/test-constraints.py
  test/sanity/code-smell/update-bundled.requirements.in
  test/sanity/code-smell/update-bundled.requirements.txt
  test/sanity/ignore.txt
Labels: test, core_review, support:core, docs, feature, docsite, affects_2.13

#76317 ansible-test - Update base and default containers.
  changelogs/fragments/ansible-test-default-container-update-5.2.0.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76314 Add porting guide entry for fetch_url change in behavior
  docs/docsite/rst/porting_guides/porting_guide_core_2.13.rst
Labels: needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76283 Update docs build requirements to most recent versions of dependencies
  docs/docsite/known_good_reqs.txt
  docs/docsite/requirements.txt
Labels: test, core_review, support:core, docs, docs_only, affects_2.13

#76235 Fix ansible-doc -l ansible.builtin
  changelogs/fragments/76235-fix-ansible-doc-builtin-legacy.yml
  lib/ansible/cli/doc.py
  test/units/cli/test_doc.py
Labels: needs_revision, stale_ci, support:core, stale_review, new_contributor, bug, affects_2.13

#76324 Fix typo in docs for "globbing"
  docs/docsite/rst/dev_guide/developing_plugins.rst
  lib/ansible/plugins/lookup/file.py
Labels: needs_triage, core_review, support:core, docs, small_patch, docsite, docs_only, affects_2.13

#76330 [stable-2.9] Disable aws_lamdba test
  test/integration/targets/aws_lambda/aliases
Labels: backport, community_review, support:community, affects_2.9

#76299 Fix `galaxy.collection.galaxy_api_proxy` types
  lib/ansible/galaxy/collection/galaxy_api_proxy.py
Labels: core_review, support:core, bug, small_patch, backport_request, affects_2.13

#76328 Add macOS 12 to CI
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/macos12-ci-image.yml
  test/integration/targets/lookup_url/aliases
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, core_review, support:community, support:core, affects_2.13

#74175 Reduce number of iterations through PlayIterator
  changelogs/fragments/reduce-playiterator-iterations.yml
  lib/ansible/executor/play_iterator.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
Labels: shipit, support:core, feature, affects_2.12

#76318 galaxy: raise error when inaccessible path is specified multiple times
  changelogs/fragments/76316-galaxy-install-role-inaccessible-dir-fix.yml
  lib/ansible/galaxy/role.py
Labels: core_review, support:core, bug, has_issue, affects_2.13

#76341 update Edit on Github hint
  .github/ISSUE_TEMPLATE/documentation_report.yml
Labels: needs_triage, core_review, support:core, docs, small_patch, affects_2.13

#76352 Add a link to the Ansible 5.x changelog
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76187 loop/fact delegation fix (#75768)
  changelogs/fragments/set_fact_delegation.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/delegate_to/delegate_facts_loop.yml
  test/integration/targets/delegate_to/runme.sh
Labels: backport, needs_triage, core_review, stale_ci, support:community, support:core, bug, affects_2.12

#76190 [2.12] Skip recursive suboption validation if sub_parameters is not a dict
  changelogs/fragments/75635-fix-role-argspec-suboption-validation.yml
  lib/ansible/module_utils/common/parameters.py
  test/integration/targets/roles_arg_spec/roles/test1/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
Labels: backport, needs_triage, core_review, stale_ci, support:community, support:core, bug, affects_2.12

#76204 LinkUtil - ignore LIB env var (#76184) - 2.12
  changelogs/fragments/win_LinkUtil-ignore-LIB.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.LinkUtil.psm1
Labels: windows, backport, core_review, stale_ci, support:core, bug, affects_2.12

#76267 [stable-2.12] Use new codecov uploader (#75938)
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  test/sanity/ignore.txt
Labels: backport, test, core_review, stale_ci, support:core, affects_2.12

#76287 2.12: Keep pre Python 3.10 literal_eval behavior (#76261)
  changelogs/fragments/jinja2_native-literal_eval-py310.yml
  lib/ansible/playbook/conditional.py
  lib/ansible/template/native_helpers.py
Labels: backport, core_review, stale_ci, support:core, bug, affects_2.12

#76298 [Backport][Docs] Docs 2.12 backportapalooza7
  docs/docsite/rst/dev_guide/developing_collections_distributing.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/shared_snippets/installing_collections_file.rst
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
  docs/docsite/rst/user_guide/collections_using.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  lib/ansible/keyword_desc.yml
  lib/ansible/modules/apt.py
Labels: backport, module, core_review, stale_ci, support:core, docs, docsite, affects_2.12

#76337 Localization: Update japanese documentation
  docs/docsite/rst/locales/ja/LC_MESSAGES/community.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/dev_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/installation_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/network.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/porting_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/roadmap.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/scenario_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/user_guide.po
Labels: backport, core_review, support:core, docs, affects_2.12, docs_only

#76171 2.11 `action_groups` normalization
  changelogs/fragments/76164-alias-action-groups-shortnames.yml
  lib/ansible/executor/module_common.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/meta/runtime.yml
Labels: backport, core_review, stale_ci, support:community, support:core, bug, has_issue, affects_2.11

#76189 [2.11] Skip recursive suboption validation if sub_parameters is not a dict
  changelogs/fragments/75635-fix-role-argspec-suboption-validation.yml
  lib/ansible/module_utils/common/parameters.py
  test/integration/targets/roles_arg_spec/roles/test1/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
Labels: backport, needs_triage, core_review, stale_ci, support:community, support:core, bug, affects_2.11

#76203 LinkUtil - ignore LIB env var (#76184) - 2.11
  changelogs/fragments/win_LinkUtil-ignore-LIB.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.LinkUtil.psm1
Labels: windows, backport, core_review, stale_ci, support:core, bug, affects_2.11

#76206 set host_key_checking check to False, rather than if not (which captures False and None) (#75168)
  changelogs/fragments/set-ssh-host_key_checking-defaults.yaml
  lib/ansible/plugins/connection/ssh.py
Labels: backport, core_review, stale_ci, support:core, bug, affects_2.11

#76347 [stable-2.10] connection/ssh: Fix SSH connection arguments (#75245)
  changelogs/fragments/fix_cli_ssh_defaults.yml
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/plugins/connection/ssh.py
Labels: backport, core_review, support:core, bug, affects_2.10

#76269 [stable-2.10] Use new codecov uploader (#75938)
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  test/sanity/ignore.txt
Labels: backport, test, core_review, stale_ci, support:core, affects_2.10

#76268 [stable-2.11] Use new codecov uploader (#75938)
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  test/sanity/ignore.txt
Labels: backport, test, core_review, stale_ci, support:core, affects_2.11

#76270 [stable-2.9] Use new codecov uploader (#75938)
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  test/sanity/ignore.txt
Labels: backport, test, core_review, stale_ci, support:core, affects_2.9

#73629 Add apt option --allow-change-held-packages
  changelogs/fragments/73629_allow-change-held-packages.yml
  lib/ansible/modules/apt.py
  test/integration/targets/apt/defaults/main.yml
  test/integration/targets/apt/handlers/main.yml
  test/integration/targets/apt/tasks/apt.yml
Labels: module, core_review, support:core, new_contributor, feature, collection, affects_2.11

#76363 Docs: Update porting guide for ansible 4.9.0
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#76392 New release v2.12.1rc1
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.1rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#76391 New release v2.11.7rc1
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.7rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.11

#76390 New release v2.10.16rc1
  changelogs/CHANGELOG-v2.10.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.10.16rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.10

#76398 [stable-2.9] fix zypper integration test
  test/integration/targets/zypper/tasks/zypper.yml
Labels: backport, community_review, needs_triage, support:community, packaging, zypper, affects_2.9

#76395 Update Ansible release version to v2.12.1rc1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.12

#76396 Update Ansible release version to v2.11.7rc1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.11

#76397 Update Ansible release version to v2.10.16rc1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.10

#76301 update release and maintenance for Ansible 5
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: WIP, support:core, docs, small_patch, docs_only, affects_2.13

#76304 set latest Ansible version to 5
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: WIP, support:core, docs, small_patch, docs_only, affects_2.13

#76404 Docs: Update porting guide for Ansible 5.0.0
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76406 set latest Ansible version to 5 (#76304)
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, shipit, needs_triage, support:core, docs, small_patch, affects_2.12, docs_only

#76408 [stable-2.12] pin mongodb libraries in test
  test/integration/targets/incidental_setup_mongodb/defaults/main.yml
Labels: needs_revision, backport, test, needs_ci, support:community, affects_2.12

#76409 [stable-2.11] pin mongodb libraries in test
  test/integration/targets/incidental_setup_mongodb/defaults/main.yml
Labels: needs_revision, backport, test, needs_ci, support:community, affects_2.11

#76407 [stable-2.10] pin mongodb libraries in test
  test/integration/targets/incidental_setup_mongodb/defaults/main.yml
Labels: backport, test, community_review, support:community, affects_2.10
