Repository ansible/ansible, pull requests merged in 2021-05, with the labels that each got.

#74527 Integration test fixes.
  test/integration/targets/async/tasks/main.yml
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/git/tasks/archive.yml
  test/integration/targets/setup_cron/defaults/main.yml
  test/integration/targets/setup_cron/meta/main.yml
  test/integration/targets/unarchive/tasks/test_include.yml
  test/integration/targets/yum_repository/tasks/main.yml
Labels: affects_2.12, collection, collection:community.general, core_review, support:community, support:core

#74529 Code cleanup in ansible-test.
  changelogs/fragments/ansible-test-code-cleanup.yml
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/env.py
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/lib/ansible_test/_internal/ssh.py
  test/lib/ansible_test/_internal/units/__init__.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_internal/venv.py
Labels: affects_2.12, bug, core_review, support:core, test

#74453 [stable-2.9] setup_rabbitmq test - Use official repo for rabbitmq-erlang (#74445)
  test/integration/targets/setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.9, backport, collection, collection:community.rabbitmq, community_review, needs_triage, support:community

#74452 [stable-2.10] incidental_setup_rabbitmq test - Use official repo for rabbitmq-erlang (#74445)
  test/integration/targets/incidental_setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.10, backport, community_review, needs_triage, support:community, test

#74450 [stable-2.11] incidental_setup_rabbitmq test - Use official repo for rabbitmq-erlang (#74445)
  test/integration/targets/incidental_setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.11, backport, community_review, needs_triage, support:community, test

#74550 callback_default test - Reduce sleep time to correct CI failures
  test/integration/targets/callback_default/inventory
Labels: affects_2.12, community_review, support:community

#74553 shift a few CI groups [2.9]
  test/integration/targets/apt/aliases
  test/integration/targets/cron/aliases
  test/integration/targets/cronvar/aliases
  test/integration/targets/docker_network/aliases
  test/integration/targets/find/aliases
  test/integration/targets/luks_device/aliases
  test/integration/targets/mysql_db/aliases
  test/integration/targets/mysql_info/aliases
  test/integration/targets/mysql_user/aliases
  test/integration/targets/mysql_variables/aliases
  test/integration/targets/yum/aliases
Labels: affects_2.9, backport, cloud, collection, collection:community.crypto, collection:community.docker, collection:community.general, core_review, crypto, database, docker, mysql, needs_triage, support:community, support:core, system

#74482 Change look and feel of the `ansible-core` docs (#74200)
  docs/docsite/_static/core.css
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.10, backport, core_review, docs, docs_only, support:core

#74463 Product-related updates.
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/other_tools_and_programs.rst
  docs/docsite/rst/community/release_managers.rst
  docs/docsite/rst/dev_guide/developing_api.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/style_guide/spelling_word_choice.rst
  docs/docsite/rst/dev_guide/style_guide/trademarks.rst
Labels: affects_2.9, backport, core_review, docs, docs_only, docsite, support:core

#74462 Product-related updates.
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/other_tools_and_programs.rst
  docs/docsite/rst/community/release_managers.rst
  docs/docsite/rst/dev_guide/developing_api.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/style_guide/spelling_word_choice.rst
  docs/docsite/rst/dev_guide/style_guide/trademarks.rst
Labels: affects_2.10, backport, core_review, docs, docs_only, docsite, support:core

#74545 Add hostname class for Rocky Linux
  changelogs/fragments/support_rocky_linux_hostname.yml
  lib/ansible/modules/hostname.py
Labels: affects_2.12, core_review, feature, module, needs_triage, new_contributor, support:core

#74530 add Rocky Linux to supported distros
  changelogs/fragments/support_rockylinux.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/rockylinux_8_3.json
Labels: affects_2.12, bug, distro_port, feature, has_issue, needs_revision, needs_triage, new_contributor, support:core

#74451 [backport][2.10]update versions (#74432)
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.10, backport, core_review, docs, docs_only, small_patch, support:core

#74526 dont specify default for port, allow ssh/config
  changelogs/fragments/ssh_port_default_fix.yml
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/connection_ssh/check_ssh_defaults.yml
  test/integration/targets/connection_ssh/files/port_overrride_ssh.cfg
  test/integration/targets/connection_ssh/runme.sh
Labels: affects_2.12, bug, core_review, needs_triage, support:community, support:core

#74546 [coverage] improve test coverage for vars lookup
  test/integration/targets/lookup_vars/tasks/main.yml
Labels: affects_2.12, community_review, support:community

#74548 [coverage] improve test coverage for indexed_items lookup
  test/integration/targets/lookup_indexed_items/tasks/main.yml
Labels: affects_2.12, community_review, support:community

#74549 [coverage] improve test coverage for together lookup
  test/integration/targets/lookup_together/tasks/main.yml
Labels: affects_2.12, community_review, support:community

#74551 [cli] remove superfluous trailing space from help
  changelogs/fragments/cli-space-after-help-text.yml
  lib/ansible/cli/__init__.py
Labels: affects_2.12, bug, core_review, support:core

#74509 interpreter_discovery: Hide warning in auto_silent
  changelogs/fragments/74274_interpreter_discovery.yml
  lib/ansible/executor/interpreter_discovery.py
Labels: affects_2.12, bug, core_review, has_issue, support:core

#74547 Use /usr/bin/python3 on rhelish 9+
  changelogs/fragments/74547-use-python3-on-rhel-9.yaml
  lib/ansible/config/base.yml
Labels: affects_2.12, core_review, feature, new_contributor, python3, support:core

#74467 [stable-2.10] Remove obsolete Shippable specific scripts.
  test/sanity/ignore.txt
  test/utils/shippable/check_matrix.py
  test/utils/shippable/shippable.sh
  test/utils/shippable/timing.py
  test/utils/shippable/timing.sh
Labels: affects_2.10, backport, bug, core_review, support:core, test

#74468 [stable-2.9] Remove obsolete Shippable specific scripts.
  test/sanity/ignore.txt
  test/utils/shippable/check_matrix.py
  test/utils/shippable/shippable.sh
  test/utils/shippable/timing.py
  test/utils/shippable/timing.sh
Labels: affects_2.9, backport, bug, core_review, support:core, test

#74470 [stable-2.10] Fix ansible-test AZP build lookup.
  changelogs/fragments/ansible-test-azp-build-api.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.10, backport, bug, core_review, support:core, test

#74471 [stable-2.9] Fix ansible-test AZP build lookup.
  changelogs/fragments/ansible-test-azp-build-api.yml
  test/lib/ansible_test/_internal/ci/azp.py
Labels: affects_2.9, backport, bug, core_review, support:core, test

#74564 Switch incidental OS X tests to macOS.
  .azure-pipelines/azure-pipelines.yml
  test/utils/shippable/incidental/macos.sh
Labels: affects_2.12, core_review, feature, small_patch, support:core, test

#74566 [docs][2.11][backport] Backportapalooza3
  changelogs/fragments/cmd_wording.yml
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/modules/command.py
  lib/ansible/modules/setup.py
  lib/ansible/plugins/lookup/first_found.py
Labels: affects_2.11, backport, bug, core_review, docs, docsite, module, needs_triage, support:core

#74567 functional backport of 74448
  examples/ansible.cfg
  lib/ansible/plugins/action/__init__.py
Labels: affects_2.11, backport, core_review, docs, needs_triage, support:core

#74486 ansible-inventory: Handle exception in toml parsing
  changelogs/fragments/74404_ansible_inventory.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/ansible-inventory/files/invalid_sample.yml
  test/integration/targets/ansible-inventory/files/valid_sample.yml
  test/integration/targets/ansible-inventory/tasks/main.yml
Labels: affects_2.12, bug, collection, core_review, has_issue, support:community, support:core

#74523 Fix inventory cache prefix typos
  docs/templates/config.rst.j2
  lib/ansible/config/base.yml
  lib/ansible/plugins/doc_fragments/inventory_cache.py
Labels: affects_2.12, bug, core_review, docs, support:core

#74584 Reorganize ansible-test command implementations.
  changelogs/fragments/ansible-test-refactor-commands.yml
  test/lib/ansible_test/_internal/classification.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/commands/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/expand.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/missing.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/coverage/erase.py
  test/lib/ansible_test/_internal/commands/coverage/html.py
  test/lib/ansible_test/_internal/commands/coverage/report.py
  test/lib/ansible_test/_internal/commands/coverage/xml.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/acme.py
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/integration/cloud/azure.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cloudscale.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/cloud/foreman.py
  test/lib/ansible_test/_internal/commands/integration/cloud/galaxy.py
  test/lib/ansible_test/_internal/commands/integration/cloud/gcp.py
  test/lib/ansible_test/_internal/commands/integration/cloud/hcloud.py
  test/lib/ansible_test/_internal/commands/integration/cloud/httptester.py
  test/lib/ansible_test/_internal/commands/integration/cloud/nios.py
  test/lib/ansible_test/_internal/commands/integration/cloud/opennebula.py
  test/lib/ansible_test/_internal/commands/integration/cloud/openshift.py
  test/lib/ansible_test/_internal/commands/integration/cloud/scaleway.py
  test/lib/ansible_test/_internal/commands/integration/cloud/vcenter.py
  test/lib/ansible_test/_internal/commands/integration/cloud/vultr.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/ansible_doc.py
  test/lib/ansible_test/_internal/commands/sanity/bin_symlinks.py
  test/lib/ansible_test/_internal/commands/sanity/compile.py
  test/lib/ansible_test/_internal/commands/sanity/ignores.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/sanity/pep8.py
  test/lib/ansible_test/_internal/commands/sanity/pslint.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/commands/sanity/sanity_docs.py
  test/lib/ansible_test/_internal/commands/sanity/shellcheck.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/commands/sanity/yamllint.py
  test/lib/ansible_test/_internal/commands/units/__init__.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.12, core_review, feature, needs_rebase, needs_revision

#74588 Rename hacking/shippable to hacking/azp.
  hacking/azp/README.md
  hacking/azp/download.py
  hacking/azp/get_recent_coverage_runs.py
  hacking/azp/incidental.py
  hacking/azp/run.py
  hacking/shippable/rebalance.py
  test/sanity/code-smell/package-data.py
Labels: affects_2.12, bug, core_review, support:core, test

#74587 Change Shippable refs in docs to Azure Pipelines.
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/dev_guide/developing_collections_testing.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, support:core

#74586 Remove Shippable CI provider from ansible-test.
  .gitignore
  Makefile
  changelogs/fragments/ansible-test-remove-shippable.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_internal/ci/shippable.py
  test/lib/ansible_test/_internal/classification.py
  test/units/ansible_test/ci/test_shippable.py
Labels: affects_2.12, core_review, feature, support:core, test

#74589 Relocate ansible-test change classification files.
  changelogs/fragments/ansible-test-change-classification-reorg.yml
  test/lib/ansible_test/_internal/classification/__init__.py
  test/lib/ansible_test/_internal/classification/csharp.py
  test/lib/ansible_test/_internal/classification/powershell.py
  test/lib/ansible_test/_internal/classification/python.py
Labels: affects_2.12, core_review, feature, support:core, test

#74555 Update cli_parsing.rst
  docs/docsite/rst/network/user_guide/cli_parsing.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, networking, small_patch, support:core

#74442 systemd doc update
  lib/ansible/modules/systemd.py
Labels: affects_2.12, core_review, docs, docs_only, module, support:core

#74413 Update the module lifecycle document to also cover plugins and collections
  docs/docsite/rst/dev_guide/module_lifecycle.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, has_issue, support:core

#74568 pause - ensure control characters are always set appropriately
  changelogs/fragments/73264-pause-emacs.yml
  lib/ansible/plugins/action/pause.py
  test/units/plugins/action/test_pause.py
Labels: affects_2.12, bug, core_review, new_plugin, support:core

#74570 Docs: communication.rst - add ansible-community to the IRC channel list
  docs/docsite/rst/community/communication.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, small_patch, support:core

#74514 warn on walking through pathing issues
  changelogs/fragments/find_walk_warnings.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.12, core_review, feature, module, support:core

#74603 Update ansible-test compile sanity test.
  changelogs/fragments/ansible-test-sanity-compile.yml
  test/lib/ansible_test/_data/sanity/compile/compile.py
Labels: affects_2.12, core_review, feature, python3, support:core, test

#74605 Update pylint sanity test to work on Python 3.10.
  changelogs/fragments/ansible-test-pylint-typed-ast.yml
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: affects_2.12, core_review, feature, python3, support:core, test

#74608 Update import sanity test for Python 3.10.
  changelogs/fragments/ansible-test-sanity-import-python-3.10.yml
  test/lib/ansible_test/_data/sanity/import/importer.py
Labels: affects_2.12, core_review, feature, python3, support:core, test

#73591 cron: removal of deprecations and minor fix
  changelogs/fragments/cron_removals.yml
  lib/ansible/modules/cron.py
Labels: affects_2.11, bug, core_review, module, support:core

#74609 Update runtime-metadata sanity test for Python 3.10.
  changelogs/fragments/ansible-test-sanity-runtime-metadata.yml
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.py
Labels: affects_2.12, core_review, feature, python3, support:core, test

#74610 Remove check for legacy core and extras dirs.
  changelogs/fragments/ansible-test-remove-legacy-check.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.12, core_review, feature, support:core, test

#74611 Reorganize more ansible-test code.
  changelogs/fragments/ansible-test-refactor-integration.yml
  changelogs/fragments/ansible-test-shell-command.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/network.py
  test/lib/ansible_test/_internal/commands/integration/posix.py
  test/lib/ansible_test/_internal/commands/integration/windows.py
  test/lib/ansible_test/_internal/commands/shell/__init__.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.12, core_review, feature, support:core, test

#74612 Add python 3.10 constraint for pyspnego
  changelogs/fragments/pyspnego-py310.yaml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.12, bug, core_review, python3, support:core, test

#74508 service: compare version without LooseVersion
  changelogs/fragments/74488_solaris_looseversion.yml
  lib/ansible/modules/service.py
Labels: affects_2.12, bug, core_review, has_issue, module, support:core

#74502 modules: get_url: Fix checksum binary validation
  changelogs/fragments/74502-get_url-filx-checksum-binary.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.12, bug, core_review, module, support:core

#74607 Remove 'default:' from config settings
  lib/ansible/config/base.yml
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#74622 Ignore more Python 3.10 warnings in import test.
  test/lib/ansible_test/_data/sanity/import/importer.py
Labels: affects_2.12, core_review, feature, support:core, test

#71952 Only create the parent of the home directory
  changelogs/fragments/fix_create_home.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/test_local.yml
  test/integration/targets/user/tasks/test_local_missing_parent_dir.yml
  test/integration/targets/user/vars/main.yml
Labels: affects_2.11, bug, module, needs_revision, python3, support:core, system

#74623 [stable-2.11] callback_default test - Reduce sleep time to correct CI failures (#74550)
  test/integration/targets/callback_default/inventory
Labels: affects_2.11, backport, community_review, support:community

#74627 Fix unit tests on Python 3.10.
  test/units/module_utils/basic/test_exit_json.py
  test/units/parsing/vault/test_vault.py
  test/units/requirements.txt
Labels: affects_2.12, bug, core_review, support:core

#74628 Another unit test fix for Python 3.10.
  test/units/_vendor/__init__.py
  test/units/_vendor/test_vendor.py
Labels: affects_2.12, bug, core_review, support:core

#74631 Add support for testing with Python 3.10.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-python-3.10.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.12, core_review, feature, support:core, test

#74646 Update Python versions used to run Windows tests.
  test/utils/shippable/incidental/windows.sh
  test/utils/shippable/windows.sh
Labels: affects_2.12, core_review, feature, support:core, test

#74647 Update Python versions used to run network tests.
  .azure-pipelines/azure-pipelines.yml
  test/utils/shippable/incidental/network.sh
Labels: affects_2.12, core_review, feature, small_patch, support:core, test

#74652 Update Python versions for controller-only tests.
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/ansible-test-docker/collection-tests/docker.sh
Labels: affects_2.12, core_review, feature, support:community, support:core

#74653 Remove unused CI scripts.
  test/utils/shippable/incidental/aix.sh
  test/utils/shippable/incidental/cs.sh
  test/utils/shippable/incidental/hcloud.sh
  test/utils/shippable/incidental/power.sh
  test/utils/shippable/incidental/tower.sh
  test/utils/shippable/incidental/vcenter.sh
  test/utils/shippable/osx.sh
  test/utils/shippable/power.sh
Labels: affects_2.12, core_review, feature, support:core, test

#74582 Role argspec: allow new argument spec file
  changelogs/fragments/74582-role-argspec-new-file.yml
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  lib/ansible/cli/doc.py
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/ansible-doc/roles/test_role1/meta/argument_specs.yml
  test/integration/targets/ansible-doc/roles/test_role1/meta/main.yml
  test/integration/targets/roles_arg_spec/collections/ansible_collections/foo/bar/MANIFEST.json
  test/integration/targets/roles_arg_spec/collections/ansible_collections/foo/bar/roles/blah/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/collections/ansible_collections/foo/bar/roles/blah/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/a/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/a/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/b/meta/argument_specs.yaml
  test/integration/targets/roles_arg_spec/roles/role_with_no_tasks/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/test1/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/test.yml
Labels: affects_2.12, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, docs, support:community, support:core

#74613 fix: action _fixup_perms2 macos +a remote_paths in list() as it can be a tuple
  changelogs/fragments/74613-actionfixup_perms2_macos_remote_paths_ensure_list.yml
  lib/ansible/plugins/action/__init__.py
Labels: affects_2.12, bug, needs_revision, new_contributor, python3, support:core, traceback

#74625 Exclude unreachable hosts in ansible_play_batch between plays
  changelogs/fragments/74625-fix-ansible_play_batch-between-plays.yml
  lib/ansible/executor/task_queue_manager.py
  test/integration/targets/special_vars_hosts/aliases
  test/integration/targets/special_vars_hosts/inventory
  test/integration/targets/special_vars_hosts/playbook.yml
  test/integration/targets/special_vars_hosts/runme.sh
Labels: affects_2.12, bug, collection, collection:cisco.aci, collection:cisco.mso, collection:cisco.nae, core_review, support:community, support:core

#74639 Add missing 'why:' to 'deprecated:'
  lib/ansible/plugins/doc_fragments/inventory_cache.py
Labels: affects_2.12, bug, core_review, small_patch, support:core

#74596 Better handling of rstisms in ansible-doc
  changelogs/fragments/improve_derstification.yml
  lib/ansible/cli/doc.py
  lib/ansible/keyword_desc.yml
  test/units/cli/test_doc.py
Labels: affects_2.12, bug, core_review, support:core

#74644 Vendor `distutils.version`
  changelogs/fragments/74599-vendor-distutils.yml
  hacking/build_library/build_ansible/command_plugins/dump_keywords.py
  hacking/build_library/build_ansible/command_plugins/release_announcement.py
  lib/ansible/executor/interpreter_discovery.py
  lib/ansible/executor/powershell/module_manifest.py
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/versioning.py
  lib/ansible/galaxy/role.py
  lib/ansible/module_utils/compat/version.py
  lib/ansible/module_utils/facts/system/service_mgr.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/git.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/pip.py
  lib/ansible/modules/service.py
  lib/ansible/modules/subversion.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/test/core.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/version.py
  test/integration/targets/subversion/runme.sh
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.py
  test/lib/ansible_test/_data/sanity/import/importer.py
  test/lib/ansible_test/_data/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/default.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/sanity.cfg
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
  test/sanity/code-smell/deprecated-config.py
  test/sanity/code-smell/update-bundled.py
  test/support/integration/plugins/inventory/foreman.py
  test/support/integration/plugins/module_utils/aws/core.py
  test/support/integration/plugins/module_utils/crypto.py
  test/support/integration/plugins/module_utils/docker/common.py
  test/support/integration/plugins/module_utils/postgres.py
  test/support/integration/plugins/modules/ec2.py
  test/support/integration/plugins/modules/htpasswd.py
  test/support/integration/plugins/modules/mongodb_user.py
  test/support/integration/plugins/modules/x509_crl.py
  test/support/integration/plugins/modules/x509_crl_info.py
  test/units/utils/test_version.py
Labels: affects_2.12, collection, collection:ansible.netcommon, collection:community.crypto, collection:community.general, core_review, feature, module, support:core, test, windows

#74574 use self.host which will always be updated
  changelogs/fragments/ssh_cleanup.yml
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.12, bug, core_review, support:core

#74664 Update the porting guide for ansible-3.4.0
  docs/docsite/rst/porting_guides/porting_guide_3.rst
Labels: affects_2.12, core_review, docs, docs_only, needs_triage, support:core

#74666 CI and compat fixes for Jinja2 >= 3.0
  changelogs/fragments/ansible-test-markupsafe-constraint.yml
  changelogs/fragments/jinja2_decorator_renames.yml
  lib/ansible/__init__.py
  test/integration/targets/groupby_filter/aliases
  test/integration/targets/groupby_filter/requirements.txt
  test/integration/targets/groupby_filter/runme.sh
  test/integration/targets/template_jinja2_latest/aliases
  test/integration/targets/template_jinja2_latest/pip-requirements.txt
  test/integration/targets/template_jinja2_latest/runme.sh
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/sanity/ignore.txt
Labels: affects_2.12, bug, collection, collection:amazon.aws, collection:community.aws, collection:hetzner.hcloud, collection:opentelekomcloud.cloud, core_review, support:community, support:core, test

#74670 [stable-2.11] CI and compat fixes for Jinja2 >= 3.0 (#74666)
  changelogs/fragments/ansible-test-markupsafe-constraint.yml
  changelogs/fragments/jinja2_decorator_renames.yml
  lib/ansible/__init__.py
  test/integration/targets/groupby_filter/aliases
  test/integration/targets/groupby_filter/requirements.txt
  test/integration/targets/groupby_filter/runme.sh
  test/integration/targets/template_jinja2_latest/aliases
  test/integration/targets/template_jinja2_latest/pip-requirements.txt
  test/integration/targets/template_jinja2_latest/runme.sh
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/sanity/ignore.txt
Labels: affects_2.11, backport, bug, core_review, support:community, support:core, test

#74671 [stable-2.10] CI and compat fixes for Jinja2 >= 3.0 (#74666)
  changelogs/fragments/ansible-test-markupsafe-constraint.yml
  changelogs/fragments/jinja2_decorator_renames.yml
  lib/ansible/__init__.py
  test/integration/targets/groupby_filter/aliases
  test/integration/targets/groupby_filter/requirements.txt
  test/integration/targets/groupby_filter/runme.sh
  test/integration/targets/template_jinja2_latest/aliases
  test/integration/targets/template_jinja2_latest/pip-requirements.txt
  test/integration/targets/template_jinja2_latest/runme.sh
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#74672 [stable-2.9] CI and compat fixes for Jinja2 >= 3.0 (#74666)
  changelogs/fragments/ansible-test-markupsafe-constraint.yml
  changelogs/fragments/jinja2_decorator_renames.yml
  lib/ansible/__init__.py
  test/integration/targets/groupby_filter/aliases
  test/integration/targets/groupby_filter/requirements.txt
  test/integration/targets/groupby_filter/runme.sh
  test/integration/targets/inventory_aws_conformance/runme.sh
  test/integration/targets/nuage_vspk/aliases
  test/integration/targets/template_jinja2_latest/aliases
  test/integration/targets/template_jinja2_latest/pip-requirements.txt
  test/integration/targets/template_jinja2_latest/runme.sh
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/sanity/ignore.txt
Labels: affects_2.9, backport, bug, collection, collection:community.network, core_review, support:community, support:core, test

#74629 ini lookup - catch and handle duplicate key and missing section errors
  changelogs/fragments/74601-ini-lookup-handle-errors.yml
  lib/ansible/plugins/lookup/ini.py
  test/integration/targets/lookup_ini/duplicate.ini
  test/integration/targets/lookup_ini/duplicate_case_check.ini
  test/integration/targets/lookup_ini/inventory
  test/integration/targets/lookup_ini/runme.sh
  test/integration/targets/lookup_ini/test_errors.yml
  test/integration/targets/lookup_ini/test_lookup_properties.yml
Labels: affects_2.12, bug, collection, collection:cisco.aci, collection:cisco.mso, collection:cisco.nae, core_review, support:community, support:core

#74680 Update vendored copy of `six` to 1.16.0
  changelogs/fragments/74659-update-six.yml
  lib/ansible/module_utils/six/__init__.py
  test/lib/ansible_test/_data/sanity/import/importer.py
Labels: affects_2.12, core_review, feature, support:core, test

#74681 [stable-2.10] Remove incidental Azure tests
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/incidental_azure_rm_mariadbserver/aliases
  test/integration/targets/incidental_azure_rm_mariadbserver/tasks/main.yml
  test/integration/targets/incidental_azure_rm_resource/aliases
  test/integration/targets/incidental_azure_rm_resource/tasks/main.yml
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/azure_rm_common.py
  test/support/integration/plugins/module_utils/azure_rm_common_rest.py
  test/support/integration/plugins/modules/_azure_rm_mariadbconfiguration_facts.py
  test/support/integration/plugins/modules/_azure_rm_mariadbdatabase_facts.py
  test/support/integration/plugins/modules/_azure_rm_mariadbfirewallrule_facts.py
  test/support/integration/plugins/modules/_azure_rm_mariadbserver_facts.py
  test/support/integration/plugins/modules/_azure_rm_resource_facts.py
  test/support/integration/plugins/modules/_azure_rm_webapp_facts.py
  test/support/integration/plugins/modules/azure_rm_appserviceplan.py
  test/support/integration/plugins/modules/azure_rm_functionapp.py
  test/support/integration/plugins/modules/azure_rm_functionapp_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbconfiguration.py
  test/support/integration/plugins/modules/azure_rm_mariadbconfiguration_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbdatabase.py
  test/support/integration/plugins/modules/azure_rm_mariadbdatabase_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbfirewallrule.py
  test/support/integration/plugins/modules/azure_rm_mariadbfirewallrule_info.py
  test/support/integration/plugins/modules/azure_rm_mariadbserver.py
  test/support/integration/plugins/modules/azure_rm_mariadbserver_info.py
  test/support/integration/plugins/modules/azure_rm_resource.py
  test/support/integration/plugins/modules/azure_rm_resource_info.py
  test/support/integration/plugins/modules/azure_rm_storageaccount.py
  test/support/integration/plugins/modules/azure_rm_webapp.py
  test/support/integration/plugins/modules/azure_rm_webapp_info.py
  test/support/integration/plugins/modules/azure_rm_webappslot.py
  test/utils/shippable/incidental/azure.sh
Labels: affects_2.10, backport, collection, collection:ktdreyer.errata_tool_ansible, core_review, small_patch, support:community, support:core, test

#74222 Adding DigitalOcean cloud support to ansible-test
  changelogs/fragments/74222-ansible-test-digitalocean.yml
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  test/lib/ansible_test/_internal/commands/integration/cloud/digitalocean.py
Labels: affects_2.12, docs, docsite, needs_revision, support:core, test

#74497 Do not remove non-empty cron tabs
  changelogs/fragments/74497-keep-non-empty-crontabs.yml
  lib/ansible/modules/cron.py
  test/integration/targets/cron/tasks/main.yml
  test/integration/targets/cron/vars/alpine.yml
  test/integration/targets/cron/vars/default.yml
Labels: affects_2.12, bug, core_review, module, support:core

#74665 fix config to match doc split
  changelogs/fragments/doc_split.yml
  lib/ansible/config/base.yml
Labels: affects_2.12, bug, core_review, support:core

#74689 Update cron test
  test/integration/targets/cron/tasks/main.yml
Labels: affects_2.12, core_review, needs_triage, support:core

#74686 replace - better handling of file exceptions
  changelogs/fragments/74686-replace-handle-file-exc.yml
  lib/ansible/modules/replace.py
Labels: affects_2.12, bug, core_review, module, support:core

#74012 Skip discovery
  changelogs/fragments/tweaking_interpreter_discovery.yaml
  lib/ansible/executor/task_executor.py
Labels: affects_2.11, bug, core_review, has_issue, support:core

#74585 Update AWS guides with new SDK and Python requirements
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/scenario_guides/guide_aws.rst
Labels: affects_2.12, docs, docs_only, docsite, shipit, support:core

#74563 Add JC filter plugin example
  docs/docsite/rst/network/user_guide/cli_parsing.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, networking, new_contributor, stale_ci, support:core

#74696 Fix typo on roles documentation
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.12, core_review, docs, docs_only, new_contributor, small_patch, support:core

#74638 intro: Add a note about current user
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.12, core_review, docs, docs_only, has_issue, small_patch, support:core

#74706 Backportapalooza5
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_3.inv
  docs/docsite/jinja2.inv
  docs/docsite/python3.inv
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/network/user_guide/cli_parsing.rst
  docs/docsite/rst/scenario_guides/guide_aws.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.11, backport, core_review, docs, docs_only, docsite, networking, support:core

#74710 [stable-2.9] Disable rabbitmq integration tests
  test/integration/targets/rabbitmq_binding/aliases
  test/integration/targets/rabbitmq_lookup/aliases
  test/integration/targets/rabbitmq_plugin/aliases
  test/integration/targets/rabbitmq_publish/aliases
  test/integration/targets/rabbitmq_user/aliases
  test/integration/targets/rabbitmq_vhost/aliases
  test/integration/targets/rabbitmq_vhost_limits/aliases
Labels: affects_2.9, backport, collection, collection:community.rabbitmq, collection:community.windows, community_review, messaging, notification, rabbitmq, support:community, windows

#74713 Remove incidental_setup_rabbitmq integration test
  test/integration/targets/incidental_setup_rabbitmq/aliases
  test/integration/targets/incidental_setup_rabbitmq/files/rabbitmq.conf
  test/integration/targets/incidental_setup_rabbitmq/meta/main.yml
  test/integration/targets/incidental_setup_rabbitmq/tasks/main.yml
  test/integration/targets/incidental_setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.12, community_review, support:community, test

#74708 Issue 73792: Removed mentions of R() and M()
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, needs_triage, support:core

#74715 [stable-2.11] Remove incidental_setup_rabbitmq integration test (#74713)
  test/integration/targets/incidental_setup_rabbitmq/aliases
  test/integration/targets/incidental_setup_rabbitmq/files/rabbitmq.conf
  test/integration/targets/incidental_setup_rabbitmq/meta/main.yml
  test/integration/targets/incidental_setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.11, backport, collection, collection:ktdreyer.errata_tool_ansible, community_review, support:community, test

#74716 [stable-2.10] Remove incidental_setup_rabbitmq integration test (#74713)
  test/integration/targets/incidental_setup_rabbitmq/aliases
  test/integration/targets/incidental_setup_rabbitmq/files/rabbitmq.conf
  test/integration/targets/incidental_setup_rabbitmq/meta/main.yml
  test/integration/targets/incidental_setup_rabbitmq/tasks/ubuntu.yml
Labels: affects_2.10, backport, collection, collection:ktdreyer.errata_tool_ansible, community_review, support:community, test

#74636 docs: Add a note about ansible_date_time
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
Labels: affects_2.12, core_review, docs, docs_only, has_issue, small_patch, support:core

#74493 [stable-2.9] Use our own copy of the Codecov uploader (#74460)
  .azure-pipelines/scripts/publish-codecov.sh
Labels: affects_2.9, backport, core_review, small_patch, stale_ci, support:core

#72904 [stable-2.10] Fix fileglob parameter order bug (#72879)
  changelogs/fragments/72873-fix-fileglob-ordering.yml
  lib/ansible/plugins/lookup/fileglob.py
  test/integration/targets/lookup_fileglob/issue72873/test.yml
  test/integration/targets/lookup_fileglob/runme.sh
Labels: affects_2.10, backport, bug, core_review, stale_ci, support:community, support:core

#74492 [stable-2.10] Use our own copy of the Codecov uploader (#74460)
  .azure-pipelines/scripts/publish-codecov.sh
Labels: affects_2.10, backport, core_review, small_patch, stale_ci, support:core

#74619 [bp-2.10] service - compare version without LooseVersion
  changelogs/fragments/74488_solaris_looseversion.yml
  lib/ansible/modules/service.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#74691 [stable-2.11] replace - better handling of file exceptions (#74686)
  changelogs/fragments/74686-replace-handle-file-exc.yml
  lib/ansible/modules/replace.py
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, support:core

#74682 [stable-2.11] ini lookup - catch and handle duplicate key and missing section errors (#74629)
  changelogs/fragments/74601-ini-lookup-handle-errors.yml
  lib/ansible/plugins/lookup/ini.py
  test/integration/targets/lookup_ini/duplicate.ini
  test/integration/targets/lookup_ini/duplicate_case_check.ini
  test/integration/targets/lookup_ini/inventory
  test/integration/targets/lookup_ini/runme.sh
  test/integration/targets/lookup_ini/test_errors.yml
  test/integration/targets/lookup_ini/test_lookup_properties.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:community, support:core

#74675 [2.11] get_url: Fix checksum binary validation (#74502)
  changelogs/fragments/74502-get_url-filx-checksum-binary.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, support:core

#74656 [stable-2.11] Role argspec: allow new argument spec file (#74582)
  changelogs/fragments/74582-role-argspec-new-file.yml
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  lib/ansible/cli/doc.py
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/ansible-doc/roles/test_role1/meta/argument_specs.yml
  test/integration/targets/ansible-doc/roles/test_role1/meta/main.yml
  test/integration/targets/roles_arg_spec/collections/ansible_collections/foo/bar/MANIFEST.json
  test/integration/targets/roles_arg_spec/collections/ansible_collections/foo/bar/roles/blah/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/collections/ansible_collections/foo/bar/roles/blah/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/a/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/a/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/b/meta/argument_specs.yaml
  test/integration/targets/roles_arg_spec/roles/role_with_no_tasks/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/roles/test1/meta/argument_specs.yml
  test/integration/targets/roles_arg_spec/test.yml
Labels: affects_2.11, backport, bug, core_review, docs, needs_triage, support:community, support:core

#74648 [2.11] ansible-galaxy - increase page size and add retry decorator
  lib/ansible/galaxy/api.py
  lib/ansible/module_utils/api.py
  test/units/galaxy/test_api.py
  test/units/module_utils/test_api.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:core

#74618 [bp-2.11] service - compare version without LooseVersion
  changelogs/fragments/74488_solaris_looseversion.yml
  lib/ansible/modules/service.py
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#74600 [stable-2.11] pause - ensure control characters are always set appropriately (#74568)
  changelogs/fragments/73264-pause-emacs.yml
  lib/ansible/plugins/action/pause.py
  test/units/plugins/action/test_pause.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:core

#74562 dont specify default for port, allow ssh/config (#74526)
  changelogs/fragments/ssh_port_default_fix.yml
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/connection_ssh/check_ssh_defaults.yml
  test/integration/targets/connection_ssh/files/port_overrride_ssh.cfg
  test/integration/targets/connection_ssh/runme.sh
Labels: affects_2.11, backport, bug, core_review, has_issue, needs_triage, stale_ci, support:community, support:core

#74561 [stable-2.11] facts - set correct OS family for Rocky Linux (#74530)
  changelogs/fragments/support_rockylinux.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/rockylinux_8_3.json
Labels: affects_2.11, backport, bug, core_review, has_issue, needs_triage, stale_ci, support:core

#74560 [stable-2.11] hostname - add Rocky Linux support (#74545)
  changelogs/fragments/support_rocky_linux_hostname.yml
  lib/ansible/modules/hostname.py
Labels: affects_2.11, backport, bug, core_review, has_issue, module, needs_triage, stale_ci, support:core

#74528 Makefile: Allow one to specify python version (#74517) [2.11]
  .gitattributes
  Makefile
Labels: affects_2.11, backport, bug, core_review, needs_triage, small_patch, stale_ci, support:core

#74728 [incidental_setup_rabbitmq] [2.11] Remove main
  test/integration/targets/incidental_setup_rabbitmq/tasks/main.yml
Labels: affects_2.11, backport, collection, collection:ktdreyer.errata_tool_ansible, community_review, needs_triage, support:community, test

#74521 [bp-2.11]: apt_key - update error message while importing gpg key
  changelogs/fragments/74476-apt_key-gpg-inline-data.yaml
  lib/ansible/modules/apt_key.py
  test/integration/targets/apt_key/tasks/apt_key_inline_data.yml
  test/integration/targets/apt_key/tasks/main.yml
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#74298 fix config manager list option with choices (#74267)
  changelogs/fragments/allow_lists_of_config_choices.yml
  lib/ansible/config/manager.py
  test/integration/targets/config/lookup_plugins/bogus.py
  test/integration/targets/config/runme.sh
  test/integration/targets/config/validation.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#74308 2.11: Prevent ansible_failed_task from further templating (#74290)
  changelogs/fragments/74036-unsafe-ansible_failed_task.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/blocks/runme.sh
  test/integration/targets/blocks/unsafe_failed_task.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#74312 2.11: Actually run blocks/finalized_task test (#74291)
  test/integration/targets/blocks/runme.sh
Labels: affects_2.11, backport, bug, community_review, needs_triage, support:community

#74522 [bp-2.11]: apt_key - Binary GnuPG keys downloaded via URL were corrupted
  changelogs/fragments/74474-apt_key-gpg-binary-import.yaml
  lib/ansible/modules/apt_key.py
  test/integration/targets/apt_key/tasks/apt_key_binary.yml
  test/integration/targets/apt_key/tasks/main.yml
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, support:core

#74401 [bp-2.11] Detect Homebrew on Mac M1 (Apple Silicon)
  changelogs/fragments/73887.mac-m1-homebrew.yaml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
  test/units/module_utils/facts/test_collectors.py
Labels: affects_2.11, backport, bug, core_review, stale_ci, support:core

#74359 [2.11] Map Debian 8 to Python 2 (#74152)
  changelogs/fragments/debian8_discovery.yml
  lib/ansible/config/base.yml
  test/integration/targets/interpreter_discovery_python/tasks/main.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, python3, stale_ci, support:community, support:core

#74698 [2.11] Do not remove non-empty cron tabs
  changelogs/fragments/74497-keep-non-empty-crontabs.yml
  lib/ansible/modules/cron.py
  test/integration/targets/cron/tasks/main.yml
  test/integration/targets/cron/vars/alpine.yml
  test/integration/targets/cron/vars/default.yml
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, support:core

#74697 [2.10] Do not remove non-empty cron tabs
  changelogs/fragments/74497-keep-non-empty-crontabs.yml
  lib/ansible/modules/cron.py
  test/integration/targets/cron/tasks/main.yml
  test/integration/targets/cron/vars/alpine.yml
  test/integration/targets/cron/vars/default.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:core

#74376 Allow subdirs in playbook collections (#74301)
  changelogs/fragments/coll_pb_subdir_fixes.yml
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/playbooks/play.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/playbooks/type/play.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/playbooks/type/subtype/play.yml
  test/integration/targets/collections/import_collection_pb.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#74371 restores delegated vars that were not passed
  changelogs/fragments/missing_delegate_vars.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/callback/default.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:core

#74630 ini lookup - add case sensitive option
  changelogs/fragments/74601-ini-lookup-add-case-sensitive.yml
  lib/ansible/plugins/lookup/ini.py
  test/integration/targets/lookup_ini/lookup_case_check.properties
  test/integration/targets/lookup_ini/runme.sh
  test/integration/targets/lookup_ini/test_case_sensitive.yml
  test/integration/targets/lookup_ini/test_errors.yml
  test/integration/targets/lookup_ini/test_ini.yml
Labels: affects_2.12, core_review, feature, has_issue, support:community, support:core

#74271 ansible-test - use pwsh to generate stubs
  changelogs/fragments/coverage-pwsh-stubs.yml
  test/lib/ansible_test/_data/coverage_stub.ps1
  test/lib/ansible_test/_internal/commands/coverage/combine.py
Labels: affects_2.12, bug, needs_revision, support:core, test

#74418 Fix world readable setting (#74324)
  changelogs/fragments/world_readable_fixes.yml
  lib/ansible/config/base.yml
  lib/ansible/plugins/action/__init__.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:core

#74050 Correctly set path and fullpath for template vars (#73924)
  changelogs/fragments/template_temp_vars_fix.yml
  lib/ansible/errors/__init__.py
  lib/ansible/plugins/action/template.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/template/__init__.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:core

#74719 Expand delegation options for coverage commands.
  changelogs/fragments/ansible-test-coverage-delegation.yml
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/coverage/erase.py
  test/lib/ansible_test/_internal/commands/coverage/html.py
  test/lib/ansible_test/_internal/commands/coverage/report.py
  test/lib/ansible_test/_internal/commands/coverage/xml.py
Labels: affects_2.12, core_review, feature, support:core, test

#74687 note about adhoc delegate_to hosts
  docs/docsite/rst/user_guide/playbooks_delegation.rst
Labels: affects_2.12, core_review, docs, docs_only, support:core

#74735 [stable-2.10] Remove leftover test file from incidental_setup_rabbitmq removal
  test/integration/targets/incidental_setup_rabbitmq/tasks/main.yml
Labels: affects_2.10, backport, collection, collection:ktdreyer.errata_tool_ansible, community_review, support:community, test

#74738 Add missing changelog
  changelogs/fragments/74240-ansible-galaxy-increase-pagesize-and-handle-throttling.yml
Labels: affects_2.12, bug, core_review, needs_triage, owner_pr, support:core

#74739 [2.11] Add changelog for ansible-galaxy improvements (#74738)
  changelogs/fragments/74240-ansible-galaxy-increase-pagesize-and-handle-throttling.yml
Labels: affects_2.11, backport, core_review, docs, needs_triage, owner_pr, support:core

#74649 [2.10] ansible-galaxy - increase page size and add retry decorator
  changelogs/fragments/74240-ansible-galaxy-increase-pagesize-and-handle-throttling.yml
  lib/ansible/galaxy/api.py
  lib/ansible/module_utils/api.py
  test/units/galaxy/test_api.py
  test/units/module_utils/test_api.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core

#74741 Fix combined coverage file detection.
  test/lib/ansible_test/_internal/commands/coverage/combine.py
Labels: affects_2.12, bug, core_review, support:core, test

#74734 Use --docker to generate coverage XML reports.
  .azure-pipelines/scripts/report-coverage.sh
Labels: affects_2.12, bug, core_review, small_patch, support:core

#74743 Add fallback for coverage report generation.
  .azure-pipelines/scripts/report-coverage.sh
Labels: affects_2.12, core_review, feature, small_patch, support:core

#74720 Fix typo in dnf.py
  lib/ansible/modules/dnf.py
Labels: affects_2.12, bug, module, needs_revision, support:core

#74745 Fix broken Jinja website links
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: affects_2.12, core_review, docs, docs_only, new_contributor, small_patch, support:core

#74746 Fix broken Jinja website links (for tests)
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: affects_2.12, core_review, docs, docs_only, new_contributor, support:core

#74752 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: affects_2.12, core_review, docs, docs_only, support:core

#74106 Improve and extend changelog logs
  docs/docsite/rst/community/development_process.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, stale_ci, support:core

#74699 Remove PyCrypto
  changelogs/fragments/74626-remove-pycrypto.yml
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  docs/docsite/rst/user_guide/vault.rst
  lib/ansible/executor/process/worker.py
  lib/ansible/parsing/vault/__init__.py
  packaging/debian/rules
  setup.py
  test/integration/targets/vault/runme_change_pip_installed.sh
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/units/parsing/vault/test_vault.py
  test/units/parsing/vault/test_vault_editor.py
  test/units/requirements.txt
Labels: affects_2.12, core_review, docs, feature, support:community, support:core, test

#74749 Update release and maintenance for Ansible 4 release
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.12, core_review, docs, docs_only, small_patch, support:core

#74751 update conf.py for Ansible 4 release
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: affects_2.12, core_review, docs, docs_only, needs_triage, support:core

#74755 [2.11][docs]Set the version to 4
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: affects_2.11, backport, core_review, docs, docs_only, needs_triage, small_patch, support:core

#74757 updates list of available versions for Ansible 3 (#74265)
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: affects_2.11, backport, core_review, docs, docs_only, needs_triage, support:core

#74762 Fix small typo in playbook_filters doc
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.12, core_review, docs, docs_only, needs_triage, new_contributor, small_patch, support:core

#74740 avoid literal quoting in config lists
  changelogs/fragments/config_lists_unquote.yml
  lib/ansible/config/manager.py
  test/integration/targets/config/lookup_plugins/types.py
  test/integration/targets/config/runme.sh
  test/integration/targets/config/type_munging.cfg
  test/integration/targets/config/types.yml
Labels: affects_2.12, bug, collection, collection:community.yang, needs_revision, support:community, support:core

#74579 Fix mistaken detection of atomic_container when rpm-ostree is present (fixes #74578)
  changelogs/fragments/74578-fix-ostree-detection.yml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
Labels: affects_2.12, bug, core_review, new_contributor, support:core

#74759 Fix coverage paths reported in AZP.
  .azure-pipelines/templates/coverage.yml
Labels: WIP, affects_2.12, bug, support:core

#74754 version test - improve message when value is empty
  changelogs/fragments/version_compare-error-on-empty.yml
  lib/ansible/plugins/test/core.py
  test/integration/targets/test_core/tasks/main.yml
Labels: affects_2.12, bug, core_review, new_plugin, support:community, support:core

#74780 Remove deprecated include vartags usage
  changelogs/fragments/74144-remove-include-vartags.yml
  lib/ansible/plugins/strategy/__init__.py
  test/sanity/ignore.txt
Labels: affects_2.12, bug, core_review, support:core, test

#74765 windows: Add openssh installation link
  docs/docsite/rst/user_guide/windows_setup.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, has_issue, support:core, windows
