Repository ansible/ansible, pull requests merged in 2021-02, with the labels that each got.

#73416 Match user-requested transitive pre-releases in collection dependency resolver
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/__init__.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#73403 Make `ansible-galaxy collection verify` error out on no `MANIFEST.json`
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
Labels: affects_2.11, bug, core_review, support:community, support:core

#73411 Update ansible-test distro containers.
  changelogs/fragments/ansible-test-update-current-distro-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#72840 Fix warning for nonexistent inventory cache
  changelogs/fragments/inventory-cache-file-missing-warning.yaml
  lib/ansible/plugins/cache/__init__.py
  test/integration/targets/inventory_cache/aliases
  test/integration/targets/inventory_cache/cache/.keep
  test/integration/targets/inventory_cache/cache_host.yml
  test/integration/targets/inventory_cache/plugins/inventory/cache_host.py
  test/integration/targets/inventory_cache/runme.sh
Labels: affects_2.11, bug, core_review, has_issue, new_plugin, support:community, support:core

#73446 [ansible-test] Bump CentOS 6 image (yum repos)
  changelogs/fragments/ansible-test-centos6-vault-mirrors.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core, test

#73447 [ansible-test] Bump CentOS 6 image (yum repos) (#73446) [2.10]
  changelogs/fragments/ansible-test-centos6-vault-mirrors.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#73450 Revert "[ansible-test] Bump CentOS 6 image (yum repos) (#73446) (#73447)" [2.10]
  changelogs/fragments/ansible-test-centos6-vault-mirrors.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#73439 Prevent user fact lookup failure if LOGNAME is set (#17029)
  changelogs/fragments/17029-prevent-user-fact-lookup-failure-is-logname-is-set.yml
  lib/ansible/module_utils/facts/system/user.py
  test/units/module_utils/facts/system/test_user.py
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#73451 Overhaul ansible-test SSH key management.
  changelogs/fragments/ansible-test-ssh-key-management.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/setup/remote.sh
  test/lib/ansible_test/_data/setup/ssh-keys.sh
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#73372 Allow `~` inside paths in galaxy roles
  changelogs/fragments/72966-allow-tilde-inside-galaxy-roles.yml
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy-role/aliases
  test/integration/targets/ansible-galaxy-role/meta/main.yml
  test/integration/targets/ansible-galaxy-role/tasks/main.yml
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core

#73374 [2.10] dev guide: mention that C(...) should be used for inline code
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.10, backport, core_review, docs, docsite, small_patch, support:core

#73350 [backport][stable-2.10] Fix `versionadded` syntax @ galaxy user guide
  docs/docsite/rst/galaxy/user_guide.rst
Labels: affects_2.10, backport, bug, core_review, docs, small_patch, support:core

#73445 Correct pkg_mgr for Fedora-derived OSTree distros
  changelogs/fragments/73084-rhel-for-edge-pkg_mgr-fact-fix.yml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
  test/units/module_utils/facts/test_ansible_collector.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#70647 lineinfile - add search_string parameter for non-regexp searching
  changelogs/fragments/lineinfile-add-search_string-parameter-for-non-regexp-searching.yaml
  lib/ansible/modules/lineinfile.py
  test/integration/targets/lineinfile/files/teststring.conf
  test/integration/targets/lineinfile/files/teststring.txt
  test/integration/targets/lineinfile/files/teststring_58923.txt
  test/integration/targets/lineinfile/tasks/main.yml
  test/integration/targets/lineinfile/tasks/test_string01.yml
  test/integration/targets/lineinfile/tasks/test_string02.yml
Labels: affects_2.11, feature, files, module, needs_revision, support:core

#73454 hostname: fix references in docs
  lib/ansible/modules/hostname.py
Labels: affects_2.11, core_review, docs, module, support:core

#73322 validate_modules: fails with .id attribute not found
  changelogs/fragments/validate-modules_found_try_except_import_fails_module_attribute.yaml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73455 Add the porting guide for Ansible-3.x
  docs/docsite/rst/porting_guides/porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: affects_2.11, core_review, docs, support:core

#73434 fix typo in cli_parsing doc
  docs/docsite/rst/network/user_guide/cli_parsing.rst
Labels: affects_2.11, bug, core_review, docs, docsite, networking, support:core

#73222 [2.10] Remove 'type: complex' from the return values example
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.10, backport, core_review, docs, docsite, small_patch, support:core

#73293 docs backport: add new glossary terms for 2.10 (#71813)
  docs/docsite/rst/reference_appendices/glossary.rst
Labels: affects_2.10, backport, core_review, docs, support:core

#73280 [2.10] Mention that version_added should be collection version in collections
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
Labels: affects_2.10, backport, core_review, docs, docsite, networking, support:core

#73186 [2.10] Documentation: fix formatting
  lib/ansible/modules/command.py
  lib/ansible/modules/debug.py
  lib/ansible/modules/expect.py
  lib/ansible/modules/git.py
  lib/ansible/modules/group.py
  lib/ansible/modules/group_by.py
  lib/ansible/modules/hostname.py
  lib/ansible/modules/package.py
  lib/ansible/modules/package_facts.py
  lib/ansible/modules/user.py
Labels: affects_2.10, backport, commands, core_review, docs, inventory, module, packaging, source_control, support:core, system, utilities

#73287 [2.9] postgresql_user: add clarification about no_password_changes option
  lib/ansible/modules/database/postgresql/postgresql_user.py
Labels: affects_2.9, backport, collection, collection:community.postgresql, community_review, database, docs, module, owner_pr, postgresql, support:community

#73460 [2.10] validate_modules: fails with .id attribute not found (#73322)
  changelogs/fragments/validate-modules_found_try_except_import_fails_module_attribute.yaml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#73336 add option to upgrade collections
  changelogs/fragments/73336-ansible-galaxy_collection_install_upgrade.yaml
  docs/docsite/rst/shared_snippets/installing_collections.txt
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/__init__.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/upgrade.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/units/galaxy/test_collection_install.py
Labels: affects_2.11, core_review, docs, feature, support:community, support:core, test

#73467 Make yum_repository test more reliable
  test/integration/targets/setup_rpm_repo/defaults/main.yml
  test/integration/targets/setup_rpm_repo/handlers/main.yml
  test/integration/targets/setup_rpm_repo/library/create_repo.py
  test/integration/targets/setup_rpm_repo/meta/main.yml
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/yum_repository/defaults/main.yml
  test/integration/targets/yum_repository/handlers/main.yml
  test/integration/targets/yum_repository/meta/main.yml
  test/integration/targets/yum_repository/tasks/main.yml
  test/integration/targets/yum_repository/vars/CentOS-6.yml
  test/integration/targets/yum_repository/vars/CentOS-8.yml
  test/integration/targets/yum_repository/vars/CentOS.yml
  test/integration/targets/yum_repository/vars/Fedora.yml
  test/integration/targets/yum_repository/vars/default.yml
Labels: affects_2.11, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core

#73475 [stable-2.10] Make yum_repository test more reliable (#73467)
  test/integration/targets/setup_rpm_repo/defaults/main.yml
  test/integration/targets/setup_rpm_repo/handlers/main.yml
  test/integration/targets/setup_rpm_repo/library/create_repo.py
  test/integration/targets/setup_rpm_repo/meta/main.yml
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/yum_repository/defaults/main.yml
  test/integration/targets/yum_repository/handlers/main.yml
  test/integration/targets/yum_repository/meta/main.yml
  test/integration/targets/yum_repository/tasks/main.yml
  test/integration/targets/yum_repository/vars/CentOS-8.yml
  test/integration/targets/yum_repository/vars/CentOS.yml
  test/integration/targets/yum_repository/vars/Fedora.yml
  test/integration/targets/yum_repository/vars/default.yml
Labels: affects_2.10, backport, bug, core_review, support:community, support:core

#73476 [stable-2.9] Make yum_repository test more reliable (#73467)
  test/integration/targets/setup_rpm_repo/defaults/main.yml
  test/integration/targets/setup_rpm_repo/handlers/main.yml
  test/integration/targets/setup_rpm_repo/library/create_repo.py
  test/integration/targets/setup_rpm_repo/meta/main.yml
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/yum_repository/defaults/main.yml
  test/integration/targets/yum_repository/handlers/main.yml
  test/integration/targets/yum_repository/meta/main.yml
  test/integration/targets/yum_repository/tasks/main.yml
  test/integration/targets/yum_repository/vars/CentOS-8.yml
  test/integration/targets/yum_repository/vars/CentOS.yml
  test/integration/targets/yum_repository/vars/Fedora.yml
  test/integration/targets/yum_repository/vars/default.yml
Labels: affects_2.9, backport, bug, core_review, support:community, support:core

#73466 [stable-2.8] Fix yum_repository tests for CentOS 8 (#64863)
  test/integration/targets/setup_rpm_repo/defaults/main.yml
  test/integration/targets/setup_rpm_repo/handlers/main.yml
  test/integration/targets/setup_rpm_repo/library/create_repo.py
  test/integration/targets/setup_rpm_repo/meta/main.yml
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/yum_repository/defaults/main.yml
  test/integration/targets/yum_repository/handlers/main.yml
  test/integration/targets/yum_repository/meta/main.yml
  test/integration/targets/yum_repository/tasks/main.yml
  test/integration/targets/yum_repository/tasks/yum_repository_centos.yml
  test/integration/targets/yum_repository/tasks/yum_repository_fedora.yml
Labels: affects_2.8, backport, core_review, support:community, support:core

#73406 Add some ansible-galaxy documentation and fix subdir searching
  docs/docsite/rst/shared_snippets/installing_collections.txt
  docs/docsite/rst/shared_snippets/installing_collections_git_repo.txt
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
Labels: affects_2.11, bug, core_review, docs, support:core

#73463 add self-signed https endpoint for ansible-test
  changelogs/fragments/73463_self_signed_https_endpoint_for_ansible-test.yml
  test/integration/targets/prepare_http_tests/defaults/main.yml
  test/integration/targets/prepare_http_tests/vars/httptester.yml
  test/lib/ansible_test/_data/setup/windows-httptester.ps1
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, core_review, support:community, support:core, test

#73471 Update working group links for maintained cloud collections
  docs/docsite/rst/community/contributing_maintained_collections.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#73485 Update kubernetes collection routing
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.11, bug, core_review, runtime, support:core

#73429 Fix regression introduced in b77abd0491 causing bug in inventory modu…
  changelogs/fragments/73429-inventory-sanitization-constructed-features.yml
  lib/ansible/plugins/inventory/__init__.py
Labels: affects_2.11, bug, core_review, inventory, new_contributor, support:community, support:core

#73487 no_log mask suboption fallback values and defaults CVE-2021-20228
  changelogs/fragments/no_log-fallback.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/module_utils/callback/pure_json.py
  test/integration/targets/module_utils/library/test_no_log.py
  test/integration/targets/module_utils/module_utils_test_no_log.yml
  test/integration/targets/module_utils/module_utils_vvvvv.yml
Labels: affects_2.11, bug, collection, collection:amazon.aws, core_review, needs_triage, support:community, support:core

#73491 bugfix: use to_text(stdout) in psrp.Connection.put_file method
  changelogs/fragments/psrp-json-loads-bytes.yml
  lib/ansible/plugins/connection/psrp.py
Labels: affects_2.11, bug, core_review, needs_triage, new_contributor, support:community, support:core, windows

#73488 [security] Add no_log to several module args (CVE-2021-20191) [2.8]
  changelogs/fragments/new-nolog-entries.yml
  lib/ansible/module_utils/keycloak.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_disk.py
  lib/ansible/modules/cloud/google/gcp_compute_image.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_template.py
  lib/ansible/modules/cloud/google/gcp_compute_region_disk.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_certificate.py
  lib/ansible/modules/cloud/google/gcp_compute_vpn_tunnel.py
  lib/ansible/modules/cloud/google/gcp_sql_instance.py
  lib/ansible/modules/cloud/misc/ovirt.py
  lib/ansible/modules/cloud/oneandone/oneandone_firewall_policy.py
  lib/ansible/modules/cloud/oneandone/oneandone_load_balancer.py
  lib/ansible/modules/cloud/oneandone/oneandone_monitoring_policy.py
  lib/ansible/modules/cloud/oneandone/oneandone_private_network.py
  lib/ansible/modules/cloud/oneandone/oneandone_public_ip.py
  lib/ansible/modules/cloud/rackspace/rax_clb_ssl.py
  lib/ansible/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  lib/ansible/modules/monitoring/librato_annotation.py
  lib/ansible/modules/monitoring/pagerduty_alert.py
  lib/ansible/modules/net_tools/nios/nios_nsgroup.py
  lib/ansible/modules/network/cloudengine/ce_vrrp.py
  lib/ansible/modules/network/itential/iap_start_workflow.py
  lib/ansible/modules/network/netscaler/netscaler_lb_monitor.py
  lib/ansible/modules/network/nxos/nxos_aaa_server.py
  lib/ansible/modules/network/nxos/nxos_pim_interface.py
  lib/ansible/modules/network/nxos/nxos_snmp_user.py
  lib/ansible/modules/network/nxos/nxos_vrrp.py
  lib/ansible/modules/packaging/os/pulp_repo.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/storage/ibm/ibm_sa_host.py
  lib/ansible/modules/storage/netapp/_sf_account_manager.py
  lib/ansible/modules/storage/netapp/na_elementsw_account.py
  lib/ansible/modules/web_infrastructure/sophos_utm/utm_proxy_auth_profile.py
Labels: affects_2.8, backport, bug, cisco, cloud, collection, collection:cisco.nxos, collection:community.docker, collection:community.general, collection:community.network, collection:google.cloud, collection:netapp.elementsw, core_review, deprecated, docker, gce, gitlab, huawei, infoblox, module, monitoring, needs_triage, net_tools, netapp, networking, nxos, packaging, source_control, storage, support:community, support:core, web_infrastructure

#73489 [security] Add no_log to several module args (CVE-2021-20191) [2.9]
  changelogs/fragments/new-nolog-entries.yml
  lib/ansible/module_utils/identity/keycloak/keycloak.py
  lib/ansible/module_utils/netapp.py
  lib/ansible/modules/cloud/docker/docker_swarm.py
  lib/ansible/modules/cloud/google/gcp_compute_backend_service.py
  lib/ansible/modules/cloud/google/gcp_compute_disk.py
  lib/ansible/modules/cloud/google/gcp_compute_image.py
  lib/ansible/modules/cloud/google/gcp_compute_instance_template.py
  lib/ansible/modules/cloud/google/gcp_compute_region_disk.py
  lib/ansible/modules/cloud/google/gcp_compute_snapshot.py
  lib/ansible/modules/cloud/google/gcp_compute_ssl_certificate.py
  lib/ansible/modules/cloud/google/gcp_compute_vpn_tunnel.py
  lib/ansible/modules/cloud/google/gcp_sql_instance.py
  lib/ansible/modules/cloud/misc/ovirt.py
  lib/ansible/modules/cloud/oneandone/oneandone_firewall_policy.py
  lib/ansible/modules/cloud/oneandone/oneandone_load_balancer.py
  lib/ansible/modules/cloud/oneandone/oneandone_monitoring_policy.py
  lib/ansible/modules/cloud/oneandone/oneandone_private_network.py
  lib/ansible/modules/cloud/oneandone/oneandone_public_ip.py
  lib/ansible/modules/cloud/rackspace/rax_clb_ssl.py
  lib/ansible/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  lib/ansible/modules/monitoring/librato_annotation.py
  lib/ansible/modules/monitoring/pagerduty_alert.py
  lib/ansible/modules/net_tools/nios/nios_nsgroup.py
  lib/ansible/modules/network/check_point/cp_mgmt_vpn_community_meshed.py
  lib/ansible/modules/network/check_point/cp_mgmt_vpn_community_star.py
  lib/ansible/modules/network/cloudengine/ce_vrrp.py
  lib/ansible/modules/network/itential/iap_start_workflow.py
  lib/ansible/modules/network/netscaler/netscaler_lb_monitor.py
  lib/ansible/modules/network/nxos/nxos_aaa_server.py
  lib/ansible/modules/network/nxos/nxos_pim_interface.py
  lib/ansible/modules/network/nxos/nxos_snmp_user.py
  lib/ansible/modules/network/nxos/nxos_vrrp.py
  lib/ansible/modules/packaging/os/pulp_repo.py
  lib/ansible/modules/source_control/gitlab_runner.py
  lib/ansible/modules/storage/ibm/ibm_sa_host.py
  lib/ansible/modules/storage/netapp/_sf_account_manager.py
  lib/ansible/modules/storage/netapp/na_elementsw_account.py
  lib/ansible/modules/web_infrastructure/sophos_utm/utm_proxy_auth_profile.py
Labels: affects_2.9, backport, bug, cisco, cloud, collection, collection:check_point.mgmt, collection:checkpoint.checkpoint, collection:cisco.nxos, collection:community.docker, collection:community.general, collection:community.network, collection:google.cloud, collection:netapp.aws, collection:netapp.elementsw, collection:netapp.ontap, collection:netapp.storagegrid, collection:netapp.um_info, collection:netapp_eseries.santricity, core_review, deprecated, docker, gce, gitlab, huawei, identity, infoblox, module, monitoring, needs_triage, net_tools, netapp, networking, nxos, packaging, source_control, storage, support:community, support:core, web_infrastructure

#73428 Bump antsibull-changelog version for changelog sanity test
  changelogs/fragments/73428-changelog-linting-bump-version.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#71979 add ca_path argument to uri module
  changelogs/fragments/71979_ca_path_for_uri.yaml
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/uri.py
  test/integration/targets/uri/tasks/main.yml
Labels: affects_2.11, feature, has_issue, module, needs_revision, net_tools, support:community, support:core, test

#73484 Don't treat host_pinned as lockstep
  changelogs/fragments/73364-default-callback-host-pinned-not-lockstep.yml
  lib/ansible/plugins/callback/default.py
  test/integration/targets/callback_default/callback_default.out.free.stdout
  test/integration/targets/callback_default/callback_default.out.host_pinned.stdout
  test/integration/targets/callback_default/inventory
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test_non_lockstep.yml
Labels: affects_2.11, bug, core_review, support:community, support:core

#73502 no_log keycloak_client's registration_access_token [2.9]
  changelogs/fragments/new-nolog-entries.yml
  lib/ansible/modules/identity/keycloak/keycloak_client.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, identity, module, needs_triage, small_patch, support:community

#73501 no_log keycloak_client's registration_access_token [2.8]
  changelogs/fragments/new-nolog-entries.yml
  lib/ansible/modules/identity/keycloak/keycloak_client.py
Labels: affects_2.8, backport, bug, collection, collection:community.general, community_review, identity, module, needs_triage, small_patch, support:community

#73444 [2.9] Fix warning for nonexistent inventory cache (#72840)
  changelogs/fragments/inventory-cache-file-missing-warning.yaml
  lib/ansible/plugins/cache/__init__.py
  test/integration/targets/inventory_cache/aliases
  test/integration/targets/inventory_cache/cache/.keep
  test/integration/targets/inventory_cache/cache_host.yml
  test/integration/targets/inventory_cache/plugins/inventory/cache_host.py
  test/integration/targets/inventory_cache/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#73414 [2.9] postgresql_query: fix decimal handling
  changelogs/fragments/46-postgresql_query_fix_decimal_handling.yml
  lib/ansible/modules/database/postgresql/postgresql_query.py
  test/integration/targets/postgresql/tasks/postgresql_query.yml
Labels: affects_2.9, backport, bug, collection, collection:community.postgresql, community_review, database, module, needs_triage, postgresql, support:community, test

#73474 Add format options for ansible-galaxy collection list
  changelogs/fragments/73474-galaxy-list-format-options.yml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy-collection/tasks/list.yml
  test/units/cli/galaxy/test_execute_list_collection.py
Labels: affects_2.11, core_review, feature, has_issue, support:community, support:core

#73382 Support large folder size comparisons for win_find (#58466)
  changelogs/fragments/58466-FIX_win_find-Bug-Get-FileStat_fails_on_large_files.yml
  lib/ansible/modules/windows/win_find.ps1
Labels: affects_2.9, backport, bug, collection, collection:ansible.windows, community_review, module, needs_triage, owner_pr, support:community, windows

#73369 2.9: Local vars should have highest precedence in AnsibleJ2Vars (#72830)
  changelogs/fragments/72615-jinja-import-context-fix.yml
  lib/ansible/template/vars.py
  test/integration/targets/template/6653.yml
  test/integration/targets/template/72262.yml
  test/integration/targets/template/72615.yml
  test/integration/targets/template/runme.sh
  test/integration/targets/template/templates/6653-include.j2
  test/integration/targets/template/templates/6653.j2
  test/integration/targets/template/templates/72262-included.j2
  test/integration/targets/template/templates/72262-vars.j2
  test/integration/targets/template/templates/72262.j2
  test/integration/targets/template/templates/72615-macro-nested.j2
  test/integration/targets/template/templates/72615-macro.j2
  test/integration/targets/template/templates/72615.j2
Labels: affects_2.9, backport, bug, ci_verified, needs_revision, needs_triage, support:community, support:core

#73297 [stable-2.9] Fix YAML error message when error is at the end of the file (#73241)
  changelogs/fragments/16456-correct-YAML-error-message-when-file-load-failed.yml
  lib/ansible/errors/__init__.py
  test/units/errors/test_errors.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#73286 [2.9] postgresql_set: Return a message when a passed parameter has not been found
  changelogs/fragments/42-postgresql_set_add_message_when_parameter_not_found.yml
  lib/ansible/modules/database/postgresql/postgresql_set.py
  test/integration/targets/postgresql/tasks/postgresql_set.yml
Labels: affects_2.9, backport, bug, collection, collection:community.postgresql, community_review, database, module, needs_triage, postgresql, support:community, test

#73285 [2.9] postgresql_ping, postgresql_info: fix crash related to PgSQL version parsing
  changelogs/fragments/43-postgresql_modules_fix_version_parsing.yml
  lib/ansible/modules/database/postgresql/postgresql_info.py
  lib/ansible/modules/database/postgresql/postgresql_ping.py
Labels: affects_2.9, backport, bug, collection, collection:community.postgresql, community_review, database, module, needs_triage, owner_pr, postgresql, support:community

#73511 Make non-lockstep callback tests more deterministic
  test/integration/targets/callback_default/callback_default.out.free.stdout
  test/integration/targets/callback_default/callback_default.out.host_pinned.stdout
  test/integration/targets/callback_default/inventory
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test_non_lockstep.yml
Labels: affects_2.11, bug, community_review, needs_triage, support:community

#73271 [2.9] mysql_user: Add missed privileges support
  changelogs/fragments/87-mysql_user_update_valid_privs_frozen_set.yml
  lib/ansible/modules/database/mysql/mysql_user.py
Labels: affects_2.9, backport, bug, collection, collection:community.mysql, community_review, database, module, mysql, needs_triage, owner_pr, support:community

#73243 [bp-2.9] bitbucket_pipeline_variable: Hide secured values in console log
  changelogs/fragments/cve_bitbucket_pipeline_variable.yml
  lib/ansible/modules/source_control/bitbucket/bitbucket_pipeline_variable.py
Labels: affects_2.9, backport, bitbucket, bug, collection, collection:community.general, community_review, module, needs_triage, security, source_control, support:community

#73242 [bp-2.8] bitbucket_pipeline_variable: Hide secured values in console log
  changelogs/fragments/cve_bitbucket_pipeline_variable.yml
  lib/ansible/modules/source_control/bitbucket/bitbucket_pipeline_variable.py
Labels: affects_2.8, backport, bitbucket, bug, collection, collection:community.general, community_review, module, needs_triage, security, source_control, support:community

#73234 [stable-2.9] facts - properly report virtualization facts for Linux guests on bhyve (#73204).
  changelogs/fragments/73167-bhyve-facts.yml
  lib/ansible/module_utils/facts/virtual/linux.py
  test/units/module_utils/facts/virtual/__init__.py
  test/units/module_utils/facts/virtual/test_linux.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#73230 [stable-2.9] pause - adjust warning when run in background (#73182)
  changelogs/fragments/pause-do-not-warn-background-with-seconds.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, utilities

#73189 [bp-2.8] snmp_facts: Hide user sensitive information in console
  changelogs/fragments/snmp_facts.yml
  lib/ansible/modules/net_tools/snmp_facts.py
Labels: affects_2.8, backport, bug, collection, collection:community.general, community_review, module, needs_triage, net_tools, security, support:community

#73188 [bp-2.9] snmp_facts: Hide user sensitive information in console
  changelogs/fragments/snmp_facts.yml
  lib/ansible/modules/net_tools/snmp_facts.py
Labels: affects_2.9, backport, bug, collection, collection:community.general, community_review, module, needs_triage, net_tools, security, support:community

#73516 [setup_rpm_repo test] Ensure rpm-build is present
  test/integration/targets/setup_rpm_repo/vars/Fedora.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-6.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-7.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#73519 [setup_rpm_repo test] Ensure rpm-build is present (#73516) [2.8]
  test/integration/targets/setup_rpm_repo/tasks/main.yml
Labels: affects_2.8, backport, community_review, needs_triage, support:community

#73515 [setup_rpm_repo test] Ensure rpm-build is present [2.9]
  test/integration/targets/setup_rpm_repo/vars/Fedora.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-6.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-7.yml
Labels: affects_2.9, backport, community_review, needs_triage, support:community

#73518 [setup_rpm_repo test] Ensure rpm-build is present (#73516) [2.10]
  test/integration/targets/setup_rpm_repo/vars/Fedora.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-6.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-7.yml
Labels: affects_2.10, backport, community_review, needs_triage, support:community

#73495 bugfix: use to_text(stdout) in psrp.Connection.put_file method (#73491) - 2.9
  changelogs/fragments/psrp-json-loads-bytes.yml
  lib/ansible/plugins/connection/psrp.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, windows

#73493 no_log mask suboption fallback values and defaults CVE-2021-20228 - 2.9
  changelogs/fragments/no_log-fallback.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/module_utils/callback/pure_json.py
  test/integration/targets/module_utils/library/test_no_log.py
  test/integration/targets/module_utils/module_utils_test_no_log.yml
  test/integration/targets/module_utils/module_utils_vvvvv.yml
  test/integration/targets/module_utils/runme.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core

#73520 [2.9] postgresql_query: fix datetime.timedelta type handling
  changelogs/fragments/51-postgresql_query_fix_datetime_timedelta_type_handling.yml
  lib/ansible/modules/database/postgresql/postgresql_query.py
  test/integration/targets/postgresql/tasks/postgresql_query.yml
Labels: affects_2.9, backport, bug, collection, collection:community.postgresql, community_review, database, module, needs_triage, postgresql, support:community, test

#73015 [stable-2.10] import_playbook - change additional params to deprecation (#72987)
  changelogs/fragments/72745-import_playbook-deprecation-extra-params.yml
  changelogs/fragments/ansible-test-sanity-deprecation-collection-name.yml
  lib/ansible/modules/import_playbook.py
  lib/ansible/playbook/playbook_include.py
  test/integration/targets/include_import/runme.sh
  test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, test, utilities

#73144 ensure unsafe writes fallback (#70722)
  changelogs/fragments/unsafe_writes_fix.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/get_url.py
  test/integration/targets/unsafe_writes/aliases
  test/integration/targets/unsafe_writes/basic.yml
  test/integration/targets/unsafe_writes/runme.sh
  test/units/module_utils/basic/test_atomic_move.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, net_tools, stale_ci, support:community, support:core

#73443 [2.10] Fix warning for nonexistent inventory cache (#72840)
  changelogs/fragments/inventory-cache-file-missing-warning.yaml
  lib/ansible/plugins/cache/__init__.py
  test/integration/targets/inventory_cache/aliases
  test/integration/targets/inventory_cache/cache/.keep
  test/integration/targets/inventory_cache/cache_host.yml
  test/integration/targets/inventory_cache/plugins/inventory/cache_host.py
  test/integration/targets/inventory_cache/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73473 git: verify, only use --raw when we need it (#70900) [2.10]
  changelogs/fragments/64469_git_no_raw.yml
  lib/ansible/modules/git.py
  test/integration/targets/git/tasks/gpg-verification.yml
  test/integration/targets/git/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core

#73479 [Backport/2.10/73434] fix typo in cli_parsing doc
  docs/docsite/rst/network/user_guide/cli_parsing.rst
Labels: affects_2.10, backport, bug, core_review, docs, docsite, needs_triage, networking, support:core

#73494 no_log mask suboption fallback values and defaults CVE-2021-20228 - 2.10
  changelogs/fragments/no_log-fallback.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/module_utils/callback/pure_json.py
  test/integration/targets/module_utils/library/test_no_log.py
  test/integration/targets/module_utils/module_utils_test_no_log.yml
  test/integration/targets/module_utils/module_utils_vvvvv.yml
  test/integration/targets/module_utils/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73370 2.10: Local vars should have highest precedence in AnsibleJ2Vars (#72830)
  changelogs/fragments/72615-jinja-import-context-fix.yml
  lib/ansible/template/vars.py
  test/integration/targets/template/6653.yml
  test/integration/targets/template/72262.yml
  test/integration/targets/template/72615.yml
  test/integration/targets/template/runme.sh
  test/integration/targets/template/templates/6653-include.j2
  test/integration/targets/template/templates/6653.j2
  test/integration/targets/template/templates/72262-included.j2
  test/integration/targets/template/templates/72262-vars.j2
  test/integration/targets/template/templates/72262.j2
  test/integration/targets/template/templates/72615-macro-nested.j2
  test/integration/targets/template/templates/72615-macro.j2
  test/integration/targets/template/templates/72615.j2
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73276 fix inventory source parse error handling (#73160)
  changelogs/fragments/fix_inventory_source_parse_error_handling.yml
  lib/ansible/inventory/manager.py
  test/integration/targets/inventory/runme.sh
Labels: affects_2.10, backport, bug, core_review, inventory, needs_triage, support:community, support:core

#73233 [stable-2.10] facts - properly report virtualization facts for Linux guests on bhyve (#73204)
  changelogs/fragments/73167-bhyve-facts.yml
  lib/ansible/module_utils/facts/virtual/linux.py
  test/units/module_utils/facts/virtual/__init__.py
  test/units/module_utils/facts/virtual/test_linux.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73237 [2.10] Always mention the name of the deprecated plugin in routing deprecation messages
  changelogs/fragments/73059-improve-deprecation-texts.yml
  lib/ansible/plugins/loader.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73281 Use a pty for local connections (#73023)
  changelogs/fragments/enable_su_on_local.yaml
  lib/ansible/plugins/connection/local.py
  test/integration/targets/become_su/aliases
  test/integration/targets/become_su/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73296 [stable-2.10] Fix YAML error message when error is at the end of the file (#73241)
  changelogs/fragments/16456-correct-YAML-error-message-when-file-load-failed.yml
  lib/ansible/errors/__init__.py
  test/units/errors/test_errors.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73496 bugfix: use to_text(stdout) in psrp.Connection.put_file method (#73491) - 2.10
  changelogs/fragments/psrp-json-loads-bytes.yml
  lib/ansible/plugins/connection/psrp.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, windows

#73231 [stable-2.10] pause - adjust warning when run in background (#73182)
  changelogs/fragments/pause-do-not-warn-background-with-seconds.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, utilities

#73500 [2.10] Bump antsibull-changelog version for changelog sanity test
  changelogs/fragments/73428-changelog-linting-bump-version.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#73530 Temporary fix for cryptography issues.
  changelogs/fragments/cryptography-fix.yml
  test/integration/targets/setup_paramiko/aliases
  test/integration/targets/setup_paramiko/constraints.txt
  test/integration/targets/setup_paramiko/install-Alpine-3-python-3.yml
  test/integration/targets/setup_paramiko/install-Darwin-python-3.yml
  test/integration/targets/setup_paramiko/install-FreeBSD-11-python-3.yml
  test/integration/targets/setup_paramiko/install-RedHat-8-python-3.yml
  test/integration/targets/setup_paramiko/setup-remote-constraints.yml
  test/integration/targets/setup_paramiko/setup.sh
  test/lib/ansible_test/_internal/executor.py
  test/sanity/code-smell/docs-build.py
Labels: affects_2.11, bug, collection, collection:community.aws, core_review, support:community, support:core, test

#73533 [stable-2.10] Temporary fix for cryptography issues. (#73530).
  changelogs/fragments/cryptography-fix.yml
  test/integration/targets/setup_paramiko/aliases
  test/integration/targets/setup_paramiko/constraints.txt
  test/integration/targets/setup_paramiko/install-Darwin-python-3.yml
  test/integration/targets/setup_paramiko/install-FreeBSD-11-python-3.yml
  test/integration/targets/setup_paramiko/install-RedHat-8-python-3.yml
  test/integration/targets/setup_paramiko/setup-remote-constraints.yml
  test/integration/targets/setup_paramiko/setup.sh
  test/lib/ansible_test/_internal/executor.py
  test/sanity/code-smell/docs-build.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#73532 Add new split filter
  changelogs/fragments/split-filter.yml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/core.py
  test/integration/targets/filter_core/tasks/main.yml
Labels: affects_2.11, core_review, docs, feature, support:community, support:core

#73498 INTERPRETER_PYTHON_DISTRO_MAP: Treat oracle same as rhel/centos
  changelogs/fragments/73498-INTERPRETER_PYTHON_DISTRO_MAP-Treat-oracle-same-as-rhel-centos.yml
  lib/ansible/config/base.yml
Labels: affects_2.11, bug, core_review, needs_triage, new_contributor, support:community, support:core

#73046 Update collection routing
  changelogs/fragments/ansible_runtime_meta.yml
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.11, bug, core_review, has_issue, runtime, support:community, support:core

#73260 default callback - add "show_task_path_on_failure" option
  changelogs/fragments/64625-show-file-path-on-task-failure-callback-option.yml
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/callback/default.py
  lib/ansible/plugins/doc_fragments/default_callback.py
  test/integration/targets/callback_default/callback_default.out.display_path_on_failure.stderr
  test/integration/targets/callback_default/callback_default.out.display_path_on_failure.stdout
  test/integration/targets/callback_default/runme.sh
Labels: affects_2.11, core_review, feature, support:community, support:core

#73541 Add AlmaLinux to the family of Red Hat-like operating systems
  changelogs/fragments/support_almalinux.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/almalinux_8_3_beta.json
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#73545 Bump azure-pipelines-test-container to version 1.8.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.11, core_review, feature, small_patch, support:core

#73547 Update the porting guide for a new ansible release
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#69531 user - add password expiration parameters
  changelogs/fragments/69531_user_password_expire.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/main.yml
  test/integration/targets/user/tasks/test_expires_min_max.yml
Labels: affects_2.10, collection, core_review, feature, module, new_contributor, support:community, support:core, system

#73030 Update guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: affects_2.11, azure, cloud, docs, docsite, has_issue, new_contributor, shipit, support:core

#73265 unarchive: add support for .tar.zst (zstd compression)
  changelogs/fragments/unarchive-support-zst.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/prepare_tests.yml
  test/integration/targets/unarchive/tasks/test_tar_zst.yml
Labels: affects_2.11, feature, files, m:unarchive, module, needs_revision, new_contributor, support:community, support:core

#73560 Fill in some 2.11 roadmap dates
  docs/docsite/rst/roadmap/ROADMAP_2_11.rst
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#70155 Upgrade pylint used by ansible-test.
  changelogs/fragments/ansible-test-pylint-upgrade.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/filter/check_pylint.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/sanity/ignore.txt
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/default.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/sanity.cfg
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/sanity/code-smell/rstcheck.py
  test/sanity/ignore.txt
Labels: affects_2.11, core_review, feature, has_issue, python3, support:community, support:core, test

#73423 module compat for py3.8+ controller
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/test.yml
  changelogs/fragments/module_respawn.yml
  lib/ansible/executor/module_common.py
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/respawn.py
  lib/ansible/module_utils/compat/selinux.py
  lib/ansible/module_utils/facts/system/selinux.py
  lib/ansible/modules/apt.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/package_facts.py
  lib/ansible/modules/yum.py
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/gpg.yml
  test/integration/targets/module_utils_respawn/aliases
  test/integration/targets/module_utils_respawn/library/respawnme.py
  test/integration/targets/module_utils_respawn/tasks/main.yml
  test/integration/targets/module_utils_selinux/aliases
  test/integration/targets/module_utils_selinux/tasks/main.yml
  test/integration/targets/module_utils_selinux/tasks/selinux.yml
  test/integration/targets/setup_rpm_repo/library/create_repo.py
  test/integration/targets/setup_rpm_repo/tasks/main.yml
  test/integration/targets/setup_rpm_repo/vars/RedHat-8.yml
  test/integration/targets/yum/tasks/yum.yml
  test/support/integration/plugins/modules/sefcontext.py
  test/units/executor/module_common/test_recursive_finder.py
  test/units/module_utils/basic/test_imports.py
  test/units/module_utils/basic/test_selinux.py
  test/utils/shippable/incidental/remote.sh
  test/utils/shippable/remote.sh
Labels: affects_2.11, collection, collection:ansible.utils, collection:community.general, collection:ktdreyer.errata_tool_ansible, core_review, feature, has_issue, module, new_plugin, python3, support:community, support:core, test

#54559 only add data when there is data to add
  changelogs/fragments/fix_role_var_loading.yml
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/roles/data_integrity.yml
  test/integration/targets/roles/roles/data/defaults/main/00.yml
  test/integration/targets/roles/roles/data/defaults/main/01.yml
  test/integration/targets/roles/roles/data/tasks/main.yml
  test/integration/targets/roles/runme.sh
  test/units/mock/loader.py
Labels: affects_2.8, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core, test

#73509 add that we now validate choices to porting guide
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73371 added perf note to inc/imp diffs
  docs/docsite/rst/user_guide/playbooks_reuse.rst
Labels: affects_2.11, core_review, docs, has_issue, small_patch, stale_ci, support:core

#73542 fix typo in ansible vault decrypt if file content error
  lib/ansible/parsing/vault/__init__.py
Labels: affects_2.11, bug, core_review, needs_triage, new_contributor, small_patch, support:core

#73571 Let vault lookup output unicode string.
  changelogs/fragments/73456-let-vault-lookup-output-string.yml
  lib/ansible/plugins/lookup/unvault.py
  test/integration/targets/unvault/aliases
  test/integration/targets/unvault/main.yml
  test/integration/targets/unvault/password
  test/integration/targets/unvault/runme.sh
  test/integration/targets/unvault/vault
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, community_review, support:community

#73465 Ansible 4 roadmap
  docs/docsite/rst/roadmap/COLLECTIONS_4.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#73335 Add argument spec validator
  changelogs/fragments/73335-argument-spec_validator.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/common/validation.py
  test/units/module_utils/common/arg_spec/__init__.py
  test/units/module_utils/common/arg_spec/test_sub_spec.py
  test/units/module_utils/common/arg_spec/test_validate_aliases.py
  test/units/module_utils/common/arg_spec/test_validate_basic.py
  test/units/module_utils/common/arg_spec/test_validate_failures.py
Labels: arg_spec, ci_verified

#73578 Fix ansible-test constraints issues.
  changelogs/fragments/ansible-test-updates.yml
  test/lib/ansible_test/_data/quiet_pip.py
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/lib/ansible_test/_data/requirements/sanity.integration-aliases.txt
  test/lib/ansible_test/_data/requirements/sanity.pep8.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_data/requirements/sanity.runtime-metadata.txt
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
  test/lib/ansible_test/_data/requirements/sanity.yamllint.txt
  test/lib/ansible_test/_data/sanity/code-smell/changelog.json
  test/lib/ansible_test/_internal/sanity/__init__.py
  test/sanity/code-smell/botmeta.requirements.txt
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/code-smell/test-constraints.json
  test/sanity/code-smell/test-constraints.py
  test/sanity/ignore.txt
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73279 Use iskeyword and str.isidentifier for "is FQCN"
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/units/cli/test_galaxy.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.11, core_review, support:core

#73540 ansible-test: yamllint, check the assigment
  changelogs/fragments/ansible_test_yamllint_avoid_attribute_exception.yaml
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73579 Update ansible-test default test containers.
  changelogs/fragments/ansible-test-default-3.1.0.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#73418 allow constructed to use vars plugin
  changelogs/fragments/constructed_vars_plugins.yml
  lib/ansible/inventory/data.py
  lib/ansible/inventory/manager.py
  lib/ansible/plugins/inventory/__init__.py
  lib/ansible/plugins/inventory/constructed.py
  test/integration/targets/inventory_constructed/invs/1/group_vars/stuff.yml
  test/integration/targets/inventory_constructed/invs/1/host_vars/testing.yml
  test/integration/targets/inventory_constructed/invs/1/one.yml
  test/integration/targets/inventory_constructed/invs/2/constructed.yml
  test/integration/targets/inventory_constructed/runme.sh
Labels: affects_2.11, core_review, feature, inventory, support:community, support:core

#73586 corrected description info
  lib/ansible/plugins/inventory/constructed.py
Labels: affects_2.11, community_review, docs, needs_triage, small_patch, support:community

#73152 Role arg spec validation implementation
  changelogs/fragments/73152-role-arg-spec.yaml
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  lib/ansible/modules/validate_argument_spec.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/plugins/action/validate_argument_spec.py
  test/integration/targets/roles_arg_spec/aliases
  test/integration/targets/roles_arg_spec/roles/a/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/a/tasks/alternate.yml
  test/integration/targets/roles_arg_spec/roles/a/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/a/tasks/no_spec_entrypoint.yml
  test/integration/targets/roles_arg_spec/roles/b/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/b/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/c/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/c/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/role_with_no_tasks/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/test1/defaults/main.yml
  test/integration/targets/roles_arg_spec/roles/test1/meta/main.yml
  test/integration/targets/roles_arg_spec/roles/test1/tasks/main.yml
  test/integration/targets/roles_arg_spec/roles/test1/tasks/other.yml
  test/integration/targets/roles_arg_spec/roles/test1/tasks/test1_other.yml
  test/integration/targets/roles_arg_spec/roles/test1/vars/main.yml
  test/integration/targets/roles_arg_spec/roles/test1/vars/other.yml
  test/integration/targets/roles_arg_spec/runme.sh
  test/integration/targets/roles_arg_spec/test.yml
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
  test/integration/targets/roles_arg_spec/test_play_level_role_fails.yml
Labels: affects_2.11, arg_spec, collection, collection:ktdreyer.errata_tool_ansible, collection:ngine_io.pingping, collection:t_systems_mms.icinga_director, core_review, docs, feature, module, new_module, new_plugin, support:community, support:core

#73588 pause action: catch more potential errors when setting up curses
  changelogs/fragments/pause-import.yml
  lib/ansible/plugins/action/pause.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73574 Conscious language added to user guide, development guide, and Ansible community guide,
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/dev_guide/index.rst
  docs/docsite/rst/user_guide/index.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#72497 Import sanity test for plugins
  changelogs/fragments/72497-ansible-test-import-plugins.yml
  docs/docsite/rst/dev_guide/testing/sanity/ansible-requirements.rst
  test/lib/ansible_test/_data/requirements/sanity.import-plugins.txt
  test/lib/ansible_test/_data/sanity/import/importer.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/sanity/import.py
  test/lib/ansible_test/_internal/util.py
  test/sanity/code-smell/ansible-requirements.json
  test/sanity/code-smell/ansible-requirements.py
  test/sanity/code-smell/test-constraints.py
Labels: affects_2.11, docs, docsite, feature, has_issue, needs_revision, support:community, support:core, test

#73589 Add rolespec_validate to import/include_role
  changelogs/fragments/73589-rolespec-validate.yml
  lib/ansible/modules/import_role.py
  lib/ansible/modules/include_role.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/role_include.py
  test/integration/targets/roles_arg_spec/test.yml
Labels: affects_2.11, core_review, feature, module, needs_triage, support:community, support:core

#73590 ansible-doc - account for empty meta/main.yml
  changelogs/fragments/ansible-doc-role-empty-meta-main.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/roles/test_role3/meta/main.yml
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, needs_triage, support:community, support:core

#73593 Add test to verify pkg_resources imports work.
  test/integration/targets/pkg_resources/aliases
  test/integration/targets/pkg_resources/lookup_plugins/check_pkg_resources.py
  test/integration/targets/pkg_resources/tasks/main.yml
Labels: affects_2.11, collection, collection:ktdreyer.errata_tool_ansible, community_review, support:community

#73594 Fix ansible-test handling of egg-info.
  changelogs/fragments/ansible-test-egg-info-handling.yml
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73599 ansible-test: make sure tests are also run for the new plugin types
  changelogs/fragments/73599-ansible-test-new-plugin-dirs.yml
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/sanity/ansible_doc.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73557 ansible-galaxy - set the cache file after getting all collection versions
  changelogs/fragments/73557-ansible-galaxy-cache-paginated-response.yml
  lib/ansible/galaxy/api.py
  test/units/galaxy/test_api.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73615 Update 2.10 porting guide to include module index
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73617 OpenStack guidelines: Replace with link
  docs/docsite/rst/dev_guide/platforms/openstack_guidelines.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core

#73616 Split Ansible docs from core docs
  .gitignore
  MANIFEST.in
  Makefile
  docs/docsite/Makefile
  docs/docsite/Makefile.sphinx
  docs/docsite/rst/2.10_index.rst
  docs/docsite/rst/ansible_index.rst
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/porting_guides/core_porting_guides.rst
  docs/docsite/rst/porting_guides/porting_guide_core_2.11.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
  docs/docsite/rst/roadmap/COLLECTIONS_3_0.rst
  docs/docsite/rst/roadmap/ansible_base_roadmap_index.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
  docs/docsite/rst/roadmap/index.rst
  docs/docsite/sphinx_conf/2.10_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
  hacking/build_library/build_ansible/command_plugins/docs_build.py
  test/sanity/code-smell/docs-build.py
  test/sanity/code-smell/package-data.py
Labels: affects_2.11, core_review, docs, has_issue, support:core, test

#73619 Created new class to allow working on Almalinux
  changelogs/fragments/73619-hostname-almalinux-support.yml
  lib/ansible/modules/hostname.py
Labels: affects_2.11, core_review, feature, module, new_contributor, support:community, support:core

#73651 azure-pipelines: remove ubuntu1604
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.11, core_review, has_issue, small_patch, support:core

#73650 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_3.rst
Labels: affects_2.11, core_review, docs, support:core

#73618 Fix cryptography install in ansible-test.
  changelogs/fragments/ansible-test-cryptography-fix.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#73639 pylint sanity test: stop ignoring 'used-before-assignment'
  changelogs/fragments/73639-ansible-test-pylint-ignores.yml
  test/lib/ansible_test/_data/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_data/sanity/pylint/config/default.cfg
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73655 [mongodb tests] Wait for ports in TIME_WAIT [2.9]
  test/integration/targets/mongodb_replicaset/tasks/main.yml
  test/integration/targets/mongodb_replicaset/tasks/mongod_teardown.yml
  test/integration/targets/mongodb_shard/tasks/main.yml
  test/integration/targets/mongodb_shard/tasks/mongod_teardown.yml
  test/integration/targets/setup_mongodb/tasks/main.yml
Labels: affects_2.9, backport, collection, collection:community.mongodb, core_review, needs_triage, support:core, test

#73646 Fixing ad-hoc commands (#73636)
  docs/docsite/rst/network/getting_started/network_differences.rst
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
  docs/docsite/rst/plugins/callback.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/general_precedence.rst
  docs/docsite/rst/scenario_guides/guide_cloudstack.rst
  docs/docsite/rst/scenario_guides/guide_rax.rst
  docs/docsite/rst/shared_snippets/basic_concepts.txt
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro.rst
  docs/docsite/rst/user_guide/intro_adhoc.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/intro_patterns.rst
  docs/docsite/rst/user_guide/playbooks_async.rst
  docs/docsite/rst/user_guide/sample_setup.rst
  docs/docsite/rst/user_guide/vault.rst
  docs/docsite/rst/user_guide/windows_usage.rst
Labels: affects_2.11, bug, cloud, cloudstack, core_review, docs, docsite, networking, new_contributor, support:core, windows

#73633 Replace reference to playbook_environment
  lib/ansible/modules/get_url.py
Labels: affects_2.11, core_review, docs, module, small_patch, support:core

#73653 Remove warning about role validation with deps
  changelogs/fragments/73653-rolespec-rm-warning.yml
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  lib/ansible/playbook/role/__init__.py
Labels: affects_2.11, bug, core_review, docs, support:community, support:core

#73468 Minor Doc Update to password.py
  lib/ansible/plugins/lookup/password.py
Labels: affects_2.11, core_review, docs, new_contributor, stale_ci, support:core

#73607 [stable-2.9]:Fix IOSXR integration test
  test/integration/targets/netconf_config/tests/iosxr/basic.yaml
Labels: affects_2.9, backport, bug, collection, collection:ansible.netcommon, core_review, iosxr, needs_triage, support:core, test

#73685 [stable-2.10] Update signing key used in incidental_setup_flatpak_remote tests
  test/integration/targets/incidental_setup_flatpak_remote/files/repo.tar.xz
Labels: affects_2.10, backport, community_review, support:community, test

#73686 [stable-2.9] Update signing key used in incidental_setup_flatpak_remote tests
  test/integration/targets/setup_flatpak_remote/files/repo.tar.xz
Labels: affects_2.9, backport, collection, collection:community.general, core_review, files, support:core, test

#73687 [stable-2.8] Update signing key used in incidental_setup_flatpak_remote tests
  test/integration/targets/setup_flatpak_remote/files/repo.tar.xz
Labels: affects_2.8, backport, collection, collection:community.general, core_review, files, support:core, test

#73667 [InventoryManager] Fix two unhandled exceptions
  changelogs/fragments/73658-inventorymanager-throws-on-empty-inventory-dir.yml
  lib/ansible/inventory/manager.py
  test/integration/targets/inventory/runme.sh
Labels: affects_2.11, bug, core_review, inventory, needs_triage, support:community, support:core

#73666 Fixed typo in vault documentation
  docs/docsite/rst/user_guide/vault.rst
Labels: affects_2.11, core_review, docs, needs_triage, new_contributor, small_patch, support:core

#73612 Mention `ansible-core` @ "Release and maintenance"
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.11, bug, core_review, docs, support:core

#73663 Disable JUnit callback on roles_arg_spec integration tests
  test/integration/targets/roles_arg_spec/runme.sh
  test/integration/targets/roles_arg_spec/test.yml
Labels: affects_2.11, community_review, support:community

#73695 inventory: misc typo fixes
  lib/ansible/inventory/manager.py
Labels: affects_2.11, bug, core_review, inventory, small_patch, support:core

#73255 Operate pexpect with bytes to limit encoding issues
  changelogs/fragments/29351-expect-bytes.yml
  lib/ansible/modules/expect.py
  test/integration/targets/expect/files/test_command.py
  test/integration/targets/expect/tasks/main.yml
Labels: affects_2.11, bug, commands, module, shipit, support:community, support:core

#73704 [Docs] fix core version switcher
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73552 Docs: Adds banner for core/package split
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, core_review, docs, support:core

#73625 ensure find_mount_point always returns text
  changelogs/fragments/fix_mount_point.yml
  lib/ansible/module_utils/basic.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73717 Rebalance Windows test groups to avoid timeouts
  test/integration/targets/win_group_membership/aliases
  test/integration/targets/win_uri/aliases
Labels: affects_2.9, backport, collection, collection:ansible.windows, core_review, support:core, test

#72035 galaxy: Handle hidden git directories in role skeleton
  changelogs/fragments/71977-ansible-galaxy-role-init.yml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.11, bug, core_review, has_issue, new_contributor, support:community, support:core

#73715 Normalize ConfigParser between Python2 and Python3
  changelogs/fragments/73709-normalize-configparser.yml
  lib/ansible/config/manager.py
  test/integration/targets/config/inline_comment_ansible.cfg
  test/integration/targets/config/runme.sh
Labels: affects_2.11, bug, collection, collection:community.yang, core_review, needs_triage, python3, support:community, support:core

#73718 find module - stop dir traversal when depth is exceeded
  changelogs/fragments/73718-find-dir-depth-traversal.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.11, bug, core_review, module, support:community, support:core

#73688 Pipe it to connections
  changelogs/fragments/pipelinig_to_plugins.yml
  lib/ansible/config/base.yml
  lib/ansible/plugins/connection/local.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/connection/winrm.py
  lib/ansible/plugins/doc_fragments/connection_pipelining.py
Labels: affects_2.11, bug, needs_revision, new_plugin, support:community, support:core, windows
