Repository ansible/ansible, pull requests merged in 2021-01, with the labels that each got.

#73053 galaxy: Update example for git+file
  docs/docsite/rst/galaxy/user_guide.rst
Labels: affects_2.11, bug, core_review, docs, has_issue, small_patch, stale_ci, support:core

#73087 type: sub-module -> submodule
  lib/ansible/modules/git.py
Labels: affects_2.11, core_review, docs, module, new_contributor, small_patch, source_control, support:core

#72993 ExecutionPolicy default value is RemoteSigned
  changelogs/fragments/72993-ansible-doc-has_action.yml
  docs/docsite/rst/user_guide/windows_setup.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:community, support:core, windows

#73109 Constrain pexpect and ptyprocess
  test/integration/targets/expect/aliases
  test/integration/targets/expect/tasks/main.yml
  test/integration/targets/setup_pexpect/files/constraints.txt
  test/integration/targets/setup_pexpect/meta/main.yml
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: affects_2.11, commands, core_review, support:community, support:core

#73110 [stable-2.10] Constrain pexpect and ptyprocess (#73109)
  test/integration/targets/expect/aliases
  test/integration/targets/expect/tasks/main.yml
  test/integration/targets/setup_pexpect/files/constraints.txt
  test/integration/targets/setup_pexpect/meta/main.yml
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: affects_2.10, backport, commands, core_review, support:community, support:core

#73111 [stable-2.9] Constrain pexpect and ptyprocess (#73109)
  test/integration/targets/expect/aliases
  test/integration/targets/expect/tasks/main.yml
  test/integration/targets/setup_pexpect/files/constraints.txt
  test/integration/targets/setup_pexpect/meta/main.yml
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: affects_2.9, backport, commands, core_review, support:community, support:core

#73112 [stable-2.8] Constrain pexpect and ptyprocess (#73109)
  test/integration/targets/expect/aliases
  test/integration/targets/expect/tasks/main.yml
  test/integration/targets/setup_pexpect/files/constraints.txt
  test/integration/targets/setup_pexpect/meta/main.yml
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: affects_2.8, backport, commands, core_review, support:community, support:core

#73020 [facts] fix version facts on FreeBSD RC/PRERELEASE
  changelogs/fragments/72331-truenas-rc-major-version.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/truenas_12.0rc1.json
Labels: affects_2.11, bug, core_review, needs_triage, stale_ci, support:community, support:core

#73029 Add ansible-galaxy-collection-scm tests for requirements.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/requirements.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/scm_dependency.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/git_prefix_name.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/name_and_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/name_without_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_and_name.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_and_name_and_type.yml
  test/integration/targets/ansible-galaxy-collection-scm/templates/source_only.yml
Labels: affects_2.11, community_review, needs_triage, stale_ci, support:community

#68793 Replace the use of the function string.replace with the method str.replace
  changelogs/fragments/bsd_rcconf_string_replace.yaml
  lib/ansible/modules/service.py
Labels: affects_2.10, bug, core_review, module, new_contributor, python3, stale_ci, support:community, support:core, system

#73106 discourage hexdigits in password lookup
  changelogs/fragments/passwd_lookup_hexdigits.yml
  lib/ansible/plugins/lookup/password.py
Labels: affects_2.11, core_review, docs, needs_triage, support:community, support:core

#73119 remove doc survey banner
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, core_review, docs, support:core

#73125 remove doc survey banner (#73119)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#73057 galaxy: handle plus sign in user token appearing in role url
  changelogs/fragments/45475_galaxy.yml
  docs/docsite/rst/galaxy/user_guide.rst
  lib/ansible/playbook/role/requirement.py
  test/units/galaxy/test_role_requirements.py
Labels: affects_2.11, bug, core_review, docs, has_issue, support:community, support:core

#73124 Update the porting guide for a new ansible version (2.10.5)
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#73132 Removing the stray </div> from the docsite banner code
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.11, bug, core_review, docs, needs_triage, small_patch, support:core

#73133 left a stray </div> by mistake (#73132)
  docs/docsite/_themes/sphinx_rtd_theme/ansible_banner.html
Labels: affects_2.10, backport, bug, core_review, docs, needs_triage, small_patch, support:core

#73069 Rewrite Docker scenario guide
  docs/docsite/rst/scenario_guides/guide_docker.rst
Labels: affects_2.11, cloud, core_review, docker, docs, docsite, has_issue, support:core

#73136 Update azure pipelines container
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.11, core_review, needs_triage, small_patch, support:core

#73120 Add support for argument_specs attribute to RoleMetadata class
  changelogs/fragments/73120-rolemetadata-argspecs.yml
  lib/ansible/playbook/role/metadata.py
  test/integration/targets/roles/roles/b/meta/main.yml
Labels: affects_2.11, core_review, feature, needs_triage, support:community, support:core

#73017 Refactor ansible-test cryptography install code.
  changelogs/fragments/ansible-test-cryptography-refactor.yml
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#73033 [dnf] Make "remove" filtering closer to dnf CLI
  changelogs/fragments/72809-dnf-remove-NV.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/test_sos_removal.yml
Labels: affects_2.11, bug, core_review, module, packaging, support:community, support:core

#73108 update the docs requirements versions
  docs/docsite/requirements.txt
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#73101 Update windows_winrm.rst
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, small_patch, support:core, windows

#73105 Nocolor
  changelogs/fragments/added_existing_nocolor.yml
  lib/ansible/config/base.yml
Labels: affects_2.11, core_review, feature, support:community, support:core

#73099 [2.10] Add link to all module and plugin indexes
  .gitignore
  MANIFEST.in
  docs/docsite/Makefile
  docs/docsite/rst/collections/all_plugins.rst
  docs/docsite/rst/index.rst
Labels: affects_2.10, backport, core_review, docs, has_issue, support:core

#73115 [2.10] galaxy: Update example for git+file
  docs/docsite/rst/galaxy/user_guide.rst
Labels: affects_2.10, backport, bug, core_review, docs, small_patch, support:core

#73061 Fix a typo in the documentation of ansible.builtin.apt
  lib/ansible/modules/apt.py
Labels: affects_2.11, automerge, docs, module, new_contributor, packaging, shipit, small_patch, support:community

#73135 [2.10] Rewrite Docker scenario guide
  docs/docsite/rst/scenario_guides/guide_docker.rst
Labels: affects_2.10, backport, cloud, core_review, docker, docs, docsite, support:core

#73081 Fix example with the backwards counting in the sequence lookup plugin.
  lib/ansible/plugins/lookup/sequence.py
Labels: affects_2.11, core_review, docs, support:core

#73079 Documentation change to the apt module to reference lock files
  lib/ansible/modules/apt.py
Labels: affects_2.11, core_review, docs, has_issue, module, packaging, support:core

#72976 add note regarding datetime docs
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73149 [stable-2.10] Update azure pipelines container (#73136)
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport, core_review, small_patch, support:core

#73151 [stable-2.8] Update azure pipelines container (#73136)
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.8, backport, core_review, small_patch, support:core

#72959 Document install_python_apt option of apt_repository
  lib/ansible/modules/apt_repository.py
  test/sanity/ignore.txt
Labels: affects_2.11, core_review, docs, module, packaging, support:core, test

#73150 [stable-2.9] Update azure pipelines container (#73136)
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.9, backport, core_review, small_patch, support:core

#73142 Update developing_collections.rst
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#72978 [stable-2.10] Remove inaccurate Vault documentation
  docs/docsite/rst/user_guide/vault.rst
Labels: affects_2.10, backport, docs, needs_triage, shipit, support:core

#73037 [2.10] Documentation: fix modules doc formatting
  lib/ansible/modules/file.py
  lib/ansible/modules/rpm_key.py
  lib/ansible/modules/service_facts.py
  lib/ansible/modules/stat.py
  lib/ansible/modules/subversion.py
  lib/ansible/modules/systemd.py
  lib/ansible/modules/unarchive.py
Labels: affects_2.10, backport, docs, files, m:unarchive, module, packaging, shipit, source_control, support:core, system

#73130 [stable-2.9] Fix string/bytestring comparsion in m_u.basic (#70439)
  changelogs/fragments/70244-selinux-special-fs.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/copy/tasks/selinux.yml
Labels: affects_2.9, backport, bug, core_review, files, needs_triage, support:community, support:core

#73066 [2.9] docker_image: always push, also when tagging is not necessary
  changelogs/fragments/community.docker-53-docker_image-tag-push.yml
  lib/ansible/modules/cloud/docker/docker_image.py
  test/integration/targets/docker-registry/tasks/tests/docker_image.yml
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.general, community_review, docker, module, needs_triage, stale_ci, support:community, test

#73164 Support venv in ansible-test virtualenv scripts
  changelogs/fragments/ansible-test-venv-virtualenv-fallback.yml
  test/lib/ansible_test/_data/injector/virtualenv-isolated.sh
  test/lib/ansible_test/_data/injector/virtualenv.sh
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.9, backport, core_review, feature, support:community, support:core, test

#73163 Support venv in ansible-test virtualenv scripts
  changelogs/fragments/ansible-test-venv-virtualenv-fallback.yml
  test/lib/ansible_test/_data/injector/virtualenv-isolated.sh
  test/lib/ansible_test/_data/injector/virtualenv.sh
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.10, backport, core_review, feature, support:community, support:core, test

#73165 Backport/2.10/73079
  changelogs/fragments/73079-update-documentation-around-apt-lock.yml
  lib/ansible/modules/apt.py
Labels: affects_2.10, backport, core_review, docs, module, packaging, support:community, support:core

#72924 [stable-2.9] Fix async interpreter parsing (#72636)
  changelogs/fragments/70690-async-interpreter.yml
  lib/ansible/modules/utilities/logic/async_wrapper.py
  test/integration/targets/noexec/aliases
  test/integration/targets/noexec/inventory
  test/integration/targets/noexec/runme.sh
  test/integration/targets/noexec/test-noexec.yml
Labels: affects_2.9, backport, core_review, module, needs_triage, stale_ci, support:community, support:core, utilities

#72926 [stable-2.9] Fix reset_connection paramiko, winrm, psrp (#72688)
  changelogs/fragments/65812-paramiko-attribute-error.yml
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  test/integration/targets/connection/test.sh
  test/integration/targets/connection/test_reset_connection.yml
Labels: affects_2.9, backport, core_review, needs_triage, stale_ci, support:community, support:core, test, windows

#72969 [stable-2.9] Remove exit code from traps in tests
  test/integration/targets/inventory_docker_swarm/runme.sh
Labels: affects_2.9, backport, cloud, collection, collection:community.general, core_review, docker, needs_triage, stale_ci, support:core, test

#73014 [stable-2.9] systemd - do not overwrite unit name when searching (#72985)
  changelogs/fragments/systemd-preserve-full-unit-name.yml
  lib/ansible/modules/system/systemd.py
  test/integration/targets/systemd/handlers/main.yml
  test/integration/targets/systemd/tasks/main.yml
  test/integration/targets/systemd/tasks/test_unit_template.yml
  test/integration/targets/systemd/templates/sleeper@.service
  test/integration/targets/systemd/vars/Debian.yml
  test/integration/targets/systemd/vars/default.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#73067 [2.9] docker_image: check output of load_image and react upon
  changelogs/fragments/community.docker-55-docker_image-loading.yml
  lib/ansible/modules/cloud/docker/docker_image.py
  test/integration/targets/docker_image/tasks/tests/options.yml
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.general, core_review, docker, module, needs_triage, stale_ci, support:community, support:core, test

#72953 [stable-2.9] Fix docker_image tests
  test/integration/targets/docker_image/tasks/tests/old-options.yml
  test/integration/targets/docker_image/tasks/tests/options.yml
Labels: affects_2.9, backport, cloud, collection, collection:community.general, core_review, docker, needs_triage, stale_ci, support:core, test

#72943 [stable-2.9] Fix bigiq_device_info
  changelogs/fragments/fix-bigiq-device-info.yaml
  lib/ansible/modules/network/f5/bigiq_device_info.py
Labels: affects_2.9, backport, bug, collection, collection:f5networks.f5_modules, committer_review, f5, module, needs_triage, networking, owner_pr, stale_ci, support:certified, support:community

#72958 [2.9] Fix freeform actions with FQCN
  changelogs/fragments/72958-fix-freeform-actions.yml
  lib/ansible/parsing/mod_args.py
  test/integration/targets/command_shell/tasks/main.yml
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72792 backport support for python-kubernetes v12 to ansible 2.9
  changelogs/fragments/k8s-support-kubernetes-v12.yml
  lib/ansible/module_utils/k8s/common.py
  test/integration/targets/k8s/tasks/basic_validation.yml
  test/integration/targets/k8s/tasks/main.yml
Labels: affects_2.9, backport, bug, clustering, collection, collection:pystol.actions, core_review, has_issue, k8s, needs_triage, new_contributor, support:community, support:core, test

#72848 [2.10] Docsite: update complex_data_manipulation and playbooks_advanced_syntax rst files to use FQCNs
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
  docs/docsite/rst/user_guide/playbooks_advanced_syntax.rst
Labels: affects_2.10, backport, docs, needs_revision, needs_triage, stale_ci, support:core

#72849 [2.10] Docsite: update "Migrating Ansible content to a different collection" info
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.10, backport, docs, docsite, needs_revision, needs_triage, stale_ci, support:core

#72850 [2.10] modules: fix documentation formatting (#72737)
  lib/ansible/modules/cron.py
  lib/ansible/modules/debconf.py
  lib/ansible/modules/debug.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/group.py
  lib/ansible/modules/lineinfile.py
  lib/ansible/modules/ping.py
  lib/ansible/modules/replace.py
  lib/ansible/modules/script.py
  lib/ansible/modules/service.py
Labels: affects_2.10, backport, commands, docs, files, module, needs_revision, stale_ci, support:core, system, utilities

#72851 [2.10] Documentation: fix modules doc formatting
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/assemble.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/setup.py
  lib/ansible/modules/shell.py
  lib/ansible/modules/slurp.py
  lib/ansible/modules/tempfile.py
  lib/ansible/modules/template.py
Labels: affects_2.10, backport, commands, docs, files, module, needs_revision, needs_triage, net_tools, packaging, stale_ci, support:core, system

#72915 2.10: Use _wrap_native_text only for builtin STRING_TYPE_FILTERS (#71801)
  changelogs/fragments/wrap_native_text-non-collections-only.yml
  lib/ansible/template/__init__.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72919 [2.10] Fix task get_name to always prepend the role name (#72511)
  changelogs/fragments/72511-always-prepend-role-to-task-name.yml
  lib/ansible/playbook/task.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/common_handlers/handlers/main.yml
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/roles/test_fqcn_handlers/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72925 [stable-2.10] Fix reset_connection paramiko, winrm, psrp (#72688)
  changelogs/fragments/65812-paramiko-attribute-error.yml
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  test/integration/targets/connection/test.sh
  test/integration/targets/connection/test_reset_connection.yml
Labels: affects_2.10, backport, core_review, needs_triage, stale_ci, support:community, support:core, test, windows

#72940 Collection list site packages (#70173)
  changelogs/fragments/collection-list-site-packages.yaml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72968 [stable-2.10] Remove exit code from traps in tests
  test/integration/targets/incidental_inventory_docker_swarm/runme.sh
Labels: affects_2.10, backport, community_review, needs_triage, stale_ci, support:community, test

#72997 Update ansible-test pylint Python support.
  changelogs/fragments/ansible-test-pylint-plugin-name.yml
  changelogs/fragments/ansible-test-pylint-python-3.8-3.9.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/filter/check_pylint.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/modules/bad.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/integration/targets/hello/files/bad.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/sanity/ignore.txt
  test/integration/targets/ansible-test/collection-tests/venv.sh
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_data/sanity/pylint/plugins/unwanted.py
  test/lib/ansible_test/_internal/sanity/pylint.py
  test/sanity/ignore.txt
Labels: affects_2.10, backport, bug, core_review, has_issue, support:community, support:core, test

#73013 [stable-2.10] systemd - do not overwrite unit name when searching (#72985)
  changelogs/fragments/systemd-preserve-full-unit-name.yml
  lib/ansible/modules/systemd.py
  test/integration/targets/systemd/handlers/main.yml
  test/integration/targets/systemd/tasks/main.yml
  test/integration/targets/systemd/tasks/test_unit_template.yml
  test/integration/targets/systemd/templates/sleeper@.service
  test/integration/targets/systemd/vars/Debian.yml
  test/integration/targets/systemd/vars/default.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core, system

#73129 [stable-2.10] Fix string/bytestring comparsion in m_u.basic (#70439)
  changelogs/fragments/70244-selinux-special-fs.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/copy/tasks/selinux.yml
Labels: affects_2.10, backport, bug, core_review, files, needs_triage, support:community, support:core

#72923 [stable-2.10] Fix async interpreter parsing (#72636)
  changelogs/fragments/70690-async-interpreter.yml
  lib/ansible/modules/async_wrapper.py
  test/integration/targets/noexec/aliases
  test/integration/targets/noexec/inventory
  test/integration/targets/noexec/runme.sh
  test/integration/targets/noexec/test-noexec.yml
Labels: affects_2.10, backport, core_review, module, needs_triage, stale_ci, support:community, support:core, utilities

#73060 Documentation: fix formatting
  lib/ansible/modules/command.py
  lib/ansible/modules/debug.py
  lib/ansible/modules/expect.py
  lib/ansible/modules/git.py
  lib/ansible/modules/group.py
  lib/ansible/modules/group_by.py
  lib/ansible/modules/hostname.py
  lib/ansible/modules/package.py
  lib/ansible/modules/package_facts.py
  lib/ansible/modules/user.py
Labels: affects_2.11, commands, core_review, docs, inventory, module, packaging, source_control, support:core, system, utilities

#73016 user - properly handle password and password lock when used together
  changelogs/fragments/72992-user-account-lock-always-changes.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/main.yml
  test/integration/targets/user/tasks/test_create_system_user.yml
  test/integration/targets/user/tasks/test_create_user.yml
  test/integration/targets/user/tasks/test_create_user_home.yml
  test/integration/targets/user/tasks/test_create_user_password.yml
  test/integration/targets/user/tasks/test_create_user_uid.yml
  test/integration/targets/user/tasks/test_expires.yml
  test/integration/targets/user/tasks/test_expires_new_account.yml
  test/integration/targets/user/tasks/test_expires_new_account_epoch_negative.yml
  test/integration/targets/user/tasks/test_local.yml
  test/integration/targets/user/tasks/test_local_expires.yml
  test/integration/targets/user/tasks/test_no_home_fallback.yml
  test/integration/targets/user/tasks/test_password_lock.yml
  test/integration/targets/user/tasks/test_password_lock_new_user.yml
  test/integration/targets/user/tasks/test_remove_user.yml
  test/integration/targets/user/tasks/test_shadow_backup.yml
  test/integration/targets/user/tasks/test_ssh_key_passphrase.yml
Labels: affects_2.11, bug, core_review, has_issue, module, support:community, support:core, system

#72622 Add macOS 11 to CI
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ci-add-macos-11.yml
  test/integration/targets/setup_paramiko/install-Darwin-python-3.yml
  test/integration/targets/setup_paramiko/install.yml
  test/integration/targets/setup_paramiko/uninstall-Darwin-python-3.yml
  test/integration/targets/setup_paramiko/uninstall.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.11, collection, core_review, support:community, support:core, test

#73177 [stable-2.10] user - properly handle password and password lock when used together (#73016)
  changelogs/fragments/72992-user-account-lock-always-changes.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/main.yml
  test/integration/targets/user/tasks/test_create_system_user.yml
  test/integration/targets/user/tasks/test_create_user.yml
  test/integration/targets/user/tasks/test_create_user_home.yml
  test/integration/targets/user/tasks/test_create_user_password.yml
  test/integration/targets/user/tasks/test_create_user_uid.yml
  test/integration/targets/user/tasks/test_expires.yml
  test/integration/targets/user/tasks/test_expires_new_account.yml
  test/integration/targets/user/tasks/test_expires_new_account_epoch_negative.yml
  test/integration/targets/user/tasks/test_local.yml
  test/integration/targets/user/tasks/test_local_expires.yml
  test/integration/targets/user/tasks/test_no_home_fallback.yml
  test/integration/targets/user/tasks/test_password_lock.yml
  test/integration/targets/user/tasks/test_password_lock_new_user.yml
  test/integration/targets/user/tasks/test_remove_user.yml
  test/integration/targets/user/tasks/test_shadow_backup.yml
  test/integration/targets/user/tasks/test_ssh_key_passphrase.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#73178 [stable-2.9] user - properly handle password and password lock when used together (#73016)
  changelogs/fragments/72992-user-account-lock-always-changes.yml
  lib/ansible/modules/system/user.py
  test/integration/targets/user/tasks/main.yml
  test/integration/targets/user/tasks/test_create_system_user.yml
  test/integration/targets/user/tasks/test_create_user.yml
  test/integration/targets/user/tasks/test_create_user_home.yml
  test/integration/targets/user/tasks/test_create_user_password.yml
  test/integration/targets/user/tasks/test_create_user_uid.yml
  test/integration/targets/user/tasks/test_expires.yml
  test/integration/targets/user/tasks/test_expires_new_account.yml
  test/integration/targets/user/tasks/test_expires_new_account_epoch_negative.yml
  test/integration/targets/user/tasks/test_local.yml
  test/integration/targets/user/tasks/test_local_expires.yml
  test/integration/targets/user/tasks/test_no_home_fallback.yml
  test/integration/targets/user/tasks/test_password_lock.yml
  test/integration/targets/user/tasks/test_password_lock_new_user.yml
  test/integration/targets/user/tasks/test_remove_user.yml
  test/integration/targets/user/tasks/test_shadow_backup.yml
  test/integration/targets/user/tasks/test_ssh_key_passphrase.yml
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, support:community, support:core, system

#72444 hostname module: advise 'use:systemd' for RHEL/EL 7+
  lib/ansible/modules/hostname.py
Labels: affects_2.11, docs, module, new_contributor, shipit, small_patch, support:core, system

#73044 [2.9] Ensure that data within a tuple is marked as unsafe
  changelogs/fragments/65722-unsafe-tuples.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/template/__init__.py
  lib/ansible/utils/unsafe_proxy.py
  test/units/utils/test_unsafe_proxy.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#72984 iptables: Added set module/match_set support
  changelogs/fragments/72984_adding_set_support.yml
  lib/ansible/modules/iptables.py
  test/units/modules/test_iptables.py
Labels: P3, affects_2.11, core_review, feature, module, support:community, support:core, system

#73181 Add tests for merging and replacing vars from inventory sources
  test/integration/targets/hash/runme.sh
  test/integration/targets/hash/test_inv1.yml
  test/integration/targets/hash/test_inv2.yml
  test/integration/targets/hash/test_inventory_hash.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#73180 [stable-2.10] Add macOS 11 to CI (#72622)
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ci-add-macos-11.yml
  test/integration/targets/collections_runtime_pythonpath/runme.sh
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/filter_urls/runme.sh
  test/integration/targets/groupby_filter/runme.sh
  test/integration/targets/lookup_password/runme.sh
  test/integration/targets/old_style_cache_plugins/runme.sh
  test/integration/targets/pip/tasks/main.yml
  test/integration/targets/pip/tasks/pip.yml
  test/integration/targets/setup_paramiko/install-Darwin-python-3.yml
  test/integration/targets/setup_paramiko/install.yml
  test/integration/targets/setup_paramiko/setup.sh
  test/integration/targets/setup_paramiko/uninstall-Darwin-python-3.yml
  test/integration/targets/setup_paramiko/uninstall.yml
  test/integration/targets/template_jinja2_latest/runme.sh
  test/integration/targets/vault/runme.sh
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.10, backport, core_review, needs_triage, packaging, support:community, support:core, test

#73146 [2.10] Pass the top level dictionaries to combine_vars (#72979)
  changelogs/fragments/72979-fix-inventory-merge-hash-replace.yaml
  lib/ansible/inventory/group.py
  lib/ansible/inventory/host.py
  test/integration/targets/hash/runme.sh
  test/integration/targets/hash/test_inv1.yml
  test/integration/targets/hash/test_inv2.yml
  test/integration/targets/hash/test_inventory_hash.yml
Labels: affects_2.10, backport, bug, core_review, inventory, needs_triage, support:community, support:core

#73147 [2.9] Pass the top level dictionaries to combine_vars (#72979)
  changelogs/fragments/72979-fix-inventory-merge-hash-replace.yaml
  lib/ansible/inventory/group.py
  lib/ansible/inventory/host.py
  test/integration/targets/hash/runme.sh
  test/integration/targets/hash/test_inv1.yml
  test/integration/targets/hash/test_inv2.yml
  test/integration/targets/hash/test_inventory_hash.yml
Labels: affects_2.9, backport, bug, core_review, inventory, needs_triage, support:community, support:core

#73175 Added clog missing for issue 70722
  changelogs/fragments/unsafe_writes_fix.yml
Labels: affects_2.11, community_review, docs, needs_triage, owner_pr, support:community

#73207 Cleanup provisioning code in ansible-test.
  changelogs/fragments/ansible-test-cleanup.yml
  changelogs/fragments/ansible-test-code-cleanup.yml
  changelogs/fragments/ansible-test-remote-aws-region.yml
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/aws.py
  test/lib/ansible_test/_internal/cloud/azure.py
  test/lib/ansible_test/_internal/cloud/hcloud.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/manage_ci.py
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#73171 Remove 'type: complex' from the return values example
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#73219 Allow `test_prepare_multipart` to succeed on non Debian distros
  test/units/module_utils/urls/fixtures/multipart.txt
  test/units/module_utils/urls/test_prepare_multipart.py
Labels: affects_2.11, bug, core_review, support:core

#73220 Fix `test_adhoc` flake when running from within a git checkout.
  test/units/cli/test_adhoc.py
Labels: affects_2.11, bug, core_review, support:core

#73221 Remove obsolete `tower` plugin from ansible-test.
  changelogs/fragments/ansible-test-tower-plugin.yml
  test/lib/ansible_test/_internal/cloud/tower.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/config/cloud-config-tower.ini.template
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#73034 [facts] Differentiate CentOS vs CentOS Stream
  changelogs/fragments/73027-differentiate-centos-stream.yml
  hacking/tests/gen_distribution_version_testcase.py
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/centos_8_1.json
  test/units/module_utils/facts/system/distribution/fixtures/centos_stream_8.json
Labels: affects_2.11, bug, core_review, support:community, support:core

#73182 pause - adjust warning when run in background
  changelogs/fragments/pause-do-not-warn-background-with-seconds.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/runme.sh
Labels: affects_2.11, bug, core_review, has_issue, needs_triage, support:community, support:core, utilities

#73204 facts - properly report virtualization facts for Linux guests on bhyve
  changelogs/fragments/73167-bhyve-facts.yml
  lib/ansible/module_utils/facts/virtual/linux.py
  test/units/module_utils/facts/virtual/__init__.py
  test/units/module_utils/facts/virtual/test_linux.py
Labels: affects_2.11, bug, core_review, has_issue, needs_triage, support:community, support:core

#73059 Always mention the name of the deprecated plugin in routing deprecation messages
  changelogs/fragments/73059-improve-deprecation-texts.yml
  lib/ansible/plugins/loader.py
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core

#73229 Add integration tests for ansible-galaxy collection verify
  test/integration/targets/ansible-galaxy-collection/files/test_module.py
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
Labels: affects_2.11, community_review, needs_triage, support:community

#73193 ansible-galaxy - correct collections-path command line arg
  changelogs/fragments/galaxy-collection-list-correct-arg-name.yml
  lib/ansible/cli/galaxy.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73213 single_list example: Transform single_list before passing it into dict()
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73238 Fix block example line emphasis
  docs/docsite/rst/user_guide/playbooks_blocks.rst
Labels: affects_2.11, core_review, docs, support:core

#73176 update rstcheck and sphinx versions in contraints
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, core_review, docs, support:core, test

#73162 Allow restricting config values to enumerated list
  changelogs/fragments/allow_restricted_config_values.yml
  docs/docsite/rst/porting_guides/porting_guide_base_2.11.rst
  hacking/build_library/build_ansible/command_plugins/dump_config.py
  lib/ansible/cli/config.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
  lib/ansible/constants.py
  lib/ansible/plugins/doc_fragments/shell_windows.py
  lib/ansible/utils/color.py
  test/integration/targets/collections/runme.sh
Labels: affects_2.11, core_review, docs, feature, support:community, support:core

#73226 Added TLS security protocol for Powershell downloads
  docs/docsite/rst/user_guide/windows_setup.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, support:core, windows

#73249 [backport][2.10] update rstcheck and sphinx versions in contraints (#73176)
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, bug, core_review, docs, needs_triage, support:core, test

#73251 [2.10] update the docs requirements versions (#73108)
  docs/docsite/requirements.txt
Labels: affects_2.10, backport, bug, core_review, docs, small_patch, support:core

#73254 [2.8] update the docs requirements versions (#73108)
  docs/docsite/requirements.txt
Labels: affects_2.8, backport, core_review, docs, small_patch, support:core

#73252 [2.9]update the docs requirements versions (#73108)
  docs/docsite/requirements.txt
Labels: affects_2.9, backport, core_review, docs, small_patch, support:core

#73259 add changelog fragment for 73176
  changelogs/fragments/73176_sphinx_rstcheck_versions.yml
Labels: affects_2.11, community_review, docs, owner_pr, support:community

#73258 Revert "update rstcheck and sphinx versions in contraints (#73176) (#…
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, core_review, docs, support:core, test

#73257 Revert "update the docs requirements versions (#73108) (#73251)"
  docs/docsite/requirements.txt
Labels: affects_2.10, backport, core_review, docs, small_patch, support:core

#73261 Revert "[2.9]update the docs requirements versions (#73108) (#73252)"
  docs/docsite/requirements.txt
Labels: affects_2.9, backport, core_review, docs, small_patch, support:core

#73160 fix inventory source parse error handling
  changelogs/fragments/fix_inventory_source_parse_error_handling.yml
  lib/ansible/inventory/manager.py
  test/integration/targets/inventory/runme.sh
Labels: affects_2.11, bug, core_review, inventory, support:community, support:core

#73270 Mention that version_added should be collection version in collections
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/network/dev_guide/developing_resource_modules_network.rst
Labels: affects_2.11, core_review, docs, docsite, networking, support:core

#73107 Update documentation for "contains" parameter
  lib/ansible/modules/find.py
Labels: affects_2.11, core_review, docs, files, module, new_contributor, support:core

#73190 doc: fix ansible_play_hosts description about failure
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: affects_2.11, core_review, docs, new_contributor, python3, small_patch, support:core

#73023 Use a pty for local connections
  changelogs/fragments/enable_su_on_local.yaml
  lib/ansible/plugins/connection/local.py
  test/integration/targets/become_su/aliases
  test/integration/targets/become_su/runme.sh
Labels: affects_2.11, bug, core_review, support:community, support:core

#73241 Fix YAML error message when error is at the end of the file
  changelogs/fragments/16456-correct-YAML-error-message-when-file-load-failed.yml
  lib/ansible/errors/__init__.py
  test/units/errors/test_errors.py
Labels: affects_2.11, bug, core_review, has_issue, support:community, support:core

#73113 Do not pretend expression is filename in compile() Python built-in call
  changelogs/fragments/fix_expression_as_filename_in_compile.yaml
  lib/ansible/template/safe_eval.py
Labels: affects_2.11, bug, core_review, new_contributor, support:community, support:core

#72602 added pb fqcn docs
  docs/docsite/rst/user_guide/collections_using.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#73294 Fix documentation for slaac filter
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#72932 Galaxy - make versions list consistent across versions
  changelogs/fragments/ansible-galaxy-version-response.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection/__init__.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.11, feature, shipit, support:community, support:core

#73263 Shadow input for encrypt_string by default unless asked (fixes #71618)
  changelogs/fragments/73263-shadow-encrypt-string.yml
  lib/ansible/cli/vault.py
  test/units/cli/test_vault.py
Labels: affects_2.11, core_review, feature, new_contributor, support:community, support:core

#71463 Consolidate filters/tests handling into JinjaPluginIntercept
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/conditional.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/template/__init__.py
Labels: affects_2.11, feature, has_issue, shipit, support:core

#73315 Update NX-OS platform guide with MDS information
  docs/docsite/rst/network/user_guide/platform_nxos.rst
Labels: affects_2.11, core_review, docs, docsite, networking, small_patch, support:core

#73288 Vanquish rare container bootstrap failure
  changelogs/fragments/vanquish-rare-container-bootstrap-failure.yml
  test/lib/ansible_test/_data/setup/docker.sh
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#72655 [ansible-test] First attempt at freebsd/11.4
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-freebsd11-4.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-test/collection-tests/git-common.bash
  test/integration/targets/ansible-test/collection-tests/uninstall-git.yml
  test/integration/targets/setup_paramiko/install-FreeBSD-11.4-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-FreeBSD-11.4-python-3.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.11, collection, core_review, support:community, support:core, test

#69161 Add Ubuntu 20.04 to CI and ansible-test
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-ubuntu2004.yml
  test/integration/targets/apt/tasks/apt-builddep.yml
  test/integration/targets/apt/tasks/apt-multiarch.yml
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/apt/vars/Ubuntu-20.yml
  test/integration/targets/apt/vars/default.yml
  test/integration/targets/incidental_setup_mongodb/tasks/main.yml
  test/integration/targets/incidental_setup_rabbitmq/tasks/main.yml
  test/integration/targets/subversion/vars/Ubuntu-20.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, bug, collection, core_review, has_issue, packaging, source_control, support:community, support:core, test

#73290 Let `command` always return stdout & stderr (#73004)
  changelogs/fragments/73004-let-command-always-return-stdout-and-stderr.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/command_nonexisting/aliases
  test/integration/targets/command_nonexisting/tasks/main.yml
  test/units/module_utils/basic/test_command_nonexisting.py
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core

#73324 why no mfa?
  docs/docsite/rst/reference_appendices/faq.rst
Labels: affects_2.11, core_review, docs, support:core

#73328 undepr hash_merge
  changelogs/fragments/undo_hashmerge_depr.yml
  lib/ansible/config/base.yml
Labels: affects_2.11, bug, core_review, support:community, support:core

#73302 json_query: Update documentation
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#73340 Handle get-pip.py breaking change on Python 2.7.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73341 [stable-2.10] Handle get-pip.py breaking change on Python 2.7.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.10, backport, bug, core_review, support:community, support:core, test

#73342 [stable-2.9] Handle get-pip.py breaking change on Python 2.7.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.9, backport, bug, core_review, support:community, support:core, test

#73343 [stable-2.8] Handle get-pip.py breaking change on Python 2.7.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/runner/setup/remote.sh
Labels: affects_2.8, backport, bug, core_review, support:community, support:core

#73346 Fix `versionadded` syntax @ galaxy user guide
  docs/docsite/rst/galaxy/user_guide.rst
Labels: affects_2.11, bug, core_review, docs, needs_triage, small_patch, support:core

#73339 A tiny grammatical edit
  README.rst
Labels: affects_2.11, core_review, docs, new_contributor, small_patch, support:core

#73354 Mention renaming ansible-base to -core @ roadmap
  docs/docsite/rst/roadmap/ROADMAP_2_11.rst
Labels: affects_2.11, bug, core_review, docs, support:core

#73358 Use a versioned pip bootstrapper in ansible-test.
  changelogs/fragments/ansible-test-pip-bootstrap-s3.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73355 [stable-2.9] Update ansible-test pylint Python support. (#72972)
  changelogs/fragments/ansible-test-pylint-python-3.8.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/sanity/pylint/plugins/blacklist.py
Labels: affects_2.9, backport, bug, core_review, python3, support:community, support:core, test

#73359 [stable-2.10] Use a versioned pip bootstrapper in ansible-test.
  changelogs/fragments/ansible-test-pip-bootstrap-s3.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core, test

#73360 [stable-2.9] Use a versioned pip bootstrapper in ansible-test.
  changelogs/fragments/ansible-test-pip-bootstrap-s3.yml
  test/lib/ansible_test/_data/setup/remote.sh
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:community, support:core, test

#73361 [stable-2.8] Use a versioned pip bootstrapper in ansible-test.
  changelogs/fragments/ansible-test-pip-bootstrap-s3.yml
  test/runner/setup/remote.sh
Labels: affects_2.8, backport, bug, core_review, needs_triage, support:community, support:core

#72830 Local vars should have highest precedence in AnsibleJ2Vars
  changelogs/fragments/72615-jinja-import-context-fix.yml
  lib/ansible/template/vars.py
  test/integration/targets/template/6653.yml
  test/integration/targets/template/72262.yml
  test/integration/targets/template/72615.yml
  test/integration/targets/template/runme.sh
  test/integration/targets/template/templates/6653-include.j2
  test/integration/targets/template/templates/6653.j2
  test/integration/targets/template/templates/72262-included.j2
  test/integration/targets/template/templates/72262-vars.j2
  test/integration/targets/template/templates/72262.j2
  test/integration/targets/template/templates/72615-macro-nested.j2
  test/integration/targets/template/templates/72615-macro.j2
  test/integration/targets/template/templates/72615.j2
Labels: affects_2.11, bug, core_review, files, has_issue, support:community, support:core

#73312 dev guide: mention that C(...) should be used for inline code
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: affects_2.11, core_review, docs, docsite, small_patch, support:core

#73365 [2.10] Add Ubuntu 20.04 to CI and ansible-test (#69161)
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-ubuntu2004.yml
  test/integration/targets/apt/tasks/apt-builddep.yml
  test/integration/targets/apt/tasks/apt-multiarch.yml
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/apt/vars/Ubuntu-20.yml
  test/integration/targets/apt/vars/default.yml
  test/integration/targets/incidental_lookup_rabbitmq/tasks/main.yml
  test/integration/targets/incidental_setup_mongodb/tasks/main.yml
  test/integration/targets/incidental_setup_postgresql_db/vars/Ubuntu-20-py3.yml
  test/integration/targets/incidental_setup_rabbitmq/tasks/main.yml
  test/integration/targets/subversion/vars/Ubuntu-20.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.10, backport, collection, collection:ktdreyer.errata_tool_ansible, core_review, needs_triage, support:community, support:core, test

#73379 Clean up code in ansible-test.
  changelogs/fragments/ansible-test-more-code-cleanup.yml
  test/lib/ansible_test/_data/sanity/code-smell/runtime-metadata.py
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
  test/lib/ansible_test/_data/virtualenvcheck.py
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/cli.py
  test/lib/ansible_test/_internal/cloud/aws.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/coverage/__init__.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/payload.py
  test/lib/ansible_test/_internal/provider/__init__.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/sanity/ansible_doc.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73380 Rename ansible-test functions to match constants.
  changelogs/fragments/ansible-test-code-naming.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.11, bug, core_review, support:community, support:core, test

#73368 Update porting guide for 2.10.6
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
Labels: affects_2.11, core_review, docs, support:core

#73323 use correct executable and options in all cases
  changelogs/fragments/fix_ssh_executable_options.yml
  lib/ansible/plugins/connection/ssh.py
  test/units/plugins/connection/test_ssh.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73282 allow env to override unspecified unsafe_writes
  changelogs/fragments/unsafe_writes_env.yml
  lib/ansible/module_utils/basic.py
  test/integration/targets/unsafe_writes/basic.yml
  test/integration/targets/unsafe_writes/runme.sh
Labels: affects_2.11, core_review, feature, has_issue, support:community, support:core

#73353 update user module faq link
  lib/ansible/modules/user.py
Labels: affects_2.11, core_review, docs, has_issue, module, small_patch, support:core

#69152 iptables: Fixed get_chain_policy API
  changelogs/fragments/68612_iptables.yml
  lib/ansible/modules/iptables.py
Labels: P3, affects_2.10, docs, has_issue, module, shipit, support:community, support:core, system

#72591 Replace the inhouse collection dependency resolver with `resolvelib`
  changelogs/fragments/72591-ansible-galaxy-collection-resolvelib.yaml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  lib/ansible/galaxy/collection/galaxy_api_proxy.py
  lib/ansible/galaxy/dependency_resolution/__init__.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/galaxy/dependency_resolution/errors.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  lib/ansible/galaxy/dependency_resolution/reporters.py
  lib/ansible/galaxy/dependency_resolution/resolvers.py
  lib/ansible/galaxy/dependency_resolution/versioning.py
  requirements.txt
  test/integration/targets/ansible-galaxy-collection-scm/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/reinstalling.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/requirements.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/scm_dependency_deduplication.yml
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/list.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_data/requirements/integration.txt
  test/lib/ansible_test/_data/requirements/units.txt
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/ignore.txt
  test/units/cli/galaxy/test_display_collection.py
  test/units/cli/galaxy/test_execute_list_collection.py
  test/units/cli/galaxy/test_get_collection_widths.py
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.11, core_review, docs, docsite, feature, has_issue, support:community, support:core, test

#73334 change detection and check mode fixes for apt_key
  changelogs/fragments/apt_key_fixes.yml
  lib/ansible/modules/apt_key.py
  test/integration/targets/apt_key/tasks/apt_key.yml
  test/integration/targets/apt_key/tasks/file.yml
Labels: affects_2.11, bug, has_issue, module, needs_revision, support:community, support:core

#73392 Fix syntax errors detected by rstcheck.
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#73391 Limit rstcheck sanity test to ansible-core.
  changelogs/fragments/ansible-test-rstcheck-core-only.yml
  test/lib/ansible_test/_data/requirements/sanity.rstcheck.txt
  test/lib/ansible_test/_data/sanity/rstcheck/ignore-substitutions.txt
  test/lib/ansible_test/_internal/sanity/rstcheck.py
  test/sanity/code-smell/rstcheck.json
  test/sanity/code-smell/rstcheck.py
  test/sanity/code-smell/rstcheck.requirements.txt
Labels: affects_2.11, core_review, feature, support:community, support:core, test

#73393 Add test support for Python 3.8 on RHEL and FreeBSD.
  changelogs/fragments/ansible-test-freebsd-python-3.8.yml
  changelogs/fragments/ansible-test-freebsd-pyyaml-libyaml.yml
  changelogs/fragments/ansible-test-rhel-python-3.8.yml
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_data/setup/remote.sh
  test/lib/ansible_test/_internal/manage_ci.py
  test/lib/ansible_test/_internal/util.py
Labels: affects_2.11, core_review, feature, python3, support:community, support:core, test
