Repository ansible/ansible, pull requests merged in 2021-07, with the labels that each got.

#75143 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: affects_2.12, core_review, docs, docs_only, support:core

#75155 task_executor - use correct value for ssh connection retries
  changelogs/fragments/75142-ssh-retries-collision.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/ssh.py
  test/units/plugins/connection/test_ssh.py
Labels: affects_2.12, bug, core_review, has_issue, support:core

#75188 Misc typo fixes
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  lib/ansible/config/base.yml
Labels: affects_2.12, core_review, docs, small_patch, support:core

#75180 Update Japanese translation for stable-2.11
  docs/docsite/rst/locales/ja/LC_MESSAGES/cli.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/collections.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/community.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/dev_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/index.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/installation_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/network.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/plugins.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/porting_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/roadmap.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/scenario_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/user_guide.po
Labels: affects_2.11, backport, core_review, docs, docs_only, support:core

#75034 Include parent role vars as well as _role_vars
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/roles_var_inheritance/aliases
  test/integration/targets/roles_var_inheritance/play.yml
  test/integration/targets/roles_var_inheritance/roles/A/meta/main.yml
  test/integration/targets/roles_var_inheritance/roles/B/meta/main.yml
  test/integration/targets/roles_var_inheritance/roles/child_nested_dep/vars/main.yml
  test/integration/targets/roles_var_inheritance/roles/common_dep/meta/main.yml
  test/integration/targets/roles_var_inheritance/roles/common_dep/vars/main.yml
  test/integration/targets/roles_var_inheritance/roles/nested_dep/meta/main.yml
  test/integration/targets/roles_var_inheritance/roles/nested_dep/tasks/main.yml
  test/integration/targets/roles_var_inheritance/runme.sh
Labels: affects_2.12, bug, core_review, small_patch, stale_ci, support:community, support:core

#75186 Restrict packaging version for Python < 3.6
  changelogs/fragments/75186-ansible-test-packaging-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.12, bug, core_review, support:core, test

#75198 [stable-2.11] Restrict packaging to < 21.0 for Python < 3.6. (#75186)
  changelogs/fragments/75186-ansible-test-packaging-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.11, backport, bug, core_review, support:core, test

#75199 [stable-2.10] Restrict packaging to < 21.0 for Python < 3.6. (#75186).
  changelogs/fragments/75186-ansible-test-packaging-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.10, backport, bug, core_review, support:core, test

#75204 [stable-2.9] Skip `passwordstore` lookup test on OS X
  test/integration/targets/lookup_passwordstore/aliases
Labels: affects_2.9, backport, community_review, support:community

#75206 [stable-2.9] Skip docker_container test when running in a container
  test/integration/targets/docker_container/aliases
Labels: affects_2.9, backport, cloud, community_review, docker, support:community

#75200 [stable-2.9] Restrict packaging to < 21.0 for Python < 3.6. (#75186).
  changelogs/fragments/75186-ansible-test-packaging-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: affects_2.9, backport, bug, core_review, support:core, test

#75163 Removed Galaxy survey banner
  docs/docsite/.templates/banner.html
Labels: affects_2.12, core_review, docs, docs_only, small_patch, support:core

#75196 Replace self.module by my_module in test examples
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, new_contributor, support:core

#75174 [2.11] Bump sphinx_ansible_theme to v0.7.0+
  docs/docsite/known_good_reqs.txt
  docs/docsite/requirements.txt
Labels: affects_2.11, backport, core_review, docs, docs_only, needs_triage, small_patch, support:core

#75217 Removed Galaxy banner (#75163)
  docs/docsite/.templates/banner.html
Labels: affects_2.11, backport, core_review, docs, docs_only, needs_triage, small_patch, support:core

#75213 Update hacking `env_setup` to prefer Python 3
  hacking/env-setup
  hacking/env-setup.fish
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#75214 Disable jinja2_native warning in CI
  changelogs/fragments/jinja2_native-warning-config-toggle.yml
  lib/ansible/config/base.yml
  lib/ansible/template/__init__.py
  test/lib/ansible_test/_internal/ansible_util.py
Labels: affects_2.12, core_review, feature, support:core, test

#75084 become/su: Tell users not to include colon in customized list
  lib/ansible/plugins/become/su.py
Labels: affects_2.12, core_review, docs, docs_only, support:core

#74801 recursive_diff: handle error when parameters are not dict
  changelogs/fragments/56249_recursive_diff.yml
  lib/ansible/module_utils/common/dict_transformations.py
  test/units/module_utils/common/test_dict_transformations.py
Labels: affects_2.12, bug, core_review, has_issue, support:core

#75220 [stable-2.9] Prevent ansible_failed_task from further templating (#74290)
  changelogs/fragments/74036-unsafe-ansible_failed_task.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/blocks/runme.sh
  test/integration/targets/blocks/unsafe_failed_task.yml
Labels: affects_2.9, backport, backport_verified, core_review, support:community, support:core

#75004 [2.10] Do not show empty version_added_collection values in ansible-doc text output
  changelogs/fragments/74999-ansible-doc-version_added_collection.yml
  lib/ansible/cli/doc.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:core

#75129 [2.10]ansible-test: exposes tiny_prefix variable
  changelogs/fragments/aws_tiny_prefix.yaml
  test/lib/ansible_test/_internal/cloud/aws.py
Labels: affects_2.10, backport, bug, core_review, stale_ci, support:core, test

#75052 [bp-2.10] get_url - Allow checksum file to be local file://
  changelogs/fragments/71205_get_url_allow_checksum_file_url.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:core

#75191 [stable-2.11] task_executor - use correct value for ssh connection retries (#75155)
  changelogs/fragments/75142-ssh-retries-collision.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/ssh.py
  test/units/plugins/connection/test_ssh.py
Labels: affects_2.11, backport, bug, needs_revision, needs_triage, support:core

#75148 Unfrack extra vars (#75127)
  changelogs/fragments/extra_vars_unfrack.yml
  lib/ansible/cli/arguments/option_helpers.py
  test/integration/targets/inventory/1/2/3/extra_vars_relative.yml
  test/integration/targets/inventory/1/2/inventory.yml
  test/integration/targets/inventory/1/vars.yml
  test/integration/targets/inventory/runme.sh
Labels: affects_2.11, backport, bug, core_review, needs_triage, support:community, support:core

#75130 [2.9]ansible-test: exposes tiny_prefix variable
  changelogs/fragments/aws_tiny_prefix.yaml
  test/lib/ansible_test/_internal/cloud/aws.py
Labels: affects_2.9, backport, bug, core_review, stale_ci, support:core, test

#75128 [2.11]ansible-test: exposes tiny_prefix variable
  changelogs/fragments/aws_tiny_prefix.yaml
  test/lib/ansible_test/_internal/cloud/aws.py
Labels: affects_2.11, backport, bug, core_review, stale_ci, support:core, test

#75094 [2.11] Template suboptions in a role's arg spec (#75073)
  changelogs/fragments/75073-role-argspec-suboption-variables.yaml
  lib/ansible/plugins/action/validate_argument_spec.py
  test/integration/targets/roles_arg_spec/test.yml
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#75003 [2.11] Do not show empty version_added_collection values in ansible-doc text output
  changelogs/fragments/74999-ansible-doc-version_added_collection.yml
  lib/ansible/cli/doc.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:core

#75008 2.11: Add support for unicode in ansible-inventory CLI (#74912)
  changelogs/fragments/57378-inventory-cli-unicode.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/ansible-inventory/aliases
  test/integration/targets/ansible-inventory/files/unicode.yml
  test/integration/targets/ansible-inventory/tasks/main.yml
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#75037 [stable-2.11] file integration test - cleanup testing users and group
  test/integration/targets/file/handlers/main.yml
  test/integration/targets/file/tasks/main.yml
  test/integration/targets/file/tasks/state_link.yml
Labels: affects_2.11, backport, core_review, needs_triage, stale_ci, support:core

#75044 [stable-2.11] command - remove unreachable code and achieve full test coverage (#75036)
  changelogs/fragments/command-remove-unreachable-code.yml
  lib/ansible/modules/command.py
  test/integration/targets/command_shell/tasks/main.yml
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, stale_ci, support:community, support:core

#75233 developing_collections_testing: Fix formatting
  docs/docsite/rst/dev_guide/developing_collections_testing.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, small_patch, support:core

#75132 [stable-2.11] module_common - handle cache directory creation collision (#75106)
  changelogs/fragments/concurrency-cache-dir-collision.yml
  lib/ansible/executor/module_common.py
Labels: affects_2.11, backport, bug, core_review, needs_triage, stale_ci, support:core

#75045 [stable-2.11] slurp - improve error code and test coverage (#75038)
  changelogs/fragments/slurp-improve-error-handling-readability.yml
  lib/ansible/modules/slurp.py
  test/integration/targets/slurp/tasks/main.yml
  test/integration/targets/slurp/tasks/test_unreadable.yml
Labels: affects_2.11, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#74674 [2.10] get_url: Fix checksum binary validation
  changelogs/fragments/71420_get_url.yml
  changelogs/fragments/74502-get_url-filx-checksum-binary.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:core

#75229 fix option name for parsed
  docs/docsite/rst/network/user_guide/network_resource_modules.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, needs_triage, networking, small_patch, support:core

#75246 Update Japanese translation for stable-2.11
  docs/docsite/rst/locales/ja/LC_MESSAGES/cli.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/collections.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/dev_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/galaxy.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/installation_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/network.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/plugins.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/porting_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/roadmap.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/sphinx.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/user_guide.po
Labels: affects_2.11, backport, core_review, docs, docs_only, support:core

#74039 add action_groups support to collections
  changelogs/fragments/74039_enable_module_defaults_for_collections.yml
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/user_guide/playbooks_module_defaults.rst
  lib/ansible/config/ansible_builtin_runtime.yml
  lib/ansible/config/base.yml
  lib/ansible/executor/module_common.py
  lib/ansible/executor/task_executor.py
  lib/ansible/parsing/mod_args.py
  lib/ansible/playbook/base.py
  lib/ansible/playbook/play.py
  lib/ansible/playbook/task.py
  lib/ansible/plugins/action/gather_facts.py
  lib/ansible/plugins/action/package.py
  lib/ansible/plugins/action/service.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/integration/targets/gathering_facts/collections/ansible_collections/cisco/ios/plugins/modules/ios_facts.py
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/test_module_defaults.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/meta/runtime.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/metadata.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/ping.py
  test/integration/targets/module_defaults/library/legacy_ping.py
  test/integration/targets/module_defaults/runme.sh
  test/integration/targets/module_defaults/tasks/main.yml
  test/integration/targets/module_defaults/templates/test_metadata_warning.yml.j2
  test/integration/targets/module_defaults/test_action_group_metadata.yml
  test/integration/targets/module_defaults/test_action_groups.yml
  test/lib/ansible_test/_data/legacy_collection_loader/_collection_finder.py
  test/units/plugins/action/test_gather_facts.py
Labels: affects_2.11, core_review, docs, docsite, feature, has_issue, new_plugin, runtime, stale_ci, support:community, support:core, test

#75255 gitignore vendored dir
  .gitignore
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#75168 set host_key_checking check to False, rather than if not (which captures False and None)
  changelogs/fragments/set-ssh-host_key_checking-defaults.yaml
  lib/ansible/plugins/connection/ssh.py
Labels: affects_2.12, bug, core_review, has_issue, new_contributor, support:core

#75250 modules moved to use best_parsable_locale
  changelogs/fragments/best_locale.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/locale.py
  lib/ansible/module_utils/facts/hardware/linux.py
  lib/ansible/module_utils/facts/hardware/sunos.py
  lib/ansible/modules/apt.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/git.py
  lib/ansible/modules/package_facts.py
  lib/ansible/modules/pip.py
  lib/ansible/modules/service.py
  lib/ansible/modules/service_facts.py
  lib/ansible/modules/subversion.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/user.py
  lib/ansible/modules/yum.py
  test/units/modules/test_apt_key.py
Labels: affects_2.12, core_review, feature, module, support:core

#75256 winrm - Add explicit env vars to pass into kinit
  changelogs/fragments/winrm-kinit-env.yml
  lib/ansible/plugins/connection/winrm.py
Labels: affects_2.12, core_review, feature, support:core, windows

#75259 Add a test for deduplicating dependencies with include_role
  test/integration/targets/roles/no_dupes.yml
  test/integration/targets/roles/runme.sh
Labels: affects_2.12, community_review, support:community

#75092 Check if a string is possibly a template in `ansible.template.is_template`
  changelogs/fragments/74336-is_template-quick-check.yml
  lib/ansible/template/__init__.py
Labels: affects_2.12, core_review, feature, support:core

#75283 docs: Update description and URL for the ara repository
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, needs_triage, small_patch, support:core

#75292 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: affects_2.12, core_review, docs, docs_only, support:core

#75104 Update network user guide to point to ansible.utils.cli_parse module and add docs for validate plugin
  changelogs/fragments/update_doc_for_utils_plugins.yaml
  docs/docsite/rst/network/user_guide/cli_parsing.rst
  docs/docsite/rst/network/user_guide/index.rst
  docs/docsite/rst/network/user_guide/validate.rst
Labels: affects_2.12, core_review, docs, docsite, networking, support:core

#75266 incorporate minimalism feedback on distributing collections page
  docs/docsite/rst/dev_guide/developing_collections_distributing.rst
  docs/docsite/rst/dev_guide/developing_collections_shared.rst
  docs/docsite/rst/shared_snippets/installing_collections_git_repo.txt
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
Labels: affects_2.12, core_review, docs, docs_only, docsite, support:core

#74952 Docs: talk about AWX or the Platform, not Tower
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/network/getting_started/network_roles.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/logging.rst
  docs/docsite/rst/reference_appendices/tower.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_rax.rst
  docs/docsite/rst/user_guide/become.rst
  docs/docsite/rst/user_guide/guide_rolling_upgrade.rst
  docs/docsite/rst/user_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/user_guide/playbooks_prompts.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.12, core_review, docs, docs_only, docsite, networking, support:core

#75284 Fix resolution of action/module names in module_defaults
  changelogs/fragments/75284-fix-legacy-module_defaults.yaml
  lib/ansible/playbook/base.py
  test/integration/targets/module_defaults/action_plugins/debug.py
  test/integration/targets/module_defaults/test_defaults.yml
Labels: affects_2.12, bug, core_review, support:community, support:core

#75245 fix ssh cli defaults
  changelogs/fragments/fix_cli_ssh_defaults.yml
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/connection_ssh/runme.sh
  test/integration/targets/connection_ssh/test_ssh_defaults.cfg
  test/integration/targets/connection_ssh/verify_config.yml
Labels: affects_2.12, bug, core_review, support:community, support:core

#75306 Ensure Jinja2 template header overrides are used
  changelogs/fragments/75275-ensure-jinja2-header-overrides-used.yml
  lib/ansible/template/__init__.py
  test/integration/targets/template/in_template_overrides.j2
  test/integration/targets/template/in_template_overrides.yml
  test/integration/targets/template/runme.sh
Labels: affects_2.12, bug, core_review, needs_triage, support:core

#75308 Expose `unredirected_headers` to uri and get_url modules
  changelogs/fragments/expose-unredirected-headers.yml
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/uri.py
  test/integration/targets/get_url/tasks/main.yml
  test/integration/targets/uri/tasks/main.yml
  test/units/module_utils/urls/test_fetch_url.py
Labels: affects_2.12, core_review, feature, module, support:core

#75326 service_facts, now more accurate on systemd
  changelogs/fragments/service_facts_systemd_improve.yml
  lib/ansible/modules/service_facts.py
Labels: affects_2.12, bug, core_review, module, support:core

#75350 Update 2.12 roadmap for schedule change
  docs/docsite/rst/roadmap/ROADMAP_2_12.rst
Labels: affects_2.12, core_review, docs, docs_only, needs_triage, support:core

#75356 Add packaging to requirement of ansible-test
  changelogs/fragments/75356-add-requirement-to-ansible-test.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/meta/runtime.yml
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.txt
Labels: affects_2.12, bug, core_review, has_issue, support:community, support:core, test

#75258 Improve 2.10 role dependency deduplication documentation
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: affects_2.10, backport, core_review, docs, docs_only, stale_ci, support:core

#75345 Remove duplicate any_errors_fatal test file
  test/integration/targets/any_errors_fatal/18602.yml
Labels: affects_2.12, community_review, needs_triage, support:community

#75332 Improve handling of AnsibleModule arguments in validate-modules
  changelogs/fragments/75332-ansible-test-validate-modules-AnsibleModule-args.yml
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/module_args.py
Labels: affects_2.12, bug, core_review, support:core, test

#75359 Update test container versions
  changelogs/fragments/75359-update-test-containers.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: affects_2.12, core_review, support:core, test

#75362 ansible-test - add RHEL 8.4 as a remote
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/75362-add-rhel-8.4-remote.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.12, core_review, support:core, test

#75202 Fix when evaluation on Native Jinja and Python 3.10
  changelogs/fragments/when-eval-native-py310.yml
  lib/ansible/playbook/conditional.py
  test/units/template/test_native_concat.py
Labels: affects_2.12, bug, shipit, support:core

#75358 [stable-2.11] Add packaging to requirement of ansible-test (#75356)
  changelogs/fragments/75356-add-requirement-to-ansible-test.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/meta/runtime.yml
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.txt
Labels: affects_2.11, backport, bug, core_review, support:community, support:core, test

#75343 docs: clarify regex_search return value
  docs/docsite/rst/user_guide/playbooks_filters.rst
  test/integration/targets/filter_core/tasks/main.yml
Labels: affects_2.12, core_review, docs, support:community, support:core
