Repository ansible/ansible, pull requests merged in 2021-12, with the labels that each got.

#76417 set VERSION to 5 for realz
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#76225 Update collection loader for Python 3.10
  changelogs/fragments/76225-update-collection-loader-for-python3.yaml
  lib/ansible/utils/collection_loader/__init__.py
  lib/ansible/utils/collection_loader/_collection_config.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  lib/ansible/utils/collection_loader/_collection_meta.py
  test/lib/ansible_test/_internal/classification/python.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/commands/units/__init__.py
  test/lib/ansible_test/_util/target/legacy_collection_loader/__init__.py
  test/lib/ansible_test/_util/target/legacy_collection_loader/_collection_config.py
  test/lib/ansible_test/_util/target/legacy_collection_loader/_collection_finder.py
  test/lib/ansible_test/_util/target/legacy_collection_loader/_collection_meta.py
  test/lib/ansible_test/_util/target/pytest/plugins/ansible_pytest_collections.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: test, core_review, support:core, feature, affects_2.13

#76353 fix shell/command/script tasks skipping in check mode
  changelogs/fragments/76353-fix-check-mode-skipping.yaml
  lib/ansible/modules/command.py
  lib/ansible/plugins/action/script.py
Labels: module, core_review, support:core, bug, has_issue, affects_2.13

#76349 reset defaults for json filters
  changelogs/fragments/json_filter_fix.yml
  lib/ansible/plugins/filter/core.py
Labels: core_review, support:core, bug, affects_2.13

#76389 better handling of sudo flag replacement
  changelogs/fragments/fix_sudo_flag_mangling.yml
  lib/ansible/plugins/become/sudo.py
  test/units/plugins/become/test_sudo.py
Labels: core_review, support:core, bug, affects_2.13

#76444 docs: Update porting guide for Ansible 5.0.1
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76423 [stable-2.9] Disable tests that use AWS lamdba
  test/integration/targets/aws_secret/aliases
  test/integration/targets/lambda_policy/aliases
  test/integration/targets/s3_bucket_notification/aliases
Labels: cloud, backport, community_review, support:community, affects_2.9

#76426 ansible-test - Update NIOS container to 1.4.0.
  changelogs/fragments/ansible-test-nios-container.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/nios.py
Labels: test, core_review, support:core, feature, affects_2.13

#76387 Fix docs "playbook"/"play" conflation
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: core_review, support:core, docs, has_issue, docs_only, affects_2.13

#76410 Fix how/what+look/like grammar in dev process doc
  docs/docsite/rst/community/development_process.rst
Labels: core_review, support:core, docs, small_patch, docsite, docs_only, affects_2.13

#76421 Handle HTTPError being partially initialized due to the error
  changelogs/fragments/76386-httperror-no-fp.yml
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/uri.py
  test/integration/targets/uri/tasks/main.yml
Labels: module, core_review, support:core, bug, affects_2.13

#76435 Properly set finalize for the new environment
  changelogs/fragments/76379-set-finalize-on-new-env.yml
  lib/ansible/template/__init__.py
Labels: core_review, support:core, bug, affects_2.13

#76439 Remove finalize from globals
  changelogs/fragments/finalize-not-in-globals.yml
  docs/docsite/rst/porting_guides/porting_guide_core_2.13.rst
  lib/ansible/template/__init__.py
Labels: core_review, support:core, docs, feature, affects_2.13

#76327 Add 'default' to 'env' lookup
  changelogs/fragments/evn_default.yml
  lib/ansible/plugins/lookup/env.py
  test/integration/targets/lookup_env/runme.sh
Labels: core_review, support:community, support:core, feature, affects_2.13

#76475 New release v2.10.16
  changelogs/CHANGELOG-v2.10.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.10.16_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.10

#76476 New release v2.11.7
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.7_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.11

#76477 New release v2.12.1
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#76480 Update Ansible release version to v2.10.16.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.10

#76481 Update Ansible release version to v2.11.7.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.11

#76478 ansible-test - Fix import test when vendoring.
  changelogs/fragments/ansible-test-sanity-vendoring.yml
  lib/ansible/_vendor/__init__.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: test, core_review, support:core, bug, affects_2.13

#76482 Update Ansible release version to v2.12.1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.12

#76485 ansible-test - Fix traceback in validate-modules test.
  changelogs/fragments/ansible-test-validate-modules-no-callable.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/modules/no_callable.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: new_plugin, test, core_review, support:community, support:core, bug, affects_2.13

#76128 Docsite/dev_guide: add note about ansible-test utility installation ways
  docs/docsite/rst/dev_guide/developing_collections_testing.rst
Labels: core_review, stale_ci, support:core, docs, docsite, docs_only, affects_2.13

#76326 catch the case that cowsay is broken
  changelogs/fragments/72592-catch-broken-cowsay.yaml
  lib/ansible/utils/display.py
  test/units/utils/display/test_broken_cowsay.py
Labels: core_review, support:core, bug, affects_2.13

#76459 add tencentos fact distro
  changelogs/fragments/76343-tencentos-dnf.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/tencentos_3_1.json
Labels: needs_revision, needs_triage, support:core, new_contributor, bug, affects_2.13

#76479 galaxy build - ignore existing MANIFEST and FILES
  changelogs/fragments/galaxy-build-files-ignore.yml
  lib/ansible/galaxy/collection/__init__.py
  test/units/galaxy/test_collection.py
Labels: core_review, support:core, bug, affects_2.13

#76494 Revert "ansible-test - Fix import test when vendoring."
  changelogs/fragments/ansible-test-sanity-vendoring.yml
  lib/ansible/_vendor/__init__.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: needs_revision, test, support:core, bug, affects_2.13

#76486 [stable-2.12] ansible-test - Fix traceback in validate-modules test.
  changelogs/fragments/ansible-test-validate-modules-no-callable.yml
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/modules/no_callable.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: backport, test, core_review, support:community, support:core, bug, affects_2.12

#76502 ansible-test - Remove RHEL 8.4 support.
  changelogs/fragments/ansible-test-rhel-8.4.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76470 add intersphinx mapping for Ansible 5
  docs/docsite/ansible_4.inv
  docs/docsite/ansible_5.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76512 add note for AAP on Azure availability
  docs/docsite/rst/reference_appendices/automationhub.rst
  docs/docsite/rst/reference_appendices/tower.rst
  docs/docsite/rst/scenario_guides/guide_aws.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#76513 ansible-test - Fix import test for collections.
  changelogs/fragments/ansible-test-import-collections.yml
  lib/ansible/plugins/loader.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/lookup/vendor1.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/lookup/vendor2.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: test, core_review, support:community, support:core, bug, affects_2.13

#76511 add intersphinx mapping for Ansible 5 (#76470)
  docs/docsite/ansible_4.inv
  docs/docsite/ansible_5.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, affects_2.12, docs_only

#76385 template lookup: jinja2_native has no effect if global is off
  lib/ansible/plugins/lookup/template.py
Labels: core_review, support:core, bug, small_patch, has_issue, affects_2.13

#76471 AnsibleJ2Template should be based on NativeTemplate
  lib/ansible/template/template.py
Labels: core_review, support:core, bug, small_patch, affects_2.13

#76514 ansible-test - Use ansible-core for docs links.
  changelogs/fragments/ansible-test-links.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/runtime-metadata.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: test, core_review, support:core, bug, affects_2.13

#76518 remove aws from the azure note
  docs/docsite/rst/scenario_guides/guide_aws.rst
Labels: needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76373 Add openrc support to service_facts
  changelogs/fragments/76373-add-openrc-support-to-service_facts.yaml
  lib/ansible/modules/service_facts.py
Labels: module, core_review, support:core, new_contributor, feature, P3, affects_2.13

#76457 pkg_mgr: prohibit pkg5 usage on Altlinux
  lib/ansible/module_utils/facts/system/pkg_mgr.py
Labels: needs_revision, support:core, new_contributor, bug, affects_2.13

#76515 change keyword return to results
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, affects_2.13

#76517 per marketing request - add note for AAP on Azure availability (#76512)
  docs/docsite/rst/reference_appendices/automationhub.rst
  docs/docsite/rst/reference_appendices/tower.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
Labels: backport, needs_triage, core_review, support:core, docs, affects_2.12, docs_only

#76524 Remove withought typo
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
Labels: needs_revision, needs_triage, needs_ci, support:core, docs, small_patch, affects_2.13

#76448 check finder type before passing path
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: core_review, support:core, bug, affects_2.13

#76436 Clarify unroll in _finalize
  changelogs/fragments/clarify-unroll.yml
  lib/ansible/template/__init__.py
Labels: core_review, support:core, bug, affects_2.13

#76356 plugins/dnf: implement validate_certs option
  changelogs/fragments/76356-yumdnf-sslverify.yml
  lib/ansible/module_utils/yumdnf.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/yum.py
Labels: module, core_review, support:core, new_contributor, bug, affects_2.13

#76536 ansible-test - Fix delegation from install.
  changelogs/fragments/ansible-test-delegation-pythonpath.yml
  test/lib/ansible_test/_internal/delegation.py
Labels: test, core_review, support:core, bug, affects_2.13

#76537 ansible-test - Remove invalid type hint.
  test/lib/ansible_test/_util/target/cli/ansible_test_cli_stub.py
Labels: test, core_review, support:core, bug, affects_2.13

#76540 ansible-test - Code cleanup.
  changelogs/fragments/ansible-test-code-cleanup.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/classification/powershell.py
  test/lib/ansible_test/_internal/cli/__init__.py
  test/lib/ansible_test/_internal/cli/parsers/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/init.py
  test/lib/ansible_test/_internal/thread.py
  test/lib/ansible_test/_internal/util.py
Labels: test, core_review, support:core, bug, affects_2.13

#76345 yum: avoid storing unnecessary cache data
  changelogs/fragments/76336-yum-makecache-fast.yml
  lib/ansible/modules/yum.py
Labels: module, core_review, support:core, bug, has_issue, affects_2.13

#76360 Update special_variables.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docs_only, affects_2.13

#76542 unarchive: fix non-english locales
  changelogs/fragments/76542-fix-unarchive-on-nenglish-locales.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/test_different_language_var.yml
Labels: module, needs_triage, core_review, support:core, new_contributor, bug, affects_2.13

#76559 docs: Update porting guide for ansible 4.10.0
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76543 Clarify include parameter in unarchive
  lib/ansible/modules/unarchive.py
Labels: module, core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#76340 Update intro_inventory.rst
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: core_review, support:core, bug, docs, small_patch, docs_only, affects_2.13

#75249 k8s: Migrated scenario guides to collection
  changelogs/fragments/migrated_k8s_scenario_guides.yml
  docs/docsite/rst/community/contributing_maintained_collections.rst
  docs/docsite/rst/scenario_guides/guide_kubernetes.rst
  docs/docsite/rst/scenario_guides/guides.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/k8s_intro.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/k8s_inventory.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/k8s_scenarios.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/scenario_k8s_object.rst
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/task_outputs/Add_a_pod_using_k8s.json
  docs/docsite/rst/scenario_guides/kubernetes_scenarios/task_outputs/Add_a_pod_using_k8s.yaml
  docs/docsite/rst/scenario_guides/virt_guides.rst
Labels: core_review, support:core, docs, docsite, affects_2.12

#72732 Update playbook_tests with type testing
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: core_review, support:core, docs, affects_2.11, docs_only

#76587 shell plugins, more exact wording of system_tmpdirs
  lib/ansible/plugins/doc_fragments/shell_common.py
Labels: core_review, support:core, docs, small_patch, affects_2.13

#76584 Replace "Encrypt" with "Hash" for prompt documentation
  docs/docsite/rst/user_guide/playbooks_prompts.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#76582 Update Windows host requirements
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/user_guide/windows_dsc.rst
  docs/docsite/rst/user_guide/windows_setup.rst
Labels: windows, needs_triage, core_review, support:core, docs, docsite, has_issue, docs_only, affects_2.13

#76568 Do not format the choice as a definition list for non-mapping values
  docs/templates/config.rst.j2
Labels: needs_revision, support:core, docs, small_patch, docs_only, affects_2.13

#76583 Add docs on Windows module util requirements
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.13

#76560 Adds documentation about when/why to use roles
  docs/docsite/rst/user_guide/playbooks_reuse.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76595 Docs: update porting guide for ansible 5.1.0
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#76557 Adding modularity tag to task modularity.yml
  test/integration/targets/dnf/tasks/main.yml
Labels: core_review, support:core, new_contributor, affects_2.13

#76462 check for indirect service in systemd
  changelogs/fragments/76453-indirect-systemd-status.yml
  lib/ansible/modules/systemd.py
  test/integration/targets/systemd/handlers/main.yml
  test/integration/targets/systemd/tasks/main.yml
  test/integration/targets/systemd/tasks/test_indirect_service.yml
  test/integration/targets/systemd/templates/dummy.service
  test/integration/targets/systemd/templates/dummy.socket
  test/integration/targets/systemd/vars/Debian.yml
  test/integration/targets/systemd/vars/default.yml
Labels: module, core_review, support:core, bug, P3, has_issue, affects_2.13

#76600 Disable the _distutils_hack in newer setuptools
  test/integration/targets/entry_points/runme.sh
  test/integration/targets/setup_paramiko/install-FreeBSD-python-3.yml
  test/integration/targets/setup_paramiko/install-RedHat-8-python-3.yml
Labels: community_review, support:community, affects_2.13

#76365 unarchive: Keep stderr when pick_handler fails
  changelogs/fragments/76365-unarchive-include-stderr-in-error-message.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/test_invalid_options.yml
Labels: module, core_review, support:core, new_contributor, bug, P3, affects_2.13

#76617 Fixed documentation: "do not needed -> do not need"
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  lib/ansible/config/base.yml
Labels: needs_triage, core_review, support:core, new_contributor, docs, small_patch, affects_2.13
