Repository ansible/ansible, pull requests merged in 2021-03, with the labels that each got.

#73737 Fix typo in incidental.py
  hacking/shippable/incidental.py
Labels: affects_2.11, bug, core_review, needs_triage, new_contributor, small_patch, support:core

#73700 Let file module not change link to absolute when src not given(#65448)
  changelogs/fragments/73700-let-file-module-not-change-link-to-absolute-on-touch.yml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/link_rewrite.yml
  test/integration/targets/file/tasks/state_link.yml
Labels: affects_2.11, bug, collection, core_review, module, support:community, support:core

#73577 Fixed/improved regular expresssion for collection names
  changelogs/fragments/73577-regex-fix.yml
  lib/ansible/utils/collection_loader/_collection_finder.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/schema.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.11, bug, needs_revision, support:community, support:core, test

#72287 Clarify CLI version number as core version
  changelogs/fragments/core_version.yml
  lib/ansible/cli/arguments/option_helpers.py
  test/units/cli/arguments/test_optparse_helpers.py
  test/units/cli/test_adhoc.py
Labels: affects_2.11, core_review, feature, has_issue, support:community, support:core

#73665 Fixes for ansible-console usability.
  changelogs/fragments/73665-fixes-ansible-console.yml
  lib/ansible/cli/console.py
Labels: affects_2.11, bug, needs_revision, new_contributor, support:community, support:core

#73609 selinux: return selinux_getpolicytype facts
  changelogs/fragments/selinux_getpolicytype_compat.yml
  lib/ansible/module_utils/compat/selinux.py
  test/integration/targets/module_utils_selinux/aliases
  test/integration/targets/module_utils_selinux/tasks/main.yml
Labels: P2, affects_2.11, bug, core_review, support:community, support:core

#73750 Update CI URL in setup.py
  setup.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#73277 Reduce complexity of Templar._lookup slightly
  changelogs/fragments/73277-reduce-lookup-complexity.yml
  lib/ansible/template/__init__.py
  lib/ansible/utils/listify.py
Labels: affects_2.11, bug, shipit, support:community, support:core

#73753 Move win_uri to a group that does not have another test using port 80
  test/integration/targets/win_uri/aliases
Labels: affects_2.9, backport, collection, collection:ansible.windows, core_review, support:core, test

#73600 Import test: improve docs, add more tests
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/lookup/bad.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/lookup/world.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/random_directory/bad.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/tests/sanity/ignore.txt
  test/integration/targets/ansible-test/collection-tests/coverage.sh
  test/integration/targets/ansible-test/collection-tests/venv.sh
Labels: affects_2.11, core_review, docs, docsite, has_issue, new_plugin, support:community, support:core

#73652 .github/BOTMETA.yml: cleanup
  .github/BOTMETA.yml
Labels: WIP, affects_2.11, botmeta, bug, stale_ci, support:core

#73727 Fix invalid yaml in collections_using.rst
  docs/docsite/rst/user_guide/collections_using.rst
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73676 infoblox inventory script: add note on what is required for it to actually work
  docs/docsite/rst/scenario_guides/guide_infoblox.rst
Labels: affects_2.11, docs, has_issue, shipit, small_patch, support:core

#73752 Pin version of openshift library in inventory_kubevirt_conformance test
  test/integration/targets/inventory_kubevirt_conformance/constraints.txt
Labels: affects_2.8, backport, collection, collection:community.aws, community_review, needs_triage, support:community, traceback

#73757 ansible-test - Remove outdated --docker and --remote entries.
  changelogs/fragments/ansible-test-platforms.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/completion/remote.txt
Labels: affects_2.11, core_review, feature, support:core, test

#73758 Remove old ansible-test windows completion entries.
  changelogs/fragments/ansible-test-platforms.yml
  test/lib/ansible_test/_data/completion/windows.txt
Labels: affects_2.11, core_review, feature, small_patch, support:core, test

#73595 [stable-2.10] Fix ansible-test handling of egg-info.
  changelogs/fragments/ansible-test-egg-info-handling.yml
  test/integration/targets/pkg_resources/aliases
  test/integration/targets/pkg_resources/lookup_plugins/check_pkg_resources.py
  test/integration/targets/pkg_resources/tasks/main.yml
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/executor.py
Labels: affects_2.10, backport, bug, core_review, has_issue, support:community, support:core, test

#73761 New release v2.11.0b1
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.0b1_summary.yaml
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, support:core

#73764 Update Ansible release version to v2.11.0b1.post0.
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#73751 Convert markdown issue templates into issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_report.md
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.11, core_review, support:core

#73637 Backport of Split Ansible docs from core docs (#73616)
  .gitignore
  MANIFEST.in
  Makefile
  docs/docsite/Makefile
  docs/docsite/Makefile.sphinx
  docs/docsite/rst/2.10_index.rst
  docs/docsite/rst/ansible_index.rst
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/porting_guides/core_porting_guides.rst
  docs/docsite/rst/roadmap/ansible_base_roadmap_index.rst
  docs/docsite/sphinx_conf/2.10_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
  hacking/build_library/build_ansible/command_plugins/docs_build.py
  test/sanity/code-smell/docs-build.py
  test/sanity/code-smell/package-data.py
  test/sanity/ignore.txt
Labels: affects_2.10, backport, core_review, docs, has_issue, needs_triage, support:core, test

#73714 minor detection improvement on j2plugin loader
  changelogs/fragments/j2ploader_minor.yml
  lib/ansible/plugins/loader.py
Labels: affects_2.11, bug, core_review, support:core

#73770 add base 2.10 to version switcher
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73726 Don't fail for mixed typed keys
  changelogs/fragments/inv_json_sort_types_fix.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/inventory/inv_with_int.yml
  test/integration/targets/inventory/runme.sh
Labels: affects_2.11, bug, collection, collection:amazon.aws, core_review, support:community, support:core

#73765 module output is only json objects
  changelogs/fragments/fix_json_module_parsing.yml
  lib/ansible/module_utils/json_utils.py
  lib/ansible/modules/async_wrapper.py
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/json_cleanup/aliases
  test/integration/targets/json_cleanup/library/bad_json
  test/integration/targets/json_cleanup/module_output_cleaning.yml
  test/integration/targets/json_cleanup/runme.sh
  test/sanity/ignore.txt
Labels: affects_2.11, bug, core_review, module, needs_triage, support:community, support:core, test

#73773 add base 2.10 to docs version switcher (#73770)
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.10, backport, core_review, docs, small_patch, support:core

#73708 finish migrating ssh plugin to config system
  changelogs/fragments/ssh_connection_fixes.yml
  lib/ansible/cli/arguments/option_helpers.py
  lib/ansible/config/base.yml
  lib/ansible/config/manager.py
  lib/ansible/playbook/play_context.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/utils/ssh_functions.py
  test/integration/targets/connection_windows_ssh/runme.sh
  test/units/plugins/connection/test_ssh.py
Labels: affects_2.11, bug, core_review, support:community, support:core

#73684 Set fact fixes
  changelogs/fragments/fix_set_fact.yml
  lib/ansible/modules/set_fact.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/set_fact.py
Labels: affects_2.11, bug, core_review, has_issue, module, support:core, test

#73778 Some porting guide fixes for 2.11
  docs/docsite/rst/porting_guides/porting_guide_core_2.11.rst
Labels: affects_2.11, core_review, docs, support:core

#73787 feature_request: Component Name
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.11, bug, core_review, has_issue, needs_triage, small_patch, support:core

#73760 Auto cleanup of async cache file
  changelogs/fragments/73760-async-cleanup.yml
  docs/docsite/rst/user_guide/playbooks_async.rst
  lib/ansible/executor/task_executor.py
  test/integration/targets/async/tasks/main.yml
Labels: affects_2.11, bug, core_review, docs, support:community, support:core

#73767 distribution: Add Amazon Linux distribution facts
  changelogs/fragments/73742_amazon_distribution.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/amazon_linux_2.json
  test/units/module_utils/facts/system/distribution/fixtures/amazon_linux_2016.03.json
  test/units/module_utils/facts/system/distribution/fixtures/amazon_linux_2018.03.json
  test/units/module_utils/facts/system/distribution/fixtures/amazon_linux_2_karoo.json
Labels: affects_2.11, bug, core_review, distro_port, has_issue, needs_triage, support:core

#73746 Documentation: Lay the ground for i18n work.
  Makefile
  docs/docsite/Makefile
  docs/docsite/Makefile.sphinx
  docs/docsite/requirements.txt
  docs/docsite/sphinx_conf/all_conf.py
Labels: affects_2.11, core_review, docs, support:core

#73551 [stable-2.8] Bump azure-pipelines-test-container to version 1.8.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.8, backport, core_review, feature, needs_triage, small_patch, stale_ci, support:core

#73803 fix: backport #66322 on 2.9
  changelogs/fragments/66322-moved_line_causing_terraform_output_suppression.yml
  lib/ansible/modules/cloud/misc/terraform.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.general, core_review, module, needs_maintainer, needs_triage, new_contributor, support:community, support:core

#73724 [stable-2.9] Normalize ConfigParser between Python2 and Python3 (#73715)
  changelogs/fragments/73709-normalize-configparser.yml
  lib/ansible/config/manager.py
  test/integration/targets/config/inline_comment_ansible.cfg
  test/integration/targets/config/runme.sh
Labels: affects_2.9, backport, core_review, needs_triage, python3, support:community, support:core

#73649 [stable-2.9] hostname - add Almalinux support (#73619)
  changelogs/fragments/73619-hostname-almalinux-support.yml
  lib/ansible/modules/system/hostname.py
Labels: affects_2.9, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#73584 [stable-2.9]ansible-test: yamllint, check the assigment
  changelogs/fragments/ansible_test_yamllint_avoid_attribute_exception.yaml
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, test

#73570 [stable-2.9][ansible-test] attempt to work around podman (#72096)
  changelogs/fragments/ansible-test-podman-json-format.yml
  test/lib/ansible_test/_internal/docker_util.py
  test/units/ansible_test/test_docker_util.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, test

#73550 [stable-2.9] Bump azure-pipelines-test-container to version 1.8.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.9, backport, core_review, feature, needs_triage, small_patch, stale_ci, support:core

#73638 [2.9] docker_image: do not crash in load_image for docker-py < 2.5.0.
  changelogs/fragments/community.docker-73-docker_image-fix-old-docker-py-version.yml
  lib/ansible/modules/cloud/docker/docker_image.py
  test/integration/targets/docker_image/tasks/tests/options.yml
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.docker, core_review, docker, module, needs_triage, stale_ci, support:community, support:core, test

#73513 [stable-2.9] Don't treat host_pinned as lockstep (#73484)
  changelogs/fragments/73364-default-callback-host-pinned-not-lockstep.yml
  lib/ansible/plugins/callback/default.py
  test/integration/targets/callback_default/callback_default.out.free.stdout
  test/integration/targets/callback_default/callback_default.out.host_pinned.stdout
  test/integration/targets/callback_default/inventory
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test_non_lockstep.yml
Labels: affects_2.9, backport, core_review, needs_triage, stale_ci, support:community, support:core

#73544 [stable-2.9] Add AlmaLinux to the family of Red Hat-like operating systems (#73541)
  changelogs/fragments/support_almalinux.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/almalinux_8_3_beta.json
Labels: affects_2.9, backport, bug, core_review, needs_triage, stale_ci, support:core

#73817 [2.9] docker_image: fix handling of image IDs
  changelogs/fragments/community.docker-87-docker_image-load-image-ids.yml
  lib/ansible/module_utils/docker/common.py
  lib/ansible/modules/cloud/docker/docker_image.py
  lib/ansible/modules/cloud/docker/docker_image_info.py
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.docker, core_review, docker, module, needs_triage, support:community, support:core

#73816 [2.9] docker_container: fix healthcheck idempotency issue with strict comparison
  changelogs/fragments/community.docker-88-docker_container-healthcheck.yml
  lib/ansible/modules/cloud/docker/docker_container.py
  test/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.9, backport, bug, cloud, collection, collection:community.docker, core_review, docker, module, needs_triage, support:community, support:core

#73815 [2.9] openssl_csr: handle missing basic constraint
  changelogs/fragments/community.cryto-180-openssl-csr-basic-constraint.yml
  lib/ansible/modules/crypto/openssl_csr.py
Labels: affects_2.9, backport, bug, collection, collection:community.crypto, core_review, crypto, module, needs_triage, owner_pr, support:community, support:core

#72299 Update mongodb replicaset check_compatibility function
  changelogs/fragments/72299-fix-check-compatibility.yaml
  lib/ansible/modules/database/mongodb/mongodb_replicaset.py
  test/integration/targets/setup_mongodb/defaults/main.yml
  test/integration/targets/setup_mongodb/tasks/main.yml
Labels: affects_2.9, backport, bug, collection, collection:community.mongodb, core_review, database, has_issue, module, mongodb, needs_triage, support:community, support:core, test

#73504 [stable-2.10] Don't treat host_pinned as lockstep (#73484)
  changelogs/fragments/73364-default-callback-host-pinned-not-lockstep.yml
  lib/ansible/plugins/callback/default.py
  test/integration/targets/callback_default/callback_default.out.free.stdout
  test/integration/targets/callback_default/callback_default.out.host_pinned.stdout
  test/integration/targets/callback_default/inventory
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/callback_default/test_non_lockstep.yml
Labels: affects_2.10, backport, core_review, needs_triage, stale_ci, support:community, support:core

#73543 [stable-2.10] Add AlmaLinux to the family of Red Hat-like operating systems (#73541)
  changelogs/fragments/support_almalinux.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/almalinux_8_3_beta.json
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core

#73549 [stable-2.10] Bump azure-pipelines-test-container to version 1.8.0
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport, core_review, feature, needs_triage, small_patch, stale_ci, support:core

#73566 only add data when there is data to add (#54559)
  changelogs/fragments/fix_role_var_loading.yml
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/roles/data_integrity.yml
  test/integration/targets/roles/roles/data/defaults/main/00.yml
  test/integration/targets/roles/roles/data/defaults/main/01.yml
  test/integration/targets/roles/roles/data/tasks/main.yml
  test/integration/targets/roles/runme.sh
  test/units/mock/loader.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, test

#73569 [stable-2.10] [ansible-test] attempt to work around podman (#72096)
  changelogs/fragments/ansible-test-podman-json-format.yml
  test/lib/ansible_test/_internal/docker_util.py
  test/units/ansible_test/test_docker_util.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, stale_ci, support:community, support:core, test

#73573 [stable-2.10] Let vault lookup output unicode string. (#73571)
  changelogs/fragments/73456-let-vault-lookup-output-string.yml
  lib/ansible/plugins/lookup/unvault.py
  test/integration/targets/unvault/aliases
  test/integration/targets/unvault/main.yml
  test/integration/targets/unvault/password
  test/integration/targets/unvault/runme.sh
  test/integration/targets/unvault/vault
Labels: affects_2.10, backport, bug, community_review, needs_triage, stale_ci, support:community

#73583 [stable-2.10]ansible-test: yamllint, check the assigment
  changelogs/fragments/ansible_test_yamllint_avoid_attribute_exception.yaml
  test/lib/ansible_test/_data/sanity/yamllint/yamllinter.py
Labels: affects_2.10, backport, bug, core_review, stale_ci, support:community, support:core, test

#73808 [2.10] find module - stop dir traversal when depth is exceeded
  changelogs/fragments/73718-find-dir-depth-traversal.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, support:core

#73806 [2.10] galaxy: Handle ignored directory names in role skeleton (#72035)
  changelogs/fragments/71977-ansible-galaxy-role-init.yml
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73648 [stable-2.10] hostname - add Almalinux support (#73619)
  changelogs/fragments/73619-hostname-almalinux-support.yml
  lib/ansible/modules/hostname.py
Labels: affects_2.10, backport, bug, core_review, module, needs_triage, stale_ci, support:core

#73723 [stable-2.10] Normalize ConfigParser between Python2 and Python3 (#73715)
  changelogs/fragments/73709-normalize-configparser.yml
  lib/ansible/config/manager.py
  test/integration/targets/config/inline_comment_ansible.cfg
  test/integration/targets/config/runme.sh
Labels: affects_2.10, backport, core_review, needs_triage, python3, support:community, support:core

#73710 fix mount point finding
  changelogs/fragments/fix_mount_point.yml
  lib/ansible/module_utils/basic.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core

#73798 [2.10][InventoryManager] Fix two unhandled exceptions
  changelogs/fragments/73658-inventorymanager-throws-on-empty-inventory-dir.yml
  lib/ansible/inventory/manager.py
  test/integration/targets/inventory/runme.sh
Labels: affects_2.10, backport, bug, core_review, has_issue, inventory, needs_triage, support:community, support:core

#73670 New AWS module mod_defaults - ec2_vpc_endpoint_service_info
  changelogs/fragments/73670-module_defaults-ec2_vpc_endpoint_service_info.yml
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, core_review, feature, needs_triage, stale_ci, support:core

#73669 New AWS module mod_defaults - iam_saml_federation
  changelogs/fragments/73669-module_defaults-iam_saml_federation.yml
  lib/ansible/config/module_defaults.yml
Labels: affects_2.9, backport, core_review, feature, needs_triage, stale_ci, support:community, support:core

#73689 move firewalld to ansible.posix (#70692)
  changelogs/fragments/73689-move-firewalld-to-ansible-posix.yaml
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: affects_2.10, backport, bug, core_review, has_issue, needs_triage, new_contributor, python3, runtime, support:core

#73776 Don't fail for mixed typed keys (#73726)
  changelogs/fragments/inv_json_sort_types_fix.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/inventory/inv_with_int.yml
  test/integration/targets/inventory/runme.sh
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:community, support:core

#73804 Nonfatal facts
  changelogs/fragments/local_facts_continue.yml
  lib/ansible/module_utils/facts/system/local.py
  test/integration/targets/facts_d/files/basdscript.fact
  test/integration/targets/facts_d/files/goodscript.fact
  test/integration/targets/facts_d/files/preferences.fact
  test/integration/targets/facts_d/files/unreadable.fact
  test/integration/targets/facts_d/tasks/main.yml
Labels: affects_2.11, bug, needs_triage, shipit, support:community, support:core

#73796 Unify additional info + WYSIWYG as optional input in the documentation report issue form
  .github/ISSUE_TEMPLATE/documentation_report.yml
Labels: affects_2.11, core_review, needs_triage, support:core

#73844 Update `resource_prefix` syntax for ansible-test.
  changelogs/fragments/ansible-test-resource-prefix.yml
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cloud/__init__.py
Labels: affects_2.11, core_review, feature, support:core, test

#73832 add optional module_utils import support
  changelogs/fragments/optional_module_utils.yml
  lib/ansible/executor/module_common.py
  test/integration/targets/module_utils/collections/ansible_collections/testns/testcoll/plugins/module_utils/legit.py
  test/integration/targets/module_utils/library/test_failure.py
  test/integration/targets/module_utils/library/test_optional.py
  test/integration/targets/module_utils/module_utils_test.yml
Labels: affects_2.11, core_review, feature, needs_triage, new_plugin, support:community, support:core

#73508 validate-modules: make sure that options that potentially contain secret data have no_log set
  changelogs/fragments/73508-validate-modules-no_log.yml
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/getent.py
  lib/ansible/modules/known_hosts.py
  lib/ansible/modules/rpm_key.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.11, docs, docsite, feature, has_issue, module, shipit, support:core, test

#73790 Docs: Update installation page for package split
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, docs, has_issue, shipit, support:core

#73805 Typo in developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_modules_general.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, small_patch, support:core

#73781 Docs: Updates the release and maintenance page to reflect new cadences
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: affects_2.11, core_review, docs, has_issue, support:core

#73680 Add direct link to using multiple inventory sources
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: affects_2.11, core_review, docs, small_patch, stale_ci, support:core

#73825 moved vs deprecated world readable tmp setting
  changelogs/fragments/allow_world_readable_move.yml
  lib/ansible/config/base.yml
Labels: affects_2.11, bug, core_review, support:core

#73839 fix su localization option
  changelogs/fragments/su_fix.yml
  lib/ansible/plugins/become/su.py
Labels: affects_2.11, bug, core_review, support:core

#73829 describe what ansible-core is
  docs/docsite/rst/core_index.rst
Labels: affects_2.11, core_review, docs, support:core

#73865 document slurp returns
  lib/ansible/modules/slurp.py
Labels: affects_2.11, core_review, docs, module, support:core

#73856 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_3.rst
Labels: affects_2.11, core_review, docs, support:core

#73836 Mention that minor releases end once the next ansible release is made.
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
  docs/docsite/rst/roadmap/COLLECTIONS_3_0.rst
  docs/docsite/rst/roadmap/COLLECTIONS_4.rst
Labels: affects_2.11, core_review, docs, support:core

#73759 [2.10] infoblox inventory script: add note on what is required for it to actually work
  docs/docsite/rst/scenario_guides/guide_infoblox.rst
Labels: affects_2.10, backport, core_review, docs, small_patch, support:core

#73866 Docs: Update installation page for package split (#73790)
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#73868 Mention that minor releases end once the next ansible release is made…
  docs/docsite/rst/roadmap/COLLECTIONS_2_10.rst
  docs/docsite/rst/roadmap/COLLECTIONS_3_0.rst
Labels: affects_2.10, backport, core_review, docs, needs_triage, support:core

#73883 Use virtual host style S3 bucket names in tests.
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dpkg_selections/tasks/dpkg_selections.yaml
  test/integration/targets/incidental_setup_rabbitmq/tasks/ubuntu.yml
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/yum/tasks/proxy.yml
  test/integration/targets/yum/tasks/yum.yml
Labels: affects_2.11, core_review, support:community, support:core, test

#73877 Ensure unit test paths for connection and inventory plugins are based on the context
  changelogs/fragments/73876-ansible_test-units.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.11, bug, core_review, support:core, test

#73882 validate-modules no_log test: extend search range, add more known false-positives
  lib/ansible/modules/yum_repository.py
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.11, bug, core_review, module, needs_triage, small_patch, support:core, test

#73880 Don't match passive_interface for validate-modules
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.11, bug, core_review, needs_triage, support:core, test

#72876 setup - virtualization facts add Red Hat vendor
  changelogs/fragments/72876-setup-facts-add-redhat-vendor.yml
  lib/ansible/module_utils/facts/virtual/linux.py
Labels: affects_2.11, bug, has_issue, needs_revision, support:core

#73871 Fix typo in porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_3.rst
Labels: affects_2.11, bug, core_review, docs, needs_triage, small_patch, support:core

#73809 Allow for searching handler subdir for included tasks
  changelogs/fragments/73809-search-handler-subdir.yml
  lib/ansible/playbook/included_file.py
  test/integration/targets/handlers/roles/test_role_handlers_include_tasks/handlers/A.yml
  test/integration/targets/handlers/roles/test_role_handlers_include_tasks/handlers/main.yml
  test/integration/targets/handlers/roles/test_role_handlers_include_tasks/tasks/B.yml
  test/integration/targets/handlers/runme.sh
  test/integration/targets/handlers/test_role_handlers_including_tasks.yml
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core

#73915 New release v2.11.0b2
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.0b2_summary.yaml
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, support:core

#73917 Update Ansible release version to v2.11.0b2.post0.
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#73881 Ensure task from the worker is finalized/squashed
  changelogs/fragments/57399-finalize-task-in-strategy.yml
  lib/ansible/playbook/base.py
  test/integration/targets/blocks/finalized_task.yml
  test/integration/targets/blocks/roles/fail/tasks/main.yml
Labels: affects_2.11, bug, collection, collection:ktdreyer.errata_tool_ansible, core_review, support:community, support:core

#73788 fix 2.10 version
  docs/docsite/sphinx_conf/core_conf.py
Labels: affects_2.10, backport, core_review, docs, small_patch, stale_ci, support:core

#73172 ansible-pull: Run All Playbooks When Multiple Are Supplied
  changelogs/fragments/72708_ansible_pull_multiple_playbooks.yml
  lib/ansible/cli/pull.py
  test/integration/targets/pull/pull-integration-test/multi_play_1.yml
  test/integration/targets/pull/pull-integration-test/multi_play_2.yml
  test/integration/targets/pull/runme.sh
Labels: affects_2.11, bug, core_review, new_contributor, support:community, support:core

#73934 Rebased pr73824
  docs/docsite/Makefile
  docs/docsite/rst/community/committer_guidelines.rst
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/community/reporting_bugs_and_features.rst
  docs/docsite/rst/dev_guide/developing_collections.rst
  docs/docsite/rst/dev_guide/developing_core.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_modules_in_groups.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
  docs/docsite/rst/dev_guide/testing/sanity/runtime-metadata.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/glossary.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  docs/docsite/rst/user_guide/modules_support.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_lookups.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#72400 Promote publication
  docs/docsite/rst/dev_guide/developing_collections.rst
Labels: affects_2.11, collection, core_review, docs, docsite, galaxy, support:core

#73943 Move file needed by cs_volume test to S3
  test/integration/targets/cs_volume/defaults/main.yml
Labels: affects_2.9, backport, cloud, cloudstack, collection, collection:ngine_io.cloudstack, community_review, support:community

#73497 Add some dev documentation for constructed features
  docs/docsite/rst/dev_guide/developing_inventory.rst
  lib/ansible/plugins/inventory/__init__.py
Labels: affects_2.11, core_review, docs, docsite, inventory, support:core

#73582 Updated COLLECTIONS_4.rst to include ansible-inclusion repo link for new collection submission
  docs/docsite/rst/roadmap/COLLECTIONS_4.rst
Labels: affects_2.11, core_review, docs, support:core

#73927 Send callbacks directly from the TaskExecutor instead of TaskResults masquerading as callbacks
  changelogs/fragments/73899-more-te-callbacks.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/strategy/__init__.py
  test/units/plugins/strategy/test_strategy.py
Labels: affects_2.11, bug, core_review, support:core

#73931 Update developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
Labels: affects_2.11, core_review, docs, docsite, support:core

#73937 complex data example using value and default from list of dicts
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
Labels: affects_2.11, core_review, docs, support:core

#73938 clarifies docs for file module, addresses issue 72372
  lib/ansible/modules/file.py
Labels: affects_2.11, core_review, docs, module, small_patch, support:core

#73944 Remove ini and env fields for config option CONNECTION_FACTS_MODULES
  lib/ansible/config/base.yml
Labels: affects_2.11, core_review, docs, small_patch, support:core

#73947 Amazon: Fix distribution facts for older release
  changelogs/fragments/73946_amazon_linux.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/amazon_linux_2.json
  test/units/module_utils/facts/system/distribution/fixtures/amazon_linux_release_2.json
Labels: affects_2.11, bug, core_review, has_issue, support:core

#73954 Fix typo in text of test for deprecation
  test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py
Labels: affects_2.11, core_review, support:core, test

#73863 Fix a bug adding unrelated candidates to the redirect_list
  changelogs/fragments/73863-fix-plugin-redirect-list.yaml
  lib/ansible/plugins/loader.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/action/plugin_lookup.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testredirect/meta/runtime.yml
  test/integration/targets/collections/runme.sh
  test/integration/targets/collections/test_redirect_list.yml
Labels: affects_2.11, bug, core_review, new_plugin, support:community, support:core

#73889 [backport/2.10] Ensure unit test paths for connection and inventory plugins are based on the context (#73877)
  changelogs/fragments/73876-ansible_test-units.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.10, backport, bug, core_review, needs_triage, support:core, test

#73888 [backport/2.9] Ensure unit test paths for connection and inventory plugins are based on the context
  changelogs/fragments/73876-ansible_test-units.yml
  test/lib/ansible_test/_internal/classification.py
Labels: affects_2.9, backport, bug, core_review, needs_triage, support:core, test

#73961 Find fix
  changelogs/fragments/fix_find_default.yml
  lib/ansible/modules/find.py
  test/integration/targets/find/tasks/main.yml
Labels: affects_2.11, bug, core_review, module, needs_triage, support:core

#73703 Use ArgumentSpecValidator in AnsibleModule
  changelogs/fragments/use-validator-in-ansiblemodule.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/common/validation.py
  lib/ansible/module_utils/errors.py
  lib/ansible/plugins/action/validate_argument_spec.py
  test/units/executor/module_common/test_recursive_finder.py
  test/units/module_utils/basic/test_argument_spec.py
  test/units/module_utils/common/arg_spec/test__add_error.py
  test/units/module_utils/common/arg_spec/test_aliases.py
  test/units/module_utils/common/arg_spec/test_module_validate.py
  test/units/module_utils/common/arg_spec/test_sub_spec.py
  test/units/module_utils/common/arg_spec/test_validate_invalid.py
  test/units/module_utils/common/arg_spec/test_validate_valid.py
  test/units/module_utils/common/parameters/test_check_arguments.py
  test/units/module_utils/common/parameters/test_handle_aliases.py
  test/units/module_utils/common/parameters/test_list_deprecations.py
  test/units/module_utils/common/parameters/test_list_no_log_values.py
Labels: affects_2.11, feature, support:core

#73979 add porting guide info for optional module_utils
  docs/docsite/rst/porting_guides/porting_guide_core_2.11.rst
Labels: affects_2.11, core_review, docs, needs_triage, small_patch, support:core

#73977 New release v2.11.0b3
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.0b3_summary.yaml
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, support:core

#73980 Update Ansible release version to v2.11.0b3.post0.
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#73840 Fix wrong backup directory var name in apt module
  changelogs/fragments/73840_apt-policy-rc-d.yml
  lib/ansible/modules/apt.py
Labels: affects_2.11, bug, module, needs_revision, new_contributor, support:core

#73951 less blocking on fact reading
  changelogs/fragments/less_blocks_on_facts.yml
  lib/ansible/module_utils/facts/utils.py
Labels: affects_2.11, bug, core_review, support:core

#73956 Fix trailing whitespace in Conditional debug()
  lib/ansible/playbook/conditional.py
Labels: affects_2.11, bug, core_review, small_patch, support:core

#73963 fix wait_for looping when missing net module
  changelogs/fragments/wait_for_fix.yml
  lib/ansible/modules/wait_for.py
Labels: affects_2.11, bug, core_review, module, support:core

#73950 Adding jborean93/WindowsServer2019 in docs
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
Labels: affects_2.11, core_review, docs, docsite, new_contributor, small_patch, support:core

#73919 setup virtualization: fix RHEV product_name
  lib/ansible/module_utils/facts/virtual/linux.py
Labels: affects_2.11, bug, needs_revision, small_patch, support:core

#73601 Add integration tests for add_collection_to_versions_and_dates(), and extend ansible-doc tests
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/cache/notjsonfile.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/lookup/noop.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/modules/fakemodule.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/modules/randommodule.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/vars/noop_vars_plugin.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol2/MANIFEST.json
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol2/plugins/doc_fragments/deprecation.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol2/plugins/doc_fragments/module.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol2/plugins/doc_fragments/plugin.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol2/plugins/doc_fragments/version_added.py
  test/integration/targets/ansible-doc/fakemodule.output
  test/integration/targets/ansible-doc/noop.output
  test/integration/targets/ansible-doc/noop_vars_plugin.output
  test/integration/targets/ansible-doc/notjsonfile.output
  test/integration/targets/ansible-doc/randommodule.output
  test/integration/targets/ansible-doc/runme.sh
Labels: affects_2.11, community_review, new_plugin, stale_ci, support:community

#74011 apt_key - update key ID and URL used in test
  test/integration/targets/apt_key/tasks/file.yml
Labels: affects_2.11, core_review, support:core

#73902 Docsite: clarify a changelog entry format
  docs/docsite/rst/community/development_process.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, support:core

#74016 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: affects_2.11, core_review, docs, docs_only, needs_triage, support:core

#73782 Documentation: update committer_guidelines.rst
  docs/docsite/rst/community/committer_guidelines.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, support:core

#74025 dnf test - update libmodulemd when updating python3-dnf
  test/integration/targets/dnf/tasks/logging.yml
Labels: affects_2.11, core_review, needs_triage, python3, support:core

#74026 [stable-2.10] dnf test - update libmodulemd when updating python3-dnf (#74025)
  test/integration/targets/dnf/tasks/logging.yml
Labels: affects_2.10, backport, core_review, python3, support:core

#74019 Updating Community docs with DigitalOcean information
  docs/docsite/rst/community/communication.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, new_contributor, small_patch, support:core

#74029 argspec validation: fix apply_defaults
  changelogs/fragments/74029-argspec-apply_defaults.yml
  lib/ansible/module_utils/common/parameters.py
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
Labels: affects_2.11, bug, core_review, needs_triage, support:community, support:core

#74018 Introduce the concept of playbooks early on
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: affects_2.11, core_review, docs, docs_only, new_contributor, support:core

#74017 dev_guide/testing_integration: update image list
  docs/docsite/rst/dev_guide/testing_integration.rst
Labels: affects_2.11, docs, docs_only, docsite, needs_revision, small_patch, support:core

#74021 use present tense for porting guide entries
  docs/docsite/rst/porting_guides/porting_guide_core_2.11.rst
Labels: affects_2.11, core_review, docs, docs_only, support:core

#74034 Docs: Add filter "urlencode" with example
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: affects_2.11, core_review, docs, docs_only, needs_triage, new_contributor, support:core

#74028 Use FQCN for module set_stats
  lib/ansible/modules/set_stats.py
Labels: affects_2.11, core_review, docs, docs_only, module, support:core

#73993 Added prerequisites to install for CentOS
  docs/docsite/rst/dev_guide/developing_modules_general.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, new_contributor, support:core

#73986 Update playbooks_variables.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: affects_2.11, core_review, docs, support:core

#74024 update docs to uninstall ansible-base on upgrade
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, docs_only, support:core

#73664 Update version on FreeBSD
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: affects_2.11, core_review, docs, new_contributor, python3, small_patch, stale_ci, support:core

#73942 documents the use of ansible.legacy
  docs/docsite/rst/dev_guide/migrating_roles.rst
Labels: affects_2.11, core_review, docs, docs_only, docsite, support:core

#74022 Fix setup subset
  changelogs/fragments/fix_setup_bad_subset.yml
  lib/ansible/modules/setup.py
  test/integration/targets/gathering_facts/runme.sh
  test/integration/targets/gathering_facts/verify_subset.yml
Labels: affects_2.11, bug, core_review, module, support:community, support:core

#73924 Correctly set path and fullpath for template vars
  changelogs/fragments/template_temp_vars_fix.yml
  lib/ansible/errors/__init__.py
  lib/ansible/plugins/action/template.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/template/__init__.py
Labels: affects_2.11, bug, shipit, support:core

#73789 updated link to ansible.builtin.user password
  lib/ansible/modules/user.py
Labels: affects_2.11, core_review, docs, docs_only, has_issue, module, support:core

#72729 Add duplicate set filter and documentation
  changelogs/fragments/72729-add-filter-duplicated.yml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/mathstuff.py
  test/units/plugins/filter/test_mathstuff.py
Labels: affects_2.11, docs, feature, shipit, support:core

#74048 Temporarily disable strategy units
  test/units/plugins/strategy/test_strategy.py
Labels: affects_2.11, core_review, has_issue, needs_triage, python3, support:core

#74053 Revert "Add duplicated set filter and documentation (#72729)"
  changelogs/fragments/72729-add-filter-duplicated.yml
  docs/docsite/rst/user_guide/playbooks_filters.rst
  lib/ansible/plugins/filter/mathstuff.py
  test/units/plugins/filter/test_mathstuff.py
Labels: affects_2.11, bug, core_review, docs, needs_triage, support:core

#74040 add --offline option to galaxy collection verify
  changelogs/fragments/galaxy_verify_local.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
  test/units/galaxy/test_collection_install.py
Labels: affects_2.11, feature, needs_revision, needs_triage, support:community, support:core

#74030 Let `pause` not accept enter to resume (#73948)
  changelogs/fragments/73948-pause-no-enter-with-timeout.yml
  lib/ansible/plugins/action/pause.py
  test/integration/targets/pause/test-pause.py
Labels: affects_2.11, bug, needs_revision, support:core

#74051 nonzero exit code on `ansible-galaxy collection verify` failures
  changelogs/fragments/galaxy_verify_exitcode.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
Labels: affects_2.11, core_review, feature, needs_triage, support:community, support:core

#74064 Update Ansible release version to v2.11.0b4.post0.
  lib/ansible/release.py
Labels: affects_2.11, bug, core_review, needs_triage, small_patch, support:core

#74038 Clarify tags on tasks are applied with OR and not AND
  docs/docsite/rst/user_guide/playbooks_tags.rst
Labels: affects_2.11, core_review, docs, docs_only, small_patch, support:core
