Repository ansible/ansible, pull requests merged in 2021-10, with the labels that each got.

#75858 Skip failing tests on OS X 10.11.
  test/integration/targets/archive/aliases
  test/integration/targets/iso_extract/aliases
Labels: backport, community_review, support:community, bug, files, affects_2.9

#75857 ansible-test - Fix inventory generation.
  changelogs/fragments/ansible-test-inventory-ssh-key.yml
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/inventory.py
Labels: test, core_review, support:core, bug, affects_2.13

#75856 ansible-test - Remove obsolete junos entries.
  changelogs/fragments/ansible-test-junos-obsolete.yml
  test/lib/ansible_test/_data/completion/network.txt
Labels: backport, test, core_review, support:core, bug, affects_2.9

#75859 [stable-2.12] ansible-test - Fix inventory generation.
  changelogs/fragments/ansible-test-inventory-ssh-key.yml
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/inventory.py
Labels: backport, test, core_review, support:core, bug, affects_2.12

#75853 ansible-core - Remove support for Python 2.6.
  changelogs/fragments/ansible-core-python-2.6.yaml
  changelogs/fragments/ansible-test-python-2.6.yaml
  lib/ansible/module_utils/facts/packages.py
  lib/ansible/modules/async_status.py
  lib/ansible/modules/yum.py
  lib/ansible/plugins/action/package.py
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
  lib/ansible/utils/display.py
  lib/ansible/vars/manager.py
  test/lib/ansible_test/_util/controller/sanity/pylint/config/default.cfg
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/module_args.py
  test/sanity/ignore.txt
Labels: windows, test, module, core_review, support:core, feature, affects_2.13

#75868 ansible-test - Update distro test containers.
  changelogs/fragments/ansible-test-distro-containers-3.1.0.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, bug, affects_2.13

#75869 ansible-test - Update distro test containers.
  changelogs/fragments/ansible-test-distro-containers-3.1.0.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, core_review, support:core, bug, affects_2.12

#75864 config: small typo fix (#74845)
  changelogs/fragments/70028-config-small-typo-fix.yml
  docs/docsite/rst/plugins/callback.rst
  examples/ansible.cfg
  lib/ansible/config/base.yml
Labels: backport, needs_triage, core_review, support:core, docs, affects_2.11

#75807 [stable-2.12] Don't show params when there is an issue with `set_option(s)` (#75805)
  changelogs/fragments/avoid-set_options-leak.yaml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/module_utils/connection.py
  test/units/module_utils/test_connection.py
Labels: needs_info, backport, networking, needs_triage, needs_template, support:core, affects_2.12

#75818 [2.12] Bump antsibull version to get support for attributes and CLI options
  docs/docsite/requirements.txt
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#75850 docs - Use code-block to format examples in Network Guide
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
  docs/docsite/rst/network/user_guide/network_working_with_command_output.rst
Labels: networking, core_review, support:core, new_contributor, docs, docsite, docs_only, affects_2.13

#75847 docs - Use code-block to format code examples in Community Guide
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/development_process.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, hackathon, affects_2.13

#75865 Move ansible-5.1 to 2021-12-21
  docs/docsite/rst/roadmap/COLLECTIONS_5.rst
Labels: core_review, support:core, docs, small_patch, has_issue, docs_only, affects_2.13

#75860 Corrected mytask.yml file name
  docs/docsite/rst/user_guide/intro_getting_started.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docs_only, affects_2.13

#75849 docs - Use code-block to format code examples in Developer Guide
  docs/docsite/rst/dev_guide/developing_collections_contributing.rst
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/dev_guide/developing_collections_testing.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_modules_general.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/developing_rebasing.rst
  docs/docsite/rst/dev_guide/overview_architecture.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing/sanity/no-main-display.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_integration_legacy.rst
  docs/docsite/rst/dev_guide/testing_running_locally.rst
  docs/docsite/rst/dev_guide/testing_units.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
Labels: core_review, support:core, docs, docsite, docs_only, hackathon, affects_2.13

#75875 Removing translatable words from codeblock
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#75893 Update the porting guide for a new ansible version
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guides.rst
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, docs_only, affects_2.13

#75917 [stable-2.12] ansible-test - Update base and default containers.
  changelogs/fragments/ansible-test-default-base-containers-python-3.10.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, core_review, support:core, bug, affects_2.12

#76069 Fix zip content filtering in unarchive module
  changelogs/fragments/76069-fix-unarchive-file-listing-in-zip.yaml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/test_exclude.yml
Labels: module, core_review, support:core, bug, P3, affects_2.13

#76096 Docs: Note groups default behavior in user module
  lib/ansible/modules/user.py
Labels: module, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76058 Fix module name
  docs/docsite/rst/porting_guides/porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76047 Update playbooks_tests.rst
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13
