Repository ansible/ansible, pull requests merged in 2022-02, with the labels that each got.

#76907 ansible-test - Limit installed pyopenssl version.
  changelogs/fragments/ansible-test-pyopenssl.yaml
  test/lib/ansible_test/_internal/python_requirements.py
Labels: needs_revision, test, needs_ci, support:core, bug, affects_2.13

#76903 [stable-2.12] ansible-test - Use relative paths in junit output.
  changelogs/fragments/ansible-test-junit-relative-paths.yml
  lib/ansible/plugins/callback/junit.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
Labels: needs_revision, backport, test, support:core, bug, affects_2.12

#76566 Misc typo fixes in plugins directory
  lib/ansible/plugins/become/__init__.py
  lib/ansible/plugins/callback/junit.py
  lib/ansible/plugins/callback/tree.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/doc_fragments/action_core.py
  lib/ansible/plugins/filter/core.py
  lib/ansible/plugins/loader.py
  lib/ansible/plugins/lookup/__init__.py
  lib/ansible/plugins/netconf/__init__.py
  lib/ansible/plugins/shell/powershell.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  lib/ansible/utils/plugin_docs.py
Labels: windows, networking, core_review, support:core, support:network, docs, affects_2.13

#76878 Fixed handling of sleep arguments during service restarts on AIX
  changelogs/fragments/76877-added-sleep-to-the-service-restart-for-AIX.yml
  lib/ansible/modules/service.py
Labels: module, needs_triage, core_review, support:core, new_contributor, bug, affects_2.13

#76908 [stable-2.12] ansible-test - Limit installed pyopenssl version.
  changelogs/fragments/ansible-test-pyopenssl.yaml
  test/lib/ansible_test/_internal/python_requirements.py
Labels: needs_revision, backport, test, support:core, bug, affects_2.12

#76918 Fix task path unicode error in junit callback.
  changelogs/fragments/junit-callback-task-path-unicode.yml
  lib/ansible/plugins/callback/junit.py
Labels: core_review, support:core, bug, affects_2.13

#76924 make Ansible.Basic work on non-Windows
  changelogs/fragments/76924-powershell-ansible.basic-support-non-windows.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: windows, needs_triage, core_review, support:core, feature, has_issue, affects_2.13

#76937 Update ci-files URL in integration tests.
  test/integration/targets/apt/tasks/apt.yml
  test/integration/targets/apt/tasks/url-with-deps.yml
  test/integration/targets/apt_key/tasks/apt_key_binary.yml
  test/integration/targets/apt_key/tasks/apt_key_inline_data.yml
  test/integration/targets/apt_key/tasks/file.yml
  test/integration/targets/binary_modules/Makefile
  test/integration/targets/binary_modules/download_binary_modules.yml
  test/integration/targets/dnf/tasks/dnf.yml
  test/integration/targets/dnf/tasks/filters.yml
  test/integration/targets/dnf/tasks/filters_check_mode.yml
  test/integration/targets/dpkg_selections/tasks/dpkg_selections.yaml
  test/integration/targets/rpm_key/tasks/rpm_key.yaml
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/setup_win_printargv/tasks/main.yml
  test/integration/targets/yum/tasks/proxy.yml
  test/integration/targets/yum/tasks/yum.yml
  test/integration/targets/yum/vars/main.yml
Labels: needs_revision, support:community, support:core, affects_2.13

#76919 [stable-2.12] Fix task path unicode error in junit callback.
  changelogs/fragments/junit-callback-task-path-unicode.yml
  lib/ansible/plugins/callback/junit.py
Labels: needs_revision, backport, support:core, bug, affects_2.12

#76909 [stable-2.11] ansible-test - Use relative paths in junit output.
  changelogs/fragments/ansible-test-junit-relative-paths.yml
  changelogs/fragments/junit-callback-task-path-unicode.yml
  lib/ansible/plugins/callback/junit.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/integration/__init__.py
Labels: backport, test, core_review, support:core, bug, affects_2.11

#76910 [stable-2.10] ansible-test - Use relative paths in junit output.
  changelogs/fragments/ansible-test-junit-relative-paths.yml
  changelogs/fragments/junit-callback-task-path-unicode.yml
  lib/ansible/plugins/callback/junit.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/integration/__init__.py
Labels: backport, test, core_review, support:core, bug, affects_2.10

#76922 ansible-test - Install pyopenssl w/ cryptography.
  changelogs/fragments/ansible-test-pyopenssl.yml
  test/lib/ansible_test/_internal/executor.py
Labels: backport, test, core_review, support:core, bug, affects_2.11

#76936 ansible-test - Update bootstrap URL to not use S3.
  changelogs/fragments/ansible-test-ci-files.yaml
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:core, bug, affects_2.13

#76943 ansible-test - Remove outdated remote support.
  changelogs/fragments/ansible-test-remote-cleanup.yaml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76759 Bump antsibull version from 0.40.1 to 0.41.0 and ansible sphinx theme version to fix HTML generation in return value tables
  docs/docsite/.templates/breadcrumbs.html
  docs/docsite/known_good_reqs.txt
  docs/docsite/requirements.txt
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, core_review, support:core, docs, has_issue, affects_2.13

#76940 docs - remove broken link in ACI scenario guide
  docs/docsite/rst/scenario_guides/guide_aci.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76932 Ansible 6 roadmap: simplify collection inclusion process
  docs/docsite/rst/roadmap/COLLECTIONS_6.rst
Labels: core_review, support:core, docs, has_issue, docs_only, affects_2.13

#76917 docs: update porting guide for Ansible 5.3.0
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#76880 Add `undef()` keyword to core 2.12 porting guide
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#76945 Stop publishing code coverage to the AZP UI.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/coverage.yml
Labels: core_review, support:core, affects_2.13

#76887 More accurate help message for verbosity setting
  lib/ansible/cli/arguments/option_helpers.py
Labels: core_review, support:core, new_contributor, docs, small_patch, affects_2.13

#76947 [stable-2.12] docs - remove broken link in ACI scenario guide (#76940)
  docs/docsite/rst/scenario_guides/guide_aci.rst
Labels: backport, core_review, support:core, docs, small_patch, affects_2.12, docs_only

#76873 Add note about installing python on macOS
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76849 Update 'Installing Ansible on FreeBSD'.
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76835 Update windows_winrm.rst
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: windows, core_review, support:core, new_contributor, docs, docsite, docs_only, affects_2.13

#76640 vmware: Migrate VMware Scenario Guides
  changelogs/fragments/vmware_sceanrio.yml
  docs/docsite/rst/scenario_guides/guide_vmware.rst
  docs/docsite/rst/scenario_guides/guides.rst
  docs/docsite/rst/scenario_guides/virt_guides.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/faq.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_clone_template.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_find_vm_folder.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_remove_vm.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_rename_vm.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_vmware_http.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/scenario_vmware_tools_connection.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_concepts.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_external_doc_links.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_getting_started.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_intro.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_filters.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_hostnames.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_inventory_vm_attributes.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_module_reference.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_requirements.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_scenarios.rst
  docs/docsite/rst/scenario_guides/vmware_scenarios/vmware_troubleshooting.rst
Labels: core_review, support:core, docs, affects_2.13

#76825 Update 'Ansible and BSD' section 'Setting the Python interpreter'.
  docs/docsite/rst/user_guide/intro_bsd.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#76948 ansible-test - Update default containers to 5.5.0.
  changelogs/fragments/ansible-test-default-container-update-5.5.0.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76876 Added package reference for Debian to resolve error
  docs/docsite/rst/user_guide/become.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#76946 Update codecov download URL.
  .azure-pipelines/scripts/publish-codecov.py
Labels: core_review, support:core, small_patch, affects_2.13

#76949 [stable-2.12] Stop publishing code coverage to the AZP UI.
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/coverage.yml
Labels: backport, core_review, support:core, affects_2.12

#76951 [stable-2.12] ansible-test - Update bootstrap URL to not use S3.
  changelogs/fragments/ansible-test-ci-files.yaml
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: backport, test, core_review, support:core, affects_2.12

#76950 [stable-2.12] Update codecov download URL.
  .azure-pipelines/scripts/publish-codecov.py
Labels: backport, core_review, support:core, small_patch, affects_2.12

#76952 incidental - win_lineinfile ci_complete ci_coverage
  test/integration/targets/connection_winrm/aliases
  test/integration/targets/connection_winrm/runme.sh
  test/integration/targets/connection_winrm/tests.yml
  test/integration/targets/incidental_win_lineinfile/aliases
  test/integration/targets/incidental_win_lineinfile/files/test.txt
  test/integration/targets/incidental_win_lineinfile/files/test_linebreak.txt
  test/integration/targets/incidental_win_lineinfile/files/test_quoting.txt
  test/integration/targets/incidental_win_lineinfile/files/testempty.txt
  test/integration/targets/incidental_win_lineinfile/files/testnoeof.txt
  test/integration/targets/incidental_win_lineinfile/meta/main.yml
  test/integration/targets/incidental_win_lineinfile/tasks/main.yml
  test/integration/targets/incidental_win_prepare_tests/aliases
  test/integration/targets/incidental_win_prepare_tests/meta/main.yml
  test/integration/targets/incidental_win_prepare_tests/tasks/main.yml
Labels: test, community_review, needs_triage, support:community, affects_2.13

#71719 add_host/group_by: fix using changed_when in a loop v2
  changelogs/fragments/71627-add_host-group_by-fix-changed_when-in-loop.yml
  lib/ansible/constants.py
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/task.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/add_host/tasks/main.yml
  test/integration/targets/changed_when/tasks/main.yml
Labels: core_review, inventory, support:community, support:core, bug, has_issue, affects_2.11

#76689 Cleanup of cannned responses
  hacking/ticket_stubs/README.md
  hacking/ticket_stubs/bug_cannot_reproduce.md
  hacking/ticket_stubs/bug_confirmed_p1_or_p2.md
  hacking/ticket_stubs/bug_internal_api.md
  hacking/ticket_stubs/bug_is_really_a_question.md
  hacking/ticket_stubs/bug_misunderstanding.md
  hacking/ticket_stubs/bug_not_a_bug.md
  hacking/ticket_stubs/bug_wrong_repo.md
  hacking/ticket_stubs/change_applied.md
  hacking/ticket_stubs/collections.md
  hacking/ticket_stubs/file_under_another_project.md
  hacking/ticket_stubs/great_idea.md
  hacking/ticket_stubs/guide_newbie_about_gh_and_contributing_to_ansible.md
  hacking/ticket_stubs/needs_info.md
  hacking/ticket_stubs/needs_locale_info.md
  hacking/ticket_stubs/needs_template.md
  hacking/ticket_stubs/no_thanks.md
  hacking/ticket_stubs/pr_cleanup_commits.md
  hacking/ticket_stubs/pr_duplicate.md
  hacking/ticket_stubs/pr_merged.md
  hacking/ticket_stubs/pr_needs_rebase.md
  hacking/ticket_stubs/pr_needs_revision.md
  hacking/ticket_stubs/proposal.md
  hacking/ticket_stubs/question_not_bug.md
  hacking/ticket_stubs/resolved.md
  hacking/ticket_stubs/thanks.md
  hacking/ticket_stubs/wider_discussion.md
Labels: core_review, support:core, bug, affects_2.13

#76954 gather_facts sees collection networking connection
  changelogs/fragments/gather_facts_collections.yml
  lib/ansible/plugins/action/gather_facts.py
Labels: needs_triage, core_review, support:core, bug, affects_2.13

#76966 Temporarily remove RHEL 9.0b from test matrix.
  .azure-pipelines/azure-pipelines.yml
Labels: core_review, support:core, small_patch, affects_2.13

#76017 ssh connection: use 'correct' host in all cases
  changelogs/fragments/ssh_use_right_host.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/delegate_to/delegate_facts_loop.yml
  test/integration/targets/delegate_to/inventory
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/test_delegate_to.yml
Labels: core_review, support:community, support:core, bug, has_issue, affects_2.13

#76967 Disable failing test task on openSUSE 15.2.
  test/integration/targets/zypper_repository/tasks/zypper_repository.yml
Labels: backport, community_review, support:community, packaging, affects_2.9

#73404 Bypass fragile git ssh wrapper unless really needed
  changelogs/fragments/git_fixes.yml
  lib/ansible/modules/git.py
Labels: needs_revision, module, needs_ci, support:core, bug, affects_2.13

#76590 avoid poluting vars with incorrect settings
  lib/ansible/config/manager.py
  lib/ansible/executor/task_executor.py
  lib/ansible/inventory/host.py
  lib/ansible/plugins/connection/__init__.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/connection/ssh.py
  lib/ansible/plugins/strategy/__init__.py
Labels: core_review, inventory, support:core, bug, affects_2.13

#76965 ansible-pull handlle empty node/hostname return
  changelogs/fragments/pull_fix_limit.yml
  lib/ansible/cli/pull.py
Labels: needs_triage, core_review, support:core, bug, affects_2.13

#76975 ansible-test - Update alpine3 container to 3.3.0.
  changelogs/fragments/ansible-test-alpine3-update.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.13

#76970 ansible-test - Remove cap on cryptography version.
  changelogs/fragments/ansible-test-pyopenssl.yaml
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:core, feature, small_patch, affects_2.13

#76977 ansible-test - Remove unused code.
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:core, bug, affects_2.13

#76978 [stable-2.12] ansible-test - Update alpine3 container to 3.3.0.
  changelogs/fragments/ansible-test-alpine3-update.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, core_review, support:core, feature, affects_2.12

#76955 Remove misleading note in template doc fragment
  lib/ansible/plugins/doc_fragments/template_common.py
Labels: core_review, support:core, docs, small_patch, affects_2.13

#76980 Added a powershell example for ansible.builtin.script
  lib/ansible/modules/script.py
Labels: module, core_review, support:core, new_contributor, docs, small_patch, docs_only, affects_2.13

#76974 clean_facts only show variable name
  changelogs/fragments/clean_facts_values.yml
  lib/ansible/vars/clean.py
Labels: core_review, support:core, bug, affects_2.13

#76921 improve warnings from service_facts
  changelogs/fragments/service_facts_warnings.yml
  lib/ansible/modules/service_facts.py
Labels: module, core_review, support:core, bug, has_issue, affects_2.13

#76986 ansible-test - Fix collection loader import.
  changelogs/fragments/ansible-test-validate-modules-collection-loader.yml
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/meta/runtime.yml
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/plugins/module_utils/validate.psm1
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/plugins/modules/validate.ps1
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/plugins/modules/validate.py
  test/integration/targets/ansible-test/collection-tests/validate-modules-collection-loader.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: test, core_review, support:core, bug, affects_2.12, affects_2.13

#76988 [stable-2.12] ansible-test - Fix import test for collections.
  changelogs/fragments/ansible-test-import-collections.yml
  lib/ansible/plugins/loader.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/lookup/vendor1.py
  test/integration/targets/ansible-test/ansible_collections/ns/col/plugins/lookup/vendor2.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: backport, test, core_review, support:community, support:core, bug, affects_2.12

#76987 [stable-2.12] ansible-test - Fix collection loader import. (#76986)
  changelogs/fragments/ansible-test-validate-modules-collection-loader.yml
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/meta/runtime.yml
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/plugins/module_utils/validate.psm1
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/plugins/modules/validate.ps1
  test/integration/targets/ansible-test/ansible_collections/ns/ps_only/plugins/modules/validate.py
  test/integration/targets/ansible-test/collection-tests/validate-modules-collection-loader.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: needs_revision, backport, test, support:community, support:core, bug, affects_2.12

#76973 Make builtin.file modification times support check_mode
  changelogs/fragments/file_modification_times_support_check_mode.yml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/main.yml
  test/integration/targets/file/tasks/modification_time.yml
Labels: module, core_review, support:core, bug, affects_2.13

#76929 Resubmit: Use SystemdStrategy for Debian in the hostname module
  changelogs/fragments/76124-hostname-debianstrategy.yml
  lib/ansible/modules/hostname.py
  test/integration/targets/hostname/tasks/Debian.yml
  test/integration/targets/hostname/tasks/main.yml
  test/integration/targets/hostname/tasks/test_normal.yml
  test/units/modules/test_hostname.py
Labels: module, core_review, support:core, bug, affects_2.13

#71963 replace - always return rc
  changelogs/fragments/replace-rc-return-values.yml
  lib/ansible/modules/replace.py
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_lossy_verbose.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_verbose.stdout
Labels: module, core_review, support:community, support:core, bug, files, affects_2.11

#76681 ansible-galaxy - add signature verification of the MANIFEST.json
  changelogs/fragments/76681-ansible-galaxy-add-gpg-signature-verification.yaml
  docs/docsite/rst/shared_snippets/installing_collections.txt
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
  docs/docsite/rst/user_guide/collections_using.rst
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  lib/ansible/galaxy/collection/galaxy_api_proxy.py
  lib/ansible/galaxy/collection/gpg.py
  lib/ansible/galaxy/dependency_resolution/__init__.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/revoke_gpg_key.yml
  test/integration/targets/ansible-galaxy-collection/tasks/setup_gpg.yml
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/sanity/ignore.txt
  test/units/cli/galaxy/test_display_collection.py
  test/units/cli/galaxy/test_execute_list_collection.py
  test/units/cli/galaxy/test_get_collection_widths.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection_install.py
Labels: test, core_review, support:community, support:core, docs, feature, has_issue, affects_2.13

#75489 Fix indents for 2nd example
  docs/docsite/rst/user_guide/playbooks_handlers.rst
Labels: core_review, stale_ci, support:core, new_contributor, docs, affects_2.12, docs_only

#76995 ansible-test - Use newer pip to bootstrap FreeBSD.
  changelogs/fragments/ansible-test-bootstrap-pip.yml
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:core, feature, affects_2.13

#77015 Fix package-data sanity test for newer setuptools.
  test/sanity/code-smell/package-data.py
Labels: test, core_review, support:core, bug, affects_2.13

#77006 add note to serial docs
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
  docs/docsite/rst/user_guide/playbooks_strategies.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#77005 Handle connection dissonance
  changelogs/fragments/handle_connection_cornercase.yml
  lib/ansible/playbook/play_context.py
Labels: core_review, support:core, bug, affects_2.13

#77008 Fix final fact delegation
  changelogs/fragments/fix_fax_delegation_loops.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/delegate_to/delegate_facts_loop.yml
Labels: needs_triage, core_review, support:community, support:core, bug, affects_2.13

#77016 Restore inadvertently deleted default for convert_data
  changelogs/fragments/77004-restore-missing-default.yml
  lib/ansible/plugins/lookup/template.py
  test/integration/targets/lookup_template/tasks/main.yml
  test/integration/targets/lookup_template/templates/dict.j2
Labels: needs_triage, core_review, support:community, support:core, bug, affects_2.13

#75348 Update indentation for example in playbooks_handlers.rst
  docs/docsite/rst/user_guide/playbooks_handlers.rst
Labels: core_review, support:core, new_contributor, docs, affects_2.12, docs_only

#77019 Update complex_data_manipulation example uptime in days/h/m/s
  docs/docsite/rst/user_guide/complex_data_manipulation.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.13

#77022 add crosslinks for changelog fragments
  docs/docsite/rst/community/collection_development_process.rst
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/dev_guide/developing_collections_changelogs.rst
  docs/docsite/rst/dev_guide/testing/sanity/changelog.rst
Labels: needs_triage, core_review, support:core, docs, docsite, docs_only, affects_2.13

#77024 dnf: ensure releasever is passed into libdnf as str
  changelogs/fragments/77010-dnf-ensure-releasever-string.yml
  lib/ansible/modules/dnf.py
Labels: module, core_review, support:core, bug, affects_2.13

#77030 [stable-2.12] ansible-test - Use newer pip to bootstrap FreeBSD.
  changelogs/fragments/ansible-test-bootstrap-pip.yml
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: backport, test, core_review, support:core, feature, affects_2.12

#77031 Revert "Temporarily remove RHEL 9.0b from test matrix."
  .azure-pipelines/azure-pipelines.yml
Labels: core_review, support:core, small_patch, affects_2.13

#77021 [stable-2.12] restore inadvertently deleted default for convert_data. Fixes #77004 (#77016)
  changelogs/fragments/77004-restore-missing-default.yml
  lib/ansible/plugins/lookup/template.py
  test/integration/targets/lookup_template/tasks/main.yml
  test/integration/targets/lookup_template/templates/dict.j2
Labels: backport, needs_triage, core_review, support:community, support:core, affects_2.12

#77017 Fix final fact delegation (#77008)
  changelogs/fragments/fix_fax_delegation_loops.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/delegate_to/delegate_facts_loop.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.12

#76984 clean_facts only show variable name (#76974)
  changelogs/fragments/clean_facts_values.yml
  lib/ansible/vars/clean.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.12

#76933 [stable-2.12] unarchive: fix non-english locales (#76542)
  changelogs/fragments/76542-fix-unarchive-on-nenglish-locales.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/test_different_language_var.yml
Labels: backport, module, needs_triage, core_review, support:core, has_issue, affects_2.12

#76985 clean_facts only show variable name (#76974)
  changelogs/fragments/clean_facts_values.yml
  lib/ansible/vars/clean.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.11

#76758 Add basic support for "apt-get clean" operation to apt module
  lib/ansible/modules/apt.py
Labels: module, core_review, support:core, new_contributor, feature, has_issue, affects_2.13

#77041 ansible-test - No pyopenssl in sanity test venvs.
  changelogs/fragments/ansible-test-pyopenssl.yaml
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/python_requirements.py
Labels: backport, test, core_review, support:core, bug, small_patch, affects_2.12

#77043 Ensure tests that need to validate higher verbosity messages run with vvvv
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
Labels: community_review, support:community, affects_2.13

#76860 [2.12] Remove more whitelist and blacklist occurances (docs only).
  lib/ansible/config/base.yml
  lib/ansible/inventory/manager.py
  lib/ansible/plugins/inventory/auto.py
  lib/ansible/plugins/inventory/ini.py
  lib/ansible/plugins/inventory/script.py
  lib/ansible/plugins/inventory/yaml.py
  lib/ansible/plugins/vars/host_group_vars.py
  lib/ansible/utils/encrypt.py
  lib/ansible/vars/plugins.py
Labels: backport, needs_triage, core_review, inventory, support:core, docs, affects_2.12

#76964 gather_facts sees collection networking connection (#76954)
  changelogs/fragments/gather_facts_collections.yml
  lib/ansible/plugins/action/gather_facts.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.11

#76969 ssh connection: use 'correct' host in all cases (#76017)
  changelogs/fragments/ssh_use_right_host.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/delegate_to/inventory
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/test_delegate_to.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#76968 ssh connection: use 'correct' host in all cases (#76017)
  changelogs/fragments/ssh_use_right_host.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/connection/ssh.py
  test/integration/targets/delegate_to/inventory
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/test_delegate_to.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.12

#76963 gather_facts sees collection networking connection (#76954)
  changelogs/fragments/gather_facts_collections.yml
  lib/ansible/plugins/action/gather_facts.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.12

#76916 doc: 2.9: firewalld module (correct required version for permanent parameter)
  lib/ansible/modules/system/firewalld.py
Labels: backport, module, community_review, needs_triage, stale_ci, support:community, new_contributor, docs, small_patch, system, collection, affects_2.9, collection:ansible.posix, docs_only

#77033 ansible-test - Update base and default containers.
  changelogs/fragments/ansible-test-default-container-update-5.6.2.yaml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.13

#77045 Avoid system-site-packages in AZP coverage venvs.
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/report-coverage.sh
Labels: core_review, support:core, small_patch, affects_2.13

#76976 Create collection maintainer's guide
  docs/docsite/rst/community/committer_guidelines.rst
  docs/docsite/rst/community/maintainers.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/maintainers_workflow.rst
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.13

#73024 apply owner/group permissions to top folder with unarchive module
  changelogs/fragments/73024-unarchive-apply-permissions-top-folder.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/test_ownership_top_folder.yml
Labels: module, core_review, support:core, m:unarchive, bug, files, has_issue, affects_2.11

#77058 ansible-test - Use quay.io containers in plugins.
  changelogs/fragments/ansible-test-container-images.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/galaxy.py
  test/lib/ansible_test/_internal/commands/integration/cloud/openshift.py
Labels: test, core_review, support:core, feature, affects_2.13

#77060 [stable-2.12] ansible-test - Use quay.io containers in plugins.
  changelogs/fragments/ansible-test-container-images.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/galaxy.py
  test/lib/ansible_test/_internal/commands/integration/cloud/openshift.py
Labels: backport, test, core_review, support:core, feature, affects_2.12

#77061 [stable-2.11] ansible-test - Use quay.io containers in plugins.
  changelogs/fragments/ansible-test-container-images.yml
  test/lib/ansible_test/_internal/cloud/galaxy.py
  test/lib/ansible_test/_internal/cloud/openshift.py
Labels: backport, test, core_review, support:core, feature, affects_2.11

#77062 [stable-2.10] ansible-test - Use quay.io containers in plugins.
  changelogs/fragments/ansible-test-container-images.yml
  test/lib/ansible_test/_internal/cloud/openshift.py
Labels: backport, test, core_review, support:core, feature, affects_2.10

#77063 [stable-2.9] ansible-test - Use quay.io containers in plugins.
  changelogs/fragments/ansible-test-container-images.yml
  test/lib/ansible_test/_internal/cloud/openshift.py
Labels: backport, test, core_review, support:core, feature, affects_2.9

#77066 ansible-test - Fix CParser import in yamllint.
  changelogs/fragments/ansible-test-yaml-import.yaml
  test/lib/ansible_test/_util/controller/sanity/yamllint/yamllinter.py
Labels: test, core_review, support:core, bug, affects_2.13

#77068 ansible-test - Fail sanity test on distutils use.
  changelogs/fragments/ansible-test-import-distutils.yaml
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: test, core_review, support:core, feature, affects_2.13

#77065 Fix warning in unit tests for _yaml import.
  test/units/parsing/yaml/test_loader.py
Labels: core_review, support:core, affects_2.13

#77091 Don't call galaxy unnecessarily when testing installing collections from git repository
  test/integration/targets/ansible-galaxy-collection-scm/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/individual_collection_repo.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/requirements.yml
Labels: community_review, needs_triage, support:community, affects_2.13

#77097 [stable-2.10] Use --no-deps when installing amazon.aws and not testing dependencies (#77091).
  test/integration/targets/ansible-galaxy-collection-scm/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/individual_collection_repo.yml
Labels: backport, community_review, needs_triage, support:community, affects_2.10

#77098 Add missing integration test dependency.
  test/integration/targets/ansible-galaxy-collection/meta/main.yml
Labels: community_review, support:community, affects_2.13

#77103 [stable-2.12] Fix warning in unit tests for _yaml import.
  test/units/parsing/yaml/test_loader.py
Labels: backport, core_review, support:core, affects_2.12

#77102 [stable-2.12] Remove unused task from template integration test.
  test/integration/targets/template/tasks/main.yml
Labels: backport, core_review, support:core, affects_2.12

#77092 [stable-2.11] ansible-test - Add MarkupSafe constraint.
  changelogs/fragments/ansible-test-markupsafe-constraint-update.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.11

#77093 [stable-2.10] ansible-test - Add MarkupSafe constraint.
  changelogs/fragments/ansible-test-markupsafe-constraint-update.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.10

#77094 [stable-2.9] ansible-test - Add MarkupSafe constraint.
  changelogs/fragments/ansible-test-markupsafe-constraint-update.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.9

#77107 docs: Update porting guide for ansible 5.4.0
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#77099 [stable-2.11] ansible-test - Omit pyopenssl for sanity tests.
  changelogs/fragments/ansible-test-pyopenssl.yml
  test/lib/ansible_test/_internal/executor.py
Labels: needs_revision, backport, test, support:core, bug, small_patch, affects_2.11

#77100 [stable-2.12] ansible-test - Managed venv fixes.
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/report-coverage.sh
  changelogs/fragments/ansible-test-managed-venv.yml
  changelogs/fragments/ansible-test-pyopenssl.yaml
  changelogs/fragments/ansible-test-sanity-requirements-update.yml
  test/lib/ansible_test/_data/requirements/sanity.import.plugin.txt
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_internal/venv.py
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
  test/lib/ansible_test/_util/target/setup/quiet_pip.py
  test/lib/ansible_test/_util/target/setup/requirements.py
  test/sanity/ignore.txt
  test/utils/shippable/generic.sh
Labels: backport, test, core_review, support:core, bug, affects_2.12

#77109 [stable-2.11] ansible-test - Use `--forked` instead of `--boxed`
  changelogs/fragments/ansible-test-pytest-forked.yml
  test/lib/ansible_test/_data/requirements/units.txt
  test/lib/ansible_test/_internal/units/__init__.py
Labels: backport, test, core_review, support:core, bug, affects_2.11

#77110 [stable-2.10] ansible-test - Use `--forked` instead of `--boxed`
  changelogs/fragments/ansible-test-pytest-forked.yml
  test/lib/ansible_test/_data/requirements/units.txt
  test/lib/ansible_test/_internal/units/__init__.py
Labels: backport, test, core_review, support:core, bug, affects_2.10

#77111 [stable-2.9] ansible-test - Use `--forked` instead of `--boxed`
  changelogs/fragments/ansible-test-pytest-forked.yml
  test/lib/ansible_test/_data/requirements/units.txt
  test/lib/ansible_test/_internal/units/__init__.py
Labels: backport, test, core_review, support:core, bug, affects_2.9

#77101 [stable-2.12] ansible-test - Fix CParser import in yamllint.
  changelogs/fragments/ansible-test-yaml-import.yaml
  test/lib/ansible_test/_util/controller/sanity/yamllint/yamllinter.py
Labels: needs_revision, backport, test, support:core, bug, affects_2.12

#77114 Remove unused mock compat code.
  test/units/compat/mock.py
Labels: core_review, support:core, affects_2.13

#77113 ansible-test - Update default containers to 4.2.0.
  changelogs/fragments/ansible-test-default-containers-4.2.0.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, core_review, support:core, bug, affects_2.12

#77115 Fix duplicate unit test function names.
  test/units/module_utils/basic/test_deprecate_warn.py
  test/units/module_utils/common/validation/test_check_required_if.py
  test/units/module_utils/facts/test_collectors.py
  test/units/parsing/test_mod_args.py
Labels: core_review, support:core, affects_2.13

#77117 Remove obsolete unit test builtins compat.
  test/units/compat/builtins.py
  test/units/errors/test_errors.py
  test/units/plugins/test_plugins.py
Labels: core_review, support:core, affects_2.13

#77116 More strict pylint checking of ansible-test code.
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test-target.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
Labels: test, core_review, support:core, feature, affects_2.13

#77090 Use full python package for ansiballz cache filenames
  changelogs/fragments/fqn-module-cache.yml
  lib/ansible/executor/module_common.py
  test/integration/targets/collections/ansiballz_dupe/collections/ansible_collections/duplicate/name/plugins/modules/ping.py
  test/integration/targets/collections/ansiballz_dupe/test_ansiballz_cache_dupe_shortname.yml
  test/integration/targets/collections/runme.sh
Labels: new_plugin, core_review, support:community, support:core, bug, affects_2.13

#77082 More informative playbook attribute errors
  changelogs/fragments/more_targeted_attribute_errors.yml
  lib/ansible/playbook/base.py
  lib/ansible/plugins/strategy/__init__.py
Labels: core_review, support:core, bug, affects_2.13

#77086 Update pylint deprecated plugin to use ansible-invalid* symbols
  changelogs/fragments/77086-correct-pylint-symbols.yml
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/deprecated.py
Labels: test, core_review, support:core, affects_2.13

#77123 New release v2.11.9rc1
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.9rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.11

#77124 New release v2.12.3rc1
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.3rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#77127 Fix LooseVersion and StrictVersion refs in docs.
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#77050 AL2022 package-manager detection support (Amazon Linux)
  changelogs/fragments/77050-add-pkg-mgr-support-for-al2022.yaml
  lib/ansible/module_utils/facts/system/pkg_mgr.py
Labels: core_review, support:core, new_contributor, bug, affects_2.13

#77130 Release 2.11.9rc1 publish
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.11

#77131 Release 2.12.3rc1 publish
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.12

#77137 Docs:Uninstall all packages before Ubuntu reinstall
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: core_review, support:core, docs, docs_only, affects_2.13

#77087 move collection pr quickstart over
  docs/docsite/rst/community/collection_development_process.rst
  docs/docsite/rst/community/contributions_collections.rst
  docs/docsite/rst/community/create_pr_quick_start.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.13

#77139 Temporarily remove RHEL 9.0b from the test matrix.
  .azure-pipelines/azure-pipelines.yml
Labels: core_review, support:core, small_patch, affects_2.13

#77138 use present tense in changelog example
  docs/docsite/rst/community/collection_development_process.rst
Labels: shipit, needs_triage, support:core, docs, small_patch, docsite, docs_only, affects_2.13

#77074 hostname module - fix TypeError in FileStrategy (#77025)
  changelogs/fragments/77074-hostname-fix-typeerror-in-filestrategy.yml
  lib/ansible/modules/hostname.py
Labels: module, core_review, support:core, new_contributor, bug, affects_2.12

#77088 use same timeout for galaxy api interactions
  changelogs/fragments/ansible_galaxy_timeout.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
Labels: core_review, support:core, bug, traceback, has_issue, affects_2.13

#77132 ansible-test - Remove obsolete display of MAXFD.
  changelogs/fragments/ansible-test-maxfd.yaml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/util.py
Labels: test, core_review, support:core, feature, affects_2.13

#77140 add links to remote_user docs
  docs/docsite/rst/user_guide/connection_details.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#77157 New release v2.11.9
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.9_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.11

#77158 Release 2.12.3
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.3_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#77147 Fix type hints in galaxy.
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
Labels: core_review, support:core, bug, small_patch, affects_2.13

#77155 Clarify docs for using tests as filters
  docs/docsite/rst/user_guide/playbooks_tests.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#77151 Fix IPs for ipaddr filter in user_guide
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.13

#76690 Fix 'ansible-galaxy collection verify' to display new files/dirs
  changelogs/fragments/76690-fix-ansible-galaxy-collection-verify-modified-content.yaml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  test/integration/targets/ansible-galaxy-collection/tasks/verify.yml
Labels: core_review, support:community, support:core, bug, affects_2.13

#77164 Update setup_pexpect to prefer pip user installs.
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: community_review, support:community, affects_2.13

#77145 add accessibility guidelines to docs style guide
  docs/docsite/rst/dev_guide/style_guide/index.rst
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.13

#77165 [stable-2.12] Update setup_pexpect to prefer pip user installs.
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: backport, community_review, support:community, affects_2.12

#77166 [stable-2.11] Update setup_pexpect to prefer pip user installs.
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: backport, community_review, support:community, affects_2.11

#77167 [stable-2.10] Update setup_pexpect to prefer pip user installs.
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: backport, community_review, support:community, affects_2.10

#77168 [stable-2.9] Update setup_pexpect to prefer pip user installs.
  test/integration/targets/setup_pexpect/tasks/main.yml
Labels: backport, community_review, support:community, affects_2.9
