Repository ansible/ansible, pull requests merged in 2022-06, with the labels that each got.

#77723 Migrate community.vmware Dev Guide to collection
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
Labels: core_review, support:core, docs, docsite, has_issue, docs_only, affects_2.14

#77947 ansible-test - Code cleanup.
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/vcenter.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/ansible_doc.py
  test/lib/ansible_test/_internal/commands/sanity/pslint.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/encoding.py
  test/lib/ansible_test/_internal/http.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/changelog.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/empty-init.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/future-import-boilerplate.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/line-endings.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/metaclass-boilerplate.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-assert.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-basestring.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-dict-iteritems.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-dict-iterkeys.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-dict-itervalues.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-get-exception.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-illegal-filenames.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-main-display.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-smart-quotes.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/no-unicode-literals.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/replace-urlopen.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/runtime-metadata.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/shebang.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/symlinks.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/use-argspec-type-path.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/use-compat-six.py
  test/lib/ansible_test/_util/controller/sanity/pylint/config/code-smell.cfg
  test/lib/ansible_test/_util/controller/sanity/yamllint/yamllinter.py
  test/lib/ansible_test/_util/controller/tools/collection_detail.py
Labels: test, core_review, support:core, bug, affects_2.14

#77923 Add RHEL 9.0 to ansible-test and CI.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-rhel-9.yaml
  test/integration/targets/connection_ssh/runme.sh
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/vars/RedHat-9.yml
  test/integration/targets/hostname/tasks/test_normal.yml
  test/integration/targets/rpm_key/tasks/rpm_key.yaml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: backport, test, core_review, support:community, support:core, feature, affects_2.13

#77950 [stable-2.13] ansible-test - Fix shell target options handling.
  changelogs/fragments/ansible-test-target-options.yml
  test/lib/ansible_test/_internal/cli/compat.py
Labels: backport, test, core_review, support:core, bug, affects_2.13

#77952 ansible-test - Prefer unittest.mock for core.
  changelogs/fragments/ansible-test-ansible-core-mock.yml
  test/lib/ansible_test/_data/pytest/config/ansible-core.ini
  test/lib/ansible_test/_data/pytest/config/default.ini
  test/lib/ansible_test/_internal/commands/units/__init__.py
Labels: test, core_review, support:core, feature, affects_2.14

#77953 [stable-2.13] ansible-test - Prefer unittest.mock for core.
  changelogs/fragments/ansible-test-ansible-core-mock.yml
  test/lib/ansible_test/_data/pytest/config/ansible-core.ini
  test/lib/ansible_test/_data/pytest/config/default.ini
  test/lib/ansible_test/_internal/commands/units/__init__.py
Labels: backport, test, core_review, support:core, feature, affects_2.13

#77945 Properly send a skipped message for empty templated loop
  changelogs/fragments/77934-empty-loop-template-callback.yml
  lib/ansible/plugins/callback/default.py
  test/integration/targets/callback_default/callback_default.out.default.stdout
  test/integration/targets/callback_default/callback_default.out.display_path_on_failure.stdout
  test/integration/targets/callback_default/callback_default.out.failed_to_stderr.stdout
  test/integration/targets/callback_default/callback_default.out.hide_ok.stdout
  test/integration/targets/callback_default/callback_default.out.hide_skipped.stdout
  test/integration/targets/callback_default/callback_default.out.hide_skipped_ok.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_lossy_verbose.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_verbose.stdout
  test/integration/targets/callback_default/test.yml
Labels: needs_triage, core_review, support:community, support:core, bug, affects_2.14

#77897 Issue #77681 revamp getting started guide
  docs/docsite/rst/ansible_index.rst
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/getting_started/ansible_output/first_playbook_output.txt
  docs/docsite/rst/getting_started/ansible_output/ping_inventory_output.txt
  docs/docsite/rst/getting_started/ansible_output/ping_output.txt
  docs/docsite/rst/getting_started/get_started_inventory.rst
  docs/docsite/rst/getting_started/get_started_playbook.rst
  docs/docsite/rst/getting_started/index.rst
  docs/docsite/rst/getting_started/yaml/first_playbook.yaml
  docs/docsite/rst/getting_started/yaml/inventory_example_vms.yaml
  docs/docsite/rst/getting_started/yaml/inventory_group_structure.yaml
  docs/docsite/rst/getting_started/yaml/inventory_variables_group.yaml
  docs/docsite/rst/getting_started/yaml/inventory_variables_host.yaml
  docs/docsite/rst/images/ansible_basic.svg
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/quickstart.rst
Labels: core_review, support:core, docs, has_issue, docs_only, affects_2.14

#77946 Fix items2dict errors for incorrect list item type and missing keys
  changelogs/fragments/items2dict-error-handling.yml
  lib/ansible/plugins/filter/core.py
  test/integration/targets/filter_core/tasks/main.yml
Labels: needs_triage, core_review, support:community, support:core, bug, affects_2.14

#77930 ssh retry docs addition
  lib/ansible/plugins/connection/ssh.py
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77925 fix: update button text to "Load token"
  docs/docsite/rst/galaxy/user_guide.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77956 added note to omit -t all
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
Labels: core_review, support:core, bug, small_patch, affects_2.14

#77939 stub out ipaddr page and point to new home (#77281)
  docs/docsite/rst/user_guide/playbooks_filters_ipaddr.rst
Labels: backport, needs_triage, core_review, support:core, docs, affects_2.12, docs_only

#77960 Backportapalooza 06 02
  .gitignore
  MANIFEST.in
  docs/docsite/Makefile
  docs/docsite/rst/ansible_index.rst
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/core_index.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/getting_started/ansible_output/first_playbook_output.txt
  docs/docsite/rst/getting_started/ansible_output/ping_inventory_output.txt
  docs/docsite/rst/getting_started/ansible_output/ping_output.txt
  docs/docsite/rst/getting_started/get_started_inventory.rst
  docs/docsite/rst/getting_started/get_started_playbook.rst
  docs/docsite/rst/getting_started/index.rst
  docs/docsite/rst/getting_started/yaml/first_playbook.yaml
  docs/docsite/rst/getting_started/yaml/inventory_example_vms.yaml
  docs/docsite/rst/getting_started/yaml/inventory_group_structure.yaml
  docs/docsite/rst/getting_started/yaml/inventory_variables_group.yaml
  docs/docsite/rst/getting_started/yaml/inventory_variables_host.yaml
  docs/docsite/rst/images/ansible_basic.svg
  docs/docsite/rst/porting_guides/porting_guide_6.rst
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro_getting_started.rst
  docs/docsite/rst/user_guide/quickstart.rst
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
  lib/ansible/plugins/connection/ssh.py
  test/sanity/code-smell/package-data.py
Labels: backport, test, needs_triage, core_review, support:core, docs, docsite, affects_2.13

#77951 [stable-2.13] ansible-test - Multiple backports
  changelogs/fragments/ansible-test-multi-arch-remotes.yml
  changelogs/fragments/ansible-test-remote-completion-validation.yml
  changelogs/fragments/ansible-test-shell-features.yml
  changelogs/fragments/ansible-test-subprocess-isolation.yml
  changelogs/fragments/ansible-test-ubuntu-remote.yml
  test/integration/targets/ansible-test-no-tty/aliases
  test/integration/targets/ansible-test-no-tty/runme.py
  test/integration/targets/ansible-test-no-tty/runme.sh
  test/lib/ansible_test/_data/completion/network.txt
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_data/completion/windows.txt
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/cli/commands/shell.py
  test/lib/ansible_test/_internal/cli/compat.py
  test/lib/ansible_test/_internal/cli/environments.py
  test/lib/ansible_test/_internal/cli/parsers/key_value_parsers.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/integration/cloud/azure.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/cloud/hcloud.py
  test/lib/ansible_test/_internal/commands/integration/coverage.py
  test/lib/ansible_test/_internal/commands/integration/filters.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/commands/shell/__init__.py
  test/lib/ansible_test/_internal/commands/units/__init__.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/pypi_proxy.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_internal/venv.py
  test/lib/ansible_test/_util/controller/sanity/code-smell/changelog.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/module_args.py
  test/lib/ansible_test/_util/target/cli/ansible_test_cli_stub.py
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
  test/sanity/code-smell/docs-build.py
  test/sanity/code-smell/package-data.py
  test/units/test_no_tty.py
Labels: needs_revision, needs_rebase, backport, core_review, feature, affects_2.13

#77875 Deprecate non lists lookups
  changelogs/fragments/77788-deprecate-non-lists-lookups.yml
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/plugins/lookup.rst
  lib/ansible/template/__init__.py
Labels: core_review, support:core, docs, feature, docsite, affects_2.14

#77967 ansible-galaxy-collection - use --pinentry-mode loopback when revoking key
  test/integration/targets/ansible-galaxy-collection/tasks/revoke_gpg_key.yml
Labels: community_review, support:community, affects_2.14

#77973 Integration tests for invalid group name.
  test/integration/targets/inventory-invalid-group/aliases
  test/integration/targets/inventory-invalid-group/inventory.ini
  test/integration/targets/inventory-invalid-group/runme.sh
  test/integration/targets/inventory-invalid-group/test.yml
Labels: community_review, support:community, affects_2.14

#77895 Add inventory cache integration tests
  test/integration/targets/inventory_cache/exercise_cache.yml
  test/integration/targets/inventory_cache/plugins/inventory/exercise_cache.py
  test/integration/targets/inventory_cache/runme.sh
  test/support/integration/plugins/cache/jsonfile.py
Labels: new_plugin, test, core_review, support:community, support:core, affects_2.14

#77975 ansible-test - Ignore vendored code in mypy test.
  test/lib/ansible_test/_internal/commands/sanity/mypy.py
  test/sanity/ignore.txt
Labels: test, core_review, support:core, affects_2.14

#77976 ansible-test - Skip mypy runs under Python 3.11.
  test/lib/ansible_test/_internal/commands/sanity/mypy.py
Labels: test, core_review, support:core, affects_2.14

#77944 preserve add_host/group_by on refresh
  changelogs/fragments/fix_inv_refresh.yml
  lib/ansible/inventory/manager.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/meta_tasks/inventory_new.yml
  test/integration/targets/meta_tasks/inventory_old.yml
  test/integration/targets/meta_tasks/inventory_refresh.yml
  test/integration/targets/meta_tasks/refresh.yml
  test/integration/targets/meta_tasks/refresh_preserve_dynamic.yml
  test/integration/targets/meta_tasks/runme.sh
Labels: core_review, inventory, support:community, support:core, bug, affects_2.14

#77979 Don't install lgroupadd for SUSE tests.
  test/integration/targets/group/tasks/tests.yml
Labels: core_review, support:core, affects_2.14

#77980 Skip libuser tests on openSUSE 15.4+
  test/integration/targets/user/tasks/main.yml
Labels: core_review, support:core, affects_2.14

#77977 ansible-test - Update Alpine, openSUSE containers
  changelogs/fragments/ansible-test-distro-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, small_patch, affects_2.14

#77649 ansible-galaxy - support resolvelib versions >= 0.5.3, < 0.9.0
  changelogs/fragments/77649-support-recent-resolvelib-versions.yml
  lib/ansible/galaxy/dependency_resolution/providers.py
  requirements.txt
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/test_supported_resolvelib_versions.yml
  test/integration/targets/ansible-galaxy-collection-scm/vars/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/fail_fast_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/supported_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/tasks/unsupported_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/lib/ansible_test/_data/requirements/ansible.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/package-data.requirements.in
Labels: test, core_review, support:community, support:core, feature, affects_2.14

#77965 Add macOS fork issue to FAQ
  docs/docsite/rst/reference_appendices/faq.rst
Labels: core_review, support:core, docs, docs_only, affects_2.14

#77056 Forked display via queue
  changelogs/fragments/forked-display-via-queue.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/utils/display.py
  test/units/utils/test_display.py
Labels: core_review, support:core, feature, has_issue, affects_2.13

#77936 Pin PyYAML version compatible with Python 3.8+
  changelogs/fragments/77936-add-pyyaml-version.yml
  requirements.txt
  test/lib/ansible_test/_data/requirements/ansible.txt
Labels: test, core_review, support:core, bug, affects_2.14

#77991 docs: Update porting guide for ansible 6.0.0rc1
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: core_review, support:core, docs, docs_only, affects_2.14

#77974 Fix docs links for the steering committee
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/steering/community_steering_committee.rst
  docs/docsite/rst/community/steering/steering_committee_membership.rst
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.14

#77989 fix ansible-galaxy-collection test with revoked key
  test/integration/targets/ansible-galaxy-collection/library/setup_collections.py
  test/integration/targets/ansible-galaxy-collection/tasks/setup_gpg.yml
Labels: community_review, needs_triage, support:community, affects_2.14

#77990 Add missing inventory cache test
  test/integration/targets/inventory_cache/plugins/inventory/exercise_cache.py
Labels: community_review, needs_triage, support:community, affects_2.14

#77961 ansible-test - Adjust unit test mock usage.
  changelogs/fragments/ansible-test-ansible-core-mock.yml
  test/lib/ansible_test/_data/pytest/config/ansible-core.ini
  test/lib/ansible_test/_data/pytest/config/default.ini
  test/lib/ansible_test/_data/pytest/config/legacy.ini
  test/lib/ansible_test/_internal/commands/units/__init__.py
Labels: test, core_review, support:core, feature, small_patch, affects_2.14

#77994 [stable-2.11] yum: fix parsing of check-update with subsequent empty lines (#75452)
  changelogs/fragments/70949-yum-parsing-check-update-output-multiple-empty-lines.yml
  lib/ansible/modules/yum.py
  test/units/modules/test_yum.py
Labels: backport, module, core_review, support:core, bug, affects_2.11

#77995 [stable-2.9] yum: fix parsing of check-update with subsequent empty lines (#75452)
  changelogs/fragments/70949-yum-parsing-check-update-output-multiple-empty-lines.yml
  lib/ansible/modules/packaging/os/yum.py
  test/units/modules/packaging/os/test_yum.py
Labels: backport, module, core_review, support:core, bug, affects_2.9

#77996 ansible-test - Update base and default containers.
  changelogs/fragments/ansible-test-default-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.14

#77999 [stable-2.13] ansible-test - Adjust unit test mock usage. (#77961)
  changelogs/fragments/ansible-test-ansible-core-mock.yml
  test/lib/ansible_test/_data/pytest/config/ansible-core.ini
  test/lib/ansible_test/_data/pytest/config/default.ini
  test/lib/ansible_test/_data/pytest/config/legacy.ini
  test/lib/ansible_test/_internal/commands/units/__init__.py
Labels: backport, test, core_review, support:core, bug, small_patch, affects_2.13

#77997 [stable-2.13] Make fuzzy plugin matching deterministic.
  changelogs/fragments/plugin-loader-deterministic-fuzzy-match.yml
  lib/ansible/plugins/loader.py
Labels: backport, core_review, support:core, bug, affects_2.13

#77986 [2.13] Pin PyYAML version compatible with Python 3.8+ (#77936)
  changelogs/fragments/77936-add-pyyaml-version.yml
  requirements.txt
  test/lib/ansible_test/_data/requirements/ansible.txt
Labels: backport, test, needs_triage, core_review, support:core, bug, affects_2.13

#77993 ansible-galaxy - ensure variable is defined for any error getting ansible-core dist
  lib/ansible/galaxy/collection/__init__.py
Labels: needs_triage, core_review, support:core, bug, small_patch, affects_2.14

#77694 dont rely on path to set config defs for plugins (#77659)
  changelogs/fragments/config_load_by_name.yml
  lib/ansible/plugins/loader.py
  test/integration/targets/plugin_loader/runme.sh
  test/integration/targets/plugin_loader/use_coll_name.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.13

#77707 [2.13 backport] fix SELinux facts tests
  test/integration/targets/module_utils_facts.system.selinux/aliases
  test/integration/targets/module_utils_facts.system.selinux/tasks/main.yml
Labels: backport, community_review, needs_triage, support:community, affects_2.13

#77824 Catch KeyError when wantlist=False with lookup dict (#77789)
  changelogs/fragments/77789-catch-keyerror-lookup-dict.yml
  lib/ansible/template/__init__.py
  test/integration/targets/templating_lookups/runme.sh
  test/integration/targets/templating_lookups/template_lookups/mock_lookup_plugins/77788.py
  test/integration/targets/templating_lookups/template_lookups/tasks/main.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.13

#77829 [2.13] Update PSF-license.txt to version from CPython 3.9.5
  licenses/PSF-license.txt
Labels: backport, needs_triage, core_review, support:core, bug, small_patch, affects_2.13

#77894 Fix windows connection options (#77844)
  changelogs/fragments/windows_conn_option_fix.yml
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
Labels: windows, backport, needs_triage, core_review, support:core, bug, has_issue, affects_2.13

#77899 [2.13] Add toggle to fix module_defaults with module-as-redirected-action
  changelogs/fragments/77265-module_defaults-with-modules-as-redirected-actions.yaml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/base.py
  lib/ansible/plugins/loader.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/meta/runtime.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/eos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/ios.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/vyos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/eosfacts.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/ios_facts.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/module.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/vyosfacts.py
  test/integration/targets/module_defaults/runme.sh
  test/integration/targets/module_defaults/test_defaults.yml
  test/units/executor/test_task_executor.py
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.13

#78000 Fix pip Python module resolution
  changelogs/fragments/pip-lazy-import.yml
  lib/ansible/modules/pip.py
Labels: module, core_review, support:core, bug, affects_2.14

#77828 [2.12] Update PSF-license.txt to version from CPython 3.9.5
  licenses/PSF-license.txt
Labels: backport, needs_triage, core_review, support:core, bug, small_patch, affects_2.12

#77900 [2.12] Add toggle to fix module_defaults with module-as-redirected-action
  changelogs/fragments/77265-module_defaults-with-modules-as-redirected-actions.yaml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/base.py
  lib/ansible/plugins/loader.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/meta/runtime.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/eos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/ios.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/vyos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/eosfacts.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/ios_facts.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/module.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/vyosfacts.py
  test/integration/targets/module_defaults/runme.sh
  test/integration/targets/module_defaults/test_defaults.yml
  test/units/executor/test_task_executor.py
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.12

#77998 [stable-2.12] Make fuzzy plugin matching deterministic.
  changelogs/fragments/plugin-loader-deterministic-fuzzy-match.yml
  lib/ansible/plugins/loader.py
Labels: backport, core_review, support:core, bug, affects_2.12

#77987 ansible-test - Allow docstring in docs-only module
  changelogs/fragments/ansible-test-validate-modules-docs-only-docstring.yml
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: test, core_review, support:core, bug, affects_2.14

#78011 ansible-test - Update distro containers to 4.3.0.
  changelogs/fragments/ansible-test-distro-containers-hosts.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.14

#78010 Remove incidental_inventory_foreman test.
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/incidental_inventory_foreman/aliases
  test/integration/targets/incidental_inventory_foreman/ansible.cfg
  test/integration/targets/incidental_inventory_foreman/inspect_cache.yml
  test/integration/targets/incidental_inventory_foreman/runme.sh
  test/integration/targets/incidental_inventory_foreman/test_foreman_inventory.yml
  test/support/integration/plugins/inventory/foreman.py
  test/utils/shippable/incidental/cloud.sh
Labels: test, core_review, support:community, support:core, small_patch, affects_2.14

#77781 Do not crash callbacks if exception is not a string
  changelogs/fragments/77781-callback-crash.yml
  lib/ansible/plugins/callback/__init__.py
Labels: needs_revision, stale_ci, support:core, bug, affects_2.14

#68184 Add configurable option for paramiko banner_ssh timeout
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: core_review, support:core, bug, has_issue, affects_2.10

#75431 facts: Add uptime fact for NetBSD
  changelogs/fragments/75431-Add-uptime-fact-for-NetBSD.yml
  lib/ansible/module_utils/facts/hardware/netbsd.py
Labels: core_review, support:core, new_contributor, feature, affects_2.12

#78016 ansible-test - Clean up type hints and comments.
  test/lib/ansible_test/_internal/classification/python.py
  test/lib/ansible_test/_internal/cli/argparsing/argcompletion.py
  test/lib/ansible_test/_internal/cli/commands/integration/network.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/ssh.py
  test/lib/ansible_test/_internal/util_common.py
Labels: test, core_review, support:core, bug, affects_2.14

#78013 corrected version_added for new config option
  lib/ansible/plugins/connection/paramiko_ssh.py
Labels: needs_triage, core_review, support:core, bug, small_patch, docs_only, affects_2.14

#77963 fix documentation on password_hash inconsistency #76863
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: needs_revision, support:core, docs, docs_only, affects_2.14

#78005 [2.12 backport] fix pip module resolution (#78000)
  changelogs/fragments/pip-lazy-import.yml
  lib/ansible/modules/pip.py
Labels: backport, module, needs_triage, core_review, support:core, bug, affects_2.12

#78003 [stable-2.12] ansible-test - Adjust unit test mock usage.
  changelogs/fragments/ansible-test-ansible-core-mock.yml
  test/lib/ansible_test/_data/pytest.ini
  test/lib/ansible_test/_data/pytest/config/default.ini
  test/lib/ansible_test/_data/pytest/config/legacy.ini
  test/lib/ansible_test/_internal/commands/units/__init__.py
Labels: backport, test, core_review, support:core, feature, affects_2.12

#77901 [2.13] Fix ansible-galaxy traceback when unexpected version of resolvelib is installed
  changelogs/fragments/77630-ansible-galaxy-fix-unsupported-resolvelib-version.yml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/errors.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  lib/ansible/galaxy/dependency_resolution/reporters.py
  lib/ansible/galaxy/dependency_resolution/resolvers.py
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/unsupported_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/sanity/ignore.txt
Labels: backport, test, needs_triage, core_review, support:community, support:core, bug, affects_2.13

#77985 Rephrase-community’s introduction
  docs/docsite/rst/community/steering/community_steering_committee.rst
Labels: core_review, support:core, new_contributor, bug, docs, small_patch, docsite, docs_only, affects_2.14

#78021 Update AZP test container to 3.0.0.
  .azure-pipelines/azure-pipelines.yml
Labels: core_review, support:core, small_patch, affects_2.14

#78022 [stable-2.13] Update AZP test container to 3.0.0.
  .azure-pipelines/azure-pipelines.yml
Labels: backport, core_review, support:core, small_patch, affects_2.13

#78023 [stable-2.12] Update AZP test container to 3.0.0.
  .azure-pipelines/azure-pipelines.yml
Labels: backport, core_review, support:core, small_patch, affects_2.12

#78024 [stable-2.11] Update AZP test container to 3.0.0.
  .azure-pipelines/azure-pipelines.yml
Labels: backport, core_review, support:core, small_patch, affects_2.11

#77983 shell plugins give out user friendly type error
  changelogs/fragments/shell_env_typeerror.yml
  lib/ansible/plugins/shell/__init__.py
Labels: core_review, support:core, bug, traceback, affects_2.14

#78032 ansible-test - Add requests constraint.
  changelogs/fragments/ansible-test-requests-constraint.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:core, bug, affects_2.9

#78008 [2.13] ansible-galaxy - support resolvelib versions >= 0.5.3, < 0.9.0
  changelogs/fragments/77649-support-recent-resolvelib-versions.yml
  lib/ansible/galaxy/dependency_resolution/providers.py
  requirements.txt
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/test_supported_resolvelib_versions.yml
  test/integration/targets/ansible-galaxy-collection-scm/vars/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/download.yml
  test/integration/targets/ansible-galaxy-collection/tasks/fail_fast_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/tasks/install.yml
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/supported_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/tasks/unsupported_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/lib/ansible_test/_data/requirements/ansible.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/package-data.requirements.in
Labels: backport, test, WIP, support:community, support:core, bug, affects_2.13

#78020 Docs Backportapalooza 06 09
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/steering/community_steering_committee.rst
  docs/docsite/rst/community/steering/steering_committee_membership.rst
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/developing_modules_best_practices.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guide_6.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
Labels: backport, needs_triage, core_review, support:core, docs, docsite, docs_only, affects_2.13

#78033 New release v2.13.1rc1
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.1rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, support:core, affects_2.13

#78034 New release v2.12.7rc1
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.7rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, support:core, affects_2.12

#78045 Update Ansible release version to v2.12.7rc1.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, core_review, support:core, small_patch, affects_2.12

#78048 Docsite: Updated style guide resources
  docs/docsite/rst/dev_guide/style_guide/resources.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, affects_2.14

#78051 Fix invalid-ansiblemodule-schema sanity errors.
  lib/ansible/modules/hostname.py
  lib/ansible/modules/pip.py
  test/sanity/ignore.txt
Labels: test, module, core_review, support:core, bug, small_patch, affects_2.14

#78040 Fix 'Permission denied' in user module while generating SSH keys
  changelogs/fragments/permission-denied-spwd-module.yml
  lib/ansible/modules/user.py
Labels: module, core_review, support:core, bug, affects_2.14

#78057 Create reusable role layout snippet for documentation
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/sample_setup.rst
  docs/docsite/rst/user_guide/shared_snippets/role_directory.txt
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.14

#78043 Docsite: update links to community docs
  docs/docsite/rst/community/maintainers_workflow.rst
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.14

#75740 Remove .travis.yml files from galaxy init skeletons
  changelogs/fragments/75740-remove-travis-file-from-role-skeletons.yml
  lib/ansible/galaxy/data/apb/.travis.yml
  lib/ansible/galaxy/data/container/.travis.yml
  lib/ansible/galaxy/data/default/role/.travis.yml
  lib/ansible/galaxy/data/network/.travis.yml
  test/units/cli/test_data/role_skeleton/.travis.yml
  test/units/cli/test_galaxy.py
Labels: core_review, support:core, bug, affects_2.12

#78050 Use ctypes to access shadow, instead of spwd which is deprecated
  changelogs/fragments/78050-replace-spwd.yml
  lib/ansible/module_utils/compat/typing.py
  lib/ansible/modules/user.py
  test/sanity/ignore.txt
Labels: test, module, core_review, support:core, bug, affects_2.14

#75760 Add new `loop_control.extended_allitems` option
  changelogs/fragments/75216-loop-control-extended-allitems.yml
  docs/docsite/rst/user_guide/playbooks_loops.rst
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/loop_control.py
  test/integration/targets/loop_control/extended.yml
Labels: core_review, support:community, support:core, docs, feature, affects_2.14

#78037 Windows - incorrect python-devel package in WinRM docs
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: windows, core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, affects_2.14

#77931 issue #72449 winrm script rm
  docs/docsite/rst/user_guide/windows_setup.rst
  docs/docsite/rst/user_guide/windows_winrm.rst
  examples/scripts/ConfigureRemotingForAnsible.ps1
  test/lib/ansible_test/_util/target/setup/ConfigureRemotingForAnsible.ps1
Labels: windows, test, core_review, support:core, docs, docsite, affects_2.14

#74196 Document debconf interaction with dpkg-reconfigure
  lib/ansible/modules/debconf.py
Labels: module, core_review, support:core, new_contributor, docs, affects_2.12, docs_only

#77643 update documentation of 'unarchive'
  lib/ansible/modules/unarchive.py
Labels: needs_revision, module, stale_ci, support:core, new_contributor, docs, small_patch, docs_only, affects_2.14

#78056 fix missing single quotes in sample code
  lib/ansible/plugins/cliconf/__init__.py
Labels: networking, core_review, support:core, new_contributor, bug, affects_2.14

#75042 user - Use -n instead of -N for luseradd on all distros
  changelogs/fragments/75042-lowercase-dash-n-with-luseradd-on-all-distros.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/test_local.yml
Labels: module, core_review, support:core, new_contributor, bug, affects_2.14

#78084 Add tutorial links to the docs #78073
  docs/docsite/rst/community/contributions_collections.rst
Labels: core_review, support:core, new_contributor, docs, docsite, has_issue, docs_only, affects_2.14

#78087 ansible-test - More flexible become support.
  changelogs/fragments/ansible-test-generalize-become.yml
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_internal/become.py
  test/lib/ansible_test/_internal/cli/parsers/key_value_parsers.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: test, core_review, support:core, feature, affects_2.14

#78088 ansible-test - Add support for more remotes.
  changelogs/fragments/ansible-test-more-remotes.yml
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_internal/become.py
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, core_review, support:core, feature, affects_2.14

#78089 ansible-test - Use shlex.join where appropriate.
  test/lib/ansible_test/_internal/become.py
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/ssh.py
  test/lib/ansible_test/_internal/util.py
Labels: test, core_review, support:core, feature, affects_2.14

#78095 Update Ansible release version to v2.13.1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.13

#78080 password lookup argument parsing fix
  changelogs/fragments/password_lookup_fix.yml
  lib/ansible/plugins/lookup/password.py
  test/integration/targets/lookup_password/tasks/main.yml
Labels: core_review, support:community, support:core, bug, affects_2.14

#78101 docs: Update porting guide for Ansible 6.0.0
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: core_review, support:core, docs, docs_only, affects_2.14

#78106 docs: Update porting guide for Ansible 6.0.0 (#78101)
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: backport, needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#78108 update release page to reflect Ansible 6 release (#78047)
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: backport, needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#78109 update conf.py for Ansible 6 release (#78049)
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#78105 Updated the document 'src' in URI
  lib/ansible/modules/uri.py
Labels: module, core_review, support:core, docs, small_patch, docs_only, affects_2.14

#78121 update intersphinx links for Ansible 6
  docs/docsite/ansible_4.inv
  docs/docsite/ansible_5.inv
  docs/docsite/ansible_6.inv
  docs/docsite/jinja2.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, docs_only, affects_2.14

#78132 ansible-test - Remove deprecated test platforms.
  changelogs/fragments/ansible-test-remotes.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, core_review, support:core, feature, small_patch, affects_2.14

#78133 Update list for gather_subset
  lib/ansible/modules/setup.py
Labels: module, core_review, support:core, docs, docs_only, affects_2.14

#78097 Docs: Issue 78082 move basic concepts to start (1/3)
  docs/docsite/rst/getting_started/basic_concepts.rst
  docs/docsite/rst/getting_started/index.rst
  docs/docsite/rst/user_guide/basic_concepts.rst
  docs/docsite/rst/user_guide/index.rst
Labels: core_review, support:core, docs, docs_only, affects_2.14

#78099 Docs: Issue 78082 create win user guide (2/3)
  docs/docsite/rst/ansible_index.rst
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/intro_windows.rst
  docs/docsite/rst/user_guide/windows.rst
  docs/docsite/rst/user_guide/windows_dsc.rst
  docs/docsite/rst/user_guide/windows_faq.rst
  docs/docsite/rst/user_guide/windows_performance.rst
  docs/docsite/rst/user_guide/windows_setup.rst
  docs/docsite/rst/user_guide/windows_usage.rst
  docs/docsite/rst/user_guide/windows_winrm.rst
  docs/docsite/rst/win_guide/index.rst
  docs/docsite/rst/win_guide/windows_dsc.rst
  docs/docsite/rst/win_guide/windows_faq.rst
  docs/docsite/rst/win_guide/windows_performance.rst
  docs/docsite/rst/win_guide/windows_setup.rst
  docs/docsite/rst/win_guide/windows_usage.rst
  docs/docsite/rst/win_guide/windows_winrm.rst
Labels: windows, core_review, support:core, docs, docsite, docs_only, affects_2.14

#78136 Delete core-ci `query` param from ansible-test
  test/lib/ansible_test/_internal/core_ci.py
Labels: test, core_review, support:core, affects_2.14

#78126 update intersphinx links for Ansible 6 (#78121)
  docs/docsite/ansible_4.inv
  docs/docsite/ansible_5.inv
  docs/docsite/ansible_6.inv
  docs/docsite/jinja2.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#78134 Backportapalooza 06 23
  docs/docsite/rst/community/contributions_collections.rst
  docs/docsite/rst/images/ansible_basic.svg
  lib/ansible/modules/setup.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
Labels: backport, module, needs_triage, core_review, support:core, docs, docsite, docs_only, affects_2.13

#77106 Galaxy server config updates
  changelogs/fragments/galaxy_server_timeout.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/config/base.yml
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  test/units/galaxy/test_collection.py
Labels: core_review, support:core, feature, affects_2.13

#78146 ansible-test - Improve pip bootstrap download.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/lib/ansible_test/_util/target/setup/requirements.py
Labels: test, core_review, support:core, feature, affects_2.14

#78147 [stable-2.13] ansible-test - Improve pip bootstrap download.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/lib/ansible_test/_util/target/setup/requirements.py
Labels: backport, test, core_review, support:core, feature, affects_2.13

#78148 [stable-2.12] ansible-test - Improve pip bootstrap download.
  changelogs/fragments/ansible-test-pip-bootstrap.yml
  test/lib/ansible_test/_util/target/setup/requirements.py
Labels: backport, test, core_review, support:core, feature, affects_2.12

#78150 Fix HTTP tests on FreeBSD when running split.
  test/integration/targets/prepare_http_tests/tasks/default.yml
  test/integration/targets/uri/tasks/main.yml
Labels: core_review, support:community, support:core, affects_2.14

#78152 fixed hyperlinks to galaxy.ansible for issue #78104
  docs/docsite/rst/reference_appendices/glossary.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#78103 Docs: Issue 78082 separate tips and tricks in user guide (3/3)
  docs/docsite/rst/ansible_index.rst
  docs/docsite/rst/core_index.rst
  docs/docsite/rst/tips_tricks/ansible_tips_tricks.rst
  docs/docsite/rst/tips_tricks/index.rst
  docs/docsite/rst/tips_tricks/yaml/tip_group_by.yaml
  docs/docsite/rst/tips_tricks/yaml/tip_group_hosts.yaml
  docs/docsite/rst/tips_tricks/yaml/tip_include_vars.yaml
  docs/docsite/rst/user_guide/index.rst
  docs/docsite/rst/user_guide/playbooks_best_practices.rst
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
  docs/docsite/rst/user_guide/playbooks_error_handling.rst
  docs/docsite/rst/user_guide/playbooks_filters.rst
  docs/docsite/rst/user_guide/playbooks_intro.rst
  docs/docsite/rst/user_guide/playbooks_loops.rst
  docs/docsite/rst/user_guide/playbooks_reuse.rst
  docs/docsite/rst/user_guide/playbooks_reuse_includes.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_templating.rst
  docs/docsite/rst/user_guide/playbooks_tests.rst
  docs/docsite/rst/user_guide/playbooks_variables.rst
Labels: windows, core_review, support:core, docs, docsite, docs_only, affects_2.14

#78139 Update README.md
  hacking/README.md
Labels: needs_triage, core_review, support:core, new_contributor, docs, small_patch, affects_2.14

#78157 Fix documentation with misleading data type
  lib/ansible/modules/copy.py
Labels: module, core_review, support:core, new_contributor, docs, small_patch, affects_2.14

#78127 EOL Ansible 5
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, core_review, support:core, docs, small_patch, has_issue, affects_2.12, docs_only

#78135 set canonical url for 2.3 release
  docs/docsite/_themes/srtd/layout.html
Labels: needs_revision, backport, affects_2.3, needs_ci, support:core, docs, small_patch, has_issue, docs_only

#78060 Use customized setraw to prevent output issues
  lib/ansible/plugins/action/pause.py
Labels: core_review, support:core, bug, affects_2.14

#77435 Support for Python 3.11+ tomllib for inventory
  lib/ansible/cli/inventory.py
  lib/ansible/plugins/inventory/toml.py
  test/integration/targets/ansible-inventory/files/valid_sample.toml
  test/integration/targets/ansible-inventory/runme.sh
  test/integration/targets/ansible-inventory/tasks/main.yml
  test/integration/targets/ansible-inventory/tasks/toml.yml
  test/integration/targets/ansible-inventory/test.yml
Labels: WIP, support:community, support:core, feature, affects_2.14

#78158 [dnf] Fix skip_broken, add test coverage (v2)
  changelogs/fragments/73072-dnf-skip-broken.yml
  lib/ansible/modules/dnf.py
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/tasks/nobest.yml
  test/integration/targets/dnf/tasks/skip_broken_and_nobest.yml
  test/integration/targets/dnf/vars/main.yml
Labels: module, core_review, support:core, new_contributor, bug, P3, affects_2.14

#78173 Make unit test for missing git executable more generic
  test/units/galaxy/test_collection_install.py
Labels: needs_triage, core_review, support:core, bug, affects_2.14

#78138 elaborate on import/include conditional example
  docs/docsite/rst/user_guide/playbooks_conditionals.rst
Labels: core_review, support:core, docs, has_issue, docs_only, affects_2.14

#78140 Update vault.rst
  docs/docsite/rst/user_guide/vault.rst
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.14

#78161 doc: filter: unvault: fix example
  lib/ansible/plugins/lookup/unvault.py
Labels: core_review, support:core, bug, small_patch, docs_only, affects_2.14

#78165 Move undefined check from concat to finalize
  changelogs/fragments/78156-undefined-check-in-finalize.yml
  lib/ansible/template/__init__.py
  lib/ansible/template/native_helpers.py
  test/integration/targets/template/runme.sh
  test/integration/targets/template/undefined_in_import-import.j2
  test/integration/targets/template/undefined_in_import.j2
  test/integration/targets/template/undefined_in_import.yml
Labels: core_review, support:core, bug, has_issue, affects_2.14

#78170 use 'command -v' instead of 'which' in Makefile
  Makefile
Labels: core_review, support:core, bug, small_patch, affects_2.14

#78171 Clarify that sbin directories are always looked at in get_bin_path
  lib/ansible/module_utils/common/process.py
Labels: core_review, support:core, docs, small_patch, affects_2.14
