Repository ansible/ansible, pull requests merged in 2022-10, with the labels that each got.

#78966 Docs: Add code-block wrappers to code examples: testing_documentation.rst
  docs/docsite/rst/dev_guide/testing_documentation.rst
Labels: needs_triage, core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, affects_2.15

#78972 added code-blocks according to #78962
  docs/docsite/rst/dev_guide/testing_pep8.rst
Labels: needs_triage, core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, affects_2.15

#78968 Docs: Added code-block wrappers to code examples: developing_module_utilities.rst #78961
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docsite, hacktoberfest, docs_only, affects_2.15

#78969 added code-blocks according to #78963
  docs/docsite/rst/dev_guide/testing.rst
Labels: core_review, support:core, docs, hacktoberfest, docs_only, affects_2.15

#78970 Docs: Add code-block wrappers to code examples in style_guide
  docs/docsite/rst/dev_guide/style_guide/basic_rules.rst
  docs/docsite/rst/dev_guide/style_guide/index.rst
Labels: core_review, support:core, docs, hacktoberfest, docs_only, affects_2.15

#78974 #78971 Update module_lifecycle.rst
  docs/docsite/rst/dev_guide/module_lifecycle.rst
Labels: core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#78979 #78965 Adding the code-block to prevent the translation
  docs/docsite/rst/dev_guide/testing/sanity/ignores.rst
Labels: core_review, support:core, new_contributor, docs, docsite, hacktoberfest, docs_only, affects_2.15

#78977 Adds code-block in collection documentation
  docs/docsite/rst/dev_guide/developing_collections_distributing.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, docsite, hacktoberfest, docs_only, affects_2.15

#78985 docs - Use code-block to format examples in Windows module development walkthrough
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
Labels: core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#78936 New release 2.12.10rc1
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.10rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#78944 New release v2.14.0b2
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.0b2_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.14

#78957 Docs: true/false with boolean values in docsite/rst/os_guide
  docs/docsite/rst/os_guide/intro_bsd.rst
  docs/docsite/rst/os_guide/windows_dsc.rst
  docs/docsite/rst/os_guide/windows_setup.rst
  docs/docsite/rst/os_guide/windows_usage.rst
Labels: core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#78959 Docs: Provide descriptive labels for http references
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/testing/sanity/mypy.rst
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
Labels: core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#78994 Update Ansible release version to v2.12.10rc1.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, core_review, support:core, small_patch, affects_2.12

#78995 Update Ansible release version to v2.13.5rc1.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, core_review, support:core, small_patch, affects_2.13

#78996 Update Ansible release version to v2.14.0b2.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, core_review, support:core, small_patch, affects_2.14

#78951 Update porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, hacktoberfest, docs_only, affects_2.15

#78952 Update porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_3.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, hacktoberfest, docs_only, affects_2.15

#78953 Update porting_guide_4.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
Labels: core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#78954 Update porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: core_review, support:core, new_contributor, docs, small_patch, hacktoberfest, docs_only, affects_2.15

#79005 Docs: Replace Latin terms in the dev_guide (#78997)
  docs/docsite/rst/dev_guide/debugging.rst
  docs/docsite/rst/dev_guide/developing_api.rst
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/dev_guide/developing_core.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/testing/sanity/future-import-boilerplate.rst
  docs/docsite/rst/dev_guide/testing/sanity/no-unicode-literals.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_integration_legacy.rst
Labels: core_review, support:core, new_contributor, docs, docsite, hacktoberfest, docs_only, affects_2.15

#78950 Docs: true/false with boolean values in reference_appendices
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/general_precedence.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
Labels: needs_triage, core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#79007 docs: replace latin terms with english in the os_guide directory
  docs/docsite/rst/os_guide/windows_faq.rst
  docs/docsite/rst/os_guide/windows_performance.rst
  docs/docsite/rst/os_guide/windows_usage.rst
  docs/docsite/rst/os_guide/windows_winrm.rst
Labels: core_review, support:core, docs, hacktoberfest, docs_only, affects_2.15

#78958 Docs: true/false with boolean values in docsite/rst/playbook_guide
  docs/docsite/rst/playbook_guide/playbooks_blocks.rst
  docs/docsite/rst/playbook_guide/playbooks_checkmode.rst
  docs/docsite/rst/playbook_guide/playbooks_conditionals.rst
  docs/docsite/rst/playbook_guide/playbooks_debugger.rst
  docs/docsite/rst/playbook_guide/playbooks_error_handling.rst
  docs/docsite/rst/playbook_guide/playbooks_loops.rst
  docs/docsite/rst/playbook_guide/playbooks_privilege_escalation.rst
  docs/docsite/rst/playbook_guide/playbooks_prompts.rst
  docs/docsite/rst/playbook_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
  docs/docsite/rst/playbook_guide/playbooks_vars_facts.rst
Labels: core_review, support:core, new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#79009 No latin terms
  docs/docsite/rst/playbook_guide/playbooks_intro.rst
  docs/docsite/rst/playbook_guide/playbooks_loops.rst
  docs/docsite/rst/playbook_guide/playbooks_python_version.rst
  docs/docsite/rst/playbook_guide/playbooks_reuse.rst
Labels: needs_rebase, merge_commit, support:core, docs, docs_only, affects_2.15

#79013 Docs: Replace Latin in the network folder
  docs/docsite/rst/network/getting_started/first_inventory.rst
  docs/docsite/rst/network/getting_started/index.rst
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
Labels: networking, core_review, support:core, docs, docsite, hacktoberfest, docs_only, affects_2.15

#78984 Docs: Typo in Alibaba Cloud Compute Services Guide
  docs/docsite/rst/scenario_guides/guide_alicloud.rst
Labels: core_review, support:core, docs, hacktoberfest, docs_only, affects_2.15

#79011 Docs: Replace Latin in the porting guides
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
Labels: core_review, support:core, new_contributor, bug, docs, hacktoberfest, docs_only, affects_2.15

#79010 Docs: Replace Latin in reference_appendices
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/general_precedence.rst
  docs/docsite/rst/reference_appendices/glossary.rst
  docs/docsite/rst/reference_appendices/python_3_support.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: core_review, support:core, docs, hacktoberfest, docs_only, affects_2.15

#79008 Docs: Replace Latin in the scenario_guides
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/scenario_guides/guide_rax.rst
  docs/docsite/rst/scenario_guides/guide_scaleway.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.15

#78913 Do not crash templating when filter/test name is not a valid Ansible plugin name
  changelogs/fragments/78913-template-missing-filter-test.yml
  lib/ansible/template/__init__.py
  test/integration/targets/templating/tasks/main.yml
  test/integration/targets/templating/templates/invalid_test_name.j2
Labels: core_review, support:community, support:core, bug, has_issue, affects_2.15

#78980 Docs: true/false with boolean values
  docs/docsite/rst/community/collection_contributors/collection_integration_about.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_updating.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/tips_tricks/sample_setup.rst
Labels: needs_revision, support:core, new_contributor, docs, docsite, hacktoberfest, docs_only, affects_2.15

#79017 ansible-vault: add newline to the output of the 'encrypt_string' command
  changelogs/fragments/79017-ansible-vault-string-encryption-ending-with-newline.yml
  lib/ansible/cli/vault.py
Labels: needs_triage, core_review, support:core, new_contributor, bug, affects_2.15

#78990 fixes to FA inheritance
  lib/ansible/playbook/base.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/task.py
  test/integration/targets/omit/C75692.yml
  test/integration/targets/omit/runme.sh
Labels: core_review, support:community, support:core, bug, affects_2.15

#79037 Docs: Add code-block wrappers to code examples
  docs/docsite/rst/scenario_guides/guide_alicloud.rst
Labels: new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#79047 Docs: Add code-block wrappers in faq.rst
  docs/docsite/rst/reference_appendices/faq.rst
Labels: new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#79048 Docs: Add code-block wrappers in lookup.rst & strategy.rst
  docs/docsite/rst/plugins/lookup.rst
  docs/docsite/rst/plugins/strategy.rst
Labels: new_contributor, docs, hacktoberfest, docs_only, affects_2.15

#79015 Use python re to parse service output instead of grep
  changelogs/fragments/78541-service-facts-re.yml
  lib/ansible/modules/service_facts.py
Labels: module, core_review, support:core, bug, affects_2.15

#79026 [2.14] Do not crash templating when filter/test name is not a valid Ansible plugin name
  changelogs/fragments/78913-template-missing-filter-test.yml
  lib/ansible/template/__init__.py
  test/integration/targets/templating/tasks/main.yml
  test/integration/targets/templating/templates/invalid_test_name.j2
Labels: backport, needs_triage, bug, affects_2.14

#79050 [stable-2.14] Use python re to parse service output instead of grep (#79015)
  changelogs/fragments/78541-service-facts-re.yml
  lib/ansible/modules/service_facts.py
Labels: backport, module, needs_triage, affects_2.14

#79024 Omit full fix
  changelogs/fragments/fix_omit_key.yml
  lib/ansible/playbook/base.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/task.py
  test/integration/targets/omit/75692.yml
  test/integration/targets/omit/C75692.yml
  test/integration/targets/omit/aliases
  test/integration/targets/omit/runme.sh
Labels: backport, needs_triage, bug, affects_2.14

#79061 2.14: Fix using FQCN for flush_handlers (#79057)
  changelogs/fragments/79023-fix-flush_handlers-fqcn.yml
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/handlers/runme.sh
  test/integration/targets/handlers/test_fqcn_meta_flush_handlers.yml
Labels: backport, needs_triage, bug, affects_2.14

#79062 [stable-2.14] Ensure that we do not squash keywords in validate (#79049)
  changelogs/fragments/79021-dont-squash-in-validate.yml
  lib/ansible/playbook/base.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/task.py
  test/integration/targets/keyword_inheritance/aliases
  test/integration/targets/keyword_inheritance/roles/whoami/tasks/main.yml
  test/integration/targets/keyword_inheritance/runme.sh
  test/integration/targets/keyword_inheritance/test.yml
Labels: backport, needs_triage, affects_2.14

#79065 Backport hactoberfest 1
  docs/docsite/rst/dev_guide/developing_collections_distributing.rst
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/module_lifecycle.rst
  docs/docsite/rst/dev_guide/style_guide/basic_rules.rst
  docs/docsite/rst/dev_guide/style_guide/index.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing/sanity/ignores.rst
  docs/docsite/rst/dev_guide/testing_documentation.rst
  docs/docsite/rst/dev_guide/testing_pep8.rst
  docs/docsite/rst/os_guide/intro_bsd.rst
  docs/docsite/rst/os_guide/windows_dsc.rst
  docs/docsite/rst/os_guide/windows_setup.rst
  docs/docsite/rst/os_guide/windows_usage.rst
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_gce.rst
  docs/docsite/rst/scenario_guides/guide_rax.rst
  docs/docsite/rst/scenario_guides/guide_scaleway.rst
  lib/ansible/modules/apt_key.py
Labels: backport, module, needs_triage, docs, docsite, docs_only, affects_2.14

#79067 Backport hacktoberfest 2
  docs/docsite/rst/dev_guide/debugging.rst
  docs/docsite/rst/dev_guide/developing_api.rst
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/dev_guide/developing_core.rst
  docs/docsite/rst/dev_guide/developing_inventory.rst
  docs/docsite/rst/dev_guide/developing_modules_checklist.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/testing/sanity/future-import-boilerplate.rst
  docs/docsite/rst/dev_guide/testing/sanity/no-unicode-literals.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_integration_legacy.rst
  docs/docsite/rst/os_guide/windows_faq.rst
  docs/docsite/rst/os_guide/windows_performance.rst
  docs/docsite/rst/os_guide/windows_usage.rst
  docs/docsite/rst/os_guide/windows_winrm.rst
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/general_precedence.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
Labels: backport, needs_triage, docs, docsite, docs_only, affects_2.14

#79070 Backport hacktoberfest 4
  docs/docsite/rst/community/collection_contributors/collection_integration_about.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_updating.rst
  docs/docsite/rst/dev_guide/developing_module_utilities.rst
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/testing/sanity/mypy.rst
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
  docs/docsite/rst/plugins/inventory.rst
  docs/docsite/rst/plugins/lookup.rst
  docs/docsite/rst/plugins/strategy.rst
  docs/docsite/rst/reference_appendices/YAMLSyntax.rst
  docs/docsite/rst/reference_appendices/faq.rst
  docs/docsite/rst/reference_appendices/general_precedence.rst
  docs/docsite/rst/reference_appendices/glossary.rst
  docs/docsite/rst/reference_appendices/python_3_support.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
  docs/docsite/rst/scenario_guides/guide_alicloud.rst
  docs/docsite/rst/scenario_guides/guide_azure.rst
  docs/docsite/rst/scenario_guides/guide_packet.rst
  docs/docsite/rst/scenario_guides/guide_rax.rst
  docs/docsite/rst/scenario_guides/guide_scaleway.rst
  docs/docsite/rst/tips_tricks/sample_setup.rst
Labels: backport, networking, needs_triage, docs, docsite, docs_only, affects_2.14

#79068 Fixed Latin words, replaced all via with either through or by (#79004)
  docs/docsite/rst/network/user_guide/platform_cnos.rst
  docs/docsite/rst/network/user_guide/platform_dellos10.rst
  docs/docsite/rst/network/user_guide/platform_dellos6.rst
  docs/docsite/rst/network/user_guide/platform_dellos9.rst
  docs/docsite/rst/network/user_guide/platform_enos.rst
  docs/docsite/rst/network/user_guide/platform_eos.rst
  docs/docsite/rst/network/user_guide/platform_eric_eccli.rst
  docs/docsite/rst/network/user_guide/platform_exos.rst
  docs/docsite/rst/network/user_guide/platform_frr.rst
  docs/docsite/rst/network/user_guide/platform_icx.rst
  docs/docsite/rst/network/user_guide/platform_ios.rst
  docs/docsite/rst/network/user_guide/platform_iosxr.rst
  docs/docsite/rst/network/user_guide/platform_ironware.rst
  docs/docsite/rst/network/user_guide/platform_junos.rst
  docs/docsite/rst/network/user_guide/platform_netconf_enabled.rst
  docs/docsite/rst/network/user_guide/platform_netvisor.rst
  docs/docsite/rst/network/user_guide/platform_nos.rst
  docs/docsite/rst/network/user_guide/platform_nxos.rst
  docs/docsite/rst/network/user_guide/platform_routeros.rst
  docs/docsite/rst/network/user_guide/platform_slxos.rst
  docs/docsite/rst/network/user_guide/platform_voss.rst
  docs/docsite/rst/network/user_guide/platform_vyos.rst
  docs/docsite/rst/network/user_guide/platform_weos4.rst
Labels: backport, networking, needs_triage, docs, docsite, docs_only, affects_2.14

#79063 Custom salt for ansible-vault encrypt
  changelogs/fragments/71424-deterministic-vault-encode.yml
  lib/ansible/config/base.yml
  lib/ansible/parsing/vault/__init__.py
  test/integration/targets/ansible-vault/runme.sh
Labels: feature, affects_2.15

#79073 ansible-config, only subvalues should use yaml shorthand
  changelogs/fragments/adjust_config_list.yml
  lib/ansible/cli/config.py
Labels: needs_triage, bug, affects_2.15

#79069 Backport hacktoberfest 3
  docs/docsite/rst/network/getting_started/first_inventory.rst
  docs/docsite/rst/network/getting_started/index.rst
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
  docs/docsite/rst/playbook_guide/playbooks_blocks.rst
  docs/docsite/rst/playbook_guide/playbooks_checkmode.rst
  docs/docsite/rst/playbook_guide/playbooks_conditionals.rst
  docs/docsite/rst/playbook_guide/playbooks_debugger.rst
  docs/docsite/rst/playbook_guide/playbooks_error_handling.rst
  docs/docsite/rst/playbook_guide/playbooks_intro.rst
  docs/docsite/rst/playbook_guide/playbooks_loops.rst
  docs/docsite/rst/playbook_guide/playbooks_privilege_escalation.rst
  docs/docsite/rst/playbook_guide/playbooks_prompts.rst
  docs/docsite/rst/playbook_guide/playbooks_python_version.rst
  docs/docsite/rst/playbook_guide/playbooks_reuse.rst
  docs/docsite/rst/playbook_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
  docs/docsite/rst/playbook_guide/playbooks_vars_facts.rst
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/porting_guides/porting_guide_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_2.3.rst
  docs/docsite/rst/porting_guides/porting_guide_2.4.rst
  docs/docsite/rst/porting_guides/porting_guide_2.7.rst
  docs/docsite/rst/porting_guides/porting_guide_2.8.rst
  docs/docsite/rst/porting_guides/porting_guide_3.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guide_base_2.10.rst
  docs/docsite/rst/porting_guides/porting_guide_core_2.12.rst
  docs/docsite/rst/scenario_guides/guide_alicloud.rst
Labels: backport, networking, needs_triage, docs, docsite, docs_only, affects_2.14

#76997 copy module - fix copying src subdirs with remote_src=True
  changelogs/fragments/76997-fix-copy-subdirs-with-remote-src.yml
  lib/ansible/modules/copy.py
  test/integration/targets/copy/tasks/tests.yml
Labels: module, core_review, support:core, bug, affects_2.14

#77733 Fix empty str defaults in config/base.yml
  docs/templates/config.rst.j2
  lib/ansible/config/base.yml
Labels: core_review, support:core, docs, affects_2.14

#79082 docs: fix typos
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/collection_contributors/collection_release_with_branches.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
Labels: needs_triage, new_contributor, docs, docsite, docs_only, affects_2.15

#79086 Added code-block wrappers in implicit_localhost.rst
  docs/docsite/rst/inventory/implicit_localhost.rst
Labels: needs_triage, new_contributor, docs, has_issue, docs_only, affects_2.15

#79085 Docs: syntax error in Parsing semi-structured text with Ansible
  docs/docsite/rst/network/user_guide/cli_parsing.rst
Labels: networking, needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79089 [docs] community_steering_committee: add a new member
  docs/docsite/rst/community/steering/community_steering_committee.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79088 Misc Typo fixes
  lib/ansible/config/base.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/module_utils/common/locale.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/include_vars.py
  lib/ansible/modules/set_fact.py
  lib/ansible/modules/set_stats.py
  lib/ansible/plugins/loader.py
Labels: module, docs, affects_2.15

#79074 New release v2.12.10
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.10_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.12

#79076 New release v2.14.0b3
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.0b3_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#79093 Add code-block wrappers to code examples in playbooks_filters.rst
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
Labels: docs, small_patch, hacktoberfest, docs_only, affects_2.15

#79092 Apply minor formatting changes to "playbooks directory" section
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79098 Update Ansible release version to v2.12.10.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.12

#79099 Update Ansible release version to v2.13.5.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.13

#79091 Cache field attributes list on the playbook classes
  changelogs/fragments/cache-fa-on-pb-cls.yml
  lib/ansible/playbook/base.py
Labels: feature, affects_2.15

#79100 Update Ansible release version to v2.14.0b3.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#79103 ansible-test - Update pylint to 2.15.4.
  changelogs/fragments/ansible-test-pylint-2.15.4.yml
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: test, bug, affects_2.15

#79104 [stable-2.14] ansible-test - Update pylint to 2.15.4.
  changelogs/fragments/ansible-test-pylint-2.15.4.yml
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: backport, test, bug, affects_2.14

#76551 fix password lookup's use of f=v settings
  lib/ansible/plugins/lookup/password.py
  test/units/plugins/lookup/test_password.py
Labels: support:core, bug, needs_verified, affects_2.13

#78828 Disable IP address lookups in iptables -module when listing
  changelogs/fragments/78828-iptables-option-to-disable-dns-lookups.yml
  lib/ansible/modules/iptables.py
Labels: module, support:core, new_contributor, feature, affects_2.15

#79079 compile role with all parents in the dep chain
  changelogs/fragments/79079-fix-role-dep-chain.yaml
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/role_include.py
  test/integration/targets/roles/47023.yml
  test/integration/targets/roles/role_dep_chain.yml
  test/integration/targets/roles/roles/47023_role1/defaults/main.yml
  test/integration/targets/roles/roles/47023_role1/tasks/main.yml
  test/integration/targets/roles/roles/47023_role1/vars/main.yml
  test/integration/targets/roles/roles/47023_role2/tasks/main.yml
  test/integration/targets/roles/roles/47023_role3/tasks/main.yml
  test/integration/targets/roles/roles/47023_role4/tasks/main.yml
  test/integration/targets/roles/roles/imported_from_include/tasks/main.yml
  test/integration/targets/roles/roles/include_import_dep_chain/defaults/main.yml
  test/integration/targets/roles/roles/include_import_dep_chain/tasks/main.yml
  test/integration/targets/roles/roles/include_import_dep_chain/vars/main.yml
  test/integration/targets/roles/runme.sh
Labels: WIP, bug, affects_2.15

#79119 jinja2_native: preserve quotes in strings
  changelogs/fragments/79083-jinja2_native-preserve-quotes-in-strings.yml
  lib/ansible/template/native_helpers.py
  test/integration/targets/jinja2_native_types/runme.sh
  test/integration/targets/jinja2_native_types/test_casting.yml
  test/integration/targets/jinja2_native_types/test_concatentation.yml
  test/integration/targets/jinja2_native_types/test_preserving_quotes.yml
Labels: needs_triage, bug, affects_2.15

#79122 Add Ansible community 6.5.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: needs_triage, docs, docs_only, affects_2.15

#79123 Add Ansible community 6.5.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79124 Add Ansible community 6.5.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.13

#79078 ansible-config, only subvalues should use yaml shorthand (#79073)
  changelogs/fragments/adjust_config_list.yml
  lib/ansible/cli/config.py
Labels: backport, needs_triage, bug, affects_2.14

#79113 fix password unit tests
  test/units/plugins/lookup/test_password.py
Labels: needs_triage, affects_2.15

#79116 [stable-2.14] community_steering_committee: add a new member (#79089)
  docs/docsite/rst/community/steering/community_steering_committee.rst
Labels: backport, docs, small_patch, docsite, docs_only, affects_2.14

#79121 Don't assume column index for netmask and broadcast
  changelogs/fragments/79117-bsd-ifconfig-inet-fix.yml
  lib/ansible/module_utils/facts/network/generic_bsd.py
  test/units/module_utils/facts/network/test_generic_bsd.py
Labels: needs_triage, bug, has_issue, affects_2.15

#79131 Fix test for jinja2_native preserve quotes
  test/integration/targets/jinja2_native_types/test_preserving_quotes.yml
Labels: bug, affects_2.15

#79106 fix password lookup's use of f=v settings (#76551)
  lib/ansible/plugins/lookup/password.py
  test/units/plugins/lookup/test_password.py
Labels: backport, needs_triage, bug, affects_2.14

#79132 [stable-2.14] Don't assume column index for netmask and broadcast (#79121)
  changelogs/fragments/79117-bsd-ifconfig-inet-fix.yml
  lib/ansible/module_utils/facts/network/generic_bsd.py
  test/units/module_utils/facts/network/test_generic_bsd.py
Labels: backport, needs_triage, affects_2.14

#79077 Docs: file parameter import_tasks and include_tasks
  lib/ansible/modules/import_tasks.py
  lib/ansible/modules/include_tasks.py
Labels: needs_revision, module, ci_verified, docs, docs_only, affects_2.15

#79136 [Docs] contributor_path: fix refs
  docs/docsite/rst/community/contributor_path.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79138 [Docs] contributor_path: add doc link
  docs/docsite/rst/community/contributor_path.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79090 ansible-galaxy install - delay api check until a role is installed from a server
  changelogs/fragments/ansible-galaxy-install-delay-initial-api-call.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: bug, affects_2.15

#79127 New release v2.14.0rc1
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.0rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#79153 Update Ansible release version to v2.14.0rc1.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#79102 copy, avoid moving non temp remote 'non' files
  changelogs/fragments/dont_move_non_files.yml
  lib/ansible/modules/copy.py
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/src_remote_file_is_not_file.yml
Labels: module, bug, affects_2.15

#79156 remove AnsibleFest banner
  docs/docsite/.templates/banner.html
Labels: docs, small_patch, docs_only, affects_2.15

#79159 ansible-galaxy - fix delayed role api check
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy-role/tasks/main.yml
Labels: needs_triage, bug, small_patch, affects_2.15

#79158 remove AnsibleFest banner (#79156)
  docs/docsite/.templates/banner.html
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.13

#79166 update alpha to next week
  docs/docsite/rst/roadmap/COLLECTIONS_7.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79173 - Docs pull Request: Made changes to notes on #L9 and #L21
  docs/docsite/rst/reference_appendices/python_3_support.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79172 Update communication.rst
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/create_pr_quick_start.rst
  docs/docsite/rst/community/how_can_I_help.rst
  docs/docsite/rst/community/reporting_collections.rst
Labels: new_contributor, docs, docsite, docs_only, affects_2.15

#79170 Update contributor_path.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/index.rst
Labels: new_contributor, docs, docsite, docs_only, affects_2.15

#79160 Added the emphasize changelog
  docs/docsite/rst/community/collection_development_process.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79128 Fix yum exclude example to align to parameter doc
  lib/ansible/modules/yum.py
Labels: module, docs, small_patch, docs_only, affects_2.15

#79114 minor changes in documentation
  docs/docsite/rst/network/getting_started/first_playbook.rst
Labels: networking, new_contributor, docs, docsite, docs_only, affects_2.15

#79072 Setting indentation correctly in the Example section
  lib/ansible/modules/apt_repository.py
Labels: module, stale_ci, new_contributor, docs, docs_only, affects_2.15

#79066 docs: cgroupsv1 is required for ansible-test with docker
  docs/docsite/rst/community/create_pr_quick_start.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79179 Revert "Fix yum exclude example to align to parameter doc (#79128)"
  lib/ansible/modules/yum.py
Labels: module, docs, small_patch, docs_only, affects_2.15

#79182 documentation fix for file module 78988
  lib/ansible/modules/file.py
Labels: module, needs_triage, new_contributor, docs, docs_only, affects_2.15

#79189 managed node requirement amend
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79187 Restrict `wheel` below v0.38.0 under Pythons < 3.7
  changelogs/fragments/79187--wheel-0.38.0.yml
  test/integration/targets/pip/meta/main.yml
  test/integration/targets/pip/tasks/main.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: test, affects_2.15

#79194 ansible-test - Fix pylint support on Python 3.11.
  changelogs/fragments/ansible-test-pylint-2.15.5.yml
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: test, bug, affects_2.15

#79197 [stable-2.14] Restrict `wheel` below v0.38.0 under Pythons < 3.7
  changelogs/fragments/79187--wheel-0.38.0.yml
  test/integration/targets/pip/meta/main.yml
  test/integration/targets/pip/tasks/main.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, bug, affects_2.14

#79198 [stable-2.13] Restrict `wheel` below v0.38.0 under Pythons < 3.7
  changelogs/fragments/79187--wheel-0.38.0.yml
  test/integration/targets/pip/meta/main.yml
  test/integration/targets/pip/tasks/main.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, bug, affects_2.13

#79201 [stable-2.14] ansible-test - Fix pylint support on Python 3.11.
  changelogs/fragments/ansible-test-pylint-2.15.5.yml
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: backport, test, bug, affects_2.14

#79199 [stable-2.12] Restrict `wheel` below v0.38.0 under Pythons < 3.7
  changelogs/fragments/79187--wheel-0.38.0.yml
  test/integration/targets/pip/meta/main.yml
  test/integration/targets/pip/tasks/main.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, bug, affects_2.12

#79200 [stable-2.11] Restrict `wheel` below v0.38.0 under Pythons < 3.7
  changelogs/fragments/79187--wheel-0.38.0.yml
  test/integration/targets/pip/meta/main.yml
  test/integration/targets/pip/tasks/main.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, bug, affects_2.11

#79196 add link to fest videos
  docs/docsite/.templates/banner.html
Labels: docs, docs_only, affects_2.15

#79210 Fix ansible-test-git test for newer git versions.
  test/integration/targets/ansible-test-git/collection-tests/git-common.bash
Labels: affects_2.15

#79212 [stable-2.14] Fix ansible-test-git test for newer git versions.
  test/integration/targets/ansible-test-git/collection-tests/git-common.bash
Labels: backport, affects_2.14

#79213 [stable-2.13] Fix ansible-test-git test for newer git versions.
  test/integration/targets/ansible-test/collection-tests/git-common.bash
Labels: backport, affects_2.13

#79214 [stable-2.12] Fix ansible-test-git test for newer git versions.
  test/integration/targets/ansible-test/collection-tests/git-common.bash
Labels: backport, affects_2.12

#79202 ansible-test - Update base and default containers.
  changelogs/fragments/ansible-test-containers-python-3.11.0.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#79203 ansible-test - Update base and default containers.
  changelogs/fragments/ansible-test-containers-python-3.11.0.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, feature, affects_2.14

#79157 remove AnsibleFest banner (#79156)
  docs/docsite/.templates/banner.html
Labels: backport, docs, small_patch, docs_only, affects_2.14

#79180 Backportapalooza 10 20
  docs/docsite/rst/community/collection_contributors/collection_integration_about.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/collection_contributors/collection_release_with_branches.rst
  docs/docsite/rst/community/collection_development_process.rst
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/create_pr_quick_start.rst
  docs/docsite/rst/community/how_can_I_help.rst
  docs/docsite/rst/community/index.rst
  docs/docsite/rst/community/reporting_collections.rst
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/dev_guide/developing_python_3.rst
  docs/docsite/rst/dev_guide/overview_architecture.rst
  docs/docsite/rst/inventory/implicit_localhost.rst
  docs/docsite/rst/network/getting_started/first_playbook.rst
  docs/docsite/rst/network/user_guide/cli_parsing.rst
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
  docs/docsite/rst/reference_appendices/python_3_support.rst
  lib/ansible/config/base.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/module_utils/common/locale.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/include_vars.py
  lib/ansible/modules/set_fact.py
  lib/ansible/modules/set_stats.py
  lib/ansible/plugins/loader.py
Labels: backport, networking, module, needs_triage, bug, docs, docsite, affects_2.14

#79219 Add Ansible community 7.0.0a2 porting guide
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: docs, docs_only, affects_2.15

#79205 Updating Japanese translation
  docs/docsite/rst/locales/ja/LC_MESSAGES/cli.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/collections_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/command_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/community.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/dev_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/galaxy.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/getting_started.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/index.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/installation_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/inventory_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/module_plugin_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/network.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/os_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/playbook_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/plugins.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/porting_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/roadmap.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/scenario_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/shared_snippets.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/sphinx.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/tips_tricks.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/user_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/vault_guide.po
Labels: backport, needs_triage, docs, has_issue, docs_only, affects_2.14

#79139 [stable-2.14] contributor_path: add doc link (#79138)
  docs/docsite/rst/community/contributor_path.rst
Labels: backport, docs, small_patch, docsite, docs_only, affects_2.14

#79167 update alpha to next week (#79166)
  docs/docsite/rst/roadmap/COLLECTIONS_7.rst
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#79224 [DOC] contributor_path: misc doc fixes
  docs/docsite/rst/community/contributor_path.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79137 [stable-2.14] contributor_path: fix links
  docs/docsite/rst/community/contributor_path.rst
Labels: backport, docs, small_patch, docsite, docs_only, affects_2.14

#79228 Docs: Typos and edits in collections integration
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_running.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_updating.rst
Labels: docs, docsite, docs_only, affects_2.15

#79229 fix url for fest VoD banner
  docs/docsite/.templates/banner.html
Labels: docs, small_patch, docs_only, affects_2.15

#79220 Add Ansible community 7.0.0a2 porting guide (#79219)
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79108 fix password lookup's use of f=v settings (#76551)
  lib/ansible/plugins/lookup/password.py
  test/units/plugins/lookup/test_password.py
Labels: backport, needs_triage, bug, affects_2.13

#79071 Bump antsibull-docs version from 1.6.1 to 1.7.0
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, bug, has_issue, affects_2.15

#79155 copy, avoid moving non temp remote 'non' files (#79102)
  changelogs/fragments/dont_move_non_files.yml
  lib/ansible/modules/copy.py
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/src_remote_file_is_not_file.yml
Labels: backport, module, needs_triage, bug, affects_2.13

#79143 [2.13] ansible-galaxy - fix unnecessary api check when installing role
  changelogs/fragments/ansible-galaxy-install-delay-initial-api-call.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy-role/tasks/main.yml
  test/integration/targets/ansible-galaxy/runme.sh
Labels: backport, needs_triage, bug, affects_2.13

#79133 [stable-2.13] Don't assume column index for netmask and broadcast (#79121)
  changelogs/fragments/79117-bsd-ifconfig-inet-fix.yml
  lib/ansible/module_utils/facts/network/generic_bsd.py
  test/units/module_utils/facts/network/test_generic_bsd.py
Labels: backport, needs_triage, affects_2.13

#79233 stable docs build: do not use YAML parsing/serialization for .deps files
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: bug, affects_2.15

#79234 stable docs build: do not use YAML parsing/serialization for .deps fi…
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: backport, docs, affects_2.14

#79231 Bump antsibull-docs version from 1.6.1 to 1.7.0. (#79071)
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: backport, test, docs, affects_2.14

#79235 ansible-test - Update default container.
  changelogs/fragments/ansible-test-containers-docs-build.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#79236 ansible-test - Update default container.
  changelogs/fragments/ansible-test-containers-docs-build.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, feature, affects_2.14

#79217 Docs: Typos and edits in collections reviews
  docs/docsite/rst/community/collection_contributors/collection_reviewing.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/maintainers_workflow.rst
Labels: docs, docsite, docs_only, affects_2.15

#79238 Communication docs: note that editing Matrix messages causes IRC spam
  docs/docsite/rst/community/communication.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79242 [2.14] Communication docs: note that editing Matrix messages causes IRC spam
  docs/docsite/rst/community/communication.rst
Labels: backport, needs_triage, docs, small_patch, docsite, docs_only, affects_2.14

#79239 [stable-2.14] contributor_path: misc doc fixes
  docs/docsite/rst/community/contributor_path.rst
Labels: backport, needs_triage, docs, small_patch, docsite, docs_only, affects_2.14

#79241 [2.13] Communication docs: note that editing Matrix messages causes IRC spam
  docs/docsite/rst/community/communication.rst
Labels: backport, needs_triage, docs, small_patch, docsite, docs_only, affects_2.13

#79237 [2.13] stable docs build: do not use YAML parsing/serialization for .deps files
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: backport, needs_triage, bug, affects_2.13

#79243 collection roles dont support plugins
  docs/docsite/rst/collections_guide/collections_using_playbooks.rst
  docs/docsite/rst/playbook_guide/playbooks_reuse_roles.rst
Labels: docs, docs_only, affects_2.15

#79222 plugins/lookup/pipe: docs typo fixes
  lib/ansible/plugins/lookup/pipe.py
Labels: docs, small_patch, docs_only, affects_2.15

#79230 File lookup handle missing file more gracefully
  changelogs/fragments/file_lookup_fix.yml
  lib/ansible/plugins/lookup/file.py
Labels: bug, traceback, affects_2.15

#79209 mention acl in permissions errors
  changelogs/fragments/mention_acl.yml
  lib/ansible/plugins/action/__init__.py
  test/units/plugins/action/test_action.py
Labels: bug, affects_2.15

#79254 add ansible 7 porting guide to index page
  docs/docsite/rst/porting_guides/porting_guides.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79247 Backportapalooza 10 27
  docs/docsite/.templates/banner.html
  docs/docsite/rst/collections_guide/collections_using_playbooks.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_running.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_updating.rst
  docs/docsite/rst/community/collection_contributors/collection_reviewing.rst
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/maintainers_workflow.rst
  docs/docsite/rst/installation_guide/intro_installation.rst
  docs/docsite/rst/playbook_guide/playbooks_reuse_roles.rst
  lib/ansible/modules/file.py
  lib/ansible/plugins/lookup/pipe.py
Labels: backport, module, needs_triage, docs, docsite, docs_only, affects_2.14
