Repository ansible/ansible, pull requests merged in 2022-12, with the labels that each got.

#79485 Docs: Update intersphinx links for Ansible 7
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_5.inv
  docs/docsite/ansible_2_6.inv
  docs/docsite/ansible_2_7.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_3.inv
  docs/docsite/ansible_4.inv
  docs/docsite/ansible_5.inv
  docs/docsite/ansible_6.inv
  docs/docsite/ansible_7.inv
  docs/docsite/jinja2.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
  docs/docsite/sphinx_conf/core_lang_conf.py
Labels: docs, docs_only, affects_2.15

#79510 Allow test to run on system with selinux enabled
  test/units/module_utils/basic/test_filesystem.py
Labels: affects_2.15

#79528 New release v2.13.7
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.7_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, affects_2.13

#79529 Update Ansible release version to v2.13.7.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.13

#79531 Don't use color in jinja_plugins test.
  test/integration/targets/jinja_plugins/tasks/main.yml
Labels: affects_2.15

#79533 [stable-2.14] Don't use color in jinja_plugins test.
  test/integration/targets/jinja_plugins/tasks/main.yml
Labels: backport, affects_2.14

#79534 [stable-2.13] Don't use color in jinja_plugins test.
  test/integration/targets/jinja_plugins/tasks/main.yml
Labels: backport, affects_2.13

#79536 Handle line wraps in jinja_plugins test.
  test/integration/targets/jinja_plugins/tasks/main.yml
Labels: affects_2.15

#79530 ansible-test - Fix container detection.
  changelogs/fragments/ansible-test-container-management.yml
  test/lib/ansible_test/_internal/cgroup.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/dev/container_probe.py
  test/lib/ansible_test/_internal/docker_util.py
Labels: test, bug, small_patch, affects_2.15

#79537 [stable-2.14] Handle line wraps in jinja_plugins test.
  test/integration/targets/jinja_plugins/tasks/main.yml
Labels: backport, affects_2.14

#79522 Prevent stdio deadlock in forked children
  changelogs/fragments/fork_safe_stdio.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/utils/display.py
  test/integration/targets/fork_safe_stdio/aliases
  test/integration/targets/fork_safe_stdio/callback_plugins/spewstdio.py
  test/integration/targets/fork_safe_stdio/hosts
  test/integration/targets/fork_safe_stdio/run-with-pty.py
  test/integration/targets/fork_safe_stdio/runme.sh
  test/integration/targets/fork_safe_stdio/test.yml
  test/integration/targets/fork_safe_stdio/vendored_pty.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
  test/sanity/ignore.txt
Labels: test, bug, has_issue, affects_2.15

#79544 Porting Guide for ansible-community v6 update for 6.7.0
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: test, docs, docs_only, affects_2.15

#79539 [2.14] Prevent stdio deadlock in forked children (#79522)
  changelogs/fragments/fork_safe_stdio.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/utils/display.py
  test/integration/targets/fork_safe_stdio/aliases
  test/integration/targets/fork_safe_stdio/callback_plugins/spewstdio.py
  test/integration/targets/fork_safe_stdio/hosts
  test/integration/targets/fork_safe_stdio/run-with-pty.py
  test/integration/targets/fork_safe_stdio/runme.sh
  test/integration/targets/fork_safe_stdio/test.yml
  test/integration/targets/fork_safe_stdio/vendored_pty.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
  test/sanity/ignore.txt
Labels: backport, test, bug, affects_2.14

#79550 New release v2.14.1
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.1_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#79520 Fix hardcoded python call
  docs/docsite/Makefile
Labels: new_contributor, bug, docs, small_patch, docs_only, affects_2.15

#79551 Update Ansible release version to v2.14.1.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#79514 Backportapalooza 12 01
  docs/docsite/rst/community/collection_development_process.rst
  docs/docsite/rst/getting_started/get_started_inventory.rst
  docs/docsite/rst/inventory_guide/intro_inventory.rst
  lib/ansible/cli/galaxy.py
Labels: backport, needs_triage, docs, docsite, docs_only, affects_2.14

#79515 Docs: Update intersphinx links for Ansible 7 (#79485)
  docs/docsite/ansible_2_10.inv
  docs/docsite/ansible_2_5.inv
  docs/docsite/ansible_2_6.inv
  docs/docsite/ansible_2_7.inv
  docs/docsite/ansible_2_8.inv
  docs/docsite/ansible_3.inv
  docs/docsite/ansible_4.inv
  docs/docsite/ansible_5.inv
  docs/docsite/ansible_6.inv
  docs/docsite/ansible_7.inv
  docs/docsite/jinja2.inv
  docs/docsite/python3.inv
  docs/docsite/sphinx_conf/all_conf.py
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
  docs/docsite/sphinx_conf/core_lang_conf.py
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79418 rejectlist backportable fix
  changelogs/fragments/rejectlist_fix.yml
  lib/ansible/plugins/loader.py
Labels: backport, stale_ci, bug, affects_2.14

#79490 [backport][2.14][PRs #78402 #79289] Enable the `reboot` integration test in CI
  test/integration/targets/reboot/aliases
  test/integration/targets/reboot/tasks/main.yml
Labels: backport, needs_triage, affects_2.14

#79500 [stable-2.14] ansible-test - Fix completion error in Python 3.11.
  changelogs/fragments/ansible-test-fix-python-3.11-traceback.yml
  test/lib/ansible_test/_internal/cli/argparsing/parsers.py
Labels: backport, test, bug, affects_2.14

#79503 local connection: avoid tb when running in container with invalid user
  changelogs/fragments/local_bad_user.yml
  lib/ansible/plugins/connection/local.py
Labels: backport, needs_triage, bug, affects_2.14

#79517 Removed sorting to preserve original order (#74839)
  changelogs/fragments/unsorted.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/inventory_script/inventory.json
Labels: backport, bug, affects_2.14

#79525 [stable-2.14] Fix file touch check mode result (#79360) (#79422)
  changelogs/fragments/79525-fix-file-touch-check-mode-status.yaml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/main.yml
Labels: backport, module, needs_triage, bug, affects_2.14

#79486 [backport][2.14][PR #79468] Set explicit meta `long_description_content_type`
  setup.cfg
Labels: backport, needs_triage, small_patch, affects_2.14

#79487 [backport][2.13][PR #79468] Set explicit meta `long_description_content_type`
  setup.cfg
Labels: backport, needs_triage, small_patch, affects_2.13

#79491 [backport][2.13][PRs #78402 #79289] Enable the `reboot` integration test in CI
  test/integration/targets/reboot/aliases
  test/integration/targets/reboot/tasks/main.yml
Labels: backport, needs_triage, affects_2.13

#79526 [stable-2.13] Fix file touch check mode result (backport of #79422)
  changelogs/fragments/79526-fix-file-touch-check-mode-status.yaml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/main.yml
Labels: backport, module, bug, affects_2.13

#79538 [stable-2.13] ansible-test - Improve container management.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-container-management.yml
  changelogs/fragments/ansible-test-container-tmpfs.yml
  changelogs/fragments/ansible-test-generalize-become.yml
  changelogs/fragments/ansible-test-more-remotes.yml
  changelogs/fragments/ansible-test-podman-create-retry.yml
  changelogs/fragments/ansible-test-remote-acl.yml
  changelogs/fragments/ansible-test-remote-become.yml
  changelogs/fragments/ansible-test-ubuntu-bootstrap-fix.yml
  changelogs/fragments/ansible-test-verify-executables.yml
  docs/docsite/rst/community/create_pr_quick_start.rst
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  docs/docsite/rst/dev_guide/testing_running_locally.rst
  test/integration/targets/ansible-test-container/aliases
  test/integration/targets/ansible-test-container/runme.py
  test/integration/targets/ansible-test-container/runme.sh
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/become.py
  test/lib/ansible_test/_internal/cgroup.py
  test/lib/ansible_test/_internal/cli/argparsing/parsers.py
  test/lib/ansible_test/_internal/cli/environments.py
  test/lib/ansible_test/_internal/cli/parsers/key_value_parsers.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/coverage.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/shell/__init__.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/constants.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/dev/__init__.py
  test/lib/ansible_test/_internal/dev/container_probe.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/provisioning.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/thread.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/unwanted.py
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
  test/lib/ansible_test/_util/target/setup/check_systemd_cgroup_v1.sh
  test/lib/ansible_test/_util/target/setup/probe_cgroups.py
  test/utils/shippable/alpine.sh
  test/utils/shippable/fedora.sh
  test/utils/shippable/ubuntu.sh
Labels: needs_revision, needs_rebase, backport, feature, affects_2.13

#79492 [backport][2.12][PRs #78402 #79289] Enable the `reboot` integration test in CI
  test/integration/targets/reboot/aliases
  test/integration/targets/reboot/tasks/main.yml
Labels: backport, affects_2.12

#79488 [backport][2.12][PR #79468] Set explicit meta `long_description_content_type`
  setup.py
Labels: backport, needs_triage, small_patch, affects_2.12

#79553 Add Ansible community 7.1.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: needs_triage, docs, docs_only, affects_2.15

#79552 Update windows_faq.rst: python-pip -> python3-pip package
  docs/docsite/rst/os_guide/windows_faq.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79546 Set locale for python apt
  changelogs/fragments/79546-apt-fix-setting-locale.yml
  lib/ansible/modules/apt.py
Labels: module, bug, affects_2.15

#79560 ansible-test - fix warning to include image name
  changelogs/fragments/ansible-test-fix-warning-msg.yml
  test/lib/ansible_test/_internal/containers.py
Labels: test, bug, affects_2.15

#79562 Update docs for the `compile` sanity test.
  docs/docsite/rst/dev_guide/developing_collections_testing.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing/sanity/compile.rst
  docs/docsite/rst/dev_guide/testing_compile.rst
Labels: docs, docsite, docs_only, affects_2.15

#79563 Remove obsolete legacy integration test docs.
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_integration_legacy.rst
Labels: docs, docsite, docs_only, affects_2.15

#79461 fix: broken link
  lib/ansible/modules/command.py
Labels: needs_revision, module, new_contributor, docs, small_patch, docs_only, affects_2.15

#79566 Fix `:ref:` usage in testing docs.
  docs/docsite/rst/dev_guide/testing_running_locally.rst
Labels: docs, docsite, docs_only, affects_2.15

#78713 Simplify AnsibleJ2Vars by using ChainMap for vars
  changelogs/fragments/ansiblej2vars-chainmap.yml
  lib/ansible/template/vars.py
  test/units/template/test_vars.py
Labels: core_review, support:core, feature, affects_2.14

#79567 2.15.0 will release 2023-05-15
  docs/docsite/rst/roadmap/ROADMAP_2_15.rst
Labels: needs_triage, WIP, docs, docs_only, affects_2.15

#79572 [stable-2.13] Improve split integration test. (#78738)
  test/integration/targets/split/aliases
  test/integration/targets/split/tasks/main.yml
Labels: backport, affects_2.13

#79573 [stable-2.12] Improve split integration test. (#78738)
  test/integration/targets/split/aliases
  test/integration/targets/split/tasks/main.yml
Labels: backport, affects_2.12

#79571 ansible-test - Fix target PyPI proxy config.
  changelogs/fragments/ansible-test-pypi-proxy-fix.yml
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/provisioning.py
Labels: test, bug, affects_2.15

#79581 ansible-test - Fix `--prime-containers` and `--explain`
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: test, bug, affects_2.15

#79579 [stable-2.14] ansible-test - Fix target PyPI proxy config.
  changelogs/fragments/ansible-test-pypi-proxy-fix.yml
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/provisioning.py
Labels: backport, test, bug, affects_2.14

#79580 [stable-2.13] ansible-test - Fix target PyPI proxy config.
  changelogs/fragments/ansible-test-pypi-proxy-fix.yml
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/provisioning.py
Labels: backport, test, bug, affects_2.13

#79582 [stable-2.14] ansible-test - Fix `--prime-containers` and `--explain`…
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, affects_2.14

#79583 [stable-2.13] ansible-test - Fix `--prime-containers` and `--explain`…
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, affects_2.13

#79221 Add big support table
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: docs, has_issue, docs_only, affects_2.15

#79521 Add example of yaml file with --extra-vars
  docs/docsite/rst/playbook_guide/playbooks_variables.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79555 EOL Ansible 6
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.13

#79565 Backportapaloosa 12 08
  docs/docsite/Makefile
  docs/docsite/rst/dev_guide/developing_collections_testing.rst
  docs/docsite/rst/dev_guide/testing.rst
  docs/docsite/rst/dev_guide/testing/sanity/compile.rst
  docs/docsite/rst/dev_guide/testing_compile.rst
  docs/docsite/rst/dev_guide/testing_integration.rst
  docs/docsite/rst/dev_guide/testing_integration_legacy.rst
  docs/docsite/rst/os_guide/windows_faq.rst
  docs/docsite/rst/porting_guides/porting_guide_6.rst
  docs/docsite/rst/porting_guides/porting_guide_7.rst
  lib/ansible/modules/command.py
  lib/ansible/modules/setup.py
Labels: backport, module, needs_triage, docs, docsite, docs_only, affects_2.14

#79594 ansible-test - Support RSA SHA-1 for SSH clients.
  changelogs/fragments/ansible-test-container-management.yml
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/inventory.py
  test/lib/ansible_test/_internal/ssh.py
Labels: test, bug, small_patch, affects_2.15

#79595 [stable-2.14] ansible-test - Support RSA SHA-1 for SSH clients.
  changelogs/fragments/ansible-test-container-management.yml
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/inventory.py
  test/lib/ansible_test/_internal/ssh.py
Labels: backport, test, bug, small_patch, affects_2.14

#79597 [stable-2.13] ansible-test - Support RSA SHA-1 for SSH clients.
  changelogs/fragments/ansible-test-container-management.yml
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/inventory.py
  test/lib/ansible_test/_internal/ssh.py
Labels: backport, test, bug, small_patch, affects_2.13

#79599 Add more retries to ansible-test-container test.
  test/integration/targets/ansible-test-container/runme.py
Labels: affects_2.15

#79600 [stable-2.14] Add more retries to ansible-test-container test.
  test/integration/targets/ansible-test-container/runme.py
Labels: backport, affects_2.14

#79601 [stable-2.13] Add more retries to ansible-test-container test.
  test/integration/targets/ansible-test-container/runme.py
Labels: backport, affects_2.13

#79591 filter/test plugin listing, fix bug on file sorting
  changelogs/fragments/adoc_fix_list.yml
  lib/ansible/plugins/list.py
Labels: needs_triage, bug, affects_2.15

#79603 Trivial Typo in playbooks_blocks.rst
  docs/docsite/rst/playbook_guide/playbooks_blocks.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79608 ansible-test - Improve container startup handling.
  changelogs/fragments/ansible-test-container-management.yml
  test/integration/targets/ansible-test-container/runme.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: test, bug, small_patch, affects_2.15

#79609 [stable-2.14] ansible-test - Improve container startup handling.
  changelogs/fragments/ansible-test-container-management.yml
  test/integration/targets/ansible-test-container/runme.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, small_patch, affects_2.14

#79610 [stable-2.13] ansible-test - Improve container startup handling.
  changelogs/fragments/ansible-test-container-management.yml
  test/integration/targets/ansible-test-container/runme.py
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, small_patch, affects_2.13

#79616 Clean up setup_paramiko test target.
  test/integration/targets/setup_paramiko/install-Alpine-3-python-3.yml
  test/integration/targets/setup_paramiko/install-CentOS-6-python-2.yml
  test/integration/targets/setup_paramiko/install-Fedora-35-python-3.yml
  test/integration/targets/setup_paramiko/install-Ubuntu-16-python-2.yml
  test/integration/targets/setup_paramiko/install-python-2.yml
  test/integration/targets/setup_paramiko/uninstall-Alpine-3-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-Fedora-35-python-3.yml
  test/integration/targets/setup_paramiko/uninstall-apt-python-2.yml
  test/integration/targets/setup_paramiko/uninstall-zypper-python-2.yml
Labels: affects_2.15

#79628 Fix spelling of "triple" in Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
Labels: new_contributor, docs, affects_2.15
