Repository ansible/ansible, pull requests merged in 2022-05, with the labels that each got.

#77717 New release v2.13.0rc1
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.0rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, core_review, support:core, affects_2.13

#77718 Release 2.13.0rc1 publish
  lib/ansible/release.py
Labels: needs_revision, backport, needs_triage, support:core, small_patch, affects_2.13

#77715 Docsite: move a stepped down steering committee member to past members
  docs/docsite/rst/community/steering/community_steering_committee.rst
  docs/docsite/rst/community/steering/steering_committee_past_members.rst
Labels: needs_triage, core_review, support:core, docs, small_patch, docsite, docs_only, affects_2.14

#77710 shift to ansible_core_version
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: core_review, support:core, bug, small_patch, affects_2.14

#77726 Update mypy test. Fix type hints for Python 3.9.
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  lib/ansible/galaxy/collection/gpg.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  test/lib/ansible_test/_data/requirements/sanity.mypy.in
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
  test/lib/ansible_test/_internal/commands/sanity/mypy.py
  test/sanity/ignore.txt
Labels: test, core_review, support:core, affects_2.14

#77661 add collection pr review checklist
  docs/docsite/rst/community/collection_contributors/collection_reviewing.rst
  docs/docsite/rst/community/contributions_collections.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.14

#77732 docs: announce the PG working group
  docs/docsite/rst/community/communication.rst
Labels: needs_triage, core_review, support:core, new_contributor, docs, small_patch, docsite, docs_only, affects_2.14

#77720 Remove MacOSX-specific cleanup for unarchive test
  test/integration/targets/unarchive/tasks/test_unprivileged_user.yml
Labels: core_review, support:core, affects_2.14

#77721 fix copy test for split controller/remote
  test/integration/targets/copy/tasks/selinux.yml
Labels: core_review, support:core, affects_2.14

#77647 simplify developing modules
  docs/docsite/rst/dev_guide/developing_modules_general.rst
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.14

#77734 ansible-test - Enhance the shell command.
  changelogs/fragments/ansible-test-shell-features.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/commands/shell.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/shell/__init__.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/connections.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
Labels: test, core_review, support:core, feature, affects_2.14

#76152 core branch descriptions
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/dev_guide/core_branches_and_tags.rst
  docs/docsite/rst/dev_guide/developing_core.rst
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: core_review, support:core, docs, docsite, docs_only, affects_2.13

#77741 Remove FreeBSD 11.4 from CI since it is EOL.
  .azure-pipelines/azure-pipelines.yml
Labels: backport, core_review, support:core, small_patch, affects_2.11

#77727 [stable-2.13] shift to ansible_core_version
  hacking/build_library/build_ansible/command_plugins/docs_build.py
Labels: backport, core_review, support:core, bug, small_patch, affects_2.13

#77746 Updated text in ini.py
  lib/ansible/plugins/inventory/ini.py
Labels: needs_revision, needs_triage, support:core, new_contributor, bug, small_patch, docs_only, affects_2.14

#77747 Updated the playbook section in this docs
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
Labels: needs_revision, needs_triage, support:core, new_contributor, docs, docsite, docs_only, affects_2.14

#77751 stub out ovirt dev guide with pointer to new location
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
Labels: shipit, support:core, docs, docsite, docs_only, affects_2.14

#77760 [DOCS] Docsite/communication.rst: fix formatting
  docs/docsite/rst/community/communication.rst
Labels: core_review, support:core, docs, small_patch, docsite, docs_only, affects_2.14

#77595 varaiblemanager, more efficienet vars file reads (#77570)
  changelogs/fragments/vm_more_efficient.yml
  lib/ansible/vars/manager.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.12

#77651 2.12: Prevent losing unsafe from lookups (#77609)
  changelogs/fragments/77535-prevent-losing-unsafe-lookups.yml
  lib/ansible/template/__init__.py
  test/integration/targets/template/unsafe.yml
  test/units/template/test_templar.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.12

#77652 2.11: Prevent losing unsafe from lookups (#77609)
  changelogs/fragments/77535-prevent-losing-unsafe-lookups.yml
  lib/ansible/template/__init__.py
  test/integration/targets/template/unsafe.yml
  test/units/template/test_templar.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.11

#77772 2.13 GA has been bumped up a week to release on May 16
  docs/docsite/rst/roadmap/ROADMAP_2_13.rst
Labels: needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77602 [stable-2.12] arg_spec - Return aliases in validation result and update aliases (#77576)
  changelogs/fragments/77576-arg_spec-no_log-aliases.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/arg_spec.py
  test/units/module_utils/basic/test_argument_spec.py
  test/units/module_utils/common/arg_spec/test_aliases.py
Labels: backport, needs_triage, core_review, support:core, bug, affects_2.12

#77695 dont rely on path to set config defs for plugins (#77659)
  changelogs/fragments/config_load_by_name.yml
  lib/ansible/plugins/loader.py
  test/integration/targets/plugin_loader/runme.sh
  test/integration/targets/plugin_loader/use_coll_name.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.12

#77708 [2.12 backport] fix SELinux facts tests
  test/integration/targets/module_utils_facts.system.selinux/aliases
  test/integration/targets/module_utils_facts.system.selinux/tasks/main.yml
Labels: backport, community_review, needs_triage, support:community, affects_2.12

#77696 dont rely on path to set config defs for plugins (#77659)
  changelogs/fragments/config_load_by_name.yml
  lib/ansible/plugins/loader.py
  test/integration/targets/plugin_loader/runme.sh
  test/integration/targets/plugin_loader/use_coll_name.yml
Labels: backport, needs_triage, core_review, support:community, support:core, bug, affects_2.11

#77775 docs: Update ansible-core release date in Ansible roadmap
  docs/docsite/rst/roadmap/COLLECTIONS_6.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77687 document some 'dir' based filters
  lib/ansible/plugins/filter/basename.yml
  lib/ansible/plugins/filter/dirname.yml
  lib/ansible/plugins/filter/expanduser.yml
  lib/ansible/plugins/filter/expandvars.yml
Labels: new_plugin, core_review, support:core, docs, affects_2.14

#77780 core-2.13 - update release table
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: core_review, support:core, docs, docs_only, affects_2.14

#74721 distribution: add distribution_minor_version for Debian Distro
  changelogs/fragments/74481_debian_minor_version.yml
  lib/ansible/module_utils/facts/system/distribution.py
  test/units/module_utils/facts/system/distribution/fixtures/debian_10.json
  test/units/module_utils/facts/system/distribution/test_distribution_version.py
Labels: core_review, support:core, bug, has_issue, affects_2.12

#77778 clarify Ansible EOL details
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: shipit, support:core, docs, docs_only, affects_2.14

#77779 Update url to quickstart video.
  docs/docsite/rst/user_guide/quickstart.rst
Labels: core_review, support:core, bug, docs, small_patch, docs_only, affects_2.14

#77786 update version switcher to include 2.13
  docs/docsite/sphinx_conf/core_conf.py
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77685 More information on doc parsing errors
  changelogs/fragments/doc_errors.yml
  lib/ansible/parsing/plugin_docs.py
Labels: core_review, support:core, bug, affects_2.14

#77686 4 28 docs backportapalooza
  docs/docsite/.templates/banner.html
  docs/docsite/known_good_reqs.txt
  docs/docsite/rst/community/collection_contributors/collection_integration_add.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/community/steering/community_steering_committee.rst
  docs/docsite/rst/installation_guide/index.rst
  docs/docsite/rst/installation_guide/installation_distros.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  docs/docsite/rst/scenario_guides/guide_vultr.rst
  lib/ansible/modules/_include.py
Labels: backport, module, needs_triage, core_review, deprecated, stale_ci, support:core, docs, docsite, on_hold, affects_2.13

#77785 core-2.13 - update release table (#77780)
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: backport, needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#77795 update version switcher to include 2.13 (#77786)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#77796 update version switcher to include 2.13 (#77786)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, shipit, needs_triage, support:core, docs, small_patch, affects_2.12, docs_only

#77797 update version switcher to include 2.13 (#77786)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, shipit, needs_triage, support:core, docs, small_patch, affects_2.11, docs_only

#77798 set correct version in stable-2.13 for docs
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, core_review, support:core, docs, small_patch, docs_only, affects_2.13

#77787 05 12 backportapalooza
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/dev_guide/developing_collections_structure.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  docs/docsite/rst/roadmap/COLLECTIONS_6.rst
  docs/docsite/rst/roadmap/ROADMAP_2_13.rst
  docs/docsite/rst/shared_snippets/basic_concepts.txt
  docs/docsite/rst/user_guide/quickstart.rst
Labels: needs_revision, needs_rebase, backport, needs_triage, merge_commit, support:core, docs, docsite, docs_only, affects_2.13

#77799 New release v2.13.0
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.0_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.13

#77811 New release v2.11.12rc1
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.12rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.11

#77810 New release v2.12.6rc1
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.6rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#77813 Update Ansible release version to v2.12.6rc1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.12

#77812 Update Ansible release version to v2.11.12rc1.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.11

#77814 ansible-test - Make distro containers multi-arch.
  changelogs/fragments/ansible-test-multi-arch-distro-containers.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.14

#77802 Update config dumping info to include 'all info'
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
Labels: core_review, support:core, feature, small_patch, affects_2.14

#77807 Raise a proper error when include/import_role is used as a handler
  changelogs/fragments/better-msg-role-in-handler.yml
  lib/ansible/playbook/helpers.py
  test/integration/targets/handlers/runme.sh
  test/integration/targets/handlers/test_role_as_handler.yml
  test/units/playbook/test_helpers.py
Labels: core_review, support:community, support:core, feature, affects_2.14

#77683 Restrict role loading .. to role ...
  changelogs/fragments/restrict_role_files_to_role.yml
  lib/ansible/playbook/role/__init__.py
  test/integration/targets/roles/no_outside.yml
  test/integration/targets/roles/runme.sh
  test/integration/targets/roles/tasks/dummy.yml
Labels: core_review, support:community, support:core, bug, affects_2.14

#77644 rename systemd module to services only
  changelogs/fragments/systemd_services.yml
  lib/ansible/modules/systemd.py
  lib/ansible/modules/systemd_service.py
  test/sanity/ignore.txt
Labels: new_plugin, test, new_module, module, core_review, support:core, feature, affects_2.14

#77805 Update PSF-license.txt to version from CPython 3.9.5
  licenses/PSF-license.txt
Labels: WIP, support:core, bug, small_patch, has_issue, affects_2.14

#77826 extra validate-modules ignore entry?
  test/sanity/ignore.txt
Labels: test, owner_pr, needs_triage, core_review, support:core, affects_2.14

#77825 ansible-test - Improve requirements handling.
  test/lib/ansible_test/_data/requirements/ansible-test.txt
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/sanity/code-smell/test-constraints.py
Labels: test, core_review, support:core, feature, affects_2.14

#77833 Avoid deprecated method in unit tests.
  test/units/ansible_test/ci/util.py
Labels: core_review, support:core, affects_2.14

#77836 Fix unit tests for Python 3.11.
  test/units/module_utils/urls/test_fetch_url.py
Labels: core_review, support:core, affects_2.14

#77521 Add Python 3.11 support.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/python-3.11.yml
  lib/ansible/config/base.yml
  setup.cfg
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/requirements/constraints.txt
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_util/target/common/constants.py
  test/sanity/code-smell/docs-build.json
  test/sanity/ignore.txt
Labels: test, WIP, support:core, feature, affects_2.14

#77837 ansible-test - Update default containers.
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, core_review, support:core, feature, affects_2.14

#77843 docs: Update porting guide for ansible 5.8.0
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: needs_triage, core_review, support:core, docs, docs_only, affects_2.14

#77832 incidental: Allow result sha to be overriden with local sha
  hacking/azp/incidental.py
Labels: shipit, needs_triage, support:core, affects_2.14

#77845 ansible-test - Fix remote args restriction.
  test/lib/ansible_test/_internal/cli/compat.py
Labels: test, core_review, support:core, bug, affects_2.14

#77830 Incidental docker chip away
  test/integration/targets/add_host/tasks/main.yml
  test/integration/targets/facts_linux_network/aliases
  test/integration/targets/facts_linux_network/tasks/main.yml
  test/integration/targets/handlers/test_listening_handlers.yml
  test/integration/targets/templating/aliases
  test/integration/targets/templating/tasks/main.yml
Labels: needs_triage, core_review, support:community, support:core, affects_2.14

#77852 Switch CI from FreeBSD 13.0 to 13.1.
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, support:core, small_patch, affects_2.14

#77801 set theory filter docs
  lib/ansible/plugins/filter/difference.yml
  lib/ansible/plugins/filter/intersect.yml
  lib/ansible/plugins/filter/symmetric_difference.yml
  lib/ansible/plugins/filter/union.yml
  lib/ansible/plugins/filter/unique.yml
Labels: new_plugin, core_review, support:core, docs, affects_2.14

#77821 validate meta/main.yml dependencies and meta/requirements.yml are lists
  changelogs/fragments/handle-role-dependency-type-error.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/role.py
  lib/ansible/playbook/role/metadata.py
  test/integration/targets/ansible-galaxy/runme.sh
Labels: core_review, support:community, support:core, bug, affects_2.14

#77863 ansible-test - Add Python 2 certifi constraint.
  changelogs/fragments/ansible-test-certifi.yml
  test/integration/targets/consul/meta/main.yml
  test/integration/targets/consul/tasks/main.yml
  test/lib/ansible_test/_data/requirements/constraints.txt
Labels: backport, test, core_review, support:community, support:core, bug, clustering, affects_2.9

#77793 Supply 'dev' keyword for linux network facts discovery
  changelogs/fragments/77792-fix-facts-discovery-specific-interface-names.yml
  lib/ansible/module_utils/facts/network/linux.py
Labels: needs_revision, support:core, new_contributor, affects_2.14

#77743 Replace incidental_inventory_aws_ec2 with intentional coverage
  test/integration/targets/inventory/host_vars_constructed.yml
  test/integration/targets/inventory/inv_with_host_vars.yml
  test/integration/targets/inventory/inventory_plugins/contructed_with_hostvars.py
  test/integration/targets/inventory/runme.sh
  test/integration/targets/inventory/test_empty.yml
  test/integration/targets/module_utils/library/test_network.py
  test/integration/targets/module_utils/module_utils_common_network.yml
  test/integration/targets/module_utils/runme.sh
  test/integration/targets/module_utils_ansible_release/aliases
  test/integration/targets/module_utils_ansible_release/library/ansible_release.py
  test/integration/targets/module_utils_ansible_release/tasks/main.yml
Labels: community_review, support:community, affects_2.14

#77862 New release v2.11.12
  changelogs/CHANGELOG-v2.11.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.11.12_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.11

#77864 New release v2.12.6
  changelogs/CHANGELOG-v2.12.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.12.6_summary.yaml
  lib/ansible/release.py
Labels: backport, core_review, support:core, affects_2.12

#77883 Use unittest.mock instead of mock.
  test/units/_vendor/test_vendor.py
  test/units/cli/test_cli.py
  test/units/cli/test_console.py
  test/units/cli/test_galaxy.py
  test/units/cli/test_vault.py
  test/units/errors/test_errors.py
  test/units/executor/test_interpreter_discovery.py
  test/units/executor/test_play_iterator.py
  test/units/executor/test_playbook_executor.py
  test/units/executor/test_task_executor.py
  test/units/executor/test_task_queue_manager_callbacks.py
  test/units/executor/test_task_result.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
  test/units/galaxy/test_token.py
  test/units/mock/path.py
  test/units/parsing/test_dataloader.py
  test/units/parsing/vault/test_vault.py
  test/units/parsing/vault/test_vault_editor.py
  test/units/playbook/role/test_include_role.py
  test/units/playbook/role/test_role.py
  test/units/playbook/test_conditional.py
  test/units/playbook/test_helpers.py
  test/units/playbook/test_included_file.py
  test/units/playbook/test_task.py
  test/units/plugins/action/test_action.py
  test/units/plugins/action/test_gather_facts.py
  test/units/plugins/action/test_raw.py
  test/units/plugins/cache/test_cache.py
  test/units/plugins/callback/test_callback.py
  test/units/plugins/connection/test_psrp.py
  test/units/plugins/connection/test_ssh.py
  test/units/plugins/connection/test_winrm.py
  test/units/plugins/inventory/test_inventory.py
  test/units/plugins/inventory/test_script.py
  test/units/plugins/lookup/test_password.py
  test/units/plugins/strategy/test_linear.py
  test/units/plugins/strategy/test_strategy.py
  test/units/plugins/test_plugins.py
  test/units/template/test_templar.py
  test/units/template/test_vars.py
  test/units/utils/collection_loader/test_collection_loader.py
  test/units/utils/display/test_broken_cowsay.py
  test/units/utils/test_display.py
  test/units/utils/test_vars.py
  test/units/vars/test_variable_manager.py
Labels: core_review, support:core, affects_2.14

#77886 Prefer unittest.mock over mock.
  test/units/compat/mock.py
  test/units/module_utils/basic/test_argument_spec.py
  test/units/module_utils/basic/test_filesystem.py
  test/units/module_utils/basic/test_get_module_path.py
  test/units/module_utils/basic/test_imports.py
  test/units/module_utils/basic/test_platform_distribution.py
  test/units/module_utils/basic/test_selinux.py
  test/units/module_utils/basic/test_set_cwd.py
  test/units/module_utils/basic/test_tmpdir.py
  test/units/module_utils/common/test_locale.py
  test/units/module_utils/common/test_sys_info.py
  test/units/module_utils/facts/base.py
  test/units/module_utils/facts/hardware/test_linux.py
  test/units/module_utils/facts/network/test_fc_wwn.py
  test/units/module_utils/facts/network/test_generic_bsd.py
  test/units/module_utils/facts/network/test_iscsi_get_initiator.py
  test/units/module_utils/facts/other/test_facter.py
  test/units/module_utils/facts/other/test_ohai.py
  test/units/module_utils/facts/system/distribution/conftest.py
  test/units/module_utils/facts/system/test_lsb.py
  test/units/module_utils/facts/test_ansible_collector.py
  test/units/module_utils/facts/test_collectors.py
  test/units/module_utils/facts/test_facts.py
  test/units/module_utils/facts/test_sysctl.py
  test/units/module_utils/facts/test_utils.py
  test/units/module_utils/urls/test_Request.py
  test/units/module_utils/urls/test_fetch_url.py
  test/units/modules/test_apt.py
  test/units/modules/test_apt_key.py
  test/units/modules/test_async_wrapper.py
  test/units/modules/test_hostname.py
  test/units/modules/test_iptables.py
  test/units/modules/test_service_facts.py
  test/units/modules/utils.py
Labels: core_review, support:core, affects_2.14

#77834 [stable-2.13] Avoid deprecated method in unit tests.
  test/units/ansible_test/ci/util.py
Labels: backport, core_review, support:core, affects_2.13

#77885 [stable-2.13] Use unittest.mock instead of mock. (#77883)
  test/units/_vendor/test_vendor.py
  test/units/cli/test_cli.py
  test/units/cli/test_console.py
  test/units/cli/test_galaxy.py
  test/units/cli/test_vault.py
  test/units/errors/test_errors.py
  test/units/executor/test_interpreter_discovery.py
  test/units/executor/test_play_iterator.py
  test/units/executor/test_playbook_executor.py
  test/units/executor/test_task_executor.py
  test/units/executor/test_task_queue_manager_callbacks.py
  test/units/executor/test_task_result.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
  test/units/galaxy/test_token.py
  test/units/mock/path.py
  test/units/parsing/test_dataloader.py
  test/units/parsing/vault/test_vault.py
  test/units/parsing/vault/test_vault_editor.py
  test/units/playbook/role/test_include_role.py
  test/units/playbook/role/test_role.py
  test/units/playbook/test_conditional.py
  test/units/playbook/test_helpers.py
  test/units/playbook/test_included_file.py
  test/units/playbook/test_task.py
  test/units/plugins/action/test_action.py
  test/units/plugins/action/test_gather_facts.py
  test/units/plugins/action/test_raw.py
  test/units/plugins/cache/test_cache.py
  test/units/plugins/callback/test_callback.py
  test/units/plugins/connection/test_psrp.py
  test/units/plugins/connection/test_ssh.py
  test/units/plugins/connection/test_winrm.py
  test/units/plugins/inventory/test_inventory.py
  test/units/plugins/inventory/test_script.py
  test/units/plugins/lookup/test_password.py
  test/units/plugins/strategy/test_linear.py
  test/units/plugins/strategy/test_strategy.py
  test/units/plugins/test_plugins.py
  test/units/template/test_templar.py
  test/units/template/test_vars.py
  test/units/utils/collection_loader/test_collection_loader.py
  test/units/utils/display/test_broken_cowsay.py
  test/units/utils/test_display.py
  test/units/utils/test_vars.py
  test/units/vars/test_variable_manager.py
Labels: backport, core_review, support:core, affects_2.13

#77887 [stable-2.13] Prefer unittest.mock over mock. (#77886)
  test/units/compat/mock.py
  test/units/module_utils/basic/test_argument_spec.py
  test/units/module_utils/basic/test_filesystem.py
  test/units/module_utils/basic/test_get_module_path.py
  test/units/module_utils/basic/test_imports.py
  test/units/module_utils/basic/test_platform_distribution.py
  test/units/module_utils/basic/test_selinux.py
  test/units/module_utils/basic/test_set_cwd.py
  test/units/module_utils/basic/test_tmpdir.py
  test/units/module_utils/common/test_locale.py
  test/units/module_utils/common/test_sys_info.py
  test/units/module_utils/facts/base.py
  test/units/module_utils/facts/hardware/test_linux.py
  test/units/module_utils/facts/network/test_fc_wwn.py
  test/units/module_utils/facts/network/test_generic_bsd.py
  test/units/module_utils/facts/network/test_iscsi_get_initiator.py
  test/units/module_utils/facts/other/test_facter.py
  test/units/module_utils/facts/other/test_ohai.py
  test/units/module_utils/facts/system/distribution/conftest.py
  test/units/module_utils/facts/system/test_lsb.py
  test/units/module_utils/facts/test_ansible_collector.py
  test/units/module_utils/facts/test_collectors.py
  test/units/module_utils/facts/test_facts.py
  test/units/module_utils/facts/test_sysctl.py
  test/units/module_utils/facts/test_utils.py
  test/units/module_utils/urls/test_Request.py
  test/units/module_utils/urls/test_fetch_url.py
  test/units/modules/test_apt.py
  test/units/modules/test_apt_key.py
  test/units/modules/test_async_wrapper.py
  test/units/modules/test_hostname.py
  test/units/modules/test_iptables.py
  test/units/modules/test_service_facts.py
  test/units/modules/utils.py
Labels: backport, core_review, support:core, affects_2.13

#77880 Update Ansible release version to v2.11.12.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.11

#77881 Update Ansible release version to v2.12.6.post0.
  lib/ansible/release.py
Labels: backport, core_review, support:core, small_patch, affects_2.12

#77844 Fix windows connection options
  changelogs/fragments/windows_conn_option_fix.yml
  lib/ansible/plugins/connection/psrp.py
  lib/ansible/plugins/connection/winrm.py
Labels: windows, core_review, support:core, bug, affects_2.14

#77835 [stable-2.12] Avoid deprecated method in unit tests.
  test/units/ansible_test/ci/util.py
Labels: backport, core_review, support:core, affects_2.12

#77265 Add toggle to fix module_defaults with module-as-redirected-action on a per-module basis
  changelogs/fragments/77265-module_defaults-with-modules-as-redirected-actions.yaml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/base.py
  lib/ansible/plugins/loader.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/meta/runtime.yml
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/eos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/ios.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/vyos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/eosfacts.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/ios_facts.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/module.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/modules/vyosfacts.py
  test/integration/targets/module_defaults/runme.sh
  test/integration/targets/module_defaults/test_defaults.yml
  test/units/executor/test_task_executor.py
Labels: new_plugin, test, shipit, support:community, support:core, bug, affects_2.13

#77630 Fix ansible-galaxy traceback when unexpected version of resolvelib is installed
  changelogs/fragments/77630-ansible-galaxy-fix-unsupported-resolvelib-version.yml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/errors.py
  lib/ansible/galaxy/dependency_resolution/providers.py
  lib/ansible/galaxy/dependency_resolution/reporters.py
  lib/ansible/galaxy/dependency_resolution/resolvers.py
  test/integration/targets/ansible-galaxy-collection/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection/tasks/unsupported_resolvelib.yml
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/sanity/ignore.txt
Labels: test, core_review, support:community, support:core, bug, affects_2.14

#77906 Fix boolean condition so that ansible-galaxy collection install works when a valid resolvelib is installed
  lib/ansible/galaxy/collection/__init__.py
Labels: needs_triage, core_review, support:core, bug, small_patch, affects_2.14

#77846 Incidental coverage 1
  test/integration/targets/connection_remote_is_local/aliases
  test/integration/targets/connection_remote_is_local/connection_plugins/remote_is_local.py
  test/integration/targets/connection_remote_is_local/tasks/main.yml
  test/integration/targets/connection_remote_is_local/test.yml
  test/integration/targets/find/tasks/main.yml
  test/integration/targets/include_import_tasks_nested/aliases
  test/integration/targets/include_import_tasks_nested/tasks/main.yml
  test/integration/targets/include_import_tasks_nested/tasks/nested/nested_adjacent.yml
  test/integration/targets/include_import_tasks_nested/tasks/nested/nested_import.yml
  test/integration/targets/include_import_tasks_nested/tasks/nested/nested_include.yml
  test/integration/targets/templating/tasks/main.yml
  test/integration/targets/unexpected_executor_exception/action_plugins/unexpected.py
  test/integration/targets/unexpected_executor_exception/aliases
  test/integration/targets/unexpected_executor_exception/tasks/main.yml
Labels: core_review, support:community, support:core, affects_2.14

#77860 swallow all exceptions in type annotation support shim imports
  changelogs/fragments/type_shim_exception_swallow.yml
  lib/ansible/module_utils/compat/typing.py
Labels: core_review, support:core, bug, affects_2.14

#75090 Blockinfile multiline search
  changelogs/fragments/75090-multiline-flag-support-for-blockinfile.yml
  lib/ansible/modules/blockinfile.py
  test/integration/targets/blockinfile/tasks/main.yml
  test/integration/targets/blockinfile/tasks/multiline_search.yml
Labels: module, core_review, support:core, new_contributor, feature, affects_2.12

#77916 ansible-test - More multi-arch containers.
  changelogs/fragments/ansible-test-multi-arch-cloud-containers.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/httptester.py
  test/lib/ansible_test/_internal/pypi_proxy.py
Labels: test, core_review, support:core, feature, affects_2.14

#77912 Remove statement about dependencies and includes
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77893 doc: Clarify stride/increment in inventory intro
  docs/docsite/rst/user_guide/intro_inventory.rst
Labels: core_review, support:core, docs, small_patch, docs_only, affects_2.14

#77800 add anchors for crossreferencing
  docs/docsite/rst/user_guide/windows_winrm.rst
Labels: windows, core_review, stale_ci, support:core, docs, docsite, docs_only, affects_2.14

#77794 Point to Kerberos as a safer winrm setup method
  docs/docsite/rst/user_guide/windows_setup.rst
Labels: windows, core_review, support:core, new_contributor, docs, docsite, docs_only, affects_2.14

#77896 more context on multiple facts modules
  lib/ansible/config/base.yml
Labels: needs_triage, core_review, support:core, docs, small_patch, affects_2.14

#77853 Add RHEL 9.0 to CI.
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/dnf/tasks/main.yml
  test/integration/targets/dnf/vars/RedHat-9.yml
  test/integration/targets/hostname/tasks/test_normal.yml
  test/integration/targets/rpm_key/tasks/rpm_key.yaml
Labels: core_review, support:core, small_patch, affects_2.14

#77898 Fix 'ansible-config dump --only-changed -t all' verbosity
  changelogs/fragments/77898-ansible-config-dump-only-changed-all-types.yml
  lib/ansible/cli/config.py
  test/integration/targets/config/runme.sh
Labels: core_review, support:community, support:core, bug, affects_2.14

#77858 docs: Update porting guide for ansible 6.0.0a3 (#77842)
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: backport, needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#77859 docs: Update porting guide for ansible 5.8.0 (#77843)
  docs/docsite/rst/porting_guides/porting_guide_5.rst
Labels: backport, needs_triage, core_review, support:core, docs, docs_only, affects_2.13

#77882 Eol 2.10 docs
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
Labels: backport, core_review, support:core, docs, small_patch, affects_2.10, docs_only

#77884 Eol 2.9 docs
  docs/docsite/_themes/sphinx_rtd_theme/ansible_eol_banner.html
  docs/docsite/_themes/sphinx_rtd_theme/layout.html
Labels: backport, core_review, support:core, docs, affects_2.9, docs_only

#77921 Docs backportapalooza 05 26
  docs/docsite/rst/user_guide/intro_inventory.rst
  docs/docsite/rst/user_guide/playbooks_reuse_roles.rst
  docs/docsite/rst/user_guide/playbooks_vars_facts.rst
  docs/docsite/rst/user_guide/windows_setup.rst
  docs/docsite/rst/user_guide/windows_winrm.rst
  lib/ansible/config/base.yml
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  test/integration/targets/ansible-galaxy-collection-scm/tasks/requirements.yml
  test/units/cli/test_galaxy.py
Labels: windows, backport, needs_triage, core_review, support:community, support:core, docs, docsite, affects_2.13

#77924 Remove incidental_inventory_docker_swarm tests.
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/incidental_inventory_docker_swarm/aliases
  test/integration/targets/incidental_inventory_docker_swarm/inventory_1.docker_swarm.yml
  test/integration/targets/incidental_inventory_docker_swarm/inventory_2.docker_swarm.yml
  test/integration/targets/incidental_inventory_docker_swarm/meta/main.yml
  test/integration/targets/incidental_inventory_docker_swarm/playbooks/swarm_cleanup.yml
  test/integration/targets/incidental_inventory_docker_swarm/playbooks/swarm_setup.yml
  test/integration/targets/incidental_inventory_docker_swarm/playbooks/test_inventory_1.yml
  test/integration/targets/incidental_inventory_docker_swarm/playbooks/test_inventory_2.yml
  test/integration/targets/incidental_inventory_docker_swarm/runme.sh
  test/integration/targets/incidental_setup_docker/aliases
  test/integration/targets/incidental_setup_docker/defaults/main.yml
  test/integration/targets/incidental_setup_docker/handlers/main.yml
  test/integration/targets/incidental_setup_docker/meta/main.yml
  test/integration/targets/incidental_setup_docker/tasks/Debian.yml
  test/integration/targets/incidental_setup_docker/tasks/Fedora.yml
  test/integration/targets/incidental_setup_docker/tasks/RedHat-7.yml
  test/integration/targets/incidental_setup_docker/tasks/RedHat-8.yml
  test/integration/targets/incidental_setup_docker/tasks/Suse.yml
  test/integration/targets/incidental_setup_docker/tasks/main.yml
  test/integration/targets/incidental_setup_docker/vars/Debian.yml
  test/integration/targets/incidental_setup_docker/vars/Fedora.yml
  test/integration/targets/incidental_setup_docker/vars/RedHat-7.yml
  test/integration/targets/incidental_setup_docker/vars/RedHat-8.yml
  test/integration/targets/incidental_setup_docker/vars/Suse.yml
  test/integration/targets/incidental_setup_docker/vars/Ubuntu-14.yml
  test/integration/targets/incidental_setup_docker/vars/default.yml
  test/support/integration/plugins/inventory/docker_swarm.py
  test/support/integration/plugins/module_utils/docker/__init__.py
  test/support/integration/plugins/module_utils/docker/common.py
  test/support/integration/plugins/module_utils/docker/swarm.py
  test/support/integration/plugins/modules/docker_swarm.py
  test/utils/shippable/incidental/freebsd.sh
  test/utils/shippable/incidental/linux.sh
  test/utils/shippable/incidental/macos.sh
  test/utils/shippable/incidental/remote.sh
  test/utils/shippable/incidental/rhel.sh
Labels: test, core_review, support:community, support:core, affects_2.14

#77926 docs: add missing notes in porting guide for 6.0.0b1
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: core_review, support:core, docs, docs_only, affects_2.14

#77914 Fix lusermod using a group name and not id (#61965)
  changelogs/fragments/61965-user-module-fails-to-change-primary-group.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/test_local.yml
Labels: module, core_review, support:core, new_contributor, bug, has_issue, affects_2.14

#77915 Remove platform dev guides from core docs
  .gitignore
  MANIFEST.in
  docs/docsite/Makefile
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/core_index.rst
  docs/docsite/sphinx_conf/ansible_conf.py
  docs/docsite/sphinx_conf/core_conf.py
  test/sanity/code-smell/package-data.py
Labels: test, shipit, support:core, docs, docsite, affects_2.14

#77938 Fix ansible-runner integration tests.
  test/integration/targets/ansible-runner/files/constraints.txt
  test/integration/targets/ansible-runner/runme.sh
  test/integration/targets/ansible-runner/tasks/main.yml
  test/integration/targets/ansible-runner/tasks/playbook_example1.yml
  test/integration/targets/ansible-runner/tasks/setup.yml
Labels: community_review, support:community, affects_2.14

#77877 Remove incidental_inventory_aws_ec2 and supporting plugins
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/incidental_inventory_aws_ec2/aliases
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/create_inventory_config.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/empty_inventory_config.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/populate_cache.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/setup.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/tear_down.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/test_invalid_aws_ec2_inventory_config.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/test_inventory_cache.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/test_populating_inventory.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/test_populating_inventory_with_constructed.yml
  test/integration/targets/incidental_inventory_aws_ec2/playbooks/test_refresh_inventory.yml
  test/integration/targets/incidental_inventory_aws_ec2/runme.sh
  test/integration/targets/incidental_inventory_aws_ec2/templates/inventory.yml
  test/integration/targets/incidental_inventory_aws_ec2/templates/inventory_with_cache.yml
  test/integration/targets/incidental_inventory_aws_ec2/templates/inventory_with_constructed.yml
  test/integration/targets/incidental_inventory_aws_ec2/test.aws_ec2.yml
  test/sanity/ignore.txt
  test/support/integration/plugins/inventory/aws_ec2.py
  test/support/integration/plugins/module_utils/aws/__init__.py
  test/support/integration/plugins/module_utils/aws/core.py
  test/support/integration/plugins/module_utils/aws/iam.py
  test/support/integration/plugins/module_utils/aws/s3.py
  test/support/integration/plugins/module_utils/aws/waiters.py
  test/support/integration/plugins/module_utils/cloud.py
  test/support/integration/plugins/module_utils/ec2.py
  test/support/integration/plugins/modules/ec2.py
  test/support/integration/plugins/modules/ec2_ami_info.py
  test/support/integration/plugins/modules/ec2_group.py
  test/support/integration/plugins/modules/ec2_vpc_net.py
  test/support/integration/plugins/modules/ec2_vpc_subnet.py
  test/utils/shippable/incidental/aws.sh
Labels: test, WIP, support:community, support:core, small_patch, affects_2.14
