Repository ansible/ansible, pull requests merged in 2022-11, with the labels that each got.

#79193 Removes translatable words from code blocks
  docs/docsite/rst/os_guide/windows_setup.rst
  docs/docsite/rst/playbook_guide/shared_snippets/with2loop.txt
  docs/docsite/rst/porting_guides/porting_guide_2.0.rst
  docs/docsite/rst/reference_appendices/faq.rst
Labels: docs, has_issue, docs_only, affects_2.15

#79256 De-duplicate initialisation of ConnectionBase._connected
  lib/ansible/plugins/connection/__init__.py
Labels: needs_triage, bug, small_patch, affects_2.15

#79263 Log `runme.sh` execution in integration tests
  changelogs/fragments/79263-runme-sh-logging-3cb482385bd59058.yaml
  test/integration/targets/ansible-test-git/runme.sh
  test/integration/targets/entry_points/runme.sh
  test/integration/targets/include_when_parent_is_dynamic/runme.sh
  test/integration/targets/include_when_parent_is_static/runme.sh
  test/integration/targets/pyyaml/runme.sh
  test/integration/targets/subversion/runme.sh
  test/integration/targets/tags/runme.sh
  test/integration/targets/test_core/runme.sh
Labels: affects_2.15

#79267 validate-modules: do not treat falsy non-`False` defaults as `None`
  changelogs/fragments/79267-validate-modules-defaults.yml
  lib/ansible/modules/dnf.py
  lib/ansible/modules/getent.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/replace.py
  lib/ansible/modules/service.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/modules/yum.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
  test/sanity/ignore.txt
Labels: test, module, needs_triage, bug, affects_2.15

#79269 communication.rst: add Ansible MySQL WG information
  docs/docsite/rst/community/communication.rst
Labels: needs_triage, docs, small_patch, docsite, has_issue, docs_only, affects_2.15

#79274 replace yes/no with true/false in docstrings
  lib/ansible/modules/apt.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/assemble.py
  lib/ansible/modules/assert.py
  lib/ansible/modules/command.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/file.py
  lib/ansible/modules/find.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/getent.py
  lib/ansible/modules/git.py
  lib/ansible/modules/include_role.py
  lib/ansible/modules/rpm_key.py
  lib/ansible/modules/set_fact.py
  lib/ansible/modules/set_stats.py
  lib/ansible/modules/stat.py
  lib/ansible/modules/subversion.py
  lib/ansible/modules/template.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/modules/user.py
  lib/ansible/modules/yum.py
  lib/ansible/modules/yum_repository.py
Labels: module, docs, docs_only, affects_2.15

#79280 Added ignore revs file for tracking commits with bulk sanity changes
  .git-blame-ignore-revs
Labels: needs_triage, feature, affects_2.15

#79281 ansible-test - Update test container to 7.4.0
  changelogs/fragments/test-container-update.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, needs_triage, feature, affects_2.15

#78402 Enable the `reboot` integration test in CI
  test/integration/targets/reboot/aliases
  test/integration/targets/reboot/tasks/main.yml
Labels: core_review, stale_ci, support:core, affects_2.14

#79289 [CI] Move running `reboot` integration test to group 2
  test/integration/targets/reboot/aliases
Labels: needs_triage, affects_2.15

#78203 added --allow-change-held-packages for apt remove
  changelogs/fragments/apt-remove_allow-change-held-packages.yml
  lib/ansible/modules/apt.py
  test/integration/targets/apt/tasks/apt.yml
Labels: module, stale_ci, support:core, new_contributor, feature, affects_2.14

#79300 ansible-test - Fix and update documentation links.
  changelogs/fragments/ansible-test-docs-links.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util_common.py
Labels: test, bug, affects_2.15

#79288 Add more documentation for InventoryData methods
  docs/docsite/rst/dev_guide/developing_inventory.rst
Labels: docs, docsite, has_issue, docs_only, affects_2.15

#79292 blockinfile - document multiline marker behavior
  lib/ansible/modules/blockinfile.py
Labels: module, docs, small_patch, docs_only, affects_2.15

#79295 Delete a bad PR #79263 change note
  changelogs/fragments/79263-runme-sh-logging-3cb482385bd59058.yaml
Labels: owner_pr, affects_2.15

#79301 [stable-2.14] ansible-test - Fix and update documentation links.
  changelogs/fragments/ansible-test-docs-links.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util_common.py
Labels: backport, test, bug, affects_2.14

#79302 [stable-2.13] ansible-test - Fix and update documentation links.
  changelogs/fragments/ansible-test-docs-links.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util_common.py
Labels: backport, test, bug, affects_2.13

#79303 [stable-2.12] ansible-test - Fix and update documentation links.
  changelogs/fragments/ansible-test-docs-links.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/aws.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util_common.py
Labels: backport, test, bug, affects_2.12

#79282 [2.14] Log `runme.sh` execution in integration tests
  test/integration/targets/ansible-test-git/runme.sh
  test/integration/targets/entry_points/runme.sh
  test/integration/targets/include_when_parent_is_dynamic/runme.sh
  test/integration/targets/include_when_parent_is_static/runme.sh
  test/integration/targets/pyyaml/runme.sh
  test/integration/targets/subversion/runme.sh
  test/integration/targets/tags/runme.sh
  test/integration/targets/test_core/runme.sh
Labels: backport, affects_2.14

#79283 [2.13] Log `runme.sh` execution in integration tests
  test/integration/targets/ansible-test/runme.sh
  test/integration/targets/entry_points/runme.sh
  test/integration/targets/include_when_parent_is_dynamic/runme.sh
  test/integration/targets/include_when_parent_is_static/runme.sh
  test/integration/targets/pyyaml/runme.sh
  test/integration/targets/subversion/runme.sh
  test/integration/targets/tags/runme.sh
  test/integration/targets/test_core/runme.sh
Labels: backport, affects_2.13

#79284 [2.12] Log `runme.sh` execution in integration tests
  test/integration/targets/ansible-test/runme.sh
  test/integration/targets/include_when_parent_is_dynamic/runme.sh
  test/integration/targets/include_when_parent_is_static/runme.sh
  test/integration/targets/subversion/runme.sh
  test/integration/targets/tags/runme.sh
  test/integration/targets/test_core/runme.sh
Labels: backport, affects_2.12

#79285 [2.11] Log `runme.sh` execution in integration tests
  test/integration/targets/ansible-test/runme.sh
  test/integration/targets/include_when_parent_is_dynamic/runme.sh
  test/integration/targets/include_when_parent_is_static/runme.sh
  test/integration/targets/subversion/runme.sh
  test/integration/targets/tags/runme.sh
  test/integration/targets/test_core/runme.sh
Labels: backport, affects_2.11

#79286 [2.9] Log `runme.sh` execution in integration tests
  test/integration/targets/subversion/runme.sh
  test/integration/targets/tags/runme.sh
Labels: backport, affects_2.9

#79307 Update Ansible 7 roadmap
  docs/docsite/rst/roadmap/COLLECTIONS_7.rst
Labels: docs, has_issue, docs_only, affects_2.15

#79318 Fix typo 'Ansbile'
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  lib/ansible/plugins/doc_fragments/action_core.py
Labels: docs, small_patch, affects_2.15

#79314 [stable-2.14] New release v2.14.0
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.0_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#79315 [stable-2.13] New release v2.13.6
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.6_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.13

#79323 [stable-2.13] Update Ansible release version to v2.13.6.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.13

#79272 update release table with 2.14 details
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: WIP, docs, docs_only, affects_2.15

#79273 update version switcher to include 2.14
  docs/docsite/sphinx_conf/core_conf.py
Labels: WIP, docs, small_patch, docs_only, affects_2.15

#79322 [stable-2.14] Update Ansible release version to v2.14.0.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#79310 replace yes/no with true/false in docstrings (#79274)
  lib/ansible/modules/apt.py
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
  lib/ansible/modules/assemble.py
  lib/ansible/modules/assert.py
  lib/ansible/modules/command.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/fetch.py
  lib/ansible/modules/file.py
  lib/ansible/modules/find.py
  lib/ansible/modules/get_url.py
  lib/ansible/modules/getent.py
  lib/ansible/modules/git.py
  lib/ansible/modules/include_role.py
  lib/ansible/modules/rpm_key.py
  lib/ansible/modules/set_fact.py
  lib/ansible/modules/set_stats.py
  lib/ansible/modules/stat.py
  lib/ansible/modules/subversion.py
  lib/ansible/modules/template.py
  lib/ansible/modules/unarchive.py
  lib/ansible/modules/uri.py
  lib/ansible/modules/user.py
  lib/ansible/modules/yum.py
  lib/ansible/modules/yum_repository.py
Labels: backport, module, needs_triage, docs, docs_only, affects_2.14

#79311 Update Ansible 7 roadmap (#79307)
  docs/docsite/rst/roadmap/COLLECTIONS_7.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79325 update version switcher to include 2.14 (#79273)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#79326 update version switcher to include 2.14 (#79273)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.13

#79327 update version switcher to include 2.14 (#79273)
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, affects_2.12, docs_only

#79324 update release table with 2.14 details (#79272)
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79275 set docs version in stable-2.14
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#79328 Remove scheduled CI runs.
  .azure-pipelines/azure-pipelines.yml
Labels: backport, affects_2.11

#79305 Add missing type to the `reference` option of the documentation of the `git` module
  lib/ansible/modules/git.py
  test/sanity/ignore.txt
Labels: test, module, new_contributor, bug, small_patch, affects_2.15

#79317 validate-modules: the 'forced_action_plugin' attribute was renamed to 'action' and the extra data was not used anymore
  changelogs/fragments/validate-modules-forced_action_plugin.yml
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: test, needs_triage, bug, affects_2.15

#79316 Fixed memory facts for OpenBSD
  lib/ansible/module_utils/facts/hardware/openbsd.py
Labels: new_contributor, bug, small_patch, affects_2.15

#79341 Add Ansible community 7.0.0b1 porting guide
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: docs, docs_only, affects_2.15

#79340 Add Ansible community 6.6.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_6.rst
Labels: docs, docs_only, affects_2.15

#79276 Japanese version switcher
  docs/docsite/sphinx_conf/core_lang_conf.py
Labels: WIP, docs, small_patch, docs_only, affects_2.15

#79347 Add Ansible community 7.0.0b1 porting guide (#79341)
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#78652 Refactor structure of group module integration tests
  test/integration/targets/group/files/get_free_gid.py
  test/integration/targets/group/files/get_gid_for_group.py
  test/integration/targets/group/files/gidget.py
  test/integration/targets/group/tasks/main.yml
  test/integration/targets/group/tasks/tests.yml
Labels: shipit, core_review, support:core, new_contributor, affects_2.14

#78172 Allow force deletion of group
  changelogs/fragments/78172-allow-force-deletion-of-group.yaml
  lib/ansible/modules/group.py
  test/integration/targets/group/tasks/tests.yml
Labels: needs_revision, needs_rebase, module, core_review, needs_ci, support:core, new_contributor, feature, affects_2.14

#79356 Fix up incorrectly quoted doc example
  docs/docsite/rst/playbook_guide/complex_data_manipulation.rst
Labels: needs_triage, docs, small_patch, docs_only, affects_2.15

#79359 communication.rst: add Storage WG info
  docs/docsite/rst/community/communication.rst
Labels: docs, small_patch, docsite, has_issue, docs_only, affects_2.15

#79354 update backport instructions to 2.14
  docs/docsite/rst/community/development_process.rst
Labels: shipit, docs, docsite, docs_only, affects_2.15

#79308 docfix for ssh_args FAQ
  docs/docsite/rst/reference_appendices/faq.rst
Labels: docs, docs_only, affects_2.15

#79351 Add note to command_line_tools.rst
  docs/docsite/rst/command_guide/command_line_tools.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79355 EOL 2.11 docs
  docs/docsite/sphinx_conf/core_conf.py
  docs/docsite/sphinx_conf/core_lang_conf.py
Labels: backport, docs, small_patch, affects_2.11, docs_only

#79332 [2.12] Fix typo 'Ansbile'
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  lib/ansible/plugins/doc_fragments/action_core.py
Labels: backport, docs, small_patch, affects_2.12

#79331 [2.13] Fix typo 'Ansbile'
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  lib/ansible/plugins/doc_fragments/action_core.py
Labels: backport, docs, small_patch, affects_2.13

#79330 [2.14] Fix typo 'Ansbile'
  lib/ansible/plugins/doc_fragments/action_common_attributes.py
  lib/ansible/plugins/doc_fragments/action_core.py
Labels: backport, docs, small_patch, affects_2.14

#79357 [2.14] Fix up incorrectly quoted doc example (#79356)
  docs/docsite/rst/playbook_guide/complex_data_manipulation.rst
Labels: backport, docs, small_patch, docs_only, affects_2.14

#79361 Backportapalooza 11 10
  docs/docsite/rst/command_guide/command_line_tools.rst
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/development_process.rst
  docs/docsite/rst/reference_appendices/faq.rst
Labels: backport, needs_triage, docs, docsite, docs_only, affects_2.14

#79365 communication.rst: add AAP Config As Code WG
  docs/docsite/rst/community/communication.rst
Labels: docs, small_patch, docsite, has_issue, docs_only, affects_2.15

#79374 [Docs] communication.rst: Add IRC channel to Storage WG info
  docs/docsite/rst/community/communication.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79362 ansible-doc and validate-modules: remove underscore deprecation handling for collections
  changelogs/fragments/79362-validate-modules-underscore.yml
  lib/ansible/cli/doc.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: test, needs_triage, feature, affects_2.15

#79335 [DOCS] collection_release_with_branches.rst: update major releases section
  docs/docsite/rst/community/collection_contributors/collection_release_with_branches.rst
Labels: docs, docsite, has_issue, docs_only, affects_2.15

#79376 Replace _valid_attrs with fattributes
  changelogs/fragments/79376-replace-valid-attrs-with-fattributes.yaml
  lib/ansible/playbook/task.py
Labels: needs_revision, new_contributor, bug, affects_2.15

#79385 2.14: Replace _valid_attrs with fattributes (#79376)
  changelogs/fragments/79376-replace-valid-attrs-with-fattributes.yaml
  lib/ansible/playbook/task.py
Labels: backport, needs_triage, bug, affects_2.14

#79383 Add Ansible community 7.0.0rc1 porting guide (#79382)
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79388 file lookup now works with general lookup error framework (#79339)
  changelogs/fragments/file_lookup_errors.yml
  lib/ansible/plugins/lookup/file.py
Labels: backport, needs_triage, bug, has_issue, affects_2.13

#79154 copy, avoid moving non temp remote 'non' files (#79102)
  changelogs/fragments/dont_move_non_files.yml
  lib/ansible/modules/copy.py
  test/integration/targets/copy/tasks/main.yml
  test/integration/targets/copy/tasks/src_remote_file_is_not_file.yml
Labels: backport, module, needs_triage, bug, affects_2.14

#79142 [2.14] ansible-galaxy - fix unnecessary api check when installing role
  changelogs/fragments/ansible-galaxy-install-delay-initial-api-call.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/role.py
  test/integration/targets/ansible-galaxy-role/tasks/main.yml
  test/integration/targets/ansible-galaxy/runme.sh
Labels: backport, needs_triage, bug, affects_2.14

#79144 2.14: jinja2_native: preserve quotes in strings (#79119)
  changelogs/fragments/79083-jinja2_native-preserve-quotes-in-strings.yml
  lib/ansible/template/native_helpers.py
  test/integration/targets/jinja2_native_types/runme.sh
  test/integration/targets/jinja2_native_types/test_casting.yml
  test/integration/targets/jinja2_native_types/test_concatentation.yml
  test/integration/targets/jinja2_native_types/test_preserving_quotes.yml
Labels: backport, needs_triage, bug, affects_2.14

#79250 mention acl in permissions errors (#79209)
  changelogs/fragments/mention_acl.yml
  lib/ansible/plugins/action/__init__.py
  test/units/plugins/action/test_action.py
Labels: backport, needs_triage, bug, affects_2.14

#79387 Update pull.py
  lib/ansible/cli/pull.py
Labels: docs, small_patch, docs_only, affects_2.15

#79377 Docs: Correcting typos
  lib/ansible/config/base.yml
Labels: new_contributor, docs, affects_2.15

#79395 update antsibull-docs to 1.7.3
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, bug, affects_2.15

#79386 Add tests to validate `vars_files` first found behavior
  test/integration/targets/vars_files/aliases
  test/integration/targets/vars_files/inventory
  test/integration/targets/vars_files/runme.sh
  test/integration/targets/vars_files/runme.yml
  test/integration/targets/vars_files/validate.yml
  test/integration/targets/vars_files/vars/bar.yml
  test/integration/targets/vars_files/vars/common.yml
  test/integration/targets/vars_files/vars/defaults.yml
Labels: affects_2.15

#79118 iss#55935: Documents missing internal parameters and polishes 'Intern…
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: docs, docsite, docs_only, affects_2.15

#78887 Update fileglob.py
  docs/docsite/rst/playbook_guide/playbook_pathing.rst
  lib/ansible/plugins/lookup/fileglob.py
Labels: core_review, support:core, new_contributor, docs, docs_only, affects_2.15

#79405 Allow pip like version syntax for installing collections
  changelogs/fragments/galaxy-install-no-colon.yml
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  test/integration/targets/ansible-galaxy-collection/tasks/upgrade.yml
Labels: feature, affects_2.15

#79380 consolidate duplicated test files
  docs/docsite/rst/dev_guide/testing/sanity/pep8.rst
  docs/docsite/rst/dev_guide/testing/sanity/validate-modules.rst
  docs/docsite/rst/dev_guide/testing_pep8.rst
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
Labels: shipit, docs, docsite, docs_only, affects_2.15

#79403 Add manifest includes for reuse licenses
  changelogs/fragments/79368-galaxy-manifest-reuse-licenses.yml
  lib/ansible/galaxy/collection/__init__.py
Labels: feature, has_issue, affects_2.15

#79391 fix reject list
  examples/plugin_filters.yml
  lib/ansible/plugins/loader.py
  test/integration/targets/plugin_filtering/filter_lookup.yml
  test/integration/targets/plugin_filtering/filter_modules.yml
  test/integration/targets/plugin_filtering/filter_ping.yml
  test/integration/targets/plugin_filtering/filter_stat.yml
  test/integration/targets/plugin_filtering/no_blacklist_module.ini
  test/integration/targets/plugin_filtering/no_rejectlist_module.yml
  test/integration/targets/plugin_filtering/runme.sh
Labels: bug, affects_2.15

#79407 set antsibull-docs to 1.7.3
  docs/docsite/known_good_reqs.txt
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79416 Backportapalooza 11 18
  docs/docsite/rst/community/collection_contributors/collection_release_with_branches.rst
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/testing/sanity/pep8.rst
  docs/docsite/rst/dev_guide/testing/sanity/validate-modules.rst
  docs/docsite/rst/dev_guide/testing_pep8.rst
  docs/docsite/rst/dev_guide/testing_validate-modules.rst
  docs/docsite/rst/playbook_guide/playbook_pathing.rst
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
  lib/ansible/cli/pull.py
  lib/ansible/plugins/filter/b64decode.yml
  lib/ansible/plugins/lookup/fileglob.py
Labels: backport, needs_triage, docs, docsite, affects_2.14

#79434 WinRM - Add doc entry for cert auth over TLS 1.3
  docs/docsite/rst/os_guide/windows_winrm.rst
Labels: needs_triage, docs, docs_only, affects_2.15

#79440 docs - make the existence of 'trivial' changelog entries easier to find
  docs/docsite/rst/community/collection_development_process.rst
Labels: docs, docsite, docs_only, affects_2.15

#79400 Docs: Updating the Ansible community changelogs
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: WIP, docs, docs_only, affects_2.15

#79401 Docs: Updating the HTML context in Sphinx conf
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: WIP, docs, small_patch, docs_only, affects_2.15

#79447 issue #79378 html context in sphinx conf (#79401)
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#79446 Docs: Updating the Ansible community changelogs (#79400)
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79402 [2.14] Docs: change devel for ansible 7
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#79448 Add Ansible community 7.0.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: docs, docs_only, affects_2.15

#79449 Add Ansible community 7.0.0 porting guide (#79448)
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79443 [stable-2.14] ansible-test - Improve pylint command consistency.
  changelogs/fragments/ansible-test-pylint-command.yml
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
Labels: backport, test, bug, affects_2.14

#79399 ansible-galaxy - support ``resolvelib >= 0.5.3, < 0.10.0``
  changelogs/fragments/79399-resolvelib_lt_0_10_0.yml
  lib/ansible/galaxy/dependency_resolution/providers.py
  requirements.txt
  test/lib/ansible_test/_data/requirements/ansible.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
Labels: test, feature, affects_2.15

#79417 more strftime docs
  changelogs/fragments/strftime_docs.yml
  lib/ansible/plugins/filter/strftime.yml
Labels: needs_triage, docs, affects_2.15

#79477 New release v2.13.7rc1
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.7rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.13

#79468 Set explicit meta `long_description_content_type`
  setup.cfg
Labels: needs_triage, small_patch, affects_2.15

#79481 Fix lists styling
  docs/docsite/rst/inventory_guide/intro_inventory.rst
Labels: new_contributor, docs, docs_only, affects_2.15

#79494 Update Ansible release version to v2.13.7rc1.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.13

#79493 Update Ansible release version to v2.14.1rc1.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#79496 ansible-test - Fix completion error in Python 3.11.
  changelogs/fragments/ansible-test-fix-python-3.11-traceback.yml
  test/lib/ansible_test/_internal/cli/argparsing/parsers.py
Labels: test, bug, affects_2.15

#79414 local connection: avoid tb when running in container with invalid user
  changelogs/fragments/local_bad_user.yml
  lib/ansible/plugins/connection/local.py
Labels: bug, affects_2.15

#79420 galaxy: Add license_file to manifest directives
  changelogs/fragments/79420-galaxy-manifest-license.yaml
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection-cli/files/expected.txt
  test/integration/targets/ansible-galaxy-collection-cli/files/galaxy.yml
  test/integration/targets/ansible-galaxy-collection-cli/files/make_collection_dir.py
  test/units/galaxy/test_collection.py
Labels: bug, affects_2.15

#79422 Fix file touch check mode result (#79360)
  changelogs/fragments/79422-fix-file-touch-check-mode-status.yaml
  lib/ansible/modules/file.py
  test/integration/targets/file/tasks/main.yml
Labels: module, bug, affects_2.15

#79431 Fix password lookup rewrites file when using encrypt
  changelogs/fragments/79431-fix-password-lookup-rewrites.yml
  lib/ansible/plugins/lookup/password.py
  test/units/plugins/lookup/test_password.py
Labels: bug, affects_2.15

#79433 add ansible-galaxy cli documentation for parallel execution
  lib/ansible/cli/galaxy.py
Labels: docs, docs_only, affects_2.15

#78550 ansible-test - Improve container management.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-container-management.yml
  docs/docsite/rst/community/create_pr_quick_start.rst
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  docs/docsite/rst/dev_guide/testing_running_locally.rst
  test/integration/targets/ansible-test-container/aliases
  test/integration/targets/ansible-test-container/runme.py
  test/integration/targets/ansible-test-container/runme.sh
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/cgroup.py
  test/lib/ansible_test/_internal/cli/argparsing/parsers.py
  test/lib/ansible_test/_internal/cli/environments.py
  test/lib/ansible_test/_internal/cli/parsers/key_value_parsers.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/shell/__init__.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/constants.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/dev/__init__.py
  test/lib/ansible_test/_internal/dev/container_probe.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/provisioning.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/thread.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
  test/lib/ansible_test/_util/target/setup/check_systemd_cgroup_v1.sh
  test/lib/ansible_test/_util/target/setup/probe_cgroups.py
Labels: needs_revision, needs_rebase, test, support:community, support:core, docs, feature, docsite, has_issue, affects_2.14

#79505 ansible-test - Avoid direct use of `errno`.
  changelogs/fragments/ansible-test-errno.yml
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: test, feature, affects_2.15

#78661 Always create new role
  changelogs/fragments/always-create-new-role.yml
  lib/ansible/playbook/play.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/free.py
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/roles/dupe_inheritance.yml
  test/integration/targets/roles/roles/bottom/tasks/main.yml
  test/integration/targets/roles/roles/middle/tasks/main.yml
  test/integration/targets/roles/roles/top/tasks/main.yml
  test/integration/targets/roles/runme.sh
  test/units/playbook/role/test_role.py
Labels: shipit, support:community, support:core, bug, has_issue, affects_2.14

#74839 Removed sorting to preserve original order
  changelogs/fragments/unsorted.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/inventory_script/inventory.json
Labels: support:community, support:core, bug, affects_2.12
