Repository ansible/ansible, pull requests merged in 2023-01, with the labels that each got.

#79620 Fixed incorrect spelling of the word overridden.
  lib/ansible/modules/set_fact.py
  lib/ansible/plugins/filter/to_json.yml
  lib/ansible/plugins/filter/to_nice_json.yml
  lib/ansible/plugins/filter/to_nice_yaml.yml
  test/integration/targets/delegate_to/delegate_local_from_root.yml
  test/integration/targets/module_utils_Ansible.Basic/library/ansible_basic_tests.ps1
  test/integration/targets/plugin_loader/override/filters.yml
  test/support/windows-integration/plugins/modules/win_stat.ps1
Labels: test, module, stale_ci, affects_2.15

#79651 Document callback types in documentation
  docs/docsite/rst/plugins/callback.rst
Labels: docs, docs_only, affects_2.15

#79623 Update authentication.rst
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/authentication.rst
Labels: stale_ci, new_contributor, docs, small_patch, docs_only, affects_2.15

#79641 Fix typo
  docs/docsite/rst/installation_guide/installation_distros.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79667 Fix EPEL setup for integration tests on RHEL 7
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/yum/tasks/yuminstallroot.yml
Labels: affects_2.15

#79668 [stable-2.14] Fix EPEL setup for integration tests on RHEL 7
  test/integration/targets/setup_epel/tasks/main.yml
  test/integration/targets/yum/tasks/yuminstallroot.yml
Labels: backport, affects_2.14

#79672 Fix link in compile sanity test docs.
  docs/docsite/rst/dev_guide/testing/sanity/compile.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79673 [stable-2.14] Fix link in compile sanity test docs.
  docs/docsite/rst/dev_guide/testing/sanity/compile.rst
Labels: backport, docs, small_patch, docsite, docs_only, affects_2.14

#79635 Fix typo
  lib/ansible/plugins/filter/__init__.py
Labels: new_contributor, bug, small_patch, affects_2.15

#79659 correct the mistake of example repeat_original
  lib/ansible/plugins/filter/product.yml
Labels: needs_triage, new_contributor, docs, small_patch, affects_2.15

#79682 validate-modules: don't fail on invalid YAML
  changelogs/fragments/75837-validate-modules-invalid-yaml.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/invalid_yaml_syntax.py
  test/integration/targets/ansible-test-sanity-validate-modules/expected.txt
  test/integration/targets/ansible-test-sanity-validate-modules/runme.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/utils.py
Labels: new_plugin, test, bug, traceback, affects_2.15

#79686 [stable-2.14] validate-modules: don't fail on invalid YAML (#79682)
  changelogs/fragments/75837-validate-modules-invalid-yaml.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/invalid_yaml_syntax.py
  test/integration/targets/ansible-test-sanity-validate-modules/expected.txt
  test/integration/targets/ansible-test-sanity-validate-modules/runme.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/utils.py
Labels: backport, test, bug, affects_2.14

#79688 Fixes for uri integration test.
  test/integration/targets/uri/tasks/main.yml
  test/integration/targets/uri/tasks/redirect-none.yml
  test/integration/targets/uri/tasks/redirect-urllib2.yml
Labels: affects_2.15

#79615 ansible-test - Update available platforms.
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-updated-platforms.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/completion/remote.txt
  test/lib/ansible_test/_util/target/setup/bootstrap.sh
Labels: test, feature, affects_2.15

#79643 systemd: ignore errors during daemon_reload and daemon_reexec when running in a chroot
  changelogs/fragments/79643-fix-systemd-daemon-reload-in-chroot.yml
  lib/ansible/modules/systemd_service.py
Labels: module, new_contributor, bug, affects_2.15

#76578 fix role argument spec error for invalid suboptions
  changelogs/fragments/76578-fix-role-argspec-suboptions-error.yml
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/plugins/action/validate_argument_spec.py
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
Labels: core_review, support:community, support:core, bug, arg_spec, affects_2.13

#79698 switched reference from katacoda to instruqt
  docs/docsite/rst/getting_started/index.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79678 [Doc] contributor_path: fix typos
  docs/docsite/rst/community/contributor_path.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79692 [Docs] Add Security Automation Working Group to Communication guide
  docs/docsite/rst/community/communication.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79701 Fix `undef()` example to a valid Jinja template
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
Labels: docs, small_patch, docs_only, affects_2.15

#78915 Add support for importlib.resources
  hacking/test-module.py
  lib/ansible/cli/__init__.py
  lib/ansible/cli/galaxy.py
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/collections/list.py
  lib/ansible/compat/importlib_resources.py
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/plugins/list.py
  lib/ansible/plugins/loader.py
  lib/ansible/utils/collection_loader/_collection_finder.py
  requirements.txt
  test/integration/targets/ansible-doc/broken-docs/collections/ansible_collections/testns/testcol/MANIFEST.json
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/MANIFEST.json
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol2/MANIFEST.json
  test/integration/targets/ansible-galaxy-collection/tasks/list.yml
  test/lib/ansible_test/_data/requirements/ansible.txt
  test/units/cli/galaxy/test_execute_list_collection.py
  test/units/cli/test_doc.py
  test/units/executor/module_common/test_recursive_finder.py
  test/units/executor/test_play_iterator.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
  test/units/parsing/test_mod_args.py
  test/units/playbook/test_task.py
  test/units/plugins/action/test_action.py
  test/units/plugins/cache/test_cache.py
  test/units/template/test_templar.py
  test/units/utils/collection_loader/fixtures/collections_masked/ansible_collections/testns/testcoll2/__init__.py
  test/units/utils/collection_loader/test_collection_loader.py
Labels: networking, test, support:core, feature, traceback, affects_2.15

#79621 Fix broken reference to FAQ
  lib/ansible/plugins/doc_fragments/validate.py
Labels: new_contributor, docs, small_patch, affects_2.15

#79699 ansible-test - fix ps argspec check inside cmdlet
  changelogs/fragments/validate-module-ps-cmdlet.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/README.rst
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/galaxy.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/meta/main.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/plugins/modules/failure_ps.ps1
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/plugins/modules/failure_ps.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/ps_only/plugins/module_utils/share_module.psm1
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/ps_only/plugins/modules/in_function.ps1
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/ps_only/plugins/modules/in_function.yml
  test/integration/targets/ansible-test-sanity-validate-modules/runme.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: new_plugin, test, bug, affects_2.15

#79690 normal action plugin: remove superfluous code
  changelogs/fragments/79690-normal-action-undefined.yml
  lib/ansible/plugins/action/normal.py
Labels: bug, affects_2.15

#79709 ansible-test - fix ps argspec check inside cmdlet (#79699) - 2.14
  changelogs/fragments/validate-module-ps-cmdlet.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/README.rst
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/galaxy.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/meta/main.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/plugins/modules/failure_ps.ps1
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/failure/plugins/modules/failure_ps.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/ps_only/plugins/module_utils/share_module.psm1
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/ps_only/plugins/modules/in_function.ps1
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/ps_only/plugins/modules/in_function.yml
  test/integration/targets/ansible-test-sanity-validate-modules/runme.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: backport, test, bug, affects_2.14

#79708 ansible-test - fix ps argspec check inside cmdlet (#79699) - 2.13
  changelogs/fragments/validate-module-ps-cmdlet.yml
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: backport, test, bug, affects_2.13

#79707 ansible-test - fix ps argspec check inside cmdlet (#79699) - 2.12
  changelogs/fragments/validate-module-ps-cmdlet.yml
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/ps_argspec.ps1
Labels: backport, test, bug, affects_2.12

#79721 Use uri in uri test instead of get_url.
  test/integration/targets/uri/tasks/main.yml
Labels: affects_2.15

#79056 document adjacent docs (sidecar)
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/core_index.rst
  docs/docsite/rst/dev_guide/developing_locally.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/sidecar.rst
  docs/docsite/rst/dev_guide/testing_documentation.rst
Labels: docs, docsite, docs_only, affects_2.15

#79718 Ensure we are passing ciphers to all url_get calls
  changelogs/fragments/79717-get-url-ciphers.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/ciphers.yml
Labels: module, bug, affects_2.15

#79719 Better json content type detection for uri
  changelogs/fragments/better-maybe-json-uri.yml
  lib/ansible/modules/uri.py
Labels: module, bug, affects_2.15

#79724 Correctly count rescued tasks in play stats
  changelogs/fragments/79711-fix-play-stats-rescued.yml
  lib/ansible/executor/play_iterator.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/blocks/79711.yml
  test/integration/targets/blocks/runme.sh
Labels: bug, affects_2.15

#79681 Fix reporting of deprecated arguments for modules
  changelogs/fragments/79681-argspec-param-deprecation.yml
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/errors.py
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
Labels: bug, P3, has_issue, affects_2.15

#77737 Support test and filter plugins in ansible-doc sanity test
  changelogs/fragments/77737-ansible-doc-test-filters-tests.yml
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/plugin_utils/check_pylint.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/ansible_doc.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
Labels: new_plugin, test, core_review, support:community, support:core, feature, has_issue, affects_2.14

#79729 add task for testing to remove gpg key using key id
  test/integration/targets/rpm_key/tasks/rpm_key.yaml
Labels: affects_2.15

#79730 Truthy value should be one of false or true
  lib/ansible/modules/systemd_service.py
Labels: module, new_contributor, docs, docs_only, affects_2.15

#79736 Fix regex filter docs
  lib/ansible/plugins/filter/regex_replace.yml
  lib/ansible/plugins/filter/regex_search.yml
Labels: docs, small_patch, affects_2.15

#79732 Show filename additionally if missing secrets prevents decryption
  changelogs/fragments/79732-filename_in_decrypt_error.yml
  lib/ansible/parsing/vault/__init__.py
Labels: new_contributor, bug, has_issue, affects_2.15

#79655 [2.12] Document callback types in documentation
  docs/docsite/rst/plugins/callback.rst
Labels: backport, needs_triage, docs, affects_2.12, docs_only

#79654 [2.13] Document callback types in documentation
  docs/docsite/rst/plugins/callback.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.13

#79653 [2.14] Document callback types in documentation
  docs/docsite/rst/plugins/callback.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#79728 2.14: Correctly count rescued tasks in play stats (#79724)
  changelogs/fragments/79711-fix-play-stats-rescued.yml
  lib/ansible/executor/play_iterator.py
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/blocks/79711.yml
  test/integration/targets/blocks/runme.sh
Labels: backport, needs_triage, bug, affects_2.14

#79696 [2.14] ansible-galaxy - fix global toggle to ignore certs
  changelogs/fragments/79561-fix-a-g-global-ignore-certs-cfg.yml
  lib/ansible/cli/galaxy.py
  test/units/galaxy/test_collection.py
Labels: backport, needs_triage, bug, affects_2.14

#79726 [stable-2.14] Better json content type detection for uri (#79719)
  changelogs/fragments/better-maybe-json-uri.yml
  lib/ansible/modules/uri.py
Labels: needs_info, backport, module, needs_triage, needs_template, affects_2.14

#79727 [stable-2.14] Ensure we are passing ciphers to all url_get calls (#79718)
  changelogs/fragments/79717-get-url-ciphers.yml
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/ciphers.yml
Labels: backport, module, needs_triage, affects_2.14

#79759 Use the Legacy pool instead of Standard.
  .azure-pipelines/azure-pipelines.yml
Labels: backport, small_patch, affects_2.9

#79758 complex_data_manipulation.rst: fix typo
  docs/docsite/rst/playbook_guide/complex_data_manipulation.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79762 Fix broken link for inventory script examples
  docs/docsite/rst/inventory_guide/intro_dynamic_inventory.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79751 [Docs] communication.rst: improve
  docs/docsite/rst/community/communication.rst
Labels: docs, small_patch, docsite, has_issue, docs_only, affects_2.15

#79738 [2.14] fix role argument spec error for invalid suboptions & fix reporting of deprecated arguments for modules
  changelogs/fragments/76578-fix-role-argspec-suboptions-error.yml
  changelogs/fragments/79681-argspec-param-deprecation.yml
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/errors.py
  lib/ansible/plugins/action/validate_argument_spec.py
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/integration/targets/roles_arg_spec/test_complex_role_fails.yml
Labels: backport, needs_triage, bug, affects_2.14

#79605 filter/test plugin listing, fix bug on file sorting (#79591)
  changelogs/fragments/adoc_fix_list.yml
  lib/ansible/plugins/list.py
Labels: backport, needs_triage, bug, affects_2.14

#79769 Fix broken docs links.
  docs/docsite/rst/dev_guide/testing_running_locally.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79770 [2.14] Argument spec alias handling: actually report deprecated aliases in suboptions, and fix warning message in suboptions when two aliases of the same option are used
  changelogs/fragments/79740-aliases-warnings-deprecations-in-suboptions.yml
  lib/ansible/module_utils/common/arg_spec.py
  lib/ansible/module_utils/common/parameters.py
  test/integration/targets/argspec/library/argspec.py
  test/integration/targets/argspec/tasks/main.yml
  test/units/module_utils/common/arg_spec/test_aliases.py
  test/units/module_utils/common/arg_spec/test_module_validate.py
Labels: backport, bug, affects_2.14

#79412 document where to save cloud config files
  test/lib/ansible_test/config/cloud-config-aws.ini.template
  test/lib/ansible_test/config/cloud-config-azure.ini.template
  test/lib/ansible_test/config/cloud-config-cloudscale.ini.template
  test/lib/ansible_test/config/cloud-config-cs.ini.template
  test/lib/ansible_test/config/cloud-config-gcp.ini.template
  test/lib/ansible_test/config/cloud-config-hcloud.ini.template
  test/lib/ansible_test/config/cloud-config-opennebula.ini.template
  test/lib/ansible_test/config/cloud-config-openshift.kubeconfig.template
  test/lib/ansible_test/config/cloud-config-scaleway.ini.template
  test/lib/ansible_test/config/cloud-config-vcenter.ini.template
  test/lib/ansible_test/config/cloud-config-vultr.ini.template
  test/lib/ansible_test/config/inventory.networking.template
  test/lib/ansible_test/config/inventory.winrm.template
Labels: needs_revision, test, docs, affects_2.15

#79772 document adjacent docs (sidecar) (#79056)
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/core_index.rst
  docs/docsite/rst/dev_guide/developing_locally.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/dev_guide/sidecar.rst
  docs/docsite/rst/dev_guide/testing_documentation.rst
Labels: backport, needs_triage, docs, docsite, docs_only, affects_2.14

#79771 Backportapalooza 01 19
  docs/docsite/rst/community/communication.rst
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/dev_guide/testing_running_locally.rst
  docs/docsite/rst/getting_started/index.rst
  docs/docsite/rst/installation_guide/installation_distros.rst
  docs/docsite/rst/inventory_guide/intro_dynamic_inventory.rst
  docs/docsite/rst/playbook_guide/complex_data_manipulation.rst
  docs/docsite/rst/playbook_guide/playbooks_filters.rst
  docs/docsite/rst/scenario_guides/vmware_rest_scenarios/authentication.rst
  lib/ansible/modules/systemd_service.py
  lib/ansible/plugins/doc_fragments/validate.py
  lib/ansible/plugins/filter/product.yml
  lib/ansible/plugins/filter/regex_replace.yml
  lib/ansible/plugins/filter/regex_search.yml
Labels: backport, module, needs_triage, docs, docsite, affects_2.14

#79774 Flush output in sanity requirements update script.
  hacking/update-sanity-requirements.py
Labels: bug, small_patch, affects_2.15

#79764 Fix traceback in template action with ANSIBLE_DEBUG=1
  changelogs/fragments/79763-ansible_debug_template_tb_fix.yml
  lib/ansible/plugins/action/template.py
  test/integration/targets/var_templating/ansible_debug_template.j2
  test/integration/targets/var_templating/runme.sh
  test/integration/targets/var_templating/test_vars_with_sources.yml
Labels: bug, affects_2.15

#79775 2.14: Fix traceback in template action with ANSIBLE_DEBUG=1 (#79764)
  changelogs/fragments/79763-ansible_debug_template_tb_fix.yml
  lib/ansible/plugins/action/template.py
  test/integration/targets/var_templating/ansible_debug_template.j2
  test/integration/targets/var_templating/runme.sh
  test/integration/targets/var_templating/test_vars_with_sources.yml
Labels: backport, needs_triage, bug, affects_2.14

#79779 fix filename for sidecar docs
  docs/docsite/rst/dev_guide/ansible_index.rst
Labels: shipit, docs, small_patch, docsite, docs_only, affects_2.15

#79789 New release v2.14.2rc1
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.2rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#79792 Update Ansible release version to v2.14.2rc1.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#79793 ansible-test - Deprecate the govcsim container.
  changelogs/fragments/ansible-test-govcsim.yml
  test/integration/targets/ansible-test-cloud-vcenter/aliases
  test/integration/targets/ansible-test-cloud-vcenter/tasks/main.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/vcenter.py
Labels: test, feature, affects_2.15

#79797 ansible-test - Remove obsolete DirectoryTarget.
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/target.py
Labels: test, bug, affects_2.15

#79798 ansible-test - Fix various type hinting issues.
  test/lib/ansible_test/_internal/become.py
  test/lib/ansible_test/_internal/cgroup.py
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/classification/python.py
  test/lib/ansible_test/_internal/cli/argparsing/__init__.py
  test/lib/ansible_test/_internal/cli/argparsing/argcompletion.py
  test/lib/ansible_test/_internal/cli/argparsing/parsers.py
  test/lib/ansible_test/_internal/cli/compat.py
  test/lib/ansible_test/_internal/cli/parsers/base_argument_parsers.py
  test/lib/ansible_test/_internal/cli/parsers/key_value_parsers.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/coverage.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/dev/container_probe.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/pypi_proxy.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/thread.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: test, bug, affects_2.15

#79804 Fix conditionally notified include handlers
  changelogs/fragments/79776-fix-force_handlers-cond-include.yml
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/handlers/79776-handlers.yml
  test/integration/targets/handlers/79776.yml
  test/integration/targets/handlers/runme.sh
Labels: bug, affects_2.15

#79800 validate-modules - Remove `__future__` limits
  changelogs/fragments/ansible-test-validate-modules-future-import.yml
  docs/docsite/rst/dev_guide/testing/sanity/validate-modules.rst
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/lookup/import_order_lookup.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/import_order.py
  test/integration/targets/ansible-test-sanity-validate-modules/expected.txt
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: new_plugin, test, docs, feature, docsite, affects_2.15

#79803 correct examples to use removed_from_collection not collection_name
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79750 [Docs] maintainers_guidelines: add WG and real-time chat request info
  docs/docsite/rst/community/maintainers_guidelines.rst
Labels: docs, docsite, has_issue, docs_only, affects_2.15

#79810 ansible-galaxy - Use `raise ... from` instead of `six.raise_from`
  changelogs/fragments/use-native-raise-from.yml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
Labels: feature, affects_2.15

#79783 Bump acme test container
  changelogs/fragments/79783-acme-test-container.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/acme.py
Labels: test, bug, affects_2.15

#79801 Docs: fix related to platform content #79794
  docs/docsite/rst/reference_appendices/tower.rst
Labels: docs, small_patch, docs_only, affects_2.15, platform docs content

#79715 Fix: documentation for per-task timeout
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
Labels: networking, needs_triage, new_contributor, docs, docsite, docs_only, affects_2.15

#79813 ansible-test - Update CloudStack plugin container
  changelogs/fragments/ansible-test-cloudstack-plugin.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
Labels: test, feature, affects_2.15

#79706 strategy fix invalid variables being registered
  changelogs/fragments/strategy_badid_fix.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/register/aliases
  test/integration/targets/register/can_register.yml
  test/integration/targets/register/invalid.yml
  test/integration/targets/register/invalid_skipped.yml
  test/integration/targets/register/runme.sh
Labels: bug, affects_2.15

#79817 Drop requirement for matching sanity constraints
  test/sanity/code-smell/test-constraints.py
Labels: test, affects_2.15

#79812 Update mypy and its dependencies.
  lib/ansible/module_utils/common/yaml.py
  lib/ansible/module_utils/compat/typing.py
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/pip.py
  lib/ansible/playbook/base.py
  lib/ansible/template/__init__.py
  test/lib/ansible_test/_data/requirements/sanity.mypy.in
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
  test/lib/ansible_test/_internal/commands/sanity/mypy.py
  test/lib/ansible_test/_util/controller/sanity/mypy/ansible-test.ini
  test/sanity/ignore.txt
Labels: test, module, affects_2.15

#79819 ansible-test - Update sanity test requirements
  changelogs/fragments/ansible-test-sanity-requirements.yml
  test/lib/ansible_test/_data/requirements/sanity.ansible-doc.txt
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/lib/ansible_test/_data/requirements/sanity.import.plugin.txt
  test/lib/ansible_test/_data/requirements/sanity.pep8.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
  test/lib/ansible_test/_data/requirements/sanity.yamllint.txt
  test/sanity/code-smell/deprecated-config.requirements.txt
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/code-smell/rstcheck.requirements.txt
  test/sanity/code-smell/update-bundled.requirements.txt
Labels: test, feature, affects_2.15

#79820 ansible-test - Update the NIOS test container
  changelogs/fragments/ansible-test-nios-plugin.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/nios.py
Labels: test, feature, affects_2.15

#79821 ansible-test - Deprecate the foreman test plugin
  changelogs/fragments/ansible-test-foreman.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/foreman.py
Labels: test, feature, affects_2.15

#79808 fix installing collections from git repos that contain MANIFEST.json
  changelogs/fragments/ansible-galaxy-install-git-src-manifest.yml
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection-scm/meta/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/test_manifest_metadata.yml
Labels: bug, affects_2.15

#79768 Expand docs for the import sanity test.
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
Labels: docs, docsite, docs_only, affects_2.15

#79694 docs: Extend password entry of ansible.builtin.user
  lib/ansible/modules/user.py
Labels: module, docs, docs_only, affects_2.15

#76140 Improve documentation on requirements.yml
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
Labels: core_review, support:core, docs, docs_only, affects_2.13

#79843 New release v2.14.2
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.2_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, affects_2.14

#79830 [Docs] add easyfix/good first issue/docs links
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/how_can_I_help.rst
Labels: docs, docsite, has_issue, docs_only, affects_2.15

#79840 [Docs] add doc links to documentation_contributions.rst
  docs/docsite/rst/community/documentation_contributions.rst
Labels: docs, docsite, has_issue, docs_only, affects_2.15

#79845 Update Ansible release version to v2.14.2.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, small_patch, affects_2.14

#79795 Remove dev_guide stubs
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/core_index.rst
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/openstack_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/vmware_rest_guidelines.rst
Labels: docs, docsite, docs_only, affects_2.15

#79848 Ansible.Basic.cs - Fix compile error on PS 7.3.x
  changelogs/fragments/powershell-7.3-fix.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: windows, needs_triage, bug, affects_2.15

#79846 ansible-test - Update base and default containers
  changelogs/fragments/ansible-test-default-container-update.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#79854 Remove unused and unreachable unit test code
  test/sanity/ignore.txt
  test/units/cli/arguments/test_optparse_helpers.py
  test/units/cli/test_adhoc.py
  test/units/cli/test_galaxy.py
  test/units/executor/module_common/test_modify_module.py
  test/units/executor/module_common/test_module_common.py
  test/units/executor/test_play_iterator.py
  test/units/playbook/test_base.py
  test/units/playbook/test_helpers.py
  test/units/template/test_templar.py
Labels: test, affects_2.15

#79856 Add tests to cover win_reboot incidental paths
  test/integration/targets/connection_psrp/tests.yml
  test/integration/targets/connection_winrm/tests.yml
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/action/win_reboot.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/plugin_utils/_quote.py
  test/support/windows-integration/collections/ansible_collections/ansible/windows/plugins/plugin_utils/_reboot.py
Labels: new_plugin, test, needs_triage, affects_2.15

#79853 AddType - Support compiling with /unsafe C# code
  changelogs/fragments/AddType-unsafe.yml
  lib/ansible/module_utils/powershell/Ansible.ModuleUtils.AddType.psm1
  test/integration/targets/module_utils_Ansible.ModuleUtils.AddType/library/add_type_test.ps1
Labels: windows, needs_triage, feature, affects_2.15

#79867 Add Ansible community 7.2.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: needs_triage, docs, docs_only, affects_2.15

#79868 Add Ansible community 7.2.0 porting guide (#79867)
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: backport, needs_triage, bug, docs, docs_only, affects_2.14

#79828 Docs Backportapalooza 01 26
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
  docs/docsite/rst/galaxy/dev_guide.rst
  docs/docsite/rst/galaxy/user_guide.rst
  docs/docsite/rst/network/user_guide/network_debug_troubleshooting.rst
  docs/docsite/rst/reference_appendices/tower.rst
  docs/docsite/rst/shared_snippets/installing_multiple_collections.txt
  lib/ansible/modules/user.py
Labels: backport, networking, module, needs_triage, docs, docsite, docs_only, affects_2.14
