Repository ansible/ansible, pull requests merged in 2023-05, with the labels that each got.

#80650 Don't include a default for cli as it overrides config with lesser pr…
  changelogs/fragments/timeout_config_fix.yml
  lib/ansible/cli/arguments/option_helpers.py
Labels: bug, affects_2.16

#80659 Disable failing incidental_inventory_docker_swarm
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/incidental_inventory_docker_swarm/aliases
Labels: backport, test, affects_2.13

#80641 Release tool improvements
  packaging/release.py
Labels: feature, affects_2.16

#80680 [stable-2.14] Release tool improvements (#80641)
  packaging/release.py
Labels: backport, feature, affects_2.14

#80681 [stable-2.13] Release tool improvements (#80641)
  packaging/release.py
Labels: backport, feature, affects_2.13

#80682 [stable-2.12] Release tool improvements (#80641)
  packaging/release.py
Labels: backport, feature, affects_2.12

#80684 Backport setuptools fixes
  MANIFEST.in
  changelogs/fragments/ansible-test-minimum-setuptools.yml
  changelogs/fragments/fix-setuptools-warnings.yml
  hacking/update-sanity-requirements.py
  pyproject.toml
  setup.cfg
  test/sanity/code-smell/package-data.py
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
Labels: backport, test, feature, affects_2.15

#80685 ansible-test - Update default containers
  changelogs/fragments/ansible-test-default-container-update.yml
  test/lib/ansible_test/_data/completion/docker.txt
Labels: backport, test, feature, small_patch, affects_2.15

#80686 New release v2.15.0rc2
  changelogs/CHANGELOG-v2.15.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.15.0rc2_summary.yaml
  lib/ansible/release.py
Labels: backport, feature, affects_2.15

#80687 Update Ansible release version to v2.15.0rc2.post0.
  lib/ansible/release.py
Labels: backport, feature, small_patch, affects_2.15

#80689 Fix docs-build test to not mutate source tree
  test/sanity/code-smell/docs-build.py
Labels: test, affects_2.16

#80691 Add Ansible community 8.0.0a3 porting guide
  docs/docsite/rst/porting_guides/porting_guide_8.rst
Labels: needs_triage, docs, docs_only, affects_2.16

#80672 Fix typo in comment filter option
  lib/ansible/plugins/filter/comment.yml
Labels: needs_triage, new_contributor, docs, small_patch, affects_2.16

#80664 Wording change
  docs/docsite/rst/shared_snippets/galaxy_server_list.txt
Labels: docs, small_patch, docs_only, affects_2.16

#80695 Improve coverage of role unit tests
  test/units/playbook/role/test_include_role.py
  test/units/playbook/role/test_role.py
Labels: affects_2.16

#80690 pep517 backend - Copy symlinks when copying source
  changelogs/fragments/pep517-backend-traceback-fix.yml
  packaging/pep517_backend/_backend.py
Labels: bug, traceback, affects_2.16

#80699 Remove FreeBSD 12.2 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: backport, small_patch, affects_2.12

#80703 Fix os.walk issues in package-data sanity test
  test/sanity/code-smell/package-data.json
  test/sanity/code-smell/package-data.py
Labels: test, affects_2.16

#80698 Add fbsd 13.2 to CI
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ci_freebsd_new.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, affects_2.16

#80712 Remove unused code from lib/ansible/collections/
  lib/ansible/collections/__init__.py
  lib/ansible/collections/list.py
Labels: bug, affects_2.16

#80705 Account for overlays when interacting with Jinja envs
  changelogs/fragments/80605-template-overlay-native-jinja.yml
  lib/ansible/template/__init__.py
  test/integration/targets/template_jinja2_non_native/macro_override.yml
  test/integration/targets/template_jinja2_non_native/runme.sh
  test/integration/targets/template_jinja2_non_native/templates/macro_override.j2
Labels: needs_triage, bug, has_issue, affects_2.16

#80719 Fix docstrings RST markup in `ansible-console` CLI module
  lib/ansible/cli/console.py
Labels: bug, docs_only, affects_2.16

#80724 ansible-test - Always use unique container names
  changelogs/fragments/ansible-test-unique-container-names.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/acme.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/cloud/galaxy.py
  test/lib/ansible_test/_internal/commands/integration/cloud/httptester.py
  test/lib/ansible_test/_internal/commands/integration/cloud/nios.py
  test/lib/ansible_test/_internal/commands/integration/cloud/openshift.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/pypi_proxy.py
Labels: test, bug, affects_2.16

#80739 ansible-test - Update the NIOS test container
  changelogs/fragments/ansible-test-nios-container.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/nios.py
Labels: test, feature, affects_2.16

#80645 setup module, retry facter to handle --puppet errors
  changelogs/fragments/setup_facter_fix.yml
  lib/ansible/module_utils/facts/other/facter.py
Labels: bug, affects_2.16

#80741 Remove unnecessary test case in vault editor
  test/units/parsing/vault/test_vault_editor.py
Labels: affects_2.16

#80552 [stable-2.14] Reconfigure stdout/stderr to replace invalid UTF-8 characters
  changelogs/fragments/80258-defensive-display-non-utf8.yml
  lib/ansible/utils/display.py
Labels: backport, needs_triage, bug, affects_2.14

#80701 [stable-2.14] pep517 backend - Copy symlinks when copying source
  changelogs/fragments/pep517-backend-traceback-fix.yml
  packaging/pep517_backend/_backend.py
Labels: backport, bug, affects_2.14

#80717 2.14: Account for overlays when interacting with Jinja envs (#80705)
  changelogs/fragments/80605-template-overlay-native-jinja.yml
  lib/ansible/template/__init__.py
  test/integration/targets/template_jinja2_non_native/macro_override.yml
  test/integration/targets/template_jinja2_non_native/runme.sh
  test/integration/targets/template_jinja2_non_native/templates/macro_override.j2
Labels: backport, needs_triage, bug, affects_2.14

#80667 [2.13] ansible-galaxy: fix installing signed collections (#80661)
  changelogs/fragments/80648-fix-ansible-galaxy-cache-signatures-bug.yml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/galaxy/dependency_resolution/providers.py
Labels: backport, needs_triage, bug, affects_2.13

#80702 [stable-2.13] pep517 backend - Copy symlinks when copying source
  changelogs/fragments/pep517-backend-traceback-fix.yml
  packaging/pep517_backend/_backend.py
Labels: backport, bug, affects_2.13

#80666 [2.14] ansible-galaxy: fix installing signed collections (#80661)
  changelogs/fragments/80648-fix-ansible-galaxy-cache-signatures-bug.yml
  lib/ansible/galaxy/collection/__init__.py
  lib/ansible/galaxy/dependency_resolution/dataclasses.py
  lib/ansible/galaxy/dependency_resolution/providers.py
Labels: backport, needs_triage, bug, affects_2.14

#74723 fix error if path had wildcard in it
  changelogs/fragments/74723-support-wildcard-win_fetch.yml
  lib/ansible/plugins/connection/winrm.py
  test/integration/targets/win_fetch/tasks/main.yml
Labels: windows, core_review, support:community, support:core, bug, affects_2.12

#80748 junit-xml - Remove outdated type ignore hint
  lib/ansible/utils/_junit_xml.py
Labels: bug, small_patch, affects_2.16

#80750 ansible-test - Avoid use of deprecated utcnow
  changelogs/fragments/ansible-test-utcnow.yml
  lib/ansible/utils/_junit_xml.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/test.py
Labels: test, feature, affects_2.16

#80763 [sanity-mypy] Ignore re-import warning
  lib/ansible/module_utils/compat/typing.py
Labels: bug, small_patch, has_issue, affects_2.16

#80764 ansible-test - Fix timeout handling
  changelogs/fragments/ansible-test-timeout-fix.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
Labels: test, bug, affects_2.16

#80770 ansible-test - Relax pylint config for backports
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
Labels: backport, test, bug, affects_2.13

#80758 [stable-2.14] ansible-test - Avoid use of deprecated utcnow (#80750)
  changelogs/fragments/ansible-test-utcnow.yml
  lib/ansible/utils/_junit_xml.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, feature, affects_2.14

#80759 [stable-2.13] ansible-test - Avoid use of deprecated utcnow (#80750)
  changelogs/fragments/ansible-test-utcnow.yml
  lib/ansible/utils/_junit_xml.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, feature, affects_2.13

#80760 [stable-2.12] ansible-test - Avoid use of deprecated utcnow (#80750)
  changelogs/fragments/ansible-test-utcnow.yml
  lib/ansible/utils/_junit_xml.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, feature, affects_2.12

#80766 [stable-2.14] ansible-test - Fix timeout handling (#80764)
  changelogs/fragments/ansible-test-timeout-fix.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
Labels: backport, test, bug, affects_2.14

#80769 ansible-test - Fix handling of long timeouts
  changelogs/fragments/ansible-test-long-timeout-fix.yml
  test/lib/ansible_test/_internal/timeout.py
Labels: test, bug, affects_2.16

#80771 ansible-test - Relax pylint config for backports
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
Labels: backport, test, bug, affects_2.12

#80767 [stable-2.13] ansible-test - Fix timeout handling (#80764)
  changelogs/fragments/ansible-test-timeout-fix.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
Labels: backport, test, bug, affects_2.13

#80768 [stable-2.12] ansible-test - Fix timeout handling (#80764).
  changelogs/fragments/ansible-test-timeout-fix.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
Labels: backport, test, bug, affects_2.12

#80773 [stable-2.14] ansible-test - Fix handling of long timeouts (#80769)
  changelogs/fragments/ansible-test-long-timeout-fix.yml
  test/lib/ansible_test/_internal/timeout.py
Labels: backport, test, bug, affects_2.14

#80774 [stable-2.13] ansible-test - Fix handling of long timeouts (#80769)
  changelogs/fragments/ansible-test-long-timeout-fix.yml
  test/lib/ansible_test/_internal/timeout.py
Labels: backport, test, bug, affects_2.13

#80775 [stable-2.12] ansible-test - Fix handling of long timeouts (#80769)
  changelogs/fragments/ansible-test-long-timeout-fix.yml
  test/lib/ansible_test/_internal/timeout.py
Labels: backport, test, bug, affects_2.12

#80755 ansible-test - Add RHEL 9.2 support
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-rhel-9.2.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, feature, affects_2.16

#80651 config lookup, new option to show origin of value
  changelogs/fragments/config_origins_option.yml
  lib/ansible/plugins/__init__.py
  lib/ansible/plugins/lookup/config.py
  test/integration/targets/lookup_config/tasks/main.yml
Labels: feature, affects_2.16

#80797 New release v2.13.10rc1
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.13.10rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, feature, affects_2.13

#80798 New release v2.14.6rc1
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.14.6rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, feature, affects_2.14

#80802 Update Ansible release version to v2.13.10rc1.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, feature, small_patch, affects_2.13

#80804 Update Ansible release version to v2.15.0.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, feature, small_patch, affects_2.15

#80700 [stable-2.15] pep517 backend - Copy symlinks when copying source
  changelogs/fragments/pep517-backend-traceback-fix.yml
  packaging/pep517_backend/_backend.py
Labels: backport, stale_ci, bug, affects_2.15

#80757 [stable-2.15] ansible-test - Avoid use of deprecated utcnow (#80750)
  changelogs/fragments/ansible-test-utcnow.yml
  lib/ansible/utils/_junit_xml.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, feature, affects_2.15

#80765 [stable-2.15] ansible-test - Fix timeout handling (#80764)
  changelogs/fragments/ansible-test-timeout-fix.yml
  test/lib/ansible_test/_internal/__init__.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/commands/env/__init__.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
Labels: backport, test, bug, affects_2.15

#80772 [stable-2.15] ansible-test - Fix handling of long timeouts (#80769)
  changelogs/fragments/ansible-test-long-timeout-fix.yml
  test/lib/ansible_test/_internal/timeout.py
Labels: backport, test, bug, affects_2.15

#80803 Update Ansible release version to v2.14.6rc1.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, feature, small_patch, affects_2.14

#80807 Add Ansible community 8.0.0b1 porting guide
  docs/docsite/rst/porting_guides/porting_guide_8.rst
Labels: needs_triage, docs, docs_only, affects_2.16

#80811 No core irc meeting
  hacking/ticket_stubs/wider_discussion.md
Labels: needs_triage, docs, small_patch, affects_2.16

#80812 Use subset checks for some collection loader tests
  test/units/utils/collection_loader/test_collection_loader.py
Labels: affects_2.16

#80790 [Backport stable-2.15] update version switcher for 2.15
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.15

#80793 [Backport stable-2.15] set version to 2.15
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.15

#80815 Use strings for `removal_date` in runtime metadata
  changelogs/fragments/ansible-runtime-metadata-removal-date.yml
  lib/ansible/config/ansible_builtin_runtime.yml
Labels: feature, runtime, affects_2.16

#80816 Fix hard-coded interpreter in test_async_wrapper
  test/units/modules/test_async_wrapper.py
Labels: affects_2.16

#80814 [stable-2.15] Use subset checks for some collection loader tests
  test/units/utils/collection_loader/test_collection_loader.py
Labels: backport, affects_2.15

#80801 ansible-test - Fix traceback when mixing sources
  changelogs/fragments/ansible-test-source-detection.yml
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/provider/layout/ansible.py
  test/lib/ansible_test/_internal/provider/layout/collection.py
Labels: test, bug, affects_2.16

#80751 urls - remove deprecated client key calls
  changelogs/fragments/urls-client-cert-py12.yml
  lib/ansible/module_utils/urls.py
  test/units/module_utils/urls/test_Request.py
Labels: bug, affects_2.16

#80778 Removed testing support for Server 2012 and 2012 R2
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/commands/incidental/windows.sh
  .azure-pipelines/commands/windows.sh
  changelogs/fragments/server2012-deprecation.yml
  docs/docsite/rst/dev_guide/developing_modules_general_windows.rst
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  docs/docsite/rst/os_guide/windows_faq.rst
  docs/docsite/rst/os_guide/windows_setup.rst
  test/lib/ansible_test/_data/completion/windows.txt
Labels: test, docs, feature, docsite, has_issue, affects_2.16

#80827 [stable-2.15] ansible-test - Fix traceback when mixing sources (#80801)
  changelogs/fragments/ansible-test-source-detection.yml
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/provider/layout/ansible.py
  test/lib/ansible_test/_internal/provider/layout/collection.py
Labels: backport, test, bug, affects_2.15

#80822 Add test for symbolic to octal when others is omitted
  test/units/module_utils/basic/test__symbolic_mode_to_octal.py
Labels: affects_2.16

#80512 command - Add option to disable argument var expansion
  changelogs/fragments/command-expand-args.yml
  lib/ansible/modules/command.py
  lib/ansible/plugins/action/shell.py
  test/integration/targets/command_shell/tasks/main.yml
Labels: module, feature, has_issue, affects_2.16

#80752 Remove deprecated include
  changelogs/fragments/remove-include.yml
  lib/ansible/config/ansible_builtin_runtime.yml
  lib/ansible/constants.py
  lib/ansible/executor/task_executor.py
  lib/ansible/modules/_include.py
  lib/ansible/playbook/block.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/included_file.py
  lib/ansible/playbook/task_include.py
  test/integration/targets/include_when_parent_is_dynamic/tasks.yml
  test/integration/targets/include_when_parent_is_static/tasks.yml
  test/integration/targets/includes/include_on_playbook_should_fail.yml
  test/integration/targets/includes/roles/test_includes/handlers/main.yml
  test/integration/targets/includes/roles/test_includes/tasks/main.yml
  test/integration/targets/includes/roles/test_includes_free/tasks/main.yml
  test/integration/targets/includes/roles/test_includes_host_pinned/tasks/main.yml
  test/integration/targets/includes/runme.sh
  test/integration/targets/includes/test_includes2.yml
  test/integration/targets/includes/test_includes3.yml
  test/integration/targets/parsing/roles/test_good_parsing/tasks/main.yml
  test/integration/targets/parsing/roles/test_good_parsing/tasks/test_include_conditional.yml
  test/integration/targets/var_precedence/ansible-var-precedence-check.py
  test/sanity/ignore.txt
  test/units/executor/test_play_iterator.py
  test/units/parsing/test_dataloader.py
  test/units/playbook/test_helpers.py
  test/units/playbook/test_included_file.py
Labels: windows, test, module, deprecated, feature, runtime, affects_2.16

#80779 Missing space in docs
  docs/docsite/rst/community/create_pr_quick_start.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.16

#80692 Update inconsistency in playbooks_checkmode
  docs/docsite/rst/playbook_guide/playbooks_checkmode.rst
Labels: stale_ci, new_contributor, docs, small_patch, docs_only, affects_2.16

#80591 fix yes/no to true/false in loop documents etc
  docs/docsite/rst/network/getting_started/intermediate_concepts.rst
  docs/docsite/rst/os_guide/windows_winrm.rst
  docs/docsite/rst/playbook_guide/playbooks_checkmode.rst
  docs/docsite/rst/playbook_guide/playbooks_loops.rst
  docs/docsite/rst/playbook_guide/playbooks_privilege_escalation.rst
  docs/docsite/rst/playbook_guide/playbooks_prompts.rst
  docs/docsite/rst/scenario_guides/guide_aci.rst
  docs/docsite/rst/scenario_guides/guide_meraki.rst
Labels: networking, docs, docsite, docs_only, affects_2.16

#80569 have docs explain why we import guard
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
Labels: stale_ci, docs, docsite, docs_only, affects_2.16

#80638 simple skip of connection
  changelogs/fragments/persist_skip.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/plugins/action/__init__.py
  lib/ansible/plugins/action/add_host.py
  lib/ansible/plugins/action/assert.py
  lib/ansible/plugins/action/debug.py
  lib/ansible/plugins/action/fail.py
  lib/ansible/plugins/action/gather_facts.py
  lib/ansible/plugins/action/group_by.py
  lib/ansible/plugins/action/include_vars.py
  lib/ansible/plugins/action/normal.py
  lib/ansible/plugins/action/set_fact.py
  lib/ansible/plugins/action/set_stats.py
  lib/ansible/plugins/action/validate_argument_spec.py
  test/units/executor/test_task_executor.py
Labels: feature, has_issue, affects_2.16

#80823 [Docs] update node req table for 2.15
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: docs, docs_only, affects_2.16

#80833 Add pipx instructions to install guide
  docs/docsite/rst/installation_guide/intro_installation.rst
Labels: docs, docs_only, affects_2.16

#80846 validate-modules and docsite build: bump antsibull-docs(-parser) dependencies to new major versions
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.in
  test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, bug, affects_2.16

#80859 New release v2.13.10
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.13.10_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, feature, affects_2.13

#80860 New release v2.14.6
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.14.6_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, feature, affects_2.14

#80864 Update Ansible release version to v2.13.10.post0.
  lib/ansible/release.py
Labels: backport, feature, small_patch, affects_2.13

#80828 [stable-2.14] ansible-test - Fix traceback when mixing sources (#80801)
  changelogs/fragments/ansible-test-source-detection.yml
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/provider/layout/ansible.py
  test/lib/ansible_test/_internal/provider/layout/collection.py
Labels: backport, test, bug, affects_2.14

#80830 [stable-2.13] ansible-test - Fix traceback when mixing sources (#80801)
  changelogs/fragments/ansible-test-source-detection.yml
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/provider/layout/ansible.py
  test/lib/ansible_test/_internal/provider/layout/collection.py
Labels: backport, test, bug, affects_2.13

#80805 Trim down 2.12 test matrix
  .azure-pipelines/azure-pipelines.yml
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
Labels: backport, test, WIP, affects_2.12

#80850 eol 2.12 docs
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: docs, small_patch, docs_only, affects_2.16

#80792 [Backport stable-2.13] update version switcher for 2.15
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.13

#80791 [Backport stable-2.14] update version switcher for 2.15
  docs/docsite/sphinx_conf/core_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#80854 Fix pylint disallowed-name errors
  lib/ansible/executor/playbook_executor.py
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/module_utils/compat/_selectors2.py
  lib/ansible/module_utils/facts/network/linux.py
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/copy.py
  lib/ansible/modules/git.py
  lib/ansible/modules/iptables.py
  lib/ansible/modules/pip.py
  lib/ansible/modules/yum.py
  lib/ansible/parsing/vault/__init__.py
  lib/ansible/playbook/base.py
  lib/ansible/playbook/helpers.py
  lib/ansible/plugins/lookup/sequence.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/plugins/strategy/linear.py
  lib/ansible/vars/hostvars.py
  test/sanity/ignore.txt
  test/units/executor/test_play_iterator.py
  test/units/module_utils/basic/test_run_command.py
  test/units/modules/test_apt.py
  test/units/parsing/vault/test_vault.py
  test/units/playbook/role/test_role.py
  test/units/plugins/test_plugins.py
Labels: test, module, bug, has_issue, affects_2.16

#80867 Align yum_repository documentation with arguments
  changelogs/fragments/yum-repository-docs-fixes.yml
  lib/ansible/modules/yum_repository.py
  test/sanity/ignore.txt
Labels: test, module, bug, affects_2.16, code_health

#80871 Removed unused `get_md5` parameter from stat module
  changelogs/fragments/remove_md5.yml
  lib/ansible/modules/stat.py
  test/sanity/ignore.txt
Labels: test, module, needs_triage, bug, affects_2.16

#80873 Add Ansible community 8.0.0rc1 porting guide
  docs/docsite/rst/porting_guides/porting_guide_8.rst
Labels: docs, docs_only, affects_2.16

#80738 unarchive - ensure src is an absolute path before picking handler
  changelogs/fragments/80738-abs-unarachive-src.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/runme.sh
  test/integration/targets/unarchive/runme.yml
  test/integration/targets/unarchive/test_relative_tmp_dir.yml
Labels: module, bug, affects_2.16

#80875 Remove unused import
  test/sanity/ignore.txt
  test/support/integration/plugins/modules/sefcontext.py
  test/support/integration/plugins/modules/zypper.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/module_utils/network/common/utils.py
  test/support/windows-integration/plugins/action/win_reboot.py
Labels: test, bug, affects_2.16, code_health

#80879 Remove unused test files
  test/integration/targets/module_utils/module_utils/foo.py
  test/integration/targets/module_utils/module_utils/sub/bar/__init__.py
  test/integration/targets/module_utils/module_utils/sub/bar/bam.py
  test/integration/targets/module_utils/module_utils/sub/bar/bar.py
  test/sanity/ignore.txt
Labels: test, affects_2.16

#80855 Pylint fixes for tests
  test/integration/targets/module_utils/library/test.py
  test/integration/targets/module_utils/library/test_failure.py
  test/integration/targets/module_utils/module_utils/bar0/foo3.py
  test/integration/targets/module_utils/module_utils/yak/zebra/foo4.py
  test/integration/targets/module_utils/module_utils_test.yml
  test/sanity/ignore.txt
  test/support/integration/plugins/modules/timezone.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/connection/network_cli.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/module_utils/network/common/facts/facts.py
  test/support/network-integration/collections/ansible_collections/cisco/ios/plugins/modules/ios_config.py
  test/support/network-integration/collections/ansible_collections/vyos/vyos/plugins/modules/vyos_command.py
  test/support/windows-integration/plugins/action/win_copy.py
Labels: test, bug, has_issue, affects_2.16, code_health

#80872 Documentation tweaks for apt repo key management
  lib/ansible/modules/apt_key.py
  lib/ansible/modules/apt_repository.py
Labels: module, docs, docs_only, affects_2.16

#80888 Update dnf5 module to handle API change for setting the download directory
  changelogs/fragments/80887-dnf5-api-change.yml
  lib/ansible/modules/dnf5.py
Labels: module, bug, affects_2.16

#80889 [stable-2.15] Update dnf5 module to handle API change for setting the download directory. Fixes #80887 (#80888)
  changelogs/fragments/80887-dnf5-api-change.yml
  lib/ansible/modules/dnf5.py
Labels: backport, module, needs_triage, affects_2.15

#80876 deb822_repository: use http-agent with open_url
  changelogs/fragments/deb822_open_url.yml
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/deb822_repository.py
  test/integration/targets/deb822_repository/tasks/test.yml
Labels: module, needs_triage, bug, has_issue, affects_2.16

#79734 ansible-test - local change detection without --fork-point
  changelogs/fragments/79734-ansible-test-change-detection.yml
  test/lib/ansible_test/_internal/git.py
Labels: test, bug, affects_2.15

#80899 [stable-2.15] ansible-test - local change detection without --fork-point
  changelogs/fragments/79734-ansible-test-change-detection.yml
  test/lib/ansible_test/_internal/git.py
Labels: backport, test, bug, affects_2.15

#80900 [stable-2.14] ansible-test - local change detection without --fork-point
  changelogs/fragments/79734-ansible-test-change-detection.yml
  test/lib/ansible_test/_internal/git.py
Labels: backport, test, bug, affects_2.14

#80901 [stable-2.13] ansible-test - local change detection without --fork-point
  changelogs/fragments/79734-ansible-test-change-detection.yml
  test/lib/ansible_test/_internal/git.py
Labels: backport, test, bug, affects_2.13

#80902 [stable-2.12] ansible-test - local change detection without --fork-point
  changelogs/fragments/79734-ansible-test-change-detection.yml
  test/lib/ansible_test/_internal/git.py
Labels: backport, test, bug, affects_2.12

#80903 [stable-2.9] ansible-test - local change detection without --fork-point
  changelogs/fragments/79734-ansible-test-change-detection.yml
  test/lib/ansible_test/_internal/git.py
Labels: backport, test, bug, affects_2.9

#80904 Improve code coverage of unit tests
  test/units/ansible_test/test_validate_modules.py
  test/units/cli/galaxy/test_execute_list_collection.py
  test/units/cli/test_galaxy.py
  test/units/galaxy/test_api.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
Labels: affects_2.16

#80906 Use isinstance in unit tests for type checks
  test/units/mock/loader.py
  test/units/module_utils/basic/test_safe_eval.py
Labels: affects_2.16

#80905 ansible-test - Use raise from to handle exceptions
  changelogs/fragments/ansible-test-use-raise-from.yml
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/diff.py
  test/lib/ansible_test/_internal/http.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/deprecated.py
  test/lib/ansible_test/_util/controller/tools/collection_detail.py
Labels: test, bug, affects_2.16

#80911 fix typo in from_yaml_all.yml
  lib/ansible/plugins/filter/from_yaml_all.yml
Labels: bug, small_patch, affects_2.16

#80892 set latest version to 8 for docs
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: WIP, docs, small_patch, docs_only, affects_2.16

#80927 Add Ansible community 8.0.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_8.rst
Labels: needs_triage, docs, docs_only, affects_2.16

#80928 Add Ansible community 8.0.0 porting guide (#80927)
  docs/docsite/rst/porting_guides/porting_guide_8.rst
Labels: backport, needs_triage, docs, docs_only, affects_2.15

#80929 set latest version to 8 (#80892)
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.15

#80930 set VERSION to Ansible 8
  docs/docsite/sphinx_conf/ansible_conf.py
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.15

#80926 Update manager.py
  lib/ansible/config/manager.py
Labels: new_contributor, docs, small_patch, affects_2.16

#80942 add mission survey to docs banner (#80931)
  docs/docsite/.templates/banner.html
Labels: backport, needs_triage, docs, docs_only, affects_2.15
