Repository ansible/ansible, pull requests merged in 2023-02, with the labels that each got.

#79859 [Docs] maintainers_guidelines.rst: add a link to collection release guidelines
  docs/docsite/rst/community/maintainers_guidelines.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79873 Remove outdated note on relative imports in docs
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79878 ansible-test - Update pylint to 2.16.0
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/plugin_utils/check_pylint.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/tests/sanity/ignore.txt
  test/integration/targets/module_utils/library/test.py
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test-target.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/config/ansible-test.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/config/code-smell.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/config/default.cfg
  test/sanity/ignore.txt
Labels: test, feature, affects_2.15

#79879 Remove unused unit test code
  test/units/mock/procenv.py
  test/units/mock/yaml_helper.py
  test/units/test_constants.py
  test/units/utils/display/test_broken_cowsay.py
  test/units/utils/test_unsafe_proxy.py
Labels: affects_2.15

#79881 ansible-test - Specify config path in plugin error
  changelogs/fragments/ansible-test-test-plugin-error-message.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
Labels: test, feature, affects_2.15

#79887 ansible-test - Update default containers
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#79666 docsite: bump antsibull-docs, reference collection env var index
  docs/docsite/rst/installation_guide/intro_configuration.rst
  docs/templates/config.rst.j2
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, docs, has_issue, affects_2.15

#79542 Mentions 'meta: flush_handlers' task
  docs/docsite/rst/reference_appendices/test_strategies.rst
Labels: docs, has_issue, docs_only, affects_2.15

#79470 Description for changing User ID to match user value
  lib/ansible/plugins/doc_fragments/files.py
Labels: docs, small_patch, affects_2.15

#79679 Update dnf.py
  lib/ansible/modules/dnf.py
Labels: module, new_contributor, docs, docs_only, affects_2.15

#79865 Remove irrelevant line
  lib/ansible/plugins/filter/combine.yml
Labels: new_contributor, docs, small_patch, affects_2.15

#79866 Use arg validation in debug action
  changelogs/fragments/79862-debug-action-args.yml
  lib/ansible/plugins/action/debug.py
Labels: feature, affects_2.15

#79891 user - Remove invalid return docs
  changelogs/fragments/user-module-return-docs.yml
  lib/ansible/modules/user.py
Labels: module, bug, affects_2.15

#79893 Clean up unused imports in unit tests
  test/units/_vendor/test_vendor.py
  test/units/compat/mock.py
  test/units/config/test_manager.py
  test/units/executor/module_common/conftest.py
  test/units/executor/module_common/test_modify_module.py
  test/units/executor/module_common/test_module_common.py
  test/units/executor/test_task_executor.py
  test/units/galaxy/test_collection.py
  test/units/galaxy/test_collection_install.py
  test/units/module_utils/basic/test_command_nonexisting.py
  test/units/module_utils/basic/test_sanitize_keys.py
  test/units/module_utils/basic/test_set_cwd.py
  test/units/module_utils/common/arg_spec/test_aliases.py
  test/units/module_utils/common/validation/test_check_missing_parameters.py
  test/units/module_utils/facts/test_sysctl.py
  test/units/module_utils/urls/test_fetch_file.py
  test/units/module_utils/urls/test_prepare_multipart.py
  test/units/modules/test_async_wrapper.py
  test/units/modules/test_hostname.py
  test/units/playbook/role/test_role.py
  test/units/playbook/test_collectionsearch.py
  test/units/playbook/test_play_context.py
  test/units/plugins/action/test_pause.py
  test/units/plugins/connection/test_local.py
  test/units/plugins/connection/test_ssh.py
  test/units/plugins/filter/test_core.py
  test/units/plugins/strategy/test_strategy.py
  test/units/template/test_templar.py
  test/units/utils/collection_loader/fixtures/collections/ansible_collections/testns/testcoll/plugins/action/my_action.py
  test/units/utils/collection_loader/fixtures/collections/ansible_collections/testns/testcoll/plugins/module_utils/my_other_util.py
Labels: affects_2.15

#79894 Clean up unused imports in `hacking` directory
  hacking/azp/download.py
  hacking/build_library/build_ansible/command_plugins/docs_build.py
  hacking/build_library/build_ansible/command_plugins/update_intersphinx.py
Labels: bug, affects_2.15

#79890 Backportapalooza 02 02
  docs/docsite/rst/community/contributor_path.rst
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/community/how_can_I_help.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/dev_guide/ansible_index.rst
  docs/docsite/rst/dev_guide/core_index.rst
  docs/docsite/rst/dev_guide/developing_modules_general_aci.rst
  docs/docsite/rst/dev_guide/platforms/aws_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/openstack_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/ovirt_dev_guide.rst
  docs/docsite/rst/dev_guide/platforms/vmware_guidelines.rst
  docs/docsite/rst/dev_guide/platforms/vmware_rest_guidelines.rst
  docs/docsite/rst/reference_appendices/test_strategies.rst
  lib/ansible/plugins/doc_fragments/files.py
  lib/ansible/plugins/filter/combine.yml
Labels: backport, needs_triage, docs, docsite, affects_2.14

#79875 [stable-2.14] Remove outdated note on relative imports in docs (#79873)
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: backport, docs, small_patch, docsite, docs_only, affects_2.14

#79876 [stable-2.13] Remove outdated note on relative imports in docs (#79873)
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: backport, docs, small_patch, docsite, docs_only, affects_2.13

#79877 [stable-2.12] Remove outdated note on relative imports in docs (#79873)
  docs/docsite/rst/dev_guide/developing_program_flow_modules.rst
Labels: backport, docs, small_patch, docsite, affects_2.12, docs_only

#79895 Clean up unused imports in integration tests
  test/integration/targets/ansible-doc/broken-docs/collections/ansible_collections/testns/testcol/plugins/inventory/statichost.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/inventory/statichost.py
  test/integration/targets/ansible-runner/files/adhoc_example1.py
  test/integration/targets/ansible-test-sanity-import/ansible_collections/ns/col/plugins/lookup/vendor1.py
  test/integration/targets/ansible-test-sanity-import/ansible_collections/ns/col/plugins/lookup/vendor2.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/lookup/bad.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/lookup/world.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/modules/bad.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/plugin_utils/check_pylint.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/plugins/random_directory/bad.py
  test/integration/targets/ansible-test-sanity/ansible_collections/ns/col/tests/integration/targets/hello/files/bad.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/modules/uses_mu_missing.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/modules/uses_mu_missing_redirect_collection.py
  test/integration/targets/collections/collection_root_user/ansible_collections/testns/testcoll/plugins/modules/uses_mu_missing_redirect_module.py
  test/integration/targets/collections/collections/ansible_collections/testns/content_adj/plugins/inventory/statichost.py
  test/integration/targets/collections/test_task_resolved_plugin/callback_plugins/display_resolved_action.py
  test/integration/targets/egg-info/lookup_plugins/import_pkg_resources.py
  test/integration/targets/error_from_connection/connection_plugins/dummy.py
  test/integration/targets/gathering_facts/library/file_utils.py
  test/integration/targets/missing_required_lib/library/missing_required_lib.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/eos.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/ios.py
  test/integration/targets/module_defaults/collections/ansible_collections/testns/testcoll/plugins/action/vyos.py
  test/integration/targets/old_style_cache_plugins/plugins/cache/configurable_redis.py
  test/integration/targets/pkg_resources/lookup_plugins/check_pkg_resources.py
  test/integration/targets/service/files/ansible_test_service.py
  test/integration/targets/var_precedence/ansible-var-precedence-check.py
  test/integration/targets/yum/filter_plugins/filter_list_of_tuples_by_first_param.py
Labels: affects_2.15

#79850 [stable-2.14] Ansible.Basic.cs - Fix compile error on PS 7.3.x (#79848)
  changelogs/fragments/powershell-7.3-fix.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: windows, backport, bug, affects_2.14

#79851 [stable-2.13] Ansible.Basic.cs - Fix compile error on PS 7.3.x (#79848)
  changelogs/fragments/powershell-7.3-fix.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: windows, backport, bug, affects_2.13

#79852 [stable-2.12] Ansible.Basic.cs - Fix compile error on PS 7.3.x (#79848)
  changelogs/fragments/powershell-7.3-fix.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: windows, backport, bug, affects_2.12

#79896 Clean up unused imports in sanity tests
  test/sanity/code-smell/ansible-requirements.py
  test/sanity/code-smell/botmeta.py
Labels: test, affects_2.15

#79897 Clean up unused imports in ansible-test unit tests
  test/ansible_test/unit/test_diff.py
Labels: affects_2.15

#79898 Clean up unused imports in modules
  changelogs/fragments/unused-imports-modules.yml
  lib/ansible/modules/apt.py
  lib/ansible/modules/dnf.py
  lib/ansible/modules/expect.py
  lib/ansible/modules/pip.py
  lib/ansible/modules/slurp.py
  lib/ansible/modules/user.py
  lib/ansible/modules/yum.py
Labels: module, bug, affects_2.15

#79906 Remove unused internal imports from module_utils
  changelogs/fragments/unused-imports-module-utils-internal.yml
  lib/ansible/module_utils/common/file.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/facts/system/caps.py
  lib/ansible/module_utils/yumdnf.py
Labels: feature, affects_2.15

#79905 Remove unused stdlib imports from module_utils
  changelogs/fragments/unused-imports-module-utils-stdlib.yml
  lib/ansible/module_utils/common/file.py
  lib/ansible/module_utils/compat/selectors.py
  lib/ansible/module_utils/facts/network/iscsi.py
  lib/ansible/module_utils/facts/network/nvme.py
  lib/ansible/module_utils/yumdnf.py
Labels: feature, affects_2.15

#79900 Clean up unused imports in core
  changelogs/fragments/unused-imports-core.yml
  lib/ansible/cli/scripts/ansible_connection_cli_stub.py
  lib/ansible/collections/list.py
  lib/ansible/compat/importlib_resources.py
  lib/ansible/config/manager.py
  lib/ansible/executor/action_write_locks.py
  lib/ansible/executor/task_executor.py
  lib/ansible/galaxy/dependency_resolution/errors.py
  lib/ansible/parsing/ajson.py
  lib/ansible/parsing/yaml/objects.py
  lib/ansible/playbook/attribute.py
  lib/ansible/playbook/conditional.py
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/play_context.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/playbook/role_include.py
  lib/ansible/plugins/list.py
  lib/ansible/plugins/loader.py
  lib/ansible/utils/unsafe_proxy.py
  lib/ansible/utils/version.py
  lib/ansible/vars/clean.py
Labels: networking, bug, affects_2.15

#79899 Clean up unused imports in plugins
  changelogs/fragments/unused-imports-plugins.yml
  lib/ansible/plugins/action/async_status.py
  lib/ansible/plugins/action/command.py
  lib/ansible/plugins/action/pause.py
  lib/ansible/plugins/action/set_stats.py
  lib/ansible/plugins/action/uri.py
  lib/ansible/plugins/action/validate_argument_spec.py
  lib/ansible/plugins/cache/base.py
  lib/ansible/plugins/connection/winrm.py
  lib/ansible/plugins/lookup/fileglob.py
  lib/ansible/plugins/lookup/template.py
  lib/ansible/plugins/strategy/debug.py
  lib/ansible/plugins/test/files.py
  lib/ansible/plugins/vars/host_group_vars.py
Labels: windows, bug, affects_2.15

#79908 Remove unwanted comma from pause action
  lib/ansible/plugins/action/pause.py
Labels: bug, small_patch, affects_2.15

#79904 Ignore necessary unused imports in module_utils
  lib/ansible/module_utils/_text.py
  lib/ansible/module_utils/common/_collections_compat.py
  lib/ansible/module_utils/common/collections.py
  lib/ansible/module_utils/common/file.py
  lib/ansible/module_utils/common/yaml.py
  lib/ansible/module_utils/compat/importlib.py
  lib/ansible/module_utils/compat/paramiko.py
  lib/ansible/module_utils/compat/selectors.py
  lib/ansible/module_utils/json_utils.py
  lib/ansible/module_utils/urls.py
Labels: feature, affects_2.15

#79909 ansible-test - Enable trailing-comma-tuple pylint rule
  changelogs/fragments/ansible-test-pylint-trailing-comma-tuple.yml
  test/lib/ansible_test/_util/controller/sanity/pylint/config/collection.cfg
  test/lib/ansible_test/_util/controller/sanity/pylint/config/default.cfg
  test/sanity/ignore.txt
Labels: test, feature, affects_2.15

#79910 ansible-test - Enable pylint unused-import for core
  test/lib/ansible_test/_util/controller/sanity/pylint/config/default.cfg
  test/sanity/ignore.txt
Labels: test, affects_2.15

#79911 Update collections.abc imports
  changelogs/fragments/update-collections-abc-imports.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/_collections_compat.py
  lib/ansible/module_utils/common/collections.py
  lib/ansible/module_utils/common/dict_transformations.py
  lib/ansible/module_utils/common/json.py
  lib/ansible/module_utils/common/parameters.py
  lib/ansible/module_utils/common/text/converters.py
  lib/ansible/module_utils/compat/_selectors2.py
  lib/ansible/modules/uri.py
  lib/ansible/plugins/shell/__init__.py
  test/integration/targets/ansible-doc/broken-docs/collections/ansible_collections/testns/testcol/plugins/lookup/noop.py
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/unwanted.py
  test/support/integration/plugins/module_utils/network/common/utils.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/module_utils/network/common/utils.py
  test/units/executor/module_common/test_recursive_finder.py
  test/units/module_utils/common/test_collections.py
  test/units/module_utils/conftest.py
  test/units/modules/conftest.py
Labels: test, module, feature, affects_2.15

#79926 remove unwanted comma
  lib/ansible/plugins/action/pause.py
Labels: needs_triage, bug, small_patch, affects_2.15

#79929 ansible-test - Remove old containers and remotes
  changelogs/fragments/ansible-test-removed-old-platforms.yml
  test/lib/ansible_test/_data/completion/docker.txt
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, feature, affects_2.15

#79658 Improving the RETURN and its docs on the apt_repository module
  changelogs/fragments/79658-improving-return-and-docs.yaml
  lib/ansible/modules/apt_repository.py
  test/integration/targets/apt_repository/tasks/apt.yml
Labels: module, new_contributor, docs, has_issue, affects_2.15

#79927 Update example to always init ANOTHER_LIBRARY_IMPORT_ERROR
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#79928 Fix typo, make sure docs include a warning, not a comment
  docs/docsite/rst/dev_guide/developing_collections_shared.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#79932 ansible-test - Fix file permissions for delegation
  changelogs/fragments/ansible-test-payload-file-permissions.yml
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/payload.py
Labels: test, bug, affects_2.15

#79790 include_vars - document hash_behaviour + dir
  lib/ansible/modules/include_vars.py
  test/integration/targets/include_vars/tasks/main.yml
Labels: module, shipit, bug, affects_2.15

#79940 Fix pointless statements in unit tests
  test/units/inventory/test_host.py
  test/units/module_utils/facts/test_timeout.py
  test/units/plugins/action/test_pause.py
  test/units/plugins/cache/test_cache.py
  test/units/utils/test_unsafe_proxy.py
  test/units/vars/test_variable_manager.py
Labels: affects_2.15

#79941 Clean up pointless statements
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/yum.py
  lib/ansible/plugins/cliconf/__init__.py
  lib/ansible/plugins/filter/core.py
Labels: networking, module, bug, affects_2.15

#79943 Fix "pointless" strings detected by pylint
  lib/ansible/module_utils/common/text/formatters.py
  lib/ansible/module_utils/facts/hardware/sunos.py
  lib/ansible/module_utils/facts/network/fc_wwn.py
  lib/ansible/module_utils/urls.py
  lib/ansible/modules/git.py
  lib/ansible/modules/systemd_service.py
  lib/ansible/modules/yum.py
  lib/ansible/plugins/callback/__init__.py
  lib/ansible/plugins/lookup/pipe.py
Labels: module, bug, affects_2.15

#79944 Enable pylint rules to detect pointless statements
  .git-blame-ignore-revs
  test/lib/ansible_test/_util/controller/sanity/pylint/config/default.cfg
  test/sanity/ignore.txt
Labels: test, small_patch, affects_2.15

#79947 ansible-test - Fix collection delegation
  test/lib/ansible_test/_internal/payload.py
Labels: test, bug, affects_2.15

#79939 Rst fixes
  docs/docsite/rst/dev_guide/testing_units_modules.rst
  docs/docsite/rst/network/getting_started/first_playbook.rst
Labels: networking, needs_triage, docs, docsite, docs_only, affects_2.15

#79946 Fix detection of available hashlib algorithms
  changelogs/fragments/hashlib-algorithms.yml
  lib/ansible/module_utils/basic.py
  lib/ansible/modules/get_url.py
  test/integration/targets/get_url/tasks/hashlib.yml
  test/integration/targets/get_url/tasks/main.yml
  test/units/module_utils/basic/test_get_available_hash_algorithms.py
Labels: module, bug, has_issue, affects_2.15

#79872 improve password_hash warning for unsupported algorithms
  changelogs/fragments/deprecate-non-enforced-password_hash-type-choices.yml
  lib/ansible/plugins/filter/core.py
  test/integration/targets/filter_core/tasks/main.yml
Labels: bug, affects_2.15

#79953 pycompat24 - Remove support for Python <= 2.5
  changelogs/fragments/pycompat24.yml
  lib/ansible/module_utils/pycompat24.py
Labels: feature, affects_2.15

#79954 basic.py - Perform Python version check earlier
  changelogs/fragments/basic-version-check.yml
  lib/ansible/module_utils/basic.py
Labels: bug, affects_2.15

#79913 don't ignore templated _raw_params that k=v parser failed to parse
  changelogs/fragments/79862-fix-varargs.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/tasks/playbook.yml
Labels: bug, has_issue, affects_2.15

#79951 Change ansible_job_id format
  changelogs/fragments/fix_jinja_native_async.yml
  lib/ansible/executor/powershell/module_manifest.py
  lib/ansible/plugins/action/__init__.py
  test/integration/targets/async/tasks/main.yml
  test/integration/targets/async_fail/tasks/main.yml
  test/integration/targets/callback_default/runme.sh
  test/integration/targets/win_async_wrapper/tasks/main.yml
Labels: windows, bug, affects_2.15

#79952 Replace deprecated stacked `@classmethod` and `@property`
  changelogs/fragments/no-stacked-descriptors.yaml
  lib/ansible/playbook/base.py
Labels: bug, affects_2.15

#79960 Remove unneeded fallback code for nested defined/undefined tests
  changelogs/fragments/remove-nested-defined-fallback-code.yml
  lib/ansible/playbook/conditional.py
Labels: needs_triage, feature, affects_2.15

#79934 Change `yes` to `true` in uri-module
  lib/ansible/modules/uri.py
Labels: module, docs, docs_only, affects_2.15

#79949 Add an integration test to ensure that defaults don't count towards mutually exclusive
  test/integration/targets/argspec/library/argspec.py
Labels: affects_2.15

#79902 fix core devel doc output
  docs/docsite/requirements.txt
Labels: docs, small_patch, docs_only, affects_2.15

#79963 Update mypy to version 1.0.0
  lib/ansible/module_utils/basic.py
  lib/ansible/module_utils/common/yaml.py
  lib/ansible/module_utils/compat/typing.py
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
Labels: test, affects_2.15

#79980 ansible-test - Clean up indentation and spaces
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/classification/__init__.py
  test/lib/ansible_test/_internal/cli/argparsing/__init__.py
  test/lib/ansible_test/_internal/cli/commands/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/expand.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/missing.py
  test/lib/ansible_test/_internal/cli/commands/coverage/combine.py
  test/lib/ansible_test/_internal/cli/commands/coverage/erase.py
  test/lib/ansible_test/_internal/cli/commands/coverage/html.py
  test/lib/ansible_test/_internal/cli/commands/coverage/report.py
  test/lib/ansible_test/_internal/cli/commands/coverage/xml.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/cli/commands/integration/__init__.py
  test/lib/ansible_test/_internal/cli/commands/integration/network.py
  test/lib/ansible_test/_internal/cli/commands/integration/posix.py
  test/lib/ansible_test/_internal/cli/commands/integration/windows.py
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/cli/commands/shell.py
  test/lib/ansible_test/_internal/cli/commands/units.py
  test/lib/ansible_test/_internal/cli/compat.py
  test/lib/ansible_test/_internal/cli/environments.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/missing.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/filters.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/sanity/mypy.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/provisioning.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_internal/ssh.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_internal/venv.py
Labels: needs_revision, needs_rebase, bug, affects_2.15

#79972 [stable-2.14] ansible-test - Avoid direct use of `errno`.
  changelogs/fragments/ansible-test-errno.yml
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: backport, test, feature, affects_2.14

#79973 [stable-2.14] ansible-test - fix warning to include image name (#79560)
  changelogs/fragments/ansible-test-fix-warning-msg.yml
  test/lib/ansible_test/_internal/containers.py
Labels: backport, test, bug, affects_2.14

#79974 [stable-2.13] ansible-test - fix warning to include image name (#79560)
  changelogs/fragments/ansible-test-fix-warning-msg.yml
  test/lib/ansible_test/_internal/containers.py
Labels: backport, test, bug, affects_2.13

#79975 [stable-2.14] ansible-test - Remove obsolete DirectoryTarget.
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/target.py
Labels: backport, test, bug, affects_2.14

#79976 [stable-2.14] ansible-test - Fix various type hinting issues. (#79798)
  test/lib/ansible_test/_internal/become.py
  test/lib/ansible_test/_internal/cgroup.py
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/classification/python.py
  test/lib/ansible_test/_internal/cli/argparsing/__init__.py
  test/lib/ansible_test/_internal/cli/argparsing/argcompletion.py
  test/lib/ansible_test/_internal/cli/argparsing/parsers.py
  test/lib/ansible_test/_internal/cli/compat.py
  test/lib/ansible_test/_internal/cli/parsers/base_argument_parsers.py
  test/lib/ansible_test/_internal/cli/parsers/key_value_parsers.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/coverage.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/dev/container_probe.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/executor.py
  test/lib/ansible_test/_internal/host_configs.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/io.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_internal/provider/layout/__init__.py
  test/lib/ansible_test/_internal/pypi_proxy.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/thread.py
  test/lib/ansible_test/_internal/timeout.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_util/target/sanity/import/importer.py
Labels: backport, test, bug, affects_2.14

#79977 [stable-2.14] ansible-test - Specify config path in plugin error
  changelogs/fragments/ansible-test-test-plugin-error-message.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
Labels: backport, test, feature, affects_2.14

#79978 [stable-2.13] ansible-test - Specify config path in plugin error
  changelogs/fragments/ansible-test-test-plugin-error-message.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
Labels: backport, test, feature, affects_2.13

#79979 [stable-2.12] ansible-test - Specify config path in plugin error
  changelogs/fragments/ansible-test-test-plugin-error-message.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
Labels: backport, test, feature, affects_2.12

#79816 [2.14] Bump acme test container. (#79783)
  changelogs/fragments/79783-acme-test-container.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/acme.py
Labels: backport, test, stale_ci, bug, affects_2.14

#79815 [2.13] Bump acme test container. (#79783)
  changelogs/fragments/79783-acme-test-container.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/acme.py
Labels: backport, test, stale_ci, bug, affects_2.13

#79814 [2.12] Bump acme test container. (#79783)
  changelogs/fragments/79783-acme-test-container.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/acme.py
Labels: backport, test, stale_ci, bug, affects_2.12

#79982 [stable-2.14] ansible-test - Clean up indentation and spaces (#79980)
  test/lib/ansible_test/_internal/ansible_util.py
  test/lib/ansible_test/_internal/classification/__init__.py
  test/lib/ansible_test/_internal/cli/argparsing/__init__.py
  test/lib/ansible_test/_internal/cli/commands/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/expand.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/cli/commands/coverage/analyze/targets/missing.py
  test/lib/ansible_test/_internal/cli/commands/coverage/combine.py
  test/lib/ansible_test/_internal/cli/commands/coverage/erase.py
  test/lib/ansible_test/_internal/cli/commands/coverage/html.py
  test/lib/ansible_test/_internal/cli/commands/coverage/report.py
  test/lib/ansible_test/_internal/cli/commands/coverage/xml.py
  test/lib/ansible_test/_internal/cli/commands/env.py
  test/lib/ansible_test/_internal/cli/commands/integration/__init__.py
  test/lib/ansible_test/_internal/cli/commands/integration/network.py
  test/lib/ansible_test/_internal/cli/commands/integration/posix.py
  test/lib/ansible_test/_internal/cli/commands/integration/windows.py
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/cli/commands/shell.py
  test/lib/ansible_test/_internal/cli/commands/units.py
  test/lib/ansible_test/_internal/cli/compat.py
  test/lib/ansible_test/_internal/cli/environments.py
  test/lib/ansible_test/_internal/commands/coverage/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/__init__.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/combine.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/filter.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/generate.py
  test/lib/ansible_test/_internal/commands/coverage/analyze/targets/missing.py
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
  test/lib/ansible_test/_internal/commands/integration/filters.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/import.py
  test/lib/ansible_test/_internal/commands/sanity/integration_aliases.py
  test/lib/ansible_test/_internal/commands/sanity/mypy.py
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
  test/lib/ansible_test/_internal/completion.py
  test/lib/ansible_test/_internal/containers.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/coverage_util.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/docker_util.py
  test/lib/ansible_test/_internal/host_profiles.py
  test/lib/ansible_test/_internal/provisioning.py
  test/lib/ansible_test/_internal/python_requirements.py
  test/lib/ansible_test/_internal/ssh.py
  test/lib/ansible_test/_internal/target.py
  test/lib/ansible_test/_internal/test.py
  test/lib/ansible_test/_internal/util.py
  test/lib/ansible_test/_internal/util_common.py
  test/lib/ansible_test/_internal/venv.py
Labels: needs_revision, needs_rebase, backport, bug, affects_2.14

#79962 Backportapalooza 02 09
  docs/docsite/rst/dev_guide/developing_collections_shared.rst
  docs/docsite/rst/dev_guide/testing/sanity/import.rst
  docs/docsite/rst/dev_guide/testing_units_modules.rst
  docs/docsite/rst/network/getting_started/first_playbook.rst
  lib/ansible/modules/dnf.py
  lib/ansible/modules/uri.py
Labels: backport, networking, module, needs_triage, docs, docsite, docs_only, affects_2.14

#79596 ansible-inventory, add --limit option
  changelogs/fragments/ainv_limit.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/ansible-inventory/tasks/main.yml
Labels: feature, has_issue, affects_2.15

#79985 ansible-test - Remove auto format pylint rule
  changelogs/fragments/ansible-test-pylint-string-format.yml
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/string_format.py
  test/sanity/ignore.txt
Labels: test, bug, affects_2.15

#79912 ansible-test - Enable unused-import pylint rule
  changelogs/fragments/ansible-test-unused-import-collections.yml
  test/lib/ansible_test/_util/controller/sanity/pylint/config/collection.cfg
Labels: test, WIP, feature, has_issue, affects_2.15

#79981 user - fix comparing existing group names to group IDs
  changelogs/fragments/79981-user-fix-groups-comparison.yml
  lib/ansible/modules/user.py
  test/integration/targets/user/tasks/test_local.yml
Labels: module, bug, affects_2.15

#79598 adds roadmap for Ansible 8
  docs/docsite/rst/roadmap/COLLECTIONS_8.rst
  docs/docsite/rst/roadmap/ansible_roadmap_index.rst
Labels: docs, has_issue, docs_only, affects_2.15

#79996 fixes typo in Ansible 7 roadmap
  docs/docsite/rst/roadmap/COLLECTIONS_7.rst
Labels: docs, small_patch, docs_only, affects_2.15

#79998 Disable F37 podman tests for ansible-test
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, affects_2.15

#79997 ansible-test - Improve pylint backwards compat
  changelogs/fragments/ansible-test-pylint-string-format.yml
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/string_format.py
Labels: test, bug, small_patch, affects_2.15

#79966 ansible-test - Disable the pep8 E203 rule
  changelogs/fragments/ansible-test-pep8-e203.yml
  test/lib/ansible_test/_util/controller/sanity/pep8/current-ignore.txt
  test/sanity/ignore.txt
Labels: test, feature, affects_2.15

#79993 Make using blocks as handlers a parser error
  changelogs/fragments/79968-blocks-handlers-error.yml
  lib/ansible/playbook/helpers.py
  test/integration/targets/handlers/runme.sh
  test/integration/targets/handlers/test_block_as_handler-import.yml
  test/integration/targets/handlers/test_block_as_handler-include.yml
  test/integration/targets/handlers/test_block_as_handler-include_import-handlers.yml
  test/integration/targets/handlers/test_block_as_handler.yml
  test/units/playbook/test_helpers.py
Labels: bug, affects_2.15

#80001 [stable-2.14] ansible-test - Support Podman 4.4.0+
  changelogs/fragments/ansible-test-podman-chroot.yml
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, affects_2.14

#80002 [stable-2.13] ansible-test - Support Podman 4.4.0+
  changelogs/fragments/ansible-test-podman-chroot.yml
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, affects_2.13

#80003 [stable-2.12] ansible-test - Support Podman 4.4.0+
  changelogs/fragments/ansible-test-podman-chroot.yml
  test/lib/ansible_test/_internal/host_profiles.py
Labels: backport, test, bug, affects_2.12

#78918 Add condition that causes a when to skip a task to output msg
  changelogs/fragments/skip-conditional.yml
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/conditional.py
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_lossy_verbose.stdout
  test/integration/targets/callback_default/callback_default.out.result_format_yaml_verbose.stdout
  test/integration/targets/no_log/runme.sh
  test/integration/targets/test_core/tasks/main.yml
  test/units/executor/test_task_executor.py
Labels: core_review, support:community, support:core, feature, affects_2.15

#79826 [2.14] fix MANIFEST.json metadata when installing collections from dir/git repo
  changelogs/fragments/ansible-galaxy-install-git-src-manifest.yml
  lib/ansible/galaxy/collection/__init__.py
  test/integration/targets/ansible-galaxy-collection-scm/meta/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/main.yml
  test/integration/targets/ansible-galaxy-collection-scm/tasks/test_manifest_metadata.yml
Labels: backport, needs_triage, bug, affects_2.14

#79964 [2.14] don't ignore templated _raw_params that k=v parser failed to parse (#79913)
  changelogs/fragments/79862-fix-varargs.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/tasks/playbook.yml
  test/integration/targets/tasks/runme.sh
  test/integration/targets/tasks/tasks/main.yml
Labels: backport, needs_triage, bug, affects_2.14

#79965 [2.13] don't ignore templated _raw_params that k=v parser failed to parse (#79913)
  changelogs/fragments/79862-fix-varargs.yml
  lib/ansible/executor/task_executor.py
  test/integration/targets/tasks/playbook.yml
  test/integration/targets/tasks/runme.sh
  test/integration/targets/tasks/tasks/main.yml
Labels: backport, needs_triage, bug, affects_2.13

#80011 Data tagging delayed to 2.16
  docs/docsite/rst/roadmap/ROADMAP_2_15.rst
Labels: needs_triage, docs, small_patch, docs_only, affects_2.15

#79971 update banner'
  docs/docsite/.templates/banner.html
Labels: docs, docs_only, affects_2.15

#80010 2.14: Make using blocks as handlers a parser error (#79993)
  changelogs/fragments/79968-blocks-handlers-error.yml
  lib/ansible/playbook/helpers.py
  test/integration/targets/handlers/runme.sh
  test/integration/targets/handlers/test_block_as_handler-import.yml
  test/integration/targets/handlers/test_block_as_handler-include.yml
  test/integration/targets/handlers/test_block_as_handler-include_import-handlers.yml
  test/integration/targets/handlers/test_block_as_handler.yml
  test/units/playbook/test_helpers.py
Labels: backport, needs_triage, bug, affects_2.14

#79818 strategy fix invalid variables being registered (#79706)
  changelogs/fragments/strategy_badid_fix.yml
  lib/ansible/plugins/strategy/__init__.py
  test/integration/targets/register/aliases
  test/integration/targets/register/can_register.yml
  test/integration/targets/register/invalid.yml
  test/integration/targets/register/invalid_skipped.yml
  test/integration/targets/register/runme.sh
Labels: backport, needs_triage, bug, affects_2.14

#80019 Backportapalooza 02 16
  docs/docsite/.templates/banner.html
  docs/docsite/rst/roadmap/COLLECTIONS_7.rst
Labels: backport, needs_triage, docs, small_patch, docs_only, affects_2.14

#79930 Update docs requirements to latest package versions
  test/lib/ansible_test/_data/requirements/sanity.changelog.in
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/code-smell/rstcheck.py
  test/sanity/code-smell/rstcheck.requirements.in
  test/sanity/code-smell/rstcheck.requirements.txt
Labels: test, docs, has_issue, affects_2.15

#80032 Remove trailing spaces from lines in YAML
  changelogs/fragments/79422-fix-file-touch-check-mode-status.yaml
  changelogs/fragments/ansible-test-container-management.yml
  changelogs/fragments/ansible-test-payload-file-permissions.yml
  changelogs/fragments/psscriptanalyzer-1.21.0.yml
  lib/ansible/plugins/filter/b64decode.yml
  lib/ansible/plugins/filter/to_yaml.yml
  test/integration/targets/apt_key/tasks/main.yml
  test/integration/targets/become/tasks/main.yml
  test/integration/targets/check_mode/roles/test_check_mode/tasks/main.yml
  test/integration/targets/file/tasks/link_rewrite.yml
  test/integration/targets/file/tasks/main.yml
  test/integration/targets/get_url/tasks/use_netrc.yml
  test/integration/targets/known_hosts/tasks/main.yml
  test/integration/targets/lookup_fileglob/issue72873/test.yml
  test/integration/targets/lookup_url/meta/main.yml
  test/integration/targets/lookup_url/tasks/use_netrc.yml
  test/integration/targets/unarchive/tasks/test_different_language_var.yml
  test/integration/targets/var_blending/roles/test_var_blending/tasks/main.yml
Labels: bug, affects_2.15

#80033 Avoid trailing spaces in unit test
  test/units/executor/module_common/test_module_common.py
Labels: affects_2.15

#80029 New release v2.14.3rc1
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.3rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#80028 New release v2.13.8rc1
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.8rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.13

#80042 Update Ansible release version to v2.13.8rc1.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.13

#79837 ansible-playbook -K breaks when passwords have quotes
  changelogs/fragments/79837-unquoting-only-when-origin-is-ini.yml
  lib/ansible/config/manager.py
  test/units/config/test_manager.py
Labels: stale_ci, new_contributor, bug, affects_2.15

#80006 Add Steampunk Spotter to Other tools list
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: new_contributor, docs, small_patch, docsite, docs_only, affects_2.15

#79839 Rename `name` to `name_` to avoid conflicts
  changelogs/fragments/79839-lookup-option-name.yml
  lib/ansible/template/__init__.py
  test/integration/targets/lookup-option-name/aliases
  test/integration/targets/lookup-option-name/tasks/main.yml
Labels: needs_revision, bug, collection, affects_2.15

#80020 ansible-test - Support pylint assertion rewriting
  changelogs/fragments/ansible-test-pytest-assertion-rewriting.yml
  test/integration/targets/ansible-test-units-assertions/aliases
  test/integration/targets/ansible-test-units-assertions/ansible_collections/ns/col/tests/unit/plugins/modules/test_assertion.py
  test/integration/targets/ansible-test-units-assertions/runme.sh
  test/integration/targets/ansible-test/venv-pythons.py
  test/lib/ansible_test/_util/target/pytest/plugins/ansible_pytest_collections.py
Labels: test, bug, affects_2.15

#80021 ansible-test - Allow target prefixes to use `_`
  changelogs/fragments/ansible-test-integration-target-prefixes.yml
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/target-prefixes.something
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/one-part_test/aliases
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/two_part_test/aliases
  test/integration/targets/ansible-test-integration-targets/test.py
  test/lib/ansible_test/_internal/target.py
Labels: test, bug, affects_2.15

#80022 ansible-test - Show Python version before install
  changelogs/fragments/ansible-test-requirements-message.yml
  test/lib/ansible_test/_internal/python_requirements.py
Labels: test, bug, affects_2.15

#80049 ansible-test - Update mypy and pylint requirements
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.in
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: test, feature, affects_2.15

#80056 Fix #80020 typos confusing `pylint` for `pytest`
  changelogs/fragments/ansible-test-pytest-assertion-rewriting.yml
  test/integration/targets/ansible-test-units-assertions/runme.sh
  test/lib/ansible_test/_util/target/pytest/plugins/ansible_pytest_collections.py
Labels: test, bug, small_patch, affects_2.15

#80058 ansible-test - Update base and default container
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#80061 [Docs] add wheel to docsite pre-reqs #79513
  docs/docsite/rst/community/documentation_contributions.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#80065 Fix markdown in changelog fragment for #79838
  changelogs/fragments/79839-lookup-option-name.yml
Labels: owner_pr, docs, small_patch, affects_2.15

#80064 Update ansible-test openshift plugin tests
  test/integration/targets/ansible-test-cloud-openshift/aliases
  test/integration/targets/ansible-test-cloud-openshift/tasks/main.yml
Labels: test, affects_2.15

#79788 Update playbooks_tests.rst
  docs/docsite/rst/playbook_guide/playbooks_tests.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#80026 Use FAs with inheritance only when applicable
  changelogs/fragments/79777-fix-inheritance-roles-meta.yml
  lib/ansible/playbook/attribute.py
  lib/ansible/playbook/handler.py
  lib/ansible/playbook/loop_control.py
  lib/ansible/playbook/play.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/playbook/role/definition.py
  lib/ansible/playbook/role/metadata.py
  lib/ansible/playbook/role_include.py
  lib/ansible/playbook/task.py
  test/integration/targets/keyword_inheritance/dep_keyword_inheritance.yml
  test/integration/targets/keyword_inheritance/roles/role-meta-inheritance/meta/main.yml
  test/integration/targets/keyword_inheritance/runme.sh
Labels: bug, affects_2.15

#79710 Clarify when plugin settings are being populated
  docs/docsite/rst/dev_guide/developing_plugins.rst
Labels: docs, docsite, docs_only, affects_2.15

#80037 Update collection_integration_updating.rst
  docs/docsite/rst/community/collection_contributors/collection_integration_updating.rst
Labels: new_contributor, docs, small_patch, docsite, docs_only, affects_2.15

#80036 consistent booleans for page text and code blocks
  docs/docsite/rst/playbook_guide/playbooks_checkmode.rst
Labels: needs_revision, new_contributor, docs, docs_only, affects_2.15

#80041 package_facts requires python-rpm on SUSE systems in ansible 2.12.1
  lib/ansible/modules/package_facts.py
Labels: module, docs, docs_only, affects_2.15

#80077 Introduce Delegatable and Notifiable mixin classes
  changelogs/fragments/new-mixins.yml
  lib/ansible/playbook/block.py
  lib/ansible/playbook/delegatable.py
  lib/ansible/playbook/notifiable.py
  lib/ansible/playbook/role/__init__.py
  lib/ansible/playbook/role/include.py
  lib/ansible/playbook/task.py
Labels: feature, affects_2.15

#80079 Docs: Clarify note on tags
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#79606 Integrate manpage builds into PEP 517 build backend
  packaging/pep517_backend/__init__.py
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
  test/integration/targets/canonical-pep517-self-packaging/aliases
  test/integration/targets/canonical-pep517-self-packaging/minimum-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/modernish-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/runme.sh
  test/integration/targets/canonical-pep517-self-packaging/runme_test.py
Labels: bug, affects_2.15

#80074 ansible-test - Fix vendoring support
  changelogs/fragments/ansible-test-vendoring-support.yml
  test/integration/targets/ansible-test-vendoring/aliases
  test/integration/targets/ansible-test-vendoring/ansible_collections/ns/col/tests/config.yml
  test/integration/targets/ansible-test-vendoring/runme.sh
  test/lib/ansible_test/_internal/payload.py
  test/lib/ansible_test/_internal/util.py
Labels: test, bug, affects_2.15

#80080 Remove unused network test support files
  test/sanity/ignore.txt
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/action/net_base.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/become/enable.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/connection/httpapi.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/connection/netconf.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/doc_fragments/netconf.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/doc_fragments/network_agnostic.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/filter/ipaddr.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/filter/network.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/httpapi/restconf.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/module_utils/network/netconf/netconf.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/module_utils/network/restconf/restconf.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/modules/net_get.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/modules/net_put.py
  test/support/network-integration/collections/ansible_collections/ansible/netcommon/plugins/netconf/default.py
Labels: test, affects_2.15

#80081 Remove unused integration test support files
  test/sanity/ignore.txt
  test/support/integration/plugins/module_utils/compat/__init__.py
  test/support/integration/plugins/module_utils/compat/ipaddress.py
  test/support/integration/plugins/module_utils/net_tools/__init__.py
  test/support/integration/plugins/module_utils/network/__init__.py
  test/support/integration/plugins/module_utils/network/common/__init__.py
  test/support/integration/plugins/module_utils/network/common/utils.py
Labels: test, affects_2.15

#80084 Remove straight.plugin dependency
  changelogs/fragments/build-no-straight.yaml
  docs/docsite/requirements.txt
  hacking/build-ansible.py
  packaging/pep517_backend/_backend.py
  test/integration/targets/canonical-pep517-self-packaging/minimum-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/modernish-build-constraints.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
Labels: test, docs, feature, affects_2.15

#79806 Define all processor facts on s390x
  changelogs/fragments/19755-ansible_processor-s390x.yml
  lib/ansible/module_utils/facts/hardware/linux.py
  test/units/module_utils/facts/fixtures/cpuinfo/s390x-z13-2cpu-cpuinfo
  test/units/module_utils/facts/fixtures/cpuinfo/s390x-z14-64cpu-cpuinfo
  test/units/module_utils/facts/hardware/linux_data.py
  test/units/module_utils/facts/hardware/test_linux_get_cpu_info.py
Labels: bug, affects_2.15

#80086 ansible-test - Update base and default container
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#80087 Relocate validate-modules unit tests
  test/units/ansible_test/test_validate_modules.py
Labels: needs_triage, affects_2.15

#80082 New release v2.13.8
  changelogs/CHANGELOG-v2.13.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.13.8_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.13

#80083 New release v2.14.3
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/v2.14.3_summary.yaml
  lib/ansible/release.py
Labels: backport, affects_2.14

#80078 Clarify combine filter examples
  lib/ansible/plugins/filter/combine.yml
Labels: docs, affects_2.15

#79185 sanity tests - ignore pre-release versions for deprecation comparisons
  changelogs/fragments/20221021-deprecated-sanity.yml
  test/integration/targets/ansible-test-sanity-pylint/aliases
  test/integration/targets/ansible-test-sanity-pylint/ansible_collections/ns/col/galaxy.yml
  test/integration/targets/ansible-test-sanity-pylint/ansible_collections/ns/col/plugins/lookup/deprecated.py
  test/integration/targets/ansible-test-sanity-pylint/expected.txt
  test/integration/targets/ansible-test-sanity-pylint/runme.sh
  test/lib/ansible_test/_util/controller/sanity/pylint/plugins/deprecated.py
Labels: new_plugin, test, affects_2.15

#80101 Do not use hardcoded httpbin.org in uri tests
  test/integration/targets/uri/tasks/main.yml
Labels: needs_triage, affects_2.15

#80100 Update Ansible release version to v2.14.3.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.14

#80099 Update Ansible release version to v2.13.8.post0.
  lib/ansible/release.py
Labels: backport, small_patch, affects_2.13

#80106 Add Ansible community 7.3.0 porting guide
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: docs, docs_only, affects_2.15

#80098 🎨 Convert RST to manpage in-memory @ PEP 517
  packaging/pep517_backend/_backend.py
Labels: affects_2.15

#80113 Relocate and refactor ansible-test diff unit tests
  test/ansible_test/Makefile
  test/ansible_test/unit/test_diff.py
  test/units/ansible_test/diff/add_binary_file.diff
  test/units/ansible_test/diff/add_text_file.diff
  test/units/ansible_test/diff/add_trailing_newline.diff
  test/units/ansible_test/diff/add_two_text_files.diff
  test/units/ansible_test/diff/context_no_trailing_newline.diff
  test/units/ansible_test/diff/multiple_context_lines.diff
  test/units/ansible_test/diff/parse_delete.diff
  test/units/ansible_test/diff/parse_rename.diff
  test/units/ansible_test/diff/remove_trailing_newline.diff
  test/units/ansible_test/test_diff.py
Labels: affects_2.15

#79886 add a worker queue to get updates from the main results thread
  changelogs/fragments/prompt-via-worker-queue.yml
  lib/ansible/errors/__init__.py
  lib/ansible/executor/process/worker.py
  lib/ansible/executor/task_queue_manager.py
  lib/ansible/modules/pause.py
  lib/ansible/plugins/action/pause.py
  lib/ansible/plugins/connection/__init__.py
  lib/ansible/plugins/connection/paramiko_ssh.py
  lib/ansible/plugins/strategy/__init__.py
  lib/ansible/utils/display.py
  test/integration/targets/pause/pause-6.yml
  test/integration/targets/pause/test-pause.py
  test/units/utils/display/test_curses.py
Labels: module, feature, affects_2.15

#80103 [stable-2.13] Do not use hardcoded httpbin.org in uri tests (#80101)
  test/integration/targets/uri/tasks/main.yml
Labels: needs_info, backport, needs_triage, needs_template, affects_2.13

#80102 [stable-2.14] Do not use hardcoded httpbin.org in uri tests (#80101)
  test/integration/targets/uri/tasks/main.yml
Labels: needs_info, backport, needs_triage, needs_template, affects_2.14

#80114 Relocate the AZP entry point scripts
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/commands/alpine.sh
  .azure-pipelines/commands/cloud.sh
  .azure-pipelines/commands/entry-point.sh
  .azure-pipelines/commands/fedora.sh
  .azure-pipelines/commands/freebsd.sh
  .azure-pipelines/commands/galaxy.sh
  .azure-pipelines/commands/generic.sh
  .azure-pipelines/commands/i.sh
  .azure-pipelines/commands/incidental/ios.sh
  .azure-pipelines/commands/incidental/network.sh
  .azure-pipelines/commands/incidental/vyos.sh
  .azure-pipelines/commands/incidental/windows.sh
  .azure-pipelines/commands/linux.sh
  .azure-pipelines/commands/macos.sh
  .azure-pipelines/commands/remote.sh
  .azure-pipelines/commands/rhel.sh
  .azure-pipelines/commands/sanity.sh
  .azure-pipelines/commands/ubuntu.sh
  .azure-pipelines/commands/units.sh
  .azure-pipelines/commands/windows.sh
  test/lib/ansible_test/_internal/classification/__init__.py
  test/sanity/code-smell/package-data.py
Labels: test, affects_2.15
