Repository ansible/ansible, pull requests merged in 2023-03, with the labels that each got.

#75267 unarchive - properly handle relative path for `dest`
  changelogs/fragments/64612-unarchive-relative-path-dest.yml
  lib/ansible/modules/unarchive.py
  test/integration/targets/unarchive/tasks/main.yml
  test/integration/targets/unarchive/tasks/test_relative_dest.yml
Labels: module, shipit, core_review, support:core, bug, affects_2.12

#75329 unarchive - log errors from underlying commands
  changelogs/fragments/64612-unarchive-log-command-output.yml
  lib/ansible/modules/unarchive.py
Labels: module, shipit, core_review, support:core, bug, affects_2.12

#80096 📦 Drop unnecessary wheel PEP 517 build dependency
  pyproject.toml
Labels: small_patch, affects_2.15

#80120 improve doc dependency install steps
  docs/docsite/rst/community/documentation_contributions.rst
Labels: docs, docsite, docs_only, affects_2.15

#80117 Fix typo docs in playbooks_tags.rst
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#80060 Encourage true/false for module documentation
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
Labels: docs, small_patch, docsite, has_issue, docs_only, affects_2.15

#80055 docs: fixed broken links for AWS guide and VMware REST guide
  docs/docsite/rst/community/contributing_maintained_collections.rst
Labels: docs, small_patch, docsite, docs_only, affects_2.15

#80092 Improve password lookup syntax in examples
  lib/ansible/plugins/lookup/password.py
Labels: docs, docs_only, affects_2.15

#80045 Fixing typos
  docs/docsite/rst/plugins/test.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guide_6.rst
  docs/docsite/rst/porting_guides/porting_guide_7.rst
Labels: stale_ci, new_contributor, docs, docs_only, affects_2.15

#80073 clarify playbook tests
  docs/docsite/rst/playbook_guide/playbooks_tests.rst
Labels: docs, small_patch, docs_only, affects_2.15

#80062 Docs: Add "changed" result to playbooks_conditionals.rst
  docs/docsite/rst/playbook_guide/playbooks_conditionals.rst
Labels: new_contributor, docs, small_patch, docs_only, affects_2.15

#80122 🐛 Make integration tests compatible w/ modern Git
  test/integration/targets/ansible-galaxy-collection-scm/tasks/setup_recursive_scm_dependency.yml
  test/integration/targets/ansible-galaxy/runme.sh
  test/integration/targets/git/tasks/depth.yml
  test/integration/targets/git/tasks/forcefully-fetch-tag.yml
  test/integration/targets/git/tasks/gpg-verification.yml
  test/integration/targets/git/tasks/localmods.yml
  test/integration/targets/git/tasks/main.yml
  test/integration/targets/git/tasks/missing_hostkey.yml
  test/integration/targets/git/tasks/missing_hostkey_acceptnew.yml
  test/integration/targets/git/tasks/reset-origin.yml
  test/integration/targets/git/tasks/setup-local-repos.yml
  test/integration/targets/git/tasks/setup.yml
  test/integration/targets/git/tasks/single-branch.yml
  test/integration/targets/git/tasks/specific-revision.yml
  test/integration/targets/git/vars/main.yml
Labels: affects_2.15

#79508 Add macOS 13 to CI and ansible-test
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/ansible-test-updated-platforms.yml
  test/integration/targets/lookup_url/aliases
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, affects_2.15

#80052 docs: automatic `always` tag in gather_facts
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
Labels: bug, docs, small_patch, docs_only, affects_2.15

#80134 Docs: docsite requirements path
  docs/docsite/rst/community/documentation_contributions.rst
Labels: needs_triage, docs, small_patch, docsite, docs_only, affects_2.15

#80127 Backportapalooza 03 02
  docs/docsite/rst/community/collection_contributors/collection_integration_updating.rst
  docs/docsite/rst/community/contributing_maintained_collections.rst
  docs/docsite/rst/community/other_tools_and_programs.rst
  docs/docsite/rst/dev_guide/developing_modules_documenting.rst
  docs/docsite/rst/dev_guide/developing_plugins.rst
  docs/docsite/rst/playbook_guide/complex_data_manipulation.rst
  docs/docsite/rst/playbook_guide/playbooks_checkmode.rst
  docs/docsite/rst/playbook_guide/playbooks_conditionals.rst
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
  docs/docsite/rst/playbook_guide/playbooks_tests.rst
  docs/docsite/rst/plugins/test.rst
  docs/docsite/rst/porting_guides/porting_guide_4.rst
  docs/docsite/rst/porting_guides/porting_guide_5.rst
  docs/docsite/rst/porting_guides/porting_guide_6.rst
  docs/docsite/rst/porting_guides/porting_guide_7.rst
  lib/ansible/modules/package_facts.py
  lib/ansible/plugins/filter/combine.yml
  lib/ansible/plugins/lookup/password.py
Labels: backport, module, needs_triage, docs, docsite, affects_2.14

#80059 ansible-inventory prevent duplicating host entries
  changelogs/fragments/ainv_limit_fix.yml
  lib/ansible/cli/inventory.py
  test/integration/targets/ansible-inventory/files/complex.ini
  test/integration/targets/ansible-inventory/filter_plugins/toml.py
  test/integration/targets/ansible-inventory/tasks/json_output.yml
  test/integration/targets/ansible-inventory/tasks/main.yml
  test/integration/targets/ansible-inventory/tasks/toml_output.yml
  test/integration/targets/ansible-inventory/tasks/yaml_output.yml
Labels: bug, affects_2.15

#79827 apt_repository, dont assume only missing apt-key will populate stderr
  changelogs/fragments/apt_repo_fix.yml
  lib/ansible/modules/apt_repository.py
Labels: module, inventory, bug, affects_2.15

#80145 🧪 Switch macOS 13.2 to 12.0 in CI
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/lookup_url/aliases
Labels: affects_2.15

#80147 Fix MANIFEST.in includes
  MANIFEST.in
  changelogs/fragments/fix-manifest.yml
  test/sanity/code-smell/package-data.py
Labels: test, bug, affects_2.15

#80148 [stable-2.14] Fix MANIFEST.in includes (#80147)
  MANIFEST.in
  changelogs/fragments/fix-manifest.yml
  test/sanity/code-smell/package-data.py
Labels: backport, test, bug, affects_2.14

#80149 [stable-2.13] Fix MANIFEST.in includes (#80147)
  MANIFEST.in
  changelogs/fragments/fix-manifest.yml
  test/sanity/code-smell/package-data.py
Labels: backport, test, bug, affects_2.13

#80150 [stable-2.12] Fix MANIFEST.in includes (#80147)
  MANIFEST.in
  changelogs/fragments/fix-manifest.yml
  test/sanity/code-smell/package-data.py
Labels: backport, test, bug, affects_2.12

#80151 ansible-test - Fix pylint error with old home dir
  changelogs/fragments/ansible-test-pylint-home.yml
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
Labels: test, bug, affects_2.15

#80155 ansible-test - Fix error with missing pylint home
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
Labels: test, bug, affects_2.15

#80137 Fix spelling and grammar in subelements filter doc
  lib/ansible/plugins/filter/subelements.yml
Labels: new_contributor, docs, small_patch, affects_2.15

#80153 [stable-2.13] ansible-test - Fix pylint error with old home dir (#80151)
  changelogs/fragments/ansible-test-pylint-home.yml
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
Labels: backport, test, bug, affects_2.13

#80154 [stable-2.12] ansible-test - Fix pylint error with old home dir (#80151)
  changelogs/fragments/ansible-test-pylint-home.yml
  test/lib/ansible_test/_internal/commands/sanity/pylint.py
Labels: backport, test, bug, affects_2.12

#80157 update paramiko_ssh unit tests load the connection with plugin loader
  test/units/plugins/connection/test_paramiko.py
Labels: needs_triage, affects_2.15

#80129 [backport-2.14] 📦 Integrate manpage builds into PEP 517 build backend
  packaging/pep517_backend/__init__.py
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
  test/integration/targets/canonical-pep517-self-packaging/aliases
  test/integration/targets/canonical-pep517-self-packaging/minimum-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/modernish-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/runme.sh
  test/integration/targets/canonical-pep517-self-packaging/runme_test.py
Labels: backport, affects_2.14

#80158 move test so it runs when the plugin is modified
  test/units/plugins/connection/test_paramiko_ssh.py
Labels: new_plugin, needs_triage, bug, affects_2.15

#80156 Revert "🧪 Switch macOS 13.2 to 12.0 in CI (#80145)"
  .azure-pipelines/azure-pipelines.yml
  test/integration/targets/lookup_url/aliases
Labels: affects_2.15

#80040 Raise an error on invalid FA.isa value
  changelogs/fragments/isa-value-check.yml
  lib/ansible/playbook/base.py
  lib/ansible/playbook/loop_control.py
  lib/ansible/playbook/role/metadata.py
  lib/ansible/playbook/task.py
  test/units/playbook/test_base.py
Labels: stale_ci, bug, affects_2.15

#80168 ansible-test - Remove pointless comparison
  changelogs/fragments/ansible-test-fix-pointless-comparison.yml
  test/lib/ansible_test/_internal/test.py
Labels: test, bug, affects_2.15

#80172 ansible-test - Update pylint requirements
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: test, feature, affects_2.15

#78624 copy - fix check mode with remote_src=True
  changelogs/fragments/78624-copy-remote-src-check-mode.yml
  lib/ansible/modules/copy.py
  test/integration/targets/copy/tasks/check_mode.yml
Labels: module, core_review, support:core, bug, affects_2.14

#80175 Update mypy to 1.1.1
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
  test/sanity/ignore.txt
Labels: test, affects_2.15

#80178 ansible-test - Update base and default container
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#80184 Docs: unvault.yml typo
  lib/ansible/plugins/filter/unvault.yml
Labels: new_contributor, docs, small_patch, affects_2.15

#80169 catch GalaxyError instead of its base class to ensure attr exists
  changelogs/fragments/a-g-role-fix-catching-exception.yml
  lib/ansible/cli/galaxy.py
Labels: bug, affects_2.15

#80166 Adjust release schedule docs to four weeks
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
Labels: docs, docs_only, affects_2.15

#80161 Updating Japanese translation
  docs/docsite/rst/locales/ja/LC_MESSAGES/404.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/cli.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/collections_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/command_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/community.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/dev_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/galaxy.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/getting_started.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/installation_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/inventory.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/inventory_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/network.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/os_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/playbook_guide.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/plugins.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/porting_guides.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/reference_appendices.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/roadmap.po
  docs/docsite/rst/locales/ja/LC_MESSAGES/scenario_guides.po
Labels: backport, needs_triage, docs, docs_only, affects_2.14

#80198 Replace deprecated BadZipfile with BadZipFile
  lib/ansible/modules/unarchive.py
Labels: module, needs_triage, bug, affects_2.15

#80202 ansible-test - Update git diff handling
  .azure-pipelines/commands/sanity.sh
  changelogs/fragments/ansible-test-git-handling.yml
  docs/docsite/rst/dev_guide/testing_sanity.rst
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: test, docs, feature, docsite, affects_2.15

#80203 [stable-2.14] ansible-test - Fix file permissions for delegation
  changelogs/fragments/ansible-test-payload-file-permissions.yml
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/payload.py
Labels: backport, test, bug, affects_2.14

#80204 [stable-2.13] ansible-test - Fix file permissions for delegation
  changelogs/fragments/ansible-test-payload-file-permissions.yml
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/payload.py
Labels: backport, test, bug, affects_2.13

#80205 [stable-2.12] ansible-test - Fix file permissions for delegation
  changelogs/fragments/ansible-test-payload-file-permissions.yml
  test/lib/ansible_test/_internal/commands/coverage/combine.py
  test/lib/ansible_test/_internal/commands/integration/__init__.py
  test/lib/ansible_test/_internal/commands/integration/cloud/__init__.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/core_ci.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/payload.py
Labels: backport, test, bug, affects_2.12

#80213 [stable-2.14] ansible-test - Allow target prefixes to use `_` (#80021)
  changelogs/fragments/ansible-test-integration-target-prefixes.yml
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/target-prefixes.something
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/one-part_test/aliases
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/two_part_test/aliases
  test/integration/targets/ansible-test-integration-targets/test.py
  test/lib/ansible_test/_internal/target.py
Labels: backport, test, bug, affects_2.14

#80216 [stable-2.14] ansible-test - Show Python version before install (#80022)
  changelogs/fragments/ansible-test-requirements-message.yml
  test/lib/ansible_test/_internal/python_requirements.py
Labels: backport, test, bug, affects_2.14

#80219 [stable-2.14] ansible-test - Fix vendoring support (#80074)
  changelogs/fragments/ansible-test-vendoring-support.yml
  test/integration/targets/ansible-test-vendoring/aliases
  test/integration/targets/ansible-test-vendoring/ansible_collections/ns/col/tests/config.yml
  test/integration/targets/ansible-test-vendoring/runme.sh
  test/lib/ansible_test/_internal/payload.py
  test/lib/ansible_test/_internal/util.py
Labels: backport, test, bug, affects_2.14

#80222 [stable-2.14] ansible-test - Remove pointless comparison (#80168)
  changelogs/fragments/ansible-test-fix-pointless-comparison.yml
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, bug, affects_2.14

#80225 [stable-2.14] Relocate the AZP entry point scripts (#80114)
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/commands/alpine.sh
  .azure-pipelines/commands/cloud.sh
  .azure-pipelines/commands/entry-point.sh
  .azure-pipelines/commands/fedora.sh
  .azure-pipelines/commands/freebsd.sh
  .azure-pipelines/commands/galaxy.sh
  .azure-pipelines/commands/generic.sh
  .azure-pipelines/commands/i.sh
  .azure-pipelines/commands/incidental/ios.sh
  .azure-pipelines/commands/incidental/network.sh
  .azure-pipelines/commands/incidental/vyos.sh
  .azure-pipelines/commands/incidental/windows.sh
  .azure-pipelines/commands/linux.sh
  .azure-pipelines/commands/macos.sh
  .azure-pipelines/commands/remote.sh
  .azure-pipelines/commands/rhel.sh
  .azure-pipelines/commands/sanity.sh
  .azure-pipelines/commands/ubuntu.sh
  .azure-pipelines/commands/units.sh
  .azure-pipelines/commands/windows.sh
  test/lib/ansible_test/_internal/classification/__init__.py
  test/sanity/code-smell/package-data.py
Labels: backport, test, affects_2.14

#80214 [stable-2.13] ansible-test - Allow target prefixes to use `_` (#80021)
  changelogs/fragments/ansible-test-integration-target-prefixes.yml
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/target-prefixes.something
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/one-part_test/aliases
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/two_part_test/aliases
  test/integration/targets/ansible-test-integration-targets/test.py
  test/lib/ansible_test/_internal/target.py
Labels: backport, test, bug, affects_2.13

#80217 [stable-2.13] ansible-test - Show Python version before install (#80022)
  changelogs/fragments/ansible-test-requirements-message.yml
  test/lib/ansible_test/_internal/python_requirements.py
Labels: backport, test, bug, affects_2.13

#80223 [stable-2.13] ansible-test - Remove pointless comparison (#80168)
  changelogs/fragments/ansible-test-fix-pointless-comparison.yml
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, bug, affects_2.13

#80226 [stable-2.13] Relocate the AZP entry point scripts (#80114)
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/commands/alpine.sh
  .azure-pipelines/commands/cloud.sh
  .azure-pipelines/commands/entry-point.sh
  .azure-pipelines/commands/fedora.sh
  .azure-pipelines/commands/freebsd.sh
  .azure-pipelines/commands/galaxy.sh
  .azure-pipelines/commands/generic.sh
  .azure-pipelines/commands/i.sh
  .azure-pipelines/commands/incidental/aws.sh
  .azure-pipelines/commands/incidental/cloud.sh
  .azure-pipelines/commands/incidental/freebsd.sh
  .azure-pipelines/commands/incidental/ios.sh
  .azure-pipelines/commands/incidental/linux.sh
  .azure-pipelines/commands/incidental/macos.sh
  .azure-pipelines/commands/incidental/network.sh
  .azure-pipelines/commands/incidental/remote.sh
  .azure-pipelines/commands/incidental/rhel.sh
  .azure-pipelines/commands/incidental/vyos.sh
  .azure-pipelines/commands/incidental/windows.sh
  .azure-pipelines/commands/linux.sh
  .azure-pipelines/commands/macos.sh
  .azure-pipelines/commands/remote.sh
  .azure-pipelines/commands/rhel.sh
  .azure-pipelines/commands/sanity.sh
  .azure-pipelines/commands/ubuntu.sh
  .azure-pipelines/commands/units.sh
  .azure-pipelines/commands/windows.sh
  test/lib/ansible_test/_internal/classification/__init__.py
  test/sanity/code-smell/package-data.py
Labels: backport, test, affects_2.13

#80215 [stable-2.12] ansible-test - Allow target prefixes to use `_` (#80021)
  changelogs/fragments/ansible-test-integration-target-prefixes.yml
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/target-prefixes.something
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/one-part_test/aliases
  test/integration/targets/ansible-test-integration-targets/ansible_collections/ns/col/tests/integration/targets/two_part_test/aliases
  test/integration/targets/ansible-test-integration-targets/test.py
  test/lib/ansible_test/_internal/target.py
Labels: backport, test, bug, affects_2.12

#80218 [stable-2.12] ansible-test - Show Python version before install (#80022)
  changelogs/fragments/ansible-test-requirements-message.yml
  test/lib/ansible_test/_internal/python_requirements.py
Labels: backport, test, bug, affects_2.12

#80221 [stable-2.12] ansible-test - Fix vendoring support (#80074)
  changelogs/fragments/ansible-test-vendoring-support.yml
  test/integration/targets/ansible-test-vendoring/aliases
  test/integration/targets/ansible-test-vendoring/ansible_collections/ns/col/tests/config.yml
  test/integration/targets/ansible-test-vendoring/runme.sh
  test/lib/ansible_test/_internal/payload.py
  test/lib/ansible_test/_internal/util.py
Labels: backport, test, bug, affects_2.12

#80224 [stable-2.12] ansible-test - Remove pointless comparison (#80168)
  changelogs/fragments/ansible-test-fix-pointless-comparison.yml
  test/lib/ansible_test/_internal/test.py
Labels: backport, test, bug, affects_2.12

#80227 [stable-2.12] Relocate the AZP entry point scripts (#80114)
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/commands/alpine.sh
  .azure-pipelines/commands/cloud.sh
  .azure-pipelines/commands/entry-point.sh
  .azure-pipelines/commands/fedora.sh
  .azure-pipelines/commands/freebsd.sh
  .azure-pipelines/commands/galaxy.sh
  .azure-pipelines/commands/generic.sh
  .azure-pipelines/commands/i.sh
  .azure-pipelines/commands/incidental/aws.sh
  .azure-pipelines/commands/incidental/cloud.sh
  .azure-pipelines/commands/incidental/freebsd.sh
  .azure-pipelines/commands/incidental/ios.sh
  .azure-pipelines/commands/incidental/linux.sh
  .azure-pipelines/commands/incidental/macos.sh
  .azure-pipelines/commands/incidental/network.sh
  .azure-pipelines/commands/incidental/remote.sh
  .azure-pipelines/commands/incidental/rhel.sh
  .azure-pipelines/commands/incidental/vyos.sh
  .azure-pipelines/commands/incidental/windows.sh
  .azure-pipelines/commands/linux.sh
  .azure-pipelines/commands/macos.sh
  .azure-pipelines/commands/remote.sh
  .azure-pipelines/commands/rhel.sh
  .azure-pipelines/commands/sanity.sh
  .azure-pipelines/commands/ubuntu.sh
  .azure-pipelines/commands/units.sh
  .azure-pipelines/commands/windows.sh
  test/lib/ansible_test/_internal/classification/__init__.py
  test/sanity/code-smell/package-data.py
Labels: backport, test, affects_2.12

#80235 [stable-2.14] ansible-test - Update git diff handling (#80202)
  .azure-pipelines/commands/sanity.sh
  changelogs/fragments/ansible-test-git-handling.yml
  docs/docsite/rst/dev_guide/testing_sanity.rst
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: backport, test, docs, feature, docsite, affects_2.14

#80236 [stable-2.13] ansible-test - Update git diff handling (#80202)
  .azure-pipelines/commands/sanity.sh
  changelogs/fragments/ansible-test-git-handling.yml
  docs/docsite/rst/dev_guide/testing_sanity.rst
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: backport, test, docs, feature, docsite, affects_2.13

#80238 [stable-2.12] ansible-test - Update git diff handling (#80202)
  .azure-pipelines/commands/sanity.sh
  changelogs/fragments/ansible-test-git-handling.yml
  docs/docsite/rst/dev_guide/testing_sanity.rst
  test/lib/ansible_test/_internal/ci/__init__.py
  test/lib/ansible_test/_internal/ci/azp.py
  test/lib/ansible_test/_internal/ci/local.py
  test/lib/ansible_test/_internal/cli/commands/sanity.py
  test/lib/ansible_test/_internal/commands/sanity/__init__.py
  test/lib/ansible_test/_internal/commands/sanity/validate_modules.py
  test/lib/ansible_test/_internal/config.py
  test/lib/ansible_test/_internal/data.py
  test/lib/ansible_test/_internal/delegation.py
  test/lib/ansible_test/_internal/metadata.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: backport, test, docs, feature, docsite, affects_2.12

#80237 [backport-2.14] 🎨 Convert RST to manpage in-memory @ PEP 517
  packaging/pep517_backend/_backend.py
Labels: backport, affects_2.14

#80195 fix typo in plugin_docs.py
  lib/ansible/parsing/plugin_docs.py
Labels: needs_triage, bug, small_patch, affects_2.15

#80241 corrected class documentation
  lib/ansible/module_utils/urls.py
Labels: new_contributor, docs, small_patch, affects_2.15

#80239 Document debugging conditionals
  docs/docsite/rst/playbook_guide/playbooks_conditionals.rst
Labels: docs, docs_only, affects_2.15

#80194 Update connection.rst
  docs/docsite/rst/plugins/connection.rst
Labels: needs_triage, new_contributor, docs, small_patch, docs_only, affects_2.15

#80211 uri: improve force_basic_auth documentation
  lib/ansible/modules/uri.py
Labels: module, docs, docs_only, affects_2.15

#80210 Allow linking to a specific variable on the "Special Variables" page
  docs/docsite/rst/reference_appendices/special_variables.rst
Labels: new_contributor, docs, docs_only, affects_2.15

#80246 Backportapalooza 03 16
  docs/docsite/rst/community/documentation_contributions.rst
  docs/docsite/rst/playbook_guide/playbooks_conditionals.rst
  docs/docsite/rst/playbook_guide/playbooks_tags.rst
  docs/docsite/rst/plugins/connection.rst
  docs/docsite/rst/reference_appendices/release_and_maintenance.rst
  lib/ansible/plugins/filter/subelements.yml
  lib/ansible/plugins/filter/unvault.yml
Labels: backport, needs_triage, docs, docsite, affects_2.14

#80076 2.14: Use FAs with inheritance only when applicable (#80026)
  changelogs/fragments/79777-fix-inheritance-roles-meta.yml
  lib/ansible/playbook/attribute.py
  lib/ansible/playbook/handler.py
  lib/ansible/playbook/loop_control.py
  lib/ansible/playbook/play.py
  lib/ansible/playbook/playbook_include.py
  lib/ansible/playbook/role/definition.py
  lib/ansible/playbook/role/metadata.py
  lib/ansible/playbook/role_include.py
  lib/ansible/playbook/task.py
  test/integration/targets/keyword_inheritance/dep_keyword_inheritance.yml
  test/integration/targets/keyword_inheritance/roles/role-meta-inheritance/meta/main.yml
  test/integration/targets/keyword_inheritance/runme.sh
Labels: backport, needs_triage, bug, affects_2.14

#80253 Make isolated source changes @ PEP 517 backend
  packaging/pep517_backend/_backend.py
Labels: affects_2.15

#80255 📦 Switch sdist `build-system` to pure setuptools
  packaging/pep517_backend/_backend.py
  test/integration/targets/canonical-pep517-self-packaging/runme_test.py
Labels: affects_2.15

#80260 [stable-2.14] Make isolated source changes @ PEP 517 backend (#80253)
  packaging/pep517_backend/_backend.py
Labels: backport, feature, affects_2.14

#80262 Make PEP 517 mutation tests use pinned old setuptools
  test/integration/targets/canonical-pep517-self-packaging/runme_test.py
Labels: needs_triage, affects_2.15

#80201 docsite: bump antsibull-docs version to 1.10.0 to support semantic markup
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, shipit, feature, has_issue, affects_2.15

#80242 ansible-doc: add semantic markup support
  changelogs/fragments/80242-ansible-doc-semantic-markup.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/modules/randommodule.py
  test/integration/targets/ansible-doc/randommodule-text.output
  test/integration/targets/ansible-doc/randommodule.output
Labels: feature, affects_2.15

#80261 [stable-2.14] 📦 Switch sdist build-system to pure setuptools (#80255)
  packaging/pep517_backend/_backend.py
  test/integration/targets/canonical-pep517-self-packaging/runme_test.py
Labels: backport, feature, affects_2.14

#80265 New release v2.14.4rc1
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.14.4rc1_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, feature, affects_2.14

#80234 Move Collection requirements to ansible/ansible
  docs/docsite/rst/community/collection_contributors/collection_requirements.rst
  docs/docsite/rst/community/collection_contributors/collection_reviewing.rst
  docs/docsite/rst/community/collection_contributors/collection_unit_tests.rst
  docs/docsite/rst/community/contributions_collections.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/maintainers_workflow.rst
  docs/docsite/rst/community/steering/community_steering_committee.rst
  docs/docsite/sphinx_conf/core_conf.py
  docs/docsite/sphinx_conf/core_lang_conf.py
Labels: docs, docsite, docs_only, affects_2.15

#80266 Update Ansible release version to v2.14.4rc1.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, feature, small_patch, affects_2.14

#80180 ansible-galaxy collection install retry improvements
  changelogs/fragments/galaxy-improve-retries.yml
  lib/ansible/cli/galaxy.py
  lib/ansible/galaxy/api.py
  lib/ansible/galaxy/collection/concrete_artifact_manager.py
  lib/ansible/module_utils/api.py
Labels: bug, affects_2.15

#80115 Remove test related targets from Makefile
  Makefile
Labels: stale_ci, affects_2.15

#80279 ansible-test - Update sanity test requirements
  test/lib/ansible_test/_data/requirements/sanity.changelog.txt
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
  test/lib/ansible_test/_data/requirements/sanity.yamllint.txt
  test/sanity/code-smell/package-data.requirements.txt
  test/sanity/code-smell/rstcheck.requirements.txt
Labels: test, feature, affects_2.15

#80278 ansible-test - Update CloudStack test container
  changelogs/fragments/ansible-test-cloudstack-plugin.yml
  test/lib/ansible_test/_internal/commands/integration/cloud/cs.py
Labels: test, shipit, feature, small_patch, affects_2.15

#80244 validate-modules: support plugin see-also
  changelogs/fragments/80244-validate-modules-seealso.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/sidecar.yaml
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: test, feature, has_issue, affects_2.15

#80090 validate-modules: check_mode attribute and compare with supports_check_mode parameter
  changelogs/fragments/80090-validate-modules-check_mode-attribute.yml
  docs/docsite/rst/dev_guide/testing/sanity/validate-modules.rst
  lib/ansible/modules/wait_for.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_1.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_2.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_3.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_4.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_5.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_6.py
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/check_mode_attribute_7.py
  test/integration/targets/ansible-test-sanity-validate-modules/expected.txt
  test/integration/targets/ansible-test-sanity-validate-modules/runme.sh
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
Labels: new_plugin, test, module, docs, docsite, affects_2.15

#80280 ansible-doc: fix broken seealso links in text output
  changelogs/fragments/80280-ansible-doc-seealso-urls.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/modules/randommodule.py
  test/integration/targets/ansible-doc/randommodule-text.output
  test/integration/targets/ansible-doc/randommodule.output
  test/integration/targets/ansible-doc/runme.sh
Labels: bug, affects_2.15

#80171 Do not double calculate loops and `delegate_to`
  changelogs/fragments/no-double-loop-delegate-to-calc.yml
  lib/ansible/executor/process/worker.py
  lib/ansible/executor/task_executor.py
  lib/ansible/playbook/delegatable.py
  lib/ansible/playbook/task.py
  lib/ansible/vars/manager.py
  test/integration/targets/delegate_to/runme.sh
  test/integration/targets/delegate_to/test_random_delegate_to_with_loop.yml
  test/integration/targets/delegate_to/test_random_delegate_to_without_loop.yml
  test/units/executor/test_task_executor.py
Labels: bug, affects_2.15

#80277 Don't double loop, ensuring that machine formats don't dupe collections onto all paths
  lib/ansible/cli/galaxy.py
  test/integration/targets/ansible-galaxy-collection/tasks/list.yml
Labels: bug, small_patch, affects_2.15

#80284 Fix url lookup test to use test container
  test/integration/targets/lookup_url/tasks/main.yml
Labels: needs_triage, affects_2.15

#80290 [stable-2.9] Fix url lookup test to use test container (#80284).
  test/integration/targets/lookups/tasks/main.yml
Labels: backport, affects_2.9

#80287 [stable-2.14] Fix url lookup test to use test container (#80284)
  test/integration/targets/lookup_url/tasks/main.yml
Labels: backport, affects_2.14

#80212 ansible-doc: add support for plugin field in seealso
  changelogs/fragments/80212-ansible-doc-seealso.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/test/yolo.yml
  test/integration/targets/ansible-doc/runme.sh
  test/integration/targets/ansible-doc/yolo-text.output
  test/integration/targets/ansible-doc/yolo.output
Labels: needs_revision, feature, has_issue, affects_2.15

#80196 ansible-galaxy - support `resolvelib >= 0.5.3, < 1.1.0`
  changelogs/fragments/80196-resolvelib_lt_1_1_0.yml
  lib/ansible/galaxy/dependency_resolution/providers.py
  requirements.txt
  test/integration/targets/ansible-galaxy-collection/vars/main.yml
  test/lib/ansible_test/_data/requirements/ansible.txt
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
Labels: test, shipit, feature, affects_2.15

#80251 password lookup, handle ident properly when saved
  lib/ansible/plugins/lookup/password.py
  lib/ansible/utils/encrypt.py
  test/units/plugins/lookup/test_password.py
Labels: bug, affects_2.15

#80313 New release v2.14.4
  changelogs/CHANGELOG-v2.14.rst
  changelogs/changelog.yaml
  changelogs/fragments/2.14.4_summary.yaml
  lib/ansible/release.py
Labels: backport, needs_triage, feature, affects_2.14

#80054 Improve dirname and basename filter doc
  lib/ansible/plugins/filter/basename.yml
  lib/ansible/plugins/filter/dirname.yml
Labels: docs, affects_2.15

#80314 Update Ansible release version to v2.14.4.post0.
  lib/ansible/release.py
Labels: backport, needs_triage, feature, small_patch, affects_2.14

#80179 New upstream release tool
  packaging/release.py
Labels: feature, affects_2.15

#80316 [stable-2.14] Use variable instead of container resource in AZP (#80299)
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/test.yml
Labels: backport, affects_2.14

#80317 [stable-2.13] Use variable instead of container resource in AZP (#80299)
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/test.yml
Labels: backport, affects_2.13

#80318 [stable-2.12] Use variable instead of container resource in AZP (#80299)
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/test.yml
Labels: backport, affects_2.12

#80319 ansible-test - Remove macos/12.0 remote
  changelogs/fragments/ansible-test-removed-old-platforms.yml
  test/lib/ansible_test/_data/completion/remote.txt
Labels: test, feature, small_patch, affects_2.15

#80322 [stable-2.13] New upstream release tool (#80179)
  packaging/release.py
Labels: backport, feature, affects_2.13

#80323 [stable-2.12] New upstream release tool (#80179)
  packaging/release.py
Labels: backport, feature, affects_2.12

#80295 ansible-doc tests: fix URL processing
  test/integration/targets/ansible-doc/fix-urls.py
  test/integration/targets/ansible-doc/randommodule-text.output
  test/integration/targets/ansible-doc/runme.sh
  test/integration/targets/ansible-doc/yolo-text.output
Labels: needs_triage, affects_2.15

#80326 Bump antsibull-docs version in docs-build sanity test
  test/sanity/code-smell/docs-build.requirements.in
  test/sanity/code-smell/docs-build.requirements.txt
Labels: test, affects_2.15

#80328 Improve Ansible.Basic.cs tempdir uniqueness
  changelogs/fragments/ansible-basic-tmpdir-uniqueness.yml
  lib/ansible/module_utils/csharp/Ansible.Basic.cs
Labels: windows, needs_triage, bug, affects_2.15

#80263 "Ansible Lint" IntelliJ plugin added
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: new_contributor, docs, docsite, docs_only, affects_2.15

#80336 missing changelog
  changelogs/fragments/password_lookup_file_fix.yml
Labels: owner_pr, needs_triage, bug, affects_2.15

#80286 [2.13] ansible-doc: fix broken seealso links in text output
  changelogs/fragments/80280-ansible-doc-seealso-urls.yml
  lib/ansible/cli/doc.py
  test/integration/targets/ansible-doc/collections/ansible_collections/testns/testcol/plugins/modules/randommodule.py
  test/integration/targets/ansible-doc/fix-urls.py
  test/integration/targets/ansible-doc/randommodule-text.output
  test/integration/targets/ansible-doc/randommodule.output
  test/integration/targets/ansible-doc/runme.sh
Labels: backport, bug, affects_2.13

#80339 Add work-around for old AZP jobs
  hacking/azp/get_recent_coverage_runs.py
Labels: affects_2.15

#80018 New deb822_repository module
  changelogs/fragments/deb822-repository.yml
  lib/ansible/modules/deb822_repository.py
  test/integration/targets/deb822_repository/aliases
  test/integration/targets/deb822_repository/meta/main.yml
  test/integration/targets/deb822_repository/tasks/install.yml
  test/integration/targets/deb822_repository/tasks/main.yml
  test/integration/targets/deb822_repository/tasks/test.yml
  test/integration/targets/setup_deb_repo/tasks/main.yml
Labels: new_plugin, new_module, module, feature, has_issue, affects_2.15

#80342 Remove obsolete integration test aliases
  docs/docsite/rst/dev_guide/testing/sanity/integration-aliases.rst
  test/integration/targets/ansible-runner/aliases
  test/integration/targets/apt/aliases
  test/integration/targets/apt_key/aliases
  test/integration/targets/apt_repository/aliases
  test/integration/targets/connection_delegation/aliases
  test/integration/targets/cron/aliases
  test/integration/targets/dnf/aliases
  test/integration/targets/dpkg_selections/aliases
  test/integration/targets/facts_linux_network/aliases
  test/integration/targets/iptables/aliases
  test/integration/targets/module_no_log/aliases
  test/integration/targets/old_style_cache_plugins/aliases
  test/integration/targets/package_facts/aliases
  test/integration/targets/service/aliases
  test/integration/targets/service_facts/aliases
  test/integration/targets/subversion/aliases
  test/integration/targets/unsafe_writes/aliases
  test/integration/targets/yum/aliases
Labels: docs, small_patch, docsite, affects_2.15

#80343 Use `skip/macos` instead of `skip/macos/13.2`
  test/integration/targets/lookup_url/aliases
Labels: affects_2.15

#80344 Update package-data sanity test
  test/sanity/code-smell/package-data.py
  test/sanity/code-smell/package-data.requirements.in
  test/sanity/code-smell/package-data.requirements.txt
Labels: test, affects_2.15

#80345 Use a dedicated version helper for the docs build
  docs/docsite/Makefile
  docs/docsite/version_helper.py
Labels: docs, docs_only, affects_2.15

#80346 Remove obsolete MANIFEST.in entries
  MANIFEST.in
Labels: bug, small_patch, affects_2.15

#80130 [backport-2.13] 📦 Integrate manpage builds into PEP 517 build backend
  packaging/pep517_backend/__init__.py
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
  test/integration/targets/canonical-pep517-self-packaging/aliases
  test/integration/targets/canonical-pep517-self-packaging/minimum-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/modernish-build-constraints.txt
  test/integration/targets/canonical-pep517-self-packaging/runme.sh
  test/integration/targets/canonical-pep517-self-packaging/runme_test.py
Labels: backport, affects_2.13

#80340 Add antsibull-changelog and antsibull-docs to other tools and programs page
  docs/docsite/rst/community/other_tools_and_programs.rst
Labels: docs, small_patch, docsite, has_issue, docs_only, affects_2.15

#80347 Remove obsolete release bits
  MANIFEST.in
  Makefile
  packaging/release/Makefile
  packaging/release/tests/__init__.py
  packaging/release/tests/version_helper_test.py
  packaging/release/versionhelper/__init__.py
  packaging/release/versionhelper/version_helper.py
  packaging/sdist/check-link-behavior.py
Labels: feature, affects_2.15

#80354 ansible-test - Update sanity test requirements
  test/lib/ansible_test/_data/requirements/sanity.mypy.txt
  test/lib/ansible_test/_data/requirements/sanity.pylint.txt
Labels: test, feature, affects_2.15

#80350 Backportapalooza 03 29
  docs/docsite/rst/community/collection_contributors/collection_requirements.rst
  docs/docsite/rst/community/collection_contributors/collection_reviewing.rst
  docs/docsite/rst/community/collection_contributors/collection_unit_tests.rst
  docs/docsite/rst/community/contributions_collections.rst
  docs/docsite/rst/community/maintainers_guidelines.rst
  docs/docsite/rst/community/maintainers_workflow.rst
  docs/docsite/rst/community/other_tools_and_programs.rst
  docs/docsite/rst/community/steering/community_steering_committee.rst
  docs/docsite/rst/porting_guides/porting_guide_7.rst
  docs/docsite/rst/reference_appendices/special_variables.rst
  docs/docsite/sphinx_conf/core_conf.py
  docs/docsite/sphinx_conf/core_lang_conf.py
  lib/ansible/modules/uri.py
  lib/ansible/plugins/filter/basename.yml
  lib/ansible/plugins/filter/dirname.yml
Labels: backport, module, needs_triage, docs, docsite, affects_2.14

#80355 ansible-test - Update base and default container
  test/lib/ansible_test/_data/completion/docker.txt
Labels: test, feature, affects_2.15

#80357 [stable-2.13] Fix `entry_points` integration test for PEP 517
  test/integration/targets/entry_points/runme.sh
Labels: backport, needs_triage, bug, affects_2.13

#80360 ansible-test - Fix packaging change classification
  test/integration/targets/canonical-pep517-self-packaging/aliases
  test/integration/targets/entry_points/aliases
  test/lib/ansible_test/_internal/classification/__init__.py
Labels: test, affects_2.15

#80361 [stable-2.14] ansible-test - Fix packaging change classification
  test/integration/targets/canonical-pep517-self-packaging/aliases
  test/integration/targets/entry_points/aliases
  test/lib/ansible_test/_internal/classification/__init__.py
Labels: backport, test, affects_2.14

#80362 [stable-2.13] ansible-test - Fix packaging change classification
  test/integration/targets/canonical-pep517-self-packaging/aliases
  test/integration/targets/entry_points/aliases
  test/lib/ansible_test/_internal/classification/__init__.py
Labels: backport, test, affects_2.13

#80359 🐛📝 Undouble trailing colon @ `faq.rst`
  docs/docsite/rst/reference_appendices/faq.rst
Labels: docs, small_patch, docs_only, affects_2.15

#80320 fix using templated values for include/import role FA
  changelogs/fragments/fix-templating-private-role-FA.yml
  lib/ansible/playbook/helpers.py
  lib/ansible/playbook/included_file.py
  lib/ansible/playbook/role_include.py
  test/integration/targets/include_import/roles/role_with_argspec/meta/argument_specs.yml
  test/integration/targets/include_import/roles/role_with_argspec/tasks/main.yml
  test/integration/targets/include_import/runme.sh
  test/integration/targets/include_import/tasks/test_templating_IncludeRole_FA.yml
Labels: bug, affects_2.15

#80051 strategy plugins: get the correctly templated and validated run_once value
  changelogs/fragments/78492-fix-invalid-run_once-value.yml
  lib/ansible/plugins/strategy/linear.py
  test/integration/targets/strategy_linear/runme.sh
  test/integration/targets/strategy_linear/task_templated_run_once.yml
Labels: new_contributor, bug, needs_verified, affects_2.15

#80309 list all tags (including never) when listing tags
  changelogs/fragments/listalltags.yml
  lib/ansible/cli/playbook.py
Labels: bug, affects_2.15

#80377 Use --no-isolation for package-data sanity test
  test/sanity/code-smell/package-data.py
Labels: test, affects_2.15

#80243 validate-modules: add support for semantic markup
  changelogs/fragments/80243-validate-modules.yml
  test/integration/targets/ansible-test-sanity-validate-modules/ansible_collections/ns/col/plugins/modules/semantic_markup.py
  test/integration/targets/ansible-test-sanity-validate-modules/expected.txt
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/main.py
  test/lib/ansible_test/_util/controller/sanity/validate-modules/validate_modules/schema.py
Labels: new_plugin, test, WIP, stale_ci, feature, has_issue, affects_2.15
